[2020-10-23 00:50] roryhewitt commented on #917
@raghuramakrishnan71 can you please send me your email address at rory.hewitt@gmail.com?

[2020-10-23 06:22] christianliebel commented on #912
@tomayac @logicalphase The chapter itself is now also reviewable: https://github.com/christianliebel/web-almanac-2020-capabilities

@obto Thanks for the heads up. I'd indeed try to finish the article by November 9 and would be more than happy to be part of the Early Access launch.

[2020-10-23 15:39] bkardell commented on #899
I also added some comments - interesting stuff :)

[2020-10-23 16:06] rviscomi commented on #899
Thanks @bkardell! It's great to see reviews by previous authors :)

Can you also add yourself to the [contributors](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/config/2020.json) file? I've updated the metadata at the top of this issue to add you to the list of reviewers.

[2020-10-23 16:33] alexdenning commented on #915
@obto I did miss that, thanks for highlighting!

I think this is nearly done. I just have one chart which needs sorting (Rick is helping), and then we're good to go.

[2020-10-23 18:05] rviscomi opened #1381 "Make 2020 the default year"
Right now, traffic to almanac.httparchive.org (no file path) is redirected to the 2019 landing page.

Let's redirect that traffic to the 2020 landing page to make readers aware that 2020 is on the way and start generating interest/anticipation. We don't need to promote the exact release date yet, because we'll make a big announcement when it's ready.

This should be a simple config change to the s

[2020-10-23 18:17] bazzadp commented on #1381
Changing the default is really easy as you say but the page is a bit short at the moment in my opinion. It really is a place holder.

I had planned to add some quotes about the 2019 edition and the rest of the home page content but never got round to it. It’s a long weekend here this weekend so should have some time, so let me have a look at that before we make this change.

Also, while we’re alwa

[2020-10-23 18:35] rviscomi commented on #1381
Good point about not needing new contributors. Would those content changes require retranslation or is it ok for some languages to be out of sync?

[2020-10-23 19:03] bazzadp commented on #1381
They can be out of sync.

Depends what I come up with. I think a “Read 2019 Edition” could be auto translated with Google Translate at least for an initial stab at it, and the Contributors section could come straight from 2019 and Methodology would only require small tweaks so might be able to figure out myself with a bit of Google Translate.

If we add a Quotes section that would require an actua

[2020-10-24 14:08] hemanth commented on #909
Yes @obto

That's great news, sorry was AFK for couple of days.

Will restart pawing at this and eager to see this go live too!

[2020-10-24 19:37] mo271 commented on #916
@smatei are you making progress on the chapter's analysis? Do we need help here from @HTTPArchive/analysts ?

[2020-10-24 22:20] rviscomi opened #1385 "Create 2020 chapter discussion threads"
Create placeholder threads on discuss.httparchive.org for readers to comment on the 2020 chapters.

[2020-10-24 22:25] rviscomi opened #1386 "Overflow of the language picker divider"
![image](https://user-images.githubusercontent.com/1120896/97094764-eebe9300-1625-11eb-8b85-aa437ad35d87.png)

The divider in the language picker appears to be exceeding the width of the select button, even though the options may be wider than the button itself.

This seems to be an edge case when content is only available in English, which would only affect the 2020 chapters.

[2020-10-25 06:44] bazzadp commented on #1386
I wonder if we should just remove this dotted line? We don't use it in other places - for example when a future year version of a page doesn't exist we offer that years home page, but don't separate this with a dotted line:

![image](https://user-images.githubusercontent.com/10931297/97100625-417f6580-168d-11eb-92bd-2b25b764ff5b.png)

So either should remove the dotted line completely, or if we ca

[2020-10-25 11:20] dotjs commented on #921
Yes saw the note. Just had a very busy week or so so the extra time is useful. Will continue with the analysis and draft.

[2020-10-25 13:45] bazzadp commented on #921
Hi all

In [a previous comment above](https://github.com/HTTPArchive/almanac.httparchive.org/issues/921#issuecomment-703267808), I'd commented on the fact that 4% of requests did not list the protocol . I'd mentioned that I'd identified one reason and [submitted a fix to WebPageTest](https://github.com/WPO-Foundation/webpagetest/pull/1392) and the results would be available after the October crawl

[2020-10-25 17:02] bazzadp opened #1387 "Allow auto deployment of test versions to App Engine"
It can be handy to build a test deployment for a branch as easier to review the pull request once you see something in action. We've used this a few times and it's quite handy - especially for those without the full dev environment set up or less technical in nature.

This will be especially useful as chapters start to be submitted by authors now.

Thoughts:
- Auto-deploy on opening a pull request

[2020-10-25 17:07] j9t commented on #899
(The last two days brought more updates, and pretty much all content is in now, but I’ll give another update tomorrow to share more and call for another review.)

[2020-10-25 17:21] rviscomi commented on #1387
A different heuristic that could be useful may be "did any of the prod files change as a result of building the PR?" For sql the answer would be no, so nothing to deploy/stage.

[2020-10-25 19:02] DavidSchinazi commented on #921
That's not quite right. Chrome rolled out `h3-Q050` in June 2020. In [October 2020](https://blog.chromium.org/2020/10/chrome-is-deploying-http3-and-ietf-quic.html), Chrome rolled out `h3-29` in addition to `h3-Q050`. In other words:
- from June 2019 to June 2020: Chrome used `http/2+quic/46` (that version is sometimes also referred to as `h3-Q046`)
- from June 2020 to October 2020: Chrome used `h3

[2020-10-25 19:56] bazzadp commented on #921
Ah sorry you’re right - difficult to keep up with all these version numbers! Then maybe the difference might be just due to the difference (and extra) sites mobile crawls? We crawled 16% more mobile sites than Desktop in October, and some of them are different, so that might explain it (e.g. if desktop sites are more corporate sites with less Google Analytics and Google AdWords... etc). Anyway I’m

[2020-10-25 20:45] DavidSchinazi commented on #921
That's definitely odd. Please do file a bug at https://crbug.com ideally with repro steps (such as an example URL that's causing issues) if possible

[2020-10-25 22:02] dotjs commented on #921
@bazzadp . I took a look at the third parties chapter and I think there is some interesting info if we join against the third_parties table
`` third_party AS (
  SELECT
    category,
    domain
  FROM
    `httparchive.almanac.third_parties`
  WHERE
    date = '2020-08-01'
)``
I started to dig into the distributions of 1st vs 3rd party by protocol and category but as I am no longer an analyst it's

[2020-10-25 22:10] bazzadp commented on #921
@dotjs do you have the query you want to run to hand? Or didn't get that far?

[2020-10-25 23:33] rviscomi commented on #1385
Discussion threads for all chapters have been created at https://discuss.httparchive.org/c/web-almanac/web-almanac-2020/15

The thread ID for each chapter can be calculated as `chapterNumber + 2036`. So for example, the CSS chapter is Chapter 1, so its ID would be 2037. The URL for the CSS chapter discussion thread would then be https://discuss.httparchive.org/t/2037. The thread ID for Chapter 2 w

[2020-10-25 23:33] #1385 closed

[2020-10-26 01:30] bazzadp commented on #1387
As discussed on slack, closing this until Github gives us better ways to restrict access to secrets to certain branches or users.

[2020-10-26 01:30] #1387 closed

[2020-10-26 08:56] PraveenPal4232 commented on #923
Hi @bazzadp, I can help with Hindi translation :)

[2020-10-26 09:02] bazzadp commented on #923
That would be cool! Sent you an invite to the GitHub team and will open an issue to track this once you accept that.

[2020-10-26 14:58] gregorywolf commented on #921
@dotjs Please provide some more detail about what your looking to see and I will get the query run and post the results

[2020-10-26 17:00] bazzadp commented on #921
@dotjs , after our discussion on slack, I stole some queries and adjusted them to include the % of protocol of HTTP/2 and QUIC and came up with the following two metrics: https://docs.google.com/spreadsheets/d/1op_UrJGo7CGRXWy5iK7-aQ1lHALEm4_8gkXM2huyvL0/edit?usp=sharing

Let me know if that's along the lines of what you are thinking and, if so, can work with @gregorywolf to add these queries to t

[2020-10-26 18:04] j9t commented on #899
🚨 After all the updates over the last few days (incorporating review feedback, general editing, adding the last missing sections, updating graphics) I’d like to call another and possibly final review round for [the doc](https://docs.google.com/document/d/1m1YvDqWgZfqmcmAEkCnXncIJwsM1QCu6Rv7aPWjG1Ms/edit#):

* Could everyone please give the doc another read?
* @catalinred, @iandevlin, could we toge

[2020-10-26 18:48] rviscomi commented on #899
Kudos to the team for doing a phenomenal job with this chapter. Keep up the momentum!

Yes, once the draft is finalized, it will be converted to markdown and submitted as a PR to the linked directory. There aren't any 2020 chapters checked in yet, so it 404s. Here's the 2019 chapter for reference: https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/content/en/2019/markup.md

The [

[2020-10-26 20:33] bazzadp commented on #899
Good progress all!

A few admin things and the like that should be in the markdown pull request, as seen other chapters make some mistakes here which required correcting so thought I’d give you the heads up on these:
- Please include the meta data at the top. See [last years chapter as an example](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/content/en/2019/markup

[2020-10-28 01:23] thefoxis commented on #905
@obto thank you for letting me know! I didn't see it. I doubt I can do this by Nov 9, I've been sick for the past week and still I am not well (fortunately, it's not covid 🤪 ) so it delays my ability to write a bit. that being said, I shouldn't need a lot of time to produce a draft, I'll post here once it's ready 👍

[2020-10-28 02:49] rviscomi commented on #905
Sounds great, hope you feel better!

[2020-10-28 10:58] sideshowbarker commented on #899
### 79% of documents checked with the W3C HTML checker (validator) have errors
Earlier today I added a counter to https://validator.w3.org/nu/stats.html that collects data on how many documents checked by the W3C HTML checker have errors. See the **Conformance: Documents with errors** row.

So far it looks like about 79% of the documents it sees have errors — and so about 21% have zero errors.

[2020-10-28 11:10] catalinred commented on #899
That’s some impressive stats @sideshowbarker, thanks for sharing this!

[2020-10-28 14:22] max-ostapenko commented on #905
@thefoxis get well soon!
We are looking forward to receiving your feedback again.

[2020-10-28 16:08] j9t commented on #899
…! I felt free to add a reference in our conclusion (and to perhaps point to this elsewhere)—thanks for sharing @sideshowbarker!

[2020-10-28 16:42] j9t opened #1390 "Investigate using EPUB for ebooks"
The [2019 ebook](https://play.google.com/store/books/details?id=EAr5DwAAQBAJ&pcampaignid=books_web_aboutlink) refers to and depends on links, but none seem to be present at least in the version on Google Play Books.

Screenshots attached for both mobile and desktop. I haven’t checked the whole books but so far, nothing seems accessible. (This doesn’t seem intended—if it was, please consider links

[2020-10-28 16:42] bazzadp commented on #899
They are interesting stats alright, but I do have some concerns about including them.

These are tests run through the W3C Validator so could be at any point in the development cycle, whereas the rest of our stats are on published websites. Presumably on the 56% of GET-based requests are actual websites, and even then they could be development sites?

Surely it is a good thing that developers are

[2020-10-28 16:44] j9t opened #1391 "2019 ebook: Revisit graphics centering"
In the [2019 ebook](https://play.google.com/store/books/details?id=EAr5DwAAQBAJ&pcampaignid=books_web_aboutlink), at least on mobile (latest Android with latest Google Play Books), what seems to be desired to be centered isn’t really centered, probably because of some margin or padding.

![Screenshot_20201028-162133](https://user-images.githubusercontent.com/1700772/97468018-1c1c8100-1945-11eb-9fd

[2020-10-28 16:52] rviscomi commented on #1390
@bazzadp seems like the URLs in the footnotes were all removed by Books. Any ideas to workaround that?

[2020-10-28 16:54] j9t commented on #899
These are good points, @bazzadp. The way the doc talks about this right now is “side note, use with caution: of W3C-tested documents, 79% have errors.” I’d feel comfortable with that—it doesn’t go into detail but suggests to take with a grain of salt—but am open to tweak more. (We can probably take that into the doc.)

[2020-10-28 16:54] bazzadp commented on #1390
Oh looks like they are gone in the PDF version too!: https://almanac.httparchive.org/static/pdfs/web_almanac_2019_en.pdf

The links still work (at least on PDFs) but the footnotes showing the URL are gone.

Will take a look.

[2020-10-28 17:15] j9t commented on #899
ℹ️ We’re _very_ close to being able to move to next stage, converting the chapter to Markdown and polishing it there.

Only a handful of issues are still open at this point. @catalinred, @iandevlin, could you check on those, too, and could the reviewers please have a quick scan, too, where perhaps their input is needed again? I’ll do another sweep tomorrow morning and give an update again during t

[2020-10-28 17:33] alexdenning commented on #915
Alrighty, I think this is done. I had a bit of trouble getting my head round the final graph edits, but pretty sure that's all sorted now. Perhaps @rviscomi could confirm it's accurate. Unsure what happens next, so also tagging @obto :)

[2020-10-28 17:44] bazzadp commented on #1390
I tell a lie - they are still there online. Pheww.

@rviscomi, I don't show foot notes when the full URL is shown as seems a bit redundant.

So my profile for example at the bottom of the HTTP/2 chapter has this:

![Barry Pollard profile](https://user-images.githubusercontent.com/10931297/97471189-64857000-1940-11eb-8fbc-9733c3d3ece3.png)

But only includes the hidden link to my book, at the botto

[2020-10-28 17:44] rviscomi commented on #915
@alexdenning the page weight distribution results still seem like the need to be updated. I [commented](https://docs.google.com/document/d/1XL87z5MOk7QDLhpFsaMWT3DaIXdOQV32qs57noGwDVQ/edit?disco=AAAAHLHy83w) in the doc.

[2020-10-28 17:48] bazzadp commented on #1391
I'm going to close this as a duplicate of #1390

[2020-10-28 17:48] #1391 closed

[2020-10-28 17:52] j9t commented on #1390
On the chance that I can contribute somehow:

1. For PDF to EPUB conversion there must be many tools—could some other tool do the job?

2. What’s the source material—Markdown, HTML? I can’t tell how much work that would be to switch there, but [Leanpub](https://leanpub.com/) is one example for where that conversion works really well, generating decently formatted books from HTML or Markdown into P

[2020-10-28 17:58] bazzadp commented on #1390
Just found this note: https://support.google.com/books/partner/answer/107073?hl=en&ref_topic=3238502

Looks like it is supported for EPUB though: https://support.google.com/books/partner/answer/3316879?hl=en&ref_topic=3238502

The source is HTML: https://almanac.httparchive.org/en/2019/ebook and CSS Page Media. We then use PrinceXML to convert to PDF.

I'm open to ideas on better EPUB converters.

[2020-10-28 18:48] bazzadp commented on #1391
BTW if you flick from "Flowing Text" to "Original page images" then it does present better. Guess because it's a PDF and not an EPUB so doesn't properly reflow because of that.

[2020-10-29 02:00] MSakamaki commented on #985
I want to get to work on this.
I'll try to fix the table of contents to a dropdown list first.

[2020-10-29 02:06] rviscomi commented on #985
Great, thanks @MSakamaki! See #986 for the related style changes.

[2020-10-29 18:47] j9t commented on #899
ℹ️ We’re getting closer and closer—thanks all 😊 @iandevlin, @catalinred, @Tiggerito, there are just [5 comments left](https://docs.google.com/document/d/1m1YvDqWgZfqmcmAEkCnXncIJwsM1QCu6Rv7aPWjG1Ms/edit#)—could you have a look and help resolve these?

Once we are down to 0 comments I’d take that as a sign we’re good to move on to the next stage. I’m likely to dig into this and prepare a PR, but wi

[2020-10-29 18:53] #896 closed

[2020-10-29 18:54] #1052 closed

[2020-10-30 02:48] MSakamaki commented on #985
@rviscomi
I implemented the dropdown as advised.
some refactoring and will submit a PR today.

PC Header
![pc-header](https://user-images.githubusercontent.com/2183053/97654112-9a903480-1aa5-11eb-96b2-8db14ea1e818.png)

PC Footer
![pc-footer](https://user-images.githubusercontent.com/2183053/97654120-9ebc5200-1aa5-11eb-817d-450a4d44de54.png)

Mobile Header
![mobile-header](https://user-images.gith

[2020-10-30 06:40] iandevlin commented on #899
Morning.
I can only take a look this evening as I am out all day today.

Regards,

Ian

On Thu 29 Oct 2020, 19:47 Jens Oliver Meiert, <notifications@github.com>
wrote:

[2020-10-30 15:12] alexdenning commented on #915
@rviscomi cheers – just need some help finishing it up if that's alright. Replied to you on the doc.

[2020-10-30 15:21] LeaVerou commented on #1052
Aw why?

[2020-10-30 15:59] rviscomi commented on #1052
We can still explore building something interactive. This issue was scoped to a prototype, which we've built.

@bazzadp are there development resources to help with this?

[2020-10-30 16:04] bazzadp commented on #1052
@SaptakS expressed interest above.

Do we have any clearer idea of what data or what visualisations we see this being used for? Was that PoC above a good use case to take further? Or do we have something else in mind now?

[2020-10-30 16:10] alextait1 commented on #907
@obto thanks for the update and the very much appreciated extension, I myself have been swamped! @oluoluoxenfree and I will get moving on this :)

[2020-10-30 16:54] j9t commented on #899
We’re pretty much done with [the draft](https://docs.google.com/document/d/1m1YvDqWgZfqmcmAEkCnXncIJwsM1QCu6Rv7aPWjG1Ms/edit#)! I’m coordinating with Ian and Catalin and aim to start the conversion process soon, likely this weekend—more shortly!

[2020-10-30 16:55] AbbyTsai commented on #902
Hello, Jason, Dave, @jpamental @davelab6
Roughly say that the [result sheet](https://docs.google.com/spreadsheets/d/1jjvZqYay5KmTle4atzFWqtbkz9ohw25KFmNtCS-7n3s/edit#gid=655527383) is almost there, thanks content contributors and query reviewers,
and welcome any comments.

[2020-10-30 19:30] MikeBishop commented on #921
I've updated the functions for identifying h3 (`h3-\d+=`) and Google QUIC (`(quic|h3-[qt]\d{3})=`) in the Alt-Svc page, as well as added two additional columns to identify cross-host entries (`="[^":]+:`) and to extract the max-age.  I'm not trying to handle multiple max-ages used in the same header since it doesn't appear common from a cursory glance.

[2020-10-31 09:56] bazzadp commented on #1178
Any more progress here @sudheendrachari ?

I had a play myself and came up with this: https://github.com/HTTPArchive/almanac.httparchive.org/compare/main...bazzadp:lighthouse-ci-action
Example run log: https://github.com/bazzadp/almanac.httparchive.org/runs/1335585696?check_suite_focus=true

This fails on assertions or budgets not being met and also uploads reports for viewing. Seems to work quite

[2020-10-31 10:56] gregorywolf commented on #921
@dotjs Please take a look at the results that @bazzadp posted. If this data provides you the info your are looking for let me know and I will have the queries run against the full data set and posted in the Results sheet.

[2020-10-31 15:09] rviscomi opened #1394 "'localizedStatusCode' is undefined"
I got notified of an App Engine error:

[code]

@bazzadp could you look into this?

[2020-10-31 15:19] bazzadp commented on #1394
Don’t suppose it told you which URL caused this error?

[2020-10-31 15:37] dotjs commented on #921
@gregorywolf The results describe 1st party vs 3rd party. Is it more accurate to describe as 'known 3rd party' vs other requests (i.e first party and static hosts). Could you split the query for HTTP and non-HTTP sites i.e. I'm interested if anything is different for the 3rd party distributions and I think it will disambiguate the not known 3rd party. If possible I would like to plot a CDF of the

[2020-10-31 15:46] rviscomi commented on #1394
I don't see a way to get the URL but from the looks of the stack trace it seems to have happened on the 404 page, or a similar error page.

[code]

[2020-10-31 15:58] j9t commented on #899
🚨 (😬) We’re comment-free with [the draft](https://docs.google.com/document/d/1m1YvDqWgZfqmcmAEkCnXncIJwsM1QCu6Rv7aPWjG1Ms/edit#)!

To get there I’ve gone for another sweep and edit of the doc, including, by the way, a lot more detail (percentages) in [one of the attributes sections](https://docs.google.com/document/d/1m1YvDqWgZfqmcmAEkCnXncIJwsM1QCu6Rv7aPWjG1Ms/edit#heading=h.akrpxmt8q5ud). If you

[2020-10-31 16:25] j9t commented on #899
(Preparation in progress with https://github.com/j9t/almanac.httparchive.org/blob/main/src/content/en/2020/markup.md.)

[2020-10-31 20:18] #1394 closed

[2020-11-01 15:33] j9t commented on #899
ℹ️ I marked the draft as frozen. Conversion in progress—see https://github.com/HTTPArchive/almanac.httparchive.org/compare/main...j9t:main for a temporary diff and status indicator. Might work on this over the next few days to sonn share another update.

[2020-11-01 16:19] obto commented on #906
@AAgar @tomvangoethem @nrllh Looks like the queries have been written but not added to your [chapters data sheet](https://docs.google.com/spreadsheets/d/1T7sxPP5BV3uwv-sXhBEZraVk-obd0tDfFrLiD49nZC0/edit#gid=2077755325). Can one of you take care of adding the results to the sheet this week?

[2020-11-02 08:04] zcorpan commented on #899
Where do I leave comments?

The paragraph on module/nomodule is still confused/wrong. 0.95% is of *pages*, not of module scripts. Also, `nomodule` is an attribute that you specify on a *classic* script, to be run in old browsers that don't support `type=module`.

If we don't have comparable metrics between `type=module` and `nomodule`, I think it's better to leave out mentioning `nomodule`.

[2020-11-02 09:04] j9t commented on #899
In this case, can you comment in the doc, @zcorpan ? It will be easier to follow up there.

[2020-11-02 15:09] svgeesus commented on #902
The result that fonts.gstatic.com is the most popular font host in China should be _checked_, because many Google sites are blocked in China. Although gstatic does not appear on [List of websites blocked in mainland China](https://en.wikipedia.org/wiki/List_of_websites_blocked_in_mainland_China).

The reason is important, because "WebFonts are rarely used in China because the main free font websit

[2020-11-02 15:18] svgeesus commented on #902
Comparing the MIME types and the @font-face format strings, I see that woff2 and woff broadly correspond (75% and 9%) while SVG in format is much higher (6%) than as MIME type (,0.01%). Odd.

[2020-11-02 15:58] svgeesus commented on #902
The font table frequencies are hard to interpret, because the highest possible frequency is 6.97% (for all the mandatory tables). Maybe add another column which is the percentage of fonts containing that table (so `head`, `cmap` etc would go to 100%) which allows comparing the frequency of use of the lesser used tables? So for example `CFF` desktop would be 2,775,483 * 100 / 27,983,775 = 9.92% of

[2020-11-02 16:07] svgeesus commented on #898
So [2.8% of pages use named colors](https://docs.google.com/spreadsheets/d/1sMWXWjMujqfAREYxNbG_t1fOJKYCA6ASLwtz4pBQVTw/edit#gid=366025718&range=G7:I7) which is lower than I would have expected, and only [0.3% use the deprecated, then partly undeprecated system colors](https://docs.google.com/spreadsheets/d/1sMWXWjMujqfAREYxNbG_t1fOJKYCA6ASLwtz4pBQVTw/edit#gid=366025718&range=G11:I11)

[2020-11-02 16:08] bazzadp opened #1397 "Add a section on GitHub Desktop to the Git Guide wiki"
Does anyone here use GitHub Desktop and fancy writing a little about it in our [Git Guide wiki](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Git-Guide) for future new joiners to the project?

Know some of you use it and I feel it’s a big missing piece from that guide but I don’t know it at all to be honest, so would prefer someone else write this up rather than me and all my command

[2020-11-02 16:26] davelab6 commented on #902
Gstatic isn't blocked officially/nationally, but since the gfw is
administered regionally, and no servers are within prc, it is often
unreliable.

[2020-11-02 16:32] LeaVerou commented on #898
@svgeesus I believe that is 2.8% of colors are named color, not 2.8% of pages use named colors.

[2020-11-02 17:18] alexdenning commented on #915
All comments are resolved, I think we're good to go!

[2020-11-02 17:46] rviscomi commented on #915
Ok great! @alexdenning can you review the chapter metadata at the top of this thread to ensure that the milestone checklist is up to date and everyone who meaningfully contributed is appropriately credited?

Once those are done we can move on to the final milestone, which is for you to submit your final draft as a PR. And when that's merged we can get this chapter out in the early access release!

[2020-11-02 23:42] rviscomi commented on #898
Yes, also each sheet should also have a comment with the intended interpretation.

The [query](https://docs.google.com/spreadsheets/d/1sMWXWjMujqfAREYxNbG_t1fOJKYCA6ASLwtz4pBQVTw/edit#gid=279222916) did need to be rerun but the results have only changed very slightly. `Background` on desktop is still used 2.3% of the time.

---

Also FYI for all authors and reviewers, the [sheet](https://docs.goog

[2020-11-03 09:20] alexdenning commented on #915
@rviscomi as I understand that's all correct, yup! I might need you to help me do the PR – not totally sure what I'm doing 😅

[2020-11-03 09:27] bazzadp commented on #915
Hey @alexdenning if you open a draft PR with the `cms.md` file in `src/content/2020` folder with (base it on the 2019 version) I can help tell you if you're on the right track.

See here for some good guidance I gave to the Markup team: https://github.com/HTTPArchive/almanac.httparchive.org/issues/899#issuecomment-716806684

The [Capabilities PR](https://github.com/HTTPArchive/almanac.httparchive.

[2020-11-03 09:44] bazzadp commented on #915
Oh and your `discuss` id for this year is `2051`.

So  your `src/content/2020/cms.md` markdown file should start like like this I imagine (assuming all the contributors at the top of this issue are accurate):

[code]

[2020-11-03 12:24] j9t commented on #899
@zcorpan, for some reason I can’t tag you in the doc: Can you review and help with https://docs.google.com/document/d/1m1YvDqWgZfqmcmAEkCnXncIJwsM1QCu6Rv7aPWjG1Ms/edit?disco=AAAAKn_NYAU? That would be super-awesome. I’m there to resolve this and reflect it in the Markdown version I’m currently setting up.

[2020-11-03 12:46] zcorpan commented on #899
Done.

BTW, maybe I'm late with this suggestion for this chapter, but, I've used [Docs to Markdown](https://gsuite.google.com/marketplace/app/docs_to_markdown/700168918607) add-on in the past, and it worked pretty well.

[2020-11-03 12:49] alexdenning commented on #915
Cheers – so do I need to create a markdown version of the Google Doc? Is there a convenient way of doing that? What about image hosting? And is the content/2020 folder a folder I need to create? Cheers :)

[2020-11-03 13:07] bazzadp commented on #915
Yes you need to convert to markdown and yes to the `src/content/2020/` folder. I saw someone suggesting [Docs to Markdown](https://gsuite.google.com/marketplace/app/docs_to_markdown/700168918607) but looking at your document I'd say it's probably easier to just copy and paste it into a `cms.md` file and change the headings and links as, other than the images, those seem to be the only special form

[2020-11-03 13:59] svgeesus commented on #902
Thanks for the clarification, @davelab6

[2020-11-03 14:00] AbbyTsai commented on #902
note that the result sheet has add a table showing a percentage of mandatory tables in opentype as nice point of Chris. thanks.

[2020-11-03 16:03] bazzadp opened #1402 "Translate 2019 Content to Hindi"
These are the core templates - without which we cannot release any translated chapters. They are in the [language specific templates directory](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/src/templates):
- [x] base.html (2019) - @PraveenPal4232
- [x] base.html (2020) - @PraveenPal4232
- [ ] base_chapter.html- @PraveenPal4232
- [x] contributors.html (2019) - @PraveenPal4232
- [

[2020-11-03 16:04] bazzadp commented on #923
Sorry @PraveenPal4232 missed that you'd accepted that. I opened #1402 and assigned to you. Let's continue the discussion there if still interested.

[2020-11-03 17:07] bazzadp opened #1403 "Review WebPageTest content in 2020 Methodology page"
Following on from #1383 we merged this without a full review so raising separate issue for this.

[2020-11-03 17:09] bazzadp opened #1404 "Add more content to 2020 Methodology page"
Following on from #1383 we merged this without a full review so raising separate issue for this.

- [ ] - @rviscomi talked about adding content on CSS and Rework AST
- [ ] - Number of queries is currently set to TBC

[2020-11-03 17:56] bazzadp opened #1405 "Point 2020 home page links to 2020 chapters"
In #1383 we basically filled out the 2020 home page but pointed some content to 2019 content until it's ready:
- [ ] Primary CTA
- [ ] Featured Quotes

Once 2020 chapters start becoming ready we should update this.

[2020-11-03 17:59] rviscomi commented on #1404
I think the only thing we should add is related to the CSS tools. What I said about COVID was that it's a better fit for the Foreword than Methodology.

[2020-11-03 18:02] bazzadp commented on #1404
Cool - updated first comment. And this just reminded me to add another issue for the Foreword 😀

[2020-11-03 18:03] bazzadp opened #1406 "Write a 2020 Foreword"
All set up in #1381 so just need the content.

[2020-11-03 18:51] pmeenan commented on #1403
Reviewed and provided comments for where the configs were wrong.

[2020-11-03 18:54] bazzadp commented on #1403
Thanks @pmeenan , will update and close this issue.

[2020-11-03 19:15] j9t commented on #899
(@zcorpan, thanks for following up in the doc; I responded in there.)

I’ve prepared the initial version of the chapter to be merged: https://github.com/HTTPArchive/almanac.httparchive.org/pull/1409. Please advise, @rviscomi, @obto, @bazzadp 🙏

[2020-11-03 19:23] rviscomi commented on #899
Awesome effort by this team and thanks @j9t for driving it! We'll get the PR reviewed ASAP and it should be ready in time for a November 9 early release. 🎉

[2020-11-03 21:03] #1178 closed

[2020-11-03 21:16] nrllh commented on #906
We are not done yet with the analysis. Once we're done, we can add the results to the sheet. @obto

[2020-11-03 21:41] iandevlin commented on #899
Definitely most of the credit goes to @j9t, who has been an absolute demon. Thank you sir.

[2020-11-03 21:43] gregorywolf commented on #921
@dotjs Let me take a look and see what i can come up with. Thanks.

[2020-11-04 15:02] LeaVerou commented on #898
Since we have 6 (!) times as many metrics as the average chapter, and one of the authors has pulled out, I was wondering if any of the reviewers (@fantasai @mirisuzanne @j9t @catalinred @hankchizljaw) were interested in authoring a section or two?

[Sections](https://github.com/LeaVerou/css-almanac/issues/42) that are up for grabs are: Selectors, Values & Units, Transitions & Animations, Responsiv

[2020-11-04 16:16] gregorywolf commented on #921
@dotjs I have read your request and I am not really following what you are requesting. Please elaborate. Thanks.

[2020-11-04 16:34] j9t commented on #898
I’d love to but I’ve been using up my spare capacity on Markup/HTML. (Count me in for review though, that’s not affected.)

[2020-11-04 17:20] j9t commented on #899
Some more work on https://github.com/HTTPArchive/almanac.httparchive.org/pull/1409.

For the results, are we to use https://docs.google.com/spreadsheets/d/1Ta7amoUeaL4pILhWzH-SCzMX9PsZeb1x_mwrX2C4eY8/? I have a vague task on my list to review and clean up the spreadsheet (check formatting, close comments, remove internal notes)—I suppose that can be done then? @rviscomi, @Tiggerito?

[2020-11-04 22:23] dotjs commented on #921
@gregorywolf

1. Can I see more percentiles than [10,25,50,75,90] as the data for non-3rd party is [0%,0%,60%, 100%, 100%]. Only 1 data point that isn't 0 or 100. Otherwise it is hard to define shape of distribution.

 2. I wanted this query split by firstHTML over TLS as I wanted to see if there was a significant difference in other assets possibly being served over TSL and hence maybe H2. For TL

[2020-11-04 22:55] rviscomi commented on #921
A couple of thoughts:

Most chapters standardize on [10,25,50,75,90] to summarize the distribution. If there's a particular value of interest, you could measure the % below that threshold. But for the sake of communicating the distribution to readers, be cautious with how deeply statistical you get, and simpler/fewer percentiles make the distribution easier to digest.

As for page rank, we don't h

[2020-11-04 23:16] bazzadp commented on #921
I've updated and rerun the queries [in my test sheet](https://docs.google.com/spreadsheets/d/1op_UrJGo7CGRXWy5iK7-aQ1lHALEm4_8gkXM2huyvL0/edit#gid=1631649523) against the full dataset and with 10% percentiles (plus 5% and 95%). However not sure it makes much differences - since third-party and CDN support of HTTP/2 is so high there tends to be a very big, very quick jump from 0% to 100%. So I thin

[2020-11-04 23:58] Tiggerito commented on #1397
Do you want a new section related to it, or should I intertwine 'how to' bits in with your instructions.  e.g. add the GitHub Desktop way after your command lines. Probably screenshots would be self explanatory in many cases.

I also use TortoiseGit  which is worth a mention but I don't think needs full instructions. It basically adds icons and menus to windows explorer so that you can use the GUI

[2020-11-05 00:02] Tiggerito commented on #899
I'm not an expert at google sheets. I do know there is an option to copy a sheet and exclude comments in the copy?

[2020-11-05 00:54] rviscomi commented on #899
This is the official sheet that will be linked from the chapter, so make it look how you want readers to see it. Comments are ok for some context and explanations of intended interpretation, but the main thing will be discoverability of metrics. Since so many metrics are packed into single tabs and the tabs are generically named I think that will be the biggest issue. (I did also flag that during

[2020-11-05 05:46] AbbyTsai commented on #916
hello,  @mo271
happy to do the query of analysis and would like to hear that what's the interesting question readers may like to see in static/dynamic compression as found it list in metric, but not in outline. thanks.

[2020-11-05 07:19] PraveenPal4232 commented on #923
No problem @bazzadp , it's ok.
Yes, I got assigned, Thanks. I started working on this

[2020-11-05 07:23] PraveenPal4232 commented on #1402
Thanks, @bazzadp for assigning me, lets do that 👍

[2020-11-05 08:22] j9t commented on #899
Thanks @Tiggerito, @rviscomi. I can’t assess that meta data issue just now but preparing the sheet should generally not be an issue.

[2020-11-05 17:30] #1403 closed

[2020-11-05 17:55] rviscomi commented on #1224
Could you elaborate on what's wrong to you? I think if we have a way to distinguish which files changes in the deploy, this would be ok.

Also curious to hear from @HTTPArchive/developers

[2020-11-05 18:49] bazzadp commented on #1224
As discussed offline:

You propose:
- We have an `src/config/page_timestamps.json` file with each filename, a hash (based on contents), an "initial published" date and a "last updated" date (initially populated from metadata).
- On deploy date we run a script to read this file, hash each file, compare it with the previous hash and, if different, update the timestamp to today.
- Save that JSON file

[2020-11-05 19:11] j9t commented on #899
(Review of https://github.com/HTTPArchive/almanac.httparchive.org/pull/1409 happily in progress ☺️ ⏳)

[2020-11-05 19:24] j9t commented on #899
Used the time to also go through the [results sheet](https://docs.google.com/spreadsheets/d/1Ta7amoUeaL4pILhWzH-SCzMX9PsZeb1x_mwrX2C4eY8/edit) to prepare that. Made styling more consistent, aligned headers, resolved comments, etc.

[2020-11-05 20:15] dotjs commented on #921
Agreed thanks for keeping me on track

[2020-11-05 23:05] bazzadp commented on #921
FYI queries have been merged into repo (looks like no mistakes!) - thanks @gregorywolf for submitting #1419 and for copying data to [the real spreadsheet](https://docs.google.com/spreadsheets/d/1M1tijxf04wSN3KU0ZUunjPYCrVsaJfxzuRCXUeRQ-YU/).

[2020-11-06 00:16] #1386 closed

[2020-11-06 09:23] #1381 closed

[2020-11-06 13:43] bazzadp commented on #1397
I think a new section at the bottom and link mentions of it previously to that.

Yeah let’s leave Tortoise Git out for now.

[2020-11-06 21:26] #899 closed

[2020-11-06 21:37] bazzadp commented on #899
I've merged in @j9t 's write up now. Congratulations on being the first team with a merged chapter!!!

I've uploaded a [test deploy](https://20201106t212925-dot-webalmanac.uk.r.appspot.com/en/2020/markup) for those interested to see what it looks like in all it's glory.

There's still a couple of things to do:

We still need chapter bios from @catalinred and @iandevlin , so if you could submit a P

[2020-11-06 21:48] bazzadp opened #1432 "Edit 2020 Chapters"
Part I. Page Content
 - [x]  - [Chapter 1: CSS](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/src/content/en/2020/css.md) - @bazzadp #1846
 - [x]  - [Chapter 2: JavaScript](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/src/content/en/2020/javascript.md) - @rviscomi #1737
 - [x]  - [Chapter 3: Markup](https://github.com/HTTPArchive/almanac.httparchive.org/tree/

[2020-11-06 21:53] bazzadp commented on #1432
Same rules as last time @HTTPArchive/editors - grab a chapter when you see one free and claim it by tagging your name next to the first issue and then submit a PR with the original authors. Links to chapters available in [our issue tracker](https://github.com/HTTPArchive/almanac.httparchive.org/issues/989)

[2020-11-06 22:01] rviscomi opened #1433 "Overflow of the contributors section on the 2020 home page"
![image](https://user-images.githubusercontent.com/1120896/98418708-858d4580-2051-11eb-8cff-8b85df5a16a9.png)

The "120" seems to be too big and the red character with the markup symbols is overlapping with the graphic in the previous section.

The issue may just be that there's not enough whitespace between the first and second sections. @bazzadp did you remove some of the 2020 home page styles i

[2020-11-06 22:16] bazzadp commented on #1433
Look at latest main branch where we have 2019 featured chapters for now (also [on production](https://almanac.httparchive.org/en/2020/) as just released there) and its less of an issue but could still do with some taming.

This is one reason I wanted to do one last pre-release release to 😁

[2020-11-06 22:23] rviscomi commented on #1433
I found this in a development branch and it turns out I didn't run `npm run generate` first, so the featured chapter section was missing. I can confirm that the issue goes away after building correctly first. 😅

[2020-11-06 22:23] #1433 closed

[2020-11-06 22:24] rviscomi opened #1434 "Add more spacing between featured chapter stats on mobile"
![image](https://user-images.githubusercontent.com/1120896/98420272-d3f01380-2054-11eb-9c21-05cf74415f3f.png)

I'm bad at design but it looks like these are too close together. Not sure what the right distance should be. Any help here appreciated.

[2020-11-06 22:47] bazzadp commented on #1083
Completed in #1383

[2020-11-06 22:47] #1083 closed

[2020-11-06 23:24] rviscomi commented on #1432
Pro tip for editors who spot something that should be changed but the fix isn't ready yet (for example a link to an unlaunched chapter), use a Jinja comment starting with `TODO` so it's annotated in the markdown file, easily discoverable, and not included in the HTML output.

[code]

[2020-11-07 00:38] Tiggerito commented on #1397
What's the proper way to edit a wiki? Just inline?

And how do I properly add images?

[2020-11-07 00:42] bazzadp commented on #1397
Yup. It has a revision history so easy enough to revert.

Easiest way I’ve found is paste an image in a comment on a real issue, GitHub then uploads the image and enters the markdown for you. Then copy that markdown and paste to wiki, and delete the comment instead of committing it. Seems a bit of a random way of going about it but it works! Just don’t actually commit the comment on the completely

[2020-11-07 01:21] rviscomi commented on #1397
^ Same!

[2020-11-07 02:12] Tiggerito commented on #1397
See what you think.

[2020-11-07 16:14] j9t commented on #899
Very, very, very excited to see this. Thanks @bazzadp and @rviscomi for all your working with me on the latest meters (and yards)!

I’m curious about the editing stage now but will likewise review the outcome again; and I encourage everyone to maybe give the chapter is another read or scan, too.

Exciting! 🥂

[2020-11-07 16:28] bazzadp commented on #1397
Looks great! Thanks for that. Only thing I notice is there's no discussion on forks. Think you worked in the main repo mostly so maybe that's why. Any ideas how forks work in GitHub desktop to resync back to original repo?

[2020-11-07 18:10] rviscomi opened #1442 "Credit analysts as "Analyzed by" for tense consistency"
![image](https://user-images.githubusercontent.com/1120896/98448514-829a5f80-20fa-11eb-9a37-c3bed88c4b3c.png)

Nit: Authors and reviewers are credited in the chapter masthead as "written by" and "reviewed by". For consistency, analysts should be credited in the past tense as "analyzed by" rather than "analysis by".

[2020-11-07 18:48] bazzadp opened #1444 "2020 Chapters being included in 2019 ebook"
Need to look at this before releasing any 2020 chapters.

[2020-11-07 19:19] rviscomi opened #1445 "Support code formatting for headings in chapter outline sidebar"
![image](https://user-images.githubusercontent.com/1120896/98449729-f7be6280-2103-11eb-92a7-1f45d9ced99c.png)

The heading "`viewport` specifications" includes a code block for the word "viewport". This block is formatted in the heading itself, but not its entry in the chapter outline sidebar, making it appear as if the word is plain and should be capitalized for consistency with other headings.

[2020-11-07 20:17] bazzadp commented on #1445
HTML is not supported in ToC as discussed in #656 .

Will have another look to see if anything's changed since then or if I can think of a better way of supporting it than I came up with last time.

[2020-11-07 20:17] #1444 closed

[2020-11-07 20:56] rviscomi commented on #1445
Good find, yeah it'd be nice to revisit this to see if we can support similar use cases.

[2020-11-07 20:58] bazzadp commented on #1445
Actually it was supported then, but just messed up the anchor link. So not exactly the same. But almost certainly related. Anyway will have a look if no one grabs it before me.

[2020-11-07 21:51] Tiggerito commented on #1397
I'll work on something to say. I don't think the app is much involved in forking. The main difference is you pull the forked repository and the process is different when merging back, which you do on the website.

And I use your set of commands to re-create the forks main/master branch before creating my own branch.

[2020-11-07 22:07] bazzadp commented on #1397
Yeah that was main thing I was asking about. Ok so no easier way to do this in GitHub Desktop. Worth saying that at least anyway.

Rest looks great so add that and think we’re done. Thanks again for adding this.

[2020-11-08 00:24] Tiggerito commented on #1397
Added some stuff. Can people send feedback if there are inaccuracies? I feel like a novice teaching experts. That's probably why I rely on GUIs to do it for me 😂

[2020-11-08 07:10] hemanth commented on #909
@logicalphase @thepassle @jadjoubran @pearlbea @gokulkrishh @jaisanth

We should meet and have a quick discussion on the few of the steps we need to take to reach the finish line sooner.
I understand that we are in different timezones and it is hard to find the best time...but let me propose 7.30PM PST 11/08/2020, hope that sounds like a plan.

[2020-11-08 08:34] bazzadp opened #1450 "Add syntax highlighting capabilities"
Authors sometimes include small code snippets to illustrate example usage. It would be nice to syntax highlight that for readability.

We do support a limited form and use it in the methodology page but it basically needs to be lovingly written by hand at the moment:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/a5cbe77943ab7202c9ed55fdef71b20560a62033/src/templates/en/2020/methodol

[2020-11-08 15:17] bazzadp commented on #1442
Unless I get further knowledge, I'm going to assume the Translations are correct and this is an English only issue and fix this with #1454

@HTTPArchive/translators can you check your languages and let us know one way or another if there's a similar issue there?

[2020-11-08 15:23] bazzadp commented on #1434
I can't repeat this:

![Mobile view](https://user-images.githubusercontent.com/10931297/98469215-24db4580-21d6-11eb-9f3d-c8523a25d40c.png)

But think I did see it briefly when switching to mobile view in Chrome. See that occasionally where you need to switch a couple of times to pick up all the mobile styles.

Can you confirm this is a non-issue and close this if so? If not some more info would he

[2020-11-08 15:24] j9t commented on #899
(May still leave status updates here, even though this one is closed.)

While there’s a “final” PR open with https://github.com/HTTPArchive/almanac.httparchive.org/pull/1435 (I’ve left some initial but also high-level feedback), I’ve just gone through [the spreadsheet](https://docs.google.com/spreadsheets/d/1Ta7amoUeaL4pILhWzH-SCzMX9PsZeb1x_mwrX2C4eY8/edit#) again to make sure it’s consistently fo

[2020-11-08 15:27] bazzadp commented on #1378
Closing. Will re-review for 2021.

[2020-11-08 15:27] #1378 closed

[2020-11-08 17:12] #1442 closed

[2020-11-08 21:46] max-ostapenko commented on #906
Hi, we plan to reuse some of your data in Privacy chapter (cookie attributes in particular). Please let me know if I can help visualise it asap.

[2020-11-08 22:03] bazzadp commented on #1397
Looks good to me! Closing this. Thanks a lot @Tiggerito - hopefully this will be useful to people in future!

[2020-11-08 22:03] #1397 closed

[2020-11-09 01:11] #912 closed

[2020-11-09 08:41] mo271 commented on #916
Hi @AbbyTsai!
Thanks for doing the  analysis for the chapter! The idea about dynamic versus static is is to understand if the compression is done on-the-fly or beforehand, for example for brotli compression. I'm not sure if this information is easily obtained.

[2020-11-09 14:10] ibnesayeed commented on #1450
The choices will depend on whether we want server-side preprocessing for syntax highlighting in the markup itself (which will include spans with specific classes around each token of the markup and will need either a CSS file or inline style) or a JavaScript-based solution that can be configured to look for code block and syntax highlight on the client-side.

[2020-11-09 14:29] bazzadp commented on #1450
My preference would be server side for performance reasons.

[2020-11-09 14:36] ibnesayeed commented on #1450
I think [Pygments](https://pygments.org/] is the go to Python library for server side syntax highlighting. There are many wrapper libraries that use it underneath to support in different environments.

[2020-11-09 14:48] rviscomi commented on #1450
Can we do it at built time?

[2020-11-09 14:52] bazzadp commented on #1450
Yes that's what I meant. Sorry I wasn't clear.

think we also need to ask if we really need this? We do not have that much code and don't think we should be encouraging it too much - to me the Web Almanac is about analysing usage, not writing tutorials. So expect there to only be very small snippets here and there. Maybe just need to handle this like we do in Methodology and offer more manual opti

[2020-11-09 15:04] rviscomi commented on #1450
Yeah I don't expect that this would get much use, and I agree that it's probably better if it doesn't. If there's an easy off-the-shelf solution available, I'd still be open to it. But if it's any kind of maintenance or development hassle, we can forgo it.

[2020-11-09 15:16] bazzadp commented on #1432
Tagging those that expressed an interest in editing in #922 . If anyone else is interested (@HTTPArchive/editors ?) then feel free to add your self to Assignees.

The [Capabilities chapter](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/content/en/2020/capabilities.md) is good to go for editing if anyone wants to grab it?

[2020-11-09 16:03] #1404 closed

[2020-11-09 16:04] #1405 closed

[2020-11-09 16:14] bazzadp opened #1460 "2020 Methodology updates for French and Japanese"
@HTTPArchive/french-translators , @ksakae1216 / @MSakamaki we recently merged in the 2020 Methodology translation with your help.

However, we've made [some more changes](https://github.com/HTTPArchive/almanac.httparchive.org/pull/1449/files) to the English version so need some extra updates whenever you get a chance.

Could you put your name next to you language and comment on this issue if you p

[2020-11-09 17:50] bazzadp commented on #1445
Turns out this was easier than I thought. Shown doesn't support HTML in Headings for ToC (so #656 is still a problem) but it does support Markdown so we can solve this.

PR coming up...

[2020-11-09 18:23] #1445 closed

[2020-11-09 18:46] AbbyTsai commented on #916
thanks @mo271 for clarify.
[here](https://docs.google.com/spreadsheets/d/1NKbP4AqMkgCNCsVD3yLhO2d0aqIsgZ7AGLEtUDHl9yY/edit#gid=1365871671) we'd find the result sheet and welcome any comments.

[2020-11-09 23:25] rviscomi opened #1466 "Language picker border issue when set to Chinese"
URL: https://almanac.httparchive.org/zh-CHT/2020/

Actual:

![image](https://user-images.githubusercontent.com/1120896/98608198-aefbda80-22b8-11eb-92fd-3d00beccdc7d.png)

Expected:

![image](https://user-images.githubusercontent.com/1120896/98608261-ca66e580-22b8-11eb-846c-5bfa8d264022.png)

[2020-11-09 23:31] rviscomi opened #1467 "Featured Chapter section overlapping with home page hero section on mobile zh-CHT"
![image](https://user-images.githubusercontent.com/1120896/98608697-c1c2df00-22b9-11eb-9675-ae2efb4dcbed.png)

For mobile viewports ~380px wide, the "Featured Chapter" heading overlaps with the diagonal background of the hero section above it. This causes a color contrast a11y issue.

To reproduce:
- Go to https://almanac.httparchive.org/zh-CHT/2020/
- Use DevTools to enable device emulation
- Cha

[2020-11-09 23:41] rviscomi opened #1468 "2020 chapter metadata still uses 2019"
[code]

These will cause UX confusion for readers but also 404 images for social scrapers like Twitter:

![image](https://user-images.githubusercontent.com/1120896/98609375-203c8d00-22bb-11eb-8c2d-4da573a5894f.png)

[2020-11-10 00:01] rviscomi commented on #1468
I've fixed the title issues in #1469 and it appears that the 2020 hero illustrations do actually live in the [2019 directory](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/src/static/images/2019/capabilities). But it's still 404ing because it seems like the server thinks the "images" subdirectory is an invalid language: https://almanac.httparchive.org/images/2019/capabilities/he

[2020-11-10 00:14] rviscomi commented on #1468
The 404 was because the chapter hero image URLs were missing the `/static` part of the path. Fixed in #1470 and also added dynamic year to chapter metadata in non-English localized templates.

[2020-11-10 01:48] rviscomi commented on #899
Congratulations everyone, this chapter has been published for early access! https://almanac.httparchive.org/en/2020/markup

[2020-11-10 01:49] rviscomi commented on #912
Congratulations everyone, this chapter has been published for early access! https://almanac.httparchive.org/en/2020/capabilities

[2020-11-10 01:55] rviscomi opened #1471 "Prevent names from wrapping in chapter bylines"
![image](https://user-images.githubusercontent.com/1120896/98617530-32272b80-22cd-11eb-9ef3-2acade0867cd.png)

Ian's first and last name should always be on the same line. Prevent the name from wrapping by setting `white-space: nowrap;` on a new `.byline .author` style in [page.css](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/static/css/page.css).

[2020-11-10 09:39] zcorpan commented on #900
Please remove me as reviewer for this chapter.

[2020-11-10 09:46] bazzadp commented on #1468
Ah think I misunderstood https://github.com/HTTPArchive/almanac.httparchive.org/pull/1358#discussion_r504239477. Thought you were asking to keep in 2019 directory but now see you mean to have them in 2020 directory with either copies of 2019 for reused chapters, or fallback to there. Yes let's leave that open until that's fixed.

Not a fan of this to be honest. Was really confused for ages as to w

[2020-11-10 13:29] ibnesayeed commented on #899
I do not remember when I was supposed to review the content as a reviewer. I was waiting for a call for review.

[2020-11-10 13:35] j9t commented on #899
The first call was [about three weeks](https://github.com/HTTPArchive/almanac.httparchive.org/issues/899#issuecomment-713057875) ago, followed by a few more updates asking for reviews.

[2020-11-10 14:06] ibnesayeed commented on #899
Thanks @j9t for the reference. I somehow missed it. If it is marked done then that's great, otherwise let me know if it needs further review.

[2020-11-10 16:30] #1467 closed

[2020-11-10 18:22] bazzadp commented on #1224
I'm gonna tackle this one as it's starting to annoy me now too and think we have a path forwards. If anyone else has made a start on it already let me know and I'll back off (or work with you on it if you want!).

[2020-11-10 19:22] rviscomi commented on #1195
I started looking into this and I'm feeling more enthusiastic about going in this direction. I like the idea of a page where contributors could list all of their multi-year contributions across the entire project.

A few concrete suggestions:

- Give each contributor a `src/config/contributors/<id>.json` file and document all of the required/optional fields in the wiki
- Remove the `contributors`

[2020-11-10 20:00] rviscomi opened #1484 "2021 process updates and improvements"
Opening a thread to discuss ways we can improve the content creation process in 2021. All 2019 and 2020 contributors are encouraged to share their feedback. Let's identify any areas of deficiency so that we can improve contributor satisfaction and productivity.

[2020-11-10 20:14] bazzadp commented on #1484
Yes would really like to hear suggestions on ways to improve!

However, at the same time I’d like to hear what really worked this year as well — to make sure we keep doing that next year! That will also be good to keep a bit of positivity too so we don’t just list the things we can do better on — which can lead to forgetting the good parts.

[2020-11-10 20:57] rviscomi commented on #1484
The top issues I'm sensing from contributors are:

1. Not enough time to complete milestones.
2. Not enough contributors to share the workload.
3. Not enough guidance from project leads

### 1. Not enough time to complete milestones

The obvious answer is to start earlier in the year. We started in June this year, so maybe we should start the content team assignments in April or May to leave more

[2020-11-10 21:38] oluoluoxenfree commented on #907
@obto @rviscomi would it be possible to get an extension till Monday and a quick walkthrough of the data?

thanks for your patience!

[2020-11-10 21:59] rviscomi commented on #907
@oluoluoxenfree sure, moving the first draft due date to Monday won't be an issue. Thanks for checking in and hope all is well.

I'll defer to @obto to help get you up to speed on the results.

[2020-11-10 23:00] bazzadp opened #1485 "Use of typographic quotes or "smart quotes" in the Web Almanac"
Part of our [editing process](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Editors'-Guide#suggested-process) is to convert typographic (or so-called "smart" or "curly") quotes and apostrophe's to straight quotes (“ -> ", ” -> ", ‘ -> ', ’ -> ').

This has caught some authors by surprise so I want to make authors more aware of this, explain the reasoning, and also possibly open this

[2020-11-10 23:11] ksakae1216 commented on #1460
Maybe I will translate 11/14 or 11/15

[2020-11-10 23:13] bazzadp commented on #1460
Thanks @ksakae1216 !

[2020-11-11 01:17] rviscomi commented on #1485
Whatever we chose, I think we'll need a linter or other automated system to detect and automatically convert one style to the other.

[2020-11-11 02:22] thefoxis commented on #905
@obto @rviscomi I'll have a complete draft ready sometime next week. there's a bit more to be written than I initially expected. of course, you can keep an eye on the draft in the doc, as I'm writing directly there.

@max-ostapenko @dooman87 I'd appreciate some help with the charts, since some are only representing a single metric versus complete readings and my spreadsheet skills turn out to fall

[2020-11-11 02:42] rviscomi commented on #905
Hi @thefoxis I'm excited to see this coming along! I'm also happy to help with the data viz, feel free to @ me on whichever charts you'd like help with.

[2020-11-11 07:43] mo271 commented on #916
Cool, thanks! Are those results complete? Can we mark the corresponding check boxes for the Milestones above?

[2020-11-11 08:42] nico3333fr commented on #539
I did some progress on CSS chapter... it is really long ^^

[2020-11-11 09:03] bazzadp commented on #539
It certianly is! Look how @rviscomi felt after editing it and adding the many, many figures: https://github.com/HTTPArchive/almanac.httparchive.org/pull/441

[2020-11-11 10:41] MSakamaki opened #1486 "Add instructions and on how to run super-linter locally"
https://github.com/HTTPArchive/almanac.httparchive.org/pull/1393#pullrequestreview-527958173

We can run a super-liner running in github actions locally.
I add the how to run to README.md.

https://github.com/github/super-linter/blob/master/docs/run-linter-locally.md

Optionally:
 - Do you have an idea to exclude unwanted folders such as node_modules from the target?

[2020-11-11 14:29] bazzadp commented on #1486
@MSakamaki I've been playing with this.

You're right it doesn't seem to exclude `node_modules` (and similar `env` for the python developers). You can filter exclude them but still takes a long while to run. Raised https://github.com/github/super-linter/issues/985

For now you could write a script and add it to package.json so we can call it with `npm run lint`. That would need to copy the followi

[2020-11-11 15:07] obto commented on #907
@oluoluoxenfree Sure can. I'm available 1130a to 1230p (CT) tomorrow, and 11a to 1230p (CT) Friday

[2020-11-11 15:25] obto commented on #900
@zcorpan Can do. Hope all is well and thanks for your help with the chapter thus far :+1:

[2020-11-11 15:28] borisschapira commented on #656
Thanks @bazzadp, that's perfect!

[2020-11-11 15:35] obto commented on #916
@mo271 If everything looks in order and you dont have any questions or edits to the data, then absolutely!

[2020-11-11 15:43] rviscomi commented on #1485
I've heard good things about https://github.com/markdown-it/markdown-it and its `typographer` setting to convert straight quotes to curly without affecting code blocks. Worth a look.

[2020-11-11 15:50] obto commented on #915
@alexdenning Any update on this? Would love to get this chapter published :)

[2020-11-11 16:10] alextait1 commented on #907
@obto & @oluoluoxenfree I can do either of those times tomorrow, Friday would be harder but maybe possible

[2020-11-11 16:34] alexdenning commented on #915
@obto oh whoops, my apologies. Managed to completely lose this on my task list!

I'm not super-familiar with markdown, but I can try and do this by Friday for you :)

[2020-11-11 16:50] rviscomi commented on #897
@tkadlec we've completed the analysis in https://github.com/HTTPArchive/almanac.httparchive.org/pull/1352 and the results are ready for your review in [this sheet](https://docs.google.com/spreadsheets/d/1cgXJrFH02SHPKDGD0AelaXAdB3UI7PIb5dlS0dxVtfY/edit#gid=2077755325). I've checked off the analysis milestone from the top of the issue. Let @paulcalvano and me know if you have any questions by @'ing

[2020-11-11 17:04] tkadlec commented on #897
@rviscomi @paulcalvano Thanks so much you two!!

Super excited to dig in. 👍

[2020-11-11 17:34] roryhewitt commented on #1485
Very good idea. I personally HATE curly (I refuse to call them 'smart') quotes.

[2020-11-12 00:00] obto commented on #907
@alextait1 @oluoluoxenfree Sent a calendar invite for tomorrow :)

[2020-11-12 01:13] hemanth commented on #909
@logicalphase @thepassle @jadjoubran @pearlbea @gokulkrishh @jaisanth

The draft is ready for review please have a look and comment wherever it makes sense, have a look at the charts and let us know if they sound good or require additions or deletions.

Shoutouts to @bazzadp for fine tuning the graphs (lot of graphs!) 🙏

[2020-11-12 04:45] rviscomi commented on #919
Updated the milestone checklist to reflect that the queries have all been written and the results saved to the spreadsheet.

@henrihelvetica let us know if you're on track to get the draft done this week, otherwise it may be at risk of missing the December 9 launch date.

[2020-11-12 04:48] rviscomi commented on #916
I've checked off everything up to "The content team has reviewed the results sheet". @mo271 feel free to tick that box after you've done the review, and work with @AbbyTsai and @paulcalvano to resolve any questions you have about the results.

[2020-11-12 04:50] rviscomi commented on #917
@roryhewitt I've checked off all of the milestones up to "The content team has reviewed the results sheet". Please tick that once you've reviewed the results, and work with @raghuramakrishnan71 if you have any questions.

[2020-11-12 05:07] #1258 closed

[2020-11-12 06:04] rviscomi opened #1496 "Translate 2019 Japanese ebook description on Google Books"
The [English](https://www.google.com/books/edition/The_2019_Web_Almanac/EAr5DwAAQBAJ?hl=en) and [Japanese](https://books.google.com/books?id=tPACEAAAQBAJ) ebooks are available for free on Google Play and Google Books. The Japanese version is using a custom English description I wrote just for the bookstore:

Would anyone be able to translate this text into Japanese? No PR needed, just reply in a c

[2020-11-12 06:53] #1466 closed

[2020-11-12 09:16] MSakamaki commented on #1496
@rviscomi I have some time this weekend to translate for japanese.

[2020-11-12 13:02] allemas commented on #924
Hello ! Interested count me in :)

[2020-11-12 13:06] bazzadp commented on #924
Just sent you an invite so you can assign yourself to issues. Above list is still looking in need of love. Have a look at that or ["good first issues"](https://github.com/HTTPArchive/almanac.httparchive.org/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22+label%3Adevelopment) or [general "development" issues](https://github.com/HTTPArchive/almanac.httparchive.org/issues?q=is%3Aissue+is

[2020-11-12 13:07] bazzadp commented on #985
Fixed in #1393

[2020-11-12 17:09] #1486 closed

[2020-11-12 17:25] obto opened #1506 "2020 Accessibility analysis: Common alt text length adjustment needed"
The common alt text length metric should also include stats if we EXCLUDE images with no alt tags at all. See https://docs.google.com/spreadsheets/d/1UjEBhq0TfYxUpdpq5IuxjeHB4yqhJq4NOKEd6Dwwrdk/edit#gid=152817998

[2020-11-13 02:35] tomvangoethem commented on #906
Hey @max-ostapenko, I haven't gotten to the visualisation yet :-/ I guess it's fine to have the same figures in different chapters - assuming the interpretation will still be different?

[2020-11-13 04:08] max-ostapenko commented on #905
@thefoxis As per your question: please check the chart here, if I understood you correctly: https://docs.google.com/spreadsheets/d/164FVuCQ7gPhTWUXJl1av5_hBxjncNi0TK8RnNseNPJQ/edit#gid=306222260

I'll appreciate if we can jump to sheet comments for exported results discussion. Please add comments on what needs adjustments and if any visualisations are missing.

[2020-11-13 16:36] alexdenning commented on #915
@obto I've got as far as converting the text to markdown, but I need to carve out a solid hour next week to get my head around the images. I don't know how to do a PR, though, so I'll have to post it all here and ask someone else to take it forward 🙏

[2020-11-13 16:49] bazzadp commented on #915
@alexdenning i can help out here if you want. Should be able to knock it up pretty quickly over the weekend. Send on what you’ve got to Barry at tunetheweb.com.

[2020-11-13 16:54] alexdenning commented on #915
@bazzadp that'd be much appreciated! Will email the MD file over.

[2020-11-13 17:46] bazzadp commented on #915
No problem @alexdenning . Need a few things from you while I work on this:

1. Can I get a sentence or two about your self for the bio? Here's [last year's one](https://almanac.httparchive.org/en/2019/cms#authors) as an example:

![2019 CMS Author bios](https://user-images.githubusercontent.com/10931297/99103432-74a37d80-25d7-11eb-8d5b-ee1f70fc9213.png)

2. Can you give me your social media info t

[2020-11-14 17:04] rviscomi commented on #985
Thank you @MSakamaki I love this new dropdown! Reopening to track a couple of small nits I noticed while playing with the dropdown.

1. Should the dropdown icon animate to a checkmark? This made sense for the year/lang pickers because it always reflected the current selection. But with the TOC dropdown, "Table of Contents" is always the button text, not the current selection.

![image](https://use

[2020-11-14 17:14] bazzadp commented on #985
1. what about animate from down arrow to up arrow (^) instead of tick? I can include this in #1512

2. Not so sure about this. This is a very short term thing until other chapters are launched (hopefully next release but probably still some stragglers realistically) and I think the underlines are a bit ugly. Ultimately they are both not clickable.

[2020-11-14 17:45] bazzadp commented on #985
Could also add a tick next to the current chapter. That would be consistent with year and language.

[2020-11-14 18:19] rviscomi commented on #985
Yeah I like that idea. Rather than the TOC text having the checkmark, denote the current chapter/page. Yellow + check?

Current chapter is still clickable, but styled like ones that aren't, which is what threw me off. Clarified my previous comment to suggest that we should make the style more prominent for current chapters, which I think is also solved by your idea.

[2020-11-14 18:26] bazzadp commented on #985
The current chapter shouldn’t be clickable at all. That’s a bug. We used to have this in place but looks like we lost it when @MSakamaki refactored code a little to stop having lists of lists (necessary to make up/down keys work). We should fix that.

Quick look at the code on my phone shows it works as intended for non-chapters but not for the chapters.

Agree with the rest. Will look to see what

[2020-11-14 19:47] bazzadp commented on #985
Have a play with the `toc_dropdown_invalid_html` branch.

Existing chapter 2019:

![2019 menu](https://user-images.githubusercontent.com/10931297/99155671-ee0f9e80-26b1-11eb-811b-c33128ab932b.png)

Existing chapter 2020:

![2020 menu](https://user-images.githubusercontent.com/10931297/99155709-4181ec80-26b2-11eb-8647-07b4eee02e7e.png)

[2020-11-14 21:51] bazzadp opened #1516 "Language code for Traditional Chinese"
We are currently using `zh-CHT` as the language code for Traditional Chinese. The [Nu Validator says this is not a valid `lang` code](https://validator.w3.org/nu/?doc=https%3A%2F%2Falmanac.httparchive.org%2Fen%2F2020%2F).

Googling around [it appears](https://stackoverflow.com/questions/732109/chinese-language-codes) that `zh-CHT` was used in the past, `zh-HANT` is official way, but `zh-TW` is the

[2020-11-14 22:01] rviscomi opened #1517 "Linking to the ebook"
We have https://almanac.httparchive.org/en/2019/ebook which is a single page version of the entire 2019 publication. On the TOC page we have an [Ebook](https://almanac.httparchive.org/en/2019/table-of-contents#ebook) section that links directly to the downloadable PDF, along with an obligatory notice about the download size and credit to the Prince tool. In the new TOC dropdown UI, the ebook part

[2020-11-14 22:09] bazzadp commented on #1517
No not really. It was created more to generate the PDF. It's not included in the sitemap and also set to not be indexed, so it doesn't steal SEO juice from the PDF.

To me the HTML version is better as individual chapters with the table of contents on the left. The ebook also doesn't include the Google Sheets figures but just the fallback images – and if it did the page itself would be massive!

I

[2020-11-14 22:12] rviscomi commented on #1516
I love when that happens! 😁

[2020-11-14 22:16] rviscomi commented on #1517
If user's are never meant to land on that page, we shouldn't serve it in production. Maybe a compromise is to create a standalone "ebook download page". We could have prominent "Download" CTA, file size and Prince disclaimers, links to our entries in Google Books and the Play store, and maybe instructions for self-printing the A5 version. WDYT?

[2020-11-14 22:25] bazzadp commented on #1517
Yeah the only reasons it's exposed are:
1. We need it exposed in development
2. It allows people to create their own print version if they have PrinceXML. For example if they are American and don't like the the A5 page size we used.

https://github.com/HTTPArchive/almanac.httparchive.org/blob/e68274c79677de4a298abc0c6e3dae859ed16f52/src/README.md#L138

Until we fix #1390 (which I'm not sure is tha

[2020-11-14 22:32] nico3333fr commented on #539
I just noticed a bug on some FR translations
![image](https://user-images.githubusercontent.com/2578321/99158294-8c5f2c80-26d1-11eb-8cd0-986a2c383163.png)

Is it something that can be fixed to be displayed properly or do we have to remove `&nbsp,` ? ex. https://almanac.httparchive.org/fr/2019/third-parties

[2020-11-14 22:50] bazzadp commented on #539
Fixed in #1518 . Will see when we can release the fix.

[2020-11-14 22:53] nico3333fr commented on #539
Fine, I won't have to fix in in future PR... :)

[2020-11-14 22:56] bazzadp commented on #539
Though it did confuse me as not set to `&nbsp;` in the markdown and looks like a space. I presume it's not a real space but a non-braking space?

Question for you all, should we use those in future or prefer `&nbsp;` as more obvious?

[2020-11-14 22:59] nico3333fr commented on #539
Yes, this is a non-breaking space. Personaly, I like it like that.

🎁 => CSS in french https://github.com/HTTPArchive/almanac.httparchive.org/pull/1519

[2020-11-15 02:51] rviscomi commented on #899
@j9t @catalinred @iandevlin and everyone else, in case you're interested, we have an analytics dashboard where you can see how many page views your chapter has received so far: https://datastudio.google.com/s/qoUxiLqPt9U. As of today, the Markup chapter has 1400+ page views and readers spend an average of 3:46 on the page. It's off to a great start!

If readers have feedback/questions/comments abo

[2020-11-15 07:21] MSakamaki commented on #1496
@rviscomi
I translated into Japanese.
It would be helpful if @ksakae1216  could check it too!

[2020-11-15 17:28] rviscomi commented on #901
I've added @exterkamp as a reviewer, per his offer to help in the Slack channel. Shane, can you add your info to the [2020.json](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/config/2020.json) config file? The [first draft](https://docs.google.com/document/d/1x8hhGIVYxvcDb3G4HGryW3yIOgLpvsNtQ_iHc_dMLEs/edit?usp=sharing) is coming along but not done yet, so there are still op

[2020-11-15 18:09] AbbyTsai commented on #1516
sure, It may be better to gain common readers of Traditional Chinese in zh-TW.

[2020-11-15 20:30] rviscomi commented on #1517
I don't see that issue as critical enough to stop us from promoting those publications. URLs are still there and can be copied into the URL bar if readers were so inclined. Was that your only concern with an ebook landing page?

[2020-11-15 20:35] rviscomi commented on #1434
Yeah I'm not able to reproduce the lack of space between the stats. However I still think there's a layout bug where there's not enough space between the stat and the label. I don't have a good eye to know what the right amount of spacing should be, but it does strike me as not having enough space.

Desktop:
![image](https://user-images.githubusercontent.com/1120896/99196078-0e923400-2758-11eb-9c0

[2020-11-15 21:55] bazzadp commented on #1517
Yeah no other issues with it and might be a good page to have. Until then think the ebook link we have is fine.

[2020-11-15 23:01] ksakae1216 commented on #1496
@MSakamaki I checked, OK.
Thanks translate.

[2020-11-15 23:11] bazzadp commented on #1434
Yeah agree it could do with more spacing alright.

`h7` in the 2020 Markdown chapter was pointed out during editing and fix has just been released (markdown was used instead of HTML).

![Markdown featured chapter](https://user-images.githubusercontent.com/10931297/99199479-57b5a880-2797-11eb-8c1b-f11786d0b000.png)

What do you think about reducing the precision during next round of edits? 25.24KB

[2020-11-15 23:19] bazzadp commented on #539
Fix was released btw:

![French third-parties quote](https://user-images.githubusercontent.com/10931297/99199692-e840b880-2798-11eb-8074-bf59c049a952.png)

Thanks for reporting!

[2020-11-16 00:09] rviscomi commented on #1496
Thank you @MSakamaki @ksakae1216! This change is live: https://books.google.com/books?id=tPACEAAAQBAJ

![image](https://user-images.githubusercontent.com/1120896/99200885-09dc7880-2776-11eb-8a6f-f133e777a8ad.png)

[2020-11-16 00:12] rviscomi commented on #1434
Agreed we could make the precision 1 or even 0 decimal places for this purpos.

[2020-11-16 09:46] #1434 closed

[2020-11-16 10:09] #1460 closed

[2020-11-16 10:23] bazzadp commented on #1516
OK let's change it. Will wait until we land #1523 (needed to allow us to move) and #1508 (touches these files) and then submit a PR to move it.

[2020-11-16 10:26] lex111 commented on #923
Hi everyone, I would like to help translate the content into Russian. Is it still possible?

[2020-11-16 10:32] bazzadp commented on #923
Absolutely! Always happy to have more volunteers! We've issue #587 for this but didn't make any progress on it so it was closed. Just sent you an invite and will assign that task to you once you accept that and I can answer any questions you might have in that issue.

[2020-11-16 15:25] AbbyTsai commented on #1516
got these warm notes. thanks.

[2020-11-16 17:52] alexdenning commented on #915
@bazzadp sure!

Bio:

Alex Denning is the Founder of Ellipsis Marketing, a marketing agency for WordPress businesses. Alex is a WordPress Core Contributor and has helped organise WordCamp London.

Website: getellipsis.com

Let's use the same intro quote as last year:

Stats:

1. 42% of web pages are powered by a CMS
2. 1.5g of CO2 emitted by the median CMS page load
3. 74% of sites using a CMS use

[2020-11-16 23:40] bazzadp commented on #915
Added these in https://github.com/HTTPArchive/almanac.httparchive.org/pull/1513/commits/21d0a099266b2b86b2ad3543d6401fa6bb75eddb and https://github.com/HTTPArchive/almanac.httparchive.org/pull/1513/commits/ffb9806d3bcf1110bc1ae23bd53ce2f61e931a53. You can edit yourself as as you do the contents of that chapter in that open pull request.

[2020-11-16 23:51] tomvangoethem commented on #906
@max-ostapenko I added the results of the cookie attributes to the sheets; you can check the visualisations [here](https://docs.google.com/spreadsheets/d/1T7sxPP5BV3uwv-sXhBEZraVk-obd0tDfFrLiD49nZC0/edit#gid=253049761). Let me know if you have any comments/suggestions!

[2020-11-17 09:24] bazzadp commented on #1516
Definitely should change this as Google doesn't like it:

![Google Search Console International Targeting](https://user-images.githubusercontent.com/10931297/99371280-9d1cc780-28b6-11eb-9778-0d0abe98f7af.png)

[2020-11-17 22:17] dotjs commented on #921
The first draft is close enough for review. There are a few questions already raised regarding the HTTP_VERSION of HTTP/2+gQUIC and QUIC. Could @gregorywolf or @barrypollard please confirm the QUIC version in particular. There is a bit more work on H3 in practice and conclusion. I'll try and review that with Lucas tomorrow.

[2020-11-17 23:10] #1471 closed

[2020-11-18 00:13] bazzadp commented on #921
We observed two values in the August data:
- HTTP/2+QUIC/46
- QUIC

For the first, [this comment](https://github.com/HTTPArchive/almanac.httparchive.org/issues/921#issuecomment-716195295) further up from @DavidSchinazi says that http/2+quic/46 is sometimes also referred to as h3-Q046.

For the second I'm not sure what the version is. That's all that was reported. The `alt-svc` header has the follo

[2020-11-18 02:32] DavidSchinazi commented on #921
`quic` was the old Alt-Svc name for QUIC, and it communicated the specific version of QUIC using the `v` parameter.
In this case, `quic=":443"; v="46,43"` means the exact same thing as `h3-Q046=":443", h3-Q043=":443"`.
We deprecated that old `quic` format in version `h3-Q047`, so newer versions such as `h3-Q050` no longer use it.

[2020-11-18 10:17] bazzadp commented on #921
OK so based on that both `QUIC` and `HTTP/2+QUIC/46` is basically IETF QUIC? And probably draft 46. Any reason why we have two values for that?

Also it means that gQUIC is basically not measured - which ties in with last year when we didn't see gQUIC in our stats despite it being used, and saw it captured under HTTP/2.

If that all correct? Or am I misunderstanding this?

If so, @dotjs it seems l

[2020-11-18 10:27] rmarx commented on #921
I wouldn't say that Q046 is entirely the same as IETF QUIC (there's no such thing as draft 46), but that it's also not the original gQUIC anymore, but kind of an in-between version with gQUIC evolving to IETF QUIC over time (correct me if I'm wrong, @DavidSchinazi).

I don't think that type of nuance necessarily has to be conveyed here though and we can just name this HTTP/3 (though indeed mention

[2020-11-18 10:41] bharatagsrwal commented on #924
@rviscomi Hello!, I am Interested to contribute to the development.

[2020-11-18 13:29] bazzadp commented on #924
Welcome onboard @bharatagsrwal ! I've just sent you an invite there so you can be assigned issues. I suggest you clone the repo and get the site up running locally as per the README. You can do that directly or via Docker.

Then have a look at the good first issues or development issues as stated in the comment above yours.

[2020-11-18 13:46] bazzadp commented on #924
And pull request reviews of [any open development pull requests](https://github.com/HTTPArchive/almanac.httparchive.org/pulls?q=is%3Apr+is%3Aopen+label%3Adevelopment) are VERY much appreciated!

Plus join the `web-almanac-developers` channel on the [HTTP Archive Slack](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA)!

[2020-11-18 14:18] bharatagsrwal commented on #924
Thank you @bazzadp for the invitation.

[2020-11-18 15:09] nico3333fr commented on #539
BTW @bazzadp do you know when CSS in french will be deployed?

[2020-11-18 15:33] bazzadp commented on #539
Just did a quick deploy there now: https://almanac.httparchive.org/fr/2019/css

[2020-11-18 19:25] DavidSchinazi commented on #921
Here's the history: Google QUIC was a project at Google providing an alternative to TLS/TCP. At the time, the mindset was that we would run HTTP/2 over QUIC. When QUIC was brought to the IETF, the group decided to make more changes to the HTTP/2-over-QUIC layer and, after those, decided to rename HTTP/2-over-QUIC to HTTP/3. At that time, the IETF decided that the Alt-Svc for the HTTP/3 RFC would b

[2020-11-18 19:30] bazzadp commented on #921
Ah ok so I did get it completely the wrong way about 😀 Thanks for explaining.

So we only have gQUIC for the time of the crawl and no IETF QUIC (am sure that would be different if we crawled now but we’re basing our data on the August crawl). And so we should just treat QUIC and HTTP/2+QUIC/46 both as the same and as gQUIC.

[2020-11-18 19:39] DavidSchinazi commented on #921
Yes, anything that involves `http/2+quic/nn` or `Alt-Svc: quic` is guaranteed to be gQUIC

[2020-11-19 01:20] AbbyTsai commented on #1516
nice reminder in target audience by location and language.

[2020-11-19 07:20] PraveenPal4232 commented on #1402
Hi @bazzadp , I noticed you closed this issue. But some templates and chapters also need to be translated.
So should I create another Issue for that. Please Let me know...

[2020-11-19 07:31] bazzadp commented on #1402
That’s weird! It says it was closed in #1545 but that PR didn’t have [the magic words that automatically closes and issue](https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword) for this issue. Odd!

Reopened it anyway.

[2020-11-19 07:58] PraveenPal4232 commented on #1402
Great, I was also surprised :)

[2020-11-19 17:36] #1224 closed

[2020-11-19 21:53] bazzadp opened #1552 "Node Generate and Test scripts do not exit on error"
When `npm run generate` or `npm run test` fails it returns a zero error code.

It does show this in the logs:

[code]

So maybe that change will help us eventually but in the mean time we should error now.

Otherwise this masks errors and defeats the point in having tests. It led to #1551 urgent fix.

[2020-11-19 22:11] #1552 closed

[2020-11-20 00:10] bazzadp commented on #1229
Adding a coverage checker in #1555 and Editing the first comment to add the tasks that need completing.

Would love to get to 100% coverage and think that's easily achievable.

We can use `# pragma no cover` if we absolutely have to to exclude lines we don't need to test (e.g. Flask calls), but ideal we add at least one test for every line and [Flask gives guidance on how to test Flask apps](https

[2020-11-20 04:30] bharatagsrwal commented on #1450
Hey everyone, may I know which scripting or languages we will need to support for syntax highlighting capabilities

[2020-11-20 07:08] thefoxis commented on #905
@rviscomi can you point me to the CrUX's categorisations of `good|needs improvement|poor`? I know where those ranges live for LH/perf score calculation but I'm not quite sure if it's identical in CrUX's dataset 🤔 I just want to be able to reference it for each metric since you can't tell from the charts.

[2020-11-20 09:06] bazzadp commented on #1450
It's simple HTML, JS or CSS snippets. Though have one example of SQL.

Like this, [from the 2019 JavaScript chapter](https://almanac.httparchive.org/en/2019/javascript):

![JS Chapter code example](https://user-images.githubusercontent.com/10931297/99780680-b61fb580-2b0e-11eb-8734-ca468485ffe8.png)

Or this from the [2020 Capabilities chapter](https://almanac.httparchive.org/en/2020/capabilities#n

[2020-11-20 09:10] bharatagsrwal commented on #1450
Okay, If its only HTML, CSS, and JS then we might not need any Library or any other package for this, [https://www.w3schools.com/howto/tryit.asp?filename=tryhow_syntax_highlight](https://www.w3schools.com/howto/tryit.asp?filename=tryhow_syntax_highlight) we can take help from this and can implement easily in the frontend itself, Have a look at it, might help us in achieving this

[2020-11-20 09:37] bazzadp commented on #1450
That rainbow one might work and looks like it can be called from node too so my preference would be to use that as part of `generate_chapter.js` to get it to add the classes to the HTML

And then I'd also manually add the highlighting needed to `2019.css` rather than import another stylesheet just for this. I imagine we'd only use a few classes for JS, HTML, CSS and SQL.

[2020-11-20 09:45] bharatagsrwal commented on #1450
I completely agree with you @bazzadp there may be many CSS and JS which we are not going to use, that's why this rainbow thing is customizable also, so the languages which we are using, we can choose those only and it will include only that JS and CSS things.
as in the image, I selected a few only
![image](https://user-images.githubusercontent.com/43988371/99785188-d36e7700-2b42-11eb-93ac-a1a1be0e

[2020-11-20 09:57] bazzadp commented on #1450
Our markdown convert (Showdown) already converts this:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/9a4f3181c0051d88c10b9718f0d92c98040bb644/src/content/en/2019/javascript.md#L329-L331

to this:

[code]

So we could do something like this in ``generate_chaper.js`:

[code]

Which would add the classes in the generated HTML we serve server side. Then no need for client side JS at all

[2020-11-20 10:53] bharatagsrwal commented on #1450
Yes, @bazzadp I got your point, so should we give it a try?

[2020-11-20 10:53] bazzadp commented on #1450
Go for it!

[2020-11-20 11:42] #1516 closed

[2020-11-20 12:47] bazzadp opened #1558 "Code cleanup to move away from 2019 as a base"
Currently we have 2019 as a "base" for a lot of our code, and 2020 is an extension of that. I'd like to clean this up properly, to make it more obvious what's base and what's 2019. This will allow greater multi-year support, avoid confusion and also allow Translations to support just 2020, whereas currently they must support both 2019 and 2020.

Tasks to do:
- [x] - Move `src/templates/base/2019/`

[2020-11-20 13:02] bazzadp commented on #1468
Closing this as moved the remaining hero image issue to #1558

[2020-11-20 13:02] #1468 closed

[2020-11-20 15:15] tkadlec commented on #897
Starting to write and tease content. This is a really interesting point from Alex: https://twitter.com/slightlylate/status/1329801884949876736

Are we able to query framework usage by site popularity? I like Ilya's Head/Torso/Tail thing from this talk at performance.now() (see https://www.youtube.com/watch?v=vtIfVPtN6io&t=8m39s).

So I'm thinking, framework usage for Top 100, Top 10000 in addition

[2020-11-20 15:42] tkadlec commented on #897
Also, is there any value _at all_ in showing how much more JS bytes we're using today versus a longer time span than just last year? Like this?

![Median JS Bytes by year (Desktop)](https://user-images.githubusercontent.com/66536/99819033-8ecbe700-2b14-11eb-8609-51a9f314e46d.png)

I think it's interesting because it shows that we're not talking about a one-year trend here—we add more constantly. B

[2020-11-20 16:07] rviscomi commented on #897
Not currently. Other chapters have also been interested in a popularity dimension but we don't yet have a good ranking dataset that has good coverage of the HTTP Archive dataset, so I've been advising them not to rely on site popularity at all.

If you have a story to tell about that data, I'd be supportive of using it. You're right that there have been a few changes to the dataset, but I think th

[2020-11-20 16:49] rviscomi commented on #905
@thefoxis the thresholds used by CrUX for the CWV are defined at https://web.dev/vitals/#core-web-vitals

[2020-11-21 15:42] bazzadp commented on #586
Reopening for 2020 chapters. Probably should be a separate issue but as Japanese is only language that made the finish line with all the 2019 content, I've added the 2020 chapters to their issues so it's easier to be consistent.

[2020-11-21 15:47] bazzadp commented on #923
@HTTPArchive/translators the first 2020 chapter ([Capabilities](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/content/en/2020/capabilities.md)) has been edited, released, and is ready for Translation. The others are still being written and edited so not ready for Translation yet.

I've updated all your issues to add the 2020 chapters (only one for now) in the first comment,

[2020-11-22 10:37] #985 closed

[2020-11-22 23:18] Tiggerito commented on #899
Just an FYI, I gathered some data on the top meta tag name and properties:

https://docs.google.com/spreadsheets/d/1ram47FshAjzvbQVJbAQPgxZN7PPOPCKIK67VJZCo92c/edit#gid=704388228
https://docs.google.com/spreadsheets/d/1ram47FshAjzvbQVJbAQPgxZN7PPOPCKIK67VJZCo92c/edit#gid=1174860536

[2020-11-23 01:17] thefoxis commented on #905
@rviscomi gotcha! that's exactly what I had in mind :) what about FCP and TTFB values? where do those come from?

FYI I only have the geo sections (pending charts) + conclusion left, so if you want to read the draft as is and leave comments, you're more than welcome to! cc @obto

[2020-11-23 01:40] ksakae1216 commented on #586
I will start translate on sataday or sunday(11/28 or 11/29)

[2020-11-23 06:31] bharatagsrwal commented on #1450
For which one should I go with
![image](https://user-images.githubusercontent.com/43988371/99934253-83322780-2d83-11eb-8c18-a96bd567a1ec.png)

or

![image](https://user-images.githubusercontent.com/43988371/99934279-91804380-2d83-11eb-986d-6735ab4a2f92.png)

[2020-11-23 08:29] aleyda commented on #908
Hi @clarkeclark @natedame @catalinred @aysunakarsu @ashleyish @dsottimano @dwsmart @en3r0 @Gathea @rachellcostello @ibnesayeed ... after a few last weeks of going through some last insights we wanted to confirm the SEO chapter Draft has been finished and is now ready for your revision :)

Please note:

- Here's the [Reviewers'](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Reviewers'

[2020-11-23 08:29] bazzadp commented on #1450
I thought we'd agreed to do this as part of the site build above? So we don't need to include the JS at all client side, as the conversion will have already been done well before that.

Just need to add to `src/package.json` so it's included in `npm install` and then include the code from `src/generate/generate_chapters.js`.

[2020-11-23 08:33] bharatagsrwal commented on #1450
Yap that's what I have done and added its CSS to static folder
![image](https://user-images.githubusercontent.com/43988371/99941764-98fc1880-2d94-11eb-83c5-2d5af192d56d.png)
something like that

[2020-11-23 08:37] bazzadp commented on #1450
OK so no need to include the JS in the page then as won't be run again then.

As to what theme to use, that's an interesting question! Will need to have a look. But my thoughts are to include whatever theme's CSS directly in the `2019.css` file, rather than have another CSS file dependency (however light it is). also means we can customise it as much as we want so don't have to use the exact theme

[2020-11-23 12:58] bazzadp commented on #1222
Closing this as what we have is working for now and no feedback on desire to change it at this time.

[2020-11-23 12:58] #1222 closed

[2020-11-23 16:02] natedame commented on #908
@aleyda awesome!!! Forgive me if I'm just missing this, but.... Do you want us to "suggest changes" in the doc? I began on pages 27-28 and just want to be sure what I'm doing is what's expected.

[2020-11-23 16:36] aleyda commented on #908
Thanks for the question @natedame and probably useful for the rest of reviewers too!

Yes, please make use of the "[Suggestion](https://support.google.com/docs/answer/6033474?hl=en)" feature of Google docs to add suggestions and if you have questions/doubts, please leave them as comments and tag the person in charge of that topic so we can answer :) That's probably the easiest way to move forward

[2020-11-23 17:38] LeaVerou commented on #898
Hi reviewers @fantasai @mirisuzanne @j9t @catalinred @hankchizljaw !

Since we are only 16 days from launch, it may be a good idea to start iterating earlier, rather than later.
There are many sections whose draft is at a stage it could benefit from some review, namely those whose title does not include "[TBD]" or "[WIP]". Visualizations have not been added yet, though there are placeholders for t

[2020-11-23 17:48] j9t commented on #898
Hi @LeaVerou—this is probably very present for you, but which documents are you referring to? Is there an overview? (I can’t spot any pointers scanning this thread.)

[2020-11-23 18:13] svgeesus commented on #898
Hi @j9t [this document](https://docs.google.com/document/d/1Cy9acip1ZQScoQEeds5-6l1FFFBJTJr4SheZiQxbj-Q/edit?usp=sharing) which is linked from the first post in this issue

[2020-11-23 19:11] bazzadp commented on #899
@Tiggerito we’re adding the direct links from the Figures (see pull request #1570 but still early days). While working on this I noticed you haven’t included the `sql_files` param to the Graphics and only to the Tables. Can you do a pull request to add these params to each `figure_markup` call? That way people will be able to see your hard work!

Also (for everyone), you probably don’t want to hea

[2020-11-23 21:10] rviscomi opened #1571 "Publish 2020 Web Almanac "stories""
This issue will track the plan to publish one or more Web Almanac [stories](https://amp.dev/about/stories/). The purpose of the stories is to create an engaging way to showcase the stats from each chapter and market the report in web searches so that we drive organic growth in addition to all of our other social media marketing efforts. The current thinking is to create one story for each of the f

[2020-11-23 21:45] bazzadp commented on #1496
Presume this can be closed @rviscomi ? Reopen if I'm mistaken.

[2020-11-23 21:45] #1496 closed

[2020-11-23 21:48] bazzadp commented on #1016
Shall we close this now w're working on #1571 ?

[2020-11-23 23:33] Tiggerito commented on #899
@bazzadp done

[2020-11-24 02:32] en3r0 commented on #908
Thanks Aleyda, and when is the deadline for our revisions?

On Mon, Nov 23, 2020, 11:36 AM Aleyda Solis <notifications@github.com>
wrote:

[2020-11-24 03:29] rviscomi commented on #905
FCP and TTFB are more subjective and don't have official documentation. For reference the thresholds used by CrUX for fast/slow are:

FCP: 1.5s, 2.5s
TTFB: 0.5s, 1.5s

[2020-11-24 07:58] aleyda commented on #908
Thanks for the question @en3r0 and also think it will be useful for other reviewers so I copy them here: @clarkeclark @catalinred @aysunakarsu @ashleyish @dsottimano @dwsmart @Gathea @rachellcostello @ibnesayeed @natedame

From what I see the deadline to have the review ready is Nov. 26 which is in a couple of days already (!) and I know the target release date is on Dec 9, so it should be definit

[2020-11-24 09:54] borisschapira commented on #905
A quick word to say that I'm starting the review and posting comments on the doc.
I am French 🇫🇷 , and our culture teaches us to be quite direct. So I'll try to formulate things in a way that is appropriate, but I may not do it well. But I don’t mean to be rude. Even if I comment some things as food for thoughts, it's only out of constructive criticism. Because I find that the work that has been d

[2020-11-24 12:49] natedame commented on #1016
Hi @rviscomi @bazzadp and @obto , I'm very excited about what's happening in #1571 . #1237 is also quite neat. Honestly, I'm quite sorry I wasn't able to give the idea of callout headlines more attention months ago. Never enough time in the day. Hopefully it was a helpful thought though!

I'm happy to close this thread out and all the others to continue. My apologies again for not giving this more

[2020-11-24 12:52] #1016 closed

[2020-11-24 13:59] bazzadp commented on #908
Just had a (very quick!) scroll through this and it looks fantastic! Well done all.

I made a few comments, mostly on general project level stuff.

And just to warn you, there will be a round of editing once you're finished, by someone on the Editing team to catch things like that, and have a different pair of eyes outside of the immediate content team. The level of editing often catches some Auth

[2020-11-24 14:30] aleyda commented on #908
Thanks for your kind feedback and heads up @bazzadp - I'm already taking a look at your comments and started to edit accordingly.

I wasn't aware of the markdown document version we need to generate, I'll take a look at that to prepare accordingly cc @fellowhuman1101 @ipullrank check this out please too!

[2020-11-24 17:41] j9t commented on #898
Leaving some feedback here that I couldn’t quite leave in [the doc](https://docs.google.com/document/d/1Cy9acip1ZQScoQEeds5-6l1FFFBJTJr4SheZiQxbj-Q/edit#). This was a first scan, I’m on standby to help where I can.

* General feedback: This is already great! You’ve collected a huge wealth of information and the doc will make more for a meaningful snapshot of where we are with CSS in 2020. I think

[2020-11-24 17:51] rachelandrew commented on #898
I just added an initial draft of layout.

Is someone doing a copy edit of this? I know we have tech editors/reviewers.

[2020-11-24 18:05] bazzadp commented on #898
Yes there will be a copy edit once Authors and Reviewers are finish and have converted to Markdown and committed it to Git - see #1432 .

The expectation, however, is that the Authors and Reviewers have it in a state they'd be happy to publish, to help ease that load on editing and then copy editing is to get a consistent style across the chapters and have an independent pairs of eyes on it from a

[2020-11-25 03:40] thefoxis commented on #905
@borisschapira no sweat 🙂 English is my second language too and the Poles are apparently also very direct so I know what you mean. any feedback appreciated! I already responded / acted on some of your comments. all good finds 👍 thank you! ⚡

[2020-11-25 03:47] rviscomi commented on #878
Hi @ahmadawais any update on the status of the first draft?

[2020-11-25 03:47] rviscomi commented on #914
@rockeynebhwani any update on the status of the first draft?

[2020-11-25 14:38] dwsmart commented on #908
Doesn't look like I can leave suggestions on the doc, I'm guessing because my google account email is different to my github one? I requested access.

[2020-11-25 14:48] aleyda commented on #908
Hi @dwsmart - I just gave you access with the tamethebots one :) can you please try?

[2020-11-25 14:50] dwsmart commented on #908
Hey @aleyda, Rick was kind enough to let me in!

[2020-11-25 15:08] aleyda commented on #908
Perfect @dwsmart - I see your comments there already :)

[2020-11-25 15:47] bharatagsrwal commented on #1450
I have created a pull request [https://github.com/HTTPArchive/almanac.httparchive.org/pull/1574](https://github.com/HTTPArchive/almanac.httparchive.org/pull/1574), please check it once.

[2020-11-25 17:49] rviscomi commented on #917
@roryhewitt @csswizardry @jzyang @jaisanth @Soham-S-Sarkar @raghuramakrishnan71 All: the draft is looking great, thank you for all of your hard work! If all of the reviewers read it and left their feedback then this is in great shape to go out in the launch in two weeks. For any reviewers who haven't gone through it yet, please try to do that before next week to keep us on schedule. Thanks!

[2020-11-25 17:51] rviscomi commented on #921
@dotjs @MikeBishop @LPardue @rmarx @ibnesayeed @pmeenan @Nooshu @gregorywolf @bazzadp @gregorywolf All: this chapter's draft is looking great, thank you all for your hard work! If all reviewers have already read it and left their feedback then we're in great shape to have it ready for the launch in two weeks. If not, please try to submit all of your feedback by the end of the week to keep us on sc

[2020-11-25 17:57] rviscomi commented on #907
@aardrian I don't have your email address, so can you request edit access in the [doc](https://docs.google.com/document/d/1Z8CVLfTQv2WRl0PUGnRFSfH5_V6qE2JUJzy2ytJ1kjU/edit?usp=sharing) so you can review and leave your feedback? We're hoping to get the draft finalized this week.

[2020-11-25 20:03] rviscomi opened #1578 "Data viz CSP error"
Discovered on https://almanac.httparchive.org/en/2019/performance#fcp-by-geography

![image](https://user-images.githubusercontent.com/1120896/100276318-54f14b00-2f2f-11eb-9b74-5d7b2dca1d92.png)

[2020-11-25 20:11] bazzadp commented on #1578
Sounds like Google Docs is wanting you to log in for some reason before displaying the chart. Mostly shouldn’t need this.

Not much we can do about this to be honest as Google (quite rightly) doesn’t allow framing of their account login page: https://securityheaders.com/?q=https%3A%2F%2Faccounts.google.com&hide=on&followRedirects=on

[2020-11-25 20:16] rviscomi commented on #1578
Yeah I think you're right. I opened the iframe URL in a new tab and it prompted me to log in again. It was some kind of corp/personal account mismatch thing. Sorry for the false alarm, I think we can close this.

[2020-11-25 20:16] #1578 closed

[2020-11-25 21:09] ipullrank commented on #908
Just so I understand what's being referenced here
<https://t.sidekickopen06.com/s1t/c/5/f18dQhb0S7lC8dVcQLW1BKgCc5_6WxgN3LyZZyq5gqBM63LG56Qwn7W2t4yPV2z6ptBf1-9Bn-02?te=W3R5hFj4cm2zwW3P28X24hCPvhW43T4Nl34n_bXW49JGyr4kCBw3W3ZYxGx3z8gWjW4fNSkh49JGyrW4kCBqB49Ldr_W3T03Vt2zY68yW49KwrL2C_GxsW3JyYYR43myvQW1GHbH345SzNfW3SYkW11GBcSWW1Gy-H_3zhs7RW3NB9bX3P78r32273&si=4864404790706176&pi=dbe8635c-eb22-436b-ab8

[2020-11-25 21:37] bazzadp commented on #908
We use both the images (mobile) and embedded Google sheets (desktop). We have a Markup Function to take in both the image filename (which should be added to Git) and the Sheets embed URL and it will display the appropriate image depending on device size and device capabilities.

You can see the 2019 SEO chapter makeup here (including examples of that figure markup): https://github.com/HTTPArchive/

[2020-11-25 21:39] ipullrank commented on #908
Thanks for the clarification Barry.

-Mike

On Wed, Nov 25, 2020 at 4:37 PM Barry Pollard <notifications@github.com>
wrote:

--

<http://ipullrank.com/>

*Michael King*FOUNDER/MANAGING DIRECTOR

*2020 Search Engine Land Awards Search Marketer of the Year*
mike@ipullrank.com
(347) 391-4266
We are a better performance marketing agency.
Just need marketing advice? Request a call *here*
<http://clarit

[2020-11-25 21:56] bazzadp commented on #908
Oh and one more thing, the 2020 SEO Markdown file, with the meta data (some of it with TODO placeholders that we need you to fill in), has already been created for you here: https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/content/en/2020/seo.md

Authors should review the team make up, and the TODOs in this meta data:
- Have we credited all the Authors, Reviewers and Analysts o

[2020-11-26 05:48] AbbyTsai commented on #924
glad to have a fun opportunity contributing web-almanac project as translator, analyst, and hope development as well.  thanks.

[2020-11-26 12:12] bazzadp opened #1582 "Review 2020 contributors before launch"
There's been some change in teams as new people have come on board and others have unfortunately not had the time they hoped to have to contribute. So this is a placeholder to review the 2020 contributors (Authors, Reviewers and Analysts) in 2020.json before launch to make sure they accurately reflect those involved.

[2020-11-26 14:46] LeaVerou commented on #898
Thank you!

Could you elaborate? Is there a different order you'd recommend?

I do like my exclamation marks 😛 But feel free to remove any obviously superfluous ones (or use the "suggest edits" feature if you’re not comfortable directly removing)

It's a little late to add additional metrics, the call for metrics was in July... However I'm intrigued by this and I think it could be an interesting m

[2020-11-26 19:02] dsottimano commented on #908
Can I have suggest privilege in the document please?  dsottimano@gmail.com

@Aleyda Solis <aleydasolis@gmail.com>
ᐧ

On Wed, Nov 25, 2020 at 9:50 AM Dave Smart <notifications@github.com> wrote:

--
*David Sottimano*
Independent Marketing Consultant
https://www.davidsottimano.com
dsottimano@gmail.com

[2020-11-26 19:11] aleyda commented on #908
@dsottimano access granted :)

[2020-11-26 20:18] ibnesayeed commented on #908
I have skimmed through the first few pages, suggested some changes, and provided some generic feedback. I would appreciate if @aleyda could revisit the rest of the document in the light of my primary comments so that I do not need to repeat the same ideas throughout. Here is a summary of common issues I noticed so far.

* Contractions were used frequently, which are often discouraged in technical

[2020-11-26 20:40] aleyda commented on #908
Hi @ibnesayeed - I've been applying already what you have noted, I might have had a harder time on this since English is my third language, however as @rviscomi pointed out already in the document, the focus of the review should be rather in the technical side rather than the style since there will be editors later in the process reviewing that, so your time might be better spend in that :) Cheers

[2020-11-26 21:30] max-ostapenko commented on #908
@obto Please exclude me from the analysts on this chapter, as other guys did all the work here.

[2020-11-26 22:10] antoineeripret commented on #908
@bazzadp, several questions on that:

1. How do you generate the chart_url argument included in [last year chapter](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/content/en/2019/seo.md)? I'm sure the answer is obvious but I'm not sure how the link is generated from the graph in Sheets.
2. Regarding static images, where should we upload them? In the /src/static/images/2020 fo

[2020-11-26 22:24] Tiggerito commented on #908
Unfortunately I was not involved in the markdown phase for the markup chapter. I think the authors did it all (phew!). So, at the moment I have no knowledge in this area 😢

The Markup chapter is mostly complete, so would be a good place to reference for best practices.

[2020-11-26 23:23] bazzadp commented on #908
In the top right hand corner of the chart in Sheets you should see three dots. Click on that and you get the option to Publish the chart:

![Publish Chart](https://user-images.githubusercontent.com/10931297/100396217-43499980-303c-11eb-9667-0f548cf51b9d.png)

On the next screen you want to click on Embed rather than Link. Click Publish, and you should be given an iFrame snippet including the `src`

[2020-11-27 09:11] antoineeripret commented on #908
@bazzadp @Tiggerito: I'll take care of that between tomorrow and Sunday as today is a very busy day. There isn't that many images to generate so I don't think I'd spend that much time on that part.

That being said, @aleyda I may tag yourself and Mike / Jamie on the Google Docs to validate the captions / descriptions attributes I add for each of them, just to be sure you're confortable with the te

[2020-11-27 09:25] aleyda commented on #908
Perfect :) thanks @antoineeripret! Looking forward to your tags cc @ipullrank @fellowhuman1101

[2020-11-27 11:41] ibnesayeed commented on #921
The chapter looks in a very good shape. I have provided some feedback.

[2020-11-27 13:03] j9t commented on #898
I filed https://github.com/LeaVerou/css-almanac/issues/54 for declaration repetition.

On the other items I’ll either follow up in the doc or wait for additional calls for review to check again.

[2020-11-27 16:50] en3r0 commented on #908
Hey Aleyda,

Sorry I am a bit late with my review with the US Holiday, I requested edit
access, but have not received it yet.

With the deadline past, I wanted to include my revisions here, but can also
edit the doc when access is given:

Original Line: Also,  HTTPS is a requirement to capitalize on higher
performing protocols such as HTTP/2 and HTTP over QUIC aka HTTP/3.
Suggested Revision: Also,

[2020-11-27 17:44] aleyda commented on #908
Thanks @en3r0, really appreciate your feedback! I just applied your changes requests to the doc already. If you want I can give you access too, just let me know your email :)

[2020-11-27 19:12] exterkamp commented on #905
Thanks for looking at my comments @thefoxis! I had a small nitpick with CLS, and ended up reading the whole chapter because it was such a good read.  Really well written all round 💯

[2020-11-27 19:16] rviscomi commented on #905
Thanks for the review @exterkamp. Could you add yourself to the [contributors list](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/config/2020.json#L213)? (alphabetical by first name)

[2020-11-28 03:49] dsottimano commented on #908
I'm all done, left a few comments and sorry for being late.  Great work folks!

[2020-11-28 07:37] aleyda commented on #908
Thanks @dsottimano! Great input :) I've applied all your edits/requested. Regarding the Web Vitals metrics/explanations: please keep in mind the existence of the performance chapter, that will be the "main" source of information about this topic (so we should try to avoid overlaying too much) and to which we will refer/link to point out major concepts/metrics.

[2020-11-28 13:40] antoineeripret commented on #908
@aleyda, @bazzadp:

* Files added to a fork of the repository. Should I create a pull request to the main one?
* I added the markup code as a suggestion on the main Google Docs. You can review the content whenever you want. I mainly used extracts of the chapter - which was very descriptive - even though I sometimes rephrase it a little bit.

[2020-11-28 14:41] bazzadp commented on #908
@antoineeripret spotted a few issues with the markup (my fault mostly for not telling you there are some differences from last year). Made a comment against the first one but it applies to them all.

Could we create a branch in the main repo (called `seo-chapter-2020` maybe?) and add these images and open a Draft PR? That way @aleyda could also add the markup to the same branch and then we can mer

[2020-11-28 14:59] bazzadp commented on #909
@thepassle @jadjoubran @pearlbea @gokulkrishh @jaisanth @logicalphase any further comments on @hemanth 's draft?

Would be good to move this forward into converting this to Markdown but we should make sure you've all reviewed and fed back any commands before then as easier to manage the chapter in Google Docs initially.

[2020-11-28 15:02] thepassle commented on #909
Sorry, I missed this. I'll take a look and dive in tomorrow 🙂

[2020-11-28 15:06] antoineeripret commented on #908
@bazzadp: seen and understood! I'll apply the modifications later today and create the branch you just mentionned :)

[2020-11-28 22:03] antoineeripret commented on #908
@bazzadp:

* Draft PR created with the files (with better names as suggested)
* Markup code upadted in the Google Docs following your instructions

@Tiggerito: I have not helped you at all on the Lighthouse metrics and I'm not sure that metrics displayed in our bar charts come from the lighthouse.sql query. Can you confirm that?

[2020-11-28 22:05] aardrian commented on #907
@rviscomi Spent the week mostly offline for the holiday. Got your email, have opened doc to review.

[2020-11-28 22:13] bazzadp commented on #908
Good stuff @antoineeripret !

@aleyda is the chapter ready to move to Markdown yet or still want to change it in Google Docs? I can do a quick conversion tomorrow, add it to @antoineeripret ’s branch and pull request, then do a test release so you can get a feel for what it looks like. Then you can make any further edits in GitHub from then on until we’re happy to merge it.

[2020-11-28 22:17] aleyda commented on #908
Thanks @antoineeripret :)

@bazzadp There are just a couple of comments/conversations pending at the moment: from @borisschapira that have been answered by @fellowhuman1101 - Could you please take a look Boris so we can move forward? Thanks a lot :)

[2020-11-28 23:01] Tiggerito commented on #908
Those charts and associated data came from extra tabs added to the sheet. I think Jamie (@fellowhuman1101) added them.

[2020-11-29 01:11] rviscomi commented on #907
@aardrian great, thanks! Hope you don't mind me snooping around for your email address :)
And hope you had a nice holiday.

[2020-11-29 01:20] aardrian commented on #907
@rviscomi Do not mind at all; glad you did, in fact, since it was the Docs notification that I saw (not GH).

Anyway, I left comments. I hope I did what you needed/expected.

[2020-11-29 01:39] ksakae1216 commented on #586
@bazzadp  I report to you about capabilities.md.

1. I found not enough 'js' 204, 232 row.
2.  What is "pf" of "pf page loads" 290 row?

[2020-11-29 01:53] rviscomi commented on #907
Yes, thanks for the thorough review it looks great! Between all of the reviewers it looks really solid.

[2020-11-29 01:57] rviscomi commented on #586
@ksakae1216 thanks for pointing those out! I've fixed those typos in #1591.

[2020-11-29 11:47] bazzadp commented on #908
I think if that's the only thing we're waiting on we can move to Markdown. I've done that in #1589 and will pick up the conversation there.

[2020-11-29 13:38] gokulkrishh commented on #909
@hemanth @bazzadp Add a few suggestions via comments doc. Feel free to reject it if you feel it is not accurate. Awesome work on the doc people. Excited for the full report of web almanac 2020 and CDS 🤗

[2020-11-29 14:30] noamr commented on #905
A great read! I'm reviewing the material now, prepare for some comments :)

[2020-11-29 14:36] ibnesayeed commented on #1138
Moving discussion from https://github.com/HTTPArchive/almanac.httparchive.org/pull/1589#issuecomment-735402716.

I would suggest we make the `Show description of Figure N.M` less prominent. Instead of giving this repetitive phrase a line after each figure, we could just add an icon next to the figure caption for the curious ones. However, if the description is something would would like to show ev

[2020-11-29 14:49] bazzadp commented on #1138
My vote would be to keep the button as is. The point of this is to make it available for visually impaired readers (not all of whom will be using screen readers with access to `aria-describedby` which links to this text). In fact in #854 we were asked to make this description more available to everyone which ic what led to the button as it appears now. I worry that hiding it under an icon, or unde

[2020-11-29 15:45] thepassle commented on #909
Just went through the draft and left some comments 👍 Nice work so far

[2020-11-29 16:54] rviscomi commented on #1138
I'd like to explore ways to keep the "Show description" functionality accessible and discoverable while tidying up the UI. I do wonder if it would be a better fit in the figure menu options with the other metadata. I've reread #854 and my understanding is that it was important to make long-form descriptions of figures available to everyone, but the prominence of the show/hide functionality wasn't

[2020-11-30 01:49] thefoxis commented on #905
thanks @noamr and @exterkamp! good comments all around, I’m addressing it along @rviscomi’s feedback :) a few more bits to go, but I can see the end now 🎉 glad you enjoyed reading so far!

[2020-11-30 02:46] rviscomi commented on #914
This chapter is far behind and in danger of not being ready by launch. :(

[2020-11-30 03:09] roryhewitt commented on #917
@rviscomi unfortunately I have to deal with a family health issue for the next week. I started the conversion to MD, but didn't get very far before this happened. What should I do - Will someone else be able to do the conversion, or can it wait until I'm available (which will probably be next weekend)?

[2020-11-30 03:40] rviscomi commented on #900
@tpiros @bseymour could you update the milestone checklist at the top of this issue to reflect this chapter's current status? That helps us see how far along everyone is at a glance in #989. Thanks!

[2020-11-30 04:18] rviscomi commented on #917
@roryhewitt I'm sorry to hear that, take as much time as you need. During your absence, is there anyone else you'd recommend to complete the markdown conversion and/or make content decisions during the PR and editorial reviews? It looks like @jzyang has been the most reviewer based on Docs comments, so maybe they're a good candidate if interested and willing.

I've added a [comment](https://github

[2020-11-30 06:20] raghuramakrishnan71 commented on #917
@roryhewitt i'm sorry to hear about your family health issue. take care.
@rviscomi
I can try and help complete the markdown conversion, if there is a guide or example on the conversion mechanism (maybe the 2019 markdown can be useful).

[2020-11-30 12:37] mo271 commented on #916
I started from a copy of the 2019 results here:
https://github.com/mo271/almanac.httparchive.org/commit/7950c200e44c32f4a8421796098352a50d35b0b1

[2020-11-30 17:57] fellowhuman1101 commented on #908
@bazzadp based on @borisschapira original feedback, I reworked the performance section to avoid duplication and focus relevancy to the SEO chapter audience.
cc: @rviscomi changes don't impact the markup

[2020-11-30 17:59] fellowhuman1101 commented on #908
@Tiggerito they've been removed to avoid duplication of the performance chapter.  (Were originally pulled from their workbook before the charts were revised to bar charts)

[2020-11-30 18:03] bazzadp commented on #908
Have these changes been done in Google Docs or in the Markdown? If in Google docs could you copy your changes across to [the Markdown version](https://github.com/HTTPArchive/almanac.httparchive.org/blob/seo-chapter-2020/src/content/en/2020/seo.md) as that's the golden copy now?

[2020-11-30 18:07] rviscomi commented on #917
That'd be great, thank you @raghuramakrishnan71! You can see the 2019 version of the markdown here: https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/content/en/2019/caching.md

For generating figures, see the guide: https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Figures-Guide

@roryhewitt used one such markdown conversion tool but you can see how much ext

[2020-11-30 18:10] aleyda commented on #908
Hi @bazzadp ! @fellowhuman1101 has just done these changes in the doc so I was going now to implement them in the markdown version... I'll do them now :)

[2020-11-30 18:11] bazzadp commented on #908
Good stuff! I've just pushed a fix for some of the headings to that branch too so once you're done I'll generate another test version so we can see what it looks like now. Let me know when done.

[2020-11-30 18:16] bazzadp commented on #917
Also feel free to reach out with any questions. I've become a bit of an expert at manually converting stuff to Markdown now! 😉 Also more than happy to review your conversion after and offer any advice.

[2020-11-30 18:29] aleyda commented on #908
I just updated @fellowhuman1101 :) Can you please take a look at the [markdown version](https://github.com/HTTPArchive/almanac.httparchive.org/blob/seo-chapter-2020/src/content/en/2020/seo.md)? Thanks :D

cc @bazzadp it's done from my side - feel free to do additional updates :)

[2020-11-30 19:14] rviscomi commented on #912
@christianliebel @tomayac thank you again for all of your hard work getting this chapter ready for launch. I have one last favor to ask: when you have a few minutes, I would love to hear your feedback about your experience contributing to the 2020 Web Almanac. We're always looking for ways to improve the process for future contributors, and your feedback will help steer us in the right direction.

[2020-11-30 20:35] christianliebel commented on #912
Done! Thanks again for your help and assistance. @rviscomi

[2020-11-30 23:01] max-ostapenko commented on #913
@ydimova FYI There is a cookie parameters data in [Security chapter](https://docs.google.com/spreadsheets/d/1T7sxPP5BV3uwv-sXhBEZraVk-obd0tDfFrLiD49nZC0/edit#gid=253049761), in case you wanted to share some insights.

[2020-12-01 02:44] rviscomi commented on #1582
Generally related to #1195, I've also been thinking that we should make the markdown metadata the source of truth for content contributors, as opposed to the yyyy.json files. That would help avoid problems like this where the annual config file says someone was a contributor, but none of the chapters have claimed them. Still an open question how to track platform contributors who have no attachmen

[2020-12-01 02:58] rviscomi commented on #1506
@obto any progress on this?

[2020-12-01 03:02] rviscomi commented on #1406
This is on my TODO list and I'm intentionally leaving it for last so I can write it with the context of the entire publication in mind. So no need to worry about it slipping past the deadline :)

[2020-12-01 03:07] rviscomi commented on #1390
Renaming the issue to focus on the EPUB format which should solve the centering issue in #1391 and the clickable links issue reported here.

[2020-12-01 04:34] thefoxis commented on #905
@obto @rviscomi I believe I addressed all existing feedback and added a conclusion. FYI I removed captions since I figured with the markdown format I'll just submit them with the PR; let me know if that's suitable. feeling pretty good about it! let me know if there's anything else.

@dimension85 @borisschapira @estelle @zeman @rviscomi @obto @noamr @ashrith-kulai @Zizzamia @exterkamp if you'd like

[2020-12-01 10:29] bazzadp commented on #1432
Added two new suggestions to Editors Guide:

* Check previous years chapters table of contents and flag to authors if any messing pieces, to ensure they didn't accidentally leave out an important section
* Check print version (add `?print` to URL) to ensure all images load (check for console errors is the easiest way of checking this).

[2020-12-01 12:37] LeaVerou commented on #898
Hi everyone,

I figured I'd post a progress update. At this point, we have most of the visualizations and missing numbers in place, and the draft is in much better shape. These are the things that still need to be done, please let me know if I'm forgetting anything:

- [ ] Introduction & conclusion (@leaverou though input from everyone is more than welcome!)
- [ ] Responsive Web Design section (@r

[2020-12-01 14:57] rviscomi commented on #1432
@bazzadp @rachellcostello  CMS is ready for editing, would either of you like to take that one?

[2020-12-01 16:38] svgeesus commented on #902
@jpamental @davelab6 is the conent being developed in another repo? I had a look at [the document](https://docs.google.com/document/d/15-rYqS-FqKWD0_32LdajEg0tD1Tm0KzgTYyLF2pQK8M/edit?usp=sharing) to start reviewing, but it seems empty except for the early outline.

[2020-12-01 16:52] rachelandrew commented on #898
I'll finish the RWD section tomorrow, sorry for the delay. I'd offered to do it then assumed someone else was, however I'll get it done.

[2020-12-01 16:57] obto commented on #905
@thefoxis Sounds like a solid plan to me. I'll look at it again this evening to see if I pick up on anything before we start the editing process :)

[2020-12-01 18:13] davelab6 commented on #902
Jason and I worked on the doc outline, folding in all comments inline, and
then it was Thanksgiving and while we both intended to contribute over the
holidays, we did not. I'm on a final week of paternity leave but I'll aim
to squeeze in an hour or two every night this week to get a fleshed out but
unedited article ready for launch.

[2020-12-01 18:15] rviscomi commented on #1229
Adding test coverage can be thankless work, so I want to make sure to say **thank you** @AbbyTsai and @bazzadp for working on this!

[2020-12-01 18:33] bazzadp commented on #1229
It appeals to my meticulous nature. 😁

[2020-12-01 21:32] Tiggerito commented on #908
A background on the Structured Data data. I'll post it here because it's quite a bit of info. @ipullrank

In 2019:

Full data...
https://docs.google.com/spreadsheets/d/1uARtBWwz9nJOKqKPFinAMbtoDgu5aBtOhsBNmsCoTaA/edit#gid=1844385215

Microdata itemtype values were checked for.

JSON-LD @type values and an attempt to check @context to a max depth of 5

So no detection of untyped entities. For the r

[2020-12-01 22:13] #921 closed

[2020-12-01 22:15] bazzadp commented on #1432
HTTP/2 is ready for editing.

I'll have a look at CMS in next day or two if no one else grabs it.

[2020-12-01 22:42] bazzadp commented on #909
@hemanth did you get a chance to look over and address the feedback? We need to start converting this ti Markdown is we want to make the launch date in one week's time.

[2020-12-01 23:44] svgeesus commented on #902
Not trying to rush you, just trying to contribute. I could also help with authoring, as well as reviewing, if you would like.

[2020-12-01 23:51] davelab6 commented on #902
Thank you Chris! Please dive in :)

[2020-12-02 01:24] rviscomi commented on #905
@thefoxis I'm excited to see this moving along! Thank you for your hard work getting it to this point. Can you open a PR to submit the markdown version of the draft? (the final milestone in the initial checklist)

I've stubbed out the [markdown file](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/content/en/2020/performance.md) already with some early metadata and you can see

[2020-12-02 01:26] hemanth commented on #909
@bazzadp I have addressed all the feedback comments, there is only one graph that's pending with more information, post which we must be good to convert it to markdown. 👍

[2020-12-02 01:39] rviscomi commented on #909
@hemanth that's great! I'd recommend that you start on the markdown conversion now and leave a placeholder for the outstanding graph, for example you can use a Jinja comment:

[code]

That way we can review the markdown in a PR while the data viz is pending. That should help keep this chapter on schedule while we wait.

[2020-12-02 01:42] hemanth commented on #909
@rviscomi Are we using any specific tool or any text to md CLI tool do?

[2020-12-02 01:46] rviscomi commented on #909
Whatever is easiest for you. Personally, I'll copy the plain text from the doc, paste it into a text editor, and manually add the markdown syntax. @bazzadp has also had some useful advice about the process [here](https://github.com/HTTPArchive/almanac.httparchive.org/issues/908#issuecomment-733957111) and [here](https://github.com/HTTPArchive/almanac.httparchive.org/issues/908#issuecomment-7339634

[2020-12-02 02:48] hemanth commented on #909
Had that as the second that, yeah, sounds like we are better off doing it manually, will start working on it.

[2020-12-02 03:12] rviscomi commented on #909
Sounds great, thanks for working on it

[2020-12-02 04:24] rviscomi commented on #1432
@HTTPArchive/editors Resource Hints is now ready for editing

[2020-12-02 06:53] thefoxis commented on #905
@rviscomi all done in #1608 👍

[2020-12-02 09:46] borisschapira commented on #539
I modified the title to focus this issue and 2019 translation.

For the translation of the 2020 contents, I propose myself for the coordination.

[2020-12-02 10:33] bazzadp commented on #539
I was actually thinking of tracking both 2019 and 2020 in this issue, but with priority on 2020 content. If you look at the first comment you'll notice I've added the Capabilities chapter as ready to translate. Also if you look above you'll see I actually changed it to drop the 2019 bit from the title 😀

![Title change](https://user-images.githubusercontent.com/10931297/100861424-b4001400-3489-11e

[2020-12-02 10:33] tomayac commented on #912
Likewise responded, thanks, @rviscomi!

[2020-12-02 11:30] borisschapira commented on #539
Sorry, I didn't see your previous modifications. The way you explain it makes sense, LGTM.

[2020-12-02 14:58] LeaVerou commented on #898
@j9t Good news: I did manage to query declaration repetition, you can find the results in this sheet: https://docs.google.com/spreadsheets/d/1sMWXWjMujqfAREYxNbG_t1fOJKYCA6ASLwtz4pBQVTw/edit#gid=2124098640
There are percentiles, for number of declarations, unique declarations, and ratios.

Do you think you'll be able to add a paragraph on it by tomorrow, either in the Meta section, or in the Usage

[2020-12-02 15:09] bharatagsrwal opened #1611 "Open contributors social links in new tab"
Should we open the social links of contributors in a new tab?, as current it opens on the same page and sometimes we lost where we were, so I was thinking of opening those links in a new tab instead of the current tab.

[2020-12-02 15:10] #908 closed

[2020-12-02 15:16] bazzadp commented on #1611
This was a conscious decision (see #827 ). Many say best practice is NOT to open in new tabs and leave in control of users (who can right click/hold down if they really want to open in new tabs) and there are [accessibility recommendations here too](https://www.w3.org/TR/WCAG20-TECHS/G200.html). Back should in most cases return the user back to the same place.

At the very least, if opening in new

[2020-12-02 15:18] bazzadp commented on #1432
@HTTPArchive/editors HTTP/2 and SEO is ready for editing

[2020-12-02 15:59] obto commented on #905
@thefoxis Just finished reading the chapter and quite enjoyed it. Great job. Just had a few small questions and suggestions I left in the Google Doc :)

[2020-12-02 16:44] j9t commented on #898
Awesome! Very cool to see this. Happy to write down something. I’d have a question related to the data though—can you give me comment access? (I need to check on “unique_ratio” and why it doesn’t seem to reflect unique/total—maybe I miss something silly, maybe there’s something we need to update.)

[2020-12-02 16:53] rviscomi commented on #898
Granted!

[2020-12-02 19:11] hemanth commented on #909
#1613 is ready with MD.

//cc @rviscomi @bazzadp

[2020-12-03 05:14] rviscomi opened #1616 "Combine contributor bylines"
In the rare case when a single contributor is both author and analyst or reviewer and analyst, combine their bylines into one.

Current behavior:

![image](https://user-images.githubusercontent.com/1120896/100966915-0548eb80-34fc-11eb-930a-99b5a3b19d3a.png)

Desired behavior:

![image](https://user-images.githubusercontent.com/1120896/100967113-6a044600-34fc-11eb-985c-3019df331724.png)

This is lo

[2020-12-03 05:52] rviscomi opened #1617 "Fixed position chapter CTAs"
At the bottom of each chapter we have three calls to action (CTAs) that we suggest to readers if they'd like to continue learning about the topic:

- discuss it in the comments
- view the raw results spreadsheet
- view the underlying queries

![image](https://user-images.githubusercontent.com/1120896/100968882-2ca1b780-3500-11eb-956f-90b86d90eb77.png)

I'd like to see a design that affixes these b

[2020-12-03 06:24] rviscomi opened #1619 "Improve slugification of special characters in headings"
Slugs are the anchor IDs generated from headings. Some special characters are stripped out, the text is converted to lowercase, and spaces are replaced by hyphens. This allows the slug to be used as an anchor in the URL.

In the 2020 HTTP/2 chapter, one heading reads "Looking Toward the Future: HTTP/3". The corresponding slug is `looking-toward-the-future--http3`. Note the double hyphen near the e

[2020-12-03 06:33] bazzadp commented on #1619
These are generated automatically by Showdown so we’d need to either fix upstream, or hack the HTML produced post-conversion.

However we can override it by telling Showdown what anchor of to sue. And this was the solution introduced in #1464 to also handle `<span lang="en">` attributes in the translations.

So replace this:
[code]
With this which includes the desired anchor id:
[code]

[2020-12-03 06:37] rviscomi commented on #1619
Oh wait, seeing it in monospace in your comment made me realize why it got a double hyphen: there are two spaces before "HTTP/3". This should be fixed in the heading itself.

[2020-12-03 06:37] #1619 closed

[2020-12-03 06:45] bazzadp commented on #1616
This is presumably only when the bylines are exactly the same?

So in above example if there were additional reviewers we shouldn’t be merged despite Thomas being in both bylines? And similarly if there where additional analysts that would prevent the merge?

However if an Barry was both an additional reviewer and analyst then the Reviewr and Analyst sets are still the same so they can be merged.

[2020-12-03 06:50] rviscomi commented on #1432
Added a note to the editors' wiki about using the `numeric` class on tabular figures. See this before and after:

![image](https://user-images.githubusercontent.com/1120896/100973855-5b705b80-3509-11eb-8c96-6ede22d4be03.png)
![image](https://user-images.githubusercontent.com/1120896/100973881-63300000-3509-11eb-9f00-f69394420dbd.png)

It's a minor change but right-aligning makes the decimal points

[2020-12-03 07:04] rviscomi commented on #1616
Yes, correct

[2020-12-03 12:15] MaedahBatool commented on #878
🙌 @ahmadawais I have reviewed the document in suggestion mode. Please review it. The chapter looks pretty good and informative. Looking forward to getting it published.

[2020-12-03 12:16] ahmadawais commented on #878
Thank you @MaedahBatool

[2020-12-03 13:26] ahmadawais commented on #878
@rviscomi @obto the chapter is ready. It's already been reviewed. I plan to convert it into markdown and send in a PR tonight.

- Thank you @denar90 @remotesynth for your work on the analysis of this data
- Thank you @MaedahBatool for the review. @phacks if you can take a look at it that would be great too.

Looking forward to the launch in a couple of days. Woohoo! 🥳🥳🥳

[2020-12-04 09:02] tpiros commented on #878
@ahmadawais let me know if you'd like me to review this as well? Sorry got tied up with my chapter (pretty late...) but would love to add my input if it's not too late.

[2020-12-04 11:13] phacks commented on #878
@ahmadawais Had a blast reading the chapter, thank you very much alongside @denar90 @remotesynth @MaedahBatool for all your work! Sorry I couldn’t help more this year.

I’ve reviewed the chapters and left comments and suggestions, feel free to integrate/discard/ask me precisions for any of those. Happy to implement some myself as well if you’d like me to!

[2020-12-04 18:55] rviscomi opened #1629 "Fix typography of Featured Chapter home page section"
The "25.24 KB" part of the Markup chapter's featured stats appears like a bug:

![image](https://user-images.githubusercontent.com/1120896/101203087-2d3d6980-3638-11eb-8ae6-c590b831935c.png)

If possible, use nowrap to prevent stats from breaking onto multiple lines (labels are long and can still wrap).
If not possible, add more line-height to the stats so that wrapped text has more visual space.

[2020-12-04 19:11] rviscomi opened #1630 "Launch the 2020 Web Almanac 🚀"
### Launch checklist

#### Content
- [x] Home page content updated - PR #1651
- [x] Foreword added #1406
- [x] All viable chapters added #989
- [x] Update contributors #1582 #1654

#### QA
- [x] Staging version deployed: https://20201209t155443-dot-webalmanac.uk.r.appspot.com
- [x] Staging site manually tested for basic functionality
- [x] Automated tests of the staging site pass (LH audits)
- [x]

[2020-12-04 20:58] bharatagsrwal commented on #1629
![0b3e9788-15a9-4f16-a850-f6c2571deaeb](https://user-images.githubusercontent.com/43988371/101214062-61994000-36a1-11eb-8b88-f9d375c7eaf6.gif)

Could you please help me with the screen size? as I tried in responsive in chrome dev tools.

[2020-12-04 21:12] ahmadawais commented on #878
Thank you for your input @phacks — no worries @tpiros it's already done and launching in a day or two so. Thank anyways.

Formatting it was a lot of work. Took me several hours. Finally, all done!

![](https://mashable-evaporation-wordpress.s3.amazonaws.com/2013/07/The-Office.gif)

[2020-12-04 21:29] rviscomi commented on #1629
Hi @bharatagsrwal my viewport width is 1176px with a DPR of 2

[2020-12-05 05:16] davelab6 commented on #902
Quick update for everyone following here - I sadly failed to deliver in the last few days, but very graciously @raphlinus has stepped up and will be filling up that draft doc in the next day or two, and I aim to review on Sunday/Monday, such that the first draft can go to Rick and team on Tuesday.

[2020-12-05 06:24] rviscomi opened #1633 "Custom markdown editor"
This year I've heard of a few content teams struggle to get their Docs draft converted into markdown for publishing. That's got me thinking about ways to streamline the process and one idea is to have a custom editor for authors to write in markdown format and preview how it would look. It would effectively be an interactive web app version of our watch/generate scripts.

The author workflow would

[2020-12-05 06:33] hemanth commented on #1633
I had a similar thought, I think we should go for it, having highlight and comment and reply on comments and a chat area would be good to have too.

Also, it would be nice to have an area where we can generate the required graphs too? (So, everything is under one hood)

[2020-12-05 07:16] bazzadp commented on #1633
OK so all we're looking for really is a simple to install, lightweight, cross-platform program with the power of Chrome, Visual Studio Code, Slack, and GitHub Desktop with an in-built node and python interpreter that allows running of Flask/Jinja2?

I think you may need a little sleep there all right! 😁

The much better option IMHO is to just install Docker and run one command to have the environm

[2020-12-05 11:33] bharatagsrwal commented on #1629
![image](https://user-images.githubusercontent.com/43988371/101216891-5563b180-36a6-11eb-971e-85e7a68245d9.png)

Hey @rviscomi, I am trying to reproduce it but I am unable to get this exactly
I have tried on various widths from 890 to 910 and many others

![5a7c4c5b-a7d1-410b-b5f3-a2e0d924b558](https://user-images.githubusercontent.com/43988371/101241401-a06bdc00-371b-11eb-94ad-5eeac875163f.gif)

[2020-12-05 11:54] bazzadp commented on #1629
Ok but no harm adding a `no-wrap` class around these figures anyway? M

I actually added such a class in #1602 for a different reason - though I put it in page.css and we should move it to 2019.css as part of this so index.html can use it too as it doesn’t load page.css.

[2020-12-05 17:04] rviscomi commented on #1633
Well when you put it like _that!_ ;)

For an MVP, I think an app that only shows how the markdown would be rendered (Edit/Preview) will go a long way. All of the wishlist items are nice to have in an integrated way, but they add complexity and we already have functioning workflows to handle them.

I was thinking that the MVP wouldn't be too unreasonable because we seem to have all of the pieces al

[2020-12-05 17:22] bharatagsrwal commented on #1629
Okay cool, adding `no-wrap` class in `2019.css` and using those classes in index.html where stats are shown

[2020-12-05 17:37] bharatagsrwal commented on #1629
Hey @rviscomi, @bazzadp I have created a pull request [https://github.com/HTTPArchive/almanac.httparchive.org/pull/1634](https://github.com/HTTPArchive/almanac.httparchive.org/pull/1634), have a look at this

![image](https://user-images.githubusercontent.com/43988371/101259364-7b449100-374e-11eb-941d-8595d364aea0.png)
without `no-wrap`

![image](https://user-images.githubusercontent.com/43988371/

[2020-12-05 18:04] chengxicn opened #1635 "Issue with the 2020 Capabilities chapter"
**URL**
https://almanac.httparchive.org/en/2020/capabilities
**Describe the issue**
Figure 13.8, Periodic Background Sync API  figure description wrong

**Expected behavior**
Chart of **Periodic Background Sync API**  usage, based on the number of pages monitored by HTTPArchive. It compares the usage on mobile and desktop devices. Since April 2020, the API is used by one to two desktop and mobile

[2020-12-05 18:12] rviscomi commented on #1629
LGTM thanks for the quick fix @bharatagsrwal!

[2020-12-05 18:12] #1629 closed

[2020-12-05 18:21] rviscomi commented on #1635
Great find @chengxicn! And this is a perfect use case for the chapter-specific issue template, I'm so glad to see it in action.

I see two minor issues with this description:

- Replace `Idle Detection API` with `Periodic Background Sync API` as you noted
- Replace `HTTPArchive` with `HTTP Archive` (global find/replace throughout the chapter)

We should also double check that the sheet/query metad

[2020-12-05 18:23] rviscomi commented on #1506
📟 paging @obto. Is this blocking authors' progress?

[2020-12-05 18:24] bazzadp commented on #1635
Tagging @ksakae1216 and @lex111 whi have already translated this chapter.

[2020-12-05 18:29] kmlhsn opened #1636 ""Twitter" and "Github" logo should be little bright on the footer"
**URL**
1. Go to almanac.httparchive.org
2. Scroll down to bottom

**Describe the issue**
"Twitter" and "GitHub" logo should be liitle bright on the footer

**Expected behavior**

"Twitter" and "GitHub" logo should be little bright on the footer. logo color and footer background color almost same.
**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-im

[2020-12-05 18:32] rviscomi opened #1637 "Extend support for chapter keyboard shortcuts"
There are some little-known keyboard shortcuts that work on chapter pages:

- `<left arrow>` or `<p>` keys: navigate to the previous chapter
- `<right arrow>` or `<n>` keys: navigate to the next chapter

What other shortcuts might be useful, especially from an accessibility perspective? Some ideas:

- skip to main content
- toggle show/hide all figure descriptions
- next/previous section
- if #161

[2020-12-05 18:42] rviscomi commented on #1636
@bazzadp can you triage? I think this may be intentional and within our accessibility guidelines for contrast, but if not feel free to reassign to the development team.

[2020-12-05 20:47] rviscomi opened #1641 "Improve CJK font detection"
WebPageTest [locally installs Noto fonts](https://discuss.httparchive.org/t/how-does-web-font-usage-vary-by-country/1649/2?u=rviscomi) to better emulate how Android devices come preinstalled with it. This means that analyzing network activity for fonts would miss Noto.

My knee-jerk reaction is that it would improve our font detection to ignore locally installed Noto at the WebPageTest level, so w

[2020-12-05 20:51] bazzadp commented on #1636
Think it's not contrasted enough but we've been getting away with it from our automated testing because there's not text.

Son't see any reason why they should be a different colour than the HA Logo to be honest.

[2020-12-05 21:21] #1636 closed

[2020-12-05 23:49] rsheeter commented on #1641
Do we have enough data on `@font-face` use of `local()`, the breakdown of users by (browser, OS+version), and what system fonts exist on each OS to do some napkin math on how significantly we believe we might be skewing the result?

[2020-12-06 00:03] rviscomi commented on #1641
Yes, we have more data than we know what to do with when it comes to stylesheet contents, and that's after having written 100+ queries for the [CSS](#898) chapter! It's a bit tougher to extract granular data like local fonts within `@font-face` declarations, but possible.

Not from HTTP Archive data (see the [Methodology](https://almanac.httparchive.org/en/2020/methodology#websites) for more info)

[2020-12-06 04:42] svgeesus commented on #902
I reviewed the PR by @raphlinus which is overall very good. I suggested some additions and corrections.

[2020-12-06 09:44] lex111 commented on #878
I just want to point out one important thing. Currently, when analyzing SSGs, the so-called Documentation Static Site Generators are not taken into account, in particular Docusaurus, which is in fact the same as VuePress, but on React stack. This tool is presented on the Jamstack site as SSG https://jamstack.org/generators/
I think we need to consider these types of SSGs when analyzing data.

[2020-12-06 19:17] bazzadp commented on #923
The Performance and CMS chapters are now available for translating. Please mark your name agains the chapter in your translation issue if you want to translate one of these.

Markup, SEO and HTTP/2 are also very close to being finished editing.

[2020-12-06 20:06] exterkamp commented on #922
👋 I can help with editing too if needed

[2020-12-06 20:06] borisschapira commented on #539
I'll translate the 2020 Performance chapter!

[2020-12-06 20:07] bazzadp commented on #539
Thought you might 😀

[2020-12-06 20:08] rviscomi commented on #922
Thank you @exterkamp! Can you edit https://github.com/HTTPArchive/almanac.httparchive.org/issues/1432#issue-738062237 and add your name to the Resource Hints chapter to get started?

[2020-12-06 21:53] bazzadp commented on #1432
@HTTPArchive/editors PWA and Jamstack are ready for editing.

[2020-12-07 08:04] rviscomi opened #1654 "Update 2020 contributors"
There are currently 124 contributors listed on the [2020 Contributors](https://almanac.httparchive.org/en/2020/contributors) page (129 if you count the latest number in ~HEAD). A significant proportion of these are people who expressed interest early on but may not have ended up contributing. The developers and translators teams should be accurate because people tend to be added after they've cont

[2020-12-07 08:23] bharatagsrwal commented on #1654
Hey @rviscomi, I can try this but had a doubt, we can generate a file with all authors, reviewers, analysts who worked on the markdown file, but in the end, we have to do most work manually as an addition and remove a contributor from `2020.json` file.

[2020-12-07 08:31] bazzadp commented on #1654
I think for launch we should look to list the differences between JSON and metadata in each category (authors, reviewers and analysts). Bonus points if you discover any incorrect 2019 info!

After that we should consider whether to generate the JSON file dynamically.

[2020-12-07 11:06] ibnesayeed commented on #1654
I was wondering, will it be a good idea to list contributors to each chapter under authors, but not as prominently as authors?

[2020-12-07 11:09] ibnesayeed commented on #1654
Scrape that idea, since they are listed in the header under the hero image.

[2020-12-07 12:38] ibnesayeed commented on #1224
I am sorry, I did not notice this before as I was super busy in wrapping my graduation up (breaking news, I have a doctorate degree now). :tada:

I think we do not need yet another file to keep track of it, we can leverage Git fro that. Simply, tag the repo each time the site is deployed, and then we can get the info by comparing changes (and listing changed files) since the last time a deploy rel

[2020-12-07 12:43] LeaVerou commented on #898
Hi everyone,

2 days until launch! 🚀

Dear reviewers (@fantasai @mirisuzanne @j9t @catalinred @hankchizljaw),
This is a last call for review: tomorrow we will need to move the draft to Markdown, so please please please make sure to take a look at some point today if you haven't already. Review can still continue on the MD article, but it will be a bit more hassle than just leaving comments or prop

[2020-12-07 12:56] bazzadp commented on #1654
@ibnesayeed as a back up (in case this is not completed in time), and to validate this as well, I think we should look at other ways of getting this info using some command line tools.

I've managed to get the author names with this command:

[code]

But can't figure out how to get the keys, rather than the names, which would be better. Any ideas how to do that?

Then it can be compared to the res

[2020-12-07 13:00] bazzadp commented on #1224
Possibly, but without tracking the timestamp in a file somewhere won't we have to iterate through all tags to get the last updated timestamp for each page? And I want to avoid having to change each chapter as it leads to a huge number of meaningless commits to each chapter just to update the timestamp. One commit to one central file is a lot less noise.

Not sure I agree. I don't think we need to

[2020-12-07 13:06] jpamental commented on #1485
Just chiming in supporting proper apostrophes and quotation marks! I would think that adapting the process to a linting tool that handles it would be the best approach. I worked on a module for Drupal that has used different PHP libraries to handle it (or perhaps go one better and insert HTML entities that would display properly for any user's preferences). As much as I feel like there should be b

[2020-12-07 13:08] ibnesayeed commented on #1654
I am not sure what are you looking for (an example desired output will do). I can see their GitHub handles with the following command:

[code]

[2020-12-07 13:14] bazzadp commented on #1654
In most cases the Github handle is the same as the key, but not everyone is on git (though probably most authors are? but not sure about all reviewers).

This example from the 2019.json config has no Github value

[code]

so ideally we'd return the keys rather than the Github handle.

[2020-12-07 13:19] ibnesayeed commented on #1654
Oh, so you want the key of the person object itself. Got it. I will do that in a few after taking care of something. Meanwhile, enjoy the following two outputs.

[code]

[code]

[2020-12-07 13:33] bazzadp commented on #1654
Nice!

I had to change the awk command as didn't work on MacOS:

[code]

[code]

[code]

[2020-12-07 13:37] ibnesayeed commented on #1654
Is this what you are looking for?

[code]

[2020-12-07 13:46] ibnesayeed commented on #1654
There are numerous ways to get that list, here is one approach:

[code]

[2020-12-07 13:51] bharatagsrwal commented on #1654
I was doing this by writing script in `js` something like this
![image](https://user-images.githubusercontent.com/43988371/101358773-558bc900-38c1-11eb-871f-005b6211e490.png)

[2020-12-07 13:53] bazzadp commented on #1654
OK workaround final script:

[code]

[code]

[code]

[2020-12-07 13:58] bazzadp commented on #1654
@bharatagsrwal I was thinking that during chapter generation (in `generate_chapter.js`) we build up three lists (authors, reviewers, and analysts).

At the end we get a list of authors from JSON config then we spit out any warnings:

[code]

And same for the other two categories (reviewers, and analysts).

As a future stage, we can then build on this to dynamically generate the JSON if we want, bu

[2020-12-07 14:03] bharatagsrwal commented on #1654
I was thinking up the same, but the problem is that, let suppose there is few typo changes in .md file and we regenerate all chapters then again and again it will find all contributors and compare with the config file, instead of that I was thinking of create some `npm run contributors` so this will generate only contributors(authors, reviewers and analysts).

[2020-12-07 14:21] ibnesayeed commented on #1654
Two things:

* We do not need to use temporary files if we are using `bash`, as this can be achieved using process substitution
* The `comm` utility is better suited for this use case than `diff` as it does not have unnecessary line number clutter

[code]

[2020-12-07 14:35] bharatagsrwal commented on #1654
![image](https://user-images.githubusercontent.com/43988371/101363505-7eaf5800-38c7-11eb-8d30-f63dc1c12094.png)
I am planning something like this.

[2020-12-07 15:02] ibnesayeed commented on #1224
Not really. You compare current `HEAD` with the last deploy tag to get a list of changed files, then filter out files you don't care about, and then `checkout` the last deploy tag to see the timestamp of each file you care about.

[2020-12-07 15:04] ibnesayeed commented on #1224
I think we can discuss this elsewhere later, because it is a more involved topic that this thread can afford.

[2020-12-07 15:17] bazzadp commented on #1654
I did like putting it part of the standard generation so it won't be missed. If there's a typo it should be fixed! And we should only do it when year is live in `settings->is_live` in the JSON, so when future years initially kick off and still in flux it doesn't complain about them.

If running separately then can just do the shell script version @ibnesayeed has come up with. I see benefit of doin

[2020-12-07 15:42] ibnesayeed commented on #1654
Another possibility is to plug it with the chapter progress tracker and report there.

[2020-12-07 16:22] bharatagsrwal commented on #1654
okay cool, then we must go with finding contributors at the time of generating chapters.

So should I show the result in this way or anything else we should do?

[2020-12-07 17:00] ibnesayeed commented on #1654
That's is a visual clutter with too much repetition @bharatagsrwal. I will go with something like this:

[code]

[2020-12-07 17:21] bazzadp commented on #1654
I'm not too worried about the output, as am hoping we keep this under control so whatever's easiest.

[2020-12-07 17:48] rviscomi commented on #1654
Thanks for working on this, everyone!

I should have been clearer in my initial request what the expected output should be. I'd imagined that the script could overwrite 2020.json to add/remove team names from contributors `teams` list and remove the contributor if they are no longer part of any teams. This would be an ad hoc script just to align the two metadata sources. We should run it immediate

[2020-12-07 17:56] bazzadp commented on #1654
@rviscomi I'm really concerned with changing our core config file in this way, so close to launch. MVP to me would be to identify the bad data and be able to correct it manually. And also continue to monitor it as the late chapters coming come in.

Medium term would be to correct 2020.json, but I really don't think we should consider that this week, and long term would be #1195

[2020-12-07 18:02] rviscomi commented on #1654
As long as 2020.json gets updated, I don't have strong opinions on whether it's done manually as a result of intermediate output or automatically as part of a script. Any changes will be reviewed in a PR either way.

[2020-12-07 18:08] ibnesayeed commented on #1654
Automated approach to update the file has one more downside of not being able to handle the cases where someone contributed, but is not listed. Obviously, unless we have a means to generate the person object given an ID automatically.

[2020-12-07 18:09] #1635 closed

[2020-12-07 18:24] bharatagsrwal commented on #1654
So I did something like this whenever the `npm run generate` command will be run it will show which contributors left to add in `year.json` file and whom should remove who has not contributed to a particular team as for now
![image](https://user-images.githubusercontent.com/43988371/101389411-67806280-38e7-11eb-9a46-33872378df7c.png)

[2020-12-07 18:42] bazzadp commented on #1654
Looks good. Can we remove the rows if no values in there (e.g. the `Add` rows above)? And the whole year if no discrepencies from that year? And the whole section if no discrepancies for any year?

[2020-12-07 18:43] bharatagsrwal commented on #1654
yap, I did it already, sorry taken an old screenshot 😅

[2020-12-07 19:05] rviscomi commented on #901
@simonhearne please have your markdown submitted by EOD today to be included in Wednesday's launch.

[2020-12-07 19:06] rviscomi commented on #907
@oluoluoxenfree @alextait1 please have your markdown submitted by EOD today to be included in Wednesday's launch.

[2020-12-07 19:06] rviscomi commented on #906
@nrllh @tomvangoethem please have your markdown submitted by EOD today to be included in Wednesday's launch.

[2020-12-07 19:07] rviscomi commented on #910
@spanicker @mdiblasio please have your markdown submitted by EOD today to be included in Wednesday's launch.

[2020-12-07 19:07] oluoluoxenfree commented on #907
@rviscomi where do I submit the markdown?

[2020-12-07 19:07] rviscomi commented on #919
@henrihelvetica please have your markdown submitted by EOD today to be included in Wednesday's launch.

[2020-12-07 19:34] rviscomi commented on #907
We have a markdown file stubbed out for you with TODOs at [src/content/en/2020/accessibility.md](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/content/en/2020/accessibility.md).

In addition to the contents of the chapter, please also update the lists of authors, reviewers, and analysts to reflect all of the actual contributors and roughly in order of most contributions firs

[2020-12-07 19:40] oluoluoxenfree commented on #907
thanks so much!

On Mon, 7 Dec 2020, 7:35 pm Rick Viscomi, <notifications@github.com> wrote:

[2020-12-07 20:28] borisschapira opened #1660 "Encourage authors to use HTML anchors instead of Markdown [title](url)"
When translating a page, we can translate the title of a link but not its destination language. Even if I translate "foo" to "bar", if used in a link,

`[foo](url)` will be translated in `[bar](url)` and compiled in `<a href="url">bar</a>`.

Even if "bar" is in the right language, the anchor should use the attribute `hreflang` to express the language of the linked page:  `<a href="url" hreflang="e

[2020-12-07 20:37] bazzadp commented on #1660
I see where you are coming from @borisschapira , and it's the same with using English words in links, which we saw a lot of in the Capabilities chapter where things like this:

[code]

Were Translated (in Russian) to things like this (and so had to be converted to HTML):

[code]

However, I'm not convinced we should encourage the Authors to do this. To me, this is a Translation issue and no an iss

[2020-12-07 21:07] roryhewitt commented on #917
@raghuramakrishnan71, @rviscomi OK, I'm back again. Raghu, do you want me to continue your work on markdown-ing the chapter after my first botched it?

[2020-12-07 21:19] borisschapira commented on #1660
I understand.
Maybe I'll work the 2019 translations again in the future to apply `hreflang` where it is useful, aka when the lang of the linked document is not the same as the current page.

[2020-12-07 21:19] #1660 closed

[2020-12-07 21:20] bazzadp commented on #1660
Yeah that `hreflang` is a good call. Should use it more. Will definitely encourage that in the translations.

[2020-12-07 21:25] raghuramakrishnan71 commented on #917
@roryhewitt the markdown, image generation is complete now. @bazzadp has helped with first cycle of edit and generated the first draft version at  https://20201207t175252-dot-webalmanac.uk.r.appspot.com/en/2020/caching. You can do a quick read and let me know if any changes are needed (make them in the document and highlight it, it will be easier to merge).

We are left with the following. You can

[2020-12-07 22:14] obto commented on #1506
This wasn't needed in the end. We can close the issue

[2020-12-07 22:14] #1506 closed

[2020-12-07 22:17] tomvangoethem commented on #906
The initial markdown has been submitted; evolution and conclusion sections still need to be written, images still need to be added, and text should be further edited. I'll work on that tomorrow.

[2020-12-07 22:39] oluoluoxenfree commented on #907
@rviscomi what timezone are you in? Trying to work out if I have enough time to finish

[2020-12-07 23:44] rviscomi commented on #907
@oluoluoxenfree  I'm in New York but any time tonight would be best, I'll working late anyway. Thank you for your help getting this published. 🙏

[2020-12-08 01:04] oluoluoxenfree commented on #907
@rviscomi I'm flagging as it's 1am here, very sorry I haven't completely finished, was hoping to but it's a lot of graphs!! I will finish putting graphs in tomorrow, sorry again

[2020-12-08 01:17] rviscomi commented on #907
No problem, if we can get this finished tomorrow there will still be time before launch. I really appreciate your hard work on this!

[2020-12-08 01:22] #1138 closed

[2020-12-08 01:22] rviscomi commented on #1582
Sorry I realize now that #1654 is a duplicate of this issue

[2020-12-08 17:07] LeaVerou commented on #898
Hi again folks!

1 day until launch! 🚀

The draft is now basically done (besides a couple of pending figures) so it's time to convert it to Markdown.
I would like to ask all of you to go in the doc and convert any links you see to Markdown links, any inline formatting to Markdown (adding asterisks as necessary), surround any inline code with backticks and so on.
Most of it is already in Markdown,

[2020-12-08 17:54] #902 closed

[2020-12-08 17:58] #916 closed

[2020-12-08 17:58] #917 closed

[2020-12-08 18:10] bazzadp commented on #1432
Compression and Caching ready for editing.

[2020-12-08 19:41] rviscomi opened #1676 "Localize numbers in figures"
For example, some figures have big numbers that include commas:

[code]

![image](https://user-images.githubusercontent.com/1120896/101532729-f4b4cd00-3962-11eb-96c4-d49a72feab09.png)

We can use https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/toLocaleString to show this number in the reader's locale or the locale corresponding to the selected translation, f

[2020-12-08 20:05] bazzadp commented on #1676
Disagree!

This is in the markup and so can be changed during translated but don’t think we should otherwise localise these figures for English version when rest of the text (e.g. numbers in tables or text) will be in “English” format.

Plus I’m against just throwing Javascript at everything we can 😁

[2020-12-08 20:08] rviscomi commented on #1676
Of course! That makes  a lot more sense to just change the delimiter during the translation. 😅  (long day)

[2020-12-08 20:08] #1676 closed

[2020-12-08 20:31] bazzadp commented on #1611
Gonna close this. Feel free to reopen for discussion if you strongly disagree.

[2020-12-08 20:31] #1611 closed

[2020-12-09 01:26] roryhewitt commented on #917
@bazzardp, I sent some separate input to @raghuramakrishnan71 today - I hope it's not too late to get it added - I offered to tweak the markup myself (and I can do so). Otherwise I will rely on him doing so.

[2020-12-09 01:27] rviscomi commented on #917
@roryhewitt please go ahead and open up a new PR with any changes

[2020-12-09 08:28] #1406 closed

[2020-12-09 15:06] bazzadp commented on #1654
Closing this. We can discuss the longer term issue as part of #1195

[2020-12-09 15:06] bazzadp commented on #1582
Closing this. We can discuss the longer term issue as part of #1195

[2020-12-09 15:06] #1582 closed

[2020-12-09 15:08] #1450 closed

[2020-12-09 17:55] antoniomavaro commented on #923
Here is a volunteer for the Italian translation of 2020 Edition.

[2020-12-09 18:00] bazzadp commented on #923
Thanks for volunteering @antoniomavaro ! I've just sent you an invite to the team and we already have an issue for the Italian translation in #585 but unfortunately closed it due to lack of activity. Have a read of that and feel free to re-open that issue and ask any questions there.

[2020-12-09 18:32] bazzadp opened #1715 "Count eBook downloads in Google Analytics"
We have made the Almanac available in eBook format but it would be interesting to know how much it's downloaded and currently we don't have that visibility.

Could we fire an event to Google Analytics when the ebook link is clicked?

Ideally I'd like to leave it as a link rather than change to a button (it is a link!). I presume it's possible to intercept the click, fire the event and then continu

[2020-12-09 18:53] sudheendrachari opened #1716 "Figure overflow menu issue in Mobile view"
Overflow menu for figures can get overlapped with figure itself. I believe we should be able to handle this in a better way

![A11Y - Overflow menu](https://user-images.githubusercontent.com/10291571/101673923-d099de80-3a7d-11eb-8531-8ec3c0aec7ec.png)

[2020-12-09 18:56] sudheendrachari opened #1717 "Large figures create horizontal scroll"
Large figures/numbers are causing horizontal scroll in mobile view. These should ideally wrap to next line

![A11y - Large figures overflow horizontal](https://user-images.githubusercontent.com/10291571/101674255-47cf7280-3a7e-11eb-9660-3d5f1af3393a.png)

[2020-12-09 19:22] bazzadp commented on #1716
Yes this was realised in https://github.com/HTTPArchive/almanac.httparchive.org/pull/1570#issuecomment-738568155 but we ran out of time to resolve and figured it happened rarely nough and the value of exposing the data more easily was worth dealing with this short term.

Would love to hear thoughts on how you think we should resolve? Or if you can resolve it would gladly take a PR!

For what it's

[2020-12-09 19:25] bazzadp commented on #1717
I added a slightly smaller `medium-number` class for another chapter. We should use this one here. Fancy seeing if it resolves for the screen size you're looking at and then submitting a PR for that?

[2020-12-10 05:53] bharatagsrwal opened #1725 "Text overlapping and overflow of code in web_almanac_2020_en.pdf"
I was going through pdf book and found a few things

![image](https://user-images.githubusercontent.com/43988371/101727072-c9a0b980-3ad9-11eb-8166-561751c877f0.png)
text is overlapping (page 33 of PDF and page 27 of the book)

![image](https://user-images.githubusercontent.com/43988371/101727119-e0dfa700-3ad9-11eb-9325-5e2ab5a92f2c.png)
code overflow (page 40 of PDF and page 34 of the book)

[2020-12-10 07:52] bazzadp commented on #1717
Ok just seen it in [the Security chapter](https://almanac.httparchive.org/en/2020/security#fig-9) and yes needs overflow scroll at very least as currently overflows the whole page.

![742A9CEA-B7FD-4D2C-A732-7435E02C9ED4](https://user-images.githubusercontent.com/10931297/101737206-78360180-3abc-11eb-8ba5-e729428afafc.jpeg)

[2020-12-10 08:58] onderceylan commented on #923
I can join @bcinarli on Turkish translations if needed.

[2020-12-10 09:24] alexdenning commented on #915
Many thanks all for your help supporting me on this :) Really pleased with the end result, and great to see it live!

[2020-12-10 09:25] bazzadp commented on #915
Many thanks to the whole team for this and think we can now close this issue. Great job and looks fantastic!

[2020-12-10 09:25] #915 closed

[2020-12-10 09:30] CYBAI commented on #1106
Hi @rviscomi @AbbyTsai , I'd like to help to translate the `performance` 2020 chapter 🙋‍♂️

[2020-12-10 09:43] bazzadp commented on #1106
Excellent @CYBAI - added your name to the team so you can assign yourself tasks in the first comment, and put your name against it.

The content is in `src/content/en/2020/performance.md` and should be copied to `src/content/zh-TW/2020` and translated. They open a pull request for @AbbyTsai to review the translation andone of the core contributors (probably myself) to review the technical side of

[2020-12-10 09:46] CYBAI commented on #1106
@bazzadp Thank you so much for your quick reply! I will follow the steps to open the PR when translation is ready! Thanks!

[2020-12-10 10:06] CYBAI commented on #1106
@bazzadp I updated the description to add remaining chapters which were not added above to the **2020** section so that other contributors can pick them. But, I'm not sure about the popularity order for them so added a note there. Please correct me if I'm wrong 🙏 Thank you!

[2020-12-10 10:09] bazzadp commented on #1106
Most of them aren't edited yet so not available for translation just yet. So edited it again to just include the ones I know are ready (in a guesstimated order of popularity!).

[2020-12-10 10:41] #1717 closed

[2020-12-10 11:21] bharatagsrwal commented on #1725
@bazzadp, one more thing
![image](https://user-images.githubusercontent.com/43988371/101763593-ffa76300-3b04-11eb-8d68-c9e450becf9e.png)
![image](https://user-images.githubusercontent.com/43988371/101765810-dd631480-3b07-11eb-8d7c-78591f4dcbea.png)

this looks so odd, the problem is in both pdf as well as web

[2020-12-10 11:26] bazzadp commented on #1725
This code display and we just added a darker background in #1718 so working as intended.

Maybe for `<th>` we can remove this background color? @lex111 any opinions here?

[2020-12-10 11:34] bharatagsrwal commented on #1725
Not only `<th><tr>` we have do it for `<ul> and <li>` as the side navigation also have the same issue

![image](https://user-images.githubusercontent.com/43988371/101766696-2bc4e300-3b09-11eb-9ba5-48054a60c169.png)

[2020-12-10 11:39] bharatagsrwal commented on #1725
adding
![image](https://user-images.githubusercontent.com/43988371/101767566-61b69700-3b0a-11eb-9656-474dffbedcf7.png)

resolves the problem I think

this gives the result like this
![image](https://user-images.githubusercontent.com/43988371/101767598-6ed38600-3b0a-11eb-83c0-7f116b3f24b2.png)

[2020-12-10 11:44] lex111 commented on #1725
Should be fixed in #1729

Does this really need to be fixed? It seemed to me the expected behavior (like in other sites).

[2020-12-10 11:49] bazzadp commented on #1725
Yeah I think I've with leaving the style in `<ul>` and `<li>`:

![CSS chapter ToC](https://user-images.githubusercontent.com/10931297/101768573-a4ae4580-3add-11eb-9cf6-138a186ba1ed.png)

Maybe not as obvious on the `all` but here's the caching chapter:

![Caching ToC](https://user-images.githubusercontent.com/10931297/101768633-bee82380-3add-11eb-9c3d-2dfe1fbf1414.png)

[2020-12-10 12:21] #1725 closed

[2020-12-10 12:32] faraixyz opened #1732 "Issue with the 2020 [JavaScript] chapter"
**URL**

https://almanac.httparchive.org/en/2020/javascript#correlating-javascript-use-to-lighthouse-scoring

**Describe the issue**
Fig 2.22 is missing. Visiting https://almanac.httparchive.org/static/images/2020/javascript/correlations.png returns an error

**Expected behavior**
There should be an image for "Correlations of JavaScript on various aspects of user experience."

**Screenshots**
![Co

[2020-12-10 12:39] bazzadp commented on #1732
Thanks for reporting! This is fixed in #1724 and we'll be releasing that later today

[2020-12-10 12:57] bazzadp commented on #1630
Submitted sitemap to Google so closing this.

[2020-12-10 12:57] #1630 closed

[2020-12-10 13:00] AbbyTsai commented on #1106
Thanks. @CYBAI   Glad to have you together in translating.

[2020-12-10 13:44] CYBAI commented on #1106
Ah, I see! Thanks for your help!

@AbbyTsai Might take some time to translate though, I'm very happy to help :D

[2020-12-10 15:41] hijuliancode commented on #923
Hi, I want help with Spanish translations

[2020-12-10 15:45] bazzadp commented on #923
Excellent. That's being tracked in #498 and sent you an invite to the team so you can be assigned issues.

[2020-12-10 15:57] Zuckjet commented on #1067
I can help with chinese translation of 2020,  especially about pwa and web security, since I have done these things in my work project this year

[2020-12-10 16:20] Zuckjet commented on #923
I can help with simply chinese translation for the 2020 version, especially about web security、progressive web application and so on since my work projects have covered this topic. Is it possible begin with 2020 version, and how can I start ?

[2020-12-10 16:22] bazzadp commented on #1067
Excellent! Edit the first post to stick your name beside a chapter and away you go!

Original english is in `src/content/en/2020/` and should be translated and pull requested into `src/content/zh-CN/2020`.

Any questions feel free to ask!

[2020-12-10 16:25] bazzadp commented on #923
Just comment on that other issue. Unfortunately the security and PWA chapters have not been edited yet so are subject to change. You can see in #1432 which chapters have been edited and are considered complete and ready for translation.

And absolutely, we want 2020 to be priority now and 2019 to be only done after if time permits. Though feel free to pick 2019 Security and PWA chapters if particu

[2020-12-10 16:47] Zuckjet commented on #1067
@bazzadp  I just edit the first comment under this issue like "performance- @Zuckjet". Does this mean I will take over the performance post for translation ?

[2020-12-10 16:48] bazzadp commented on #1067
Correct. But let’s untick it until it’s actually finish and PR accepted.

[2020-12-10 16:52] Zuckjet commented on #1067
Thanks for helping untick the list item, I will begin translate in these days

[2020-12-10 16:57] bazzadp commented on #1067
One thing to note is that for accessibility reasons whenever we are leaving a phrase in the original English we like to add `lang="en"` attributes to that text (wrapping in a `<span`> tag if necessary).

Like this example in the Capabilities translation:
https://github.com/HTTPArchive/almanac.httparchive.org/blob/4883d3038ab4aaeb5b408832c9151c5d05d39ce5/src/content/zh-CN/2020/capabilities.md#L27

[2020-12-10 17:44] #878 closed

[2020-12-10 17:44] #897 closed

[2020-12-10 17:44] #898 closed

[2020-12-10 17:44] #901 closed

[2020-12-10 17:44] #905 closed

[2020-12-10 17:44] #906 closed

[2020-12-10 17:44] #907 closed

[2020-12-10 17:44] #909 closed

[2020-12-10 17:44] #910 closed

[2020-12-10 17:44] #913 closed

[2020-12-10 17:44] #919 closed

[2020-12-10 17:44] #920 closed

[2020-12-10 18:14] rviscomi opened #1736 "Include Nuxt.js and Docusaurus in the 2020 Jamstack chapter"
Readers are pointing out that Nuxt.js should have been included in the Jamstack chapter.

Is it true that it belongs in the chapter? If so let's rerun the analysis and update the chapter's interpretation. Let's also look into opening a PR to add it to the SSG category in Wappalyzer.

[2020-12-10 18:22] bazzadp commented on #1736
Unassigned myself for now to be clear on responsibilities here.

I want the content team, as Jamstack experts (which I am not) to decide what ones are missing (Docusaurus was raised too). Since we need to rerun, let's use this as an opportunity to consider all missing Jamstacks rather than do them one at a time.

After that is decided, let's get the queries changed, the extracts rerun, and the wor

[2020-12-10 18:26] rviscomi commented on #1736
Sorry! From the Twitter thread it had looked like you were involved in some of the analysis rerunning. Are those queries available anywhere for @denar90?

[2020-12-10 18:39] bazzadp commented on #1736
Yeah that was the danger of me being helpful 😀

I reran just one of the queries by adding an `OR app = "Nuxt.js"` line:

[code]

As I say I think we need to see what Jamstacks we wanna include and then rerun ALL the queries. Above was a test but certainly seems to show we have Nuxt.js data.

[2020-12-10 21:34] lex111 commented on #1736
It would be great to add Docusaurus usage stats as SSG in this chapter.
Moreover, the information on this SSG has now been fixed in the Wappalyzer data. It is now _officially_ considered as SSG. https://www.wappalyzer.com/technologies/static-site-generator/docusaurus/

[2020-12-10 21:38] cqueern opened #1742 "Incorrect Twitter handle for cqueern"
**URL**
https://almanac.httparchive.org/en/2020/contributors

**Describe the issue**
The twitter handle on my Contributor tile is  _cqueern_

**Expected behavior**
The twitter handle on my Contributor tile should be  _httpsecheaders_ ( https://twitter.com/httpsecheaders )

Thanks!

[2020-12-10 21:49] bazzadp commented on #1742
Can you submit a PR to fix this?

For simple one like this you can just do it on GitHub:
- Go to https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/config/2020.json
- Click the pencil button to edit it
- Make your edit
- Scroll to bottom and choose the "Create a new branch and start a pull request" option.

[2020-12-10 21:50] bazzadp commented on #1742
Never mind. @lex111 has done it for you!

[2020-12-10 21:52] cqueern commented on #1742
Thanks @lex111  @bazzadp !

[2020-12-10 21:56] #1742 closed

[2020-12-10 22:08] nucliweb commented on #923
I can help with Spanish translation too 😊

[2020-12-11 05:21] jjjjackson commented on #1106
Hi @rviscomi @AbbyTsai

Can I take the one about 2019-security?

Will follow the steps to comment and open a PR

[2020-12-11 10:07] AbbyTsai commented on #1106
go ahead, put your name against where you're interested in. we then know where we're dedicating.

[2020-12-11 11:18] bazzadp commented on #1736
I've run the following SQL to list all apps in `JavaScript frameworks` or `Documentation tools` categories but where the app is not in `Static site generator` category.

[code]

The results pivoted to list by app name are:

app | Documentation tools | JavaScript frameworks
-- | -- | --
  |   | 2
MooTools edition ver. 1.0 |   | 1
Adobe RoboHelp | 44 |  
AlloyUI |   | 7,709
Alpine.js |   | 1,060
AMP

[2020-12-11 16:22] noah-vdv commented on #923
Hey, I don't know if anyone started it yet but I'm available to help with Dutch translation

[2020-12-11 17:57] bazzadp opened #1750 "Translate content to Dutch"
These are the core templates - without which we cannot release any translated chapters. They are in the [language specific templates directory](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/src/templates):
- [ ] base.html -
- [ ] base_chapter.html -
- [ ] error.html -
- [ ] 2019/base.html -
- [ ] 2019/contributors.html -
- [ ] 2019/index.html -
- [ ] 2019/table_of_contents.html

[2020-12-11 17:59] bazzadp commented on #923
Hey @noah-vdv , no one started that yet. Just opened #1750 to track that and tagged you in it. All instructions in there but feel free to ask any questions on that issue. Bedankt voor je vrijwilligerswerk!

[2020-12-11 19:17] noah-vdv commented on #1750
So the html files don't need to be translated right? Just the files under 2020, 2019 and additional files?

[2020-12-11 19:31] bazzadp commented on #1750
The core html files DO need to be translated.

The chapter HTMLs not shown above (e.g. performance.html) do not need to be translated as they are generated form the markdown (e.g. performance.md). We used to store these generated chapter HTML files in git but no longer do so probably can remove the statement related to that as probably more confusing than useful. Then again if you run the site loc

[2020-12-11 19:32] noah-vdv commented on #1750
alright, nah that helped thanks

[2020-12-12 04:34] AbbyTsai commented on #1106
@CYBAI @jjjjackson

[2020-12-12 07:09] bazzadp commented on #1732
Fix was released.

[2020-12-12 07:09] #1732 closed

[2020-12-13 02:53] rviscomi opened #1754 "Unlocking JavaScript insights in 2021"
The bulk of the CSS chapter's insights were made possible by the Rework library which parses the CSS into a queryable AST.

What comparable options are available for JS? How can we unlock similar insights for the 2021 JavaScript chapter?

[2020-12-13 10:03] bazzadp opened #1756 "Primary colour on charts does not meet accessibility requirements"
![Typical Web Almanac chart from CSS chapter](https://user-images.githubusercontent.com/10931297/102008572-8b99d480-3d29-11eb-8849-9442cf0a922e.jpeg)

The greeny-coloured chart does not meet WCAG AAA (not even AA) colour contrast rules for text meaning when we use a label (like in this example) we fail these criteria.

Particularly annoying when trying to copy edit a section on colour contrast in

[2020-12-14 08:18] KenjiBaheux opened #1760 "Issue with the 2020 Privacy chapter"
**URL**
https://almanac.httparchive.org/en/2020/privacy#fig-2

**Describe the issue**
Google Fonts is shown on the graph (google_fonts) but as far as I know Google Fonts does not track users.
See [this page](https://developers.google.com/fonts/faq) for a more detailed answer.

**Expected behavior**
Google Fonts (possibly other innocuous things) not being painted as a tracker.

The article uses who

[2020-12-14 09:24] bazzadp commented on #1760
@KenjiBaheux , [whotracks.me clearly lists Google Fonts](https://whotracks.me/trackers.html), currently as the 5th biggest "tracker" under the CDN category. I guess because it collects anonymous use and because it is used across so many sites it has the potential to be a tracker. A quick search on their [GitHub repo confirms that theory](https://github.com/ghostery/whotracks.me/issues/169#issuecom

[2020-12-14 09:44] yoavweiss commented on #1760
Google Fonts requests are [non-credentialed](https://developers.google.com/fonts/faq#what_does_using_the_google_fonts_api_mean_for_the_privacy_of_my_users), so it cannot be used as a tracker. (anonymous use collection is, by definition, not tracking)

[2020-12-14 09:57] bazzadp commented on #1760
I think that's a little simplistic @yoavweiss but either way we present the data from WhoTracksMe, as stated in the chapter, so [the issue would need to be raised there](https://github.com/ghostery/whotracks.me/issues).

[2020-12-14 09:58] yoavweiss commented on #1760
That sounds like poor reasoning to classify something as a "tracker", rather than a "potential tracker" or some other category that clarifies that it's not actually tracking users.

[2020-12-14 10:10] yoavweiss commented on #1760
Alternatively, we could reconsider the use of this dubious source...

A very quick glance shows a few other non-tracker "trackers" on their lists:
* [Akamai Technologies](https://whotracks.me/trackers/akamai_technologies.html)
* [jsDelivr](https://whotracks.me/trackers/jsdelivr.html) [Privacy Policy](https://whotracks.me/trackers/akamai_technologies.html)

They seem to generally consider any reque

[2020-12-14 14:15] moniloria commented on #923
Hello! I would like to help with the Spanish Translation!

[2020-12-14 14:16] bazzadp commented on #1760
I think there's an argument to remove the `cdn` category from this data. Or at the very least least add an explanatory paragraph about that, or treat it separately. I can understand WhoTrackMe's desire to include it for completeness, but can also understand how the use of CDN does not necessarily imply tracking.

See the [data here](https://docs.google.com/spreadsheets/d/16bE70rv4qbmKIqbZS1zUiTRpk

[2020-12-14 15:08] bazzadp commented on #923
Welcome @moniloria! The Spanish translation is being tracked over at #498

[2020-12-14 15:14] bazzadp commented on #498
Welcome @moniloria to team español!

I've updated the chapters that are available in the first comment so put your name besides the one you want to translate and off you go. Original English is in `src/content/en/2020/` and should be translated and saved to `src/content/es/2020/` and a pull request opened for it. I'll review it from a technical perspective and hopefully one of your fellow translat

[2020-12-14 15:59] moniloria commented on #498
Hi @bazzadp, thanks for the welcome! I have started working with GitHub recently so it might take me a bit to finish this first chapter, I have found the Git Guide and all good! but I have noticed there is no Spanish 2020 folder (src/content/es/2020/) should I create it? Or should I focus on the translation of 2019 version?

[2020-12-14 16:04] bazzadp commented on #498
GitHub only creates the folder if there are any files and we haven’t translated any 2020 content yet - just finished it in English to be honest! - so that’s why it doesn’t exist yet. So yes please create it. Would prefer to concentrate on 2020 content and only do 2019 after that since it’s the most recent and therefore interesting to readers!

[2020-12-14 18:25] rviscomi opened #1764 "Nudge 2019 / 2020 visitors to the 2021 report"
The top result for "web almanac" on Google is the 2019 report. If a visitor lands on the 2019 page, we should have some kind of hint that the 2020 report is available. Open to ideas to make this unintrusive and context-aware, for example if a user deliberately switches from 2020 to 2019, we don't need to make them aware of the 2020 edition.

[2020-12-14 20:51] bazzadp commented on #1764
What do you think about a simple banner at the top of the page? And not sure we need to make it context-aware. I vote for simplicity over complexity 😀

Play with it here: https://20201214t204654-dot-webalmanac.uk.r.appspot.com/en/2019/

Changes: https://github.com/HTTPArchive/almanac.httparchive.org/compare/new_edition_banner

![Screenshot showing banner](https://user-images.githubusercontent.com/

[2020-12-14 21:50] alankent commented on #914
Hi guys! I just wanted to jump on this thread and offer any assistance I can, e.g. for reviewing content. Feel free to reach out if I can help get this chapter moving along!

[2020-12-14 23:25] roryhewitt commented on #1764
Personally I'd make it more 'visible' - perhaps in red or something else?

I think users will be 'ad-blind' to it at the top there...

On Mon, Dec 14, 2020 at 12:51 PM Barry Pollard <notifications@github.com>
wrote:

--
Rory Hewitt

https://www.linkedin.com/in/roryhewitt

[2020-12-15 00:33] rviscomi commented on #1760
This data source seems to be quite loose with their definition of "tracker". I agree that we should be more careful about painting hosts with "potential to track" as actual known trackers. Omitting the CDN category or manually checking each of the top hosts both sound like good resolutions. I'd like to hear @ydimova's thoughts as well.

[2020-12-15 00:37] rviscomi commented on #1764
I had something more subtle in mind, like a dismissable callout pointing to the year picker, eg "View the 2020 results". We could use some kind of client-side storage to know when the user has visited a 2020 page, and if not and they visit a 2019 page we can nudge them. If they've dismissed the nudge, we could also store that and never show it again.

[2020-12-15 00:42] rviscomi commented on #1756
Does that take font size/weight into account? We have some "off black" theme colors so if needed I'd prefer we reuse those instead.

I agree that we're due for a fresh color palette in 2021 anyway, so we could resolve it then.

[2020-12-15 00:43] rviscomi commented on #1750
@noah-vdv thanks for your help translating this content! I see the base templates have been checked off. Have those translations been submitted yet?

[2020-12-15 01:58] jpamental opened #1766 "Font-width is mentioned instead of font-weight in Fonts chapter"
I missed this when I first wrote it, and have already created a fix and opened a PR. Just adding this issue to connect the dots with PR #1765

[2020-12-15 02:25] #1766 closed

[2020-12-15 06:10] noah-vdv commented on #1750
No problem.
I have checked them off indeed but realized that I might have translated bits that didn't need translating and totally forgot to check if some pieces needed the <lang="en"> tags. So I'll double-check those html files and get a PR out on Thursday hopefully.

[2020-12-15 06:14] bazzadp commented on #1750
Feel free to open a draft PR for now and I can give feedback.

To @rviscomi ’s point we normally put your name beside something you’re working on (so others don’t work on it too) but only tick
It off after PR is accepted to show its “done”. I’ve updated the first comment to that now.

[2020-12-15 06:28] bazzadp commented on #1750
BTW since you've done the base templates we're ready to send this language live so (at the risk of making this PR even bigger!) can you add Dutch to `server/language.py` (lines 45-54) and also add `nl` to `supported_languages` in `config/2019.json` and `config/2029.json`?

[2020-12-15 06:46] bazzadp commented on #1756
Yes it does take that into account. The greeny colour is #a8caba so when compared to background colour of white that's a 1.77 contrast ratio.

WCAG AA demands 3:1 for large text, 4.5:1 for everything else.
WCAG AAA (which we try to follow) demands 4.5:1 for large text and 7:1 for everything else.

So either way we are falling far short.

Agree, it's a bit late to change this now, and it really is

[2020-12-15 06:46] #1756 closed

[2020-12-15 06:54] #1715 closed

[2020-12-15 10:16] bazzadp commented on #1764
Valid points, however we need to balance between a "nudge" and in your face. Which goes to Rick's request to make it more subtle.

Would also need to think about how we handle this on mobile (53% of our traffic). Could point to hamburger menu but not quite as obvious as it would be on menu.

Personally I think we have an immediate concern, especially until Google picks up the fact that 2020 is now

[2020-12-15 11:18] bazzadp opened #1769 "Best way to create accessible figures"
Leading on from [a discussion from the Accessibility chapter](https://github.com/HTTPArchive/almanac.httparchive.org/pull/1752#pullrequestreview-550859976) I wanted to raise a separate issue fo this.

Currently we make a big effort to make our data accessible - and by that I don't just mean to assistive technology (AT) but to all readers.

To that end, we do the following:
- Every figure is given

[2020-12-15 16:21] ericwbailey commented on #1769
This creates a double announce experience for some assistive technology, which isn't ideal. I'd recommend that the `figcaption` serve as the editorial description of what the content is, while the `alt` should be a literal description of the graph. Funnily enough, a coworker of mine [just wrote about this](https://thoughtbot.com/blog/alt-vs-figcaption).

I'm curious about the reports of "too descr

[2020-12-15 16:40] bazzadp commented on #1769
Thanks for chiming in @ericwbailey - great to hear your thoughts.

I'm curious about this? I would have thought an `aria-label` or `aria-labelledby` would automatically override the `alt`?

Or do you mean more the fact that we have an `alt`/`aria-labelledby` as well as a `figcaption`? If so, that's a good point and I don't know how to address this because we do want the descriptions to be availabl

[2020-12-15 21:55] rviscomi commented on #914
Thank you @alankent! I've updated the metadata in the top comment to add you to the list of reviewers along with @drewzboto. I've also updated the coauthors to include @rockeynebhwani and @jrharalson to reflect the [doc](https://docs.google.com/document/d/1N6idOzeBOQV-a1Zg4sIlfCSAIseONDDmckzJv5n5oRw/edit?usp=sharing). Please request edit access to ensure that you can leave comments and to add your

[2020-12-16 01:07] developit opened #1771 "Issue with the 2020 JavaScript chapter"
**URL**
https://almanac.httparchive.org/en/2020/javascript#frameworks

**Describe the issue**
There are a few references to a "frameworks" graph that doesn't seem to be present:
https://almanac.httparchive.org/en/2020/javascript#:~:text=The%20graph%20below%20shows%20the%20median%20bytes%20for%20pages%20where%20any%20of%20the%20top%2035%20most%20commonly%20detected%20frameworks%20were%20found%2C%20

[2020-12-16 01:28] rviscomi commented on #1771
Thanks for filing these. We recently merged edits to resolve this in #1737 (still unreleased).

[2020-12-16 03:07] rviscomi commented on #1771
Just did a deploy, these changes should be fixed now.

![image](https://user-images.githubusercontent.com/1120896/102299963-f4e43800-3f21-11eb-9889-77484fa96069.png)

[2020-12-16 03:07] #1771 closed

[2020-12-16 10:30] Zuckjet commented on #1067
the seo chapter of 2020 isn't be marked with unedited flag, is it ready for translate ?

[2020-12-16 11:22] bazzadp commented on #1067
Yes it is. Updated the first comment with the latest list.

[2020-12-16 21:16] borisschapira opened #1781 "Design proposal: Identify links in languages that differ to the page"
## Target pages

Mostly translations, I guess.

## Objectives

Allow users and navigation tools to anticipate the change in language mid-navigation.
Prevent users from being taken to pages whose language they don’t understand.

([Opquast Checklist BP 126](https://checklists.opquast.com/en/qualiteweb/the-main-language-of-a-links-target-page-is-provided-if-different-from-the-original-page))

## Scre

[2020-12-16 21:33] rockeynebhwani commented on #914
Thanks @alankent for offering review. I have set aside time for next 2 weeks and I will be in touch soon.

[2020-12-16 22:01] bazzadp commented on #1781
This is actually pretty easy to do @borisschapira if the translators are willing to add an `hreflang` to each link not in the translations language (including changing from markdown link to HTML link).

Then it's a simple manner of adding the following CSS (|I'm assuming the only links will be in English)

[code]

Looks like this:

![Screenshot](https://user-images.githubusercontent.com/10931297/1

[2020-12-16 22:07] borisschapira commented on #1781
And if you want a simple rule for all languages:

[code]

But I don't know if it's compatible with the current design (line heights?) or how to make this accessible (do we need to hide this from assistive tech?).

[2020-12-16 22:30] bazzadp commented on #1781
Very nice! Slight improvements by adding parenthesis:

[code]

Seems to work fine in Chrome, Safari and Firefox.

Not too worried about line-height changes and no I wouldn't hide it from AT - no reason they wouldn't want to know this too. My original design did use the `/` notion to give a different message to AT (English) but that doesn't work in your general solution and [support of it isn't gre

[2020-12-16 22:33] rviscomi commented on #587
@dtikhonov I got your response to the 2021 interest form that you'd like to join the team and saw (in addition to your technical qualifications) that you'd be interested in translating content into Russian. This is the relevant issue where you can coordinate with @lex111 and @Pavel-Evdokimov to get up to speed and see what the current task list is. @bazzadp coordinates all of the translations and

[2020-12-16 22:52] rviscomi commented on #1781
Is there a more passive solution where we use a regex attribute selector to see if en-US exists in the `href`attribute? For example:

[code]

[2020-12-16 22:53] dtikhonov commented on #587
Great, happy to be on board!  I tried to claim the 2020 HTTP/2 chapter but I don't believe I possess the permissions to edit the body of the main comment.  How would I go about doing that, @bazzadp?

[2020-12-17 00:04] bazzadp commented on #1781
This catches a lot. Not everything, but a lot:

[code]

[2020-12-17 00:47] rviscomi opened #1783 "Update % of unused script bytes stat in 2020 JavaScript chapter"
Thinking more about the discussion spurred by [this Twitter thread](https://twitter.com/_developit/status/1338984616397508609), the stat about the % of unused script bytes has a couple of flaws:

1. It combines two independent distributions, dividing one median by another. This is probably ok but we can be more precise and directly calculate the % of unused bytes for each page and take the median

[2020-12-17 01:37] tkadlec commented on #1783
Huh. I can't believe I used compressed and uncompressed bytes together. That's a pretty obvious and silly mistake. :/

When I get back to my computer I'll have a closer look here. That percentage is surprisingly low to me, but I admit that my experience has mostly been with folks who needed perf help so the bias of what I've seen certainly leans towards more extreme cases.

[2020-12-17 01:41] tkadlec commented on #1783
Quick thought, mostly as a note to myself, but I wonder if some of the gap there between what I expect to see and am seeing has to do with the LH audit versus running code coverage directly?

[2020-12-17 02:23] rviscomi commented on #1783
No worries @tkadlec! That `bytesJs` refers to transfer size is admittedly poorly documented/named on our end (along with all of the other response size metrics). I often overlook the distinction myself and I think this might be the first time I've even queried `_objectSizeUncompressed`.

I agree the 37% stat did feel intuitively right, and 13% feels low. Especially all the jQuery code out there, s

[2020-12-17 02:41] tkadlec commented on #1783
I just ran a LH audit on a page versus code coverage. LH is indeed reporting transfer size, not uncompressed bytes. So as long as the audit JSON data aligns (and I assume it would) then we were indeed looking at transfer size versus transfer size originally.

[2020-12-17 04:25] rviscomi commented on #1783
Well that changes things! If that's the case, sorry for the false alarm. I guess LH would be looking at the % of unused code and multiplying that by the transfer size, and not even considering inline script blocks. So the reasoning would be that the amount of unused bytes hurts users in terms of download times, in which case transfer size matters more than compressed size, as opposed to counting t

[2020-12-17 13:15] noah-vdv commented on #1750
Should I translate content such as First Input Delay or keep it as is?

[2020-12-17 13:24] bazzadp commented on #1750
I would say not as it's a technical term. Not quite code, but close enough. Maybe add the Dutch translation after first time it's used.

[2020-12-17 17:38] nico3333fr commented on #539
I'll translate the 2020 accessibility chapter :D

[2020-12-17 17:41] nico3333fr commented on #539
BTW @bazzadp : we do agree that all 2020 chapters referenced in this issue are the ones we can go, they are finalised, right?

[2020-12-17 17:42] bazzadp commented on #539
Correct! Though am sure there are still typos to be found. But translators are extra good at spotting them 😁

[2020-12-17 17:44] bazzadp commented on #539
Oh and still some discussion on Privacy in #1760 so it might change, so will remove that one.

[2020-12-17 18:33] dtikhonov commented on #558
I did some spot checking: it seems no translation team has actually done this.

[2020-12-17 18:54] bazzadp commented on #558
Correct. At the moment the effort of just translating the text has been more than enough to keep them occupied so we're stuck with English graphics.

Not ideal but I honestly don't think we should do any more on this, and should live with what we've got unless and until we move to an alternative to Google Sheets for figures. The effort of translating the graphics, and creating image files for mobi

[2020-12-17 19:51] dtikhonov commented on #558
OK.  I was just looking to find the status of this.  That the visualizations are not translated along with text is something that jumped out at me right away, so that's why I inquire.  If "do nothing" is the consensus approach, I am fine with it.

[2020-12-17 21:49] borisschapira commented on #1781
I'm not sure about the first part. Some of thoses sites exist in languages other than English (https://web.dev/pl/ for example). It would be necessary to check that future authors do not point to those versions… I'm afraid that this will result in a lot of maintenance.

[2020-12-17 21:54] bazzadp commented on #1781
Wasn’t aware they had translated content. Ok then maybe just first three lines as they should be pretty safe? The first part is just a fallback for those that haven’t implemented hreflang.

[2020-12-17 22:02] nucliweb commented on #498
Hi @bazzadp I would like to help with Spanish translation.

[2020-12-17 22:05] bazzadp commented on #498
Good stuff @nucliweb - tag a chapter with your name in the first comment and away you go!

[2020-12-17 22:09] bazzadp commented on #1781
@HTTPArchive/translators any comments on this? Would this be useful and if so would you use it when translating? Any alternatives suggestions?

[2020-12-17 22:10] nucliweb commented on #498
@bazzadp I can't edit the first comment to add my name.

<img width="237" alt="Screen Shot 2020-12-17 at 23 10 18" src="https://user-images.githubusercontent.com/1307927/102549818-0dd52080-40bd-11eb-807c-dfa9c46430d6.png">