[2019-07-23 18:40] rviscomi opened #84 "Query metrics: Chapter 3. Markup"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
I. Page Content | 3. Markup | @bkardell | @zcorpan | #5

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each metric is expected to write the corresponding query and s

[2019-07-23 18:42] rviscomi opened #85 "Query metrics: Chapter 4. Media"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
I. Page Content | 4. Media | @dougsillars @colinbendell @Yonet | @ahmadawais @kornelski | #6

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each metric is expected t

[2019-07-23 18:46] rviscomi opened #86 "Query metrics: Chapter 5. Third Parties"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
I. Page Content | 5. Third Parties | @patrickhulce | @simonhearne @flowlabs @jasti @zeman | #8

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each metric is expected

[2019-07-23 18:49] rviscomi opened #87 "Query metrics: Chapter 6. Fonts"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
I. Page Content | 6. Fonts | @davelab6 @zachleat | @hyperpress @AymenLoukil | #7

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each metric is expected to write the

[2019-07-23 18:51] rviscomi opened #88 "Query metrics: Chapter 7. Performance"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
II. User Experience | 7. Performance | @rviscomi @zeman | @JMPerez @obto @sergeychernyshev | #9

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each metric is expecte

[2019-07-23 18:53] rviscomi opened #89 "Query metrics: Chapter 8. Security"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
II. User Experience | 8. Security | @arturjanc @ScottHelme | @paulcalvano @bazzadp @ghedo @ndrnmnn | #10

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each metric i

[2019-07-23 18:57] rviscomi opened #90 "Query metrics: Chapter 9. Accessibility"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
II. User Experience | 9. Accessibility | Nektarios Paisios, @nadinarama, @obto | @rachellcostello, @kleinab | #11

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each

[2019-07-23 19:00] rviscomi opened #91 "Query metrics: Chapter 10. SEO"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
II. User Experience | 10. SEO | @rachellcostello @ymschaap @AVGP | @clarkeclark @andylimn @voltek62 | #12

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each metric

[2019-07-23 19:02] rviscomi opened #92 "Query metrics: Chapter 11. PWA"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
II. User Experience | 11. PWA | @tomayac @jeffposnick | @hyperpress | #13

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each metric is expected to write the corresp

[2019-07-23 19:04] rviscomi opened #93 "Query metrics: Chapter 12. Mobile Web"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
II. User Experience | 12. Mobile web | @slightlyoff @obto | @hyperpress @AymenLoukil | #14

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each metric is expected to

[2019-07-23 19:05] rviscomi opened #94 "Query metrics: Chapter 13. Ecommerce"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
III. Content Publishing | 13. Ecommerce | @samdutton @alankent | @voltek62 @wizardlyhel | #15

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each metric is expected

[2019-07-23 19:07] rviscomi opened #95 "Query metrics: Chapter 14. CMS"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
III. Content Publishing | 14. CMS | @amedina | @westonruter @mor10 @sirjonathan | #16

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each metric is expected to write

[2019-07-23 19:11] rviscomi opened #96 "Query metrics: Chapter 15. Compression"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
IV. Content Distribution | 15. Compression | @paulcalvano | @yoavweiss @colinbendell | #17

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each metric is expected to

[2019-07-23 19:12] rviscomi opened #97 "Query metrics: Chapter 16. Caching"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
IV. Content Distribution | 16. Caching | @paulcalvano | @yoavweiss @colinbendell | #18

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each metric is expected to writ

[2019-07-23 19:14] rviscomi opened #98 "Query metrics: Chapter 17. CDN"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
IV. Content Distribution | 17. CDN | @andydavies @colinbendell | @yoavweiss @paulcalvano @pmeenan | #19

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each metric is

[2019-07-23 19:15] rviscomi opened #99 "Query metrics: Chapter 18. Page Weight"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
IV. Content Distribution | 18. Page Weight | @khempenius @henrisGH @tammyeverts | @paulcalvano @flowlabs | #20

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each me

[2019-07-23 19:16] rviscomi opened #100 "Query metrics: Chapter 19. Resource Hints"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
IV. Content Distribution | 19. Resource Hints | @khempenius @yoavweiss | @andydavies @addyosmani | #21

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each metric is

[2019-07-23 19:18] rviscomi opened #101 "Query metrics: Chapter 20. HTTP/2"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
IV. Content Distribution | 20. HTTP/2 | @bazzadp | @bagder @rmarx @dotjs | #22

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each metric is expected to write the co

[2019-07-24 08:56] mikegeyser commented on #67
Would it be possible to get a sample JSON file and visualisation, so that we can try and work on  plumbing it into the authoring?

[2019-07-24 20:52] rviscomi commented on #67
Sure, I've added the query, JSON, and a link to an example visualization for the 01_01 metric: https://gist.github.com/rviscomi/e50c893e3d045853215045e9dc62e47d

[2019-07-25 07:44] tjmonsi commented on #87
Working on it

[2019-07-25 07:45] tjmonsi commented on #87
@rviscomi we just copy and paste our SQL right? (assuming the gist sql that we did works)

[2019-07-25 09:44] dougsillars opened #102 "Query 04_05: Microdata usage (og:image, twitter:image, etc)"
Colin or Rick,
going through the media queries:
Is there a good list of microdata examples that I can query on?  Or other handle that I can grab from the data?

Thanks

[2019-07-25 15:06] dougsillars commented on #85
pull request 1 in.
still missing
04_05
04_07
04_11
04_14
04_21

[2019-07-25 15:06] rviscomi commented on #87
Generally, yes. Also make sure to update the queries to the latest dataset 2019_07_01.

It'd be good to start a PR with one or two queries so I can review for code style. Then once those are through you can submit the rest. Thanks @tjmonsi!

[2019-07-25 15:19] rviscomi commented on #102
I'm not as familiar with microdata but IIUC it's not the same type of structured data format as `og:image`. The former seems to be inline attributes giving semantic meaning to the markup while the latter is a type of `head > meta` property.

Here are a few examples of [microdata usage](https://developer.mozilla.org/en-US/docs/Web/HTML/Microdata#Example), [twitter:image usage](https://developer.twi

[2019-07-26 20:49] rviscomi commented on #85
What's up with `04.06`? Did I lose something during copy/paste?

[2019-07-29 00:27] tjmonsi commented on #87
@rviscomi I saw that I would be doing the VF parts, but it says that you have triaged it. Do you have sample SQL iIcan work on for those?

[2019-07-29 12:16] rviscomi commented on #46
Home page is ready!

![home-001c](https://user-images.githubusercontent.com/1120896/62047735-32cfa780-b1d9-11e9-9f18-bc3a0f9db6e1.jpg)

[2019-07-29 12:17] #46 closed

[2019-07-29 12:19] rviscomi opened #106 "Implement home page design"
@HTTPArchive/developers

Using the design in #46, implement the HTML/CSS/JS. For any assets that we don't have (specific fonts or images) use placeholders for now.

[2019-07-29 12:30] tanhengyeow commented on #106
@rviscomi I'm interested in this 😄 Do we want to go with mobile-first or desktop-first implementation?

[2019-07-29 12:38] rviscomi commented on #106
Desktop first, just because we're still waiting on the mobile designs 😁

[2019-07-29 17:39] raghuramakrishnan71 commented on #88
@rviscomi i have not used git for creating PR (i assume PR is a pull request) earlier. Can you please point me to documentation/steps which can help me get started? I can then start adding queries assigned to me.

[2019-07-30 16:30] rviscomi commented on #88
@raghuramakrishnan71 sure, the GitHub Help site has a lot of useful docs:

https://help.github.com/en/articles/fork-a-repo
https://help.github.com/en/articles/about-pull-requests
https://help.github.com/en/articles/creating-a-pull-request

Worst case scenario, you can use the GitHub web UI to start the pull request by uploading files directly. Go to https://github.com/HTTPArchive/almanac.httparchi

[2019-07-30 20:24] rviscomi commented on #87
I don't have sample queries but if you need any help understanding how to query something feel free to post on discuss.httparchive.org and someone (probably me) can help for your specific case. That helps share the knowledge around.

[2019-07-31 07:37] tjmonsi commented on #87
@rviscomi where can I look for the preconnect again? (Custom metric values)

[2019-07-31 07:56] tjmonsi commented on #87
I have a few more questions @rviscomi :
- 06.10: does it mean number of font-weights used per page (percentile) or approximate quantile per font-weight / font-style regardless of font?
- 06.11: am I looking at the Bulletproof (src, src -> local) or (src: woff2, then src -> local)?
- 06.14: does it mean unicode ranges in approximate quantile? or like a sample of output to understand what I need to

[2019-08-01 16:00] rviscomi commented on #67
We've got several open PRs to add queries for the metrics and one thing I wasn't expecting is that @HTTPArchive/data-analysts are returning multiple values in a single query. This makes sense because there are many ways to represent the results, for example a full histogram in addition to significant percentiles (25/50/75).

On the development side, I think we should plan for this when handling th

[2019-08-01 16:18] patrickhulce commented on #67
Oh yes big plus one there! There are also several circumstances in third-party where there's a multi-tiered breakdown and I would need the ability to pull out multiple percentiles from the same metric. I'll put up the PR later today so you can get a sense for it, but it might add another layer of complexity to the situations you've already mentioned.

[2019-08-01 16:33] rviscomi commented on #67
SG thanks for flagging @patrickhulce. However we implement the data rendering, it would need to be flexible for many data types and result schemas.

[2019-08-01 22:08] rviscomi commented on #82
👋 Hey @mathiasbynens, for the "Breakdown of V8 CPU times" metric, which metrics in particular would you like to analyze?

For reference, [here's a JSON blob](https://gist.githubusercontent.com/rviscomi/33082ab7af9a307bd098bf3c8b1df771/raw/7a452fa72f424327f6b98574c39a6bad46443ee7/http-archive-har-payload.json) of all of the data we have. And [here's a list of metrics](https://gist.githubusercontent

[2019-08-02 21:04] rviscomi opened #111 "Create a script to run each SQL file and generate the JSON results"
@HTTPArchive/developers

For each `**/*.sql` file in the https://github.com/HTTPArchive/almanac.httparchive.org/tree/master/sql/2019 directory, run the query through the [BigQuery CLI](https://cloud.google.com/bigquery/docs/bq-command-line-tool) and save the results in a corresponding `**/*.json` file (same subdirectory, adjacent to the query, same file name).

So for example, running the script o

[2019-08-03 18:32] rviscomi commented on #91
I had assumed https://github.com/GoogleChrome/lighthouse/issues/4359 was already added to Lighthouse, but it doesn't seem like it. This may be tricky to get right using only SQL. Since I was the one to add this metric, I think it's ok to change this to "Not Feasible". @ymschaap WDYT?

[2019-08-03 21:32] ymschaap commented on #91
10.05

What I did now was use 10.05 (which grabs any json+ld finds @type and @content) and looked at what `@type`s triggers [rich results](https://developers.google.com/search/docs/guides/search-gallery).

We know the JSON is valid, and we know @context + @type is set, which is pretty close to what GoogleChrome/lighthouse#4359 does.

So imho we could keep it as long as we make sure the make clear

[2019-08-05 18:39] #73 closed

[2019-08-08 13:16] bkardell commented on #84
Sorry, there's a lot of tasks and issues and things here, I keep popping over once in a while to see the status of this issue, but I'd like to make sure I'm not confused.. we don't have data for this yet, right?

[2019-08-08 16:14] rviscomi commented on #84
That's right, we're a bit behind on the analysis. This chapter only has 4 metrics so I'll see if I can unblock you.

[2019-08-08 16:46] rviscomi commented on #84
@bkardell I'm writing queries and saving the results to [this sheet](https://docs.google.com/spreadsheets/d/1WnDKLar_0Btlt9UgT53Giy2229bpV4IM2D_v6OM_WzA/edit?usp=sharing). I've also included a comment for each metric explaining how to read the results.

[2019-08-08 19:48] rviscomi commented on #83
I've created a new table https://bigquery.cloud.google.com/table/httparchive:almanac.parsed_css containing a JSON object for each parsed CSS resource, for example:

[code]

Queries for this chapter that depend on specific style values should reference this table.

[2019-08-09 11:39] mathiasbynens commented on #82
Those metrics are highly fine-grained. For this report, it'd make sense to [combine them into higher-level buckets](https://cs.chromium.org/chromium/src/v8/tools/callstats.html?l=1719-1739&rcl=46afc4f9a6008c3880fcc00783b4210cb467aa9a). I'd propose the following:

- main thread parse time
- main thread compile time
- main thread optimize time
- main thread execution time

[2019-08-09 12:00] mathiasbynens commented on #82
If the above is too much hassle, we could just add up everything under "main thread". (Background work is not interesting, as it doesn't delay page load.)

[2019-08-09 17:26] rviscomi commented on #82
Thanks @mathiasbynens. I've saved the results of the cumulative main thread time query to [this sheet](https://docs.google.com/spreadsheets/d/1kBTglETN_V9UjKqK_EFmFjRexJnQOmLLr-I2Tkotvic/edit?usp=sharing). Let me know if those numbers look reasonable to you or if you'd like to see the results formatted differently (histogram, quantiles, etc).

[2019-08-10 20:04] tanhengyeow commented on #106
@rviscomi Do we want to consider using [normalize.css](https://necolas.github.io/normalize.css/) or is custom reset preferred?

[2019-08-11 04:18] rviscomi commented on #106
Yeah normalize SGTM 👍

[2019-08-11 06:02] tanhengyeow opened #117 "Use normalize.css and organize css files"
1. Using [normalize.css](https://necolas.github.io/normalize.css/) helps browsers render all native elements more consistently, saving us the trouble of performing custom CSS reset on the elements when we want to style them differently. This would be beneficial in the long run when we need to design more pages with custom-styled elements.

2. It would be great if we organize separate page-specific

[2019-08-12 16:21] cqueern commented on #89
If there's time now, or in a future edition would be nice to see metrics for the Clear Site Data header as well. Thanks for everyone's hard work.

[2019-08-12 17:19] ScottHelme commented on #89
That's probably too hard @cqueern as it's likely only present on a minimal subset of responses. For example we use it on https://report-uri.com but only on our logout endpoint.

[2019-08-12 17:35] cqueern commented on #89
Hi @ScottHelme. Yes, I understand the header's intended use case would be that it only appears on certain events like logout. Agreed it would not be feasible to capture when it is sent for those events.

That said there are sites sending CSD for all visits and it would be interesting to learn adoption of that practice, if it is not much extra work.

[2019-08-12 17:45] ScottHelme commented on #89
We should be able to look for it globally much like any other header with only a small amount of work. Hey @rviscomi is it too late to add a metric?

[2019-08-14 00:10] rviscomi commented on #89
Sure. @jrharalson you're analyzing other security headers. Could you also include % of sites that include the CSD header on the firstHtml response? I'll add that to the todo list in the initial comment.

[2019-08-14 03:25] #84 closed

[2019-08-14 03:55] #117 closed

[2019-08-15 20:52] #102 closed

[2019-08-16 16:49] rviscomi commented on #64
I've created an `almanac` dataset with _1k subset tables as well as clustered/partitioned tables for easier querying.

There are also combined tables, for example response bodies + requests, enabling efficient queries like "select only CSS response bodies".

I've also created a `parsed_css` table that is the JSON output from the CSS parser, to answer queries about specific CSS functionality.

[2019-08-16 16:49] #64 closed

[2019-08-16 16:49] #71 closed

[2019-08-16 17:00] #82 closed

[2019-08-16 18:03] rviscomi commented on #21
@khempenius @yoavweiss question regarding this metric:

How is priority determined? I don't think this is an attribute of the `<link>` element.

[2019-08-16 18:49] rviscomi commented on #100
@khempenius @yoavweiss @andydavies @addyosmani I'm putting together a sheet with the results of these queries. [See here](https://docs.google.com/spreadsheets/d/14QBP8XGkMRfWRBbWsoHm6oDVPkYhAIIpfxRn4iOkbUU/edit?usp=sharing). As it comes together, feel free to let me know if anything is unintuitive or if my understanding of the metric is incorrect.

[2019-08-16 19:56] rviscomi commented on #100
@khempenius @yoavweiss a couple of resource hint metrics reference priorities:

- 19.03	crossorigin attribute, as attribute, resource priority
- 19.06	Preload only: % of sites where a preload of low priority is done before a load of higher priority and a different as attribute value.

My understanding of resource hints is that these are elements that take the form `<link rel="[preload,prefetch,...

[2019-08-16 21:28] igrigorik commented on #100
I believe we're talking about priority indirectly here, as defined based on provided `as` attribute — e.g. as=image has lower priority than as=script. That said, @yoavweiss is the expert on this bit, so I'll defer to him :-)

[2019-08-17 08:42] yoavweiss commented on #100
What @igrigorik said - the reference to priorities is implicit...
I could create a table indicating as values and resource types that exceed them in priorities, if that would be helpful.

The priority tracking here should be for `preload` but not for `prefetch`.

It does make sense to track `dns-prefetch` as well, good call. It could also be interesting to see it in combination with other hints (e

[2019-08-19 21:11] rviscomi commented on #100
@yoavweiss yes that'd be helpful!

Updated the [queries](https://github.com/HTTPArchive/almanac.httparchive.org/pull/122/commits/4b404a59bc3e110c676fc93748f22c324acb5bb0) and the [results sheet](https://docs.google.com/spreadsheets/d/14QBP8XGkMRfWRBbWsoHm6oDVPkYhAIIpfxRn4iOkbUU/edit?usp=sharing).

According to metric [19_07](https://docs.google.com/spreadsheets/d/14QBP8XGkMRfWRBbWsoHm6oDVPkYhAIIpf

[2019-08-21 18:36] rviscomi commented on #83
I've started analyzing these metrics. I'll be saving the results to [this sheet](https://docs.google.com/spreadsheets/d/1uFlkuSRetjBNEhGKWpkrXo4eEIsgYelxY-qR9Pd7QpM/edit?usp=sharing). @una @argyleink I'd appreciate if you could follow along with the sheet to make sure that the results align with your intuition/expectations or if there's anything that needs to be scrutinized further. I can let you

[2019-08-21 19:17] pmeenan commented on #21
Thie "importance" attribute maybe?

On Fri, Aug 16, 2019 at 2:03 PM Rick Viscomi <notifications@github.com>
wrote:

[2019-08-22 15:21] rviscomi commented on #83
@una @argyleink

A couple of questions about the metrics:

- 02.05	Logical properties
  - Can a logical property be defined as any property containing `{block,inline}-{start,end}` or exactly`{block,inline}-size`?
- 02.42	Number of `@keyframes` declared per site
  - Given the CSS below, would you count this as one `@keyframes` declaration or two keyframes (from, to)?
[code]

[2019-08-22 15:36] argyleink commented on #83
that animation code hurts to look at, it's like every no no in 1 animation lol

i'd count that as 1. it's one @keyframe animation with 2 steps

[2019-08-22 16:06] rviscomi commented on #83
Thanks! BTW I copied it from the MDN example :) https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes

[2019-08-22 16:23] argyleink commented on #83
just submitted a wiki patch to fix that code sample you referenced 👍

[2019-08-22 19:55] rviscomi commented on #83
Another question:

-  02.10	Top CSS libraries
-   02.11	Top reset utilities

For these metrics, do you have a list of libraries/utilities and/or know a way to detect them?

https://www.wappalyzer.com/categories/web-frameworks includes stuff like Bootstrap. Are there any other Wappalyzer detections we could leverage for these?

[2019-08-22 21:13] nucliweb commented on #83
## CSS Frameworks

You have [stateofcss](https://2019.stateofcss.com/technologies/css-frameworks/)

## Reset Utilities

- []()
- []()
- []()
- []()
- []()

[2019-08-22 21:35] nucliweb commented on #83
Here are a couple more resources:

- [awesome-css-frameworks](https://github.com/troxler/awesome-css-frameworks)
- [awesome-css](https://github.com/awesome-css-group/awesome-css)

[2019-08-23 04:39] rviscomi commented on #83
Thanks @nucliweb!

[2019-08-23 06:17] nucliweb commented on #83
By the way, do you know about [Project Wallace](https://www.projectwallace.com/)?
_You may have some idea about a new metric (if possible)_

Here are the [Open Source Tools](https://www.projectwallace.com/oss)

[2019-08-23 14:46] nucliweb commented on #83
What do you think of adding the APIs of [Paint API](https://drafts.css-houdini.org/css-paint-api/) and [Typed OM](https://drafts.css-houdini.org/css-typed-om/) of **CSS Houdini** as a metric?

They are two active APIs in Chrome
👉🏼 [Is Houdini ready yet‽](https://ishoudinireadyyet.com/)

It may be interesting to know if there are implementation and its trend

[2019-08-23 14:55] una commented on #83
I think that would be really interesting but I would be very surprised if
there is any use in production considering chrome is the only browser to
support.

On Fri, Aug 23, 2019 at 10:46 AM Joan León <notifications@github.com> wrote:

[2019-08-23 15:06] nucliweb commented on #83
I have found an awesome project with **CSS Houdini** in production  👉🏼[Extra.css](https://extra-css.netlify.com) 🤪

We can add CSS Houdini on **Almanac 2020** 😊

[2019-08-23 15:13] nucliweb commented on #83
Btw, @una, the inspiration to add **CSS Houdini** as a metric I was have after reading [Chrome Image Lazy Loading - Sites Already Using it on Week 1!](https://discuss.httparchive.org/t/chrome-image-lazy-loading-sites-already-using-it-on-week-1/1707)

[2019-08-23 16:36] rviscomi commented on #83
Paint API is used in 7 (!!) stylesheets:

[code]

client | page | url | style
-- | -- | -- | --
desktop | http://uupaa.hatenablog.com/ | http://uupaa.hatenablog.com/ | background-image: paint(“foo”)
desktop | https://nteract.io/ | https://nteract.io/ | background-image:paint(ripple)
desktop | https://whydocatsanddogs.com/ | https://whydocatsanddogs.com/css/style.css | background-image: paint(rough

[2019-08-23 20:49] rviscomi commented on #101
@paulcalvano any progress on this?

[2019-08-24 09:54] nucliweb commented on #83
## Typed OM

To detecting Typed OM, you can find **in Javascript context**:

- The method attributeStyleMap
- Any [Numeric Factory](https://drafts.css-houdini.org/css-typed-om/#numeric-factory) _(CSS.em, CSS.px, CSS.deg, CSS.number, etc...)_

## Sample

Sample from [Working with the new CSS Typed Object Model](https://developers.google.com/web/updates/2018/03/cssom)
[code]

[2019-08-29 16:26] rviscomi commented on #83
Added metrics 02_10 and 02_11 to the [results sheet](https://docs.google.com/spreadsheets/d/1uFlkuSRetjBNEhGKWpkrXo4eEIsgYelxY-qR9Pd7QpM/edit?usp=sharing). I was only able to match 3 reset utilities, but Wappalyzer already includes many of the libraries so we're fortunate to have good coverage there.

I wasn't able to write queries for these last two metrics:

02.21	Minified vs unminified
02.25	Av

[2019-08-29 18:54] #83 closed

[2019-08-29 21:06] rviscomi commented on #94
Working on the queries for this chapter. Putting results into [this sheet](https://docs.google.com/spreadsheets/d/1FUMHeOPYBgtVeMU5_pl2r33krZFzutt9vkOpphOSOss/edit?usp=sharing) for review.

[2019-08-29 22:00] argyleink commented on #83
fascinating information!

[2019-08-30 06:21] rviscomi opened #130 "Implement Chapter page design"
See below for the Chapter mockup. This will be the design template for non-home pages.

@HTTPArchive/developers

![chapter-001f](https://user-images.githubusercontent.com/1120896/63997472-9b59bf00-cacc-11e9-9c34-b9f722e05d1d.jpg)

[2019-08-30 08:18] tanhengyeow commented on #130
Some questions I have in mind:
1. Is the side navigation menu's position intended (some margin to the right)? Or should we flush it to the left?
2. I've not looked at `generate_chapters.py` in detail yet but from the looks of it it
   - HTML rendering is covered for this part:
![image](https://user-images.githubusercontent.com/25320782/64004342-a6e6cd80-cb40-11e9-8035-479c1634b6a3.png)
   - Graph

[2019-08-30 18:02] rviscomi commented on #130
There's a grid layout being used where the main body of the page is fixed width and centered. Also see how it aligns with the footer content. I think we might also want to change the header to fit within this same grid, so the background is 100% but the header contents are fixed width and centered like the footer.

This is just an example of embedding a code sample, you can disregard for now.

Dat

[2019-08-30 21:23] rviscomi commented on #94
Question for @samdutton @alankent: regarding `13.05	Not on a platform or marketplace: sites that show payment activity but don't appear to be on a platform or marketplace.` how would we detect sites that show payment activity? I was thinking about using a Blink feature counter, but it seems they all depend on user interactions like checking out. Any ideas?

[2019-08-31 09:01] tanhengyeow commented on #106
@rviscomi Are the mobile designs/assets needed for the home page finalized? If so I can factor that in the current PR as well.

Another approach would be that I finish up the current PR taking care of the desktop design first and follow up the mobile design in a separate PR :)

[2019-08-31 14:28] rviscomi commented on #106
Yes, the mobile home page design is final and ready to be implemented. I think it'd make sense to do both desktop/mobile responsively in one PR since they will share the same code. Does that sound good?

[2019-08-31 14:57] tanhengyeow commented on #106
Yep sounds great since they are all finalized 😄

[2019-08-31 16:55] Awesomecloud commented on #29
@rviscomi How much content are we talking about to be translated, I'd like to help out with German, but I think it's too much for one person isnt it?

[2019-08-31 19:40] rviscomi commented on #29
My best guess is 20 chapters * ~2 pages each on average, so about 40 pages of content. It will definitely be a lot for one person, so it would be great to have alternate translators to help out. We will appreciate whatever you can contribute!

I'll invite you to the @HTTPArchive/translators team to get you started.

[2019-09-02 11:09] yoavweiss commented on #100
Here's a table for Chrome's priorities at the moment:

|File type | Characteristic | Priority |
|---------|---------------|---------|
|HTML | Top-level navigation| Highest |
|HTML | Iframe | Highest|
|CSS| Blocking | High|
|CSS|Late in document|Medium|
|CSS| Optional | Lowest|
|Script|Blocking | High|
|Script|Blocking - late in document | Medium|
|Script| Defer| Low|
|Script|Async|Low|
|Script|mod

[2019-09-02 11:38] andydavies commented on #100
Is this at the network or the rendering layer - there were subtle
differences but not sure if that still applies

On Mon, 2 Sep 2019 at 12:09, Yoav Weiss <notifications@github.com> wrote:

[2019-09-02 11:55] yoavweiss commented on #100
These are Blink's priorities, not the net stack ones

[2019-09-03 05:44] rviscomi opened #131 "Write content: Chapter 1. JavaScript"
Part | Chapter | Authors | Reviewers | Analysts | Metrics | Analysis
-- | -- | -- | -- | -- | -- | --
I. Page Content | 1. JavaScript | @addyosmani @housseindjirdeh @mathiasbynens | @rwaldron @RReverser | @rviscomi | #3 | #82

### Due by: October 7

- [x] Review the [results spreadsheet](https://docs.google.com/spreadsheets/d/1kBTglETN_V9UjKqK_EFmFjRexJnQOmLLr-I2Tkotvic/edit?usp=sharing) and work

[2019-09-03 05:45] rviscomi opened #132 "Write content: Chapter 2. CSS"
Part | Chapter | Authors | Reviewers | Analysts | Metrics | Analysis
-- | -- | -- | -- | -- | -- | --
I. Page Content | 2. CSS | @una @argyleink | @meyerweb @huijing | @rviscomi | #4 | #83

### Due by: October 7

- [x] Review the [results spreadsheet](https://docs.google.com/spreadsheets/d/1uFlkuSRetjBNEhGKWpkrXo4eEIsgYelxY-qR9Pd7QpM/edit?usp=sharing) and work with your analyst(s) (@rviscomi) if y

[2019-09-03 05:48] rviscomi opened #133 "Write content: Chapter 3. Markup"
Part | Chapter | Authors | Reviewers | Analysts | Metrics | Analysis
-- | -- | -- | -- | -- | -- | --
I. Page Content | 3. Markup | @bkardell | @zcorpan @tomhodgins @matthewp | @rviscomi | #5 | #84

### Due by: October 7

- [x] Review the [results spreadsheet](https://docs.google.com/spreadsheets/d/1WnDKLar_0Btlt9UgT53Giy2229bpV4IM2D_v6OM_WzA/edit?usp=sharing) and work with your analyst(s) (@rvisc

[2019-09-03 05:49] rviscomi opened #134 "Write content: Chapter 5. Third Parties"
Part | Chapter | Authors | Reviewers | Analysts | Metrics | Analysis
-- | -- | -- | -- | -- | -- | --
I. Page Content | 5. Third Parties | @patrickhulce | @simonhearne @flowlabs @jasti @zeman | @patrickhulce | #8 | #86

### Due by: October 7

- [x] Write the contents of your chapter and get it peer reviewed (@simonhearne @flowlabs @jasti @zeman).
- [ ] File a PR to merge your written contents in m

[2019-09-03 17:25] rviscomi commented on #98
@raghuramakrishnan71 looking back at #19 there are a few metrics that were added late. Let's use the following metric numbering:

- 17_01: What are the top CDNs (by number of sites using rather requests?)
- 17_02: What % of sites use a CDN
- 17_02b: % of sites that use a CDN for primary domain i.e. www
- 17_02c: % of sites that use a CDN for secondary domain e.g. static. media.
- 17_02d: Usage of

[2019-09-03 18:04] rviscomi opened #135 "Write content: Chapter 13. Ecommerce"
Part | Chapter | Authors | Reviewers | Analysts | Metrics | Analysis
-- | -- | -- | -- | -- | -- | --
III. Content Publishing | 13. Ecommerce | @samdutton @alankent | @voltek62 @wizardlyhel | @rviscomi | #15 | #94

### Due by: October 7

- [x] Review the [results spreadsheet](https://docs.google.com/spreadsheets/d/1FUMHeOPYBgtVeMU5_pl2r33krZFzutt9vkOpphOSOss/edit?usp=sharing) and work with your an

[2019-09-03 18:53] rviscomi commented on #100
Thanks @yoavweiss. I'm not actually sure if this one is doable. I can tell whether one resource type was loaded before another, but I don't necessarily know whether it was defer/async, in/out of the viewport, blocking/optional, etc. These characteristics affect the priority for resource types significantly, so without them the results wouldn't be accurate.

If you know of a more straightforward wa

[2019-09-03 18:55] rviscomi opened #136 "Write content: Chapter 19. Resource Hints"
Part | Chapter | Authors | Reviewers | Analysts | Metrics | Analysis
-- | -- | -- | -- | -- | -- | --
IV. Content Distribution | 19. Resource Hints | @khempenius | @andydavies @addyosmani @bazzadp @yoavweiss  | @rviscomi | #21 | #100

### Due by: October 7

- [x] Review the [results spreadsheet](https://docs.google.com/spreadsheets/d/14QBP8XGkMRfWRBbWsoHm6oDVPkYhAIIpfxRn4iOkbUU/edit?usp=sharing) a

[2019-09-03 21:25] alankent commented on #135
Feel free to ping me again in a few days time. Trying to stay hyper
focussed on AMP Contributor summit which is running behind schedule.
Thanks!
Alan

On Tue, Sep 3, 2019 at 11:04 AM Rick Viscomi <notifications@github.com>
wrote:

[2019-09-03 21:49] wizardlyhel commented on #135
Looking forward for reviewing this! The data analysis looks amazing!

[2019-09-03 22:49] rviscomi commented on #95
@amedina in case you're interested, many of the Ecommerce queries in #94 would be applicable to this chapter just by changing the Wappalyzer category to CMS. You can see the types of results in this [sheet](https://docs.google.com/spreadsheets/d/1FUMHeOPYBgtVeMU5_pl2r33krZFzutt9vkOpphOSOss/edit?usp=sharing).

[2019-09-04 20:48] #94 closed

[2019-09-05 03:09] paulcalvano commented on #101
Working on some of these queries tonight.   Quick question on the yearly trend - each yearly trend on these queries will process more than 100 TB of data.   Is this ok @rviscomi ?

[2019-09-05 03:38] paulcalvano commented on #101
8 of these queries were added to this PR - https://github.com/HTTPArchive/almanac.httparchive.org/pull/127

Results from the H2 queries are here - https://docs.google.com/spreadsheets/d/1z1gdS3YVpe8J9K3g2UdrtdSPhRywVQRBz5kgBeqCnbw/edit?usp=sharing

[2019-09-05 03:39] paulcalvano commented on #96
Results from the queries are here - https://docs.google.com/spreadsheets/d/1IK9kaScQr_sJUwZnWMiJcmHEYJV292C9DwCfXH6a50o/edit?usp=sharing

[2019-09-05 03:44] rviscomi commented on #101
100 TB per query is too expensive. Maybe just compare July 2019 vs July 2018?

[2019-09-05 04:08] paulcalvano commented on #101
Good idea.  I think doing a 1 year comparison is still very useful, and it will certainly keep the query cost down.

[2019-09-05 05:41] bazzadp commented on #101
Some of the stats are already available as a yearly trend. For example:
 - Half of 20.01: https://httparchive.org/reports/state-of-the-web#h2
 - 20.15: https://httparchive.org/reports/state-of-the-web#tcp

Happy to use those. Are they cheaper as only use summary tables or are they generated in a different way? Either way happy to use that data where we have it though will the State Of The Web stil

[2019-09-05 06:34] rviscomi opened #139 "Investigate results of 02_45"
From metric 02_45 in the [CSS analysis results sheet](https://docs.google.com/a/httparchive.org/spreadsheets/d/1uFlkuSRetjBNEhGKWpkrXo4eEIsgYelxY-qR9Pd7QpM/edit?disco=AAAADmoDVyw):

client | p10 | p25 | p50 | p75 | p90
-- | -- | -- | -- | -- | --
desktop | 1 | 1 | 1 | 2 | 3
mobile | 1 | 1 | 1 | 2 | 3

@argyleink left this comment:

The query is at https://github.com/HTTPArchive/almanac.httparchive

[2019-09-05 13:13] paulcalvano commented on #101
20.15 is easily trendable since it uses the summary tables.

Most of the H2 analysis requires the requests table, which is currently the only place where we can query the protocol. Since it's part of the monthly pipeline, the trend data has accumulated over time instead of being run at once.  I think working with the curated report results should be fine for your needs on this 20.02 (H2 requests o

[2019-09-05 13:55] bazzadp commented on #101
OK that's what I thought.

And to be clear you meant 20.01 part 2 (total HTTP/2 requests) is fine, but 20.01 part 1 (total sites - aka home pages only) is not fine? You said 20.02 in your comment but 20.02 was dropped. I guess I should really have separated 20.01 out into two asks to avoid this confusion :-)

[2019-09-05 15:41] samdutton commented on #135
Thanks for this! Will check it out shortly.

On Tue, 3 Sep 2019 at 22:49, Helen Lin <notifications@github.com> wrote:

[2019-09-05 17:07] rviscomi opened #141 "Optimize and serve chapter/page illustrations"
The raw illustration JPEGs are 2000 by 1000 pixels and up to 7 MB in size.

- [x] upload raw illustrations
- [x] figure out which image dimensions we'll actually need
- [x] generate optimized versions for each size
- [x] write descriptive alt text for non-visual users
- [ ] write the markup and styles to serve the optimized version depending on the viewport size and capabilities
- [x] set the chap

[2019-09-05 18:00] rviscomi commented on #139
I made a histogram of the frequencies of each classList length:

classes | desktop | mobile
-- | -- | --
0 | 0.11% | 0.11%
1 | 64.27% | 63.39%
2 | 20.18% | 20.52%
3 | 7.44% | 7.71%
4 | 4.31% | 4.49%
5 | 1.71% | 1.75%
6 | 0.74% | 0.74%
7 | 0.38% | 0.39%
8 | 0.22% | 0.22%
9 | 0.19% | 0.19%
10 | 0.10% | 0.10%
11 | 0.06% | 0.07%
12 | 0.05% | 0.05%
13 | 0.04% | 0.04%
14 | 0.03% | 0.03%
15 | 0.02% | 0.0

[2019-09-05 18:19] rviscomi commented on #101
Both will coexist indefinitely. The distinction being that httparchive.org is the live historical view of the state of the web while almanac.httparchive.org is a companion report that elaborates on what that year's results actually mean.

[2019-09-05 19:51] argyleink commented on #139
interesting.. i brought up OOCSS libs because they're a primo example of AMPLE usage of classes, like enough that the high end could/should be quite a few classes per node. I could be convinced that OOCSS libs like tachyons, tailwind, etc arent popular enough to influence the data, but even other seamingly very very popular libraries like bootstrap or strategies like BEM have more than 2 classes o

[2019-09-05 22:20] rviscomi commented on #139
The total percent of all class name lengths greater than 10 is only 0.5%. We're talking about a small percent of a sample of ~1.6B class attributes though, so that's still ~8M instances of having 10+ classes. That perspective might make this more digestible.

Fun fact: the most class names is 21,504! It only occurs once and I assume that's a parsing bug 😁

Here's the [sheet with the full results](

[2019-09-06 18:02] argyleink commented on #139
great ideas.
that sheet is fascinating!

[2019-09-06 18:05] argyleink commented on #132
can you link me something that explains this chapter more please? i'm not feeling confident in what that task entails, thanks!

[2019-09-06 19:01] rviscomi commented on #132
I threw some advice in the [Authors' Guide](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Authors'-Guide#writing-the-chapter) wiki. Let me know if you still have unanswered questions and I can iterate on the wiki.

[2019-09-06 19:15] una commented on #139
I think this data is super fascinating! I don't think oocss libraries are
as widely used on the web as they seem from some circles. Also I wonder if
this speaks to the majority of the web not using reusable/global styles as
frequently. The data on 0 classes being used surprised me, as I assume many
people are still styling based on base element. How would this account for
nested elements like '.li

[2019-09-07 04:27] rviscomi commented on #87
@davelab6 @zachleat PTAL at [this sheet](https://docs.google.com/spreadsheets/d/108g6LXdC3YVsxmX1CCwrmpZ3-DmbB8G_wwgQHX5pn6Q/edit?usp=sharing) which contains the results of all of the queries so far. I've left comments in each sheet with guidance on how to interpret the results. LMK if anything looks wrong.

My only remaining questions:

`06.11 Font formats (how many people are still using Bulletp

[2019-09-07 04:30] rviscomi opened #143 "Write content: Chapter 6. Fonts"
Part | Chapter | Authors | Reviewers | Analysts | Metrics | Analysis
-- | -- | -- | -- | -- | -- | --
I. Page Content | 6. Fonts | @davelab6 @zachleat | @hyperpress @AymenLoukil | @tjmonsi @rviscomi | #7 | #87

### Due by: October 7

- [x] Review the [results spreadsheet](https://docs.google.com/spreadsheets/d/108g6LXdC3YVsxmX1CCwrmpZ3-DmbB8G_wwgQHX5pn6Q/edit?usp=sharing) and work with your analys

[2019-09-08 04:01] #99 closed

[2019-09-08 04:11] rviscomi opened #144 "Write content: Chapter 18. Page Weight"
Part | Chapter | Authors | Reviewers | Analysts | Metrics | Analysis
-- | -- | -- | -- | -- | -- | --
IV. Content Distribution | 18. Page Weight | @khempenius @tammyeverts | @paulcalvano @flowlabs | @khempenius | #20 | #99

### Due by: October 7

- [x] Review the [results spreadsheet](https://docs.google.com/spreadsheets/d/1nWOo8efqDgzmA0wt1ipplziKhlReAxnVCW1HkjuFAxU/edit?usp=sharing) and work wit

[2019-09-08 04:25] rviscomi opened #145 "Write content: Chapter 15. Compression"
### Due by: October 7

- [ ] Review the [results spreadsheet](https://docs.google.com/spreadsheets/d/1IK9kaScQr_sJUwZnWMiJcmHEYJV292C9DwCfXH6a50o/edit?usp=sharing)
- [ ] Write the contents of your chapter and get it peer reviewed (@yoavweiss @colinbendell).
- [ ] File a PR to merge your written contents in markdown format to the [src/content/en/2019](https://github.com/HTTPArchive/almanac.httparch

[2019-09-08 04:28] rviscomi commented on #101
@paulcalvano I've checked off the metrics that have been covered by #127 although there are still 7 remaining. Once those are finalized we can pass this over to @bazzadp to start writing.

[2019-09-08 05:04] rviscomi commented on #93
Saving query results to [this sheet](https://docs.google.com/spreadsheets/d/1dPBDeHigqx9FVaqzfq7CYTz4KjllkMTkfq4DG4utE_g/edit?usp=sharing)

[2019-09-08 05:49] rviscomi commented on #93
@slightlyoff @obto AFAICT we don't have a way to measure this metric:

`12.10 For each of the following, what % of sites make this permission request while loading: Notifications, Geolocation, Camera, Microphone`

I checked the blink feature counters and didn't see specific counters for these. Static analysis (regex) would be unreliable but we could try it as a last resort if you're confident if w

[2019-09-08 05:51] rviscomi opened #147 "Write content: Chapter 12. Mobile Web"
### Due by: October 7

- [ ] Review the [results spreadsheet](https://docs.google.com/spreadsheets/d/1dPBDeHigqx9FVaqzfq7CYTz4KjllkMTkfq4DG4utE_g/edit?usp=sharing) and work with your analyst(s) (@ymschaap @rviscomi) if you have any questions about the data.
- [ ] Write the contents of your chapter and get it peer reviewed (@hyperpress @AymenLoukil).
- [ ] File a PR to merge your written contents i

[2019-09-08 05:52] rviscomi commented on #90
@dougsillars you've checked off a few of the metrics but I don't see a PR for their respective queries. Do you have that ready for review?

[2019-09-08 13:02] dougsillars commented on #90
It lookeded like they all went into my chapter 4 PR at one point, because
you commented on them.  If not, I'll try another PR

On Sun, 8 Sep 2019, 06:52 Rick Viscomi, <notifications@github.com> wrote:

[2019-09-08 17:04] rviscomi opened #149 "Write content: Chapter 17. CDN"
Part | Chapter | Authors | Reviewers | Analysts | Metrics | Analysis
-- | -- | -- | -- | -- | -- | --
IV. Content Distribution | 17. CDN | @andydavies @colinbendell | @yoavweiss @paulcalvano @pmeenan | @raghuramakrishnan71 @rviscomi | #19 | #98

### Due by: October 7

- [x] Review the [results spreadsheet](https://docs.google.com/spreadsheets/d/1Y7kAxjxUl8puuTToe6rL3kqJLX1ftOb0nCcD8m3lZBw/edit?usp

[2019-09-08 17:06] rviscomi commented on #97
@paulcalvano any progress on this?

[2019-09-08 17:22] rviscomi commented on #90
@dougsillars ok thanks a new PR would be great

[2019-09-08 17:24] dougsillars commented on #90
They are in the chapter 4 PR.  Do I remove them from that one, and then
create a new one?

On Sun, 8 Sep 2019, 18:22 Rick Viscomi, <notifications@github.com> wrote:

[2019-09-08 18:59] rviscomi commented on #90
Yes please 😊

[2019-09-08 19:01] rviscomi commented on #139
Do you mean in the CSS? This query doesn't take the selectors into account, only the `class` attributes in the HTML. So the 0 values in this case are people with empty attributes, eg `class=""`.

[2019-09-09 14:57] obto commented on #93
@rviscomi Figuring out how to write a regex to not only check if permissions are being requested... but if they are being requested during page load (instead of after a user intent like clicking a button) sounds pretty difficult haha.

Let's set this one aside and keep moving forward as you proposed.

[2019-09-09 15:17] obto commented on #139
This data looks pretty accurate to me.

At first I took a double take much like you all are describing. And it took me a bit to remember the majority of sites aren't "techy" like Medium, but instead use basic Wordpress themes or have a rudimentary static site like Hacker News.

After I started looking at sites like these instead, the data began making sense when I saw tons of classes like: `email`

[2019-09-09 16:14] obto commented on #147
@rviscomi Think you meant to reference the Mobile Web metrics and analysis in the table above: #14 #93

**Metric 12.11**:

1. You left a comment saying this should be read as `mobile pages include icons in links/buttons`, while the metric should be for buttons with ONLY icons in it. The BQ query for this looks good however, so I just wanted to double check with you I'm not missing something.

2. I

[2019-09-09 18:00] rviscomi commented on #147
🙈 yes sorry about that! Bad copypasta! Fixed.

Yes, I may have been lazy with my comment there. You're right.

And yes, the custom metric only appears to check that the first child of the clickable is an SVG, not necessarily the only child. :(

Updated 12_12 query and results to include the % pages. 👍

[2019-09-09 18:08] #93 closed

[2019-09-09 18:55] obto commented on #147
Thanks so much for adding the extra query. So 10% of all sites at least use the `email` type. That's way more penetration than I expected :smile:

As for the bug... I suspect SVG buttons are far less popular than icon buttons so what do you think of doing the following:
I'll send in a PR to fix the bug and write the content for this metric using the current, albeit buggy, data. Then next month whe

[2019-09-09 19:00] rviscomi commented on #147
SGTM 👍

[2019-09-09 19:05] obto commented on #147
Going to check off the data review then :tada:

[2019-09-10 15:12] performize commented on #29
Hello everyone!
I'm Andrea from Italy and I'd like to contribute with Italian. @rviscomi let me know how :)

[2019-09-10 15:40] rviscomi commented on #29
Thanks @performize great to have you! I'll send you an invite to the team. Meanwhile I've put you down as the primary Italian translator.

[2019-09-10 20:24] rviscomi commented on #131
I just realized the [results spreadsheet](https://docs.google.com/spreadsheets/d/1kBTglETN_V9UjKqK_EFmFjRexJnQOmLLr-I2Tkotvic/edit?usp=sharing) only included a handful of metrics. I've gone through all of the queries, [updated](https://github.com/HTTPArchive/almanac.httparchive.org/pull/152) them to use client/percentiles, and saved their results to the sheet.

@mathiasbynens @addyosmani @houssein

[2019-09-11 17:09] #100 closed

[2019-09-11 17:11] rviscomi commented on #136
Checking in. Let me know if you have any questions about the [results](https://docs.google.com/spreadsheets/d/14QBP8XGkMRfWRBbWsoHm6oDVPkYhAIIpfxRn4iOkbUU/edit?usp=sharing). If not we can check off the first item.

[2019-09-11 17:39] rviscomi commented on #143
Checking in. Any questions about the [results](https://docs.google.com/spreadsheets/d/108g6LXdC3YVsxmX1CCwrmpZ3-DmbB8G_wwgQHX5pn6Q/edit?usp=sharing)? If not we can check off the first item.

[2019-09-11 17:57] rviscomi commented on #87
Closing this issue with the questions above unresolved.

[2019-09-11 17:57] #87 closed

[2019-09-11 20:41] #96 closed

[2019-09-13 15:34] obto commented on #90
1. 9.21 would need another custom metric, regex would be far too unreliable
2. 9.33 and 9.34 would also require custom metrics
3. I believe 9.25 would be IMPLd by checking ScreenOrientation.lock usage, so we can just reuse 12.07

@rviscomi Want me to take care of the 9.23 and 9.25? After which we should be able to close out this issue

[2019-09-13 19:49] rviscomi commented on #130
Mobile designs are also available here: https://drive.google.com/open?id=1ud4iZWxUB7vMZlcKUrPUkLuT1haBV_B6

[2019-09-13 19:49] rviscomi opened #154 "Implement Methodology page design"
See https://drive.google.com/open?id=1ud4iZWxUB7vMZlcKUrPUkLuT1haBV_B6 for desktop designs. Mobile designs coming soon.

@HTTPArchive/developers is anyone available to take this?

[2019-09-13 19:55] rviscomi opened #155 "Write content: Chapter 9. Accessibility"
Part | Chapter | Authors | Reviewers | Analysts | Metrics | Analysis
-- | -- | -- | -- | -- | -- | --
II. User Experience | 9. Accessibility | Nektarios Paisios, @nadinarama, @obto | @rachellcostello, @kleinab | @dougsillars @rviscomi @obto | #11 | #90
### Due by: October 7

- [x] Review the [results spreadsheet](https://docs.google.com/spreadsheets/d/16JGy-ehf4taU0w4ABiKjsHGEXNDXxOlb__idY8ifUtQ/e

[2019-09-13 20:12] rviscomi commented on #90
Yes, that'd be great thanks!

[2019-09-15 07:37] rviscomi opened #158 "Write content: Chapter 8. Security"
Part | Chapter | Authors | Reviewers | Analysts | Metrics | Analysis
-- | -- | -- | -- | -- | -- | --
II. User Experience | 8. Security | @arturjanc @ScottHelme | @paulcalvano @bazzadp @ghedo @ndrnmnn | @dotjs @jrharalson | #10 | #89

### Due by: October 7

- [x] Review the [results spreadsheet](https://docs.google.com/spreadsheets/d/1Zq2tQhPE06YZUcbzryRrBE6rdZgHHlqEp2XcgS37cm8/edit?usp=sharing) a

[2019-09-15 07:39] rviscomi commented on #158
Sorry for the delay getting this one analyzed. Hopefully we're still able to turn this around in a few weeks. The results spreadsheet is really big and full of interesting insights.

[2019-09-17 04:39] #91 closed

[2019-09-17 04:42] rviscomi opened #163 "Write content: Chapter 10. SEO"
Part | Chapter | Authors | Reviewers | Analysts | Metrics | Analysis
-- | -- | -- | -- | -- | -- | --
II. User Experience | 10. SEO | @rachellcostello @ymschaap @AVGP | @clarkeclark @andylimn @voltek62 @AymenLoukil @catalinred | @ymschaap | #12 | #91

### Due by: October 7

- [x] Review the [results spreadsheet](https://docs.google.com/spreadsheets/d/1uARtBWwz9nJOKqKPFinAMbtoDgu5aBtOhsBNmsCoTaA/ed

[2019-09-17 04:43] rviscomi opened #164 "Write content: Chapter 11. PWA"
Part | Chapter | Authors | Reviewers | Analysts | Metrics | Analysis
-- | -- | -- | -- | -- | -- | --
II. User Experience | 11. PWA | @tomayac @jeffposnick | @hyperpress | @jrharalson | #13 | #92

### Due by: October 7

- [x] Review the [results spreadsheet](https://docs.google.com/spreadsheets/d/19BI3RQc_vR9bUPPZfVsF_4gpFWLNT6P0pLcAdL-A56c/edit?usp=sharing) and work with your analyst(s) (@jrharal

[2019-09-17 05:46] #89 closed

[2019-09-17 05:50] #90 closed

[2019-09-17 06:34] #92 closed

[2019-09-17 16:09] rviscomi commented on #106
Here's the link to the interactive designs with colors/fonts/etc annotated: https://projects.invisionapp.com/d/main?origin=v7#/console/18174420/379965024/inspect

[2019-09-17 22:12] rviscomi opened #165 "No OpenCart websites detected since April"
There are 0 OpenCart websites in the Ecommerce results for #135. This is definitely wrong.

![image](https://user-images.githubusercontent.com/1120896/65083118-ac804800-d975-11e9-91b5-65296520c796.png)

It turns out that this has been a bug since April. I found [this PR in Wappalyzer](https://github.com/AliasIO/Wappalyzer/pull/2668) made in April that changed the detection of OpenCart from an HTML

[2019-09-17 22:18] rviscomi commented on #165
As a stopgap I can manually query for URLs containing that cookie and augment the `technologies.2019_07_01_*` tables.

[2019-09-17 22:59] rviscomi commented on #135
@alankent @samdutton note that as part of the fix for #165, I've had to rerun all of the queries for this chapter to include OpenCart data. The aggregate data has changed vary slightly as a result. Just FYI in case you've already started writing about the specific values.

[2019-09-18 07:39] ymschaap commented on #163
@rachellcostello @AVGP is it an idea to setup a call (hangout, zoom) together to discuss how to get started on this? If so, drop me your e-mail so we can set a date in calendar.

[2019-09-19 04:00] kyletaylored commented on #165
So following a bit on this. I was the creator of the PR that replaced the Regex detection for OpenCart detection. The original issue was that Wappalyzer was showing that [Google.com was built on OpenCart and PHP](https://github.com/AliasIO/Wappalyzer/issues/2650) (which we know isn't right). Looking at the regex, all it was doing was looking for a link that contained the text "opencart", which is

[2019-09-19 16:53] rviscomi commented on #165
Thanks for following up @kyletaylored! IIUC you're saying that the cookie is the strongest signal for detecting OpenCart, but API limitations prevent us from actually measuring it? Does that mean detection for OpenCart is broken for everyone using Wappalyzer since the detections are all done in-browser? Now I wonder what other detections are cookie-based...

In our case, we integrate Wappalyzer wi

[2019-09-19 17:10] kyletaylored commented on #165
If you're only checking on a first request where a cookie needs to be set and checked again, then it's probably broken. But also consider that most people using Wappalyzer are using it as a browser extension and they're revisiting sites, so those cookies are going to be set.

Yep, that would be your best bet if you're accessing them that way!

[2019-09-23 09:56] ymschaap commented on #163
I've made a quick outline on the content:

Also @rachellcostello @AVGP: reminder of my idea to setup a call together.

[2019-09-24 13:12] ymschaap commented on #163
Ok, I've sent an email with dates.

@rviscomi when is the new deadline for the content?
https://docs.google.com/spreadsheets/d/1LR29JpI2XJSjan_z6uP1YpRy4EYYivYZPqCIG-9sfFY/ shows we are behind on schedule. Maybe provide on update on that?

[2019-09-24 14:40] rviscomi commented on #163
The current milestones and schedule sheet are correct: October 7 is the target deadline for at least the first draft, ideally final draft.

[2019-09-24 19:14] clarkeclark commented on #163
@rviscomi I know it's really late, but would it be possible to get the distribution of the length of the first H1 tag across sites? I'd settle for regex.

[2019-09-24 19:24] ymschaap commented on #163
@clarkeclark we do something similar with the <title> tag, so technically it is not an issue:

[2019-09-24 19:25] rviscomi commented on #163
Added as metric 10_16: https://docs.google.com/spreadsheets/d/1uARtBWwz9nJOKqKPFinAMbtoDgu5aBtOhsBNmsCoTaA/edit#gid=758241096

[2019-09-24 20:28] rviscomi commented on #95
@amedina I've gone ahead and applied the ecom queries to the CMS category and updated the results sheet. I'll get the authoring issue opened so you can start reviewing the results and writing the chapter.

[2019-09-24 20:32] rviscomi opened #169 "Write content: Chapter 14. CMS"
Part | Chapter | Authors | Reviewers | Analysts | Metrics | Analysis
-- | -- | -- | -- | -- | -- | --
III. Content Publishing | 14. CMS | @amedina @ernee | @westonruter @mor10 @sirjonathan | @rviscomi | #16 | #95

### Due by: October 7

- [x] Review the [results spreadsheet](https://docs.google.com/spreadsheets/d/1FDYe6QdoY3UtXodE2estTdwMsTG-hHNrOe9wEYLlwAw/edit?usp=sharing) and work with your ana

[2019-09-24 20:34] rviscomi opened #170 "Write content: Chapter 4. Media"
Part | Chapter | Authors | Reviewers | Analysts | Metrics | Analysis
-- | -- | -- | -- | -- | -- | --
I. Page Content | 4. Media | @dougsillars @colinbendell @Yonet | @ahmadawais @kornelski @eeeps | @dougsillars @rviscomi | #6 | #85

### Due by: October 7

- [x] Review the [results spreadsheet](https://docs.google.com/spreadsheets/d/1hj9bY6JJZfV9yrXHsoCRYuG8t8bR-CHuuD98zXV7BBQ/edit?usp=sharing) an

[2019-09-24 22:58] rviscomi commented on #88
@zeman I've saved the results of the lab metric to [this sheet](https://docs.google.com/spreadsheets/d/1zWzFSQ_ygb-gGr1H1BsJCfB7Z89zSIf7GX0UayVEte4/edit?usp=sharing). I'll also be adding the results of the field metrics there as well. I have some ideas for the outline of our chapter, I'll share a doc to get the ball rolling.

[2019-09-25 04:14] paulcalvano commented on #101
@bazzadp  - I should have these done soon.  Few questions on the remaining queries:

20.07 - I'm not clear on how to detect H2 prioritization issues within the HTTP Archive data.   One way we could estimate it is by categorizing sites as using web servers that pass/fail, as well as CDNs that pass/fail.  If we did that we could consider a fail to be:
   - use of a CDN that fails prioritization test

[2019-09-25 05:54] rviscomi opened #171 "Write content: Chapter 7: Performance"
Part | Chapter | Authors | Reviewers | Analysts | Metrics | Analysis
-- | -- | -- | -- | -- | -- | --
II. User Experience | 7. Performance | @rviscomi | @JMPerez @obto @sergeychernyshev @zeman | @rviscomi @raghuramakrishnan71 | #9 | #88

### Due by: October 7

- [x] Review the [results spreadsheet](https://docs.google.com/spreadsheets/d/1zWzFSQ_ygb-gGr1H1BsJCfB7Z89zSIf7GX0UayVEte4/edit?usp=sharing

[2019-09-25 05:57] rviscomi opened #172 "Write content: Chapter 16: Caching"
Part | Chapter | Authors | Reviewers | Analysts | Metrics | Analysis
-- | -- | -- | -- | -- | -- | --
IV. Content Distribution | 16. Caching | @paulcalvano | @yoavweiss @colinbendell | @paulcalvano @obto | #18 | #97

### Due by: October 7

- [x] Review the results spreadsheet (TBD) and work with your analyst(s) (@paulcalvano @obto) if you have any questions about the data.
- [x] Write the contents

[2019-09-25 05:58] rviscomi opened #173 "Write content: Chapter 20. HTTP/2"
Part | Chapter | Authors | Reviewers | Analysts | Metrics | Analysis
-- | -- | -- | -- | -- | -- | --
IV. Content Distribution | 20. HTTP/2 | @bazzadp | @bagder @rmarx @dotjs | @paulcalvano | #22 | #101

### Due by: October 7

- [X] Review the results spreadsheet (TBD) and work with your analyst(s) (@paulcalvano) if you have any questions about the data.
- [X] Write the contents of your chapter an

[2019-09-25 06:26] bazzadp commented on #101
Hey @paulcalvano,

**20.07** - I think we should limit this to CDNs as those are the only ones we have a definitive list for and they should be reasonably consistent compared to server setup which varies a lot in installed version, config and O/S TCP stacks...etc. So if we could report like this based on [Andy's list](https://github.com/andydavies/http2-prioritization-issues#cdns--cloud-hosting-se

[2019-09-25 09:58] rachellcostello commented on #163
My apologies @ymschaap and @AVGP - I've just returned from annual leave so have been catching up on everything this morning! I've sent you my email address Yvo, but 9:00-12:00 BST tomorrow or 13:30-15:00 BST Friday are the best time slots for me this week. I'll also be available next week.

[2019-09-25 19:33] rviscomi commented on #132
👋 Greetings! Just checking in to make sure this is progressing and remind you of the October 7 deadline timed so we can launch at Chrome Dev Summit.

The checklist above indicates that you still need to review the results, write content, and get it reviewed. Feel free to reach out if you have any questions about the process.

[2019-09-25 19:43] rviscomi commented on #134
👋 Greetings! Just checking in to make sure this is progressing and remind you of the October 7 deadline timed so we can launch at Chrome Dev Summit.

The checklist above indicates that you still need to write content and get it reviewed. Feel free to reach out if you have any questions about the process.

[2019-09-25 19:43] rviscomi commented on #143
👋 Greetings! Just checking in again to make sure this is progressing and remind you of the October 7 deadline timed so we can launch at Chrome Dev Summit.

The checklist above indicates that you still need to review the results, write content, and get it reviewed. Feel free to reach out if you have any questions about the process.

[2019-09-25 19:46] rviscomi commented on #158
👋 Greetings! Just checking in to make sure this is progressing and remind you of the October 7 deadline timed so we can launch at Chrome Dev Summit.

The checklist above indicates that you still need to review the results, write content, and get it reviewed. Feel free to reach out if you have any questions about the process.

[2019-09-25 19:52] rviscomi commented on #163
Just checking in to say I'm happy to see this moving along! Thanks everyone for your help getting this launched on time! 🤜💥 🤛

[2019-09-25 19:52] rviscomi commented on #164
👋 Greetings! Just checking in to make sure this is progressing and remind you of the October 7 deadline timed so we can launch at Chrome Dev Summit.

The checklist above indicates that you still need to review the results, write content, and get it reviewed. Feel free to reach out if you have any questions about the process.

[2019-09-25 19:53] rviscomi commented on #147
👋 Greetings! Just checking in to make sure this is progressing and remind you of the October 7 deadline timed so we can launch at Chrome Dev Summit.

The checklist above indicates that you still need to write content and get it reviewed. Feel free to reach out if you have any questions about the process.

[2019-09-25 19:54] rviscomi commented on #135
Just checking in to say I'm happy to see this moving along! Thanks everyone for your help getting this launched on time! 🤜💥 🤛

[2019-09-25 19:56] rviscomi commented on #145
👋 Greetings! Just checking in to make sure this is progressing and remind you of the October 7 deadline timed so we can launch at Chrome Dev Summit.

The checklist above indicates that you still need to write content and get it reviewed. Feel free to reach out if you have any questions about the process.

[2019-09-25 19:57] rviscomi commented on #149
👋 Greetings! Just checking in to make sure this is progressing and remind you of the October 7 deadline timed so we can launch at Chrome Dev Summit.

The checklist above indicates that you still need to review the results, write content, and get it reviewed. Feel free to reach out if you have any questions about the process.

[2019-09-25 19:58] rviscomi commented on #144
👋 Greetings! Just checking in to make sure this is progressing and remind you of the October 7 deadline timed so we can launch at Chrome Dev Summit.

The checklist above indicates that you still need to review the results, write content, and get it reviewed. Feel free to reach out if you have any questions about the process.

[2019-09-25 19:58] rviscomi commented on #136
👋 Greetings! Just checking in again to make sure this is progressing and remind you of the October 7 deadline timed so we can launch at Chrome Dev Summit.

The checklist above indicates that you still need to review the results, write content, and get it reviewed. Feel free to reach out if you have any questions about the process.

[2019-09-25 20:39] rviscomi commented on #133
Added @tomhodgins and @matthewp as reviewers, per Brian's request (👋 thanks both!)

[2019-09-25 22:48] rviscomi commented on #171
@zeman I've sketched out a very rough outline of the chapter [here](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/content/en/2019/performance.md). How does that look to you?

Any questions/concerns about the lab data in the [results sheet](https://docs.google.com/spreadsheets/d/1zWzFSQ_ygb-gGr1H1BsJCfB7Z89zSIf7GX0UayVEte4/edit?usp=sharing)?

[2019-09-25 22:51] #88 closed

[2019-09-26 03:25] paulcalvano commented on #101
Thanks.  I added `httparchive.almanac.h2_prioritization_cdns_201909` with the latest results from Andy's table and was able to create a query matching the table in your example.

[2019-09-26 05:32] paulcalvano commented on #101
Just submitted a PR with more H2 queries. Some notes

* I wrote another query named 20_04a_05a_06a, which contains details for 20.04, 20.05 and 20.06
* 20.15 and 20.16 are very similar, and I think the query that I wrote for 20.15 satisfies both.  However if I'm mistaken, let me know and I'll update.

I'll review comment #22 in the morning and see if we can add 20.02 and 20.17 back in.

[2019-09-26 05:34] #29 closed

[2019-09-26 05:35] #59 closed

[2019-09-26 05:35] #26 closed

[2019-09-26 05:36] rviscomi commented on #62
PRs with queries for all metrics have been merged or are being reviewed! 🎉

[2019-09-26 05:36] #62 closed

[2019-09-26 05:38] #70 closed

[2019-09-26 05:38] #72 closed

[2019-09-26 11:29] paulcalvano commented on #101
All of the H2 query results are here - https://docs.google.com/spreadsheets/d/1z1gdS3YVpe8J9K3g2UdrtdSPhRywVQRBz5kgBeqCnbw/edit?usp=sharing

[2019-09-26 13:05] tomayac commented on #164
FYI, work on this chapter has started in [this document](https://docs.google.com/document/d/1MOt6doqXdL1yrvZvpRIDv37ulFpUBBj1cxLi_l8k1gQ/edit?usp=sharing).

[2019-09-26 15:13] paulcalvano commented on #101
Added 20.02.  Will take a look at 20.17 now...

# 20.2 - Measure of all HTTP versions (0.9, 1.0, 1.1, 2, QUIC) for main page of all sites, and for HTTPS sites. Table for last crawl.

[2019-09-26 18:58] rviscomi commented on #67
Related part of the pipeline: #177

[2019-09-26 22:48] bazzadp commented on #101
Thanks @paulcalvano! Marked the results with a few questions. Big one being that I'm not seeing QUIC anywhere - or is the blank protocol QUIC?

[2019-09-27 14:29] tomayac commented on #164
@hyperpress, if you have time, you can have a [first read](https://docs.google.com/document/d/1MOt6doqXdL1yrvZvpRIDv37ulFpUBBj1cxLi_l8k1gQ/edit#). Still in a *very* rough shape, but all stats are covered (pending Workbox).

[2019-09-27 15:52] patrickhulce commented on #134
Alright @simonhearne @flowlabs @jasti @zeman, it's your time to shine! :)

Comments/feedback/reviews/edits welcome: https://docs.google.com/document/d/1q52f7pRSO0g6J1zbiVq-iVCYdGs6UdYQTCLOAFglz94/edit?usp=sharing

[2019-09-29 01:02] rviscomi commented on #106
@HTTPArchive/developers: is anyone available to help finish the implementation of the home page design? @tanhengyeow and I have made some progress on this in the [design branch](https://github.com/HTTPArchive/almanac.httparchive.org/tree/design). It's not quite fully responsive and there are some graphical elements still to be implemented, like the header background (see the [original designs](htt

[2019-09-29 01:33] rviscomi opened #180 "Too many firstHtml fields in the almanac dataset"
The `almanac.requests` table is the result of joining `summary_requests` and `requests` table by client, page, and url. But these three fields do not necessarily uniquely identify a given request, because a page can reload the same resource multiple times.

There are [61 Almanac queries](https://github.com/HTTPArchive/almanac.httparchive.org/search?utf8=%E2%9C%93&q=firstHtml&type=) already merged

[2019-09-29 21:20] obto commented on #180
I ran through the queries to get a feel for how many use firstHtml in the affected tables:

`httparchive.almanac.summary_response_bodies`: 33 queries (14 of which are in the A11Y chapter)
`httparchive.almanac.requests`: 20 queries

It seems fixing `almanac.summary_response_bodies` in time isn't very feasible... and I couldn't find any pattern in the data to implement a simple stop-gap to make the

[2019-09-29 21:23] bazzadp commented on #180
@rviscomi I don't think the `_is_base_page` stats is reliable either.

It is being set to the first request. Which is often not the first HTML page. So far I've found two reasons why not:

1) For those sites that do a redirect the initial page (which just returns a 301) is set as the _is_base_page. Which may be true but is not the `firstHTML` page and I'd imagine most are interested in the `firstH

[2019-09-29 21:47] obto commented on #180
While digging into this I realized each requestid is not unique (like i previously thought) but sometimes shared with over 500 requests? Is this intended? Am I missing something really obvious here?

[2019-09-29 21:51] obto commented on #155
1. At a first glance the data looks good. Marking this as reviewed.

2. I'm now slowly working through the data and creating a doc with my thoughts and how we might organize this. I'll share it tomorrow after I'm done :)

[2019-09-29 21:52] obto commented on #147
Working on a doc with some of my thoughts and what metrics are really popping out to me. I should have this part done tomorrow :)

[2019-09-29 21:55] zeman commented on #171
@rviscomi the outline looks promising. Unfortunately this is really poor timing for me as I'm away on holiday till the 14th. If the deadline is the 7th then I'm afraid I can't take on the writing. I'm still happy to be a reviewer when I'm back.

[2019-09-29 22:12] bazzadp commented on #180
I'm also confused with this comment:

While that's true I would expect Chrome to just reuse the same asset rather than downloading again (even if caching is turned off). And I also would expect that to happen on assets but not on the HTML page itself. Yet I have found instance of pages loading themselves. First was the service workers discussed above, but there are others (e.g. https://coopervisio

[2019-09-30 04:11] MSakamaki commented on #106
I can will help.
python is a beginner, javascript/css/html is good.

I will try to find implementation I can do it.

[2019-09-30 09:26] ymschaap commented on #163
@rviscomi, two questions:
* do we already have to think about the charts/tables? Or are those added later? E.g. we just add placeholders?
* Are the general limitations of the web crawl already laid out to the reader (e.g. homepage only, not a Google project, etc) or do we need to emphasise those as well?

[2019-09-30 09:47] AymenLoukil commented on #147
@obto i'm here to help on review, feel free ;)

[2019-09-30 13:05] MSakamaki commented on #106
@rviscomi
sorry.
The link of the above link (original design) does not seem to be seen due to insufficient authority.
How can I view it?

[2019-09-30 17:51] rviscomi commented on #106
@MSakamaki what's your email address? I'll invite you to the Invision project.

[2019-09-30 19:10] rviscomi commented on #163
For now placeholders would be great. You could generate a simple chart in Sheets and drop that in as an indicator of what you're trying to convey or just `<insert bar chart of metric 10.01 here>` for example. We're still working on the design of the data viz and will be applying that across all chapters for consistency.

There will be a universal Methodology page that generally explains how HTTP A

[2019-10-01 05:12] MSakamaki commented on #106
@rviscomi
Thank you! My email address is: mail@m-sakamaki.jp

[2019-10-01 15:19] rviscomi commented on #180
@obto this is another side-effect of the `firstHtml` issue. All of the fields from the `summary_requests` table are duplicated in addition to `firstHtml` because of the non-unique table join.

Here's [an example](http://httparchive.webpagetest.org/result/190713_Dx89_G5WS/1/details/#waterfall_view_step1) of the same page being requested hundreds of times with a non-null referrer.

[2019-10-01 21:31] obto commented on #155
Whew, took a while to analyze the data. Here's the working document which contains my thoughts on the metrics: https://docs.google.com/document/d/1RPPuBL1JykWWhte-ivXeWCLu26OKBqXLeGrq7EMdG_g/edit?usp=sharing

[2019-10-01 21:37] obto commented on #147
Thanks @AymenLoukil ! Finishing my analysis on the a11y chapter took a lot longer than I expected, so I'm still working on this one. I'll be sure to ping you when I'm through :)

[2019-10-02 11:05] MSakamaki commented on #106
Is there any discussion or answer to the breakpoint (responsive width) of this website?
Currently, 600, 800, 900, and 2048 are set.
(2048px was added by me)

If not decided, is it worth discussing?
(Creating common breakpoints helps you create a general style sheet.)

[2019-10-02 15:13] rviscomi commented on #106
No strong feelings on breakpoints. Use whatever is needed to keep the layout looking good.

[2019-10-02 16:03] patrickhulce commented on #134
Hey reviewers! Friendly reminder to try to get your thoughts in on the chapter **by EOD tomorrow** if you'd like your feedback to be included, so I can turn it around over the weekend.

[2019-10-02 16:54] rviscomi commented on #67
Now that the analysis phase is just about done (:raised_hands:) , it's a good time to flesh out the data viz process a bit more. I have a few thoughts I'd just like to regurgitate for the record and gather feedback :)

### Consistency over simplicity
Primary goal: **ensure consistency across chapters**. The easiest thing to do would be to allow authors to create whatever charts they need to suppor

[2019-10-02 20:41] rviscomi commented on #171
Ahh ok thanks for the update @zeman. We can stall the release of this chapter, or at least the Lab section, until you're available. I'd still love to have your contributions. I'll check in with you again after you're back from holiday.

[2019-10-03 03:24] obto commented on #147
Here's the document containing my insights so far. I have a few more metrics to finish looking through and fix up, but let me know what you all think.

You should be able to leave comments, but shoot me your email and I'll be happy to give you edit access as well.

https://docs.google.com/document/d/1QqXiqDq7FsrGCGYDDpFCqg5iK6PxM3L4in3t9TwhYN4/edit?usp=sharing

[2019-10-03 16:28] rviscomi commented on #134
🛎 @simonhearne @zeman @flowlabs @jasti

[2019-10-03 17:04] rviscomi commented on #180
Had an idea for another approach. Rather than trying to join the incompatible tables, we can extract the summary metadata from the JSON-based HARs themselves. We've already done something like this before: https://github.com/HTTPArchive/httparchive.org/issues/135#issuecomment-489358306

Looking at the [query](https://gist.github.com/rviscomi/52494fdcfa561c88cfb1c4255ce3939d#file-summary_requests-s

[2019-10-03 18:24] #180 closed

[2019-10-03 20:54] argyleink commented on #132
we're making progress, stay tuned

[2019-10-04 14:45] rviscomi commented on #164
@tomayac @jeffposnick the doc isn't publicly accessible. I'll start a PR so it's accessible for @hyperpress to review.

[2019-10-04 15:47] #165 closed

[2019-10-04 15:47] #111 closed

[2019-10-04 15:49] #97 closed

[2019-10-04 15:54] rviscomi opened #187 "Investigate results of 02_06"
In the [results for 02_06](https://docs.google.com/spreadsheets/d/1uFlkuSRetjBNEhGKWpkrXo4eEIsgYelxY-qR9Pd7QpM/edit#gid=154353360) "% of pages per color format" @argyleink and @una pointed out a possible bug:

client | freq_hsl | freq_hsla | total | pct_hsl | pct_hsla
-- | -- | -- | -- | -- | --
desktop | 32456 | 824154 | 4371973 | 0.74 | 18.85
mobile | 455149 | 999030 | 5297442 | 8.59 | 18.86

So

[2019-10-04 16:35] rviscomi commented on #187
Wrote a hacky query to count the number of stylesheets (not pages) that contain either `hsl(` or `hsla(`

[code]

client | hsl | hsla
-- | -- | --
mobile | 507665 | 1371314
desktop | 43319 | 1074992

It aligns with the proportions of the parsed CSS results, so I'm more confident that the results are correct.

[2019-10-04 17:05] #139 closed

[2019-10-04 18:04] tammyeverts commented on #144
Hi all! I'll be wrapping up my contribution over the weekend. Just to make sure we're all on the same page, my understanding is that I'm writing more of an introduction to the chapter than an analysis of the data.

This is the outline of what I'll be writing, based on Rick's and my discussion a few months back:

- 1-2 paragraphs explaining each metric
- Comparison of YOY numbers (with the caveat t

[2019-10-04 18:11] khempenius commented on #144
@tammyeverts Ah good to know, I've been starting at a blank google doc the past couple day's with writer's block.

If you want to send your doc over to me once it's done, I can fill in the analysis part. I was planning on making graphs/visuals to represent the results of most of the queries.

[2019-10-04 18:20] tammyeverts commented on #144
@khempenius Will do!

[2019-10-04 18:30] rviscomi commented on #144
If it helps, I'm keeping track of the drafts other authors are writing in [this sheet](https://docs.google.com/spreadsheets/d/1LR29JpI2XJSjan_z6uP1YpRy4EYYivYZPqCIG-9sfFY/edit?ts=5d13c7d0#gid=2048624140) (column I). Feel free to take a peek at any for inspiration.

[2019-10-04 18:33] tammyeverts commented on #144
Thanks, Rick!

Quick question about graphs: Is there a standard format you want to use for them? (I'm assuming there is.) I might want to include some graphs using outside data. What's the best way to make sure they match what Katie's creating with the HA data?

[2019-10-04 18:38] khempenius commented on #144
Stylistically, I was thinking the graphs would probably each look a bit different because I don't think one format is going to work for all of them.

It's probably not what you're asking about, but if it helps, I've aggregated all the results from the HA data into one Google Sheet, so if that would be helpful resource I can share it with you. (It's on my corp account, so I think the only way I can

[2019-10-04 18:39] khempenius commented on #144
Hahah, nevermind, it looks like Rick had already done the exact same thing :)

[2019-10-04 18:40] obto commented on #147
@rviscomi regarding the small, medium and large cls values in `chrome-ux-report.materialzed.device_summary`, is this a correct interpretation of how these values are calculated?:

Google tracks the CLS for every single pageview. The percentages we see here, are the % of times the CLS for a given pageview falls within small (5% or less), medium (5 - 100%), or large (100% +).

Is this correct?

[2019-10-04 18:43] rviscomi commented on #144
Good question. We're designing our own Almanac data viz from scratch using the raw data in the spreadsheets.

I've just given you all edit access to the [results sheet](https://docs.google.com/spreadsheets/d/1nWOo8efqDgzmA0wt1ipplziKhlReAxnVCW1HkjuFAxU/edit?usp=sharing). So one option is to create your own charts in the sheet and copy/paste them into your draft doc, without worrying about their de

[2019-10-04 18:50] rviscomi commented on #147
Yes, that's correct.

That's a different question :)

This is the first time anyone has ever looked at CLS data in aggregate, so we're still figuring out if bucketing by small/medium/large is the best/most correct way to do so.

You may find that you're not able to glean anything from the CLS results, which is ok.

[2019-10-04 18:52] tammyeverts commented on #144
Perfect – thanks!

[2019-10-04 18:52] rviscomi commented on #170
👋 Greetings! Just checking in to make sure this is progressing and remind you of the October 7 deadline timed so we can launch at Chrome Dev Summit.

The checklist above indicates that you still need to review the results, write content, and get it peer reviewed. Feel free to reach out if you have any questions about the process.

[2019-10-04 19:02] obto commented on #147
I think there is something very interesting here, it's just a matter of wording 🤔

Because it seems a large CLS means there were enough repaints and shifting to essentially repaint the ENTIRE viewport. And based on the data below... the average site does this for 25% of its visits.

That's a mouthful to say right now though haha

percentile | % small cls | % medium cls | % large cls
-- | -- | -- |

[2019-10-04 19:05] obto commented on #147
What could be fascinating to measure in the future however, is how many times (per page view) there is a sizeable layout shift. Perhaps to measure how erratic the page load was.

[2019-10-04 19:20] rviscomi commented on #163
@ymschaap @AVGP @rachellcostello have you made any progress on the action items in https://github.com/HTTPArchive/almanac.httparchive.org/issues/163#issue-494397228? Also let me know if you have a doc of the chapter draft I could look at. Thanks everyone!

[2019-10-04 19:27] rviscomi commented on #143
🛎 just a ping to see if any progress has been made on this. Let me know!

[2019-10-04 19:34] rviscomi commented on #149
🛎 just a ping to see if any progress has been made on this. Let me know!

[2019-10-04 19:35] rviscomi commented on #136
🛎 just a ping to see if any progress has been made on this. Let me know!

[2019-10-04 19:37] rviscomi commented on #173
Hey @bazzadp I know @paulcalvano is still working on https://github.com/HTTPArchive/almanac.httparchive.org/pull/176. I understand if you won't be able to get this finished by the October 7 deadline. Hopefully we get that PR merged today to unblock you.

[2019-10-04 19:54] khempenius commented on #136
Starting a doc for this.

[2019-10-04 19:58] ahmadawais commented on #170
Looking forward to reviewing the piece.

[2019-10-04 20:01] bazzadp commented on #173
Already made a start @rviscomi . Hope to make some good progress this weekend and ideally have a first draft completed but we’ll see.

[2019-10-04 20:03] rviscomi commented on #173
Perfect, thanks for being on top of this!

[2019-10-04 20:06] rviscomi commented on #134
@patrickhulce could you start a PR with the markdown version of your doc and perhaps we can get it peer reviewed on the PR?

[2019-10-04 20:11] rviscomi commented on #158
I've heard from both Scott and Artur that they plan to work on this and get something ready by Monday 👍. Bumping up to "In Progress".

[2019-10-04 21:20] patrickhulce commented on #134
Sure @rviscomi  👍

[2019-10-04 23:17] obto commented on #147
Here's the document I'm currently writing in: https://docs.google.com/document/d/1ypPGDyvpWJcil1bNuvq3D8DXcwjHN00NX2iYQtU70oo/edit#

My analysis of the metrics is now done, so I'll be working on writing it all up this weekend.

[2019-10-05 07:16] #164 closed

[2019-10-05 07:31] hyperpress commented on #147
I'm open over the weekend for review when ready.

[2019-10-05 16:34] AVGP commented on #163
Sorta. We have a shared doc where we take notes (I shared it with you) and once we got everything together, we will put that into a proper draft, proofread and get it in as a PR.

[2019-10-06 09:39] bazzadp commented on #136
@khempenius , @yoavweiss , @rviscomi did you consider measuring meta tag usage versus HTTP headers?

This is especially important as many HTTP/2 implementations take the HTTP preload header as a signal to push, but do not do the same for the meta preload tag. Will have a look and see if I can see the relative usage of each based on the queries created for this and my chapter on HTTP/2, but might b

[2019-10-06 17:54] zachleat commented on #143
@rviscomi I’m going through this now—hope to have a preliminary draft together by tomorrow morning!

[2019-10-06 18:11] patrickhulce commented on #134
Reviewers please see https://github.com/HTTPArchive/almanac.httparchive.org/pull/189 instead of the Google doc now :)

[2019-10-06 19:49] bazzadp commented on #173
OK @bagder, @rmarx , @dotjs (and CC to @paulcalvano  and @rviscomi in case you want a read), I have a very initial draft here: https://github.com/bazzadp/almanac.httparchive.org/blob/http2_chapter/src/content/en/2019/http2.md

This is based on data in this spreadsheet: https://docs.google.com/spreadsheets/d/1z1gdS3YVpe8J9K3g2UdrtdSPhRywVQRBz5kgBeqCnbw/edit?usp=sharing (though I think the Alt Svc d

[2019-10-07 00:38] khempenius commented on #136
Initial [draft](https://docs.google.com/document/d/1v19-ELAyM9JVr2cY0_CCGSm9ay3hTFOeivZCyEkYEWk/edit?usp=sharing)

[2019-10-07 00:58] khempenius commented on #136
@bazzadp It looks like the data set for this chapter looks only at usage w/ <link> tags.

[2019-10-07 08:35] andydavies commented on #149
I'm on it…

How long do you expect the chapter to be?

[2019-10-07 17:01] rviscomi commented on #149
Thanks @andydavies! The [Authors' Guide](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Authors'-Guide) has some advice about chapter length, to summarize feel free to make it as long or short as needed to get your point across. This chapter has ~25 metrics so if you discuss all of them it could be long, but you can pick and choose to discuss only the most interesting results. Up to y

[2019-10-07 17:36] #101 closed

[2019-10-07 17:56] obto commented on #147
Thanks for waiting everyone, I've finished writing everything besides the intro and conclusion, and am ready for editing.

@slightlyoff @hyperpress @AymenLoukil

[2019-10-07 17:57] obto commented on #147
@rviscomi At some point I'd love to get your thoughts on my interpretation of the CLS metrics. They're in the section named: [Shifting content while loading](https://docs.google.com/document/d/1ypPGDyvpWJcil1bNuvq3D8DXcwjHN00NX2iYQtU70oo/edit#heading=h.jcincmxdwr3s)

[2019-10-07 18:13] rviscomi commented on #141
@HTTPArchive/developers is anyone available to work on this?

[2019-10-07 18:20] tammyeverts commented on #144
Hey all! I thought I'd be able to wrap up my contribution this morning, but I'd forgotten that two of my fellow SpeedCurvers are on vacation this week, and I'm helping cover for them – ack! I should be able to finish things up this evening. Is that ok?

[2019-10-07 18:40] rviscomi commented on #144
No problem! Thanks for the heads up.

[2019-10-07 19:29] hyperpress commented on #147
Great. I can review this evening. 📖

[2019-10-07 20:18] hyperpress commented on #141
I can work on this. Go ahead and assign me and I'll work on it after a
chapter review tonight.

[2019-10-07 20:21] rviscomi commented on #141
Thanks @hyperpress!

[2019-10-07 20:28] argyleink commented on #187
🤷‍♂

[2019-10-07 20:28] una commented on #187
Further poll: https://twitter.com/Una/status/1181303759231684608?s=20

[2019-10-07 22:06] AymenLoukil commented on #147
Nice ! I'll start reviewing tomorrow @obto :)

[2019-10-08 07:27] hyperpress commented on #141
Quick update. I got started late on the Mobile Web Chapter review this evening. I still need to finish that up, and I'll take care of the optimizations tomorrow without fail.

[2019-10-08 10:18] bagder commented on #173
I need to off with saying that I think this is an impressive chapter and I don't have a much to add. Hats off to @bazzadp for a job well done! I've read it from top to bottom several times and I've found no technical issue and the statistics and details seem to match with the text.

I have some very minor language nits or discussion points:

1. the phrase "performance boast" is used in several pla

[2019-10-08 10:29] bazzadp commented on #173
Thanks @bagder. You are correct in all your nits and will fix them.

IMHO it should be "an HTTP" - one of the quirks of English when dealing with a silent H, as I pronounce it Ach Tee Tee Pee rather Hach Tee Tee Pee. The [style guide we were asked to follow agrees with an example of an HTML](https://developers.google.com/style/articles)

[2019-10-08 12:59] zachleat commented on #143
Put up an early PR here https://github.com/HTTPArchive/almanac.httparchive.org/pull/192 and forwarded it on to @davelab6 👍

[2019-10-08 18:09] ymschaap commented on #163
@AVGP @rachellcostello look at what Chapter 12 made:

I personally:
* like their friendly tone of voice
* added relevant links, this is the web, we should to
* already added charts placeholders

Can I do anything for the parts you got assigned?

[2019-10-08 20:48] AymenLoukil commented on #147
I did a review of the document @obto. I found the writing style nice and catch users to read, bravo !
I added some comments..

[2019-10-08 20:55] obto commented on #147
Thanks! I took a quick look and you made some really good suggestions. I'll
make some changes tonight 😊

On Tue, Oct 8, 2019, 15:48 Aymen Loukil <notifications@github.com> wrote:

[2019-10-09 02:54] rviscomi commented on #171
@JMPerez @obto @sergeychernyshev please have a look at [this draft](https://docs.google.com/document/d/1S0De_lBFCuqLWa2ZlB31SKQZE_zkboweeAUWLrcDuLw/edit?usp=sharing) of the field performance section. When @zeman's lab performance section is complete we can work on a unified intro/conclusion.

[2019-10-09 03:17] paulcalvano commented on #145
Hello!  I created a draft of the Compression chapter here.  I may still expand the 1st vs 3rd Party Compression section, but the rest of it is ready to review.  //cc @colinbendell @yoavweiss

https://docs.google.com/document/d/1rF3yzVfVXHtvqqqDFJNNg_I3JmRuF4M-yyME0mx4ggY/edit?usp=sharing

[2019-10-09 08:01] rachellcostello commented on #163
Thanks for sharing this, it's useful to see another chapter as a reference point! And I completely agree with you.

Now that the structure is there, I'll write up a second draft today and will add in relevant links.

Would you be able to add in some placeholder charts @ymschaap? :)

[2019-10-09 12:37] colinbendell commented on #145
great. I'll review it today.

[2019-10-09 12:39] colinbendell commented on #170
Hope to have a draft shortly. coordinating schedules with @dougsillars

[2019-10-09 13:52] ymschaap commented on #163
Ok, to move things forward I've followed the style of chapter 12 a bit and changed the order and tried to add more context to the metrics we discuss.

I'll also work on the Advanced topic, given that is still not finished, but I can finish that tonight.

Hello @clarkeclark @andylimn @voltek62. Your help is much appreciated to make this into an amazing chapter. Specific:

* look at the data to get

[2019-10-09 15:24] clarkeclark commented on #163
@ymschaap Will review this evening

[2019-10-09 15:25] clarkeclark commented on #163
@ymschaap just requested access to the draft

[2019-10-09 16:41] andydavies commented on #149
Just noticed that 17_02d queries sites that load 3rd-party content from a CDN rather than uses a public library CDN

Was trying to drive down the library route so we have some idea how much effect cache partioning is going to have

[2019-10-09 21:39] ymschaap commented on #163
@clarkeclark made the draft link above public. Have access now?

[2019-10-09 22:44] hyperpress commented on #147
@obto Other than a couple of minor nits (I added as comments on the Doc), I didn't find any issues with accuracy or presentation. Kudos David.

[2019-10-09 22:52] obto commented on #147
Thanks! I'm going to make another pass-through and see if I can find a few more places figures would be helpful (like the tap-targets image). After that I'll start writing the take-aways, intro, and we'll be done 🙌

Right now I'm busy writing and editing the A11Y chapter, so I'll aim to finish this weekend and ping you all again after that.

[2019-10-09 23:33] hyperpress commented on #147
Great thank you for doing that.

[2019-10-10 00:21] clarkeclark commented on #163
@ymschaap still can't access. Pls invite me directly via jfox@venturemarketing.com

[2019-10-10 04:25] rviscomi commented on #187
Dug into this more. It seems that the embedded YouTube video player stylesheets are biasing the results.

[code]

For example https://www.youtube.com/yts/cssbin/www-player-sprite-mode-vflY8RB4O.css (and many variants of this URL with different VFL keys) make up hundreds of thousands of hits for HSL on mobile.

Compared to sorting by top HSLA stylesheets:

[code]

Top URLs that use HSLA like https:

[2019-10-10 04:25] #187 closed

[2019-10-10 04:28] rviscomi commented on #149
@andydavies per our chat offline:

Could you post the list of hosts when you get a chance?

[2019-10-10 04:30] rviscomi commented on #106
@MSakamaki @tanhengyeow how are you both feeling about the home page? The `design` branch has the latest implementation. If that looks good we can merge that into master and close this issue. We can always iterate on it with small fixes as needed but I'm mostly concerned with getting the major pieces built.

[2019-10-10 04:31] rviscomi commented on #141
@hyperpress have you had a chance to look into this? 🙏

[2019-10-10 04:33] rviscomi commented on #154
🛎 @HTTPArchive/developers anyone around to work on this? I think the site template is in place for the most part, but we haven't finished implementing any of the secondary (non-home) pages yet so we still need to finish up the header and main section designs.

[2019-10-10 04:47] rviscomi commented on #67
In lieu of any discussion/objection I decided to go with the Google Sheets data viz approach. The advantages of this are that we already have almost all of the data viz in Sheets, so we can easily generate data viz from within the web app, Sheets provides publishing and embedding capabilities, and we can copy/paste charts but update the underlying data source to retain a consistent look at feel.

[2019-10-10 04:53] rviscomi commented on #38
Renaming this issue to unblock the launch on translation. I think it's an overly optimistic target, given that most of the content is still unfinished. It'd be a lot to ask our @HTTPArchive/translators to finish translating 20 chapters plus the methodology/home/chapter/outline pages in a matter of weeks. Does this sound ok?

[2019-10-10 05:10] rviscomi commented on #136
Sorry just catching up on this now. I must have totally neglected headers from my analysis. It sounds like this is a significant omission so I'll try to find time to go back and include them.

@khempenius @yoavweiss @bazzadp how do you want to see this data added to the results? Totally new metrics that are header-specific or update all existing metrics to be "header OR markup"? If the latter, is

[2019-10-10 05:24] bazzadp commented on #136
Personally I’d like to know if this is even worth talking about :-) Can we run a quick stat to see how many HTTP link headers are used broken down by type? I suspect that it will be very light compared to HTML headers but that’s not based on anything other than gut feel and personal experience of it being easier to add to HTML so more likely used - hence why I’d like to know.

If usage is low in c

[2019-10-10 05:52] rviscomi commented on #136
Looking only at Link headers on HTML pages:

[code]

  | mobile | desktop
-- | -- | --
preload | 42267 | 36197
pct_preload | 0.76 | 0.8
prefetch | 974 | 896
pct_prefetch | 0.02 | 0.02
preconnect | 53626 | 31409
pct_preconnect | 0.96 | 0.69
prerender | 1 | 1
pct_prerender | 0 | 0
dns_prefetch | 573 | 602
pct_dns_prefetch | 0.01 | 0.01

Preload and preconnect are both used on ~1% of pages.

[2019-10-10 06:01] bazzadp commented on #136
Thanks for that. So as suspected reasonably small. Interesting that `preconnect` is used as much as `preload` (and in fact more on mobile)! Suggests it is intentional use of both as a resource hint, rather than just as a knock of consequence of HTTP/2 push.

Anyway I got the answer I was looking for. Will let @khempenius and @yoavweiss decide if they want to use this stat and/or want the others re

[2019-10-10 06:09] hyperpress commented on #141
I got sidetracked. I'll have finished by the morrow.

[2019-10-10 07:34] andylimn commented on #163
@ymschaap same here, could you invite me too please and I'll take a look today (andrew.limn@artefact.com). Thanks

[2019-10-10 08:55] AymenLoukil commented on #163
Hello !
I can give a hand if you want :)

[2019-10-10 09:32] MSakamaki commented on #38
@rviscomi
Yes, I can started.

[2019-10-10 09:33] c-torres commented on #38
I'm OK with this. Wondering if we have any work that can be started?

[2019-10-10 14:41] #133 closed

[2019-10-10 15:55] argyleink commented on #187
interesting!

[2019-10-10 16:00] rviscomi commented on #38
Unfortunately we don't have any chapters locked down and guaranteed not to change between now and launch.

[2019-10-10 16:01] rviscomi commented on #136
Thanks for reviewing the results @bazzadp. Would you like to be added as a reviewer for this chapter?

[2019-10-10 16:05] rviscomi commented on #106
Thanks @MSakamaki! I'll close this and file a new issue to resolve the browser discrepancy.

[2019-10-10 16:05] #106 closed

[2019-10-10 16:36] khempenius commented on #136
+1 to what @bazzadp said. I'll go ahead and add a short paragraph to discuss this.

[2019-10-10 18:12] obto commented on #171
@rviscomi I'm planning on reviewing this over the weekend. I'll let you know when I've finished :)

[2019-10-10 18:51] obto commented on #67
@rviscomi I'm a fan of using Google sheets for the visualizations. Helps to keep it simple, consistent and makes it possible for authors to help create their chapter's charts/graphs/etc if they would like.

Two things:

1. If chapters have additional graphics besides these visualizations (e.g, showing what a skip link looks like), can we submit the graphics along with the markdown document?
2. If

[2019-10-10 19:40] rmarx commented on #173
Hey Barry,

Great job on the post! Some very nice analyses of the different results and some bold statements (poor Apache!). It's definitely a good summary of the state of HTTP/2 in  2019. Thank you for the work!

I do have a couple of things I don't agree with fully (some more important than others) or which could use additional text, which I've listed below. Additionally, I have taken the libert

[2019-10-10 20:06] catalinred commented on #163
Hi all,

I'd be happy to help review this awesome resource you're working on!

[2019-10-10 20:22] bazzadp commented on #173
Thanks very much! I did try to balance out the Apache slating with a push for it later, but it is frustrating. And I like Apache and use it as my primary web server at work and in play!

Cool. Thanks for the extra effort in submitting as a PR. I may end up rejecting as I have another working copy (which includes some of the changes you pointed out!) so don't be offended by that if I do, and normal

[2019-10-10 20:55] rviscomi commented on #163
Thanks @AymenLoukil and @catalinred! I've added you both as reviewers for this chapter.

@catalinred I've also sent you an invitation to join the Reviewers team. You can go to https://github.com/HTTPArchive to accept. Thanks again!

[2019-10-10 22:15] catalinred commented on #163
Thank you @rviscomi

Sorry for being so late to the party, @rachellcostello @ymschaap @AVGP I'll do my best to help you out with this!

Also, what is the preferred method to share the feedback/thoughts on the above spreadsheet and draft? Email / slack channel / this thread?

[2019-10-10 22:29] rviscomi commented on #163
@catalinred feedback can be provided in the [draft doc](https://docs.google.com/document/d/1mI_p09005pssgtsWutUflfp5mav5MhdfreYmpy1EQo4/edit?usp=sharing).

[2019-10-10 23:15] bazzadp commented on #136
Sure, happy to help if you want another pair of eyes on this. Though looks like there are lots of experts involved in this already!

[2019-10-11 04:10] hyperpress commented on #141
@rviscomi is there any particular folder you'd like the optimized versions put? Also, is there guidance on sizing, or will we be using something dynamic for that? Or is this a judgement call?

[2019-10-11 04:10] MSakamaki commented on #106
@rviscomi @tanhengyeow
The solution seems very straightforward.
I feel that this large 91 is a very good layout, so I agree with the idea of removing "people".

[2019-10-11 06:23] tammyeverts commented on #144
Intro is DONE. Thanks for your patience, everyone! It turns out that covering for two people who are on vacation is a bit more time-consuming than I'd expected.

Here's the link to view and edit: https://docs.google.com/document/d/1FlJIcfjLLZ_U5JhfBy3fZq_VCLd8oC8kDoLsxsQTzRs/edit?usp=sharing

[2019-10-11 08:35] MSakamaki commented on #154
@rviscomi
I am interested
Can I work with the following layouts?
https://projects.invisionapp.com/d/?origin=v7?origin=v7#/console/18009643/382374544/preview

[2019-10-11 09:19] MSakamaki opened #195 "Remove "people" from contributors section on Home"
https://github.com/HTTPArchive/almanac.httparchive.org/issues/106#issuecomment-540472949  issues.

[2019-10-11 14:57] catalinred commented on #158
Hi @rviscomi,

I scrolled through the Web Almanac: Security Analysis spreadsheet and within [this issue](https://github.com/HTTPArchive/almanac.httparchive.org/issues/10#issue-446806026) but at first sight, I wasn't able to find any mentions on the `target=_blank` vulnerability.

@mathiasbynens has a [good article](https://mathiasbynens.github.io/rel-noopener/) on when `rel=noopener` can help when

[2019-10-11 15:43] rviscomi commented on #154
Yes! Thanks @MSakamaki!!

And for mobile see https://projects.invisionapp.com/d/?origin=v7?origin=v7?origin=v7#/console/18174420/385501699/preview

[2019-10-11 17:12] rviscomi commented on #141
@hyperpress I've merged #196 which creates new subdirectories for each chapter to organize all of their images. All chapters start with `hero_xl.jpg` which is the full-size hero illustration. All size variations of the illustration should go in these subdirs with relevant suffixes (eg hero_lg, hero_sm).

As for how big each image should be, I think we'll need large and small versions to fit the de

[2019-10-11 17:13] rviscomi commented on #136
Great, added!

[2019-10-11 17:15] rviscomi commented on #158
Thanks @catalinred. It may be too late to add new metrics for this chapter (we're launching in a few weeks) but if there's already external research we can draw from, I think it'd still be good to discuss in this chapter if the authors are interested.

[2019-10-11 20:31] rviscomi commented on #95
@amedina I've created some new metrics:

[14_13d](https://docs.google.com/spreadsheets/d/1FDYe6QdoY3UtXodE2estTdwMsTG-hHNrOe9wEYLlwAw/edit#gid=1175544001): distribution of image bytes per page per CMS
![image](https://user-images.githubusercontent.com/1120896/66681497-dbba6a00-ec40-11e9-8d2a-9c596651e901.png)

![image](https://user-images.githubusercontent.com/1120896/66682060-11ac1e00-ec42-11e9-9

[2019-10-11 21:15] sergeychernyshev commented on #171
Same here.

[2019-10-11 21:23] rviscomi commented on #171
Thanks @obto and @sergeychernyshev!

[2019-10-11 23:00] tammyeverts commented on #144
Hey all. I'm a bit fuzzy about the next phase. I see at the top of this ticket that we're supposed to get the chapter peer reviewed by Paul and Rich. Who's supposed to do that?

[2019-10-12 02:48] hyperpress commented on #141
Thank you Rick. I'll handle the optimization during the processing sizes
and upload them as outlined above.

<https://themesurgeons.com>

<https://themesurgeons.com>

[2019-10-13 17:17] colinbendell commented on #98
The totals for 17.01 and 17.02 all appear to be the same. There are 5.2million html pages, 5.2 million 'any resource' 5.2 million 'same domain resources', 5.2 million '3p resources'. Can someone look into this asap?

[2019-10-14 04:10] sergeychernyshev commented on #171
Left a few comments in the doc.

[2019-10-14 19:05] rviscomi commented on #144
@khempenius and @henrisgh should contribute their sections to the doc. Have you all divided up which parts will be written by whom?

You could have @paulcalvano  and @flowlabs review the sections that are already written or it may be best to do it all at once when it's complete.

[2019-10-14 19:13] rviscomi commented on #98
Chatted with @colinbendell about the query issues. He's going to take a pass at fixing up any discrepancies.

@colinbendell I've given you edit access to the [results sheet](https://docs.google.com/spreadsheets/d/1Y7kAxjxUl8puuTToe6rL3kqJLX1ftOb0nCcD8m3lZBw/edit?usp=sharing). As you fix up the queries, please make a PR to merge the changes and save the results to the sheet. We just want to make su

[2019-10-14 19:52] rviscomi commented on #158
@ScottHelme @arturjanc just checking in to see if you've had time to start a draft. Any updates?

[2019-10-14 20:17] rviscomi commented on #130
@HTTPArchive/developers is anyone available to work on this?

[2019-10-14 20:17] rviscomi commented on #141
Hi @hyperpress any updates on this?

[2019-10-14 20:18] rviscomi commented on #154
Hi @MSakamaki have you made any progress on this?

[2019-10-14 20:19] rviscomi commented on #195
@MSakamaki just to confirm, you'll be working on this issue? Should we assign it to you?

[2019-10-14 21:07] hyperpress commented on #141
If possible, I need a day or two to get back to this. My daughter is having
surgery and I'm traveling for that. I can take care of the remainder, I
just need to finish up a few things, test the optimized versions, and the
PR. It's mostly done. Sorry about the last minute update.

<https://themesurgeons.com>

<https://themesurgeons.com>

[2019-10-14 21:21] rviscomi commented on #141
Thanks for the update @hyperpress, totally understand and I hope all is well with your daughter and her surgery ❤️

Would it be possible to create a PR with whatever you have so far and we can iterate on it while you're offline?

[2019-10-14 21:58] khempenius commented on #144
I've added the analysis section to the doc. I'm not quite done with it - but I'll add the remainder later tonight.

[2019-10-14 22:02] rviscomi commented on #172
@paulcalvano if you've started writing this chapter could you share the draft doc?

[2019-10-14 22:06] rviscomi commented on #136
@khempenius @yoavweiss  Just checking in. Is [the draft](https://docs.google.com/document/d/1v19-ELAyM9JVr2cY0_CCGSm9ay3hTFOeivZCyEkYEWk/edit?usp=sharing) finished and ready for review? Anything else you wanted to write about?

[2019-10-14 22:36] rviscomi opened #199 "Add the ability to permalink all chapter headings and figures"
@HTTPArchive/developers

All headings in the chapter should have a unique ID to which we can deep link. It would also be nice if a clickable link icon appeared on hover so users can copy the URL.

In addition, figures like charts and data tables should be able to be deep linked. Since the Almanac is a reference document, we should expect and support third party websites to link citations to specif

[2019-10-14 22:56] hyperpress commented on #141
I'll do that just as soon as I arrive in NC and get checked into hotel,
stop by to check on her, and can then VPN.

Most of my night will be free anyway, so I expect to have it all finished
and ready to merge by late night early morning if all goes as planned.
It'll give me something to do to pass time tonight. If plan changes, I'll
PR what I have.

Thanks for understanding, and kind words.

[2019-10-15 02:58] hyperpress commented on #141
@rviscomi I'm finished with images up through PWA. I'd like to press on and just work on them til they are done. But if you need them, I can split them and ship what I have. I'd say I'm about an hour away from being totally done.

[2019-10-15 03:14] rviscomi commented on #141
Sounds good.

What approach did you end up taking for the different image combos? In terms of size and file format.

[2019-10-15 03:22] paulcalvano commented on #172
@rviscomi  - sure, here's the work-in-progress draft.   It's a big chapter, and I'm hoping to finish it up tomorrow (Tuesday). https://docs.google.com/document/d/1iDkOLgQXj8dV_lh2JWzyj4TUEGPFcIrEXa4Z4ixVhCg/edit?usp=sharing

[2019-10-15 03:25] hyperpress commented on #141
I ran with what you recommended with:
**hero_lg.jpg
hero_lg.webp
hero_sm.jpg
hero_sm.webp**
and I'm using Squoosh.app for optimization. I left the original in the same folder.

[2019-10-15 04:28] tyohan commented on #199
I'll work on this.

[2019-10-15 04:43] hyperpress commented on #141
@rviscomi I forgot to ask, but should this be a PR for master branch, or is there some other? Images are resized and optimized as discussed. I need to update content page paths. If you can let me know on the other I'll get these up to the Github repo.

[2019-10-15 05:04] rviscomi commented on #199
Thanks @tyohan!

One thing I forgot to mention is that when a user clicks on a deep link into the chapter, the page must jump down to that section. So if the IDs are not baked into the markup the browser might not make the jump immediately on page load and our JS solution would have to parse the URL hash and scroll manually.

Which approach do you prefer: static markup or dynamic JS?

[2019-10-15 05:10] rviscomi commented on #141
Could you make your PR into the `design` branch? And yes, if you could optimize the other images in /static that would be very helpful! The `design` branch has the latest images in that directory so make sure to use that one. Thanks again!

[2019-10-15 05:20] tyohan commented on #199
I prefer to use static markup, so I'll make sure we can make this built in the process for #67 and other sections too. We can add JS function later for smooth scrolling if needed.

[2019-10-15 05:25] hyperpress commented on #141
Okay, I'll close the PR I just opened for master and and correct that.

[2019-10-15 05:28] rviscomi opened #202 "Write the Methodology page"
I've started [this draft doc](https://docs.google.com/document/d/1ViWF_7if4ATds36qoTJYUL3gxIigYG1jsylMqZERuaM/edit?usp=sharing). Here's the outline as of now:

- Overview (intro to HTTP Archive)
- About the dataset
  - Website corpus (why are we testing these particular URLs, home pages only)
  - WebPageTest (brief intro, how it's configured)
  - Lighthouse (version/config, mobile only, available

[2019-10-15 05:34] MSakamaki commented on #195
@rviscomi
Sorry I now working on 154.
Once that is complete, I can start.

[2019-10-15 05:38] MSakamaki commented on #154
@rviscomi

[2019-10-15 07:04] tyohan commented on #130
We need this before able to work on #199. So I'll try to do this as well. @tanhengyeow did you work on this already? do you want to push on a working branch so I can continue it from there?

[2019-10-15 07:13] tanhengyeow commented on #130
Hi @tyohan

I haven't started work on this yet, have been occupied with stuff. Please go ahead if you would like to work on it 😄

[2019-10-15 15:21] khempenius commented on #144
After going back and forth a lot on this, I ended up not adding a section to the doc re: file format sizes. The more I looked at the results, the more I felt that more investigation would be needed to do it justice. Otherwise I think it would be easy to draw the incorrect conclusions from the data - e.g. "X format is better than Y format because median file size is smaller" - but that's masking th

[2019-10-15 15:56] khempenius commented on #136
I don't have anything to add.

[2019-10-15 16:03] rviscomi commented on #136
Ok thanks. @andydavies @addyosmani @bazzadp could you peer review the [doc](https://docs.google.com/document/d/1v19-ELAyM9JVr2cY0_CCGSm9ay3hTFOeivZCyEkYEWk/edit?usp=sharing)? @yoavweiss do you have anything else to add?

[2019-10-15 16:06] andydavies commented on #136
Requested access!

On Tue, 15 Oct 2019 at 17:03, Rick Viscomi <notifications@github.com> wrote:

[2019-10-15 16:08] rviscomi commented on #144
Thanks @khempenius. I think your reaction is totally valid and would still be appropriate to discuss in the chapter. One of the things that makes the Almanac special compared to [a report like this](https://httparchive.org/reports/state-of-the-web) is that authors provide context and their interpretation of the data. So if you've found pitfalls in the results, that's all the more reason to talk ab

[2019-10-15 20:45] bazzadp commented on #136
Added some comments to the doc. Feel free to ignore! Or ping me if any questions on what I said.

[2019-10-16 04:05] #173 closed

[2019-10-16 17:32] colinbendell opened #206 "Query metrics update: Chapter 17. CDN"
After some data exploration, the CDN metrics need to be refined. Specifically the distinction between firstHtml, same domain, and third party hosting, the frequency count should be based on request/hits and not on hosts, tls negotiation timing should consider resumed vs first request and many other conditions

[2019-10-16 20:58] rviscomi commented on #206
I think this is a duplicate of #98 which I reopened

[2019-10-16 20:59] rviscomi commented on #98
@colinbendell's note from #206 (merged here):

[2019-10-16 20:59] #206 closed

[2019-10-17 05:51] obto commented on #147
The chapter is now completely finished. Once I get it reviewed I'll turn it into markup and make a PR 😄

[2019-10-17 06:11] hyperpress commented on #147
I'll do my review later today. Thanks for the update.

[2019-10-17 17:37] rviscomi commented on #171
I heard from Mark via email that he's unable to commit to writing the Lab section. Given the state of the deadline let's stretch the Field section to the entire chapter. I'll work on rewriting it to fit the new context.

[2019-10-17 18:15] #134 closed

[2019-10-17 20:01] #154 closed

[2019-10-17 20:43] dougsillars commented on #170
Here is the video section:
https://docs.google.com/document/d/10Mecaxg_IlVqJonm7zqikMYc-d_fqBLKWcEiosqKIxc/edit?usp=sharing

[2019-10-17 21:42] rviscomi commented on #169
Adding @ernee as a coauthor to help get this over the finish line! Thanks Renee and welcome to the project!! 🎉

[2019-10-18 03:15] #195 closed

[2019-10-18 06:02] #95 closed

[2019-10-18 06:35] rviscomi opened #210 "Add hover/focus states for interactive elements"
It should be easy to navigate the website using only a keyboard. Some UI like the header links don't have focus states, so it's not clear when they receive focus. This is for desktop only.

Links could have an underline on hover and/or an outline on focus. Open to ideas.

cc @HTTPArchive/developers

[2019-10-18 16:52] ahmadawais commented on #170
Thanks for sharing, @dougsillars — just reviewed it. Looks great. Sent some minor nitpicks.

[2019-10-18 17:57] rviscomi commented on #171
@sergeychernyshev @obto @JMPerez @zeman @hakimalek I've revised the intro/conclusion and it's ready for another review: https://docs.google.com/document/d/1S0De_lBFCuqLWa2ZlB31SKQZE_zkboweeAUWLrcDuLw/edit?usp=sharing

[2019-10-19 00:13] khempenius commented on #144
Discussion added 👍 (unfortunately it's kind of long).

[2019-10-19 01:03] hyperpress commented on #171
I'll do a review later tonight or morning. Thanks.

[2019-10-19 04:57] rviscomi commented on #199
@tyohan as we wrap up the chapter page design, I had a thought about how we could implement the static markup approach for this issue. [generate_chapters.py](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/generate_chapters.py) is a script that converts markdown into markup, based on [mistune](https://mistune.readthedocs.io/en/latest/).

We could create a custom renderer sim

[2019-10-19 15:49] colinbendell commented on #85
I have updates to the queries that show dramatically different results.

[2019-10-19 20:16] rviscomi commented on #85
Ok cool, could file a PR?

On Sat, Oct 19, 2019, 11:50 AM Colin Bendell <notifications@github.com>
wrote:

[2019-10-20 07:12] hyperpress commented on #147
I completed an additional review. Very well researched. Other than a few
small nits here and there I found no issues. Very informative and easy to
understand. Nicely done.

<https://themesurgeons.com>

<https://themesurgeons.com>

[2019-10-20 17:26] rviscomi commented on #141
@hyperpress do you have bandwidth to work on writing the markup to serve the appropriate large/small jpg/webp image in the chapter templates? (checklist item 5)

[2019-10-20 19:23] hyperpress commented on #141
I can. I have some clear time tomorrow evening CST. Sign me up

On Sun, Oct 20, 2019, 12:26 PM Rick Viscomi <notifications@github.com>
wrote:

[2019-10-20 20:38] rviscomi commented on #141
Much appreciated!!

[2019-10-21 11:33] MSakamaki commented on #38
I cloned the latest repository and tried to verify the `current src/content/en/2019` with gitlocalize.com.

Then, the past verification project disappeared and 500 error occurred during registration.
Sending "contanct us" and waiting for a reply.

If the problem persists, you may need a pull request based translation .
(shar information)

[2019-10-21 11:38] paulcalvano commented on #172
Hello - this chapter is ready for review.   // cc @colinbendell  @yoavweiss  @obto

https://docs.google.com/document/d/1iDkOLgQXj8dV_lh2JWzyj4TUEGPFcIrEXa4Z4ixVhCg/edit?usp=sharing

[2019-10-21 11:39] paulcalvano commented on #145
@colinbendell @yoavweiss  - Have you had a chance to review?

[2019-10-21 11:57] MSakamaki commented on #210
I am interested task.

If the UI that is the target of this hover focus is already on the home page, it seems that it can be unified with the following concept.

1. White background: black (#1A2B49) to white or white to black
2. Gray background: yellow (#F7F779) transparent or transparent yellow

-The design of ghost buttons should be unified on home page.
-Just add text color and underline accord

[2019-10-21 16:14] rviscomi commented on #38
Oh thanks for checking on that. I agree that PR translation might be the best way forward. In any case, let's not worry about it until we get all 20 chapters written, which probably won't be for a couple of weeks.

[2019-10-21 16:25] rviscomi opened #214 "Implement the Contributors page design"
![image](https://user-images.githubusercontent.com/1120896/67223708-c3470e00-f3fd-11e9-84c1-992d340b6454.png)

Desktop: https://projects.invisionapp.com/d/main#/console/18009643/386025636/inspect
Mobile: https://projects.invisionapp.com/d/main#/console/18174420/387303024/inspect

cc @HTTPArchive/developers

[2019-10-21 16:35] obto commented on #172
I'll give it a read tonight!

[2019-10-21 16:38] rviscomi commented on #214
The avatars in https://github.com/HTTPArchive/almanac.httparchive.org/tree/master/src/static/images/avatars have a white bg. We'll also need to make them transparent. I have the source PSD file if needed.

[2019-10-21 16:44] obto commented on #199
Awesome. In case you run into some edge cases and want to see how others have done it, here's the function WP uses to "slugify" titles as reference

https://core.trac.wordpress.org/browser/tags/5.2.3/src/wp-includes/formatting.php#L2206

[2019-10-21 16:45] obto commented on #147
Waiting on 2 things before I make a PR for this chapter and close this out:

1. @rviscomi Can you review the portion regarding CLS?
2. @slightlyoff can you give me your thoughts on the chapter by EOD friday?

[2019-10-21 17:04] rviscomi commented on #147
Sorry for the delay. Just left feedback on CLS.

[2019-10-21 20:44] colinbendell commented on #149
Pre-Draft document is here: https://docs.google.com/document/d/1qZF_J-E9qOWgpVA_7pOIH8W3skPJVZvWyaZoncMldFw/edit#

[2019-10-21 23:36] housseindjirdeh commented on #131
Yep I was glad to start writing the draft :)

Complete draft is here:m https://docs.google.com/document/d/1BxNG02SMojcWyVTSInUoVd0KlPQHmI2Wsc892vHJlnE/edit?usp=sharing

🚀

[2019-10-21 23:43] obto commented on #131
@housseindjirdeh Can you give me (david@lookzook.com) and Paul (paul@httparchive.org) access to the document?

[2019-10-22 00:01] clarkeclark commented on #163
@ymschaap just reviewed current draft. Aside from decisions on what to include wrt AMP, it's good to go for me. Thanks for the opportunity to help out.

[2019-10-22 02:28] MSakamaki commented on #38
Thanks reply.
I continuing to verify that the current markdown works without problems on gitlocalize.com.
I will share it if anything happens.

[2019-10-22 02:47] MSakamaki opened #216 "table of contents lost when desktop resolution?"
I saw the latest master  (f5cd6cc055fb94cb38da0925b707ac23424c336b) .

Apparently, the table of contents in the footer seems to disappear only in desktop mode.
Should I fix this to show up on my desktop mode?

<img width="1005" alt="スクリーンショット 2019-10-22 11 39 35" src="https://user-images.githubusercontent.com/2183053/67256304-48472b80-f4c1-11e9-9ca5-29969856243f.png">
<img width="476" alt="スクリーンショ

[2019-10-22 03:03] rviscomi commented on #216
Yes, good catch! ToC should exist in both header/footer for desktop/mobile.

Let's move the HTTP Archive logo to the second line to make room for the ToC link on the first line. Hopefully this doesn't require any additional media queries in case things overflow for certain viewport widths.

[2019-10-22 03:06] rviscomi commented on #202
Update: I've got about half of the content written.

@paulcalvano @pmeenan @obto does everything make sense so far?

[2019-10-22 03:41] MSakamaki commented on #216
All right!
Take issues when # 210 settles down.

[2019-10-22 05:08] obto commented on #172
@paulcalvano Finished my review. Was a lovely read.

Left a few questions and comments, but most of the suggestions were for grammar and tightening up sentences.

[2019-10-22 05:17] JMPerez commented on #29
@taytus, @c-torres let me know if you need extra help for the translation to Spanish. I can give a hand.

[2019-10-22 05:24] rviscomi commented on #29
More help is certainly welcome. With three translators the workload should be much more manageable. Thanks for volunteering, @JMPerez!

[2019-10-22 05:33] rviscomi opened #218 "Copyedit completed contents"
Go through each chapter and "contentful" page to ensure that it fits our "work fun" voice, fix spelling and grammar, and finalize formatting. See the [Editors' Wiki](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Editors'-Wiki) for an explicit list of best practices.

Whenever possible, also try to interlink chapters (#253).

- [x]	1. JavaScript	#131 @obto
- [x]	2. CSS	#132 @rachellco

[2019-10-22 05:35] rviscomi commented on #218
@ekharvey @Meggin @rachellcostello IIRC you've all expressed interest in helping out with copyediting. If you still have time over the next 3 weeks to review content, it'd be a huge help! 🙏

[2019-10-22 05:38] rviscomi commented on #218
The following chapters are merged and ready for editing:

3. Markup
5. Third Parties
10. SEO
11. PWA
20. HTTP/2

Markdown files are available at [src/content/en/2019](https://github.com/HTTPArchive/almanac.httparchive.org/tree/master/src/content/en/2019).

Most of them still need data viz embedded but that shouldn't block.

[2019-10-22 05:59] mikegeyser opened #219 "MD tables not rendering correctly"
The markdown tables don't appear to be rendering correctly, as @rviscomi mentions in the PR #215. This is just a bug to track the investigation / resolution.

[2019-10-22 06:00] mikegeyser commented on #219
Apologies for being so quiet, it's been heavy at work. Will try and look into the generate script and see what's wrong.

[2019-10-22 06:28] rviscomi commented on #219
Thanks for filing this issue @mikegeyser. I totally understand that other commitments take precedence and greatly appreciate any time you can lend to this. 🙏

[2019-10-22 06:49] tyohan commented on #130
@rviscomi i saw the methodology page already implemented the design but it use it's own stylesheet. I think we can reuse the stylesheet for this chapter page but then we need to refactor the methodology page to use some shared CSS classes.

What do you think?
Keep it in separate stylesheet or refactor the methodology page and reuse the stylesheet.

[2019-10-22 07:06] rviscomi commented on #130
Yes good catch! Methodology and Chapter pages both have a sidebar and a main content area and it would make a lot of sense to consolidate these into a reusable style in the global `2019.css` stylesheet. Also, for both pages' mobile RWD, the sidebar collapses into an expandable "Index":

![image](https://user-images.githubusercontent.com/1120896/67264325-c7fcd800-f478-11e9-8278-ac83298d4373.png)

!

[2019-10-22 08:44] rachellcostello commented on #218
Of course, happy to help with proofreading and editing wherever needed! I can start off with the SEO chapter, but I can tackle some of the others as well so feel free to divide up the remaining chapters and assign me more.

[2019-10-22 16:29] rviscomi commented on #218
Great thanks @rachellcostello! Yes, go ahead and start with the SEO chapter.

To make sure everyone is following the same guidelines I started a [wiki page](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Editors'-Wiki) for us to drop in our editing decisions. As you go through the content and establish new editing rules, add them to the wiki.

[2019-10-22 20:05] andydavies opened #220 "Retro: Chapter 17. CDN"
Place holder for thoughts / issues / improvements identified during analysis of CDN data

# CDN for firstHTML vs CDN for Resources

Connecting to another origin for resources key resources involves the delay of creating a new connection, and creates H2 prioritisation challenges

Can we separate sites that serve resources from a CDN over a single H2 connection, versus those that use a resources CDN

[2019-10-22 20:35] rviscomi opened #221 "Give readers the ability to discover queries, results, and comments for each chapter"
Each chapter has a subdir in [sql/2019](https://github.com/HTTPArchive/almanac.httparchive.org/tree/master/sql/2019) with all of its queries and a corresponding spreadsheet with the results.

We should make these resources available to readers as they're on a chapter page. These aren't included in the design so we'll need to create it from scratch using the existing visual language of the site.

I

[2019-10-22 20:37] rviscomi commented on #202
I've finished the first draft of the doc. PTAL: https://docs.google.com/document/d/1ViWF_7if4ATds36qoTJYUL3gxIigYG1jsylMqZERuaM/edit?usp=sharing

[2019-10-22 22:32] obto commented on #218
Currently reviewing and editing the caching, javascript, mobile web and a11y chapters. After those have been merged in, I'd be happy to edit the rest :+1:

[2019-10-23 06:02] mikegeyser commented on #219
@rviscomi I spent most of yesterday trying to debug the issue and I need some advice. The version of mistune published to [pip is 0.8.4](https://pypi.org/project/mistune/), and seems to have some endemic bugs - the regex that's responsible for tables just doesn't seem to work. Additionally, the repo appears to be currently [working on a v2 release](https://github.com/lepture/mistune) that bears li

[2019-10-23 06:43] rviscomi commented on #219
Thanks for digging into this. I'm leaning towards your showdown suggestion. Very few people actually need to run the chapter generation script so I'm not too worried about adding a new requirement to the toolchain. Let's just go with the most tried and true solution to keep things moving smoothly.

[2019-10-23 07:12] catalinred commented on #221
The HTTP Archive discussion forum would be a good place to share and gather feedback for the almanac chapters. It is its purpose (being a forum), after all :)

As you said above, each chapter's bottom could contain some call to actions or sections like the following:

- Discuss on HTTP Archive forum (report issues, comment and send feedback)
- View chapter's code (SQL subdir and results sheet)

Al

[2019-10-23 08:22] mikegeyser commented on #219
So I think I've found the root cause, it's the tables embedded inside `<figure>` elements (so that they have a `<figcaption>`. Most markdown renderers don't support parsing markdown inside html, but usually have a setting to enable it. In mistune it's `parse_block_html=True` but it doesn't appear to work...

In showdown it means adding an extra attribute in the md file, as follows:

[code]

I've t

[2019-10-23 12:29] ymschaap commented on #214
Question, I saw the contributor lists supports [github and twitter](https://github.com/HTTPArchive/almanac.httparchive.org/blob/bf2f9f68a2d294007913d942ddfb076f4e224b1f/src/templates/en/2019/contributors.html#L115), would it make sense to add any website/blog as an option too for contributors?

[2019-10-23 16:17] rviscomi commented on #219
Great, thanks for working on this!

[2019-10-23 17:48] obto commented on #202
Finished reading through and leaving my comments. Very enjoyable read 👍

[2019-10-23 19:03] rviscomi opened #224 "Methodology page has some broken styles"
Per #223, there are some CSS tweaks needed on the Methodology page:

- [x] style the tables
- [x] ensure tables fit in small viewports
- [x] add borders under nested list items in the index
- [x] ensure all links have hover/focus styles (related #210)
- [ ] make the index sticky on desktop so it's visible while scrolling (max-height 100% and overflow-y scroll)
- [x] ensure the H1 has the colored "

[2019-10-23 19:55] rviscomi commented on #144
@khempenius @tammyeverts @henrisgh The draft is looking great so far. There's still some unfinished content. Would it be possible to wrap this up by the end of the week?

@paulcalvano @flowlabs: Do you have time to give the current draft a review?

[2019-10-23 20:08] rviscomi commented on #170
Adding @eeeps as an official reviewer for this chapter :)

[2019-10-23 22:10] rviscomi opened #226 "Add all contributors"
Over a hundred people have expressed interest in contributing to the project. About 70 people have already contributed in some way so far, by my count. The [Contributors](#214) page is the place for us to highlight each person's contributions. Chapter pages will also link each  author/reviewer/translator to their respective card on the Contributors page.

![image](https://user-images.githubusercon

[2019-10-23 22:14] rviscomi commented on #226
Also, if you're reading this, feel free to submit a PR to add yourself to the config file with whatever teams you contributed to!

[2019-10-23 22:25] rviscomi opened #227 "Implement the Table of Contents page design"
Desktop design: https://projects.invisionapp.com/d/main#/console/18009643/387303028/inspect
Mobile design: https://projects.invisionapp.com/d/main#/console/18174420/387303025/preview

![image](https://user-images.githubusercontent.com/1120896/67438752-529d1e80-f5c2-11e9-9b0a-32b251c31d52.png)

![image](https://user-images.githubusercontent.com/1120896/67438733-4913b680-f5c2-11e9-91bb-9466d7cf420e.

[2019-10-23 22:47] rviscomi commented on #199
@tyohan FYI as part of @mikegeyser's investigation into #219 we decided to replace mistune with showdown. In a test of the new renderer I noticed that it's automatically generating IDs for headings. Sorry, I see that you've already [started working on this](https://github.com/HTTPArchive/almanac.httparchive.org/commit/46af6887120050469152aeb1f17acc64001f9beb).

@mikegeyser before fully committing

[2019-10-24 01:50] MSakamaki opened #230 "Add a link to the HTTP Archive logo in footer"
`<img src="/static/images/ha-home.png">` a question about the logo.
![スクリーンショット 2019-10-24 10 49 39](https://user-images.githubusercontent.com/2183053/67446585-0f878d80-f64c-11e9-969a-ccc9a9f722f5.png)

On mobile resolution, it is a link to https://httparchive.org/, but there is no link on the desktop resolution.
Should I add anchor tag a link?
(This was mobile and linked)

[2019-10-24 01:56] rviscomi commented on #230
Good catch. I noticed this too and already put in a fix here: https://github.com/HTTPArchive/almanac.httparchive.org/pull/229/files#diff-0279dada08cf23c3de510939650b3555R59

[2019-10-24 04:55] MSakamaki commented on #230
@rviscomi
You fix speedy!
This has a slight impact on issues #216, I wait to merge.

[2019-10-24 06:10] rviscomi commented on #230
If you have time, could you review #229? That would help unblock you.

[2019-10-24 06:12] mikegeyser commented on #199
Hey @tyohan! I'm really sorry for the change, and if there's any wasted effort. We'll try to keep it minimal.

@rviscomi there seem to be [some](https://github.com/JanLoebel/showdown-toc) [extensions](https://github.com/ravisorg/showdown-toc), but they're really straight forward. It shouldn't be hard to write a small extension that produces exactly the desired output. I don't want to overload #222

[2019-10-24 06:26] rviscomi commented on #199
Oh, yeah, no need to implement this in #222.

I think @tyohan will continue to work on this feature using showdown instead. You can focus on migrating markdown tools.

Thanks for investigating the showdown extensions.

[2019-10-24 14:03] tyohan commented on #199
@rviscomi @mikegeyser  sorry missed this convo. Yes, I'm using the mistune table of content plugin to implement the content index in chapter page. Let me finish the chapter page first then later will see if we can convert it with showdown. I still need to work on next and previous button.

[2019-10-24 14:52] khempenius commented on #144
@rviscomi I'll take a look today. Sorry for delay - it looks like I don't get notifications for google doc comments.

[2019-10-24 15:33] mikegeyser commented on #199
@tyohan I think reimplemented the toc generation in #232. Would you mind taking a look and seeing if it's useful with what you've done?

[2019-10-24 16:51] #227 closed

[2019-10-24 16:51] #230 closed

[2019-10-24 18:17] khempenius commented on #136
I've finally finished responding to the initial comments and it *just might* no longer be the shortest chapter in the almanac :) Thank you @bazzadp, @andydavies, @rviscomi for taking a look - your feedback was super helpful.

[2019-10-25 05:06] khempenius commented on #144
Updated

[2019-10-25 18:22] tammyeverts commented on #144
I've updated my section. Thanks for the great feedback @rviscomi!

I looked at the rest of the chapter, as well. Looks awesome, @khempenius!

On Thu, Oct 24, 2019 at 10:07 PM Katie Hempenius <notifications@github.com>
wrote:

[2019-10-25 18:30] rviscomi commented on #144
Agreed, looks great. Left one suggestion with a writing prompt for a conclusion.

Also, @paulcalvano @flowlabs now is a good time to go through the draft and do a peer review.

[2019-10-25 18:36] rviscomi commented on #144
Henri has been MIA so removing as an author :(

[2019-10-25 18:41] rviscomi opened #237 "Embed data visualizations in chapters"
- [x] 	1. JavaScript
- [x] 	2. CSS
- [x] 	3. Markup
- [x] 	4. Media
- [ ] 	5. Third Parties
- [x] 	6. Fonts
- [x] 	7. Performance
- [x] 	8. Security
- [x] 	9. Accessibility
- [x] 	10. SEO
- [x] 	11. PWA
- [x] 	12. Mobile web
- [x] 	13. Ecommerce
- [x] 	14. CMS
- [x] 	15. Compression
- [x] 	16. Caching
- [x] 	17. CDN
- [x] 	18. Page Weight
- [x] 	19. Resource Hints
- [x] 	20. HTTP/2

1. Find a give

[2019-10-25 18:45] #216 closed

[2019-10-25 18:46] rviscomi opened #238 "Simplify footer markup"
As of now we have two sets of footer markup for desktop and mobile. This should be rewritten to have one set of markup that is styled responsively to accommodate either.

https://github.com/HTTPArchive/almanac.httparchive.org/blob/5c0e002eacb0dace823300b5f6a5f12f0f13f596/src/templates/en/2019/base.html#L55-L101

Anyone on @HTTPArchive/developers available to take this?

[2019-10-25 20:59] tammyeverts commented on #144
Great! I'm assuming the writing prompt is for Katie, since it's at the end
of her section? Let me know if you need me to help with that.

What do you need from me in terms of author bio? I don't think I've sent
over anything yet.

Tammy

On Fri, Oct 25, 2019 at 11:30 AM Rick Viscomi <notifications@github.com>
wrote:

[2019-10-25 22:01] rviscomi opened #239 "Gather bios for each author"
At the top of each chapter we have a short byline to say who wrote it. For example, "By Person One and Person Two" where each name is a link to the author on the Contributors page.

At the bottom we have space for a few sentences per author for a bio. This is a good place to list your qualifications for the chapter like what your day job is or other related work (projects, books, etc).

![image](h

[2019-10-25 22:02] rviscomi commented on #144
The conclusion could be written by either/both of you. @khempenius do you have time to write it?

Good call on the bio. I just opened #239. Could you add yours as a comment there?

[2019-10-25 22:05] #202 closed

[2019-10-25 22:07] #210 closed

[2019-10-25 22:10] rviscomi commented on #214
@ymschaap possibly if people feel strongly, otherwise I think we should limit it to just these two.

[2019-10-25 22:11] rviscomi commented on #214
Any @HTTPArchive/developers available to take this on?

[2019-10-25 22:13] rviscomi commented on #67
Closing this as a duplicate of #237

[2019-10-25 22:13] #67 closed

[2019-10-25 22:14] rviscomi commented on #85
Hey @colinbendell could you file a PR for any outstanding queries? Then we can close this out. (Same for CDN)

[2019-10-26 01:28] hyperpress commented on #147
Completed full review of latest draft. I'd already made a few passes with @obto. This is definitely a winner and contains some facts on wild use of JavaScript. Other than a few nits already resolved, This is ready to go. Really nicely done and informative with easy to understand examples and figures.

[2019-10-26 09:44] ymschaap commented on #239
SEO, @ymschaap, bio: "Founder at technical SEO consultancy [build.amsterdam](https://build.amsterdam/)"

[2019-10-26 18:41] dougsillars commented on #239
Doug Sillars is a freelance digital nomad working on the intersection of performance and media.  He tweets @dougsillars, and blogs regularly at dougsillars.com.

[2019-10-26 20:41] tammyeverts commented on #239
Short bio:

Tammy Everts is CXO at [SpeedCurve](https://speedcurve.com/), co-chair of the [performance.now() conference](https://perfnow.nl/), and author of the O'Reilly book _[Time Is Money: The Business Value of Performance](http://shop.oreilly.com/product/0636920041450.do)_.

Longer bio:

Tammy Everts has spent more than two decades studying usability and UX. For the past ten years, she's focus

[2019-10-26 20:42] tammyeverts commented on #144
Awesome – thanks for the update!

I just added my bio to #239. Let me know if you need anything else.

[2019-10-27 07:58] colinbendell commented on #170
I've completed the overhaul of the images section. Lots of things that we will have to defer for another iteration.

[2019-10-27 09:09] bazzadp commented on #239
Barry Pollard is a software developer and author of the Manning book [HTTP/2 in Action](https://www.manning.com/books/http2-in-action). He thinks the web is amazing but wants to make it even better. You can find him tweeting [@tunetheweb](https://twitter.com/tunetheweb) and blogging at [www.tunetheweb.com](https://www.tunetheweb.com).

[2019-10-27 12:59] ScottHelme commented on #239
Scott Helme is a Security Researcher and founder of [report-uri.com](https://report-uri.com) and [securityheaders.com](https://securityheaders.com). You can find him talking about security on Twitter [@Scott_Helme](https://twitter.com/Scott_Helme) and blogging at [scotthelme.co.uk](https://scotthelme.co.uk).

[2019-10-27 19:18] samdutton commented on #239
Sam Dutton has worked with the Google Chrome team as a Developer Advocate since 2011.

---

Sam Dutton has worked with the Google Chrome team as a Developer Advocate since 2011. He has organised and presented at a number of events, created and taught several web development courses, and worked on a range of videos, codelabs and written guidance covering PWA, performance, media, image and 'Next Bil

[2019-10-27 19:18] samdutton commented on #239
Sam Dutton has worked with the Google Chrome team as a Developer Advocate since 2011.

---

Sam Dutton has worked with the Google Chrome team as a Developer Advocate since 2011. He has organised and presented at a number of events, created and taught several web development courses, and worked on a range of videos, codelabs and written guidance covering PWA, performance, media, image and 'Next Bil

[2019-10-28 03:22] zachleat commented on #239
Zach is a Web Developer with [Filament Group](http://www.filamentgroup.com/). He’s currently fixated on [web fonts](https://www.zachleat.com/web/fonts/) and [static site generators](https://www.zachleat.com/web/introducing-eleventy/). His [public speaking résumé](https://www.zachleat.com/web/speaking/) includes talks in eight different countries at events like JAMstack_conf, Beyond Tellerrand, Sma

[2019-10-28 08:07] tomayac commented on #239
Thomas Steiner is a Web Developer Advocate at Google Hamburg, focused on making the Web a better place through standardization, creating and sharing best practices, and doing research. He blogs at [blog.tomayac.com](https://blog.tomayac.com/) and tweets as [@tomayac](https://twitter.com/tomayac).

[2019-10-28 09:37] rachellcostello commented on #239
Rachel Costello is a Technical SEO & Content Manager at [DeepCrawl](https://www.deepcrawl.com/).

--------

Rachel Costello is a Technical SEO & Content Manager at [DeepCrawl](https://www.deepcrawl.com/) and an international conference speaker who spends her time researching and communicating the latest developments in search. Rachel currently manages the production of [technical SEO white papers]

[2019-10-28 14:14] khempenius commented on #239
Katie Hempenius is an engineer on the Chrome team where she works on making the web faster.

[2019-10-28 14:18] AVGP commented on #239
Martin Splitt is a developer advocate on the web ecosystem team at Google where he works on keeping the web discoverable

[2019-10-28 14:37] bkardell commented on #239
Brian Kardell is developer advocate at [Igalia](https://igalia.com),  standards contributor, [blogger](https://bkardell.com), and is currently the W3C Advisory Committee Representative for the [Open JS Foundation](https://openjsf.org/). He was a founder of the Extensible Web Community Group and co-author of [The Extensible Web Manifesto](https://extensiblewebmanifesto.org).

[2019-10-28 14:59] khempenius commented on #144
Add conclusion

[2019-10-28 16:49] patrickhulce commented on #239
Patrick Hulce, author of [third-party-web](https://github.com/patrickhulce/third-party-web).

-----------------

Patrick Hulce is an ex-Chrome engineer, founder of [Eris Ventures](https://eris.ventures/), core team member of [Lighthouse](https://github.com/GoogleChrome/lighthouse) and [Lighthouse CI](https://github.com/GoogleChrome/lighthouse-ci), co-organizer of the [DallasJS](https://www.meetup.

[2019-10-28 21:52] alankent commented on #239
Alan Kent is a Developer Advocate at Google focusing on e-commerce and content ecosystems. He blogs at alankent.me and tweets as @akent99.

[2019-10-29 03:14] rviscomi commented on #171
I'll be rewriting a bit of our FCP and FID analysis to include new and unreleased (_shhhh!_) PSI thresholds:

Metric | Fast | Slow | Moderate
-- | -- | -- | --
FCP | p75 at 1000ms | p25 at 3000ms | Everything else
FID | p95 at 100ms | p05 at 300ms | Everything else

Notable changes:

- rename "average" to "moderate"
- lower barrier to fast FCP from p90 to p75
- increase barrier to fast FID from 50

[2019-10-29 04:22] rviscomi commented on #219
Was about to complain that it wasn't working until I reread [your comment](https://github.com/HTTPArchive/almanac.httparchive.org/issues/219#issuecomment-545328463). I just needed the `markdown` attribute. Carry on! 😄

[2019-10-29 04:22] #219 closed

[2019-10-29 04:33] MSakamaki commented on #238
I take this task.
a will send a pull-request today.

[2019-10-29 04:37] rviscomi commented on #238
Thank you so much @MSakamaki!

[2019-10-29 06:46] rviscomi commented on #218
@rachellcostello after #249 is merged the Performance chapter should be ready for editing. Just had to rewrite it a bit and add data viz.

[2019-10-29 09:47] ymschaap commented on #214
@rviscomi looking at the bio's at #239 I see more external websites then github or twitter mentions :) this is the *web* almanac right ;) But I understand this will be extra work/designs/time.

[2019-10-29 09:59] catalinred commented on #214
@rviscomi Is there anything I can do to help at this point?

[2019-10-29 11:49] tyohan commented on #130
@rviscomi @mikegeyser I'll continue to work on this after PR #251. Some stuff that I will work on within this week
- generate author list with macro
- create prev next button with macro

[2019-10-29 14:56] bazzadp opened #253 "Review the interlinking of the chapters"
I think we should do a review of all the chapters after they are completed and ensure they are interlinked as much as possible. There is a lot of overlap in the chapters and one of the great things about the web is it is built on links! I think doing this would make the whole project feel more like a cohesive resource rather than as separate, almost unrelated, chapters.

Taking the [SEO chapter](h

[2019-10-29 14:58] AymenLoukil commented on #253
+1000

[2019-10-29 14:59] bazzadp commented on #218
@rviscomi, @rachellcostello, @obto what do you think of https://github.com/HTTPArchive/almanac.httparchive.org/issues/253 that I've just raised? One to bear in mind as we copyedit the remaining chapters?

P.S. And sorry if that sounds like a dig at your chapter @rachellcostello - it honestly isn't meant like that!

[2019-10-29 15:00] AymenLoukil commented on #253
I can help, as a first step, drafting the logic of interlinking. (link when cited + suggest 2 or 3 chapters to discover below the content..)

[2019-10-29 15:01] bazzadp commented on #253
Oh I like that!! Would have an impact on the design though so may not have time.

[2019-10-29 15:36] bazzadp commented on #164
I all, I've just started reviewing this chapter as part of https://github.com/HTTPArchive/almanac.httparchive.org/issues/218 and have a few questions/comments. Thought I'd stick them here rather than as their own issue or as part of a PR for the copyedits for now. There will be a PR to come which you all can review and comment on.

@rviscomi there is currently a section on which BigQuery tables th

[2019-10-29 15:49] rviscomi commented on #164
Agreed. How we analyze the data is best left for the Methodology page, unless it's particularly relevant to the chapter.

To keep things moving go ahead and draft a conclusion and we can iterate on it. Thank you so much for working on this.

I'll leave the SW-specific questions to the others.

[2019-10-29 15:53] rviscomi commented on #253
Strong +1 to better interlinking.

The way to link to another chapter in the markdown is `[text](../chapter-slug)` where the chapter slug is a lowercase and sanitized version of the chapter title according to this rule:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/11de06a5a19679d751cbec168c5c8a63099f9780/src/main.py#L36-L38

The canonical URL of a chapter will look like `https://al

[2019-10-29 16:36] rviscomi commented on #214
Ok you've convinced me. But you have to promise to build the functionality! We'll need an icon (generic globe icon used everywhere) and the plumbing to render it from the config file into the Contributors page.

[2019-10-29 17:50] ymschaap commented on #214
Haha, it was a trap.  Working on it.

[2019-10-29 18:08] #238 closed

[2019-10-29 19:02] mikegeyser commented on #130
Would it make sense to generate it statically using an EJS template? It doesn't really need to be done at runtime, because it won't really change?

[2019-10-29 20:48] rviscomi commented on #130
My only hesitation is that it requires everyone to know that a change to the contributors config must also be followed by regenerating the chapter contents and rendering new author markup. WDYT?

[2019-10-30 03:07] tyohan commented on #130
I prefer to do it on rendering so less manual code generation whenever we have some updates.

[2019-10-30 04:33] mikegeyser commented on #130
We could add a [commit hook](https://github.com/typicode/husky) that generates the output automatically?

Although I don't really mind, it was just an idea, and perhaps what is simplest and most expedient would be best at this point. :)

[2019-10-30 04:54] #85 closed

[2019-10-30 04:54] #98 closed

[2019-10-30 04:55] rviscomi commented on #220
@andydavies @colinbendell I'm going to close this issue since no action is necessary, but feel free to continue adding your thoughts to it.

[2019-10-30 04:55] #220 closed

[2019-10-30 04:57] rviscomi commented on #199
The "permalink all chapter headings" part of this issue is resolved.

As for permalinking figures, what I've been doing is manually adding ID attributes to the figure elements. For example:

[code]

We could try to generate the fig IDs automatically in the generator but I think it'll be overkill. Would be cool though.

Given that, I think this issue is ready to be closed.

[2019-10-30 04:57] #199 closed

[2019-10-30 05:12] rviscomi commented on #237
Here's my approach for embedding data viz:

1. Find a given metric in the chapter's public results spreadsheet and use pivot tables to get the data ready for visualizing. Usually this means adding desktop/mobile as separate columns.
2. Select the appropriate chart from the [Data Viz Style Guide](https://docs.google.com/spreadsheets/d/1vmi8BJ7JarHhDPYJEzZkb1EcRcYUEYzIOv2iE_YcN5Y/edit?usp=sharing) s

[2019-10-30 05:53] tyohan commented on #130
Yes, that's possible too. But anyway i just made it with a mix of macro and code in app router.

[2019-10-30 06:04] obto commented on #237
After copy-editing is done I'll help out with this.

Regarding improving the mobile UX, I'm leaning towards the route of generating static images that display the individual values when possible (e.g., bar graphs). They'd resize well, may be quicker to implement, and give the benefit of being highly shareable.

[2019-10-30 06:08] #155 closed

[2019-10-30 10:41] rachellcostello commented on #218
Not at all @bazzadp - I completely agree! I believe that placeholders were left for internal links as we didn't know what the final URLs would be for the other chapters, so it was a good example for you to reference :)

[2019-10-30 11:03] rachellcostello commented on #218
I was going to proofread some other chapters while waiting for [#249](https://github.com/HTTPArchive/almanac.httparchive.org/pull/249) to be merged, but looks like the list of finished chapters have other editors already assigned currently. I'll keep an eye out for any new chapters in [src/content/en](https://github.com/HTTPArchive/almanac.httparchive.org/tree/master/src/content/en/2019), but let

[2019-10-30 11:25] rachellcostello commented on #218
Oh wait looks like HTTP/2 is ready, I'll take a look at that one too.

[2019-10-30 11:40] bazzadp commented on #218
Be kind - that one’s mine! 😀 Ping me if you’ve any questions.

Can you do me a favour and correct my name in the meta data at the top from my twitter name (tunetheweb) to my GitHub name (Bazzadp) since that’s the convention we’re going for?

Also now we know the URL structure as per https://github.com/HTTPArchive/almanac.httparchive.org/issues/253 if you could correct the other chapter links I hav

[2019-10-30 13:04] yoavweiss commented on #136
Apologies for joining in so late... :/

I added a few comments and suggestions on the doc.
@rviscomi - you can remove me from the "authors" column as this chapter is all @khempenius

[2019-10-30 16:49] rviscomi opened #258 "Whitespace broken in markdown metadata"
The "Third Parties" chapter has this yaml:

[code]

When this is processed, the generated template includes this metadata:

[code]

Note the line break between the title "Third" and "Parties". And also the whitespace before `flowlabs` and `jasti`.

This is causing the `get_chapter_image_dir` method to fail to generate the correct image directory for the chapter because where it expects a space cha

[2019-10-30 17:26] rviscomi commented on #141
@HTTPArchive/developers there are a few remaining items for this issue. I think they're first-issue-friendly if anyone new wants to give it a shot (@KJLarson @tjmonsi @chaluvadis @noahblon @matijagrcic @gustavofsantos?)

[2019-10-31 00:11] rviscomi opened #260 "Deploy a static / content-less version of the website"
The production website at almanac.httparchive.org has only been deployed once, and it's currently just a placeholder announcement with a link to this repo.

In preparation for launch next ~week I'd like to deploy a current version of the website with only the following pages:

- home
- contributors
- methodology
- table of contents

All content like chapter pages and the featured chapter on the ho

[2019-10-31 01:42] rviscomi commented on #260
🎉 The website is live at https://almanac.httparchive.org/en/2019/

[2019-10-31 01:42] #260 closed

[2019-10-31 01:43] rviscomi commented on #260
One important note for future deployments.

`app.yaml` has a required change to work in Python 3.7 App Engine environments:

[code]

The `script` property must be set to `auto`.

[2019-10-31 01:48] rviscomi opened #262 "Optimize home page images"
See https://webspeedtest.cloudinary.com/results/191031_ZB_fcfd29e8019c163d4634ca8a87eb27ab

Some of the illustrated characters are used on other pages and I'm not sure if these suggested optimizations would negatively affect their resolution. But everything else LGTM.

- [x] Compress methodology-characters.png
- [x] Compress home-hero-2019.png
- [ ] Compress home-hero.png and ensure it is only loa

[2019-10-31 01:51] rviscomi opened #263 "Optimize web font loading"
See https://www.webpagetest.org/result/191031_ZB_fcfd29e8019c163d4634ca8a87eb27ab/3/details/#waterfall_view_step1

![image](https://user-images.githubusercontent.com/1120896/67912113-2dc71f00-fb5f-11e9-81a3-03dba3bcbb12.png)

Requests 21-23 for the web fonts are blocked on DNS, TCP, and SSL connection steps. Use a preconnect hint to warm up the request to https://fonts.gstatic.com.

[2019-10-31 01:52] #214 closed

[2019-10-31 01:54] rviscomi opened #264 "Enable deep-linking to each contributor"
On the [Contributors page](https://almanac.httparchive.org/en/2019/contributors) each contributor element should have a unique ID attribute equal to the contributor ID. This way we could navigate to the page with a URL of `/contributors#rviscomi` or similar and the page will jump down to my entry on the page.

[2019-10-31 02:14] rviscomi commented on #221
Thanks for your feedback @catalinred.

I agree the Discuss forum is the best place for comments. I've created a new category [Web Almanac 2019](https://discuss.httparchive.org/c/web-almanac-2019) and seeded it with a thread for each chapter.

We should link from each chapter page to its respective thread on the forum.

[2019-10-31 02:15] #226 closed

[2019-10-31 05:35] mikegeyser commented on #258
I'll take a look at this asap.

[2019-10-31 05:51] welenofsky commented on #263
@rviscomi I created PR #265 to add the preconnect to two of the templates that had google fonts.

[2019-10-31 06:04] mikegeyser commented on #258
This is being caused by the default printWidth of prettier being 80 characters, which is wholly unnecessary for our use-case. I'm making it arbitrarily large, so it won't affect our rendering.

Looking at the image issue next.

[2019-10-31 06:28] #263 closed

[2019-10-31 07:18] bazzadp opened #269 "Contributor filters not working in mobile portrait mode"
When selecting the filters on my iPhone (Safari on iOS13.2) in Portrait mode they don’t do anything:

![67C951DF-309F-43DA-8EAE-AC3725ED0B2E](https://user-images.githubusercontent.com/10931297/67926544-2c711300-fbae-11e9-93a4-63223e0d348f.png)

Weirdly, rotating the phone 90 degrees causing the filter to take effect:

![1556D552-6913-4B9D-A793-0021769F8921](https://user-images.githubusercontent.co

[2019-10-31 07:20] bazzadp commented on #269
Ah @ymschaap is this fixed by https://github.com/HTTPArchive/almanac.httparchive.org/pull/268 ?

Just saw you “Mobile render bug .teams img” comment on that.

[2019-10-31 08:00] bazzadp commented on #269
Same thing happens in Chrome Dev Tools in mobile or responsive mode. Which should at least make it easier to debug!

[2019-10-31 08:53] ymschaap commented on #269
Fixed in #268, closing this.

[2019-10-31 08:53] #269 closed

[2019-10-31 08:56] ymschaap commented on #264
I will pick this up in #268.

[2019-10-31 09:03] bazzadp commented on #164
Any thoughts @tomayac , @jeffposnick and @hyperpress ?

[2019-10-31 09:12] ymschaap commented on #264
I've fixed this in #268.

[2019-10-31 09:13] ymschaap commented on #262
* I added retina support for logo.png in #268

[2019-10-31 09:19] bazzadp commented on #164
Or @jrharalson who wrote these queries initially?

[2019-10-31 10:59] bazzadp commented on #164
OK it would appear that these are separate requirements.

https://web.dev/installable-manifest/ states that you need basically four things to be installable:

1. Manifest
2. HTTPS
3. Service Worker
4. Some sort of engagement

I was presuming a Service Worker was part of the "Installable Manifest" criteria but it appears it's part of the larger "Installable" criteria. I don't think this is clear [s

[2019-10-31 11:19] AymenLoukil commented on #262
Methodoly page image could be more compressed
https://almanac.httparchive.org/static/images/methodology-banner.png
Another issue ?

[2019-10-31 12:24] bkardell commented on #224
The head image causes some serious horizontal scrolling on mobile.. that seems probably not specific to this page, but ..

[2019-10-31 13:08] voltek62 commented on #135
@samdutton Are you ready to merge into  src/content/en/2019 directory ?

[2019-10-31 13:11] #258 closed

[2019-10-31 13:19] rviscomi opened #274 "Add ability to permalink contributor team filter"
When using the team filter on the Contributors page, update the URL so that it reflects the current state of the filter. For example, `?teams=authors,reviewers`. Visiting a contributor page with this parameter should pre-filter to match.

cc @ymschaap

[2019-10-31 13:25] #264 closed

[2019-10-31 13:27] rviscomi commented on #224
I think the image issue was fixed by a recent commit that has not yet been pushed to the live website.

[2019-10-31 13:41] rviscomi commented on #262
@AymenLoukil could you file a new issue?

[2019-10-31 13:50] paulcalvano commented on #239
Paul Calvano is a Web Performance Architect at [Akamai](https://www.akamai.com/), where he helps businesses improve the performance of their websites. He's also a co-maintainer of the HTTP Archive project. You can find him tweeting at [@paulcalvano](https://twitter.com/paulcalvano), blogging at [http://paulcalvano.com](http://paulcalvano.com) and sharing HTTP Archive research at [https://discuss.h

[2019-10-31 14:25] jeffposnick commented on #164
Hello @bazzadp! Thanks for your thorough reviews.

Thanks, that sounds like a reasonable edit to make—reporting on how many sites actually meet all four of those conditions for installability sounds like a more meaningful stat than reporting on how many just meet the manifest criteria. (I wasn't fully aware of those distinctions in the way Lighthouse reported that data either.)

I'm not familiar w

[2019-10-31 14:31] bazzadp commented on #164
Have done @jeffposnick as part of https://github.com/HTTPArchive/almanac.httparchive.org/pull/273. Comments appreciated but hoping to launch next week so if you could reviewer sooner rather than later then that would be appreciated!!

[2019-10-31 14:37] AymenLoukil opened #278 "Optimize Methodology page image"
The Methodology page header image is not well compressed
https://almanac.httparchive.org/en/2019/methodology
https://almanac.httparchive.org/static/images/methodology-banner.png
I'll compress it and make a PR

[2019-10-31 15:03] #130 closed

[2019-10-31 15:04] #171 closed

[2019-10-31 20:13] #274 closed

[2019-10-31 20:23] rviscomi opened #282 "Markdown compiler adding line breaks"
The showdown compiler should be more tolerant of line breaks in md and not convert them to `<br>` tags in the markup.

For example:

[code]

[code]

(contrived example, not actual compiler output)

For a real example see https://github.com/HTTPArchive/almanac.httparchive.org/pull/273/files#r341347538

[2019-10-31 21:17] rviscomi opened #284 "Add author bios to chapter pages"
The bios in #239 should be made visible on authors' respective chapter pages similar to how they appear in this mockup:

![image](https://user-images.githubusercontent.com/1120896/67986768-c8743c00-fbf9-11e9-9d65-f8ffb4c510e3.png)

- [x] gather bios (#239)
- [ ] add bios to 2019.json
- [ ] ensure bios can support markdown like links
- [ ] add bios to the chapter template

cc @HTTPArchive/developer

[2019-10-31 21:22] rviscomi opened #285 "Write a foreword"
Not discussed or designed anywhere but I think the Table of Contents page could use a brief foreword section where we talk about the purpose of the project in a bit more detail than the home page.

[2019-10-31 21:31] JMPerez commented on #278
@AymenLoukil using ImageOptim it can be brought down to 371kB (11.6% savings). I realized that making the window narrower the image is not resized and overflows, so I wonder if as part of the optimization we should look into making the image 100% width and introduce responsive images.

[2019-10-31 21:38] JMPerez commented on #262
I'm thinking of sending a PR where I optimize all images in the static folder. In order to avoid regressions, we could as well integrate something like https://imgbot.net/ or https://github.com/calibreapp/image-actions. What do you think?

[2019-10-31 21:38] rviscomi commented on #278
FWIW the live website doesn't reflect the latest code. It should have `max-width: 100%` now. But we should still reduce its file size.

[2019-10-31 21:41] rviscomi commented on #262
@JMPerez sounds like a great idea. We may also want something more manual for handling desktop/mobile size variations but a lossless optimizer would be a big help.

[2019-10-31 21:46] rviscomi opened #286 "Audit the website for SEO issues"
Since we have SEO experts on-hand it'd be great if we can make sure that we're following our own best practices on the website.

The version pushed to https://almanac.httparchive.org has most of the site structure except for the chapter content (the most important part) so if needed we can revisit the website when that's pushed in ~a week or we can audit the local website. The website is also miss

[2019-10-31 21:48] AymenLoukil commented on #286
Already started ;)

[2019-11-01 00:44] #135 closed

[2019-11-01 00:45] #163 closed

[2019-11-01 09:38] AymenLoukil commented on #286
I made a first check pass and wrote down my findings in draft mode. I'll create an issue for each one + details on how to correct / enhance :)
Here is the draft document : feel free for every one who want to add things

[2019-11-01 09:39] AymenLoukil opened #291 "Broken links [Contributors page]"
In contributors page, there are these broken links :

- [x] https://almanac.httparchive.org/en/2019/www.bendell.ca
- [x] https://almanac.httparchive.org/en/2019/dougsillars.com

[2019-11-01 09:41] AymenLoukil opened #292 "Create Meta descriptions [All pages]"
We should create meta descriptions for each page.

(edit - @bazzadp added table below)

- [x]	1. JavaScript
- [x]	2. CSS
- [x]	3. Markup
- [x]	4. Media
- [x]	5. Third Parties
- [x]	6. Fonts
- [x]	7. Performance
- [x]	8. Security
- [x]	9. Accessibility
- [x]	10. SEO
- [x]	11. PWA
- [x]	12. Mobile web
- [x]	13. Ecommerce
- [x]	14. CMS
- [x]	15. Compression
- [x]	16. Caching
- [ ]	17. CDN
- [x]	18. P

[2019-11-01 09:44] AymenLoukil opened #293 "Create a robots.txt file"
We should create a [robots.txt file ](https://support.google.com/webmasters/answer/6062596?hl=en)

[2019-11-01 09:45] AymenLoukil opened #294 "Add link rel canonical tags [All pages]"
We could add link rel canonical tag for each page.

[2019-11-01 10:36] bazzadp commented on #286
This one is not quite correct. 307 is because of HSTS which the browser has cached. It’s an internal browser redirect added by your browser. If you use an online tool like https://wheregoes.com/ on http://almanac.httparchive.org then you’ll see it does a 302 to https://almanac.httparchive.org/ (this should probably be a 301) and then a further 302 https://almanac.httparchive.org/en/2019/ (which pr

[2019-11-01 11:16] AymenLoukil commented on #286
Yeah, the point is http=>https should be 301 and not 302, 307 or any other redirection type.

[2019-11-01 11:18] AymenLoukil commented on #286
The second 302 is not because 1 year redirect. It is mainly for language detection. When the translations will be added, if your accept-language is for example es, it should redirect to /es/2019 with 302.

[2019-11-01 11:57] rachellcostello commented on #286
I ran a crawl of the site in its current state, and everyone can access the findings [here](https://app.deepcrawl.com/accounts/22614/projects/299664/crawls/2425042?token=qPu5rVvQqK3Xlkfc9r1LboJOH3TLpTcc3D94W-tkX_MVFosTyrtNRhpP0LwkgkHQNRBBnLBKTdDKc_tBkAu5lQ).

In addition to the points in @AymenLoukil's Google doc:

* Multiple H1 tags on the home page and methodology page (not a huge issue for SEO

[2019-11-01 12:09] catalinred commented on #286
In addition to your doc, the `rel=nooopener` for external links should be added only when you open another page using `target=_blank` - in this case within the contributors page.

[2019-11-01 12:53] catalinred opened #296 "Featured Chapter blockquote"
Fix the index "Featured Chapter" blockquote as right now it uses an image called `quote.png` with a dimension of 8192x7973 px :/

Proposed solution: replace quote.png with a text CSS pseudo element and get rid of that HTTP request completely.

[2019-11-01 13:39] mikegeyser commented on #282
I don't think we should have any `<br />` at all. Would it be alright to simply remove all of them from the compiled output?

[2019-11-01 13:50] bazzadp commented on #286
Agreed but my point is the 307 isn’t a real redirect served by the server. It’s a fake one generated by Chrome to represent the automatic upgrade to HTTPS that HSTS does (see here: https://www.seroundtable.com/googlebot-hsts-redirects-301-307-21405.html). So you can’t “fix” this (and in fact there is nothing to fix). But you are 100% right about the first 302.

[2019-11-01 14:56] catalinred opened #300 "Fix accessibility issues"
- [x] Removing CSS outlines (e.g. `outline: none`) isn't a good practice, especially when an alternative style is missing (e.g. using border). We should rely on the browsers' defaults for now.
- [x] This is more like nitpicking but the button element has a default type of `submit`. We should specify the button type to avoid further potential issues within the contributors page (e.g. browsers submi

[2019-11-01 17:25] #282 closed

[2019-11-01 19:12] rviscomi opened #301 "Fix alignment of mobile menu icons"
The HTTP Archive and social links should be on the same line. They're appearing on different lines:

![image](https://user-images.githubusercontent.com/1120896/68049637-6c6cee80-fcb1-11e9-89cc-d9973f4fe225.png)

Original design for reference:

![image](https://user-images.githubusercontent.com/1120896/68049592-4f382000-fcb1-11e9-845b-0e8acdb37ae2.png)

[2019-11-01 19:14] rviscomi commented on #293
Can we add sitemap.xml to this issue or should that be done separately?

[2019-11-01 19:15] rviscomi commented on #292
Hmm this is a good reminder that we should have a short description for each chapter.

[2019-11-01 19:18] rviscomi commented on #294
Each page includes `rel=alternate` for its own URL. Is that ok or should we change it to canonical? Should we have both? For example, on the home page:

[code]

Also does it matter if the URL is relative or should it be absolute?

[2019-11-01 19:20] rviscomi commented on #296
8192x7973 px?! 😱

[2019-11-01 19:42] catalinred commented on #296
I know, Halloween thing :)

[2019-11-01 21:37] catalinred commented on #301
On it, I will fix it on #297 if that's ok.

[2019-11-02 04:33] #296 closed

[2019-11-02 04:33] #301 closed

[2019-11-02 04:33] #300 closed

[2019-11-02 10:02] bazzadp commented on #294
According to this https://webmasters.stackexchange.com/questions/61534/should-i-include-the-current-language-code-in-link-rel-alternate-hreflang we should include it for current language and also include  and this: https://yoast.com/hreflang-ultimate-guide/#hreflang-canonical we should have both and think it's fine for them to be relative (https://stackoverflow.com/questions/28291574/are-relative-

[2019-11-02 10:03] bazzadp commented on #292
I think these should go in each Chapter Markdown to allow different languages. Have done that for HTTP/2 chapter as part of #302. Let me know your thoughts on that.

[2019-11-02 13:54] rviscomi commented on #292
Yes, good idea!

[2019-11-02 15:08] #294 closed

[2019-11-02 15:31] rviscomi commented on #291
Removed @colinbendell's website from his config. Even if we add https, I still get an ERR_TOO_MANY_REDIRECTS error. Colin, if there's a better URL or if you're able to fix the redirect problem we can add it back in.

[2019-11-02 15:32] #291 closed

[2019-11-02 15:33] rviscomi commented on #141
Social media image handled by @bazzadp in #302.

@hyperpress would you have time to work on tasks 4 and 5?

[2019-11-02 15:34] rviscomi commented on #224
@HTTPArchive/developers anyone interested in working on this issue? I think this is a fun one (using IntersectionObserver and sticky positioning) 😄

[2019-11-02 15:36] rviscomi commented on #293
As far as what should go in the robots file, I don't think we want to disallow anyone from anywhere. So is it simply going to contain the following?

[code]

[2019-11-02 20:32] rviscomi opened #303 "Audit the website for accessibility issues"
Related to #286, we should do an audit of the website for accessibility issues before launch.

cc @obto @kleinab	@rachellcostello @ljme

### Outstanding issues:

- [x] **P0**: (Chapter) Graphs don't have descriptive alt text nor a link to the data, so screen reader users don't have access to that information
- [x] **P1**: (All pages) There are many images of cartoons that need to be decided to be

[2019-11-02 22:16] rviscomi commented on #144
@paulcalvano @flowlabs have you had a chance to review the [draft doc](https://docs.google.com/document/d/1FlJIcfjLLZ_U5JhfBy3fZq_VCLd8oC8kDoLsxsQTzRs/edit?usp=sharing)?

[2019-11-02 22:21] rviscomi commented on #170
@colinbendell @dougsillars the draft is in great shape! Could someone convert it to markdown and submit a PR so we can close this out?

[2019-11-02 23:32] rviscomi commented on #218
@obto since you wrote the mweb chapter I'll edit it with a fresh set of eyes :)

[2019-11-02 23:34] obto commented on #218
That'd be great, and sorry for the delay in copyediting. I'll be starting
tonight and tomorrow

On Sat, Nov 2, 2019, 18:32 Rick Viscomi <notifications@github.com> wrote:

[2019-11-03 03:18] paulcalvano commented on #144
Just added some comments to the doc. Great job on this!

[2019-11-03 05:49] hyperpress commented on #141
I'm home and available. I'm taking some overdue days off. Sign me up and
I'll tackle those tomorrow. Cool?

[2019-11-03 06:20] rviscomi commented on #141
Thanks @hyperpress!

[2019-11-03 23:49] bazzadp opened #309 "HTML validation - divs in H1 in chapters"
The Chapters have the following:

[code]

Is it valid to have a div as part of a H1? The W3 validator (https://validator.w3.org/nu/) doesn't think so:

Could also cause SEO/Accessibility issues.

Tried to move the `<h1>` tags around just the title itself in the template but that changed the style so thought best to leave to someone more familiar with the CSS to change this hence opening this issue

[2019-11-03 23:54] rviscomi commented on #309
Thanks @bazzadp. I wrote this. Probably best to take the subtitle out of the H1 and restyle. I can take this if I get time, otherwise anyone from @HTTPArchive/developers can feel free to self-assign.

[2019-11-03 23:58] bazzadp opened #310 "HTML validation - duplicate ids when tables with same column names are used"
Looking at the [HTTP/2 chapter](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/templates/en/2019/chapters/http2.html) for example, it has generated multiple instances of the following (as I used pretty much the same headings in all my tables):

[code]

HTML states that there should only be one `id` of each name. Additionally using the column name like this could break the T

[2019-11-03 23:59] rviscomi commented on #310
Good catch. I don't think we ever need `th` to have an ID, so this can be removed if possible.

[2019-11-04 00:57] #310 closed

[2019-11-04 05:00] hyperpress commented on #141
Hey @rviscomi - I noticed that the Design branch is no more. Do you want me to do my PR from Master?

[2019-11-04 07:08] #309 closed

[2019-11-04 08:46] AymenLoukil commented on #293
I think it should be done separately. When the sitemap will be ok we will modify the robots.txt to add its reference.

[2019-11-04 11:23] AymenLoukil commented on #286
Yeah yeah i confirm @bazzadp ! You right on the 307. I went too fast on this :)

[2019-11-04 12:29] AymenLoukil commented on #293
Yeah. For the moment we allow everything. Later we could adjust.

[2019-11-04 18:45] #136 closed

[2019-11-04 19:02] rviscomi opened #315 "Next/Prev chapter broken styles"
When there are no previous chapters, the next/prev widget at the bottom of the chapter page appears to lose its vertical centering and spacing:

![image](https://user-images.githubusercontent.com/1120896/68149196-4d10d400-fef2-11e9-8d5b-8c9e96d9e326.png)

It should look consistent with this:

![image](https://user-images.githubusercontent.com/1120896/68149240-63b72b00-fef2-11e9-9a49-af7e45fed0ef.p

[2019-11-04 19:18] arturjanc commented on #239
Artur Janc is an Information Security Engineer at Google, working on designing and adopting web platform security mechanisms across Google and the web at large. He argues with people on the internet as @arturjanc on Twitter.

[2019-11-04 19:19] rviscomi opened #316 "Finish writing the Fonts chapter"
This chapter has some remaining work to do to get it over the finish line:

- write introduction and conclusion sections to give the chapter a narrative arc
- organize analysis sections to be grouped by related topics and give the chapter more of an arc
- expand on each section to give more background info for readers who may be unfamiliar with the technologies being analyzed

I'd love to see this

[2019-11-04 19:23] bazzadp opened #317 "Autogenerate timestamps"
As part of https://github.com/HTTPArchive/almanac.httparchive.org/pull/302 and https://github.com/HTTPArchive/almanac.httparchive.org/pull/308 we added Article Structured Data which depends on having a Published Date (required or it fails the [Google Structured Data Testing Tool](https://search.google.com/structured-data/testing-tool)) and a Last Updated Date (recommended by the [Google Structured

[2019-11-04 19:24] #284 closed

[2019-11-04 19:34] bazzadp opened #318 "Create a sitemap.xml file"
We should create a sitemap.xml file per supported language (e.g. https://almanac.httparchive.org/sitemap-en.xml for English) as part of the SEO recommendations discussed in https://github.com/HTTPArchive/almanac.httparchive.org/issues/286.

This should be added to `robots.txt` being generated as part of https://github.com/HTTPArchive/almanac.httparchive.org/issues/293 like so ([multiple sitemaps a

[2019-11-04 19:58] rviscomi opened #319 "Link author names in bio to Contributors"
Add links on each author's photo and name in the bio section of the chapter page to go to their respective part of the contributor page, similar to the byline at the top of the chapter page.

![image](https://user-images.githubusercontent.com/1120896/68153526-7d5c7080-fefa-11e9-992a-ada1507b6f80.png)

@HTTPArchive/developers anyone available to work on this small feature?

[2019-11-04 20:04] rviscomi commented on #144
I think the doc is in great shape. @khempenius or @tammyeverts can you file a PR to get the markdown merged?

[2019-11-04 20:05] #172 closed

[2019-11-04 20:05] rviscomi commented on #170
🛎 friendly ping. @colinbendell @dougsillars are either of you able to do the markdown PR?

[2019-11-04 20:07] rviscomi commented on #149
The draft is in great shape. I see @yoavweiss did a thorough review and left some comments recently. Once those are resolved we're ready to get this converted to markdown and merged. Thanks everyone!

[2019-11-04 20:18] khempenius commented on #144
@rviscomi @tammyeverts - I'm starting on creating the markdown for this.

[2019-11-04 20:25] una commented on #239
Una Kravets is a Brooklyn-based international public speaker, technical writer, and Developer Advocate for Material Design at Google. Una hosts the [Designing the Browser](https://www.youtube.com/watch?v=YK8GZBx3hpg) web series and the [Toolsday](https://spec.fm/podcasts/toolsday) developer podcast. Follow her on [Twitter](https://twitter.com/una) to find her musings on creative CSS, user experien

[2019-11-04 20:27] rviscomi commented on #239
Here's mine:

I've also got bios for a couple of Accessibility authors via email.

@kleinab:

Nektarios Paisios:

[2019-11-04 20:50] ahmadawais commented on #170
I just finished my review. Left suggestions in the Google Doc. Everything else seems to be on point and 👌

[2019-11-04 21:00] AymenLoukil commented on #318
@bazzadp i would prefer to have [a sitemap index](https://support.google.com/webmasters/answer/75712?hl=en) that lists all the sitemaps.
So in the robots.txt we put just the sitemap index URL.

I wouldn't add the  <changefreq></changefreq> attribute (not used by Google and not useful n our case for the other engines.)

So in the sitemap-en.xml we will loop through all the years pages ?

[2019-11-04 21:04] bazzadp commented on #318
Either works for me. Whichever is easiest to implement.

Fair enough - removed.

Good question and not sure. Could have sitemap-en-2019.xml as well if easier.

[2019-11-04 21:38] #144 closed

[2019-11-04 22:37] #319 closed

[2019-11-04 22:46] rviscomi commented on #218
The current list of chapters ready for editing are:

- Performance
- Accessibility
- Mobile Web
- Compression
- Caching
- Page Weight
- Resource Hints
- HTTP/2

A few more are wrapping up peer review and will be ready for editing soon.

I'm in the process of editing Mobile Web (#305). @rachellcostello have you started your review of HTTP/2 or Performance?

[2019-11-04 23:14] dougsillars commented on #170
Rick,

I'll work on this tomorrow.

Doug

[2019-11-04 23:35] rviscomi commented on #286
@rachellcostello two chapters are currently live and ready for another audit: [Markup](http://127.0.0.1:8080/en/2019/markup) and [Performance](http://127.0.0.1:8080/en/2019/performance).

[2019-11-04 23:47] bazzadp commented on #218
@obto I see you're down to Copy Edit the Caching Chapter. Want me to take that over since you were a reviewer on it? Fresh pair of eyes and all that. Plus I've already nitpicked @paulcalvano once for Compression so I'm sure he'd appreciate the same annoying guy giving him grief about his other chapter too! 😉

[2019-11-05 04:31] obto commented on #218
@bazzadp That'd be great. I'll move straight to the JS chapter :)

[2019-11-05 04:33] rviscomi commented on #218
@obto JS is not quite merged so maybe start on something else in case it changes.

[2019-11-05 04:48] obto commented on #218
@rviscomi Oh that completely slipped my mind. I'll checkout page weight then

[2019-11-05 09:00] rachellcostello commented on #218
@rviscomi I'm working on HTTP/2 at the moment, should be finished today and I'll try and tackle Performance today too.

[2019-11-05 09:11] andydavies commented on #239
Short:

Andy Davies is a Freelance Web Performance Consultant. Co-author of using WebPageTest, and also an organiser of the London Web Performance meet up.

Long:

Andy Davies is a Freelance Web Performance Consultant and has helped some of the UK's leading retailers, newspapers and financial services companies to make their sites faster.

He wrote The Pocket Guide to Web Performance, is coauthor

[2019-11-05 10:58] rachellcostello commented on #286
The updated crawl can be accessed [here](https://app.deepcrawl.com/accounts/22614/projects/299664/crawls/2435661?token=vyoKHhAclQBvlvUVKuUhukzrN04jX71YB1bsID1Lb3ZVpyDgEfxjiTJ8gEVKkCPlWJCbdo0udMUgh9Q3jCEOaA).

It confirms that the canonical tags are being picked up and the author link errors have been resolved.

Page reports for the [Markup](https://app.deepcrawl.com/accounts/22614/projects/299664/

[2019-11-05 18:21] rachellcostello commented on #218
Finished HTTP/2 and Performance, happy to take Page Weight and/or Resource Hints next.

[2019-11-05 18:44] rviscomi commented on #285
Closed by #322

[2019-11-05 18:44] #285 closed

[2019-11-05 18:47] rviscomi commented on #218
Created an Editors team so we can bulk notify/assign now :)

cc @HTTPArchive/editors

[2019-11-05 18:55] #132 closed

[2019-11-05 19:02] #131 closed

[2019-11-05 19:11] rviscomi commented on #218
JS and CSS are ready for editing.

[2019-11-05 19:12] rviscomi commented on #224
Assigning @ymschaap who is looking into tables in #333

[2019-11-05 19:13] rviscomi commented on #278
I think this has been resolved by the img optimization bot?

[2019-11-05 19:13] #278 closed

[2019-11-05 19:38] JMPerez commented on #278
@rviscomi yes, it has. Thanks for closing it.

[2019-11-05 20:00] obto commented on #218
@rachellcostello Sorry i forgot to edit the list in here to show I've been working on page weight. Already halfway finished and a PR up.

[2019-11-05 20:18] kleinab commented on #239
Abigail Klein is a Google software engineer. She worked on Google Docs, Sheets, and Slides web accessibility where she added [automatic captions to Google Slides](https://www.blog.google/outreach-initiatives/accessibility/whats-you-say-present-captions-google-slides/), as well as improving screen reader, braille, screen magnifier, and high contrast support. She currently works on Google Chrome and

[2019-11-05 20:48] AymenLoukil commented on #278
Yes thank you :)

[2019-11-05 21:14] rviscomi commented on #315
No word from @tyohan, unassigning.

Any @HTTPArchive/developers available to take this?

[2019-11-05 21:24] rviscomi commented on #38
Two chapters are edited and should be stable enough to start translation: Markup and Performance.

[2019-11-05 22:43] catalinred commented on #315
I can do it.

[2019-11-05 23:31] rviscomi opened #339 "Standardize on "third party" or "third-party""
We're inconsistent throughout the chapters on the usage of a hyphen in "third-party". It's even used both ways in the Third Parties chapter.

I've read https://www.merriam-webster.com/dictionary/third-party and I'm still confused about how to use it. Any grammaticians who can weigh in?

@HTTPArchive/editors

[2019-11-05 23:38] paulcalvano commented on #339
Looking at the dictionary entry, I guess it comes down to whether we're using the term as a noun or an adjective.

I personally prefer "third party" without the hyphen. But I also believe it is frequently used as an adjective - so "third-party content" would be grammatically correct for most uses in the almanac.

[2019-11-05 23:56] bazzadp commented on #339
Agreed. That's what I went with when I copy edited the Third Party chapter. It's a third party with talking about a particular party (noun), but third-party content (adjective of the content) and third-party resource (adjective of the resource).

I'm still torn about the chapter title itself - is it Third Parties because we are talking about the parties themselves? Or is that short for "third-part

[2019-11-06 00:10] LPardue commented on #339
Agree with Bazza, it might appear as inconsistent but both forms are completely consistent with grammar rules.

[2019-11-06 00:19] #315 closed

[2019-11-06 00:19] rviscomi commented on #315
Thanks @catalinred!

[2019-11-06 00:19] rviscomi commented on #339
TIL!

[2019-11-06 01:29] MSakamaki commented on #38
Immediately, gitlocalize integration I will start.
I want to register an assigned member as an administrator here.

[2019-11-06 01:59] MSakamaki commented on #38
@rviscomi
An error occurred during integration.
Apparently, auth with an administer account is necessary.
Is it possible to authlization?

![スクリーンショット 2019-11-06 10 40 29](https://user-images.githubusercontent.com/2183053/68261737-6ba6d480-0084-11ea-81b0-247eb96892b8.png)

[2019-11-06 02:00] c-torres commented on #38
@MSakamaki I loged in into gitlocalize and linked my account c-torres.

[2019-11-06 06:37] rviscomi commented on #218
Media is also ready for editing.

[2019-11-06 06:41] rviscomi commented on #170
Closed by #338

[2019-11-06 06:41] #170 closed

[2019-11-06 06:43] rviscomi commented on #149
🛎 gentle ping! We'd love to start editing this chapter as soon as the markdown is merged. Hope to get it launched on time.

[2019-11-06 06:44] rviscomi commented on #316
@zachleat do you have any time to work on this chapter in the next day or two? If not I'm afraid there's no chance we'll have it ready for the launch on Monday 😞

[2019-11-06 06:46] rviscomi commented on #303
From an email thread it sounds like @ljme may be able to start on an accessibility audit. We'll prioritize the major findings to get them resolved before launch.

[2019-11-06 11:47] #293 closed

[2019-11-06 12:07] bazzadp commented on #318
I've done this as one sitemap.xml file and it handles all years and languages.

[2019-11-06 13:12] ljme commented on #303
Yes! Let's do this!

[2019-11-06 13:31] zachleat commented on #316
Hey @rviscomi taking a pass at this now. Can you elaborate about bullet 3? Would some kind of glossary be helpful there?

[2019-11-06 14:31] zachleat commented on #316
My other question as I craft more of a narrative from this—what’s the best way to reference individual queries or results here?

[2019-11-06 16:23] ernee commented on #239
Renee Johnson is a web and product consultant. She spends most of her time supporting individuals, small businesses, and teams on their web projects.

[2019-11-06 17:37] colinbendell commented on #173
I ran into the same issue with the protocol being empty. It turns out there are a number of bugs with the way that protocol version is reported in WPT, so I had to add a number of checks. Sometimes it was a HTTP2 socket, but for some reason WPT would report the http version as HTTP/1. Or more often, if the socket was a HTTP/1 TLS socket that used TLS resumption, then the protocol version would be

[2019-11-06 18:03] rviscomi commented on #316
Thanks @zachleat! I was thinking of having a few sentences of primer about what the thing is, why it matters, etc. Assume a beginner level of understanding from readers. For example, in the [SEO](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/content/en/2019/seo.md#page-titles) chapter, here's a quote from when it discusses the metric on page titles:

That also answers your

[2019-11-06 18:15] bazzadp commented on #173
@colinbendell I found a number of reasons - service workers calls (reminds me of [my answer here](https://stackoverflow.com/questions/54513933/requests-served-from-serviceworker-are-downgraded-from-http-2-to-http-1-1)), cancelled requests, and lots I couldn't explain. Seemed to me mostly for Desktop - Mobile was cleaner.

[2019-11-06 19:39] rviscomi commented on #237
Also assigning @paulcalvano to help with the data viz (thanks Paul!).

Some chapters rely only on images and/or data tables, so there might not be any charts to generate/embed but we still need to ensure that they use the `figure` and caption consistently.

[2019-11-06 19:48] rviscomi commented on #239
Only remaining bios needed are: @housseindjirdeh @colinbendell @obto @amedina. When you all get a chance, can you please add them here? Thank you!

[2019-11-06 19:58] rviscomi opened #346 "Randomize order of contributors"
Low priority but I'd like to see the Contributors page sorted randomly as opposed to alphabetically. Gives everyone a chance to be featured at the top :)

cc @HTTPArchive/developers

[2019-11-06 19:59] bazzadp commented on #237
Yes I noticed tables in [my chapter](https://almanac.httparchive.org/en/2019/http2) overflow on mobile whereas wrapping in a `figure` overflows with scroll which is much better! Same with wide code snippets which need to have a class added: `<pre class='code-block'>`

[2019-11-06 20:08] amedina commented on #239
Alberto Medina is a Developer Advocate in the Web Content Ecosystems Team at Google, focusing on advancing the proliferation of quality content on the web via progressive technologies such as Amp, and the use of modern Web APIs. Alberto's work currently has a strong focus on Content Management Systems as he leads an area of Content Ecosystem called CMS Developer Relations.

[2019-11-06 20:43] bazzadp opened #348 "Preference for Twitter Card size?"
Twitter allows two types of Twitter cards which display if you have certain meta data on the page you are linking too.

A _Summary Card_ which renders like this:

![Twitter Summary Card example](https://user-images.githubusercontent.com/10931297/68334625-ed255380-00d2-11ea-805f-63f8cdd19307.png)

Or a _Summary Card with Large Image_ which renders like this:

![Twitter Summary Card with Large Image

[2019-11-06 20:49] rviscomi commented on #348
Bigger is better IMO!

[2019-11-06 20:50] obto commented on #348
I agree. Looks much nicer.

On Wed, Nov 6, 2019, 14:49 Rick Viscomi <notifications@github.com> wrote:

[2019-11-06 20:59] rviscomi commented on #237
@colinbendell FYI about our data viz process

[2019-11-06 21:47] colinbendell commented on #239
Colin is part of the CTO Office at [Cloudinary](https://cloudinar.com) and co-author of the O'Reilly book [High Performance Images](https://www.oreilly.com/library/view/high-performance-images/9781491925799/). He spends much of his time at the intersection of high volume data, media, browsers and standards. You can find him on tweeting [@colinbendell](https://twitter.com/colinbendell) and at blogg

[2019-11-06 22:37] bazzadp commented on #286
OK so at the moment the issues I see are:

- No Sitemap - being tracked in https://github.com/HTTPArchive/almanac.httparchive.org/issues/318 about to be fixed with https://github.com/HTTPArchive/almanac.httparchive.org/pull/345
- No alt for images - should be completed in each chapter edit.
- Add nooopener for external links - more a security issue, than an SEO one and we don't hold secure informa

[2019-11-06 22:40] AymenLoukil opened #350 "What about having a bio for every contributor ?"
What about having a bio for every contributor ?

[2019-11-06 22:42] AymenLoukil commented on #286
Add native lazy loading for all the imgs / iframes
=> https://web.dev/native-lazy-loading/

[2019-11-06 22:44] bazzadp opened #351 "Add native lazy loading for chapter images (inc iframes)"
Some of the chapters might have a lot of graphics. If possible we should add [native lazy loading](https://web.dev/native-lazy-loading/) for the chapter graphics (except for the chapter heading and the logo).

I'm not sure that is possible as we are writing in markdown and using [showdown](https://github.com/showdownjs/showdown/wiki) to convert to HTML and it doesn't look to have an option to add

[2019-11-06 22:44] bazzadp commented on #286
Raised https://github.com/HTTPArchive/almanac.httparchive.org/issues/351 for this.

[2019-11-06 22:58] AymenLoukil commented on #286
It is a security + performance issue :)

[2019-11-06 23:02] AymenLoukil opened #352 "Horizontal sliding bar"
In chapter template, in the bottom and at the next / previous chapter narrows there is an horizontal sliding bar
![image](https://user-images.githubusercontent.com/5750656/68345553-e823cc80-00f1-11ea-9e84-1014daf8dfd3.png)

[2019-11-06 23:13] bazzadp commented on #352
I can't repeat this.

Think they'll need to know:
- what browser, versions and OS?
- what site (http://127.0.0.1:8080/en/2019/mobile-web or https://almanac.httparchive.org/en/2019/mobile-web)?
- if local dev site, then what branch (master?) and is the branch up to date?
- what dimensions do you see the scrollbar? Always? Or just at certain widths.

[2019-11-06 23:30] housseindjirdeh commented on #239
Houssein is a Developer Advocate at Google working on speed, performance and the web framework ecosystem. He tweets at @hdjirdeh and blogs at https://houssein.me/.

[2019-11-07 02:18] ljme commented on #303
I've found some bugs and will take time tomorrow to write them up individually with repro steps and check them all to ensure they are cross-platform. Where is a good spot to put them?

The most pressing issues I see tonight are:

Inside the report page:
**graphs don't have descriptive alt text nor a link to the data, so screen reader users don't have access to that information - most important bug

[2019-11-07 02:43] rviscomi commented on #350
IMO it only makes sense for authors because their credentials add authority to their chapters. In the Contributors page designs we had a line for everyone to have their own tagline; just a few words about themselves like "SEO expert" or "World-class accessibility speaker". We can look into bringing that back if there's interest.

[2019-11-07 02:46] rviscomi commented on #351
Yeah I think this would be a nice improvement. Best approach IMO would be to implement this in the markup generator, since we want to encourage authors to write simple markdown like `![foo](./img.png)`.

[2019-11-07 02:53] rviscomi commented on #303
Thanks @ljme! I've updated the first comment to act as a todo list of issues to resolve. Feel free to edit it if you find anything else.

[2019-11-07 02:57] rviscomi opened #353 "Data tables should be shrink-wrapped and centered"
Current appearance:
![image](https://user-images.githubusercontent.com/1120896/68356365-fb6d7280-00c6-11ea-84aa-9fd29098b11d.png)

Expected appearance:
![image](https://user-images.githubusercontent.com/1120896/68356440-37a0d300-00c7-11ea-89e6-a797790e53d1.png)

@ymschaap can you take a look?

[2019-11-07 04:05] mikegeyser commented on #351
I think the simplest would be to implement it the same way as the `generate_figure_ids` with a nifty regex replace and add in the `loading="lazy"` attribute. I can have a go at it a little later.

[2019-11-07 05:11] paulcalvano commented on #237
I attempted to convert two static images using this process, but the embedded images don't display in markdown.   The test I made was to use the following:

[code]

[2019-11-07 05:54] mikegeyser commented on #352
I'm also seeing it. Chrome 78 on a 2018 macbook pro. Will try and look at it now.

![image](https://user-images.githubusercontent.com/105242/68363507-ba5f7780-0133-11ea-8147-6cc5fee7d57d.png)

[2019-11-07 05:57] mikegeyser commented on #352
It seems to be `overflow: auto;` set on the `#chapter-navigation` style. Removing it fixes the issue for me, but I'm not sure if it was put there for a reason? Is that an acceptable fix?

[2019-11-07 06:04] rviscomi commented on #352
Caused by #341

cc @catalinred

[2019-11-07 06:11] mikegeyser commented on #317
How about adding a pre-commit hook that updates the last_updated in the markdown files? Another option (perhaps simpler) is to use git itself as a part of `npm run generate`, something like this:

[code]

We can do something dodgy, like call out to the git cli from node?

[2019-11-07 06:12] rviscomi commented on #237
After making changes to the markdown file you need to convert them to markup by running `npm run generate`. More info in the [readme](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/README.md#generating-chapters).

[2019-11-07 07:39] catalinred commented on #352
Would recommend `overflow: hidden` then, to fix #315. I wrote a [comment here](https://github.com/HTTPArchive/almanac.httparchive.org/pull/356#issuecomment-550960325). Hope that helps.

[2019-11-07 08:44] bazzadp opened #358 "Image requests for social media sharing"
Currently we are using the same image for 4 pages (index, ToC, Contributors and Methodology) for our social media sharing and it would be good to have different ones.

Can we get the following:

- A white background version of [methodology-characters.png](https://almanac.httparchive.org/static/images/methodology-characters.png).

- A white background version of [home-hero-2019.png](https://raw.git

[2019-11-07 08:49] #348 closed

[2019-11-07 08:49] rviscomi commented on #358
methodology-banner is 1200px wide?

[2019-11-07 08:51] bazzadp commented on #358
Ah Chrome was putting height and width attributes on it! Will update to use that then and don't need this then?

[2019-11-07 12:46] bazzadp commented on #317
I'm happy either way.

I'm not that familiar with git, pre-commit hooks, the cli...etc. so think it would be good if you could take this on @mikegeyser ?

Good thing is that as part of https://github.com/HTTPArchive/almanac.httparchive.org/pull/345 we will no longer just dump this date into the files as is, and we use JavaScript to read and format the date, so that gives us more options of convert

[2019-11-07 13:15] bazzadp opened #361 "Only load mobile and desktop images appropriately"
Currently we have things like this:

[code]

And then we show and hide the appropriate image on desktop and mobile using CSS.

However this causes both images to be load, even though one will not be used.

This can be mitigated by using background-images for these images and hiding the parent element appropriately. This causes the browser to realise whether the image will be displayed or not after

[2019-11-07 13:40] bazzadp commented on #361
Or is browser-native lazy-loading an acceptable option here? In which case can include as part of #355.

[2019-11-07 13:47] ymschaap commented on #353
Apologies for the commit to master, did a revert commit as well.

See #362

[2019-11-07 13:48] AymenLoukil commented on #361
Yes the best solution if responsive images with srcset here.
This tool is useful to generate the 3 (we just need Desktop, Tablet and Mobile) versions.
https://www.responsivebreakpoints.com/
Example :
https://res.cloudinary.com/responsivebreakpoints/image/upload/c_scale,w_385/v1573134390/home-hero-2019_x04cmk.png
https://res.cloudinary.com/responsivebreakpoints/image/upload/c_scale,w_643/v157313439