[2020-07-11 22:18] ibnesayeed commented on #933
My plate is too full right now and I have some super important deadlines to meet, so unfortunately I cannot promise to actively contribute in the coming weeks.

My assessment suggests that one PR should be enough to at leas get the bot configured and perform an initial version pinning of every dependency (Python, JavaScript, and Actions etec.). We will have to define the frequency for each languag

[2020-07-11 22:46] bazzadp commented on #933
Actually I’ve just checked and it’s already enabled and was able to pick up our 3 version files (requirements.txt, package.json and package-lock.json) even without a config file.

However it seems to only open PRs for security issues not regular updates. So I still think good to lock to major version but allow automatic minor version upgrades.

[2020-07-11 23:06] ibnesayeed commented on #933
Earlier it was a third-party service, so it was enabled by giving access to their app, but last year [GitHub acquired it](https://dependabot.com/blog/hello-github/) and earlier last month [GitHub started supporting a new version of it natively](https://github.blog/2020-06-01-keep-all-your-packages-up-to-date-with-dependabot/). In the process a few things have changed and I think it is now configur

[2020-07-12 00:04] LeaVerou commented on #898
Alright people, some updates.

I think a single issue to manage which stats we are going to study (proposals, voting, methodology, discussion on the finer details of how to study them etc), would be a bit messy, so I made [this repo](https://github.com/LeaVerou/css-almanac/). We should still keep this issue updated with resolutions etc, so that future authors can follow it.

I also made [this app

[2020-07-12 00:45] paulcalvano commented on #919
I'm happy to be an analyst for this chapter

[2020-07-12 01:22] ibnesayeed commented on #933
Well, I did add a basic config file in RP #1004. @bazzadp you may want to add it in the checklist of this ticket and mark it done.

[2020-07-12 07:24] bazzadp commented on #988
[Securityheaders.com now gives us a nice green A grade](https://securityheaders.com/?q=https%3A%2F%2Falmanac.httparchive.org%2Fen%2F2019%2F&followRedirects=on):

![Screenshot of securityheaders.com for almanac.httparchive.org showing all green](https://user-images.githubusercontent.com/10931297/87241198-86ea9080-c418-11ea-9fbb-0820fa92c1d4.png)

Aiming for an A+ with #1010 😀

[2020-07-12 07:29] bazzadp commented on #906
@ivanr @april would you have any interesting in helping out in this chapter this year? Last year's chapter for context: https://almanac.httparchive.org/en/2019/security

[2020-07-12 08:42] nrllh commented on #906
@tomvangoethem, assigned you also as author ;)

[2020-07-12 10:30] #1002 closed

[2020-07-12 11:18] bazzadp commented on #933
Done. Make great progress in improving the text stack!

[2020-07-12 11:40] rockeynebhwani commented on #914
@rviscomi - I am happy to be a co-author or reviewer for this chapter.

[2020-07-12 14:56] sudheendrachari commented on #986
I am no designer 😁 but here is what i could imagine and style these two dropdowns into:

Major changes:
 - Reduced the rounded corners to only 5px radius (Completely rounded corners doesn't seem to fit well into dropdown style layout)
 - Instead of chevron added relevant icons for both
 - Instead of border, used background color to differentiate from other items in menu

Version 1:  (Trying to fit

[2020-07-12 15:24] j9t commented on #899
Hey everyone—after a quick vacation and reviewing the major docs, an update. I’ll keep it brief:

* 👉 I’ve added a first outline and metrics in the [Markup draft doc](https://docs.google.com/document/d/1m1YvDqWgZfqmcmAEkCnXncIJwsM1QCu6Rv7aPWjG1Ms/edit#). Can everyone please check they have access, and review, add, and comment, notably on what you think is missing metrics-wise?

* 👉 Does anyone of

[2020-07-12 15:37] bazzadp commented on #986
Thanks for those mockups @sudheendrachari

My feedback:
- Agree with removing the rounded corners for the reason you give. Also solves #892
- Not sure I agree with replacing the chevron with icons. The lead to misunderstanding. The date icon makes me think it’s a date picker rather than a year picker and not sure what the language picker icon is? I think the chevron is simple and well understood.

[2020-07-12 15:43] bazzadp commented on #986
On mobile could this be a problem as years (and hopefully languages!) grow? I quite like the native select for iOS For long lists. Not an Android user so dunno what it looks like there but maybe should consider keeping native select for mobile view?

[2020-07-12 18:25] rviscomi commented on #892
I think the fix for this is:

[code]

Where the outline is disabled entirely. I think the border color change is sufficient.

[2020-07-12 18:45] rviscomi commented on #986
+1 thanks @sudheendrachari!

Other buttons on the site use these corners, so I think it's important to keep them consistent. I made a suggestion in #892 to address the outline issue. It also applies to `.btn:focus` styles.

+1

+1

So to sum up, I think the dropdown button itself is already well-designed overall, but the challenge in this issue is to develop a menu that fits within the existing UI

[2020-07-12 20:19] bazzadp commented on #892
I think that's a fine change for those using the mouse, but less than ideal for keyboard users as when you tab into it as its very subtle change and, give our colour-scheme, it doesn't really differentiate the focused item unless you happen to notice it change.

And when you compare keyboard focus for the logo:

![Logo with focus](https://user-images.githubusercontent.com/10931297/87254478-ef6a598

[2020-07-12 20:55] bagder commented on #921
With this massive line-up already signed up I can stand down this year.

[2020-07-12 22:58] Zizzamia commented on #920
Ciao @notwillk, @giopunt, @jessnicolet, @pmeenan, @khempenius! 😁
I just completed the [draft](https://docs.google.com/document/d/1qsJWq7eKdif2egt54G3jmZzK4PkyoIX8g4o4UzlJGEw/edit?usp=sharing) for the chapter outline, if you have ideas or suggestions feel free to add them to the Doc or share them in this thread.

@khempenius, let me know when is a good time to start writing down the metrics. I noti

[2020-07-12 23:07] hemanth commented on #909
Sure @logicalphase let us discuss, there was one more purpose who was interested too.

[2020-07-12 23:09] hemanth commented on #909
For the **July 13th** checklist completion we have:

Author + Analysts: @hemanth
Reviewers: @thepassle @jadjoubran @logicalphase @pearlbea

Reviewers: please confirm with a thumbs up to this comment, if you are still interested in reviewing, thank you!

[2020-07-12 23:11] hemanth commented on #909
Meanwhile, for July 20th item on the checklist, I have added a [potential chapter outline](https://docs.google.com/document/d/1JjjwHNjEsF6fl4WNod6mOj-58IIDzg-el3wh36mV3nM/edit#heading=h.vqdmpb884vdu) please have a look and leave a comment on the document or in the issue here, thank you!

//cc Reviewers: @thepassle @jadjoubran @logicalphase @pearlbea

[2020-07-12 23:15] bazzadp commented on #892
By complete coincidence I just came across `:focus-visible` tonight, which is another way to solve this: https://css-tricks.com/almanac/selectors/f/focus-visible/

Unfortunately not available in Chrome yet, but there has been recent activity on it: https://bugs.chromium.org/p/chromium/issues/detail?id=817199

[2020-07-12 23:24] logicalphase commented on #909
Outstanding @hemanth I'm looking forward to working with the you and the team. Will review your materials, and reply. Please let me know if you need anything else right now.

[2020-07-13 02:48] rviscomi commented on #897
@developit would you have any interest in helping to plan/review this chapter, or is there anyone else you think might be interested?

[2020-07-13 02:53] rviscomi commented on #914
Great thanks @rockeynebhwani! Would you be interested in the content team lead role? You'd be responsible for keeping this chapter on schedule and coordinating with the other contributors. As of now nobody else has signed up, so to make this work we'll need at least another reviewer and analyst (unless you can also do the analysis). Is there anyone who you think would be a good fit to review?

[2020-07-13 02:58] rviscomi commented on #918
Hi @triblondon just following up that you're able to take on the content team lead / author role for this chapter. Once we have an author lined up we can start with the [content planning](https://docs.google.com/document/d/1bVuMgbWHZkPHmcv8eICIJTMKS4B-a1_dtqJ352fG6zc/edit?usp=sharing).

[2020-07-13 03:18] rviscomi commented on #920
Thanks for making great progress on this chapter already @Zizzamia, I'm looking forward to seeing the final result!

[2020-07-13 03:46] rviscomi commented on #878
@YuLingCheng @msaaddev to confirm, are you both interested in joining the content team for this chapter?

There were some other suggested contributors. Would any of you be interested in contributing to this chapter as well?

@rauchg
@timneutkens
@sdras
@Timer
@philhawksworth
@zachleat
@MaedahBatool
@tpiros
@asharirfan
@saqibameen
@DirtyF
@nhoizey
@debs-obrien

@ahmadawais I also wanted to clarify

[2020-07-13 06:11] tpiros commented on #878
I'd be interested in becoming a contributor, if that's possible. If not,
I'm happy to be a reviewer.

On Mon, 13 Jul 2020 at 05:46, Rick Viscomi <notifications@github.com> wrote:

[2020-07-13 08:18] iandevlin commented on #899
@j9t Hello! My email is ian@iandevlin.com. And yes, I should have the bandwidth to help.

[2020-07-13 08:29] msaaddev commented on #878
@rviscomi I would love to become a part of the content team.

[2020-07-13 08:34] ydimova commented on #913
@rviscomi  Sure, thanks!

[2020-07-13 09:43] bazzadp commented on #892
I'd rather explore other options. The focus ring isn't just about changing the color when you move, but also clearer differentiating it from other items. Color alone doesn't do thst for us as, without the focus-ring, the focus-ed year select looks the same as the Star Exploring button.

What do you think about just making it a yellow focus ring?

[code]

![Screenshot of various components with and

[2020-07-13 09:46] csswizardry commented on #917
Hey! Sorry! I missed this. I’m happy to be involved, sure! And doubly happy for someone else to be taking on the bulk of the work—thanks, @roryhewitt 😂

[2020-07-13 10:18] bazzadp opened #1015 "Swap Year and Language selectors?"
While looking at #986 , @sudheendrachari has suggested we swap the Year and Language selectors.

There are some advantages to this:
- Language is longer so can lead to concerns of going off screen, especially with the “Help Translate” option.
- More consistent with our URLs

On down side, it does remove the Year away from the other content links (ToC, Contributors and Methodology). I would expect

[2020-07-13 10:18] bazzadp commented on #1015
Swap them around so Language and then Year

[2020-07-13 10:18] bazzadp commented on #1015
Leave them in the order they currently are (Year then Language).

[2020-07-13 14:56] khempenius commented on #920
Thanks for taking the lead on the chapter content @Zizzamia! At first glance, those new metrics all look feasible. I'll circle back to this a little bit later to take a closer look and start putting together the queries.

[2020-07-13 15:13] catalinred commented on #899
Hi,

I read again @bkardell 's last year awesome piece and I think there is a lot of precious info to keep from (and compare to) last year's chapter, e.g.:
- Top elements comparison: 2005/2019 and now 2020
- Elements per page: frequency, average numbers
- Top deprecated elements

Besides that, here are some of my thoughts, random things that I'd like to see in this new Markup chapter:

- A `doctyp

[2020-07-13 15:20] obto commented on #897
Hey @tkadlec, just checking in:

1. How is the the chapter coming along? We're tying to have the outline and metrics settled on by the end of the week so we have time to configure the Web Crawler to track everything you need.
2. Anything you need from me to keep things moving forward?

[2020-07-13 15:29] obto commented on #898
Hey @LeaVerou, just wanted to check in:

1. Looks like things are moving along pretty smoothly. Is there anything you need from me to keep things moving forward, and have the chapter outline and metrics settled on by the end of the week?
2. Can you remind your team to properly add and credit themselves in your chapter's Google Doc?

[2020-07-13 15:33] obto commented on #899
Hey @j9t, looks like things are moving along pretty smoothly. Is there anything you need from me to keep things moving forward, and have the chapter outline and metrics settled on by the end of the week?

[2020-07-13 15:34] obto commented on #900
Hey @tpiros, just checking in:

1. How is the the chapter coming along? We're tying to have the outline and metrics settled on by the end of the week so we have time to configure the Web Crawler to track everything you need.
2. Anything you need from me to keep things moving forward?

[2020-07-13 15:36] obto commented on #878
Hey @ahmadawais, just checking in:

1. How is the the chapter coming along? We're tying to have the outline and metrics settled on by the end of the week so we have time to configure the Web Crawler to track everything you need.
2. Can you remind your team to properly add and credit themselves in your chapter's Google Doc?
3. Anything you need from me to keep things moving forward?

[2020-07-13 15:38] obto commented on #901
Hey @simonhearne, just checking in:

1. How is the the chapter coming along? We're tying to have the outline and metrics settled on by the end of the week so we have time to configure the Web Crawler to track everything you need.
2. Can you remind your team to properly add and credit themselves in your chapter's Google Doc?
3. Anything you need from me to keep things moving forward?

[2020-07-13 15:40] obto commented on #902
Hey @jpamental, just checking in:

1. How is the the chapter coming along? We're tying to have the outline and metrics settled on by the end of the week so we have time to configure the Web Crawler to track everything you need.
2. Anything you need from me to keep things moving forward?

[2020-07-13 15:43] obto commented on #905
Hey @thefoxis, looks like things are moving along pretty smoothly. Is there anything you need from me to keep things moving forward, and have the chapter outline and metrics settled on by the end of the week?

[2020-07-13 15:44] obto commented on #906
Hey @nrllh, just checking in:

1. How is the the chapter coming along? We're tying to have the outline and metrics settled on by the end of the week so we have time to configure the Web Crawler to track everything you need.
2. Can you remind your team to properly add and credit themselves in your chapter's Google Doc?
3. Anything you need from me to keep things moving forward?

[2020-07-13 15:46] obto commented on #907
Hey @oluoluoxenfree, just checking in:

1. How is the the chapter coming along? We're tying to have the outline and metrics settled on by the end of the week so we have time to configure the Web Crawler to track everything you need.
2. Can you remind your team to properly add and credit themselves in your chapter's Google Doc?
3. Anything you need from me to keep things moving forward?

[2020-07-13 15:47] obto commented on #908
Hey @aleyda, just checking in:

1. How is the the chapter coming along? We're tying to have the outline and metrics settled on by the end of the week so we have time to configure the Web Crawler to track everything you need.
2. Can you remind your team to properly add and credit themselves in your chapter's Google Doc?
3. Anything you need from me to keep things moving forward?

[2020-07-13 15:49] obto commented on #909
Hey @hemanth, looks like things are moving along pretty smoothly. Is there anything you need from me to keep things moving forward, and have the chapter outline and metrics settled on by the end of the week?

Also, can you remind your team to properly add and credit themselves in your chapter's Google Doc?

[2020-07-13 15:50] obto commented on #910
Hey @spanicker, just checking in:

1. How is the the chapter coming along? We're tying to have the outline and metrics settled on by the end of the week so we have time to configure the Web Crawler to track everything you need.
2. Can you remind your team to properly add and credit themselves in your chapter's Google Doc?
3. Anything you need from me to keep things moving forward?

[2020-07-13 15:52] obto commented on #913
Hey @ydimova, just wanted to check in and see if there's anything you need from me to keep things moving forward.

We're tying to have the outline and metrics settled on by the end of the week so we have time to configure the Web Crawler to track everything you need :)

Also, can you remind your team to properly add and credit themselves in your chapter's Google Doc?

[2020-07-13 15:55] thepassle commented on #909
Looks like I need some permissions — I requested them in the google doc. I imagine this'll be true for the other reviewers, too. 🙂 Fyi

[2020-07-13 15:56] obto commented on #915
Hey @alexdenning, hope you had a great weekend :)

As you know, we're tying to have the outline and metrics settled on by the end of the week so we have time to configure the Web Crawler to track everything you need. So is there anything you need from me to keep things moving forward?

Also, can you remind your team to properly add and credit themselves in your chapter's Google Doc?

[2020-07-13 15:57] obto commented on #916
Hey @jyrkialakuijala, just checking in:

1. How is the the chapter coming along? We're tying to have the outline and metrics settled on by the end of the week so we have time to configure the Web Crawler to track everything you need.
2. Can you remind your team to properly add and credit themselves in your chapter's Google Doc?
3. Anything you need from me to keep things moving forward?

[2020-07-13 15:59] obto commented on #917
@csswizardry excited to have you on board :). Just added you as a reviewer and will leave it to @roryhewitt to re-assign as needed

[2020-07-13 16:01] obto commented on #917
Hey @roryhewitt, hope you had a great weekend.

As you know, we're tying to have the outline and metrics settled on by the end of the week so we have time to configure the Web Crawler to track everything you need. Is there anything you need from me to keep moving things forward?

Also, can you remind your team to properly add and credit themselves in your chapter's [Google Doc](https://docs.google

[2020-07-13 16:03] obto commented on #919
Hey @henrihelvetica, hope you had a great weekend.

As you know, we're tying to have the outline and metrics settled on by the end of the week so we have time to configure the Web Crawler to track everything you need. Is there anything you need from me to keep things moving forward?

Also can you remind your team to properly add and credit themselves in your chapter's [Google Doc](https://docs.goo

[2020-07-13 16:06] obto commented on #920
Hey @Zizzamia, this chapter is coming along great! Anything you need from me so you and your team can have the outline and metrics settled by the end of the week?

[2020-07-13 16:07] obto commented on #921
Hey @dotjs, hope you had a great weekend.

As you know, we're tying to have the outline and metrics settled on by the end of the week so we have time to configure the Web Crawler to track everything you need. Anything you need from me to keep things moving forward?

Also, can you remind your team to properly add and credit themselves in your chapter's [Google Doc](https://docs.google.com/document/

[2020-07-13 16:15] obto commented on #909
You should get access shortly :)

[2020-07-13 16:29] natedame opened #1016 "Callout headlines to increase interest"
Hi @rviscomi @obto can I make an editorial and messaging suggestion?

The material presented in the almanac is intriguing and of value, but is structured primarily as - ahem, well - an almanac. *No criticism here* - I've been taking in the scope of the project and watching how things come together and how contributors/reviewers are organized. This is certainly a massive lift executed by volunteers

[2020-07-13 16:38] obto commented on #1016
I quite like the idea, and how it might drive visitors to read other sections they'd otherwise have skipped over. Doesn't sound like it'd add too much burden, besides needing to add a couple extra design elements to the homepage and chapter templates.

What would be a good next step here @natedame? Do you know of any sites doing something similar, so we could make sure we're all on the same page?

[2020-07-13 16:46] rviscomi commented on #1016
How is this much different than the featured chapter call-out on the home page? Or is this something added to the chapter itself?

[2020-07-13 16:55] triblondon commented on #918
Sorry for the delay, having chats internally here to figure out if anyone could co-author

[2020-07-13 17:13] natedame commented on #1016
@rviscomi Sure, the featured chapter call-out is chapter-driven and similar in spirit, but a callout headline would be more direct and specific - thus higher interest.

For example I'm seeing [the SEO chapter](https://pr.fnd.st/qGuK474b) on the homepage right now, which summarizes SEO and gives 3 key stats, which is good.

A "callout headline" would be more straightforward and direct, for example,

[2020-07-13 17:13] LeaVerou commented on #898
@obto Well, we still don't have any analysts, so if you could help with that, that would be lovely!

Team (@LeaVerou @svgeesus @rachelandrew @estelle @fantasai @mirisuzanne @j9t @catalinred @hankchizljaw), please credit yourselves in the draft doc and request access if you don't have it!

[2020-07-13 17:16] rockeynebhwani commented on #914
@rviscomi  - I am happy to take role of content team lead but will need help with review and analysis part. I have message some folks in my network to see if anybody is interested.

[2020-07-13 17:17] obto commented on #1016
I think that'd be really helpful if you could. So we could visually see the
key differences of what we currently have and what you'd be proposing

On Mon, Jul 13, 2020 at 12:13 PM natedame <notifications@github.com> wrote:

[2020-07-13 17:19] rviscomi commented on #914
Perfect, thanks!

[2020-07-13 17:22] bazzadp commented on #1016
Think we'd need to see some mock-ups to see what you mean. Does sound like a lot of overlap between that and featured chapters, which is already on the home page. We never did implement unique ids on this to see how many clicks it got though Google Analytics - probably should do that! Would also worry about crowding the clean look of the Home Page design. But let's see what you come up with.

And

[2020-07-13 17:30] bazzadp commented on #1016
Oh and in case you're interested, here's the quotes and stats that make up the featured chapter section of the home page: https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/templates/en/2019/featured_chapters.html

It's randomly picked each time, but as our CDN caches the page for 3 hours you need to add a random query param to force this refresh within that 3 hour time frame (e.

[2020-07-13 17:30] jrharalson commented on #914
Hi @rviscomi and @rockeynebhwan

Sorry for the delay. I’d like to help with authoring. I can help with analysis again (here or if needed in other chapters).

I’m in the process figuring out some updates to “wappalyzer” which hopefully will uncover more platforms that are not currently uncovered by the tool previously.  IE> IBM/HCL WebSphere Commerce, SAP/Hybris and bigCommerce.  The 2019 stats fro

[2020-07-13 17:48] drewzboto commented on #914
Hey folks. I'm interested in either being a reviewer or author, and I'll see if I can recruit a few more folks!

[2020-07-13 17:58] rviscomi commented on #914
Thanks @jrharalson @drewzboto! Great to see this chapter filling out. I've added you both as reviewers. I'll leave it up to @rockeynebhwani to reassign as coauthors as needed.

@jrharalson I've also added you as an analyst. Several chapters are still [in need of analysts](https://github.com/HTTPArchive/almanac.httparchive.org/labels/help%20wanted%3A%20analysts) so please go through that list and s

[2020-07-13 18:27] #984 closed

[2020-07-13 18:43] j9t commented on #899
Everyone, please share your thoughts on the first outline as well as metrics to look at in [our Markup doc](https://docs.google.com/document/d/1m1YvDqWgZfqmcmAEkCnXncIJwsM1QCu6Rv7aPWjG1Ms/edit#)—thank you!

@iandevlin, excellent! I’ve followed up per email.

@catalinred, I love it! I’ve synced your ideas with [the doc’s](https://docs.google.com/document/d/1m1YvDqWgZfqmcmAEkCnXncIJwsM1QCu6Rv7aPWjG1

[2020-07-13 19:18] ahmadawais commented on #878
@tpiros you're more than welcomed to join the team. I have already added you to the Analysts/Reviewers teams. Do you think we can start working on the outline of the chapter? It's due on 20th of July.

@msaaddev you're welcomed to join as well. Pick a thing you'd like to help with. The entire roadmap is public.

[2020-07-13 19:43] ahmadawais commented on #878
@tpiros @phacks I have added the basic Outline in the [draft doc](https://docs.google.com/document/d/1bz5b2iXTvz3hlaLQQCB0fhwx7A-nqLLRCauQHAkVsJA/edit#) please find time to improve it, and suggest changes using Google Docs comments.

@obto Outline is ready, looking forward to the teams' participation there.

[2020-07-13 19:50] rviscomi commented on #878
@ahmadawais to clarify, the reviewer and analyst roles have very different responsibilities. It seems like @tpiros and @phacks signed up to be reviewers and this chapter is still in need of analysts. Let me know if that's correct, I've updated the issue metadata.

[2020-07-13 20:31] dooman87 commented on #905
Hi @obto and @thefoxis, I would like to get my hands dirty in the analysis if you are still looking :)

[2020-07-13 22:47] zcorpan commented on #899
I've requested edit access. Writing here for now.

On doctypes, I think an interesting metric is an accurate number of how many pages are in quirks mode (and how it has changed over time). There is a custom metric for this already, see https://github.com/HTTPArchive/httparchive.org/issues/186#issuecomment-655611526

[2020-07-13 23:21] rockeynebhwani commented on #914
@jrharalson - Do you have a GitHub issue open for updates to wappalyzer? Let me know if you need identifying any eCommerce platforms. What I have realized that with Headless Commerce and Micro-services based platforms, it becomes more and more difficult to identify eCommerce platforms. I would like to see CommerceTools added to your list if you haven't added it already.

[2020-07-13 23:23] tungpatrick commented on #909
Hey @obto @hemanth! I would love to help as an analyst, however, I am actually a fairly new 'analyst' and am very new to HTTP Archive. Will this be a problem? I definitely think this is quite grand, so I wanted to ask before I partake in such a role.

[2020-07-13 23:58] mandymichael commented on #902
Yikes, I just saw this, happy to help, however, but looks like you are all good! Apologies I haven't been checking github much.

[2020-07-14 00:50] rviscomi commented on #902
@mandymichael glad to hear you're interested! I'm sure there's still room for you to contribute. We you thinking of coauthoring or reviewing?

[2020-07-14 00:50] rviscomi commented on #1015
No strong opinion. If there's an advantage to one way or the other, let's go with it! :)

[2020-07-14 00:53] rviscomi commented on #900
Spoke with @tpiros. I can temporarily fill in as the analyst for this chapter as needed. But if anyone else is interested in taking that role, I'd be happy to give up the spot, or help walk them through the process. @HTTPArchive/analysts any takers for this or any other [`help wanted: analysts`](https://github.com/HTTPArchive/almanac.httparchive.org/labels/help%20wanted%3A%20analysts) issues?

[2020-07-14 01:59] davelab6 commented on #902
I'd like to volunteer as a coauthor :)

[2020-07-14 04:44] rviscomi opened #1020 "Publish the 2020 contributors page"
I'd love to see the `/<lang>/2020/contributors` page published so we can highlight everyone who has already signed up. I think it would also be really interesting from the reader's perspective to get an early glimpse of this year's author lineup, and maybe encourage new contributors to join.

I'm open to ideas for what to do with the "join the team" link. In the 2019 version we can remove it since

[2020-07-14 05:56] rviscomi commented on #1020
I wrote this util script to help extract the contributor metadata from their GitHub profile page:

[code]

Then from the console I call it like this:

[code]

Here's an example of the output for my profile:

[code]

With this, it's easy to generate a new contributor config and paste it into `2020.json`.

[2020-07-14 06:11] bazzadp commented on #1020
I say leave it in 2019 version. People are still welcome to join us at any time. Just update like to README - same as for 2020.

[2020-07-14 06:14] bazzadp opened #1021 "2020 index page not in sitemap"
The Sitemap depends on at least one chapter page being available before it will add the non-chapter pages like the 2020 home page and the contributor page we are about to add in #1020

We should look to fix this.

[2020-07-14 06:36] rviscomi commented on #1020
I've pushed my initial batch of contributors in this commit: https://github.com/HTTPArchive/almanac.httparchive.org/commit/ff11cd0d22cb31874b5ce4c79ca30300ddce461c. Passing it off to @bazzadp.

[2020-07-14 06:46] bazzadp commented on #907
Hello @oluoluoxenfree | @aardrian @ericwbailey @obto ! Could I ask for some of your accessibility expertise on #892 ? We're wondering if the focus ring is needed on our site when the focus state changes the colour anyway? This is in particular for the header items and buttons - and in particular for the language and year selector where the focus ring shows even on mouse usage. Have a read of the i

[2020-07-14 07:30] bazzadp commented on #892
Released some versions to allow us to test:

- [Current production](https://almanac.httparchive.org/en/2019/) - blue ring on focus
- [Test Version 1](https://20200714t080417-dot-webalmanac.uk.r.appspot.com) - removes focus ring entirely from header, footer and buttons
- [Test Version 2](https://20200714t080741-dot-webalmanac.uk.r.appspot.com) - leaves focus ring but makes it dotted yellow

[2020-07-14 07:48] tpiros commented on #900
Hi @obto - I am close to having selected a co-author and will introduce him soon. I do have 2 reviewers (@colinbendell & @dougsillars) with a third one pending (@eeeps). As Rick was saying I am still looking for an analyst for the project.

[2020-07-14 07:51] tpiros commented on #878
@rviscomi I am happy to become a contributor (if it's OK to change my role from a reviewer).

[2020-07-14 07:53] tpiros commented on #909
Since I'm involved in the Media and Jamstack chapters, I will withdraw from this one if that's OK :) (or at least I'll unsubscribe if I'm not needed anyway :) )

[2020-07-14 07:57] rviscomi commented on #878
@tpiros to me, all of the author/reviewer/analyst roles are contributors. Do you mean you'd like to coauthor? If so it's up to @ahmadawais as the content team lead to decide, based on the expected amount of content in the chapter.

[2020-07-14 08:11] tpiros commented on #878
Okay, got it - I'll let @ahmadawais to decide then but I'm happy with any the roles.

[2020-07-14 08:19] YuLingCheng commented on #878
Hello @rviscomi I’d be very happy to be part of the team as a reviewer!

[2020-07-14 08:28] nrllh commented on #906
@tomvangoethem @cqueern @bazzadp can you please request edit access and then credit yourself in [Google Doc](https://docs.google.com/document/d/1voVozbhlNMz1kAChwxlDYTVg43-EFDrDA7XIbTkcQgg/edit?usp=sharing)?

[2020-07-14 08:38] smatei commented on #900
Hello @tpiros and @rviscomi
I would like to be the analyst. I was accepted as analyst for the [compression](https://github.com/HTTPArchive/almanac.httparchive.org/issues/916) chapter. As I am new into this, I started by checking out the analyst guide, looking over the 2019 article and queries, and try them in the big query console, for both 2019 and 2020 data sets. I want to figure out the httparc

[2020-07-14 09:23] aleyda commented on #908
Thanks for the follow-up @obto ! I'll make sure the outline are completed by the end of the week :) The metrics are also expected this week or by July 27? Can you please confirm to coordinate/prioritize accordingly?

Also, I just requested access to the document. Could you please give access to the rest of the team or do you prefer that I give it to them? Just let me know the best way to proceed.

[2020-07-14 09:50] AVGP commented on #908
I think @fellowhuman1101 would also be up to help here! 🙌

[2020-07-14 10:06] aleyda commented on #908
Amazing! Thanks @AVGP :) @fellowhuman1101 I look forward to your confirmation! Do you want to be a co-author, reviewer, analyst? Just let me know! Would love to have you too! ❤️

[2020-07-14 11:24] ibnesayeed commented on #1020
@rviscomi forward slashes were escaped in URIs (e.g., `avatar_url`), but what you generate with your script does not escape them. Besides, I was wondering why do we need to escape them in the first place?

[2020-07-14 11:35] bazzadp commented on #1020
Was just wondering that myself as works without escaping them!

Googled and found this: https://stackoverflow.com/questions/1580647/json-why-are-forward-slashes-escaped

So you don't have to. Tempted to remove them to make it more readable as tested and site works fine without them.

[2020-07-14 11:46] ibnesayeed commented on #1020
Searched for instances where `avatar_url` is being used in this repo and do not see anything tricky where not escaping might cause any issues.

[2020-07-14 12:15] Tiggerito commented on #908
Hello @AVGP

I was actually thinking about your angle of things. You know we can run JavaScript to get data, so do you have any insights on things to test?

Canonicals/robots meta changed via JS?

One idea I had was to see how much Structured Data was being added/changed/removed via JavaScript.

This is currently based on a theory that I can create a query to compare raw html with rendered. Joinin

[2020-07-14 14:20] ericwbailey commented on #892
I would fail this under [WCAG SC 1.4.1 Use of Color](https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-without-color.html), as color alone is not enough to indicate state change. A good alternative to this would be to more obviously adjust the visual presentation. Inverting the hollow treatment to be filled might be a good approach.

I would also advise not removing default focus in

[2020-07-14 14:22] ibnesayeed opened #1025 "Add a web archiving chapter"
I was wondering if web archiving is something we should report in a chapter. HTTP Archive itself is a web archive, then we have the [Internet Archive](https://web.archive.org/), and many more as the [International Internet Preservation Consortium (IIPC) members](https://netpreserve.org/about-us/members/). I think it would be great if we could report how well and how much are we archiving our web y

[2020-07-14 14:44] obto commented on #918
@triblondon No worries. I'll put you down as a reviewer for now then :)

[2020-07-14 14:48] dwsmart commented on #908
Hey @aleyda, I'm happy with the reviewer role, I'm not massively familiar with the dataset, but more than happy to jump over to that side if there's a shortage and I can be helpful.

[2020-07-14 14:53] obto commented on #900
@smatei happy to have you onboard! And yes, we'll be providing all analysts a coupon to cover the costs of running the queries along with sample tables (much smaller and less expensive) you can test queries on

[2020-07-14 14:57] obto commented on #905
@dooman87 marked you down as an analyst for the chapter :)

[2020-07-14 14:59] obto commented on #905
@dooman87 We also have many other chapters still looking for analysts. If [any of them](https://github.com/HTTPArchive/almanac.httparchive.org/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%3A+analysts%22) interest you, we'd love to have you help out there as well!

[2020-07-14 15:21] bazzadp commented on #1015
Now I see this in #1026 I'm less convinced. I really think the year belongs with ToC/contributors/Methodology and Language should be on far right.

What do you think @rviscomi ?

@sudheendrachari how much of an issue do you think it will be to leave it as is?

[2020-07-14 15:35] bazzadp commented on #892
Yeah that was my concern. Though do get the concern around the blue focus ring in Chrome not being a great fit for our brand colours, so I was OK with changing it to yellow. Could go with either solid and/or increase the width of the outline to address any concerns with that if being too easily missed.

However, I've also spotted it's very faint on white backgrounds:

![Focus ring difficult to see

[2020-07-14 15:51] ericwbailey commented on #892
Sure thing. I think this treatment would be effective:

<img width="338" alt="A button labeled 'Start exploring' with a focus state where the background has gone from transparent to filled." src="https://user-images.githubusercontent.com/634191/87446797-c9060480-c5c7-11ea-818c-44ad6653d3cb.png">

I think the treatment would be applicable for select drop-downs as well, in that you're visually indic

[2020-07-14 15:57] bazzadp commented on #892
Sorry still confused.

So on the site at the moment we have:

Unfocused:

![Unfocused is yellow](https://user-images.githubusercontent.com/10931297/87447469-8c9bce00-c5f2-11ea-9014-e463a72f7b38.png)

Hover:

![Hover is grey](https://user-images.githubusercontent.com/10931297/87447538-9b828080-c5f2-11ea-83cc-9b60a7ffb31f.png)

Tab-focused:
![Tab-focused is grey (same as Hover) plus blue hover ring]

[2020-07-14 16:05] bazzadp commented on #892
Also we alternate the colours, which is potentially a little confusing. So next button is this:

Unfocused:

![Dark blue filled button](https://user-images.githubusercontent.com/10931297/87448579-efda3000-c5f3-11ea-88a0-b5e8ce756a7d.png)

Hover:

![White filled button](https://user-images.githubusercontent.com/10931297/87448611-f9639800-c5f3-11ea-89ad-4972d5b2b113.png)

Tab focused:

![White fille

[2020-07-14 16:13] triblondon commented on #918
Yes, please, and apologies for being unable to commit more.

[2020-07-14 16:35] bazzadp commented on #921
Added myself as a reviewer. Know we have a lot of them, but feel I deserve my place having written last year's chapter 😀 @dotjs you gonna move some of the reviewers to co-authors? Or taking on the full task yourself?

@gregorywolf happy to help out with Analysis here if you need any help. And the awesome @pmeenan being on team HTTP/2 will undoubtedly help if we have any questions as to what the HT

[2020-07-14 16:47] obto commented on #899
@j9t The document looks great. I especially like the categorization of the metrics you've put together.

As for finding an analyst, it's looking like we'll have to share them between chapters like we did last year. We are actively looking though and @rviscomi has reached out in a few places.

I'm happy to be a stand-in if we cant find some more analysts soon however :)

[2020-07-14 16:59] obto commented on #892
@bazzadp pardon the D&D terminology, but this kind of gets into a RAW (rules as written) vs RAI (Rules as intended) debate, and I'm personally a Rules as Intended person.

The reason the focus ring is important, is it makes it much easier to navigate a site using ONLY the keyboard... which is the experience most a11y devices end up emulating. So as long as when you tab through the site and can cle

[2020-07-14 17:04] obto commented on #908
@aleyda

Yes we need the list of metrics you'd like us to research by the end of this week. This is because we need time to configure the Web Crawler which starts on August 1st, and give your analysts time to look over the metrics and make any necessary adjustments together with you

If you have the emails of everyone on your team, please do invite them! Otherwise, please do have them request acce

[2020-07-14 17:08] bazzadp commented on #892
Yes I totally agree that is what we are all aiming for. However, we're in some dispute as to whether the removing the focus ring still allows you to "clearly see where you are each step of the way" so asking for others expert opinion here. My vote is to keep it.

[2020-07-14 17:18] sudheendrachari commented on #1015
We can surely try to leave it as is, and still try to style the dropdowns.
So to address #986 I tried few permutations of designs to see which fits best
 - Since language will be last item, we need to think about how we align drop down for it, considering they can be of variable width, in different languages. Couple of options here:
1. Align left edge of drop down to left edge of language button,

[2020-07-14 17:21] bazzadp commented on #1015
1 works for me!

Lets close this issue and the PR and we can opened it, if 1 proves to be too difficult to implement.

[2020-07-14 17:21] #1015 closed

[2020-07-14 17:26] sudheendrachari commented on #1015
Thanks.
(1) should be easy to implement, let's drop the PR i had raised also, i will raise with this style separately

[2020-07-14 17:58] tungpatrick commented on #909
Hey @obto @rviscomi! I noticed that I've been added as an analyst for this chapter. Thank you for allowing me to help. However, as I have mentioned, I am very new and am not really familiar with the HTTP Archive dataset. I find this to be a great experience for me, but I'm not sure if I'm qualified on my own as the analyst for this chapter. With that being said, I am very grateful for having this

[2020-07-14 18:13] Mezianide commented on #923
I volunteer for the French translation

[2020-07-14 18:17] bazzadp commented on #923
Cool. Welcome @Mezianide - just sent you an invite to the team. The 2019 Almanac is still being translated to French under issue #539 if you want to get suck in straight away. Would be great to get that finished before 2020 comes along so if you're up to it then grab a chapter and start translating. See the [Translator's Guide](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Translator

[2020-07-14 18:41] aleyda commented on #908
Thanks for your confirmation @dwsmart , no problem at all :) it will be awesome to have you as a reviewer!

@obto thanks for the clarification, got it :) I'll make sure to have it end of week.

[2020-07-14 18:43] matuzo commented on #899
Hey,
sorry, I was on vacation and I didn't check my mails. I'd love to contribute as a reviewer. :)

Thanks!

[2020-07-14 18:58] fellowhuman1101 commented on #908
@aleyda reporting for duty!

[2020-07-14 20:23] natedame commented on #1016
Hey @bazzadp this is all great context and it sounds like there's lots of related thought already happening.

(And BTW I totally agree that there's lots of great, powerful stats in the almanac as a whole; love it when individuals grab their favorites; it's definitely hard to choose the callouts with the most general appeal - but as we know, web users are impatient. The sooner you can grab them the

[2020-07-14 20:34] #1020 closed

[2020-07-14 20:36] dotjs commented on #921
Thanks all - Curernt thoughts are to use co-authors. If everyone who has expressed an interst can request edit access to the doc. We can start to plan the content there. Let's focus any potential intersting metrics/measurements that were not part of last years run.

@rmarx @LPardue Keen on your thoughts on what intersting propoerties we can measure for QUIC/H3 etc.
@pmeenan I'm personally interest

[2020-07-14 20:41] #1021 closed

[2020-07-14 20:44] pmeenan commented on #921
@dotjs I'm not sure if it will be possible with bigquery but it might be possible with a script that crawls through the raw HAR files on GCS since the data includes chunk timings (and sizes), priority and connection info.

In theory you could check to see how often a higher priority response download is interrupted by chunks for a lower priority response (ignoring some small amount for headers).

[2020-07-14 22:16] natedame commented on #908
@aleyda also reporting (again?) for duty! :) In response to your question, I don't think my skillset would make a good analyst. Happy to review when the time comes!

[2020-07-14 22:33] loewengart commented on #914
@drewzboto posted on our slack channel, Happy to help as author or reviewer. If still looking for help as author or reviewer.  Have experience w/ the eComm, CMS, and Imagery pieces.

[2020-07-14 23:15] spanicker commented on #910
@obto
I added a rough outline in the doc, and marked items needing data / metrics with `<data>`
https://docs.google.com/document/d/1q1eAaGr6XFVVWNshWnNZSnppGMZ8yfLJy6z4-rgvz3A/edit#heading=h.vqdmpb884vdu
Haven't validated which things are easy to grab from HTTP archive yet.
Early feedback is very welcome.

Would love to request the following folks to consider being co-authors or reviewers:
[Cheney

[2020-07-15 00:22] hemanth commented on #909
Hey @tungpatrick you can give it a shot and you aren't alone, we can take assistance from folks who have played this role before. If you are willing I can add you to the list. The [Analysts'-Guide](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Analysts'-Guide) talks in detail about it, also have a look at how it was done in the previous year.

Given that @logicalphase has experience

[2020-07-15 00:35] logicalphase commented on #909
I'm glad there's no pressure, @hemanth 😁

[2020-07-15 01:31] gokulkrishh commented on #909
@hemanth @rviscomi  I can help in reviewing the content.

[2020-07-15 02:22] LeaVerou commented on #898
Hey team @svgeesus @rachelandrew @estelle @fantasai @mirisuzanne @j9t @catalinred @hankchizljaw,

Since we need to have decided on which stats we are studying by the end of this week, please post your suggestions as new issues in the repo: https://github.com/LeaVerou/css-almanac/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc so we have a few days for voting and wider community feedback.

[2020-07-15 03:38] rviscomi commented on #877
Unfortunately there are no interested contributors for this topic, so I'll close this issue and we can fold the content into the relevant chapters.

[2020-07-15 03:38] #877 closed

[2020-07-15 03:38] rviscomi commented on #911
Unfortunately there are no interested contributors for this topic, so I'll close this issue and we can fold the content into the relevant chapters.

[2020-07-15 03:38] #911 closed

[2020-07-15 03:38] rviscomi commented on #912
Unfortunately there are no interested contributors for this topic, so I'll close this issue and we can fold the content into the relevant chapters.

[2020-07-15 03:39] rviscomi commented on #903
Unfortunately we still don't have a lead author for this chapter so I'm going to close this issue and we can fold the content into the relevant chapters.

[2020-07-15 03:39] #903 closed

[2020-07-15 03:54] paulcalvano commented on #988
Nice.   Looks like that did it :).
![image](https://user-images.githubusercontent.com/7459458/87501546-516ac080-c62d-11ea-8d1d-e4b426f72ce0.png)

[2020-07-15 04:02] rviscomi commented on #918
Unfortunately, we don't have an author for this chapter and we're past the deadline to have a content team set up, so I'll close this issue for now.

[2020-07-15 04:02] #918 closed

[2020-07-15 04:16] mandymichael commented on #902
I have never coauthored before so I'd be happy to review :)

[2020-07-15 04:25] svgeesus commented on #902
I somewhat have my hands full as co-author on the CSS chapter, but there is of course a fair bit of overlap between CSS and Fonts and I am interested in both. How about as reviewer?

[2020-07-15 04:29] svgeesus commented on #902
I would be interested to see what percentage of websites use webfonts, (yes, super high globally) sorted by either language, or country. This is because CJK languages (Chinese, Japanese, Korean) need much larger webfonts. But I have not seen good data on whether this means they are not using webfonts _at all_, or are using them a little, or what.

[2020-07-15 04:34] rviscomi commented on #902
@notwaldorf @mandymichael @svgeesus thank you all for your interest, I've added you three as reviewers.
@davelab6 it's great to have you as a coauthor!

@svgeesus your last question sounds similar to some research I did last year, which might be useful for this chapter: https://discuss.httparchive.org/t/how-does-web-font-usage-vary-by-country/1649. Also font related: https://discuss.httparchive.or

[2020-07-15 04:36] paulcalvano opened #1032 "Create Samples tables for 2020 almanac."
I'm going to be deleting the existing `sample_data` dataset, and replacing it with a fresh set of sample data using the June 2020 tables.

Will be selecting 10k random pages, and then will use that page list to create all of the other tables.

Tables I'll be creating are

summary_pages_mobile_10k
summary_requests_mobile_10k
pages_mobile_10k
requests_mobile_10k
lighthouse_mobile_10k
response_bodies

[2020-07-15 04:39] svgeesus commented on #900
That would be super interesting, the actual gamut volume used (rather than the full theoretical gamut).

[2020-07-15 04:39] paulcalvano commented on #1032
I backed up the existing `sample_data` dataset to `sample_data_2019`

[2020-07-15 04:49] paulcalvano commented on #1032
Used RAND() to randomly select the 10K pages.

[code]

[code]

[2020-07-15 04:56] paulcalvano commented on #1032
Summary Requests
[code]

[code]

[2020-07-15 05:02] paulcalvano commented on #1032
Pages

[code]

[code]

[2020-07-15 05:05] paulcalvano commented on #1032
Requests

[code]

[code]

[2020-07-15 05:09] paulcalvano commented on #1032
Lighthouse

[code]

[2020-07-15 05:14] paulcalvano commented on #1032
Response Bodies

[code]

[code]

[2020-07-15 05:17] paulcalvano commented on #1032
Technologies

[code]

[code]

[2020-07-15 05:25] rviscomi commented on #1032
@paulcalvano thanks for working on these! The `almanac` dataset last year had some preprocessed datasets, for example the `summary_response_bodies ` table combined `summary_request` data with the response bodies. The other benefit of the `almanac` dataset was that it used partitioning and clustering to make the queries more efficient. Do you anticipate making something similar available this year?

[2020-07-15 05:28] paulcalvano commented on #1032
All done.   Here's a summary of the tables:

**Mobile**

| Table  | Rows | Size |
| ------------- | ------------- | ------------- |
| summary_pages_mobile_10k  | 10,000  | 7.4 MB  |
| summary_requests_mobile_10k  | 896,527  | 979 MB  |
| pages_mobile_10k  | 9,999  | 493.4 MB  |
| requests_mobile_10k  | 906,324  | 5.85 GB  |
| lighthouse_mobile_10k  | 9,954  | 2.77 GB  |
| response_bodies_mobile_10

[2020-07-15 05:29] paulcalvano commented on #1032
Thanks @rviscomi .   I'll take a look at the preprocessed tables in the morning.

[2020-07-15 06:38] thefoxis commented on #905
@obto I think we'll be able to settle by end of the week. @rviscomi has been providing really helpful advice on what's possible 👍 I think we're close to finalising the outline.

thanks for the pointers, @paulcalvano 🙌

@Zizzamia can you add some information to the doc about one of your ideas, namely: `Element Timing API and the potential of creating custom metrics`? it's not 100% my area of expert

[2020-07-15 06:45] bazzadp commented on #913
Unfortunately we've [had to close the Cookie chapter](https://github.com/HTTPArchive/almanac.httparchive.org/issues/903#issuecomment-658527075), but think it's heavily related to Privacy anyway so that's another interesting angle to cover in this chapter if you want!

[2020-07-15 06:51] bazzadp commented on #902
Hey all! Another stat to consider: We were chatting recently on the [Web Performance slack](https://webperformance.slack.com/archives/C04BK7K27/p1594398308113500) about the use of the likes of Google Fonts and the 2019 chapter doesn't make it exactly clear what percentage of sites actually use that. It says that [75% of **web fonts** are Google Fonts](https://almanac.httparchive.org/en/2019/fonts#

[2020-07-15 08:12] catalinred opened #1033 "Chapter navigation padding"
There is some huge `rem` padding added by the `#chapter-navigation ` selector in a #979 [commit](https://github.com/HTTPArchive/almanac.httparchive.org/pull/979/commits/27073a2a0d6dec7add69cd9ebab1686aae8dec0e#diff-60c992f3e3a9ff942fca734de02a5b51R288) and I guess this is not intended.

<img width="1658" alt="extra-padding" src="https://user-images.githubusercontent.com/1867900/87520326-79890c80-c

[2020-07-15 08:38] bazzadp commented on #1033
Oops! Fixing ASAP.

[2020-07-15 08:39] #1033 closed

[2020-07-15 09:00] bazzadp commented on #1033
Fixed and deployed. May take up to 3 hours for CDN to see new CSS in cache depending on your location. Think there's a way to clear the cache on GCP but not done that before so will just wait the 3 hours.

Thanks for raising!

[2020-07-15 10:22] nrllh commented on #877
@rviscomi I plan a subsection for WebAssembly in Security Chapter. People can reach there some stats regarding to Webassembly usage, so that should fit well.

[2020-07-15 11:28] rockeynebhwani commented on #901
@simonhearne  - Please see this thread https://discuss.httparchive.org/t/how-many-and-which-resources-have-timing-allow-origin-for-resource-timing/152/10.

I think it will be good idea to call out most used third parties without Timing-Allow-Origin headers in this year's third party chapter and hope some of these third parties start to pay attention. What do you think?

[2020-07-15 12:30] jaisanth commented on #905
I'm interested in being a reviewer, not sure if this is already filled up :-)

[2020-07-15 12:31] jaisanth commented on #897
I'm interested in being a reviewer, not sure if this is already filled up :-)

[2020-07-15 12:32] jaisanth commented on #909
@hemanth  I'm interested in being a reviewer, not sure if this is already filled up :-)

[2020-07-15 12:33] jaisanth commented on #910
I'm interested in being a reviewer, not sure if this is already filled up :-)

[2020-07-15 12:34] jaisanth commented on #917
I'm interested in being part of the content team or as a reviewer, not sure if this is already filled up :-)

[2020-07-15 12:48] max-ostapenko commented on #913
Migrating to this one from Cookie chapter as an analyst ;)

[2020-07-15 13:01] denar90 commented on #897
@housseindjirdeh thanks 🙌
@rviscomi @obto @tkadlec if you still need some help I'd be happy to help 😃

[2020-07-15 13:43] ahmadawais commented on #878
@YuLingCheng added you as a reviewer.

[2020-07-15 13:55] bazzadp commented on #897
@stoyan do you have any interest with helping out in this (or any other) chapter?

[2020-07-15 14:30] ericwbailey commented on #892
+1 to keeping it.

[2020-07-15 14:54] tkadlec commented on #897
@jaisanth & @denar90 I'm always happy for more eyes on it. :) We also have zero analysts so far, if either of you would be game for that!

@jadjoubran @ahmadawais @ibnesayeed I dropped some ideas and a skeleton outline in the doc. I'd love to get your feedback! So far, I didn't stop much to consider _if_ anything can be measured—I figured we'd deal with that as we dig through the metrics and stuff

[2020-07-15 15:17] rachellcostello commented on #922
Just got access back to my GitHub account! I'd be happy to come back and help out as an editor again if needed

[2020-07-15 15:38] rachellcostello commented on #908
So I'm incredibly late to the 2020 Web Almanac party and am just catching up on everything _(don't link GitHub to your work email and then change jobs...)_ but it looks like you've pulled together an excellent team for this year's SEO chapter!!

I've offered to be an editor this time round, but as one of last year's SEO chapter co-authors, if there's anything I can do to help then let me know @ale

[2020-07-15 15:43] obto commented on #892
+1. It may not look the prettiest, but it does help make it a bit more obvious where you are.

[2020-07-15 15:49] aleyda commented on #908
Amazing @fellowhuman1101 - added you as a co-author!

@natedame - perfect :) You stay then as a reviewer!

@rachellcostello - Amazing, it's great to have you Rachel! Adding you as a reviewer then :)

[2020-07-15 16:01] ibnesayeed commented on #897
@tkadlec the outline looks good to me. I have added a couple of quick comments in the doc.

[2020-07-15 16:19] obto commented on #897
@tkadlec Haha, yeah it looks like we'll have to share analysts between chapters like last year. If we don't find one for this chapter I'm happy to be the analyst until we do :). We'll keep you posted.

[2020-07-15 17:15] jaisanth commented on #897
@tkadlec I'd be happy to review it :-)

[2020-07-15 17:58] jzyang commented on #917
I'd also love to help out in reviewing as this topic is interesting to me.  :)

[2020-07-15 18:13] roryhewitt commented on #917
@obto I now have access to the [draft doc](https://docs.google.com/document/d/1uzLXOrvr8yHMnEYnY1aGTjHLq_qOYnc39ZFirTmPxlU/edit), so I'm going to start on it by essentially copying some of @paulcalvano's introduction to the 2019 Caching chapter (copy/paste FTW!).

Currently no co-authors assigned, although we have @csswizardry as a reviewer (I feel honored to be in such company, but you're clearly

[2020-07-15 18:16] roryhewitt commented on #917
@obto @paulcalvano Stupid question - is it 'better' to use my personal email address or my work (Akamai) one when identifying myself at the top of the doc? I'm clearly using some of the knowledge I learned related to my job, but I'm not 'representing' them...

[2020-07-15 18:35] mgechev commented on #920
I'd be happy to help reviewing the predictive prefetching section. Btw, Guess.js might not be working very efficiently with Gatsby right now. We've had conversation on distributing the model across bundles with @wardpeet in the past so we can get the same performance as with Angular, but I'm not sure where this effort currently is at.

Since this is a very specific discussion, I'll keep it outside

[2020-07-15 18:53] bazzadp opened #1040 "Improve accessibility of contributors selector"
The contributors selector is not accessible to screen readers:

![Contributors team selector screenshot](https://user-images.githubusercontent.com/10931297/87583358-b973e200-c6d3-11ea-9df9-4674ad6c4b67.jpeg)

I see the following problems:
- The filter buttons only used colour to indicate state. They should use `aria-pressed` or similar.
- They do not announce any update to the contributors section

[2020-07-15 18:58] g3john commented on #914
@rockeynebhwani I would like to volunteer as a Dev to help with simple PRs!

[2020-07-15 19:03] rockeynebhwani commented on #914
Thanks @g3john for taking my call to help with simple PRs. I will message you directly via slack

[2020-07-15 19:45] rviscomi commented on #914
@rockeynebhwani are you referring to Wappalyzer ecommerce detection PRs?

[2020-07-15 19:59] rockeynebhwani commented on #914
Yes @rviscomi .. I have filed few today

[2020-07-15 20:24] tungpatrick commented on #909
Hey @hemanth! I think I have actually already been added as an analyst for this chapter. I am definitely willing and would love to help. I just don't want to be a burden to the team haha. I have taken a quick look at the 2019 Almanac, which is a main reason why I have wanted to volunteer. Hopefully after getting a chance to explore the dataset, I'll be more helpful. Again, thanks for letting me pa

[2020-07-15 20:45] paulcalvano commented on #917
That's completely up to you.  Whatever is easier for you to keep track of really.

[2020-07-15 21:09] hemanth commented on #909
@gokulkrishh and @jaisanth Added your names to the reviewers' list, thanks for volunteering!

@tungpatrick Thank you! Also, please have a look at the milestones and feel free to ask your quires on this thread.

[2020-07-15 23:45] Tiggerito commented on #908
I've been trying to get my head around the data available to us. This is my summary:

The data source is based on the mobile and desktop **home pages** for over 5 million domains sourced from Crux. The data is acquired monthly and includes:

- **Requests** (requests_*, json format, request url, headers, response status, headers timings)
- **Summary Requests** (summary_requests_*, table format summ

[2020-07-16 03:41] edmondwwchan commented on #906
Hello team, may I contribute as a reviewer too?

[2020-07-16 04:27] ibnesayeed commented on #943
I accidentally closed the progress reporting issue #989 and reopened (and moved from TODO to In progress). #Oops!

[2020-07-16 06:20] dooman87 commented on #905
@thefoxis What's the plan to start with queries? Are we going to create a ticket for each metric in the doc? Sorry for noob questions - trying to get sense of the workflow :)

[2020-07-16 06:44] adityapandey1998 commented on #914
@rockeynebhwani posted on our slack channel. I am a new dev but would like to help with the analysis.
Let me know how to proceed with the same.

[2020-07-16 07:09] bazzadp commented on #914
Hey @adityapandey1998 welcome!

Start with the [Analysts Guide](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Analysts'-Guide) and set up BigQuery ([Good guide on that](https://github.com/HTTPArchive/httparchive.org/blob/master/docs/gettingstarted_bigquery.md) by our very own @paulcalvano who's leading the Analyst team here on the Web Almanac). Also be aware this [can be expensive](h

[2020-07-16 07:40] aleyda commented on #908
Thanks for starting verifying the available data to validate also the viable metrics @Tiggerito, this is great !

I have a question regarding the rendered content info: Would it be possible to verify for example the content relying on client side JS to be rendered? I have been revising what was included in [last year chapter ](https://almanac.httparchive.org/en/2019/seo) to define this year outlin

[2020-07-16 08:02] simonhearne commented on #901
Hey all, back(-ish) from PTO today.

Thanks to those offering help, could you please add yourself to the relevant line in the *Content Team* section of [the doc](https://docs.google.com/document/d/1x8hhGIVYxvcDb3G4HGryW3yIOgLpvsNtQ_iHc_dMLEs/edit#):

@tammyeverts - *Reviewer*
@jzyang - *Reviewer*
@max-ostapenko - *Analyst*

I think this gives us enough folks to start preparing the content! I would

[2020-07-16 08:05] simonhearne commented on #901
For ongoing communication, what would you prefer:

👍🏻 use this issue
🚀 comments & chat in google doc
👀 slack channel in the HTTPArchive slack

[2020-07-16 08:25] Tiggerito commented on #908
Hi @aleyda,

I'm not sure when the almanac.js script is run. If it's late in the rendering process we should be able to pick up client side rendered info. I'll ask around.

[2020-07-16 08:27] aleyda commented on #908
@Tiggerito Thank you! :)

[2020-07-16 08:30] alexdenning commented on #915
Heya @obto cheers – I will review properly later today and get back to you :)

[2020-07-16 09:25] nico3333fr commented on #1040
You might use `aria-pressed="true"` on buttons (or `aria-current="true" but `aria-pressed` looks better imho), however, I'd suggest to vocalise only `Filter by team: x contributors` with `aria-live="polite" aria-atomic="true"` and not only the entire content below.

For the filter list, maybe replace it by `ul>li` stuff (so the people will hear "list of X elements"), and a sentence before saying y

[2020-07-16 09:32] philhawksworth commented on #878
I'm afraid that I don't have bandwidth to contribute to this at present. But good luck with it. Great to see more and more content being created about Jamstack.

[2020-07-16 09:51] tpiros commented on #900
@smatei Welcome - glad to have you aboard! @rviscomi @obto - what is the process of obtaining the coupons since I'd also like to run a few queries myself.

[2020-07-16 11:50] kasiageb commented on #923
Hi, I can help with Polish translation :)

[2020-07-16 12:04] nrllh commented on #906
@edmondwwchan welcome to the club!

[2020-07-16 12:09] domibajan commented on #923
I can help with Polish translation too ;)

[2020-07-16 12:15] bazzadp opened #1043 "Translate content into Polish"
These are the core templates - without which we cannot release any translated chapters. They are in the [language specific templates directory](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/src/templates):
- [ ] base.html -
- [ ] base_chapter.html -
- [ ] error.html -

**2020**
- [ ] base.html -
- [ ] contributors.html -
- [ ] index.html  -
- [ ] table_of_contents.html -

**2019

[2020-07-16 12:16] bazzadp commented on #923
Welcome onboard @kasiageb and @domibjn . I've sent you invites to the team. Once you accept you can assign yourself issues. I've also created #1043 if you want to get started on 2019 content as it will be a good few months before 2020 content is ready.

[2020-07-16 12:20] bazzadp opened #1044 "Translate content into Turkish"
These are the core templates - without which we cannot release any translated chapters. They are in the [language specific templates directory](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/src/templates):
- [ ] base.html -
- [ ] base_chapter.html -
- [ ] error.html -

**2020**
- [ ] base.html -
- [ ] contributors.html -
- [ ] index.html  -
- [ ] table_of_contents.html -

**2019

[2020-07-16 13:30] tpiros commented on #900
hi @rviscomi & @obto - I'd like to have @bseymour as a co-author for this chapter. I have already talk to him and he's on board :) I hope you'll accept him

[2020-07-16 13:39] pureise commented on #923
I'd love to help with polish translation too :)

[2020-07-16 13:44] bazzadp commented on #1043
Nice little team we've got going on here now with three of you. More info here: https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Translators'-Guide but let me know if you've any questions on this.

[2020-07-16 14:54] alexdenning commented on #915
okey, following up on this. A couple of things I need to double check and confirm:

- @obto are you the person whom I can ask these questions?
- "Team" is @sirjonathan @ernee yes? If yes, could you both of you add your details here? https://docs.google.com/document/d/1XL87z5MOk7QDLhpFsaMWT3DaIXdOQV32qs57noGwDVQ/edit
- Are we expecting to use this issue for all our comms?
- To what extent is this c

[2020-07-16 15:07] obto commented on #915
Yup!

Yes. And please feel free to recruit others you'd like to work together with on this chapter

Let me point you to a great answer @bazzadp wrote on this https://github.com/HTTPArchive/almanac.httparchive.org/issues/899#issuecomment-653488485

For this chapter it would be you as the Content team lead. We've highlighted the key deadlines in the [first comment above](https://github.com/HTTPArchi

[2020-07-16 15:14] obto commented on #915
@alexdenning

Totally understand. Here are the metrics that were used in last year's chapter. Hopefully looking at these will give you some ideas and show you what kind of queries are possible: https://docs.google.com/spreadsheets/d/1FDYe6QdoY3UtXodE2estTdwMsTG-hHNrOe9wEYLlwAw/edit#gid=0

In general though, feel free to go wild with what metrics you'd like to measure. Your analyst can then look th

[2020-07-16 15:26] obto commented on #909
@tungpatrick we're excited to have you! @bazzadp just made a great post about the best way to get started i think you'd find very helpful https://github.com/HTTPArchive/almanac.httparchive.org/issues/914#issuecomment-659205330

Do make sure to join the [`#web-almanac`](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA) slack so Paul can invite you to the Analyst

[2020-07-16 15:31] obto commented on #921
@dotjs How is the outline coming along? Want to get that finished up by the end of the week so we have time to get the Web Crawler setup :)

[2020-07-16 15:34] obto commented on #919
@henrihelvetica How is the outline for the chapter coming along? We want to get it finished by the end of the week so we have time to setup the Web Crawler :)

[2020-07-16 15:34] obto commented on #916
@jyrkialakuijala How is the outline for the chapter coming along? We want to get it finished by the end of the week so we have time to setup the Web Crawler :)

[2020-07-16 15:40] obto commented on #913
@ydimova How is the outline coming along? We want to have that wrapped up by the end of the week so we have time to set up our Web Crawler :)

[2020-07-16 15:47] obto commented on #908
@Tiggerito Sounds like you've got a pretty good grasp on things! @bazzadp just made a post with some extra information you might find helpful as well https://github.com/HTTPArchive/almanac.httparchive.org/issues/914#issuecomment-659205330

And don't forget to join the [`#web-almanac`](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA) slack so @paulcalvano can i

[2020-07-16 15:48] obto commented on #907
@oluoluoxenfree How is the outline coming along? We want to have that wrapped up by the end of the week so we have time to set up our Web Crawler :)

[2020-07-16 15:49] obto commented on #906
@nrllh How's the chapter outline coming along? We want to have that wrapped up by the end of the week so we have time to set up our Web Crawler :)

[2020-07-16 15:50] oluoluoxenfree commented on #907
I'm going to hopefully have a draft for you tonight; sorry I didn't keep
better track of it!

On Thu, 16 Jul 2020, 4:48 pm David Fox, <notifications@github.com> wrote:

[2020-07-16 15:56] obto commented on #902
A lot of great conversation going on here which is awesome, but the official chapter doc could use some love. Think we can have the outline wrapped up by the end of the week so we have time to set up our Web Crawler?

[2020-07-16 15:59] obto commented on #900
@tpiros Absolutely!

[2020-07-16 16:01] jpamental commented on #902
Hi @obto - I'll do my best! I've been a bit swamped this week but will dig into what's there and what was done last year as soon as I can. It might spill into the weekend, but after this week it will be easier to schedule more regular time.

Really excited to have this crew on board. I'm totally going to keep asking @notwaldorf and @mandymichael to contribute along with @davelab6 !

[2020-07-16 16:03] obto commented on #900
@smatei Our own @bazzadp made a great post of how to get started with BQ analysis that I think you'd find super helpful https://github.com/HTTPArchive/almanac.httparchive.org/issues/914#issuecomment-659205330

Also don't forget to join the [`#web-almanac`](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA) slack if you haven't already so @paulcalvano can invite

[2020-07-16 16:08] obto commented on #920
@khempenius We've added a new channel in our slack for analysts. Just join the [`#web-almanac`](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA) slack and Paul will invite you to the Analysts channel.

[2020-07-16 16:12] obto commented on #918
@AAgar unfortunately we had to drop this chapter, but there are [many others](https://github.com/HTTPArchive/almanac.httparchive.org/labels/help%20wanted%3A%20analysts) still looking for analsyts. Are there any you'd like to help out with? Would be super appreciated :heart:

[2020-07-16 16:14] obto commented on #913
@ydimova Also don't forget to join the [`#web-almanac`](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA) slack if you haven't already so @paulcalvano can invite you to the Analysts channel and help set you up.

[2020-07-16 16:22] obto commented on #905
@dooman87 The [Chapter document](https://docs.google.com/document/d/1E8DRFI3AghYqzvIS4cfs2W5HXvZkyEk0YHsM3sCjRBs/edit?usp=sharing) is where each metric will be listed and progress will be tracked. Right now the next step is for analysts to look through all the metrics which have been proposed and verify they are possible to query.

No worries! In fact, @bazzadp just made a fantastic post about goo

[2020-07-16 16:23] obto commented on #910
@spanicker awesome! I'll take a look and leave some comments tomorrow :)

[2020-07-16 16:25] obto commented on #898
@LeaVerou Lot of awesome discussion going on here :tada: , but the [Chapter doc](https://docs.google.com/document/d/1Cy9acip1ZQScoQEeds5-6l1FFFBJTJr4SheZiQxbj-Q/edit?usp=sharing) could use some love. Think your team will be able to get an outline settled on by the end of the week?

[2020-07-16 16:28] obto commented on #897
@jaisanth Our own @bazzadp just made a great post on how to get started as an analyst that I think you'd find to be super helpful https://github.com/HTTPArchive/almanac.httparchive.org/issues/914#issuecomment-659205330.

After you check it out, let me know if you'd like to take on the analyst role for the chapter and I'll put your name down :heart:

[2020-07-16 16:42] developit commented on #897
@rviscomi I can help in some capacity, not sure to what extent yet. I'll take a look at what's been done and refamiliarize myself with last year's JS section.

[2020-07-16 17:09] raghuramakrishnan71 commented on #917
I can help as an analyst and write the SQL queries for the identified metrics.

[2020-07-16 17:31] logicalphase commented on #909
@hemanth Just in time:, Chrome 84 added a slew of [animations](https://twitter.com/slightlylate/status/1283807707007352832?s=19) support. Example:  https://developers.google.com/web/updates/2020/07/nic84#web-animations

cc: @obto

[2020-07-16 18:01] bazzadp commented on #906
As discussed on Slack I think we should ask for custom metrics for vulnCount, Library (including version), Library (excluding version) and highestSeverity.

Related to https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/sql/2019/08_Security/08_40.sql and https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/sql/2019/08_Security/08_40b.sql but want MOAR detail which is more

[2020-07-16 18:07] bazzadp commented on #906
And also `password-inputs-can-be-pasted-into` score from Lighthouse, but maybe less relevant from Home Screen which HTTP Archive is restricted to. Anyway to only include when site has a login login form field?

[2020-07-16 18:07] bazzadp commented on #906
And `external-anchors-use-rel-noopener` score and count of items also from Lighthouse

[2020-07-16 18:15] LeaVerou commented on #898
@obto I will try, though it's looking a little tight.

[I've just posted on Twitter](https://twitter.com/LeaVerou/status/1283825581067468802) to solicit wider community feedback, so if anyone here is going to post more proposals, now would be the time to get them in, so they can get some votes.

[2020-07-16 18:18] bazzadp commented on #906
@pmeenan not sure if you saw [this Slack conversation](https://httparchive.slack.com/archives/CGFLV2S06/p1594588699119400) but is it possible to configure the run to crawl additional meta-data URLs like `/.well-known/change-password`?

[2020-07-16 18:25] svgeesus commented on #902
Not necessarily; I would expect that most sites don't use webfonts (because a single one is huge) and the ones that absolutely have to, use them and take the page weight hit. So the _distribution_ of page weight hit would be different to non-CJK sites. The median is not a good measure of that.

By the way, the typical work-around for "web fonts are prohibitively huge" is "get everyone to install a

[2020-07-16 18:25] pmeenan commented on #906
Probably not as part of the crawl since those aren't actually loaded by the page itself.  A custom metric might be able to pull them with fetch since they are same-origin but it kind of feels like something that a separate curl script run once against the URL list might be better for.

[2020-07-16 18:47] svgeesus commented on #902
Having now read [Fonts 2019](https://almanac.httparchive.org/en/2019/fonts) it does seem that the 75% use of Google Fonts swamps analysis. I suspect that for 2020, dividing each analysis into "Google Fonts"and "non-Google Fonts" would give an interesting compare and contrast.

It doesn't surprise me that color font usage was so low; not because color fonts aren't good, but because browsers have be

[2020-07-16 18:50] AAgar commented on #918
Sure, I'll join the security team. However, I think I've met my BigQuery quota.

[2020-07-16 18:51] AAgar commented on #906
I can volunteer as an additional analyst if you need it

[2020-07-16 18:56] rviscomi commented on #918
@paulcalvano is distributing additional credits for analysts over on `#web-almanac-analysts` on [Slack](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA). Have you joined?

[2020-07-16 19:06] AAgar commented on #918
Thanks for the heads up, I'll join it now.

On Thu, Jul 16, 2020 at 2:56 PM Rick Viscomi <notifications@github.com>
wrote:

[2020-07-16 19:37] svgeesus commented on #898
@rachelandrew did you have any [topics to add](https://leaverou.github.io/mavoice/?repo=leaverou/css-almanac&labels=proposed%20stat)?

[2020-07-16 20:09] rviscomi commented on #946
@obto how does this sequencing look to you? If good could you update the issues' metadata in our sheet and in their issues?

@ibnesayeed is it possible to match this sequence in #989?

[2020-07-16 20:19] bazzadp commented on #946
Presume we’d need to do one of below to allow ordering as currently think it’s ordered by issue number:

1. Rename this issue titles (e.g. from “JavaScript” to “1.1 JavaScript”)
Or
2. Add meta data to each issue (either as a hidden tag or not)
Or
3. Add config with the correct ordering to the GitHub Action

[2020-07-16 20:32] rviscomi commented on #946
I imagined being able to parse the chapter number from the H1 in each chapter's comment. For example: `/^#.*Chapter (\d+):/`. Some are still `Chapter [Num]` so we'd need to update them first.

[2020-07-16 20:37] rockeynebhwani commented on #913
@ydimova - As cookies chapter got closed, this may be of interest to this group - https://github.com/AliasIO/wappalyzer/issues/3219

It will be good to report on % of sites using cookie consent management solutions (obviously within EU, we will see higher %) and out of sites using cookie consent management solutions, how many are using explicit Vs implicit consent? Because of the way, HTTPArchive

[2020-07-16 20:47] bazzadp commented on #946
Completely missed that!

[2020-07-16 20:48] rviscomi commented on #913
The tests are all run from the US so these may be undercounted, but it's an interesting angle to consider. If that issue is able to be resolved and included in a Wappalyzer release before the HTTP Archive crawl begins on August 1, then we'd be able to make use of it. Otherwise I think it will only be a minor inconvenience since IIUC it's just a categorization change of technologies that we're alre

[2020-07-16 20:54] rviscomi commented on #498
We'd still love to see the 2019 chapters translated into Spanish, if anyone's interested to make that happen. And translating all of the chapters would be an amazing milestone to reach, because then we can release the fully translated ebook, as we've done for [Japanese](https://twitter.com/HTTPArchive/status/1263539059160481794):

![image](https://user-images.githubusercontent.com/1120896/87721729

[2020-07-16 23:14] rviscomi commented on #896
Those are the all-time page views for the English versions.

@bazzadp your concerns are totally valid. I wouldn't want to build anything that was inaccessible or slow. I think this would bring a lot of value to the chapters so IMO it would be worth the effort. The way I see it is that there are different levels of engagement between the readers and the data:

- Level 0 uses words to describe the d

[2020-07-17 00:54] Tiggerito commented on #908
I've done some reverse engineering of all last years queries and made some basic notes.

**SQL**

10_01 - pulls almanac.js for structured data, counts if contains a type from the Google Gallery. Reports percent containing split by device. **** list probably needs updating
10_02 - reports on lang values used from body **** only pulls first 2 characters
10_03 - pulls almanac.js link tags for amphtml

[2020-07-17 01:26] rviscomi opened #1045 "Sort contributor teams by locale"
I noticed the list of teams is sorted alphabetically in [English](https://almanac.httparchive.org/en/2020/contributors):
![image](https://user-images.githubusercontent.com/1120896/87738314-15f60080-c7ab-11ea-853e-efd5ddcc5f54.png)

In other languages like [French](https://almanac.httparchive.org/fr/2020/contributors), the list is still sorted using the English spelling:
![image](https://user-image

[2020-07-17 01:57] sirjonathan commented on #915
I've requested access to the Document.

On Thu, Jul 16, 2020 at 7:55 AM alexdenning <notifications@github.com>
wrote:

[2020-07-17 02:13] rviscomi commented on #915
Granted! 🔑

[2020-07-17 02:19] Tiggerito commented on #908
Hi @aleyda, I've just done some testing. The JavaScript we can run is processed via webpagetest.org and they state the script is run after the normal test has finished. The tool does a long test which make me think we have quite a reliably rendered DOM to work with.

On my own test it picked up Structured Data added via JavaScript as well as iframes added by Disqus.

I think we need to get things

[2020-07-17 02:26] ibnesayeed commented on #946
Yes! However, the more I think about it, the more I am convinced that in the future we should move to some structured data file like YAML to store these properties and use issue tickets to communicate. Changes in the data file can be pushed to change the issue ticket, not the other way.

That's correct. The default order of the API response is descending order of issue numbers, but I have explicit

[2020-07-17 02:47] rviscomi opened #1047 "Automatically track the translation status of each template/chapter"
I'm drunk on the power of automation now! 😄

Similar to #943, I'd love to be able to automatically track the translation status of templates/chapters across the various supported languages. @bazzadp is this also something you'd find useful?

We have https://github.com/HTTPArchive/almanac.httparchive.org/wiki/2019-Translation to track the status per chapter/language but we should also track the und

[2020-07-17 02:52] rviscomi commented on #946
I like having the chapter issues themselves be the source of truth. For example, we use the issues to keep track of the authors/reviewers/analysts and milestone progress. The `Chapter (#)` H1 text is a reliable source of truth if we wanted to parse that metadata for reasons like this.

[2020-07-17 03:16] ibnesayeed commented on #1047
Any efforts on automation are worthy when there are enough dimensions to justify the upfront cost of automation and the kind of ongoing structure it needs. At this point I am not too familiar with the translation workflow and change frequency, so it is difficult for me to assess the need.

[2020-07-17 05:37] bazzadp commented on #1047
Yes do love a bit of GitHub Actions!

Saying that I’m not convinced about this one. This changes very infrequently (unfortunately!) and each translate’s pull request is reviewed by a core maintainer -like any other PR and it’s only a little extra effort to update the workflow at that point.

If we automated it, ideally accepting a PR would update that languages tick at the top, and also [update th

[2020-07-17 06:41] bazzadp commented on #924
Hey new developer volunteers!

Want to check how you’re getting on? As mentioned previously there’s items ready to start developing on now, and many will help the 2019 site/edition so will be released as soon as we can fix them. Unlike the authorship side, development is an ongoing thing and we will release your work as soon as we’re comfortable with it.

We generally don’t hand out assignments fo

[2020-07-17 07:06] bazzadp commented on #924
Oh and code reviews on pull requests are VERY much appreciated.

Especially for my own PRs as @rviscomi seems to be left with all that burden and would like him to concentrate on the 2020 chapters!

No one codes perfectly (least if all me!), and reviews are one of the best things about GitHub workflow. And approvals or a LGTM are just as valuable as suggestions to know someone else has had a look

[2020-07-17 07:35] ydimova commented on #913
@rockeynebhwani I think it would indeed be interesting to measure the percentage of websites using popular and less popular cookie consent managament platforms and IAB Europe's TCF (if feasible).

@max-ostapenko @ldevernay Could you join the outline document :)
https://docs.google.com/document/d/1hIllsWd_IqfYuGT_qUFA2ruoQaIvcbuYpNHJLB4AqkU
Feel free to change/add anything

[2020-07-17 08:44] bazzadp commented on #1045
Yes, we should.

I'm in that code anyway as part of #1042 so to avoid any conflicts I've added the fix to that branch with this commit: https://github.com/HTTPArchive/almanac.httparchive.org/pull/1042/commits/f0da9bd5b14eb768f8e23e0dd32b01cf95488410

As part of that I've removed the fallback to config team names - translations not must have this in their template (even if untranslated and just in

[2020-07-17 09:39] rockeynebhwani commented on #908
Hi @aleyda @Tiggerito

For eCommerce chapter 2020, I was considering to pull a custom metric to find out how many social channels sites are using on average and publishing this information via Schema.org. I was planning to do this using a custom metric

[code]

Here is a test - https://www.webpagetest.org/result/200717_3J_d1226f7d51175b862b866aa12f2b85ca/1/details/#waterfall_view_step1

But I thin

[2020-07-17 09:53] alexdenning commented on #915
@obto awesome, many thanks for the updates and clarifications :) I'll make some time for this over the weekend and update in time for the next milestone on Monday.

[2020-07-17 11:47] smatei commented on #900
I have read the 2019 media article. Now I will move forward to reading and understanding the sql behind it.

As a side note, some time ago when scraping and parsing pages for the [The Average Web Page](https://www.advancedwebranking.com/html/) study, I found some pages that were extremely large - HTML code. Why, because the images were base 64 embedded in the HTML code. The uncompressed size of th

[2020-07-17 11:55] nrllh commented on #906
@aagar you are welcome!

[2020-07-17 11:57] nrllh commented on #906
## Current list of metrics:

TLS 🔒

- Protocol Usage
  - SSLv2 / SSLv3 / TLSv1.0 / TLSv1.1 / TLSv1.2 / TLSv1.3
- Unique CA issuers
- RSA certificates
- ECDSA certificates
- Certificate validation level (DV / OV / EV)
- Cipher suite usage
  - Suites supporting Forward Secrecy (ECDHE / DHE)
  - Authenticated suites (GCM / CCM)
  - Modern suites (AES GCM, ChaCha20-Polyc1305)
  - Legacy suites (AES CB

[2020-07-17 12:03] nrllh commented on #906
@tomvangoethem @cqueern @bazzadp @edmondwwchan @AAgar

I just migrated the metrics from last year's Almanac and added some new points. Please review it and make some recommendations

[2020-07-17 12:46] j9t commented on #899
@catalinred—I had contacted you through email; could you check or otherwise let me know how to best coordinate directly? Thanks :)

[2020-07-17 12:57] cqueern commented on #906
@nrllh looks pretty great. This is exciting. I am for sure interested in SRI on subresources so look forward to seeing how we can address it.

[2020-07-17 13:12] bazzadp commented on #906
SRI is so over-rated and pointless IMHO. If you can self-host you should do. If you can't because it changes frequently, then can't use SRI. So what's the point? Anyway I digress...

[2020-07-17 13:19] rockeynebhwani commented on #906
@bazzadp - I think it's worth including SRI usage in chapter and if usage or low, may be the reasons are as stated by you in comment above and we should add as a food for thought in chapter (may be)

[2020-07-17 13:26] bazzadp commented on #906
Oh not saying don't include it, just interjecting personal opinion to the conversation 😀 As I said a digression. Back to chapter planning!

[2020-07-17 15:06] dotjs commented on #921
Have a first pass at an outline. I'm still not sure about going with HTTP with sections for H2 and H3 as suggested by Matt. I've added some thoughts about other things to discuss with regards HTTP e.g. semantics, DoH and websockets. Any reviewers/authors please add to the doc as I would like as many ideas on what other people would like to see in this chapter as possible. paging @gregorywolf , @No

[2020-07-17 15:36] obto commented on #900
@tpiros Lot of awesome discussion going on here :rocket:, but the [Chapter doc](https://docs.google.com/document/d/1ip2At9j6ba17odQwBbXDVU7qiLnHRnX8DflAfdQNb9c/edit?usp=sharing) could use some love. Think your team will be able to get an outline settled on by the end of the week?

[2020-07-17 15:36] jaisanth commented on #897
@obto Went through the Analysts' Guide. I'll sign up as an analyst then! Thanks for the great guide @bazzadp ! 👍

[2020-07-17 15:40] obto commented on #897
@jaisanth awesome, i've put you down as the analyst. And now the full team has been assembled for the chapter :heart:

[2020-07-17 15:41] dougsillars commented on #900
I blogged on Base64 images a few years ago:

https://calendar.perfplanet.com/2018/performance-anti-patterns-base64-encoding/

and the relevant Query:

https://bigquery.cloud.google.com/savedquery/554669893916:ab8efa3724f847fdac26ae595afaf302
Best,
Doug

Douglass Sillars, PhD
+1   (608) 616-9572 US
+44 (0)7856204121 UK
@Dougsillars

On Fri, Jul 17, 2020 at 4:36 PM David Fox <notifications@github.co

[2020-07-17 15:46] edmondwwchan commented on #906
@nrllh your list looks pretty good. What about including mutual TLS usage too?

[2020-07-17 15:49] obto commented on #917
Terrific, @raghuramakrishnan71. I've added you to the team as an analyst!

[2020-07-17 16:10] obto commented on #898
@LeaVerou No worries. The main reason we have this week set as the deadline is because sometimes we come across metrics that require custom code ([custom metrics](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Analysts'-Guide#almanac-custom-metrics-and-udfs)) to be written and added to the Web Crawler -- which starts running on August 1st.

So if getting the chapter outline looks toug

[2020-07-17 16:16] obto commented on #898
Fortunately @rviscomi [implemented a script](https://discuss.httparchive.org/t/analyzing-stylesheets-with-a-js-based-parser/1683/7) to parse all sites' CSS last year. Which should allow this chapter to do query almost everything already :)

[2020-07-17 16:17] obto commented on #902
@jpamental No worries. The main reason we have this week set as the deadline is because sometimes we come across metrics that require custom code ([custom metrics](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Analysts'-Guide#almanac-custom-metrics-and-udfs)) to be written and added to the Web Crawler -- which starts running on August 1st.

So if getting the chapter outline looks tou

[2020-07-17 16:34] LeaVerou commented on #898
@obto I have posted the list right above you :)
You can find it here: https://github.com/LeaVerou/css-almanac/issues

I can write a list of those that may require custom code later today, but I need to know the details of this parser that @rviscomi used. How does it handle invalid properties/pseudo-classes/values? Does it still parse them, or is it equivalent to using `document.styleSheets` and fr

[2020-07-17 16:37] ibnesayeed commented on #899
I have left a few comments and suggestions for inclusion in the draft.

[2020-07-17 16:43] aleyda commented on #908
Hi @max-ostapenko :) I wanted to get in touch since we're already leaving the outline ready and start specifying the expected metrics in the chapter's [Google Docs here](https://docs.google.com/document/d/1q83OZAEd_oYtqwCQ1qkkpZ52T9BLPwkIMDEhXb--Xv8/edit?usp=sharing), @Tiggerito is already in there checking what we're adding and we're assessing with them already the viability of the metrics for th

[2020-07-17 16:59] aleyda commented on #908
Hi @rockeynebhwani, Thanks for getting in touch!

We're adding a Structured Data sub-section in the chapter under the content area, the goal so far is to specify:

* The Format used (microdata, json-ld, microformat)
* The types used (Organization, Breadcrumb, FAQ, How-To, etc.)
* The usage of JS to implement structured data

To confirm: You're particularly interested to provide the information of

[2020-07-17 17:30] rviscomi commented on #898
@LeaVerou the parser is https://github.com/reworkcss/css. It should parse everything, including invalid values. For example, see some of the fun invalid font-weight values explored in this post: https://discuss.httparchive.org/t/what-are-the-most-and-least-popular-numeric-font-weight-values/1732

[2020-07-17 18:29] rviscomi commented on #913
@ydimova I've sent you an invite to join the 2020 Authors team, which we'll use to communicate to authors about upcoming milestones. Could you visit https://github.com/HTTPArchive to accept the invitation? I want to make sure you're included in our messages :)

[2020-07-17 18:30] rviscomi commented on #910
@spanicker I've sent you an invite to join the 2020 Authors team, which we'll use to communicate to authors about upcoming milestones. Could you visit https://github.com/HTTPArchive to accept the invitation? I want to make sure you're included in our messages :)

[2020-07-17 18:36] rviscomi commented on #900
@bseymour I've sent you an invite to join the 2020 Authors team, which we'll use to communicate to authors about upcoming milestones. Could you visit https://github.com/HTTPArchive to accept the invitation? I want to make sure you're included in our messages :)

@smatei also see #875 about creating custom metrics for 2019 queries that depend on the `response_bodies` data, which are exorbitantly ex

[2020-07-17 18:40] rviscomi commented on #922
@jpmedley were you interested to join the Editors team?

[2020-07-17 18:47] rockeynebhwani commented on #908
@aleyda - Thanks for your thoughts. I believe Google uses this section to build knowledge graph. You can see in below screenshot

![image](https://user-images.githubusercontent.com/1718757/87820640-536b9400-c866-11ea-8490-96d6194ef7a0.png)

[2020-07-17 18:53] rockeynebhwani commented on #908
@aleyda - Another interesting structured data which we can surface and it's used by Google to show search box next to result.. (For this, we will have to look for potentialAction with type 'SearchAction'.. See example below)

![image](https://user-images.githubusercontent.com/1718757/87820871-c6750a80-c866-11ea-9aa6-b7a149e40964.png)

![image](https://user-images.githubusercontent.com/1718757/8782

[2020-07-17 19:21] aleyda commented on #908
Hi @rockeynebhwani, in the past that structured data information regarding the social presence was taken into consideration for the knowledge panel of a business, but not anymore -at least not directly-, and Google updated their guidelines/specification for it, now it takes into consideration the logo but for the social presence the process is for the business to claim their presence in the Knowle

[2020-07-17 19:32] aleyda commented on #908
@rockeynebhwani  btw, I actually think we should be good already and didn't realized when writing my previous response somehow (!!) :D Based on what you were asking: We expect to collect *all* structured data following info...

* All The Format used and their split (microdata, json-ld, microformat)
* All The types used (Organization, Breadcrumb, FAQ, How-To, etc.)
* The usage of JS to implement st

[2020-07-17 19:33] Zizzamia commented on #920
@mgechev added you as reviewer and made a note in the doc where we talk about Machine Learning.

[2020-07-17 19:48] roryhewitt commented on #917
@raghuramakrishnan71 can you add yourself to the Google Doc as an Analyst? @jzyang can you add yourself as a Reviewer? @jaisanth if you want to help me out with authoring the doc or as a reviewer, add yourself as appropriate.

Google Doc: https://docs.google.com/document/d/1uzLXOrvr8yHMnEYnY1aGTjHLq_qOYnc39ZFirTmPxlU/edit

I've started on the section descriptions etc. The 2019 Caching chapter (as

[2020-07-17 20:01] rockeynebhwani commented on #908
sounds good @aleyda .. @rviscomi  point me to https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/sql/2019/10_SEO/10_05.sql

Most likely, this data is already being gathered. Should be matter of just querying

[2020-07-17 20:26] mdiblasio commented on #910
Happy to be a reviewer and am interested to co-author the Conversions and commerce on mobile section!

[2020-07-17 20:41] aleyda commented on #908
Amazing! That's great to know. Thanks @rockeynebhwani :)

[2020-07-17 21:09] rviscomi commented on #1025
My first impression is that this chapter may be too narrowly focused and may have some challenges getting metrics. Happy to be convinced otherwise.

For topics that don't quite fit as a standalone chapter or as a subsection of other chapters, I've been encouraging contributors to submit their content to the dev.to/httparchive blog instead, which is a more versatile platform for deep dives into eso

[2020-07-17 21:14] rviscomi commented on #1016
Could you give an example for one or two chapters what this would look like? Still having a hard time understanding what the diff would be.

[2020-07-17 21:17] rviscomi commented on #991
Spoke with Felipe offline and BigQuery doesn't have anything open source to help with this.

This would be nice to have for the 2020 queries, but not required. At a minimum we should have some kind of style guide or reference doc in the wiki to help analysts understand what we're looking for. @paulcalvano is that doable?

[2020-07-17 21:19] natedame commented on #1016
@rviscomi sure thing, let me give that some thought and get back to y'all.

[2020-07-17 21:19] obto commented on #946
@rviscomi How did you decide the ordering of the chapters in each section? Based off of their relative popularity last year?

The names for each section look good, and I've no issues with the sections each chapter were slotted into

[2020-07-17 21:21] rockeynebhwani commented on #908
Correction. I did a run with all almanac custom metric but this information about social channels is not being gathered currently. Sample run (Look for '10.5') - https://www.webpagetest.org/custom_metrics.php?test=200717_WK_030e8ad4e4b08550d361cd871b9db617&run=1&cached=0

It will be good if somebody in team here can pick PR to almanac.js (https://github.com/HTTPArchive/legacy.httparchive.org/blob/

[2020-07-17 21:32] ibnesayeed commented on #946
* I would make Markup the first chapter as it seems the primary aspect of a page content as a page may exist without any CSS or JS
* I am not too sure if JS should be the second chapter or CSS, but if I were to list them, I would perhaps assume people would have more interest in JS than in CSS
* I would perhaps also swap placement of Fonts and Media
* I felt that Page Weight should go under the Us

[2020-07-17 21:39] ibnesayeed commented on #1025
My plate is too full for the next couple of months (graduation and job search) so I cannot promise for anything like this right now, but I will keep this in my mind.

[2020-07-17 21:54] rviscomi commented on #1025
Ok, I'll close this issue for now and we can consider this next year during content planning if there's interest.

[2020-07-17 21:54] #1025 closed

[2020-07-17 22:00] rviscomi commented on #946
Popularity was one factor. The CSS team this year is also ~2x larger than JS so I expect it to be a more comprehensive chapter, which would be good to lead with.

@ibnesayeed thanks for your feedback. Ordering is not an exact science and I had to rely on my intuition for what would be most engaging for readers.

[2020-07-17 22:03] rviscomi commented on #1025
And congratulations on your graduation! 🎉 :)

[2020-07-17 22:07] #887 closed

[2020-07-17 22:07] #886 closed

[2020-07-17 22:08] ibnesayeed commented on #1025
Next year sounds good to me, hopefully I will be able to contribute as a co-author and analyst. There is certainly interest in the Web archiving community to report something in the Web Almanac (I am saying this based on my conversation with people in the IIPC community).

Thanks! :heart:

[2020-07-17 22:09] rviscomi commented on #875
Closing this. Analysts should determine what to do with 2019 queries as needed.

[2020-07-17 22:09] #875 closed

[2020-07-17 22:33] rviscomi opened #1052 "Prototype an interactive data visualization for the 2020 CSS chapter"
As a follow up to #896, I'll build a prototype of the kind of interactive data viz I have in mind for a select few chapters.

For context, I'm interested to supplement the images/charts used in the 2019 edition with a more engaging in-page "dashboard" of sorts, to let readers explore the data and find interesting insights on their own. For example, @bkardell built a [Glitch app](https://rainy-peri

[2020-07-17 22:54] obto commented on #946
@rviscomi What do you say to keeping your ordering, but moving Javascript to the bottom like so? My thought on this is that JavaScript is a destination/anchor chapter--readers will head there regardless. So moving it to the bottom would let us bubble up some of the other chapters and give them a bit more love. Thoughts?

1. CSS
2. Markup
3. Fonts
4. Media
5. Third Parties
6. JavaScript

[2020-07-17 22:58] #1040 closed

[2020-07-17 22:58] #1045 closed

[2020-07-17 23:22] bazzadp commented on #921
That's pretty comprehensive @dotjs ! Will rack my brains and see if I can think of anything else but can't at the mo...

[2020-07-17 23:42] Tiggerito commented on #908
@rockeynebhwani @aleyda

A good idea to collaborate on this.

I agree that sameAs was dropped by Google so less significant now.

searchAction is still supported and I think the SD is used a lot. However, to get a search box is independent to adding the markup and very few sites get them. The markup is there to tell Google how to directly use the sites internal search system. A thought I had was t

[2020-07-17 23:52] ibnesayeed commented on #908
I see that this is a chapter with a handful of reviewers already, but crawlability of a site is an indicator of its archivability (which is my field of expertise), so I would be interested in reviewing this.

[2020-07-17 23:56] LeaVerou commented on #1052
Oh that's exciting! I especially like the color idea, though it would be more interesting to match close colors too, not exact ones (ideally with DeltaE, not Euclidean sRGB distance). But how would this be implemented? Surely it cannot run queries, so the data would need to be preloaded. Even for just your color example, there are 16.7 million colors in 8 bit sRGB alone. That's a lot of data for c

[2020-07-17 23:57] ibnesayeed commented on #908
A quick suggestion, this chapter may also want to analyze soft-404s, which are an indication of poor application design and may hurt SEO. [These can be hilarious at times](https://twitter.com/ibnesayeed/status/1103410467958112257).

[2020-07-18 00:08] rviscomi commented on #946
Third Parties is more of a conceptual topic than the rest of chapters in Part I, which are resource MIME types, so that's why I wanted to group them together and end with Third Parties. Fonts coming after Third Parties in 2019 was one of the reasons why I wanted to revisit the ordering this year :)

[2020-07-18 00:15] ibnesayeed commented on #946
Even my preference would be to keep it at the end as it sounds more like "Others" or "Miscellaneous".

[2020-07-18 00:16] Tiggerito commented on #908
I like the idea. Unfortunately we can only analyse home pages which are probably not candidates for soft 404 status.

It would be interesting to know how we could determine if a page may be classed as a soft 404? Google probably uses a few signals like heading, lack of content and redirects to work them out.

[2020-07-18 00:19] rviscomi commented on #1052
😱 you're right! Yeah for that example we'd need to have a +/- tolerance built in to group similar colors together. For simpler visualizations I imagined us preloading all options into the page, but for visualizations with more complex values we would lazy load or have some kind of click-to-load option to avoid incurring MB of JSON without permission.

Implementation details aside, are there any ot

[2020-07-18 01:17] ibnesayeed commented on #908
In the web science community there are two very well known approaches to identify soft-404s and both have their pros and cons:

1. Train a simple text-based classifier using page title and body text (all the markup removed, and ideally boilerplate template removed as well) from *legitimate* 200 and 404 pages as training sets and then use it to classify unknown 200 responses. This relies of the ide

[2020-07-18 01:19] ibnesayeed commented on #908
Yes, you are right, home pages are less likely to be soft-404s.

[2020-07-18 01:24] rockeynebhwani commented on #906
@nrllh @tomvangoethem - Any thoughts on including Bot detection solutions (e.g. PerimeterX / CyberFend) in scope of this chapter? We can do a quick PR in Wappalyzer for top vendors. I raised a feature request to add 'Security' as category in Wappalyzer - https://github.com/AliasIO/wappalyzer/issues/3226

[2020-07-18 02:30] rockeynebhwani commented on #913
@ydimova @bazzadp @rviscomi - Created a PR for Wappalyzer - https://github.com/AliasIO/wappalyzer/pull/3227. This team can add more technology vendors to the list on top of this.

[2020-07-18 02:58] LeaVerou commented on #1052
The problem with pre-grouping colors is that you get a sharp transition across group boundaries. E.g., for the sake of argument, let's say we group all sRGB colors by flooring their coords to multiples of 15, e.g. `rgb(0, 180, 255)` becomes `rgb(0, 12, 17)`, which gives us 17 ^ 3 = 4913 colors, which is doable.
`rgb(0, 180, 255)` is very close to `rgb(0, 179, 254)`, but if someone queries the form

[2020-07-18 03:19] svgeesus commented on #902
An older report, perhaps 2015 or 2016, had a cumulative graph showing web font usage rising from 1% in the end of 2010 to 50% across all sites in the beginning of  2015. The link no longer works.

http://httparchive.org/trends.php?s=All&minlabel=Nov+15+2010&maxlabel=Feb+15+2015#perFonts

Five years on, and with the 10th anniversary of the first WOFF 1.0 working draft this year, it would be great t

[2020-07-18 05:12] Tiggerito commented on #905
Hi, I'm an Analyst in the SEO chapter (so is your @max-ostapenko). I've been practising my SQL for a common area, Core Web Vitals by device. I got it mostly working and then checked your own and saw I'd gone the same way 👍

I thought it might be helpful in sharing? We're also wanting to look into this data by country. It should not need much rework to do that.

[2020-07-18 08:39] catalinred commented on #899
That’s a bit odd because I did reply to you :)

[2020-07-18 08:48] bazzadp opened #1058 "Left padding in contributors on mobile"
Suspect this is caused by #1042 where I made the contributors `<li>` for accessibility reasons:

![Contributors are right aligned instead of full width on mobile](https://user-images.githubusercontent.com/10931297/87848800-391fcd80-c8db-11ea-8009-2b7a2821e5b2.png)

[2020-07-18 08:56] j9t commented on #899
Strange. Checked again, received literally nothing. Could you forward your response to jens@meiert.org?

[2020-07-18 09:23] Tiggerito commented on #908
That's me done for the day 🍷

I've created SQL to work out Core Web Vitals per device. This is actual data for last month. Should be simple to do one per country:

![image](https://user-images.githubusercontent.com/4947018/87849281-69d92480-c926-11ea-9296-2dee4055ccc3.png)

I've also been playing with processing the raw html. These are how many JSON_LD script tags are added (sample 10k data). The

[2020-07-18 10:08] aleyda commented on #908
Hi @ibnesayeed , there are many already but I will definitely add you since in the "pings" I sent above to them asking if they wanted to keep as reviewers or switch to analyst many didn't answered at the end, so I'm a bit concern about the availability of all who had initially registered :D If at the end we see everybody answers and collaborates we can even split areas/topics, but if not, it would

[2020-07-18 11:02] wardpeet commented on #920
Sorry, I haven't been able to work on Gatsby's GuessJs implementation. It still works, but the more data you have, the bigger your bundle.

So, if you keep your data small like a week or two of data, it works pretty well.

[2020-07-18 11:38] aleyda commented on #908
@Tiggerito This is amazing! Regarding the Core Web Vitals: would it be possible also to add "tablet" as part of the devices or is it possible only to get it for mobile and desktop?

About the Json-LD parsing: This is great! We can then specify how many of the Websites implementing their SD with this method have "basic" script configuration issues.

and then: " a comparison of numbers between raw a

[2020-07-18 11:57] aleyda commented on #908
Hi @antoineeripret - I just saw this message you had sent and I had overlooked (sorry) and hadn't replied. I think an additional analyst would be amazing since @Tiggerito has started going through the data and we're looking to have a data rich chapter (we already started to define the [topics here](https://docs.google.com/document/d/1q83OZAEd_oYtqwCQ1qkkpZ52T9BLPwkIMDEhXb--Xv8/edit?usp=sharing)) -

[2020-07-18 12:01] aleyda commented on #908
Hi @aysunakarsu ! Would you still available as an analyst too? Let me know and if so I will add you as one (instead of a reviewer) as I think we will need more people there and we have already many reviewers! @Tiggerito has started to go through the data of the [chapter topics we're leaving specified here](https://docs.google.com/document/d/1q83OZAEd_oYtqwCQ1qkkpZ52T9BLPwkIMDEhXb--Xv8/edit?usp=sha

[2020-07-18 13:16] Tiggerito commented on #908
@aysunakarsu @antoineeripret I'd love backup on this. I'm not an analyst, I just play one on TV.

[2020-07-18 13:20] aleyda commented on #908
@antoineeripret has just confirmed me directly, added him to Google Docs and our private conversation too! He'll be able to start digging in tomorrow :) Looking forward to @aysunakarsu response to see if she's interested and then @max-ostapenko who had confirmed already as an analysts to get him involved too! Thanks for all your effort, @Tiggerito :D

[2020-07-18 13:23] gregorywolf commented on #921
Hello. I am coming up to speed with the project and specifically my task for the HTTP chapter as an analyst. My goal for this weekend is to finish reviewing all key material. I also want to look at all of the 2019 HTTP SQL queries and start retro fitting them to use on the sample data that @paulcalvano created. I am new to this process so PLEASE direct me as necessary. I look forward to working wi

[2020-07-18 13:34] bazzadp commented on #921
@gregorywolf I am a comment here that might be useful: https://github.com/HTTPArchive/almanac.httparchive.org/issues/914#issuecomment-659205330

And since I’m on this chapter, I’ll update it specifically for this chapter 😀:

Start with the [Analysts Guide](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Analysts'-Guide) and set up BigQuery ([Good guide on that](https://github.com/HTTPA

[2020-07-18 14:53] smatei commented on #900
@rviscomi I can see your point about the queries containing regexp search. I have checked the [custom metrics](https://github.com/HTTPArchive/legacy.httparchive.org/tree/master/custom_metrics) folder. I will play a little bit with that project, and try to figure out how to implement/run/test them. I might not be able to help with them yet, but if I spend some time on them I might be able to help i

[2020-07-18 15:17] bkardell commented on #899
Yeah I should add we can get new data dumps and integrate them for that tool rather quickly, it's still currently manual - but a lot more can be done if anyone is interested in developing this tool further either now or over time... For example, one thing I added since was an endpoint that will let you analyze the differences between two dataset dumps http://rainy-periwinkle.glitch.me/delta/deskto

[2020-07-18 17:16] rviscomi commented on #946
I've gone through each chapter issue and updated their part/chapter numbers. This should help unblock the updated tracker in #1059

[2020-07-18 17:16] #946 closed

[2020-07-18 22:14] rviscomi commented on #900
We're just using one issue per chapter to track all of the milestones: planning, analysis, writing, etc.

I've written up an [analysis workflow](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Analysts'-Guide#analysis-workflow) in the Analysts' Guide which should help clarify the process. Let's chat in [`#web-almanac-analysts`](https://join.slack.com/t/httparchive/shared_invite/zt-45sg

[2020-07-18 22:15] nrllh commented on #906
@edmondwwchan I'm also not sure if wen can measure them, there are now some limitations for requests table, I also couldn't check it, but I add these to the list.

@rockeynebhwani It's a good idea, but I don't know if we have enough data delivered by Wappalyzer. Following query delivers five rows and the distribution doesn't look so relevant:

`SELECT app, count(app) as count FROM httparchive.tech

[2020-07-18 22:55] rockeynebhwani commented on #906
@nrllh  - as I understand from @rviscomi that if we are able to work on the issue I raised on Wappalyzer Github and submit a PR next week, HTTPArchive crawler for 1st Aug will be able to provide us this insight.

[2020-07-18 23:04] rockeynebhwani commented on #906
@nrllh  - WebAuthn adoption will be interesting one. I remember reading eBay implementing it (https://tech.ebayinc.com/product/ebay-makes-mobile-web-login-easier/) and support on Safari web is coming in iOS14, so adoption should increase in coming days.

I don't know how to detect this. I can see webAuthn references on eBay (https://www.ebay.com/signin/)

![image](https://user-images.githubusercon

[2020-07-18 23:17] rockeynebhwani commented on #907
@oluoluoxenfree  / @rviscomi - I think it will be interesting to look at adoption of solutions like EqualWeb and few others (UserWay, Silktide, browsealoud, Recite me, Essential Accessibility. Enable, uRemediate, Adally.). These solutions provide a lazy solution for sites to become accessible and get compliance level.

Example of EqualWeb on https://www.hobbs.com/

![image](https://user-images.git

[2020-07-18 23:31] rockeynebhwani commented on #907
Create an issue for Wappalyzer to detect this. https://github.com/AliasIO/wappalyzer/issues/3228

[2020-07-18 23:43] rviscomi commented on #907
Interesting idea! Hope we can get the detections in place for August.

[2020-07-18 23:58] nrllh commented on #906
@rockeynebhwani there are two main calls for WebAuthn (`navigator.credentials.create `and `navigator.credentials.get`), I could totally find 2442 URLs that contain javascript files with these calls. But of course, this doesn't mean all these websites provide this functionality for their users.

[2020-07-19 00:07] rockeynebhwani commented on #907
@rviscomi  - I have completed pattern detection for all major providers in https://github.com/AliasIO/wappalyzer/issues/3228 but I think I have too many Wappalyzer PRs now. Anybody who can help?

[2020-07-19 00:10] rockeynebhwani commented on #914
@adityapandey1998  / @g3john - Do you have time to work on PR for this? - https://github.com/AliasIO/wappalyzer/issues/3228 ? I managed to complete few PRs for Wappalyzer and for this one, I have provided full instructions.. I would like to use this information for eCommerce chapter also if possible

[2020-07-19 00:15] rviscomi commented on #907
Before we invest in the detections we should wait for @oluoluoxenfree to write the outline and set the scope of the chapter. If this is out of scope we don't need to hurry to get the detections in. Also, many of the detections are based on the presence of a specific URL, which we could easily check by looking at the network log if needed.

[2020-07-19 00:21] rviscomi commented on #906
Ideally we shouldn't be scanning the response bodies for patterns. It's expensive and flaky. In this case I wonder if there are existing Blink feature counters that we can query. For example maybe [CredentialManagerGetReturnedCredential](https://www.chromestatus.com/metrics/feature/timeline/popularity/1342)?

[2020-07-19 00:27] ericwbailey commented on #907
Chiming in to say that if those overlay services are quantified that there should be a heavily editorial presence accompanying them, in that most of these services actually **negatively** affect a page's accessibility. In fact, a few of the more popular ones are currently getting sued because of this act.

My perspective is it'd be irresponsible to make readers of the report aware of these service

[2020-07-19 00:30] rviscomi commented on #907
That's really good to know! Thanks @ericwbailey. If needed, you could also compare the median Lighthouse accessibility category scores per service to see if they tend to degrade accessibility.

[2020-07-19 00:31] rockeynebhwani commented on #907
@ericwbailey - Agree. These services are used by companies as *tick in the box* exercise and we should provide necessary context and attached caveats in chapter if we end up covering this. I am seeing adoption of these services by big retail companies (I provided example of Hobbs and Lacoste in GitHub issue) and I would like to cover this in eCommerce chapter as well.

[2020-07-19 04:51] rviscomi commented on #905
@dooman87 I've also written up a short summary of the recommended [analysis workflow](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Analysts'-Guide#analysis-workflow) in the Analysts' Guide.

Hey @Tiggerito, yes it's a good idea to reuse queries whenever possible and this seems like a perfect opportunity for that. I'd suggest starting the draft PR described in the workflow above and

[2020-07-19 06:36] bazzadp commented on #914
Interesting thread here that might be worth exploring further in this chapter: https://twitter.com/igrigorik/status/1284539413003821057?s=21

[2020-07-19 06:37] rviscomi opened #1061 "Update third party domain/category map on BigQuery"
Last year we used the [mapping](https://console.cloud.google.com/bigquery?p=httparchive&d=almanac&t=third_parties&page=table) of third party domains to categories from @patrickhulce's [Third Party Web](https://almanac.httparchive.org/en/2019/methodology#third-party-web) project.

We should just be able to overwrite `httparchive.almanac.third_parties` with [`lighthouse-infrastructure.third_party_we

[2020-07-19 07:36] Tiggerito commented on #905
Instructions made sense. Hopefully I got it right.

[2020-07-19 10:21] dooman87 commented on #905
That's look awesome, thanks! Just to check my understanding, we are going to have one branch/PR where all analysts for particular chapter will work, right? It would make sense for me given we will split work and shouldn't step on each other toes.

[2020-07-19 13:10] patrickhulce commented on #1061
I was planning on doing a September cut but if youd like one sooner the instructions for generating the table are in the repo if @simonhearne wants to do it sooner :)

[2020-07-19 13:28] rockeynebhwani commented on #914
Thanks @bazzadp .. @igrigorik - Are you able to share your queries for Shopify analysis? Analyst on this chapter are new so your queries will be handy

[2020-07-19 13:40] aleyda commented on #908
Hi @obto @rviscomi,

One question: When going through some of the information we want to show in the outline & metrics, like the percentage of sites implementing certain configurations with @Tiggerito , we saw that it could be useful to instead of sharing only the % of the total sites that are implementing something in X or Y way, in certain cases to provide a comparison of the usage with the top

[2020-07-19 15:23] chengxicn commented on #923
I could help for Chinese translation, will start from the 2019 release.

[2020-07-19 15:56] aardrian commented on #907
When the time comes to collect resources discussing the problems with these overlays/add-ons, I have [five years of links](https://adrianroselli.com/2015/11/be-wary-of-add-on-accessibility.html#Update01) (I can create a list) and [results of my own testing](https://adrianroselli.com/2020/06/accessibe-will-get-you-sued.html) for one the tools. In short, there is a lot out there.

[2020-07-19 16:00] rockeynebhwani commented on #907
@aardrian  .. wow :).. You seem to have lot of experience in this area. Do you mind review list of providers in https://github.com/AliasIO/wappalyzer/issues/3228 and suggest if I am missing any?

[2020-07-19 16:33] aardrian commented on #907
@rockeynebhwani The list looks good, so I won't add more noise to that thread. Be aware that WhoIsAccessible.com is itself an enabler. It does not do reviews, it uses pay-for-placement, and its own site would fail even the most basic tests. But it _is_ a good source to see who the automated tool player are.

[2020-07-19 16:37] ericwbailey commented on #907
@rviscomi I know at least one service deploys scripts to detect and circumvent Lighthouse, so maybe that's also something worth highlighting.

[2020-07-19 17:34] j9t commented on #899
Quick status:

* ➕ The [main document](https://docs.google.com/document/d/1m1YvDqWgZfqmcmAEkCnXncIJwsM1QCu6Rv7aPWjG1Ms/edit#) is up and has already received some feedback. Thanks everyone who has taken a look—everyone who hasn’t yet, please check it out, too, and share your thoughts!

* ➖ For the moment I still consider us a bit weak on the analysis side. This may nothing to be worried about yet g

[2020-07-19 19:00] nrllh commented on #906
@rviscom it seems there are some security-related feature counters, but it's hard to get the context of these features, they really are not well documented?

@tomvangoethem @cqueern @bazzadp @edmondwwchan @AAgar

I updated the [list of metrics](https://github.com/HTTPArchive/almanac.httparchive.org/issues/906#issuecomment-660068231). Let's try to get the final version for that please by Tuesday. T

[2020-07-19 19:00] sareg0 commented on #924
Hi there, I'd like to help. I'll probably take on some of those small front-end tasks at first

[2020-07-19 19:20] rviscomi commented on #1016
@bazzadp what would be a good format for authors to provide good quotables like the ones used in the [tweets](https://twitter.com/search?q=almanac.httparchive.org%20httparchive%20chapter&src=typed_query&f=live) and possibly useful for these headlines?

We currently use [featured_chapters.html](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/templates/en/2019/featured_chapters.

[2020-07-19 20:07] bazzadp commented on #1016
As may remember, you pushed me for this when I originally implemented this in #614 and I spent quite a bit of time trying to pull quotes from the chapter and eventually reached the conclusion it was adding more complexity than it was saving. The featured quotes also aren’t exact replicas with slight tweaks in capitalisation, and cutting out middle parts of long sentences. That was very difficult t

[2020-07-19 21:01] igrigorik commented on #914
Yep: https://gist.github.com/igrigorik/9345b70ad92f3e010162048e755377d1

The new renderer is, I believe, rolling out this month so it'll be interesting to see if and how the distribution changes.

[2020-07-19 21:41] henrihelvetica commented on #919
Hello! Just requested access to the Google page to update the it. Thanks for everyone's patience

[2020-07-19 21:44] henrihelvetica commented on #919
Thanks @rviscomi

[2020-07-19 22:03] obto commented on #1016
I really like the idea of using yaml to make a "quotables object array". Where for each quote we also attach the (optional) graphic we'd like to use. Would be relatively simple for authors to handle as well. How hard is it to generate quotes on the homepage sourced from the yaml stored in each of the chapters?

Having an easily shareable hover like medium would be great, but making them a 1:1 with

[2020-07-19 22:07] obto commented on #906
@nrllh @rockeynebhwani The problem with looking at tech like Captcha's is many of these are run on Contact Us forms and the like. Many of which are not found on a homepage, but instead on a subpage like /contact-us/.

Since we only look at the homepage of every site we crawl, the data we'd gather and report could be wildly different than what the real usage numbers are.

[2020-07-19 22:27] obto commented on #908
@aleyda Should be possible. We can import data from the [Majestic million](https://majestic.com/reports/majestic-million) and segment various metrics based on the websites ranking 👍

[2020-07-19 22:36] rockeynebhwani commented on #906
@obto - Agree. Very few sites deploy bot protection site wide. Only question we will be able to answer what % of sites have bot protection deployed on HomePage.

Or, wishful thinking for future if .well-known/change-password standard picks up,
- We can fetch www.example.com/.well-known/changed-password using WPT custom scripting
- It should typically be a 301 re-direct and if this exists in waterf

[2020-07-19 22:37] obto commented on #946
Just sat down to get this done today. Thanks for taking care of this @rviscomi

[2020-07-20 00:39] rockeynebhwani commented on #908
@obto Majestic Million is paid.. isn't it ?

[2020-07-20 00:53] obto commented on #908
@rockeynebhwani nope. The download of all the sites rankings is available right on the homepage of their site i linked

[2020-07-20 02:49] Tiggerito commented on #908
**Analystis** @max-ostapenko @antoineeripret
I'm finishing early today (it's noon here) and want to get things out there so others can play. Where I'm at:

I've created a [draft pull request](https://github.com/HTTPArchive/almanac.httparchive.org/pull/1062) where we can add all our new database queries. You should be able to [see them here](https://github.com/HTTPArchive/almanac.httparchive.org/tr

[2020-07-20 07:13] bazzadp commented on #1016
One big downside to having the quotes in chapters, is that now either `index.html` file (or the `featured_chapter.html` file) needs to be a generated file.

This needs to be done either by:

- using our `npm run generate` script – at which point the content is duplicated. It's automatically generated duplicated content, which is better, but will still cause confusion and people to change this. And

[2020-07-20 07:23] bazzadp opened #1067 "Translate 2019 Content into Chinese"
These are the chapters to be translated, and they exist in the [content directory](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/src/content):
- [ ] accessibility -
- [ ] caching -
- [ ] cdn -
- [ ] cms -
- [ ] compression -
- [ ] css -
- [ ] ecommerce -
- [ ] fonts -
- [ ] http2 -
- [ ] javascript -
- [ ] markup -
- [ ] media -
- [ ] mobile-web -
- [ ] page-weight -
- [ ] perfo

[2020-07-20 07:24] bazzadp commented on #923
Excellent news @chengxicn , I've opened #1067 to track this and sent you an invite to the team so you can be assigned the issue.

[2020-07-20 07:40] antoineeripret commented on #908
@Tiggerito: Thank you for the update. That's great !

I will have a look at your updated almanac.js this afternoon and see, from the Google Docs document we have, if we are missing some metrics that @aleyda needs. I recall seeing yesterday that she wanted to compare h1 and title, for instance, therefore we need to get the data for her beforehand.

You should have a pull request on your fork by mys

[2020-07-20 08:07] aleyda commented on #908
This is great and will serve well for what we want to do, in this case the sites are ranked by the number of linking subnets but should be ok to give a sense of "most popular" sites too. Will now specify also in the metrics when we want this type of additional "top sites" segmentation.  Thanks again!

[2020-07-20 08:35] #1058 closed

[2020-07-20 09:12] bazzadp commented on #906
@nrllh comments on your list

Cookies - think we can do a bit more here, especially as Cookie chapter was closed. How many cookies are set? What size are they? How many are 1st party, how many 3rd party? How many 3rd party cookies does the average site set? What are the difference between the attributes for 3rd party versus 1st party? I'd imagine most 3rd party analytics don't set `Secure` flag fo

[2020-07-20 09:12] bazzadp commented on #906
@AAgar @tomvangoethem we should look to convert the expensive and unreliable body scanning metrics to custom metrics. The [security ones are here](https://github.com/search?q=bodies+repo%3AHTTPArchive%2Falmanac.httparchive.org+path%3Asql%2F2019%2F08_Security&type=Code) and the media analysts have [opened a pull request for their custom metrics](https://github.com/HTTPArchive/legacy.httparchive.org

[2020-07-20 09:49] tomayac commented on #912
@rviscomi Unfortunately I was OoO when this call to action was sent. Did we miss the opportunity window? If we found someone this week (of July 20), would that still work?

[2020-07-20 10:02] aleyda commented on #908
Hi @rviscomi - Regarding the Rendering constrains: I see that @Tiggerito wanted to ask you something and then also saw today @ipullrank had some ideas about the rendering constraints, but seems that we can't tag you on the [Google Docs comment here. ](https://docs.google.com/document/d/1q83OZAEd_oYtqwCQ1qkkpZ52T9BLPwkIMDEhXb--Xv8/edit?usp=sharing) - Could you please check it out? Thanks again for

[2020-07-20 10:27] Tiggerito commented on #908
I don't think I replied to this one (🍷 warning) the data does actually segment via tablet. I removed it because that's what they did before. I've added all devices back. They may have removed it as all other data sources only segment via mobile/desktop.

[2020-07-20 10:42] sboukortt commented on #916
Hi, I am one of Jyrki’s reports and I would be happy to contribute, whether as a coauthor or as a reviewer.

[2020-07-20 11:03] mo271 commented on #916
Hi, I am also one of Jyrki's report and would also like to contribute.

[2020-07-20 11:04] veluca93 commented on #916
I also work with Jyrki and would like to contribute.

[2020-07-20 11:11] aleyda commented on #908
@Tiggerito thank you! Yes, if it's possible it would be great to have the tablet segment for the Core Web Vitals :)

[2020-07-20 11:31] nrllh commented on #906
@bazzadp

I'll update the list.

WASM chapter is closed and I think, it's better to have it as a category here, we want to also share some stats about WASM's usage (vs. usage by crypto-miner).

We have them in the table `technologies` as:

- Web servers
- Programming languages
- Databases
- Reverse proxies
- Operating systems
- Web server extensions

We may also include the categories `CMS`, `Blog

[2020-07-20 11:32] aleyda commented on #908
Hi again @obto - when going through the video inclusion/optimization we were wondering about the best method to identify their usage as unlike the images, the video tag is not used in most cases as videos are inserted using third party embeds, like YouTube, Wistia, Vimeo, etc. Should we look for these scripts inclusions to verify the usage? We were wondering how is this done in the Media chapter w

[2020-07-20 11:38] antoineeripret commented on #908
Hi @obto, another question for you: can we define where (in your BQ dataset) this data will be imported? Just to know how to access this information and include it in our queries with @Tiggerito.

Thanks.

[2020-07-20 12:11] tpiros commented on #900
@obto I'll be working on the outline this week.

[2020-07-20 12:18] logicalphase commented on #912
If need an author for this I can step up. Just let me know.

[2020-07-20 12:24] tomayac commented on #912
@logicalphase Thanks a *ton* for the kind offer. Maybe @christianliebel would be interested, too? Both: this is of course still pending Rick's OK to go ahead, since the initial deadline was not met.

[2020-07-20 12:25] tomayac commented on #912
Related: https://github.com/HTTPArchive/bigquery/pull/84/ and https://github.com/HTTPArchive/httparchive.org/pull/206 as part of the to-be-analyzed data.

[2020-07-20 12:39] logicalphase commented on #912
Sure @tomayac, open to working with @christianliebel if it's a go. I'll keep an eye out for updates.

[2020-07-20 14:42] obto commented on #912
@tomayac I'll discuss with @rviscomi and get back to you. If the chapter is brought back, however, there wont be time to add any new [custom metrics](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Analysts'-Guide#almanac-custom-metrics-and-udfs). Since there's a hard deadline for those to be added is the end of this week.

[2020-07-20 15:00] obto commented on #900
@tpiros sounds good. Remember the deadline to add [custom metrics](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Analysts'-Guide#almanac-custom-metrics-and-udfs) is the end of this week. So I'd focus on working with @smatei so you can figure out if you need to write any new ones

[2020-07-20 15:13] obto commented on #908
@aleyda If i recall correctly, we did not detect videos from the HTML precisely for this reason. Instead we analyzed the requests the browser made and checked if the mime type of the file was for a known video format. Here's a link to the [Media chapters queries](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/sql/2019/04_Media)

[2020-07-20 15:55] rockeynebhwani commented on #914
@jrharalson  @drewzboto

As discussed on Friday, it will be good to know how many eCommerce sites have app presence on App store of Play store. We can try to find out this with help of META tags and presence of app links found typically in website footer. This analysis can also highlight missed deep linking opportunities by site. So, this is my proposal.

So, Question we will answers are -
- What

[2020-07-20 16:09] christianliebel commented on #912
If it makes sense to have this chapter in the almanac based on the metrics available, I’d be happy to help. @tomayac @logicalphase

[2020-07-20 16:14] rviscomi commented on #916
Thanks everyone! Per our email, I'll set @mo271 as the content team lead. You'll be the point of contact for the chapter and help keep it on schedule.

I see you're all already invited to the [doc](https://docs.google.com/document/d/1o0dJCLv3mRJ5NudHrv4xj918dOY6ioes5fFnon9W6xI/edit?usp=sharing). The outline is due today, but you've all just joined the project so please try to get it written ASAP.

[2020-07-20 16:21] tomayac commented on #912
Awesome, so at least the author question would be resolved. Thanks, *both*, for volunteering 👏! Now we just need to see if the organization question can be resolved, too.

[2020-07-20 16:24] obto commented on #912
@christianliebel are you interested in being the lead author of this chapter?

For details on what being an author entails, we've written a short guide which should answer most questions you have: https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Authors'-Guide. Happy to answer any other questions you may have.

[2020-07-20 16:24] AppleTsai commented on #923
Hey, I'd love to put my hands in chinese translation as well. *v*

[2020-07-20 16:25] alexdenning commented on #915
Alrighty, outline is ready! Built on last year's topics, but as I'm not a developer I've taken out a couple of more technical items I'm not qualified to write about. Couple of talking points on the doc: I'd like to explore _why_ a bit more this year, and would also like to look at feasibility of understanding environmental impact.

Happy to discuss, and looking forward to next steps!

[2020-07-20 16:26] rockeynebhwani commented on #914
I have tried to re-use a query provided by @rviscomi to me on another thread but this gave me only 1 result for Android App and 0 result for iOSApp (I am just checking for META tags currently).. will have to see what's wrong with this as I don't believe adoption of META tags is this low

[code]

[2020-07-20 16:29] rviscomi commented on #912
+1 thanks everyone for stepping up! If we can get all three author/reviewer/analyst roles filled then we'd be able to get this chapter back in the lineup.

@logicalphase as you're already coauthoring the PWA chapter, would you be open to taking the reviewer role?
If @christianliebel agrees to taking the lead author role, that would only leave the analyst role. @tomayac would you be open to that an

[2020-07-20 16:35] aleyda commented on #908
Thanks @obto! This is interesting indeed, @antoineeripret @Tiggerito could you please see if we could do the same for validating the the existence of videos? And then besides this it would be to check the usage of the VideoObject structured data :)

[2020-07-20 16:35] logicalphase commented on #912
Sure @rviscomi, I'd be happy to review it. No problem.

[2020-07-20 16:45] christianliebel commented on #912
@obto @rviscomi Author role is fine for me. 👍 I don’t have any questions right now, but I’m pretty sure they'll show up on the way.

[2020-07-20 16:47] rviscomi commented on #912
@christianliebel great to have you on board! I've just set up your [chapter doc](https://docs.google.com/document/d/1rPyoVaWmKUHvB7HGhtQpapAT4W9lF1wzF_hJHRoXou8/edit?usp=sharing) so you can start planning the outline. I don't have your email, so please request edit access to get started.

@logicalphase please also request access to add your review.

[2020-07-20 16:52] rviscomi commented on #898
Adding myself as an analyst to help this chapter out.

@HTTPArchive/analysts is anyone else available to share the analysis for this chapter?

[2020-07-20 17:32] cheneytsai commented on #910
Thanks @spanicker! I'd be happy to review any portions of this.

If needed, I could also co-author as content requires (but will defer to other nominees on this thread).

[2020-07-20 17:49] bazzadp commented on #923
Would love to have you @AppleTsai ! Can you and @chengxicn coordinate on #1067 and split up the work appropriately? Tag me on that issue with any questions!

[2020-07-20 18:03] rviscomi commented on #908
Thanks for the ping. I've replied to the rendering thread. I already get notifications for all comments so that might be why you couldn't @ me in the doc.

Regarding Majestic Millions and other ranked datasets, I want to urge caution that new datasets added to the [methodology](https://almanac.httparchive.org/en/2019/methodology#tools) should be reviewed first. We've avoided approximating site pop

[2020-07-20 18:06] j9t commented on #899
Quick status update:

* We have a private Slack channel #markup-2020 now. @zcorpan, @matuzo, I couldn’t find you in Slack yet but please hit me up so to add you—the same applies to everyone who would work with us. (It’s a private channel as public feedback can already be covered here.)

* The metrics section seemed in need of refinement. I set up a [spreadsheet to be clearer](https://docs.google.c

[2020-07-20 18:26] rviscomi commented on #899
@HTTPArchive/analysts this chapter is in need of your help!

[2020-07-20 19:19] dooman87 commented on #898
@rviscomi I'd like to help out. This is my first year, so I would need a bit of guidance. I got BigQuery part, but still learning what other things analysts do :)

[2020-07-20 19:34] max-ostapenko commented on #901
Sent a file access request.

[2020-07-20 19:48] rviscomi commented on #898
Great thanks @dooman87! Can you request access to the [doc](https://docs.google.com/document/d/1Cy9acip1ZQScoQEeds5-6l1FFFBJTJr4SheZiQxbj-Q/edit?usp=sharing) so we can help triage metrics as they get planned?

[2020-07-20 19:58] denar90 commented on #878
Hey @ahmadawais @rviscomi I'm a bit late for the party but will be happy to contribute more as reviewer and analyst. Moreover, do you have open spot for co-authoring? I'd suggest @remotesynth for that role. He has awesome experience in Jamstack area, writing stuff etc.

[2020-07-20 20:20] chengxicn commented on #1067
start  translating language specific templates directory.

[2020-07-20 20:25] bazzadp commented on #1067
We found it best to put your name besides the parts you are doing on the first comment to tell others not to look at that one. I’ve done that with `base.html` as an example. Feel free to remove it from there and/or add your name to others you are working on so @AppleTsai knows to work on other ones.

[2020-07-20 21:47] rviscomi commented on #1052
Are you interested in prototyping the color idea? Anything else worth exploring?

[2020-07-20 21:51] LeaVerou commented on #1052
Potentially.
Let's flesh out which stats we're studying first, and then let's see which of those would be best represented by an interactive visualization.
And we need to make sure it's feasible too.

[2020-07-20 21:59] tomvangoethem commented on #906
For cryptominers, I assume that we will base this on URL patterns, i.e. only consider known cryptominers? Are there any metrics on CPU usage when the site is visited? Could be useful to figure out if the cryptominer was started from the start.

I would suggest to change the "Information Leakage" section to "Outdatedness". Showing which version of web application you're running is not really leakin

[2020-07-20 22:02] rviscomi commented on #906
FYI we have access to the [cryptominers](https://www.wappalyzer.com/technologies/cryptominers) technology detection from Wappalyzer.

[2020-07-20 23:04] tomvangoethem commented on #906
I tried to add a bit more structure to the outline to make things more generic; I think it makes it easier to reason about things. Let me know what you think; should I add it to the doc?

- Introduction
- Methodology
- Transport Security
  - TLS usage
  - TLS implementation details
    - Protocol versions
    - Certificate Authorities
    - Forward secrecy
    - Cipher suites
  - Browser enforceme

[2020-07-20 23:13] tomvangoethem commented on #906
For custom metrics, maybe we also want to extract all `<meta http-equiv="...">` elements?

[2020-07-20 23:50] ahmadawais commented on #878
Welcome aboard @denar90 as an analyst. Sure contributions are welcomed from anyone. Check the draft doc.

[2020-07-21 00:12] rviscomi commented on #906
@agektmr had some ideas for detecting WebAuthn via feature counters.

Eiji, let us know if `CredentialManagerGetPublicKeyCredential` and `CredentialManagerGetWithUVM` are the right ones to look for.

[2020-07-21 00:14] max-ostapenko commented on #1061
@patrickhulce Does 'Septemeber cut' mean that it will be available on 2020_09_01?

[2020-07-21 00:18] rviscomi commented on #906
@tomvangoethem this looks like a great list! I think it's a good idea to add it to the [doc](https://docs.google.com/document/d/1voVozbhlNMz1kAChwxlDYTVg43-EFDrDA7XIbTkcQgg/edit?usp=sharing) to make it easier to comment/iterate on specific parts.

[2020-07-21 00:30] cqueern commented on #906
@rviscomi is there such thing as too much content? Or is that a question for later in the process?

[2020-07-21 00:38] rviscomi commented on #906
Good question @cqueern. I think it's ok to have a lot of content, as long as the content team has the bandwidth to support writing/reviewing/analyzing it. Here's how the chapters looked last year in terms of length:

![image](https://user-images.githubusercontent.com/1120896/87999310-6087bd80-cac8-11ea-8c3c-5c581da619ad.png)

[2020-07-21 00:54] rviscomi commented on #902
@HTTPArchive/analysts this chapter needs your help!

[2020-07-21 01:07] edmondwwchan commented on #906
Like the @tomvangoethem's idea on how we can organize the materials. From the 2019's introduction we have the goals for this chapter:
- current status of security on the web
- availability of features to protect site operators and users
- adoption of these new features across the web

From my point of view, "Drivers of security mechanism adoption" is more like a methodology to explain why a securi

[2020-07-21 02:56] LeaVerou commented on #898
It just occurred to me that we could get HUGE insight about what CSS needs by analyzing Sass stylesheets!! We can find them from sourcemaps! Would this be possible @obto @rviscomi??

[2020-07-21 03:29] AbbyTsai commented on #1067
Thanks your warm markers and tips.

[2020-07-21 05:45] LeaVerou commented on #898
In other news, I've been looking into Rework CSS to see what kind of information its AST gives us. For anyone else who wants to experiment, I've made an [online playground here](https://codepen.io/leaverou/pen/xxZmWvx).
You can also [use it as a template](https://codepen.io/pen/?template=xxZmWvx).
It appears like it's doing rather loose parsing, which is good on one hand because it does not need t

[2020-07-21 05:47] LeaVerou commented on #898
It just occurred to me that we could get HUGE insight about what CSS authors need by analyzing Sass stylesheets! We can find URLs to Sass files from the CSS files that have sourcemaps and there is a [JS-based Sass parser](https://github.com/medialize/sass.js/). This will give us insight not just into the current state of CSS, but perhaps more importantly, its future.

@HTTPArchive/analysts @obto @

[2020-07-21 09:10] tpiros commented on #900
I love this analysis from @dougsillars - something we should consider as well: (thread) https://twitter.com/dougsillars/status/1284743030499680257?s=20

[2020-07-21 11:57] tpiros commented on #900
@smatei what's the best way to reach you?

[2020-07-21 12:38] remotesynth commented on #878
As @denar90 mentioned, I am happy to help however I can.

[2020-07-21 14:14] Tiggerito commented on #908
Looks likes they collected a video count from lighthouse data (04_01) as @obto said via mime types. I could duplicate that.

[2020-07-21 14:25] patrickhulce commented on #1061
No it would mean it would be available shortly after the September run of HTTPArchive completes, usually around 3rd of 4th week of the month.

[2020-07-21 14:59] nrllh commented on #906
@tomvangoethem well done. I added it for you to doc, with some additional points and comments.

cc @cqueern @bazzadp @edmondwwchan @AAgar

[2020-07-21 15:20] obto commented on #907
@oluoluoxenfree Can you give us an update where you are with the outline for the chapter? The deadline for adding new metrics is the end of this week, and we really need the outline done first.

If we miss the deadline, we might not have time to add all the new metrics by the time the crawler starts on Aug 1st... which means we'll have to scrap the new metrics we'd have liked to analyze

[2020-07-21 20:40] oluoluoxenfree commented on #907
Hi,

Bringing @@alextait1 onboard as a co-author and she's helping me nail things down a bit; will have an outline by the end of today. Been a strange couple of weeks for me, sorry for the lack of communication.

[2020-07-21 20:51] alextait1 commented on #907
Hello from Toronto, happy to help

[2020-07-21 23:39] rviscomi commented on #907
Thank you for checking in @oluoluoxenfree, hope all is well.

@alextait1 it's great to have you! I've just given you edit access to the doc and sent you an invite to join the 2020 Authors team on GitHub - you can accept via email or by visiting https://github.com/HTTPArchive. Also please add yourself to the [Contributors](https://almanac.httparchive.org/en/2020/contributors) page on the website by

[2020-07-22 00:38] rockeynebhwani commented on #914
@drewzboto - Looking at Mobify, can we imply if a site is eCommerce? Are all clients of Mobify eCommerce clients? If yes, it can improve detection of eCommerce category for sites like - https://www.debenhams.com/

[2020-07-22 00:40] rviscomi opened #1074 "Team name word wrapping in Japanese Contributors page"
For example, some [contributors](https://almanac.httparchive.org/ja/2019/contributors) are members of multiple teams and the team names span multiple lines:

![image](https://user-images.githubusercontent.com/1120896/88120781-c12efd00-cb91-11ea-8fc5-c05baacdb8d5.png)

On Katie and Una's tiles the team `ブレインストーマー` is broken up onto multiple lines. Would it make more sense in Japanese to set the `wh

[2020-07-22 00:59] rviscomi opened #1076 "Tweak the contributors "Join the team" SVG"
Small nit: could we edit the speech bubble SVG in the "Join the team" tile so that the pointed line at the bottom of the bubble is pointing in the direction of the character's mouth, rather than its hand?

![image](https://user-images.githubusercontent.com/1120896/88121856-fee15500-cb94-11ea-97e6-a49b7781fc54.png)

cc @catalinred

[2020-07-22 01:30] alankent commented on #914
For other sites we have talked to the platform and asked if they would like to create the Wappalyzer rule.

[2020-07-22 01:34] rockeynebhwani commented on #914
@alankent - @drewzboto works for Mobify.

Also, as Wappalyzer is open source.. any technology can be added by anybody.. isn't it ? I am not aware of any opt out mechanism but as a courtesy good to ask. Is this what you are implying ?

[2020-07-22 01:38] alankent commented on #914
It is both courteous and potentially more reliable (and maintained when the platform changes). It also avoids situations where "brand X looks bad because person Y did a bad job of the sensing rule".

[2020-07-22 01:45] rockeynebhwani commented on #914
Makes sense. Will take this approach if we can get hold of somebody in concerned org.

[2020-07-22 02:50] Tiggerito commented on #908
Hi @rviscomi,

How far did you get with this? I've just submitted a [pull request](https://github.com/HTTPArchive/legacy.httparchive.org/pull/171/files) with a new structured-data property. At the moment it just counts json-ld scripts and parses them for error. But my plan is to dig in a bit more as well as gather data from other formats like microdata.

I know a bit about SD and processing it wit

[2020-07-22 04:58] drewzboto commented on #914
yes all our clients are ecommerce (in the broader sense, transactions happen online even for travel, telco and other sites. I can add a PR to detect both our x-powered-by header and a script/js method for our two different ways of implementation

[2020-07-22 04:59] smatei commented on #900
@tpiros I have answered you on slack.

[2020-07-22 06:43] rviscomi commented on #898
We're limited to whatever resources are served over the network during the page load. IIUC sourcemaps only point to the source stylesheets, but they're not actually served with the page, so we wouldn't have the sources in the dataset :(

Great, the team would be happy to have you! Let @paulcalvano or me know when you decide and if you need any help getting started.

[2020-07-22 07:16] tungpatrick commented on #909
Hey @hemanth! I sent a quick DM on slack, but I feel like that might not have been the best place to reach out to you, so I'll type here. I'm not really sure how to proceed at the moment. So I'm not sure about the procedure for the web almanac as I'm fairly new to this whole thing. I can see that you have drafted up an outline for the chapter, so yay! But my question now is... am I supposed to gen

[2020-07-22 07:24] chengxicn commented on #1067
Submitted first PR,but there are some errors(from 311) in accessibility.md check https://github.com/HTTPArchive/almanac.httparchive.org/pull/1072/checks ,  but I only translated  front content，not sure why there are hard tabs can't pass the check yet. So have to delete accessibility.md  and submitted a new PR again.

[2020-07-22 07:24] rviscomi commented on #909
@tungpatrick once the outline has been finalized, the next step is for you to work with the authors to understand what metrics they need to substantiate the content. Ask questions in the doc if any content in the outline is unclear. Use the "Metrics" section of the doc to compile the list of metrics that would need to be queried. Most importantly, identify which metrics are candidates for [custom

[2020-07-22 14:11] ahmadawais commented on #878
That's awesome @remotesynth — would love to have you as an analyst — I have made the changes in the first comment and the [draft doc](https://docs.google.com/document/d/1bz5b2iXTvz3hlaLQQCB0fhwx7A-nqLLRCauQHAkVsJA/edit) to reflect that. Your insights into the JAMstack community are most welcomed.

[2020-07-22 14:13] ahmadawais commented on #878
@denar90 and @remotesynth take a look at these deadlines for the

[2020-07-22 15:05] remotesynth commented on #878
Ok. The 27th is coming up fast. Reading up on this thread, I don't see any decisions having been made on metrics...is that correct?

I am new to this process, but how are we determining what qualifies as a Jamstack site? We've dug into this a bit at Stackbit and have found some ways to determine sites built with certain engines with a reasonable amount of accuracy, but it is still a relatively sma

[2020-07-22 16:17] AbbyTsai commented on #902
If there is still a fun seat availabe to newbie in sql, then I'd love to jump in as analyst. ^y^

[2020-07-22 16:19] rviscomi commented on #902
Yes please, thanks for stepping up @AbbyTsai!

[2020-07-22 16:30] rviscomi commented on #908
@Tiggerito where did that quote come from, and was it from me? 😅

[2020-07-22 17:28] LeaVerou commented on #898
I reached out to @obto over email, as I was keen to get a response asap, due to the tight timeline, and he said it may be possible:

Is there a document detailing how the crawler works? E.g. if it can run dev tools, then sourcemaps would be fetched.

Sure, here you go: https://codepen.io/leaverou/pen/PoZVeeE
I can check if there are any major changes, do you know which commit yours was forked from

[2020-07-22 17:36] rviscomi commented on #898
https://almanac.httparchive.org/en/2019/methodology#tools is the best doc we have on the crawl tech. At its core, it's powered by WebPageTest. As of now I haven't found a reliable way to instrument it for HTTP Archive to load arbitrary resources in a way that doesn't interfere with the site's loading performance.

Thanks! Looking at https://github.com/reworkcss/css/tags it seems like 3.0 was relea

[2020-07-22 18:00] Tiggerito commented on #899
I'm doing analytics for SEO and noticed there is quite an overlap in the metrics needed. I could help by including what you need in the metrics we gather. e.g. we already get all link and meta tags which would cover some of your requirements. We also gather data on links, hXs and images.

[2020-07-22 18:14] rviscomi commented on #899
Thanks @Tiggerito! Can I put you down as this chapter's designated analyst, or are you only able to help with custom metrics? The custom metrics are the highest priority so even that would be greatly appreciated.

[2020-07-22 18:18] Tiggerito commented on #908
@rviscomi I tagged the wrong name. It was from @rockeynebhwani 🤦‍♂️

@rockeynebhwani could your read this post...
https://github.com/HTTPArchive/almanac.httparchive.org/issues/908#issuecomment-662211100

[2020-07-22 18:21] tungpatrick commented on #909
@rviscomi Thank you for the clarification. Unfortunately, I think it would be a little difficult for me to implement any custom metrics, but I'll reach out for help if needed.

@hemanth I'd love to schedule a time with you to understand what metrics you'd like to use for the content of this chapter.

[2020-07-22 18:23] rsheeter commented on #902
Happy to help out if I can.

@svgeesus, for web font usage it looks to me like 76% of pages load (though not necessarily use) fonts based on the % of pages with 0 font requests having an upper bound of 24% in the requests/page histogram on https://almanac.httparchive.org/en/2019/fonts#how-many-web-fonts-are-too-many. That doesn't tell you % sites (how do we define site? can/should we care about si

[2020-07-22 18:23] Tiggerito commented on #899
Put me down. With my metrics and SQL pull requests (getting big), should I add in what's needed with this chapter?

[2020-07-22 18:27] Tiggerito commented on #908
FYI. I just volunteered to be the analyst for the Markup chapter 🤦‍♂️. There's a lot of overlap in the metrics, so it makes sense to add what they need to what we already get. It may also make me aware of other things of interest to us.

[2020-07-22 18:46] catalinred commented on #1076
I'll give it a try!

[2020-07-22 19:28] hemanth commented on #909
Sorry @tungpatrick missed your ping on slack, sure let us catch up and discuss further.

[2020-07-22 19:29] rviscomi commented on #899
Great thank you! Yes, feel free to bundle SEO and Markup custom metrics into a single PR if needed.

[2020-07-22 19:30] rviscomi commented on #909
@tungpatrick that's ok, let's see if any custom metrics are needed (maybe none) and I'm sure we could find another analyst to help if needed. Please ping me or @paulcalvano if that's the case.

[2020-07-22 19:36] Tiggerito commented on #899
Great, I'll rename the pull requests to reflect that.

[2020-07-22 20:02] j9t commented on #899
Great to have you here, @Tiggerito!

Going through the [metrics sheet](https://docs.google.com/spreadsheets/d/1MqMNHuXzZP54qP-OmYbk5cevVf6FQpQza4GbKQMyq9A/edit#gid=0) I think we transferred almost all data, which I crossed out in [the doc](https://docs.google.com/document/d/1m1YvDqWgZfqmcmAEkCnXncIJwsM1QCu6Rv7aPWjG1Ms/edit). @ibnesayeed, @catalinred, can you check on and move the few items that do

[2020-07-22 20:49] rsheeter commented on #902
On a per-page basis I got this from the bigquery tables (ty @rviscomi for fixing my original query)

![Web font usage](https://user-images.githubusercontent.com/6466432/88227220-203c5280-cc22-11ea-9ecb-36e6e75f8004.png)

The data and query can be seen in https://docs.google.com/spreadsheets/d/1N5oaO5Sgod70VSplx521E7lkiPww97cOxd7iBD7GLkc/edit?usp=sharing.

[2020-07-22 21:00] Tiggerito commented on #899
Hi @j9t and all,

I'll read through stuff to get myself up to speed and see if anything was missed.

I've already pulled over the old SQL scripts. That helped me get a grasp what was done last year, and an idea on what can be done.

First glance on the metrics sheet and I think we may have a few that are not viable. Mainly on the checking validity and style of the html. Most of our data comes from

[2020-07-22 21:18] AAgar commented on #906
@edmondwwchan  As for bad security practices, a few of the metrics might have overlap with current status of security on the web and available features, e.g. RSA vs ECDSA could be considered better security but it'd fall under current status (percentage type result), yet we could also classify using primarily RSA as a bad security practice.

[2020-07-23 04:03] ahmadawais commented on #878
@remotesynth that's a real issue. I was hoping we can focus on at least five popular JAMstack engines like Next.js, Jekyl, Netlify and try to search for things unique to them.

There's a plan of content in the [draft doc](https://docs.google.com/document/d/1bz5b2iXTvz3hlaLQQCB0fhwx7A-nqLLRCauQHAkVsJA/edit) but definitely need your help in deciding on how to analyze and search for the data.

[2020-07-23 04:33] arpansac commented on #924
Super interested! 😃
Are you still taking people in the team?
@bazzadp

[2020-07-23 04:45] rviscomi commented on #969
@bazzadp any other languages we should target for this page?

[2020-07-23 06:17] Tiggerito commented on #899
I've gone through the spreadsheet and added a few new columns and comments/questions.

[2020-07-23 06:54] catalinred commented on #899
Thanks @Tiggerito, should I add my thoughts/answers to the same Analyst column? Would that be ok to you?

[2020-07-23 07:09] bazzadp commented on #924
Yes @arpansac - the more the merrier as far as developers are concerned! I've sent you an invite which means you'll be able to self-assign any of the [good first development issues](https://github.com/HTTPArchive/almanac.httparchive.org/issues?q=is%3Aissue+is%3Aopen+label%3Adevelopment+label%3A%22good+first+issue%22) so grab one of the issues that takes your interest! Then clone the repo locally,

[2020-07-23 07:17] bazzadp commented on #969
As many as we can! @HTTPArchive/translators to add more languages we'd been the following templates at a minimum translated from English to your language:

- `src/templates/en/2019/base.html`
- `src/templates/en/2019/index.html`
- `src/templates/en/2019/contributors.html`
- `src/templates/en/2020/index.html`
- `src/templates/en/2020/contributors.html`

They're all quite small - certainly a lot sma

[2020-07-23 07:33] arpansac commented on #924
Thanks! Already browsing the issues :D

On Thu, Jul 23, 2020 at 12:40 PM Barry Pollard <notifications@github.com>
wrote:

[2020-07-23 07:42] mcmd commented on #969
I can take the ES temp 2020 landing page

[2020-07-23 07:45] edmondwwchan commented on #906
@AAgar we may want to explicitly highlight our goals in the introduction section including the discussions of the current status as well as the bad practices, and both of which should be driven by and sharing the metrics and measurements we settled for this year.

Btw, IMHO I would say RSA is still doing its job and perhaps it's hard to say it's a kind of bad security practice.

[2020-07-23 08:01] bazzadp commented on #906
I'd agree with that. RSA keys are (as far as I understand) equally secure as ECDSA as long as (the standard) larger key sizes are used. ECDSA (and more importantly serving both) is still not universally supported and is complicated to set up.

RSA versus ECDHE for key exchange mechanism is different however if you meant that? Chrome already flags such sites as using "obsolete connection settings"

[2020-07-23 08:39] tunetheweb opened #1079 "Should we add an RSS Feed?"
I don’t use RSS myself but understand some do. Would provide a way of notifying subscribers when 2020 content goes online.

It would be very simple to set up the XML file to list articles, similar to the sitemap, though it would more complicated (and bigger!) to include full content [as some prefer](https://twitter.com/sarasoueidan/status/1061577409340809216?s=21).

Also what to do with translatio

[2020-07-23 09:47] Tiggerito commented on #908
So far I have added a lot of code to gather the metrics asked for. I'm not sure how we are going to review/test it to make sure it covers the requirements and fully works. There's a lot of logic and chosen data based on my own understanding of things. 7 days to go 😲

The pull request now indicates what's implemented and what I think I need to do:

https://github.com/HTTPArchive/legacy.httparchive.

[2020-07-23 10:20] max-ostapenko commented on #1079
RSS is definitely preferred  option when compared to newsletter.
And RSS per language is the way to go for sure.
But since the nature of Almanac is a yearly batch release there is no updates the rest of the year.
The content should be constantly be released for RSS to have some value.
Am I missing some regular content updates that currently happen?

[2020-07-23 10:38] bazzadp commented on #1079
Well informing people the 2020 edition is launched would be a good use of it. Most readers may see it launched on Twitter and the like but not all readers.

And for the translations they are released much more sporadically as each chapter is translated rather than in one big bang like English so do think there is value for those.

But, as I say, I personally never got into the whole RSS thing myse

[2020-07-23 10:57] catalinred commented on #908
https://blog.chromium.org/2019/10/no-more-mixed-messages-about-https.html

Would mixed content be a good addition to this chapter?

I made a quick search of the doc and wasn't able to find anything related. We know that Chrome blocks mixed content therefore this might affect UX, CTR, and therefore SEO. Oh, and we have [this Reddit answer](https://www.reddit.com/r/TechSEO/comments/fjts7x/chrome_rec

[2020-07-23 11:05] aleyda commented on #908
This is a great call @catalinred - and something I thought I had added along the HTTPS Usage but at the end didn't! Thanks for pointing out. Let's see what @Tiggerito and @antoineeripret say about viability to get this data and if it's possible, add it too :)

[2020-07-23 11:21] bazzadp commented on #908
Was measured in Security chapter last year: https://almanac.httparchive.org/en/2019/security#mixed-content so definitely viable.

Probably still belongs there more so than this chapter IMHO as, AFAIK, there is no direct SEO impact of mixed content per se.

Fine to have it in both chapters if important to both but, at the same time, do want to concentrate on what’s really important in each chapter’

[2020-07-23 11:28] aleyda commented on #908
Thanks @bazzadp  - Really appreciate your feedback!

What do you think about this @ipullrank @fellowhuman1101 @Tiggerito @antoineeripret?

[2020-07-23 11:36] Tiggerito commented on #908
I'm happy to let the Security guys work it out 😉

[2020-07-23 12:37] remotesynth commented on #878
I have to understand the nature of the data we're working with but Gatsby should be easy to determine via the script. Jekyll and Hugo both put meta generator tags that we can use I believe (11ty does not as far as I can tell). Assuming that is something we can query, it shouldn't be difficult. Next and Nuxt are complicated because I don't think there's an easy way to determine if a site is using S

[2020-07-23 14:27] GregBrimble commented on #915
Hello! I'd love to volunteer as an analyst, if you are still looking for people to join. It would be my first year contributing to the Web Almanac, and I'd be happy to help in any way that I can 🙂

[2020-07-23 14:45] gregorywolf commented on #921
Hi. Quick update. I have updated all of the HTTP 2019 SQL queries. I have not submitted a PR yet. Once the sample_data tables are completed/finalized, I will start testing to make sure the output looks as expected. At that time I will submit a PR. I would be interested to know if anyone has any ideas on what data would be interesting that is above and beyond what was extracted last year.

[2020-07-23 14:57] rviscomi commented on #915
Thanks @GregBrimble great to have you! Here are some resources to get you up to speed:

- [last year's CMS chapter](https://almanac.httparchive.org/en/2019/cms)
- [last year's CMS queries](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/sql/2019/14_CMS/)
- [this year's CMS chapter outline/draft](https://docs.google.com/document/d/1XL87z5MOk7QDLhpFsaMWT3DaIXdOQV32qs57noGwDVQ/edit?u

[2020-07-23 15:08] rviscomi commented on #921
@gregorywolf check out the [analyst workflow](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Analysts'-Guide#analysis-workflow) doc if you haven't already. It may be helpful to create the PR now as a draft, and use it to keep track of metrics already implemented vs those not yet implemented using a markdown checklist. (steps 4 and 5)

Do any of the 2020 queries require custom metrics?

[2020-07-23 15:14] dotjs commented on #921
There are some interesting ideas that may or may require some digging into the HARs. @rviscomi Is there any precedent for this ? For example I'm interested in measuring multiplexing concurrency, concurrent connections etc. @gregorywolf Happy to chat through the metrics whenever you are ready.

[2020-07-23 15:33] rviscomi commented on #921
Could you clarify? Not sure if you're asking if any chapter has looked at the HAR data before or only if this is new for the H2 chapter.

[2020-07-23 16:29] rviscomi opened #1082 "Optimize home page contributor section for 3 digits"
We have a good problem this year of having over 100 contributors. The 2019 edition had "only" 92 contributors, so the UI only had to handle 2 digits. By expanding to 3 digits in 2020, some of the [contributor section](https://almanac.httparchive.org/en/2019/#contributors) styles may need to be optimized. As we continue to add translations of the 2019 edition, it may also end up exceeding 100 contr

[2020-07-23 16:46] rviscomi opened #1083 "Add contributor section to 2020 landing page"
Now that we've published the 2020 [Contributors](https://almanac.httparchive.org/en/2020/contributors) page, we could add the related section to the [landing](https://almanac.httparchive.org/en/2020/) page to highlight the number of contributors.

Not having a "featured chapter" section makes the design a bit awkward because there's not a lot of room below the angled header background graphic. I'v

[2020-07-23 16:52] rviscomi opened #1084 "header::after background causing phantom glitches"
Manipulating the page zoom causes a phantom bar to appear sometimes. In the screenshot below it appears in the middle of the featured chapter section when setting the zoom to 75%:

![almanac httparchive org_en_2019_ (1)](https://user-images.githubusercontent.com/1120896/88314412-e41cf680-cce2-11ea-8034-041f6e224f7b.png)

I've traced it to the `header::after` style.

https://github.com/HTTPArchive/

[2020-07-23 17:04] bazzadp commented on #1084
To be honest we could probably just drop this. It was added in an abundance of caution in case the SVG didn't load as then had white text on white background which was obviously unreadable. But as it's base64 encoded to be inlined to the CSS, and as [SVG has great support](https://caniuse.com/#feat=svg-css), it's very unlikely it won't be loaded. And the main `header.alt-bg` class has a couple of

[2020-07-23 17:07] bazzadp commented on #1083
To save redesigning this, what about something else in the Featured Quote section instead?

What about quotes/praise about the 2019 edition? Didn't you have a list somewhere?

[2020-07-23 18:12] rviscomi commented on #1083
That'd require some redesigning of the feature chapter section too, but that also works for me. Let me know which approach you'd prefer.

[2020-07-23 18:44] j9t commented on #899
Thanks @Tiggerito, @catalinred!

What's the most pressing we need right now?

(I’m a bit behind in terms of reviewing and working on the metrics again but it’s #1 on my list.)

[2020-07-23 18:51] rviscomi commented on #899
Yes, if I understand the question correctly, you can use the results of the metrics triaging to revisit the chapter outline and adjust as needed. The biggest rush is accounting for any custom metrics that need to be added before the August 1 crawl. You could continue revising the outline throughout August before the analysis is done. It's a good idea to lock in the scope of the chapter for the sak

[2020-07-23 20:17] #1076 closed

[2020-07-23 20:29] catalinred commented on #899
- In my opinion, we should first decide on the approximate chapter categorization.

- After deciding on the matter above, we need to carefully study all the suggested metrics in the sheet and decide which one are really important, as we might need extra help from the @HTTPArchive/analysts team because @Tiggerito said he might not have enough time to invest in all the metrics we're looking for.

[2020-07-23 20:39] rviscomi commented on #915
I've triaged all of the metrics in the outline and no custom metrics are needed, so this chapter is ready to go!

[2020-07-23 21:07] max-ostapenko opened #1086 "Add releases in a repo"
Mark every new content release (e.g. version 2020:JP) to be able to subscribe for releases.
Currently there is no way to learn that new localization of Almanac was released.

Hopefully can be implemented as Action.

[2020-07-23 21:15] max-ostapenko commented on #1079
Ok, let me do a step back. Is the goal here to extend the reach (increase audience) or improve communication channels with existing one?

There are three subscription channels I see now:
1 Twitter (3.6k users) - HTTP Archive updates and relevant tweets
2 GitHub (0.2k stars) - HTTP Almanac under the hood content
3 https://dev.to/httparchive/ - current HTTP Archive blog with RSS registered this year

[2020-07-23 21:41] rviscomi commented on #897
@jaisanth could you go to https://github.com/HTTPArchive to accept your invitation to the Analysts team? Also please request edit access to the [doc](https://docs.google.com/document/d/1DYx3_QbwGgyauBotbQRYU-4fmkaQFO7XcLTb7q4BqHQ/edit?usp=sharing) so you can work on metrics triaging. And if you'd like to chat with or get help from other analysts you can join us in the [`#web-almanac-analysts`](htt

[2020-07-23 21:46] bazzadp commented on #1079
But again we don’t release languages in blocks with a full translation of all chapters.

Instead it’s like this:
- Nov - English 2019 released with all chapters. Actually we didn’t even do that, as we released a number (3 I think?) of “unedited” chapters initially as didn’t have tone to copy edit them, and then removed the unedited part later once we got round to that.
- Mar 2020 - released parts

[2020-07-23 22:14] rviscomi commented on #1079
I'm not sure how useful RSS would be for annually updated content like ours. But if you think it'll help drive readership, let's do it.

[2020-07-23 22:35] rviscomi commented on #917
@roryhewitt @csswizardry @jzyang @jaisanth @raghuramakrishnan71 I've updated the content team metadata in this issue and the doc and sent everyone invitations to join their respective teams. You can go to https://github.com/HTTPArchive to accept your invites. Please also "request edit access" to the [doc](https://docs.google.com/document/d/1uzLXOrvr8yHMnEYnY1aGTjHLq_qOYnc39ZFirTmPxlU/edit) if you

[2020-07-23 22:38] rviscomi commented on #916
@mo271	@jyrkialakuijala @sboukortt @veluca93 @paulcalvano just checking on. I see that the outline hasn't been started yet. Some teams work on it in another doc, so I just want to make sure that this chapter is able to stay on schedule.

[2020-07-23 22:42] rviscomi commented on #916
@smatei can you request edit access to the [doc](https://docs.google.com/document/d/1o0dJCLv3mRJ5NudHrv4xj918dOY6ioes5fFnon9W6xI/edit?usp=sharing)?

[2020-07-23 22:49] rviscomi commented on #919
Thanks @henrihelvetica for making progress on the outline!

@tammyeverts @borisschapira @khempenius @paulcalvano I've sent you all invites to edit the [doc](https://docs.google.com/document/d/1saivit-Re3cFzWl5SBSPbs0H_cEBj6RvSgsA2tmTUuM/edit?usp=sharing). Please review ASAP so we can unblock the metrics triage by the 27th.

[2020-07-23 23:02] rviscomi commented on #910
@housseindjirdeh do you also have bandwidth to review this chapter?

[2020-07-23 23:03] denar90 commented on #897
@rviscomi @tkadlec will be happy to review :)

[2020-07-23 23:10] rviscomi commented on #906
@AAgar could you request edit access to the [doc](https://docs.google.com/document/d/1voVozbhlNMz1kAChwxlDYTVg43-EFDrDA7XIbTkcQgg/edit?usp=sharing)?

[2020-07-23 23:17] tkadlec commented on #897
@rviscomi No worries! I appreciate the help!

@denar90 Sounds awesome, thanks!

[2020-07-23 23:32] obto commented on #921
@gregorywolf Took a look over the chapter and it looks like we've got most if not all of the data you need. Can you double check though? Only got a little more time left to make changes to the Crawler to collect extra data

[2020-07-23 23:37] rviscomi commented on #907
@aardrian @ericwbailey could you request edit access to the [doc](https://docs.google.com/document/d/1Z8CVLfTQv2WRl0PUGnRFSfH5_V6qE2JUJzy2ytJ1kjU/edit?usp=sharing) so you could leave comments on the outline?

@aardrian I've also sent you an invite to join the Reviewers team. You can accept at https://github.com/HTTPArchive.

Thanks!

[2020-07-23 23:43] obto commented on #920
@khempenius Took a look through the chapter and it looks like the Crawler should be setup to get most if not all of the data you need. I saw @rviscomi ping you already, but let me know if you find any data you need that the Crawler is not tracking.

I'm working on adding new custom metrics to the crawler right now :)

[2020-07-23 23:54] obto commented on #919
@paulcalvano Took a look through the chapter and it looks like the Crawler should be setup to get most if not all of the data you need. Can you verify and let me know if you find any additional data you need tracked?

Working on adding new custom metrics to the crawler right now :)

[2020-07-23 23:58] obto commented on #917
@raghuramakrishnan71 Took a look through the chapter and it looks like the Crawler should be setup to get most if not all of the data you need. Can you verify and let me know if you find any additional data you need tracked?

Working on adding new custom metrics to the crawler right now :)

[2020-07-24 00:18] obto commented on #914
@jrharalson Took a look through the chapter and it looks like the Crawler should be setup to get most if not all of the data you need. Can you verify and let me know if you find any additional data you need tracked?

@rockeynebhwani if you decide to track which links point to an App store of some kind, we'd need to create a custom metric for that really soon. I'm working on putting new custom metr

[2020-07-24 00:22] obto commented on #913
@ydimova @max-ostapenko Noticed there are a few metrics you might need custom metrics written for (e.g., finding policy links on a webpage). Can you make a list of what custom metrics you need by EOD tomorrow?

[2020-07-24 00:28] obto commented on #910
@spanicker left several comments for you in the [Doc](https://docs.google.com/document/d/1q1eAaGr6XFVVWNshWnNZSnppGMZ8yfLJy6z4-rgvz3A/edit?usp=sharing) on Monday so I can proceed with getting the Crawler setup to track the data we need

[2020-07-24 00:31] obto commented on #909
@tungpatrick @hemanth If there are any custom metrics you need, let me know by EOD tomorrow. I'm working on implementing a large amount of them right now ([PR here](https://github.com/HTTPArchive/legacy.httparchive.org/pull/172)).

[2020-07-24 00:35] hemanth commented on #909
Sure, thanks @obto!

[2020-07-24 01:23] Tiggerito commented on #908
I'm trying to test a few things. Can anyone provide example URLs for the following:

Using canonical link in the http header
Using x-robots-tag  in the http header
Using googlebot specific x-robots-tag  in the http header
Using googlebot specific robots meta tag

etc. Especially complex examples of robots and canonical use.

[2020-07-24 03:38] rviscomi commented on #908
Just popping in to say that you all are doing an amazing job on this chapter! Really looking forward to seeing the first draft! 🚀

[2020-07-24 03:49] rviscomi commented on #900
📟 @tpiros @bseymour @nhoizey @zcorpan @colinbendell @dougsillars @smatei Friendly ping to get the outline written and reviewed ASAP (overdue since July 20). The most important thing is to instrument the crawl with any needed custom metrics by **Monday, July 27**. Thank you for helping to keep this chapter on schedule!

[2020-07-24 04:01] rviscomi commented on #902
📟 @jpamental @davelab6 @malchata @RoelN @notwaldorf @mandymichael @svgeesus @rsheeter @AbbyTsai sorry to ping everyone. This chapter is still missing an outline. If anyone has any ideas, please drop them in the [doc](https://docs.google.com/document/d/15-rYqS-FqKWD0_32LdajEg0tD1Tm0KzgTYyLF2pQK8M/edit?usp=sharing) to get it moving. We were hoping to have it completed by **July 20** 😬. The most impo

[2020-07-24 05:14] LeaVerou commented on #898
Alright, an initial chapter outline has been updated in the doc and [on Github](https://github.com/LeaVerou/css-almanac/issues/42), though we are still iterating.
I did include Sass for now, since feasibility is evaluated later, and hope dies last. 😁

[2020-07-24 05:17] Tiggerito commented on #908
And hreflang in the header.

[2020-07-24 05:36] rviscomi commented on #1016
Thanks for that perspective @bazzadp.

I promise this isn't idealogical purity; I really feel like this would unlock new capabilities for chapters while also simplifying the process for the content authors and translators. Here's how I'd imagine it working:

1. authors add a YAML quotable config to their markdown files
2. anywhere within the chapter, authors can choose where to embed the quotable

[2020-07-24 06:49] raghuramakrishnan71 commented on #917
@obto will check the same and revert.

[2020-07-24 07:40] antoineeripret commented on #908
@Tiggerito : You can have a look at https://www.simonelectric.com/ for canonical & hreflang in the HTTP Header. I'm asking around for the other cases because I'm not aware of any.

[2020-07-24 08:26] LeaVerou commented on #900
Question: would metrics like type of images used in CSS (PNG vs SVG vs ...) or linking type (embedded via data URI vs linked) be a good fit here, or would they be more appropriate in our CSS chapter?

[2020-07-24 09:35] Tiggerito commented on #908
@antoineeripret that's a great example. Helped me test quite a few things.

I now have what I think is a complete script. But I need help in validating it and double checking it's the data we need.

Here's the zipped up json output for https://www.simonelectric.com/

[simonelectric.zip](https://github.com/HTTPArchive/almanac.httparchive.org/files/4971158/simonelectric.zip)

Some things about it:

[2020-07-24 09:39] Tiggerito commented on #899
I've got what I think is an almost complete version of the script to get the data. I think there are still a few open items, but most things have been implemented.

Here is a zipped up example of the data:

[simonelectric.zip](https://github.com/HTTPArchive/almanac.httparchive.org/files/4971214/simonelectric.zip)

If you provide me with test URLs and what you expect, I can run the tests.

[2020-07-24 09:49] antoineeripret commented on #908
Wow @Tiggerito, that's pretty impressive!! Amazing work you did !!

100%, or use a color code, as you prefer :) We can start building SQL queries as the data source is defined and tested!

[2020-07-24 10:02] Tiggerito commented on #908
Cheers,

It would be great if you could take a look and see if the data format would work well for the sort of SQL queries we will make. I was not sure at times what structure would work best. i.e. object properties or arrays.

[2020-07-24 10:15] antoineeripret commented on #908
The way you did it seems perfect because we will be able to use code like the following one (extracted from https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/sql/2019/10_SEO/10_01.sql) accessing the data we need using JSON.parse. In fact, as you already included some logic in your code, the SQL/JS query will be even simpler than that!

`CREATE TEMPORARY FUNCTION hasEligibleType(payl

[2020-07-24 11:02] bazzadp commented on #1016
Wouldn’t these be better as just `<spans>` embedded in the markup and forget the YAML stuff at the top? As I say that doesn’t play nice with HTML and seems to separate the quote from the writing.

Spans could be pulled out by `jsdom` to create the featured_chapters.html file, and could also be styled yellow with CSS and have click functionality added with JS.

Doing this would also allow hidden sp

[2020-07-24 11:03] tpiros commented on #900
@rviscomi - @bseymour and I have added a draft outline. We will add the metrics as well. I have advised @dougsillars and @smatei to review the outline and hereby I am also pinging @colinbendell to add his thoughts! Thanks and I apologise for the delay.

[2020-07-24 11:09] tpiros commented on #900
@rviscomi - is it OK for us to create a #media channel on slack (HTTP Archive)?

[2020-07-24 11:56] tpiros commented on #878
@ahmadawais a few suggestions after reviewing the outline - I'm not sure if these are possible to query at all but I believe these could/would be interesting:

* Distribution of deployment platform and their global CDN coverage (Netlify v Vercel v Amplify v ?)
  * Average load time of pages deployed on CDN
* Hosted vs "Self-Deployed" CMSes

[2020-07-24 12:52] jpamental commented on #902
I've spent some time on the outline, which has started surfacing some questions that would be good to investigate. I'll get those questions more complete later today for proposed new metrics.

[2020-07-24 14:16] nhoizey commented on #900
I just read the outline, and made some comments and suggestions.

Are the metrics within brackets awaiting validation?

I think "Using picture when srcset would be more appropriate" would be really interesting and useful.

[2020-07-24 15:53] rviscomi commented on #900
@tpiros it's best to use the public GitHub issue / Google Doc to coordinate on the chapter. See Barry's great explanation in https://github.com/HTTPArchive/almanac.httparchive.org/issues/899#issuecomment-653488485 for more info/reasoning. That said, if you do need a Slack channel to be productive, I don't want to get in your way :)

[2020-07-24 16:08] j9t commented on #899
I added categories and made some other updates to the [metrics spreadsheet](https://docs.google.com/spreadsheets/d/1MqMNHuXzZP54qP-OmYbk5cevVf6FQpQza4GbKQMyq9A/edit#gid=0) that I hope are useful here, and help us get a more detailed view at what we try to do. (This is not to distract from @Tiggerito’s and @catalinred’s work, who have both added more substantial value over the last few days.)

I al

[2020-07-24 17:54] rockeynebhwani commented on #914
@obto - Yes for app store links, I was thinking of custom metric but @rviscomi or @paulcalvano  (can't remember who and I can't find thread) that it's not too difficult to query this without custom metric also. If you think we should custom metric, let's do that. It becomes easier to query with custom metric

[2020-07-24 18:20] rviscomi commented on #1016
Yeah I'm open to something like that.

FWIW I think of the quotes as the tweet text, so much shorter and to the point, like the [Twitter campaign graphics](https://twitter.com/search?q=almanac.httparchive.org%20httparchive%20chapter&src=typed_query&f=live) you linked to earlier.

Anyway, sorry @natedame for hijacking this thread. Let us know what you're thinking in terms of home page content.

[2020-07-24 20:04] rockeynebhwani commented on #901
@simonhearne - moving this from slack. @rviscomi  suggested this chapter for this topic.

It will be good to cover usage of Tag Manager in this chapter.  For example -

- % of sites using more than one tag manager (e.g. GTM / Adobe DTM / Signal on HomePage)
- % of sites using multiple instances of same tag manager provider (Example - https://www.schuh.co.uk/ .. two different instances of GoogleTag

[2020-07-24 20:07] bazzadp commented on #901
Size of tag manager JS. They can quickly get out of control and get massive when old tags (that often aren’t ever even fired!) continue to hang around clogging up the JS.

[2020-07-24 21:56] denar90 commented on #878
@tpiros do you mean hosted CMSs like [Contentful](https://www.contentful.com/) (API based) and self-deployed like [Netlify-CMS](https://www.netlifycms.org/) (git based) ?

[2020-07-24 22:16] denar90 commented on #878
@ahmadawais I'm not sure we can prepare all sql until 27th. We still have open questions. I'm not sure where do we have to discuss here, or in doc.
I'll leave it here, we can move it if needed.

1. Netlify v Vercel v Amplify are hosting platforms for any kind of sites. So we will have to select by `header` and `engine`. So as @remotesynth mentioned there might be difficulties to detect if site has

[2020-07-24 23:46] zcorpan commented on #899
@j9t is quirks mode (& change over time) covered? I don't see it in the metrics spreadsheet or doc outline. See https://github.com/HTTPArchive/almanac.httparchive.org/issues/899#issuecomment-657837767

[2020-07-25 02:28] Tiggerito commented on #899
We only have until the end of the month to submit the metrics code, and there is no fixing it after that date. I say we hold on features now and focus on checking that the data provided will be usable and accurate.

[2020-07-25 09:01] zcorpan commented on #899
The metric for quirks mode is implemented in httparchive already and has been for a few years. @rviscomi can you help?

[2020-07-25 12:56] gregorywolf commented on #921
@rviscomi Hi. I just submitted a draft PR for the sql 2019 queries formatted to use the sample_data tables.

@dotjs I think talking live would be great. Let's communicate via Slack DM to coordinate.

[2020-07-25 13:04] bazzadp opened #1099 "Figure 7 in 2019 Media Chapter image is not a Google Sheets image"
https://almanac.httparchive.org/en/2019/media#fig-7 is just a PNG and without the `data-` attributes necessary to convert it to an interactive iFrame.

Looks like the nicely formatted image in the PNG is no longer there in the [Google Sheets version](https://docs.google.com/spreadsheets/d/1hj9bY6JJZfV9yrXHsoCRYuG8t8bR-CHuuD98zXV7BBQ/edit#gid=1419236152).

@rviscomi / @colinbendell any ideas how to

[2020-07-25 13:58] Tiggerito commented on #908
I'm trying to come up with terminology for types of links. At the moment I'm thinking of following the GSC terminology:

same_page - e.g. a # to a location on the page
same_site - same hostname, same sub domain, internal
same_property - e.g. cross sub domain. this would include a link from www to non www
other_property - to a different domain, external

I was also trying to work out types of links

[2020-07-25 15:07] j9t commented on #899
We would look for doctypes (see [rows 2 and 3](https://docs.google.com/spreadsheets/d/1MqMNHuXzZP54qP-OmYbk5cevVf6FQpQza4GbKQMyq9A/edit))—did you want to make this more explicit?

[2020-07-25 15:10] ibnesayeed commented on #899
Should we also look for the stats of well known URL shortner service URLs, both as hyper links and as page requisites?

[2020-07-25 15:26] Tiggerito commented on #908
I just found a tweet of mine from a query I did on the http archive in 2018. Was quite popular:

https://twitter.com/TonyMcCreath/status/1043850071408697344

Maybe title length should be a formal part of the report 🤪

On that subject.

It could be worth checking for mistakes like the title containing "home page"

I added checks for links containing dofollow and follow 🤷‍♂️

Any other fun metrics t

[2020-07-25 15:36] j9t commented on #899
Added ([row 21](https://docs.google.com/spreadsheets/d/1MqMNHuXzZP54qP-OmYbk5cevVf6FQpQza4GbKQMyq9A/edit#gid=0)), at least for anchor elements—which allowed to mark off the last item in the doc (which we seemed not to have covered from what we had collected there).

I updated, reordered, marked some dups (in terms of us already getting that data), and felt free to loop in @Tiggerito when that seem

[2020-07-25 16:03] tpiros commented on #878
@denar90 - yes, precisely :)

[2020-07-25 16:30] rockeynebhwani commented on #908
@Tiggerito - If you are looking for fun metrics, try finding out what % of sites are using 'nositelinkssearchbox' META tag. (For example Amazon uses this) - <meta name="google" content="nositelinkssearchbox"> and what may be their motivation behind this.

I also saw that some analysis on META tag is available here - https://www.similartech.com/technologies/nositelinkssearchbox

[2020-07-25 18:10] #1084 closed

[2020-07-26 00:27] Tiggerito commented on #899
There is an existing script that returns true if document.compatMode === 'BackCompat'?

[2020-07-26 01:44] Tiggerito commented on #899
I'm doing another review of the metrics and what we can get. Outstanding:

w3c and any other raw validation or check on tagging method is not really possible. It looks like we do not have access to any w3c validation data and we only have regex commands available to do this.

class and id values. I'd really like to know how this data would be used. This will bloat out the data collected increasing

[2020-07-26 01:47] LeaVerou commented on #898
After a lot of back and forth with myself (I'm very interested, but worried to commit to doing another thing), I think I want to try, if it's not too late. What's the process to add myself @rviscomi?

[2020-07-26 03:31] zcorpan commented on #899
@j9t @Tiggerito looking for doctypes is very much related, but a less direct and less accurate metric for the question "how many pages use quirks mode?" than `document.compatMode`. I'd also like to get a historical trend for this one, which should be possible since the custom metric has existed for a few years.

Thanks!

[2020-07-26 05:59] rviscomi commented on #898
Not too late at all! This chapter is shaping up to be very data-heavy (in the best possible way) so having more analysts on the team will be a big help. The process is:

1. Edit https://github.com/HTTPArchive/almanac.httparchive.org/issues/898#issue-646592132 to add yourself to the Analysts column
2. Submit a PR to add yourself to the `analysts` team in [src/config/2020.json](https://github.com/HT

[2020-07-26 06:12] rviscomi commented on #1099
IIRC @colinbendell generated this chart outside of Sheets, like [Figure 10](https://almanac.httparchive.org/en/2019/media#fig-10), so I'm not sure that we'd be able to generate the interactive iframe.

[2020-07-26 06:16] rviscomi commented on #1086
@max-ostapenko could you elaborate on the benefits of releases?

What workflow changes do we need to adopt in order to accommodate them?

[2020-07-26 06:21] rviscomi commented on #1044
@bcinarli I'd like to post something from the HTTP Archive Twitter account to promote this translation effort and hopefully find more translators to help with it. Could you translate this text for the tweet?

Thanks for your help!

[2020-07-26 06:22] rviscomi commented on #1067
@chengxicn @AbbyTsai I'd like to post something from the HTTP Archive Twitter account to promote this translation effort and hopefully find more translators to help with it. Could someone translate this text for the tweet?

Thanks for your help!

[2020-07-26 06:23] rviscomi commented on #1043
@pureise @kasiageb @domibjn I'd like to post something from the HTTP Archive Twitter account to promote this translation effort and hopefully find more translators to help with it. Could someone translate this text for the tweet?

Thanks for your help!

[2020-07-26 06:24] rviscomi commented on #926
@techhtml I'd like to post something from the HTTP Archive Twitter account to promote this translation effort and hopefully find more translators to help with it. Could you translate this text for the tweet?

Thanks for your help!

[2020-07-26 06:25] #1047 closed

[2020-07-26 06:33] rviscomi commented on #969
I see that the Chinese translation is still taking place in https://github.com/HTTPArchive/almanac.httparchive.org/pull/1073, so I've unchecked it from the progress list.

@bazzadp should we add checkboxes for other active languages like Polish and Turkish as well?

[2020-07-26 06:35] bazzadp commented on #969
I say not and that we close this issue. All active languages are translated now and adding this should be BAU for new languages. As always doing core templates first (including this one) should be priority for translation team - will reorganise the outstanding translation lists in each issue today.

WDYT?

[2020-07-26 06:38] rviscomi commented on #969
The open issues for other languages seem to only track 2019, so I think it's good to also have a way to track 2020 content.

[2020-07-26 07:14] bazzadp commented on #969
Agree we should have new issues for 2020 content when it's available, but think they should be separate issues (like they are for 2019) and think it's a bit early to open them now while we only have this little content to translate for 2020.

And I think we need to draw a line at some point, or this issue will never be closed just in case a new language ever comes along. I say we've translated all

[2020-07-26 08:09] AbbyTsai commented on #1067
徵的是會翻譯中文的你,歡迎加入我們Web Almanac網絡社群.讓我們共同攜手遨遊無邊際的語言世界.
@chengxicn   it's open to your comment.
I'll try to leave the message to network, hoping to pull more helper in translation.

[2020-07-26 12:51] j9t commented on #899
Might not see the forest for the trees, can you elaborate? How I read this it would refer to taking the same data (all values for `@class`).

I moved this out of the `href` row (separate topic) and tagged you FYI.

How and who can best help?

[2020-07-26 13:33] Tiggerito commented on #899
I'm not sure where the value is in knowing every class name and id every website uses. I was testing today and would estimate that collecting class names and ids would massively increase the data stored. The team involved in data gathering are already concerned in the bloat of data gathered. This adds a massive amount to that bloat.

Please provide a need for this data.

That's still vague and wan

[2020-07-26 17:02] j9t commented on #899
Thanks for adding more detail, @Tiggerito. Let’s move away from the expensive queries, then, and scrap looking at `class`, `id`, `href`, `src`, and `srcset` _values_, and instead look at their overall counts. I believe we already marked the detailed queries “N” or ”?” in the spreadsheet, so I didn’t take action there.

How well do tests need to be prepared? Everyone, does someone have the bandwidt

[2020-07-26 17:28] chengxicn commented on #1067
您会说中文吗? 来帮助我们翻译Web Almanac 网络年鉴吧！让我们一起努力消除障碍，让全球Web社区自由访问！

@rviscomi  As I described before https://github.com/HTTPArchive/almanac.httparchive.org/pull/1073#discussion_r459603706    , mine and @AbbyTsai 's Chinese are very different systems, it's very diffenrent.  I'm working on Simplified Chinese and @AbbyTsai is working on Traditional Chinese, So we may need 2 groups of translators.

[2020-07-26 17:36] rviscomi commented on #899
It's good to exercise the custom metrics on a few major websites and have a thorough code review to make sure they can gracefully handle any edge cases.

[2020-07-26 17:40] rviscomi commented on #1067
Thanks @AbbyTsai @chengxicn! I'll post two separate tweets using each dialect.

@bazzadp it'd be good to split this issue into Simplified and Traditional so we can disambiguate for translators. I've renamed #1073 to clarify the dialect. For that PR I'd recommend completing the English translations into Simplified Chinese and waiting for a Simplified Chinese speaker to review it, or merge the PR if

[2020-07-26 17:52] bazzadp opened #1106 "Translate 2019 Content into Traditional Chinese"
These are the core templates - without which we cannot release any translated chapters. They are in the [language specific templates directory](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/src/templates):
- [x] base.html -
- [x] base_chapter.html-
- [x] contributors.html -
- [x] contributors.html (2020) -
- [x] error.html-
- [x] index.html -
- [x] index.html (2020) -
- [x] feat

[2020-07-26 17:56] bazzadp commented on #1067
That's done - #1106

Only question remains is do we use the `zn` folder and URL structure for one or the other?
Or have `zh-cn` and `zh-hk`? In which case @chengxicn can you update your PR?

[2020-07-26 18:01] chengxicn commented on #1067
I'm not sure if the folders have to comply with the ISO standard?  could I name them 'cn-simp' and 'cn-trad' ?

[2020-07-26 18:10] bazzadp commented on #1067
Technically they don't but would prefer to use something that's not completely unusal!

According to this https://stackoverflow.com/a/4894634/2144578 `zh_CN` and `zh_TW` seem to be the most common. Don't love introducing case into URLs though but can always revert to lowercase if it causes problems.

But willing to take your steer @chengxicn and @AbbyTsai since I'm sure you browser a lot more Chin

[2020-07-26 18:18] chengxicn commented on #1067
Updated to zh_CN.

[2020-07-26 18:19] rockeynebhwani commented on #906
I tried to come up with a custom metric for ./well-known/change-password
[code]
|Site|Scenario|WebPageTest Link
------------ | ------------- | -------------
|https://www.github.com|Has well-known/change-password file and custom metric works|https://www.webpagetest.org/custom_metrics.php?test=200726_JB_c433b392b7dfdce819ccde4a1cbf2ff2&run=1&cached=0
|https://www.twitter.com|Has well-known/change-pa

[2020-07-26 18:20] AbbyTsai commented on #1067
@rviscomi @bazzadp I wish I could have triple hands to deal with both role of analyst and parallel translation, however, things don't go the way. After that schedule, I'll love to do translating in 2020 version. Thanks.
@chengxicn Happy to co-work together. Hoping to partner in the next project.