[2020-07-26 18:39] rockeynebhwani commented on #913
@ydimova - I  have done the PR and now Wappalyzer has a new category called 'Cookie Compliance' and for now I managed to add 17 vendors to this category. But while working on this, I realized that there are way too many vendors in this space and I don't have time to add all. I am not familier with IAB Europe's TCF solution but if you can tell me a pattern using which we can detect and a sample sit

[2020-07-26 19:22] antoineeripret commented on #908
I think the depth of information needed here depends on what @aleyda and her co-authors will want to add in their analysis. I think it is pretty complete but they may need less.

Let's see what she replies :)

[2020-07-26 21:38] AbbyTsai commented on #902
Hi, Everyone, It's happy to join fonts family. First, a little bit about me, My practice journey just start here with all your warm support.  I hope you don't mind if find me fresh like a paper. I have drawn some rough metrics to invite all your interesting thoughts together in. Feel free to add or revise it. Thank you.

[2020-07-26 21:54] Zizzamia commented on #905
@thefoxis, I was reflecting on what we could monitor around **Element Timing API** and I think the best option we have is to take a couple of steps back and instead measure how many websites have the `new PerformanceObserver` in their JS minified files. Looking at this could help us understand how many websites are doing Performance Field Data measurements, which could be related to the use of som

[2020-07-26 23:31] Zizzamia commented on #920
@khempenius, thank you for writing down all the queries for this chapter. There are a couple of comments that I left in the document related on a few extra metrics I think we need to have. Let me know if you think they are doable.

@obto one thing I am looking to track, is how many websites used **Guess.js** for "[Faster web navigation with predictive prefetching](https://web.dev/predictive-prefet

[2020-07-26 23:55] Tiggerito commented on #908
I've implemented it with a few changes. I'm not trusting some of the deeper numbers but have put effort in to try and make sure the asked for information is accurate.

I think some if this extra info may not be usable this year. There's not any time to review my logic. But it puts in place the concept for next year.

I've also updated the metrics table with the property names that contain the data

[2020-07-27 00:33] LeaVerou commented on #898
@rviscomi Done!

[2020-07-27 01:28] thefoxis commented on #905
@Zizzamia as I mentioned in the doc, I think at this point it's a bit late to add this to the scope since we're already working on analysing the data and I committed to a certain amount of work :) I'm happy to mention what was suggested in the doc but I don't want to commit to another sub-chapter at this point.

[2020-07-27 01:37] Tiggerito commented on #899
Counts it will be. I still don't understand the requirements for src and srcset. On what elements?

[2020-07-27 03:20] davelab6 commented on #902
I was on vacation last week, I've blocked out time tomorrow to work on this
:)

[2020-07-27 04:31] Tiggerito commented on #899
Yep, so send me example URLs that cover some of the features you want me to capture, and what results you expect.

[2020-07-27 04:45] Tiggerito commented on #908
Here's the latest output from https://www.simonelectric.com/simon-100/io

[WebPageTest-simonelectric.zip](https://github.com/HTTPArchive/almanac.httparchive.org/files/4979953/WebPageTest-simonelectric.zip)

And one from a client of mine that adds SD via JavaScript

[WebPageTest-cbdco.zip](https://github.com/HTTPArchive/almanac.httparchive.org/files/4979961/WebPageTest-cbdco.zip)

And a little bonu

[2020-07-27 06:45] j9t commented on #899
On `img` and `source` elements—I added respective info in the spreadsheet.

[2020-07-27 07:17] Tiggerito commented on #899
I've expanded the image data to also include source data and counts of src and srcset attributes. I also counted picture elements and a few other attributes (media, type).

[code]

[2020-07-27 08:18] phacks commented on #878
Of interest for the SSGs section: it looks like we won’t be able to track down Eleventy through analyzed source code (Wappalyzer is a tool that analyzes the frameworks used by a website). From Twitter:

source: https://twitter.com/eleven_ty/status/1287174616113393664

[2020-07-27 09:06] antoineeripret commented on #908
@Tiggerito : you need a list of robots.txt file covering several scenarios like:

- Empty
- Disallow rule(s)
- Allow (rule(s)
- Generic UA rule(s)
- UA specific rule(s)

etc...

Right?

[2020-07-27 09:26] rockeynebhwani commented on #907
PR for this change has been merged. You should be able to query based on category called 'Accessibility' and all technologies mentioned in this issue post August crawl

[2020-07-27 09:38] stevefaulkner commented on #907
@obto, late to the party, but happy to help review if needed

[2020-07-27 09:57] Tiggerito commented on #908
This is what I'm gathering so far. Just some regex to identify line types. I think parsing and dissecting the file is beyond this years work. A relatively simple parse would be to do line by line and put counts under each UA. Not sure of the value of counting rules.

Reporting on the most popular UAs specified could be interesting. Who gets done the most.

And the presence of a sitemap. Don't ask

[2020-07-27 10:47] ydimova commented on #913
@rockeynebhwani  Great, thank you! Maybe we could just stick to the biggest vendors?
The presence of the TCF framework can easily be evaluated by detecting the presence of a __cmp() function in the window element.
For instance 'typeof window.__cmp()!== "undefined"' would work.

[2020-07-27 10:49] antoineeripret commented on #908
I think @aleyda should weigh-in to see what really matters for the analysis then. If she can't, I'd that to keep it simple, like what you have + a flag for empty file and a line(s) for sitemap(s).

[2020-07-27 10:50] Tiggerito commented on #908
Hi all, I'm really wanting example URLs with the features you would like to gather data on.

We need the data gathering code I developed to be approved before Aug 1st, or we don't get any of the data. 😲

If what you want is not tested to work, you may not get it.

My testing does not count. I'm testing based on my understanding on what is needed. What I think may not be what you wanted.

Give me e

[2020-07-27 11:28] rockeynebhwani commented on #913
Thanks @ydimova . Can you please give me an example site to test TCF framework?

[2020-07-27 11:32] max-ostapenko commented on #913
@rockeynebhwani here are official framework docs from IAB: https://iabeurope.eu/tcf-2-0/
The test website will help indeed.
I was looking into vendor domain lists (e.g. https://vendorlist.consensu.org/vendorinfo.json), but no valuable data as of now.

[2020-07-27 13:07] colinbendell commented on #1099
Yes, I used ggplot to generate the tree. google sheets doesn't do tree diagrams very well (at all).

[2020-07-27 13:17] bazzadp commented on #1099
Fair enough closing then. Though can't see I honest can see much difference (other than the colour) myself! 😀

[2020-07-27 13:17] #1099 closed

[2020-07-27 13:24] colinbendell commented on #900
Added some feedback. I'd really suggest we try and focus the scope to areas that will be a) different from last years report and b) areas that aren't "more of the same". meaning interesting for interest sake, but not really actionable. For example, the srcset and picture bits fall into this category.

[2020-07-27 13:52] colinbendell commented on #1099
I haven't looked at the trees from google sheets lately. maybe it has been rev'd? I know I struggled with the labels and formatting and just gave up to use a tool that was better for formatting ;)

[2020-07-27 15:38] mgechev commented on #920
I'd be curious to know this as well. Based on my understanding you can use HTTPArchive to look for globals. Guess.js exposes `__GUESS__` that can help you find out the numbers.

[2020-07-27 15:48] rviscomi commented on #920
Yes, a custom metric could return whether that global exists. ⚠️ Today is the deadline to add any new custom metrics. ⚠️

[2020-07-27 16:03] ydimova commented on #913
@rockeynebhwani  @max-ostapenko I found it on https://www.letudiant.fr/ by calling "window.__cmp" (without the brackets). https://www.senscritique.com/ is another one

[2020-07-27 16:08] rviscomi commented on #899
I assume this question is for @j9t? I haven't been tracking the custom metrics needed for this chapter, so I don't know what URLs would be good test cases.

As far as results, see https://github.com/HTTPArchive/legacy.httparchive.org/pull/170#issue-453176318 for a good example of running the custom metric draft through WebPageTest and linking to the results from the PR. This helps reviewers see wh

[2020-07-27 17:50] j9t commented on #899
I can only pass this on at the moment—is there someone in the team who could help with this?

@Tiggerito, maybe you have an example for how detailed this should be? I understand we need something like “URL https://example.com/, find 24 tags (not elements 😉), elements `foo`, `bar`, `baz`, 7 attributes, namely `…`? etc., to use that to compare what you’re retrieving?

[2020-07-27 17:51] rviscomi commented on #906
Can't you fail the custom metric for any request that redirects?

[2020-07-27 18:15] rockeynebhwani commented on #906
@rviscomi - Actually this one is different from presence of /.well-known/assetlinks.json where we could check for re-direct.. for /well-known/change-password, a valid implementation will always mean a re-direct with 'Location' request header.. and we can't filter sites like burberry as 'fetch' is not giving me access to header which are part of re-direct chain.

[2020-07-27 18:28] SaptakS commented on #1074
I think this makes sense. Would love to work on this if no one else is looking into it.

[2020-07-27 18:30] bazzadp commented on #1074
Go for it - shout if you need any help!

[2020-07-27 18:31] tomvangoethem commented on #906
@rockeynebhwani The `Response` that `fetch()` returns has a `redirected` property. So something like this might work?

[code]

This won't fix the issue apple.com issue for cross-origin redirects though.

[2020-07-27 18:38] rockeynebhwani commented on #906
@tomvangoethem - This will not work. As per specs

*****************
Servers should redirect HTTP requests for an origin’s change password url to the actual page on which users may change their password by returning a response with a redirect status of 302, 303, or 307, and a Location header.
*****************

[2020-07-27 18:50] catalinred commented on #899
I've already added some test URLs to the Markup Metrics sheet for some of the rows.

[2020-07-27 19:29] rviscomi commented on #1067
Thank you @AbbyTsai I hope we can find more translators to help with that. I've just started posting the language-specific tweets:

- Chinese (Simplified): https://twitter.com/HTTPArchive/status/1287831105652097024
- Chinese (Traditional): to be posted later this week, I'll edit this when it's live

[2020-07-27 20:12] #1074 closed

[2020-07-27 20:49] #948 closed

[2020-07-27 23:12] edmondwwchan commented on #906
@rockeynebhwani checking only the location header and the response code isn't reliably telling if .well-known/change-password standard picks up. We should also deal with false positives where origins could return a redirect for arbitrary reasons (e.g.., redirecting users to a vanity host, incorrect referrers, wrong user-agents). On the other hand, we might still distinguish the inappropriate use o

[2020-07-28 00:15] #1082 closed

[2020-07-28 00:46] Zizzamia commented on #920
@khempenius sorry for last minute request, anyway we can have a query for https://github.com/HTTPArchive/almanac.httparchive.org/issues/920#issuecomment-664471088 ? Thank you

[2020-07-28 00:48] Zizzamia commented on #920
Never mind, I just notice you already add it https://github.com/HTTPArchive/almanac.httparchive.org/pull/1090/commits/90c2064f007c82fe8d68e10f892b310f3a8c44e6, amazing 🙏

[2020-07-28 06:07] bazzadp commented on #1067
@chengxicn I went ahead and merged #1073 but spotted some minor issues when doing final testing on it Not enough to hold up the merge as it was quite a big PR to leave out there, but if you could review and fix any of these that need fixing:
- [ ] - Methodology tables headings (lines 177 - 129, 184 - 186, 190, 200, 212, 218, 265, 266, 271, 275, 279,  - should it be translated?
- [ ] - Base.html (l

[2020-07-28 06:49] Tiggerito commented on #899
Sorry, I'm looking for real world websites that use the features you want to get data on. I'll test those in the sheet. I can't test code snippets.

[2020-07-28 06:56] Tiggerito commented on #899
There's some good examples there @catalinred I'll get to testing them.

[2020-07-28 07:53] kasiageb commented on #1043
Hi Rick (@rviscomi),

sure!

here you go:

[2020-07-28 08:18] zcorpan commented on #900
@colinbendell do you mean srcset/picture is actionable, or not?

The art direction question would directly inform whether addressing  https://github.com/whatwg/html/issues/4968 is worthwhile

[2020-07-28 09:09] Tiggerito commented on #899
First test. When counting svg elements it does not spot svgs that are inside other svgs. Is that fine?

[2020-07-28 09:47] catalinred commented on #899
Nested SVGs is actually a valid thing, please see this article by @SaraSoueidan for some good examples:
https://www.sarasoueidan.com/blog/mimic-relative-positioning-in-svg/

So, what do you think about counting how many inner SVGs too>? Would that be feasible?

[2020-07-28 09:52] Tiggerito commented on #899
the css selector does not see them. I'm sure it's possible, I just don;t know how.

ahrefs was a good test for target...

![image](https://user-images.githubusercontent.com/4947018/88650088-8f74e380-d107-11ea-9099-3c7ed58bc6fc.png)

🤦‍♂️

[2020-07-28 10:05] Tiggerito commented on #899
It looks like otherwise all URLs returned what I think is the right data 🥳

[2020-07-28 10:17] Tiggerito commented on #908
I've run a bunch of tests on URLs the Markup chapter gave me and a core set of URLs that get test. All seemed to work 🥳

The code is frozen bar bug fixes. It's now 🤞 that it gets reviewed, approved and added before the 1st deadline. If not, we get the same data as last year 😒

Some entertainment while testing:

![image](https://user-images.githubusercontent.com/4947018/88653197-e8924680-d10a-11ea-

[2020-07-28 10:45] catalinred commented on #899
Lol. I dug a bit further and it looks like this is expected behavior when the value for `target` is now a known keyword such as `_blank`. The link will still open up in a new tab, here's a quick demo https://codepen.io/catalinred/pen/oNbRwOP

I think this is a good find and might help if we can get all the values for the `target` attribute here, and then see how many of them are `_blank` - which i

[2020-07-28 12:37] bcinarli commented on #1044
@rviscomi, I was on parental for the last 5 weeks. Started to follow up the topics yesterday. I can translate the tweet and also share it with the Turkish web community.

[2020-07-28 13:17] colinbendell commented on #900
If you look at the data from last year, you'll find that nearly no one uses `<picture>` other than for `<source type=image/webp` and that all the `sizes=` are [generated (mostly bogus) entries ](https://almanac.httparchive.org/en/2019/media#use-of-sizes). The use of `<source media` was so very low from the HA dataset, and the values all appeared to be hand tuned, that I didn't dig any further.

My

[2020-07-28 16:45] rviscomi commented on #1043
Thanks @kasiageb! https://twitter.com/HTTPArchive/status/1288153298558750720

[2020-07-28 17:06] rviscomi commented on #1044
@bcinarli sounds great, and congratulations! 🍼 🎉

[2020-07-28 18:08] rviscomi commented on #909
@logicalphase @pearlbea @gokulkrishh @jaisanth have you all had a chance to contribute to and review the [planning doc](https://docs.google.com/document/d/1JjjwHNjEsF6fl4WNod6mOj-58IIDzg-el3wh36mV3nM/edit?usp=sharing)? Please request edit access to make sure you can comment and others can @ you.

[2020-07-28 19:27] Tiggerito commented on #899
Hi, the code is being reviewed and they spotted that my deprecated element list was not complete. I tried to scrape the values but it missed a lot.

https://html.spec.whatwg.org/multipage/obsolete.html#non-conforming-features

Would it be possible for someone to compile a  list of all the elements you want to track as deprecated.

Thanks.

[2020-07-28 19:44] zcorpan commented on #899
The spec should list everything. Note though that they are not deprecated, but obsolete.

[2020-07-28 20:36] catalinred commented on #899
@Tiggerito Besides the proper specs, this list might help as well:
https://discuss.httparchive.org/t/use-of-deprecated-html-features-on-the-web/1416/2

@zcorpan My bad here I guess, I'm one who marked these as deprecated.
I'm so used to call these deprecated elements... not an excuse, but maybe because this is how they're usually called almost everywhere? But I do understand there is a subtle diff

[2020-07-28 21:07] logicalphase commented on #909
I've reviewed  the planning doc. Looks good. I think for metrics I like
usage [I've used built within], I'm wondering how PWAs get tracked,?
Manifest? I've got a list of a few sources I've been researching through,
and comfortable with any of the background sub chapters as listed in the
planning outline.  Should we split them out or assign to me what works best
for you?

[2020-07-28 22:46] davelab6 commented on #902
Jason and I met today briefly to sync up, and will meet again this Friday
at 2pm EST. Abby and everyone, you are welcome to join!

[2020-07-29 00:39] Tiggerito commented on #899
From reviewing both sources I have:

applet,acronym,bgsound,dir,frame,frameset,noframes,isindex,keygen,listing,menuitem,nextid,noembed,plaintext,rb,rtc,strike,xmp,basefont,big,blink,center,font,marquee,multicol,nobr,spacer,tt

And it's been renamed to obsolete.

[2020-07-29 03:38] gokulkrishh commented on #909
@rviscomi @hemanth Sent a request for the edit access. Planning to review over this weekend.

[2020-07-29 03:46] max-ostapenko commented on #897
@jaisanth Check out queries for Third-party chapter here: #1092 .
Some part of metrics can be reused among us I believe.
Feel free to reach out.

[2020-07-29 07:11] limhenry commented on #1067
@chengxicn I am willing to translate the some of the chapters to zh-CN 🙋  Let me know if you need any help.

[2020-07-29 07:19] chengxicn commented on #1067
Hi @limhenry, Great!  The work can be faster! I'm working on simplified Chinese accessibility.md chapter translation, please put your name besides the chapter you are doing.

[2020-07-29 07:19] bazzadp commented on #1067
Great news @limhenry - just sent you an invite to the team. If you could review #1073 that was already merged that would be good, and if you spot any errors then open a PR for that.

[2020-07-29 07:21] chengxicn commented on #1067
I've fixed this 2 issues, will open PR with accessibility.md chapter together.

[2020-07-29 10:08] Tiggerito commented on #899
I found someone using an obsolete element. Guess who?

![image](https://user-images.githubusercontent.com/4947018/88787446-032ff280-d1d3-11ea-9ece-5b9ebefa8ce5.png)

Google.com

[2020-07-29 11:26] j9t commented on #899
😬 It really stands out. By now it must be a remnant from past days.

[2020-07-29 12:35] SaptakS commented on #1052
I would be really interested in prototyping this interactive visualization once the stats are fleshed out.

[2020-07-29 16:40] rviscomi commented on #1106
Call for translators posted to Twitter here: https://twitter.com/HTTPArchive/status/1288514460945199105

[2020-07-29 20:24] nhoizey commented on #900
I agree that this is powerful and not used (well) enough.

Because Wordpress is so prevailing in data, it might be interesting removing it from results shown in https://almanac.httparchive.org/en/2019/media#fig-15 , to better understand how others do it.

I also wonder if browsers could start reporting `srcset` without `sizes` as hints in the dev console, even if there a default value.

All that t

[2020-07-30 02:03] Tiggerito commented on #899
Code has been merged. We made it 🥳

[2020-07-30 04:25] ahmadawais commented on #878
@denar90 @tpiros y'all are right. I'm looking at the data in a similar way. I think you can go ahead and start prepping the analysis queries — which will ultimately dictate the pattern/content we write about. Since much of it is not trackable — let's focus on what we can track and analyze and go from there?

[2020-07-30 04:57] Tiggerito commented on #908
Good news, All the code to gather the data has been merged and will be run in next months crawl. 🥳

If all goes to plan we should be getting my selected data from rendered and raw content, http headers, and the robots.txt file.

And I have a day to spare. I'm taking the afternoon off.

[2020-07-30 07:07] rajasekarm commented on #924
@bazzadp I would like to contribute for this project. Can you please count me in?

Meanwhile I'll look into Good first issue and start contributing.

[2020-07-30 07:10] bazzadp commented on #924
Thanks - Invite sent to join the team!

Do - grab an issue and let's go!!! Or help review any of the open development PRs.

[2020-07-30 07:50] denar90 commented on #878
@phacks Next.js as well otherwise we will present wrong results.

source: https://twitter.com/denar90_/status/1287271002041470976

[2020-07-30 07:52] denar90 commented on #878
@ahmadawais yeah, I've been thinking composing SSG and CDN. Will start on it asap, this week is quiet busy...

[2020-07-30 08:00] bazzadp commented on #924
Hey all, I've created a Slack channel in case any of you want to discuss anything to do with Developing the Web Almanac: https://httparchive.slack.com/archives/C018PDY6C1E

[2020-07-30 10:34] dwsmart commented on #908
@Tiggerito You have been an absolute powerhouse! Hope you enjoyed the afternoon off.

[2020-07-30 13:44] bcinarli commented on #1044
@rviscomi thanks :)

[2020-07-30 15:23] rviscomi commented on #1067
Great work @chengxicn! Excited to the the base translations live! https://almanac.httparchive.org/zh-CN/2019/

[2020-07-30 16:00] rviscomi commented on #897
@jaisanth @tkadlec for the two milestones overdue on July 27 could you check the boxes if:

- the [outline](https://docs.google.com/document/d/1DYx3_QbwGgyauBotbQRYU-4fmkaQFO7XcLTb7q4BqHQ/edit?usp=sharing) has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics](https://github.com/HTTPArchive/legacy.httparchive.org/blob/master/custom_metrics/README.md) have

[2020-07-30 16:25] rviscomi commented on #1052
Thanks @SaptakS! Would be great to have help with this.

@LeaVerou do you have a better idea now of what you'd like to focus the visualization on?

[2020-07-30 16:56] obto commented on #898
@LeaVerou @dooman87 @rviscomi for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we've updated the milest

[2020-07-30 16:56] obto commented on #899
@j9t @Tiggerito for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we've updated the milestone descriptio

[2020-07-30 16:57] obto commented on #900
@tpiros @smatei for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we've updated the milestone descriptio

[2020-07-30 16:57] obto commented on #901
@simonhearne @max-ostapenko for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we've updated the mileston

[2020-07-30 16:58] obto commented on #902
@jpamental @AbbyTsai for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we've updated the milestone descr

[2020-07-30 16:58] obto commented on #905
@thefoxis @max-ostapenko @dooman87 for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we've updated the m

[2020-07-30 16:58] obto commented on #906
@nrllh @AAgar @tomvangoethem for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we've updated the milesto

[2020-07-30 16:59] obto commented on #907
@oluoluoxenfree @obto for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we've updated the milestone desc

[2020-07-30 17:00] obto commented on #908
@aleyda @max-ostapenko @Tiggerito @antoineeripret for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we'v

[2020-07-30 17:01] obto commented on #878
@ahmadawais @denar90 @remotesynth for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we've updated the mi

[2020-07-30 17:02] obto commented on #909
@hemanth @tungpatrick for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we've updated the milestone desc

[2020-07-30 17:03] obto commented on #910
@spanicker @obto for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we've updated the milestone descripti

[2020-07-30 17:03] obto commented on #910
We should be good to go. Will work on the draft PR this weekend

[2020-07-30 17:03] obto commented on #913
@ydimova @max-ostapenko for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we've updated the milestone de

[2020-07-30 17:04] obto commented on #914
@rockeynebhwani @denar90 @remotesynth for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we've updated th

[2020-07-30 17:04] obto commented on #915
@alexdenning @GregBrimble @rviscomi for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we've updated the

[2020-07-30 17:04] obto commented on #916
@mo271 @smatei for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we've updated the milestone description

[2020-07-30 17:05] obto commented on #917
@roryhewitt @raghuramakrishnan71 for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we've updated the mil

[2020-07-30 17:05] obto commented on #919
@henrihelvetica @paulcalvano for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we've updated the milesto

[2020-07-30 17:06] obto commented on #920
@Zizzamia @khempenius for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we've updated the milestone desc

[2020-07-30 17:06] obto commented on #921
@dotjs @gregorywolf for the two milestones overdue on July 27 could you check the boxes if:

- the [outline][~outline] has been reviewed and all feasible metrics have been identified
- any necessary [custom metrics][~custom] have been created and you've created a [draft PR][~draft_pr] to track which feasible metrics have had their [queries][~queries] implemented (we've updated the milestone descri

[2020-07-30 17:09] j9t commented on #899
@obto, everything should be in place but it’s best for @Tiggerito to confirm. (We’ll update the boilerplate again.)

The rough outline is documented; we will add more detail and tweak once we have more insight into the data.

[2020-07-30 17:17] AAgar commented on #906
@obto  Aside from the commented concerns already brought up, it looks good to me. I can get to work on the transport security and cookies analysis this weekend.

[2020-07-30 18:02] rviscomi commented on #914
@remotesynth sorry about that, I've edited @obto's comment to clarify the correct analyst for this chapter.

[2020-07-30 18:21] tungpatrick commented on #909
Hey team! Due to some personal reasons, I have removed myself from the web almanac and from the team. Sorry in advance if this causes any problems to the team. Thanks for letting me have the chance to volunteer!

[2020-07-30 19:14] aleyda commented on #908
Thanks for the heads up @obto  - I'll make sure to follow-up with @ipullrank @aleyda @fellowhuman1101 in the next couple of days to make sure the outline is 100% final now (it should be but just in case) and with @Tiggerito @antoineeripret  to make sure the metrics are also done.

Thanks again!

[2020-07-30 19:20] rviscomi commented on #909
Sorry to see you go @tungpatrick but completely understand.

@hemanth are you [still interested](https://github.com/HTTPArchive/almanac.httparchive.org/issues/909#issuecomment-657289214) in being an analyst for this chapter? I also see @thepassle listed in the [doc](https://docs.google.com/document/d/1JjjwHNjEsF6fl4WNod6mOj-58IIDzg-el3wh36mV3nM/edit?usp=sharing) as an analyst but I don't see any d

[2020-07-30 19:27] thepassle commented on #909
Not sure who put me there as analyst, I signed up as a reviewer 🙂

[2020-07-30 19:32] obto commented on #914
@jrharalson @drewzboto Can you request edit access to your [chapter doc](https://docs.google.com/document/d/1N6idOzeBOQV-a1Zg4sIlfCSAIseONDDmckzJv5n5oRw/edit) (if you haven't already), and add your name and email to the document?

[2020-07-30 19:39] obto commented on #878
@tpiros @phacks @YuLingCheng @denar90 @remotesynth Can you request edit access to your [chapter doc](https://docs.google.com/document/d/1bz5b2iXTvz3hlaLQQCB0fhwx7A-nqLLRCauQHAkVsJA/edit#) (if you haven't already), and add your name and email to the document?

[2020-07-30 20:15] natedame commented on #1016
@rviscomi hijack indeed! :) np

I've been thinking about this further... here's some updated thoughts.

**The problem** is that there's no compelling, engaging executive summary or starting point for the almanac. What's the big picture and - most importantly - why should I care about this? The forward covers this but only partially.

**Updated suggestion:** Someone should write an executive summar

[2020-07-30 20:47] rviscomi commented on #1016
Thanks for checking in @natedame. It sounds like you're suggesting a total redesign of the home page content. I'm not strictly opposed to it, but I'm having a hard time imagining your proposal without more concrete suggestions. Could you whip up a PR, prototype, or mockup to show what kind of content you'd like to see added to the home page and how it would fit in with our existing design?

[2020-07-30 21:55] hemanth commented on #909
AFAIR @thepassle wasn't on the analyst list.

@tungpatrick had singed up earlier, but looks like we were lost in translation.

@obto Looks like we have slipped a bit on the deadlines? Also, for custom metrics, we should be able to get insights on the APIs that are being used in the serviceworkers that we parse?

[2020-07-30 23:09] max-ostapenko commented on #901
Thanks for a heads up.
Will go and update the state.

[2020-07-31 00:21] LeaVerou commented on #1052
I'll need to think about it :)

[2020-07-31 01:55] Tiggerito commented on #899
The 27th milestone is complete. I've created a [draft PR](https://github.com/HTTPArchive/almanac.httparchive.org/pull/1062) for the queries and will be updating it as I review what queries we need.

[2020-07-31 01:58] Tiggerito commented on #908
We can tick of the 27th milestone. The custom metrics are in and I have created a [PR for the queries](https://github.com/HTTPArchive/almanac.httparchive.org/pull/1062).

After having a breather we need to review what we ended up with and work out what queries are needed, and what will make it into the chapter.

[2020-07-31 05:56] Soham-S-Sarkar commented on #917
I am interested in the reviewers role for this topic if we still have an open spot.

[2020-07-31 05:56] Soham-S-Sarkar commented on #905
I am interested in the reviewers role for this topic if we still have an open spot.

[2020-07-31 16:30] alexdenning commented on #915
@rviscomi I _think_ those are your areas and that they're done, would you be able to confirm?

[2020-07-31 16:34] rviscomi commented on #915
Yes, we're all set!

[2020-07-31 16:42] rviscomi opened #1136 "Support LinkedIn contributor links"
Per #1134 contributors should be able to add their LinkedIn profile to their social media links seen on the Contributors and chapter pages.

This will be a `linkedin` property on the contributor object with a value of their user name. In the HTML templates we should generate a LinkedIn URL like `"https://www.linkedin.com/in/{{ contributor.linkedin }}/"`.

We will also need a new LinkedIn icon.

-

[2020-07-31 16:52] rviscomi commented on #905
Hi @Soham-S-Sarkar. This chapter has 9 reviewers already, but I'll defer to @thefoxis if more are needed.

Meanwhile you can browse the chapter's [outline](https://docs.google.com/document/d/1E8DRFI3AghYqzvIS4cfs2W5HXvZkyEk0YHsM3sCjRBs/edit) to get a sense for the content direction.

[2020-07-31 16:54] rviscomi commented on #917
Thanks @Soham-S-Sarkar! Go ahead and request edit access to the [outline doc](https://docs.google.com/document/d/1uzLXOrvr8yHMnEYnY1aGTjHLq_qOYnc39ZFirTmPxlU/edit?usp=sharing), add your contact info to the first page, and leave any comments on the outline in the doc. cc @roryhewitt

[2020-07-31 17:10] bazzadp commented on #1136
@catalinred would you be able to come up with an SVG version of LinkedIn icon?

[2020-07-31 17:35] catalinred commented on #1136
Sure. Is there a branch already for that?

[2020-07-31 17:41] bazzadp commented on #1136
Not yet!

[2020-07-31 17:56] jaisanth commented on #897
Hey @max-ostapenko and @rviscomi , Will spend time on this in the weekend.

[2020-08-01 00:55] roryhewitt commented on #917
@Soham-S-Sarkar glad to have you on board!

[2020-08-01 08:48] Tiggerito commented on #908
I've updated the tables with the new mappings to the custom metrics. I've also documented what I think covers all the data we will be using:

https://docs.google.com/document/d/1c5x_IskO6NOzUQqdbbMLWPr_iteGzAFwIyk2ffJtzdg/edit?usp=sharing

[2020-08-01 09:10] Tiggerito commented on #899
FYI, I split out markup into it's own pull request for the SQL queries.

https://github.com/HTTPArchive/almanac.httparchive.org/pull/1137

[2020-08-01 14:57] j9t commented on #899
As we’re now entering the crawl phase:

* Big thanks @Tiggerito for getting everything ready for analysis and likewise big thanks @catalinred for all the work adding detail around our metrics. Likewise thanks to @ibnesayeed and @iandevlin for their work in between, and actually everyone here for their feedback and help so far.

* I’ve been coordinating a bit in the background, and what is likely g

[2020-08-01 15:05] ibnesayeed commented on #899
Well, I guess authors can continue working on the draft while leaving details (with TODO notes) that can only be filled when the numbers are in.

[2020-08-01 18:05] rviscomi opened #1138 "Streamline figures in markdown"
I'd like to propose a change in the way figures are described by authors in the markdown and rendered internally.

![image](https://user-images.githubusercontent.com/1120896/89106384-65693d00-d3f7-11ea-9c89-1552d2f05885.png)

In [css.md](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/content/en/2019/css.md), the corresponding markdown (using embedded HTML) for the figure abov

[2020-08-02 00:33] HakaCode commented on #969
Can I try to translate to PT-BR? I'm a beginner

[2020-08-02 04:26] logicalphase commented on #1138
I like it, @rviscomi as described, agree that additional meta would provide better UX. I was working on a similar scheme fairly recently. I'll go back and see if there's anything that might be useful in meeting your objectives.

[2020-08-02 06:53] rviscomi opened #1140 "[Ebook] Author alignment and social links"
For example, see my author bio in the [2019 ebook](https://almanac.httparchive.org/static/pdfs/web_almanac_2019_en.pdf):

![image](https://user-images.githubusercontent.com/1120896/89117279-92a30300-d46a-11ea-8fe6-2bd0c8bdcb3f.png)

I'd suggest two changes:

1. Change the alignment to more closely match the [web](https://almanac.httparchive.org/en/2019/performance#authors) version in which the pho

[2020-08-02 07:15] bazzadp commented on #1138
Thanks for raising and definitely some improvements we could do here before we generate 2020 figures.

A few comments:

This can certainly be automated to bring consistency.

Yes this probably makes sense. Will think on it some more.

100% agree!

Less in agreement with this. I do want to avoid making old links obsolete (or worse - point to wrong data) but not convinced moving away from numeric id

[2020-08-02 07:16] bazzadp commented on #1140
Yup. Makes sense.

[2020-08-02 07:25] rviscomi commented on #1138
To clarify, I'm not suggesting any changes to the way the figures appear other than prefixing with the chapter number, eg the figcaption will still say `Figure 2.12`. When I say "figure ID" I'm referring to the human readable name which we can reuse as the figure's anchor ID, SQL file name, and ARIA attribute plumbing.

[2020-08-02 07:35] bazzadp commented on #1138
Yeah I get that. And do see benefit of a non-changing anchor id to avoid link rot, but see the following problems:
- still have problem of incorrect ids in text
- need to avoid name space clash with chapter headings
- need to reuse id and number for tables to make quick link work.
- SQL file is unique as reuse same SQL across different figures.
- the big figures and tables won’t have images so nee

[2020-08-02 07:38] bazzadp commented on #1138
Oh and “human readable name” isn’t great for translations. Already a problem for image named admittedly but they often are in English.

[2020-08-02 08:33] bazzadp commented on #969
Would love to have your help @HakaCode

I presume you mean you’re a beginner coder/translator but are fully fluent in Brazilian Portuguese?

How different is Brazilian Portuguese to European Portuguese? My understanding is it’s very similar as it’s written and most differences are in pronunciation? If is suggest we translate into generic Portuguese (`pt`) rather than classifying it specifically as

[2020-08-02 15:28] HakaCode commented on #969
Thanks for the quick response @bazzadp .

what you said is correct, I can translate the 2019 model without problems in my free time.

[2020-08-02 17:18] rviscomi commented on #905
@noamr @ashrith-kulai please request edit access to the [planning doc](https://docs.google.com/document/d/1E8DRFI3AghYqzvIS4cfs2W5HXvZkyEk0YHsM3sCjRBs/edit?usp=sharing) to start your review of the initial outline.

[2020-08-02 18:26] rviscomi commented on #1138
One thing I may have communicated poorly is that I'm proposing figures' sequential number to be completely taken out of the markdown. Authors shouldn't have to count figures to determine what their number will be and hardcode that number in the document. What doesn't change is the semantic meaning of the figure, eg `flexbox-adoption`, so this is the best way to make the figures directly addressabl

[2020-08-02 18:30] HakaCode commented on #923
I would love to translate to Portuguese after starting and finishing the 2019 release, or better where possible.

[2020-08-02 18:49] HakaCode commented on #505
would love to start at this point with `base.html`

[2020-08-02 18:51] bazzadp commented on #1138
Yes if we could solve the way of referencing the figures then I agree the numbering is less important and then there is real merit in getting rid of them completely.

Not sure how to do this technically though but will have a play. May have to be a combination of jsdom code at generation and Jinja templating.

Also like you’re idea of prefixing their if with `fig-` to avoid name clashes.

Localisa

[2020-08-02 18:57] bazzadp commented on #505
Go for it! Give me a shout if any questions.

What we’ve found best is to put your name beside the file you’re working on in the first comment of this issue. I’ve done that for base.html for now. I’ve sent you an invite to join the Translation team in GitHub so you will be able to edit the comment yourself once you accept that.

[2020-08-03 06:25] Tiggerito commented on #908
Good news. I've had a chance to see some initial data from what I think was some test crawls, and it looks like everything is working 🥳

[2020-08-03 06:28] Tiggerito commented on #899
Good news. I've had a chance to see some initial data from what I think was some test crawls, and it looks like everything is working 🥳

My next step will be to start mapping the asked for metrics into BigQuery SQL requests.

[2020-08-03 07:04] bazzadp commented on #986
How’s this going @sudheendrachari ? Anything we can help you on?

[2020-08-03 11:09] tpiros commented on #900
@obto will do - both myself and @bseymour are away on an annual leave - I'll be back next week and will make all the necessary updates.

[2020-08-03 11:50] RoelN commented on #902
Hi all, apologies for my absence, I had a much needed vacation. Added some comments to the doc, hope it's not too late.

[2020-08-03 14:05] catalinred commented on #1052
I think this is a great idea, and if feasible, it will be so powerful.

It would be amazing to have this functionality for the Markup #899 chapter too, wherein e.g. a user can query for an HTML element or/and attribute and see both the total number of appearances and frequency.

[2020-08-03 18:21] Soham-S-Sarkar commented on #917
@roryhewitt Glad to connect and join the team. Would start reviewing the content and also, schedule a quick touchpoint with you.

[2020-08-03 20:15] #1136 closed

[2020-08-04 04:27] rviscomi opened #1154 "No clickable deeplink for CDN figure 2"
See https://almanac.httparchive.org/en/2019/cdn#fig-2

![image](https://user-images.githubusercontent.com/1120896/89252910-1c78da80-d5e9-11ea-8132-1368f58b9166.png)

I'd expect the text "Figure 2" to link to the URL above, but there is no link. Is this because it is suffixed with `:` rather than `.`? Should be an easy fix.

[2020-08-04 04:38] rviscomi opened #1155 "Use deep-linked figures as the meta image for social sharing"
Using the [Twitter card validator](https://cards-dev.twitter.com/validator) we can test how chapters would appear in tweets.

For example https://almanac.httparchive.org/en/2019/cdn will appear like this:

![image](https://user-images.githubusercontent.com/1120896/89253163-d4a68300-d5e9-11ea-90e5-4a7c90aa23f3.png)

If the sharer wanted to deep-link to a specific figure like https://almanac.httparc

[2020-08-04 04:41] hemanth commented on #909
We need to decided on this sooner, maybe should I add a label requesting analyst?

@rviscomi @obto We had a slack channel for PWA discussions, right?

[2020-08-04 04:45] rviscomi commented on #909
Yes, good idea. You can also reach out on the #web-almanac-analysts to see if anyone is available. Or if you're interested in taking on the role, some of us can help with the onboarding.

Not a channel but I did start a group chat to discuss this: https://httparchive.slack.com/archives/G0181NNKEJH/p1596215461000600

[2020-08-04 05:47] thefoxis commented on #905
thanks for interest @Soham-S-Sarkar but I think at this point we do not need more reviewers. it will be hard to process feedback with even more people involved.

@obto I won't be making any changes to the outline at this point, unless there are some metrics/data we can't obtain or the data proves non-conclusive/useful. the draft pr looks **mostly** complete but I defer to @max-ostapenko and @dooma

[2020-08-04 05:52] bazzadp commented on #1155
We can do some tests but I think that might be impossible. Hash-params are not sent to server as they are meant for the client, so can't change the image server-side, and apparently [Twitter Bot does not execute JavaScript](https://stackoverflow.com/questions/51899920/twitter-card-api-open-twitter-dialog-via-javascript-and-set-meta-tags-dynamica) (or at least didn't 2 years ago) so cannot be done

[2020-08-04 06:22] dooman87 commented on #905
I still need to finish my requests related to LH performance score. Will work on them this week.

[2020-08-04 06:29] Tiggerito commented on #1155
You could create a share on twitter links/buttons next to each image that pass a customised URL with query parameters to enable the server to modify the meta tags. e.g.

https://almanac.httparchive.org/en/2019/cdn?fig=8#fig-8

Here's the docs from Twitter. It looks like you add a data-url attribute to specify a custom destination like that:

https://developer.twitter.com/en/docs/twitter-for-websit

[2020-08-04 06:38] #1154 closed

[2020-08-04 06:50] bazzadp commented on #1155
Could do, but seems a bit hacky to be honest. And it would require either creating a "Tweet this" button, or changing the deep link URLs to include this, causing a page reload when clicking on one of these.

That's only for the button script. Not sure it's worth adding another external dependency just to create a button - we could do that easily ourselves, but I'd prefer to keep this as a link rat

[2020-08-04 07:38] bazzadp commented on #1154
Hopefully #1138 will be the longer term fix to prevent this from happening.

[2020-08-04 08:33] bazzadp commented on #1155
I tested the [JavaScript option with a test deploy](https://20200804t092305-dot-webalmanac.uk.r.appspot.com/en/2019/javascript#fig-1) and confirmed Twitter doesn't update the image so looks like it still doesn't execute JavaScript.

What do you think @rviscomi - do we look at using URL params and changing this server side? Might be more complicated and fragile as can't use the `querySelector` in P

[2020-08-04 09:10] bazzadp opened #1158 "Still some English in Japanese templates"
Noticed this is how our Japanese edition appears on Twitter:

![Web Almanac Japanese Twitter Image with English text](https://user-images.githubusercontent.com/10931297/89275709-89689080-d63a-11ea-9032-aaa59f31faac.png)

Notice it's called "The 2019 Web Almanac" in English.

Searching for the word "The" it appears we have a few instance of English in our Japanese translations:

https://github.com/

[2020-08-04 16:31] bazzadp commented on #924
I created a [Git Guide](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Git-Guide) in our wiki for those of you new to git (or wanting a refresher!).

Also come join us on [`#web-almanac Slack`](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA) if not already on there, including the [`#web-almanac-developers` Channel](https://httparchive.slack.com/a

[2020-08-04 16:32] bazzadp commented on #923
I created a [Git Guide](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Git-Guide) in our wiki for those of you new to git (or wanting a refresher!).

Also come join us on [`#web-almanac Slack`](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA) if not already on there.

[2020-08-04 17:19] rviscomi commented on #1155
With #1138, URL params like `fig=8` might work but I'm surprised to (finally) learn that anchors like `#fig-8` aren't sent to the server. Given that I'm ok to close this as infeasible.

[2020-08-04 17:19] #1155 closed

[2020-08-04 17:30] aleyda commented on #908
Thanks for your awesome work @Tiggerito and @antoineeripret ! Checked the 27th milestone already :D Great to hear also about the initial test crawls being successful, ... if you need anything from me just let us know!

I see that the next milestone is on September 7 to have all the metrics queried so we can start reviewing the results sheet which should be done by September 14... which would give

[2020-08-04 17:44] bazzadp commented on #924
Which reminds me that I never shared this other wiki page we recently created: [Technical accomplishments](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Technical-accomplishments) wii page.

[2020-08-04 18:32] bazzadp commented on #574
@HTTPArchive/developers anyone with good CSS skills fancy tackling this one?

[2020-08-04 18:33] bazzadp commented on #949
@HTTPArchive/developers anyone with good Python skills fancy tackling this one?

[2020-08-04 18:34] bazzadp commented on #962
@HTTPArchive/developers anyone with good shell scripting skills and/or GitHub Action skills fancy tackling this one?

[2020-08-04 18:36] bazzadp commented on #933
@HTTPArchive/developers anyone used the Lighthouse CLI before that could integrate this into our generate script and add some performance budgets?

[2020-08-04 20:20] SaptakS commented on #949
I can give it a look over the weekend.

[2020-08-04 22:20] sergeychernyshev commented on #910
Folks, I know I probably stood you up, but I realized I don't have enough time and brain capacity to give enough attention as a reviewer and will have to bail on you. Sorry about that.

[2020-08-05 01:08] obto commented on #910
@sergeychernyshev No worries and thanks for letting us know.

[2020-08-05 09:47] catalinred commented on #574
If that's ok, I'll take a look and try to come up with something.

[2020-08-05 13:28] bazzadp opened #1162 "Contributors flex setting"
We currently flex grow the social icons:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/8318a3208f60664a3d45680d0c1dde13c0edcc87/src/templates/base/2019/contributors.html#L132-L134

This effectively means we bottom align the teams the contributor is in:

![Bottom aligned teams](https://user-images.githubusercontent.com/10931297/89417991-5a7c1880-d727-11ea-845b-5c1a77caae41.png)

Woul

[2020-08-06 21:27] #962 closed

[2020-08-07 10:40] Super-Fly commented on #949
Hey, I created a PR for that, can you take a look and see if it looks ok?
There a couple of things that can be improved but my focus in that PR was just to clean up main.py for now.

[2020-08-07 14:31] bazzadp opened #1178 "Add Lighthouse testing"
As mentioned in our [Technical Accomplishments page](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Technical-accomplishments) we currently have very good Lighthouse Scores:

![Lighthouse scores for Web Almanac with 99% for Performance, 100% for Accessibility, 100% for Best Practices and 100% for SEO](https://user-images.githubusercontent.com/10931297/89048613-f8e33500-d347-11ea-9e95-

[2020-08-07 20:34] bazzadp commented on #991
Good news - The [GitHub Superlinter just merged in sql-lint](https://github.com/github/super-linter/pull/528).

Not so good news, is that it is not [currently configurable](https://github.com/github/super-linter/blob/master/docs/disabling-linters.md#sql) so we cant turn off rules we don't like - which might be an issue for some of the weird SQL we use in Big Query. However [sql-lint just added tha

[2020-08-07 20:47] #1158 closed

[2020-08-08 08:40] Tiggerito commented on #899
I'm now documenting more precise metrics we need so that I can create the queries. You can see what I've done so far:

https://github.com/HTTPArchive/almanac.httparchive.org/pull/1137

The sheet references the metrics on this list.

This is where you will need to double check that I will be gathering the exact data you will need.

[2020-08-08 09:55] Tiggerito commented on #899
**How often do elements appear per document?**

Could we clarify this one. As it could be complex. What numbers are wanted?

[2020-08-08 09:58] Tiggerito commented on #899
**How do people use the `viewport` meta element to control layout on mobile devices?**

I'd need exact rules on what to pull out and identify.

So far I have, is "user-scalable=no" in it.

[2020-08-08 10:29] Tiggerito commented on #899
**Heading elements, logical sequence?**

are used to add e.g. a h1 for each `section`?

I have a sequence of headings with their levels. But no idea how I can process this into a "makes sense" metric? e.g.

[1,2,2,6,3,4,8]

[2020-08-08 11:06] bazzadp commented on #899
If you don't mind me interjecting:

Is this the same as went into [figure 1 of 2019's Markup Chapter](https://almanac.httparchive.org/en/2019/markup#fig1). If so should be easy to reuse the queries.

There's more to it than just that](https://developer.mozilla.org/en-US/docs/Mozilla/Mobile/Viewport_meta_tag) and you could  look at the [mobile-web results sheet from last year](https://docs.google.c

[2020-08-08 11:08] Tiggerito commented on #899
**What values are used for `src` and `srcset` on `img` and `source` elements?**

I said yes to this, but have no idea what to gather?

[2020-08-08 11:25] bazzadp commented on #899
OK that's clearly one were all the values would be less than useful, so need some more info on what the requester is looking for. File extension for `src` might be interesting one for example but probably belongs more in Media chapter than here.

This is what we use for hero images on the  Almanac:

[code]

Given that values of `media` and `type` attributes would be more interesting than the `src`

[2020-08-08 11:31] Tiggerito commented on #899
No worries @bazzadp , glad for the help. I think figure 1 relates the the request for "What are the most popular elements?" which I mapped to a last year query.

This seems more about getting info on say, how many times do people add a span to a page. With a repeat for all element types.

I'll test out the suggestion from @rviscomi on Slack, which was to pick the top elements and do a percentile o

[2020-08-08 11:37] bazzadp commented on #899
[Figure 1](https://almanac.httparchive.org/en/2019/markup#fig1) has two columns (if you ignore the 2005 stat they are compared against):
- The number sites with an element - here for example `<title>` ranks higher as most sites have 1 instance of that
- The frequency of elements (in total? per page?) - here `<title>` is no where to be seen (as only used once on a page) and `<div>` rules the roost

[2020-08-08 11:38] Tiggerito commented on #899
There always is. I don't no anything about viewports so assumed there would be millions of different values people would use.

Would a raw dump of say the top 10000 content values be good enough. The referenced sheets split the content up into name value pairs within the content, which I could probably learn to do. Or maybe this is something for another chapter to focus on, like mobile?

[2020-08-08 11:43] Tiggerito commented on #899
I like that rule and could probably create a js function to return a good/bad result.

People do a lot of strange things. The SEO chapter also looks into that.

Maybe the markup people can confirm the rules of a valid sequence?

[2020-08-08 11:44] bazzadp commented on #899
I'd be surprised if there was more than a few hundred or so unique content values to be honest, and once you get to that level you'll be dealing with really small percentages. So I'd probably limit to the top 20 or 50 values and if that covers say 95% of usage then we're good.

If it does turn out there are lots of values and you do need thousands of rows to get to that 95% usage, then my approach

[2020-08-08 11:45] Tiggerito commented on #899
Would this be more in the media department. I think they do dig a lot deeper into this sort of stuff.

[2020-08-08 11:52] Tiggerito commented on #899
The sheet you shared had 5,000 unique name value pairs. Which is fine, but I suspect the combinations of them, in different orders, with different spacing, different cases etc would be massive.

I could try and normalise the content, e.g. reorder alphabetically, all lower case, no spaces?

[2020-08-08 11:56] bazzadp commented on #539
Bonjour team!

We seem to have lost some momentum here. Would love to get this finished out well before 2020 edition is published as after that the chances of getting it finished plummets even further!

Do any of you have any more time to work on this?

@AymenLoukil / @SilentJMA - you've quite a few chapters tagged against your name but haven't been around lately. Can you let us know if you're sti

[2020-08-08 12:01] Tiggerito commented on #899
I thought one query from last year acquired data for both those tables, but now think it is two. I'd already created two metrics for them under the one request. Maybe that other request was for the second metric and I can cross one off 😀

[2020-08-08 12:03] bazzadp commented on #899
Yeah I guess it pays to look at stats I'm quoting! ☺️

I'm guessing many are very, very rarely used. See how many rows you need to return until you get 95%. That's a completely arbitrary number btw so maybe 90% is sufficient or 99% is more desirable? I just think if you have top 20 values and it only covers less than 50% of the site for example, then any conclusions are a bit ropey.

Yes you could

[2020-08-08 12:04] j9t commented on #899
Thanks @Tiggerito, @bazzadp!

Two thoughts on scanning:

1. Headings, outlines, orders don’t look like a super-critical thing to me. I can imagine the SEO team to look into that and I’d be fine with that. (Open to other thoughts.)

1. Image markup as with `srcset` was something @catalinred suggested I believe. As it keeps coming up, do you mind clarifying if necessary, Catalin? (I’m not too concer

[2020-08-08 12:28] bazzadp commented on #899
Yeah heading ordering is probably more for Accessibility chapter to worry about, and maybe SEO. In fact that gave me an idea and I just checked and Lighthouse has a check for this!

[code]

And yeah it's a tough call as to what fits where. I would say concentrate on what YOU want to explore in this chapter and if there's some overlap, then that's fine. The more likely situation is you will run out

[2020-08-08 19:20] rviscomi commented on #1052
Spent a couple of hours massaging the 2019 `z-index` data into something that can be manipulated and visualized in [this codepen prototype](https://codepen.io/rviscomi/pen/jOqPEqv). I don't love it but it's just something to demonstrate how one can engage with the data in a more hands-on way than just reading a graph. I'd definitely like to explore other metrics to visualize and more engaging ways

[2020-08-08 22:13] catalinred commented on #899
Actually, it wasn't me who suggested that :)

[2020-08-09 00:22] ibnesayeed commented on #899
I take the blame of asking for statistics of `srcset` attribute (and this attribute is not limited to only the `img` element). ;-)

[2020-08-09 12:50] bazzadp opened #1182 "Viper in 2019 Media chapter?"
As noted in https://github.com/HTTPArchive/almanac.httparchive.org/pull/1181#issue-465147230 the Media chapter has this note:

What does "viper" mean? Is that a typo?

[2020-08-09 18:27] #949 closed

[2020-08-09 21:03] #1140 closed

[2020-08-10 04:27] Tiggerito commented on #899
Using tips from @bazzadp I created [a sheet](https://docs.google.com/spreadsheets/d/17-GN4TaXoIKzaqfiB__CjyHPtB8BsbPpcWhaRfWcerA/edit#gid=1539092883) that lists the most popular meta viewport values.

This is based on a sample of 10k pages, not the full data, and I'm not sure how old the sample is.

To make the values more useful I normalised them:

- removed all spaces
- changed to lower case
- r

[2020-08-10 04:43] Tiggerito commented on #899
Here's a [similar sheet for doctypes](https://docs.google.com/spreadsheets/d/1-S38dH4YsZI_kir-XtVZFyLDlJ6xZDQ_9i8AKgSygUU/edit#gid=338665603). This time I just changed them to lowercase and removed any extra spaces.

[2020-08-10 11:36] zcorpan commented on #899
For srcset, I suggest coordinating with the Media team

[2020-08-10 12:08] colinbendell commented on #1182
DPR

[2020-08-10 12:53] bazzadp commented on #1182
Pardon my ignorance @colinbendell are you saying it is a typo and I can just change it to DPR?

[2020-08-10 13:10] colinbendell commented on #1182
yep!

On Mon, Aug 10, 2020 at 8:53 AM Barry Pollard <notifications@github.com>
wrote:

[2020-08-10 20:19] #574 closed

[2020-08-10 21:32] rviscomi opened #1195 "Contributor profile pages?"
I'd like to pitch an idea for discussion: year-agnostic profile pages for each contributor.

For those who contribute to multiple annual editions, some of their metadata is duplicated across the config files, like name and social links. Authors also have bios in the year's [base template](https://github.com/HTTPArchive/almanac.httparchive.org/blob/0d9238dc7e5528d04222cc415d8ded0db3cea232/src/templ

[2020-08-10 22:09] bazzadp commented on #1195
Good idea. I’ve been thinking our contributor page is a bit light and think we should have links back to chapters they worked on. Saying someone was an author isn’t much use, without saying what chapter(a) they authored on!

However I still think it’s good to highlight the contributors for each year. To say we 96 contributors to 2019 edition (and who they were), and that there were 116 contributor

[2020-08-10 23:33] rviscomi commented on #1195
+1 let's keep the existing `/<lang>/<year>/contributors` pages. We should also think about how to link the Contributors and chapter pages to the profile pages.

Either way. With contributor-specific files, it's easier to maintain. At deploy time we can run a script to bundle them up into a single config, or "hydrate" the year-specific config files with the perennial metadata. Having files for each

[2020-08-11 08:27] joereynolds commented on #991
Hey @bazzadp,

I'm working on fixing these issues (I'm the dev on `sql-lint`). Bit of a busy time for me but it's on the way, hope that gives some reassurance!

[2020-08-11 08:47] bazzadp commented on #991
Thanks for responding @joereynolds ! Great to have that reassurance. I’m watching those so should be informed of updates whenever you get a chance!

[2020-08-11 09:30] nico3333fr commented on #539
One more, done quickly :) https://github.com/HTTPArchive/almanac.httparchive.org/pull/1196 ;)

[2020-08-11 18:06] Navaneeth-akam commented on #900
Hi, I had a chat with @paulcalvano about Almanac 2020 and would like to help with Media chapter. I'm new to this and would like to contribute as a reviewer.

[2020-08-11 18:12] rviscomi commented on #900
@Navaneeth-akam great to have you!

@tpiros can you get them caught up?

[2020-08-11 18:18] tpiros commented on #900
Welcome onboard @Navaneeth-akam. Please review the draft doc (link at the very top of this page) and let me know if you have any questions either here on on the #web-almanac-media channel on Slack.

[2020-08-11 18:27] Navaneeth-akam commented on #900
Thanks @rviscomi !
@tpiros , will review the draft doc and let you know if I have queries.

[2020-08-12 10:05] nico3333fr commented on #539
I hope to be able to jump into security one soon.

[2020-08-12 10:17] borisschapira commented on #539
I'll try to translate "Media" in the next few days.

[2020-08-12 13:56] rviscomi commented on #539
Great work everyone! I think the JS and CSS chapters would be good to translate soon as those got the most page views. Should we unassign those chapters to make sure they're not blocked/stale?

[2020-08-12 14:57] borisschapira commented on #539
I think we can, and we should. If I take JS and @nico3333fr takes CSS, they would be ready before the end of the month.

[2020-08-12 16:46] nico3333fr commented on #539
Please update the issue and assign CSS to me ;)

[2020-08-12 16:51] bazzadp commented on #539
You should be able to edit the issue yourself. Let me know if that is not the case.

[2020-08-12 19:49] #1182 closed

[2020-08-13 09:10] ahmadawais commented on #878
@denar90 @remotesynth 👋 we need your help with the following stage.

### [**2. Gather data**](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Chapter-Lifecycle#1-plan-content)
+ [ ] **Jul 27th**: Analysts have added all necessary [custom metrics](https://github.com/HTTPArchive/legacy.httparchive.org/blob/master/custom_metrics/README.md) and [drafted a PR](https://github.com/HTTPArchive

[2020-08-13 10:11] denar90 commented on #878
@ahmadawais I have early query and clarified missing parts, e.g. querying CDN like Azure and stuff, I'll prepare PR's till the end of the week.

[2020-08-13 17:18] goleedev commented on #926
@rviscomi If you still need some help, here is the translation! 🙂

EN: Do you speak Korean? Help us translate the Web Almanac as part of our effort to make it globally accessible to the web community!
KO: 한국어를 할 줄 아시나요? 그렇다면 웹 커뮤니티를 전 세계에서 액세스할 수 있도록 Web Almanac의 번역을 도와 주세요!

[2020-08-13 17:40] rviscomi commented on #926
Thanks @goleedev! I've just tweeted it here: https://twitter.com/HTTPArchive/status/1293965549588877314

[2020-08-13 19:35] exterkamp commented on #901
Is this section still in need of reviewers? I'd be happy to help.

[2020-08-13 19:47] rviscomi commented on #901
Thanks @exterkamp! @simonhearne can you help onboard Shane?

[2020-08-13 20:22] rviscomi commented on #1178
Could use the PageSpeed Insights API to get Lighthouse scores as well as real-user experience data from CrUX.

[2020-08-13 21:00] HakaCode commented on #505
@bazzadp how to proceed with the next files to be translated? do I ask for permission here or can I just put my name next to the file I'm working on?

[2020-08-13 22:12] rviscomi commented on #1162
Make it so!

[2020-08-14 13:30] remotesynth commented on #878
Ok. I'll connect with @denar90 and work on that.

[2020-08-14 13:52] bazzadp commented on #505
No need to ask for permission - just stick your name against an unassigned file and off you go.

In fact, as you are the only Portuguese translator at present there's definitely no need to ask for permission. But let's follow the assigning workflow, so if anyone else joins you, then they can do the same!

[2020-08-14 15:15] nico3333fr commented on #539
Yes, you're right, done :)

[2020-08-14 15:20] bazzadp commented on #539
OK if this isn’t incentive to get the translation finished then I don’t know what is!
https://twitter.com/httparchive/status/1294286600059396097?s=21

[2020-08-14 15:29] HakaCode commented on #505
Thank you for your attention, I'm really enjoying the project.

[2020-08-14 16:06] borisschapira commented on #539
I've started the translation of the JS chapter

[2020-08-15 04:08] Tiggerito commented on #899
Hi all,

I've implemented the queries for almost all of the data we agreed on. A few are complex and I've had a long day, so I will leave them to a point where my brain is working again.

The [introductory comment for the pull request](https://github.com/HTTPArchive/almanac.httparchive.org/pull/1137) contains a fill list if the data I'm gathering with links to sample sheets of results. In most cas

[2020-08-15 18:28] rviscomi opened #1219 "ISBN?"
Should we get an [ISBN](https://en.wikipedia.org/wiki/International_Standard_Book_Number) for the ebook and/or print book? Would especially love to hear from anyone with experience in self-publishing. All feedback welcome.

From https://www.myidentifiers.com/identify-protect-your-book/isbn/buy-isbn:

[2020-08-16 07:08] bazzadp commented on #1219
This seems like a good resource: https://www.editage.com/info/book-editing-services/articles/10-faqs-on-isbn-every-self-publishing-author-must-know.html as does this: https://editorialservice.com/do-you-need-an-isbn/

In short, an ISBN is not needed for an ebook, but is needed if you want others to sell printed books. It will register your book so make it more likely to appear in book catalogues a

[2020-08-17 12:39] bazzadp opened #1221 "Should we remove generate content from git repo?"
@HTTPArchive/developers , question for you all:

We auto generate some content, including:
- Chapters `.html` files (from chapters `.md` files)
- The `sitemap.xml`
- Potentially `featured_chapters.html` (depending on outcome of #1104)
- Ebook `.html` and `.pdfs`

This creates some confusion as searching the code base (e.g. to fix a typo) leads to multiple hits - but only the `.md` files should be

[2020-08-17 12:48] borisschapira commented on #1221
I find it relevant to **remove generated elements from the tracked code**. In the development context, even for CSS only, I don't think the `npm run generate` is any more complicated than installing the dependencies via Python and running the web server. If you do the latter, I doni’ think s.o. will have any difficulties with the former.

[2020-08-17 14:33] ibnesayeed commented on #1221
I would vote for removing non-source files, unless necessary.

[2020-08-17 14:34] bazzadp opened #1222 "Should we change to a static site?"
@HTTPArchive/developers , another question for you.

This question has come up (again) with some chats with you and so I'm opening this issue for discussion.

_Note: this has been discussed before in #634 and we closed this issue. I've decided to open a new issue, rather than reopen that last one, as that last one got a little sidetracked on other GitHub issues._

The Web Almanac is basically a st

[2020-08-17 14:53] bazzadp commented on #1222
The other option of course, is to have a "full" python server to generate the static pages at deploy time, and then a light version of the server (also in python?) to serve these "static pages" and add the dynamic content (redirects, headers, nonces, randomised pages...etc) as need be.

That could be more performant for most pages - thought that is added complexity (two servers) and not sure our f

[2020-08-17 15:08] bazzadp opened #1223 "Changes to the way we develop CSS and JS"
@HTTPArchive/developers as you can see I have lots of questions today!

**First a bit of background:**

At the moment, we lovingly handcraft our CSS and JavaScript from raw bits and bytes.

We don't use any large libraries and frameworks and I think that's the right decision given the fact we are basically a static site (see #1222) with few pages or complex components (though that might be changin

[2020-08-17 16:56] bazzadp opened #1224 "Keeping track of Last Updated timestamps"
We have a need to track the last update time for a page.

This is done for a few different reasons (mostly to do with SEO):
- We have [Article Structured Data](https://developers.google.com/search/docs/data-types/article#article-types) on each page and the `dateModified` is [recommended](https://developers.google.com/search/docs/data-types/article#article-types) - and basically shows as an error i

[2020-08-17 19:27] bazzadp commented on #1178
That would be good for production monitoring @rviscomi but I'm more thinking of this Issue as a test in pull requests - to stop any recessions getting into production.

[2020-08-17 20:24] sudheendrachari commented on #1223
With my limited understanding of the codebase, here are my thoughts..

IMO Typescript would be an overkill, since the amount of dependency on JS for the core functionality of the website is less and thus JS footprint itself isn't too huge to leverage the advantages we get over moving to Typescript

That said, I would still love to see better organisation of our JS code, a file like chapter.js is ~

[2020-08-18 06:12] bazzadp commented on #1221
One thing where storing the assets is useful is when EJS upgrades (like in #1225 ) - we can run the script and see no templates have changed and so know the upgrade does not impact us. In the past we've noticed changes to the HTML generated. Not an insurmountable problem, and it is rare, but it is something that is a little tougher if we do this.

[2020-08-19 09:15] #969 closed

[2020-08-19 10:03] bazzadp commented on #1052
Had a play with this this morning. Sorry for the delay. An interesting little demo, and definitely makes it seem more achievable so addressing some of my concerns I raised in https://github.com/HTTPArchive/almanac.httparchive.org/issues/896#issuecomment-657121930

However, I do think we need to find the right use cases for this. I've a question as to whether the current demo (which I totally under

[2020-08-19 10:11] bazzadp opened #1229 "Increase pytest coverage"
@Super-Fly did some excellent work in #949 and #1176 to refactor out Python code.

We should look to increase our pytest coverage to test some of these function/helper files.

- [x] - Add Coverage reports - @bazzadp - #1555
- [x] - `server/init.py` (69%) - @bazzadp - #1853
- [x] - `server/config.py` (96%) - @AbbyTsai - #1605
- [x] - `server/errors.py` (65%) - @bazzadp - #1853
- [x] - `server/helpe

[2020-08-19 19:50] borisschapira commented on #539
I'm starting the Media chapter.

[2020-08-19 22:22] tkadlec commented on #897
@jaisanth I've started on documenting the metrics I think we'll need (and I think are feasible) in the document. Would you be able to have a look as well and help me flesh it out?

[2020-08-19 22:34] tkadlec commented on #897
@rviscomi Is the deprecated API's audit running? Wondering if there's anything interesting to clean by reporting on deprecated API's in use?

[2020-08-20 04:41] rviscomi commented on #898
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet](https://docs.google.com/spreadsheets/d/1sMWXWjMujqfAREYxNbG_t1fOJKYCA6ASLwtz4pBQVTw/edit?usp=sharing) to be used for this chapter's query results.

[2020-08-20 04:50] rviscomi commented on #897
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-08-20 04:53] rviscomi commented on #897
@tkadlec yes, the [deprecations audit](https://web.dev/deprecations/) is under `$.audits.deprecations` in the LHR.

[2020-08-20 05:03] rviscomi opened #1233 "Add result spreadsheet metadata to each chapter"
Before the August crawl completes and analysts begin running their queries, we need to provide spreadsheets for them to save their results and share with the rest of the content team. Let's use this issue to track progress on getting these sheets set up. Here are the tasks for each chapter:

- make a copy of the [template](https://docs.google.com/spreadsheets/d/1PTkM-V33bEvbNIeTJC27DKijwGRs2D-_9po

[2020-08-20 19:57] #1162 closed

[2020-08-21 12:30] tunetheweb opened #1237 "Pull quotes for chapters"
Similar to the discussion in #1016 but for the chapters rather than the home page, we should have the facility to embed pull quotes in the chapters to pull out interesting quotes to catch people's eye as they scroll down the page, as well as break up the text.

This is pretty common, for example from [Smashing Magazine](https://www.smashingmagazine.com/2020/08/clients-backlinks-design/):

![Smashi

[2020-08-23 22:49] bazzadp commented on #1086
Closing as have started doing this: https://github.com/HTTPArchive/almanac.httparchive.org/releases/

[2020-08-23 22:49] #1086 closed

[2020-08-24 16:44] rviscomi opened #1247 "Comma separating two contributors"
On chapter pages like [Media](https://almanac.httparchive.org/en/2019/media), when there are two authors or reviewers, the contributor names are separated by ", and".

I would only expect the names to be separated by "and". For example:

A
A and B
A, B, and C

![image](https://user-images.githubusercontent.com/1120896/91072368-6745ab00-e607-11ea-82ed-00eafb1a3173.png)

This affects both the chapte

[2020-08-24 16:46] bazzadp commented on #1247
Presume you still want an oxford comma for 3 or more names?

[2020-08-24 17:02] rviscomi opened #1248 "Unattributed author: voltek62"
Vincent Terrasi is listed on the [2019 Authors](https://almanac.httparchive.org/en/2019/contributors?teams=authors#voltek62) team but not credited as an author for any of the chapters. They are credited as a reviewer of the [Ecommerce](https://almanac.httparchive.org/en/2019/ecommerce) chapter.

Should we change their team from "Authors" to "Reviewers" or have they not been properly credited for c

[2020-08-24 17:26] rviscomi commented on #1247
Yes, clarified the desired behavior.

[2020-08-24 17:47] bazzadp commented on #1247
Added another clarification that this impacts both chapter and ebook.

A bit of Jinja2 templating dev if any of the @HTTPArchive/developers want to take a stab at it? Good one for learning how our templating works and happy to give any guidance here!

[2020-08-25 08:07] mandymichael commented on #902
Is there anything that would be helpful for me to look into for this? I'm unsure how to best help out here?

[2020-08-25 09:53] AbbyTsai commented on #902
Hi, everyone, here might love to have your thoughts in the roadmap on how to scan the following specific fonts with stylesheet or html page: font subsetting, icon_fonts,  VF+animation. (Special thanks Rod, Dave, Rick for helping collection & clarficiation dataset) 

[2020-08-25 11:05] arigaud-ca commented on #539
Hi, following our discussions on Twitter with @nico3333fr  and @borisschapira I would be glad to join the team.
I saw that PWA, Page Weight or Fonts are still to translate. Do you have a preference as far as priorities are concerned?

[2020-08-25 11:05] borisschapira commented on #539
👋  @arigaud-ca, wanna help?

[2020-08-25 11:25] bazzadp commented on #539
Hi @arigaud-ca - welcome on board. I've also sent you invite to the team.

The chapters in the [first comment](https://github.com/HTTPArchive/almanac.httparchive.org/issues/539#issue-527885745) are in rough order of popularity so go with that. Fonts is the most read out of those three chapters if particularly interested in those subjects. Once you accept that team invite you'll be able to edit the

[2020-08-25 11:31] RoelN commented on #902
Re: icon fonts, for [Type-X](https://github.com/arrowtype/type-x) we look at [classnames](https://github.com/arrowtype/type-x/blob/master/src/background.js#L19) to guess if an icon font is used there. These classnames were gathered from popular icon font libraries (e.g. FontAwesome). This is hardly foolproof though, and you'd probably catch a lot of noise if you use this method.

Looking at font n

[2020-08-25 11:43] arigaud-ca commented on #539
Thanks @bazzadp I will spend some times to go through the documentation first.

[2020-08-25 17:00] bazzadp opened #1254 "Voiceover reading percentiles incorrectly"
As noted in #1249 Voiceover is reading "p10" as "page 10" so need to change this to "10th percentile" or equivalent.

Affects the following chapters:
- [x] en cdn - #1256
- [x] en javascript - #1256
- [x] en media - #1256
- [x] es javascript - #1264
- [x] es media - #1264
- [x] fr javascript - fixed in #1249
- [x] ja cdn #1265
- [x] ja javascript #1265
- [x] ja media #1265

The CDN chapters will r

[2020-08-25 20:58] #1221 closed

[2020-08-26 07:31] AbbyTsai commented on #902
Thanks Roel to clarification.
May I then say that [FontAwesome](https://fontawesome.com/) hosts merely icon service which means gathering its metadata might catch them all.
Moreover, those topics look forward to anyone of folks adding your voice into.
font subsetting, icon fonts, VF+animation.

[2020-08-26 08:12] borisschapira commented on #908
Interesting insights on HTTP codes (mostly 404) on this post by Matt Hobbs (@Nooshu), maybe it can help for queries and comments: "[Why you should be testing your 404 pages web performance](https://nooshu.github.io/blog/2020/08/25/you-should-be-testing-your-404-pages-web-performance/)".

[2020-08-26 08:18] RoelN commented on #902
Yes, I think it's possible to recognise 99% of FontAwesome fonts being used (the other 1% would be people who optimised/minified/broke their font so much it doesn't contain any metadata or other fingerprints). You could make similar fingerprints for Icomoon, Fontello, Iconic, etc. But you might miss custom implementations of any font that you don't have a fingerprint of. But that might be acceptab

[2020-08-26 15:32] LeaVerou commented on #898
Hey editors & reviewers (@svgeesus @rachelandrew @estelle @fantasai @mirisuzanne @j9t @catalinred @hankchizljaw)!
Since the bulk of the analysis will be JS on the Rework AST, @rviscomi and I were wondering if any of you would be willing to help with the JS? We have [over 40 stats to calculate](https://github.com/LeaVerou/css-almanac/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22prop

[2020-08-26 15:38] AbbyTsai commented on #902
Good to have your point of view. Thank you.
As so far here is my understanding on where to scan those fonts and wellcome all you in helping clarification.
/icon fonts: GoogleFont(icon)+FontAwesome+optimised/minified/broke(hostname)
/subsetting: GoogleFont(subset)
/vf+animatin: GoogleFont(font-variation-setting, animation), OpenType[('gvar','fvar.axisTag')](https://docs.microsoft.com/en-us/typograp

[2020-08-26 20:49] rviscomi opened #1258 "Generate 2020 almanac tables on BigQuery"
The 2020_08_01 HTTP Archive crawl completed yesterday and the tables are available on BigQuery. However, to facilitate Web Almanac analysis, we reorganize the data into the `almanac` dataset to make the results more efficient to query.

@paulcalvano and I will be prepping this dataset with the 2020 results. The existing tables already contain 2019 data and they do not necessarily make that clear.

[2020-08-26 21:07] rviscomi commented on #1061
@patrickhulce is it possible to cut a 2020_08_01 version of the BigQuery table? We can pull this into the `almanac` dataset for analysis in this year's edition.

[2020-08-26 21:20] patrickhulce commented on #1061
@rviscomi sure you just need the domain mapping table, right?

[2020-08-26 21:33] rviscomi commented on #1061
Yes please! The mapping of domains to third party categories. Thanks!

[2020-08-26 21:47] patrickhulce commented on #1061
Done. `lighthouse-infrastructure.third_party_web.2020_08_01`

Also attached here in zipped CSV if you want to reupload that way only ~1.5MB of ~34k domains to category
[domain-map.csv.zip](https://github.com/HTTPArchive/almanac.httparchive.org/files/5132907/domain-map.csv.zip)

[2020-08-26 21:58] rviscomi commented on #1061
Thanks @patrickhulce!!

[2020-08-26 22:12] rviscomi commented on #1258
I'm replacing the `requests` table with the contents of `requests3`, which was the third and most accurate representation of the summary+JSON data. I'm also including a new field `requestId` which is extracted from the JSON. There are [11](https://github.com/HTTPArchive/almanac.httparchive.org/search?q=requests3&unscoped_q=requests3) queries from 2019 that reference `requests3`. These should all b

[2020-08-27 16:11] rviscomi commented on #1061
Merged `lighthouse-infrastructure.third_party_web.2020_08_01` with [`almanac.third_parties`](https://console.cloud.google.com/bigquery?p=httparchive&d=almanac&t=third_parties&page=table) and added a new partitioned `date` field to differentiate 2019 and 2020 data.

[2020-08-27 16:12] #1061 closed

[2020-08-27 18:25] AbbyTsai commented on #902
Hey, everyone,
[Here](https://docs.google.com/spreadsheets/d/1KLKFzVA2yJLIQbdxr14Cqjix0Tft-onqOHsrKxEVV6o/edit?usp=sharing)’s my first metric.sql which calls for all you folks to review and comment.
Feel free to rewrite them as you might find much unprofessional behavior.  ^^
Thank you.

[2020-08-29 05:46] AbbyTsai commented on #902
@jpamental @davelab6
Would you help to indicate deeply which [key axis](https://github.com/WPO-Foundation/wptagent/pull/370) of filesize with OpenType that might be interesting to metric as you mentioned in [outline](https://github.com/indestructible-type/Jost/issues/72) although I haven't find the road on how to extract them. Also, Feel free to give feedback if you find any metric without meeting

[2020-08-29 11:40] davelab6 commented on #902
I propose schedule a call on this in the best few days to sync up (Jason &
Abby)

[2020-08-29 14:59] AbbyTsai commented on #902
Awesome, I'm happy to join the meeting. Let me then know your planned time.

[2020-08-30 14:06] ahmadawais commented on #878
@denar90 @remotesynth looking forward to queries PR? We are headed close to the Aug 31st crawl.

[2020-08-30 19:46] denar90 commented on #878
@abraham, wip is here - https://github.com/HTTPArchive/almanac.httparchive.org/pull/1228
I need to figure out how to join and have `desktop` and `mobile` results together. If it's solved - super easy to run other queries for other metrics, kinda the same but changing metrics names. I think we can finish it up this week.

[2020-08-31 17:00] rviscomi commented on #1233
I've made copies of the results sheet for each chapter. They should all be accessible in [this Drive folder](https://drive.google.com/drive/folders/1ZmW8dZsSFuEhh2o1VqLIlZTljiGppw8p?usp=sharing). @obto do you have time today to update the chapter issues with their respective sheet links?

[2020-08-31 20:54] remotesynth commented on #878
I chatted with @denar90 today a bit about the query and we discussed some ideas for expanding some of what it detects.

[2020-08-31 21:41] denar90 commented on #878
@ahmadawais I've attached google sheets into PR with TTFB results, so you can start exploring. Hope to finish other queries pretty soon.

[2020-08-31 21:55] rviscomi commented on #878
@denar90 @ahmadawais there are a few housekeeping items to take care of before you can review the results and start writing about them in your chapter:

1. The queries should be updated to the canonical Web Almanac dataset, which is the 2020_08_01 (August 2020) crawl. This crawl just finished recently and we're working on updating the `httparchive.almanac` dataset on BigQuery in #1258. We'll send

[2020-08-31 21:56] denar90 commented on #878
Cool, thanks for the clarifications 👍

[2020-09-01 06:13] Tiggerito commented on #905
Hi performers (is that right?),

The SEO chapter is wanting to get some Core Web Vitals data. You're web_vitals_by_device.sql covers the base of their requirements.

They are also interested in a report related a pages overall CWV score. I believe the overall score for a page is the worst case of good/ni/poor for all the factors.

Are you gathering CWV overall page scores at all?

[2020-09-01 06:46] svgeesus commented on #898
I came across a comment in an old[ CSS Color 4 issue](https://github.com/w3c/csswg-drafts/issues/288) where I wondered aloud whether there was Web-compat risk on out of range sRGB values. I suspect not, but it would be nice to have data on whether sRGB values outside the range [0-255] or [0%-100%] are in actual use.

In practice browsers will either do per-component clip on these or treat them as

[2020-09-01 07:35] Tiggerito commented on #908
@antoineeripret and I have been beavering away over the last month and now have all sql queries worked out bar a few in negotiation.

I've updated the table in the guide to reference the relevant queries and fields.

So far testing is on old or made up data. We should get the real data soon!

[2020-09-01 15:19] obto commented on #917
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 15:21] obto commented on #919
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 15:22] obto commented on #920
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 15:22] obto commented on #921
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 15:22] obto commented on #916
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 15:23] obto commented on #908
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 15:24] obto commented on #909
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 15:25] obto commented on #910
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 15:25] obto commented on #912
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 15:25] obto commented on #913
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 15:25] obto commented on #914
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 15:25] obto commented on #915
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 15:28] obto commented on #878
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 15:29] obto commented on #899
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 15:30] obto commented on #907
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 15:31] obto commented on #906
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 15:31] obto commented on #905
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 15:32] obto commented on #902
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 15:33] obto commented on #901
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 15:33] obto commented on #900
I've updated the chapter metadata at the top of this issue to link to the [public spreadsheet][~results-sheet] that will be used for this chapter's query results. The sheet serves 3 purposes:

1. Enable authors/reviewers to analyze the results for each metric without running the queries themselves
2. Generate data visualizations to be embedded in the chapter
3. Serve as a public audit trail of thi

[2020-09-01 16:02] obto commented on #1233
All chapters have been updated, and authors and analysts invited to their respective google sheets. Closing this out

[2020-09-01 16:02] #1233 closed

[2020-09-02 19:59] rviscomi commented on #901
I learned about some really interesting work @patrickhulce has been doing on correlating third parties to Core Web Vitals performance. I suggested that could be an interesting area of exploration for this chapter and he's open to joining the team as a reviewer. @simonhearne is that something you'd be interested in?

[2020-09-02 20:22] patrickhulce commented on #901
Happy to help but I also understand if we don't want too many (repeat) cooks in the kitchen :) let me know what would be most helpful here!

[2020-09-03 00:06] thefoxis commented on #905
@rviscomi @obto do we need to move some deadlines around because of the webpagetest snafu with throttling? since we'll be waiting for september data to come in, instead of finishing off with the august dataset. I can still maybe start writing some parts  before the data is fully available but at the end of the day, we'll need to full analysis. thoughts?

[2020-09-03 04:16] ahmadawais commented on #878
Thank you, @obto and @rviscomi

[2020-09-03 06:06] bazzadp commented on #905
Why do we need to go forward to September? Why not go backwards to July?

Was Lighthouse 6 fully rolled out for July run? I think it was but could be wrong. Obviously you’d want that for this chapter so may have to wait if it was only half rolled out to the HTTP Archive crawlers for this run.

Are there any custom metrics for performance added for August run? If so they obviously won’t be there fo

[2020-09-03 06:17] bazzadp commented on #905
Though when did the bug come into play? I was assuming only for August crawl as that’s when it was noticed but maybe affected July too (is it a Lighthouse 6 bug?) in which case going back a month is obviously a non-runner.

[2020-09-03 12:35] dooman87 commented on #905
From what I can see in sample data, which I believe was generated from July run, there is a mix of version 5 and 6.

[2020-09-03 15:04] rviscomi commented on #905
@bazzadp has a good point. @dooman87 is also correct that there's a mix of versions, but the majority of tests are using v6:

version | count
-- | --
6.1.1 | 4,506,136
6.1.0 | 1,825,717
5.6.0 | 16,600

The offending bug (https://github.com/WPO-Foundation/wptagent/pull/366) was merged on July 21 and AFAICT the July crawl ended on the ~23rd, so assuming the HTTP Archive agents were immediately updat

[2020-09-03 15:07] pmeenan commented on #905
Yes, the agents update the agent code hourly and the Lighthouse code daily.

[2020-09-03 21:51] #1247 closed

[2020-09-05 06:43] Tiggerito commented on #899
I've now updated all queries to point to the latest data and ran a few to test things. Some initial results are in the sheet:

https://docs.google.com/spreadsheets/d/1Ta7amoUeaL4pILhWzH-SCzMX9PsZeb1x_mwrX2C4eY8/edit?ts=5f4e700c#gid=150962402

Once the queries have been reviewed I can continue to populate the sheet.

[2020-09-05 06:51] Tiggerito commented on #908
I've now updated all queries to point to the latest data and ran the biggest one to test things. Some initial results are in the sheet:

https://docs.google.com/spreadsheets/d/1ram47FshAjzvbQVJbAQPgxZN7PPOPCKIK67VJZCo92c/edit#gid=337739550

Once the queries have been reviewed I can continue to populate the sheet.

I did spot one issue. It seems some css querySelectors are case sensitive, in partic

[2020-09-07 11:31] alexdenning commented on #915
Could I confirm the results sheet is up-to-date in line with: "Sep 7th: Analysts have queried all metrics and saved the output to the results sheet", and thus ready for me? Thanks :)

[2020-09-07 19:32] paulcalvano commented on #1032
I just updated all the sample data tables with August's data.    `httparchive.sample_data` now contains data from 10,000 randomly selected sites from the August 2020 dataset.

The previous sample dataset has been archived as `httparchive.sample_data_jun2020`

[2020-09-08 00:30] rviscomi commented on #915
@alexdenning yes the queries have been written, reviewed, and run. The results are available for you to review in the [chapter spreadsheet](https://docs.google.com/spreadsheets/d/1vTf459CcCbBuYeGvgo-RSidppR62SfM-VTkW-dfS3K4/edit#gid=2077755325). Let both @GregBrimble and me know if you have any questions about the results. And just a reminder that the Lighthouse-based performance stats are invalid

[2020-09-08 05:28] thefoxis commented on #905
@rviscomi I'm easy! I think I'd defer to you to make the decision on which dataset would be most reliable (since you have much more experience here than I do 😸 ). happy to go either way 👍

[2020-09-08 15:04] rviscomi commented on #905
How about we pull only the v6 data from July, which would contain some of the unthrottled results (unless there's a way to detect and filter those out) and include that analysis in the initial draft, then we rerun the analysis when the September crawl is complete and update the draft as needed?

[2020-09-08 16:01] alexdenning commented on #915
@rviscomi thank you! All looks good for me. I will wait for any other comments, and then make a start on writing :)

[2020-09-08 16:02] rviscomi commented on #905
@thefoxis FYI this analysis by the Lighthouse team is closely aligned with the data you were looking to get: https://github.com/GoogleChromeLabs/lh-metrics-analysis/blob/gh-pages/reports/monthly/2020-07/report.md

cc @brendankenny

[2020-09-09 19:05] hemanth commented on #909
@obto @rviscomi I would vote to tick the checkboxes with the data we have.

Me and @logicalphase should probably get started with the content we have a month and couples of days to go and about 5-6 chapters to cover.

[2020-09-09 19:07] j9t commented on #899
@Tiggerito, while we’re now getting ready to work with the data, just to confirm, you’d let us know when we can do so, or should we take a different approach, or do you need something from either of us here right now?

Essentially just checking in as we’ve reached the next milestone—and not meaning to rush :)

[2020-09-09 20:08] bazzadp commented on #909
@hemanth / @logicalphase I can probably help
out and run some of the queries for you.

However the Metrics section of [your document] is looking very bare!

What would be great is if you could review [the spreadsheet from last year](https://docs.google.com/spreadsheets/d/19BI3RQc_vR9bUPPZfVsF_4gpFWLNT6P0pLcAdL-A56c//) and let me know:
1) Which tabs you think would be useful to have the stats rerun

[2020-09-09 22:34] bazzadp commented on #1258
Was looking over the 2019 PWA queries and think it's highly likely this data would be asked for for 2020, as they form the basis of most of the 2019 queries. I gather they are just subsets of the `request_bodies` tables made to allow cheaper querying?

[2020-09-09 23:21] Tiggerito commented on #899
I'm waiting on the queries to be reviewed and merged before I go full speed and start populating the sheet. I did ad a few results to the sheet so you guys could get an idea on the format and maybe play with how you can convert the data into usable charts etc.

[2020-09-10 04:16] hemanth commented on #909
Thanks for pitching in @bazzadp!

Yes.

We were looking into way to figure out if we can pull stats about certain feature set and their usage, like `BackgroundSync`, `PeriodicSync`, offline analytics and likes.

I noticed @jaisanth is an analyst for JavaScript and maybe he can help us too?

[2020-09-10 07:07] bazzadp commented on #909
Some of these may be tracked in the `blink_usage` table. This is a list of 4,163 features that Chrome records websites using as they are crawled including `PeriodicBackgroundSyncRegister` and `PeriodicBackgroundSync`. [Full list of tracked features here](https://docs.google.com/spreadsheets/d/10qKqQF-7DE_ncgwAgtEnBcpANRBIVt0zNrlVl32ePGM/edit?usp=sharing) if you can spot any others that might be us

[2020-09-10 07:14] bazzadp commented on #909
BTW HTTPArchive recently launched a [capabilities dashboard](https://httparchive.org/reports/project-fugu#) including stats you might be interested in like:
- [Get Installed Related Apps](https://httparchive.org/reports/project-fugu#getInstalledRelatedApps)
- [Periodic Background Sync Register](https://httparchive.org/reports/project-fugu#periodicBackgroundSyncRegister)
- [Periodic Background Sync

[2020-09-10 07:26] aleyda commented on #908
Hi @Tiggerito  - can you please confirm when the content team can start reviewing the data -it had been set for this week in the schedule so want to make sure we are on time and to leave enough time to start writing afterwards-. I've checked the sheet above and in column C & D I see percentages of usages and would like to make sure these are the "final" values and if these have been already obtain

[2020-09-10 08:35] bazzadp commented on #1258
The PWA authors confirmed they do want same stats as last night so let us know if it's possible to date stamp those two tables and add this years stats.

Also see [this comment](https://github.com/HTTPArchive/almanac.httparchive.org/issues/909#issuecomment-690036453):

Or is there a way to partition the `response_bodies` table on `firsthtml` and `type` columns so you only way for the rows you're i

[2020-09-10 08:53] Tiggerito commented on #908
I'm waiting on the queries to be reviewed and accepted (merged) before I run them all and push all the data into the sheet. The allocated reviewers are currently being nagged by the system. I'm not expecting any changes in the data, but the reviewers may find some flaws in my queries that are best fixed before we spend the money to get the data.

The existing data is real/final and taken from last

[2020-09-10 17:08] rviscomi commented on #1258
The [`summary_response_bodies`](https://console.cloud.google.com/bigquery?p=httparchive&d=almanac&t=summary_response_bodies&page=table) table is already clustered on `firstHtml` and `type` so this should be efficient.

[2020-09-10 17:15] rviscomi commented on #1258
As for generating the `manifests` table, I'd imagine this would be straightforward by parsing out the `href` value of `link[rel=manifest]` and saving the corresponding response body. We should have this `link` data somewhere in the Almanac custom metrics.

Not so sure how to best generate the `service_workers` table, since they are registered in JS and trickier to parse. We reached out to the Ligh

[2020-09-10 17:22] bazzadp commented on #1258
I'm trying this:

[code]

And it's telling me it `This query will process 25.4 TB when run.` 😱

This query produces a much more reasonable 24.5 GB but need the bodies for some of the queries.

[code]

[2020-09-10 17:47] rviscomi commented on #1258
~25 TB is the size of the entire 2020-08-01 partition. BigQuery gives an upper estimate of the query size without knowing how efficient the clustering will be until runtime. So the query should only incur the cost to process HTML and JS responses, which are still maybe ~75% of all responses considering that binary files are excluded. So it's efficient in the sense that it doesn't query _all_ respo

[2020-09-10 18:18] bazzadp commented on #1258
Ah good to know about binary files not being included. Makes sense but that was my hope to reduce this.

And does look like JS is the vast majority of requests by volume - and probably even more so by size :-(

![Response Bodies Request Size](https://user-images.githubusercontent.com/10931297/92779130-b1fe4b80-f399-11ea-8819-b83c794b3411.png)

[code]

[2020-09-10 20:44] bazzadp commented on #1258
I found [this post](https://medium.com/dev-channel/progressive-web-apps-in-the-http-archive-614d4bcf81fe) from @tomayac and from that I create below SQL:

[code]

Was that what you did last year @tomayac ?

[2020-09-10 21:02] bazzadp commented on #1258
And btw there's similar code to generate the manifest data. Looks like in that post he got both in one go, but I'd imagine that would only work for service workers defined on the main index page in inline `<script>` tags as need both `<link rel="manifest" ... >` and `navigator.serviceWorker.register` defined in same `response_body`. Doing it separately would pick up service workers defined in exte

[2020-09-10 21:05] rviscomi commented on #1258
Good find! That's from 2018 but I assume it was reused for the 2019 Almanac. I'll try running it and report back here if it works.

[2020-09-11 07:28] tomayac commented on #1258
Awesome, you figured it out based on the traces I left in the article, all while I was sleeping :-) So, yeah, what @bazzadp found in https://github.com/HTTPArchive/almanac.httparchive.org/issues/1258#issuecomment-690716397 is exactly the way I did it and would do it again in 2020 if I needed to…

[2020-09-11 07:56] bazzadp commented on #1258
Cool thanks for confirming. Btw the SQL on [your origin post on your blog](https://blog.tomayac.com/2018/07/09/progressive-web-apps-in-the-http-archive-143748/) has lost some of the escapes and so isn’t recognised as valid SQL by BigQuery in case you want to fix it. The SQL in the Medium article seems to work though.

[2020-09-11 08:21] tomayac commented on #1258
Yeah, [Medium](https://medium.com/dev-channel/progressive-web-apps-in-the-http-archive-614d4bcf81fe) is the authoritative source in this case. The export to my origin was lossy unfortunately, tracked as https://github.com/tomayac/blogccasion/issues/3 that I will deal with some time in the future when I will have time™.

[2020-09-11 08:28] bazzadp commented on #1258
BTW the data for this comes from here: https://github.com/andydavies/http2-prioritization-issues#cdns--cloud-hosting-services. Looks like only a very small number of updates since last year, if someone can add a date column and convert the above table to SQL inserts.

[2020-09-11 16:01] brendankenny commented on #905
Yes! And I believe this backs up the patterns we all were seeing both in the overall distribution and what individual sites were experiencing.

Looking at the [year-over-year charts](https://github.com/GoogleChromeLabs/lh-metrics-analysis/blob/gh-pages/reports/monthly/2020-07/report.md#july-2019-vs-july-2020-year-over-year) (which are roughly Lighthouse 6.1 vs 5.1):
- in the first chart, the overa

[2020-09-11 17:31] rviscomi commented on #1258
Thanks @bazzadp! I created a new dated table `h2_prioritization_cdns` and added 2019 and 2020 data.

Here's the script snippet I used on the GitHub page, with `$0` holding the reference to the `<tbody>` of the table:

[code]

Then in BigQuery I appended the output of this query to the table:

[code]

Here's the comparison table:

cdn | 2019-07-01 | 2020-08-01
-- | -- | --
Akamai | ✅ | ✅
Amazon Clo

[2020-09-11 19:06] rviscomi opened #1284 "Too many resources typed as images"
Too many resources in `almanac.requests` and `almanac.summary_response_bodies` are associated with the "image" type. I noticed this when all of the `firstHtml` resources were "image" types for the 2020 data.

This is due to a bug in the query that generated the requests table:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/c5373b1f50f99e6b3f7e390b91c3610475c0ef3b/sql/util/requests.sq

[2020-09-11 19:11] rviscomi commented on #1284
Ran this query to update the `almanac.requests` table:

[code]

There is a slight deviation of +/- 0.2 percentage points from the resource types in `summary_requests`, but this is negligible.

Next I'll sync the updated types with the `almanac.summary_response_bodies` table.

[2020-09-11 19:24] #1254 closed

[2020-09-11 23:05] rviscomi commented on #1284
Regenerated the `summary_response_bodies` table based on the updated query in #1286.

[2020-09-11 23:05] #1284 closed

[2020-09-12 00:15] hemanth commented on #909
@bazzadp the legends and graphs seems bit out of sync? [Or the legend isn't considering the second decimal point]

![image](https://user-images.githubusercontent.com/18315/92982146-bf770c80-f451-11ea-8f9c-f92acc78b5f0.png)

This means `0.00003%`?

[2020-09-12 06:51] bazzadp commented on #909
Not sure what you mean? Do you mean because the legend is only going to 1 decimal place whereas the numbers (as shown by the axis) are so small that means it shows 0.0?

When [we looked last year](https://almanac.httparchive.org/en/2019/pwa#service-workers) only 0.44% of pages installed a service worker - though because some big names did, that meant that 15% of page views used a service worker. W

[2020-09-12 12:08] hemanth commented on #909
Yes.

Me too, I have personally come across few more sties which use them!

Nice article there, I also noticed `progressive_web_apps.web_app_manifests` query.

[2020-09-12 12:25] bazzadp commented on #909
Yes that table (we just called it manifests) which contains the `manifests.json` and a `service_worker` table (which contains the servicework JavaScript code) is what I'm waiting to be created from the 2020 dataset (the August crawl data) to be able query this and then give you these stats. Know @rviscomi is already working on it so hopefully in next few days I'll be able to give you all the stats

[2020-09-13 16:34] ibnesayeed commented on #909
Now that @bazzadp is added as an Analysts, the second task's checkbox should be checked.

[2020-09-13 18:07] rviscomi commented on #1258
I've partitioned the `manifests` and `service_workers` tables by date and added the 2020 data. @bazzadp let me know if the tables look ok to you. There seem to be many more SW but fewer manifests, which makes me suspicious.

[2020-09-14 01:37] LeaVerou commented on #898
@rviscomi Just spotted a bug with our Rework parser: It seems to parse `@import` statements incorrectly when the URL contains a colon. E.g. try this:

[code]

I get:

[code]

[2020-09-14 07:58] aleyda commented on #908
Thanks @Tiggerito ! Really appreciate it. We will do that :) Could you please let us know when the data is ready, and from where we can grab, it so we can start with the writing? Also, regarding the graphs: is this something that analysts will provide or do we need to generate them? Let us know to coordinate!

@ipullrank and @fellowhuman1101 - please take a look [at the table I've added to the Goo

[2020-09-14 08:38] Tiggerito commented on #908
I'm still waiting on the sql to be approved. They have a lot of chapters to review and it's taking them time. I don't think they took this into account on the deadlines. My stuff has had an initial review and I'm waiting on a second pass. I'll work on pulling the data in as soon as I can.

It would be great to get some support in processing the results and creating the graphs. My boss (me) will ki

[2020-09-14 08:42] Tiggerito commented on #908
p.s. bad day, Spent over 12 hours trying to resolve a hosting issue, with no progress. Anyone know of a reliable Asp.Net hosting service?

[2020-09-14 10:01] dwsmart commented on #908
@Tiggerito, have you tried Azure?

[2020-09-14 10:07] bazzadp commented on #909
Done.

[2020-09-14 11:02] bazzadp commented on #1258
Running the following:

[code]

Gives this:

Row | date | pwas | service_workers | manifests | total
----|----|----|----|---|---
1  | 2019-07-01 | 12,196 | 12,176 | 12,045 | 35,782
2 | 2020-08-01 | 34,395 | 34,493 | 34,152 | 138,584

Which seems roughly realistic - a 3 fold increase in use in last year, and tracks roughly with [this graph](https://httparchive.org/reports/progressive-web-apps#swCon

[2020-09-14 14:50] rviscomi commented on #898
Good catch! If you know of a fix, please patch [css-parser.js](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/sql/lib/css-parser.js). We can regenerate the `parsed_css` table if needed but I'd imagine the impact is small.

[2020-09-14 15:36] rviscomi commented on #1258
Thanks @bazzadp, that's really helpful. I've regenerated `pwa_candidates` using an `OR` instead. I've also deduplicated the results in `service_workers` and `manifests` by grouping in their respective queries. See #1291 for the latest util updates.

The growth from 2019 to 2020 now looks more natural. Please confirm if it looks good from your end.

[2020-09-14 16:36] bazzadp commented on #1258
That looks better to me thanks!

There are still some dupes in there.

For example:

[code]

Maybe need a distinct on those last two queries?

Anyway nothing major and can ignore those.

One more request. There are only 63k service worker pages, so I don't think the 1k or 10k pages are going to be very representative of those. Would it be possible to get a reduced `httparchive.almanac.summary_resp

[2020-09-15 02:02] Tiggerito commented on #908
Just created an account with them. Looks complex and more expensive than my current hosting. But I guess with that you get control and power. I need an IT department!

[2020-09-15 19:48] tunetheweb opened #1293 "Add additional columns to Almanac Requests table"
The `httparchive.almanac.requests` table includes a `respHttpVersion` and a `reqHttpVersion` column neither of which contain any meaningful data.

All the HTTP/2 queries last year were based on the `JSON_EXTRACT_SCALAR(payload, "$._protocol")` column which does appear to be mostly accurate. We should add the protocol column to the `httparchive.almanac.requests` table and/or replace the `respHttpVe

[2020-09-15 19:53] rviscomi commented on #1293
Yeah I don't know why those fields have such weird values. I think making the `protocol` field more easily accessible in the request data sounds like a great idea. @bazzadp @gregorywolf is this something you'd like to see done ASAP in order to update the HTTP/2 chapter queries or is it for 2021+?

[2020-09-15 20:12] bazzadp commented on #1293
I've checked and they are wrong in the HAR.

If we could update it ASAP, it would be really useful and save @gregorywolf (and therefore your coupons!) a lot. However if that's a lot of effort than can just query this from the `payload` column. It's just of the 17 queries @gregorywolf has so far, 16 are doing a 7.5TB query each for the `payload` data! 😞  So we should maybe thing about joining queri

[2020-09-15 20:34] bazzadp commented on #1293
Actually I was wrong - all 17 queries need this expensive column at the moment and not just 16/17 ☺️

[2020-09-16 14:42] #986 closed

[2020-09-16 14:45] gregorywolf commented on #1293
@rviscomi I think getting this change done ASP would be great. I also worked with @paulcalvano this morning and he created a new sample_data.requests_withprotocol table which confirmed that there is a massive reduction in cost. My action item that I will do today is to go through all of my queries and identify potentially OTHER pieces of useful information from the payload field that may make sens

[2020-09-16 15:05] rviscomi commented on #1293
I'm supportive of this change. It'd be good to see if there are any other easy optimization wins that we can do all at once.

FWIW I've made it about halfway through running/optimizing the H2 queries. The results are saved to the [H2 sheet](https://docs.google.com/spreadsheets/d/1M1tijxf04wSN3KU0ZUunjPYCrVsaJfxzuRCXUeRQ-YU/edit?usp=sharing), so we don't need to rerun those queries unless there are

[2020-09-16 15:38] bazzadp commented on #1293
Here's some more fields from security chapter last year:
- `$._tls_cipher_suite`
- `$._securityDetails.issuer`
- `$._securityDetails.keyExchange`
- `$._securityDetails.cipher`
- `$._securityDetails.protocol` - not sure how this is different than TLS Version to be honest

I also discovered they are looking at the `respOtherHeaders` column. Would that contain all the response headers I listed in [th

[2020-09-16 18:31] LeaVerou commented on #902
Hi there again,

I was wondering if there are any plans to calculate stats for font stacks and popular font names via the `font`/`font-family` properties? Looking at the [content outline](https://docs.google.com/document/d/15-rYqS-FqKWD0_32LdajEg0tD1Tm0KzgTYyLF2pQK8M/edit), I couldn't figure out whether this is planned or not (there is something about popular fonts, but not sure if it refers to we

[2020-09-16 20:27] fellowhuman1101 commented on #908
Table updated.  Ready to divide and conquer 👍

[2020-09-16 20:36] aleyda commented on #908
Thank you @fellowhuman1101 - that's great :) @ipullrank - could you please check out the remaining ones in [the table](https://docs.google.com/document/d/1q83OZAEd_oYtqwCQ1qkkpZ52T9BLPwkIMDEhXb--Xv8/edit) if these are good for you? If you would like to write any of these along others or which you wouldn't? Let us know to finish the split and start :) Thanks again!

[2020-09-16 23:55] gregorywolf commented on #1293
@rviscomi Thank you for running the queries for me and dropping the results into the H2 sheet. I am reviewing all of @bazzadp comments in my PR. There may be reason to rerun a couple of the queries (i.e., combining QUIC & http/2+quic/46 as H3). If/when I decide to rerun some queries should I ask you or @paulcalvano or will there be a new table created that contains the fields of interest as reques

[2020-09-17 07:56] mschork commented on #923
Is there still translation work required? Is the guide appear in German?
Happy to join this team this year and increase my contribution next year

[2020-09-17 08:16] tunetheweb opened #1300 "Translate content into German"
These are the core templates - without which we cannot release any translated chapters. They are in the [language specific templates directory](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/src/templates):
- [ ] base.html -
- [ ] base_chapter.html -
- [ ] error.html -

**2024**
- [ ] base.html -
- [ ] contributors.html -
- [ ] index.html -
- [ ] table_of_contents.html -

**2022*

[2020-09-17 08:21] bazzadp commented on #923
Hi @mschork - we're always looking for more translations! We've not had anyone volunteer to translate to German yet so I've opened issue #1300 for this and listed some details in there as to what needs to be done, in the recommended order of doing them. We're still a while away from having 2020 content ready to translate but you can get started on 2019 in the meantime (and a lot of those templates

[2020-09-17 19:08] paulcalvano commented on #1258
Was just working on this with @bazzadp and we ran the following query to extract all response bodies for pages that have a service-worker.

[code]

This query processes 14.5TB.  The results for it are stored in `httparchive.scratchspace.service_worker_response_bodies`, which is 187GB

[2020-09-17 21:21] rviscomi commented on #1258
Only mobile?

[2020-09-17 21:29] bazzadp commented on #1258
Yeah. Just for hunting around for now and figure mobile and desktop will be similar enough so thought I’d half my costs and runtimes. Can then decide whether it’s even useful and whether to create a real serviceworkersbodies table with both in almanac schema, or write queries against the full summaryresponsebodies table - once I know exactly what I wanna query.

[2020-09-18 12:45] bazzadp commented on #1293
To answer my own question, it looks like it does! @gregorywolf you should move your queries to using these instead of the responsebodies. Made one such suggestion on your open PR but should replicate for the rest.

@paulcalvano / @rviscomi I've updated the first comment with the complete list as far as I can see. Can we get requests table updated with these? And also update the [request table defi

[2020-09-18 17:31] aleyda commented on #908
Hi @Tiggerito , I want to confirm with you if we can start writing based on [what has been included in this sheet?](https://docs.google.com/spreadsheets/d/1ram47FshAjzvbQVJbAQPgxZN7PPOPCKIK67VJZCo92c/edit?usp=sharing) - is that the final data and is all complete? Thanks again!

@fellowhuman1101 @ipullrank The topics have been split now :) Thank you so much! As soon as @Tiggerito confirms we can st

[2020-09-18 19:46] rviscomi commented on #1293
Chatted with @gregorywolf about this. Given that we're so far info analysis, I wouldn't want to make analysts rewrite their queries to be more efficient and use these fields. In the H2 queries, I've already run them and saved results, so efficiency isn't a blocker there. If any analysts are running out of quota due to these expensive queries, I'm happy to do the query execution using my unlimited

[2020-09-18 19:51] rviscomi commented on #1258
SGTM. There was some duplication in the PWA tables, but I think there are easy workaround using DISTINCT or GROUP BY in their queries. Any objections to closing this issue?

[2020-09-19 02:33] AbbyTsai commented on #902
Hoping [04.11 typeface by country](https://github.com/HTTPArchive/almanac.httparchive.org/pull/1133) would match our taste.

[2020-09-19 03:28] Tiggerito commented on #908
Hopefully we will have the data complete soon. Any data in that sheet is real data. I've only pulled in a few queries so far as we do not have approval for them yet. 99.99% there though.

The documents SQL status column now indicates which SQL query was used to get the data and which fields are relevant. The sheet will have a tab per SQL query that will contain all the fields it gathered.

I've ju

[2020-09-19 08:15] bazzadp commented on #1258
No objection. Raised #1301 for the PWA table definitions for next year (no need to rerun for this year) and we can track the requests table updates in #1293

[2020-09-20 00:21] Tiggerito commented on #899
Our queries have been approved and merged into he project. I will now start pulling in the data 🥳

[2020-09-20 03:41] Tiggerito commented on #899
All the data is now in [the results sheet](https://docs.google.com/spreadsheets/d/1Ta7amoUeaL4pILhWzH-SCzMX9PsZeb1x_mwrX2C4eY8/edit?ts=5f4e700c#gid=150962402). To make things easier I've added a column to [the metrics sheet](https://docs.google.com/spreadsheets/d/1MqMNHuXzZP54qP-OmYbk5cevVf6FQpQza4GbKQMyq9A/edit#gid=0). That links to the tabs with the relevant results.

[2020-09-20 09:00] bazzadp commented on #1293
FYI: I think I've found [the reason why the HTTP Version fields are not set correctly](https://github.com/WPO-Foundation/webpagetest/issues/1391) and what the odd values are.

Most of them are HTTP/2 pseudo fields incorrectly being parses so `:method:` becomes `od:`, `:authority:` becomes `ori` (originally I thought this was short for `origin`!) and `status:` becomes `us:` (originally thought this

[2020-09-20 15:08] #1032 closed

[2020-09-20 15:09] rviscomi commented on #1293
Great catch, and thanks for the fix!

[2020-09-20 15:12] rviscomi commented on #897
@jaisanth what's the status of the analysis for this chapter?

[2020-09-20 15:16] rviscomi commented on #900
@smatei what's the status of this chapter's analysis?

[2020-09-20 15:18] rviscomi commented on #916
@smatei what's the status of this chapter's analysis?

[2020-09-20 15:18] rviscomi commented on #917
@raghuramakrishnan71 what's the status of this chapter's analysis?

[2020-09-20 22:06] Tiggerito commented on #908
Another analyst was asking about using a top 1k, top 10k ranking website list for their data. I know we were talking about this for Core Web Vitals using maybe Majestic Millions, but I can't find the the full conversation. Anyone remember where it is or what was decided?

[2020-09-20 22:29] aleyda commented on #908
Hi @Tiggerito [here's](https://github.com/HTTPArchive/almanac.httparchive.org/issues/908#issuecomment-660718991) @obto  comment about it :)

[2020-09-20 22:37] Tiggerito commented on #908
Perfect.

[2020-09-20 22:47] rviscomi commented on #908
Please also see my reply about ranking datasets: https://github.com/HTTPArchive/almanac.httparchive.org/issues/908#issuecomment-661246514

[2020-09-21 08:34] ksakae1216 commented on #923
I want to do Japanese translation. 😄

[2020-09-21 13:35] raghuramakrishnan71 commented on #917
@rviscomi the scenario here has been a bit tough with frequent lockdowns and rising cases, hence there has been bit of delay from my side. Have gone through the doc/previous queries and tried the modified versions on the sample set. Will raise a PR this week the integrate the queries for review this week.

[2020-09-21 16:58] bazzadp commented on #892
This was fixed with #1214 by using `focus-visible` - now only get focus ring on keyboard navigation and not on click.

Currently available in Chrome Canary and coming to a Chrome stable in October. Firefox has it with prefix (that we don't support) and [Igalia are crowdfunding for Safari](https://www.igalia.com/open-prioritization/).

[2020-09-21 16:58] #892 closed

[2020-09-21 17:01] j9t commented on #899
Pardon the delay!

That’s awesome, thanks @Tiggerito! I suppose that means @iandevlin, @catalinred, and I can now dive in and get back to you for any questions? I’m taking this on as my homework and will try to get back to you (or the group here) asap!

[2020-09-21 19:48] bazzadp commented on #1258
@rviscomi can we run the following to match the WPT CDN name?

[code]

Those seems to be the main two with volume that need set based on this query:

[code]

[2020-09-21 20:15] rviscomi commented on #1258
Should we update the 2019 "WordPress" CDN to "Automattic" as well?

[2020-09-21 20:17] bazzadp commented on #1258
Yes and no. Yes because it's wrong. No because those aren't the stats we used for 2019 chapter.

WDYT?

[2020-09-21 20:20] rviscomi commented on #1258
Maybe not so a JOIN works across years.

[2020-09-21 20:40] bazzadp commented on #1258
Thanks. Closing again.

[2020-09-22 01:08] gregorywolf commented on #921
Hi. I am very close to finalizing all of the queries for the chapter. @rviscomi has been kind enough to run all of my queries so I do not run into a BQ quota issue. I will provide another update once all of the newest results have been generated and transferred to the results Google Sheet

[2020-09-23 02:53] roryhewitt commented on #917
Raghu, you and I can discuss this week, if that's good with you.

On Mon, Sep 21, 2020 at 6:35 AM Raghu Ramakrishnan <notifications@github.com>
wrote:

--
Rory Hewitt

https://www.linkedin.com/in/roryhewitt

[2020-09-23 18:08] bkardell commented on #899
I realize this is pretty late in the game but a thing just came up on twitter (https://twitter.com/sil/status/1308825654000001028) that could be an interesting nugget in the markup chapter of the almanac - basically, how many pages contain "best viewed [at|with] [chrome|webkit|firefox|edge|ie|screen-size]".  The screen size or designation of IE would have an interesting side effect of being a hint

[2020-09-23 21:10] rviscomi commented on #899
Thanks @bkardell that'd be interesting data! I'd suggest adding a custom metric to detect that from the HTML response body. That data would be available in November at the earliest, so not very practical for the 2020 chapter, but something we could write a blog/forum post about and/or cover in the 2021 chapter. Would you (or anyone else) be interested in writing the custom metric?

[2020-09-24 03:15] rviscomi commented on #915
@alexdenning in lieu of any other analysis feedback, let's get started on the [rough draft](https://docs.google.com/document/d/1XL87z5MOk7QDLhpFsaMWT3DaIXdOQV32qs57noGwDVQ/edit#heading=h.l58oy8wsputh).

[2020-09-24 21:55] gregorywolf commented on #921
All of the query results are posted in the results sheet. I have created pivot tables for all of the tabs. Please take a look at the data and provide feedback. I made a decision to NOT filter out any key fields that contain blanks. I will leave the filtering to the author

[2020-09-25 12:39] svgeesus commented on #898
I just [sent a PR for JS to see if P3 colors out outside the sRGB gamut](https://github.com/LeaVerou/css-almanac/pull/50)

[2020-09-25 12:55] bazzadp commented on #909
@tomayac can you explain the low usage of [Periodic Background Sync Register](https://httparchive.org/reports/project-fugu#periodicBackgroundSyncRegister) and [Periodic Background Sync](https://httparchive.org/reports/project-fugu#periodicBackgroundSync)? Is this expected?

I've also found regular BackgroundSync and BackgroundSyncRegister which has a good bit more usage, but still not massive. Not

[2020-09-25 13:54] tomayac commented on #909
Maybe @jeffposnick as the author of the [web.dev article](https://web.dev/periodic-background-sync/) has more insights into how expected or not these results are, but it's definitely in-line low with what we see [on ChromeStatus](https://chromestatus.com/metrics/feature/timeline/popularity/2931).

The actual `periodicsync` events are expected to be low, since a lot of sites probably don't meet the

[2020-09-25 13:56] jeffposnick commented on #909
Yes, I think it just reflects legitimately low usage. Periodic background sync functionality is only available in PWAs that have been installed, for one thing, and that's a fairly high barrier.

[2020-09-25 16:50] bazzadp commented on #909
Thanks @tomayac / @jeffposnick

@hemanth @logicalphase (and also @thepassle @jadjoubran @pearlbea @gokulkrishh @jaisanth if interested) I've completed the queries and dumped a first cut of the results in [this year's PWA sheet](https://docs.google.com/spreadsheets/d/1AOqCkb5EggnE8BngpxvxGj_fCfssT9sZ0ElCQKp4pOw/) for you to have a look at.

As discussed previously, these are mostly based (stolen!)

[2020-09-25 19:03] MikeBishop commented on #921
What's the best venue to provide feedback?  Here on the issue, comments in the results sheet, etc.?

[2020-09-25 19:05] bazzadp commented on #921
Personally I’d prefer it hear. Or at the very least a “FYI I’ve made a comment on tabs 1.2 and 5” type comment on this issue.

[2020-09-25 19:42] MikeBishop commented on #921
First off, thanks for the work you've already put in.  This is an immense amount of data to digest, and you've clearly put in a lot of work slicing it into interpretable chunks.

For all of these, the pivot tables you mentioned would be useful to slice things, but I'm not able to actually filter anything in the sheet itself; I'm wondering if that's because I don't have edit access to the sheet?  B

[2020-09-25 20:04] rviscomi commented on #921
Chiming in to give a couple of unsolicited Sheets tips: don't hesitate to request edit access if it'd help you explore the data, and change the default notification settings from "Only Yours" to "All" to be emailed on all comments even if you're not explicitly mentioned.

[2020-09-25 20:38] bazzadp commented on #921
@MikeBishop , I can answer some of these based on experience last year as author and person who came up with a lot of these stat requests, and investigations I did on some of the same questions on last years stats.

Could be. Could you request edit permission to see?

We had the [same last year and investing showed these to be mostly HTTP/1.1](https://almanac.httparchive.org/en/2019/http2#adoption

[2020-09-25 20:44] bazzadp commented on #906
@AAgar @tomvangoethem how is the analysis going? Bit concerned that there's no PR yet (even a draft one).

[2020-09-25 21:04] MikeBishop commented on #921
"Percentage of resources loaded over HTTP" as opposed to what?  That is, where the number is less than 100% loaded over HTTP, what were the other resources loaded over?  I could read this as HTTP vs. HTTPS, same versus different version used for subresources, network vs. cache, references to `data:` URLs that don't hit the network, etc.

Or it's something totally different and I'm having a total m

[2020-09-25 21:15] bazzadp commented on #921
Ah gotcha now. Yeah I don't understand this stat either. Would expect each line to add up to 100%, so we have for example 30% HTTP/1.1 and 70% HTTP/2. @gregorywolf ?

[2020-09-26 07:55] tomvangoethem commented on #906
I've been quite busy with other things this month; I will make some catching up efforts the coming week

[2020-09-26 14:35] nrllh commented on #906
@bazzadp thanks for the pinging, @tomvangoethem @AAgar please let me know if you need any help. If needed, I'd like also try to contribute

[2020-09-27 08:11] #1248 closed

[2020-09-27 08:13] bazzadp commented on #1079
Closing due to lack of interest. Can reopen again if people think we should do this.

[2020-09-27 14:51] alexdenning commented on #915
@rviscomi thanks -- was on vacation last week, am planning on getting stuck in from tomorrow :)

[2020-09-27 17:19] j9t commented on #899
Hey everyone—just to give a status: I’ve been in touch with Tony and Rick over the desktop and mobile numbers to, just to have this documented, work with both data if the distinction is needed, but to otherwise look at the _mobile_ data. (Desktop and mobile cover pretty much the same URLs, if I recall the chats and a scan of the methodology documentation right.)

Now, I’m planning to go through th

[2020-09-27 20:45] rviscomi commented on #899
Most of the URLs are in both sets. If a page serves different content depending on the UA string, it's possible for the same URL to product different markup across desktop and mobile, but this would be rare and statistically insignificant if I had to guess. The mobile set is a bit larger, so if you were to only look at one that's the right choice.

![image](https://user-images.githubusercontent.co

[2020-09-27 20:49] rviscomi opened #1325 "Optimize ebook for indexing"
See https://scholar.google.com/intl/en/scholar/inclusion.html#indexing

I'd love to see Google Scholar automatically crawling and indexing our ebook content.

[2020-09-27 21:11] nrllh commented on #1325
I think, we should configure also each chapter in that way, to get better impression

[2020-09-27 23:17] HakaCode commented on #505
@elaynelemos.
Caso se interesse, poderia me ajudar a traduzir? 👍

[2020-09-27 23:35] elaynelemos commented on #505
Opa! Posso tentar cotribuir. Peguei algumas coisas para o hacktoberfest, mas posso incluir isso na minha TO DO list. haha

[2020-09-27 23:46] HakaCode commented on #505
Ficarei Grato!
Verdade ta rolando o Hacktoberfest nem lembrei disso, tbm preciso pegar umas coisinhas 👍.

[2020-09-28 00:38] bazzadp commented on #1325
@rviscomi looks like [the limit for Google Scholar is 5Mb](https://scholar.google.com/intl/en/scholar/inclusion.html#crawl)

Our ebook is 17Mb so not eligible.

We actually include most of this data as Structured Data in the chapters already ([JavaScript example](https://search.google.com/structured-data/testing-tool#url=https%3A%2F%2Falmanac.httparchive.org%2Fen%2F2019%2Fjavascript)).

We could i

[2020-09-28 00:40] rviscomi commented on #1325
My understanding is the 5MB limit applies to the PDF version but not the HTML version, which can be indexed and searchable in Scholar. There may be metadata that we can add to the HTML version of the ebook to make it more search friendly.

[2020-09-28 00:47] bazzadp commented on #1325
Not convinced about that:

Also, at the moment we explicitly stop Google from indexing the HTML ebook page, to stop it competing with the PDF version:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/201b7eaf3b27e686347ffb09cb926618704ca855/src/templates/base/2019/base_ebook.html#L11

Similarly only the PDF version is in [our sitemap](https://almanac.httparchive.org/sitemap.xml).

Woul

[2020-09-28 01:55] Tiggerito commented on #908
FYI, @bazzadp just posted about a Lighthouse query to see percentage of sites passing their scores, like the SEO scores.

https://app.slack.com/client/T5ELN8H17/CGFLV2S06/thread/CGFLV2S06-1601119631.003300

![image](https://user-images.githubusercontent.com/4947018/94382793-2b10e780-017d-11eb-8af1-f955bf9e16f4.png)

[2020-09-28 01:57] Tiggerito commented on #899
FYI, @bazzadp just posted about a Lighthouse query that may contain data of interest. The post contains screenshots of examples:

https://app.slack.com/client/T5ELN8H17/CGFLV2S06/thread/CGFLV2S06-1601119631.003300

[2020-09-28 02:35] rviscomi commented on #920
@Zizzamia I've iterated on @khempenius's queries and saved the results to your [chapter results sheet](https://docs.google.com/spreadsheets/d/1lXjd8ogB7kYfG09eUdGYXUlrMjs4mq1Z7nNldQnvkVA/edit?usp=sharing). Please take a look at leave a comment if you see anything awry. The SQL is still being reviewed, so the results are liable to change, but I expect it to go through soon and this will give you a

[2020-09-28 07:55] bazzadp commented on #908
Also these are the overall Lighthouse SEO scores by percentile across our 6.2 million sites:

date|percentile|score
----|----|----
2020_08_01|10|0.69
2020_08_01|25|0.79
2020_08_01|50|0.86
2020_08_01|75|0.92
2020_08_01|90|0.98

Quite high actually! Only 10% of sites score 69% or lower.

Maybe Lighthouse needs to get stricter about SEO scores and audit for more things?

Here's Performance as an exam

[2020-09-28 16:30] hemanth commented on #909
Thanks a ton @bazzadp, I see the PR is now merged.

I guess it is time for @hemanth @logicalphase to start working on the draft!

[2020-09-28 16:45] bazzadp commented on #909
Yup go for it. Let me know if you have any questions or anything else you want me to dig into but hopefully there’s quite a lot of stuff there for you to dig into!

Looking forward to see what you write!

[2020-09-28 20:18] j9t commented on #899
I’m digging myself into the [data](https://docs.google.com/spreadsheets/d/1Ta7amoUeaL4pILhWzH-SCzMX9PsZeb1x_mwrX2C4eY8/edit?ts=5f4e700c#), and am slowly starting to fill the [draft](https://docs.google.com/document/d/1m1YvDqWgZfqmcmAEkCnXncIJwsM1QCu6Rv7aPWjG1Ms/edit#).

I’ve pinged you, @iandevlin, @catalinred, by mail to coordinate and to contribute fire power—this is going to be some work and it

[2020-09-28 20:38] logicalphase commented on #909
Hey all. I've recently had surgery and been on the mend. I just need a few days this week to catch up on some things. But I'm ready to go after.

[2020-09-28 20:44] rviscomi commented on #909
@logicalphase glad to hear you're recovering, and please take as much time as you need.

[2020-09-28 23:27] rviscomi commented on #920
PR merged, so the [results](https://docs.google.com/spreadsheets/d/1lXjd8ogB7kYfG09eUdGYXUlrMjs4mq1Z7nNldQnvkVA/edit?usp=sharing) are ready for review.

[2020-09-28 23:52] Tiggerito commented on #908
I've had a look at the lighthouse code for SEO and my opinion is that it is a bit crude. Here's how I think a few work:

meta-description - pass if the tag is present
hreflang - fail if an invalid tag is present. e.g. pass if no tags present.
canonical - pass if no tag present or one is present and is self canonicalised
robotstxt - this does validate status code and content syntax
link-text - fail

[2020-09-29 07:50] aleyda commented on #908
Hi @bazzadp and @Tiggerito ,

Yes,  the configurations checked by Lighthouse SEO section: https://web.dev/lighthouse-seo/ -which I see that are aligned to the ones of the gathered metrics above, in many cases just inform about the presence or not of elements without taking into consideration their configuration (which we will be doing across even more SEO related configurations) or the context (no

[2020-09-29 08:22] bazzadp commented on #908
Hey @aleyda / @Tiggerito of course automated checks are limited in what they can actually check. Though we need to be aware that counts for our own stats too - not discounting the huge job @Tiggerito did in getting many more stats (and more accurate stats too with the custom metrics!) for this year.

Saying that I wouldn't be so quick to discount the Lighthouse ones either. While I am sure they ar

[2020-09-29 08:30] aleyda commented on #908
Hi @bazzadp - thanks for the clarification about the hreflang, that makes much more sense :) and please, don't take my answer above as a message to "discount" them - we definitely won't, we will take them into consideration when doing the write up and give a broader view/validation of the data gathered. My comment was more to add some context to the comment of "Maybe Lighthouse needs to get strict

[2020-09-29 08:52] bazzadp commented on #908
Well if we come up with any stats out of our analysis, that we think would make good additional audits then we should [raise an issue with the Lighthouse team](https://github.com/GoogleChrome/lighthouse/issues). It's a great thing for the Web Almanac when we can contribute back to the community from our efforts and improve things going forward beyond our little project!

[2020-09-29 09:34] aleyda commented on #908
@bazzadp oh I didn't know we could do that :) that's a great idea, thanks! This is something we could definitely do with those metrics we see are highly helpful and we've been able to gather/show important configurations for and could be beneficial and not hard to add there... @Tiggerito @antoineeripret  @ipullrank @fellowhuman1101 let's do this when we finish the chapter!

[2020-09-29 13:55] taechonkim commented on #926
Hi, is this issue valid now? if so, I want to contribute it! how can I contribute?

[2020-09-29 14:02] bazzadp commented on #926
Hey @taechonkim would love to have your help. Unfortunately we've not made much progress on this so far.

I've just sent you an invite to the team. After you accept that, you should be able to edit the [first comment](https://github.com/HTTPArchive/almanac.httparchive.org/issues/926#issue-646692152) and put your name besides some of the files to translate to let others know you're working on that

[2020-09-29 14:28] bazzadp commented on #505
@HakaCode just in case you missed this message from @rviscomi on Slack: https://httparchive.slack.com/archives/CGFLV2S06/p1601221746011800?thread_ts=1601197715.010600&cid=CGFLV2S06

[2020-09-29 14:44] bazzadp commented on #933
I'm going to close this issue. Think we've made fantastic progress on improving testing this year! Much more confident in merge changes and releasing the site.

Two things I'd still like to continue on are are covered in separate issues:
- Improving pytest #1229
- Automatic Lighthouse testing #1178
Not convinced to the need for Cypress testing at the moment unless we make the site a lot more compl

[2020-09-29 14:44] #933 closed

[2020-09-29 14:54] bazzadp commented on #1178
@sudheendrachari I'm super keen on this so are you still planning on working on this? Hoping we didn't put you off with that drop down change! 😀

[2020-09-29 15:11] sudheendrachari commented on #1178
Haha. Yes, I'm still willing to work on this. Hopefully there should be some progress by next week

[2020-09-29 15:12] bazzadp commented on #1178
Good stuff - looking forward to it!

[2020-09-29 17:21] bazzadp commented on #539
Another gentle nudge team. Just 9 chapters to go and would love to get this closed out before 2020 chapters come along as think chances of it getting done after that will drop drastically! If you each could do one more chapter each we'd have it pretty much done!

[2020-09-29 17:36] rviscomi commented on #539
+1 to echo @bazzadp I would love to see the 2019 Web Almanac fully supported in French! I really appreciate everyone's time and effort here so I understand if this is a lot to ask. I wish we had more translators to spread the load, or better yet, a budget to compensate you for your time.

[2020-09-29 17:52] arigaud-ca commented on #539
Hello, I have to finish the chapter on fonts. Things have been really crazy this month, I wish October will give me a little more time.

[2020-09-29 19:40] hemanth commented on #909
@logicalphase Take care!

[2020-09-29 21:56] gregorywolf commented on #921
All. I have been away for a bunch of days and am just getting back on line. I will take a look at the above comments and comment in the next few days.

[2020-09-29 22:38] Tiggerito commented on #908
I was planning on providing feedback and maybe even contributing to Lighthouse when I recover from all this 😵

I'm about to pull in all the data. Hopefully my remaining cash will cover it all.

[2020-09-30 03:18] HakaCode commented on #505
Oops! excuse @bazzadp.
I forgot to join the slack, I barely know how to interact with the platform yet.
About the translation, this perfect!

[2020-09-30 04:06] Tiggerito commented on #908
I've gathered all the data and added links in the docs tables to the appropriate tabs in the data sheet.

[2020-09-30 07:56] borisschapira commented on #539
Still have to finish the media chapter, you're right. I'll speed it up. But I don't think I'll translate another chapter for 2019, I think I'm getting a little tired of doing this, I'll take a break before 2020 chapters are published.

[2020-09-30 08:16] aleyda commented on #908
Thanks SO much @Tiggerito ! I'm going through the [sheet](https://docs.google.com/spreadsheets/d/1ram47FshAjzvbQVJbAQPgxZN7PPOPCKIK67VJZCo92c/edit?usp=sharing) and all looks great :D I just have a question regarding the graphics @obto - should we generate them ourselves when writing the content? should we follow certain standards? :) I was looking for information mentioned before but couldn't find

[2020-09-30 08:40] taechonkim commented on #926
Hey @bazzadp I have a question.
I have forked the original repository, cloned forked repository to local, and made branch for my translation job.
I think my next job is copying src/templates/en to src/templates/ko, starting translation with base.html. is it right?

[2020-09-30 09:17] nico3333fr commented on #539
This is also crazy for me (divorce, lot of work, etc.), but be sure I'll take some time to end CSS chapter!

[2020-09-30 09:51] bazzadp commented on #908
If I can butt in again, I wrote a wiki age on this, which should answer your questions: https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Figures-Guide. Let me know if that doesn't answer any questions - or you should have edit access to that yourself if you spot any typos or useful information to add.

[2020-09-30 09:55] bazzadp commented on #926
Correct. Only copy across the templates as you translate them so you don't commit any English version ones into src/templates/ko. You can decide how many translated files to include in each pull request. base.html is quite big so maybe do one PR for that, for example. Another example the 2019 and 2020 contributor pages are obviously very similar so can submit both in the same PR. Can also do all t

[2020-09-30 09:57] bazzadp commented on #539
Ah feel bad for pushing guys. Know it's a lot of effort and we all have personal lives too. No rush, and whenever you get time to work on it is entirely up to you! Thanks again for efforts so far.

[2020-09-30 10:08] aleyda commented on #908
This is amazing! Thanks so much @bazzadp :) Let's follow these best practices/guidelines for figures @ipullrank @fellowhuman1101 as well as what's [described here in the author's guide](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Authors'-Guide). 🙌

[2020-09-30 11:17] Tiggerito commented on #908
I played a little with creating charts:

https://docs.google.com/spreadsheets/d/1ram47FshAjzvbQVJbAQPgxZN7PPOPCKIK67VJZCo92c/edit#gid=337739550

https://docs.google.com/spreadsheets/d/1ram47FshAjzvbQVJbAQPgxZN7PPOPCKIK67VJZCo92c/edit#gid=1317352222

Please ask if you want clarification on how a metric was determined.

[2020-09-30 11:51] taechonkim commented on #926
Hey @bazzadp Thank you for quick reply.
I translating base.html now, there are details about contributors bottom part of base.html (about 114 line, starting with details of kleinnab...)
I wonder where these details comes with in Web Almanac.
And is there need to translate them?

[2020-09-30 11:56] bazzadp commented on #926
I think you mean line 179 not 114? Try to keep the line numbering consistent with English as makes it easier to manage.

These are author bios and they are given at the bottom of the chapters they wrote ([here's mine for example as I wrote the HTTP/2 chapter!](https://almanac.httparchive.org/en/2019/http2#authors)) so yes they do need translated too.

[2020-09-30 18:28] j9t commented on #899
There’s more progress in the draft. (Note some status and infos—marked “⚠️”—at the beginning.)

At the moment I put all energy into providing a foundation and first draft. That I also intend to push through until Oct 12 (FYI @rviscomi). Yet then I’m in need to hand over to someone for the next sweep (I’m around to edit and review during that time). @iandevlin, @catalinred, let me know if I missed

[2020-10-01 06:14] Zizzamia commented on #920
Amazing, thank you @rviscomi. Will work on them this weekend.

[2020-10-01 07:57] aleyda commented on #908
Thanks @Tiggerito ! You rock :)

[2020-10-01 09:18] bazzadp commented on #899
Looks like a good start @j9t ! Made a few comments but looks like it's on the right track.

Some more food for thought (some of which you've obviously thought about yourself already I can see from this draft):
- What to repeat from last year? There's a balance here as want to reference last year's chapters
- What to drop from last year? Don't be afraid to do this if something was completely covere

[2020-10-01 19:26] j9t commented on #899
Thanks @bazzadp and @zcorpan for your feedback! This is very helpful, this will be very useful to include. Just so that you’re not surprised, I’ve either moved some of the comments into the doc (Barry, I expanded the draft intro to call out to add more graphics, cross-refs, etc.) or will keep them for now so that either I or a co-author can respond and take care of them.

[2020-10-01 20:45] romaincurutchet commented on #909
Hi,
Is there going to be a HTTP Archive table with all the PWA & Service Worker metrics?
Thank you.

[2020-10-01 20:52] bazzadp commented on #909
Not sure what you mean? There’s many metrics pulled across from many of the tables. We don’t in general create new tables with specific queries for a specific subject, but instead share the queries and the results from those queries.

Saying that we did create a few helpers tables of the August data to list all manifests and service worker JavaScript to help with the queries but no plans to create

[2020-10-01 21:07] romaincurutchet commented on #909
Hey, I was referring to this thread: https://discuss.httparchive.org/t/progressive-web-apps-in-the-http-archive/1401
In particular, I like the metrics under the section "Service Workers Analysis".

[2020-10-01 21:13] bazzadp commented on #909
Yes that is basically the methodology we are following for this years chapter (Thomas wrote last years chapter and the queries he created for that are being reused for this years chapter with a few more).

We are currently analysing the results of this data now and will publish our thoughts later in the year. If curious you can see the SQL used and the results sheet of those queries from the links

[2020-10-01 22:18] bazzadp commented on #1293
@rviscomi what do you think about adding `reqHeadersJSON` and `respHeadersJSON` columns too?

Speaking to @tomvangoethem as his [Security PR](https://github.com/HTTPArchive/almanac.httparchive.org/pull/1329/files) has a lot of querying of those and the `reqOtherHeaders` and `respOtherHeaders` columns are a bit flakey to parse if header contains a comma so easier to parse in JSON.

We could also re

[2020-10-01 22:25] rviscomi commented on #1293
I'm open to more granular summary data, but let's not block on it for this year.

[2020-10-01 22:29] bazzadp commented on #1293
OK added those two columns to first comment for when we return to this later.

[2020-10-02 18:48] rviscomi commented on #1258
Some chapters depend on data from the September crawl. Reopening this to track adding '2020-09-01' dated rows to the `almanac` tables.

[2020-10-02 22:52] elaynelemos commented on #505
@HakaCode, posso pegar qualquer doc que não esteja marcado e sem PR?

[2020-10-02 23:33] HakaCode commented on #505
@elaynelemos exato, antes coloque seu nome na frente do arquivo q for traduzir conforme os meus.

[2020-10-02 23:38] elaynelemos commented on #505
Não tenho como alterar na issue. hahaha
Podes me marcar no http2. É a que estou trabalhando agora.

[2020-10-03 01:52] HakaCode commented on #505
@elaynelemos desculpe a demora, ja anotei, qualquer duvida so me chamar!

@bazzadp, @rviscomi.
 how to add @elaynelemos  as a translator?

[2020-10-03 05:25] rviscomi commented on #505
Just created a new @HTTPArchive/portuguese-translators subteam and sent @elaynelemos an invitation 👍

[2020-10-03 14:17] elaynelemos commented on #505
Thank you guys!

[2020-10-03 22:27] Tiggerito commented on #899
I could write the metric, but would need a lot of guidance on how/what to look for. i.e. all the phrases to look for and what data to extract.

[2020-10-04 14:32] gregorywolf commented on #921
I have reviewed all of the comments and had a chance to speak live with @MikeBishop and @dotjs. The following is a summary of issues/comments.

`adoption_of_http_2_by_site_and_requests`
@bazzadp You mentioned that you dug into a concerning issue and "fixed" something but it was not in time for the August crawl. Please outline what was fixed. Should the query be modified and rerun against the now p

[2020-10-04 14:59] bazzadp commented on #921
As you're aware we used the protocol field as the `reqHttpVersion` and `respHttpVersion` often was blank or contained non-sensical values like (`us:`). However the `protocol` field was also often blank (and particularly for HTTP/1.1 messages on Desktop by looks of things) so that's not ideal either :-(

Anyway I discovered that the `reqHttpVersion` and `respHttpVersion` fields try to just parse th

[2020-10-05 11:40] arigaud-ca commented on #539
Hi. As far as Font chapter is concerned, I have 2 last steps : check if links in the article also exists in French and check some terms to have unity between the articles.
As far as the Git process is concerned I am trying to figure out what I should do next.

[2020-10-05 11:51] bazzadp commented on #539
Hey @arigaud-ca , once you fix those two items for Fonts, you can open a Pull Request for that to be reviewed and then merged in.

After that you can [resync your main back to upstream](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Git-Guide#resyncing-your-main-branch-to-upstream), then create a new branch and work on the next free chapter.

Looks like from [the first comment above](

[2020-10-05 11:58] bazzadp commented on #539
Or do you mean you don't know how to open a pull request? Should be as simple as going to the [Pull Requests](https://github.com/HTTPArchive/almanac.httparchive.org/pulls) tab at the top of this page and GitHub should be clever enough to see you worked on something in your fork and suggest opening a pull request for that work. Again, let me know if you need any Git help and happy to guide.

[2020-10-05 14:42] bazzadp commented on #505
@eduqg you should have an invitation in your inbox to join the Portuguese team. Once you accept that that you'll be able to edit [the first comment](https://github.com/HTTPArchive/almanac.httparchive.org/issues/505#issue-523991913) to put your name beside another chapter if you want.

[2020-10-05 18:35] rviscomi commented on #897
@HTTPArchive/analysts this chapter is behind and could use some help on the analysis front. If anyone has the time, please comment here. I've signed myself up as a stopgap but I'd be happy to collaborate if anyone wants to join.

[2020-10-05 18:36] rviscomi commented on #916
@HTTPArchive/analysts this chapter is behind on the analysis and could use some additional help to keep it moving. Please comment here if you have the time.

[2020-10-06 18:47] j9t commented on #899
Small progress update: There _is_ steady progress 💁‍♂️ At the moment that’s still largely foundational work, transferring metrics over from almost all areas (which we’ll then augment and edit).

Feel free to have a look at [the draft](https://docs.google.com/document/d/1m1YvDqWgZfqmcmAEkCnXncIJwsM1QCu6Rv7aPWjG1Ms/edit#) at any time and to leave comments on anything major. I’ll post more updates an

[2020-10-07 11:57] gregorywolf commented on #921
The original query `percentage_of_resources_loaded_over_HTTP_by_version_per_site` has been revised and renamed to `average protcol requests per page`. The intention of this query to answer the question on a given page what are the average number of resources loaded for a given HTTP version.

The original query `tls_adoption_by_http_version` has been revised and the new results are now contained in

[2020-10-08 14:09] svgeesus commented on #902
I notice

Formats used by percentage?

I'm particularly interested in this: I recently asserted in a discussion that most Webfonts in 2020 are served as WOFF2 (due to widespread browser adoption, ease of conversion, and smallest filesize) and saw a counter-assertion that most are TTF/OTF because "people just throw a font on a server". So I'm very interested to see what the results are here.

Yes,

[2020-10-08 15:21] svgeesus commented on #902
Oh, another thing. The 2019 almanac has a section [Don't request web fonts if a system font exists](https://almanac.httparchive.org/en/2019/fonts#dont-request-web-fonts-if-a-system-font-exists) which used to be good advice and still is for majority and well-supported languages.

People who speak minority, hard-to-support or unsupported languages though, are used to installing at least one font tha

[2020-10-08 15:29] alexdenning commented on #915
Hi all,

Very pleased to report I have my first draft ready :) This is in the doc: https://docs.google.com/document/d/1XL87z5MOk7QDLhpFsaMWT3DaIXdOQV32qs57noGwDVQ/edit#

I'm pretty pleased with it overall! Some places I have copied and pasted from last year where I didn't feel I could/needed to improve on the existing content. Others I've made assumptions and/or felt my arguments were weak; I've h

[2020-10-08 15:32] svgeesus commented on #902
I now see [the spreadsheet](https://docs.google.com/spreadsheets/d/1jjvZqYay5KmTle4atzFWqtbkz9ohw25KFmNtCS-7n3s/edit#gid=236433127) ad wow, totally different results from 2019 and all sorts of junk MIME types, typos, and so on! Lots to dig into there.

The chart in that spreadsheet worries me, shouldn't the columns add up to 100% or do I misunderstand?

(Yes I know these are preliminary results)

[2020-10-08 16:36] bazzadp commented on #902
Am sure @AbbyTsai can comment further here if needs be, but the query counts the percentage of pages loading that font type. So 76% of desktop sites load a WOFF2 font and 48% of sites load a WOFF font. This means that somewhere between 24% and 48% of sites load WOFF2 **and** WOFF fonts on the same page, as you can't have more than 100% as you say.

You'd presume those are for two different fonts,

[2020-10-08 20:30] rviscomi commented on #915
Thanks @alexdenning it's great to see the first draft taking shape! I've also added @amedina as a reviewer.

[2020-10-09 16:31] j9t commented on #899
More progress. Most [sheets](https://docs.google.com/spreadsheets/d/1Ta7amoUeaL4pILhWzH-SCzMX9PsZeb1x_mwrX2C4eY8/edit?ts=5f4e700c) are now represented in the [draft](https://docs.google.com/document/d/1m1YvDqWgZfqmcmAEkCnXncIJwsM1QCu6Rv7aPWjG1Ms/edit#).

I’ve moved some stuff from “Trivia” to “General,” which makes for a better balance.

I’ll soon shift from blindly shoveling data into the doc to

[2020-10-09 20:41] MikeBishop commented on #921
Thanks, @gregorywolf.  Reading through the results again, here are some updated comments and observations:
- `count_of_h2_sites_grouped_by_server`:  Given that the values sum to 100%, I believe this table is showing the distribution by server of the HTTP/2 traffic.  That's an interesting metric, particularly to the extent that it differs from the traffic distribution of HTTP/1.1 or overall HTTP tr

[2020-10-09 22:52] ianswett commented on #921
h3-t051 is a variant of gQUIC using TLS 1.3 and h3-q050 is a version of gQUIC.  Both versions use IETF QUIC invariant headers.

[2020-10-09 23:39] DavidSchinazi commented on #921
To clarify, here are the Alt-Svc values currently supported by google.com:
1) IETF drafts of HTTP/3: `h3-29`, `h3-27`
2) HTTP over Google QUIC versions that use the IETF Alt-Svc format: `h3-Q050`, `h3-Q046`, `h3-Q043`, `h3-T051`, `h3-T050`
3) HTTP over Google QUIC versions that use the legacy Google Alt-Svc format: `quic; v="46,43"` (note that this advertises the same Google QUIC versions that are

[2020-10-10 12:46] bazzadp commented on #921
Be careful with the word "traffic". The HTTP Archive has no concept of traffic and crawls all it's sites evening so www.google.com will get just as much weighting as barrystinysite.com (assuming that the site meets the minimum threshold to be included in CrUX and so HTTP Archive). Better to think of it as sites rather than traffic.

Surely it's unsurprising hardly any pages are loaded over QUIC si

[2020-10-10 16:16] j9t commented on #899
(Added and edited a little more, now focusing on a first review—should finish and incorporate edits by tomorrow; small chance it could be Monday. Reached out to @catalinred and @iandevlin both per mail and through doc comments to coordinate on open content parts.)

[2020-10-11 16:21] j9t commented on #899
Reviewed the current draft and made a first round of edits; also added a bit more detail here and there; also left some notes and comments. It’s clearly not done yet but I think it’s a foundation.

I’m on the road tomorrow but will have the manuscript with me to go through once more.

@catalinred, @iandevlin, and I are in touch; we’re accruing a bit of delay when it comes to the Oct 12 deadline, y

[2020-10-12 00:20] Tiggerito commented on #898
Hi CSS team. Tony here from the SEO team.

I've had a request to create a report in css media usage. Basically as a way to see if a design is responsive or not. Any chance on a pointer in the right direction on how to pull out that info?

Cheers.

[2020-10-12 08:14] LeaVerou commented on #898
@Tiggerito I suppose your best bet is to check if there are any dimension media queries (with width, height, or aspect ratio). The JS [here](https://github.com/LeaVerou/css-almanac/blob/master/js/30-mq-features.js) may be a good starting point (you could use the same JS and just filter the list to the features you're interested in), however there is no SQL for that yet. @rviscomi perhaps we could

[2020-10-12 14:55] rviscomi commented on #899
Thanks for the update @j9t it's exciting to see your team's progress!

[2020-10-12 15:12] ianswett commented on #921
Google QUIC and IETF QUIC are both enabled based on Alt-Svc advertisement.  There isn't currently and to my knowledge there has never been an explicit list of 'Google sites' for which QUIC is enabled, but disabled for other sites.  Akamai has been supporting Google QUIC for a while and no special configuration was necessary to allow that.

[2020-10-12 16:46] rviscomi commented on #898
Sure, I'm behind on queries for this chapter but I can prioritize this one first. Lea, I just noticed this JS also includes the incompatible `?.` syntax that we've had to remove from other queries. Would you be able to rewrite this one slightly to make it work in BigQuery? It would be great to also do a sweep of the JS to make sure it's not hiding anywhere else.

[2020-10-12 17:31] LeaVerou commented on #898
Whoops, I thought I had sweeped already, this one must have been under the carpet 😄
I just did a more thorough sweep and removed it from there and one other query.

[2020-10-12 18:44] bazzadp commented on #909
Hey @hemanth / @logicalphase did you get a chance to look over the stats yet? Do let us know if you think that's enough info to write the chapter or if there are any other stats you think you'll need and I can look to see if possible.

P.S. Hope you're recovering from your surgery @logicalphase and don't feel pressured to reply if still dealing with that - your health is more important!

[2020-10-12 19:01] hemanth commented on #909
Thanks @bazzadp!

I went through the PWA Sheet and it as almost all the information required for the chapters under our radar.

Also, from our pervious discussions the metrics on `BackgroundSync` is as per the expectations right?

[2020-10-12 19:09] bazzadp commented on #909
Yes it appears to be. If you are aware of any examples in the wild using this then feel free to ping me and can see if it’s in the data, but for now, it doesn’t appear to be used much at all! And particularly the periodic versions.

[2020-10-13 00:02] MSakamaki commented on #923
participate in Japanese translation.

[2020-10-13 00:30] sirjonathan commented on #915
@alexdenning I've given the document a thorough review. Great work!

I've left my feedback as suggestions and comments. My feedback is minor overall with a few areas where I'd love to see a bit more clarity and my other suggestions focused on improving readability / flow.

[2020-10-13 01:42] obto commented on #907
@oluoluoxenfree @alextait1 All the queries have been written and the results saved here: https://docs.google.com/spreadsheets/d/1UjEBhq0TfYxUpdpq5IuxjeHB4yqhJq4NOKEd6Dwwrdk/edit#gid=2077755325

We should be good to start writing. Let me know if you have any questions

[2020-10-13 06:42] thefoxis commented on #905
@max-ostapenko @dooman87 I saw that the queries PR got merged; yay! how are we going on the [results sheet](https://docs.google.com/spreadsheets/d/164FVuCQ7gPhTWUXJl1av5_hBxjncNi0TK8RnNseNPJQ/edit#gid=2077755325)? or are you putting the data someplace I haven't looked? 👀

once that's there, I definitely should be kicking off the writing since it's behind the schedule 😬

[2020-10-13 08:53] mschork commented on #923
Hey Barry! Sorry for my late reply. Can we have a quick chat on this? I'm
new to all this and would like to better understand the workflow of it.
(hope you are receiving this via mail?)
Cheers,
markus

On Thu, 17 Sep 2020 at 09:21, Barry Pollard <notifications@github.com>
wrote:

[2020-10-13 09:08] bazzadp commented on #923
Sure. Can talk here (if general information that would be useful to all translators), can talk on [the German translation issue](https://github.com/HTTPArchive/almanac.httparchive.org/issues/1300) or feel free to reach out to me on the [`#web-almanac`](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA) slack, or on  [Twitter](https://twitter.com/tunetheweb) if y

[2020-10-13 14:50] alexdenning commented on #915
Many thanks @sirjonathan! Will review those tomorrow. @rviscomi shared some extra data which answers the mobile question; will add that, review all the comments, and add an extra section on WP plugin usage before EOW :)

[2020-10-13 19:36] LeaVerou commented on #898
@rviscomi Also in theory `max-height` and `min-height`, though that's more rare. Since we don't know the intersection or union of these, we'd need a separate query to determine how many websites might be "responsive", that calculates the **union** of `*-width`, `*-height`, and `*-aspect-ratio` features.

[2020-10-13 19:50] rviscomi commented on #898
@LeaVerou added another query/[sheet](https://docs.google.com/spreadsheets/d/1sMWXWjMujqfAREYxNbG_t1fOJKYCA6ASLwtz4pBQVTw/edit#gid=1354464918) to count pages with any height/width/aspect-ratio feature.

[2020-10-14 00:07] Tiggerito commented on #898
Cheers for all that. @aleyda hopefully that covers what you need.

[2020-10-14 07:36] aleyda commented on #898
Thanks @Tiggerito and @rviscomi! This is great :D

[2020-10-14 13:39] gregorywolf commented on #921
@MikeBishop In regards to the percentage exceeding 100% I think this is to be expected. Since the calculation is based on average I think the averages for each protocol will get skewed based on the large data size

[2020-10-14 19:04] j9t commented on #899
@catalinred, @iandevlin, and I keep at it… at the moment (though I just missed to raise this in our last email correspondence) I think we might be able to open the draft up for in-depth review this weekend.

I haven’t looked at the graphics situation at all yet—how’s that normally handled, who could help generate/export them? @rviscomi, @bazzadp, I may have overlooked this?

[2020-10-14 19:13] bazzadp commented on #899
There’s a fascinating, and not at all overly-long and drawn out, read on that [in this Figures Guide](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Figures-Guide) 😀

[2020-10-14 21:25] dooman87 commented on #905
@thefoxis I started putting together stat for LH. Please, have a look and let me know if it doesn't make sense. I think Max also started filling those in.

[2020-10-15 13:35] alexdenning commented on #915
Hi all, many thanks for the feedback. Been through and addressed all the comments I can. Mainly need @rviscomi to clarify a couple of technical details for me, and then this should be ready soon after :)

[2020-10-15 16:48] LeaVerou commented on #898
@rachelandrew All the layout queries are done and the results are in the [spreadsheet](https://docs.google.com/spreadsheets/d/1sMWXWjMujqfAREYxNbG_t1fOJKYCA6ASLwtz4pBQVTw/edit#gid=314594173) could you please review as soon as you can and let us know if anything looks off?

[2020-10-15 18:18] max-ostapenko commented on #905
@thefoxis I've added the rest of data and the charts.

[2020-10-15 21:21] rviscomi opened #1363 "Highlight H4s in sidebar TOC"
The green "you are here" indicator in the Table of Contents sidebar appears to only highlight H1-3 content. As you scroll through subsections of H4s, the indicator doesn't highlight those nested headings. It only seems to be updated when a new H1-3 comes into view. This causes unexpected behavior, like when scrolling up, a long subsection doesn't update the indicator:

1. Go to https://almanac.htt

[2020-10-16 01:52] max-ostapenko commented on #901
@simonhearne [first data and charts](https://docs.google.com/spreadsheets/d/1uW4SMkC45b4EbC4JV1xKAUhwGN2K8j0qFy_jSIYnHhI/edit#gid=2077755325) are ready for review.

[2020-10-16 01:54] max-ostapenko commented on #901
@patrickhulce did you have any particular query in mind providing correlation analysis?

@patrickhulce did you have any particular query in mind providing correlation analysis?

[2020-10-16 03:01] patrickhulce commented on #901
The correlation analysis @rviscomi was referring to in https://github.com/HTTPArchive/almanac.httparchive.org/issues/901#issuecomment-685964320 was separate from HTTP Archive and involved blocking.

My only suggestion I have on the current queries is that several of them focus on a metric that is completely normalized by the frequency and so it ends up yielding mostly obscure, really uncommon thir

[2020-10-16 06:45] MSakamaki commented on #1223
I fully agree with @sudheendrachari on the use of scss/sass.

If going to benefit from Babel (TypeScript) then it might make sense to create a separate repository and, I thinkprovide WebComponent via CDN.

[2020-10-16 09:03] bazzadp commented on #1223
**JavaScript:**

I think the general consensus (that I agree with) is that Babel and/or Typescript may be be overkill but there's potentially some gains in refactoring our JavaScript code: perhaps to break up our `chapter.js` file (at least in source, even if the built file ends up being the same).

I also think the "Language and Year switching" function, which is currently inlined in to every pag

[2020-10-16 09:12] bazzadp commented on #924
Hey @HTTPArchive/developers there's still [development tasks available](https://github.com/HTTPArchive/almanac.httparchive.org/issues?q=is%3Aissue+is%3Aopen+label%3Adevelopment) if anyone wants to get involved! Luckily we did an awful lot of work last year so we can launch 2020 with what we have but can always improve!

Here's some issues:
- [1363 - Highlight H4s in sidebar TOC](https://github.com

[2020-10-16 14:14] SaptakS commented on #1363
I can work on this if no one has started yet.

[2020-10-17 12:30] aleyda commented on #908
Hi @clarkeclark @natedame @catalinred @aysunakarsu @ashleyish @dsottimano @dwsmart @en3r0 @Gathea @rachellcostello @ibnesayeed,

I wanted to get in touch since we are now 90% ready with the SEO chapter - @fellowhuman1101, @ipullrank and yours truly are adding some last remaining data with the help of @Tiggerito and expect to finish with the conclusions at the start of next week; so this is a heads

[2020-10-17 12:54] ibnesayeed commented on #908
Yes, I am standing by! :-)

[2020-10-17 15:57] natedame commented on #908
Ready to go!

*Nate Dame*
CEO
Office: 312-470-6553

On Sat, Oct 17, 2020 at 7:54 AM Sawood Alam <notifications@github.com>
wrote:

[2020-10-17 15:59] dwsmart commented on #908
I'm good to go, captains!

[2020-10-17 16:41] rviscomi commented on #908
All wings, report in!

https://www.youtube.com/watch?v=eEeTWVru1qc

[2020-10-18 12:36] en3r0 commented on #908
Yes, excited to review!

On Sat, Oct 17, 2020 at 12:41 PM Rick Viscomi <notifications@github.com>
wrote:

[2020-10-18 15:30] j9t commented on #899
Status: Just edited the doc again, added missing copy, pinged open todos, reviewed and responded to comments. Pretty close to calling for review. Coordinating with @catalinred and @iandevlin on the last steps and todos (Catalin, Ian, just sent an update per email). Trying to gauge whether we can add the remainder until EOD tomorrow (Mon), to soon after that open [the draft](https://docs.google.com

[2020-10-18 20:00] catalinred commented on #908
Count me in! :)

[2020-10-18 23:28] bazzadp commented on #921
Been looking at this `average protocol requests per page` query at @gregorywolf 's request and think I understand way. I've submitted a pull request in #1368 to fix this, though it needs reviewing. In meantime I've added the data from that new query, in addition to Greg's, to the spreadsheet and it adds up to 100% (though we still have the null protocol requests we've discussed before).

I've also

[2020-10-19 11:36] dotjs commented on #921
Thanks @bazzadp. I was looking into this data last night and wondered what we could capture above and beyond the percentage of total requests over http/2. If 50% of first party HTML is now HTTP/2. How does that compare with last year?
I like the percentiles concept which can show but as you mention it will reflect the common third party tags.
@gregorywolf Do we have the data to show resource level

[2020-10-19 12:02] bazzadp commented on #921
I added the 2019 percentiles for requests by site [to the sheet](https://docs.google.com/spreadsheets/d/1M1tijxf04wSN3KU0ZUunjPYCrVsaJfxzuRCXUeRQ-YU/edit#gid=152400778) for comparison. Not too different truth be told, though numbers have gone up as expected.

Last year I looked at [all home pages](https://almanac.httparchive.org/en/2019/http2#fig-4) (about 36% of home pages were served over HTTP/2

[2020-10-19 15:09] gregorywolf commented on #921
Hi. I have reviewed the changes made by @bazzadp and agree the new results look good

[2020-10-20 13:47] rachelandrew commented on #898
@LeaVerou this looks great, and really interesting.

[2020-10-20 13:57] #1363 closed

[2020-10-20 14:18] LeaVerou commented on #898
@rachelandrew Cool, if everything looks ok you could start the draft of your section in the doc whenever you want!
I'm still working on the queries, but will start my sections soon after.

@svgeesus I'm still working on fixing a few potential issues with the color results, but you could take a look at the spreadsheet too.

[2020-10-20 14:32] rachelandrew commented on #898
@LeaVerou ok, so looking at the schedule, we've only got a few days until this is supposed to be complete which I'm not going to make. What's a realistic deadline for the layout stuff?

[2020-10-20 14:50] LeaVerou commented on #898
I wouldn't be able to make that either. I'd bet money that @svgeesus can make it either, given TPAC and ICC all meeting this week.

Indeed, according to the target schedule we're quite significantly behind, but looking at the [chapter progress summary](https://github.com/HTTPArchive/almanac.httparchive.org/issues/989), it looks like we're not alone 😅

What would be a realistic deadline for you?

[2020-10-20 14:52] rviscomi commented on #898
@rachelandrew @LeaVerou @svgeesus  we'll be announcing a project timeline change soon that will effectively add a month to all of the milestones, given the unexpected delays many chapters are facing with the analysis phase. That would put the new first draft milestone at November 12. Is that feasible?

[2020-10-20 15:04] LeaVerou commented on #898
Yay!! Absolutely feasible for me!

[2020-10-20 15:55] rachelandrew commented on #898
Yep that sounds reasonable - thanks!

[2020-10-20 17:44] christianliebel commented on #912
@tomayac @logicalphase Hi there, I kindly invite you to review the [results sheet and data visualizations](https://docs.google.com/spreadsheets/d/1N6j1qKv7vc51p1W9z_RrbJX9Se3Pmb-Uersfz4gWqqs/edit#gid=2077755325). Please note that HTTP Archive doesn't have data for all APIs. Where the data is insufficient, I fall back to the percentage of page loads provided by the [Chrome Platform Status metrics](

[2020-10-20 18:37] j9t commented on #899
🚨 The [draft doc](https://docs.google.com/document/d/1m1YvDqWgZfqmcmAEkCnXncIJwsM1QCu6Rv7aPWjG1Ms/edit#) is now ready for review, @zcorpan, @ibnesayeed, @matuzo (and everyone else who is available and interested)!

ℹ️ The last two sections (status and conclusion) are not done yet—I’ll handle these until the weekend (Oct 25) to then ask for a separate review. That seemed desirable to keep moving.

[2020-10-20 21:52] svgeesus commented on #898
Yeah, that works for me!

[2020-10-20 21:55] svgeesus commented on #898
![image](https://user-images.githubusercontent.com/2506926/96648487-149f1b80-1338-11eb-92b4-6f44c36149ec.png)

but

![image](https://user-images.githubusercontent.com/2506926/96648527-2680be80-1338-11eb-9ff8-7feb20d6cd87.png)

(confused)

[2020-10-20 21:58] svgeesus commented on #898
Okay, so calls to get rid of indianred (and navahowhite and mocossain) now have some usage data

[2020-10-20 22:10] rviscomi commented on #898
The top one is in terms of incidence on pages and the bottom in terms of frequency of use. Each sheet also comes with a comment with the correct interpretation of the results.

If you have any other data questions feel free to leave a comment in the sheet. I subscribe to all comments, so no need to @ me. That may scale better as you review all the data :)

[2020-10-21 01:10] bazzadp opened #1378 "Ranking of crawl data - a discussion and potential option"
There has been a few requests to be able to rank the data to give some indication of popular or used sites.

This has been discussed in the past by the [HTTP Archive team](https://discuss.httparchive.org/t/use-tranco-list-instead-of-alexa-top-1m/1581/6) and also in https://github.com/HTTPArchive/httparchive.org/issues/125 and https://github.com/HTTPArchive/legacy.httparchive.org/issues/75 and http

[2020-10-21 02:03] rviscomi commented on #1378
I'm not opposed to using ranking data, but all of the options I've seen have really poor coverage. 58% coverage at the domain level is not great, so TBH it doesn't seem like Tranco is much better. Also I would ideally like to see us vet a data source before analysis starts to make it equally available to all chapters.

[2020-10-21 05:29] matuzo commented on #899
Hey!

I’ve added comments, but I’m a bit out of the loop. So, if my questions don’t make sense or if you've already discussed the issues raised, just ignore them and delete my comments. :)

Great work, I enjoyed reading the draft!

[2020-10-21 08:39] bazzadp commented on #1378
Why do you feel we need full coverage?

We have a huge dataset in he HTTP Archive (6.5 million sites) but anything after the first X % of ranking is going to be very, very variable and difficult to depend on in terms of ranking. In fact I even think the top 1 million is too much for that in terms of ranking. So it's really only the top end that is interesting. In which case 58% is more than suffic

[2020-10-21 10:00] tomayac commented on #912
Thanks, @christianliebel, this looks good to me. I just changed the title of Wake Lock to Screen Wake Lock.

[2020-10-21 10:41] tomvangoethem commented on #1378
Is there any particular reason why we need higher coverage? I would say that statistics-wise, 58% is a pretty high coverage. E.g. consider that you want to analyse a phenomenon that occurs in 10% of your population, when taking a random sample of 58% of that population, you will find the same results with a small margin of error. I wrote a quick simulation of this (a statistician would probably us

[2020-10-21 13:04] svgeesus commented on #898
A nice quote from Ars Technica [“Tomato” versus “#FF6347”—the tragicomic history of CSS color names](https://arstechnica.com/information-technology/2015/10/tomato-versus-ff6347-the-tragicomic-history-of-css-color-names/):

Looks like that bet can be resolved.

[2020-10-21 19:43] j9t commented on #899
Timing: You may have all seen @rviscomi’s [launch date update](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8). Given the progress we’ve already made I’d like us to use this to commit to and push for the Nov 9 date (for matching the Oct 26 goal). Let’s do this 🙏 🚀

[2020-10-21 20:37] iandevlin commented on #899
I hadn't seen it, but I agree.

On Wed, 21 Oct 2020 at 21:43, Jens Oliver Meiert <notifications@github.com>
wrote:

[2020-10-22 01:21] obto commented on #878
@ahmadawais in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first draft

[2020-10-22 01:21] obto commented on #897
@tkadlec in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first draft by

[2020-10-22 01:22] obto commented on #898
@LeaVerou in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first draft by

[2020-10-22 01:22] obto commented on #899
@j9t in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first draft by Nove

[2020-10-22 01:22] obto commented on #900
@tpiros in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first draft by N

[2020-10-22 01:22] obto commented on #901
@simonhearne in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first draft

[2020-10-22 01:22] obto commented on #902
@jpamental in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first draft b

[2020-10-22 01:23] obto commented on #905
@thefoxis in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first draft by

[2020-10-22 01:23] obto commented on #906
@nrllh in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first draft by No

[2020-10-22 01:23] obto commented on #907
@oluoluoxenfree in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first dr

[2020-10-22 01:23] obto commented on #908
@aleyda in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first draft by N

[2020-10-22 01:23] obto commented on #909
@hemanth in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first draft by

[2020-10-22 01:23] obto commented on #910
@spanicker in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first draft b

[2020-10-22 01:23] obto commented on #912
@christianliebel in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first d

[2020-10-22 01:23] obto commented on #913
@ydimova in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first draft by

[2020-10-22 01:23] obto commented on #914
@rockeynebhwani in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first dr

[2020-10-22 01:23] obto commented on #915
@alexdenning in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first draft

[2020-10-22 01:23] obto commented on #916
@mo271 in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first draft by No

[2020-10-22 01:23] obto commented on #917
@roryhewitt in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first draft

[2020-10-22 01:23] obto commented on #919
@henrihelvetica in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first dr

[2020-10-22 01:23] obto commented on #920
@Zizzamia in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first draft by

[2020-10-22 01:23] obto commented on #921
@dotjs in case you missed it, we've adjusted the milestones to [push the launch date back](https://github.com/orgs/HTTPArchive/teams/almanac-contributors/discussions/8) from November 9 to December 9. This gives all chapters exactly 7 weeks from now to wrap up the analysis, write a draft, get it reviewed, and submit it for publication. So the next milestone will be to complete the first draft by No

[2020-10-22 01:48] davelab6 commented on #902
Thank you David, that's great news for me ❤️

[2020-10-22 06:43] ahmadawais commented on #878
Thank you. It's been a busy few weeks. Tgis new deadline will help a lot. The team had a meeting this week and we have been adjusting things here and there. Will share soon.

[2020-10-22 07:00] j9t commented on #899
@obto, I appreciate you trying to make sure we all saw the update but the last note was about exactly that. To avoid any confusion here:

Thanks everyone who reviewed so far! @catalinred, @iandevlin, and I have been working through the comments, and until the weekend we should have the last two sections available, too.

[2020-10-22 08:01] aleyda commented on #908
Thanks @obto for the update, it's great to have the option of a few extra weeks for additional revisions/validations! @fellowhuman1101 @ipullrank - how do you feel about having the extra month (so we have up to Nov 12 to finalize the draft)?