[2022-05-10 10:16] ColinEberhardt commented on #2885
Thanks @siakaramalegos - can you please give me the required privileges to allow me to exit this issue?

[2022-05-10 10:25] tunetheweb commented on #2885
Invited you to the GitHub team there @ColinEberhardt

[2022-05-10 10:38] jonoalderson commented on #2882
Some semi-structured thoughts:
- I'd love to see more on the _relationships between entities_. We scratched the surface of this with the sankey chart, but that was rough and ready (schema.org only, artificially ignored chained relationships, etc). It feels like some version of this could/should be the most important, understandable, and significant part of the output if 'done right'.
- I'd love to

[2022-05-10 10:43] DataBytzAI commented on #2882
superb - thanks @jonoalderson <https://github.com/jonoalderson> !!!
added to doc :D

On Tue, 10 May 2022 at 11:38, Jono Alderson ***@***.***>
wrote:

[2022-05-10 12:53] svgeesus commented on #2879
For comparison, here is the 2021 [planning doc](https://docs.google.com/document/d/18OV1ngkQxdJdENkYzHOdNRtzMLo1vVv9Tg6a9pGfSSE/edit#heading=h.8z91yaf1dmft) and [results sheet](https://docs.google.com/spreadsheets/d/12vQIA0xsC5Jr3J9Sh03AcAvgFjMAmP1xSS6Tjai9LF0/edit#gid=1420025896)

[2022-05-10 14:35] cyberandy commented on #2882
Awesome feedback @jonoalderson! Just to elaborate on a few points:

1. _relationships between entities_ we shall do better 💯  agree it's a good starting point, if the data is ready we could also make the chart interactive 😎. Last year I used [RAWGraphs](https://rawgraphs.io/), that is built on top of [D3.js](https://d3js.org/)
2. _what's inside these classes_ yes, I was thinking about adding some

[2022-05-10 19:38] dwsmart commented on #2893
Hey @rviscomi, see I promised Monday and here we are Tuesday. I just don't think I can take on author and do a good job too, real sorry!

[2022-05-10 19:41] rviscomi commented on #2893
No worries, thank you for following up @dwsmart!

[2022-05-10 20:46] carducci commented on #2882
What about a mind-mapping session some time tomorrow (wednesday, May 11th) between 5:30 and 7:00 UTC?

[2022-05-10 22:12] DataBytzAI commented on #2882
Good for me!

On Tue, 10 May 2022 at 21:46, Michael Carducci ***@***.***>
wrote:

[2022-05-10 22:50] Tiggerito commented on #2882
I like the idea of identifying consumers. Here's some I keep an eye on:

**Google Merchant Centre:** Structured Data is used to verify, update or event create a feed. They use inProductGroupWithID and additionalProperty properties to identify products. Some of the Structured Data they support clashes with what Google Search support.
https://support.google.com/merchants/answer/6386198?hl=en&ref_top

[2022-05-11 07:01] SophieBrannon commented on #2888
Hey all, please see the invite for 4pm today for our meet up. We can always record and share in the Slack channel if anyone is unable to make it - https://meet.google.com/aqh-cpyk-zez

Looking forward to meeting you all!

[2022-05-11 11:52] MichaelLewittes commented on #2888
Sophie, 4 pm in which time zone?

Thanks!

On Wed, May 11, 2022 at 3:16 AM Sophie Brannon ***@***.***>
wrote:

[2022-05-11 11:54] SeoRobt commented on #2882
@carducci I'm available between 5:30 - 6:30 UTC

[2022-05-11 11:58] SophieBrannon commented on #2888
Oops sorry Michael, that's 4pm UK time

[2022-05-11 12:07] jonoalderson commented on #2882
Oh, something I _keep_ running into that @Tiggerito hints at, that _might_ be interesting to explore as a brief footnote...
There's no clean/sensible/performant way of reconciling the combinations of requirements from this set of consumers.

E.g., there's no good approach which describes a product with variations (e.g., size/colour) in a way that's valid for Google Search, Google Merchant Center,

[2022-05-11 12:15] patrickstox commented on #2888
Where were invites sent? I did not receive any kind of calendar invite and
I'm guessing Michael did not either based on his question.

On Wed, May 11, 2022, 7:58 AM Sophie Brannon ***@***.***>
wrote:

[2022-05-11 12:17] SophieBrannon commented on #2888
The meeting link was posted above this morning, and also in Slack - https://meet.google.com/aqh-cpyk-zez

I don't have everyone's email addresses so if they can be shared I can send round a calendar invite (Sorry I'm new to GitHub so if there's a way to get this from here then do let me know!)

[2022-05-11 12:35] SophieBrannon commented on #2888
Just confirming that this is everyone who it would be great to meet at 4pm UK time today using the following link: https://meet.google.com/aqh-cpyk-zez

@itamarblauer @mobeenali97 @dwsmart @patrickstox @johnmurch @TusharPol @derekperkins @csliva @jroakes @MichaelLewittes @foxdavidj

For anyone that can't attend, we can run through the agenda (see link below) and record the call for reference unles

[2022-05-11 14:31] foxdavidj commented on #2892
@SaptakS Doesn't look like you edited the github chapter description above with the analysts names. Can you quick edit it?

[2022-05-11 16:23] amandeepsinghvirdi commented on #2897
@jrharalson @bobbyshaw @himani-kankaria @shantsis @alankent @tunetheweb
- Is everyone available for a quick 30 min call this week or weekend? I believe we have contributors from across the world with different time zones. So schedule can be bit hard. Can you please add your availability here? I can send Google/Zoom invite based on common availability.

I have pretty flexible schedule on Friday and

[2022-05-11 18:46] LPardue commented on #2903
I'm happy to lend some reviewing or editing help once the chapter is formed up a bit more.

[2022-05-11 19:32] tunetheweb commented on #2897
I'm pretty flexible too from Friday afternoon (I'm in Ireland - so UK time), or any time over weekend.

[2022-05-11 19:42] Suzzicks commented on #2893
Hi guys - sorry. I have been traveling, and don't spend much time day to day in Github. I can start outlining this week. In terms of credentials, I have specialized in mobile SEO since 2006, my company is MobileMoxie, and I wrote a book about mobile marketing including mobile SEO. I can try to help with mobile web and PWA if you want, as long as that is ok.

Book: https://g.co/kgs/5duKmr
Company:

[2022-05-11 19:44] rockeynebhwani commented on #2897
I am ok Friday or Weekend anytime. I am in London.

[2022-05-11 20:30] rviscomi commented on #2893
Thanks for the update @Suzzicks! Excited to have you back. 🎉

@Suzzicks @dwsmart @hemanth @foxdavidj make sure you all have access to the [planning doc](https://docs.google.com/document/d/1CbfJi1AvEJp3N8h_oL6aUJfSroQm0WbzGFIWcRz1dQA/edit?usp=sharing) and start adding your ideas to the outline. What's new in the mobile web world this year, or what would be interesting to revisit from previous years

[2022-05-12 03:05] himani-kankaria commented on #2897
I am okay with Friday. I'm in India.

Regards,
Himani Kankaria
Website <https://missivedigital.com/> | LinkedIn
<https://www.linkedin.com/in/himanikankaria/> | Twitter
***@***.***_kankaria>
*Helping businesses become brands.*

On Thu, May 12, 2022 at 1:15 AM Rockey Nebhwani ***@***.***>
wrote:

[2022-05-12 08:12] rachelandrew commented on #2879
I've added an outline, mostly based on last year so we can do comparisons year on year, with a few extras, things that have landed this year. Please add any additions, I'm also going to run this by a few folks outside of the team who might have opinions on specific bits of CSS!

[2022-05-12 12:14] paivaspol commented on #2903
@LPardue Thank you for helping! I added you as an editor in the top comment above.

[2022-05-12 12:54] DataBytzAI commented on #2882
@cyberandy @SeoRobt @JasmineDW @aparna-garimella @carducci
cc: @jonoalderson

How is everyone for a call/mind-mapping session TODAY? ... circa 17:00 London time?

[2022-05-12 14:47] tunetheweb commented on #2903
Similar to comment above, I'd suggest @LPardue 's expertise on the subject makes him a Reviewer rather than an Editor. Some light editing is expected of reviewers while reviewing obviously, but the Editor role is specifically about enforcing Spelling, grammar and Web Almanac standards to the chapter.

[2022-05-12 15:32] DataBytzAI commented on #2882
@cyberandy @SeoRobt @JasmineDW @aparna-garimella @carducci

Ok to move to 18:00 London time with you all?

[2022-05-12 15:56] SeoRobt commented on #2882
@DataBytzAI I'm good for 18:00 London time

[2022-05-12 17:31] carducci commented on #2882
Likewise I am tied up today, unfortunately :(.

[2022-05-12 17:39] DataBytzAI commented on #2882
No hassle :)
I talked with Rob, we exchanged our thoughts on guitars, oh, and spent some
time discussing the content approach :)
I will be getting stuck into the outline Fri/Sat so if everyone could keep
an eye out and comment at that stage it would be much appreciated!

[2022-05-13 08:23] cyberandy commented on #2882
sorry I was in another meeting by then, shall we set a bi-weekly meeting around that time?

[2022-05-13 14:51] foxdavidj commented on #2893
Regarding being an Analyst, my time is unfortunately much more limited this year so I won't be able to take on the role. If others have any questions about the metrics and queries I'm more than happy to answer them

[2022-05-13 14:53] foxdavidj commented on #2891
@tomvangoethem How are you feeling about the chapter outline? We're fast approaching the date where any new custom metrics need to be written, tested, and merged into the web crawler (May 27).

[2022-05-13 14:56] foxdavidj commented on #2890
@mel-ada How are you feeling about the chapter outline? We're fast approaching the date where any new [custom metrics](https://github.com/HTTPArchive/custom-metrics/blob/main/README.md) need to be written, tested, and merged into the web crawler (May 27).

[2022-05-13 14:58] foxdavidj commented on #2888
@SophieBrannon Looks like the outline is coming along nicely! Just wanted to give a heads-up that we are fast approaching the date where any new [custom metrics](https://github.com/HTTPArchive/custom-metrics/blob/main/README.md) need to be written, tested, and merged into the web crawler (May 27).

Would be a good idea to work with your team on identifying if your chapter has need of new custom me

[2022-05-13 16:02] ColinEberhardt commented on #2885
@siakaramalegos I've completed a very rough outline, discussing with our analyst and reviewer. if you need any more detail, let me know.

We will likely be wanting to make some changes / additions to the crawler. I've started the process via a very simple tidy-up PR:

https://github.com/HTTPArchive/wasm-stats/pull/1

Once this is merged we're going to add a few new features. Should all be ready ah

[2022-05-13 17:16] siakaramalegos commented on #2880
@ibnesayeed @mgechev @pankajparkar @NishuGoel @seldo @housseindjirdeh @kevinfarrugia just a reminder to open up the draft doc, add your name and email address to confirm your participation, and provide feedback on the outline Jeremy started. The outline is due in 2 days and he will need time to incorporate your feedback. Thanks!

[2022-05-13 17:17] siakaramalegos commented on #2881
@AlexLakatos @ibnesayeed @daKmoR @j9t @bkardell just a reminder that the outline is due in 2 days. Please open the doc, add your name and email address to confirm your participation, and add your thoughts for the outline.

This is a critical deadline because we only have 2 more weeks to finalize any custom metrics for the crawl.

[2022-05-13 17:22] siakaramalegos commented on #2883
@RoelN @svgeesus @jmsole just a reminder that the outline is due in 2 days so make sure you open the doc, add your name and email to confirm your participation, and provide feedback on the outline that Bram started (scroll down to a new Ideas section). Thanks!

[2022-05-13 17:24] siakaramalegos commented on #2884
@akshay-ranganath @nhoizey just a reminder that the outline is due in 2 days. Please request edit access to the google doc, add your name and email to confirm participation, and provide feedback on the outline that Eric started. This deadline is critical as we only have 2 more weeks afterward to finalize custom metrics. Thanks!

[2022-05-13 17:26] siakaramalegos commented on #2885
@binji, @RReverser just a reminder that the outline is due in 2 days. Please request edit access to the google doc, add your name and email to confirm participation, and provide feedback on the outline that Colin started. This deadline is critical as we only have 2 more weeks afterward to finalize custom metrics. Thanks!

[2022-05-13 17:28] siakaramalegos commented on #2886
@imeugenia | @tunetheweb @housseindjirdeh @pepelsbey @kevinfarrugia | @kevinfarrugia @msolercanals just a reminder that the outline is due in 2 days. Make sure you open the doc, add your name and email address, and provide feedback on the ideas started there. Also, Eugenia, we'll need to understand what part is the final outline. Thanks!

[2022-05-13 17:30] siakaramalegos commented on #2887
@bkardell @meyerweb | @karlcow @foolip @miketaylr | @rviscomi @kevinfarrugia just a reminder that the outline is due in 2 days. It looks like none of you have added your name and email to the doc yet - please do that to confirm your participation. Thanks for all the drafting so far. Please finalize it before the deadline so there's enough time to write the custom queries. Thanks!

[2022-05-13 17:40] brumka commented on #2892
Hi all.  I can volunteer as a reviewer.  Few words about myself: ex-Akamai where I worked a lot with WAF/bot management, security of 3rd party JS.  CISSP/CCSP/pen tester/yadda-yadda.  Now at MSFT, tinkering with Azure internals.

[2022-05-13 18:07] foxdavidj commented on #2895
Hey @aarongustafson would you be willing to step up as the Content lead for the chapter? If so we'd love to have you!

[2022-05-13 20:50] diekus commented on #2895
Hola. I can help if required!

[2022-05-13 20:54] aarongustafson commented on #2895
@foxdavidj I would actually love to see @diekus lead this effort if you’re cool with it. I am happy to sign on as a reviewer and even an editor.

[2022-05-14 00:13] eeeps commented on #2884
@siakaramalegos we went over the outline as a team in a zoom earlier in the week, and had some discussions about changes. I've just integrated those, and think we can fairly call the outline complete 🎉

[2022-05-14 07:44] tomvangoethem commented on #2891
I added a rough sketch of the outline; some updates are likely to follow this weekend :-)

[2022-05-14 10:36] SaptakS commented on #2892
@foxdavidj we have a rough outline ready. I think we can start looking into writing custom metrics, if any needed.

[2022-05-14 21:18] daKmoR commented on #2881
I started an outline based on the one from last year - feel free to adjust/add/remove...

I tried to add some details on what to capture - not sure if it makes sense or what format it should be? any hints on how to formulate it?

[2022-05-15 15:30] malchata commented on #2880
Outline is complete. cc: @rviscomi, @siakaramalegos

[2022-05-15 16:07] foxdavidj commented on #2895
@diekus @aarongustafson @beth-panx @Schweinepriester @siwinlo @Suzzicks @tropicadri @webmaxru

@diekus We'd love to have you as the [Chapter Lead](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Content-Team-Leads'-Guide) for the PWA chapter! Excited to have you :)

As the PWA team lead you'll be responsible for setting the narrative for the chapter's contents, coordinating with the re

[2022-05-15 19:02] DataBytzAI commented on #2882
OUTLINE UPDATE

@cyberandy @carducci @JasmineDW @siakaramalegos @SeoRobt @jonoalderson @michaelcary

Hi folks,

I have gathered all of the comments and rejigged the chapter outline to hopefully reflect all of the discussion thus far.
It would be great if you could please take a few minutes and go through it and comment! .... in particular, see the comment/highlights on certain line-items that give

[2022-05-16 07:03] SophieBrannon commented on #2888
Thanks @patrickstox @rviscomi @TusharPol for your feedback and comments yesterday, I've made some slight tweaks based on this.

@jroakes @csliva @derekperkins the outline is complete so over to you for the data. There's a couple of custom metrics in there, so let us know if there's still time to get this data and we can adjust accordingly -
https://docs.google.com/document/d/15udJOrPhwV0yWP8cviwRy

[2022-05-16 11:00] brassic-lint commented on #2900
Hey, I'd be interested in helping out with Reviewing/Editing if you still need people!

[2022-05-16 11:05] diekus commented on #2895
Hola @foxdavidj . It'd be great to co-author with @Suzzicks! I'll look into calendars and get up to speed on all the documentation in the first post.

[2022-05-16 15:07] AlexLakatos commented on #2881
We can use the metrics from last year as well. I've only added a couple of new things for links. @daKmoR I've seen the new web component sections you've added, looks good!

[2022-05-16 15:31] seldo commented on #2898
Salma and I have completed an outline that we're happy with. Barry, your comments so far have been super helpful.

Re: a video call, sorry for not responding earlier. Salma's also in UK though I am in pacific, so we can definitely set something up. You clearly have more experience navigating the crawl, so I'd love to chat sometime this week. Anybody interested should use this doodle:

https://dood

[2022-05-17 12:06] tunetheweb commented on #2896
@sirjonathan @alexdenning @alonkochba @honzasladek @csliva we still don't have a draft outline so have missed our 15th May deadline. This means the chances of adding any NEW data to the 1st June crawl is getting slimmer by the day (since we don't yet know what we want to capture) so you may have to just rely on the existing data that HTTP Archive already collects.

But , it's still not too late. S

[2022-05-17 12:07] tunetheweb commented on #2897
@amandeepsinghvirdi @jrharalson @bobbyshaw @himani-kankaria @shantsis @alankent we still don't have a draft outline so have missed our 15th May deadline. This means the chances of adding any NEW data to the 1st June crawl is getting slimmer by the day (since we don't yet know what we want to capture) so you may have to just rely on the existing data that HTTP Archive already collects.

But , it's

[2022-05-17 14:11] foxdavidj commented on #2888
@SophieBrannon Since the outline is done, can you check off the #1 checkbox in the top comment? Looking good.

Also, it may be helpful if you add another section to the planning doc that specifically states what custom metrics you're looking for, along with documentation etc about them. So analysts can get a grasp very quickly what you're looking for. For example, "invalid <head> elements" itd be

[2022-05-17 14:14] foxdavidj commented on #2890
@mel-ada Looks like the outline is coming along nicely. Can you specifically mark/notate what metrics may require new custom metrics together with your analyst? The deadline for implementing and getting them approved is in a week and a half.

[2022-05-17 14:15] foxdavidj commented on #2891
@spanicker @nrllh @miketaylr @iskander-sanchez-rola @SaptakS

Looks like @tomvangoethem has added a rough outline to the [planning doc](https://docs.google.com/document/d/1r1TU1rH3v-686t7EaqQQ0mXg7unNKZlFYmUmbscQRtM/edit?usp=sharing). Please add your thoughts to it as well.

Especially since the deadline for adding any new custom metrics (impl, approval, merge) is less than 2 weeks away.

[2022-05-17 14:17] foxdavidj commented on #2892
@SaptakS terrific news. It may be helpful to document/notate in the planning doc what custom metrics you'd be looking for so your analysts can work on building them.

Reminder that they need to be impl'd, approved, and merged by May 27th. So time quickly running short

[2022-05-17 14:32] foxdavidj commented on #2894
@MichaelSolati How is the outline for the chapter coming along. We're passed the May 15th deadline, and quickly heading running out of time to write any new custom metrics for the chapter.

[2022-05-17 14:52] SaptakS commented on #2892
Yes. I will discuss that with my analysts and put it in the docs.

[2022-05-17 16:04] amandeepsinghvirdi commented on #2897
Hello Team,

Apologies for the delay here. I'll wrap this up today and share the outline document here for your feedback.

[2022-05-17 19:55] diekus commented on #2895
I am assuming this is the best way to communicate with the team. I am  flexible to meet during the week, but as I am based in London my preferred times are (early-ish) morning West Coast times. Can I get an idea of where you're all based to make sure we convey on a time that's friendly hopefully for all of us?

[2022-05-17 20:02] tropicadri commented on #2895
I'm in california, so pacific time, also throwing this your way: https://whenavailable.com/ I used to coordinate meeting times with groups. You create the survey and then share the link, people vote with their availability.

[2022-05-17 20:18] diekus commented on #2895
Wicked Adri! Please mark your availability for: PWA Web Almanac Chapter kick off https://whenavailable.com/invite/v8MNlWxkHdwcm5m34PeN

[2022-05-17 22:10] AlexLakatos commented on #2881
I've just marked the content plan as complete, it's got a lot of the things from last year, with just a few things added on around web components and links for this year. @rviscomi we can go ahead and look at the new metrics that need to be added, there's only a couple of things.

[2022-05-18 06:12] sirjonathan commented on #2896
@tunetheweb Thank you for the reminders and the support! I've been gathering notes / ideas over the past week and reviewing the previous years results. I will make sure the outline is drafted and ready for review this week.

Also, @dknauss who serves as Editor over at Post Status, is up for being a reviewer.

[2022-05-18 06:26] webmaxru commented on #2895
Hello team!
I'm based in Oslo, Norway - CEST timezone. Looking forward to meeting you online|

[2022-05-18 11:45] amandeepsinghvirdi commented on #2897
I have updated the Ecommerce (Web Almanac 2022)
https://docs.google.com/document/d/1IsdOo8Tgjo4aLDdYZaTGc42BNnJIZMziqPBgNzqCYYg/edit#

I will need to update the Tools section. I have added some comments for some particular topics to confirm if we can retrieve that data/metrics.

[2022-05-18 17:03] siakaramalegos commented on #2879
@rachelandrew and team, is the outline complete? The deadline was May 15. We now have less than 2 weeks to finalize any custom metrics so getting to outline completion is critical. When it's complete, please check the milestone off. Thanks for your contributions!

[2022-05-18 17:06] siakaramalegos commented on #2883
@bramstein and team, is the outline complete? The deadline was May 15. We now have less than 2 weeks to finalize any custom metrics so getting to outline completion is critical. When it's complete, please check the milestone off. Thanks for your contributions!

[2022-05-18 17:07] siakaramalegos commented on #2885
@ColinEberhardt and team, is the outline complete? The deadline was May 15. We now have less than 2 weeks to finalize any custom metrics so getting to outline completion is critical. When it's complete, please check the milestone off. Thanks for your contributions!

[2022-05-18 17:08] siakaramalegos commented on #2886
@imeugenia and team, is the outline complete? The deadline was May 15. We now have less than 2 weeks to finalize any custom metrics so getting to outline completion is critical. When it's complete, please check the milestone off. Thanks for your contributions!

[2022-05-18 17:09] siakaramalegos commented on #2887
@bkardell and team, is the outline complete? The deadline was May 15. We now have less than 2 weeks to finalize any custom metrics so getting to outline completion is critical. When it's complete, please check the milestone off. Thanks for your contributions!

[2022-05-18 17:57] ColinEberhardt commented on #2885
I’m happy to call it complete - I discussed it verbally with @binji a few days ago. I’m busy working on custom metrics with @JamieWhitMac, so all progressing nicely

[2022-05-18 21:40] foxdavidj commented on #2895
Hey @diekus, two things:

1. Have you been able to contact and/or start working with @Suzzicks? She's very responsive on Twitter if not.

2. How big of an ask would it be for me to request, once a week on Friday, an update on how the chapter is doing and any progress/hurdles/questions/etc you have. And post it to the github chapter issue? Can be a simple bullet list.

   It’d help me a lot with st

[2022-05-19 11:21] diekus commented on #2895
I've message @Suzzicks this morning on twitter (assuming it is the same handle there!).

Yes, we can set up a weekly catchup call on Fridays.

[2022-05-19 11:33] rviscomi commented on #2900
Thanks @brassic-lint it's great to have you!

@Navaneeth-Akamai given the subject of this chapter I think it's less likely that we'll need any custom metrics, so let's extend the deadline for the completion of the outline to June 1. After that, I'd expect the team to have a firmer idea of the chapter's narrative and what metrics need to be queried in order to stay on track. Given that we're still

[2022-05-19 12:17] tunetheweb commented on #2897
@amandeepsinghvirdi I had a quick look through the outline there and see @rviscomi beat me to the punch and has already responded to your queries.

I'm not seeing anything so far that would suggest we need to add anything to the crawl so think we're in a good state from that perspective.

I also think we're good to tick off milestone 1 at the top of this issue (well let you do that as we're trying

[2022-05-19 12:24] tunetheweb commented on #2896
Sent you an invite to the GitHub org @dknauss so you can edit issues and the like.

[2022-05-19 15:46] seldo commented on #2898
Thanks Barry, I genuinely wasn't sure if it was my prerogative to decide if a milestone had been met :-)

Yes, that's what I'm hoping for the call.

[2022-05-19 18:08] foxdavidj commented on #2889
@scottdavis99 How is the outline for the chapter coming along? I'm not seeing much of one in the planning doc. Have you been working with the team in another Google doc?

We're passed the May 15th deadline, and quickly heading running out of time to write any new custom metrics for the chapter (1 weeks left to have them written, approved, and merged).

[2022-05-19 18:08] foxdavidj commented on #2895
@diekus no need for a call. A simple bullet list posted in here would be more than enough 👍

[2022-05-19 18:09] foxdavidj commented on #2895
I like to rely on offline communication as much as possible, and only hold meetings when decisions need to be made

[2022-05-19 18:10] foxdavidj commented on #2889
@scottdavis99 Also, how big of an ask would it be for me to request, once a week on Friday, an update on how the chapter is doing and any progress/hurdles/questions/etc you have. And post it to the github chapter issue? Can be a simple bullet list.

It’d help me a lot with staying in the loop (and not nagging you) and making sure I’m helping you solve problems you’re facing.

Thoughts?

[2022-05-20 16:03] seldo commented on #2898
Had a quick meeting of @whitep4nth3r, @tunetheweb and myself. Takeaways:

* We're happy with the outline as is
* The main thrust of the section is going to be defining and then quantifying the jamstack
* Our primary metrics will be
  * Speed of delivery
    * We will query both crawl data and CrUX data and decide which makes more sense for this
  * Speed of LCP
  * Presence of age header
    * May

[2022-05-20 16:17] rviscomi commented on #2898
Thanks for the update @seldo, great to see all the progress being made!

One clarification on Milestone 2 is that it's actually two things:

- Implement any necessary custom metrics
- Open a PR in draft mode where the only content (so far) is a checklist of all of the queries you'll need to write

Writing the queries will be done during Milestone 3, but for this one we're only looking for an overv

[2022-05-20 17:21] seldo commented on #2898
Gotcha. Okay, unchecking and will get on that PR.

[2022-05-20 22:38] mel-ada commented on #2890
@foxdavidj apologies, just seeing these comments - I will know to keep a closer eye on comms via GitHub from now on.

**Weekly Update**

✅  Outline:
The outline is in a good place - I would call this done.

🚧  Metrics List:
I'm going through the document this weekend to compile the list of metrics needed, identify which ones need to be added, and delegate the implementation and testing to team mem

[2022-05-20 23:09] sirjonathan commented on #2896
@tunetheweb I've [updated the draft doc with an outline](https://docs.google.com/document/d/1vaA7fumol1iWDvjYvUnVRpykOABLppJmhYNUnD7DDvY/edit), using last year as a starting point.

I've added a few questions as comments within the doc that I'd love feedback on.

No changes in queries from last year stand out to me. One thing I am curious about is if we can include s[ome comparisons to Shopify](ht

[2022-05-21 17:36] jrharalson commented on #2897
I took a peak at last year's queries which look pretty good. @tunetheweb I'll likely have some questions to refresh my memory in a few syntax spots. I do plan to poke around in the Wappalyzer again next week - as it is always so wild to see the key Enterprise tier HCL/SFCC/SAP-Hybris platforms track at such low counts.

[2022-05-23 06:49] ldevernay commented on #2910
That's true, thanks @tunetheweb !
I will take some time today or tomorrow to clean the google doc and make sure the global structure is appealing to readers and that the content for every section seems clear.
We can then think about who wants to write what.

[2022-05-24 13:50] foxdavidj commented on #2893
@dwsmart @hemanth Friendly ping. @Suzzicks has written a pretty extensive outline in the chapter planning doc. Can you both take a loot over it?

[2022-05-24 13:50] foxdavidj commented on #2894
@MichaelSolati friendly ping

[2022-05-24 13:56] foxdavidj commented on #2895
@diekus How is the chapter coming along? Are you and the team satisfied with the current outline?

Looked like there was some active discussion in there, so wanted to check if it was still a WIP

[2022-05-24 14:46] bkardell commented on #2887
Yes, sorry I just forgot to tick the box

[2022-05-24 22:36] m-shafiul commented on #2900
I would like to contribute to the project as an analyst. If there are any other aspects of the project that requires assistance, more than happy to help.

[2022-05-24 22:44] rviscomi commented on #2900
Thanks @brassic-lint @vgotluru @joeviggiano @m-shafiul for all stepping up to staff this chapter and keep it on track!

@Navaneeth-Akamai any progress on the [chapter outline](https://docs.google.com/document/d/1lTrBZGE00XsiFesalFJg5zCzhtMbsrJ5CcdH2eQ_HKE/edit?usp=sharing)? I've seeded it with the outline from [2021](https://almanac.httparchive.org/en/2021/cdn) but it'd be great to flesh it out wi

[2022-05-24 22:49] rviscomi commented on #2881
✨ Custom metrics added! We're all caught up on the analysis milestones, so the next step is to wait for the June crawl to kick off and start drafting the queries in #2945. Then it's over to you @AlexLakatos to do the fun part! 😁

[2022-05-25 03:41] Navaneeth-Akamai commented on #2900
Sure @rviscomi! I'm on it!

[2022-05-25 15:24] sagrao commented on #2900
Would like to contribute as a Co-author for this project.

[2022-05-25 15:27] rviscomi commented on #2900
Welcome @sagrao! 🎉

@Navaneeth-Akamai do you need help coauthoring the chapter?

Meanwhile, @sagrao it'd be great if you added your ideas to the [chapter outline](https://docs.google.com/document/d/1lTrBZGE00XsiFesalFJg5zCzhtMbsrJ5CcdH2eQ_HKE/edit?usp=sharing) (request edit access) for topics to cover beyond last year's chapter and any additional depth needed.

[2022-05-25 16:27] harendra commented on #2900
Hi this is Haren from AWS, would like to contribute as a data analyst.

[2022-05-25 17:06] roryhewitt commented on #2902
@rviscomi @rrajiv @kevinfarrugia

So I have come down hard with Covid over the last week, and it's left me just completely wiped out. I'm aware that I am significantly behind on doing the draft outline (@paulcalvano has pinged me a couple of times). I'm doing my best to come up with something which isn't just the exact same thing as I authored for the 2020 Caching chapter (although I quite liked t

[2022-05-25 17:10] diekus commented on #2895
@foxdavidj still a WIP. I am taking a look at the doc and adding some stuff. I am also contacting some folks that might have interesting data about PWAs in certain platforms.

I met with @Suzzicks last week, and I expect by end of week to have a draft outline to discuss with the reviewers.

[2022-05-25 18:00] foxdavidj commented on #2889
@scottdavis99 Making the weekly updates here would be great. Can you take a look at the Chapter Google Doc? It looks like @thibaudcolas left a couple questions in there for you

[2022-05-26 14:38] rviscomi commented on #2900
👋 Welcome @harendra @abutail!

Go ahead and request access to the [chapter planning doc](https://docs.google.com/document/d/1lTrBZGE00XsiFesalFJg5zCzhtMbsrJ5CcdH2eQ_HKE/edit?usp=sharing) and add any ideas for topics to cover to the outline.

[2022-05-27 15:18] foxdavidj commented on #2895
Pinging @aarongustafson @webmaxru @Schweinepriester @tropicadri @beth-panx @tropicadri per Diekus's message above

[2022-05-27 15:26] SaptakS commented on #2892
@foxdavidj  here's a brief note on the current status of this chapter:
- We have a rough outline ready. It may change slightly during writing depending on things we get to see from custom metrics, and exact placement of a sub-topic, but the topics to be discussed in the outline are ready.
- @vikvanderlinden has been working on writing custom metrics for two main new things that we are looking at t

[2022-05-27 15:29] foxdavidj commented on #2892
Thanks for the update! Excited to see those new custom metrics :)

[2022-05-27 15:29] foxdavidj commented on #2891
@tomvangoethem How's the chapter coming along?

[2022-05-27 15:33] foxdavidj commented on #2888
Just saw in Slack. Very exciting :)

[2022-05-27 20:27] tomvangoethem commented on #2891
@foxdavidj The outline is there; with the new observer custom metrics we'll be looking at property accesses and function calls that are frequently used by fingerprinting scripts. For the former, we're constructing a [set of properties and functions](https://docs.google.com/document/d/1r1TU1rH3v-686t7EaqQQ0mXg7unNKZlFYmUmbscQRtM/edit#heading=h.31lba2rlv9x8); for the latter [a PR](https://github.com

[2022-05-28 00:34] mel-ada commented on #2890
@foxdavidj
**Weekly Update**

✅ Metrics List:
This is complete in the planning doc. We worked together async to narrow down our list of metrics and identify custom ones. Then, I split the custom metrics up and assigned specific ones to our analysts for implementation. Rick even helped with a few (kudos)!

🚧 Custom Metrics:
We are working on hitting the hard deadline of 5/31 for custom metrics. You

[2022-05-29 13:50] somecloudguy commented on #2900
Hi this is Karan from AWS, I would like to contribute as a co-author

[2022-05-29 14:40] rrajiv commented on #2902
@roryhewitt sorry to hear that. I will take a look at it this week.

[2022-05-29 18:43] aarongustafson commented on #2895
The revised outline looks great to me!

[2022-05-30 16:40] rviscomi commented on #2884
FYI I've added @yoavweiss as a chapter reviewer for his help on https://github.com/HTTPArchive/custom-metrics/pull/30. No expectations of reviewing the content necessarily, but want to make sure we do give credit in the by-lines.

[2022-05-30 16:49] yoavweiss commented on #2884
Thanks! :)

[2022-05-31 13:36] malchata commented on #2880
@kevinfarrugia, @NishuGoel what's the status of the custom metrics? Are we set for the June crawl?

[2022-05-31 14:35] polyglotyeoja commented on #2893
Hey everyone–@jeffmartin and I are interested in pairing as analysts for this chapter

[2022-05-31 14:59] beth-panx commented on #2895
@foxdavidj FYI that @diekus, @Suzzicks,  and I have met to discuss this. We are starting the collaboration on the query list this week. Consider the team was formed later than expected, I think we will likely miss the June 1 deadline for analytics draft PR. Reading the instructions, seems like the crawl happens every month, correct? Do you foresee any problems if we get this done later in June?

[2022-06-01 05:45] beth-panx commented on #2895
@foxdavidj - I read through the instructions for analyst and patterns to follow. Trying to create the initial query draft PR for PWA chapter. Do I need contributor access to push the branch or should I create a fork with the proposed title for the branch instead?

[2022-06-01 06:44] tunetheweb commented on #2895
Just sent you the invite there via GitHub @beth-panx. While a fork would be fine, doing it on the repo will allow others to easily access and add to any draft PR.

[2022-06-01 06:48] tunetheweb commented on #2895
We want the almanac to all be passed of the same months data for consistency and timeline purposes. I know an awful lot of effort was put in last year to gather a lot of extra PWA metrics, so hopefully what is already gathered will be sufficient to allow that to happen AND for you to have the data you need to write the chapter.

[2022-06-03 03:27] beth-panx commented on #2895
Thanks for the response! I will have a comparable queries draft setup based on last year's metrics in the next few days. We can start discussing extra queries after that.

[2022-06-03 05:49] amandeepsinghvirdi commented on #2897
@jrharalson - Are you available over this weekend for 30 minutes to review the queries/metrics?

[2022-06-06 13:34] foxdavidj commented on #2889
@scottdavis99 How is the outline coming along? Looks like there is still work to be done and we're nearly a month past the deadline.

@scottdavis99 @thibaudcolas Now that the crawl has started, please create a PR ([example](https://github.com/HTTPArchive/almanac.httparchive.org/pull/2937)) to track the progress of writing the queries needed for the chapter

[2022-06-06 13:36] foxdavidj commented on #2888
@derekperkins @csliva @jroakes Now that the crawl has started, please create a PR ([example](https://github.com/HTTPArchive/almanac.httparchive.org/pull/2937)) to track the progress of writing the queries needed for the chapter.

Heads up to @SophieBrannon, as you'll likely be needed to confirm what needs to be queried

[2022-06-06 13:39] foxdavidj commented on #2891
@max-ostapenko @ydimova Now that the crawl has started, please create a PR ([example](https://github.com/HTTPArchive/almanac.httparchive.org/pull/2937)) to track the progress of writing the queries needed for the chapter.

Heads up to @tomvangoethem, as you'll likely be needed to confirm what needs to be queried

[2022-06-06 13:41] foxdavidj commented on #2893
@polyglotyeoja @jeffmartin Now that the crawl has started, please create a PR ([example](https://github.com/HTTPArchive/almanac.httparchive.org/pull/2937)) to track the progress of writing the queries needed for the chapter.

Heads up to @Suzzicks, as you'll likely be needed to confirm what needs to be queried

[2022-06-06 14:54] clarkio commented on #2892
It's great to get acquainted with all this and see the progress so far. Is there anything needed for my and @lirantal's role as reviewers here yet?

[2022-06-06 15:02] SaptakS commented on #2892
@clarkio I think @lirantal was added as an author. So I am hoping to divide the work and start writing by July end, since the query results should start coming in by then. Me, @lirantal and @feross will need to divide the writing that time among us and start writing the draft in the [google docs](https://docs.google.com/document/d/1vit05gwIZI9oE-AM1D0hZDNDl3sZ-8fAMlLIJ4b8Cg0/edit?usp=sharing). Onc

[2022-06-07 03:17] MichaelSolati commented on #2894
Sorry I was sick and kinda fell of the face of the earth for a bit. I'm responding to your email now.

[2022-06-07 03:56] beth-panx commented on #2895
Hi all - I have added queries from 2021 that are relevant and created tasks in the draft PR for additional queries and discussion points. Please start reviewing. Thank you!

[2022-06-07 18:38] foxdavidj commented on #2890
Can i just say how much i love the emojis? I need to start using them for things like this myself

[2022-06-08 12:24] rviscomi opened #2962 "Add June 2022 data to the almanac dataset"
The 2022_06_01 crawl is complete and we have the raw [pages, requests, response bodies, lighthouse] tables available on BigQuery. To make previous years' queries compatible with the June crawl, we need to add it to the following tables in the `almanac` dataset:

- [ ] [`almanac.requests`](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/sql/util/requests.sql)
- [ ] [`almanac.summar

[2022-06-08 12:56] rviscomi commented on #2962
To clarify, should we still generate the 2022 data for these tables for comparison, or is it not needed because the data is already in custom metrics?

[2022-06-08 12:59] tunetheweb commented on #2962
Don’t plan on doing the comparison this year (it was very messy last year as so different so would t advise anyone to do it either!) so not needed this year AFAIK. Let’s make a clean break.

[2022-06-08 13:08] rviscomi commented on #2962
@patrickhulce the latest table in `lighthouse-infrastructure.third_party_web` I see is dated `2022_01_01`. Is it possible to get an updated version based on `2022_06_01` HTTP Archive data?

[2022-06-08 19:39] rviscomi commented on #2962
We're holding off on this because we discovered a data quality issue with the crawl

[2022-06-10 11:11] tunetheweb commented on #2910
Hey all, apologies I've been a bit quiet lately, but been travelling and not had too much Almanac time lately.

How are we looking now? Milestone 2's date has passed by quite a bit now, but the crawl is still going on (not sure if you saw [Rick's update on Slack in the Web Almanac channel](https://httparchive.slack.com/archives/CGFLV2S06/p1654718157281299)?), so that gives us a bit of time to catc

[2022-06-10 11:26] tunetheweb commented on #2896
Hey all, apologies I've been a bit quiet lately, but been travelling and not had too much Almanac time lately.

How are we looking now? Milestone 2's date has passed by quite a bit now, but the crawl is still going on (not sure if you saw [Rick's update on Slack in the Web Almanac channel](https://httparchive.slack.com/archives/CGFLV2S06/p1654718157281299)?), so that gives us a bit of time to catc

[2022-06-10 12:34] tunetheweb commented on #2901
Hey all, can I raise a bug bear of mine?

[These graphs](https://almanac.httparchive.org/en/2021/compression#trends-in-http-compression) has always annoyed me:

<img width="631" alt="image" src="https://user-images.githubusercontent.com/10931297/173063988-bcb5f217-d40e-4ce9-95c3-6805d65316bc.png">

This includes ALL requests - including requests that SHOULD NOT be text-compressed (e.g. images, fon

[2022-06-10 12:43] eustas commented on #2901
Not only that. There is another level of applicability: "br" content-encoding is only advertised (and accepted) by a large portion of browsers ONLY over "https" protocol. So, "br" has no chance to be used for requests sent over "http".

[2022-06-10 13:03] tunetheweb commented on #2901
True, though with [over 91% of requests being served over HTTP last year](https://almanac.httparchive.org/en/2021/security#fig-1) (which has probably only gone up this year!), I’m not sure that’s as big a deal. It’s potentially a reason Brotli isn’t used, but not an excuse IMHO 😄

[2022-06-10 20:34] Suzzicks commented on #2893
Hi everyone, (@dwsmart, @hemanth, @foxdavidj, @polyglotyeoja, @jeffmartin, @foxdavidj, @polyglotyeoja and @jeffmartin)

I have never helped with this before, and feel a bit in over my head - I thought I was just volunteering to write, but it seems like I also need to coordinate, and we have already missed deadlines, so I am feeling a bit overwhelmed, but I will do my best.

I would like to see if

[2022-06-10 21:39] jeffmartin commented on #2893
I'm very sorry, but I think you have the wrong person.  I don't know what this project is and I don't think I'm qualified to contribute.

[2022-06-10 21:55] mel-ada commented on #2890
**Weekly Update**
🚧 Non-Metric-Dependent Writing:
Still cooking - didn't have as much time this week as I would have liked.

🚧 Queries:
I checked in with @konfirmed, who said he'd be able to take the lead on this. Keeping an eye out for a draft PR and any questions that may come up.

[2022-06-11 13:04] csliva commented on #2896
Thanks for the directions @tunetheweb. I'll go ahead and get that PR drafted. I will also see what we can do about platforms like Shopify. Shopify includes a blog and it is very much in the game for Content Management.

[2022-06-14 14:08] foxdavidj commented on #2889
@scottdavis99 friendly ping

[2022-06-14 14:17] foxdavidj commented on #2893
Sorry about that jeff, we've removed you from the project

[2022-06-14 14:22] foxdavidj commented on #2893
@Suzzicks I'm available any time my calendly here shows: https://calendly.com/foxdavid/30min?month=2022-06 . Hopefully that makes finding a time a bite easier.

@dwsmart @hemanth @polyglotyeoja what times work for you all?

[2022-06-14 16:50] CodeMartian commented on #2893
Hi! I have volunteered for this chapter as an analyst. I have a pair partner to work with as well. I am Jeff Martin :)

[2022-06-14 17:20] CodeMartian commented on #2893
@rviscomi are you able to add me as a contributor

[2022-06-14 17:21] rviscomi commented on #2893
@CodeMartian yes but I'll do you one better. I've just sent you an invite to join the HTTP Archive org, after you accept you'll have edit access to the repo so you could add yourself to the contributor list 😁

[2022-06-14 17:24] rviscomi commented on #2893
@Suzzicks @polyglotyeoja looks like both of you also have outstanding invitations. I've just resent it and you should get an email asking you to approve. Or you can visit https://github.com/HTTPArchive directly.

[2022-06-14 18:59] max-ostapenko commented on #2891
@foxdavidj @tomvangoethem @ydimova https://github.com/HTTPArchive/almanac.httparchive.org/pull/2971
The overview of queries to be reused and a to do list.

[2022-06-14 19:11] max-ostapenko commented on #2292
[Borlabs Cookie](https://github.com/AliasIO/wappalyzer/blob/master/src/technologies/b.json#L852) information data is available starting Nov 2022.

Other issues discussed above also seem fine throughout past months.
@rockeynebhwani @pmeenan Can we close this?

[2022-06-15 13:03] hemanth commented on #2893
@foxdavidj I had scheduled a meeting with Cindy for this Friday at 2PM PST.

[2022-06-16 14:40] foxdavidj commented on #2893
Great to hear. I won't be able to attend so if you could take notes thatd be much appreciated

[2022-06-16 20:38] MichaelSolati commented on #2894
@jrstanley I just sent you an email, take a look and let me know what you think.

[2022-06-17 13:49] 4upz commented on #2910
Hi @tunetheweb, sorry we've been away for most of this week. But currently still working on it, and hoping to have a draft done by early next week!

[2022-06-17 13:51] tunetheweb commented on #2910
Ok, just to be clear the current Milestone is just to have the list of queries - not the queries written themselves. You’ve a little more time for them. Just want to make sure everyone’s clear on what queries need written.

[2022-06-17 17:09] Suzzicks commented on #2893
Hi everyone, (@hemanth @foxdavidj @CodeMartian @polyglotyeoja)

We weren't able to find a time that everyone could get together with the last attempt, so I am going to try again, to see if we can avoid doing a bunch of separate meetings. I already have a meeting scheduled later today with @hemanth, so my plan is to still do that one, unless we hear back from everyone on this new Doodle before that

[2022-06-17 17:18] siakaramalegos commented on #2883
@konfirmed and team - how is the query generation going? We want to be ready to run them once the run is finished.

[2022-06-18 16:58] rviscomi opened #2977 "Run check-translations-length only on changes to chapter content"
[`check-translations-lengths.yml`](https://github.dev/HTTPArchive/almanac.httparchive.org/blob/markup-2022-sql/.github/workflows/check-translations-lengths.yml#L1) is a GH action that helps ensure consistent line numbers for translations of chapter contents. It's triggered on any change to HTML or MD files.

However, there are many MD files that are unrelated to chapter contents in this repo and t

[2022-06-18 21:37] rviscomi commented on #2881
@AlexLakatos FYI I'm starting to write the queries and putting the results in the [chapter spreadsheet](https://docs.google.com/spreadsheets/d/1grkd2_1xSV3jvNK6ucRQ0OL1HmGTsScHuwA8GZuRLHU/edit?usp=sharing). I'll let you know when it's done but you can start taking a look now to plan your narrative.

[2022-06-20 00:09] foxdavidj commented on #2893
Filled out 👍

[2022-06-20 00:10] foxdavidj commented on #2893
@hemanth @CodeMartian @polyglotyeoja see above

[2022-06-20 10:59] tunetheweb commented on #2885
In case you missed it: https://blog.scottlogic.com/2022/06/20/state-of-wasm-2022.html

[2022-06-20 12:08] ColinEberhardt commented on #2885
Hi @tunetheweb - yes, I did spot that. I'm the author 😀

[2022-06-20 12:09] tunetheweb commented on #2885
D'Oh! Missed that 🤣

[2022-06-20 13:42] svgeesus commented on #2879
Is it possible to add another metric for this year? Recent discussions in CSS WG considered allowing mixed percentages and numbers in color functions (til now, you needed either three percentages or three numbers for the likes of `rgb()` or `color()`. [The big unknown is](https://github.com/w3c/csswg-drafts/issues/7338#issuecomment-1159566416):

So this is a "how badly would we break the Web if we

[2022-06-20 13:50] svgeesus commented on #2879
@rachelandrew I was looking at the draft doc just now and see some unanswered questions. I helped with some but I think most are directed at yourself.

[2022-06-20 22:24] Suzzicks commented on #2893
Ok - This is booked for tomorrow (Tuesday) at 4pm-5pm MST. A link to the calendar invite with the meeting room is in a comment in the shared doc.

[2022-06-21 05:49] dknauss commented on #2893
I’m not sure I’ve come to the right place! I would like to help with any
editing and WordPress-related material or similar open source CMS content.
It looks like most of the current activity is data collection and analysis.

On Mon, Jun 20, 2022 at 4:24 PM Suzzicks ***@***.***> wrote:

--

––––––––––––––––––––––––
*Dan Knauss*
newlocalmedia.com
Design. Build.. Sustain...
Canada: (780) 394-2700
Uni

[2022-06-21 06:43] tunetheweb commented on #2893
Hi @dknauss , the CMS chapter is being tracked in #2896 so that might be better fit for you if you want to comment there?

Just to explain the difference between the _reviewer_ and _editor_ roles in each chapter team:
- A _reviewer_ has subject matter expertise and is expected to help suggest chapter direction, review the chapter outline, and then read the text the authors produce for technical ac

[2022-06-21 17:14] dknauss commented on #2893
Will do, thanks. I can help in either role — whichever is needed more.

On Tue, Jun 21, 2022 at 12:43 AM Barry Pollard ***@***.***>
wrote:

[2022-06-21 17:40] rviscomi commented on #1195
This FR came up recently. I'm still very interested to see this implemented, even if we just start with splitting out contributor configs into their own files.

I'm also open to revisiting whether to use JSON or YAML for the config files, the latter having the advantage of being able to use inline comments.

[2022-06-21 20:35] rviscomi commented on #2879
@svgeesus I'm happy to decouple that question from the Almanac analysis and share the results with the CSS WG as soon as the data is available. I'll defer to @rachelandrew as content team lead to decide if the data is generally interesting enough to include in the chapter.

[2022-06-22 12:02] svgeesus commented on #2879
Fantastic. Yes, better to decouple. I wondered if it might be interesting enough to discuss in the chapter, depends on what we find.

[2022-06-24 18:39] tunetheweb commented on #2897
Hey @amandeepsinghvirdi @himani-kankaria @rockeynebhwani @jrharalson, just to let you know that the data is all ready to start querying, so you can start writing (and even running) your queries. Ones that are straight copies of last year you can probably just run (with the updated dates of course), but if you do come up with any new ones, then might wanna ping the other analysts (including myself!

[2022-06-24 18:43] tunetheweb commented on #2896
Hey @sirjonathan and @csliva, just to let you know that the data is all ready to start querying, so you can start writing (and even running) your queries. Ones that are straight copies of last year you can probably just run (with the updated dates of course), but if you do come up with any new ones, then might wanna ping the other analysts (including myself!) to have a quick review before running

[2022-06-24 18:47] tunetheweb commented on #2898
Hi @seldo @whitep4nth3r @GregBrimble any news on the draft PR for the metrics?

The crawl has also finished running now and the data is available to query (apart from one CSS table that I don't think you'll need), so we're ready to start the exciting part of seeing what data we're gonna get!

If we could make some progress on getting the list of queries, and making a start on some of the easier qu

[2022-06-24 19:22] seldo commented on #2898
Thanks for checking in, Barry. Salma wrote the query list but left it to me to make it into an actual PR, but I then a) went to a conference and b) caught covid, so things have been delayed! We have the queries and I will be able to restart work on this once recovered, hopefully next week.

[2022-06-24 19:25] tunetheweb commented on #2898
Yeah saw you'd been busy, and then got struct down. Hope it wasn't too bad and you're getting over it!

[2022-06-26 12:39] GregBrimble commented on #2898
Hey @seldo , happy to make a start while you're still recuperating. Do you or @whitep4nth3r have that query list you've started, or are we just working off of [this earlier comment](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2898#issuecomment-1133072271)?

[2022-06-27 07:53] whitep4nth3r commented on #2898
@GregBrimble Here's the (rough) query list. I did try to make a PR into the main repo following the same conventions as everyone else, but I didn't have access, and it didn't look appropriate to do a PR via a personal fork.

[code]

[2022-06-27 09:05] whitep4nth3r commented on #2898
[PR created here](https://github.com/HTTPArchive/almanac.httparchive.org/pull/2992)

[2022-06-28 03:57] rviscomi commented on #2881
FYI coauthors and reviewers @AlexLakatos @ibnesayeed @daKmoR @j9t @bkardell: the analysis PR https://github.com/HTTPArchive/almanac.httparchive.org/pull/2945 is merged so it's over to you all now to review the [results](https://docs.google.com/spreadsheets/d/1grkd2_1xSV3jvNK6ucRQ0OL1HmGTsScHuwA8GZuRLHU/edit?usp=sharing) and start drafting the content. Let me know in the comments of the spreadsheet

[2022-06-30 08:51] ldevernay commented on #2910
@tunetheweb : yes, I think we can check milestone 2.

[2022-07-01 08:43] tunetheweb commented on #586
Good spot! Too much copying and pasting from the previous years chapter last year 😁

Could you change this link in the 2020 text to this instead?:

[code]

There isn't a heading near it in 2020 so let's link to the figure directly instead.

[2022-07-01 23:17] ksakae1216 commented on #586
Thanks your response.
I'll fix that.

[2022-07-04 17:12] foxdavidj commented on #2888
@SophieBrannon @derekperkins @csliva @jroakes The June crawl has completed and all of the data is available to start being queried.

How are you all feeling about having all of the queries written by the end of the month? If there's anything you have questions about, just let me know

[2022-07-04 17:17] foxdavidj commented on #2891
@tomvangoethem @max-ostapenko @ydimova

The June crawl has completed and all of the data is available to start being queried.

How are you all feeling about having all of the queries written by the end of the month? If there's anything you have questions about, just let me know

[2022-07-04 17:19] foxdavidj commented on #2894
@MichaelSolati Have you and @jrstanley been able to connect offline to work on what metrics need to be queried?

Ideally, to give as much time as possible for writing and editing, we'd like to have all of the queries written by the end of the month. How are you feeling about meeting that deadline?

[2022-07-04 17:20] foxdavidj commented on #2895
@diekus @beth-panx

The June crawl has completed and all of the data is available to start being queried.

How are you feeling about having all of the queries written by the end of the month? Looks like @beth-panx has already made a lot of progress.

[2022-07-04 17:25] foxdavidj commented on #2893
@Suzzicks @polyglotyeoja @CodeMartian

Just a friendly heads-up that the June crawl has completed and all of the data is available to start being queried.

Ideally, to give as much time as possible for writing and editing, it's nice to have all of the queries written by the end of the month. How are you feeling about meeting that deadline?

Looks like a good first step would be for @polyglotyeoja

[2022-07-04 17:26] foxdavidj commented on #2893
From the looks of it, it feels like many of the queries can be taken from the ones I wrote in prior years. Which should save a lot of time.

[2022-07-05 14:48] mel-ada commented on #2890
Hello, what a time to be alive in the country that I live in! Here is an update:

🐢 **Non-Metric-Dependent Writing:**
CWV Timeline is coming along. I grabbed an infographic template from Canva and added HTTP archive's branding colors (via color picker from the site). I'll pause on adding in content until I have that finalized, but it's linked in the planning doc incase anyone wants to take a look.

[2022-07-05 15:57] foxdavidj commented on #2890
@mel-ada Could you link to the infographic you mentioned? Can't find it in the Google Doc. I might just be missing it though

[2022-07-05 15:57] rviscomi opened #3001 "Show publication and last modified dates in chapters"
Even though it should be clear which year a given chapter corresponds to, I think it could still be helpful to display the exact publication date and optionally the last modified date at the top of the content area, near the contributor names.

I'd be curious to hear if anyone disagrees or if there's a better place to show this info.

[2022-07-05 16:08] mel-ada commented on #2890
@foxdavidj Here's [the link]( https://www.canva.com/design/DAFFe3DSZ7U/S9fC-_j3N6klv4_Jc3i2Ag/edit?utm_content=DAFFe3DSZ7U&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton). Disclaimer I am not a designer, would appreciate any design support if that's available to us! But doing what I can if not.

In the doc, it's easy to miss - this is a bullet point under 'Past: Core Web Vitals R

[2022-07-05 21:35] foxdavidj commented on #2890
Looks quite nice. @mel-ada Sounds like your plan to use that image in the chapter? To give a summary of the timeline?

[2022-07-05 22:45] mel-ada commented on #2890
@foxdavidj Yes, one of the things I didn't find in my research is a clear timeline of all things CWV release and I think it will be helpful for folks to visualize. I'm waiting until the timeline content is finalized to switch out placeholder text in the image with the real deal.

[2022-07-06 06:04] tunetheweb commented on #3001
See mock up discussed here: https://github.com/HTTPArchive/almanac.httparchive.org/issues/518#issuecomment-555663257

We have all the data to easily make this happen. Just need to decide on design.

@HTTPArchive/designers any thoughts here?

[2022-07-07 00:30] shantsis commented on #3001
Mockup looks good, and great idea!

[2022-07-07 00:32] shantsis commented on #2617
What is the design tag for this issue? I'm not familiar with web share API

[2022-07-07 10:11] screenspan opened #3003 "Video bytes and requests not displayed for a single selected month"
TESTED ON:
Google Chrome 103.0.5060.114 on Mac OS 11.6.7

STEPS TO REPRODUCE ERROR:
1. Go to the Page Weight report for a single month (e.g.  https://httparchive.org/reports/page-weight?start=2022_01_01&view=list#bytesVideo)

CURRENT RESULT:
- Median video bytes transferred for a **single month** is displayed as "0".
- The median video bytes transferred for **multiple months**  is non-zero (e.g. 3

[2022-07-07 10:12] screenspan commented on #3003
Please let me know if this is really a bug or just a misinterpretation of the data on my part!

[2022-07-07 21:53] MichaelSolati commented on #2894
@foxdavidj we were able to identify what needs to be queried.

Im just waiting on @jrstanley to confirm the queries have been written.

[2022-07-08 16:32] siakaramalegos commented on #2883
@konfirmed and team - all the data should now be ready to query. It looks like you have 3 queries written - what's your plan for finishing up the rest and starting the analysis? Do you need any help? Checking in to make sure we can keep progress toward publication

[2022-07-08 16:35] DataBytzAI commented on #2882
Hi Sia - will ping you over the weekend.

Allen.

On Fri, 8 Jul 2022 at 17:29, Sia ***@***.***> wrote:

[2022-07-08 16:39] siakaramalegos commented on #2887
Hi team Interop, how are things going on the analysis? What's the next step to get started? I see the drafted list of queries, and all of the data should be available now for you to both start and run the queries. Let me know if you need any help.

[2022-07-08 18:17] siakaramalegos commented on #2882
Hi @DataBytzAI I think @rviscomi is the one that needs your time more than me so that he can figure out which metrics to write queries for.

[2022-07-09 12:35] konfirmed commented on #2883
@siakaramalegos Hi I do need help. I should be able to dedicate this coming week to writing the remaining queries

[2022-07-09 17:07] siakaramalegos commented on #2883
Hi @konfirmed what kind of help do you need? Let me know here, or you can ask in the analyst channel in Slack. Depending on what it is, want to get you the right help.

[2022-07-10 09:51] tunetheweb commented on #2890
FYI, here's the list of Web Almanac colours in case you need them for your image:

- Pale green `#a8caba`
- Grey `#62718b`
- Brown `#4a3244`
- Pale yellow - `#ffe599`
- Pale blue - `#9fc5e8`
- Pale orange - `#f6b26b`
- Pale pink - `#ea9999`
- Yellow - `#ffd966`
- Blue - `#6d9eeb`
- Green - `#93c47d`
- Orange - `#e69138`

[2022-07-11 14:50] foxdavidj commented on #2894
@jrstanley Could you create a draft PR ([example](https://github.com/HTTPArchive/almanac.httparchive.org/pull/1087)), that simply lists all of the queries in checkbox form? Makes it much easier to track the progress and see if there's anything we can hop in to help you with

[2022-07-12 12:27] tunetheweb commented on #2617
The Web Share API, allows you to use the native OS share features.

More details here: https://web.dev/web-share/

And they have also implemented it on that site! Try it!
It's not supported on Desktop Chrome (so they fall back to a Twitter pop up).
However if you visit it on your mobile (iOS or Android Chrome) then you see it in action.

So the design question is, if we did implement this, then wh

[2022-07-14 00:34] shantsis commented on #2617
Oh I see!
Desktop safari actually seems to support a version of it, it's pretty neat.

<img width="260" alt="Screen Shot 2022-07-13 at 8 32 35 PM" src="https://user-images.githubusercontent.com/22671477/178859729-a56aeb36-e775-48a1-b5c9-5ec17ce9785c.png">

I think we had another ticket last year that also added additional actions where the reaction button was (comments maybe?) but I can't find whe

[2022-07-14 00:59] shantsis commented on #2617
Found it: https://github.com/HTTPArchive/almanac.httparchive.org/pull/2196

[2022-07-14 01:05] shantsis commented on #2410
Is it a burden to display the chapter title/other text content based on the language viewed on the page? E.g. English = English chapter title, French = French chapter title?

I think a great one for inspiration is Github's
![image preview of Github's link preview](https://user-images.githubusercontent.com/22671477/178862656-128daa1a-7fa2-467d-8234-f87b7773e724.png)

Maybe we can leverage that focu

[2022-07-14 06:50] tunetheweb commented on #2410
The main burden is in moving this to a dynamic, server-generated, image rather than a static image as it is now. The social media widgets do require an image here rather than HTML/CSS/Images. But to be honest I think we need to do that anyway if we want to do this, as don't think it's feasible and scalable to create images each year (and definitely not with different languages).

[2022-07-14 07:05] tunetheweb commented on #2617
Oh interesting to know about Desktop Safari. Though that potentially highlights the danger here too as I don't think those options are that useful to be honest. There's no Tweet, nor Copy button, and I don't even have a Mail button as I use Gmail rather than an installed client like Mail. Also it doesn't seem like the page can influence what shows here (correct me if I'm wrong @tomayac ?).

Still

[2022-07-14 18:20] #3001 closed

[2022-07-15 13:59] tomayac commented on #2617
You can't determine what's there, but I agree: a copy feature would be neat. On Windows, if you have the Twitter PWA installed, it does show up, since it's a share target, so it definitely is very useful there. I hope in the long-term we will get there, too, on macOS.

Ça!

Not a ton of usage, but definitely some.

[2022-07-15 17:43] foxdavidj commented on #2894
@MichaelSolati Can you reach out to @jrstanley ? Looks like the draft PR has still not been completed

[2022-07-15 18:04] beth-panx commented on #2895
I am waiting for the list to be reviewed but can also testing the queries against June data next week.

[2022-07-15 19:24] diekus commented on #2895
Hello! I started reviewing, I'll finish by Sunday and report back.

[2022-07-15 20:35] foxdavidj commented on #2889
Hey @scottdavis99, we're fast approaching the deadline for having all of the analysis completed (Aug 1). But it doesn't look like we have a chapter outline, or any queries planned out (yet alone written). Could you give us an update on when you'd be able to get that completed?

⚠️ Given that this chapter is behind on outlining and querying data for the Aug 1st deadline, it's at risk of getting cut

[2022-07-16 17:11] aashutoshrathi commented on #2904
Interested!

[2022-07-18 02:01] ksakae1216 commented on #586
@tunetheweb I want to help for me.

1. I did finish fetch and merge
![Screen Shot 2022-07-18 at 10 55 57](https://user-images.githubusercontent.com/1982567/179435151-b798902c-4102-4a7a-8b54-204e4590287e.png)

2. But exist diff. Why exist diff. Do you what causes diff to exist?
![Screen Shot 2022-07-18 at 10 56 13](https://user-images.githubusercontent.com/1982567/179435306-ed174a38-e202-4380-a97b-

[2022-07-18 10:23] tunetheweb commented on #586
You did a fetch and merge. So your `main` must have been ahead, and now you've merged in the latest changes from this repo.

Notice this:

<img width="221" alt="image" src="https://user-images.githubusercontent.com/10931297/179491012-f5b90e25-83ca-4744-814c-1c10ea0ac811.png">

So yes you are not behind - but you're actually ahead now!

Try not to make any changes to your `main` branch. That way yo

[2022-07-18 21:05] foxdavidj commented on #2890
@mel-ada Thanks for the terrific update!

[2022-07-19 08:47] ksakae1216 commented on #586
@tunetheweb Thanks, I understanded well for your careful explanation.

[2022-07-19 20:05] diekus commented on #2895
I've synced with Beth on the queries, the only one that I am not sure how to get is support for Web Share API, since this is a JS API and not easily to find out if a PWA is invoking `navigator.share`. Any ideas on how to find out this area welcome!

[2022-07-20 16:02] diekus commented on #2895
@beth-panx let's add also queries for

*Web Share API intersects PWA
* Prefers native apps
*Display Override
* Display Override for WCO
*File System Access API intersects PWA
*Push Notifications intersects PWA
*Add to home screen

[2022-07-21 16:33] malchata commented on #2880
@kevinfarrugia, are all metrics ready? I'm thinking I'd like to get a draft going next month.

[2022-07-21 16:59] kevinfarrugia commented on #2880
@malchata there are a few remaining queries and visualisations. Will pick them up over the next 3/4 days so you have time to review before the end of the month.

[2022-07-21 19:29] malchata commented on #2880
Awesome! I appreciate your hard work on this, Kevin!

[2022-07-22 17:41] siakaramalegos commented on #2882
@DataBytzAI @NishuGoel any progress on this? It looks like the draft PR doesn't have any queries added to it yet. We only have about 8 days for the queries to be written, reviewed, run, data put into the sheets document, and charts created. Otherwise the writing could be at risk to miss the publish date.

[2022-07-22 17:52] siakaramalegos commented on #2887
Hi @bkardell and @rviscomi just wanted to ping you again to see how things are going. It looks like you're still far behind so I'm starting to get worried that we won't hit the Aug 1 milestone. What's the plan at the moment?

[2022-07-22 17:56] rviscomi commented on #2887
@kevinfarrugia will be helping with the CSS-based analysis

[2022-07-22 17:58] siakaramalegos commented on #2887
He's also got 3 or 4 other chapters so I feel like that's a lot to put on him

[2022-07-22 17:59] rviscomi commented on #2887
So do I! 😄

[2022-07-22 18:01] DataBytzAI commented on #2882
expect over weekend!  Nishu travelling as am I...

On Fri, 22 Jul 2022 at 18:41, Sia ***@***.***> wrote:

[2022-07-22 18:20] foxdavidj commented on #2894
@MichaelSolati Can you give us a list of the metrics you were hoping to query? So we can help you find an analyst to start writing the queries?

Just in case @jrstanley isn't able to come back and assist

[2022-07-22 18:37] foxdavidj commented on #2890
@mel-ada Could you and your analysts () hop in the Query Draft PR and add a comprehensive list of all the queries you'd like to run?

If there are a lot of repeats from last year, we can help out by quickly re-running those

[2022-07-24 17:09] kevinfarrugia commented on #2887
Yeah, me too. 😁

The other chapters are in a good state, for this one I need to catch up a bit on CSS-based queries. Will keep you posted.

[2022-07-25 13:46] tomayac commented on #2895
The Capabilities chapter has traditionally covered some of these APIs: https://almanac.httparchive.org/en/2021/capabilities.

- Web Share API intersects PWA: https://almanac.httparchive.org/en/2021/capabilities#web-share-api
- File System Access API intersects PWA: https://almanac.httparchive.org/en/2021/capabilities#file-system-access-api

[2022-07-25 15:14] rviscomi commented on #2889
⛔ @scottdavis99 I see that you've been active in the planning doc recently, which is great, but we're getting a bit concerned as we haven't gotten a status update from you a while.

The chapter still seems to be blocked on Milestone 1, completing the outline, which was due in May. We're looking for something resembling a table of contents to sketch out the topics you'd like to explore this year. T

[2022-07-25 15:22] rviscomi commented on #2900
⚠️ @Navaneeth-Akamai just checking in. I see that this chapter is still behind on Milestone 2 (drafting the analysis PR) and we're fast approaching the deadline for Milestone 3 (completing the analysis). Want to make sure this chapter is staying on track with the rest of the chapters to be launched in September. Could you give us a status update on when you expect to have these completed?

You sho

[2022-07-25 15:43] rviscomi commented on #2902
@roryhewitt @rrajiv @kevinfarrugia hi all, just checking in. Just to confirm, has the lead author role officially transitioned from @roryhewitt to @rrajiv? If so @rrajiv can you update the contributor info at the top of the issue? Also @roryhewitt could you confirm if you're still able to contribute as a reviewer?

@kevinfarrugia I see your note in https://github.com/HTTPArchive/almanac.httparchiv

[2022-07-25 16:00] rrajiv commented on #2902
Hi @rviscomi  - wasn't aware the role had switched ;). I had helped out earlier on the doc with some comments to update the outline since @roryhewitt was out

[2022-07-25 16:07] kevinfarrugia commented on #2902
From my end I am still waiting for the outline and I ran the queries from 2021 and updated the [Google Sheet](https://docs.google.com/spreadsheets/d/16wQoA9ZciYkdW65RfR6CuW9H8TdMTQjhLuTSvVlN_rs/edit#gid=799938635) with the data from June 2022. I see there is a request for two new standards which I can look into if needed.

[2022-07-25 16:18] rviscomi commented on #2902
Good to know thanks @rrajiv and @kevinfarrugia.

So it seems like the expectation is for @roryhewitt to continue in the lead author role. @roryhewitt are you feeling up for it? If not we may need to find an alternate lead or close the chapter. That'd be good to clarify now before @kevinfarrugia does any additional work on the analysis.

[2022-07-25 20:59] diekus commented on #2895
Indeed! We checked this when we were developing the chapter, but we wanted to make a mention of the data when intersecting with PWAs. This is, from all web apps using such APIs, which are actual PWAs? It'd be interesting to note that x% of websites using web share api are installable web apps, for example.

[2022-07-26 00:12] mel-ada commented on #2890
@foxdavidj I've added a list in the README [here](https://github.com/HTTPArchive/almanac.httparchive.org/blob/d6d0ed4ef685739654d7d8f1677b9657d31230a8/sql/2022/performance/README.md#query-list)! I'll defer to @konfirmed and @25prathamesh on if there are similar queries in previous years' chapters.

[2022-07-28 01:34] beth-panx commented on #2895
Hi all - Most of the queries are done, validated, and translated into graph and added to the [result sheet](https://docs.google.com/spreadsheets/d/1PbzjhN--jU9MGuWobw5L9EsmlVzI9tlbCe3_NKA7giU/edit#gid=13487225). Please feel free to review. 🚀

[2022-07-29 00:08] beth-panx commented on #2895
Queries were reviewed and merged thanks to @tunetheweb! I have updated the result sheet based on the new queries. 🧠

[2022-07-29 17:33] foxdavidj commented on #2894
@MichaelSolati friendly ping on the above

[2022-07-29 17:34] foxdavidj commented on #2895
Fantastic work!! Thanks so much

[2022-07-29 17:35] foxdavidj commented on #2895
The queries have been run and saved in the [results sheet](https://docs.google.com/spreadsheets/d/1PbzjhN--jU9MGuWobw5L9EsmlVzI9tlbCe3_NKA7giU/edit#gid=13487225) @diekus @Suzzicks. Writing the chapter is fully green-lit

[2022-08-01 19:09] MichaelSolati commented on #2894
@foxdavidj

- Query the top 20 used APIs (we'll pick 7-10 of them to discuss)
- Compare the usage of the APIs discussed last year against their usage this year (see list below)
- Compare the growth/loss of APIs selected to discuss this year against their usage last year

Separately here's a list of the APIs discussed last year:

- Async Clipboard API
- File System Access API
- Web Share API
- URL

[2022-08-01 21:30] mel-ada commented on #2890
@foxdavidj

🤔 Queries:
Queries were due today. Despite prompts here and on Slack, I haven't heard from @25prathamesh or @konfirmed in a while. I do see some activity on the [queries PR](https://github.com/HTTPArchive/almanac.httparchive.org/pull/2974), but I think it's safe to say this is running late. Analysts, please let us know the latest status and how I can help. **Please note: a delay in que

[2022-08-02 05:01] 25prathamesh commented on #2890
@mel-ada I have completed the following queries,, my commit got rejected due to linting issue i will fix it
### Web Getting Wrong
#### Gaming the Metrics (Custom)
- [ ] Filtering for synthetic tests
- [ ] LCP Animation & Overlay Hack
- [ ] LCP Svg Overlay Hack
- [ ] CLS Animation Hack
- [ ] FID iFrame Hack

#### Antipatterns (Custom)
- [ ] LCP Lazy Loaded

 Antipatterns (Not Custom) is pending fro

[2022-08-02 08:00] tomayac commented on #2894
Just two things to point out:

From https://web.dev/pwa-url-handler/:

_"PWAs as URL Handlers was part of the [capabilities project](https://developer.chrome.com/blog/fugu-status/) and support for the experimental url_handlers manifest member, documented below, is being phased out. The url_handlers manifest member is being replaced by the new handle_links manifest member, which is currently being

[2022-08-02 08:09] MichaelSolati commented on #2894
I'd be open to highlighting WebHID and WebNFC. I wouldn't want to shove it in, though, so I'll have to think about how to frame it with our outline.

[2022-08-02 15:34] malchata commented on #2880
@kevinfarrugia, I'm beginning to write the JavaScript chapter, and noticed that many of the links to results spreadsheets are now broken. Do you think you can restore these so I can continue writing?

[2022-08-02 21:26] rviscomi commented on #2889
@scottdavis99 @SaptakS @shantsis @ericwbailey @thibaudcolas @dereknahman @foxdavidj

Sorry everyone, but given that we still don't have the list of metrics that need to be queried we have to make the tough call to close the chapter.

Thank you all for signing up and we hope that you consider contributing next year. If this frees you up to help other chapters and you're still interested, take a loo

[2022-08-02 22:27] kevinfarrugia commented on #2880
@malchata Yep, completely forgot about them. All links are now updated. Keep me in the loop if you have any feedback.

[2022-08-03 04:08] paivaspol commented on #2903
@rmarx @tunetheweb @LPardue @rviscomi I completed most of the queries except for one on quantifying number of `link rel="preload"` and quantifying the HTTP versions announced via `alt-svc` headers. I'll finish those by this upcoming weekend or latest mid-next week.

For the ones that I completed, I created a section called Takeaways in the chapter doc. The link to the spreadsheet is provided at th

[2022-08-04 07:53] thibaudcolas commented on #2889
Sob. I had completely forgotten signing up to this in-between holidays, and only just realised with Scott DM-ing me on Slack. I’m sorry not to have made more of an effort on this earlier 😞

From my early research on the custom metrics already in place, queries written in past years and discussions on Slack, it seemed there were plenty enough metrics already set up for interesting accessibility ana

[2022-08-04 16:10] rviscomi commented on #2889
I've had some discussions with @scottdavis99 @SaptakS and @thibaudcolas these past couple of days and want to give an update for all contributors.

The chapter is still closed. It's fallen too far behind for us to plan on including it in this year's publication. BUT the people I've chatted with are still very interested to salvage the chapter.

The plan is for @thibaudcolas to rerun all of the 202

[2022-08-04 16:14] shantsis commented on #2889
I am still open to reviewing the chapter if we go down this route

[2022-08-04 18:05] ericwbailey commented on #2889
I'm over-committed and the deadline crunch would risk my level and quality of involvement. Best of luck, and looking forward to next year.

[2022-08-04 18:29] alextait1 commented on #2889
Same goes for me. I hope to be involved and see this chapter better supported next year, it really matters.

[2022-08-04 18:56] rviscomi commented on #2882
All 2021 queries have been migrated to 2022 and results saved to the [chapter sheet](https://docs.google.com/spreadsheets/d/1iRsyYq4TDMpsgeo_uLq-yqBisHviypeKVUMF1pM1fiM/edit?usp=sharing). I've also added all the same pivot tables and charts that were used last year, except for the [Sankey diagram in figure 12](https://almanac.httparchive.org/en/2021/structured-data#fig-12). @GregBrimble did you cr

[2022-08-05 17:49] siakaramalegos commented on #2893
👋 Adding myself as an analyst. I'm also a section lead for another section so can't do much more than copy from last year. Just linked up the queries PR and will start running them.

[2022-08-05 19:19] siakaramalegos commented on #2893
@Suzzicks FYI, I ran all the queries from last year (with updated dates), and have finished putting the data into the results spreadsheet. The charts will take some more time, but you can start exploring the data now. If you'd like to help with the charts, let me know. It doesn't look like they made charts for all the queries last year, and I don't know which ones you want.

[2022-08-06 15:39] SaptakS commented on #2892
Just to keep everyone in the loop:
- @vikvanderlinden @VictorLeP @GJFR have run the queries and put most of the data in excel spreadsheet. They have also started making the charts. Few queries needed update, which have now been merged.
- I (@SaptakS ) has contacted both @feross and @lirantal to discuss who writes what parts of the outline.
- I (@SaptakS ) have started writing a rough draft of the

[2022-08-06 16:05] VictorLeP commented on #2892
A few more query updates will still be needed, but those are mostly done (just need to write them up according to standards), bur since I'm travelling, it might take a day to finish and push them.

[2022-08-08 20:01] GregBrimble commented on #2882
Not me! That was @tunetheweb 's fine work: https://github.com/HTTPArchive/almanac.httparchive.org/pull/2560

[2022-08-08 20:05] tunetheweb commented on #2882
I would love to take credit for that lovely diagram, but I just added it to git and inserted it into the chapter markdown. @cyberandy created the diagram with some useful input from @jonoalderson and less-useful nitpicking from me 😁

[2022-08-08 20:06] DataBytzAI commented on #2882
On it @Rick

On Thu, 4 Aug 2022 at 19:56, Rick Viscomi ***@***.***> wrote:

[2022-08-08 20:56] cyberandy commented on #2882
We can do it interactive this time. Happy to help.

On Mon, 8 Aug 2022 at 22:06, DataBytzAI ***@***.***> wrote:

[2022-08-09 01:48] mel-ada commented on #2890
📆 **Timeline Update:**
The rough draft will now be pushed back until 8/22 due to a delay in queries, and I can't commit to including/writing content for data that is missing as of today. This includes the following queries:
- [ ] % of sites that are using priority as an attribute on LCP element
- [ ] % of sites where the LCP is element is preloaded
- [ ] LCP Element Resource Delay
- [ ] TTFB by Ca

[2022-08-09 06:27] Navaneeth-akam commented on #2900
@rviscomi : I was on time off for last few weeks and back now. I'll check on the status here and get this going

[2022-08-09 14:28] foxdavidj commented on #2894
Hey @MichaelSolati, it looks like the analysis portion for the chapter has really fallen behind (looks like @jrstanley may have had something come up)... and we're now eating into the time allotted for writing the chapter.

I talked about the issue with other members of the team and while I haven't been able to find a replacement analyst, I did get some volunteers who’d be down to take last year’s

[2022-08-09 14:30] foxdavidj commented on #2895
@diekus @Suzzicks Have you been able to review the data from the analysts?

[2022-08-09 14:34] diekus commented on #2895
Yes, reviewed the data. I'll sync up with Cindy to proceed with writing

[2022-08-09 20:24] MichaelSolati commented on #2894
@foxdavidj, that's a little unfortunate, but I don't mind. As long as we output a meaningful entry, I'll be happy. I'm sure we'll be able to.

[2022-08-10 09:36] tunetheweb commented on #2894
Hi all,

There's actually only two queries that were run for last year, so I've updated that and rerun it for this year. The results are now available in the [2022 Capabilities results sheet](https://docs.google.com/spreadsheets/d/13S9FRj8OPRtoMPb94jFh6pPNz3lNS9yztIaorZYe288/edit#gid=871711070).

The good news, is that this grabs ALL the Fugu API information we have, and @tomayac has been busy upd

[2022-08-10 10:11] tunetheweb commented on #2312
Confirmed this i no longer an issue.

[2022-08-10 10:11] #2312 closed

[2022-08-10 10:17] #2977 closed

[2022-08-12 17:46] siakaramalegos commented on #2879
@rviscomi it looks like the analysis is almost complete - can you give us an idea of % complete and timeline on the rest?

@rachelandrew when do you think you can begin the draft? Just as a reminder, the due date at the end of the month is for post-review and post-edit, so you'll need to set aside at least a week for those and preferably more.

[2022-08-12 17:48] siakaramalegos commented on #2880
@kevinfarrugia  it looks like the analysis is almost complete - can you give us an idea of % complete and timeline on the rest, if any?

@malchata Thanks for beginning the draft! Just as a reminder, the due date at the end of the month is for post-review and post-edit, so you'll need to set aside at least a week for those and preferably more.

[2022-08-12 17:48] siakaramalegos commented on #2881
@AlexLakatos  when do you think you can begin the draft? Just as a reminder, the due date at the end of the month is for post-review and post-edit, so you'll need to set aside at least a week for those and preferably more.

[2022-08-12 17:50] siakaramalegos commented on #2882
@DataBytzAI  when do you think you can begin the draft? Just as a reminder, the due date at the end of the month is for post-review and post-edit, so you'll need to set aside at least a week for those and preferably more.

[2022-08-12 17:50] malchata commented on #2880
Thanks for the heads up @siakaramalegos! I'm going to allocating more time to tackle this over the next couple of weeks so I can get it all wrapped up for review.

Just a note, I will be in South Korea during the review due date, but anticipate I will have time to get it across the finish line in time for 9/15.

[2022-08-12 17:52] DataBytzAI commented on #2882
We have started and will be digging in from tomorrrow on it fulltime.

On Fri, 12 Aug 2022 at 18:50, Sia ***@***.***> wrote:

[2022-08-12 17:52] siakaramalegos commented on #2883
@konfirmed @bramstein  it looks like the queries are almost complete - can you give us an idea of % complete and timeline on the rest? Also, you're pretty behind on the analysis so I'm getting worried about the viability of this chapter - the deadline for writing is the end of this month.

@bramstein  when do you think you can begin the draft? Just as a reminder, the due date at the end of the mon

[2022-08-12 17:54] siakaramalegos commented on #2884
@eeeps @akshay-ranganath  it looks like the analysis is almost complete - can you give us an idea of % complete and timeline on the rest?

@eeeps  when do you think you can begin the draft? Just as a reminder, the due date at the end of the month is for post-review and post-edit, so you'll need to set aside at least a week for those and preferably more.

[2022-08-12 17:56] siakaramalegos commented on #2885
@JamieWhitMac  it looks like the analysis is almost complete - can you give us an idea of % complete and timeline on the rest?

@ColinEberhardt  when do you think you can begin the draft? Just as a reminder, the due date at the end of the month is for post-review and post-edit, so you'll need to set aside at least a week for those and preferably more.

[2022-08-12 17:57] siakaramalegos commented on #2886
@kevinfarrugia  it looks like the analysis is almost complete - can you give us an idea of % complete and timeline on the rest?

@imeugenia  when do you think you can begin the draft? Just as a reminder, the due date at the end of the month is for post-review and post-edit, so you'll need to set aside at least a week for those and preferably more.

[2022-08-12 17:59] siakaramalegos commented on #2887
@kevinfarrugia @rviscomi for the queries and analysis - can you give us an idea of % complete and timeline on the rest?

@bkardell  when do you think you can begin the draft depending on when the analysis is ready? Just as a reminder, the due date at the end of the month is for post-review and post-edit, so you'll need to set aside at least a week for those and preferably more.

[2022-08-12 18:03] kevinfarrugia commented on #2880
@siakaramalegos analysis is complete and and all results are updated on the result sheet.

@malchata I left the comments on the outline. Let me know if I missed something or you need anything else from my end.

Thanks both.

[2022-08-12 18:22] malchata commented on #2880
I'll be working more on the draft this weekend, so I'll hit you up if I see anything missing. Thanks for all your hard work, @kevinfarrugia! LOTS of data here to pore over for the remainder of the draft.

[2022-08-13 15:05] max-ostapenko commented on #2891
@ydimova @tomvangoethem the spreadsheet is complete with all the available visualisations, please have a look and looking forward to clarify/adjust/detail anything.

[2022-08-13 21:21] rviscomi commented on #2879
I've just merged the analysis PR with 68 of 73 metrics. Their results are available in the [spreadsheet](https://docs.google.com/spreadsheets/d/1OU8ahxC5oYU8VRryQs9BzHToaXcOntVlh6KUHjm15G4/edit?usp=sharing). Sorry for the delay, everyone.

The remaining metrics have open questions in the [draft doc](https://docs.google.com/document/d/1aKTQht_HeLdskNOeELI_e3rhTev5ldyiSl72Qbm18O0/edit?disco=AAAAZZbH

[2022-08-14 17:23] rviscomi commented on #2881
🛎️ @AlexLakatos @ibnesayeed @daKmoR @j9t @bkardell the [results](https://docs.google.com/spreadsheets/d/1grkd2_1xSV3jvNK6ucRQ0OL1HmGTsScHuwA8GZuRLHU/edit?usp=sharing) have been ready for two months but I don't see any progress whatsoever in the [draft doc](https://docs.google.com/document/d/1OV_-YmxXoFCalDIdAYq9eTZMpjsQ0rsuFKGAsF-8eoM/edit?usp=sharing). As @siakaramalegos noted, the chapter is exp

[2022-08-14 18:06] tunetheweb commented on #2897
@amandeepsinghvirdi @himani-kankaria I've just merged the queries and looks like the data is in the [spreadheet](https://docs.google.com/spreadsheets/d/1UXCD_A748UF79McCg1cdLdCKPKE8JNFAdd1l-t-glrI/edit#gid=1551910747).

We now have a little over two weeks to get the chapter **written, reviewed, and edited** by the end of the month.

@jrharalson I see a number of tabs marked as "Not in Git" - is th

[2022-08-15 09:43] thibaudcolas commented on #2889
For anyone still following this – here’s a quick progress update:

- I’ve created the copy of the 2021 queries for 2022: #3057. I believe this is ready for review by HTTP Archive analysts. This wasn’t just copy-pasting, I made sure to review the whole of the chapter to identify exactly which queries are used where, and made according fixes along the way (#3039, #3040, #3043, #3047, #3048, #3049, #

[2022-08-15 09:53] tunetheweb commented on #2889
PR looks mostly good to me so feel free to start running the queries.

As I noted on the PR, I think it would be good to also include Desktop Lighthouse data (new this year!) to give a new angle on what you can include in the report. However I wouldn’t let that hold you up running the other queries (or maybe even also the LH queries with just mobile initially) to unblock the chapter and can do tha

[2022-08-15 10:47] ColinEberhardt commented on #2885
Hi @siakaramalegos - my plan is to tackle the writing this week. I'll keep you updated on progress.

[2022-08-15 14:29] RReverser commented on #2885
Just so that you don't worry if I don't respond, I'll be away starting tomorrow till 24th of August. I'll be still happy to review the draft upon return.

[2022-08-15 15:30] ColinEberhardt commented on #2885
Thanks for the heads-up @RReverser  - I'll try to get something ready for you to review ahead of that.

[2022-08-16 15:12] rick commented on #2882
![you rang?](https://user-images.githubusercontent.com/6259/184914811-17147f5a-0680-458f-aca5-80da12a0b0b6.png)

[2022-08-17 10:10] JamieWhitMac commented on #2885
@siakaramalegos 95% complete, final 5% sorted this week (mostly just finalising visualisations and confirming we definitely have everything required).

[2022-08-17 13:42] kevinfarrugia commented on #2886
@siakaramalegos I think we're done from queries. :)

[2022-08-17 15:52] alexnj commented on #2883
I can be a reviewer if help is needed!

[2022-08-17 15:53] alexnj commented on #2886
I'd be happy to be a reviewer if help is needed!

[2022-08-17 16:00] rviscomi opened #3070 "Add linter rule to catch TABLESAMPLE in queries"
A useful way to iterate on queries is to use the `TABLESAMPLE` feature to speed up processing time. However, this takes a ~random sample of the dataset and is not suitable for production use.

<img width="582" alt="image" src="https://user-images.githubusercontent.com/1120896/185187339-069ee7c5-b7e2-4986-9019-4ea721b0e25e.png">

Add a linter rule to catch any sampling that might slip into analysis

[2022-08-17 16:28] rachelandrew commented on #2879
thanks @rviscomi I'll go through those questions today.

[2022-08-17 16:44] #3070 closed

[2022-08-17 18:21] seldo commented on #2898
Just a quick update on status: with enormous help from @tunetheweb we have merged the queries. The narrative is about 80% written; we have some things to fix and new data to add. I have to swap focus now so I'm aiming to take the narrative back up next week and finish it then.

I'm going to be OOO for 3 weeks starting September 9, so my plan is to hit Milestone 5 by September 1 rather than Septemb

[2022-08-18 01:18] rviscomi commented on #2890
Analysis PR is merged and the results are in the [sheet](https://docs.google.com/spreadsheets/d/1TPA_4xRTBB2fQZaBPZHVFvD0ikrR-4sNkfJfUEpjibs/edit?usp=sharing). Over to @mel-ada to start the draft.

[2022-08-19 03:07] rviscomi commented on #2879
Thanks for following up on those open questions @rachelandrew. I've implemented the remaining queries and saved their results to the sheet. Back over to you.

[2022-08-19 15:52] rviscomi opened #3076 "Optimize the linter"
It takes several minutes to run the linter. Is there any way to speed that up?

It seems like a lot of time is spent checking out the entire almanac repo. Would it be possible/faster to only check out the files that changed?

[2022-08-19 15:54] ColinEberhardt commented on #2885
Hi @siakaramalegos the draft is complete:

https://docs.google.com/document/d/1U8CeQ_2ga_m-TGDAIGgB2PjB0O6Z5dauqtvuZubmXtQ/edit#heading=h.opp513127kig

@RReverser @binji @JamieWhitMac please do take a look and let me know if you have any comments.

[2022-08-19 15:56] rviscomi commented on #2900
The analysis PR has been merged and the results available in the [sheet](https://docs.google.com/spreadsheets/d/1ySETT2IZ9ae5_VUphxUol2ZU3P1RJvcSVjDU5BgnK5A/edit?usp=sharing) with charts.

@Navaneeth-Akamai @sagrao @abutail @somecloudguy @brassic-lint @vgotluru please start reviewing the results and reach out to the analysts if you have any questions. In order to be released on time, the draft mus

[2022-08-19 16:07] rviscomi commented on #2899
@fellowhuman1101 @dwsmart @CSteele-gh @mordy-oberstein the analysis is done and the results are available in the [sheet](https://docs.google.com/spreadsheets/d/1JvJMiRsL6T9m_NEBHFh-rrQmU5a-ufdOKriSJbrEN8M/edit?usp=sharing). Go through the results and ping @drohe if you have any questions.

@fellowhuman1101 please coordinate with your team to get the draft written, reviewed, and edited by September

[2022-08-19 16:17] tunetheweb commented on #3076
The linter does this:
1. Download the Docker image.
2. Checkout the repo
3. Lint only the changed files

3 is actually the quickest! It's the first two that are problematic.

On the first the Linter as one huge docker image. This has positives and negatives:
- On the positive we have access to lots of linters, written in lots of languages, without having to worry about installing them.
- On the ne

[2022-08-19 16:20] tunetheweb commented on #3076
Note supported with GitHub Actions checkout yet: https://github.com/actions/checkout/pull/680 😔

Not sure what the difference is between that and just using `git checkout` to be honest. But let's look at this, when the above issue is resolved.

[2022-08-19 17:44] foxdavidj commented on #2892
@SaptakS How's the chapter coming along? Looks like it's in great shape so far

[2022-08-19 17:45] foxdavidj commented on #2894
@MichaelSolati How's the chapter coming along?

[2022-08-19 17:45] foxdavidj commented on #2895
@diekus @Suzzicks How's the chapter coming along?

[2022-08-19 17:52] siakaramalegos commented on #2885
@ColinEberhardt awesome! It looks like there are some comments on the queries PR so some data might need to be adjusted. Keep in mind for the draft. Might want to wait before reviewing.

[2022-08-19 17:54] siakaramalegos commented on #2881
Haven't seen any update in the draft doc so wanted to reach out again - @AlexLakatos when do you think you can begin the draft? What's the plan to complete it in time? Thanks

[2022-08-19 17:55] siakaramalegos commented on #2879
Haven't seen any updates in the draft doc so just wanted to ping again @rachelandrew when do you think you can begin the draft? What's the plan for completing it? THanks

[2022-08-19 17:57] siakaramalegos commented on #2883
@bramstein Just wanted to ping again - I noticed the PR for the queries is merged, but I don't see any data or analysis in the results sheet yet nor anything in the draft yet. What's the plan to get the analysis done and the writing complete in time for review? Thanks

[2022-08-19 17:58] siakaramalegos commented on #2884
@eeeps can you please provide an update here? It doesn't look like there has been any progress so I want to know the plan to get back on track. Thanks

[2022-08-19 18:00] siakaramalegos commented on #2886
@imeugenia when do you think you can start working on the draft? What's the plan to get back on track for completion? Thanks

[2022-08-19 18:03] siakaramalegos commented on #2887
@bkardell @kevinfarrugia @rviscomi ditto the question from last week - can you write an update here? thanks

[2022-08-19 18:05] bkardell commented on #2887
We already have a bit more than an 'outline' in there, and I can start next
week to fill in based on data coming available.

On Fri, Aug 19, 2022 at 2:03 PM Sia ***@***.***> wrote:

--
Brian Kardell :: @briankardell :: bkardell.com

[2022-08-19 18:12] bramstein commented on #2883
@siakaramalegos Thanks for trying to keep things on track! I'm still trying to catch up. The queries have been merged and I manually saved the query results locally. I'll add the results to the sheet over the weekend. Then I'll start on the first draft.

[2022-08-19 18:32] siakaramalegos commented on #2887
Just closing the loop, I think @rviscomi is under the impression all the data is done and ready for y'all. The two of you should connect if that's not the case. Thanks for the update!

[2022-08-19 18:33] siakaramalegos commented on #2883
Thanks for the update!

On Fri, Aug 19, 2022 at 2:12 PM Bram Stein ***@***.***> wrote:

[2022-08-19 18:38] rviscomi opened #3077 "Create 2022 Contributors page"
We currently have a "coming soon" home page. It'd be good to launch the 2022 contributors page even before the first chapter is published.

[2022-08-19 18:52] rviscomi commented on #2883
@bramstein you might be interested in @kevinfarrugia's [tool](https://github.com/kevinfarrugia/csv_to_sheets) to take local CSV results and automatically import them into Sheets to streamline the process. More [discussion](https://httparchive.slack.com/archives/C016QLMT0BZ/p1657545852826349) about it in the #web-almanac-analysts channel on Slack.

[2022-08-19 19:03] tunetheweb commented on #3077
You can actually navigate to it already: https://almanac.httparchive.org/en/2022/contributors

Just not exposed in navigation as likely to be some flux in this.

[2022-08-19 19:55] ColinEberhardt commented on #2885
Hi @siakaramalegos thanks - can you link to the queries PR?

[2022-08-19 21:22] tunetheweb commented on #2910
OK I've completed the review of the request PR, made a few tweaks (took a couple of liberties, but think it's for the better!), ran (or reran where necessary) all the queries, saved the data, created some charts I think presents the data nicely (though let me know if you want other charts).

So I think we're all done with the analysis phase. Over to the writers to copy and past in the charts or da

[2022-08-19 22:27] tunetheweb commented on #2897
@amandeepsinghvirdi @himani-kankaria I've not heard from you in quite a while, and not seeing any progress on the doc. Just checking that you're still interested and intending to write this chapter?

[2022-08-19 23:05] siakaramalegos commented on #2885
It's linked here already but for your convenience #2951

[2022-08-20 00:07] amandeepsinghvirdi commented on #2897
@tunetheweb - I am planning to write this over this weekend and then we can start the review process end of next week.

[2022-08-20 09:06] tunetheweb commented on #2897
Great to hear @amandeepsinghvirdi

I've gone though the data and added a few charts. Still some more to do here so will come back to it later.

[2022-08-20 11:03] thibaudcolas commented on #2889
Hi everyone, the [Accessibility (Web Almanac 2022) sheet](https://docs.google.com/spreadsheets/d/1ladaKh6RbtMKQwkccwxDJGQf85KyhfLrtlM_9e9sLH8/edit) now contains all of the results, pivot tables, and figures based on our queries.

I’ve validated this by comparing the results with the [2021 sheet](https://docs.google.com/spreadsheets/d/1WjAM5ZnHjMQt-rKyHvj2eVhU_WdzzFTjpoYWMr_I0Cw/edit), since a lot

[2022-08-20 12:33] SaptakS commented on #2889
@thibaudcolas That's right. I have reviewed some of them. I have finished writing a draft version based on the analysis, so I would say we are mostly on time. It would be great if you could help me in copy-pasting or importing the graphs to the docs draft.

[2022-08-20 12:44] dereknahman commented on #2889
Hey @thibaudcolas. I'm happy to edit when you need me - just say when!

[2022-08-20 12:51] SaptakS commented on #2892
@foxdavidj I would say we are mostly on track for the release. The queries have been ran and graphs have been generated. Thanks @GJFR @VictorLeP @vikvanderlinden for the amazing work! I am midway through the writing process. Also pinged @feross and @lirantal about writing their sections.

[2022-08-20 19:55] bramstein commented on #2883
@rviscomi @siakaramalegos Thanks! I went through the data today and made some writing notes for the chapter (and fixed a couple things, #3080). I've used the tool to upload the query results to Sheets.

[2022-08-22 16:49] eeeps commented on #2884
@siakaramalegos
Apologies, I have been (and am!)

1. behind
2. working a lot locally instead of pushing
3. behind on GH notifications...

Status, with one week to go: query PR is merged; some charts are done; draft is half written. Plan A was to have a fully-written draft (with charts) to turn over to the review/edit folks today but I am going to need at least today to finish the writing. The revi

[2022-08-22 17:22] rviscomi commented on #2902
⛔ Hi everyone. Unfortunately it doesn't seem like this chapter has anyone to take the lead author role, which means we won't be able to publish it this year. I wish @roryhewitt the best and hope his recovery has been going well—one's health should always come before volunteer projects like this and I fully support stepping back to focus on recovery.

I'm going to close this issue so we can refocus

[2022-08-22 17:22] #2902 closed

[2022-08-22 19:11] tunetheweb commented on #2897
Finished all the charts now. Let me know if any questions.

[2022-08-22 20:00] amandeepsinghvirdi commented on #2897
Thank you @tunetheweb ! I'll ping on slack if I come across any issues/questions.

[2022-08-22 20:14] paivaspol commented on #2903
@rmarx @paulcalvano @rviscomi @rmarx I completed the first draft for the chapter. Please take a look and let me know what you think.

[2022-08-22 21:39] brumka commented on #2892
Suggestion: should we call out "CNAME Tracking" (aka "CNAME collusion") mentioned in the Privacy chapter as a security issue?  By using such technique, the tracking companies can get full access to the first party cookies despite the countermeasures built into browsers.

[2022-08-23 09:03] SaptakS commented on #2892
Definitely can add a link to the privacy chapter section with a line about this technique. Would you agree that the best place to put this would be in the Cookies outline?

[2022-08-23 09:46] thibaudcolas commented on #2889
Took me a bit longer than I was expecting but I’ve finally finished adding all of the query results in the draft chapter content. There are 21 graphs, 8 "big numbers", 2 tables, and 9 sets of results mentioned within the copy.

For each, I’ve added the embed from Google Sheets where appropriate, the Markdown `{{ figure_markup() }}` or `{{ figure_link() }}` including all up-to-date metadata, and a

[2022-08-23 17:25] brumka commented on #2892
Yes, that would make a perfect sense.  Thank you.

[2022-08-24 16:37] SaptakS commented on #2892
@clarkio are you still interested in reviewing? I don't see you in slack, but I think the chapter has enough draft content right now that the reviewing can start. Let me know if you have any questions. Thanks!

[2022-08-25 14:40] clarkio commented on #2892
@SaptakS yes happy to still help in reviewing. Sorry I didn't catch there was a slack 😅

[2022-08-25 17:41] Hilal1782 commented on #2904
Count me in too, please!

[2022-08-25 21:05] lirantal commented on #2892
FYI all - just chiming in here to update that things are going as plan and I'm aiming to finish with my assigned `Content Inclusion` content by the weekend. I'll work with @SaptakS about getting all of it in formally as I'm new to the actual process, formatting, etc :-)

[2022-08-26 13:58] siakaramalegos commented on #2885
@ColinEberhardt Looks like the data in the sheet was updated so the analysis should be good. I did not cross reference the sheet data vs your draft so you might want to double-check if you haven't already.

@RReverser @binji Can you review Colin's draft within the next 1-2 days? After that, Colin will need time for any author edits, then we have another editing (writing style/usage) cycle to do al

[2022-08-26 14:01] siakaramalegos commented on #2879
@rachelandrew great job starting the draft - when do you think it will be ready for review? We only have 4 days left for the review and editing cycles, and the reviewers need some time (cc @j9t @meyerweb @svgeesus)

[2022-08-26 14:13] siakaramalegos commented on #2881
Hi all, Rick and I haven't seen any responses to our messages and the deadline is upon us. Is anyone going to work on writing this chapter by the end of the month? If not, then this chapter is at risk of being closed so that we can focus our effort on the other chapters.

 @AlexLakatos @ibnesayeed @daKmoR  @j9t @bkardell

[2022-08-26 14:19] siakaramalegos commented on #2882
Hi all, great job getting started on the draft! Can it be ready for review within the next 1-2 days? The reviewers need time to review it and then authors need time to incorporate feedback, and then we need to do a writing style/usage editing cycle all before August 31 to stay on track. Let us know your status

@DataBytzAI | @cyberandy @DataBytzAI @JohnBarrettWDW | @SeoRobt @jonoalderson

[2022-08-26 14:25] siakaramalegos commented on #2884
hi @eeeps where is the draft? I don't see it in the [draft document](https://docs.google.com/document/d/117Roz2RlgXdDl9OiDdkrrd1ahnepFeGzIvTB5S4OY9g/edit#heading=h.l58oy8wsputh).

[2022-08-26 14:26] DataBytzAI commented on #2882
Hi @siakaramalegos ... we expect to have the main body of it completed today, tomorrow latest...
Andrea is doing the sankey chart for relationship data ...@cyberandy can you give us an update on that?
Otherwise I have sent a message to the other on the list for any contributions they can add or for them to please commence input/editing! .... I think we are good to be on track for final review befo

[2022-08-26 14:32] siakaramalegos commented on #2880
Hi reviewers (@mgechev @pankajparkar @NishuGoel @seldo @housseindjirdeh @kevinfarrugia), @malchata only has two small sections to finish writing, but all the other content is done. Can you start reviewing now so we can try to still hit the deadline? I can backfill for review on the last bit if you're not free then.

[2022-08-26 14:36] AlexLakatos commented on #2881
Still planning on writing this. We can revisit next week if my hopes and dream will translate into reality or not.

[2022-08-26 14:38] siakaramalegos commented on #2881
@AlexLakatos The deadline is in 5 days so if you can't commit to it then maybe one of the other authors should start?

[2022-08-26 16:42] DesignrKnight commented on #2880
Should I also start looking at the style guide as an editor in a preliminary fashion in parallel or do I do it after the review is done?

[2022-08-26 18:37] foxdavidj commented on #2891
Hey all, @tomvangoethem @spanicker @nrllh,

How is the chapter looking. I'm not seeing any Draft progress and the deadline is fast approaching. Is there an external doc all of you are collaborating in?

[2022-08-26 18:42] foxdavidj commented on #2894
Hi @MichaelSolati hope you're doing well. Looks like there isnt any activity in the Google Doc and the writing deadline is fast approaching.

Is this something you'll be able to commit to writing in the next couple weeks? Because, sadly, right now this chapter is at risk of being closed so that we can focus our effort on the other chapters.

[2022-08-26 18:44] foxdavidj commented on #2895
Hi @diekus hope you're doing well. Looks like there isnt any activity in the Google Doc and the writing deadline is fast approaching.

Is this something you'll be able to commit to writing in the next couple of weeks? Because, sadly, right now this chapter is at risk of being closed so that we can focus our effort on the other chapters.

[2022-08-26 19:24] MichaelSolati commented on #2894
@foxdavidj

I'll be going to work on it over the weekend. I'm not going to let this be closed 💪

[2022-08-26 21:37] eeeps commented on #2884
@siakaramalegos I've been working locally in Markdown. Just copied and pasted over to the draft document. Unfortunately I didn't make as much progress as I wanted to this week and still have a few sections to write, before handing over to the editing team.

[2022-08-27 07:55] diekus commented on #2895
Hi David. You'll have an update on the text this week. Sorry for the delay

[2022-08-27 09:30] rachelandrew commented on #2879
@j9t @meyerweb @svgeesus @siakaramalegos I should be finished a first pass this weekend but feel free to follow me down the doc (right now I've just finished feature queries). I've a few comments where I've called out interesting looking things, or places where I don't understand where the change might have come from. I'd appreciate eyes on color in particular as that's not my area of knowledge.

[2022-08-27 12:25] RReverser commented on #2885
Thanks for the ping. I skimmed through the draft, and overall it looks good to me. I might think of something later, but right now LGTM :)

[2022-08-27 16:08] rviscomi commented on #2880
@DesignrKnight yes definitely start familiarizing yourself with the [Editors' Guide](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Editors'-Guide). Ideally the editing pass will be done after the technical review because the text is still changing, but given the tight timeline, I'd suggest leaving your non-technical edit suggestions in the doc when you're ready. Then you can give it

[2022-08-27 16:15] malchata commented on #2880
@rviscomi @kevinfarrugia I'm nearly done with the text, but I do need additional graphs/visualizations for the minification section that were present in the 2021 almanac's JavaScript chapter.

[2022-08-27 18:31] tomvangoethem commented on #2891
@foxdavidj We're indeed lagging behind on the text. I will start writing tomorrow, and aim to finish by Wednesday (ideally with some help from @spanicker & @nrllh). While the text won't be reviewed/edited by September 1st, I think that at the moment it still seems feasible to make the September 15th deadline.

[2022-08-27 20:00] binji commented on #2885
I read through it as well, wanted to leave a comment or two, but didn't have access? Anyway, nothing too important, mostly just a few suggestions/clarifications. Specifically I was thinking that some of the graphs might be nice to have comparisons with last year, to show the change. I think there may be one graph that's mislabeled as 2021 as well? And there is a reference to "WebIDL" that should b

[2022-08-27 20:41] kevinfarrugia commented on #2880
Sure, I will prepare them tomorrow.

[2022-08-28 03:52] mel-ada commented on #2890
Phew - the way our timeline played out is tight! This has required clear communication on availability and scope negotiation. We are working to deliver the best possible version of the perf chapter within the given constraints, and we've even had some additional help from @siakaramalegos as an analyst and co-author! 🙌

The draft is still in progress, see our slack channel for the latest. I've also

[2022-08-28 08:20] DesignrKnight commented on #2880
Awesome, sounds good. Will do as per the suggestion.

[2022-08-28 09:12] rachelandrew commented on #2879
@j9t @meyerweb @svgeesus @siakaramalegos I've got through all the sections, there are a few to dos, I need to write an intro and conclusion. But PTAL, and I'll follow up in a day or so, and tidy up.

[2022-08-28 10:08] kevinfarrugia commented on #2880
@malchata Added the visualizations for the minification section (two sheets). Heads up that the `pct` value was calculated incorrectly on `lighthouse_unminified_js.sql` and I have now updated it.

[2022-08-28 11:25] tunetheweb commented on #2885
You can ask for access to make comments.

I corrected that 2021 graph label, and also resized the ones that were too big, and replaced them with links in the docs so they are linked to the sheet.

I also added the markup needed for the figures (was going to give you one example, but there one were a few so did them all).

I did notice while copying and pasting across that usage seems lower than la

[2022-08-28 17:30] j9t commented on #2879
(On it—need a few days to read through but will give feedback asap.)

[2022-08-28 18:31] malchata commented on #2880
@siakaramalegos, @rviscomi: the first draft is complete!

cc reviewers @mgechev @pankajparkar @NishuGoel @seldo @housseindjirdeh @kevinfarrugia. The draft link is here: https://docs.google.com/document/d/12Mqcp5ME04fn15ujO-J65eMZJlQ6ADEbXozttx0MJw8/edit#

[2022-08-28 19:35] RReverser commented on #2885
That seems covered in the draft (with some theories, anyway). Given that HTTP Archive scanning is inconsistent and doesn't always include the same websites, it's not very surprising - I remember seeing month-to-month differences too, though. I wonder though, did the change where HTTP Archive is now traversing websites rather than only retrieving the homepage go live yet / did it affect the data?

[2022-08-28 20:59] tunetheweb commented on #2885
Yeah I commented on some of the wording there.

That did go live, and we now scan one extra page per origin (the LCP link from the home page). It is in another dataset (the `2022_06_09` - ignore the data, it's the same run as the general June one) which includes both home pages and the secondary page. However, given it was JUST introduced the month of the Almanac run, we didn't overly encourage it

[2022-08-28 21:01] RReverser commented on #2885
Ah, if it's only one secondary page, it's probably unlikely to make much difference. I thought we're now traversing all pages directly reachable from main.

[2022-08-28 21:04] tunetheweb commented on #2885
That would be a LOT of pages! We're not Google Search scale just yet 😉

[2022-08-28 21:30] RReverser commented on #2885
One can dream!

[2022-08-29 06:48] MichaelSolati commented on #2894
@foxdavidj the chapter is maybe about 1/3 of the way complete. I'll give another update tomorrow as I make more progress. I'll limit the chapter to 10 capabilities as it could go on for a while; however, I'm pleased with what I've written.

@webmaxru @hemanth @beaufortfrancois @tomayac @christianliebel I invite you to review what's been written so far. You can find the article here => https://docs

[2022-08-29 12:16] ldevernay commented on #2910
@tunetheweb : this looks awesome!
I'll try to take some time this week to check on this and work on the chapter.

[2022-08-29 19:10] rviscomi commented on #2880
Thanks @malchata! I gave it a read and left lots of small suggestions mostly about the charts and data precision. Overall this is really really well-polished and well-written, great work to you and the rest of the team! 🎉

I can sign off on it from an editorial perspective once those comments are resolved. @DesignrKnight it'd still be great if you could also give it a read through and leave editin

[2022-08-29 19:23] malchata commented on #2880
I wrote the whole thing from top to bottom, so if @ibnesayeed is interested, they can jump in on the review.

Thanks for the kind words, Rick. Was glad I could get this in a draft before September.

[2022-08-29 19:52] DesignrKnight commented on #2880
Surely @rviscomi . I'll take a look at it today (Tuesday) before end of the day and add my thoughts on the document.

[2022-08-30 21:21] DesignrKnight commented on #2880
I took a first-pass look at the chapter's first half. It is pretty amazing to see such a detailed well-articulated chapter. Fantastic

[2022-08-31 18:27] rviscomi commented on #2893
## 📟 Calling all reviewers: @foxdavidj @dwsmart @hemanth @CodeMartian @dknauss

@Suzzicks has started drafting the chapter in the doc and she's asked me to step in to help with coordinating on getting everyone's feedback.

1. Request edit access to the [draft doc](https://docs.google.com/document/d/1CbfJi1AvEJp3N8h_oL6aUJfSroQm0WbzGFIWcRz1dQA/edit?usp=sharing) if you haven't already. Also join us

[2022-08-31 18:33] dwsmart commented on #2893
I will make sure to jump in and take a look in good time!

[2022-08-31 21:01] MichaelSolati commented on #2894
@foxdavidj, I'm going to say it's at 60% completion.

The last API I'll be writing about is the Push API. After Push, no other API we scraped for was used by more than 2% of the pages. I'm thinking 2% is a good cutting-off point.

I will also write a section about Fugu and a conclusion. I think this will be the bare minimum to have a solid chapter.

My first "stretch" goal for the next day is to g

[2022-09-01 12:52] rmarx commented on #2903
I have just completed a full editing/reviewing pass on the first draft.

Most of this was replacing literal repetitions in the same sentence / subsequent sentences with acronyms or removing them (you have a tendency to repeat yourself a lot apparently, @paivaspol :P). Some minor sentences/parts were edited for correctness/clarity. I've done all this as suggestions to make it easier to track.

Ther

[2022-09-01 13:53] LPardue commented on #2903
Thanks for the work @paivaspol . I plan to review post comments by ~4 days from now.

[2022-09-01 15:25] SophieBrannon commented on #2888
Just a quick update we're a little behind on the content at the moment

@mobeenali97 @dwsmart @patrickstox @johnmurch @TusharPol @MichaelLewittes

I'll let you know as soon as it's ready for reviewing & editing and what a realistic ETA is for it (I'm hoping by EOD Sunday latest).

[2022-09-01 15:55] bkardell commented on #2887
The chapter is drafted and partially reviewed. There's at least one item were waiting on some clarification and additional review eyes on before i mark that as complete, but i think for most intents and purposes we're in fair shape

[2022-09-02 03:59] paivaspol commented on #2903
Thanks everyone for the help! There are some comments left that I haven't got a chance to get to. I'll address them this weekend.

[2022-09-02 04:02] eeeps commented on #2884
@siakaramalegos I did not quite make the progress I wanted to this week, either. I am going to be away from keyboards until Monday morning, but should be able to devote all day Monday to this and am hoping to finally turn things over to @MichaelLewittes and @nhoizey by Tuesday.

[2022-09-02 05:07] MichaelLewittes commented on #2884
Will look out for it then. Thanks!

On Fri, Sep 2, 2022 at 12:02 AM Eric Portis ***@***.***>
wrote:

[2022-09-02 17:54] siakaramalegos commented on #2880
Great job so far @malchata and team! Do you think you can finish reviewing and incorporating comments within the next few days? We'd really like to get this published in the first round. cc  @mgechev @pankajparkar @NishuGoel @seldo @housseindjirdeh @kevinfarrugia

[2022-09-02 17:57] siakaramalegos commented on #2882
Great progress so far team! What's next to finish up the draft and reviews? We'd really like to get this published in the first cycle. @DataBytzAI  @cyberandy @DataBytzAI @JohnBarrettWDW | @SeoRobt @jonoalderson

[2022-09-02 17:59] siakaramalegos commented on #2883
great job so far @bramstein and review team! What are the final steps to get the reviews done and incorporated? We'd love to get this published in the first round.

[2022-09-02 17:59] malchata commented on #2880
I can work on it over the weekend!

On Fri, Sep 2, 2022 at 12:54 PM Sia ***@***.***> wrote:

[2022-09-02 18:00] siakaramalegos commented on #2879
I haven't seen much change since last week and we're past the deadline now. What's the plan to get the draft completed, reviewed, and comments incorporated @rachelandrew ? (cc @j9t @meyerweb @svgeesus)

[2022-09-02 18:15] DataBytzAI commented on #2882
Thanks @siakaramalegos ... late start but glad we were able to bring it together!
We feel we have the core of things complete ... @cyberandy was doing some charts that I think are complete - Andrea you might comment please? .... also @jonoalderson and @SeoRobt are currently doing their final review I think - folks can you comment on where you are with that? ... finally, hats off to  the amazing @J

[2022-09-02 18:20] siakaramalegos commented on #2885
@ColinEberhardt great job so far! Are the reviews all complete and incorporated? We're trying to determine whether it's ready for editing and the next step.

[2022-09-02 18:23] paulcalvano commented on #2901
@eustas @jyrkialakuijala.  It looks like you started the draft for the chapter in July, but I don't see any updates since the analysis was complete. Can you please incorporate the graphs from the analysis and add any additional content you'd like?  Please let me know when the chapter is ready to be reviewed, or if you need any help.

[2022-09-02 18:23] siakaramalegos commented on #2887
@bkardell thanks for the update! I don't see a conclusion in the draft. When do you think that can be written and all the reviews finished and incorporated? We'd love to get this in the first round of publishing

[2022-09-02 18:49] jonoalderson commented on #2882
I'm unexpectedly behind due to some illness this week 😩

I'm aiming to carve out a chunk of the weekend to review, but don't wait on me if I'm too late to the party.

[2022-09-02 19:02] SeoRobt commented on #2882
I'm planning on adding a couple of small comments over the weekend for my final input. Nothing major on my end!

[2022-09-02 20:10] DataBytzAI commented on #2882
Cheers Rob.

On Fri 2 Sep 2022, 20:02 Rob Teitelman, ***@***.***> wrote:

[2022-09-03 00:58] rviscomi commented on #2895
⛔ Hi everyone. Given that we're now beyond the deadline to have the draft written, reviewed, and edited but the draft has still not been started, unfortunately I think we're going to have to close the chapter. It's not looking like it'll be feasible to get the chapter back on track to be able to launch on time. Apologies to everyone who committed their time up to this point, and thanks for your un

[2022-09-03 01:00] rviscomi commented on #2881
⛔ Hi everyone. Given that we're now beyond the deadline to have the draft written, reviewed, and edited but the draft has still not been started, unfortunately I think we're going to have to close the chapter. It's not looking like it'll be feasible to get the chapter back on track to be able to launch on time. Apologies to everyone who committed their time up to this point, and thanks for your un

[2022-09-03 01:02] rviscomi commented on #2900
⛔ Hi everyone. Given that we're now beyond the deadline to have the draft written, reviewed, and edited but the draft has still not been started, unfortunately I think we're going to have to close the chapter. It's not looking like it'll be feasible to get the chapter back on track to be able to launch on time. Apologies to everyone who committed their time up to this point, and thanks for your un

[2022-09-03 07:23] j9t commented on #2881
@rviscomi, @siakaramalegos, team—if you can give me 5 days (until Wed, Sep 7) and allow to keep this chapter short, I think I can turn it around and write a minimum chapter until then, to be handed over for review.

(That assumes that [the data](https://docs.google.com/spreadsheets/d/1grkd2_1xSV3jvNK6ucRQ0OL1HmGTsScHuwA8GZuRLHU/edit) are good—they seem so, but if there are major issues here, that

[2022-09-03 07:46] j9t commented on #2881
PS.
I may need support for generating the charts (will leave notes with sufficient detail in the doc to aid this process) as well as for Markdown conversion. I hope that’s work we can share across a few people.

(Background is that I’m on vacation Sep 8–23. Will work during the time, but also need some time off, and may communicate with light delay. Therefore being upfront about this part, too.)

[2022-09-03 07:57] tunetheweb commented on #2881
Charts in sheet look good to me. I'm able to help change them if you want a different format. I'm also able to help convert to Markdown.

[2022-09-03 08:12] thibaudcolas commented on #2889
@dereknahman 👋 it looks like Saptak has drafted [all of the chapter](https://docs.google.com/document/d/1Q6PEEfqD59vLgrOXY2VQUDeVrl0wcWHqsQiIhQ0Bt3M/edit#heading=h.6zeuu0wsj6l9) aside from the last section. I think this would be a good time for you to get involved!

[2022-09-03 11:02] j9t commented on #2881
Awesome, thanks @tunetheweb!

Reviewed the chapters of the last years and [added a draft outline](https://docs.google.com/document/d/1OV_-YmxXoFCalDIdAYq9eTZMpjsQ0rsuFKGAsF-8eoM/edit#heading=h.iuo3dencq8mb).

Reviewing data.

@rviscomi, @siakaramalegos, team—preparing to go full steam.

[2022-09-03 13:17] rachelandrew commented on #2879
@siakaramalegos sorry for the delay in wrapping up, I really can only work on this at the weekend. Other than a couple of small comments this is done from my point of view. I'll have a look tomorrow in case anything else comes in.

[2022-09-03 15:14] j9t commented on #2881
Was briefly in touch with @rviscomi—feeling free to proceed, that way we don’t lose any of the little time this may still have.

(Can someone give me edit, at least comment rights, to [the data sheet](https://docs.google.com/spreadsheets/d/1grkd2_1xSV3jvNK6ucRQ0OL1HmGTsScHuwA8GZuRLHU/edit)? Thanks!)

[2022-09-03 15:16] tunetheweb commented on #2881
Rick owns all the sheets. So just request access and he’ll action as soon as he can.

[2022-09-03 16:00] tunetheweb commented on #2886
@kevinfarrugia / @imeugenia one thing that came to light today. The Sustainability chapter ran some Third Party SQL and got smaller results than you. Turns out they were using the Canonical Domain from the third-party dataset which groups together third-party domains into one.

For example the following are distinct domains:
- `3461206.fls.doubleclick.net`
- `690327.fls.doubleclick.net`
- `1018063

[2022-09-03 17:43] kevinfarrugia commented on #2886
Not all queries are affected. I will go through the queries and see which would need to be fixed. Then we can decide the way forward.

[2022-09-03 18:00] j9t commented on #2881
This didn’t let go of me so I [completed the first draft (~13 pages)](https://docs.google.com/document/d/1OV_-YmxXoFCalDIdAYq9eTZMpjsQ0rsuFKGAsF-8eoM/edit).

I’ll review this myself now, likely edit a little, and maybe even add to this.

Will follow up again tomorrow to coordinate the next steps.

[2022-09-03 19:45] svgeesus commented on #2879
This looks to be in good shape to me. I made whatever comments seemed appropriate so my review is essentially complete but I will keep checking back if there are new comments or changes.

[2022-09-03 19:48] svgeesus commented on #2879
Naturally that was where I started reading and I don't have any more suggestions to add in that area. Web-in-the-wild is very conservative and a bit cargo-cultish so naturally we see very little uptake of newer color stuff (even of hsl!!) though that might change if Interop-2022 bears fruit but meanwhile the color situation is "same as last year pretty much".

[2022-09-03 22:20] kevinfarrugia commented on #2886
@imeugenia I have added a new sheet [number_of_canonical_third_parties_by_rank.sql](https://docs.google.com/spreadsheets/d/1YqoRRsyiNsrEabVLu2nRU98JIG_0zLLuoQhC2nX8xbM/edit#gid=1428106498) based on @tunetheweb 's feedback above. From what I can see, only one query was needed.

The difference between the new sheet and [number_of_third_parties_by_rank.sql](https://docs.google.com/spreadsheets/d/1Yqo

[2022-09-03 22:23] tunetheweb commented on #2886
Great work @kevinfarrugia !

[2022-09-04 11:25] j9t commented on #2881
Updated [the draft](https://docs.google.com/document/d/1OV_-YmxXoFCalDIdAYq9eTZMpjsQ0rsuFKGAsF-8eoM/edit) and would like to hand over for review to @bkardell (and @zcorpan, if you’re in).

Made the following changes:

* Edited and cleaned up
* Reworked the top elements section
* Added some pull quotes
* Added a section on social markup
* Made the spreadsheet more consistent and easier to work with

[2022-09-04 14:53] dereknahman commented on #2889
Hi! I’ll start looking at it this evening. As is inevitable, this coming week features home renovations, a separate project deadline and a full-on work week. I’ll only be able to work on this in the evenings. I’ll aim to bat it back to you by this weekend latest

Sent from my iPhone

[2022-09-04 15:05] DataBytzAI commented on #2882
@cyberandy what do we need to do to add your charts (and any related comment) to the document? ...
Far as I can see that's the only thing we have outstanding now?

cc: @siakaramalegos @rviscomi

[2022-09-04 15:21] tunetheweb commented on #2881
Looks good to me. A little shorter all right, but in all honesty maybe that's no harm. Need to decide how to frame that though as currently it feels a little apologetic which I worry means the chapter won't be taken as seriously. So think we should tone some of that down a little. Left that, and a few other comments.

[2022-09-04 16:15] j9t commented on #2881
Awesome, thanks @tunetheweb! Just went through your feedback.

As for the framing, I welcome thoughts on it sounding factual rather than apologetic. It’s important to me that there is this framing, however, because with more time, I would have loved to analyze and cover more data, with the team.

[2022-09-04 16:28] tunetheweb commented on #2881
Understand. And appreciate it’s your name on it and it was completed in a rush.

Just want to balance that with making it sound like it’s a rush-job (which I appreciate it actually is) and therefore a sub-standard chapter (which it isn’t IMHO given your expertise and the analysis run - even if it’s not as in depth as it would have been if you’d been authoring from the beginning). I just want to ma

[2022-09-04 21:08] SophieBrannon commented on #2888
Hey @mobeenali97 @dwsmart @patrickstox @johnmurch @TusharPol @MichaelLewittes the chapter is ready for review & editing: https://docs.google.com/document/d/15udJOrPhwV0yWP8cviwRyapSssCUrLxkX29KbJNJH4Q/edit#

[2022-09-05 02:50] paivaspol commented on #2903
I resolved most of the comments in the text. Can you please take a look?

[2022-09-05 22:00] LPardue commented on #2903
@paivaspol I just completed my review.

Firstly, a big thank you for penning everything here! It is a good and interesting read.

I've mainly pointed out minor things that are mostly editorial but verge a little on the technical side. I hope that these are straightforward to resolve quickly.

I noted a few other things that might be interesting to dig into. But that is probably me coming too late

[2022-09-06 04:04] sirjonathan commented on #2896
Hey y'all. The [draft is ready for review](https://docs.google.com/document/d/1vaA7fumol1iWDvjYvUnVRpykOABLppJmhYNUnD7DDvY/edit#) and per discussion with @csliva, we're slated to have all feedback incorporated and the text complete by Friday, September 9, in order to allow sufficient time for markdown generation for the 15th deadline.

Overall, I've [kept the structure from last year](https://alma

[2022-09-06 04:33] rviscomi commented on #2893
👋 Hi @foxdavidj @dwsmart @hemanth @CodeMartian

At risk of being redundant, I just wanted to echo my pings in Slack and the draft coc: the chapter is [**ready to be reviewed**](https://docs.google.com/document/d/1CbfJi1AvEJp3N8h_oL6aUJfSroQm0WbzGFIWcRz1dQA/edit?usp=sharing) and we've altered the schedule so that you have a week to get your feedback in, starting now. I'll be ~nagging~ sending you "

[2022-09-06 10:55] SophieBrannon commented on #2888
@rviscomi can you confirm how many homepages were crawled as part of this project? Is it ~8 million or more?

[2022-09-06 13:31] zcorpan commented on #2881
The Introduction and Conformance focus more on what is not included, which I think seems better to talk about towards the end, if at all.

2021 had a section dedicated to the doctype, which I think would be nice to have this year also. And mention year-over-year changes (88.8% to 90% for `<!doctype html>`). No doctype wasn't mentioned in 2021, but [it's in the results](https://docs.google.com/spre

[2022-09-06 14:49] rviscomi commented on #2888
There were 8.4M websites surveyed in this year's dataset. The 2022 Methodology page isn't published yet, but you could plan to link there to avoid having to get the number exactly right, for example `See the [Methodology](../methodology) page for more info on the sample size`.

[2022-09-06 14:51] SophieBrannon commented on #2888
that's perfect thanks @rviscomi  we've already tied in an internal link opp for the Methodology I just wanted to confirm an average number to reference to. Thanks!

[2022-09-06 15:10] foxdavidj commented on #2894
Great to hear @MichaelSolati . And looks like the reviewers have already hopped in with some comments

[2022-09-06 15:14] siakaramalegos commented on #2881
@j9t thank you so much for stepping up and getting this content written.

Re: the editor's note... If you keep that content, it highlights and emphasizes the perception that the content is not quality. In my experience, if you don't apologize, people usually do not notice any of your perceived shortcomings. To state another way, adding the apology will reflect poorly on the post. Removing it will

[2022-09-06 18:00] bkardell commented on #2881
Just ran through this fairly quickly, but mainly my comments are about the same as the others.  Generally, seems fine.

A few maybe interesting things to look at or consider if you have any time...

1. You talk about HTML and valid names, SVG/MathML and custom elements, and some deprecated elements - but a point that I think is also interesting is what about just unknown elements in the global spa

[2022-09-06 18:16] j9t commented on #2881
@bkardell, thank you for reviewing…! This is great.

The points you share would be interesting to review indeed. On scanning, the unknown elements seem to reflect a few past techniques, which could add value to discuss. Thanks! (I can’t commit to more at this point, but will keep it in mind.)

[2022-09-06 19:00] j9t commented on #2881
@siakaramalegos, team, on the introductory note, please take care of this in a manner that acknowledges the difference between having 100 days to write and having 1 day to write the chapter, so as to maintain some fairness in this situation. That’s all I’m asking for. Thanks.

[2022-09-06 19:32] rviscomi commented on #2881
@j9t first of all thank you for stepping up to ensure that this chapter makes it to publication this year. I definitely appreciate that you wrote the draft at lightning speed under the less than ideal circumstances.

I agree with everything @siakaramalegos said about the disclaimer. I'll also emphasize that our editorial standards haven't changed. If we're going to publish this chapter, it's becau

[2022-09-06 20:36] j9t commented on #2881
Why do you need to emphasize that your standards haven’t changed? Make the criteria harder for me.

There’s no contradiction in delivering something solid and stating that under other circumstances, one would have approached it differently and may have produced more or better. There’s nothing wrong with that, and there’s nothing immodest about that, either. Everyone gets it. 100 days vs. 1 day. No

[2022-09-07 17:49] j9t commented on #2881
@rviscomi, @siakaramalegos, moving to the chapter itself: What is best to happen next—editing or Markdown conversion? (It seems editing falls into stage 4. though, so probably that?)

Just FYI: I’m going to review the doc once more while in transit, and if possible add to it (thanks again @zcorpan and @bkardell for feedback!). That can’t and shouldn’t make anyone wait though, so I’d love to hand o

[2022-09-07 23:40] AlexLakatos commented on #2881
I'm sorry for massively dropping the ball on this one. I've read through the chapter though, and it reads really well in this shortened form.

[2022-09-08 04:36] paivaspol commented on #2903
I think the chapter is in a good state. Thanks @rmarx @LPardue and @tunetheweb for all the valuable feedback!

Currently, there are two comments left in the chapter:
1. On whether we want to see if sites with HTTP/2+ have better CWV metrics. @tunetheweb do you still want to run some queries on that? I'm okay with not having that measurements too.
1. On some queries that is returning weird results

[2022-09-08 17:14] diekus commented on #2895
Hi @rviscomi , I understand that the writing is meant to be done in September, which we are still in the first week. I started writing the chapter in a word doc, and there is still some time before the 15th to get this done. Do you think there is a window here? I have the manifest bits written and can continue with the SW stuff.

[2022-09-08 19:22] rviscomi commented on #2895
Hi @diekus. To clarify the [timeline](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2895#issue-1202154899), the chapter was expected to be fully written, reviewed, and edited in the [shared doc](https://docs.google.com/document/d/14riy6CwQslsBtR0iuhMe-V28AycTsTRilq2wn4yzRJU/edit?usp=sharing) by **September 1**.

The September 15 milestone to have the final draft submitted to GitHub

[2022-09-09 07:54] ColinEberhardt commented on #2885
@siakaramalegos yes, just a couple of comments which I've replied to which I don't believe require any further action.

It is good to go 🚢

[2022-09-09 18:27] siakaramalegos commented on #2879
@rachelandrew looks good to me other than one table that will probably be too small to be readable on the web layout - I noted it in Slack since I didn't have access already to comment in the doc.

It sounds like it's ready for edit @dereknahman. When do you think you can take a look?

[2022-09-09 18:31] siakaramalegos commented on #2880
It looks like we still need some more reviewers - I've only seen 1 reviewer comment from Kevin Farrugia. @mgechev @pankajparkar @NishuGoel @seldo @housseindjirdeh can you review in the next day or two? We're now behind schedule and at risk for publishing on time. Please post when you're done with your review so that @malchata can more quickly integrate feedback. Editing can't begin until the techn

[2022-09-09 18:35] siakaramalegos commented on #2882
@DataBytzAI | @cyberandy @DataBytzAI @JohnBarrettWDW @SeoRobt @jonoalderson what's the status on the chapter? Are all parts written? It looks like it only has 1 technical review so far - any way to get another? We're already more than a week behind schedule and the editing cannot happen until technical review is complete.

[2022-09-09 18:41] siakaramalegos commented on #2885
@rviscomi in case you didn't already notice, this chapter is ready for editorial review

[2022-09-09 18:45] siakaramalegos commented on #2886
@imeugenia @tunetheweb @housseindjirdeh @pepelsbey @alexnj from what I can tell, we only have 1 technical review so far from Kevin Farrugia. I think we need more than 1 to be ideal. Can you review in the next day or two so that Eugenia can incorporate that feedback and we can move to the editorial review step? We're already more than a week behind so really want to wrap this up as soon as possible

[2022-09-09 20:36] dereknahman commented on #2879
Hi all. So sorry but I won’t be able to take a look. My responsibilities have snowballed this past week after a family emergency. I’m sorry I forgot to update you.

Sent from my iPhone

[2022-09-10 15:50] malchata commented on #2880
Hey @siakaramalegos,

@rviscomi is going to get this over the finish line for me, as I have a trip to South Korea next week for JSConf. But do keep me in the loop, and if you need anything from me specifially!

Cheers,
Jeremy

[2022-09-11 07:10] pankajparkar commented on #2880
@siakaramalegos @rviscomi I had a look at the complete article. I have added a comment from my end.

@malchata Great Job! Very well written 🙌 🙌

[2022-09-12 13:15] thibaudcolas commented on #2889
Hi all, just a quick update for people who keeping up with Slack conversations that we now have the whole chapter content written, reviewed, and edited. What’s left to do is two corrections + Markdown conversion:

1. [ ] One figure needing correction + updating its description accordingly (with me)
2. [ ] One sentence to potentially remove (not sure who is making that call)
3. [ ] Markdown convers

[2022-09-12 17:55] tunetheweb opened #3123 "Edit 2022 Chapters"
📢  Attention Editors: this issue will be used to track progress on the 2022 chapters that are ready for editing.

When you're ready to edit a chapter, edit this comment to put your name next to an unchecked chapter listed below that you would be interested in editing. Chapters will be added to the queue as they become ready for editing.

Refer to the [Editors' Guide](https://github.com/HTTPArchive

[2022-09-12 20:23] diekus commented on #2895
hola @rviscomi. I have a revised chapter in markdown with all chart macros ready and published [here](https://github.com/diekus/almanac.httparchive.org/blob/PWA22-chapter/src/content/en/2022/pwa.md).  I have some questions, that you might be able to help me with.

- where should I upload the images needed for each figure?
- how can I format the stat numbers so they can show in the big bold letteri

[2022-09-12 20:40] tunetheweb commented on #2895
See the [Figures Guide](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Figures-Guide).

There's a script to do this (`npm run figure-images en/2022/pwa`) which will generate them for you automatically!

Also handy to run locally (using `npm run start` after running the following:
- `cd src`
- `npm install`
- `pip install -U requirements.txt`
- `npm run start`
- Navigate to [http://127

[2022-09-12 20:46] tomayac commented on #2895
(Just a side remark: thanks for still making this chapter happen `<3`!)

[2022-09-13 08:10] thibaudcolas commented on #2889
FYI the Markdown conversion and image generation is done: #3087

We now need further review of the Markdown to make sure the conversion didn’t create issues, and there is further metadata missing from the chapter (featured quotes and stats)

[2022-09-13 18:12] rviscomi commented on #2889
Congrats everyone on getting the chapter back on track, it's great to see it nearing the finish line! 🎉

Content should be locked down at this point, to prevent any publishing delays. If you really need to make changes, do so before the markdown is reviewed/submitted.

[2022-09-13 18:20] svgeesus commented on #2883
I just did a complete end-to-end read in one sitting and really, this is very clear, detailed, good logical flow, easy to understand. A quality chapter. I think I had like one or two tiny suggestions this time, and the chapter would be totally fine without either being changed.

[2022-09-14 00:02] shantsis commented on #3123
I don't see pull requests for fonts or third parties - should we edit in the google doc for now?

[2022-09-14 01:40] tunetheweb commented on #3123
Yes. But make sure in Suggest mode and not Edit more so Authors can accept (or argue back!). Much easier to do in Docs before Markdown. Can then do a technical edit of the PR rather than a full content + technical edit.

We used to do as separate PR after markdown PR was merged but authors really didn’t like that.

[2022-09-14 16:37] diekus commented on #2895
@tunetheweb it has been reviewed by @aarongustafson and @tropicadri . I am making the last changes and then will be ready to commit the chapter later today with the macros for images ready.

[2022-09-14 18:12] webmaxru commented on #2895
I also completed reviewing this article. Great job, @diekus!

[2022-09-14 20:03] Schweinepriester commented on #2895
Same, good job indeed!

[2022-09-14 22:02] diekus commented on #2895
Thanks to the reviewers and editors. I have one more question @tunetheweb, how can I find out which is the name of the sql script and the google tab id for the figures?

[2022-09-15 00:27] tunetheweb commented on #2895
The sheets id is the one in the URL when viewing that data.

There should be one tab in the sheet for each of these SQL files: https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/sql/2022/pwa

[2022-09-15 01:37] shantsis commented on #2886
Hello all, I've taken a read through the doc and left a few small editing comments :)

[2022-09-15 06:08] #2893 closed

[2022-09-15 10:34] DataBytzAI commented on #2882
@siakaramalegos ... done - we have @jasonbellwebdataworks onboard ... will have that review completed today fingers crossed!

[2022-09-15 16:06] diekus commented on #2895
You're a life saver @tunetheweb! Thank you very much. I have added the `sheets_gid` and the `sql` to the charts and figures in the PWA chapter.

I believe this should be completed, and if there is anything else I need to do let me know, happy to get the PWA over the finishing line.

Apologies for the delays! 😳

[2022-09-16 04:28] paivaspol commented on #2903
Thanks again everyone for the help! I think we are at a good state.

I've converted the chapter into markdown, generated the charts, and populated all the required data / metadata. The PR for the chapter is at #3128.

[2022-09-16 15:51] foxdavidj commented on #2891
@tomvangoethem We're now past the September 15th deadline. Can you give me an update?

Looks like there are still a couple sections (like the conclusion) that need to be finished up. I'd really like to get this in front of editors ASAP

[2022-09-16 15:55] foxdavidj commented on #2892
@SaptakS We're now past the September 15th deadline, but it looks like the chapter has gotten some healthy review (🎉) which is great.

I really want to get this in front of editors ASAP. How confident are you about getting the conclusion written and the reviews addressed by Mon, Sep 19?

Thanks for putting in so much time with your chapters. I know you've also been hard at work rescuing the A11Y c

[2022-09-16 15:59] foxdavidj commented on #2894
Hey @MichaelSolati, we're past the September 15th deadline so i really want to get this chapter sent off to editing ASAP.

How confident are you in being able to address the reviews and tackling the conclusion by EOD Monday, September 19?

[2022-09-16 16:48] SaptakS commented on #2892
I will write the conclusion by tonight. I think @tunetheweb  had already started editing the rest of the chapter. I have addressed most of the reviews. I will need to add some links which I will do.

[2022-09-16 17:10] tunetheweb commented on #2892
Yeah, I've done about half the edit. So hope a very light technical edit that can wait for the PR after I finish that.

[2022-09-16 17:47] siakaramalegos commented on #2885
@rviscomi are you still editing this one or should I put it in the edit issue?

[2022-09-17 18:05] lirantal commented on #2892
Thank you all for the reviews! 🙌🏽

[2022-09-17 18:48] clarkio commented on #2892
Let me know if you all need anything else from my end 👍

[2022-09-17 22:20] tomvangoethem commented on #2891
@foxdavidj I've finished the last data-related section. Will make sure that the introduction & conclusion sections are done by tomorrow.

[2022-09-18 08:38] yuseyhan commented on #2905
Is there anything I can help you with?

[2022-09-18 15:21] tomvangoethem commented on #2891
All the content's there. Having some additional reviews (@spanicker @miketaylr @SaptakS) would be nice!

@foxdavidj Should be already move the Doc in Markdown, or should the editing be done first?

[2022-09-19 02:49] MichaelSolati commented on #2894
@foxdavidj I'll be able to have things done by EOD 9/19/22.

[2022-09-19 03:20] fellowhuman1101 commented on #2899
@paulcalvano we're ready for an editor

[2022-09-19 13:23] cqueern commented on #2910
The chapter looks great. Hats off to all the Authors.

I especially like the Actions You Can Take section. A great list for site owners to get started on, added to the backlog, and make the impactful change for a more sustainable web we are hoping for.

Great work All.

[2022-09-19 20:13] MichaelSolati commented on #2894
@foxdavidj Capabilities draft is done, and I've made changes based on the feedback I've received thus far.

I've also opened a pr, #3099, with the content from the draft, which will be updated based on changes that may need to be made.

The only question's remaining are:

1. I don't have any featured quotes or stats; is that something you'd like me to fill out? Or is this something that can/would

[2022-09-19 21:57] #2910 closed

[2022-09-19 22:03] rviscomi commented on #2885
@siakaramalegos let's add this to the backlog in #3123. Thanks.

[2022-09-20 09:22] #2886 closed

[2022-09-20 15:43] #2888 closed

[2022-09-20 21:11] rviscomi commented on #2879
No worries @dereknahman. I'll start the markdown conversion now and I can take care of the editing in the process.

[2022-09-20 21:47] eeeps commented on #2884
@siakaramalegos The draft has now been reviewed by both @nhoizey (technical) and @MichaelLewittes (editorial). I'm starting the process of converting to markdown and creating a PR.

[2022-09-21 06:27] #2896 closed

[2022-09-21 06:29] #2903 closed

[2022-09-21 10:11] tunetheweb commented on #586
Hey @ksakae1216 are you planning on translating the 2021 foreword and the 2021 Methodology (a lot of this is similar to 2020)? If so that would allow us to print a copy of 2021 edition in Japanese and send you a copy.

Also we have some 2022 chapters available if interested?

[2022-09-21 12:04] #2889 closed

[2022-09-22 14:02] foxdavidj commented on #3123
@tunetheweb Privacy chapter is ready for editing

[2022-09-22 14:11] foxdavidj commented on #2894
@MichaelSolati

1. Yes please do if there were some that really stood out to you! Would be a massive help
2. Yes. It's safe to remove them
3. Looks like editors have already stepped into your PR and made some changes. Only thing left for you would be to monitor the PR in case they have any questions

🎉

[2022-09-22 15:26] tunetheweb commented on #2887
I've made the conversion of the chapter as it is to markdown in #3145

You can see a staged version here: https://20220922t161618-dot-webalmanac.uk.r.appspot.com/en/2022/interop

I know there's still some outstanding comments in the doc, and some things still under discussion, but can we move that discussion, and any suggestions to the GitHub issue now.

@bkardell I'll  hand back this chapter to y

[2022-09-22 18:03] rviscomi commented on #2897
@amandeepsinghvirdi given that the draft is mostly incomplete and we're a few weeks past the deadline to have the chapter fully written, reviewed, and edited, it's not looking like we'll be able to publish this chapter and we'll have to close it. I'm really sorry to everyone who put a lot of effort into it already, but for a highly distributed project like this, it's important for all chapters to

[2022-09-22 18:03] #2897 closed

[2022-09-22 18:09] tunetheweb commented on #2898
@seldo @whitep4nth3r not seen any updates in a while, and still some outstanding remarks in the doc.

@GregBrimble @Nutlope have you reviewed the draft as it is at the moment?

As a reminder we're launching the Web Almanac on Monday the 26th September and that's when we get most of the traction and focus. It's looking like this chapter won't be able to make that, but we can still release it in a f

[2022-09-22 18:13] seldo commented on #2898
Oh no! We thought we were done! I thought all outstanding issues were resolved? I am currently on a train but can take a look.

[2022-09-22 18:17] rviscomi commented on #2901
@eustas @jyrkialakuijala we're a few weeks past the deadline to have the chapter fully written, reviewed, and edited, but it doesn't look like much progress has been made beyond the initial content written in July. Unfortunately, it's looking like we won't be able to release it on time and we're going to have to cut this chapter from the report this year.

There may have been a miscommunication ab

[2022-09-22 18:17] #2901 closed

[2022-09-22 18:27] tunetheweb commented on #2898
Oh, sorry I presumed it was on your to do list or would have chased earlier!

There's a few more steps:
- [ ] - Go through outstanding comments.
- [ ] - Has the chapter been reviewed? Not seen many comments from anyone but myself, but maybe that's happened offline?
- [ ] - Will need a round of editing, but think I've done that already IIRC so can likely just include that in Markdown PR.
- [ ] - Wi

[2022-09-22 19:43] rviscomi opened #3146 "Should we keep the featured chapter section?"
Do we have existing analytics on featured chapter usage? We don't annotate navigations that come from that section, so I'm not sure. We could add it and measure usage on the upcoming 2022 release.

It's not that much effort to define featured content in the markdown, but if the gains are also very low then I wonder if we can simplify things by removing it.

[2022-09-22 22:13] rviscomi commented on #3123
Thanks @DesignrKnight feel free to take it

[2022-09-23 05:58] ksakae1216 commented on #586
Hi @tunetheweb
OK, I will translate the 2021 foreword, the 2021 Methodology and 2022 chapters

[2022-09-23 12:37] whitep4nth3r commented on #2898
I've gone through the document comments as much as I can — a couple of things I still need to discuss with Laurie but he's currently on PTO. I'll try to move this along as much as I can.

[2022-09-23 18:19] rviscomi commented on #2882
@DataBytzAI any update on resolving the remaining feedback in the doc and regarding the sankey diagrams? Getting close to the deadline to be included in the Monday release.

[2022-09-23 18:26] tunetheweb commented on #3123
@shantsis / @DesignrKnight are either of you free to look at WASM or Page Weight?

[2022-09-23 19:38] shantsis commented on #3123
I won’t be able to take it on in time for the launch, sorry!

[2022-09-24 09:44] DesignrKnight commented on #3123
I'll be able to finish privacy chapter by tomorrow (Sunday). I can take a look at WASM next and finish it within couple of days.

Does that work?

[2022-09-24 17:04] rviscomi opened #3150 "Set up .devcontainer for codespaces"
https://docs.github.com/en/codespaces/setting-up-your-project-for-codespaces/introduction-to-dev-containers

I'm primarily using codespaces now for Web Almanac development. To help standardize the container used for cloud development and encourage more contributions, let's create this config file to make it even easier to get up and running.

[2022-09-24 19:15] #2880 closed

[2022-09-24 20:24] eeeps commented on #2884
I think the #3143 is ready to merge!

[2022-09-24 20:31] #2894 closed

[2022-09-24 20:33] #2881 closed

[2022-09-24 22:21] #2879 closed

[2022-09-25 07:21] DesignrKnight commented on #3150
If this is not urgent, I'll be happy to volunteer for this after the editing work for 2022 Edition is over.

[2022-09-25 13:39] tunetheweb commented on #3146
Personally I like it.

It breaks up the home page a bit. Without that, we'd need a redesign as home page to break up the top section where the diagonal banner breaks into the grey methodology section.

It's also useful to have a set of stats for each chapter, whether for AMP Stories we've done in the past, Tweets, or we talked last year about a Tweet bot using them (though never got round to imple

[2022-09-25 13:39] tunetheweb commented on #3146
@HTTPArchive/designers any thoughts?

[2022-09-25 13:57] #2892 closed

[2022-09-25 14:07] tunetheweb opened #3157 "Write 2022 foreword"
Just so you don't forget @rviscomi

[2022-09-25 15:15] #2884 closed

[2022-09-25 15:53] tunetheweb commented on #3123
I edited WASM myself. Was quite small and I'd already given it a pass previous that I'd forgotten about!

[2022-09-25 16:15] #2883 closed

[2022-09-25 16:16] #2887 closed

[2022-09-25 17:09] DataBytzAI commented on #2882
Travelling...back to it first thing in the am (eu time)

On Fri 23 Sep 2022, 19:20 Rick Viscomi, ***@***.***> wrote:

[2022-09-25 17:28] DesignrKnight commented on #3123
Aah, nice. I'll inform here when I'm done with Privacy Chapter. I'm almost done with editing Privacy Chapter. If there's a pending chapter then, I'll pick it up.

[2022-09-26 08:06] #2899 closed

[2022-09-26 08:14] #2885 closed

[2022-09-26 08:42] #2895 closed

[2022-09-26 18:11] SophieBrannon commented on #2888
Hey @tunetheweb / @rviscomi can we get Itamar's website and Twitter links added to the Contributors section?

https://twitter.com/ItamarBlauer
https://www.itamarblauer.com/

Thanks so much!

[2022-09-26 18:16] rviscomi commented on #2888
@SophieBrannon @itamarblauer feel free to open a PR with any suggested changes. We'll merge and release any updates in batches as needed. Here's the [config file](https://github.com/HTTPArchive/almanac.httparchive.org/blob/ff9e971bcf7fa788af555a9bb76bcc286d3f9f9c/src/config/2022.json#L626) with Itamar's info.

[2022-09-26 18:41] rviscomi opened #3171 "Credit contributors of closed chapters"
Unfortunately, we had to close some chapters this year and by default we only include contributors of published chapters.

We should look into revising this approach to try to give credit to people who may have still fulfilled their responsibilities, despite the chapter not getting published. For example, analysts may have written and run all of the queries, but the chapter got stuck during the wr

[2022-09-26 21:45] rviscomi opened #3176 ""2022" hangs off the edge on the home hero"
The right edge of "2022" should stay within the boundaries of the browser graphic below, but it hangs over:

<img width="482" alt="image" src="https://user-images.githubusercontent.com/1120896/192386276-47076dc5-ded1-4d35-8bc3-3ecbf5bfd144.png">

See 2019 for reference:

<img width="451" alt="image" src="https://user-images.githubusercontent.com/1120896/192386368-c207fa2d-4a69-4c57-ab4a-38fe64ae86

[2022-09-26 22:23] #3176 closed

[2022-09-27 00:47] joeviggiano commented on #2900
@rviscomi I'd like to try and get this out the door before the next two week deadline, I'll start working on the report ASAP.

[2022-09-27 00:56] rviscomi commented on #2900
Thanks for picking this back up @joeviggiano! I'm going to reiterate what I shared with the [Accessibility](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2889#issuecomment-1205461932) team when they were considering reopening the chapter:

**Anyone who still wants to contribute to the chapter is welcome to do so. Please reply here and/or coordinate in the Slack channel about tackli

[2022-09-27 01:08] joeviggiano commented on #2900
I will be an author and @harendra will review. If you require more reviewers I'll try and recruit more this week.

[2022-09-27 12:25] DesignrKnight commented on #3123
Have finished my part of the editing review on the Privacy Chapter. Can take up another chapter next if unassigned.

[2022-09-27 12:30] tunetheweb commented on #3123
Jamstack best next if you have time ([doc](https://docs.google.com/document/d/15RLaaTVqoqb5AuDrlBt6L0J_BMx1ltKW4t8VWX-sN_g/edit#heading=h.8z91yaf1dmft)) as other still going through substantial rewrites. Jamstack isn't quite done, but pretty close to ready for an edit IMHO.

[2022-09-27 12:36] DesignrKnight commented on #3123
Okay, requested access. I will take it up next

[2022-09-28 02:05] shantsis commented on #3146
I actually quite like it on the homepage, it's a cool sneak peak into what the almanac contains. It also cycles through over time right?

[2022-09-28 02:20] tunetheweb commented on #3146
Yeah it changes randomly on each page reload. However as we have a 15 minute caching time and it changes server side, it means it actually only changes every 15 mins as should get a CDN cache hit between those times.

[2022-09-29 05:40] dzhavat opened #3185 "Put class name in `code`"
In the ["Class names"](https://almanac.httparchive.org/en/2022/css#class-names) section, the "active" word in the "As in 2020 and 2021 the most popular class name on the web is **active**." should me wrapped in `code`, similar to the `fa`, `fa-`, etc classes in the following sentences.

[2022-09-29 13:47] #3185 closed

[2022-09-29 18:32] softplus opened #3189 "(nit) Issue with the 2022 seo chapter"
"[Figure 10.31.](https://almanac.httparchive.org/en/2022/seo#fig-31) Rw versus rendered canonical." -> "[Figure 10.31.](https://almanac.httparchive.org/en/2022/seo#fig-31) Raw versus rendered canonical."

[2022-09-29 18:35] #3189 closed

[2022-09-29 18:35] rviscomi commented on #3189
Thanks for flagging that!

[2022-09-30 00:05] ytkoka commented on #2900
Hi, Thank you for inviting me, I am happy to review the CDN content.

[2022-09-30 06:49] EryouHao commented on #1067
@tunetheweb Hi, has the translation program for 2022 started yet? I'm interested in translating the simplified Chinese

[2022-09-30 16:39] rviscomi commented on #2900
Thanks @joeviggiano @harendra @ytkoka! Reopening this issue to track its progress. Let us know how it goes.

[2022-09-30 16:41] rviscomi commented on #2898
@seldo @whitep4nth3r what's the current status of the chapter? Is it ready to convert to markdown, or are there still changes being made to the draft?

We've missed the launch on Monday, so the last chance will be on Monday, October 10 when we publish any remaining chapters. Does that timeline sound doable to wrap up the remaining work?

[2022-10-02 14:20] j9t opened #3194 "Provide 2022 social sharing image"
The [2022 homepage](https://almanac.httparchive.org/en/2022/) references an image for social sharing ([home-hero-2022.png](https://almanac.httparchive.org/static/images/home-hero-2022.png)), alas that’s not available yet (at least not at this location).

Accordingly, sharing the homepage itself leads to no image being shown.

[2022-10-02 15:58] #3194 closed

[2022-10-02 18:49] DesignrKnight commented on #2898
I did take a look at the doc for editing review and suggested changes. Once it is finalized, I can take another look to ensure it is fully polished.

[2022-10-02 18:56] DesignrKnight commented on #3123
I have taken a first-pass of editing review of the Jamstack chapter. If there are additional chapters I can volunteer for, I can do it over the week to assist in finishing up before the next release

[2022-10-04 06:49] nikolai-shabalin commented on #923
Hi! I can help with Russian translations for CSS 2022.

[2022-10-04 07:44] tunetheweb commented on #923
Great! Head on over to #587 where Russian is being track. I've stuck your name beside the CSS chapter and sent you an invite to the team so you can edit issues too. More details here: https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Translators'-Guide

[2022-10-05 16:42] svgeesus commented on #2884
I noticed this in the [2022 Media chapter](https://almanac.httparchive.org/en/2022/media#image-color-spaces):

It was unclear to me, for PNG if you were talking about [`gAMA`](https://w3c.github.io/PNG-spec/#11gAMA) and [`cHRM`](https://w3c.github.io/PNG-spec/#11cHRM) on the one hand or [`cICP`](https://w3c.github.io/PNG-spec/#cICP-chunk) on the other. I would expect **usage for PNG to be low** ei

[2022-10-05 18:52] capjamesg commented on #2904
I am interested in assisting!

[2022-10-06 12:20] Jean-pierre14 opened #3210 "Hosting"
There is no link to see the output

[2022-10-06 12:22] tunetheweb commented on #3210
What is this in regards to?

[2022-10-06 15:13] #3210 closed

[2022-10-06 15:42] Jean-pierre14 commented on #3210
To help us to take a look to your work
Le jeu. 6 oct. 2022 à 17:13, Barry Pollard ***@***.***> a
écrit :

--

*Visite notre site officiel*
*https://www.ecoleisoko.com/ <https://www.ecoleisoko.com/>*
Professeur de Français et de technologies
*+250784545831, +243976353543*
***@***.*** ***@***.***>*
*My portfolio*
*https://jean-pierre14.github.io/racine.com/
<https://jean-pierre14.github.io/racine.co

[2022-10-06 23:32] eeeps commented on #2884
@svgeesus Thank you for reaching out!!

I was not talking about any particular PNG chunk, because all we had to work from was what is reported by `exiftool` and ImageMagick `identify` at some default settings... not the actual PNGs or any ability to parse them ourselves.

For AVIFs,`exiftool` reported the "nclx" string in a field called `Quicktime.ColorRepresentation`, which I made some progress o

[2022-10-07 08:59] Jean-pierre14 commented on #3210
Thank you for your response.
Now I understand thank you.
And I am sorry if you find it no sense.

Cheers,

*Visite notre site officiel*
*https://www.ecoleisoko.com/ <https://www.ecoleisoko.com/>*
Professeur de Français et de technologies
*+250784545831, +243976353543*
***@***.*** ***@***.***>*
*My portfolio*
*https://jean-pierre14.github.io/racine.com/
<https://jean-pierre14.github.io/racine.com/>

[2022-10-07 22:11] thibaudcolas commented on #1325
If all we want is a DOI, I was recommended [Zenodo](https://zenodo.org/). It’s a CERN project, completely free, allows 50GB per upload. Takes about 2min to upload one PDF with minimal metadata, longer if we fill in a lot of details.

Here is an upload I made of three pages from this year’s accessibility chapter, on their sandbox server: https://sandbox.zenodo.org/record/1112032. As far as I unders

[2022-10-08 11:21] webmatter-it commented on #923
Hi, I would like to help translate into Italian (especially the chapter on fonts).

[2022-10-08 11:57] tunetheweb commented on #923
Cool! Italian is being tracked at #585. I've stuck your name beside the Fonts chapter and sent you an invite to the team so you can edit issues too.

More details here: https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Translators'-Guide but feel free to ask any questions!

[2022-10-10 00:01] luckybai commented on #923
Hi! I can help with Simplified Chinese translations for WebAssembly 2022.

[2022-10-10 10:01] tunetheweb commented on #923
Excellent. That;s being tracked over at #1067 and sent you an invite and put your name against that chapter.

[2022-10-11 07:39] DataBytzAI commented on #2882
Thanks @jono ... been there - hope you feel better soon!

On Fri, 2 Sept 2022 at 19:50, Jono Alderson ***@***.***>
wrote:

[2022-10-11 07:49] cyberandy commented on #2882
Sorry to hear about @jonoalderson, @DataBytzAI shall I review the document on Drive or here?

[2022-10-11 21:28] rviscomi commented on #2898
@seldo @whitep4nth3r there are still some blocking review/editing comments in the doc. Could you take a look and make sure everything is resolved? Once that's done we can convert the doc to markdown. I'd like to aim for publishing next Monday, if possible. Thanks for your help getting this wrapped up, almost there!

[2022-10-12 07:23] whitep4nth3r commented on #2898
Sorry everyone, I haven't been getting notifications! I've gone through a lot of the small edits and offered some comments. @seldo Would appreciate you having a look when you wake up today.

[2022-10-12 11:47] tunetheweb commented on #2898
I've converted the chapter to markdown in #3214 . Let's finish it off in that branch.

You can see what it looks like so far here: https://20221012t123335-dot-webalmanac.uk.r.appspot.com/en/2022/jamstack and will update that periodically (it's not an automatic update on pushed to the branch unfortunately - I know not very Jamstacky 😉).

[2022-10-12 14:44] #2900 closed

[2022-10-12 20:12] rviscomi opened #3215 "Broken query link in 2022 JS fig 2.7"
[This figure's](https://almanac.httparchive.org/en/2022/javascript#fig-7) query links to https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/sql/2022/javascript/breakdown_of_pages_using_async_defer_module_nomodule.sql. However, this is a 404 page.

The correct URL is https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/sql/2022/javascript/breakdown_of_scripts_using_async_d

[2022-10-12 20:15] rviscomi opened #3216 "Search results page lists years out of order"
For example, searching for `defer` takes me to [this results page](https://almanac.httparchive.org/en/search?q=defer#gsc.tab=0&gsc.q=defer&gsc.page=1), on which the years appear out of order: 2021, 2022, 2020, 2019.

<img width="371" alt="image" src="https://user-images.githubusercontent.com/1120896/195438576-9201d42e-7004-4ebc-af95-94b290366f66.png">

The expected behavior is for the years to be

[2022-10-12 20:15] rviscomi commented on #3216
@capjamesg this is a good first issue, would you be interested to take this?

[2022-10-12 20:22] tunetheweb commented on #3215
Nope. The other difference is **pages** versus **scripts**.

[2022-10-12 21:39] rviscomi commented on #3215
Ah good catch, the correct URL should be https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/sql/2022/javascript/breakdown_of_pages_using_async_defer.sql (no module info in the URL)

[2022-10-12 21:41] rviscomi commented on #3216
Ah ok, thanks for looking into it. I'll close the issue in that case. Reopen if the situation changes.

[2022-10-12 21:41] #3216 closed

[2022-10-12 23:18] #2898 closed

[2022-10-13 08:44] #3215 closed

[2022-10-13 13:10] tunetheweb commented on #2900
And it's live!!!

https://almanac.httparchive.org/en/2022/cdn

Tweet here: https://twitter.com/HTTPArchive/status/1580544982079123457?s=20&t=uI0cYaHO6Zi56twcPMdn0g

[2022-10-14 11:51] luckybai opened #3225 "webassembly - @luckybai"

[2022-10-14 11:51] #3225 closed

[2022-10-14 11:53] luckybai commented on #3225
created by careless click

[2022-10-14 18:13] dieulot opened #3227 "Jamstack chapter: Netlify’s conflict of interest should be clearer"
https://almanac.httparchive.org/en/2022/jamstack

It’s unclear from this that “Jamstack” as a buzzword was invented at Netlify.

That Jamstack.org is owned by Netlify should also be made crystal clear given that paragraph, I believe.

Something to the effect of `Netlify invented the term Jamstack and owns Jamstack.org.` between the two existing disclosure sentences would work well I think.

I don’

[2022-10-14 18:25] rviscomi commented on #3227
Hi @dieulot thanks for flagging this concern. My feeling is that it'd be overkill to repeat the disclosure from the intro in specific places throughout the chapter. However, I'd be supportive of expanding it to clarify Netlify's connection to Jamstack, which I agree seems to be more implied than explicitly stated.

@seldo @whitep4nth3r WDYT?

[2022-10-14 19:03] seldo commented on #3227
I'm happy to include whatever disclaimer you feel warranted! This was why we got volunteers from non-Netlify folks originally but in the event they ended up not having time to participate.

[2022-10-14 20:33] dieulot commented on #3227
Same, I was proposing updating the disclosure.

[2022-10-18 13:17] #3227 closed

[2022-10-19 19:42] rviscomi opened #3236 "Investigate 0 web mentions"
https://almanac.httparchive.org/en/2022/css#reactions

<img width="413" alt="image" src="https://user-images.githubusercontent.com/1120896/196787945-5094faaa-114c-428a-b182-fe26b4d133aa.png">

Why does a popular chapter like CSS appear to have 0 likes and 0 reposts? The data suggests that this isn't very well-liked or popular, which isn't the case. Is there any way to improve the accuracy of these

[2022-10-19 19:51] tunetheweb commented on #3236
Web Mentions come from:
- Blogs that have implemented ping backs
- A less reliable scrape of our @HttpArchive Twitter account, because Twitter does not integrate WebMentions natively.

Most are from the latter. And especially "likes".

[Looking at that](https://twitter.com/search?q=%40httparchive%20https%3A%2F%2Falmanac.httparchive.org%2Fen%2F2022%2Fcss&src=typed_query&f=live) we only have 4 likes

[2022-10-19 19:52] tunetheweb commented on #3236
Or TLDR - Post more from @HTTPArchvie account rather than just retweet others 😉

[2022-10-19 20:06] tunetheweb commented on #3236
Hmmm.... there's no Likes nor Reposts for any of our chapters as far as I can see.

I wonder if there's more afoot here. Maybe they changed the API.

Digging...

[2022-10-19 20:37] tunetheweb commented on #3236
https://github.com/snarfed/bridgy/issues/1329

[2022-10-22 02:32] rviscomi opened #3240 "Update Lighthouse methodology to include desktop testing"
This line from the [Lighthouse](https://almanac.httparchive.org/en/2022/methodology#lighthouse) section of the Methodology page is no longer applicable:

We should update this text to reflect that desktop tests were included in the June dataset and add the desktop configuration.

@pmeenan could you confirm the desktop config? For reference, here's what we show for the mobile config:

Config | Valu

[2022-10-23 15:42] pmeenan commented on #3240
All lighthouse tests use the same "3G Fast" connectivity profile since the Lighthouse scores are calibrated against times from that speed.  Desktop uses the same speed as Mobile for Lighthouse.

CPU throttling is not applied for desktop though so there is no CPU slowdown.

[2022-10-23 16:39] #3240 closed

[2022-10-23 16:43] rviscomi opened #3242 "Multiline blockquotes have different font sizes"
Mardown:

[code]

Rendered HTML:

[code]

<img width="943" alt="image" src="https://user-images.githubusercontent.com/1120896/197404520-50e010e4-ecad-4b67-82eb-fb03aac8595f.png">

It seems that the paragraph styles are overwriting the blockquote styles.

[2022-10-23 16:49] rviscomi opened #3243 "Center align featured stats"
While the area covering all three featured stats may be centered, it feels off because the middle stat itself is not center-aligned.

![image](https://user-images.githubusercontent.com/1120896/197404825-7e5f143f-c658-4114-ab41-bd77a8741494.png)

[2022-10-23 16:50] #3171 closed

[2022-10-23 16:50] tunetheweb commented on #3242
Probably best to just change this:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/b64e7ac98e9046626f1f0dcf7bd9a82f0965c002/src/static/css/almanac.css#L738

To:

[code]

Wanna include this as part of Performance chapter PR? I occasionally include these sorts of small changes in chapter PRs if those chapters need extra CSS (or if, like in this case, those chapters just spot existing is

[2022-10-23 16:52] rviscomi commented on #3242
Sure, fixed in https://github.com/HTTPArchive/almanac.httparchive.org/pull/3092/commits/df136b780944bc670c0d673b8beaac4718301fc9

[2022-10-23 17:04] tunetheweb commented on #3243
It's cause we use flexbox for the featured status, and flexbox is... [flexible!](https://css-tricks.com/equal-columns-with-flexbox-its-more-complicated-than-you-might-think/):

https://github.com/HTTPArchive/almanac.httparchive.org/blob/b64e7ac98e9046626f1f0dcf7bd9a82f0965c002/src/static/css/index.css#L164-L169

You could change it to grid to be even columns by changing that first line of CSS to:

[2022-10-23 17:09] tunetheweb commented on #3243
Oh you'll need to change that back to flex on mobile.

Or change it to be one column only on mobile:

[code]

[2022-10-23 17:35] rviscomi opened #3245 "Clean up stale branches"
https://github.com/HTTPArchive/almanac.httparchive.org/branches shows many active branches, despite some of them being outdated and no longer maintained.

We should go through the list of branches and clean up any that can be safely deleted.

[2022-10-24 15:51] #3243 closed

[2022-10-25 00:15] rviscomi opened #3248 "Feedback about dynamic `import()` in JS chapter"
From the 2022 [JS chapter](https://almanac.httparchive.org/en/2022/javascript#dynamic-import):

I got feedback that this section might be overlooking other ways of doing code splitting. Assigning to @malchata to think if we can better phrase this.

[2022-10-25 13:53] #2890 closed

[2022-10-25 15:11] malchata commented on #3248
Ah, gotcha. I can work on an amendment to this.

[2022-10-25 16:25] rviscomi opened #3255 "Publication dates are relative to client's timezone"
The Perf chapter was published today, but due to timezones and client-side formatting it appears with yesterday's date.

<img width="367" alt="image" src="https://user-images.githubusercontent.com/1120896/197829355-e7086575-a53f-42fb-aa70-b39246cd33db.png">

Look into formatting that results in a consistent publication date while still preserving i18n conventions.

[2022-10-25 18:03] #3255 closed

[2022-10-25 20:40] tunetheweb commented on #3245
Done.

[2022-10-25 20:40] #3245 closed

[2022-10-25 20:40] #3157 closed

[2022-10-25 20:40] #3123 closed

[2022-10-25 20:41] #2908 closed

[2022-10-26 11:45] thibaudcolas opened #3260 "Accessibility 2022: "Half of all web searches are performed by voice" doesn’t fact-check"
One of my colleagues fact-checked the [first line of this year’s accessibility chapter](https://almanac.httparchive.org/en/2022/accessibility#introduction), "Half of all web searches are [performed by voice](https://review42.com/resources/voice-search-stats/)" and it’s looking [flimsy](https://brodieclark.com/stop-using-comscores-2020-voice-search-stat/).

Apparently the actual source is an [off-t

[2022-10-26 12:16] #3260 closed

[2022-11-03 10:17] #3248 closed

[2022-11-08 14:00] srosenda opened #3274 "Issue with the 2022 sustainability chapter Figure 20.6"
Thank you for the great report! Looks like the bar chart in Figure 20.6 https://almanac.httparchive.org/en/2022/sustainability#fig-6 is somehow off and does not match the data in the description.

[2022-11-10 15:47] rviscomi commented on #1195
Sorry again for the delay @yuseyhan, but thank you for taking the time to work on this design. I really like the direction and I have a few notes to refine it a bit more.

Right now the chapter metadata is very prominent. What if we collapsed that in a way that lets us pack more contributions onto the screen, like a grid view? So we would only show the top-level info, like the chapter title. Maybe

[2022-11-13 09:32] Levix commented on #923
Hi! @tunetheweb. I can help with Simplified Chinese translations for Part II Chapter 14 Security 2022.
I need to submit a security chapter markdown document PR in the zh-CN folder for subsequent proofreading.
This is the PR:
https://github.com/HTTPArchive/almanac.httparchive.org/pull/3278

[2022-11-15 11:44] #3274 closed

[2022-11-16 11:29] decrecementofeliz commented on #923
Hello from Spain! I'd like to help with Spanish translation, specifically Privacy chapter to begin with. Thanks!

[2022-11-16 11:32] tunetheweb commented on #923
Great stuff, we're tracking that over at #498 and tagged you in that, and sent you an invite to the repo so you can open branches here. More details here: https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Translators'-Guide