[2019-03-04 21:52] rviscomi opened #1 "Define and categorize metrics"
Refer to the [Content Brainstorm](https://docs.google.com/document/d/1sCIMeErYvaQb5x9Acdb6ImYdn0-buHRhYGvz2HoysmM/edit?usp=sharing) doc for the latest draft

- [x] define a list of high-level "sections" (eg content, experience, distribution, publishing, etc)
- [x] define a list of mid-level "chapters" (eg for content: JS, CSS, img, etc)
- [x] define a list of low-level metrics (eg for JS: bytes, b

[2019-04-25 01:03] rviscomi opened #2 "Assign subject matter experts and peer reviewers to each chapter"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
I. Page Content | 1. JavaScript | @addyosmani @housseindjirdeh @mathiasbynens | @rwaldron @RReverser | #3
I. Page Content | 2. CSS | @una @argyleink | _(none)_ | #4
I. Page Content | 3. Markup | @bkardell | @zcorpan | #5
I. Page Content | 4. Media | @dougsillars @colinbendell @Yonet | @ahmadawais @kornelski | #6
I. Page C

[2019-05-19 18:39] rviscomi opened #3 "Finalize assignments: Chapter 1. JavaScript"
Section | Chapter | Coauthors | Reviewers
-- | -- | -- | --
I. Page Content | 1. JavaScript | @addyosmani @housseindjirdeh @mathiasbynens | @rwaldron @RReverser

**Due date:** To help us stay on schedule, please complete the action items in this issue by June 3.

**To do:**
- [x] Assign subject matter experts (coauthors)
- [x] Assign peer reviewers
- [ ] Finalize metrics

**Current list of metrics

[2019-05-20 22:49] rviscomi opened #4 "Finalize assignments: Chapter 2. CSS"
Section | Chapter | Coauthors | Reviewers
-- | -- | -- | --
I. Page Content | 2. CSS | @una @argyleink | @meyerweb @huijing

**Due date:** To help us stay on schedule, please complete the action items in this issue by June 3.

**To do:**
- [x] Assign subject matter experts (coauthors)
- [x] Assign peer reviewers
- [x] Finalize metrics

**Current list of metrics:**

Section | Metric description
--

[2019-05-20 22:53] rviscomi opened #5 "Finalize assignments: Chapter 3. Markup"
Section | Chapter | Author | Reviewers
-- | -- | -- | --
I. Page Content | 3. Markup | @bkardell | @zcorpan

**Due date:** To help us stay on schedule, please complete the action items in this issue by June 3.

**To do:**
- [x] Assign subject matter expert (author)
- [x] Assign peer reviewers
- [x] Finalize metrics

**Current list of metrics:**

- Deprecated elements
- Popular elements
- Custom el

[2019-05-20 22:57] rviscomi opened #6 "Finalize assignments: Chapter 4. Media"
Section | Chapter | Coauthors | Reviewers
-- | -- | -- | --
I. Page Content | 4. Media | @dougsillars @colinbendell @Yonet | @ahmadawais @kornelski

**Due date:** To help us stay on schedule, please complete the action items in this issue by June 3.

**To do:**
- [x] Assign subject matter experts (coauthors)
- [x] Finalize peer reviewers
- [x] Finalize metrics

**Current list of metrics:**

- Imag

[2019-05-21 01:08] rviscomi opened #8 "Finalize assignments: Chapter 5. Third parties"
Section | Chapter | Author | Reviewers
-- | -- | -- | --
I. Page Content | 5. Third parties | @patrickhulce | @simonhearne @flowlabs @jasti @zeman

**Due date:** To help us stay on schedule, please complete the action items in this issue by June 3.

**To do:**
- [x] Assign subject matter expert (author)
- [x] Finalize peer reviewers
- [x] Finalize metrics

**Current list of metrics:**

- Percentag

[2019-05-21 01:12] rviscomi opened #7 "Finalize assignments: Chapter 6. Fonts"
Section | Chapter | Coauthors | Reviewers
-- | -- | -- | --
I. Page Content | 6. Fonts | @davelab6 @zachleat | @hyperpress

**Due date:** To help us stay on schedule, please complete the action items in this issue by June 3.

**To do:**
- [x] Assign subject matter experts (coauthors)
- [x] Finalize peer reviewers
- [ ] Finalize metrics

**Current list of metrics:**

- Local vs hosted
- Popular hos

[2019-05-21 01:16] rviscomi opened #9 "Finalize assignments: Chapter 7. Performance"
Section | Chapter | Coauthors | Reviewers
-- | -- | -- | --
II. User Experience | 7. Performance | @rviscomi @zeman | @JMPerez @obto @sergeychernyshev

**Due date:** To help us stay on schedule, please complete the action items in this issue by June 3.

**To do:**
- [x] Assign subject matter expert (author)
- [x] Assign peer reviewers
- [ ] Finalize metrics

**Current list of metrics:**

- Field (

[2019-05-21 01:19] rviscomi opened #10 "Finalize assignments: Chapter 8. Security"
Section | Chapter | Authors | Reviewers
-- | -- | -- | --
II. User Experience | 8. Security | @arturjanc @ScottHelme | @paulcalvano @bazzadp @ghedo

**Due date:** To help us stay on schedule, please complete the action items in this issue by June 3.

**To do:**
- [x] Assign subject matter experts (coauthors)
- [x] Assign peer reviewers
- [ ] Finalize metrics

**Current list of metrics:**

TLS 🔒

-

[2019-05-21 01:24] rviscomi opened #11 "Finalize assignments: Chapter 9. Accessibility"
Section | Chapter | Authors | Reviewers
-- | -- | -- | --
II. User Experience | 9. Accessibility | Nektarios Paisios, @nadinarama, @obto |@rachellcostello @kleinab

In an effort to be more accessible to Nektarios, planning for this chapter is being done in a Google Doc. See [Planning the Accessibility chapter](https://docs.google.com/document/d/1rpFtES6BXGYmsRR1peKsEY6ZLN9-FklOgk9qos_sK1Q/edit?usp

[2019-05-21 01:27] rviscomi opened #12 "Finalize assignments: Chapter 10. SEO"
Section | Chapter | Authors | Reviewers
-- | -- | -- | --
II. User Experience | 10. SEO | @rachellcostello @ymschaap @AVGP | @clarkeclark @andylimn @voltek62

**Due date:** To help us stay on schedule, please complete the action items in this issue by June 3.

**To do:**
- [x] Assign subject matter experts (coauthors)
- [x] Assign peer reviewers
- [x] Finalize metrics

**Current list of metrics:**

[2019-05-21 01:29] rviscomi opened #13 "Finalize assignments: Chapter 11. PWA"
Section | Chapter | Authors | Reviewers
-- | -- | -- | --
II. User Experience | 11. PWA | @tomayac @jeffposnick | @hyperpress

**Due date:** To help us stay on schedule, please complete the action items in this issue by June 3.

**To do:**
- [x] Assign subject matter experts (coauthors)
- [x] Finalize peer reviewers
- [x] Finalize metrics

**Current list of metrics:**

- % of pages with SW install

[2019-05-21 01:32] rviscomi opened #14 "Finalize assignments: Chapter 12. Mobile web"
Section | Chapter | Authors | Reviewers
-- | -- | -- | --
II. User Experience | 12. Mobile web | @slightlyoff @obto | @hyperpress

**Due date:** To help us stay on schedule, please complete the action items in this issue by June 3.

**To do:**
- [x] Assign subject matter experts (coauthors)
- [x] Finalize peer reviewers
- [ ] Finalize metrics

**Current list of metrics:**

- Tap targets
  - Lets t

[2019-05-21 01:36] rviscomi opened #15 "Finalize assignments: Chapter 13. Ecommerce"
Section | Chapter | Coauthors | Reviewers
-- | -- | -- | --
III. Content Publishing | 13. Ecommerce | @samdutton @alankent | @voltek62

**Due date:** To help us stay on schedule, please complete the action items in this issue by June 3.

**To do:**
- [x] Assign subject matter experts (coauthors)
- [ ] Assign peer reviewers
- [x] Finalize metrics

**Current list of metrics:**

Top ecommerce platfor

[2019-05-21 01:38] rviscomi opened #16 "Finalize assignments: Chapter 14. CMS"
Section | Chapter | Author | Reviewers
-- | -- | -- | --
III. Content Publishing | 14. CMS | @amedina | @westonruter @mor10 @sirjonathan

**Due date:** To help us stay on schedule, please complete the action items in this issue by June 3.

**To do:**
- [x] Assign subject matter expert (author)
- [x] Assign peer reviewers
- [x] Finalize metrics

**Current list of metrics:**

Section | Metric descri

[2019-05-21 01:40] rviscomi opened #17 "Finalize assignments: Chapter 15. Compression"
Section | Chapter | Author | Reviewers
-- | -- | -- | --
IV. Content Distribution | 15. Compression | @paulcalvano | @yoavweiss @colinbendell

**Due date:** To help us stay on schedule, please complete the action items in this issue by June 3.

**To do:**
- [x] Assign subject matter expert (author)
- [x] Finalize peer reviewers
- [x] Finalize metrics

**Current list of metrics:**

- What compressi

[2019-05-21 01:41] rviscomi opened #18 "Finalize assignments: Chapter 16. Caching"
Section | Chapter | Author | Reviewers
-- | -- | -- | --
IV. Content Distribution | 16. Caching | @paulcalvano | @yoavweiss @colinbendell

**Due date:** To help us stay on schedule, please complete the action items in this issue by June 3.

**To do:**
- [x] Assign subject matter expert (author)
- [x] Finalize peer reviewers
- [x] Finalize metrics

**Current list of metrics:**

- TTL by resource
-

[2019-05-21 01:47] rviscomi opened #19 "Finalize assignments: Chapter 17. CDN"
Section | Chapter | Authors | Reviewers
-- | -- | -- | --
IV. Content Distribution | 17. CDN | @andydavies @colinbendell | @yoavweiss @paulcalvano @pmeenan

**Due date:** To help us stay on schedule, please complete the action items in this issue by June 3.

**To do:**
- [x] Assign subject matter expert (author)
- [x] Assign peer reviewers
- [x] Finalize metrics

**Current list of metrics:**

- Wh

[2019-05-21 01:50] rviscomi opened #20 "Finalize assignments: Chapter 18. Page weight"
Section | Chapter | Author | Reviewers
-- | -- | -- | --
IV. Content Distribution | 18. Page weight | @khempenius @henrisGH | @paulcalvano @flowlabs

**Due date:** To help us stay on schedule, please complete the action items in this issue by June 3.

**To do:**
- [x] Assign subject matter expert (author)
- [x] Finalize peer reviewers
- [x] Finalize metrics

**Current list of metrics:**

- Distrib

[2019-05-21 01:52] rviscomi opened #21 "Finalize assignments: Chapter 19. Resource Hints"
Section | Chapter | Authors | Reviewers
-- | -- | -- | --
IV. Content Distribution | 19. Resource Hints | @khempenius @yoavweiss |@andydavies @addyosmani

**Due date:** To help us stay on schedule, please complete the action items in this issue by June 3.

**To do:**
- [x] Assign subject matter experts (coauthors)
- [x] Assign peer reviewers
- [x] Finalize metrics

**Current list of metrics:**

Fo

[2019-05-21 01:55] rviscomi opened #22 "Finalize assignments: Chapter 20. HTTP/2"
Section | Chapter | Authors | Reviewers
-- | -- | -- | --
IV. Content Distribution | 20. HTTP/2 | @bazzadp | @bagder @rmarx @dotjs

**Due date:** To help us stay on schedule, please complete the action items in this issue by June 3.

**To do:**
- [x] Assign subject matter expert (author)
- [x] Assign peer reviewers
- [x] Finalize metrics

**Current list of metrics:**

- Adoption rate of HTTP/2 by

[2019-05-21 21:27] rviscomi opened #23 "Form a team of data analysts"
Data analysts are responsible for working with authors to provide HTTP Archive data that match the metrics outlined in each chapter. Analysts should be familiar with the BigQuery dataset and comfortable with SQL. Mentoring is available for anyone who wants to learn!

Our current assignment is to triage all ~250 metrics. New analysts: please see #33 for more info on how to access the metrics sheet

[2019-05-21 21:29] rviscomi commented on #23
@matijagrcic @bkardell @patrickhulce you've all expressed interest in writing queries. Still interested?

@paulcalvano can I count you in as well?

[2019-05-21 21:37] paulcalvano commented on #23
Count me in!

[2019-05-21 21:53] patrickhulce commented on #23
I definitely plan on doing this for my chapter, happy to help out with anything touching Lighthouse or network requests too :)

[2019-05-21 21:54] rviscomi opened #24 "Form a team of web designers and developers"
We're looking for web designers and developers to help build the UX of the Almanac itself. It will be a static website home to each annual report and read like an ebook to help users navigate the various sections and chapters.

Designers should have the bandwidth throughout July and August to conceptualize the UX of the website and the data visualizations used by the chapters. This is a big burden

[2019-05-21 21:59] rviscomi commented on #24
@matijagrcic @tjmonsi you've expressed interest in helping with web development. Still interested?

[2019-05-21 22:01] bazzadp commented on #22
I’m happy to help out here if you need help in this section? Just published a book on HTTP/2 (https://www.manning.com/books/http2-in-action) so spent last couple of years digging into this topic and what it’s meant in real world since launch. I don’t know HTTP Archive or BigQuery though, but know SQL very well so sure I can learn it with a few pointers in the right direction. Or just help interpre

[2019-05-21 22:29] rviscomi commented on #22
Hey @bazzadp thanks for reaching out, we'd love to have you!

Sounds like you're a great fit for the subject matter expert role, driving the direction of the metrics included in the chapter and writing your interpretations. I'll put your name down.

[2019-05-22 12:15] mikegeyser commented on #13
Hi!

A quick question. Is it possible from the data set to get an idea of number (or %) of installs? (Sorry, I genuinely don't know.)

If we can, then wouldn't it be interesting to see what form factors (mobile/desktop/etc) PWAs were being installed in? Especially with the recent drive for PWA adoption on desktop.

(Ok, so technically two questions.)

[2019-05-22 12:24] mikegeyser commented on #24
Hi! If I can be of assistance, I would love to help.

[2019-05-22 16:44] bazzadp commented on #22
Potential metrics (just rough thoughts for now but will update):

- Adoption rate (by site =~ 35% and by traffic =~ 60 %)
- Measure of all HTTP versions (0.9, 1.0, 1.1)
- How are QUIC sites (e.g. www.google.com on Chrome) reported? HTTP/2? QUIC+HTTP/2? Other?
- % of sites affected by CDN prioritization issues (H2 and served by CDN)
- Which CDN / server software are people using for HTTP/2? Check s

[2019-05-22 17:07] rviscomi commented on #22
That's a great list, big +1 to everything. @pmeenan could you help answer some of Barry's questions? (also let us know if you'd be interested in reviewing this chapter)

Did you have something in mind to weigh adoption by traffic? The HTTP Archive dataset doesn't currently include popularity signals.

[2019-05-22 17:15] bazzadp commented on #22
And there's where my lack of HTTP/2 Archive knowledge comes into play! :-)

This shows sites: https://w3techs.com/technologies/details/ce-http2/all/all
This shows usage: https://telemetry.mozilla.org/new-pipeline/dist.html#!cumulative=0&measure=HTTP_RESPONSE_VERSION

So you can say 60% of web traffic is HTTP/2 but that's dominated by the big boys. Or you can say 35% of sites are HTTP/2. Both are c

[2019-05-22 17:34] rviscomi commented on #22
Great questions.

Let's stick with "% of websites" or "% of all requests". We include a chart of the latter in our [State of the Web report on the website](https://httparchive.org/reports/state-of-the-web#h2).

I'd say let's exhaust all of the stats we can extract from the HTTP Archive dataset first, and if we still can't paint a complete picture, then it makes sense that we should pull in outside

[2019-05-22 22:42] patrickhulce commented on #8
Answering the first question about categorization...

In the 2019-05-01 desktop dataset, we see the following.

| Metric | Count | Percent |
| --- | --- | --- |
| Total Requests | 387,194,512 | 100% |
| Third Party Requests (domain method) | 219,842,520 | 56.8% |
| Third Party Requests (eTLD method) | 204,315,257 | 52.8% |
| Third Party Requests (>50 pages method) | 190,982,526 | 49.3% |
| Third P

[2019-05-22 23:25] Yonet commented on #2
Should we add WebXR to the content topics? I am happy to help.

[2019-05-22 23:37] rviscomi commented on #2
Good idea! Yeah this could fit in with the Media chapter. Are you interested in writing or reviewing?

[2019-05-22 23:40] Yonet commented on #2
@rviscomi I am happy to help as author or reviewer.

[2019-05-23 00:42] obto commented on #2
I'd love to help author and/or review 9 and 12 as well. Just let me know :smiley:

[2019-05-23 05:50] mikegeyser commented on #24
According to the plan, there should already be some development activity. I presume that the development will be concentrated towards the end of the project, but is there anything that we can get started on so long? Also, which would be the most appropriate medium for questions/discussion? (before I spam this thread)

[2019-05-23 15:09] rviscomi commented on #24
Great question! We have a few media for discussion:

- development specific topics can be discussed in the GitHub team chat at https://github.com/orgs/HTTPArchive/teams/developers
- general Almanac topics can be discussed in the #web-almanac channel on the [HTTP Archive Slack](bit.ly/http-archive-slack)
- specific tasks can be discussed in GitHub issues

In this case the specific task is "start bu

[2019-05-23 15:10] rviscomi opened #25 "Build the development environment to maintain the Almanac"
AI(@HTTPArchive/developers): Design the tech stack for the Almanac.

The Almanac user experience will be entirely static and stateless, so a solution as simple as GitHub Pages could work. I think we want a bit more control over the backend (response headers, SSR templates) so I'm leaning towards a similar setup as https://github.com/HTTPArchive/httparchive.org in which we build on App Engine. Thou

[2019-05-23 15:30] rviscomi commented on #6
@Yonet is interested in writing about WebXR. I think that could fit as a subsection of this chapter. @colinbendell @dougsillars @ahmadawais how does that sound?

Not sure what kind of stats we'd be able to extract from HTTP Archive about XR but nonetheless I'm excited to include it as a topic for discussion/exploration. @Yonet what stats/metrics would be representative of "the state of WebXR"? If

[2019-05-23 16:30] rviscomi commented on #16
Updated the list of reviewers. Only remaining AI is to finalize the metrics.

[2019-05-23 16:33] rviscomi commented on #9
@igrigorik any interest in peer reviewing this chapter? 😀

[2019-05-23 16:49] rviscomi commented on #2
Thanks @obto! Do you have a preference for author/reviewer for either chapter?

[2019-05-23 16:49] tjmonsi commented on #24
Hi Rick,

Yep I am still interested. I just need to know what to do and how I can
help. I am not really adept yet on implementing the data to graphs (from
BigQuery or even knowing the query string on Bigquery to show the data).

On Thu, May 23, 2019 at 11:09 PM Rick Viscomi <notifications@github.com>
wrote:

[2019-05-23 16:52] rviscomi commented on #24
Thanks @tjmonsi! If you're also interested in learning how to query the dataset and extracting stats for each chapter you can join the @HTTPArchive/data-analysts team. For this team we're looking for web developers/designers to help build the UX of the Almanac website. If that still sounds like something you're interested in, you can join the dev team at this link: @HTTPArchive/developers, and als

[2019-05-23 17:07] patrickhulce commented on #8
*Definitions*

A third party domain is defined as a domain whose resources have been requested by at least 50 different pages in the HTTPArchive dataset.

A third party category is defined as the category of the third party domain's primary usage according to [third-party-web](https://github.com/patrickhulce/third-party-web) or 'Unknown' if not found in that dataset.

A third party request is defi

[2019-05-23 17:29] jeffposnick commented on #13
I'll defer to @tomayac in case he has any opinions otherwise, but both that list of metrics and the suggested peer reviewer (thanks @hyperpress!) seem good to me.

[2019-05-23 17:30] hyperpress commented on #13
Thanks all. Good to go here.

[2019-05-23 17:35] obto commented on #2
I'd like to help author both if possible

[2019-05-23 17:41] colinbendell commented on #6
cool!

How high do we expect the adoption of WebXR to be? If the adoption rate is
low, I wonder if maybe we should create a different section called
'emerging' to highlight this (and other?) new standards?

thoughts?
/colin

On Thu, 23 May 2019 at 11:31, Rick Viscomi <notifications@github.com> wrote:

[2019-05-23 17:46] clarkeclark commented on #12
Rick, love to help out as a peer reviewer

[2019-05-23 17:51] rviscomi commented on #13
@mikegeyser what you're asking about would need to come from a field dataset like the Chrome UX Report, which doesn't include installs/PWA stats. To my knowledge I'm not aware of another dataset that includes those metrics. HTTP Archive data could tell us how many sites are PWA-capable, but not necessarily the user experience of installing them.

[2019-05-23 17:58] rviscomi commented on #11
Adding @obto as coauthor. Note that this chapter is being iterated in a separate, more accessible Google Doc.

[2019-05-23 17:59] rviscomi commented on #14
Added @obto as a coauthor

[2019-05-23 18:00] rviscomi commented on #2
Great, just added you!

[2019-05-23 18:11] rviscomi commented on #6
I do think adoption will be low. Not even sure how to detect it, I'll defer to @Yonet for that. As for how to organize it, I think it could fit in this chapter as a self-contained subsection. I'd prefer keeping it under the "Media" heading than something else that is more miscellaneous.

[2019-05-23 18:13] colinbendell commented on #6
sounds good.

On Thu, 23 May 2019 at 14:11, Rick Viscomi <notifications@github.com> wrote:

[2019-05-23 18:14] rviscomi commented on #12
Great, thanks for volunteering! Just added you as a reviewer and invited you to the @HTTPArchive/reviewers team.

[2019-05-23 19:50] bagder commented on #22
Just a note on the "say 60% of web traffic" @bazzadp: that's 60% of all browser traffic. It might be worth considering that HTTP/2 is only ever attempted when doing HTTPS, which is now on around 80% of the browser page loads so that makes the **amount of HTTPS** loads done by Firefox that uses HTTP/2 to be 75%.

[2019-05-23 20:00] mikegeyser commented on #25
I'm not very familiar with python, but I'll do my best to pick it up quickly. I think the first step (for me, at least) would be to get HttpArchive running locally and kick the tires (just to make sure I understand the reference application). I agree that we would definitely want greater control over the backend, I don't know how you would do this without it. I also agree with server side renderin

[2019-05-23 20:09] bazzadp commented on #22
Very valid point!

@bagder has also agreed to review this section @rviscomi so could you update the original comment here and the other matrix?

[2019-05-23 20:11] rviscomi commented on #25
These are all great questions, keep them coming.

I'm not ruling anything out. I also realize that the development team will have diverse experiences so I do want to pick a tech stack that allows everyone to iterate quickly and easily. The Python stack is just one I've used before and I'm comfortable with. If we go with something outside of my comfort zone I'll have to rely on others to take the l

[2019-05-23 20:13] rviscomi commented on #22
Sounds great, I've added @badger and sent an invitation to the @HTTPArchive/reviewers team.

[2019-05-23 20:16] bazzadp commented on #22
You’ve a typo in his username: @bagder Am sure he gets this a lot - I know I’ve mistyped it like that before! :-)

[2019-05-23 20:16] bagder commented on #22
I'm mr typo. :grin:

[2019-05-23 20:17] rviscomi commented on #22
Hah! That explains the autocomplete fail :)

[2019-05-23 20:23] mikegeyser commented on #25
I think it’s MUCH more important that you’re comfortable with the solution. Besides, I now have a reason to learn python properly...

I’m pretty comfortable with lit-html (using it every day), and unless I’m mistaken @tjmonsi is too. It’s really nice at doing simple visualizations / composing / generating svg. If you need something more complicated then highcharts or d3 would probably be better th

[2019-05-23 20:24] andydavies commented on #22
Back in Jan about 26% of the traffic over Akamai's network was H2 - https://developer.akamai.com/blog/2019/01/31/http2-discover-performance-impacts-effective-prioritization

[2019-05-23 20:27] bagder commented on #22
regarding "Average number of domains per site going down?", I know HTTParchive already tracks number of TCP connections needed, which is of course more a *result* of number of domains used and/or HTTP/2-"unsharding" of them.

[2019-05-23 20:34] bazzadp commented on #22
I was wondering why so low? As would have expected CDN traffic to be ahead of average not behind assuming it’s on my default for HTTPS users. But I see they only enabled that since March (https://blogs.akamai.com/2019/03/http2-will-be-automatically-enabled-by-default-on-the-akamai-intelligent-edge-platform.html). Wonder what that percentage is now since that change?

[2019-05-23 20:34] rviscomi commented on #25
Ok cool, in that case it's a good idea for you to try to get the httparchive.org site running locally. I could even find some good first issues for you to work on to get comfortable with it.

Yes, I want to do as little as possible on the client side for simplicity and performance.

[2019-05-23 20:37] rviscomi commented on #21
@yoavweiss you had mentioned that this chapter might be better off renamed or its scope changed to be less granular. Any other thoughts on that?

Also, @khempenius @yoavweiss have you thought of anyone who might make a good reviewer for this chapter?

[2019-05-23 20:38] rviscomi commented on #5
@bkardell can you think of anyone who might be interested in reviewing this chapter?

[2019-05-23 20:39] rviscomi commented on #4
@jensimmons would you be interested in peer reviewing this chapter?

@una @argyleink can you think of anyone else who might be interested?

[2019-05-23 20:40] rviscomi commented on #3
@addyosmani @housseindjirdeh @mathiasbynens can you think of anyone who might be interested in peer reviewing this chapter?

[2019-05-23 21:10] noahblon commented on #24
Hi @rviscomi!  I'd be down with helping on the development side.

[2019-05-23 21:21] rmarx commented on #22
I am also interested in acting as a reviewer for this chapter :)

[2019-05-23 21:35] chaluvadis commented on #24
Hi @rviscomi I would love to help in UI development.

[2019-05-23 21:56] rviscomi opened #26 "Licensing and attribution"
In the interest of openness and transparency, we want the Almanac to be free, shareable, and extensible. At the same time, authors deserve attribution for their content. And everyone else who has helped build this report (now over 50 people!) should get some kind of recognition.

It's my intent to give credit to everyone who participates in the project in any form on a "Contributors" page. Each ch

[2019-05-23 21:56] gustavofsantos commented on #24
Hi 🖐️ I can help too

[2019-05-23 21:58] rviscomi commented on #24
Thanks @noahblon @chaluvadis @gustavofsantos!! Added each of you to the @HTTPArchive/developers team. ❤️

[2019-05-23 22:20] rviscomi commented on #23
Welcome to the team @fhoffa! 😁

[2019-05-23 22:53] khempenius commented on #21
I agree. How about renaming this section to "Resource and Priority Hints" or "Loading Optimizations"?

Maybe @addyosmani can review?

[2019-05-24 01:47] jaredcwhite commented on #5
I'm not sure if this is the best place to post a suggestion, but I think it would be very interesting to chronicle the advent of non-semantic HTML that's essentially auto-generated by build tools (think the project Twitter's using to take React Native code and build it for the web…resulting in div/span tag soup. Example here: https://twitter.com/jaredcwhite/status/1090283063320276992). This isn't

[2019-05-24 02:26] tjmonsi commented on #24
@rviscomi it seems I can't find the @HTTPArchive/developers team :) I also like to understand bigquery because I am also working on it on a different project. Learning how you guys do it will essentially make my work on another project easier :)

[2019-05-24 03:16] tyohan commented on #25
@rviscomi I happy to help on this. I'm starting to use Python on my country dashboard and it might be related with this one.

My current setup:

* python to generate the data in CSV and JSON then upload it to Google Storage
* hugo for static website to serve the data and visualize the data.

[2019-05-24 04:05] una commented on #4
@argyleink and I updated the brainstorming doc with some metrics ideas. Please comment and let us know what's feasible!

(Also, would love to have you as a reviewer Jen!)

[2019-05-24 04:58] dougsillars commented on #6
I agree that this will be a VERY low number in HTTP Archive data. I like the idea of "emerging media" as a section.. we could put XR, and perhaps other ideas there too.

As for detection - I know A-Frame - are there other libraries?  There are 42 sites in April 2019 mobile that reference "aframe.min.js"  A small subset, but an interesting one.

[2019-05-24 09:17] matijagrcic commented on #24
@rviscomi Still interested. Sorry if not active, loads of things happening. What's needed implementing?

[2019-05-24 10:50] tomayac commented on #13
Sounds all good to me.

[2019-05-24 12:23] rviscomi commented on #19
Added Andy as an author and updated the list of metrics.

[2019-05-24 12:25] andylimn commented on #12
Hey Rick, I'd be keen to peer review too!

[2019-05-24 12:26] rviscomi commented on #21
Either rename SGTM. @yoavweiss any preference?

Added @andydavies as a reviewer. @addyosmani would you also be interested in reviewing?

[2019-05-24 12:34] yoavweiss commented on #21
"Resource loading optimizations"? :)

[2019-05-24 12:46] rviscomi commented on #5
@zcorpan would you be interested in reviewing this chapter?

@jaredcwhite +1 I think that's a great idea. Is that something that would require looking back at older datasets or do you think it'd be sufficient to look at the current dataset and do something like measure the proportion of div/span against all tags? We're adding instrumentation in https://github.com/HTTPArchive/legacy.httparchive.org

[2019-05-24 12:49] rviscomi commented on #25
Sounds great, glad to have you on board @tyohan! The Python setup in our case will be mostly for serving static content, using [Flask](http://flask.pocoo.org/). Would be great to exchange ideas.

[2019-05-24 12:53] rviscomi commented on #6
@dougsillars @colinbendell is your idea to have "Emerging" as a section in the Media chapter, or to create a new chapter?

@Yonet, also curious to hear your thoughts on detection and organization.

[2019-05-24 12:58] rviscomi commented on #24
Great. @tjmonsi @matijagrcic I've added you both to the team. Right now we're just getting the web server set up in #25. Once that's done we'll move on to creating some base templates and a temporary splash page to be deployed to almanac.httparchive.org while the project is under construction.

[2019-05-24 12:59] zcorpan commented on #5
*Looking up context* I checked the readme of this repo, and also found https://discuss.httparchive.org/t/planning-the-web-almanac-2019/1553

Exciting! I'm happy to review.

Is the thing that needs review written yet? If so, where? When does the review need to be done?

[2019-05-24 13:03] rviscomi commented on #12
@andylimn great, thanks! Just added you.

@ymschaap could you go to https://github.com/HTTPArchive and accept the invitation to the Authors team? That will enable me to assign this issue to you.

[2019-05-24 13:09] rviscomi commented on #21
Actually, "loading optimizations" may be too vague. Caching or compression are loading optimizations but not in scope for this chapter. Is "Resource Hints" a better name?

[2019-05-24 13:10] colinbendell commented on #6
Rick, out of curiosity, does HTTP Archive use an emulated Chrome Mobile, or
does it use the Android build of Chrome Mobile? If it's the actual Android
build, we could better detect XR api use since it's available in that build
(but not on desktop AFAIK).

/colin

On Fri, 24 May 2019 at 08:53, Rick Viscomi <notifications@github.com> wrote:

[2019-05-24 13:13] rviscomi commented on #5
Great! Glad to have you on board. The current status is that we're planning which metrics to include in each chapter. If you have any ideas or feedback we'd love to hear them. Hoping to lock the metrics down by June 3. The writing phase will start in ~August.

[2019-05-24 13:15] rviscomi commented on #6
Ah. It's emulated. Does that preclude us from detecting it, or just make it harder?

[2019-05-24 13:53] pmeenan commented on #22
I think the "alt-svc" response header is the only thing we capture that can help with this (at least without processing the raw trace files). The ALPN details for a connection aren't kept though it might be possible to add later.

You might be shocked and dismayed because of the automatic translation from "preload" response header to PUSH, it happens WAY more often than I'd like. It may be a small

[2019-05-24 14:10] addyosmani commented on #21
Resource Hints sgtm.

[2019-05-24 14:45] rviscomi commented on #9
@JMPerez @obto I've updated the list of current metrics above. Let me know if there's anything you'd change.

[2019-05-24 14:47] obto commented on #9
Thanks for the heads-up. I'll take a look tonight

On Fri, May 24, 2019, 09:45 Rick Viscomi <notifications@github.com> wrote:

[2019-05-24 14:53] arswaw commented on #24
Maybe we could use Vue for this? We could combine it with ES6 Modules. Therefore we could keep the website static but interactive, and not have to add Node to the mix.

[2019-05-24 14:56] rviscomi commented on #24
@arswaw mind if we move the discussion of tech stack to #25?

[2019-05-24 14:57] arswaw commented on #25
Maybe we could use Vue for this? We could combine it with ES6 Modules. Therefore we could keep the website static but interactive, and not have to add Node to the mix.

[2019-05-24 15:00] rviscomi commented on #25
From @arswaw in https://github.com/HTTPArchive/almanac.httparchive.org/issues/24#issuecomment-495664551

My familiarity with Vue is as a client side rendering library. Is that accurate? I do like it but I think a static site like this would be better to build server side for performance.

[2019-05-24 15:01] arswaw commented on #25
Would we need a server were it not for SSR?

[2019-05-24 15:04] rviscomi commented on #25
I think a server would be desirable for having control over things like cache policies, CSP, and redirects.

[2019-05-24 15:07] zcorpan commented on #5
Ideas:

* Quirks mode
* Character encoding

[2019-05-24 15:07] arswaw commented on #25
AWS Cloudfront could do that without the need to manage a server.

I'm only concerned about adding more complexity than is needed.

[2019-05-24 15:13] colinbendell commented on #6
I think just harder. I'd let @yonet chime in with ideas for metrics and how
we would collect.

On Fri, 24 May 2019 at 09:15, Rick Viscomi <notifications@github.com> wrote:

[2019-05-24 15:21] KJLarson commented on #24
Are there any jobs that a junior web developer just getting started could help with?

[2019-05-24 15:34] rviscomi commented on #24
@KJLarson we're just getting off the ground but I'm sure there will be opportunities for folks like yourself! We'll tag intro-level tasks with the [Good First Issue](https://github.com/HTTPArchive/almanac.httparchive.org/labels/good%20first%20issue) label so you can more easily find them. If you're interested I'll add you to the developer team.

[2019-05-24 15:37] KJLarson commented on #24
@rviscomi - I would love to be part of the team!

[2019-05-24 15:39] rviscomi commented on #24
Great! I've sent you an invite to @HTTPArchive/developers. You may need to go to https://github.com/HTTPArchive to accept if you don't see the email.

[2019-05-24 15:41] rwaldron commented on #3
Hello! @zcorpan shared this project with me and suggested that I might be interested in reviewing the JavaScript chapter—he was right, I _am_ interested!

[2019-05-24 15:45] rviscomi commented on #20
Added @henrisGH (Henri Helvetica) as an author 🎉 and invited to @HTTPArchive/authors

[2019-05-24 15:47] rviscomi commented on #3
Another Rick!
![image](https://user-images.githubusercontent.com/1120896/58340356-ab9d3680-7e19-11e9-9234-2104eb6bf1af.png)

Hello @rwaldron glad to have you on board! I've added you as a reviewer.

[2019-05-24 16:25] noahblon commented on #25
I like the idea of a static site generator such as Gatsby.  If we used [gatsby-mdx](https://github.com/ChristopherBiscardi/gatsby-mdx) - authors could write in markdown and we could embed react components for interactive components as needed.  This could be a really performant solution and allow for easy editing and development, after the initial setup.  What do you guys think?

That said, it may

[2019-05-24 17:57] ymschaap commented on #12
Re: SPA-only sites % (so which don’t support SSR)
So I tried multiple ways to expose SPA's without SSR but couldn't find a good Query without too many false positives. So I would drop that (it would've been interesting).

Looking at the Lighthouse SEO data, there might be some other interesting metrics.

@rviscomi Where do I make changes to the final list of metrics? The `Web Almanac Brainstorm` G

[2019-05-24 18:24] rviscomi commented on #12
This issue will be the canonical source of metrics, so feel free to use the doc to iterate then copy them here when you're ready.

[2019-05-24 18:31] pmeenan commented on #22
I just added a few connection-level fields to the WebPageTest data collection. They will only be reported for the first request on a given connection (same request that has the connect timings):

[code]

The June 1 crawl will include the data.  I didn't see any other TLS or H2 session-level settings exposed in the netlog but hopefully this helps.

[2019-05-24 18:51] rviscomi commented on #25
+1 to authoring in markdown. Only complication I can think of now is support for the data viz. I've had success with [Flask-Markdown](https://pythonhosted.org/Flask-Markdown/) before, which is how we render the [FAQ page](https://httparchive.org/faq) from the [faq.md file](https://github.com/HTTPArchive/httparchive.org/blob/master/docs/faq.md).

Not sure about React components though. I'm looking

[2019-05-24 18:53] rwaldron commented on #3
Excellent!

[2019-05-24 19:10] rviscomi opened #27 "Review all chapter metrics by analysts"
AI(@HTTPArchive/data-analysts): After June 3 when the metrics are finalized, they need to be reviewed to ensure that it's clear what the authors are looking for and their questions are answerable using the HTTP Archive dataset.

[2019-05-24 19:33] flowlabs commented on #2
@rviscomi Happy to peer review 1 or 2 from this list if you need any support?

5. Third Parties
7. Performance
15. Compression
16. Caching
17. CDN
18. Page Weight

[2019-05-24 19:46] bazzadp commented on #22
Wow thanks @pmeenan for the quick work! https://github.com/HTTPArchive/almanac.httparchive.org/issues/10 might be interested in these extra settings if doing any TLS analysis? Was TLS version new @pmeenan - surely that was captured before?

Good point! Would be interesting to see how many people use the HTTP preload header instead of HTML preload tag. And of those that do what percentage of those

[2019-05-24 19:53] pmeenan commented on #22
Yeah, the "securityDetails" included the TLS version so I guess I'm just capturing it at a differnt layer.

[code]

The ALPN/NPN info wasn't in the security details so I just went ahead and pulled all of the TLS data reported by the connection.

[2019-05-24 19:59] pmeenan commented on #22
If the netlog included the raw HTTP/2 frame events I could calculate the size of the HEADERS frame relative to the decoded headers but looking through the raw netlog events it doesn't look like it does. At best I could infer it from the socket bytes events right beside it but that may include other frames as well and feels too fragile.

[2019-05-24 20:06] rviscomi commented on #2
@flowlabs that would be great! The ones most in need of reviewers are Third Parties and Page Weight. I'll put you down for those. Thanks!

[2019-05-24 20:08] rviscomi commented on #20
Added @flowlabs as a reviewer 🎉

[2019-05-24 20:10] flowlabs commented on #2
@rviscomi Cool! Looking forward to helping :)

[2019-05-24 20:13] rviscomi commented on #8
@flowlabs I've added you as a peer reviewer here. Anything you'd add/change in @patrickhulce's list above?

[2019-05-24 21:04] Eccenux commented on #13
Note that Chrome/Blink requires an app to have a PNG image in the manifest of at least 144px in size. Only then it can be installed. So to be installable the manifest must contain at least the text `144x144` and `image/png`. Official criteria talk about 192 and 512px but they either don't check this or accept SVG too.

Anyway I think it would be interesting to know what types of icons and what siz

[2019-05-24 21:11] rviscomi commented on #13
@tomayac @jeffposnick I know you've both done some HA analysis in the past. Would you be interested in writing the queries for this chapter?

[2019-05-24 21:29] jensimmons commented on #4
I'm sorry, what is this? I'm not familiar with this project.

On Thu, May 23, 2019, at 4:39 PM, Rick Viscomi wrote:

[2019-05-24 21:41] rviscomi commented on #4
👋 Hey Jen! We're making a kind of ebook on the state of the web. There are 20 chapters spanning different areas of the web, written and reviewed by subject matter experts from the community. The goal is to release it annually with updated stats. You can learn more about it [here](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/README.md) and [here](https://discuss.httparchive.or

[2019-05-24 22:42] flowlabs commented on #8
Hi @rviscomi @patrickhulce

This looks really good so far. A few thoughts currently:

1. I see a lot of 3rd parties still not supporting H/2. This might be something to consider including if possible?

2. Categories for 3rd parties - is this the full list? Is it programmatically generated? If not, consider including Tag Management Systems, Retargeting, RUM (or keep this in Analytics or Developer U

[2019-05-25 01:32] tjmonsi commented on #25
I would also like a Flask / App Engine site as well with as little JS as
possible. I remember Paul Lewis did a similar thing with Chrome Dev Summit
site that uses a simple JS to load HTML from the Flask / App Engine site to
change the site's page to make it look like it is a single page app, but if
JS is "off" then it will revert back to loading it from the server. It
didn't use any clunky library

[2019-05-25 03:24] patrickhulce commented on #8
Great feedback @flowlabs thanks for your time helping out with this section!

Good thinking! Is the primary metric you're thinking here something along the lines of, "Percentage of H/2 requests that are third party requests broken down by resource type"?

The full list in the third party repo is
[code]

For this high-level summary it seemed better to consolidate some of these since at a certain po

[2019-05-25 05:55] bazzadp commented on #1
@rviscomi approximately how many metrics do you expect in a chapter?

The [original post](https://discuss.httparchive.org/t/planning-the-web-almanac-2019/1553) had the following:

So you thinking about 5 metrics in a chapter with a paragraph or two for each? Or 3? Or 10? Or 100? While it can of course depend on the topic and the author, I think it would be good to set a rough benchmark as a guidel

[2019-05-25 12:32] ymschaap commented on #12
Current list of metrics:

- Structured data rich results eligibility
- Lang attribute usage and mistakes
- <link> rel="amphtml" (AMP)
- <link> rel="next" (paged content) (question; is this relevant for homepages?)
- <link> hreflang="en-us" (localisation usage)
- Breakdown of type of structured data served (ld+json, microformatting, schema.org + what @type)?
- Indexability - looking at meta tags li

[2019-05-25 19:33] rviscomi commented on #1
@bazzadp great question. 10 metrics per chapter on average sounds like a good amount. It's a balance between being comprehensive while respecting authors' time and readers' attention.

And 1-2 paragraphs per metric SGTM. We want readers to understand the implications of each statistic but we don't need to be overly verbose to get the point across.

[2019-05-25 21:17] bkardell commented on #5
Nice! I see that I never suggested @zcorpan here apparently, but I know I did somewhere! Glad this worked out as I think he'd have been a better author even 😁

[2019-05-26 22:59] zeman commented on #9
I'd like to see additional performance metrics that reflect the user experience included as well. Metrics like start render, speedindex and hero times that capture what a user is actually seeing on screen.

Happy to be a reviewer if you're looking for more people.

[2019-05-27 07:04] voltek62 commented on #23
count me in too !

[2019-05-27 10:10] JMPerez commented on #9
I agree with adding a metric like SpeedIndex that gives some info about the overall loading experience. Combined with FID and FCP would give a better picture.

Hero times might be difficult to get. At Google I/O it was announced the Largest Contentful Paint (also Layout Stability). I assume both of them are in beta. If they are being tracked on HTTP Archive the Almanac could be a suitable way to s

[2019-05-27 16:48] obto commented on #9
1. How are we deciding what network speed to use? Averages published by places like opensignal (https://www.opensignal.com/market-analysis) can be helpful, but averages aren't very representative of how bad mobile data can be in congested areas or when you're in a low coverage area -- which happens a lot.

2. Putting more metrics in is always great but what's truly important is giving more context

[2019-05-27 16:48] obto commented on #9
Also, I think it'd be really valuable to have a quick Google Meet sometime in the next few weeks to bounce ideas off each other or just get on the same page. We'd accomplish a lot in just 20 minutes. Let me know.

[2019-05-27 16:59] obto commented on #7
This is a bit of a crossover with #9 but, for sites using Google Fonts... what percentage of them use 1 font, 2?, 3?, 4? Font here meaning a query for `family=Roboto:300,400,500,700` would be 4 different fonts.

Would like to see how this relates to overall page speed as well.

[2019-05-27 17:52] obto commented on #14
Here are some metrics I've been thinking about:

1. This is a subset of viewport scaling, but how many sites prevent users from zooming in?
2. Pasting into password fields
3. Sites not making permission requests for anything upon a page load. I feel this metric could be tweaked a bit still to be more impactful.
4. How well are sites using new(ish) native features on the web to simplify a users job

[2019-05-27 17:53] obto commented on #14
I proposed this for the #9 (perf chapter) as well, but I think it'd be really valuable to have a quick Google Meet sometime in the next few weeks to bounce ideas off each other or just get on the same page. We'd accomplish a lot in just 20 minutes. Let me know.

[2019-05-28 07:19] mnot commented on #19
It would be cool if you could measure different kinds of CDN --
* "offsite" CDNs for images, JS (e.g., jsDeliver)
* DNS-based CDNs (e.g., Akamai)
* Anycast-based CDNs (e.g., Edgecast, Fastly)

To differentiate the latter two, you'd need to make requests from two different points on the network; if the IP addresses are different, it's DNS-based; if they're the same but the latency is too low to be

[2019-05-28 07:26] mnot commented on #18
Would be interesting to see metrics on:
* Availability of `Last-Modified` vs. `ETag` validators
* Use of `Cache-Control: max-age` vs. `Expires`
* Use of `Vary` (how many dimensions, what headers, etc.)
* Use of other `Cache-Control` directives (e.g., `public`, `private`, `immutable`)

[2019-05-28 07:27] mnot commented on #22
It looks like this is in good hands; I'm going to put some suggestions in a few other places.

[2019-05-28 14:53] bazzadp commented on #22
Definitely! Or if you've any thoughts on what stats to measure then let us know.

[2019-05-28 15:15] rwaldron commented on #3
Thinking about possible metrics, but not sure what the limitations are, so anything that's easily dismissed, please do so...

- Appearance of new ECMAScript features, adoption growth over time
  - Some areas of particular interest for me are:
    - `Proxy` objects
    - `WeakSet` & `WeakMap` objects
    - Module code
    - `async`/`await`
    - `Atomics`/`SharedArrayBuffer`
    - `Intl.*` APIs
- U

[2019-05-28 16:30] mor10 commented on #16
Heyyyy... If you need a non-googler to review this, I'm here for it.

[2019-05-28 16:40] rviscomi commented on #16
Yes please! Thanks Morten!

[2019-05-28 17:27] ymschaap commented on #23
would like join as well.

[2019-05-28 17:30] rachellcostello commented on #12
Here's my feedback on the current list of metrics:

In response to your question @ymschaap - pagination won't usually be relevant for homepages, just sections of websites like category pages listing products or blog sections listing articles.

I wouldn't include the meta keywords tag as this isn't used by search engines anymore so it's become kind of obsolete. Page titles and meta descriptions sho

[2019-05-28 17:55] ymschaap commented on #12
Great, I updated the 'current list of metrics' with your remarks and will move it also in the 'brainstorm' doc.

[2019-05-28 20:48] rviscomi commented on #9
@zeman yes, it'd be great to have you as a reviewer! Thanks!

I was planning to draw from the Chrome UX Report dataset, which includes real user data for FP, FCP, DCL, OL, and FID.

Start render should be covered by FCP. SI and hero timing are good ideas. We'll have to be sure to clearly denote which metrics are measured in the field and which are from the lab.

HTTP Archive uses 3G throttling for

[2019-05-28 21:15] obto commented on #9
1. In regards to industry breakdowns, if we're ok with not classifying each site but instead using large enough samples... then there are several options available. The first one off the top of my head being Alexa. Happy to look into other providers.

2.  > seems like a question only an A/B test can reliably answer.

    Good point. It'd just be nice to know what changes tend to have the largest i

[2019-05-29 01:28] rviscomi commented on #8
Added @jasti, who has been thinking a lot about the state of third parties, as a reviewer 🎉

[2019-05-29 01:59] rviscomi commented on #4
@SaraSoueidan any interest in reviewing a post on the state of CSS? More info on the reviewer role [here](https://discuss.httparchive.org/t/planning-the-web-almanac-2019/1553).

Also, @jensimmons let us know if you're interested or have any other questions.

Your consideration is much appreciated!

[2019-05-29 04:51] rviscomi opened #28 "Ensure all contributors have accepted team invitations"
We have GitHub teams for each of the 4 roles: authors, reviewers, analysts, and developers. It's important that everyone who wants to contribute in these areas is on the team so they can be notified all at once using @[team] as needed.

All teams should be set up so that you can manually request to join. I should have also sent individual invitations to everyone who has expressed interest in a tea

[2019-05-29 13:22] andydavies commented on #19
Some other metrics to consider

- OCSP Support (is it universal amongst CDNs now?)
- main site vs static CDN for other resources? (some serve all their content through CDN, some still split)

[2019-05-29 15:52] RReverser commented on #3
Hello! I'd be happy to join as a peer reviewer too if you need any more eyes.

[2019-05-29 16:01] rviscomi commented on #3
@RReverser that would be great thanks! Adding you as a reviewer and sending you an invitation to the Reviewers team.

[2019-05-29 16:06] dotjs commented on #22
Happy to be added as a reviewer.

[2019-05-29 16:11] rviscomi commented on #22
Thanks @dotjs! Happy to add you as a reviewer. Is your first/last name public anywhere?

[2019-05-29 16:22] dotjs commented on #22
Yes,  Andrew Galloni - Updated my profile

[2019-05-29 17:36] rviscomi commented on #25
Thanks for the discussion everyone. I've created a Hello World application built with Flask in the [src directory](https://github.com/HTTPArchive/almanac.httparchive.org/tree/master/src).

@HTTPArchive/developers please make sure you can run it locally using the instructions in the readme and let me know if you run into any issues.

The next step will be to create some basic templates to deploy li

[2019-05-29 20:18] AVGP commented on #12
If there's still time / space, I'd be happy to review or help in whatever shape or form :)

[2019-05-29 20:19] AVGP commented on #12
also @ymschaap could we flag fragment URLS ("#") that are used to load different content in SPAs as problematic?

[2019-05-29 21:24] rviscomi opened #29 "Form a team of translators"
The Almanac will be published in English, but we want to make sure that _everyone_ can access and understand it.

I'd like to put together a team of translators to help make the Almanac available in as many languages as possible, prioritizing those with the largest developer communities. If you're interested, can you reply to this issue with the languages you're available to contribute?

The entir

[2019-05-29 22:07] rviscomi commented on #12
Yes would be great to have you Martin! Adding you as a coauthor, let me know if you'd prefer to review.

[2019-05-29 22:14] AVGP commented on #12
Awesome, thanks @rviscomi - I'd love to help author it :)

[2019-05-29 22:35] rviscomi commented on #29
Here are the top 10 `html[lang]` codes of web pages ([per HTTP Archive!](https://discuss.httparchive.org/t/what-are-the-invalid-uses-of-the-lang-attribute/1022/5?u=rviscomi)), not counting `null` which is second most popular:

Language | Lang | Count | Percent
-- | -- | -- | --
English | en | 1571474 | 39.82%
  | _null_  | 1095890 | 27.77%
Japanese | ja | 188711 | 4.78%
Spanish | es | 160215 | 4.0

[2019-05-29 23:03] patrickhulce commented on #8
@soulgalore, @zeman would either of you be interested in peer reviewing this effort too?

[2019-05-29 23:08] zeman commented on #8
@patrickhulce sure thing!

[2019-05-29 23:56] zeman commented on #9
@pmeenan has enabled hero rendering times for the next HTTPArchive crawl so there are metrics like first/last painted hero or H1 rendering time we'll be able to use to represent/compare when users actually see important content on the page.

Hero rendering times do have some important caveats around animated content and overlapping content that I'm happy to help write up.

[2019-05-30 00:00] rviscomi commented on #9
Nice! @zeman I'd be happy to add you as a coauthor and you can take the lab-based performance metrics. WDYT?

[2019-05-30 00:18] zeman commented on #9
@rviscomi sure, happy to take a crack at it and do a first pass assuming there's help with querying the data.

[2019-05-30 00:23] rviscomi commented on #9
Great! Yes, we're forming a team of data analysts to offload the query work from the authors. See #23

[2019-05-30 00:27] rviscomi commented on #4
@una @argyleink any luck finding reviewers on your end?

[2019-05-30 06:03] mikegeyser commented on #25
I can confirm that I can get it running. Not sure if python version matters, but I had to use pip3 instead of pip (pretty sure that's a 'me' problem)?

Another (really trivial) thing, but the paths in the `README.md` file assume that it is in the repo's root, which at the moment it isn't. So commands like `pip install -r src/requirements.txt` should be `pip install -r requirements.txt`.

~A few~ M

[2019-05-30 06:07] rviscomi commented on #25
Great questions. For now since it's a very minor change go ahead and push
the path fix to master. I'll get back to you soon about the rest.

On Thu, May 30, 2019, 2:03 AM Mike Geyser <notifications@github.com> wrote:

[2019-05-30 07:51] MSakamaki commented on #29
Hi, I can gladly help translate Japanese.

[2019-05-30 07:59] MSakamaki commented on #24
@rviscomi  I want to help UI development!

[2019-05-30 10:17] ymschaap commented on #12
@AVGP initially SPAs and their implementation were on the list, but I couldn't figure out a reliant way to flag those. But yes, lets now add fragment URLs in there and maybe we can find a query to get the right data out.

[2019-05-30 12:07] kornelski commented on #6
👋

[2019-05-30 16:06] rviscomi commented on #29
@MSakamaki that's great, thank you! I've started a prioritized list in the original post and added your name for Japanese.

[2019-05-30 17:06] rviscomi commented on #6
Hey @kornelski, would you be interested in reviewing this chapter?

[2019-05-30 17:11] rviscomi commented on #24
Added. Thanks @MSakamaki!

[2019-05-30 17:42] rviscomi commented on #25
I've created a [team wiki page](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Developers'-Guide) where we can memorialize some of these FAQ. Feel free to help move them over 😄

Here are my versions:

[code]

GVR just tweeted a reminder about Python 2 reaching end-of-live next year, so it would probably be wise to rely on Python 3.

Incremental improvements to the README/documentation

[2019-05-30 22:01] bazzadp commented on #22
I've updated the stats to the following:

- Adoption rate (by site =~ 35% and by requests)
- Measure of all HTTP versions (0.9, 1.0, 1.1, 2) for all sites.
- Measure of all HTTP versions (0.9, 1.0, 1.1, 2) for HTTPS sites.
- Number of HTTP (not HTTPS) sites which return `upgrade` HTTP header containing `h2`
- Number of HTTPS sites using HTTP/2 which return `upgrade` HTTP header containing `h2`
- N

[2019-05-30 22:06] bazzadp commented on #10
Happy to help review this section if you want, as looks like you are light on reviewers?

[2019-05-31 00:28] rviscomi commented on #10
That'd be great, thanks @bazzadp!

[2019-05-31 08:46] dotjs commented on #23
Would like to help

[2019-05-31 15:34] dotjs commented on #22
My suggestions

- Percentage of requests over h2 compared to h1
- Number of requests per TCP connection by type and for h2 how many hosts.
What I would like to get handle on is how many connections and what type are utilised for various performance measures.

Server push
-  bytes by content type. Interested in what is being pushed
-  number of client resets
-  number of no push headers sent

HPACK

[2019-05-31 16:13] ghedo commented on #10
Other metrics that could be interesting (though I don't know how feasible it would be to collect them):
* Count of sites that support TLS 1.3 0-RTT
* Distribution of certificate types (ECDSA vs. RSA)
* Count of sites that only support legacy TLS versions (1.0, 1.1). This could be useful as input to https://datatracker.ietf.org/doc/draft-ietf-tls-oldversions-deprecate/
* Count of sites that only su

[2019-05-31 20:34] Yonet commented on #6
@rviscomi I think "Emerging" section makes sense since you still have to turn on experimental flags to be able to use WebXR.

[2019-05-31 20:41] rviscomi commented on #6
Agreed. What stats would you want to use to summarize the state of XR?

[2019-05-31 20:57] rviscomi opened #30 "Initialize backend App Engine project"
- [x] create a project on GCP
- [x] set up App Engine
- [x] map the `almanac.httparchive.org` subdomain to the App Engine instance

[2019-05-31 20:59] rviscomi commented on #30
https://almanac.httparchive.org/ exists, but it 404s now because we haven't deployed anything yet.

I think we might also want to create a staging App Engine project to have a publicly accessible URL to QA test pre-prod changes. @HTTPArchive/developers any thoughts on that?

[2019-05-31 22:28] moos commented on #3
@rwaldron: been thinking the same. I'd add arrow functions, spread operator, classes, generators.  I've seen the JavaScript language improve but also become a bit bloated over the years.  It's be nice to see the adoption trends of these new language features.

[2019-05-31 23:27] mnot commented on #22
Capturing the mix of h2 and h1 on a single page load would also be interesting, as would the total number of connections per page load in relation to that.

[2019-06-01 00:25] rviscomi commented on #22
Not familiar with server push or how it appears in WPT results. Two questions:

1. What are the distinguishing characteristics of a pushed resource?
2. When the client attempts to use a pushed resource, is there some kind of artifact left in the network logs, similar to how a 304 response tells the client to use what it has in cache?

[2019-06-01 00:58] KJLarson commented on #25
The Hello World application worked for me!

FYI...this is my first really collaborative GitHub project with other people, so I may be asking lots of questions. As I try to figure stuff out.

[2019-06-01 01:06] rviscomi commented on #25
@KJLarson great to hear it's working for you! Getting a new project set up is usually the biggest hurdle, so it should be smooth sailing from here.

Everyone here is coming from various backgrounds and experience levels, so chances are there's going to be someone else with the exact same question as you. Don't hesitate to ask about anything and I know we'd all be glad to answer.

[2019-06-01 01:14] rviscomi opened #31 "Add analytics script"
This Google Analytics tracking script needs to be added to the document head of the base template for every page.

[code]

This issue is blocked on creation of the base template in #25.

[2019-06-01 03:03] rviscomi commented on #10
Thanks @ghedo! I've added you as a reviewer and sent you a team invite.

[2019-06-01 09:48] bazzadp commented on #10
Those are all great stats to know @ghedo but I would caution the authors to be careful to not make it just about SSL/TLS. That’s very important obviously but we all know there is more to security than just that. Other resources (e.g. https://www.ssllabs.com/ssl-pulse/) measure nutty gritty details of SSL/TLS usage well for those of us really interested in the deep down detail of this.

In another

[2019-06-01 10:06] bazzadp commented on #10
Oh an other point (and counter argument to my points above!) is some stats will probably throw out a few surprises, so we should also be careful not to limit ourselves too much either on stats because of preconceived ideas of what they will show. Can always exclude stats in final report if doesn’t show anything interesting.

[2019-06-01 10:13] ghedo commented on #10
@bazzadp I agree with you, and indeed I tried to list more general metrics (e.g. "sites that support modern/legacy ciphers"), rather than more specific ones (e.g. "distribution of specific ciphers"), though there's probably margin for improvement. Happy to discuss this more to try and get the list more focused (it's also likely that some of the metrics I proposed can't be easily collected anyway).

[2019-06-01 10:29] ghedo commented on #19
To expand somewhat on the "main site vs static CDN" point, it might also be useful to see how many different CDNs sites use (when different resources are served by different CDNs).

[2019-06-01 10:37] bazzadp commented on #10
Agreed. Gonna be a tough call to cull down to a list of just 10 or so metrics!

[2019-06-01 10:44] ghedo commented on #19
And on the "Cwnd growth rate" point, also having initial cwnd size might give a better picture.

In addition having some form of RTT measurement would probably help put the other timing metrics into perspective.

[2019-06-01 11:35] bazzadp commented on #22
Incorporated some of these.

@dotjs some comments ion yours:
- "number of client resets" not sure HTTP Archive would be best measure of this as it's a crawler and presumably crawls with an empty cache? Think we'd need some sort of RUM measurement here (Moxilla Firefox Telemetry?) to get a meaningful stats out of this.
- "table sizes" not sure how to measure these, or what you're trying to get out

[2019-06-01 13:35] rviscomi commented on #10
Don't feel limited by the 10 metrics suggestion. If you think 25 is manageable, go for it! That said, I do think you want to dedupe similar metrics so your report is holistic and easy to read.

[2019-06-01 20:12] bkardell commented on #19
@mnot could we check the request header to see if there is a modified-since or etag or something?

[2019-06-02 22:51] mnot commented on #19
Well, you can look at `Age` and `Date` to get a sense of whether it was cached at some point, but of course that only applies to _this_ request; the overall hit rate is something you can really only measure from the cache's point of view.

I'm not sure whether that's a useful thing to measure or not; it certainly would be interesting, but the wouldn't be much signal, and people would likely misint

[2019-06-03 02:58] bkardell commented on #19
Oh wait.. none of these are coming from real use anyways..nm, what I was saying makes absolutely no sense.

[2019-06-03 12:07] kornelski commented on #6
@rviscomi Yes, if you have any questions about images/compression/optimization I'm happy to help.

[2019-06-03 14:47] dotjs commented on #22
I was considering the encoding table sizes. For nginx there is a patch that sets the default table size to 4096 https://github.com/cloudflare/sslconfig/blob/hpack_1.13.1/patches/nginx_1.13.1_http2_hpack.patch
for example.

[2019-06-03 16:29] paulcalvano commented on #18
Few more ideas
* 1st Party vs 3rd Party Caching
* Public vs Private
* Use of must-revalidate
* Service Worker caching
* AppCache usage  (hopefully low)

[2019-06-03 16:34] #31 closed

[2019-06-03 16:37] paulcalvano commented on #17
* Compression by Content Type
*

[2019-06-03 16:58] rviscomi commented on #9
@zeman @JMPerez @obto hoping to finalize the metrics for this chapter today. Could you give it a quick look at let us know if there's anything you'd change?

[2019-06-03 17:08] obto commented on #9
I'll be giving every chapter I'm a part of a final look through again tonight

[2019-06-03 17:11] rviscomi commented on #6
Thanks @kornelski, I've added you as a reviewer and sent you an invitation to join the Reviewers team.

@colinbendell @dougsillars @Yonet @kornelski @ahmadawais  I've pulled in the list of metrics from the brainstorming doc and edited them into the first post of this issue. Please take a look and let us know what you'd change. Today is the last day to change metrics before we hand things off to th

[2019-06-03 17:13] rviscomi commented on #25
The coming soon page has been deployed at https://almanac.httparchive.org. Thanks @mikegeyser! This issue can be closed now. I'll be filing new issues for all other development team tasks.

[2019-06-03 17:13] #25 closed

[2019-06-03 17:35] rviscomi commented on #22
@bazzadp thanks for the context. It sounds like detecting unused pushes _should_ be possible using the resource metadata in HTTP Archive.

- [x] access to headers to detect `SERVER PUSHED`
- [x] access to request initiators to detect used pushes
- [x] access to headers to detect preload

So we can check for resource that have been pushed but not initiated or preloaded.

@pmeenan does this sound ac

[2019-06-03 19:50] ahmadawais commented on #6
@rviscomi everything looks on point 👍

**Suggestion**: Can we have a sub-category metric to see how websites use SVGs. Especially when it comes to tools like SVGO that optimize SVGs by removing comments and certain other stuff. Not sure if it's doable.

[2019-06-03 19:51] rviscomi commented on #6
Sure, authors/reviewers are free to organize their chapter as they see fit. What metrics would you like to see in an SVG category? That would help us determine whether it's doable.

[2019-06-03 20:00] ahmadawais commented on #6
I'd like to be able to see how optimized SVGs are? Are there SVGs with hidden layers and raster images in them. Not sure how that would work, but doing a mass check against SVGs with rules like ones [mentioned here](https://gist.github.com/jaydenseric/1b4cc45a61171ff80d2e8ac49527e515) with a [SVGO](https://github.com/svg/svgo) could be a useful metric.

[2019-06-03 20:36] bazzadp commented on #22
Yeah, as I say I was aware of that and so I tested that on an unpatched Nginx, expecting a table size of 0 in the initial connection settings but didn't see that. I presume therefore that, without this patch, Nginx handles indexed headers on incoming requests, but just doesn't use them on responses? If so there is no need to explicitly set a table size of 0 if it never uses "indexed header" type i

[2019-06-03 20:43] bazzadp commented on #22
Excellent if that's the case! I've left that in there as one of the metrics. So that list in the first comment is all I can think of, so have marked the "Finalise metrics" tickbox as done.

If anyone has any other comments or suggestions in next few hours (or even if after!), then let us know.

@rviscomi should I close this issue?

[2019-06-03 20:48] rviscomi commented on #22
Woohoo, I think you're the first author to finish your metrics (even before me! 😅). Yes, we're ready to close this issue.

Next step will be for the analysts to review your metrics more carefully. That process will happen on the HTTP Archive discussion forum at https://discuss.httparchive.org. For now, it would be great for you to create an account there if you haven't already so we can @ you in t

[2019-06-03 20:58] bazzadp commented on #22
Done. My username in there is "tunetheweb". Probably should change my GitHub username too to match what I more commonly go by nowadays, but have it referenced in a few places so would prefer not to. Hope it doesn't cause too much confusion!

[2019-06-03 20:58] #22 closed

[2019-06-03 22:44] rviscomi commented on #3
@addyosmani @housseindjirdeh @mathiasbynens hoping to have the metrics for this chapter finalized today. We have a scant 3 metrics so far, not counting the suggestions in https://github.com/HTTPArchive/almanac.httparchive.org/issues/3#issuecomment-496561351. Aiming for 10 metrics per chapter, but I think JS is such a big/important topic that it could easily be 20 or 30 chapters (not so bad with 3

[2019-06-03 23:43] zcorpan commented on #5
Another idea for a metric, though I don't know if it would be difficult to implement:

* [Parse errors](https://html.spec.whatwg.org/multipage/parsing.html#parse-errors) (by error code)

One way would be to add use counters for each parse error in Chromium's HTML parser. Another way (likely simpler) would be to run the response body through an HTML parser that can log parse errors.

[2019-06-03 23:46] rviscomi commented on #5
Yeah that sounds good. Use counters would actually be the easiest thing, from the analysis perspective. Any kind of secondary data pass would be adding a lot of complexity.

[2019-06-03 23:54] rviscomi commented on #5
@bkardell hoping to have the list of metrics finalized today. Could you take one last pass through the list of metrics (here or in the [doc](https://docs.google.com/document/d/1sCIMeErYvaQb5x9Acdb6ImYdn0-buHRhYGvz2HoysmM/edit?usp=sharing)) and update it with whatever we're missing?

[2019-06-04 00:01] rviscomi commented on #8
@patrickhulce hoping to finalize metrics for all chapters today. This one LGTM, just want to make sure you're happy with the current list. I've updated https://github.com/HTTPArchive/almanac.httparchive.org/issues/8#issue-446805856 with the latest metrics.

[2019-06-04 00:08] rviscomi commented on #7
@davelab6 @zachleat We're hoping to finalize all chapters today. I still need a couple of things from you. Please go to https://github.com/HTTPArchive and accept the invitation to join the Authors team. This ensures that you get author-specific communications, I can assign issues to you, and you can edit issues like this one. Once you've done that, could you edit https://github.com/HTTPArchive/alm

[2019-06-04 00:18] rviscomi commented on #10
@arturjanc @ScottHelme we're hoping to finalize the metrics for each chapter today. Can you look through https://github.com/HTTPArchive/almanac.httparchive.org/issues/10#issue-446806026 and modify it to include anything we're missing? @ghedo made a bunch of suggestions in https://github.com/HTTPArchive/almanac.httparchive.org/issues/10#issuecomment-497769163 that should be merged if they LGTY.

@p

[2019-06-04 00:21] patrickhulce commented on #8
Yep I'm pretty happy with it! @flowlabs's points are good ones but thornier to execute so we can leave those for a future iteration.

[2019-06-04 00:34] rviscomi commented on #12
@rachellcostello @ymschaap @AVGP @clarkeclark @andylimn @voltek62 if everyone's happy with the current list of metrics in https://github.com/HTTPArchive/almanac.httparchive.org/issues/12#issue-446806234 could you tick the final TODO checkbox item and close this issue? Thanks!

[2019-06-04 00:38] rviscomi commented on #13
@tomayac @jeffposnick @hyperpress if everyone is happy with the list of metrics in https://github.com/HTTPArchive/almanac.httparchive.org/issues/13#issue-446806272 could you tick the checkbox and close this issue? I'd also recommend finding at least one more peer reviewer if possible.

@hyperpress also, please accept your invitation to join the reviewers team.

[2019-06-04 00:41] rviscomi commented on #14
@slightlyoff @obto @hyperpress we're hoping to finalize the list of metrics for each chapter today. Could you edit https://github.com/HTTPArchive/almanac.httparchive.org/issues/14#issue-446806301 and add any outstanding metrics to the list? It would also be good to have at least one more reviewer. When these are completed, please tick the last two checkboxes and close this issue. Thanks!

[2019-06-04 00:46] hyperpress commented on #13
I don't remember seeing an invite. Can you direct me to the correct
location, or resend it to me? Thanks very much.

[2019-06-04 00:49] rviscomi commented on #15
@samdutton @alankent @voltek62 we're hoping to finalize the reviewers and metrics for each chapter today. PTAL at https://github.com/HTTPArchive/almanac.httparchive.org/issues/15#issue-446806335 and edit it with anything that's missing. When it's in good shape, tick off the remaining checklist items and close this issue. Thanks!

[2019-06-04 00:56] rviscomi commented on #16
@amedina @westonruter @mor10 @sirjonathan We're hoping to finalize the metrics for each chapter today. I've updated the list at https://github.com/HTTPArchive/almanac.httparchive.org/issues/16#issue-446806364 with what was in the [brainstorming doc](https://docs.google.com/document/d/1sCIMeErYvaQb5x9Acdb6ImYdn0-buHRhYGvz2HoysmM/edit#heading=h.gplkcsp88rco). If it looks good to everyone, please tic

[2019-06-04 00:58] rviscomi commented on #17
@paulcalvano	@yoavweiss @colinbendell we're hoping to finalize the metrics for each chapter today. Could you edit https://github.com/HTTPArchive/almanac.httparchive.org/issues/17#issue-446806384 and update it with anything that's missing? We're aiming for 10 or so metrics per chapter. When that's done please tick the last TODO checkbox item and close this issue. Thanks!

[2019-06-04 01:00] rviscomi commented on #18
@paulcalvano	@yoavweiss @colinbendell we're hoping to finalize the metrics for each chapter today. Could you edit https://github.com/HTTPArchive/almanac.httparchive.org/issues/18#issue-446806416 and update it with anything that's missing? I see a bunch of other metrics were discussed in the comments. When that's done please tick the last TODO checkbox item and close this issue. Thanks!

[2019-06-04 01:02] rviscomi commented on #19
@andydavies @colinbendell@yoavweiss @paulcalvano @pmeenan we're hoping to finalize the metrics for each chapter today. Please take one last look at your official list of metrics in https://github.com/HTTPArchive/almanac.httparchive.org/issues/19#issue-446806453 and add anything that's missing. Once done, please tick the last TODO checkbox and close this issue. Thanks!

[2019-06-04 01:06] rviscomi commented on #20
@khempenius @henrisgh @paulcalvano @flowlabs we're hoping to have the list of metrics for each chapter finalized today. There are only 3 metrics listed for this chapter at https://github.com/HTTPArchive/almanac.httparchive.org/issues/20#issue-446806483. Could you take one last look and when you think it's in a good place tick the last TODO checkbox and close this issue? Thanks!

Also @henrisgh cou

[2019-06-04 01:09] rviscomi commented on #21
@khempenius @yoavweiss @andydavies @addyosmani we're hoping to finalize the list of metrics for each chapter today. Could you take a look at the metrics at https://github.com/HTTPArchive/almanac.httparchive.org/issues/21#issue-446806508 and tick the last TODO checkbox and close this issue if you're happy with it? Thanks!

[2019-06-04 01:19] rviscomi commented on #13
@hyperpress sure, just resent the invitation. You can also accept it at https://github.com/HTTPArchive. Thanks!

[2019-06-04 01:23] hyperpress commented on #13
Done. Thanks again. I'll dig into the rest tomorrow. Looking forward to
collaboration ahead.

[2019-06-04 01:23] rviscomi commented on #28
🛎 Gentle ping for the following people to please accept your team invitations:

  @Yonet
  @davelab6
  @zachleat
  @ScottHelme
  @henrisgh
  @rwaldron
  @zcorpan
  @simonhearne
  @jasti
  @hyperpress
  @JMPerez
  @zeman
  @clarkeclark
  @mor10
  @rmarx
  @dotjs
  @fhoffa
  @dotjs
  @gustavofsantos
  @matijagrcic

Check your inbox or visit https://github.com/HTTPArchive to accept. Thank you!

[2019-06-04 01:44] obto commented on #11
@rviscomi Just edited and added a few more things to the google doc. After the couple questions I posed to the group are answered we're good to go.

[2019-06-04 02:34] obto commented on #14
@slightlyoff @hyperpress @rviscomi I have updated the list of metrics. Any thoughts?

Notes:
+ I removed "RWD" as I feel I've covered that through all the other individual metrics
+ Best way I could think of testing if a site has had effort put into being made responsive, is testing if there are any css breakpoints <= 600px. Does this sound reasonable?

[2019-06-04 02:35] rviscomi opened #33 "Triage all proposed metrics (396 of 396 done)"
**Assigned**: @HTTPArchive/data-analysts team

# Due date: No later than [July 1](https://github.com/HTTPArchive/almanac.httparchive.org/milestone/2)

Any metrics that require augmenting the test infrastructure (eg custom metrics) must be ready to go when the July crawl starts. This ensures that when the crawl completes at the end of July, we can query the dataset and pass it off to authors for in

[2019-06-04 02:37] ScottHelme commented on #28
@rviscomi I believe I have, did I miss something?

[2019-06-04 02:37] #2 closed

[2019-06-04 02:38] #1 closed

[2019-06-04 02:45] khempenius commented on #20
TLDR; I'll take care of updating & closing this issue. For those curious below was my thought process on this:

I thought the entire analysis and writeup was due today so these were the metrics I ended up already calculating:
- Distribution of resource size: (p10, p25, p50, p75, p90) x (total, JS, CSS HTML, Fonts). In addition, how this has changed over the past year.
- Distribution of resource qu

[2019-06-04 02:46] ScottHelme commented on #10
Will the data be able to provide this given the requirement for a second, resumed connection?

Similar to above, it'd have to connect twice with a preferred suite at the top for each key type to know if a host was exclusively using ECDSA/RSA or just one key type for auth. Also need to know the client advertised suites on the connection.

Agred, given the pending deprecation these would be worrying

[2019-06-04 02:46] rviscomi commented on #28
You're good @ScottHelme sorry for the false alarm. I edited the names in the ping but not before the notifications already went out. Thanks for being on top of it!

[2019-06-04 02:49] #20 closed

[2019-06-04 02:51] ScottHelme commented on #10
I'd like to suggest the inclusion of more headers than CSP, HSTS and FP. As a minimum suggestion:

- Referrer Policy

In addition to that some of the older 'x-based' headers:

- X-Content-Type-Options
- X-Xss-Protection
- X-Frame-Options

Given how new they are I think it'd be intersting to see features around the new Reporting API and other security related monitoring mechanisms:

- Report-To
- N

[2019-06-04 02:52] rviscomi commented on #20
No just the metrics are due today 😅 See [this timeline](https://docs.google.com/spreadsheets/d/1LR29JpI2XJSjan_z6uP1YpRy4EYYivYZPqCIG-9sfFY/edit?usp=sharing) for a better idea of when everything comes together.

Thanks for closing this out Katie!

We do have historical data but no guarantee that the pre-H2 data exists for a given page. The URL corpus thrashed quite a bit over the last year as we t

[2019-06-04 02:57] rviscomi commented on #10
@pmeenan could you do a quick sanity check on the metrics suggested here that the Chrome profile is able to capture them? For example, I think I recall OCSP stapling detection only being available in Firefox agents.

Is having two requests on the page over the same TLS 1.3 connection sufficient? If so yes it's something we can measure. If it requires a second page view then no.

[2019-06-04 03:15] rviscomi commented on #4
The median chapter has 9 metrics. This chapter has 40 metrics, which is awesome but I'm worried that it would be too much to write about.

For reference, each metric would probably translate to 1-2 paragraphs in the written report. If that sounds like more writing than you can handle, I'd suggest either trimming off any lower priority metrics or seeking an additional coauthor to help with the writ

[2019-06-04 03:48] hyperpress commented on #13
I've reached out to peers over in @polymer Lit General Channel to see if we can add another reviewer. But I believe metrics look good for moving ahead, and for closing the issue for now. We can adjust if need be.

[2019-06-04 03:48] #13 closed

[2019-06-04 03:51] hyperpress commented on #14
I've reviewed the current list and it looks good to move ahead with the current list. Ba

[2019-06-04 04:03] hyperpress commented on #7
@rviscomi - I think we are ready to close this unless we need to wait until invitation accepted. I'm going to close it to stay on schedule, but we can reopen if need be.

[2019-06-04 04:38] rviscomi commented on #14
Not sure if @slightlyoff has had a chance to look over the metrics yet.

[2019-06-04 04:43] rviscomi commented on #20
Two other things came to mind:

If you're interested in writing the queries for this chapter, can I also add you to the [Data Analyst](https://github.com/HTTPArchive/almanac.httparchive.org/issues/23) team? Would you also be interested in writing the queries for #21?

In case you have an early draft ready to go, that might actually be helpful as a placeholder for the UX teams to start exploring da

[2019-06-04 05:23] hyperpress commented on #14
Sorry I jumped the gun :-P

[2019-06-04 05:39] bazzadp commented on #10
What about pages being marked insecure?

- HTTP (not HTTPS) pages with Credit Card or Password fields.
- HTTP (not HTTPS) pages with any input fields.
- HTTPS pages with mixed content.

As mentioned above, I’d also like more non-HTTPS related stats. Here’s ones I can think of:

- Amount of 3rd party content
- Ads or Trackers per page (more privacy than security but can cause security issues and si

[2019-06-04 05:43] rviscomi commented on #10
Vulnerable JS libraries is thankfully available as a Lighthouse audit.

As for CSP, +1 to everything. I'm also curious about policy length which might be an indicator of indiscriminate generation by some plugin/tool versus smaller more hand-crafted policies. It could also be a symptom of having too many third parties, so splitting by that dimension could be interesting.

[2019-06-04 05:45] rviscomi commented on #10
Can someone take a stab at coalescing all of the suggested metrics into the top comment?

[2019-06-04 06:31] tanhengyeow commented on #24
Hi @rviscomi !! I'll be happy to help with the development side 😄

[2019-06-04 07:17] zcorpan commented on #5
OK, though it might not be trivial to add error reporting to Chromium's HTML parser since it currently doesn't care about any errors (I believe). For example, it could require adding new branches in the state machine to be able to differentiate between things that are errors vs non-errors but otherwise have the same effect. So there's a risk of regressing performance and risk of introducing new bu

[2019-06-04 07:21] bazzadp commented on #10
I’d say the opposite - the longer the policy, the more likely it’s been custom generated. Case in point: https://securityheaders.com/?q=twitter.com&followRedirects=on. But yeah think it would be good to see some
metrics on length.

Will leave @arturjanc and @ScottHelme to do that. Think I saw on Twitter that Scott is travelling at the mo.

[2019-06-04 07:41] #12 closed

[2019-06-04 08:05] dougsillars commented on #23
I can help with data analysis too

[2019-06-04 08:06] ghedo commented on #10
@ScottHelme it was probably worded wrong, but what I meant with the "Count of sites that support modern/legacy ciphers" as well as certificate types and forward secrecy, was to check what the site negotiates by default, so we would just need a single connection, so no need to scan for the whole configuration (like SSL Labs does).

That is, given, say, a browser with a modern TLS configuration, but

[2019-06-04 08:35] beouss commented on #23
Sign me in

[2019-06-04 08:44] Mehedihasan-wp commented on #24
I Would Love To join your project
It Will Be An Amazing Experience

[2019-06-04 09:25] yoavweiss commented on #21
Belatedly updated some metrics. I think we want to try to detect sites that are using hints wrong:
  - Preloading fonts/fetches without a crossorigin attribute
  - Preloading more than X resources
  - Preloading non-critical resources before render blocking ones
  - Preconnecting to too many hosts

I'm not sure if these should be metrics on their own, or we can use collected metrics to conclude th

[2019-06-04 10:24] zeman commented on #9
@rviscomi I was assuming that all the existing HTTP Archive metrics are available as well. But if we need to list them then here's the other important ones I'd want to look at. I wouldn't necessarily write about all these, but I'd like to explore the data to see if there are interesting correlations.

Hero times: Largest Image
Hero times: Largest Background Image
Visually Complete
First CPU Idle
T

[2019-06-04 11:47] voltek62 commented on #12
The current list of metrics is perfect.

[2019-06-04 12:07] bkardell commented on #23
I created the custom metrics to capture the data, but I don't recall volunteering to write queries and I don't think I have the time just now.

[2019-06-04 13:24] tjmonsi commented on #33
Copy will do this

On Tue, Jun 4, 2019, 11:05 Rick Viscomi <notifications@github.com> wrote:

[2019-06-04 14:32] arturjanc commented on #10
I'm a little late to the party but I wanted to add some more metrics and a few comments. Hopefully we can afterwards integrate all the ideas into a more coherent list as @bazzadp suggested above.

Some more security features, primarily focused on isolation (their use will be low this year):
- [`Cross-Origin-Resource-Policy`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cross-Origin-Re

[2019-06-04 15:36] c-torres commented on #29
Hi, I would like to help with the Spanish translation!

[2019-06-04 16:31] khempenius commented on #20
Yes, you can put me down for writing the queries for this chapter. I'll let
someone else pick up #21.

On Tue, Jun 4, 2019 at 12:43 AM Rick Viscomi <notifications@github.com>
wrote:

[2019-06-04 16:47] Yonet commented on #6
@rviscomi thank you! I am looking to see what data I am able to get as far as adaption.

[2019-06-04 16:57] amedina commented on #16
@mor10 Can you go over the CMS section [here](https://docs.google.com/document/d/1sCIMeErYvaQb5x9Acdb6ImYdn0-buHRhYGvz2HoysmM/edit#heading=h.gplkcsp88rco)?

/cc @westonruter

[2019-06-04 17:39] samdutton commented on #15
Still confirming reviewers — apologies for delay. Metrics finalized.

[2019-06-04 18:19] rviscomi commented on #24
Thanks @tanhengyeow @Mehedihasan-wp! I've invited you both to the developers team. You can accept the invite at https://github.com/HTTPArchive or via email.

@Mehedihasan-wp are you able to add your full name to your GitHub profile so we can credit you in the Almanac?

[2019-06-04 18:24] rviscomi commented on #21
That's a good list, thanks @yoavweiss. Could you take a go at rephrasing the metrics to be more quantifiable? For example "% of websites that preload more than X resources" where X is defined. Just want to make sure that the data extracted by the analyst team matches your expectations.

[2019-06-04 18:34] rviscomi commented on #9
Thanks @zeman! Yes all HTTP Archive metrics are fair game. Keep in mind that each metric we list here will need to be queried by the [Data Analyst](https://github.com/HTTPArchive/almanac.httparchive.org/issues/23) team, so it'd be good to narrow it down as best we can.

For lab metrics, I think we can drop timing metrics like FP, FCP, DCL, OL which are available in CrUX. Lab timing data also tends

[2019-06-04 18:42] rviscomi commented on #12
Thanks everyone!!

[2019-06-04 18:46] rviscomi commented on #23
@dougsillars @beouss thanks! Invited you both to the Analyst team. You can confirm/accept by visiting https://github.com/HTTPArchive. (Doug's invite should have been accepted automatically, as a member of the org already).

@beouss are you able to add your full name to your GitHub profile so we can give you credit in the Almanac?

@bkardell no worries, thanks for your help with the custom metrics!

[2019-06-04 18:57] rviscomi opened #34 "Create an almanac_sample dataset"
@HTTPArchive/data-analysts

It'd be helpful to have a sample dataset of ~1000 pages to try out queries and play with the data to see what types of metrics are possible.

The dataset should contain tables for each of the different data types:

`httparchive.almanac_sample.`
- `blink_features`
- `lighthouse_mobile`
- `requests_` [desktop, mobile]
- `response_bodies_` [desktop, mobile]
- `summary_page

[2019-06-04 19:01] paulcalvano commented on #34
Sure -   I’ll work on this tonight.

[2019-06-04 19:05] rviscomi commented on #29
Thanks @c-torres! I've put your name down for Spanish and sent you an invite to join the Translators team. You can accept via email or visiting https://github.com/HTTPArchive.

[2019-06-04 19:14] rviscomi commented on #20
Great thanks! Added you as an editor to the [Metrics Triage](https://docs.google.com/spreadsheets/d/1LR29JpI2XJSjan_z6uP1YpRy4EYYivYZPqCIG-9sfFY/view#gid=1602216523) sheet and put your name down for this chapter's metrics. More info about triaging in #33.

[2019-06-04 19:17] rviscomi commented on #15
Thanks @samdutton!

[2019-06-04 19:48] andydavies commented on #21
@yoavweiss In your pattern of "sites doing it wrong" you might want to look at how many are using multiple async CSS with preload - came across a few sites doing it and it's non-deterministic

Can you also look at how many are still using AppCache ;-p

[2019-06-04 19:49] andydavies commented on #19
@colinbendell @yoavweiss @paulcalvano @pmeenan

I've updated but feel free to adjust what I've done

[2019-06-04 20:34] pmeenan commented on #19
I added a few more. Otherwise mostly looks good (not sure cwnd will be measurable though). Also have to be careful with ttfb (static vs dynamic resources and how busy the browser is at the time if it isn't the base page).

[2019-06-04 20:36] paulcalvano commented on #19
This looks good. A few quick suggestions though:

* I would remove CDN TTFB since this is largely dependent on each site's application performance.  Also since this is a single measurement per measured site the performance numbers might be misleading.
* I'm don't think we'll be able to look at OCSP staplling, Cwnd growth rate or H2 connection coalescing in HA data.
* Vary header will be discussed

[2019-06-04 20:42] paulcalvano commented on #17
Updated.  @yoavweiss @colinbendell  - are there any other metrics you'd like to see here?

[2019-06-04 21:05] paulcalvano commented on #10
* Certificate Transparency compliance might be misleading to report on.  At it's current state, the % of complaint certificates is largely based on how new certificates are. This might be a more meaningful metric to track for next years almanac.
* I don't think we can identify 0-RTT support in this data.
* cipher strength would be interesting to track, especially by 3rd parties.
* SubResourceInteg

[2019-06-04 21:21] andydavies commented on #19
I wasn’t sure about OCSP stapling but I’d like to try as it’s important and Digicert with their I stapled certs are a PITA

[2019-06-04 21:37] rviscomi commented on #34
Just missing the summary_requests.2019_05_01_mobile table from the last crawl. Working to get that regenerated now.

[2019-06-04 21:46] anoblet commented on #23
I'm not sure how big of a help I will be, I will give it my best try.

[2019-06-04 21:54] bazzadp commented on #18
Sorry I'm late, and know this is closed, but any thought in measuring whether ETags actually work?

[They don't work in Apache for example if gzip or br](https://www.tunetheweb.com/performance/http-performance-headers/etag/#downsides) is used (as I would hope they would be!) and you won't ever get 304 responses. Try it at www.apache.org for example - gzipped resources return 200 on refresh but ima

[2019-06-04 22:18] rviscomi commented on #18
Not too late to add a metric if @paulcalvano sees fit. Just update the first comment.

[2019-06-04 22:22] rviscomi commented on #30
Foregoing the staging project for now. Marking this issue as closed.

[2019-06-04 22:22] #30 closed

[2019-06-04 22:29] rviscomi opened #35 "Develop a translation workflow"
The web server should accommodate multiple languages. See #29 for context.

To summarize the thread:

- content will initially be created in English within the [src/templates/en](https://github.com/HTTPArchive/almanac.httparchive.org/tree/master/src/templates/en) directory
- each chapter will be written in Markdown per #59
- translations of non-chapter contents will be done manually in a PR and sa

[2019-06-04 22:34] rviscomi commented on #7
Tentatively reopening this issue for @davelab6 or @zachleat to confirm the metrics. Haven't seen any comments from them so far, so I just want to make sure they're fully on board.

🛎 Dave/Zach, please chime in if there are any other metrics you think we should be looking at. Also please see https://github.com/HTTPArchive/almanac.httparchive.org/issues/7#issuecomment-498470293 for more info about a

[2019-06-04 23:00] mnot commented on #18
Investigating how well Etag validation is supported would be great.  Just to note -- that apache bug is specific to mod_deflate; if you use Multiviews for negotiating encoding, it works fine (e.g., see www.mnot.net). That said, it'd be interesting to see how widespread that is.

Looking over https://cache-tests.fyi for inspiration, a few other things come to mind:

* How common is it for sites to

[2019-06-04 23:46] pmeenan commented on #19
Yeah, I just looked through the security info and netlog and can't see anything around stapling (just transparency logs). Might not be possible without decoding the TLS handshake itself (which isn't something that is going to happen in time).

[2019-06-04 23:51] jasti commented on #8
@rviscomi, sorry for reopening and the delay. Just 3 more metrics to consider if possible:

1. This is specific to ads but one problem is the number of times an ad redirects (also known as waterfalling). It's not uncommon for an ad to waterfall 3 to 4 times. Ideally it's be great to highlight how many times an ad is being waterfalled (whenever an ad is being nested into a different iframe origin)

[2019-06-04 23:56] rviscomi commented on #8
No problem, thanks for the suggestions @jasti!

@patrickhulce can you add these metrics if they sound good to you?

[2019-06-05 01:34] MSakamaki commented on #35
I propose https://gitlocalize.com as a tool for translators to use.
this is also use at https://developers.google.com/web/fundamentals/.
this solution should also be able to handle the separate directory translations suggest above.

[2019-06-05 01:47] #16 closed

[2019-06-05 03:07] paulcalvano commented on #7
Would be interesting to show

* the number of custom fonts per page.
* Font preloading

[2019-06-05 03:43] rviscomi commented on #35
Thanks @MSakamaki! That looks great to me.

Is this something you'd be able to set up for us?

- [ ] submit a pull request to add the `en` directory to `src`
- [ ] integrate Git Localize

You should have repo write access to be able to do the integration.

After we get that set up, we should also reorganize the base template to be language-agnostic:

- [ ] create a new base template without any lo

[2019-06-05 04:28] colinbendell commented on #19
@paulcalvano will you be tracking the CC: smax, SWE and SWR and pre-check header usage?

[2019-06-05 04:38] colinbendell commented on #18
One additional thought: Might worth adding an experimental headers section and include in-the-wild uses of Variance or Key (if any)

[2019-06-05 04:59] colinbendell commented on #6
ok. I think we are good here with no shortage of metrics. @yonet can you suggest which metrics you'd want to track?

[2019-06-05 04:59] #6 closed

[2019-06-05 06:28] ilyaspiridonov commented on #35
Feel free to contact me for any help with Gitlocalize, ilya@gitlocalize.com

[2019-06-05 14:35] MSakamaki commented on #35
Yes, I think I can help this.
In order not to add unnecessary files to the translation service, I think it would be nice to have a directory like this:

- src
  - contents
    - en
      - word.yaml or json - small things like words
      - Chapter markdown file or directory
    - ja
      - ...Japanese content and words
  - static
  - templates
    - base.html (base template)

1. yaml/json to bun

[2019-06-05 14:41] jrharalson commented on #23
I'm interested in helping pull data. Let me know

[2019-06-05 16:02] paulcalvano commented on #18
I think ETag validation would be out of scope for this because we aren;'t making a repeat request. I agree it would definitely be interesting to explore whether servers are returning 304 status codes to requests with valid ETags.

@mnot - great idea to look at the cache tests.  I'll add some of these to the list.

On the topic of valid dates - I ran into many invalid Date and Last-Modified headers

[2019-06-05 16:03] paulcalvano commented on #18
@colinbendell - do you have an example of Variance or Key headers?  I'm not familiar with those.

[2019-06-05 17:04] rviscomi commented on #23
Great thanks @jrharalson! I'll send you an invite to the Analyst team. Same deal: visit https://github.com/HTTPArchive to accept. Also, please update your GitHub profile to include your full name if possible so we can give you credit in the Almanac.

[2019-06-05 17:17] rviscomi commented on #35
Thanks @MSakamaki. The `src/contents/en` directory structure makes sense to me, let's do it.

Hmm does this mean we'd need to manually extract every word from the English contents and put it in a yaml or json file? Is the translated version a similar map of words to translations? If so does that mean that we'd need to have a build process to reconstruct the content from the translations? cc @ilyas

[2019-06-05 20:34] patrickhulce commented on #8
Great suggestions @jasti thanks! They're mostly advertising performance-specific I wonder if this suggests it's worth breaking out advertising into its own category entirely in the future. We could certainly dive much deeper on a lot of ad-specific topics than might make sense in an overall third-party section.

We're not really examining any sort of TTI/load metric for ad frames specifically. I'm

[2019-06-06 05:17] rviscomi commented on #9
@zeman how do these lab metrics sound to you?

Hero times: Largest Image
Hero times: Largest Background Image
Visually Complete
First CPU Idle
Time To Interactive
Blocking CSS requests (via WPT custom metric, need to confirm with our team)
Blocking JS request (via WPT custom metric, need to confirm with our team)
Time To First Byte (Backend)
Scripting CPU time
Layout CPU time
Paint CPU time
Loadin

[2019-06-06 05:20] rviscomi commented on #34
Finished regenerating that table. While I was gnawing on that, I got to thinking about ways to make sampling easier and drafted [this proposal](https://docs.google.com/document/d/1B9iomYeoD2_UXpCPfOgOes0W7cLF8KQ6r0xFQIw7s2E/edit?usp=sharing) to utilize partitioning and clustering so that analysts could simply use a clause like `LIMIT 1000` to avoid paying the exorbitant cost of querying the entire

[2019-06-06 06:48] dougsillars commented on #34
Does Limit 1000 reduce the query cost?  Last time I checked, the size of the query remained the same...

[2019-06-06 11:24] yoavweiss commented on #21
@rviscomi - Added something like the above for "Preloading fonts/fetches without a crossorigin attribute". "Preloading more than X resources" and "Preconnecting to too many hosts" seem to be already covered.

Where I'm a bit stuck is "Preloading non-critical resources before render blocking ones". Is there a way to detect render blocking resources in HA? If there's nothing explicit, maybe we can i

[2019-06-06 11:25] yoavweiss commented on #21
@andydavies - not sure what you mean. Can you explain?

[2019-06-06 11:32] andydavies commented on #21
@yoavweiss this approach
https://www.filamentgroup.com/lab/async-css.html

There are sites loading multiple stylesheets using this method, and there
seems no guarantee on which order the sheets download and so are applied
(smaller files will download first)

On Thu, 6 Jun 2019 at 12:25, Yoav Weiss <notifications@github.com> wrote:

[2019-06-06 11:52] yoavweiss commented on #21
OK, cool. That's theoretically fine, assuming that the CSS files only add unconnected-between-them specificity, no? Also, wouldn't developers notice breakage in cases they are inter-connected?

[2019-06-06 12:57] MSakamaki commented on #35
At first I was thinking about a mechanism to translate dynamically from keywords.
I think that html is as common as possible, and a mechanism to convert words is good.
I tentatively implemented that example on the branch `translation-spike`.
You can see the translation works at `http://localhost:8080/en` and `http://localhost:8080/ja` .

The point of concern is that the process of extracting words

[2019-06-06 15:29] rviscomi commented on #34
It would with clustering, like magic. The way our datasets are organized today, `LIMIT` does nothing on cost.

[2019-06-06 15:36] sergeychernyshev commented on #9
Mark, it looks like original list at the top has Hero: H1 listed, but I don't see it in the final list, any reason for that?

I found that it works well for text-based sites and their relationship with fonts (e.g. FOIT on headlines).

[2019-06-06 15:42] rviscomi commented on #9
Thanks @sergeychernyshev, updated to include the lab metrics from the top comment.

[2019-06-06 16:21] rviscomi commented on #35
How reliable is word-for-word translation? For example, idioms and phrases might be best translated in groups of words or entire sentences. Also, things like pluralization rules are different across languages. So it would seem like replacing the entire document with a translated version (as opposed to individual translations for each word) would be more reliable.

Good point about Flask requiring

[2019-06-06 17:04] rviscomi commented on #28
🛎 Last attempt to ping the following people to accept team invites:

@davelab6
@zachleat
@henrisgh
@rwaldron
@simonhearne
@mor10
@rmarx
@fhoffa
@matijagrcic

There are over 80 contributors now and I'd appreciate all of your help by forming into teams for easier communication. You can accept your invitations by visiting https://github.com/HTTPArchive.

Not interested in contributing anymore? Let me

[2019-06-06 17:15] rviscomi commented on #4
Since the metrics LGTM, let's check this chapter on through to the analysis phase and we can worry about getting reviewers by the time you all write the content. Feel free to reopen if you disagree.

[2019-06-06 17:17] rviscomi commented on #5
@bkardell could you sign off on this chapter? If you think we have enough metrics and reviewers you can close this issue.

[2019-06-06 17:19] rviscomi commented on #7
@davelab6 @zachleat could you PTAL at your earliest convenience?

[2019-06-06 17:22] rviscomi commented on #9
@sergeychernyshev @zeman @JMPerez @obto I've updated the list of metrics in https://github.com/HTTPArchive/almanac.httparchive.org/issues/9#issue-446805948 based on our discussions and I think we should be good to go now. I'll close this issue. Feel free to reopen if you have any concerns.

[2019-06-06 17:22] #9 closed

[2019-06-06 17:30] rviscomi commented on #10
We need to finalize the metrics for this chapter ASAP. Could someone update https://github.com/HTTPArchive/almanac.httparchive.org/issues/10#issue-446806026 with the agreed list of metrics? If there are any iffy metrics, let's include them anyway with a note for the Data Analyst team.

[2019-06-06 17:30] matijagrcic commented on #28
@rviscomi not sure why it's showing as not accepted?

[2019-06-06 17:37] rviscomi commented on #28
@matijagrcic hmm, you're still appearing as a pending invitation. I'll try resending it.

![image](https://user-images.githubusercontent.com/1120896/59053762-26c20c00-8860-11e9-8221-7509915dadcd.png)

[2019-06-06 17:43] rviscomi commented on #11
[The doc](https://docs.google.com/document/d/1rpFtES6BXGYmsRR1peKsEY6ZLN9-FklOgk9qos_sK1Q/edit?usp=sharing) is in a good place, so I'll close this issue.

[2019-06-06 17:43] #11 closed

[2019-06-06 17:47] rviscomi commented on #15
Since the list of metrics LGTM I'll close this issue and we can try to get more reviewers in time for the chapter to be written.

[2019-06-06 17:47] #15 closed

[2019-06-06 17:48] rviscomi commented on #17
Ping @paulcalvano @yoavweiss @colinbendell. Just want to make sure this chapter is ready to go.

[2019-06-06 17:49] rviscomi commented on #18
Hoping we can resolve the open questions about metrics and close this issue ASAP.

[2019-06-06 17:51] rviscomi commented on #19
Ping to get the metrics finalized ASAP, there are still some open questions in the comments. You can close this issue when the metrics list is final.

[2019-06-06 17:56] rviscomi commented on #21
AFAIK that'd be difficult to get right using only heuristics. @pmeenan can you think of a more solid approach?

@yoavweiss when you're happy with the list of metrics can you close this issue?

[2019-06-06 18:08] rviscomi commented on #6
@Yonet any update on which WebXR metrics you'd like us to look at?

[2019-06-06 18:17] matijagrcic commented on #28
Accepted again. Is all ok from your side now?

[2019-06-06 18:18] rviscomi commented on #33
@HTTPArchive/data-analysts reminder to please go through the [Metrics Triage sheet](https://docs.google.com/spreadsheets/d/1LR29JpI2XJSjan_z6uP1YpRy4EYYivYZPqCIG-9sfFY/view#gid=1602216523) when you have the time.

There was a lot of info in the first post so here's a condensed version:

1. Request edit access to the sheet. I don't have everyone's email address otherwise I'd give access now.
2. Go

[2019-06-06 18:25] raghuramakrishnan71 commented on #23
Please add my name to the analyst team. Would like to help with queries. Thanks.

[2019-06-06 18:35] rviscomi commented on #28
Yes! Looks good now!
![image](https://user-images.githubusercontent.com/1120896/59057420-52e18b00-8868-11e9-8b66-26442eabcb4c.png)

[2019-06-06 18:38] rviscomi commented on #23
Thanks @raghuramakrishnan71! Sent you an invite. You can accept at https://github.com/HTTPArchive.

[2019-06-06 19:41] anoblet commented on #24
I'm interested in helping on the UI/UX side. I have experience with lit-html and lit-element.

[2019-06-06 20:27] rviscomi opened #37 "Generate an ebook"
@HTTPArchive/developers curious to hear thoughts from others about this, might be crazy.

I'd like to see the _entire contents of the Almanac_ on a single web page, formatted similar to a book. It would also have a print stylesheet to handle things like page breaks and page numbers, so one could print to PDF and it'd just work™️ as a fully formed e-book. It'd also be a PWA that could be added to h

[2019-06-06 20:29] rviscomi commented on #24
Would be great to have you @anoblet! Sent you an invite to the Developers team! You can start exploring open [Development](https://github.com/HTTPArchive/almanac.httparchive.org/labels/Development) issues to get caught up on what we're working on.

[2019-06-06 20:52] anoblet commented on #37
Do you see it as being horizontally navigable, or vertical? Horizontal would be easier to handle routing, lazy loading, state management since each document is considered separate. I'm open to either.

[2019-06-06 21:52] zachleat commented on #28
Hey @rviscomi I am interested in contributing and will accept this invite but I’m not sure what time commitment is required for the “Authors” role (and how I was assigned this role 😇)? Our previous communication here: https://twitter.com/rick_viscomi/status/1129115283132751872

(Happy to communicate over Twitter DM too if helpful)

[2019-06-06 22:02] rviscomi commented on #28
Hey @zachleat! Yes, from that conversation I took your reply to mean that you're interested in either role (author or reviewer). Sorry if that wasn't clear. You can read more about the differences between roles in [this post](https://discuss.httparchive.org/t/planning-the-web-almanac-2019/1553?u=rviscomi).

The [June 3 milestone](https://github.com/HTTPArchive/almanac.httparchive.org/milestone/1)

[2019-06-06 22:07] zcorpan commented on #5
I filed https://bugs.chromium.org/p/chromium/issues/detail?id=971851 about implementing HTML parse error reporting.

[2019-06-06 22:10] rviscomi commented on #5
Thanks @zcorpan!

[2019-06-07 01:26] bkardell commented on #5
lgtm.

[2019-06-07 01:26] #5 closed

[2019-06-07 02:37] Pavel-Evdokimov commented on #29
I’d like to help with Russian translate

[2019-06-07 03:19] MSakamaki commented on #35
Thank you for Flask's easy-to-understand example!
And I am sorry to mislead you.
Use cases that require words are minimal parts such as buttons, menus, and metadata. I think that long sentences (main contents) should have markdown separately.
However, this leaves the possibility that words that are out of context may be placed (words that look like buttons, even though they are labels).

I am conc

[2019-06-07 03:44] anoblet commented on #37
E-book + lazy-loading is going to take some skill.

[2019-06-07 04:02] rviscomi commented on #29
Thank you @Pavel-Evdokimov! Put you down for Russian and invited you to the Translators team.

[2019-06-07 04:08] rviscomi opened #38 "Translate Japanese, Spanish, and Russian"
Per #29 and #35, before launch we should translate the Almanac into our P0 languages: Japanese, Spanish, and Russian.

Translation assignments:

Language | Primary Translator | Secondary
-- | -- | --
Japanese | @MSakamaki | _(none)_
Spanish | @c-torres | @taytus @JMPerez
Russian | @Pavel-Evdokimov | _(none)_

If anyone would like to sign up to review/assist translations for any of the three langua

[2019-06-07 04:10] rviscomi commented on #29
Now that we have all three P0 languages covered, I've opened #38 to ensure that we launch in English, Japanese, Spanish, and Russian. If we can find translators for the P1 languages, those would be nice to launch with but not blocking.

[2019-06-07 04:56] matijagrcic commented on #37
Would it be similar to the https://tympanus.net/Development/FlipboardPageLayout/ (src at: https://tympanus.net/codrops/2012/05/07/experimental-page-layout-inspired-by-flipboard/). It's an old example i had bookmarked way back when researching something but concepts should still apply.

A newer example leveraging the CSS Grid can be found at https://tympanus.net/Development/PageFlipLayout/ (src at:

[2019-06-07 05:03] matijagrcic commented on #37
Presenting the Quick page view can be done similar to the https://tympanus.net/Development/GridLayoutScrollableContent/ (src at: https://tympanus.net/codrops/2018/09/19/grid-layout-scrollable-content-view/).

Kinda like this approach as a mix with the above.

[2019-06-07 05:26] rviscomi opened #39 "Decide on typography"
Does anyone have design experience, specifically in typography, who could offer some suggestions for Almanac fonts?

[2019-06-07 05:38] rviscomi commented on #37
This was inspired by working backwards from the goal of being able to Ctrl+P some page and be able to get a print version of the entire Almanac (save as PDF or whatever). It's not a mission critical use case but something I thought would be a nice touch.

Thinking more about this, we should focus on the straightforward task of serving each chapter as a standalone page. Then as a bonus if there's t

[2019-06-07 15:01] yoavweiss commented on #21
Added something with priorities that should be a close enough approximation (I think). Closing!

[2019-06-07 15:01] #21 closed

[2019-06-07 15:14] rviscomi commented on #35
Ah I see in https://github.com/HTTPArchive/almanac.httparchive.org/blob/translation-spike/src/templates/index.html how you've implemented what you're describing.

I'm reluctant to go with that approach because even for the English version it requires mapping text to [variables](https://github.com/HTTPArchive/almanac.httparchive.org/blob/translation-spike/src/content/en/words.yaml), which seems lik

[2019-06-07 15:22] rviscomi commented on #39
Also, from an i18n perspective, what considerations should we keep in mind if the top 4 languages we're going to ship with have 3 different alphabets: Latin, Hiragana, Cyrillic?

If each translation will have its own template, we could overwrite the body styles to use a separate font. The question is, which font should each language use?

[2019-06-07 15:34] rviscomi commented on #3
@addyosmani @housseindjirdeh @mathiasbynens reminder to please close this out today ❤️

[2019-06-07 15:35] rviscomi commented on #8
@jasti do the metrics in @patrickhulce's comment work for you? hoping to close this out today.

[2019-06-07 15:40] rviscomi commented on #10
Hate to nag, but we need to get this resolved today to stay on schedule. There's a lot of good discussion in the comments but the final metrics list needs to reflect what the consensus is.

@arturjanc @ScottHelme could you make the call?

[2019-06-07 15:41] rviscomi commented on #14
Reminder for @slightlyoff to close this out today ❤️

[2019-06-07 15:42] rviscomi commented on #17
Last call for metrics. Speak now or forever hold your gzip.

[2019-06-07 15:43] rviscomi commented on #18
Last call for metrics. @paulcalvano please update the final list and close this issue today. (sorry, couldn't think of a caching pun)

[2019-06-07 15:44] rviscomi commented on #19
@andydavies @colinbendell is this issue ready to close?

[2019-06-07 15:46] hyperpress commented on #14
The last update of metrics looks good. I agree with adding metric to account for breakpoints. Viewport looks good. I can't think of anything to add. This one has broad coverage. Any other comment before we close this out?

[2019-06-07 15:47] rviscomi commented on #7
For these metrics, what exactly is the quantifiable measurement? For example we're hoping to get a list of things that represent the state of fonts: web vs system, top fonts, adoption of optimization techniques, etc.

Hoping to have a list of 10 or so of these kinds of "state of fonts" metrics by the end of today. ❤️

[2019-06-07 15:55] davelab6 commented on #7
@rviscomi thanks for the pings on this, I've just accepted the invite and will focus on this today.

[2019-06-07 15:57] rviscomi commented on #7
Thanks Dave, I appreciate your time on this!

[2019-06-07 16:18] MSakamaki commented on #35
Thanks for the answer! I was able to understand your opinion.

Certainly, there may be layout conflicts and translation conflicts after site construction is complete, but the impact may be minor.
It is important to stabilize the layout early.

I think that the create issues is good when there is a problem with the copy of the translation html.

I agree to `src/templates/en/index.html`, i can help

[2019-06-07 16:51] MSakamaki commented on #35
There is one question, is this translation like a langage(en/ja)? Or do think it is better to be aware of the location(en-US/ja-JP)?
I think that it is necessary to create a folder structure that also corresponds.

[2019-06-07 17:27] rviscomi commented on #35
Good question! Could you explain more of the benefits of including the region in the language code? Do you anticipate having multiple regions per language or is it motivated more by being precise/explicit with the intended reader of the translation?

We can also name the directories short codes like `en` and `ja` but use more precise lang attribute values in the HTML.

[2019-06-07 22:29] zachleat commented on #7
I’ll just leave my pipe-dream ideas of metrics I wish we could have and y’all can just shoot them down:

I think the ones y’all have above are good.

* Font formats (how many people are still using Bulletproof font face syntax?; WOFF2 use specifically)
* Icon fonts (not sure how to measure this, might show up if we measure popular families?)
* CSS Font Loading API use?
* unicode-range use (and ran

[2019-06-08 02:32] #17 closed

[2019-06-08 02:36] #18 closed

[2019-06-08 05:20] MSakamaki commented on #35
Yes, I thought it would be nice to add localization code to the directory so that not only readers but also translators at start-up can be made explicit localization aware.

As I am not familiar with the idea of translation solutions, there may be some wastes or problems with this idea.
I am glad if you can point out without hesitation.

[2019-06-09 17:32] rviscomi commented on #35
Sounds good, let's add the location to the directory.

[2019-06-10 00:17] obto commented on #14
@rviscomi, @hyperpress and I are giving the metrics here a green light. I'll leave it up to either you or @slightlyoff to make the final call and close it out however.

I'm still looking for one other reviewer. The couple I've reached out to thus far weren't able to help due to their schedules.

[2019-06-10 14:11] andydavies commented on #19
With the exception of @colinbendell's cryptic acronyms I think all the other comments are addressed in the origin comment

[2019-06-10 14:19] colinbendell commented on #19
updated and closing.

[2019-06-10 14:19] #19 closed

[2019-06-10 14:49] rviscomi commented on #3
🛎 @addyosmani @housseindjirdeh @mathiasbynens this is one week overdue, please close it out as soon as possible.

[2019-06-10 14:50] rviscomi commented on #7
@davelab6 anything else to add to Zach's list? if not we can close this out.

[2019-06-10 14:50] rviscomi commented on #8
Ping for the open question to @jasti

[2019-06-10 14:51] rviscomi commented on #10
🛎 ping to get this closed out as soon as possible, it's one week overdue

[2019-06-10 14:54] rviscomi commented on #14
The list of metrics LGTM. Thanks @hyperpress and @obto.

@slightlyoff I'm closing this issue to keep things moving and on schedule but if you have anything to add we'd still love your input.

[2019-06-10 20:46] una commented on #4
+ @meyerweb as a peer reviewer

[2019-06-10 20:55] rviscomi commented on #4
\o/ awesome thanks @una!

And thanks @meyerweb for joining the project! I've sent you an invite to the [Reviewers team](https://github.com/HTTPArchive). All we need from you when you get the chance is to familiarize yourself with the [project](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/README.md) and review [the list of  metrics](https://github.com/HTTPArchive/almanac.httpa

[2019-06-10 22:54] patrickhulce commented on #8
@jasti I hope I captured what you were looking for. I've added the "Median page-relative percentage" metrics to the final list 👍

[2019-06-10 22:55] housseindjirdeh commented on #3
Updated the first comment with the list from brainstorming doc

[2019-06-10 22:55] jasti commented on #8
Perfect, thank you @patrickhulce!

[2019-06-10 22:55] #8 closed

[2019-06-11 03:48] rviscomi commented on #39
@davelab6 @zachleat curious if either of you have thoughts/ideas on this

[2019-06-11 04:14] rviscomi opened #42 "Add ja-JP templates"
We should test out the i18n routing by creating a Japanese translation of the "coming soon" home page and serve it from https://almanac.httparchive.org/ja-JP/.

- [x] translate the coming soon page to Japanese
- [x] route /ja-JP/ to the Japanese index template (#43)

@MSakamaki can you manually translate the [English version](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/t

[2019-06-11 04:32] slightlyoff commented on #14
Sorry for the slow reply, @rviscomi. Reopening for another day; hopefully that's alright.

[2019-06-11 04:43] slightlyoff commented on #14
A few extra things I'd like to track:

 * % of sites that send more JS than the size of the viewport ("Web Bloat Score") per pageload
 * number/fraction of sites specifying a webapp manifest
 * number of sites registering a Service Worker

Thoughts?

[2019-06-11 04:52] hyperpress commented on #14
@slightlyoff - The additional metrics look fine to me, but are these a better fit for PWA? There's benefits to both PWA

[2019-06-11 05:05] obto commented on #14
All of them look good to me. I especially like the first one.

Also this chapter's metrics have a lot of overlap with other chapters (e.g., A11Y), but I think they have value being talked about here. It all depends what angle you're looking at the metrics from, so I don't think there's any problem.

[2019-06-11 05:12] rviscomi commented on #14
Thanks @slightlyoff!

I don't understand what this one is measuring. More JS (bytes) than the size of the viewport (pixels)?

[2019-06-11 06:50] mathiasbynens commented on #3
Sorry for the delay.

I had added some suggestions to the brainstorming doc previously, and have just now added another round of items (and I've updated the top post here accordingly).

@rwaldron and @moos had some great ideas! Unfortunately for lots of JS language features (especially syntactic features) it's hard to get accurate metrics just by querying the HTTP Archive. We can't just grep all J

[2019-06-11 06:50] #3 closed

[2019-06-11 07:02] MSakamaki commented on #42
Yes, I can help.
work will be start as soon as #41 is merged into master branch to avoid conflicts.

[2019-06-11 07:19] MSakamaki commented on #35
This problem has been resolved now, I'm will try to integrate gitlocalize.com.

[2019-06-11 08:30] MSakamaki commented on #35
I'm sorry, I have checked at gitlocalize.com integration,  there was one problem.

found that setting of locale code (en-US) seems to be difficult in directory unit.
It seems to supported only areas that may be necessary such as Portugal, China.  (confirmed to gitlocalize.com)
There are three approaches, and I would like to hear other translators' opinions. cc: @c-torres @Pavel-Evdokimov

1. need

[2019-06-11 09:23] ilyaspiridonov commented on #35
Hi there, this is Ilya from GitLocalize.
Actually, we used to have locale codes before. We got rid of those because Google Translate only accepted language codes ("en", "de" etc.), so sometimes our users would have troubles using Google Translate on GitLocalize if one of the target languages was "non-standard" (e.g. en-UK instead of en).
What we could do is this: we could restore locale codes, and

[2019-06-11 13:04] zcorpan commented on #3
@mathiasbynens would it be feasible to add new use counters in chromium?

[2019-06-11 13:16] mathiasbynens commented on #3
@zcorpan It depends on the feature, since use counters come at a performance cost. We probably wouldn't want to incur a perf hit for every single arrow function, for example.

[2019-06-11 15:08] MSakamaki commented on #35
Thank you for answer!

In my think, glad that there is a locale code, but it was not required.
(locale code was just nice to let the  start-up translators be aware of the locale)

If it is possible to integrateion with gitlocalize.com simply by removing the locale code, I think it is better to start with language code only.

@rviscomi
I'm sorry overturned, is there no problem?

@ilyaspiridonov
add

[2019-06-11 16:16] c-torres commented on #35
@MSakamaki I think approach 1 is the best option.

[2019-06-11 16:26] rviscomi commented on #42
Great, #41 is merged now

[2019-06-11 17:11] rviscomi commented on #4
[On Twitter](https://twitter.com/HenriHelvetica/status/1138283887455592448) @huijing also volunteered to review this chapter 🎉

@huijing @meyerweb when you both get a chance, please to go https://github.com/HTTPArchive to accept your invitations to the Reviewers team. Then please review the metrics in the top comment and  let us know if there's anything you'd add or change. Thanks for helping us s

[2019-06-11 17:24] rviscomi commented on #35
Agreed, let's remove the locale from the directories for now.

Curious to hear more about Jinja compatibility with gitlocalize.

[2019-06-11 17:48] meyerweb commented on #4
Proposed metric: use of `@supports` (feature queries) and the most popular properties that are queried.

Proposed metric: number and total size of images (GIF JPG PNG SVG WEBP any others?) loaded by style sheets.  Could try to narrow down background images versus other types, but that seems less interesting (I expect 95%+ will be background images).

In `Hsl vs. rgb vs. hex` as well as the color d

[2019-06-11 18:14] zcorpan commented on #3
Yes, I agree with that. Would it be possible to enable use counters on-demand for the purpose of collecting information in an HTTP Archive run, without having the use counter enabled for all users?

[2019-06-11 18:55] rviscomi commented on #10
@arturjanc @ScottHelme do either of you have time today to update the list of metrics in the top comment with the consensus from the thread? Would love to close this issue today and unblock the analysis.

[2019-06-11 19:38] rviscomi commented on #7
I've added Zach's suggestion to the official list in the top comment. Closing this out.

[2019-06-11 19:38] #7 closed

[2019-06-11 19:43] argyleink commented on #4
superb additions @meyerweb, thanks!

`@supports` and the queried within, love it

# and size of images loaded by stylesheets, nice! i'd even like to know # and size of base64 encoded inline images/svg are put into stylesheets as well, whether as background images or content.

good call on ensuring we're checking rgba, hsla and hex with alpha 👍

ooo, so you're curious about usage of attribute selec

[2019-06-11 19:51] rviscomi commented on #4
If for example a page includes Bootstrap, do we care about including its count of things like padding/margin styles? Or is the ideal approach only to count first party CSS? We could use @patrickhulce's approach to detecting third parties in #8, but not sure if that's a reliable signal for this particular use case. Any other thoughts?

[2019-06-11 22:46] patrickhulce commented on #4
Hm, yeah our third party detection probably isn't the best for *library* detection. You'd be able to detect bootstrap coming directly from the bootstrap CDN, but that's about it. Some sort of CSS bundle analysis is probably needed there (maybe a bootstrap license regex?)

[2019-06-12 00:29] davelab6 commented on #7
Thanks again for your patience with me on this @rviscomi - hope the below is the kind of thoughts you were seeking.

So, the list at the top was as of this comment:

For measuring latency gains on existing families, we'd need historical data. We'd then need to start with the list of sites that are using a variable font with a `wght` axis, and note their latency profile, then look back at historica

[2019-06-12 01:15] rviscomi commented on #7
Epic. Thanks @davelab6!

[2019-06-12 01:28] obto commented on #14
Just learned that CLS (cumulative layout shift) is in CrUX? If so, we should definitely add this metric. Thoughts @slightlyoff @hyperpress

https://web.dev/layout-instability-api/

[2019-06-12 02:15] davelab6 commented on #7
Yes, I think that will be interesting; I suspect a lot of people link to fonts in their HTML, but don't actually use them in their CSS (as it were.) However, I believe that only old bad MSIE versions would _actually_ download unused font data, lol

I suspect that sadly the number of people who do not use any Italics, when they are available, is rather high - perhaps on latency concerns - or perhap

[2019-06-12 02:31] davelab6 commented on #7
@rviscomi I've combed through what I posted and added a more succinct list of the metrics I proposed to the top of this issue. Please edit further as needed :)

[2019-06-12 02:35] davelab6 commented on #7
I actually don't think I've ever seen that stat anywhere - a bar chart showing the most popular pt sizes on the web. That maybe belongs in another chapter?

[2019-06-12 02:37] davelab6 commented on #7
@zachleat thanks for those ideas! Sorry I initially missed you were the author of the points Rick added to the top comment =)

[2019-06-12 06:22] huijing commented on #4
For layout, LTR vs RTL is not specifically a CSS thing, but can I propose looking at `writing-mode` for vertical layout instead? Related to direction on the web, would Logical Properties fall under new API?
From the specification:

Also, wrt @meyerweb's last point, I also agree it would be interesting to see these. There are so many properties like CSS shapes, `clip-path`, box alignment just to na

[2019-06-12 06:31] MSakamaki commented on #42
@rviscomi
Now looks like a mixed of part/chapter/section.
This will cause some confusion in the translation.

It is "Section -> Chapter" in [brainstorming documents](https://docs.google.com/document/d/1sCIMeErYvaQb5x9Acdb6ImYdn0-buHRhYGvz2HoysmM/edit#) and [coming soon page](https://almanac.httparchive.org/).

In issues #2 it is "Part -> Chapter".

What will it be in the future?
(This effect the t

[2019-06-12 11:42] mathiasbynens commented on #3
Such counters would need to live behind a build-time flag to not incur any cost to users. (Even adding it behind a _run-time_ flag would mean having to check for the flag all over the place.) It definitely sounds possible, it’s just not something we have in V8/Chromium right now.

[2019-06-12 13:01] meyerweb commented on #4
@huijing raises a good point, that LTR/RTL is as much about HTML as CSS.  (In fact, the specification strongly encourages authors to put writing direction in markup, and not rely solely on CSS.)  If we’re going to look for RTL/LTR in CSS, it should _**also**_ be looked for in HTML, and maybe the two results should be combined/compared.

[2019-06-12 13:03] meyerweb commented on #4
@argyleink—yes, I see it as a Humongous Long List (so maybe an Appendix?).  As @huijing says, there are a lot of up-and-coming properties that won’t be anywhere near the top 10 (or even top 50), but it would still be interesting to see usage information about them.

[2019-06-12 16:36] rviscomi commented on #42
Yeah let's go with Part > Chapter > Section in increasing order of specificity, like LaTeX. Good catch.

[2019-06-12 16:56] MSakamaki commented on #42
The translation according to current index.html is supported with # 44.
I think fix my translation when modifying English index.html

[2019-06-12 17:00] rviscomi commented on #42
Sounds good. Merged.

[2019-06-12 18:24] bkardell commented on #4
@meyerweb getting at elements and attributes was previously done via some regexp querying but this is problematic for a number of reasons, not the least of which is that the datasets have grown truly gigantic, and ultimately the source of Truth you want is from the parser anyways, so this year we added some custom instrumentation for that re elements (including abilities to track custom element us

[2019-06-12 19:07] rviscomi commented on #14
Yes just landed yesterday. We're still figuring out how to analyze the data. It's a histogram of cumulative scores in bins of width 5. So for example, there's a bin for cumulative scores between 0 and 5, and in theory we want as much of the distribution to be within this bin. So we could set some target like 90% of CLS is under 5 and measure the % of CrUX origins that meet this target. WDYT?

[2019-06-12 19:14] rviscomi commented on #4
I'd recommend listing the attribute metrics anyway and the @HTTPArchive/data-analysts team can determine whether it's feasible. I spoke with @pmeenan recently about how much we can push the custom metrics and it sounds like they're fairly tolerant of crunching lots of data, as long as the runtime costs aren't exponential or worse. (Pat is that accurate?)

[2019-06-12 20:13] pmeenan commented on #4
Yep, should be able to suck up quite a bit of extra work there since it is
done on every agent at test time and not centrally.

On Wed, Jun 12, 2019 at 12:14 PM Rick Viscomi <notifications@github.com>
wrote:

[2019-06-12 20:24] bkardell commented on #4
What do we need to know about the attributes/elements/values connections - need to be kind of careful to capture the right values but not wind up with just a json object representation of HTML.  Is it specifically just that we want a count of elements containing dir with any value? Is that enough of a hint?  Otherwise we'd need to pick specific attributes/values I think or this will be very unweil

[2019-06-12 22:59] argyleink commented on #4
regarding interesting properties @meyerweb && @huijing , if you want to just see one at a time, this is a super fun place to see them! https://chromestatus.com/metrics/css/timeline/popularity/355 (clip-path chosen here as an example)

regarding LTR and RTL, which if i'm following properly is the topic regarding attributes/elements, sounds like we need to define some tight rules to get the data, wh

[2019-06-13 05:34] taytus commented on #29
Hello everyone!

@c-torres please let me know if I can help you translating. Spanish is my first language. Encantado de ayudar en lo que pueda.

[2019-06-13 05:38] rviscomi commented on #29
Thanks @taytus! I've added you as a secondary Spanish translator. I've also sent you an invite to our Translators team, you can accept by going to https://github.com/HTTPArchive

(@Pavel-Evdokimov you've got a pending invitation too, follow the link above to accept)

[2019-06-13 14:18] obto commented on #14
@rviscomi you say bins of width 5; what unit is that width in? Time? CLS?

[2019-06-13 14:20] rviscomi commented on #14
5 units. CLS is kind of a weird metric in that it's calculated as a sum of percents. So it's not a percent and it's not a time value.

[2019-06-13 14:28] obto commented on #14
Right, but what would the axis be on the histogram (im a visual guy). Y: # of sites; X: sum of percents (CLS)?

[2019-06-13 14:30] rviscomi commented on #14
Yes, X axis would be CLS.

[2019-06-13 14:36] #28 closed

[2019-06-13 14:47] obto commented on #14
Hmm I think a freq distribution graph (#sites / CLS) would be best because it'd answer a lot of different questions... but I'm not sure how wide each bin would have to be. Think figuring out the width is something we'd have to do with the analyst team. Thoughts?

Actually... do we track the time each of these shifts occur? It could be really interesting to see how these shifts are distributed over

[2019-06-13 15:26] rviscomi commented on #14
For each origin CrUX provides the % of page views that fall within the given CLS. So to aggregate a histogram of many origins, we'd need to take the average % for each CLS bin. Suboptimal but I think it's the best we can do.

We don't have any other info about the shifts (time, individual shifts), but that's exactly the kind of feedback we (on the CrUX team) are looking for so we can improve the m

[2019-06-13 15:35] obto commented on #14
Thanks for the clarification, now I think i understand. So just to re-iterate: We'll be taking the average CLS for each origin (like you described) and use that data to build a freq distribution graph for all sites.

I think the toughest challenge will be showing readers what these numbers really mean. I'll start thinking of ideas for this.

[2019-06-13 16:19] c-torres commented on #29
Sure thing @taytus! Contento de trabajar con usted!

[2019-06-13 16:31] rviscomi opened #45 "Create templates for content pages"
We don't have chapters written yet but now would be a good time to create the infrastructure for them so we can just drop in the content when they're ready.

I'm working with a designer to create the look and feel, which should be ready by July. Meanwhile we can get started on the backend routing and templating in preparation.

We should create the following templates:

- [x] rename the splash pag

[2019-06-13 16:36] rviscomi opened #46 "Design the home page"
- [x] list all of the information that will need to be included on the home page
- [x] design the UX of the home page, establishing the identity and style of the Almanac website

I'll get started on the first one to unblock the designer who will work on the second one.

[2019-06-13 16:55] rviscomi commented on #46
Outline of the information we'll need on the home page, actual copy to be written later:

- overview of the Almanac project
  - mission statement
  - facts and stats (eg 90 contributors from the web community, ~5M websites tested, 20 TB of data processed, etc)
  - should be obvious that this is the first of an annual series, make "2019" prominent
- primary call to action: start reading the report

[2019-06-13 18:15] rviscomi commented on #14
Marking this as closed. I've updated the top comment with the metrics from the discussion,

[2019-06-13 18:15] #14 closed

[2019-06-13 18:24] rviscomi commented on #4
@argyleink  would you mind updating the top comment with any metrics discussed since this issue was last closed? once that's done we can close it _once and for all_ ™️.

[2019-06-13 20:19] rviscomi commented on #20
Good news, @tammyeverts is signing on as a coauthor! 🎉  Thanks Tammy! I've also sent you an invite to the Authors team on GitHub. You can accept by visiting https://github.com/HTTPArchive/

(@henrisgh you've also got an outstanding invitation to the Authors team, so follow the link above to accept.)

[2019-06-13 20:57] ScottHelme commented on #10
Here's my attempt to cover all of the metrics discussed so far that seem to be viable.

<br/>

- TLS 🔒
  - Protocol Usage
     - SSLv2 / SSLv3 / TLSv1.0 / TLSv1.1 / TLSv1.2 / TLSv1.3
  - Unique CA issuers
  - RSA certificates
  - ECDSA certificates
  - Cipher suite usage
    - Suites supporting Forward Secrecy (ECDHE / DHE)
    - Authenticated suites (GCM / CCM)
    - Modern suites (AES GCM, ChaCh

[2019-06-13 21:18] bazzadp commented on #10
Looks pretty good to me! I say update first comment with those and then close out this issue at some point tomorrow if there's no more comments.

Few other thoughts from me:

- TLS: What about TLS warnings and errors (e.g. HTTPS sites with mixed content, HTTPS sites with input forms, HTTPS sites that are blocked due to inadequate TLS or Safe Browser list)?
- TLS: Sites with EV? Know it's not liked

[2019-06-14 09:33] arturjanc commented on #10
Thanks a lot for synthesizing this, @ScottHelme, and apologies for not having time earlier this week! A couple of answers / notes:

tl;dr Yes. More broadly, determining the security of a policy is quite difficult because of CSP's inheritance logic and ignoring some keywords (e.g. `'unsafe-inline'` is ignored when the policy has a nonce/hash, and a policy can be safe even without `script-src`, e.g.

[2019-06-14 10:39] ymschaap commented on #33
I understand we can create `custom metrics` for the next crawl. Which is really cool. I'm just unsure what this enables. For example for the SEO Chapter we would want to count the number of h1, h2, h3 elements and their length. How would I go and create a custom metric. Do you have an example of a custom metric (e.g. piece of code)? Are there docs? Who tests and writes the code?

Once I understand

[2019-06-14 14:23] MSakamaki commented on #45
I part want to help.

Isn't it a problem to create a public web API use Google SpreadSheet script?

I made the next simple script. (I can not add this script to the original because I have no authority)
https://gist.github.com/MSakamaki/795b4c947fb0fdfc8e41d320e6e5ddc1

This points to my sheet where I copied the contributors page.
https://docs.google.com/spreadsheets/d/1DB0dhdgRiWfAeH5gTEd7nd3zsEu

[2019-06-14 14:29] ScottHelme commented on #10
Updated with additional comments.

Agree with @arturjanc on the finer details around CSP and looking at it more closely, I'm not sure on how we'd integrate the evaluator. I will leave that up to greater minds to decide ;-)

[2019-06-14 15:07] anoblet commented on #45
I can take care of the scaffolding

[2019-06-14 15:33] rviscomi commented on #45
To clarify, I meant using a server side JSON file to maintain the contributors list. The Sheet was just an example of the current list 🙂

[2019-06-14 15:54] bazzadp commented on #10
LGTM. @ScottHelme can you edit @rviscomi's first comment in this issue (you should have edit permissions even though it's his comment) to replace the current metrics with this, and also tick the "Finalise metrics" checkbox in that comment and then Close the issue? Would do it myself but don't want to overstep my role as "reviewer" here ;-)

[2019-06-14 17:11] MSakamaki commented on #45
@rviscomi
Oh, I understand. Thank you for your explanation!

[2019-06-14 20:53] argyleink commented on #4
i think i got em but would love a double check 👍

[2019-06-14 21:39] rviscomi commented on #33
Good question! Custom metrics are JS snippets you can execute on each page. They are run by our legacy crawl system and the code for existing metrics is here: https://github.com/HTTPArchive/legacy.httparchive.org/tree/master/custom_metrics

For example, see the [doctype](https://github.com/HTTPArchive/legacy.httparchive.org/blob/master/custom_metrics/doctype.js) custom metric. To test it, you can

[2019-06-15 09:58] anoblet opened #48 "Upgrade App Engine environment to Python 3"
Does it make sense to upgrade to Python 3 as early as possible?

[2019-06-15 12:53] rviscomi commented on #48
It wouldn't be a bad idea before we write too much 2.7 code. Let me think about it.

[2019-06-17 15:13] #4 closed

[2019-06-17 15:16] rviscomi commented on #10
Updated the metrics in the top comment. Closing now. Thanks everyone!

[2019-06-17 15:16] #10 closed

[2019-06-17 15:28] rviscomi commented on #3
FYI https://stateofjs.com/ (2018 is the latest survey)

Similar research project into the state of JS, the biggest difference being that one is a survey of developers while this is a survey of websites. Might be interesting to see if any of those results help inform some of the trends we see in HTTP Archive, if so feel free to cite that project in your chapter as needed.

[2019-06-17 15:43] paulcalvano commented on #34
I've created a dataset named `sample_data`. The dataset contains samples of all tables based on 1,000 sites and 10,000 sites.  Tables are named `httparchive.sample_data.summary_pages_mobile_1k` and `httparchive.sample_data.summary_pages_mobile_10k` respectively.

The sets of sites were selected at random, but I've ensured that each sampleset (ie, all the mobile_1k tables) are based on the same dat

[2019-06-17 15:44] paulcalvano commented on #34
I've created a dataset named `sample_data`. The dataset contains samples of all tables based on 1,000 sites and 10,000 sites.  Tables are named `httparchive.sample_data.summary_pages_mobile_1k` and `httparchive.sample_data.summary_pages_mobile_10k` respectively.

The sets of sites were selected at random, but I've ensured that each sampleset (ie, all the mobile_1k tables) are based on the same dat

[2019-06-17 15:44] paulcalvano commented on #34
I've created a dataset named `sample_data`. The dataset contains samples of all tables based on 1,000 sites and 10,000 sites.  Tables are named `httparchive.sample_data.summary_pages_mobile_1k` and `httparchive.sample_data.summary_pages_mobile_10k` respectively.

The sets of sites were selected at random, but I've ensured that each sampleset (ie, all the mobile_1k tables) are based on the same dat

[2019-06-17 15:53] paulcalvano commented on #34
Table sizes -

![image](https://user-images.githubusercontent.com/7459458/59618564-7c1ada80-90f6-11e9-84e5-8f920feffe9d.png)

^ query for that summary:
[code]

[2019-06-17 16:17] rviscomi commented on #34
Thanks Paul! I'm wary about the response bodies sample tables still exceeding the 1TB monthly quota and being prohibitive to casual exploration. It seems like we'd need a super small table (~10 pages) to be reasonably cost effective for multiple queries. It might be necessary to look into partitioning/clustering as a way of optimizing joins and sampling.

[2019-06-17 17:08] paulcalvano commented on #34
Whoops - that last table was mislabled GB, when it was really MB.   Here's the corrected table.    response_bodies_mobile_10k is 5.45 GB.

![image](https://user-images.githubusercontent.com/7459458/59622904-d9b42480-9100-11e9-980a-c8ef44410bef.png)

[2019-06-17 17:20] rviscomi commented on #34
Much better! Thanks Paul!

[2019-06-17 17:20] #34 closed

[2019-06-17 19:07] rviscomi commented on #27
Duplicate of #33

[2019-06-17 19:07] #27 closed

[2019-06-17 19:08] rviscomi commented on #35
@MSakamaki @ilyaspiridonov is it possible to use gitlocalize with Jinja templates?

[2019-06-17 19:10] #42 closed

[2019-06-17 19:22] rviscomi opened #50 "Build a language switcher"
@HTTPArchive/developers

Somewhere on the page we should have a dropdown field for users to change the language. The expected UX of the field is:

- the default/selected option is the current language
- clicking the field will open a switcher with the other supported languages displayed
- selecting any other language will reload the current page with the language specified in the URL

For example,

[2019-06-17 21:55] patrickhulce commented on #33
Sorry if I missed this somewhere, but do we need to do something extra to get the right permissions to query the sample datasets created in #34 and/or have our test queries not billed to us individually? :)

[2019-06-17 22:36] rviscomi commented on #33
I've updated the permissions of the [sample_data](https://bigquery.cloud.google.com/dataset/httparchive:sample_data) dataset so anyone can query it.

The goal for that dataset is to allow @HTTPArchive/data-analysts to explore the schema and validate their queries. The table sizes should be small enough so any queries fit comfortably within the free monthly quota. When we run the analysis against t

[2019-06-18 02:01] rviscomi commented on #15
Welcome @wizardlyhel to the Ecommerce chapter reviewers!

[2019-06-18 02:30] MSakamaki commented on #35
@rviscomi
In gitlocalize, I think that it is difficult to edit jinja.
(Simple html is also difficult to edit.)
The translation of gitlocalize would be better for pure markdown and yaml editing.

I forked this repository and added jinja templates, simple html, and markdowns.
https://github.com/MSakamaki/almanac.httparchive.org/tree/master/src/templates/en-US

Here you can try out the gitlocalize be

[2019-06-18 04:05] rviscomi opened #51 "Generate the Contributors page"
The Contributors page will be generated based on a JSON file with all of the contributor metadata. Required info for all contributors:

- full name
- list of teams contributed

Not required but super nice to have info:

- avatar URL (Gravatar?)
- short personal tagline ("Engineer at Company", "Web dev thoughtleader", etc)
- GitHub profile
- Twitter profile

TODO: @HTTPArchive/developers

- [x] con

[2019-06-18 04:08] MSakamaki opened #52 "Consider users' Accept-Language preference when selecting the default language"
When users first visit, I think that it will be a good experience for the user to be not conscious of language selection.

To do this, need to check the `Accept-Language` header sent by the client and route it to the appropriate language.
(Must be careful not to work with redirects after being selected by the switcher)

This needs to be addressed after #50.

[2019-06-18 04:14] rviscomi commented on #51
@HTTPArchive/almanac-contributors please take a look at the [Contributors sheet](https://docs.google.com/spreadsheets/d/1LR29JpI2XJSjan_z6uP1YpRy4EYYivYZPqCIG-9sfFY/edit#gid=770177464) and leave a comment in the sheet if any of your interests are inaccurate. If you're not listed at all, please let me know in this issue.

[2019-06-18 04:41] rviscomi commented on #52
Yes! Looking at the [Accept-Language](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language) docs:

So we should only consider the `Accept-Language` request header for non `*_i18n` router methods, like the [`index`](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/main.py#L13) router method for the root page, `/`. If we recognize and support the language,

[2019-06-18 11:20] rviscomi commented on #51
@KJLarson this is a good first issue, do you want to give it a try? Happy to walk you through it.

[2019-06-18 14:40] KJLarson commented on #51
I would love to give this a try!

I'm going to take a look at stuff, and then I'm sure I will have a bunch of questions.

[2019-06-18 14:45] rviscomi commented on #51
Ok great!

[2019-06-18 15:08] anoblet opened #54 "Relative paths and the readme"
Should the repro instructions from the src/readme be in the main readme? If not, would it make sense to change /src/README.md to include instructions relative to the project root?

`pip install -r requirements.txt` >  `pip install -r src/requirements.txt`
`python main.py` >  `python src/main.py`

Not sure if this is an issue for many people

[2019-06-18 15:12] rviscomi commented on #54
@mikegeyser had some opinions about this early on

[2019-06-18 16:41] rviscomi commented on #48
Yeah I think we should commit to 3 now. Especially given that this can become a multi-year project and 2 is being deprecated next year, we don't want to fall behind.

[2019-06-18 17:34] MSakamaki commented on #52
I agree with this solution!
I think that implicit routing to language is sufficient only if the URL does not include language code.

my experience it was common case  to set it to only  language-aware document/image

[2019-06-18 18:23] anoblet commented on #48
Is updating app.yaml the only thing left to do? I don't have much experience with Python/Flask and don't want to break anything.

[2019-06-18 19:04] raghuramakrishnan71 commented on #9
Have mapped the following three performance metrics as shown below

1. Scripting CPU time = _cpu.v8.compile + _cpu.FunctionCall + _cpu.EvaluateScript (e.g. CAST(JSON_EXTRACT(payload, "$['_cpu.v8.compile']") as INT64) compile)
2. Layout CPU time = _cpu.Layout
3. Paint CPU time = _cpu.Paint

Refer 160-162 of the Metrics Triage sheet. Wanted to check if the understanding is correct.
Refer to @paulcal

[2019-06-18 19:20] rviscomi commented on #48
Everyone must also upgrade their local development environment to Python 3 to simulate the production environment..

1. Go to https://www.python.org/downloads/
2. Download and install 3.7.x
3. Run `python3 --version` to verify that it works

@anoblet Our scripts should also switch to using the explicit `python3` command rather than `python`.

[2019-06-18 19:49] anoblet commented on #48
For me, scripts defaulted to 3 (I guess because it was the first version I installed) I needed to specify -p in virtualenv to use python 2. I'm not sure I know the difference between a standard/flexible environment and might need a little time to understand the differences.

[2019-06-18 19:57] anoblet commented on #48
The only difference I can find between the current (flex) codebase and the standard codebase are the
[code]

[2019-06-18 19:59] rviscomi commented on #48
We change this:

[code]

to this:

[code]

[2019-06-18 20:04] rviscomi commented on #9
Thanks @raghuramakrishnan71. That mapping LGTM.

cc @pmeenan @zeman @mathiasbynens in case they have any suggestions/corrections.

[2019-06-18 20:30] #48 closed

[2019-06-18 23:06] KJLarson commented on #51
I think I just created a pull request with an empty contributors.json file. I want to make sure I'm doing the collaborative GitHub thing correctly (I haven't really used it for collaborative purposes yet, just personal projects). Did I do it right?

[2019-06-19 04:20] rviscomi commented on #51
Looks great! I left some general feedback in the PR.

Since it's just an empty file, let's start fleshing it out. The structure of the JSON object needs to contain basic info about each contributor and group contributors into teams. Here's one approach:

global object {}
- `teams` {}
  - `team_id` : team info {} (key : value)
    - name
    - members []
      - contributor_id
- `contributors` {}

[2019-06-19 08:04] rviscomi commented on #51
Once we have the JSON file set up with some initial data (we don't need everyone in there, just one or two people to test it out) we can start integrating it with the contributors page.

For reference, see how we [read the reports.json file](https://github.com/HTTPArchive/httparchive.org/blob/master/reports.py#L34-L35) and [pass it into the template](https://github.com/HTTPArchive/httparchive.org/

[2019-06-19 11:46] rviscomi commented on #54
Usually the README is from the perspective of being in the repo root. In this case I think we want to assume the developer executed `cd src`.

@HTTPArchive/developers any other opinions?

[2019-06-19 11:51] rviscomi commented on #50
📟Paging @chaluvadis @gustavofsantos @matijagrcic @noahblon @tanhengyeow @tjmonsi @tyohan @Mehedihasan-wp.

Would any of you like to work on your first development issue? This one needs an owner. 😃

[2019-06-19 11:56] mathiasbynens commented on #9
For scripting CPU time, what really matters is the time spent on the main thread (because that’s what potentially delays TTI), not necessarily the total time. I also noticed that parsing is not included?

In terms of [RCS](https://v8.dev/docs/rcs) categories, it seems like you’d want "Parse" (but not "Parse-Background"), "Compile" (but not "Compile-Background"), "Optimize" (but not "Optimize-Backg

[2019-06-19 12:40] mikegeyser commented on #54
I think that's completely reasonable.

[2019-06-19 13:15] rviscomi commented on #33
@HTTPArchive/data-analysts we're behind on triaging all of the metrics so I think we need to take a different approach. There are 318 metrics and 12 analysts, so that's an average of 26.5 metrics per analyst. If we divide and conquer that way, we should be able to meet the July 1 deadline. I'll go through the triage sheet and assign each analyst to approximately 26 metrics each grouped by chapter.

[2019-06-19 15:43] AymenLoukil commented on #2
Hello @rviscomi i had already expressed my interest to contribute but i was in a rush period. Is that stills possible ? Please tell me on which part(s) could i help ? Thanks !

[2019-06-20 04:24] rviscomi commented on #2
👋 Hi @AymenLoukil, it'd be great to have your help! We could use additional reviewers on the [Markup](https://github.com/HTTPArchive/almanac.httparchive.org/issues/5), [Fonts](https://github.com/HTTPArchive/almanac.httparchive.org/issues/7), [PWA](https://github.com/HTTPArchive/almanac.httparchive.org/issues/13), and [Mobile Web](https://github.com/HTTPArchive/almanac.httparchive.org/issues/14) ch

[2019-06-20 08:11] mikegeyser commented on #52
I believe that PR #49 addressed this, would you mind having a look @MSakamaki and let me know if it's sufficient?

[2019-06-20 08:19] mikegeyser opened #59 "Authoring in markdown"
There was some earlier discussion about allowing for authoring the chapter content using markdown. Would this still be something worth investigating as a spike task?

The benefits are that it seems easier to write in markdown than html, and that gitlocalize seems to have better support for markdown.

The challenges are that we will likely want some rich data visualisation in the chapters, which ma

[2019-06-20 08:26] mikegeyser commented on #59
A suggestion that I have, that I'd like to table is using a potentially hybrid approach. Would it be feasible to us custom-elements inside the markdown, and then put the datavis content inside the custom element using slots?

Example:

[code]

That way we have content that can be indexed and crawled, can fall back to a div if custom-elements aren't supported, but lets us write some more interactiv

[2019-06-20 09:10] rviscomi commented on #59
Thanks for kicking this off @mikegeyser!

Does this mean that all visualizations are effectively client-side rendered? I think it'd be optimal to generate the SVG charts statically and embed that in the HTML. AFAICT embedding raw HTML in the markdown is what your proposal already is, so is that all we need to do?

[2019-06-20 09:27] mikegeyser commented on #59
Absolutely! That's what I'm suggesting. If something is fine as a static SVG element, then we should just put it in the markdown directly.

I'm not suggesting that we client side render everything. The custom element would just be *if* (and only if) there was a compelling UX requirement to have the visualisation be interactive.

In that case, in my opinion, the ideal would be to have the slotted i

[2019-06-20 09:30] mikegeyser commented on #59
Also, if we're worried about embedding large SVGs in the markdown file, we could possibly encourage people to reference them using `<object data=""></object>`?

[2019-06-20 10:31] rviscomi commented on #59
`<drill-down-pie-chart data="data.json">`

I'm confused by this. So the pie chart _would_ be client-side rendered? After the static SVG loads?

[2019-06-20 10:55] mikegeyser commented on #59
No, so my thinking is that the page would simply render the SVG chart on initial page load.

If the user chooses to drill down, the custom element (which should be lazily initialised, and until then would just be a div) would have enough context to be able to redraw the SVG chart from the datasource (again, by fetching the data).

(Please feel free to stop me if it's a terrible idea. As I said, I'

[2019-06-20 11:17] anoblet commented on #54
I'm ok with either one

[2019-06-20 11:37] tanhengyeow commented on #50
I would like to attempt this! I've not worked with Flask before but would try my best to learn it as I go 😄

I was thinking of using anchor tags for the different language options. We can use the [`aria-describedby`](https://www.w3.org/TR/wai-aria/#aria-describedby) or [`aria-labelledby`](https://www.w3.org/TR/wai-aria/#aria-labelledby) property to describe the anchor tags.

I think the header wou

[2019-06-20 12:11] rviscomi commented on #54
Ok, I'll close this as it's working as intended. Feel free to reopen if anyone feels strongly.

[2019-06-20 12:11] #54 closed

[2019-06-20 12:21] rviscomi commented on #50
Great thanks for stepping up @tanhengyeow! I've assigned this issue to you.

I think as long as we use `aria-label` on the anchor content it will be accessible. The part I was mostly curious about was the dropdown menu behavior and how we can make sure that the widget is easily discoverable, understandable, and usable.

Yeah you can built it in the header of the index.html template and we will go

[2019-06-20 12:24] rviscomi commented on #35
How about we do manual PR-based translations for all of the Jinja-based content, and when we have the chapters written we use markdown for them and gitlocalize to do the translation. Does that work?

cc @mikegeyser this is related to #59.

[2019-06-20 12:51] rviscomi commented on #59
Gotcha, thanks for clarifying.

So it seems like markdown itself isn't a limitation here; we can put arbitrary HTML in it and it should render normally. Is that right? (if so let's rename this issue to something more specific to data viz)

To the issue of how we implement the data viz, I think we're on the same page about optimizing for speed and rendering server-side.

For interactivity, it seems

[2019-06-20 13:16] ScottHelme commented on #10
Can the data tell us about the presence of a file? I'm thinking the `security.txt` file like this:

https://scotthelme.co.uk/.well-known/security.txt

[2019-06-20 13:27] mikegeyser commented on #59
Gotcha, 100%.

Would generating them as separate files and then referencing them using `<object data=""></object>` within markdown be feasible? That way the markdown and svg are loosely coupled, and the SVG resources will be independently versioned and cacheable? It would mean multiple requests for assets, though, instead of one larger initial payload.

[2019-06-20 13:58] KJLarson commented on #51
That makes sense for organizing the data. I'll start working on building the structure of the JSON.

On contributors.html, then, would the teams and contributor information be listed separately, or can we use code to combine the lists (or make links between them)? What are your thoughts about organizing the display of the information for end users?

I'm just thinking that if I were a user looking

[2019-06-20 16:39] rviscomi commented on #51
Good questions. We're still waiting on the design to help inform the information architecture of the page, but my first thought was to list all contributors bios and under their names include a chip/badge/label (similar to how GitHub has labels on issues/PRs) for each of the teams that contributor is a member of. Then maybe stuck to the top of the page we have a way to filter by team, so you can s

[2019-06-20 17:10] rviscomi commented on #59
If that's true, for that reason alone we should avoid `<object>` because I do think we want to style via CSS.

The compile time thing I mentioned would encourage the loose coupling you described. We would have something like a directory of SVG files and in the markdown we'd have placeholder references like `{{13.6.svg}}` where `13.6` is the [metric ID](https://docs.google.com/spreadsheets/d/1LR29J

[2019-06-20 17:14] rviscomi commented on #10
Unfortunately we're only aware of what is transferred over the network in the normal course of the page load. The exception is for Lighthouse audits that specifically check for these files, like the SEO audit for `robots.txt`. I don't think we will get it in time for this year's Almanac, but it might be a good idea to add a new Security audit to Lighthouse that checks this file.

[2019-06-21 04:06] raghuramakrishnan71 commented on #9
@zeman @rviscomi
Wanted to reconfirm that Time to interactive and First CPU idle are currently from Lighthouse (also saw similar mention in the current performance reports of Http Archive).
- Is First CPU idle = audits.first-cpu-idle.rawValue or first-interactive?
- Is Time to interactive = audits.interactive or consistently-interactive?

Ran the following query on the sample set.
SELECT
url AS ur

[2019-06-21 04:51] MSakamaki commented on #52
@mikegeyser Great!
I got the latest and confirmed the operation, which can be viewed in Japanese on all my browsers.
Thank you!

[2019-06-21 05:02] rviscomi commented on #52
We still haven't implemented `Content-Language` but not sure if that's still needed. @MSakamaki could we close this issue or would you still like to see that added?

[2019-06-21 10:13] pmeenan commented on #9
The wpt-reported CPU times are all main-thread.

On Wed, Jun 19, 2019 at 7:56 AM Mathias Bynens <notifications@github.com>
wrote:

[2019-06-21 12:09] ymschaap commented on #33
I reviewed the CSS + SEO chapters metrics assigned to me.

@rviscomi CSS chapter relies heavily on regexes + counts, but don't see how a Custom Metrics could be better (e.g. there is not a js selector to find a media queries and parse them based on breakpoint, right?).

@rviscomi how do we provide the Custom Selector script (I have one).

@rviscomi Several metrics in the Security chapter have the

[2019-06-21 12:25] rviscomi commented on #33
Thanks @ymschaap! I'll get back to you about the other questions but for now I'll say that if you know a metric can be queried and you're not assigned to it, assign yourself and update its status field.

[2019-06-21 14:51] dougsillars commented on #33
Rick, I went through the accessibility metrics assigned to me. I think with clever regexes, we can get most of the items.  There are a few that I need clarification on.

[2019-06-21 15:15] MSakamaki commented on #52
@rviscomi
I'm sorry for the late reply
Yes, there is no problem closing this issues.

I examined Content-Language in deep.
This content I did not feel necessary because it was not highly interactive between the client and the server.

References

https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-doc-lang-id.html

[2019-06-21 15:15] #52 closed

[2019-06-21 15:27] MSakamaki commented on #35
@rviscomi

Okay, copying html by hand is a bit cumbersome, but I think that there is no serious problem.

Yes, as soon as we have a markdown content in the en-US directory, i are ready to integrate it.

I want to confirm one.
Is there a problem with translation branch strategies at gitlocalize-XXXX => master?

[2019-06-21 22:16] KJLarson commented on #51
I'm working on contributors.py, the bit to add to main.py, and contributors.html, and I have a couple questions:
1. Would it be best to commit each file separately?
2. I haven't used Flask before, and know the basics of Python, so I'm doing research and looking at the example files from httparchive.org. Is it ok if I do my best and then commit the code, even if I may be totally off?

[2019-06-21 22:51] obto commented on #33
@dougsillars ping me with any questions you have :)

[2019-06-22 00:09] rviscomi commented on #51
You can commit multiple files at the same time. This is preferred, especially if the changes are all related.

It's ok if you commit changes that are exploratory and you ask for feedback. We're happy to help!

[2019-06-23 14:31] rviscomi commented on #35
Naming branches `gitlocalize-XXXX` SGTM. I'll update the top comment to summarize our discussion.

[2019-06-23 14:39] #35 closed

[2019-06-24 12:25] rviscomi commented on #33
@ymschaap ok, getting back to your questions.

I've created [custom_metrics/almanac.js](https://github.com/HTTPArchive/legacy.httparchive.org/blob/master/custom_metrics/almanac.js) in the repo that is responsible for testing each site. I've added instructions to the top of the file to add a new metric. It contains three custom metrics so far, including one of yours as an example of how to include

[2019-06-24 12:53] rviscomi commented on #9
For the Lighthouse metrics, you may need to look at the `numericValue` field as opposed to `rawValue`. Example for `https://www.kcr.se/`:

![image](https://user-images.githubusercontent.com/1120896/60020203-d0daca00-968f-11e9-9f84-57c718339927.png)

[2019-06-24 12:57] pmeenan commented on #9
Good chance it depends on which dataset you look at. T believe it changed
from rawValue to numericValue in Lighthouse 5 so if you are looking at a
comparison you may need to pull both.

On Mon, Jun 24, 2019 at 8:53 AM Rick Viscomi <notifications@github.com>
wrote:

[2019-06-24 13:14] ndrnmnn commented on #10
@rviscomi As discussed offline, it might be interesting to track the usage of the [WebAuthn API](https://webauthn.guide/). A good read on general 2FA adoption across sites is Elie's blog post [The bleak picture of two-factor authentication adoption in the wild](https://elie.net/blog/security/the-bleak-picture-of-two-factor-authentication-adoption-in-the-wild/).

[2019-06-24 13:36] rviscomi commented on #10
Thanks @ndrnmnn! Do you know of the corresponding feature counter we could look at? For example, perhaps [CredentialManagerGetPublicKeyCredential](https://www.chromestatus.com/metrics/feature/timeline/popularity/2422)?

Also, are you still interested in becoming a reviewer? 😁

[2019-06-24 13:55] tjmonsi commented on #33
@rviscomi how do i avail the coupon codes? I'm going to create my own project for this so that I will not use up my companies' free credit

[2019-06-24 14:12] rviscomi commented on #33
DM me on Twitter [@rick_viscomi](https://twitter.com/rick_viscomi)

[2019-06-24 20:46] AymenLoukil commented on #2
Hi @rviscomi :) Great ! I could review #7 Fonts and #14 Mobile

[2019-06-24 20:50] rviscomi commented on #7
Adding @AymenLoukil as a reviewer!

[2019-06-24 20:51] rviscomi commented on #14
Adding @AymenLoukil as a reviewer!

[2019-06-24 20:55] rviscomi commented on #2
Thanks @AymenLoukil! I've assigned you as a reviewer for those chapters and sent you an invitation to the Reviewers team. You can accept it via email or visit [https://github.com/HTTPArchive](https://github.com/HTTPArchive).

We're currently in the data analysis phase, so there won't be much work for you to do until ~August. You can learn more about our [timeline here](https://docs.google.com/spre

[2019-06-24 21:12] hyperpress commented on #14
Welcome @AymenLoukil

[2019-06-24 22:26] bazzadp commented on #22
Hi @paulcalvano, just had a nosey at how you were getting on triaging these metrics and wanted to clarify a few stats that you currently have down as Not feasible/Needs more info:

_We can only see the negotiated protocol, not all of the versions supported._

Badly worded on my part so have reworded in first comment above: https://github.com/HTTPArchive/almanac.httparchive.org/issues/22#issue-4468

[2019-06-24 22:39] pmeenan commented on #22
For the prioritization issues, WebPageTest runs it's CDN detection as part
of the crawl and should get pretty good coverage. One possible issue will
be what origin(s) to look at for a given page? Just checking the pages
origin is probably safest but will miss the cases where the static content
is served by a different CDN (like all of shopify for example).

On Mon, Jun 24, 2019 at 6:26 PM Barry Po

[2019-06-24 23:37] bazzadp commented on #22
This is based on identifying the CDN [via these server headers](https://github.com/WPO-Foundation/wptagent/blob/master/internal/optimization_checks.py#L197) being set I presume? Was always curious how this worked!

Yeah think best we can probably do is test the website home page and accept it's not 100% accurate. Trying to figure out the "most used CDN" for a web page to identify the shopify scena

[2019-06-24 23:48] pmeenan commented on #22
The headers are a fallback. Main method is the CNAME mappings right above
that (and reverse-IP lookup).

On Mon, Jun 24, 2019 at 7:37 PM Barry Pollard <notifications@github.com>
wrote:

[2019-06-25 10:12] AymenLoukil commented on #2
Super @rviscomi ! Thanks.

[2019-06-25 10:47] AymenLoukil commented on #24
@rviscomi count me in for the SEO part. I could assist designers and developers to follow SEO best practices (review, SEO-QA..Etc).

[2019-06-25 11:07] rviscomi commented on #24
Great thanks @AymenLoukil! I can think of something SEO related for you to do right away. I'll create the issue and assign it to you.

[2019-06-25 11:12] rviscomi opened #61 "Add alternate/hreflang link tags for translations"
Per https://support.google.com/webmasters/answer/189077 we should make alternate translations discoverable with `<link rel="alternate" hreflang="..." href="...">` elements.

These should be available on every page for all supported translations.

This is basically the metadata/SEO equivalent of #50, so there may be some opportunities to reuse code. cc @tanhengyeow

[2019-06-25 11:27] rviscomi opened #62 "Write queries and add to the repo"
When the Analyst team generates queries for each metric, they should create a PR to merge it into the repo. This has two benefits: the PR process provides an opportunity for peer review, and it is a place to share and maintain the canonical queries. On the Almanac website we can link directly to the queries from each respective chapter/figure so readers can see exactly how it was calculated and fo

[2019-06-25 11:33] rviscomi commented on #62
@HTTPArchive/developers any takers for the first task? We need to figure out a good home for the queries and create the directory structure.

I think it should be named according to this pattern `/sql/2019/05/05.3.sql`, but I'm open to suggestions. Some open questions:

- should the chapter directories be named numerically or by their title, eg `05` vs `Third Parties`?
- should the `chapter.metric

[2019-06-25 11:58] AymenLoukil opened #63 "Website architecture design"
I have some questions / remarks :

- Is there somewhere a document describing the target architecture of the Almanac website  (information architecture, URL structure) ?
- I understood from reading the issues, that we aim to have a static page and every year version should go under a dedicated sub-folder /2019, /2020..etc. IMHO, it would be better to rather have this setup :

Every year we put the

[2019-06-25 12:09] rviscomi commented on #63
cc @HTTPArchive/developers in case anyone else wants to share their thoughts

We do currently plan to use the home page to showcase the latest version of the Almanac. Once a user lands there and drills down into the report, the URL would update to the 2019 version. We should always organize contents by year on the backend, but I'd be open to having "shorthand" URLs that omit the year and default t

[2019-06-25 12:40] AymenLoukil commented on #63
Defining the information architecture should answering these questions.

Consider current Mobile web chapter link : almanac.httparchive.org/mobile-web
This page shows the current version of this year + (i suggest) links to Mobile web chapters of previous years (2018, 2017...)
So that when some one bookmarks / links to this URL, we are sure that he will find the information.
Mobile web chapter of 2

[2019-06-25 12:41] rviscomi commented on #62
@KJLarson FYI this is another good first issue (task 1 of 3, creating directory system)

[2019-06-25 12:43] rviscomi commented on #45
The templates exists, but we still need to write content for them. We can do that in follow-up issues.

[2019-06-25 12:43] #45 closed

[2019-06-25 12:57] rviscomi commented on #63
There's no guarantee that a particular chapter will be persistent throughout all versions of the Almanac. Mobile web will probably continue to be important, but you can imagine how a chapter like HTTP/2 would become outdated at some point and we might start talking about HTTP/3 or whatever.

(Also there is no 2018 version, 2019 is the first one)

[2019-06-25 13:05] ndrnmnn commented on #10
@rviscomi I checked some of the available metrics in chromestatus.com which seem to represent a funnel from credential creation to storage. We could therefore also include the [CredentialManagerStore](https://www.chromestatus.com/metrics/feature/timeline/popularity/963) metric which in my understanding would represent the total number of credentials stored. WDYT?

[2019-06-25 13:07] rviscomi commented on #10
The chromestatus feature counters are simple indicators that the API was used, not an aggregation of how they're used. And for that feature in particular, we don't have any pages in HTTP Archive that use it (the bottom chart is empty on that page)

[2019-06-25 14:32] KJLarson commented on #62
Oooh, oooh! I can do this! I've been doing records management for the last couple years and have a Masters of Library and Information Science...this is totally in my realm!

[2019-06-25 14:47] AymenLoukil commented on #63
Good point. I didn't thought about it

Yes i know, it was just for the example.

[2019-06-25 15:18] rviscomi opened #64 "Optimize the 2019_07_01 dataset for querying"
At the end of July the 2019_07_01 dataset will be available. Here are some ideas to minimize the cost of queries:

- implement the [partitioning/clustering proposal](https://docs.google.com/document/d/1B9iomYeoD2_UXpCPfOgOes0W7cLF8KQ6r0xFQIw7s2E/edit?usp=sharing) with the 2019_07_01 dataset
- add a column to response_bodies annotating their file types (eg js, css, html) or join the entire body col

[2019-06-25 15:22] rviscomi commented on #62
Sold! Thanks @KJLarson!

Have a look at the open questions in https://github.com/HTTPArchive/almanac.httparchive.org/issues/62#issuecomment-505404617 and feel free to start a PR with the new sql directories.

[2019-06-25 19:29] KJLarson commented on #62
Here are some initial thoughts and questions I have after looking at the questions from comment #62, the metrics triage spreadsheet, the file structure of HTTPArchive.org, and some records management naming convention articles:
- I don't think the metric IDs will sort in order the way they are written now. Adding leading zeros to the metric number should fix sorting issues.
- Underscores would pro

[2019-06-25 19:31] KJLarson commented on #62
Here's my first directory structure thought (I didn't fill it all in; hopefully this is enough to get a picture of what it would look like):
[code]

[2019-06-25 19:38] rviscomi commented on #62
That looks perfect! Thanks for the thoughtful approach.

Very good catch.

Good suggestion.

This won't be the case because the 2019 queries will explicitly reference the 2019_07_01 dataset.

Not a problem at all.

I only have two small followup questions: since this isn't used directly by the web server, can we move it out of `src`? for chapters with multiple words could we delimit words by `_`?

[2019-06-25 19:52] KJLarson commented on #62
Yes and yes.

Bonus question: Hmmm...I will have to think about this one. Does multiple mean a couple chapters, most chapters, or somewhere in between? I suppose it wouldn't be ideal to save these queries in different directories with different names. Is there value added knowing that the same query was used in multiple chapters?

[2019-06-27 05:10] tjmonsi commented on #33
@rviscomi might use them later on. I might not be able to finish all of mine as there some things I don't understand yet and can't figure out how to check in the results.

[2019-06-27 07:57] taytus commented on #29
@c-torres how do you want to split this? shoot me an email at roberto@roboamp.com so we can coordinate. I will have this weekend available to help as much as I can.
Thanks!

[2019-06-27 15:49] rviscomi commented on #62
I think at most there will be overlap for 10 metrics, but probably closer to 2 or 3. Thinking more about this, we should probably still name them according to the chapter they appear in and have duplicates because casual readers who want to explore the queries won't care if it's used somewhere else, they just want to find the corresponding query.

[2019-06-27 15:56] c-torres commented on #29
@taytus I understood the translation process will be starting around September. According to the workflow tat was defined in #35 we should wait until the HTML and Chapters  Content are ready.

[2019-06-27 16:17] rviscomi commented on #29
@c-torres is correct. Sorry for any confusion. We've done an initial translation of the home page into Japanese as a proof of concept for our workflow.

After we get all of the chapter contents in a stable place, we'll send it out to everyone for translation. This way it's more of a one-time thing than having to update the same files over and over as they are revised.

[2019-06-27 17:22] rviscomi opened #66 "Create a Language class"
We have lots of language-related configs/logic all over the place and it'd be nice to define this all in a single place using a Language class. Some instance properties of the class should be:

- 2 char language code (eg `ja`)
- emoji flag (eg 🇯🇵)
- native name (eg `日本語` -- just guessing based on Google translate, we'll need the Translation team to help with these)
- lang/region code (eg `ja-JP`)

[2019-06-28 04:57] taytus commented on #29
Oh! That is awesome.

I saw some languages were getting translated and got excited!

Thank you both so much.

On Thu, Jun 27, 2019 at 11:17 AM Rick Viscomi <notifications@github.com>
wrote:

[2019-06-28 13:31] #50 closed

[2019-06-28 13:58] rviscomi commented on #33
@dougsillars @raghuramakrishnan71 @tjmonsi you three have metrics assigned to you marked as "Custom Metric Required". We need to have those custom metrics in HTTP Archive before the July 1 crawl begins, ideally by today. See https://github.com/HTTPArchive/legacy.httparchive.org/pull/160 for an example PR that adds custom metrics. There are instructions at the top of [almanac.js](https://github.com

[2019-06-28 14:06] tjmonsi commented on #33
@rviscomi where should I branch out and merge? in legacy.httparchive.org as well?

[2019-06-28 14:07] rviscomi commented on #33
Yes, thanks!

[2019-06-28 14:07] tjmonsi commented on #33
ok... working on it now

[2019-06-28 14:19] tjmonsi commented on #33
@rviscomi question, do you want to add prefetch and preload as well, aside from getting urls with preconnect?

[2019-06-28 14:24] rviscomi commented on #33
That question is best asked of the chapter authors, who requested the metrics. If you can point me to the metric you're referring to I can try to infer what they're looking for.

[2019-06-28 14:43] tjmonsi commented on #33
@rviscomi I was just thinking of adding it there before the crawler runs just in case. I didn't see it yet as of now. I am already testing preconnect that returns an array of url. Anyway, I am just done and will do a PR

[2019-06-28 14:51] tjmonsi commented on #33
@rviscomi no worries. At least I learned how to do create custom metrics hehe. :)

[2019-06-28 16:54] raghuramakrishnan71 commented on #9
@rviscomi I am not very clear about the metric "header volume" (Content Distribution/CDN). Does it refer to the size of the HTTP headers?

[2019-06-28 17:16] raghuramakrishnan71 commented on #9
@zcorpan Does the metric "Attribute usage (stretch goal)" (Page Content/Markup) refer to the usage of HTML attributes. In that case we may be able to find out distribution (https://discuss.httparchive.org/t/usage-of-aria-attributes/778)
The same was marked as "Custom Metric Required" as I was not very clear initially.

[2019-06-28 17:49] rviscomi commented on #9
@raghuramakrishnan71 could you post these comments in their respective chapters? #19 for CDN and #5 for Markup

[2019-06-28 18:00] raghuramakrishnan71 commented on #19
@paulcalvano @colinbendell I am not very clear about the metric "header volume" (Content Distribution/CDN). Does it refer to the size of the HTTP headers?

[2019-06-28 18:02] raghuramakrishnan71 commented on #5
@zcorpan @bkardell Does the metric "Attribute usage (stretch goal)" (Page Content/Markup) refer to the usage of HTML attributes. In that case we may be able to find out distribution (https://discuss.httparchive.org/t/usage-of-aria-attributes/778)
The same was marked as "Custom Metric Required" as I was not very clear initially.

[2019-06-29 04:22] raghuramakrishnan71 commented on #19
@colinbendell @andydavies Does the metric TLS Certificate size (Content Distribution/CDN) refer to the size of the public key in the SSL certificate? The certificate in the HAR can be parsed and BASE64 decoded, and then the required attribute extracted. But this approach will need the HAR files to be downloaded prior to that. An alternative may be to add a custom metric.
-----BEGIN CERTIFICATE----

[2019-06-29 18:36] raghuramakrishnan71 commented on #5
@rviscomi @zcorpan @bkardell going ahead (as the July crawl is scheduled to start) with the "list of valid HTML attributes" interpretation for the metric "Attribute usage (stretch goal)" (Page Content/Markup)". In that case, we should be able to extract from response_bodies.
Example: <meta charset="utf-8" /> ; charset is an attribute
<script type="text/javascript"> ; type is an attribute

[2019-06-29 19:02] raghuramakrishnan71 commented on #19
@rviscomi saw that you were Able to Query TLS Certificate size and TLS negotiation time. Was curious to know,
1. TLS negotiation time: did we use requests.YYYY_MM_DD_desktop.payload (ssl_ms, _ssl_start, _ssl_end, ssl) or some other metric?
2. Was there an already available WPT metric for TLS Certificate size?

[2019-06-29 19:06] rviscomi commented on #19
Negotiation time: this should be `timings.ssl` in the requests payload.

Certificate size, per @pmeenan:

[2019-06-29 20:38] bkardell commented on #5
The new custom metrics for markup collect data from the parsed tree is the thing so you wind up with far less data to deal with and far more accurate than a regexp across HTML. We had discussed whether somehow it would make sense to do the same for attributes but given all the questions people are interested in asking about them and their relationship to tags or urls or parent elements or.. Whatev

[2019-06-30 10:16] raghuramakrishnan71 commented on #5
@rviscomi was a bit of struggle to understand adding custom metric but was able to finally test a sample/almanac.js using instructions in https://github.com/HTTPArchive/almanac.httparchive.org/issues/33.
@bkardell in the custom metric are we looking only at various attributes and their counts or various element+attribute and their counts  - you mentioned that you had proposed a few potentials, are

[2019-06-30 13:08] rviscomi commented on #5
Some more context here: https://discuss.httparchive.org/t/use-of-custom-elements-with-attributes/1592 and here: https://github.com/HTTPArchive/httparchive.org/issues/138

I'd recommend marking this one as Not Feasible due to the complexity.

[2019-06-30 13:34] rviscomi commented on #33
Today's the day! I've marked all 5 remaining `Need More Info` metrics as `Not Feasible`. We're finally done with the triage! Thanks again to the entire @HTTPArchive/data-analysts team for your hard work going through these ~400 metrics.

I'll be syncing the custom metrics with the HTTP Archive server today so they're included in tomorrow's July crawl.

[2019-06-30 13:34] #33 closed

[2019-06-30 23:35] #63 closed

[2019-06-30 23:49] rviscomi opened #67 "Fill data viz placeholders"
For each metric, its results will be queried and saved as JSON. We need to build a tool that generates data visualizations from the JSON data into SVG. The type of visualization will depend on the metric and the context in which it's displayed in the chapter.

For now this is a placeholder metric to brainstorm ideas and discuss what the requirements of the tool may be. TODO:

- types of visualizat

[2019-06-30 23:51] rviscomi commented on #61
@AymenLoukil let me know if you have any questions about the implementation of this feature. Have you tried running the local development environment as a first step?

[2019-07-01 01:02] rviscomi opened #68 "Build custom error pages"
@HTTPArchive/developers

If an unexpected error occurs on the server (5xx) or there's an issue with user input (4xx) we should show an error page with more information about what went wrong.

[2019-07-01 01:31] rviscomi opened #70 "Create a chapter config"
When rendering a chapter page, we need to validate that the chapter exists (for the given year) and render metadata about that chapter including:

- part number (eg `IV`)
- chapter number (eg `20`)
- title (eg `HTTP/2`)
- author(s) (eg `[bazzadp]`)
- reviewer(s) (eg `[bagder, rmarx, dotjs]`)
- _description_
- _hero image_

A config object should be created that lists all possible chapters for a gi

[2019-07-01 01:44] rviscomi opened #71 "Assign analysts to chapters"
In preparation for #62, analysts should be assigned to chapters and take responsibility for writing queries and adding them to the respective chapter's [/sql/2019/ subdirectory](https://github.com/HTTPArchive/almanac.httparchive.org/tree/master/sql/2019). For the most part, analysts who triaged the majority of metrics for a chapter should be assigned to it. Since chapters have different numbers of

[2019-07-01 01:45] #23 closed

[2019-07-01 01:45] #24 closed

[2019-07-01 01:49] #51 closed

[2019-07-01 02:13] rviscomi opened #72 "Support extended contributor metadata"
As a follow-up to #51, contributors.json and the page template should support extended metadata about each person:

- Gravatar email
- short personal tagline ("Engineer at Company", "Web dev thoughtleader", etc)
- GitHub profile
- Twitter profile

The Gravatar email must be [converted](https://en.gravatar.com/site/implement/images/) to an MD5 hash before being requested. If the avatar doesn't exis

[2019-07-01 02:22] rviscomi opened #73 "Add ability to filter contributors by team"

[2019-07-01 02:34] rviscomi commented on #70
@HTTPArchive/translators What do you think about this approach to generate the chapter metadata and Outline page based on the JSON config? I'm not sure how easy it is to translate using that process. Alternatively, we could create HTML files for every chapter and hard-code the metadata. Translating the HTML file would be straightforward and that would also take care of validation. The advantage to

[2019-07-01 04:44] tanhengyeow commented on #68
Hi @rviscomi

Would be interested in this 😄 Which approach do you recommend?
1. Take inspiration from the error pages of https://httparchive.org/
2. Implement as per design mockups (not sure if there are any at the moment)
3. Implement a skeleton layout first and iterate on the design/layout later

[2019-07-01 05:07] tanhengyeow commented on #73
Some thoughts of the possible approaches:
1. Implement labeled tags of team names. When the tag of a team is selected, the page would display only contributors from that team. More than 1 tag may be selected. This would probably the approach that solves this issue directly.

2. Implement a search bar. Gives users more control of what to search/filter but it might be more complex to implement compa

[2019-07-01 08:50] AymenLoukil commented on #61
@rviscomi not yet, i'll try to do it today or tomorrow.

[2019-07-01 22:39] AymenLoukil commented on #61
@rviscomi the local environment is set up and running :)
First thing i remarked (not only about hreflang)  :

- <html lang should have en or ja only without any country code
- Language code for JP
- / and /en/ should not have the same content. The "english" home page will be / or /en/ ? One should redirect to the other.

Regarding the hreflang implementation, should we do it static or dynamic to e

[2019-07-02 23:52] rviscomi commented on #73
Yes I like the first approach. At the top of the page we can show all available team tags and they'd have selected/deselected states. The designer will be working on the overall UX but we can get started on the JS to handle the interactivity.

For the implementation, I think we could go a simple route by adding a CSS class for each team a contributor is a member of to that contributor's wrapper el

[2019-07-02 23:58] rviscomi commented on #61
Sounds good. In #69 I've added Language objects that have all of the info you need, including both language codes and localized language codes.

Yes, you're right. Is there anywhere that we have it wrong?

Oh interesting, this is something we've considered before but not for SEO. It would actually simplify the site a lot if we always serve content from the language-specific subdirectories. I'll ma

[2019-07-03 00:00] rviscomi commented on #68
I'd suggest 3 to get started. Thanks for working on this @tanhengyeow!

[2019-07-03 20:22] AymenLoukil commented on #61
Hmm, i've never developed in Flask but i could try.. it should be fun :)

[2019-07-04 19:26] c-torres commented on #70
I think the benefits of having _a single source of truth_ are better than focus on easing the translation process. In my personal opinion I like the proposed approach.

[2019-07-04 21:18] AymenLoukil commented on #61
PL #74

[2019-07-05 21:33] AymenLoukil opened #75 "Transform Almanac to a PWA"
It would be nice that Almanac website shupports PWA capabilities for performance and offline support..Etc. I'll make a try on it.

[2019-07-07 19:17] AymenLoukil commented on #75
PL #76

[2019-07-08 21:21] rviscomi commented on #75
Nice idea! I see you've already drafted a PR but I'd like to discuss the features you have in mind before committing anything to the codebase.

Being a mostly static website, I can definitely imagine offline support being an important feature. How do we ensure that all of the contents are preloaded and not just pages/resources users have already loaded? And how do we ensure that preload is done pe

[2019-07-08 22:21] AymenLoukil commented on #75
Ok :)

The Service Worker will cache files and paths we precise. So no need to load the resources by the user for preloading/caching them. Another benefit of that, may be we will use a library for generating graphs (3d.js for example), we could also cache the JS files to improve to performance.

A2HS depends on the browser and is not always native. An UI element should be created / updated to show

[2019-07-09 02:13] rviscomi commented on #73
@tanhengyeow can I assign this to you?

[2019-07-09 22:52] rviscomi commented on #75
Sounds good. Have you looked into using Workbox to generate the SW code? I'm not sure how that might work when we don't have static HTML files but @jeffposnick would be able to answer that.

Can we defer on A2HS for now?

[2019-07-09 23:07] #61 closed

[2019-07-10 11:13] AymenLoukil commented on #75
Yeah i tried Workbox but it was a struggle ti make it works on localhost. I added CSP then tried self host but didn't work.

SW will fetch the given routes and resources and cache them so we should be able to render them when "offline". Would also love to hear from @jeffposnick :)

Ok for A2HS.

[2019-07-10 13:25] jeffposnick commented on #75
In general, the ideal approach for adding in a service worker to a "content" site is to have the service worker mimic the templating/routing rules used during either the static generation or SSR (depending on whether the site is pre-generated or rendered on the fly).

There's more background in this "[Beyond SPAs: alternative architectures for your PWA](https://developers.google.com/web/updates/20

[2019-07-10 17:24] rviscomi commented on #75
We use SSR. Here's the [routing logic](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/main.py) and [templates](https://github.com/HTTPArchive/almanac.httparchive.org/tree/master/src/templates), for example.

The main contents of the Almanac are the chapter pages, which we don't have yet (for obvious reasons) but they would be routed/rendered something like this:

- user req

[2019-07-10 18:49] jeffposnick commented on #75
Given that the routing logic is implemented in Python, it would be somewhat of a manual process to translate that into something that a JavaScript-based service worker could make use of. It doesn't seem like that would be too bad for the current set of rules, which are pretty straightforward, but I do worry about maintainability and things gtting out of sync when changes are made to the Python bac

[2019-07-12 21:19] #66 closed

[2019-07-13 08:41] tanhengyeow opened #78 "Update docs: Configure virtualenv to use python3"
With regards to #48, we should configure virtualenv to use python3 as suggested in this [comment](https://github.com/HTTPArchive/almanac.httparchive.org/issues/48#issuecomment-503275313).

The current docs should reflect this too.

[2019-07-13 17:48] #78 closed

[2019-07-13 17:51] #68 closed

[2019-07-15 09:24] mikegeyser commented on #59
Sorry I've been quiet on this (work has been heavy), going to start working on it now.

[2019-07-15 09:38] mikegeyser commented on #59
There's some overlap with #70, so I'm going to try to keep the implementation in line with the proposed config.

[2019-07-15 09:39] mikegeyser commented on #70
If we manage to land #59, we could put *some* of this metadata (such as author/reviewer) in the metadata section of the markdown file. Is that something that could be interesting?

[2019-07-15 20:18] rviscomi commented on #59
@mikegeyser WDYT about this open question from earlier:

So chapter contents are written and maintained in markdown. When we build the website locally we run a script that renders markdown into HTML (including SVG graphics and metadata). The auto-generated HTML for each chapter can be saved under `src/templates/en/2019/chapters/`. The script could make use of the chapter config from #70 to generat

[2019-07-16 04:08] mikegeyser commented on #59
I think that’s a much better idea, and resolves a bunch of my concerns. I’ll get on that.

My only question (and I’m sorry if this was discussed in another issue) is why the translation is being done against the HTML instead of the Markdown? If we change the generated template, and rerender the html files - wouldn’t that overwrite the translation? It’s much of a muchness, but couldn’t we then tran

[2019-07-16 14:47] rviscomi commented on #70
@KJLarson curious if you have any opinions about the organization of chapter URLs. A chapter page has the structure `/2019/<chapter_id>`. Should `chapter_id` be the numeric sort order, eg `/2019/1` for the first chapter? Or a short identifier, eg `/2019/js`? Or the full title of the chapter, eg `/2019/JavaScript`?

[2019-07-16 14:50] rviscomi commented on #59
You're totally right. Per https://github.com/HTTPArchive/almanac.httparchive.org/issues/35#issuecomment-504005117 I suggested we use gitlocalize to translate the markdown. I think that would be the preferred process for translators. I'll update the process in my previous comment accordingly.

[2019-07-16 22:41] KJLarson commented on #70
Since none of the chapter names are that long, I would probably go with the full title. I think it would be the most informative. Also, if a person wanted to go back to something they saw about CSS, for example, I'm guessing it would be easier for most people to do that using the URL if the `chapter_id` were CSS because they wouldn't have to try to remember the chapter number.

[2019-07-16 22:43] rviscomi commented on #70
Thanks, that makes sense. Any preference for casing and spacing? For example, MobileWeb vs mobileWeb vs mobileweb vs mobile_web etc.

[2019-07-16 22:59] KJLarson commented on #70
Hmmm...I'm not sure about that one.

Are dashes an option? "mobile-web" is easy to read and type. "mobile_web" is easy to read, too, though it can be difficult to see underscores in certain contexts/fonts/etc. Casing probably wouldn't matter for these.

Personally, I don't have any troubles reading camel case or pascal case, but I'm not sure if that's the case (ha ha!) for everyone.

[2019-07-17 05:34] mikegeyser commented on #70
What about titles that have non-alpha characters, such as HTTP/2? Would we turn that into http-2 or http_2?

[2019-07-17 06:31] bazzadp commented on #70
In this case, I would choose http2 as it’s often used in URLs like that and in other places (e.g. Stackoverflow tag, Twitter hashtag). I’ve never seen the other two variants (http-2 and http_2) and they look odd to me tbh.

And while I’m giving HTTP advice my preference would be to make URLs case insensitive so people can use /CSS and /css. Especially if you are using the full chapter names specif

[2019-07-17 09:48] AymenLoukil commented on #70
From an SEO point of view for URL :

- lowercase
- dashes and no underscores
- no spaces and avoid special character

[2019-07-17 16:44] rviscomi commented on #70
Great thanks everyone! (this is why I love having experts around 😄)

[2019-07-23 18:27] rviscomi opened #82 "Query metrics: Chapter 1. JavaScript"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
I. Page Content | 1. JavaScript | @addyosmani @housseindjirdeh @mathiasbynens | @rwaldron @RReverser | #3

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each metric

[2019-07-23 18:38] rviscomi opened #83 "Query metrics: Chapter 2. CSS"
Part | Chapter | Authors | Reviewers | Tracking Issue
-- | -- | -- | -- | --
I. Page Content | 2. CSS | @una @argyleink | @meyerweb @huijing | #4

# READ ME!
All of the metrics in the table below have been marked as `Able To Query` during the [metrics triage](https://github.com/HTTPArchive/almanac.httparchive.org/issues/33). The analyst assigned to each metric is expected to write the correspondin