[2021-11-01 20:44] meyerweb commented on #2140
@rviscomi: Perfect, thanks!

To everyone else: I drafted about a third of the chapter today, stopping here: https://docs.google.com/document/d/18OV1ngkQxdJdENkYzHOdNRtzMLo1vVv9Tg6a9pGfSSE/edit#heading=h.8ppvzpu4dlkm.  Current plan is to write the second third tomorrow, and the last third Wednesday.  I did skip writing the intros for each section (these are marked “TK intro” with an orange highligh

[2021-11-01 22:31] maudnals commented on #2423
Great I wasn't aware, thank you @tunetheweb for the example disclaimer and insights.

[2021-11-01 22:35] #2423 closed

[2021-11-01 22:38] tunetheweb commented on #2423
BTW worth noting that when you've a choice between the two, and need to decide which to show and it doesn't matter which, then we generally prefer to use the mobile stats (unless there's a good reason to use desktop) for the following reasons:
- We're in a mobile-first world nowadays
- Dataset is bigger
- Lighthouse only available for mobile

[2021-11-01 23:26] rockeynebhwani commented on #2155
@bobbyshaw - I have created all charts in results sheet. Please have a look and let me know if I missed anything or if anything is not clear.

[2021-11-02 00:08] wallet77 commented on #2141
Thank you @NishuGoel , I'm ready for reading ;)

[2021-11-02 00:36] tunetheweb commented on #2162
Hey @domakamai /@rmarx just checked the doc and see loads of content there. Great stuff!

I’ve not had a chance to read it (it’s late here so will save that for a fresh head tomorrow!) but did see a few comments about figures and graphs. As your analyst, I can work on those over the next few days to help get you want you need.

[2021-11-02 01:43] Navaneeth-akam commented on #2159
@boosef : Thanks for your suggestions. Here are my responses:
1. Since the crawling for web almanac is executed using a single node in US west coast, its a single point test if we have to measure performance. This off course has its limitations and the results may not be true representation of the performance impact each CDN is adding. Hence, to be fair and neutral on this, we are not including an

[2021-11-02 01:45] Navaneeth-akam commented on #2159
Thanks for reviewing @boosef! I'll go thru the suggestions in google doc. Yes, the order of the topic may not match the outline I came up with. Quite a few topics went out of contention after I outlined what I wanted to cover and few other topics has technical feasibility challenges. Hence, you see this discrepancy :)

[2021-11-02 02:31] rviscomi commented on #2148
Thanks @siakaramalegos I've left my comments. It's looking great!

[2021-11-02 04:42] GeekBoySupreme commented on #2140
Would go through. And also pick up the last third.

[2021-11-02 08:19] bobbyshaw commented on #2155
That's incredible, thanks @rockeynebhwani 🤩

[2021-11-02 14:48] bkardell commented on #2140
I'm discussing some of this with @meyerweb and since I am not listed as a reviewer or something I can't leave comments contextually on the things we're discussing.  It would be helpful to get that, I've requested access... if you want to list me as a reviewer or something, it's fine.

[2021-11-02 15:54] NishuGoel commented on #2141
Hi @soulcorrosion @wallet77 Here's the [draft doc](https://docs.google.com/document/d/1cAJn58dMRLY-x2LNFQBwUajylzFrY0XldjZ34LKcgTE/edit#). Please give your inputs here either as direct fixes for typos or as comments for some point that seems vague, incorrect etc. I am looking forward to completely working on edits/reviews.

Also sending you the link on Slack channel to be able to communicate in de

[2021-11-02 19:11] meyerweb commented on #2140
@rviscomi @LeaVerou There’s a huge discrepancy between this year’s custom property names analysis and last year’s.  Last year, Avada was on top with nearly 35% of all custom names.  This year, it got 3.7%.  Both analyses are (or at least appear to be) based on mobile.  It feels like either Avada didn’t get the credit it should this year, or got way too much last year.

A glance at the pivot table

[2021-11-02 19:18] meyerweb commented on #2140
@rviscomi: On the subject of the custom property names, I’m dubious of some of the affiliation assignments.  As an example, all color-like properties (`--white`, `--black`, `--red`, etc.) are credited to Bootstrap.  Bootstrap may have those names backed in, but if there’s one class of custom property names I can imagine people inventing on their own, it’s names like those.  Do the queries already

[2021-11-02 20:53] rviscomi commented on #2140
The custom property name sheet only shows the [top 1000](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/sql/2021/css/custom_property_names.sql#L41-L43) most popular values as a percentage of pages. It seems like this year there are many mobile pages with Avada that fell just below that threshold.

For example, about 50k desktop pages (0.8%) include Avada custom properties like `-

[2021-11-02 21:23] meyerweb commented on #2140
Oof.  I am fairly strongly motivated to drop this analysis this year (possibly with a note as to why) and come back to it in 2022, assuming more robust analysis is created.

I would be happy to take a part in crafting that more robust analysis, to be clear.  I’m just not sure it can be put together in time for this year’s Almanac, given my delay in getting started and the complexity of the task.

[2021-11-02 21:25] meyerweb commented on #2140
Oof. I am fairly strongly motivated to drop this analysis this year (possibly with a note as to why) and come back to it in 2022, assuming more robust analysis is created.  The only alternative I see is what you propose, switching to desktop and adding a note explaining the uncertainties in the methodology, and that is itself an argument for just taking the analysis out entirely.

I would be happy

[2021-11-02 21:33] meyerweb commented on #2140
General progress update: I got up to “CSS Mistakes” today, which means I’ll need to write that and the “Sass” section tomorrow, then start back at beginning on resolving suggestions, making my own edits, tackling anything missing, etc.  I’d hoped to finish primary drafting today, but pushing any further at this point would probably result in garbage I’d just have to replace tomorrow anyway.

So, r

[2021-11-02 22:38] bkardell commented on #2140
I kind of agree with eric's thought to drop or at least revise this part significantly.  It might be nice to say something bland but interesting like about custom elements "X number of custom properties appear on over N pages" and then explain something like "here are the ones we feel *really* confident about" (--wp-* is pretty good/specific) but also note that there's a bunch that might or might

[2021-11-03 10:09] LeaVerou commented on #2140
What was the methodology this year for assigning custom properties to software? I think last year I did it manually by searching on Github. But I see Avada still has 31.48% on desktop, are you sure last year's analysis was based on mobile?

[2021-11-03 10:14] LeaVerou commented on #2140
Note that Bootstrap these days *does* namespace its custom properties, these ones are from old Bootstrap.
I think last year when I assigned them manually, I did take into account which groups of properties had similar usage percentages.

[2021-11-03 18:49] rviscomi commented on #2140
+1 to dropping the software grouping if it's problematic this year.

We could still show ungrouped stats for individual custom properties if interesting, for example the top 10 custom property names:

name | desktop | mobile
-- | -- | --
--wp--style--color--link | 18.58% | 18.13%
--wp-admin-theme-color | 7.36% | 7.52%
--red | 7.40% | 7.23%
--blue | 7.39% | 7.21%
--green | 7.37% | 7.19%
--dark | 7.

[2021-11-03 20:34] meyerweb commented on #2140
That’s it, that’s the play.  Thanks, Rick!

[2021-11-04 18:41] soulcorrosion commented on #2155
@bobbyshaw do you think I can start reading for the review?

[2021-11-04 19:08] siakaramalegos commented on #2148
@estelle @fili @Nithanaroy @kevinfarrugia @ziemek-bucko @jzyang @samarpanda @edmondwwchan for the published almanac, I need any of the following data you'd like to include - this is my example (name is required, rest is optional):

[code]

I already have your GitHub ID and avatar from GitHub. I'll use the name on there as a draft, but let me know if it's not how you would like it published. Please

[2021-11-04 19:23] siakaramalegos commented on #2148
It would be even better if you could submit a PR for your info here: Already added your names, GH id, GH avatar. Fill in the blanks for the rest or delete the line if you don't want to include it https://github.com/siakaramalegos/almanac.httparchive.org/blob/performance-2021-markdown/src/config/2021.json

[2021-11-04 19:29] tunetheweb commented on #2148
Or could suggest as a Review suggestion here if done before this is merged: https://github.com/HTTPArchive/almanac.httparchive.org/pull/2434/files

[2021-11-04 20:57] rviscomi opened #2435 "Line height of links causes inconsistent paragraph spacing"
In the screenshot above, the text is all in one paragraph but the spacing around the lines is different depending on whether it contains a link. There might be a bug in the link's line-height style causing the inconsistency.

The spacing around "possible." almost makes it look like a separate paragraph.

[2021-11-04 21:08] MukulKolpe commented on #2435
Hey @rviscomi can I work on this issue?

[2021-11-04 21:13] meyerweb commented on #2140
@rviscomi: New question: the [Layout Methods tab](https://docs.google.com/spreadsheets/d/12vQIA0xsC5Jr3J9Sh03AcAvgFjMAmP1xSS6Tjai9LF0/edit#gid=1349743417) returns a figure for Grid of 37% of pages.  But the next tab, [Flexbox and Grid](https://docs.google.com/spreadsheets/d/12vQIA0xsC5Jr3J9Sh03AcAvgFjMAmP1xSS6Tjai9LF0/edit#gid=928762069), says Grid is used on 8% of pages.  I feel like I must be mi

[2021-11-04 22:14] rviscomi commented on #2435
@MukulKolpe go for it!

[2021-11-04 22:17] rviscomi commented on #2140
@meyerweb see [this comment thread](https://docs.google.com/spreadsheets/d/12vQIA0xsC5Jr3J9Sh03AcAvgFjMAmP1xSS6Tjai9LF0/edit?disco=AAAAPiR6l0E)

[2021-11-04 22:18] siakaramalegos commented on #2148
I'd prefer a PR to my repo so it reduces the amount of upstream fetching I have to do. Or just give me the data.

[2021-11-05 08:21] kevinfarrugia commented on #2142
Hi @AlexLakatos how's it coming along? Do you need my input on any of the queries or results?

[2021-11-05 09:23] AlexLakatos commented on #2142
@kevinfarrugia It's coming slower than I anticipated, but I hope to finish this weekend. Most queries were straightforward. I could use a second pair of eyes on the "Compression" section. I used filtering on the "content_encoding" sheet to come up with the data, I could use someone double-checking if that's the right way to do it.

[2021-11-05 11:25] fili commented on #2146
added a few suggestions to the document.

On Thu, Nov 4, 2021 at 3:24 PM David Fox ***@***.***> wrote:

--

Fili Wiese

***@***.***

Websites

●  fili.com

●  seo.consulting

●  online.marketing

------------------------------

Registered Office:  Friedrichstr. 114a, 10117 Berlin, Germany

VAT:  DE290388554

This email may be confidential or privileged. If you have received this
communication in e

[2021-11-05 11:50] kevinfarrugia commented on #2142
I created a pivot table for the `content_encoding` sheet and a bar chart. I'm not sure if that's what you want to show. Let me know if that helps you.

content_encoding | desktop | mobile
-- | -- | --
gzip | 62.85% | 63.84%
br | 21.75% | 21.93%
  | 15.26% | 14.11%
deflate | 0.10% | 0.10%

![Uploading Content encoding.png…]()

[2021-11-05 14:19] AlexLakatos commented on #2142
@kevinfarrugia That's better than what I had in mind, thanks!

[2021-11-05 14:50] rviscomi commented on #2143
⛔ @jpamental this chapter desperately needs your attention in order to publish on time. If you're unable to make progress on the draft in the next few days we may need to consider closing this chapter :(

[2021-11-05 16:39] meyerweb commented on #2140
@j9t @svgeesus @argyleink @una @estelle @LeaVerou @rachelandrew @jabranr @tomhodgins @GeekBoySupreme @bkardell **It’s time!**  Please review [the now-complete draft](https://docs.google.com/document/d/18OV1ngkQxdJdENkYzHOdNRtzMLo1vVv9Tg6a9pGfSSE/edit#heading=h.8z91yaf1dmft) at your earliest convenience.  Thank you!

As mentioned before, it’s preferred to leave comments on the Google Doc with quest

[2021-11-05 17:16] bobbyshaw commented on #2155
Thanks for your patience team. I can now offer my very rough first [draft](https://docs.google.com/document/d/1LQjpsaWx-5ZtHQGRnHlPnekkxuap50KzJZJTIaSX4B4/edit#heading=h.l58oy8wsputh) for review. Given that days are passing quickly feel free to review at your earliest convenience and I will respond to each as and when I can.

@rockeynebhwani @fili @samdutton @alankent @soulcorrosion (@shantsis I'm

[2021-11-05 18:56] fili commented on #2155
Thanks for the update. I will have a look at it in the coming week and get
back to you.

On Fri, Nov 5, 2021, 18:17 Tom Robertshaw ***@***.***> wrote:

[2021-11-05 20:33] #2153 closed

[2021-11-05 20:36] tunetheweb commented on #2153
The PWA 2021 chapter is completed and has been merged!

Well done all involved - especially @demianrenzulli for holding the ship together.

The first 2021 chapter merged! 🎉 Quite an achievement. Can't wait until it's launched.

@demianrenzulli @webmaxru @Schweinepriester @thepassle @hemanth @tropicadri @andreban @jeffposnick  @tunetheweb @rviscomi  @obto

[2021-11-05 22:21] tunetheweb commented on #2435
Any luck wiht this @MukulKolpe ?

I looks to me like it's due to the `vertical-align: super;` on line 1577:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/f4d55ae7431ed68e09b4c87b959921d2e439c7d2/src/static/css/almanac.css#L1559-L1570

This is done for our translations to indicate when a link is not in the translated language but in English:

![Screenshot of French chapter with (en)

[2021-11-05 23:07] alankent commented on #2155
Just wanted to say I think the start is coming together well @bobbyshaw (and others)! The end still needs work (not finished). I finished a complete pass through. Feel free to mention me on this thread again later if you want me to make another pass.

[2021-11-06 09:31] tunetheweb commented on #923
@HTTPArchive/translators the first 2021 chapter (PWA) is now ready for Translation if anyone wants to pick that up for their language. The Translation issues have been updated with the 2021 task (though not all chapters are ready yet).

[2021-11-06 09:34] tunetheweb commented on #2396
@nhandota how you getting on? Anything I can do to help?

[2021-11-06 14:13] GeekBoySupreme commented on #2140
@rviscomi I pulled the data on methodology from last year's almanac and could you help modifying the numbers to fit with what we did for this year
`The data in this chapter took 121 SQL queries to produce, totaling over 10K lines of SQL including 3K lines of JavaScript functions within the SQL. This makes it the largest chapter in the Web Almanac’s history.`
and
`A lot of engineering work went int

[2021-11-06 23:25] Zizzamia commented on #2161
As I am quite behind on writing this chapter, I decided to write directly the draft in this PR https://github.com/HTTPArchive/almanac.httparchive.org/pull/2443.

Reviewers (@jessnicolet @WilhelmWillie @roryhewitt @boosef) and Analysts (@rviscomi), as I am going to write more over the next few days, feel free to add suggestions, edits or share a feedback at anytime. 🙏

[2021-11-07 04:11] rviscomi opened #2445 "Avoid converting double hyphens to emdashes"
When writing markdown content that includes two consecutive hyphens (`--`), ~prettier~ smartypants converts it into an emdash (`—`). This is a nice shortcut for blocks of text, but there may be use cases where the hyphens are preferable. Consider disabling this prettier feature.

Two use cases I ran into:

1. HTML comments in the markdown file: ``. I got a prettier parser error like this:
[code]

[2021-11-07 06:15] tunetheweb commented on #2445
I think this is Showdown not Prettier.

I would say the following:
1. This should be a Jinja comment IMHO. Shouldn't really be exposing our internals externally (even in comments).
2. This should be wrapped in code formatting. Then it doesn't convert.

Saying that, can't see any reason NOT to turn this off, as don't need it and would avoid above issues (even if technically I don't think we should

[2021-11-07 06:40] tunetheweb commented on #2445
Found it. It's not prettier but smartypants (the library we use for typographic quotes).

PR coming up - though still think you should change to use code formatting for code.

[2021-11-07 12:44] tunetheweb opened #2449 "Performance of generate script"
We have a NodeJS `npm run generate` command, which generates all the chapters, and generates the featured quotes (which requires having processed all the chapters), and generates the ebook.

In GitHub actions we also test and export every web page and save the actual HTML (as opposed to the Jinja2 HTML Templates that the generate script generates that aren't fully HTML as includes Jinja functions)

[2021-11-07 13:04] #2445 closed

[2021-11-07 21:29] shantsis commented on #2155
I did a first pass through the doc. Main thing to be careful of is use of past tense (for our analytics) vs present (current state of web), and use of British vs US spelling
https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Editors'-Guide

[2021-11-07 21:35] shantsis commented on #2155
The other thing to note is that there are a lot of charts using only green bars (not desktop related) that are leading to poor contrast. @tunetheweb suggests we can either use the dark gray color instead for both for bar and label, or just the label
<img width="687" alt="Screen Shot 2021-11-07 at 4 08 28 PM" src="https://user-images.githubusercontent.com/22671477/140662710-4ad8ed8f-c507-4b35-a357-

[2021-11-07 23:21] tunetheweb commented on #2155
Other option is to use black labels. But find they look better as inside labels (something just seems "off" when they are outside labels for green bars):

![image](https://user-images.githubusercontent.com/10931297/140665665-956e8a0f-b45d-4125-aec4-f8eec4ca5fcb.png)

[2021-11-08 10:27] ksakae1216 commented on #923
I can help for Japanese translations 🇯🇵

[2021-11-08 17:17] rviscomi commented on #2143
Apologies to everyone looking forward to the Fonts chapter this year but unfortunately it doesn't seem feasible to publish it at this point. Thank you to everyone who signed up to contribute and put effort into it, I'm hopeful that we'll be able to carry some of that enthusiasm over into next year's chapter.

[2021-11-08 17:17] #2143 closed

[2021-11-08 17:32] #2245 closed

[2021-11-08 19:17] MukulKolpe commented on #2435
I'm stuck with some work for a few days. So I might not be able to work on this right now...It will be better if someone else takes this up for now. Sorry for taking so much time.

[2021-11-08 19:54] j9t commented on #2140
@meyerweb, on it; what timeframe can you grant us? (I’m pretty busy but would like to contribute, in time for it to be useful.)

[2021-11-08 20:40] demianrenzulli opened #2454 "Filter performance metrics by sites that use service workers"
Hi folks,

From our meeting with @siakaramalegos in the context of the analysis of performance and connection types, we thought that it would be interesting in 2022 to go deeper into the relationship between performance and service workers, to see if we can extract some conclusions.

At a minimum a simple idea could be to cross the data obtained by the writers of the performance chapter, with our

[2021-11-08 21:00] tunetheweb commented on #2454
It’s certainly something we could do and I could easy knock up a query and chart on the Core Web Vitals numbers from CrUX based on our service worker heuristic for this years chapter of you wish.

However, if worry about drawing too many conclusions from this. As you’ve shown in your chapter, Service Workers are still a relatively advanced and niche technology. So are sites that use SW also sites

[2021-11-08 21:30] demianrenzulli commented on #2454
I believe this is correct. If we add the service worker filter, we might be implicitly counting more sophisticated sites, and it's likely that they'll have a better performance just for having more resources to invest on it.

In any case, I have to admit that I'm curious about the results of that analysis (but perhaps not to include in a chapter). Another thing that might be interesting to compare

[2021-11-08 21:36] tunetheweb commented on #2454
The report is driven by Wappalyzer which we run during our crawl and then join with CrUX data for the report. So to add have a look at the Wappalyzer repo: https://github.com/AliasIO/wappalyzer

Wappalyzer is a third-party app, not part of HTTP Archive nor CrUX and they detect technologies by looking for signatures (e.g. a unique JS variable or a script name). We then use it in our crawl. If you h

[2021-11-08 21:37] demianrenzulli commented on #2454
Cool, I'm closing this issue by now and I'll take a look at that repo to see if it makes more sense to move it there. Thank you!

[2021-11-08 21:37] #2454 closed

[2021-11-08 21:53] meyerweb commented on #2140
I believe we’re supposed to be done with editing by this Sunday (@rviscomi?), so by Thursday of this week would be ideal.  Or, if I’m wrong about the deadline or we can get a slight extension, by the end of the weekend.

[2021-11-08 22:39] rviscomi commented on #2140
Getting all reviewer feedback in by Thursday SGTM. If taking an extra day or two means having a more polished chapter, then that's a tradeoff I'd be willing to take.

Just to clarify, after the authors write the chapter and reviewers' technical feedback is incorporated, there's still a separate non-technical editing pass. We'll add all of the written-but-unedited chapters into a queue and someone

[2021-11-08 22:53] tunetheweb commented on #2454
Ran the stats and they are not good for PWA advocates!

![image](https://user-images.githubusercontent.com/10931297/140830923-7572c0e0-2480-4554-b46c-5083a039e607.png)

Further breakdown for mobile:

![image](https://user-images.githubusercontent.com/10931297/140830980-ae7ad212-1d10-4361-9372-841911749263.png)

My only thoughts are that PWA sites could be more complex in nature than many home site

[2021-11-09 07:50] j9t commented on #2140
Thanks for clarifying. I might only be able to provide feedback this weekend, but I’ll see what I can do.

[2021-11-09 14:03] jono-alderson opened #2459 "Correct 'sameAs' schema"
Various templates and partials declare 'sameAs' schema, but do so using the lowercase string `sameas`.
See https://github.com/HTTPArchive/almanac.httparchive.org/search?q=sameas

This is technically invalid (though most consumers should manage reasonably well); the string should be corrected to `sameAs`.

[2021-11-09 14:23] rviscomi commented on #2459
Great catch! @HTTPArchive/developers this seems like a good first issue if anyone is looking for a small task.

[2021-11-09 14:30] Navaneeth-akam commented on #2159
@paulcalvano : let me know once we the results for the last set of queries?

@rviscomi : we are in the final leg of the draft. The current draft is reviewed by @boosef and @jzyang. Their suggestions and recommendations were discussed and incorporated. Once the last few results of queries are in place, I'll draft the last few pieces for reviewing and editing.

[2021-11-09 14:46] #2459 closed

[2021-11-09 16:56] rviscomi commented on #2142
@AlexLakatos how's it going? Looks like there's still a lot of writing to go. Are you mostly blocked on the data visualization part? Let me know if I can help with that.

Given the short time remaining it's highly likely that this chapter will not be fully written/reviewed/edited in time for the November 15 milestone, so let's start thinking about a more realistic timeline. @AlexLakatos can you co

[2021-11-10 00:26] #2145 closed

[2021-11-10 11:28] AlexLakatos commented on #2142
I think we can make that happen, I will try to make it happen faster than the 15th, but I don't want to over-commit again, so let's keep it the 15th. The big blocker is not visualization, though I could use help with those, I haven't figured out how to generate those yet. I'll leave comments in the doc for them.

[2021-11-10 13:55] bobbyshaw commented on #2155
Thanks, everyone. I've incorporated all feedback, including the chart suggestions and Americani~s~zation 🙂

I'm going to take a break and come back in a few days to start the process of converting to markdown. I'll do my best to incorporate any final comments made during that period.

Thanks, again.

[2021-11-11 12:26] svgeesus commented on #2140
I'm working my way through the doc.

One area that we didn't examine last year (mainly because of overlap with the Fonts chapter, so we ended up dropping all the font analysis - although it then ended up unexamined in both CSS and Fonts chapters) was the usage of font-* properties.

This year, it is at least _briefly examined_ but the **lack of usage** isn't really commented on at all

(I also thi

[2021-11-11 12:39] svgeesus commented on #2143
Oh, @rviscomi  sad, but understandable given the lack of any content.

Thanks to the Analysts @jessthebp @konfirmed for their work, and hopefully this year's result sheet is helpful as a point of comparison for next year.

Probably best to recruit a couple of interested and motivated 2022 editors from the typographic community, sooner rather than later.

I'm interested in at least reviewing next y

[2021-11-11 13:59] svgeesus commented on #2140
Okay I have gone through the whole doc now and added comments as needed.

[2021-11-11 19:23] rviscomi commented on #2143
+1 thank you for that @svgeesus.

I'd encourage anyone interested in participating in the 2022 Web Almanac to fill out [this form](https://forms.gle/j2f6tFojB8ZkWvRv8) so that we can notify you when we kick off the planning stage next year. Leave a note about your interest in fonts (or any other chapter) and we'll tag you in the relevant issues.

[2021-11-11 23:57] tunetheweb commented on #2435
With a bit more Googling I found the answer: https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/ Should have known CSS Tricks would have something!

Will still set it to `initial` in English to remove the pointless empty pseudo element.

[2021-11-12 00:01] tunetheweb commented on #2435
Oh and turns out we have this fix in our normalize.css file too! Should have looked there and applied same thing here :-(

https://github.com/HTTPArchive/almanac.httparchive.org/blob/48ed8ad71792f477f0a3d2c793c17843978e99a5/src/static/css/normalize.css#L120-L135

[2021-11-12 00:09] #2435 closed

[2021-11-12 13:24] tunetheweb commented on #2149
@max-ostapenko @VictorLeP I don't see the CNAME queries in the repo. Can you add them?

[2021-11-12 13:25] VictorLeP commented on #2149
deferring to @ydimova, she is responsible for these queries.

[2021-11-12 20:20] rviscomi commented on #2142
Hi @AlexLakatos, have you been able to make any progress on the draft this week? Do you still think you can get it written by Monday?

[2021-11-12 20:41] rviscomi commented on #2156
⛔  Hi @denar90 the draft is empty in the doc so it's not looking like this chapter will be able to launch on time. Are you still able to commit to writing the chapter? If so we should come up with a more realistic timeline to have something ready by launch day. Let me know if this works for you:

1. Complete a rough draft by **Monday, November 15**, written directly in markdown and a PR opened on

[2021-11-13 04:14] #2174 closed

[2021-11-13 04:27] #2158 closed

[2021-11-13 05:12] rviscomi opened #2476 "i18n bug on TOC page: "English - not available in English""
![image](https://user-images.githubusercontent.com/1120896/141606475-0e968e74-1027-4b97-8cef-0c6a3a16d8ec.png)

https://20211112t235731-dot-webalmanac.uk.r.appspot.com/en/2021/table-of-contents

While staging https://github.com/HTTPArchive/almanac.httparchive.org/pull/2447/ I ran into an i18n edge case. Not totally sure how I got into this state. It had to do with trying to switch langs/years to f

[2021-11-13 05:34] rviscomi commented on #2476
This might just be a bug as long as 2021 is unreleased

[2021-11-13 08:01] tunetheweb commented on #2476
Usually a sign you haven't done an `npm run generate` or a server restart since the `src/config/2021.json` file was updated.

An English chapter should always either be available or "coming soon".

[2021-11-13 10:01] j9t commented on #2140
Dto., I’m done, too. Hard to find something, Eric, team 🙏 I look forward to this being published.

[2021-11-13 15:10] rviscomi commented on #2476
That seems to have been the case, good call!

[2021-11-13 15:10] #2476 closed

[2021-11-14 18:14] #2152 closed

[2021-11-15 11:51] tunetheweb commented on #923
We now have five 2021  chapters ready for translating:
- PWA
- Third Parties
- Structured Data
- Resource Hints
- Capabilities

Should have some more coming soon.

[2021-11-15 13:26] Navaneeth-akam commented on #2159
@jzyang @boosef : I have drafted a new section in CDN Chapter for "Brotli Adoption. Please review and comment on the same.

[2021-11-15 16:38] tunetheweb commented on #2143
Wasn't aware you were waiting on that. All the queries were written but see now they weren't run. They have been now and available in the chapter sheet: https://docs.google.com/spreadsheets/d/1LtahQmT53kj_Z2lMKAr5kSWzskwIe9SbbmIPCH0j_n4/

[2021-11-15 19:04] jzyang commented on #2159
@Naveen Sharma ***@***.***> should we be reviewing in
the Google doc or should be do it in the git?  I suggest git so we can get
you closer to completion.

On Mon, Nov 15, 2021 at 5:26 AM Navaneeth ***@***.***> wrote:

[2021-11-15 19:05] jzyang commented on #2159
Oh darn, I tagged the wrong person.  @Navaneeth-akam
<https://github.com/Navaneeth-akam> see previous comment.  Sorry for the
confusion @Naveen Sharma ***@***.***> , please ignore!

On Mon, Nov 15, 2021 at 11:04 AM Julia Yang ***@***.***>
wrote:

[2021-11-15 19:30] rviscomi commented on #2142
@AlexLakatos could you give us a status update?

[2021-11-15 21:26] #2148 closed

[2021-11-15 22:59] rviscomi commented on #2173
📟 @yuseyhan

[2021-11-15 23:08] #2149 closed

[2021-11-16 00:20] rviscomi opened #2508 "Create an early release of the 2021 edition"
- [x] Launch all written, reviewed, and edited chapters.
- [x] Any chapters at risk of missing the full launch on December 1 should be omitted from the Table of Contents to avoid overpromising. (Note: if these chapters are caught up by December 1, they'll be released as usual)
- [x] The 2021 home page should be changed from "Coming soon" to the usual text, including the contributor section and 202

[2021-11-16 00:30] VictorLeP commented on #2508
Possibly relevant comment from https://github.com/HTTPArchive/almanac.httparchive.org/pull/2507#issuecomment-969474344:

[2021-11-16 01:12] tunetheweb commented on #2508
Fixed in https://github.com/HTTPArchive/almanac.httparchive.org/pull/2509

[2021-11-16 02:54] Navaneeth-akam commented on #2159
@jzyang : lets finish off the content in Google doc as i'm more comfortable modifying and editing it there. Once the doc is finalized, then we can submit it to git in one go

[2021-11-16 04:29] AlexLakatos commented on #2142
Made a decent dent into it, there are two chapters left, which I hope to complete today. In the meantime, I think we can start reviewing what's there.

[2021-11-16 06:42] jzyang commented on #2159
@Navaneeth-akam <https://github.com/Navaneeth-akam> done.

On Mon, Nov 15, 2021 at 6:54 PM Navaneeth ***@***.***> wrote:

[2021-11-16 07:46] Navaneeth-akam commented on #2159
@jzyang @boosef : More edits and corrections made to the google doc draft. There were few charts that needed some correction and @paulcalvano helped finish them today. Do review and edit the same.
I might have to do one more correction since one of the chart data might change. Will keep you guys posted on it

[2021-11-16 09:28] dwsmart commented on #2151
Hey @rviscomi ,

Jamie (@fellowhuman1101) doesn't appear to have permissions to push to our branch, (mobile-web-2021), does she need to be added to something, or did I do the dumb think settting up that branch? We're keen to get the markdown pushed!

[2021-11-16 09:37] tunetheweb commented on #2151
Sent her the invite to the team!

[2021-11-16 09:44] dwsmart commented on #2151
Thanks @tunetheweb

[2021-11-16 09:56] tunetheweb commented on #2151
You at the stage yet to open a draft PR? Want me to stage it to a URL so others can see it?

[2021-11-16 10:12] dwsmart commented on #2151
Very close, we should be today at some-point, so I'll holla then!

[2021-11-16 11:07] tunetheweb commented on #2508
Think we're good to go. Staged URL of `main` at the moment: https://20211116t102359-dot-webalmanac.uk.r.appspot.com/en/2021/

(P.S. Remember to run `rm -f ./templates/*/*/chapters/*` is restaging to remove old chapters you might have generated from other branches. The `deploy` script will do this automatically for you but not the `stage` script cause of you want to re-stage without having to do a

[2021-11-16 12:05] VictorLeP opened #2520 "Blockquotes count as a figure"
Blockquotes seem to be turned into a figure (and can be linked to as such), see [Figure "1" of the Performance chapter](https://20211116t102359-dot-webalmanac.uk.r.appspot.com/en/2021/performance#fig-1). However, this "figure" has no caption, having the strange effect that the first figure whose number is visible is [Figure 9.2](https://20211116t102359-dot-webalmanac.uk.r.appspot.com/en/2021/perfo

[2021-11-16 14:01] #2520 closed

[2021-11-16 14:08] tunetheweb commented on #2520
Fixed and re-staged to same URL. Thanks!

[2021-11-16 16:40] tunetheweb opened #2525 "Edit 2021 chapters"
📢  Attention Editors: this issue will be used to track progress on the 2021 chapters that are ready for editing.

When you're ready to edit a chapter, edit this comment to put your name next to the first unchecked and unclaimed chapter. Chapters will be added to the queue as they become ready for editing.

Refer to the [Editors' Guide](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Ed

[2021-11-16 16:56] rviscomi commented on #2525
@HTTPArchive/editors if you're available please grab a chapter to edit! 🙏 🚀

[2021-11-16 21:37] meyerweb commented on #2140
And it’s off to editing!  Thank you, everyone.  And if I overlooked or misidentified anyone in the contributors listing (see https://20211115t173622-dot-webalmanac.uk.r.appspot.com/en/2021/css), please accept an abject apology and an offer to reinstate you forthwith.

[2021-11-17 00:29] AlexLakatos commented on #2142
4680 words later, I'd say the first draft of the Markup chapter is done. Happy reviewing! I'll run Grammarly on it in the morning. @j9t @ibnesayeed @meyerweb @brycehowitson, I'd love it if you took advantage of the suggestions feature of GDocs while reviewing! Let me know if you have any questions during the review.

Also, if anyone identifies an opportunity to swap some of the tables for charts,

[2021-11-17 00:36] rviscomi commented on #2154
Reopening until we complete the editing

[2021-11-17 00:45] shantsis commented on #2140
I'm currently editing through the markdown version of the doc and I saw a great spot that could use a reference link for people to learn more

Are the authors okay with linking one in? If we don't have one specifically, I think we can even just link to the accessibility chapter that covers captchas

[2021-11-17 01:34] Navaneeth-akam commented on #2159
@jzyang : thanks for reviewing and editing. I have looked at your corrections and accepted them as required.
@boosef : let me know once you do a final review of the draft.
@paulcalvano : I know you are our analyst, but it would be great if you can read the draft and give me your thoughts :)
@rviscomi : I'm happy with the content for CDN chapter. When we get final comments from @boosef , we should

[2021-11-17 01:42] rviscomi commented on #2159
Sounds good @Navaneeth-akam. Do you want to start the markdown conversion and finish the review in the GitHub PR?

[2021-11-17 01:52] rviscomi commented on #2508
Updated the staging URL with `main`

[2021-11-17 02:14] Navaneeth-akam commented on #2159
Yeah, we can do that. Let me know how we can go about this

[2021-11-17 06:37] j9t commented on #2142
On it. Aware of the urgency, probably need this weekend to give feedback.

[2021-11-17 07:10] tunetheweb commented on #2525
Added the stage URL which I'll try to keep up to date with all chapters (including unedited ones) for those unable to run the site locally themselves.

[2021-11-17 13:04] tunetheweb commented on #2142
I've made lots of suggestions for charts. I think they are much better (and colourful!) than table after table and table and more consistent with other chapters.

We also should move away from giving absolute numbers. Saying an element if used 3,055,068 times is meaningless without the context (which a % gives) and also makes it really difficult to compare year on year numbers since the number of

[2021-11-17 19:24] demianrenzulli commented on #2153
Hi folks!

Thanks again for collaborating in this year's PWA chapter!!

The chapter has already been released: https://almanac.httparchive.org/en/2021/pwa

Please, feel free to share or retweet the HTTP Archive announcement: https://twitter.com/HTTPArchive/status/1461029997804720131

cc // @webmaxru @Schweinepriester @thepassle @hemanth @tropicadri @andreban @jeffposnick

[2021-11-17 20:13] tunetheweb commented on #539
We added a small note to our Accessibility Statement about colour contrast issues:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/14f85122c88d14ee1f8dd0474479424338766625/src/templates/fr/accessibility_statement.html#L69-L71

Would be great if someone could translate this (nudge, nudge @borisschapira since I know you're very keen on Accessibility!)

[2021-11-17 20:13] tunetheweb commented on #498
We added a small note to our Accessibility Statement about colour contrast issues:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/14f85122c88d14ee1f8dd0474479424338766625/src/templates/es/accessibility_statement.html#L69-L71

Would be great if someone could translate this. Very small and easy!

[2021-11-17 20:13] tunetheweb commented on #1402
We added a small note to our Accessibility Statement about colour contrast issues:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/14f85122c88d14ee1f8dd0474479424338766625/src/templates/es/accessibility_statement.html#L69-L71

Would be great if someone could translate this (@PraveenPal4232 ?). Very small and easy!

[2021-11-17 20:13] tunetheweb commented on #586
We added a small note to our Accessibility Statement about colour contrast issues:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/14f85122c88d14ee1f8dd0474479424338766625/src/templates/es/accessibility_statement.html#L69-L71

Would be great if someone could translate this (@ksakae1216 ?). Very small and easy!

[2021-11-17 20:14] tunetheweb commented on #1750
We added a small note to our Accessibility Statement about colour contrast issues:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/14f85122c88d14ee1f8dd0474479424338766625/src/templates/es/accessibility_statement.html#L69-L71

Would be great if someone could translate this (@noah-vdv ?). Very small and easy!

[2021-11-17 20:14] tunetheweb commented on #1067
We added a small note to our Accessibility Statement about colour contrast issues:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/14f85122c88d14ee1f8dd0474479424338766625/src/templates/zh-CN/accessibility_statement.html#L69-L71

Would be great if someone could translate this (@chengxicn ?). Very small and easy!

[2021-11-17 20:44] webmaxru commented on #2153
Thanks for leading the project, @demianrenzulli!
Please, keep me in mind for the next year's PWA chapter!

[2021-11-17 23:18] ksakae1216 commented on #586
@tunetheweb OK.
I will translate at Today or Tommorow.

[2021-11-18 14:41] demianrenzulli commented on #2153
Sure thing! Thank you @webmaxru  and thanks for the great insights everyone, it was great working with you, and once again many thanks to @tunetheweb for his contributions, support (and patience)!!

@rviscomi has shared [this interest form](https://docs.google.com/forms/d/e/1FAIpQLSezsQmHufYjJqN1H18bUN8G8Qe1B-h02TMAlWVx6H7vWH0RtQ/viewform) so you can sign up and be contacted when the 2022 chapter

[2021-11-18 20:13] rviscomi opened #2564 "Consider exporting SVG versions of charts"
@RReverser had a great idea to look into the Download As > SVG feature of charts in Google Sheets. SVGs don't have the same rasterization issues as the PNGs exported from Sheets.

We should investigate whether switching from PNGs to SVGs would simplify the workflow at all or if there are any UX benefits like smaller file sizes or improved scalability.

One potential that would require a lot more w

[2021-11-19 00:01] AlexLakatos commented on #2142
Thank you @tunetheweb for the charts, they are great!

[2021-11-19 14:47] j9t commented on #2142
Finished reviewing and [providing feedback](https://docs.google.com/document/d/1x7iV0Tv3hxaruwlNHdhduPpzwZc9dnqMOZW1q9nGKjI/edit). Overall nice work, exciting to see this!

[2021-11-19 17:53] RReverser commented on #2564
Just one data point: for "Number of Wasm responses" graph, SVG version passed via [SVGOMG](https://jakearchibald.github.io/svgomg/) would amount to 5.43 KB gzipped, whereas current PNG version results in 41.88 KB after optimizations - 7.7x size difference, not to mention better scaling.

[2021-11-19 17:58] tunetheweb commented on #2564
Well that's one reason I prefer tinypng.com:

![image](https://user-images.githubusercontent.com/10931297/142669351-185d4d88-5f4d-47cb-a53e-0180860b7870.png)

The Calibre Image optimisation is nice as automated in case people forget, but do normally try to use tinypng.com (and usually do a bulk update at the end), cause there is significant savings to be had.

But yeah SVG is even smaller still!

[2021-11-19 18:22] RReverser commented on #2564
FWIW we could also just look at AVIF, which provides size savings very close to SVG even on default settings

![image](https://user-images.githubusercontent.com/557590/142672449-8561b170-732a-4b4d-bfef-f0096b65439b.png)

but SVG is worth it just for scaling if nothing else IMO.

[2021-11-19 18:35] tunetheweb commented on #2564
AVIF still not got enough browser support meaning we'd need PNG support anyway so doesn't save us much to be worth it IMHO. Would further increase the size of this repo (which is already nearly a Gig!)

I do like SVG for fidelity, but problem is automating that. We've (just this year!) got a nice process to pull out the PNG from the published sheets URL, but looks like that ([example](https://docs

[2021-11-19 18:53] RReverser commented on #2564
I've briefly looked at downloaded URLs when clicked through "Download as SVG".

Here's the general spreadsheet URL:

[code]

Here's the SVG export URL:

[code]

And here's URL we use right now in iframe:

[code]

By cross-referencing those with each other, it's clear that in SVG export URL:

 - `1IMa2SbdQgshb4pGWF1KOh9s4zMtLbRymWZGYjdaatXY` (repeated twice) is just the spreadsheet id.
 - `oid` mat

[2021-11-19 18:55] RReverser commented on #2564
Looks like we can even remove `disposition=ATTACHMENT` param and avoid the download logic - instead, image is served with correct Content-Type so we could hotlink to those SVGs directly if we wanted that.

[code]

[2021-11-19 18:58] tunetheweb commented on #2564
Now you're getting me excited!!!

Cause at the very least that would save us the compression step.

Now if we could just replicate the hover effects (basically the only bit of interactivity the embeds give us) then we could serve JUST the SVG.

Time to dig up that SVG book on my bookshelf I've been meaning to find time to dig through...

[2021-11-19 18:59] RReverser commented on #2564
Hehe, good luck :) I'd send a PR myself at least for the initial step of using SVG instead of PNG, but there's so little time 😅

[2021-11-19 19:01] RReverser commented on #2564
Quick note: I think we'd still want compression, but via SVGOMG / SVGO instead of Calibre. The SVG charts exported from Sheets directly are not optimized, unfortunately:

![image (5)](https://user-images.githubusercontent.com/557590/142677049-97f02887-6c39-43fd-bd4c-92e8d114444b.png)

[2021-11-20 23:06] #2154 closed

[2021-11-22 11:43] #2155 closed

[2021-11-22 21:27] shantsis opened #2575 "Adding link colour"
Proposal to add a colour to our existing links to further enhance their visibility (i.e. not a replacement for the underline style currently).

I looked at a few examples that we can explore:

**A) Default blue**
if it ain't broke, don't fix it? It's a well known link colour so it should do the job
<img width="1439" alt="article example with blue link colour" src="https://user-images.githubusercon

[2021-11-22 21:42] shantsis commented on #2217
Is this the pie chart colors I suggested because I got different results in chrome renderer

<img width="1430" alt="Screen Shot 2021-11-22 at 4 33 25 PM" src="https://user-images.githubusercontent.com/22671477/142939254-216108b1-5b92-4e96-ad75-369f5eecc553.png">
<img width="1435" alt="Screen Shot 2021-11-22 at 4 34 00 PM" src="https://user-images.githubusercontent.com/22671477/142939260-e9e9d73a-0

[2021-11-23 07:39] #2147 closed

[2021-11-23 18:59] tunetheweb commented on #2575
Thanks for doing this @shantsis and particularly for the mock ups.

I'll be honest though and say my preference is to stick with the black.

A) Personally I find the blue default style clashes with the Web Almanac colour palette and jumps out too much, distracting the reader from the text. Links should be supplemental for extra information and not the primary reason for readers visiting.
B) I agre

[2021-11-23 19:02] shantsis commented on #2575
I hear you on the standing out too much. I do like having some colour cause it does bring attention to all the research the team has done.
We could leave the issue open if anyone else wants to take a stab at it - @HTTPArchive/designers

[2021-11-23 19:38] tunetheweb commented on #2525
CDN chapter is available for editing (staging link at top updated).

[2021-11-23 19:42] shantsis commented on #2525
Claimed!

[2021-11-23 19:47] tunetheweb commented on #2525
It's almost like I was hoping you'd say that! 😁

[2021-11-23 20:23] rviscomi opened #2582 "Create image dir as part of of figure-images script"
While trying to run `npm run figure-images` on a chapter that had no images yet, I got the following error:

[code]

It's failing because the `static/images/2021/caching` directory doesn't exist.

Instead of failing, could we create the directory?

[2021-11-23 20:26] tunetheweb commented on #2582
Yeah been thinking about that.

I would be worried about typos creating directories in error. Maybe a confirmation prompt would avoid that?

[2021-11-23 20:27] rviscomi commented on #2582
Why would there be typos?

[2021-11-23 20:30] tunetheweb commented on #2582
Oh I guess we could only create the dir if we have a chapter md file and/or an image to put in it.

Was more thinking `npm run figure-images preformance` in error and it just creating a pointless directory.

Could also load JSON config and confirm it’s a valid chapter slug.

[2021-11-23 20:32] rviscomi commented on #2582
Ah ok. Yeah I had imagined that the script would generate the image file path based on the markdown file. I think we can trust that the markdown filename is valid. Won't `preformance` fail anyway since there is no `preformance.md`?

[2021-11-23 20:35] tunetheweb commented on #2582
Yes, as long as we don’t blindly create the directory at the beginning like I initially (stupidly) presumed - before checking for the existence of the markdown file.

[2021-11-25 00:22] tymosh commented on #1873
Hi @tunetheweb. I have a [2020 Page Weight chapter ready](https://github.com/tymosh/almanac.httparchive.org/blob/uk-page-weight-translation/src/content/uk/2020/page-weight.md) but 'npm run generate' locally fails to generate HTML from that .md file. Should I change some configs to build the page? Thanks!

[2021-11-25 00:59] tunetheweb commented on #1873
Is there any error message? Or could you open a draft PR with the changes so I can have a look?

[2021-11-25 01:49] AlexLakatos commented on #2142
I've finished going through the reviews, thank you all for the comments and suggestions. There are a handful of discussions that could benefit from a response, would appreciate if we could wrap those up.

[2021-11-25 14:50] #2582 closed

[2021-11-25 19:32] tunetheweb commented on #2525
WebAssembly is ready for editing. I've already done a pass through on technical side.

[2021-11-25 19:37] #2192 closed

[2021-11-25 20:37] VictorLeP commented on #1325
- Did Google Scholar ever pick up the meta data from #2191? I don't see anything when I search "Web Almanac", nor any entries that seem to come from that meta data (for the few academic authors that I know to have a profile).
- I'm planning to have the chapter that I co-wrote listed in KU Leuven's institutional repository, such that I can have it count as "scientific output". I'll reach out to the

[2021-11-25 21:04] tunetheweb commented on #1325
Some of them have started to show in skeleton form - but not sure if that's because of #2191 or because they were already being cited (interestingly one shows in a translated form - which suggests it's probably the later):

![image](https://user-images.githubusercontent.com/10931297/143499400-71ca42af-100f-4328-9282-1f9a6611a421.png)

The [do say](https://scholar.google.com/intl/en/scholar/inclusi

[2021-11-25 21:12] VictorLeP commented on #1325
Pretty sure it's the latter, the meta data has as title "The 2019 Web Almanac: JavaScript", not what is shown in the image. I'm pretty sure Google Scholar creates `[CITATION]` entries for resources that are referenced in academic works but that it fails to match to any known item (also for newspaper articles, for example).

Indeed! Though having just looked at the Privacy chapter, the publication

[2021-11-26 16:08] #2151 closed

[2021-11-26 16:23] shantsis commented on #2525
I’ll take it and start in the next day or 2

[2021-11-26 17:00] noah-vdv commented on #1750
"In sommige hoofdstukken nemen we ook andere inhoud op de site op, die niet door onszelf is gemaakt, waaronder YouTube-video's, pdf-links of links naar andere artikelen, die niet voldoen aan de strikte criteria die vereist zijn voor WCAG 2.1 level AAA. Zie onderstaande opmerking over externe inhoud."

Also, i hate to disappoint, but this is taking more time as I need to spend more time on my study

[2021-11-26 17:35] tunetheweb commented on #1750
No probs. Thanks for that translation.

[2021-11-26 22:42] rviscomi commented on #2142
@AlexLakatos @j9t @ibnesayeed @meyerweb @brycehowitson @bkardell @shantsis I see there are still some open comments in the doc. Could you all take a look to see if you can resolve any of them? (some are for reviewers, and others for the author)

We should get this converted to markdown ASAP to get merged in time for launch, hopefully with enough time to give it a copyediting pass.

[2021-11-26 22:59] rviscomi commented on #2156
📟 Paging reviewers: @mor10 @satpras @ahmadawais @Dawntraoz @ianand

The [Jamstack](https://docs.google.com/document/d/1fret_E-GBkF6H1yV9aBQjWH9Fykee7jpxKrK2PYv5p8/edit?usp=sharing) draft is ready for your review. This is a big request, but given that we're only days away from launch, if you have the availability to give it a look and submit your feedback this weekend, that will help us be able to

[2021-11-27 08:13] tunetheweb commented on #1750
Doh! Looks like I gave you the wrong bit of text to translate above :-( That was the next paragraph that was already translated. This was the paragraph I actually wanted translated:

[2021-11-27 15:02] VictorLeP commented on #1750
We erkennen dat sommige keuzes voor kleuren in onze visualisaties niet voldoen aan de kleurcontrastvereisten van de WCAG. We doen een bewuste inspanning om de meer contrasterende kleuren en opschriften te gebruiken om de impact hiervan te verminderen. We hopen dat de gedetailleerde beschrijvingen alsook toegang tot de onderliggende gegevens zelf kunnen helpen met dit probleem. We streven ernaar de

[2021-11-27 15:08] tunetheweb commented on #1750
Bedankt @VictorLeP ! Zeer gewaardeerd.

[2021-11-27 16:15] VictorLeP commented on #1750
Will also take a stab at translating this year's Privacy chapter (since @noah-vdv is busy).

[2021-11-27 19:23] #2159 closed

[2021-11-27 19:34] tunetheweb commented on #2525
JavaScript has ready for copy editing. Again a technical check has been completed on markup/figures/structure so just need to concentrate on the copy.

[2021-11-28 13:28] #2140 closed

[2021-11-29 13:54] #2508 closed

[2021-11-29 13:55] tunetheweb opened #2610 "Create 2021 foreword"
And add placeholders for translators so CI doesn't complain

[2021-11-29 14:56] #2168 closed

[2021-11-29 21:05] rviscomi opened #2617 "Add Web Share API to chapters"
To encourage readers to share chapters, let's add support for the [Web Share API](https://developer.mozilla.org/en-US/docs/Web/API/Web_Share_API). Browser support is mostly mobile-only, so we should use feature detection before adding the UI.

We should also add an analytics event when someone uses the share button.

[2021-11-29 21:10] tunetheweb commented on #2617
More info: https://web.dev/web-share/

And pinging our resident experts in new APIs: @christianliebel / @tomayac for any tips or advice on this one!

[2021-11-29 21:14] rviscomi commented on #2617
Interestingly, my browser doesn't support the API but on that web.dev post clicking the share CTA opens up a new window with a prepopulated tweet. I like that approach so that there's an action for even the unsupported browsers.

[2021-11-29 21:48] rviscomi commented on #2140
🎉 This chapter is fully written, reviewed, edited, and ready to be launched on Wednesday! Thank you to all of the contributors who put in the time and effort to make this a great chapter.

[2021-11-29 21:51] rviscomi commented on #2140
@meyerweb @j9t @svgeesus @argyleink @una @estelle @LeaVerou @rachelandrew @jabranr @tomhodgins @thecraftysoul

When you get 5 minutes, I'd really appreciate if you could fill out our [contributor survey](https://forms.gle/VRzHPTyWxuwa67vF7) to tell us (the project leads) about your experience. It's super helpful to hear what went well or what could be improved for next time. 🙏

Thank you all again

[2021-11-29 22:25] rviscomi commented on #2174
@jonoalderson @cyberandy @kevinmarks @vdwijngaert @jvandriel @philbarker @GregBrimble @jvandriel @JasmineDWillson

Thank you all for your hard work getting this chapter over the finish line in time for the pre-release—Structured Data has been the most-read chapter in the past couple of weeks! Congratulations on finishing the chapter, and I'm excited to see us launch the rest of the chapters along

[2021-11-29 22:27] rviscomi commented on #2168
@RReverser @jsoverson @carlopi

🎉 This chapter is fully written, reviewed, edited, and ready to be launched on Wednesday! **Thank you** to all of the contributors who put in the time and effort to make this a great chapter.

When you get 5 minutes, I'd really appreciate if you could fill out our [contributor survey](https://forms.gle/VRzHPTyWxuwa67vF7) to tell us (the project leads) about your exp

[2021-11-29 22:29] rviscomi commented on #2145
@tunetheweb @patrickhulce @housseindjirdeh @simonhearne @andydavies @csswizardry

Thank you all for your hard work getting this chapter over the finish line in time for the pre-release! Congratulations on finishing the chapter, and I'm excited to see us launch the rest of the chapters along side it on Wednesday 🎉

When you get 5 minutes, I'd really appreciate if you could fill out our [contributor

[2021-11-29 22:30] rviscomi commented on #2147
@alextait1 @scottdavis99 @oluoluoxenfree @ericwbailey @clottman @shantsis @digitala11ies @obto

🎉 This chapter is fully written, reviewed, edited, and ready to be launched on Wednesday! **Thank you** to all of the contributors who put in the time and effort to make this a great chapter.

When you get 5 minutes, I'd really appreciate if you could fill out our [contributor survey](https://forms.gle/

[2021-11-29 22:31] rviscomi commented on #2148
@siakaramalegos @ziemek-bucko @edmondwwchan @jzyang @estelle @kevinfarrugia @samarpanda @fili @Nithanaroy @jzyang

**Thank you** all for your hard work getting this chapter over the finish line in time for the pre-release! Congratulations on finishing the chapter, and I'm excited to see us launch the rest of the chapters along side it on Wednesday 🎉

When you get 5 minutes, I'd really appreciate i

[2021-11-29 22:32] rviscomi commented on #2149
@ydimova @VictorLeP @SaptakS @cqueern @maudnals @max-ostapenko @tunetheweb

**Thank you** all for your hard work getting this chapter over the finish line in time for the pre-release! Congratulations on finishing the chapter, and I'm excited to see us launch the rest of the chapters along side it on Wednesday 🎉

When you get 5 minutes, I'd really appreciate if you could fill out our [contributor s

[2021-11-29 22:32] rviscomi commented on #2150
@SaptakS @tomvangoethem @nrllh @cqueern @edmondwwchan @awareseven @GJFR

🎉 This chapter is fully written, reviewed, edited, and ready to be launched on Wednesday! **Thank you** to all of the contributors who put in the time and effort to make this a great chapter.

When you get 5 minutes, I'd really appreciate if you could fill out our [contributor survey](https://forms.gle/VRzHPTyWxuwa67vF7) to t

[2021-11-29 22:34] rviscomi commented on #2151
@ashleyish @fellowhuman1101 @dwsmart @rvth @fili @obto

🎉 This chapter is fully written, reviewed, edited, and ready to be launched on Wednesday! **Thank you** to all of the contributors who put in the time and effort to make this a great chapter.

When you get 5 minutes, I'd really appreciate if you could fill out our [contributor survey](https://forms.gle/VRzHPTyWxuwa67vF7) to tell us (the proje

[2021-11-29 22:34] rviscomi commented on #2152
@christianliebel @tomayac @hemanth

**Thank you** all for your hard work getting this chapter over the finish line in time for the pre-release! Congratulations on finishing the chapter, and I'm excited to see us launch the rest of the chapters along side it on Wednesday 🎉

When you get 5 minutes, I'd really appreciate if you could fill out our [contributor survey](https://forms.gle/VRzHPTyWxuwa67v

[2021-11-29 22:37] rviscomi commented on #2153
@demianrenzulli @webmaxru @Schweinepriester @thepassle @hemanth @tropicadri @andreban @jeffposnick @tunetheweb

**Thank you** all for your hard work getting this chapter over the finish line in time for the pre-release—the PWA chapter has been the most-read chapter in the past few weeks, English and Russian translation combined! Congratulations on finishing the chapter, and I'm excited to see us l

[2021-11-29 22:38] rviscomi commented on #2154
@alonkochba @logicalphase @saterchris @jdevalk @TosinArasi

🎉 This chapter is fully written, reviewed, edited, and ready to be launched on Wednesday! **Thank you** to all of the contributors who put in the time and effort to make this a great chapter.

When you get 5 minutes, I'd really appreciate if you could fill out our [contributor survey](https://forms.gle/VRzHPTyWxuwa67vF7) to tell us (the p

[2021-11-29 22:38] rviscomi commented on #2155
@bobbyshaw @rockeynebhwani @fili @samdutton @alankent @soulcorrosion @rrajiv @shantsis

🎉 This chapter is fully written, reviewed, edited, and ready to be launched on Wednesday! **Thank you** to all of the contributors who put in the time and effort to make this a great chapter.

When you get 5 minutes, I'd really appreciate if you could fill out our [contributor survey](https://forms.gle/VRzHPTyW

[2021-11-29 22:39] rviscomi commented on #2157
@logicalphase @siakaramalegos @jessthebp @RMHolmlund

🎉 This chapter is fully written, reviewed, edited, and ready to be launched on Wednesday! **Thank you** to all of the contributors who put in the time and effort to make this a great chapter.

When you get 5 minutes, I'd really appreciate if you could fill out our [contributor survey](https://forms.gle/VRzHPTyWxuwa67vF7) to tell us (the project

[2021-11-29 22:40] rviscomi commented on #2158
@kevinfarrugia @siakaramalegos @Zizzamia @samarpanda @Nithanaroy

**Thank you** all for your hard work getting this chapter over the finish line in time for the pre-release! Congratulations on finishing the chapter, and I'm excited to see us launch the rest of the chapters along side it on Wednesday 🎉

When you get 5 minutes, I'd really appreciate if you could fill out our [contributor survey](htt

[2021-11-29 22:41] rviscomi commented on #2159
@Navaneeth-akam @boosef @jzyang @keane234 @paulcalvano @jzyang

🎉 This chapter is fully written, reviewed, edited, and ready to be launched on Wednesday! **Thank you** to all of the contributors who put in the time and effort to make this a great chapter.

When you get 5 minutes, I'd really appreciate if you could fill out our [contributor survey](https://forms.gle/VRzHPTyWxuwa67vF7) to tell us (t

[2021-11-30 01:20] #2150 closed

[2021-11-30 01:20] #2157 closed

[2021-11-30 01:23] #2409 closed

[2021-11-30 02:40] rviscomi opened #2625 "Unversioned file webmentions.js was used"
While running the site locally with `npm run start` I'm seeing this error:

[code]

[2021-11-30 08:10] tunetheweb commented on #2625
That’s expected. It’s not in the versioned file yet(which is created on each  release), so doesn’t have a cache buster url param yet. Which if it went out to prod would be a potential problem if we needed a breaking change to this whole. It’ll be there after tomorrow’s release.

probably should create a dummy entry when adding new JS files in the future to avoid this.

[2021-11-30 10:14] tomayac commented on #2617
It's coming to desktop (and already is on Windows), but definitely needs feature detection for now. I think falling back to a tweet intent is the way to go given the audience is oftentimes on Twitter.

[2021-11-30 18:10] #2160 closed

[2021-11-30 21:54] tunetheweb commented on #2525
Jamstack is ready for copy editing if you have a chance @shantsis

[2021-11-30 22:04] shantsis commented on #2525
Sweet I’ll open a PR for it later today

[2021-12-01 00:59] tunetheweb commented on #2525
HTTP is ready for editing. Warning, there's a fair bit of text and background in this one but I'm OK with it. I've given it an initial go through, but been working on this chapter a fair bit so could do with an independent pair of eyes to be honest!

[2021-12-01 01:46] #2141 closed

[2021-12-01 01:50] rviscomi commented on #2141
@NishuGoel @soulcorrosion @mgechev @rviscomi @pankajparkar @tunetheweb @wallet77 @max-ostapenko

🎉 This chapter is fully written, reviewed, edited, and ready to be launched on Wednesday! **Thank you** to all of the contributors who put in the time and effort to make this a great chapter.

When you get 5 minutes, I'd really appreciate if you could fill out our [contributor survey](https://forms.gle

[2021-12-01 01:52] rviscomi commented on #2160
@lvandeve @jyrkialakuijala @paulcalvano

🎉 This chapter is fully written, reviewed, edited, and ready to be launched on Wednesday! **Thank you** to all of the contributors who put in the time and effort to make this a great chapter.

When you get 5 minutes, I'd really appreciate if you could fill out our [contributor survey](https://forms.gle/VRzHPTyWxuwa67vF7) to tell us (the project leads) about

[2021-12-01 02:29] #2156 closed

[2021-12-01 02:55] #2162 closed

[2021-12-01 02:57] rviscomi commented on #2162
@dominiclovell @rmarx @ibnesayeed @tunetheweb

🎉 This chapter is fully written, reviewed, edited, and ready to be launched on Wednesday! **Thank you** to all of the contributors who put in the time and effort to make this a great chapter.

When you get 5 minutes, I'd really appreciate if you could fill out our [contributor survey](https://forms.gle/VRzHPTyWxuwa67vF7) to tell us (the project leads)

[2021-12-01 03:47] rviscomi commented on #2156
@denar90 @thomkrupa @mor10 @satpras @ahmadawais @Dawntraoz @ianand @RMHolmlund

🎉 This chapter is fully written, reviewed, edited, and ready to be launched on Wednesday! **Thank you** to all of the contributors who put in the time and effort to make this a great chapter.

When you get 5 minutes, I'd really appreciate if you could fill out our [contributor survey](https://forms.gle/VRzHPTyWxuwa67vF

[2021-12-01 04:57] tunetheweb opened #2640 "Avatar enhancements"
Current we ask for the full GItHub URL for avatars including the image size URL param (400px) and people some times get this wrong or forget the image size param.

We should change this to be just the HitHub numeric user id (unless we can use the GitHub user name itself? There is a URL rewrite but don’t think it preserves the size param).

This would be less error prone and also allow us to use di

[2021-12-01 05:42] NishuGoel commented on #2141
Big thanks everyone here for pulling this off. 🚀🎉
Now, let's wait for the launch, and share away our efforts across.

@soulcorrosion @mgechev @pankajparkar   @rviscomi @tunetheweb @shantsis @wallet77 @max-ostapenko

[2021-12-01 05:48] eeeps commented on #2144
Review team! @boosef @Navaneeth-akam @akshay-ranganath @tpiros

Sincere apologies for the late, and last-minute call for review, but: we finally have a full first draft of the chapter in the Google Doc, and it is finally in a reviewable state.

Due to my own missed deadlines, we're going to miss the launch tomorrow. But we're hoping to publish the chapter as soon as possible, so the sooner you hav

[2021-12-01 06:01] Dawntraoz commented on #2156
So happy to read this 🎉

Congrats everyone for getting it done in record time and special kudos to @denar90 and @tunetheweb for their commitment 💖

[2021-12-01 06:53] rviscomi commented on #2525
Markup is ready for editing. I've done a light edit already in the Doc so this should be relatively quick.

[2021-12-01 06:55] tpiros commented on #2144
Thank you Eric. I will review by the end of today.

Tamas

On Wed, 1 Dec 2021 at 06:48, Eric Portis ***@***.***> wrote:

--
Kind Regards,

Tamas Piros

[2021-12-01 07:29] rviscomi opened #2642 ""Suggest an edit" button prepopulated with 2020 data"
1. Go to https://almanac.httparchive.org/en/2021/structured-data#explore-results
2. Click "Suggest an edit"
3. GitHub opens with a new issue titled `Issue with the 2020 [CHAPTER] chapter`

Since we deleted the 2020 issue template, this might not be working correctly for 2021 chapters. The metadata passed into the GitHub issue should correspond to the current year and chapter.

[2021-12-01 07:38] tpiros commented on #2144
Done. Left my thoughts in the doco! :)

On Wed, 1 Dec 2021 at 07:54, Tamas Piros ***@***.***> wrote:

[2021-12-01 10:25] Navaneeth-akam commented on #2144
Will take a look at it and add comments

[2021-12-01 12:47] #2642 closed

[2021-12-01 12:54] #2640 closed

[2021-12-01 13:29] #2142 closed

[2021-12-01 13:29] #2610 closed

[2021-12-01 18:40] rviscomi opened #2664 "Explore web monetization"
Web Monetization may be a useful alternative to Open Collective for fundraising, proposed by @AlexLakatos

Lots of open questions around where the money would be held, who'd have access, what it'd be spent on, etc. Opening this issue to explore the idea and help sort those things out.

[2021-12-01 18:47] AlexLakatos commented on #2664
I wouldn't call it an alternative, I'd call it a complement. Web Monetization revenue is based on time spent on-page. As something with quite a bit of words on it, the Web Almanac would be well suited to it.

[2021-12-01 18:57] tunetheweb opened #2666 "Webmention Replies not rendered properly on mobile"
https://almanac.httparchive.org/en/2021/third-parties#reactions

![image](https://user-images.githubusercontent.com/10931297/144296380-c131f72a-02b9-40aa-8bdd-7b1ae0c38ba1.png)

[2021-12-01 19:02] SaptakS commented on #2666
I will take a look at it in a bit.

[2021-12-01 19:04] SaptakS commented on #2666
Seems a padding is getting overwritten. Will put in a fix soon.

[2021-12-01 19:12] tunetheweb commented on #2666
OK I went with a different fix in #2667 but happy to go with yours if it's the better way.

[2021-12-01 19:16] SaptakS commented on #2666
Left a comment on the PR. I think this fix uses the space better, whereas mine would make it look exactly like the desktop (which wastes some space in the left I guess and space is crucial in mobile screen)

[2021-12-01 19:33] tunetheweb opened #2668 "Keep getting a Lighthouse error in CI for Webmentions CDN"
Weird that this happens only for the CDN chapter.

![image](https://user-images.githubusercontent.com/10931297/144301354-9ad62a5e-4b4d-438f-b62c-08bfa9993341.png)

@SaptakS any ideas?

[2021-12-01 20:19] #2666 closed

[2021-12-01 20:39] tunetheweb commented on #2668
Spoke with @SaptakS on Slack. He can't repeat it locally nor explain either.

Convinced this is a false positive. But the fact it's consistently happening, and only for CDN chapter, is weird.

Life's too short, so going to exclude this URL form Lighthouse tests (we already do this for Russian CSS chapter which similarly had false positives). Will try to add it back in again when the CI upgrades Li

[2021-12-01 21:09] #2668 closed

[2021-12-01 22:00] #2625 closed

[2021-12-01 22:01] #2173 closed

[2021-12-01 22:02] #2146 closed

[2021-12-01 22:03] #2172 closed

[2021-12-02 05:58] Navaneeth-akam commented on #2159
Thanks @jzyang @boosef and @paulcalvano for your help and support in getting the CDN chapter completed in time for Web Almanac 2021 launch. I enjoyed authoring my first ever chapter in Web Almanac and with your support i learnt a lot along the way.
Hope to connect with you guys beyond Web Almanac. Stay safe and enjoy the upcoming holidays :)

[2021-12-02 17:58] rviscomi opened #2675 "Investigate 404s"
The App Engine logs are showing some 404 errors. Investigate if there are any bad internal links that we can fix.

URI | # Errors
-- | --
/apple-touch-icon.png/ | 239
/apple-touch-icon-precomposed.png/ | 200
/static/images/2021/css/favicon.ico | 66
/.well-known/assetlinks.json/ | 15
/en/2021/linear-gradient(rgba(0,%200,%200,%200)%20calc(70%%2 | 14
/apple-touch-icon-120x120.png/ | 13
/apple-touch-i

[2021-12-02 18:40] tunetheweb commented on #2675
Some of this is just regular internet spam or typos.

/apple-touch-icon.png/
/apple-touch-icon-precomposed.png/

We should add redirects for those even though [they apparently don't need to be in the root folder](https://stackoverflow.com/questions/25041622/does-the-apple-touch-icon-have-to-be-in-the-root-folder/25041921). They do exist in out static directory (and that's what's listed in the HTML

[2021-12-02 20:10] #2396 closed

[2021-12-02 20:20] #2675 closed

[2021-12-03 11:38] noah-vdv commented on #1750
![](https://github.trello.services/images/mini-trello-icon.png) [idk](https://trello.com/c/zRF9khf7/1-idk)

[2021-12-03 11:39] noah-vdv commented on #1750
![](https://github.trello.services/images/mini-trello-icon.png) [idk](https://trello.com/c/zRF9khf7/1-idk)

[2021-12-03 12:14] tunetheweb opened #2681 "Markup structured data stats are incorrectly marked as % of page"
https://almanac.httparchive.org/en/2021/markup#fig-26 says it's % of pages, when it's not - it's percentage of meta data.

Twitter thread: https://twitter.com/tunetheweb/status/1466735564946870276?s=20

This is a problem of the `UNNEST` issue [as discussed here](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Analysts'-Guide#a-warning-on-totals).

We should either update the label or c

[2021-12-03 12:23] tunetheweb commented on #2681
Hmmm it's a bit more complicated as there are multiple meta elements per page. So can't just sum this over page.

Instead [Figure 2.4](https://almanac.httparchive.org/en/2021/markup#fig-24) should be updated to note it's out of % of meta notes.

And  [Figure 2.6](https://almanac.httparchive.org/en/2021/markup#fig-26) should be updated to point to a graph based on this tab (which is out of pages):

[2021-12-03 16:02] #2681 closed

[2021-12-03 19:21] peiwenhu opened #2687 "Issue with the 2021 third-parties chapter"
The link is wrong for "Privacy" in [introduction](https://almanac.httparchive.org/en/2021/third-parties#introduction)

[2021-12-03 19:31] tunetheweb commented on #2687
Thanks for raising. Will get that fixed.

[2021-12-04 08:32] #2687 closed

[2021-12-06 11:22] ouroboros8 commented on #1079
I use RSS more or less exclusively (unless you count twitter) to keep up with industry news, so this would be quite useful for me at least!

[2021-12-06 16:39] VictorLeP commented on #1325
Update from the university: since this is targeted towards a non-academic audience, they think "Scientific outreach" is the best category, so they don't consider it a book or journal. (maybe they'd be happier if we had an ISBN/ISSN)

Google Scholar also doesn't appear to have picked up the 2021 chapters (yet).

[2021-12-06 16:43] nrllh commented on #1325
@VictorLeP I think Google Scholar will also not index it, if we get a DOI or ISBN it'll be perfect. Our 2020 version was published in Google Ebook (and Play Store) but it still didn't appear in the Scholar.

[2021-12-06 18:52] VictorLeP commented on #1325
An ISBN seems to cost [$125](https://www.myidentifiers.com/identify-protect-your-book/isbn/buy-isbn) (in the US); a DOI _can_ be derived [from an ISBN](https://www.doi.org/factsheets/ISBN-A.html).

There seem to be a [number](https://academia.stackexchange.com/questions/52032/how-do-i-get-a-doi-for-a-dataset) of [ways](https://academia.stackexchange.com/questions/81583/are-there-free-doi-generatio

[2021-12-06 19:18] VictorLeP commented on #1325
I don't think you need to/can get an ISBN per _chapter_, but it would still be X years times Y languages so it could indeed get expensive fast.

A standard way to cite might actually be sufficient. As I mentioned, Google Scholar picks up on these citations, so it might be an indirect way to get indexed there. I think that my submission of the chapter metadata to the KU Leuven repository will also

[2021-12-06 19:30] tunetheweb commented on #1325
BTW we have this meta data in the chapters already:

[code]

This was added in May this year.

And we've had this JSON-LD meta data in there too since the original 2019 launch:

[code]

[2021-12-07 18:09] #1079 closed

[2021-12-07 18:42] tunetheweb commented on #1079
@ouroboros8 I've just released this. Could you have a look at https://almanac.httparchive.org/en/rss.xml and see if it works in your RSS reader?

[2021-12-08 04:41] kartashovio commented on #923
Hello! I can help with translation content to Russian.

[2021-12-08 10:40] nucliweb commented on #498
Hi @tunetheweb I can help with the Spanish translation 2021, and I would like to start with performance, resource-hints, javascript and webassembly sections.

[2021-12-08 11:13] tunetheweb commented on #498
Great news @nucliweb ! Edit the first comment to stick your name by one of them to "claim" that translation and away you go. Maybe don't claim all 4 of them initially to give any others a chance.

[2021-12-08 11:14] tunetheweb commented on #923
Excellent @kartashovio - just invited you to the team and head on over to #587 where we're tracking that and stick your name beside a 2021 chapter to claim it and away you go!

[2021-12-08 11:15] nucliweb commented on #498
Of course 😅

[2021-12-08 14:24] kartashovio opened #2711 "seo -"

[2021-12-08 14:25] #2711 closed

[2021-12-08 14:30] kartashovio commented on #2711
Sorry, I accidentally created this issue.

[2021-12-08 17:25] kartashovio opened #2712 "2021 SEO chapter: fix bio"
I have started translating 2021 SEO Chapter and discovered, that two sentences don't showing in bio of authors. Check this chapter in repository: [link](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/content/en/2021/seo.md). Quotes:

I don't see this on [2021 SEO Chapter page](https://almanac.httparchive.org/en/2021/seo). I think this is because of the line breaks.
If I have

[2021-12-08 17:45] tunetheweb commented on #2712
Good spot! Yes please do submit PRs for them.

Translations are always a good second review pass and on occasion find things like this we missed with the initial English version so it's not unusually to lump in some English changes with the translation PR.

So up to you whether you want to wait and include this fix in the Translation PR, or open a second PR for this? If nearly finished I'd advise

[2021-12-08 18:31] #2712 closed

[2021-12-14 23:49] #2144 closed

[2021-12-15 00:17] tunetheweb commented on #2144
@eeeps @dougsillars @Navaneeth-akam @akshay-ranganath @tpiros @addyosmani

🎉 This chapter is fully written, reviewed, edited, and ready to be launched! **Thank you** to all of the contributors who put in the time and effort to make this a great chapter.

When you get 5 minutes, I'd really appreciate if you could fill out our [contributor survey](https://forms.gle/VRzHPTyWxuwa67vF7) to tell us (the

[2021-12-15 00:22] #2179 closed

[2021-12-15 21:06] #2161 closed

[2021-12-15 21:06] #2525 closed

[2021-12-15 22:32] tunetheweb commented on #2161
@Zizzamia | @jessnicolet @WilhelmWillie @roryhewitt 

🎉 This chapter is fully written, reviewed, edited, and launched! **Thank you** to all of the contributors who put in the time and effort to make this a great chapter.

When you get 5 minutes, I'd really appreciate if you could fill out our [contributor survey](https://forms.gle/VRzHPTyWxuwa67vF7) to tell us (the project leads) about your experi

[2021-12-16 00:30] tunetheweb commented on #586
@ksakae1216 could you translate this and I'll tweet it out from the HTTPArchive Twitter account?:

[2021-12-17 18:11] staszek998 opened #2739 "Issue with the 2021 css chapter"
In the fragment

you probably meant a _growth by 1 **percentage point**_, instead of _growth by 1%_. It's different.

[2021-12-17 23:30] ksakae1216 commented on #586
@tunetheweb I translated it. Thank you.

2021年版Web AlmanacのJavaScriptの章が@beltway7さんによって日本語に翻訳されました。
https://almanac.httparchive.org/ja/2021/javascript
RSSフィードをフォローすると、新しい翻訳がリリースされたときに通知されます: https://almanac.httparchive.org/ja/rss.xml

[2021-12-18 08:04] GeekBoySupreme commented on #2739
Thanks for floating this up @staszek998
Issued a patch.

[2021-12-18 08:04] #2739 closed

[2021-12-19 16:33] tpiros commented on #2144
thank you @tunetheweb for all your help this year as well! ❤️  🤗

[2021-12-29 19:08] ooohrayyy opened #2750 "Typo in 2021 Structured Data chapter"
**URL**

https://almanac.httparchive.org/en/2021/structured-data

**Describe the issue**

In 'Future years' section there is repetition:

**Expected behavior**

[2021-12-30 23:09] #2750 closed

[2022-01-02 22:26] ksakae1216 commented on #586
@tunetheweb I have a question.
almanac.httparchive.org/src/content/en/2021/fonts.md not exist, So I don't translate ja/2021/fonts.md right?

[2022-01-02 22:28] tunetheweb commented on #586
Correct. Fonts dropped out this year unfortunately. Will update the issues to remove it.

[2022-01-08 05:39] rviscomi opened #2762 "Truncate long web mentions"
1. Go to https://almanac.httparchive.org/en/2021/css
2. Scroll down and toggle the Mentions tab
3. Scroll down to many of the reposted "roundup" blog posts

![image](https://user-images.githubusercontent.com/1120896/148632969-37c6be08-79e6-449e-b14e-082214512e89.png)

It seems the entire text contents of the post are getting embedded into the web mention. A couple of other ideas:

- truncate after

[2022-01-08 12:37] tunetheweb commented on #2762
Yeah noticed that on my Third-Party chapter and been meaning to do something about it. PR coming up...

[2022-01-10 09:20] #2762 closed

[2022-01-19 14:25] maudnals commented on #2149
(Note for the 2022 edition, capturing this here for later reference: consider using https://chromestatus.com/metrics/feature/popularity#UserDataFieldFilledPreviously for a metric on user data collected in forms)

[2022-02-02 15:35] euanmackie8 opened #2798 "Issue with the 2021 accessibility chapter"
Figure 9.6 is showing a chart for Font sizes, yet should be for focus states. Please could you update it?

[2022-02-02 16:25] #2798 closed

[2022-02-02 17:36] tunetheweb commented on #2798
Thanks for letting us know. That should be fixed now.

[2022-02-03 18:27] Aftabalamkhan120 opened #2801 "WebKit"
Very useful and helpful for the information @webkit

[2022-02-03 18:33] #2801 closed

[2022-02-09 18:31] Aftabalamkhan120 opened #2813 "Web api designed to build software development tools to open source"
Web api designed to build software development tools to open source

__Originally posted by @Aftabalamkhan120 in https://github.com/apilayer/geolocationapi/issues/16__

[2022-02-09 18:43] #2813 closed

[2022-02-20 22:25] rockeynebhwani commented on #1843
@rviscomi - Can we close this now?

[2022-02-22 01:45] rviscomi commented on #1843
Yes we can close this now. Tracking improvements to technology detections in https://github.com/HTTPArchive/data-pipeline/issues/31 instead.

[2022-02-22 01:45] #1843 closed

[2022-02-23 07:45] jaideepghosh commented on #923
Hello @tunetheweb! I can help to translate content to Hindi.

[2022-03-02 13:47] tunetheweb commented on #923
Just sent you the GitHuh invite @jaideepghosh . The Hindi translation is being tracked in #1402 and the site was all set up for Hindi but none of the chapters have been translated yet - so pick your favourite one and go.

[2022-04-12 17:16] rviscomi opened #2879 "CSS 2022"
# CSS 2022

![CSS illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2019/css/hero_lg.jpg)

If you're interested in contributing to the CSS chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/A

[2022-04-12 17:16] rviscomi opened #2880 "JavaScript 2022"
# JavaScript 2022

![JavaScript illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2019/javascript/hero_lg.jpg)

If you're interested in contributing to the JavaScript chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchive/al

[2022-04-12 17:16] rviscomi opened #2881 "Markup 2022"
# Markup 2022

![Markup illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2019/markup/hero_lg.jpg)

If you're interested in contributing to the Markup chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchive/almanac.httparchiv

[2022-04-12 17:17] rviscomi opened #2882 "Structured Data 2022"
# Structured Data 2022

![Structured Data illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2021/structured-data/hero_lg.jpg)

If you're interested in contributing to the Structured Data chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://githu

[2022-04-12 17:17] rviscomi opened #2883 "Fonts 2022"
# Fonts 2022

![Fonts illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2019/fonts/hero_lg.jpg)

If you're interested in contributing to the Fonts chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchive/almanac.httparchive.or

[2022-04-12 17:17] rviscomi opened #2884 "Media 2022"
# Media 2022

![Media illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2019/media/hero_lg.jpg)

If you're interested in contributing to the Media chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchive/almanac.httparchive.or

[2022-04-12 17:17] rviscomi opened #2885 "WebAssembly 2022"
# WebAssembly 2022

![WebAssembly illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2021/webassembly/hero_lg.jpg)

If you're interested in contributing to the WebAssembly chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchiv

[2022-04-12 17:17] rviscomi opened #2886 "Third Parties 2022"
# Third Parties 2022

![Third Parties illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2019/third-parties/hero_lg.jpg)

If you're interested in contributing to the Third Parties chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HT

[2022-04-12 17:17] rviscomi opened #2887 "Interoperability 2022"
# Interoperability 2022

If you're interested in contributing to the Interoperability chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Authors'-Guide), [reviewer](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Reviewers'-Guide), [ana

[2022-04-12 17:17] rviscomi opened #2888 "SEO 2022"
# SEO 2022

![SEO illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2019/seo/hero_lg.jpg)

If you're interested in contributing to the SEO chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/A

[2022-04-12 17:17] rviscomi opened #2889 "Accessibility 2022"
# Accessibility 2022

![Accessibility illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2019/accessibility/hero_lg.jpg)

If you're interested in contributing to the Accessibility chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HT

[2022-04-12 17:17] rviscomi opened #2890 "Performance 2022"
# Performance 2022

![Performance illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2019/performance/hero_lg.jpg)

If you're interested in contributing to the Performance chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchiv

[2022-04-12 17:17] rviscomi opened #2891 "Privacy 2022"
# Privacy 2022

![Privacy illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2020/privacy/hero_lg.jpg)

If you're interested in contributing to the Privacy chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchive/almanac.httpar

[2022-04-12 17:17] rviscomi opened #2892 "Security 2022"
# Security 2022

![Security illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2019/security/hero_lg.jpg)

If you're interested in contributing to the Security chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchive/almanac.ht

[2022-04-12 17:17] rviscomi opened #2893 "Mobile Web 2022"
# Mobile Web 2022

![Mobile Web illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2019/mobile-web/hero_lg.jpg)

If you're interested in contributing to the Mobile Web chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchive/al

[2022-04-12 17:18] rviscomi opened #2894 "Capabilities 2022"
# Capabilities 2022

![Capabilities illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2020/capabilities/hero_lg.jpg)

If you're interested in contributing to the Capabilities chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPAr

[2022-04-12 17:18] rviscomi opened #2895 "PWA 2022"
# PWA 2022

![PWA illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2019/pwa/hero_lg.jpg)

If you're interested in contributing to the PWA chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/A

[2022-04-12 17:18] rviscomi opened #2896 "CMS 2022"
# CMS 2022

![CMS illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2019/cms/hero_lg.jpg)

If you're interested in contributing to the CMS chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/A

[2022-04-12 17:18] rviscomi opened #2897 "Ecommerce 2022"
# Ecommerce 2022

![Ecommerce illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2019/ecommerce/hero_lg.jpg)

If you're interested in contributing to the Ecommerce chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchive/almana

[2022-04-12 17:18] rviscomi opened #2898 "Jamstack 2022"
# Jamstack 2022

![Jamstack illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2020/jamstack/hero_lg.jpg)

If you're interested in contributing to the Jamstack chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchive/almanac.ht

[2022-04-12 17:18] rviscomi opened #2899 "Page Weight 2022"
# Page Weight 2022

![Page Weight illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2019/page-weight/hero_lg.jpg)

If you're interested in contributing to the Page Weight chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchiv

[2022-04-12 17:18] rviscomi opened #2900 "CDN 2022"
# CDN 2022

![CDN illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2019/cdn/hero_lg.jpg)

If you're interested in contributing to the CDN chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/A

[2022-04-12 17:18] rviscomi opened #2901 "Compression 2022"
# Compression 2022

![Compression illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2019/compression/hero_lg.jpg)

If you're interested in contributing to the Compression chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchiv

[2022-04-12 17:18] rviscomi opened #2902 "Caching 2022"
# Caching 2022

![Caching illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2019/caching/hero_lg.jpg)

If you're interested in contributing to the Caching chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchive/almanac.httpar

[2022-04-12 17:18] rviscomi opened #2903 "HTTP 2022"
# HTTP 2022

![HTTP illustration](https://raw.githubusercontent.com/HTTPArchive/almanac.httparchive.org/main/src/static/images/2019/http/hero_lg.jpg)

If you're interested in contributing to the HTTP chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchive/almanac.httparchive.org/wi

[2022-04-12 17:25] rviscomi opened #2904 "Join the 2022 Developers team!"
Calling all @HTTPArchive/developers! Let us know if you're interested in collaborating on the 2022 edition.

Browse issues tagged with [`development`](https://github.com/HTTPArchive/almanac.httparchive.org/labels/development)

[2022-04-12 17:26] rviscomi opened #2905 "Join the 2022 Design team!"
Join the @HTTPArchive/designers team and work with web developers to improve and create new user experiences on the Web Almanac website. Comment in this issue if you're interested.

Browse open issues tagged with [`design`](https://github.com/HTTPArchive/almanac.httparchive.org/labels/design)

[2022-04-12 17:36] ericwbailey commented on #2889
We chatted about this a little bit last year, but I was wondering about people's thoughts on scattering accessibility across applicable chapters this year?

The reasoning is:

- Accessibility is holistic, and touches on many chapters' concerns
- Previous accessibility chapters are long, which disincentives reading in full
- People who aren't into accessibility may not read the accessibility chapte

[2022-04-12 17:50] tunetheweb commented on #2889
It is mentioned in a few chapters as can we seen in this search: https://almanac.httparchive.org/en/search?q=accessibility

Mobile Web, in particular usually gives it some coverage, as ensuring content is accessibly even on smaller devices is important, but also the Media, CMS and Jamstack chapters have touched upon it - often the Lighthouse scores provide a nice, high-level measure for those want

[2022-04-12 17:50] Suzzicks commented on #2893
I can help if you want me to Lead or Author this topic.

[2022-04-12 17:50] Suzzicks commented on #2895
I can help if you want me to Lead or Author this topic.

[2022-04-12 18:12] MichaelSolati commented on #2894
I'd definitely be interested in helping here. This will be my first time doing something like this, so I'd hope someone would be able to take lead. But I'm excited to help author this!

[2022-04-12 18:21] shantsis commented on #2889
I've seen it linked across multiple chapters while editing last year (I recommended a few of those connections :) ), but they don't go anywhere near the depth the accessibility chapter does.

Also I'm open to reviewing again!

[2022-04-12 18:30] alankent commented on #2897
Happy to help as a reviewer again if useful!

[2022-04-12 18:46] mobeenali97 commented on #2888
Interested to Contribute for SEO.

[2022-04-12 18:48] rviscomi opened #2907 "Add 2021 to the search result filters"
For example: https://almanac.httparchive.org/en/search?q=accessibility#gsc.tab=0&gsc.q=accessibility&gsc.page=1

<img width="447" alt="image" src="https://user-images.githubusercontent.com/1120896/163032393-f29678b3-a98f-4db6-a634-7e0b00a956b3.png">

I see filters for 2019 and 2020. Would be good to add one for 2021 content.

[2022-04-12 18:48] AlexLakatos commented on #2881
I think I'd like to take this up again this year.

[2022-04-12 18:51] rachelandrew commented on #2879
As discussed, happy to be an author for CSS.

[2022-04-12 18:59] rviscomi opened #2908 "2022 content progress tracker 🪄"
Chapters | <span title="📄 (Draft), 🔍 (SQL), 📊 (Results)">Links</span> | <span title="Leads Authors Reviewers Analysts Editors (All)">Team</span> | <span title="**May 1**: Form the content team: The content team has at least one author, reviewer, and analyst">0<span> | <span title="**May 15**:  Plan content: The content team has completed the chapter outline in the draft doc">1<span> | <span title=

[2022-04-12 19:03] cyberandy commented on #2882
Hi @rviscomi happy to contribute as author 🤓

[2022-04-12 19:05] MichaelLewittes commented on #2888
I would like to be part of "Publication" and edit the SEO chapter. I am a long-time editor and journalist, with 10 years of experience in SEO as well.

[2022-04-12 19:10] MichaelLewittes commented on #2884
I could help with editing ("Publication"), having worked in media and been a print and digital editor for more than two decades.

[2022-04-12 19:10] rviscomi commented on #2879
Yes thank you @rachelandrew! I've added you to the roster above and added myself as an analyst. A few formalities...

As the content team lead you'll be ultimately responsible for setting the narrative for the chapter, keeping it on schedule, and coordinating with the rest of the content team. A coordinator will be assigned to this chapter to help with any process/logistical questions, but you can

[2022-04-12 19:20] tunetheweb commented on #2907
Ooops - forgot to do this for 2021 launch!

Added now here: https://programmablesearchengine.google.com/cse/search/refinements

Though took a while getting ordering right (I had to basically delete the old labels and re-add them in the order I wanted to get 2021 first).

[2022-04-12 19:20] #2907 closed

[2022-04-12 19:49] yuseyhan commented on #2905
Hi, i'm in for this year too. @shantsis thanks for the figma library.

[2022-04-12 19:54] webmaxru commented on #2895
Hello!
My pleasure to be a Reviewer for this year again!

[2022-04-12 19:54] webmaxru commented on #2894
Hello!
Please, count me in as a Reviewer!

[2022-04-12 20:13] shantsis commented on #2897
Happy to join as an editor

[2022-04-12 20:16] ericwbailey commented on #2889
For the MDN, we adopted [a specific subsection for it](https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#accessibility_concerns). The idea is it'd meet the developer where they were, but also had enough space to go into detail if needed.

[2022-04-12 20:38] Schweinepriester commented on #2895
Hello everyone! 👋
Same as @webmaxru, I'm happy to be a reviewer again :)

[2022-04-12 20:40] DataBytzAI commented on #2882
Hi @rviscomi happy to help as author .... lot of work to be done in this space!

[2022-04-12 21:06] alextait1 commented on #2889
I really like the idea of it being scattered across the chapters as well as its own dedicated chapter. I think it's helpful to have a place to send people and to show it as a priority through both having its own chapter and being woven throughout the almanac. Kinda similar to my view that we need accessibility specialist and everyone has to have involvement and knowledge.

Also hi! I'd like to be

[2022-04-12 21:26] daviddenn commented on #2888
Hi! I'd like to throw my hat in for section coordinator!

[2022-04-12 21:28] rviscomi commented on #2889
I agree with @alextait1, I think this topic deserves a dedicated chapter while still being woven into the related chapters.

[2022-04-12 21:41] nhoizey commented on #2884
I can be a reviewer on this chapter.

[2022-04-12 22:02] rviscomi commented on #2893
Thanks @Suzzicks! If you had to pick between Mobile Web and PWA, which would you prefer? Could you also share a brief summary of your experience with each? (sorry to ask, your GitHub profile doesn't have a lot of info)

[2022-04-12 22:23] mgechev commented on #2880
I'd love to help as a reviewer!

[2022-04-12 22:26] daviddenn commented on #2888
On second thought, I think I'd be better as a content lead!

[2022-04-12 23:55] eeeps commented on #2884
I'd love to be an author, analyst, or even lead again (though if anyone else wants to take that, by all means!)

[2022-04-13 00:49] rviscomi commented on #2888
Thanks @daviddenn I'll give more time for others to comment and put you down as an author for now.

[2022-04-13 01:04] konfirmed commented on #2890
Hi, I'll like to be a Reviewer/Analyst in this chapter.

[2022-04-13 01:06] konfirmed commented on #2883
I'll like to be an analyst in this chapter.

[2022-04-13 03:30] akshay-ranganath commented on #2884
I can help in analysis and authoring the chapter.

[2022-04-13 09:35] dwsmart commented on #2893
Happy to be a reviewer this year

[2022-04-13 09:38] dwsmart commented on #2888
Happy to be a reviewer if there's need!

[2022-04-13 10:49] pankajparkar commented on #2880
I'm interested in reviewing this chapter

cc- @NishuGoel

[2022-04-13 13:33] j9t commented on #2879
Happy to review.

[2022-04-13 14:04] bkardell commented on #2881
Would love to contribute to this again this year, however I can.

[2022-04-13 14:05] bkardell commented on #2887
Happy to be a co-author of this at least since it was my suggestion :)

[2022-04-13 14:22] alextait1 commented on #2889
I'd really love to further explore what integrating into other chapters could look like too @ericwbailey

[2022-04-13 14:37] patrickstox commented on #2888
I'm happy to come back as a reviewer this year and also provide any guidance I can based on my experience last year.

[2022-04-13 14:44] SaptakS commented on #2892
Happy to co-author or review (if there are others who want to author instead of the same team).

[2022-04-13 14:46] SaptakS commented on #2891
Happy to co-author or review

[2022-04-13 14:47] SaptakS commented on #2889
I'd love to co-author.

[2022-04-13 14:55] SophieBrannon commented on #2888
I'd love to get involved as an author for the SEO section!

[2022-04-13 15:53] rviscomi commented on #2887
Thanks @bkardell! Would you also be able to take on the [content team lead](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Content-Team-Leads'-Guide) role?

[2022-04-13 16:00] bkardell commented on #2887
Probably? Can we wait and see who else volunteers to make that decision?

[2022-04-13 16:00] rviscomi commented on #2887
Sounds good!

[2022-04-13 16:06] meyerweb commented on #2887
I’m willing to participate as a reviewer or co-author, depending on need.  I don’t think I’m up for content lead on this one.

[2022-04-13 17:01] rviscomi commented on #2880
@malchata is interested in the author role! 🎉

[2022-04-13 18:15] roryhewitt commented on #2902
Well I've been an Author (2020) and a Reviewer (2021). If you need authors or reviewers for 2022, I'm in again :)

[2022-04-13 18:24] NishuGoel commented on #2880
Would love to contribute as an analyst + reviewer for JS chapter this year!

[2022-04-13 21:34] scottdavis99 commented on #2889
I'd love to co-author the Accessibility chapter again this year!

[2022-04-13 21:39] scottdavis99 commented on #2889
One thing I've been doing in my a11y advisory work is taking a "Top 5" approach to fixing Accessibility issues, based on the WebAIM Million Top 5. There aren't any surprises on the list: Color Contrast, Img Alt Text, Input Labels, Link text, and Buttons. By focusing on the most common errors, we've been able to see dramatic measurable improvements.

Perhaps this year, the chapter could take an "ac

[2022-04-13 21:44] rviscomi commented on #2889
I would love to see that!

[2022-04-13 23:39] karlcow commented on #2887
Happy to review.

[2022-04-14 03:31] rviscomi opened #2910 "Sustainability 2022"
# Sustainability 2022

If you're interested in contributing to the Sustainability chapter of the 2022 Web Almanac, please reply to this issue and indicate which role or roles best fit your interest and availability: [author](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Authors'-Guide), [reviewer](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Reviewers'-Guide), [analyst

[2022-04-14 03:40] rviscomi commented on #2910
@cqueern @gerrymcgovernireland you've expressed an interest in a sustainability chapter before. This chapter could use coauthors, reviewers, and analysts if you still have the interest and time!

@ldevernay has stepped up to author the chapter 🎉

[2022-04-14 03:49] kushaldas commented on #2892
I would love to help in review this year.

[2022-04-14 06:05] tunetheweb commented on #2910
@fershad also [was interested in such a chapter](https://twitter.com/fershad/status/1487431474416844800?s=21&t=tQwJoRym8zIIb_FcOmqT9g).

[2022-04-14 06:11] fershad commented on #2910
@tunetheweb @rviscomi I'd love to put my hand up as an analyst, though will need guidance when it comes to querying the dataset.

@mrchrisadams would you also be interested in contributing?

[2022-04-14 06:14] gerrymcgovernireland commented on #2910
Yes, definitely interested if there’s any way I can help

From: Rick Viscomi ***@***.***>
Sent: Thursday 14 April 2022 04:41
To: HTTPArchive/almanac.httparchive.org ***@***.***>
Cc: gerrymcgovernireland ***@***.***>; Mention ***@***.***>
Subject: Re: [HTTPArchive/almanac.httparchive.org] Sustainability 2022 (Issue #2910)

@cqueern <https://github.com/cqueern>  @gerrymcgovernireland <https://github

[2022-04-14 07:57] ldevernay commented on #2910
This enthusiasm is awesome!
I will look into the outline to offer some details today.

I'm really eager to work with you all!

[2022-04-14 09:16] mrchrisadams commented on #2910
Hi folks.

I'd be happy to contribute as a reviewer at least, given those timelines. I'll ask internally to see if there's anyone who might be able to contribute in other roles.

[2022-04-14 12:48] cqueern commented on #2910
I'd love to support as a Reviewer. Thanks. Looking forward to working with everyone.

[2022-04-14 13:01] jonoalderson commented on #2882
Would love to lead this one again!

[2022-04-14 13:15] iskander-sanchez-rola commented on #2891
I'd like to support as a Peer Reviewer.

[2022-04-14 14:13] bkardell commented on #2910
I'm curious what this will cover?

[2022-04-14 15:17] cyberandy commented on #2882
@jonoalderson please do 🙏

[2022-04-14 16:27] gerrymcgovernireland commented on #2910
These are all great points to cover. Some possible added suggestions:

1.	If there was some way we could identify page ‘waste’ that could be useful. This might include unused CSS, JS, poor coding that is slowing things down and thus wasting energy, poorly optimized images, etc. We could give good tips on reducing such waste.
2.	In the analysis I’ve been doing, over 90% of the energy impacts are ei

[2022-04-14 16:39] morelme commented on #2890
Hello, I'd like to be a Reviewer.

[2022-04-14 16:46] morelme commented on #2890
Hi, I'd like to be a co-author or reviewer.

[2022-04-14 23:01] ericwbailey commented on #2889
I love this idea.

[2022-04-14 23:24] hemanth commented on #2894
Count me in on this! :)

[2022-04-14 23:24] hemanth commented on #2893
Count me in on this! :)

[2022-04-15 04:30] Tiggerito opened #2911 "SEO Chapter - New robots tag: indexifembedded"
The SEO chapter could check the use of the new [indexifembedded meta tag option](https://developers.google.com/search/blog/2022/01/robots-meta-tag-indexifembedded) if possible. The custom metrics code would have to look into iframe content.

The article also uses 'value' in place of 'content' for the meta tag. I wonder how many people make this mistake on their meta tags? Googlebot supports 'value

[2022-04-15 05:47] 25prathamesh commented on #2890
HI, I am working in the web perf field for the past few years I like to be a co-author/reviewer/analyst.

[2022-04-15 07:21] ldevernay commented on #2910
Great points @gerrymcgovernireland !
Here is the complete outline :

Introduction
Environmental impact of digital
Understanding the impact
Main figures, resources
Studies :
https://www.greenit.fr/environmental-footprint-of-the-digital-world/
https://www.greenit.fr/wp-content/uploads/2021/12/EU-Study-LCA-7-DEC-EN.pdf

Most of the impact comes from user devices, mostly because their fabrication is v

[2022-04-15 07:30] ldevernay commented on #2910
I sent a message to Tom yesterday and another to Tim this morning, hope they will have some time for this!

On the impact being mostly on devices, I totally agree and that's what the studies mentioned on my previous comments illustrate.
This is why, in the company where I currently work, we also gather metrics on real devices. On smartphones, this is a good way to measure the depletion of the batt

[2022-04-15 11:39] timfrick commented on #2910
Hi All,

Just getting caught up here. Look forward to collaborating with you all. Per some of the points brought up earlier in this thread:

For the Sustainable Web Design model, we based our consumer device use numbers mostly on the Andrae study, which estimates that at 52% of the system with repeat visitors using 25% and loading 2% of data: https://sustainablewebdesign.org/calculating-digital-em

[2022-04-15 12:23] ldevernay commented on #2910
@timfrick : great to have you onboard!

This new feature from Ecograder sounds awesome! I would love to have more info on this.

I somehow missed the article on calculating digital emissions, I will read this.

[2022-04-15 12:46] ldevernay commented on #2910
Dear contributors, here is the document containing the outline (WIP) : https://docs.google.com/document/d/1g1ACWRTAzTlcaKKODNASLkXe4zquF-XR5oHh0GfayP8/edit#heading=h.orr5h1m9v3cm
You should request edit access since we will be working on this document to write this chapter.

[2022-04-15 13:21] cqueern commented on #2910
Hello All.

Are we suggesting an analysis and discussion of the sustainability or environmental impacts of hardware used to browse the web?  I don't believe that would be in scope as the Archive focuses on how websites are built. We don't collect and have data about the fabrication of user devices (or even user agent data) for us to comment on.

But perhaps I misunderstand your suggestion.

[2022-04-15 13:49] ldevernay commented on #2910
This should not be the aim of the analysis (other studies do that pretty well) but we should keep this fact in mind because it is a huge part of the reason why digital services should be as sustainable as possible.

The reasoning here is :
- Most of the environmental impact of digital comes from manufacturing our devices
- This gets worse because people around the world own lots of devices and cha

[2022-04-15 15:19] gerrymcgovernireland commented on #2910
That’s great to hear about the messages to Tom and Tim

Sounds fascinating that you’re gathering this data on the devices. I read the article from your link. It’s very impressive. I know Caleb has pointed out correctly that the device is out of scope for this project, but I would love to chat with you more about it as a side conversation, if you had time.

From: LaurentDev ***@***.***>
Sent: Frida

[2022-04-15 15:23] gerrymcgovernireland commented on #2910
These are good contextual points. I think we can note that heavier and more processing intense pages often contribute to forcing people to upgrade their devices sooner than they would if the pages were lighter and less processing intense. I think this would be good context, without having to go into any research or analysis of specific device impacts.

From: LaurentDev ***@***.***>
Sent: Friday 15

[2022-04-15 15:25] gerrymcgovernireland commented on #2910
Great to see you involved, Tim!

And it would be great to hear more about how you’re identify page waste

From: LaurentDev ***@***.***>
Sent: Friday 15 April 2022 13:24
To: HTTPArchive/almanac.httparchive.org ***@***.***>
Cc: gerrymcgovernireland ***@***.***>; Mention ***@***.***>
Subject: Re: [HTTPArchive/almanac.httparchive.org] Sustainability 2022 (Issue #2910)

@timfrick <https://github.com/ti

[2022-04-15 18:16] timfrick commented on #2910
Happy to chat about that at any time, @gerrymcgovernireland

[2022-04-15 19:13] tunetheweb commented on #2896
Calling the 2021 CMS super team!: @alonkochba @alankent @andreylipattsev @logicalphase @saterchris @rviscomi @TosinArasi

Are any of you interested in contributing again this year?

Also can any of you suggest potential authors/reviewers/analysts who have domain expertise in the CMS space that might make good contributors? Would love if you could reach out and/or tag suggestions here to see if we

[2022-04-15 19:13] tunetheweb commented on #2897
Calling the 2021 Ecommerce super team!: @bobbyshaw @rockeynebhwani @alankent @soulcorrosion @fili @rrajiv

Are any of you interested in contributing again this year? I see some of you have already commented above so that's great!

Also can any of you suggest potential authors/reviewers/analysts who have domain expertise in the Ecommerce space that might make good contributors? Would love if you co

[2022-04-15 19:13] tunetheweb commented on #2898
Calling the 2021 Jamstack super team!: @denar90 @Dawntraoz @thomkrupa

Are any of you interested in contributing again this year?

Also can any of you suggest potential authors/reviewers/analysts who have domain expertise in the Jamstack space that might make good contributors? Would love if you could reach out and/or tag suggestions here to see if we can get new people involved!

[2022-04-16 05:18] himani-kankaria commented on #2897
I'm new to this and the process of building a chapter, but I would be happy to contribute as an author.

And even I would like to recommend Vatsal Shah - https://in.linkedin.com/in/vatsalshah. *Don't know if he is here on Github.

[2022-04-16 05:53] imeugenia commented on #2886
Hello! I would like to be a co-author for this chapter.

[2022-04-16 10:42] paivaspol commented on #2903
I can help being a analyst and/or reviewer for this chapter.

[2022-04-16 10:45] tunetheweb commented on #2903
Happy to review too and, as last year’s analyst, happy to help this years analyst with any questions or queries.

[2022-04-16 10:53] tunetheweb commented on #2897
@himani-kankaria could you give a little info about yourself and your expertise in this area as your GitHub bio is a little bare.

[2022-04-16 15:48] ColinEberhardt commented on #2885
Hi, I’m Colin Eberhardt, the author of the WebAssembly Weekly newsletter and general wasm enthusiast 👋

I’m interested in the author / analyst roles, but would be good to discuss the detail, make sure I am comfortable with the commitment.

[2022-04-16 15:56] rviscomi commented on #2911
Thanks @Tiggerito. I'm going to copy this into the #2888 issue as a new comment.

[2022-04-16 15:56] #2911 closed

[2022-04-16 15:56] rviscomi commented on #2888
Comment from @Tiggerito in #2911:

[2022-04-17 02:14] fershad commented on #2910
For the _Analysis by Metrics_ section of this chapter, I feel we could also look at aligning with the CMS, eCommerce, and Jamstack chapters to examine how the different (top??) platforms in those categories perform in terms of sustainability. Could look at median size of pages, and also hosting options (can self-host? does managed hosting use known green web hosts?).

[2022-04-17 16:56] tunetheweb commented on #2898
@seldo I hear you might be interested in helping with this chapter?

[2022-04-17 22:42] spanicker commented on #2891
Interested to co-author or review

[2022-04-18 02:30] MichaelLewittes commented on #2888
Great topic @Tiggerito. Read the documentation in January and all the subsequent takes on it from various industry trades (Search Engine Land, Search Engine Roundtable et al).

[2022-04-18 08:29] denar90 commented on #2898
I can't this year. Unfortunatelly. Ukrtiane 🇺🇦  was attacked by russia, hence it will be hard to contribute even if war ends soon...

[2022-04-18 08:46] tunetheweb commented on #2898
I hope you and your family are keeping safe @denar90

[2022-04-18 09:02] Navaneeth-Akamai commented on #2900
@rviscomi Hope you are doing good! Wanted to add my nomination to author/be the content lead for CDN Chapter 2022 :) Want to pick it up from where we left it last time and see how the CDN landscape has moved on from the last time we published it.

[2022-04-18 13:24] siakaramalegos commented on #2885
Hi, @ColinEberhardt that's great news! You can find out more about each role in the wiki - see the side bar for each one: https://github.com/HTTPArchive/almanac.httparchive.org/wiki

The author is usually the content lead as well since it makes sense to guide the team where you want the writing to go. For the analyst role, anyone who knows SQL decently could work. Last year I did most of the analy

[2022-04-18 13:33] siakaramalegos commented on #2881
@AlexLakatos are you ok being the content lead as well?

[2022-04-18 13:46] siakaramalegos commented on #2880
@seldo we heard you might be interested in contributing to the JS chapter - maybe as a reviewer? Pinging you here in case...

[2022-04-18 13:57] AlexLakatos commented on #2881
Sure!

[2022-04-18 14:27] siakaramalegos commented on #2885
@ColinEberhardt here's the workshop for anyone interested in being an analyst! https://twitter.com/HTTPArchive/status/1516060214109298693

[2022-04-18 14:29] siakaramalegos commented on #2884
@eeeps going to put you as lead again for now since no one else has volunteered yet :)

[2022-04-18 15:11] seldo commented on #2898
Yep! Obviously I spend a lot of time up to my neck in Jamstack data, and in fact I have been independently querying the HA dataset for my own job. Happy to do queries or write analysis or both.

[2022-04-18 15:12] seldo commented on #2880
Yep, I don't consider myself deep enough in JS itself to write, but more than happy to review.

[2022-04-18 15:17] malchata commented on #2880
I'll be the writer for this chapter, and I'm looking forward to having you review @seldo!

[2022-04-18 16:08] tunetheweb commented on #2898
Sorry @seldo but confused about that. Do you mean “write queries” and “write the content”? Or just write the queries? Btw I helped with some of the analysis for this chapter last year so happy to answer any questions on that.

Do you know anyone else in the Jamstack community that might be interested in helping writing or reviewing? I’m not that involved myself to be honest.

[2022-04-18 16:22] seldo commented on #2898
Sorry, happy to both write queries and content, running queries and then turning them into content is my full-time job :-)

[2022-04-18 16:31] rviscomi commented on #2910
FYI we've created a [`#web-almanac-sustainability`](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA) channel on Slack if you'd like a higher bandwidth place to brainstorm content.

I'd also encourage everyone to request edit access to the [planning doc](https://docs.google.com/document/d/1g1ACWRTAzTlcaKKODNASLkXe4zquF-XR5oHh0GfayP8/edit?usp=sharing) and iterat

[2022-04-18 16:34] tunetheweb commented on #2898
Would you be happy to lead this chapter then? You be in charge of setting the direction of the chapter, deciding on any co-authors (if you want any), and generally ensuring you stick to the deadlines noted above as much as possible. More details on it here: https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Content-Team-Leads'-Guide.

As Section Lead for the Content Publishing section, I

[2022-04-18 16:52] jroakes commented on #2888
I will throw my hat in for Analyst again this year.  Have a lot of clean up I want to do to make the queries more concise and readable.

[2022-04-18 17:03] seldo commented on #2898
@tunetheweb Happy to take the lead on this chapter. I will definitely try to find a co-author, ideally somebody at Vercel as they are another big player in the space and I wouldn't want to accidentally skew things Netlify-wards. I have some contacts there so I'll give that a shot next.

Analyzing and writing is not a problem for me, as I said, it's my job and I have in fact already been analyzing

[2022-04-18 17:08] tunetheweb commented on #2898
Thanks! Set you as the lead in top comment.

No probs and happy to help with any questions at any time. Our wiki is also a good resource: https://github.com/HTTPArchive/almanac.httparchive.org/wiki

[2022-04-18 17:10] GregBrimble commented on #2898
Hi @seldo! I'm at Cloudflare Pages and would also be happy to help out with the queries if you're looking for additional hands. I've previously done the analysis for CMS 2019 and Structured Data 2020.

[2022-04-18 17:12] seldo commented on #2898
@GregBrimble That's very kind! Would love to have you on board, I've added you to the queries section.

[2022-04-18 17:21] housseindjirdeh commented on #2880
I'll be happy to review as well if there's a need for more reviewers :)

[2022-04-18 17:31] siakaramalegos commented on #2880
@housseindjirdeh we could also use reviewers on #2886 if you're interested in Third Parties

[2022-04-18 17:44] housseindjirdeh commented on #2886
I can be a reviewer for this chapter 🙏

[2022-04-18 20:01] tunetheweb opened #2914 "Investigate ability to store WASM binary files for analysis"
As discussed here: https://github.com/HTTPArchive/httparchive.org/issues/416 binary files (including WASM binaries) are discarded as part of the HTTP Archive crawl. Last year we performed analysis on this binary files so presumably want to do that again this year. That analysis would be easier if we had the binary files from the crawl instead of having to go fetch them again manually like we did l

[2022-04-18 20:05] rviscomi commented on #2914
Here's the relevant WPT feature request: https://github.com/WPO-Foundation/wptagent/issues/437

[2022-04-18 20:32] pmeenan commented on #2914
I'd be a lot more comfortable if we could do on-agent analysis (like we do with Images and fonts) instead of uploading the whole WASM. It's not used on a lot of sites so the impact might not be too crazy but WASM payloads can be HUGE, transpiled c++ projects like Adobe Photoshop.

Squoosh has ~2MB of WASM for example.

If we know what stats or info we'd like to extract (i.e. features used), I'd ra

[2022-04-18 20:52] rviscomi commented on #2914
Here's the repo @RReverser built to analyze the Wasm payloads, if it helps: https://github.com/RReverser/wasm-stats

[2022-04-18 20:57] silent1mezzo commented on #2890
Happy to help review/analyze data 👋

[2022-04-18 21:00] pmeenan commented on #2914
Looks like it is largely grouping instructions by type and counting them (and a few other stats).  That's FAR better done at the edge and just uploading the stats themselves.

A few ways to do it. Could port the rust code to python and update the agent itself or we could pre-build a linux binary of the existing code, bake it into the images and just run the current code against all WASM payloads o

[2022-04-18 21:22] pmeenan commented on #2914
Looks like it is built on top of his wasmbin library so porting the whole thing to Python may be a bit much. Right now it expects a full directory of wasm files in a command-line param but it should be easy enough to change it to take a single wasm file as input and generate the json output.

We can build the binaries of the rust crate, ship the binaries with the agent and use it when running on L

[2022-04-19 00:49] csliva commented on #2888
I’d be interested in helping as an analyst if extra support is needed.

[2022-04-19 10:02] tomayac commented on #2894
If additional reviewers are needed, I'm happy to help out as well.

[2022-04-19 10:06] tomayac commented on #2894
Note that we should now have _significantly more_ data, the [queries from 2021](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/sql/2021/capabilities) should all now deliver better results than what we had back then.

[2022-04-19 11:57] beaufortfrancois commented on #2894
I'll be happy to review content as well when needed.

[2022-04-19 13:52] RoelN commented on #2883
I'd like to apply for reviewer, and figuring out what interesting details to pull from the huge heap of font data!

[2022-04-19 14:13] bramstein commented on #2883
I'd be happy to review as well (if you need more than one.)

[2022-04-19 14:17] siakaramalegos commented on #2883
@bramstein the more the merrier! Thanks!

[2022-04-19 14:21] jyrkialakuijala commented on #2884
I'd be happy to contribute as an co-author of this chapter, or possibly only in the content planning part and helping to scope this chapter. I have experience in image format and codec design -- WebP lossless and JPEG XL, LCP's relation to progressive images, and other work related to faster web sites (Brotli, WOFF2).

[2022-04-19 14:25] JasmineDW commented on #2882
Hello @rviscomi I'd like to be an editor!

[2022-04-19 14:27] siakaramalegos commented on #2883
I just re-read the 2020 chapter, and noticed a lot of performance stuff in it. If someone is interested in authoring but isn't as confident in the performance side, I can be a backup co-author for that. I'd prefer not to be because I'm also a section coordinator, but I really want this chapter to happen this year so offering just in case it's needed :)

[2022-04-19 14:37] siakaramalegos commented on #2884
@jyrkialakuijala cool! Co-authors tend to contribute to writing. If you're wanting to be more of a guide, then reviewer might be a better role. Reviewers contribute at the outline stage as well as reviewing the written article. Or you could focus on writing in specific content areas, depending on how the content lead wants to organize the content.

On the content lead topic, I apparently jumped th

[2022-04-19 15:56] svgeesus commented on #2883
I'm happy to be a reviewer, and can also contribute towards some of the content planning.

Given the previous couple of years, what is definitely needed is a strong overall lead and primary author; and I'm not able to put myself forward for that role given my other commitments over the same time period.

[2022-04-19 16:48] svgeesus commented on #2879
Happy to review again this year

[2022-04-19 17:01] miketaylr commented on #2891
Interested as reviewer or editor.

[2022-04-19 17:02] miketaylr commented on #2887
Interested in reviewing.

[2022-04-19 17:24] bkardell commented on #2887
I guess our biggest need is an analyst?

[2022-04-19 17:37] jmsole commented on #2883
I don't know if you need any more reviewers but I'd like to propose myself as one, in case my experience is useful. I'm the Font Development Technical Manager at Dalton Maag, a digital font foundry based in London. I have 10 years of experience in the type industry and a ton of experience making fonts for clients of all sizes, both as a designer as well as from a technical implementation perspecti

[2022-04-19 17:41] johnmurch commented on #2888
Happy to help :)

[2022-04-19 18:43] rrajiv commented on #2902
Hi @rviscomi - i'd like to be a reviewer for this chapter. Thanks.

[2022-04-19 19:43] pmeenan commented on #2914
Just added wasm-stats to the agent so each request in the HAR will have the stats for that request:

[code]

Sample test: https://dev.webpagetest.org/result/220419_XQ_1/

[2022-04-19 19:44] pmeenan commented on #2914
Closing this as we don't want to store the actual binaries. If we need new stats, we can update wasm-stats to collect them

[2022-04-19 19:44] #2914 closed

[2022-04-19 19:46] tunetheweb commented on #2914
Awestruck! Yet again!

[2022-04-19 19:56] rviscomi commented on #2914
+1 to that, thank you @pmeenan for integrating this with the test agents so quickly.

What would be the process if we wanted to add/change any wasm stats?

[2022-04-19 19:59] pmeenan commented on #2914
Someone submit a PR to the [fork of the wasm-stats code](https://github.com/HTTPArchive/wasm-stats) with the desired changes. I can take care of building the binary and updating the agent but I'm not going to pretend I know how the actual stats code works :D

[2022-04-20 06:32] max-ostapenko commented on #2891
Would like to continue analysing this chapter

[2022-04-20 08:15] pepelsbey commented on #2886
I can be a reviewer for this chapter

[2022-04-20 08:47] foolip commented on #2887
I can review. My first piece of feedback would be the name of the chapter, we've called the effort "Interop 2022" and have never expanded it to "Interoperability" in any of our comms about this, at least not that I've seen.

[2022-04-20 14:27] rviscomi commented on #2887
Thanks @foolip! The "2022" in the GitHub issue title is just to distinguish it from other annual versions of this chapter that may be to come. When published, "2022" will be implied by the annual edition of the Web Almanac. I think for the title of the chapter we would want to base it more on the concept of interoperability than a reference to the specific Interop 2022 program, and if we want to c

[2022-04-20 16:47] siakaramalegos commented on #2885
@ColinEberhardt I sent you an email to do a check-in - I know we're still waiting for some more volunteers but want to get you started so that doesn't hold you back. Let me know if you didn't get it.

[2022-04-20 21:13] radum commented on #2910
I think you are making some assumptions here that have no research to back them up. People don't always change devices because of lag. I think the regional factors and many other have an important role. So IMHO this assumption is just speculation.

Making your digital service, in our particular context here **the web**, more sober and efficient doesn't translate into improved sustainability.

I th

[2022-04-20 21:20] radum commented on #2910
Another example where I think that volume of data over the wire is wrong

[Gerry McGovern](https://twitter.com/gerrymcgovern) posted this a while back https://twitter.com/gerrymcgovern/status/1494225017839697920

[code]

The assumption here is that if those tracking cookies disappear overnight 11442 metric tonnes of CO2 emission would be gone. This unrealistic considering the devices that were mov

[2022-04-20 21:43] timfrick commented on #2910
@radum, I appreciate reading your perspective. As you noted, it's about everything. That's one of the reasons we included Business Operations, Design, and Client & Project Ethos as categories on the Sustainable Web Design site. That doesn't encompass everything, but it's a start.

Also, we noted on the _Calculating Digital Emissions_ post you referenced that there is not yet broad scientific conse

[2022-04-21 00:04] radum commented on #2910
@timfrick Thank you for your reply. I totally understand from where you are coming from in terms of clients and awareness. My main concern is that we are rushing to quantify something that is not possible to quantify, at least for now. And this becomes a marketing tool.

I have met companies and clients that want to be more sustainable with their web presence and ask for help to stick a label. In

[2022-04-21 01:25] SeoRobt commented on #2882
Hey everyone, would be thrilled to participate as a reviewer!

[2022-04-21 14:29] rviscomi commented on #2910
Just hack a kickoff meeting with @ldevernay. One idea that came up was to look into installing the [Sustainability](https://github.com/thegreenwebfoundation/lighthouse-plugin-greenhouse) plugin for Lighthouse in HTTP Archive. Need to look into what stats that plugin unlocks and whether we're able to derive them from the metadata we already have, and any overhead it would add to the crawl.

cc @pme

[2022-04-21 15:00] ldevernay commented on #2910
@radum : thanks for this insight.
Regarding the fact that lagging often leads to buying a new device, I in fact don't have scientific studies or stats but this is based on the fact that digital services are getting bigger and bigger.
https://www.greenit.fr/2010/05/24/logiciel-la-cle-de-l-obsolescence-programmee-du-materiel-informatique/
https://tonsky.me/blog/disenchantment/

Hence Wirth's Law : h

[2022-04-21 15:21] Djohn12 commented on #2910
Hi there,

really interested in giving a hand but not sure where to start nor if my technical background and English level best fit Reviewer or Editor role.

I see no Editor has been designated yet, let me know if you'd like me to fill in the blank :)

[2022-04-21 16:14] kevinfarrugia commented on #2880
Would be happy to pitch in as analyst + reviewer if needed.

[2022-04-21 16:14] kevinfarrugia commented on #2886
Would be happy to pitch in as analyst + reviewer if needed.

[2022-04-21 16:16] siakaramalegos commented on #2886
@kevinfarrugia awesome, thanks so much! Glad to see you contribute again!

[2022-04-21 16:17] pmeenan commented on #2910
@rviscomi @tunetheweb Looks like the Sustainability plugin mostly just calls the Green Web API. Rather than hammering on the API for every site we crawl, it would probably be better to reach out to the Green Web Foundation directly and integrate with the [dataset](https://www.thegreenwebfoundation.org/green-web-datasets/) and have them contribute to the chapter/methodology.

[2022-04-21 16:20] ColinEberhardt commented on #2885
Hu @siakaramalegos - I’ve not spotted that email. Was it to my gmail address? F can you resend, or perhaps DM via Twitter?

[2022-04-21 16:25] siakaramalegos commented on #2885
@ColinEberhardt just re-sent it to the gmail address in your GH profile. It doesn't look like I can DM you on Twitter, but feel free to DM me if you don't see the email!

[2022-04-21 17:07] derekperkins commented on #2888
Not sure how much we're wanting to rock the boat, but at a quick glance, a lot of queries are doing custom javascript functions that could be better represented with some newer BigQuery JSON functions.
https://cloud.google.com/bigquery/docs/reference/standard-sql/json_functions

[2022-04-21 18:34] ibnesayeed commented on #2904
Count me in please!

[2022-04-21 18:39] tunetheweb commented on #2904
Woo hoo - good to have you back @ibnesayeed !

[2022-04-21 18:41] ibnesayeed commented on #2881
I can co-author here.

[2022-04-21 18:42] ibnesayeed commented on #2880
I can co-author, but can't be the lead author.

[2022-04-21 19:05] malchata commented on #2880
That's okay @ibnesayeed, I think I'm the _de facto_ lead author. I'd welcome the help if you wanted to co-author!

[2022-04-21 19:07] AlexLakatos commented on #2881
@ibnesayeed that would be great, thanks!

[2022-04-21 19:13] daKmoR commented on #2881
I'm happy to help author web components related sections and review overall

[2022-04-21 20:29] rviscomi commented on #2887
Assigning @bkardell the lead author role after confirming via email. Thank you Brian! I'll leave it to you and @siakaramalegos to coordinate on the next steps for the chapter. (See the comment above about connecting, if you haven't already)

[2022-04-21 21:29] csliva commented on #2896
I'm an analyst under the SEO section, but we have plenty of help over there. I can help with CMS as an analyst here as well.

I've used and built sites for wordpress, joomla, hubspot, drupal, shopify, ghost, contentful, magento, django, and Adobe experience manager so I should have the domain experience here.

[2022-04-21 21:35] tunetheweb commented on #2896
Excellent, would love to have you on board @csliva !

[2022-04-22 03:43] rviscomi commented on #2888
@derekperkins yeah that sounds great! That seems like it would make the queries much more readable and may even be a bit faster to run.

If you're up for it as a proof of concept, could you take a couple of [last year's queries](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/sql/2021/seo), copy them over to this year's [SQL dir](https://github.com/HTTPArchive/almanac.httparchive.

[2022-04-22 06:57] ldevernay commented on #2910
@pmeenan : I think you're right on that and having @mrchrisadams on board might help.

It might be more useful to crawl while checking some best practices, like this cli tool : https://github.com/cnumr/GreenIT-Analysis-cli/
The new version of Ecograder might prove useful too.

In the end, this could be really close to what Lighthouse does. What remains to be seen is what global metrics we can/shou

[2022-04-22 07:51] radum commented on #2910
@ldevernay thank you for your reply.

From the links you provided one is just persons opinion (valid or not, is not a scientific study, and the results vary highly based on region, population, period and so on.) The other one is from 2010 (event if it has updates to 2020), and the actual research has no correlation with CO2 emission. The fact that it sounds ridiculous that you need huge amount of

[2022-04-22 09:28] kevinfarrugia commented on #2887
Would all queries need to be written from scratch for this chapter (since it did not exist in previous years)? Do you already have any queries in mind so that I can assess the complexity?

[2022-04-22 09:34] foolip commented on #2887
@rviscomi thanks for clarifying!

[2022-04-22 09:34] mrchrisadams commented on #2910
Hi folks. I can contribute more fully next week, but in the meantime, I hope these might be useful.

### Data for inducing new embedded emissions from device changes

The best paper with data for how design changes can impact hardware usage or embedded emissions is probably this paper from the ACM limits conference last year

https://limits.pubpub.org/pub/rn94aofn/release/2

### Finding a model

I

[2022-04-22 15:03] Djohn12 commented on #2910
@ldevernay @tunetheweb thanks for your feedback !

Let's tag me as a Reviewer then, I'll try to be up to the task ;)

I'll start by reading the documentation and I'll get back to you as soon as possible.

Wishing you all a nice week-end

[2022-04-22 15:15] ldevernay commented on #2910
@Djohn12 : I added you on this issue.
Don't forget to add yourself to the google doc and to join [#web-almanac-sustainability on Slack](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA):
https://docs.google.com/document/d/1g1ACWRTAzTlcaKKODNASLkXe4zquF-XR5oHh0GfayP8/edit#heading=h.orr5h1m9v3cm

[2022-04-23 18:22] foxdavidj commented on #2889
@scottdavis99 @scottdavis99 @SaptakS @shantsis @alextait1

Hey everyone, excited to see we've already got a full team (aside from an analyst) for the chapter!

To kick things off, I'd love to set up a 30 minute call within the next two weeks to put any new faces to names, and start the planning and brainstorming process.

@scottdavis99 as the Chapter Lead can you assist in finding a time that work

[2022-04-23 18:25] DataBytzAI commented on #2882
@jonoalderson @cyberandy would be great to have a call for intros and planning ... esp since you folk have been there before :D

[2022-04-23 18:43] foxdavidj commented on #2888
Hey @SophieBrannon, would you be interested in taking the Chapter Lead role for the SEO chapter?

As the Chapter lead you'd be the primary author and the key person responsible for pulling the entire chapter together. Details on [the role and commitment here](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Content-Team-Leads'-Guide)

We'd love to have you 🎉 🎉

[2022-04-23 18:44] foxdavidj commented on #2890
Hey @morelme, would you be interested in taking the Chapter Lead role for the Performance chapter?

As the Chapter lead you'd be the primary author and the key person responsible for pulling the entire chapter together. Details on [the role and commitment here](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Content-Team-Leads'-Guide)

We'd love to have you 🎉 🎉

[2022-04-23 18:45] foxdavidj commented on #2892
Hey @SaptakS, would you be interested in taking the Chapter Lead role for the Security chapter?

[2022-04-23 18:48] foxdavidj commented on #2893
Hey @Suzzicks, do you have a preference between the Mobile Web and PWA chapters? Being an author is a large commitment, so we'd like to know which chapter you'd be most excited to write about.

Also if you could share a brief summary of your experience that'd be terrific!

[2022-04-23 18:52] foxdavidj commented on #2894
Hey @MichaelSolati, would you be interested in taking the [Chapter Lead role](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Content-Team-Leads'-Guide) for the Capabilities chapter?

It sounds like you had some reservations, but it looks like we have a stellar team of reviewers from past years that would be able to help support you

[2022-04-23 18:56] MichaelSolati commented on #2894
Haha, it looks like I don't have much of a choice, so yeah I'll take lead.

[2022-04-23 18:57] SaptakS commented on #2892
@foxdavidj I don't think I will have enough availability to take the Chapter Lead role this time.

[2022-04-23 23:51] nrllh commented on #2892
I'd like to contribute this year as a reviewer :)

[2022-04-23 23:52] nrllh commented on #2905
@yuseyhan nice to have you here

[2022-04-24 15:22] pekeq opened #2919 "2021 media japanese translation: fix "dropped" translation"
Hello,
Thank you for your great work to translation.

I found a bit of error in 2021 media japanese translation. (https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/content/ja/2021/media.md)

In the current translation, "the `<img>` tag dropped" is translated as "`<img>` タグが削除されました".
This Japanese sentence means that "`<img>` tag was deleted".
Since I think "dropped" in this sent

[2022-04-24 15:22] rockeynebhwani commented on #2910
@ldevernay - Another idea for the chapter ...

Wappalzyer is tracking some solutions which are related to sustainability. Some examples are -

- Carbon offset apps (Example - https://www.cloverly.com/shopify). Stats here - https://www.wappalyzer.com/technologies/widgets/cloverly/. There are bunch in Shopify app store which can be easily tracked in Wappalyzer in time for this chapter - https://apps

[2022-04-24 15:34] tunetheweb commented on #2919
I agree “dropped” here means “landed” or “arrived”.

@ksakae1216 you OK with this change?

[2022-04-25 07:33] jonoalderson commented on #2882
Hey @DataBytzAI yep, sounds like a plan! Carved out some time later this week to start getting things in motion 👍

[2022-04-25 08:12] itamarblauer commented on #2888
Happy to author alongside @SophieBrannon on the SEO chapter 😄

[2022-04-25 09:08] TusharPol commented on #2888
Happy to contribute as an author for the SEO chapter :)

[2022-04-25 09:20] ksakae1216 commented on #2919
@pekeq @tunetheweb Thanks 😄
I think "`<img>` タグが生まれました".
I will translate.

[2022-04-25 09:38] ldevernay commented on #2910
@rockeynebhwani : wappalyzer is a great tool but it's difficult to directly link technologies such as Recommerce to web sustainability.They are great for general sustainability but that doesn't necessarily mean the websites using them are designed for web sustainability. It could be interesting to see if such tools follow best practices of sustainable design for the web.

Wappalyzer stats could be

[2022-04-25 10:24] christianliebel commented on #2894
@MichaelSolati I'm also happy to assist you. As the author and content team leader for the last two editions, I could help review the chapter or provide insight into how we structured the chapter in the previous two years… whatever you need!

[2022-04-25 10:44] gerrymcgovernireland commented on #2910
Indeed, analytics can be very heavy, particularly in media sites, often making up 75% of the weight. There’s often huge waste too with lots and lots of scripts hanging around for old marketing campaigns, etc. And tracking is energy intense. Here’s a good energy efficient analytics system

https://withcabin.com/

From: LaurentDev ***@***.***>
Sent: Monday 25 April 2022 10:38
To: HTTPArchive/almanac

[2022-04-25 11:47] #2919 closed

[2022-04-25 15:17] siakaramalegos commented on #2883
Hi @RoelN @bramstein @svgeesus @jmsole, we still need a lead author. If we don't get one by May 1, then we'll probably have to drop the chapter so that we can focus on the viable ones. If you're willing to step up, please let us know. Or, if you could poke your font friends to try to get another volunteer, that would be helpful. My offer still stands to help with the performance stuff, if needed.

[2022-04-25 17:08] fellowhuman1101 commented on #2899
@dwsmart and I volunteer to author 🤘

[2022-04-25 17:08] dwsmart commented on #2899
Happy to help author on this one.

[2022-04-25 17:47] morelme commented on #2890
Hey @foxdavidj, that sounds great - excited to be part of this!

[2022-04-25 18:07] siwinlo commented on #2895
hello! I'd be happy to join as an editor!

[2022-04-25 20:48] tunetheweb opened #2922 "Previous/Next shortcut keys triggered in search box"
We have a search box on our site.

We also have short cut keys to quickly skip through chapters:
- `p` goes to previous chapter
- `n` goes to the next chapter

Unfortunately these don’t play well together (on desktop at least) and you can’t search for a term including either of these characters on a chapter page without triggering the navigation.

We should capture key presses and prevent them bub

[2022-04-25 21:57] foxdavidj commented on #2892
@awareseven @cqueern @edmondwwchan @nrllh @tomvangoethem

Would any of you be interested in leading the chapter this year? I know some of you have already signed up to be a reviewer, but we're in need of a Lead in order to get this chapter off the ground.

And as contributors in past years, we'd love to welcome you back to the role

[2022-04-25 22:05] foxdavidj commented on #2894
@MichaelSolati @webmaxru @hemanth @beaufortfrancois @tomayac @christianliebel

Hey everyone, excited to see we've got a full team (aside from an analyst) for the chapter!

To kick things off, I'd love to set up a 30 minute call within the next two weeks to put any new faces to names, and start the planning and brainstorming process.

@MichaelSolati as the Chapter Lead can you assist in finding a t

[2022-04-25 22:25] mel-ada commented on #2890
Before we get too far into this process, I figured I would update my handle to reflect a recent name change (last name from Morel -> Ada after getting married). It sounds like GitHub doesn't update tags, so if you click on my old handle and get a 404, don't worry. I'm still here! @morelme -> @mel-ada :)

[2022-04-26 07:32] ldevernay commented on #2910
FYI, I still have on my TODO list a benchmark of various analytics solutions.

[2022-04-26 08:53] honzasladek commented on #2896
Hi @tunetheweb I'm happy to help with this.

I can help with some content about headless CMS space. (Note: I'm currently doing https://github.com/contember which is a headless CMS so would need good reviewers to not introduce some bias into this chapter.)

Otherwise I've got 16 years of experience building websites. Including CMSes like Wordpress, Drupal, Joomla, Strapi, Directus, Sylius (not so m

[2022-04-26 10:41] tpgreenwood commented on #2910
Hi, thanks for the invitation @ldevernay - I'm just putting my name forward here that I may be able to assist as an author and/or reviewer. I am very short of time at the moment so I can't promise my availability, but would like to help if I can.

[2022-04-26 16:23] cqueern commented on #2892
Given other commitments I’m not going to be able to lead. Sorry.

Sent from my mobile device.

[2022-04-26 17:16] tunetheweb commented on #2896
Thanks @honzasladek , presume you're looking to author / co-author the chapter then?

[2022-04-26 18:51] rviscomi commented on #2890
@mel-ada @konfirmed @25prathamesh @silent1mezzo could you all request edit access to the [shared doc](https://docs.google.com/document/d/1IKV40fllCZTqeu-R6-73ckjQR9S6jiBfVBBfdcpAMkI/edit?usp=sharing)? I've added a few ideas for topics to cover but it'd be good to start iterating on it more collaboratively. And FYI we also have a [`#web-almanac-performance`](https://join.slack.com/t/httparchive/sha

[2022-04-27 02:14] carducci commented on #2882
Hello! I spend my days hands-on with semantic web technologies; particularly defining, describing, and linking structured data in a distributed KG system. These are also topics I speak about at tech conferences. If there is any room to participate as an author, I would be honored to be considered.

If not, perhaps I can add value in another role. Either way, I thank you for the consideration :)

[2022-04-27 06:58] mo271 commented on #2901
I'd be happy to be a reviewer on this chapter!

[2022-04-27 07:32] ldevernay commented on #2910
@mrchrisadams @cqueern @Djohn12 @tpgreenwood : Don't forget to add yourself to the google doc and to join [#web-almanac-sustainability on Slack](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA):
https://docs.google.com/document/d/1g1ACWRTAzTlcaKKODNASLkXe4zquF-XR5oHh0GfayP8/edit#heading=h.orr5h1m9v3cm

(for those of you who want to join as authors, I don't thi

[2022-04-27 09:28] bramstein commented on #2883
If no one comes forward before the 1st of May, I can take on the writing.

[2022-04-27 13:08] DataBytzAI commented on #2882
@jonoalderson when suits Today/Thur/Fri for an intro call? .... I am London/Dublin time zone ... anyone else available to call?
@cyberandy @carducci ?

[2022-04-27 14:02] carducci commented on #2882
@DataBytzAI I'm available almost anytime tomorrow after 4:00PM London/Dublin time.

Friday I can connect anytime after 2:00PM London/Dublin time.

[2022-04-27 14:13] siakaramalegos commented on #2885
@ColinEberhardt we need some more volunteers to make this chapter viable and achieve the first milestone on May 1. It puts the chapter at risk of being dropped if we can't make a viable team. Can you recruit some more people? For viability we need at least 1 reviewer and 1 analyst in addition to at least 1 author. It's nice to have 3+ reviewers though.

[2022-04-27 15:09] SeoRobt commented on #2882
Thanks @DataBytzAI great to e-meet you! I'm available anytime tomorrow or Friday, currently in Central Standard Time zone.

[2022-04-27 20:04] mel-ada commented on #2890
@konfirmed @rviscomi @25prathamesh @silent1mezzo @foxdavidj

Sounds great, it looks like almost everyone is on Slack so let's talk schedules there. cc @silent1mezzo, who I'm not sure has had the chance to join Slack yet!

[2022-04-27 21:39] Nutlope commented on #2898
Hey all! I'm at Vercel and would be happy to be a reviewer. Thanks for the invite to do this @seldo!

[2022-04-27 21:40] seldo commented on #2898
Much obliged, @Nutlope!

[2022-04-28 07:57] hanopcan commented on #2910
Hi folks, I'd like to offer some time as a reviewer if I'm not too late.

[2022-04-28 08:11] jonoalderson commented on #2882
Hey folks, any time Friday afternoon works for me.
Shall we aim for 4pm UTC on Friday?

[2022-04-28 11:04] DataBytzAI commented on #2882
Structured data call Friday 16:00 UTC (17:00 London time), good for everyone else?
@cyberandy @carducci @JasmineDW @siakaramalegos @SeoRobt

cc: @jonoalderson

[2022-04-28 13:31] foxdavidj commented on #2891
Hey @tomvangoethem, would you be interested in taking the Chapter Lead role for the Privacy chapter?

We'd love to have you 🎉 🎉

[2022-04-28 15:44] carducci commented on #2882
Assuming the time works for everyone, I have created a zoom room.

Michael Cary (He/Him) is inviting you to a scheduled Zoom meeting.

Topic:  Structured Data 2022
Time: Apr 29, 2022 04:00 PM Universal Time UTC

Join Zoom Meeting
https://us06web.zoom.us/j/81102069402?pwd=UDBqclNMWWtZK0tVdzBtTUY1ajBDUT09

Meeting ID: 811 0206 9402
Passcode: 312040
One tap mobile
+12532158782,,81102069402#,,,,*31204

[2022-04-28 15:49] SeoRobt commented on #2882
Hey @carducci thanks for setting that up. Confirming that the meeting will be at 6 UTC? The invite shows 4 UTC. Talk tomorrow!

[2022-04-28 15:57] carducci commented on #2882
Are we moving to 18:00 UTC? Happy to update the meeting but I want to confirm

[2022-04-28 16:10] DataBytzAI commented on #2882
fine here (7pm London time)

[2022-04-28 16:11] jonoalderson commented on #2882
I'm flexible.

[2022-04-28 16:13] #2922 closed

[2022-04-28 21:35] SeoRobt commented on #2882
Sincere apologies @carducci, the Zoom invite for 16:00 UTC is correct and works for everyone.

[2022-04-29 08:07] nrllh commented on #2891
I would be interested in co-authoring here

[2022-04-29 15:03] jonoalderson commented on #2882
I'll be there, though annoyingly I have a hard stop for another call at 16:30 UTC. :(

[2022-04-29 15:20] siakaramalegos commented on #2882
Hey folks, on your call, can you also discuss roles? Jono volunteered to be a lead though the Almanac does like to switch these up each year if possible. So let us know if anyone else wants to volunteer for that and then Rick can make a final decision.

You also have a lot of co-author volunteers but not as many reviewers. Reviewers also give feedback/guidance at the outline stage so your role is

[2022-04-29 15:21] siakaramalegos commented on #2882
Oh you still need an analyst too so if you could help recruit for that, it would be great. If someone knows at least some SQL we can get them trained up for the rest. And the queries are done in the almanac account so they won't be charged for it. It's a really cool data set to explore for anyone interested.

[2022-04-29 15:46] siakaramalegos commented on #2881
@daKmoR Typically you're a co-author or a reviewer, but not listed as both. As a co-author, you still get to review all the content and provide feedback, you just only get one credit for it (author or reviewer).

Once content leads are selected (@AlexLakatos) they get to pick the final authoring team. So I'll let you two chat and then Alex can update the issue with the final decision.

[2022-04-29 15:50] siakaramalegos commented on #2883
@konfirmed just confirming @rviscomi already has your email address to set you up so you're not charged in Big Query

[2022-04-29 15:51] siakaramalegos commented on #2884
@eeeps @akshay-ranganath just verifying you've already given your email addresses to @rviscomi to set you up in Big Query so you're not charged

[2022-04-29 15:56] DataBytzAI commented on #2882
REMINDER: CALL IN 5 MINUTES:

Michael C (He/Him) is inviting you to a scheduled Zoom meeting.

Topic: Structured Data 2022
Time: Apr 29, 2022 04:00 PM Universal Time UTC

Join Zoom Meeting
https://us06web.zoom.us/j/81102069402?pwd=UDBqclNMWWtZK0tVdzBtTUY1ajBDUT09

Meeting ID: 811 0206 9402
Passcode: 312040
One tap mobile
+12532158782,,81102069402#,,,,*312040# US (Tacoma)
+13462487799,,81102069402#

[2022-04-29 16:50] konfirmed commented on #2883
@siakaramalegos I think so, but will send it to @rviscomi

[2022-04-29 17:17] sirjonathan commented on #2896
@tunetheweb I'm happy to serve as lead author. I spoke with @alexdenning and he's happy to be a reviewer. @honzasladek, if you're up for it, I'd love to work with you as a reviewer - your experience in a wide range of CMS and the fact that you're focused now on Contember would bring some great perspective into the mix.

[2022-04-29 17:34] foxdavidj commented on #2891
@tomvangoethem @spanicker @SaptakS @nrllh @miketaylr @iskander-sanchez-rola @max-ostapenko

Hey everyone, excited to see we've got a full team for the chapter!

To kick things off, I'd love to set up a 30 minute call within the next two weeks to put any new faces to names, and start the planning and brainstorming process.

@tomvangoethem as the Chapter Lead can you assist in finding a time that wo

[2022-04-29 17:47] foxdavidj commented on #2892
@awareseven @cqueern @edmondwwchan @nrllh @tomvangoethem

Hi all. We need some help finding a Lead for this chapter. Right now it looks like we'll miss our first milestone (May 1st) which will put the chapter at risk of being dropped.

Can you all reach out to anyone you feel may be a good fit for a Lead/Authoring role for the chapter?

Thanks

[2022-04-29 17:50] foxdavidj commented on #2895
@webmaxru @Schweinepriester @siwinlo

Hi all, we need your help. We currently don't have a Lead for this chapter, which means we'll likely miss our first milestone (May 1st) which will put the chapter at risk of being dropped.

Can you all reach out to anyone you feel may be a good fit for a Lead/Authoring role for the chapter?

Thanks so much for your interest in helping us assemble the chapter t

[2022-04-29 17:52] foxdavidj commented on #2893
Hey @dwsmart @hemanth, need some help. In the case @Suzzicks doesn't get back to us, we won't have a Lead for this chapter... which means we'll likely miss our first milestone (May 1st) and will put the chapter at risk of being dropped.

Can you all reach out to anyone you feel may be a good fit for a Lead/Authoring role for the chapter?

Thanks so much for your interest in helping us assemble the

[2022-04-29 18:14] alonkochba commented on #2896
Great to see the CMS chapter having an author. I can also assist in reviewing and anything you want to know about last year's chapter or data.

[2022-04-29 18:15] max-ostapenko commented on #2891
Any of the calendly slots before May 9 works fine for me.

[2022-04-29 18:27] Schweinepriester commented on #2895
Maybe @Suzzicks wants to step up and be Lead? :)

I had typed the following before I realized @Suzzicks [said "Lead or Author"](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2895#issuecomment-1097019665), preserving just in case 0:-)

     Perhaps last years great lead @demianrenzulli, last years capabilities lead and PWA enthusiast @christianliebel and/or fugu🐡 aficionado/champion

[2022-04-29 19:11] binji commented on #2885
I'd like to help out here too! I think I'd do best as a reviewer, but perhaps could help out in other aspects as well.

[2022-04-30 10:33] SophieBrannon commented on #2888
Hey! So sorry for the delay, I’ve been here there and everywhere. I would love to be content lead and also have Itamar Blauer as a co-author on the chapter 🙌

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: foxdavidj ***@***.***>
Sent: Friday, April 29, 2022 6:26:09 PM
To: HTTPArchive/almanac.httparchive.org ***@***.***>
Cc: Sophie Brannon ***@***.***>; Mention **

[2022-04-30 21:55] jrstanley commented on #2894
I would like to volunteer as an analyst for this chapter. This is my first time contributing, however I would like to help where I can!

[2022-05-01 09:17] honzasladek commented on #2896
@sirjonathan Sounds great, happy to participate as a reviewer!

[2022-05-01 14:20] tunetheweb commented on #2896
Thank you for agreeing to be the lead @sirjonathan !!

One of the first thing's I'll hand over to you @sirjonathan is maintenance of the first comment at the top of this issue. If you could ensure that's kept up to date with contributors that join and leave, be aware of the milestones and dates, and tick off each of these as you complete them. We have an [overall Web Almanac issue tracker](https:/

[2022-05-01 14:54] malchata commented on #2880
@siakaramalegos @rviscomi, it appears our team is mostly complete, just short an editor. Did anyone volunteer to edit and I just missed this?

[2022-05-01 18:23] DesignrKnight commented on #2880
I would love to join the team and volunteer as an Editor.

[2022-05-01 18:27] malchata commented on #2880
I've added you to the editor column, @DesignrKnight!

If anyone else is interested in editing, please indicate interest here and I'll add you!

[2022-05-01 20:12] amandeepsinghvirdi commented on #2897
Would love to contribute as Author or Analyst.  My experience/bio can be found here: https://byaman.com/about/

[2022-05-01 20:17] amandeepsinghvirdi commented on #2896
If I am not too late, I am happy to contribute as Author or Analyst.  My experience and bio can be found here: https://byaman.com/about/

[2022-05-02 10:58] ldevernay commented on #2910
@hanopcan : this would be great!
Please join the Slack channel and add your name on the google doc!

[2022-05-02 13:52] siakaramalegos commented on #2883
@bramstein looks like you're an author now :) Are you interested in being lead also? I sent you an email to get started. Let me know if you didn't receive it.

[2022-05-02 16:43] rviscomi commented on #2888
@SophieBrannon @itamarblauer @mobeenali97 @dwsmart @patrickstox @johnmurch @derekperkins @csliva @jroakes	@MichaelLewittes @TusharPol please make sure you all have edit access to the SEO chapter [planning doc](https://docs.google.com/document/d/15udJOrPhwV0yWP8cviwRyapSssCUrLxkX29KbJNJH4Q/edit?usp=sharing) and are members of the [`#web-almanac-seo`](https://join.slack.com/t/httparchive/shared_invi

[2022-05-02 17:00] miketaylr commented on #2891
Sounds good. For me, Fridays are wide open. Mondays are pretty available. Tuesday => Thursday is "maybe, it depends" territory. But I'm happy to move things around if I need to.

[2022-05-02 18:13] rviscomi commented on #2899
@fellowhuman1101 would you be able to take on the [content team lead](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Content-Team-Leads'-Guide) role? You'd be responsible for project-managing this chapter and keeping it on track.

[2022-05-02 18:17] rviscomi commented on #2899
@fellowhuman1101 @dwsmart also could you both request access to the [chapter planning doc](https://docs.google.com/document/d/1sEuLeW-o1N9B8WINy8iw5FblzSIkVOSedVu0JERrJVw/edit?usp=sharing) and start outlining the contents of the chapter? We also have a [`#web-almanac-page-weight`](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA) channel on Slack where you and

[2022-05-02 18:18] rviscomi commented on #2881
Tentatively adding myself as the analyst for this chapter to help it meet Milestone 0.

[2022-05-02 18:20] rviscomi commented on #2882
Tentatively adding myself as the analyst to help meet Milestone 0.

[2022-05-02 18:24] rviscomi commented on #2900
Welcome back @Navaneeth-Akamai! Thank you for stepping up to lead the CDN chapter again!

The most urgent need is to staff the rest of the team (Milestone 0, due yesterday). @jzyang @boosef @paulcalvano would either of you be interested to join again as reviewers and/or analysts?

While we try to find other contributors, please request access to the [chapter planning doc](https://docs.google.com/d

[2022-05-02 18:29] rviscomi commented on #2901
Thanks @eustas @jyrkialakuijala @mo271! Great to have you all back for the Compression chapter this year!

We're still looking for an analyst and ideally we would have had a fully formed content team by yesterday to stay on schedule. @paulcalvano would you be interested to help with that again?

Meanwhile, you all should have edit access to the [chapter planning doc](https://docs.google.com/docume

[2022-05-02 19:01] rviscomi commented on #2890
Welcome back @estelle, great to have you on board as a reviewer!

[2022-05-02 19:42] tunetheweb commented on #2892
@lirantal would you have any interesting in getting involved in this chapter this year?

[2022-05-02 20:47] tunetheweb commented on #2897
Thank you for agreeing to be the lead @amandeepsinghvirdi !!

One of the first thing's I'll hand over to you @amandeepsinghvirdi is maintenance of the first comment at the top of this issue. If you could ensure that's kept up to date with contributors that join and leave, be aware of the milestones and dates, and tick off each of these as you complete them. We have an [overall Web Almanac issue tr

[2022-05-02 20:50] rviscomi commented on #2902
Thank you @roryhewitt @rrajiv @kevinfarrugia for stepping up to contribute to this year's Caching chapter!

@roryhewitt I've put you down as the content team lead, so you'll be responsible for all of its chapter's project management and keeping it on schedule. I've checked off Milestone 0 now that you have a fully-formed team, but I'll leave it to you to check off the rest of the milestones as you

[2022-05-02 20:57] rviscomi commented on #2903
Thanks for your interest in contributing to the HTTP chapter this year @paivaspol @tunetheweb @rmarx!

We still don't have an author/lead for this chapter, which puts us behind on Milestone 0 and at risk of having to shut it down. Please consider reaching out to your professional networks to see if anyone else would be interested to contribute.

Meanwhile, it's not too early to start making progre

[2022-05-02 21:02] rviscomi commented on #2880
Thanks @DesignrKnight! FYI there's not much work for [editors](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Editors'-Guide) to do until the draft is written, so that's why we don't require those roles to be filled before starting on the planning phase. If you'd like to be involved with the planning phase, you may also be interested in the [reviewer](https://github.com/HTTPArchive/al

[2022-05-02 21:53] fellowhuman1101 commented on #2899
@rviscomi happy to take on project management for this chapter. Access to the planning doc requested.

[2022-05-02 21:56] rviscomi commented on #2899
Thanks @fellowhuman1101! Access granted 🟢 🟢 🟢

[2022-05-02 22:09] MichaelSolati commented on #2894
Hey JR. If you go to my profile you should see my email address. Send me an email so I can loop you into the scheduling for our first meeting.

[2022-05-02 22:11] rviscomi commented on #2894
Welcome @jrstanley thanks for stepping up! Join us in the [`#web-almanac-analysts`](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA) channel on Slack.

@MichaelSolati now that you've got a full content team, I've checked off Milestone 0, but I'll leave it up to you to keep the checklist up to date as you complete the milestones.

@MichaelSolati @webmaxru @hema

[2022-05-02 22:25] rviscomi commented on #2884
👋 Hi everyone, please make sure you have access to the [content team doc](https://docs.google.com/document/d/117Roz2RlgXdDl9OiDdkrrd1ahnepFeGzIvTB5S4OY9g/edit?usp=sharing) so we can start making progress on Milestone 1, which is to complete the chapter outline by May 15.

Also FYI we have a [`#web-almanac-media`](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA

[2022-05-02 23:08] drohe commented on #2899
Hi! I'd be happy to take on the analyst role!

[2022-05-03 00:27] paivaspol commented on #2903
Hi @tunetheweb @rmarx! Excited to be working with both of you. This is my first time contributing so I'll have a lot to learn from both of you.

I added a rough outline in the doc--basically short phrases on the high level idea in that topic borrowing some ideas from previous years :) . Please take a look, make changes, and leave any comments. I think once we have our outline relatively set, we ca

[2022-05-03 01:49] Navaneeth-Akamai commented on #2900
Thanks Rick! let me ask around if anyone i know off is ready to help us with the tasks

[2022-05-03 05:57] amandeepsinghvirdi commented on #2897
Thank you for the detailed instructions @tunetheweb!  Very helpful!

I'll work with contributors to check their availability and schedule a call accordingly.

[2022-05-03 08:08] tomvangoethem commented on #2891
Would this Friday at 16:30 CEST work for everyone? (@spanicker @SaptakS @nrllh @miketaylr @iskander-sanchez-rola @max-ostapenko @miketaylr @foxdavidj)

Also a gentle reminder to join the [#web-almanac-privacy](https://httparchive.slack.com/archives/C023K97SR8U) channel on Slack

[2022-05-03 08:13] himani-kankaria commented on #2897
Hello everyone, out of curiosity, would I be required to do coding? Because
I'm from a marketing background in the eCommerce domain. Please suggest how
this entire process happens. Thanks.

Regards,
Himani Kankaria
Website <https://missivedigital.com/> | LinkedIn
<https://www.linkedin.com/in/himanikankaria/> | Twitter
***@***.***_kankaria>
*Helping businesses become brands.*

On Tue, May 3, 2022 a

[2022-05-03 08:28] tunetheweb commented on #2897
Hi @himani-kankaria

For the Author and Reviewer role no coding would be required - though being able to dig through data ([example of last years results](https://docs.google.com/spreadsheets/d/1HCfrXJ52lV46UvxOvDVjJj70fOeFVrTTD8DUm0tPVXE/)) would definitely be needed for the Author role.

The Analyst role would require SQL and JS coding.

There's a breif description of each role [in the first com

[2022-05-03 08:49] tomayac commented on #2895
@tropicadri is fully focused on PWA on Google's side, maybe she's interested? I will help out with the Capabilities chapter already and can't commit to more at the moment.

[2022-05-03 08:58] SophieBrannon commented on #2888
Hi all! @itamarblauer  @mobeenali97  @dwsmart  @patrickstox @johnmurch @TusharPol  @derekperkins @csliva @jroakes @MichaelLewittes

Looking at @foxdavidj's availability, can everyone confirm if either of the following dates/times works for them and I will send through a calendar invite.

Friday 6th - 6.30pm UK time
Wednesday 11th - 3.30pm - 5pm UK time.

We should only need 30 mins or so!

[2022-05-03 09:09] dereknahman commented on #2879
Hello! I'd like to register my interest for the Editor role. I have previous lives in Editorial Management and writing for trade news outlets before I became a dev, so I think I can be of some use to this project.

[2022-05-03 09:18] TusharPol commented on #2888
For me, the latter is preferable to the former.

[2022-05-03 10:01] dereknahman commented on #2889
Hi everyone. If you still have space for an Editor, I'd love to put myself forward.

[2022-05-03 12:31] MichaelLewittes commented on #2888
Wednesday is preferable, but can do whatever’s best for the group.

On Tue, May 3, 2022 at 8:28 AM Colt Sliva ***@***.***> wrote:

[2022-05-03 13:28] patrickstox commented on #2888
Either time works for me.

On Tue, May 3, 2022, 8:31 AM MichaelLewittes ***@***.***>
wrote:

[2022-05-03 14:25] rviscomi commented on #2885
@ColinEberhardt @binji to confirm, are either of you interested in taking on the [analyst](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Analysts'-Guide) role?

[2022-05-03 14:26] valerojasm commented on #2902
Hello! I'd love to help as an analyst too if it's still needed :)

[2022-05-03 14:30] tunetheweb commented on #2896
@amandeepsinghvirdi has since agreed to take on Ecommerce lead so not sure if the offer is still there as might be busy with that one.

[2022-05-03 14:39] rviscomi commented on #2903
Great thanks @paivaspol! 🎉

As the lead author, you'll be responsible for keeping this chapter on schedule and meeting the milestones at the top of this issue. You have edit access to that comment, so please keep it updated as you complete your milestones or if the contributors change. You'll also be responsible for coordinating with the rest of the team to make sure everyone is contributing as ne

[2022-05-03 15:35] kevinfarrugia commented on #2902
Hi @valerojasm . From my end help is always welcome. Would you like to take over the analysis role and I can pitch in if needed? (I'm contributing to other chapters too)

[2022-05-03 15:37] rviscomi commented on #2902
There are [several chapters](https://github.com/HTTPArchive/almanac.httparchive.org/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%3A+analysts%22) in need of analysts so it'd be good to spread the load. Or @kevinfarrugia if you're stretched too thin we can reassign the role to @valerojasm.

[2022-05-03 17:34] AlexLakatos commented on #2881
@siakaramalegos @daKmoR I'm cool with having multiple authors, welcome to the team!
@rviscomi thanks for volunteering, welcome to the team!

[2022-05-03 17:38] AlexLakatos commented on #2881
@daKmoR @ibnesayeed @j9t @bkardell @rviscomi Don't forget to add your contact info to the tracking document: https://docs.google.com/document/d/1OV_-YmxXoFCalDIdAYq9eTZMpjsQ0rsuFKGAsF-8eoM/edit#heading=h.xleqpbggrlck

[2022-05-03 18:27] tunetheweb commented on #2886
@imeugenia I invited @msolercanals to the HTTP Archive Team as requested.

@msolercanals check your emails for the invite and then reach out to @kevinfarrugia to coordinate analysis. He's an old hand at this so can help you out. And make sure you both send your emails to @rviscomi to get added to the HTTP Archive BigQuery account so queries are charged there.

[2022-05-03 19:21] bramstein commented on #2883
@siakaramalegos Indeed :) I can be lead as well. I received your email, will get back to you shortly.

[2022-05-03 22:31] scottdavis99 commented on #2889
Hi Kirsten,

We’d love to have you onboard!

I’m on vacation this week, but I’ll try to wrangle time on everyone’s calendar to meet up this week or next.

Cheers,
S

Sent from my iPhone

[2022-05-04 07:12] kevinfarrugia commented on #2902
Whatever works best. I'm happy to continue on this chapter.

[2022-05-04 09:56] SaptakS commented on #2892
I talked with @feross and he said he is interested in co-authoring.

[2022-05-04 12:08] tunetheweb commented on #2903
This is an interesting one we haven't explored in the HTTP Chapter before: https://twitter.com/HTTPArchive/status/1521667976969310208?s=20&t=Ac330HAr5spnTOfup3hC8w

We could look at TTFB for home pages from HTTP Archive crawl, and from origin-level (in CrUX dataset) and see how TTFB for our HTTP connections are impacting web performance?

Or maybe it's one for Performance chapter?

[2022-05-04 13:56] foxdavidj commented on #2894
@MichaelSolati Have you been able to find a time that works for the team to have a kickstart meeting? Sounds like you may have taken care of this via email or slack.

[2022-05-04 13:58] foxdavidj commented on #2888
@SophieBrannon i noticed you cancelled the meeting for this Friday. Are we rescheduling to a different time?

[2022-05-04 14:01] SophieBrannon commented on #2888
@foxdavidj hey! yes it looks like Wednesday next week is better for the majority, I'm just waiting on a few more responses then will book in your diary.

[2022-05-04 15:12] foxdavidj commented on #2888
Sounds good. No need to book via my Calendly btw, just posted it as a quick view into my calendar.

[2022-05-04 15:22] foxdavidj commented on #2889
@scottdavis99 Sounds good. Just a heads up that the Chapter Outline is due by May 15th, so having the kickoff meeting before then would be ideal so there is time left to work on the outline

[2022-05-04 16:32] tropicadri commented on #2895
As much as I would want to, I don't have the bandwidth to lead. I can help but can't be the main point of contact.

[2022-05-04 16:35] webmaxru commented on #2895
Let me chat with PWA v-team of Microsoft about someone leading that

[2022-05-04 17:13] carducci commented on #2882
Just following up. When can get all get together for that mind-mapping session? Does the same time as last Friday work for folks on the 6th?

[2022-05-04 18:51] CSteele-gh commented on #2899
I'd like to be a reviewer

[2022-05-04 19:45] scottdavis99 commented on #2889
Good catch! Thx!
-s

Sent from my iPhone

[2022-05-04 20:07] rviscomi commented on #2899
Great, thank you and welcome @CSteele-gh! See https://github.com/HTTPArchive/almanac.httparchive.org/issues/2899#issuecomment-1115211445 for the next steps.

@fellowhuman1101 now that the content team is filled out with at least one person in each role, you can check off Milestone 0 at the top of the issue. At this stage everyone should be collaborating on the outline in the chapter doc with the g

[2022-05-04 22:20] DataBytzAI commented on #2882
I'm travelling but if other folk are available it would be great to get
that started, thanks Michael!

[2022-05-05 07:55] ColinEberhardt commented on #2885
That's great @binji - I'll be in touch shortly, it would be great to chat.

@rviscomi I could potentially take on the analyst role, but am looking to 'recruit' one of my colleagues. I should know in the next day or so.

[2022-05-05 11:01] SeoRobt commented on #2882
I'm also travelling this Friday, free next week

[2022-05-05 11:36] paivaspol commented on #2903
IMO, it might be more appropriate in the Performance chapter as the HTTP protocol itself isn't the only impacting factor and RTT could be the larger impacting factor.

Tangentially, a challenge that I can think of is that TTFB from HTTP Archive crawl may not line up with TTFB from CrUX? I've never looked at it myself, but it wouldn't be surprised if they don't line up as one is from a lab setting

[2022-05-05 11:38] paivaspol commented on #2903
@rviscomi we currently do not have an editor, while I have some experience writing in the past, I'm sure my writing is far from perfect. :) I'm wondering what would be the process without an editor?

[2022-05-05 11:40] tunetheweb commented on #2903
WebPageTest (which HTTP Archive uses for the crawl) grabs the CrUX TTFT, originally to display this in the WebPageTest website for that test, but luckily for us it saves that CrUX TTFT in the result ready for us to query.

Agree the crawl TTFB is of limited use as from US data centre and lab-based. The CrUX TTFT (which, as per above, we also get now) is much more useful.

[2022-05-05 12:13] thibaudcolas commented on #2889
Hi all, I’d love to help with this 🙂  It looks like analysts are what’s needed the most right now – this isn’t a role I have experience with myself, but I think I can pick it up if needed. I’m also interested in being a reviewer if we got other volunteer analysts.

[2022-05-05 12:58] rmarx commented on #2903
@paivaspol I can act as editor and potentially also co-author for some specific parts if you need/want assistance :)

[2022-05-05 13:02] tunetheweb commented on #2903
Think you might be better as Reviewer (check technical accurancy and also help suggest and review content) rather than Editor (check for typos, formatting and consistency with rest of Web Almanac) @rmarx ?

[2022-05-05 13:11] rmarx commented on #2903
Let's call it a Reviewing Editor or Editing Reviewer then and split the difference? :) I will of course also still review the contents (if wanted)

[2022-05-05 14:09] scottdavis99 commented on #2889
Hi Thibaud,

We’d love to have you help with this chapter. I am the lead author, and I was planning to be the analyst for this chapter as well, but there’s always room for more interested folks like you.

I’m out on holiday for the rest of this week, but we’ll try to schedule our first coordination meeting next week.

Cheers,
S

Sent from my iPad

[2022-05-05 14:53] mordy-oberstein commented on #2899
Would be happy to help

[2022-05-05 15:07] rviscomi commented on #2899
Thanks @mordy-oberstein! I presume you're interested in the [Reviewer](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Reviewers'-Guide) role?

[2022-05-05 15:41] alextait1 commented on #2889
For what it's worth @scottdavis99 having been an author and then the chapter lead - it's A LOT of work to do well, I would recommend taking all the help you can get! If I'd needed to do @foxdavidj's analyst work last year I would have had a really difficult time since leading requires a lot of admin and unofficially being a reviewer too. Just wanted to chime in to help save you some pain lol :)

[2022-05-05 19:35] DataBytzAI commented on #2882
Could we do a call perhaps mid week next week if it suits everyone? 🤔

On Thu 5 May 2022, 13:01 Rob Teitelman, ***@***.***> wrote:

[2022-05-05 23:03] MichaelSolati commented on #2894
Hey @foxdavidj i just booked a time with you that worked for as many of the team as possible.

[2022-05-06 08:07] ldevernay commented on #2910
Hi, we're having a kickoff meeting next week to get to know each other and work on the outline.
If you haven't yet, don't forget to join the slack channel and add you email address on the google doc until then, so that I can invite you!

[2022-05-06 09:48] lirantal commented on #2892
@tunetheweb thank you for the mention.
Between @clarkio and myself, we'd love to join this year's report. I think it would be too short of a notice to join as analysts. Potentially can make it as authors, but definitely note us down as reviewers. We'd love to take part!

[2022-05-06 12:56] paivaspol commented on #2903
@rmarx Thank you! You help is very welcomed especially for the HTTP/3 parts of the chapter.

[2022-05-06 14:02] rmarx commented on #2903
@paivaspol Holy Hell! I've only just now realized you're the first author of the Vroom paper! Big fan of your work :)

[2022-05-06 14:09] foxdavidj commented on #2888
Hey @SophieBrannon,

Heads-up that we're fast approaching the May 15th deadline of having an [outline for the chapter](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Chapter-Lifecycle#1-plan-content) put together.

Instead of waiting for the kick-off meeting, it'd be a good idea to start working on the outline with the team. Especially if there are any new [custom metrics](https://git

[2022-05-06 14:10] foxdavidj commented on #2890
Hey @mel-ada, how are you feeling about completing the chapter outline by May 15th?

[2022-05-06 14:13] foxdavidj commented on #2892
@SaptakS can you add both lirantal and clarikio to the content team in the chapter comment above?

[2022-05-06 14:14] foxdavidj commented on #2894
@MichaelSolati, Heads-up that we're fast approaching the May 15th deadline of having an [outline for the chapter](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Chapter-Lifecycle#1-plan-content) put together.

Instead of waiting for the kick-off meeting, it'd be a good idea to start working on the outline with the team. Especially if there are any new [custom metrics](https://github.c

[2022-05-06 14:18] foxdavidj commented on #2892
Hey @SaptakS,

Heads-up that we're fast approaching the May 15th deadline of having an [outline for the chapter](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Chapter-Lifecycle#1-plan-content) put together.

Instead of waiting for the kick-off meeting, it'd be a good idea to start working on the outline with the team. Especially if there are any new [custom metrics](https://github.co

[2022-05-06 14:28] ydimova commented on #2891
I would like to contribute as an analyst

[2022-05-06 15:52] rviscomi commented on #2879
Welcome @dereknahman! I've added you as the Editor for this chapter.

@rachelandrew @j9t @meyerweb @svgeesus @dereknahman could you all make sure you have access to the [planning doc](https://docs.google.com/document/d/1aKTQht_HeLdskNOeELI_e3rhTev5ldyiSl72Qbm18O0/edit?usp=sharing) and start adding content to the outline? What topics would you like to see covered this year; what's new or what shoul

[2022-05-06 15:53] camcash17 commented on #2910
If possible, @4upz and I would like to volunteer as Analysts.

[2022-05-06 15:55] malchata commented on #2880
@rviscomi, I'll be doing the outline this weekend. If anyone needs access, just ping me or Rick.

[2022-05-06 15:56] rviscomi commented on #2881
@AlexLakatos @ibnesayeed @daKmoR @j9t @bkardell looks like there hasn't been much progress on the [chapter outline](https://docs.google.com/document/d/1OV_-YmxXoFCalDIdAYq9eTZMpjsQ0rsuFKGAsF-8eoM/edit?usp=sharing) yet. Could you all make sure you have access to the doc and start adding your ideas for new things happening to Markup this year, or interesting topics to revisit from previous years? Ho

[2022-05-06 15:59] rviscomi commented on #2882
@cyberandy @DataBytzAI @jonoalderson @SeoRobt @JasmineDW could you all make sure you have access to the [planning doc](https://docs.google.com/document/d/1yHTdPPvpv380BLQWHo2aUWepOUBpTlfkx1O9zey8-5I/edit?usp=sharing) and start adding your ideas to the outline? What's new this year with structured data, or what would be good to revisit from previous years? We're trying to have that completed by May

[2022-05-06 16:02] rviscomi commented on #2883
@bramstein @RoelN @svgeesus @jmsole @konfirmed could you all make sure you have access to the [chapter planning doc](https://docs.google.com/document/d/148AtE9qzz4JZB3fyoimUJavmBRrbrFtJjm49xzloj-A/edit?usp=sharing) and start adding your ideas to the outline? What's new with web fonts this year, or what would be interesting to revisit from previous years? We're aiming to have the outline completed

[2022-05-06 16:05] rviscomi commented on #2884
🛎️ @nhoizey @eeeps @akshay-ranganath @MichaelLewittes reminder to access the [planning doc](https://docs.google.com/document/d/117Roz2RlgXdDl9OiDdkrrd1ahnepFeGzIvTB5S4OY9g/edit?usp=sharing) and start adding your ideas to the outline. What's new with media on the web this year, or what topics would be interesting to revisit from previous years? We're hoping to have the outline completed by May 15 t

[2022-05-06 16:10] rviscomi commented on #2885
@ColinEberhardt @binji I know we're still figuring out the structure of the team, but it'd be great to make sure you have access to the [planning doc](https://docs.google.com/document/d/1U8CeQ_2ga_m-TGDAIGgB2PjB0O6Z5dauqtvuZubmXtQ/edit?usp=sharing) and start adding your ideas to the outline. What's new in WASM this year, or what would be interesting to revisit from last year? We've [added the abil

[2022-05-06 16:11] tunetheweb commented on #2910
Excellent. Invited you to the project there.

[2022-05-06 16:14] tunetheweb commented on #2898
@seldo @whitep4nth3r @GregBrimble @Nutlope reminder to access the [planning doc](https://docs.google.com/document/d/15RLaaTVqoqb5AuDrlBt6L0J_BMx1ltKW4t8VWX-sN_g/edit?usp=sharing) and start adding your ideas to the outline. What's new with Jamstack this year, or what topics would be interesting to revisit from previous years? We're hoping to have the outline completed by May 15 to give us enough ti

[2022-05-06 16:15] tunetheweb commented on #2897
@amandeepsinghvirdi @amandeepsinghvirdi @himani-kankaria @alankent @bobbyshaw  @shantsis reminder to access the [planning doc](https://docs.google.com/document/d/1IsdOo8Tgjo4aLDdYZaTGc42BNnJIZMziqPBgNzqCYYg/edit?usp=sharing) and start adding your ideas to the outline. What's new with Ecommerce this year, or what topics would be interesting to revisit from previous years?

We're hoping to have the

[2022-05-06 16:17] rviscomi commented on #2886
ℹ️ @imeugenia @tunetheweb @housseindjirdeh @pepelsbey @kevinfarrugia @msolercanals reminder for anyone who hasn't yet accessed the [chapter planning doc](https://docs.google.com/document/d/1QB5AGi8ye21TqX8ySq7XIWODXZakJ903hIITne1IKOc/edit?usp=sharing) and added your ideas to the outline. I see a lot of great progress, so thank you to everyone who has contributed so far! Just checking in to make su

[2022-05-06 16:24] rviscomi commented on #2887
Hi @bkardell @meyerweb @karlcow @foolip just checking in. I see you're in need of an analyst, so I put my name down to ensure that we have a viable team for the chapter this year.

I see there's already some good progress in the [planning doc](https://docs.google.com/document/d/1k7HYgdQY4UQgwhnvN8W4_uMn_DgjXoAITtliCYIibFM/edit?usp=sharing) but just as a reminder for anyone who hasn't yet contribut

[2022-05-06 17:01] rviscomi commented on #2889
@scottdavis99 @SaptakS @shantsis @alextait1 @ericwbailey @thibaudcolas @dereknahman make sure you all have access to the [planning doc](https://docs.google.com/document/d/1Q6PEEfqD59vLgrOXY2VQUDeVrl0wcWHqsQiIhQ0Bt3M/edit?usp=sharing) and start adding your ideas to the outline. What are some new topics in accessibility this year, or what would be good to revisit from previous years? To reiterate wh

[2022-05-06 17:13] rviscomi commented on #2891
@tomvangoethem @spanicker @nrllh @miketaylr @iskander-sanchez-rola @SaptakS @max-ostapenko @ydimova make sure you all have access to the [planning doc](https://docs.google.com/document/d/1r1TU1rH3v-686t7EaqQQ0mXg7unNKZlFYmUmbscQRtM/edit?usp=sharing) and start brainstorming topics to include in this year's chapter. What's new in the world of privacy, or what topics would be good to revisit from pre

[2022-05-06 17:35] mel-ada commented on #2890
@foxdavidj Feeling good! During the kickoff, I think we had a good brainstorm that gave us a good pool of ideas to choose from. I'm hoping to meet as a team once more to discuss next week, if not we will finalize async.

[2022-05-06 17:42] rviscomi commented on #2893
⚠️ @Suzzicks @dwsmart @hemanth it looks like this chapter still doesn't have a lead or an analyst and the [outline](https://docs.google.com/document/d/1CbfJi1AvEJp3N8h_oL6aUJfSroQm0WbzGFIWcRz1dQA/edit?usp=sharing) hasn't been started yet. As @foxdavidj noted, we might have to drop this chapter if it doesn't seem like there's enough interest to sustain it.

Could you help us find contributors who c

[2022-05-06 17:46] dwsmart commented on #2893
Will see if I can drum up some interest, it would be a shame to see it dropped.

If nothing is forthcoming by Monday, I'll try and draft some stuff in the doc!

[2022-05-06 17:53] rviscomi commented on #2899
@fellowhuman1101 @dwsmart @CSteele-gh @mordy-oberstein @drohe hi all, reminder to access the [planning doc](https://docs.google.com/document/d/1sEuLeW-o1N9B8WINy8iw5FblzSIkVOSedVu0JERrJVw/edit?usp=sharing) and start brainstorming content for the outline. We're hoping to have that completed by May 15 to stay on schedule. Thanks!

[2022-05-06 17:54] MichaelLewittes commented on #2884
@nhoizey @eeeps @akshay-ranganath Want to meet on Monday to discuss? I'm on Eastern Time (ET). Let me know what works for everyone.

[2022-05-06 17:56] rviscomi commented on #2900
⚠️ @Navaneeth-Akamai any progress on finding someone to review/analyze this chapter? The [outline](https://docs.google.com/document/d/1lTrBZGE00XsiFesalFJg5zCzhtMbsrJ5CcdH2eQ_HKE/edit?usp=sharing) also doesn't seem to have been started yet so this chapter is at risk of falling behind. Would be great to get some ideas added to the doc and fill out the rest of the team ASAP. Thanks for your help!

[2022-05-06 17:57] rviscomi commented on #2901
@eustas @jyrkialakuijala @mo271 would any of you be interested in doing the analysis this year? Also as a reminder, please start adding topics to include in this year's chapter to the [doc](https://docs.google.com/document/d/1TTSdYTFvU9sO3WMaE4Zyv0f0e1rMd53eIMz3-7ZavrU/edit?usp=sharing). What's new with compression, or what would be good to revisit from previous years? We're hoping to have the out

[2022-05-06 17:59] rviscomi commented on #2902
@roryhewitt @rrajiv @kevinfarrugia reminder to get access to the [planning doc](https://docs.google.com/document/d/1mLG--jMsvP85L02ft5o3_BhbHwy_pDejl-7FH95RH4I/edit?usp=sharing) and start brainstorming content to include in this year's chapter. What's new with caching, or what would be good to revisit from previous years? We're hoping to have the outline completed by May 15 to stay on schedule. Th

[2022-05-06 18:00] rviscomi commented on #2903
Just wanted to say the outline is looking great, nice work team! 🚀

[2022-05-06 18:14] rviscomi commented on #2892
@gjfr any interest in being the analyst for the chapter again this year?

[2022-05-06 18:31] tunetheweb commented on #2897
@rrajiv any interest in analysing this chapter again this year?

[2022-05-06 18:34] rviscomi commented on #2895
⚠️ @Suzzicks @webmaxru @Schweinepriester @tropicadri @siwinlo it looks like this chapter still doesn't have a lead or an analyst and the [outline](https://docs.google.com/document/d/14riy6CwQslsBtR0iuhMe-V28AycTsTRilq2wn4yzRJU/edit?usp=sharing) hasn't been started yet. We might have to drop this chapter if it doesn't seem like there's enough interest to sustain it.

Could you help us find contribu

[2022-05-06 18:35] rviscomi commented on #2893
Thank you @dwsmart! If needed, would you be able to take on the lead/author role?

[2022-05-06 18:37] dwsmart commented on #2893
I know time is short, but let me get back to you by end of Monday on that, need to make sure I don't overcommit, sorry!

[2022-05-06 18:55] SaptakS commented on #2892
@lirantal @clarkio do you want me to add both of you as author or reviewer? I would like at least one more author (since security is usually pretty big chapter), so it would be great if at least one of you would be interested to be a co-author.

[2022-05-06 21:00] eeeps commented on #2884
Let's! Sent an invite. I know the time might not work great for @nhoizey...
Also starting things off with an outline based on last year's queries/chapter, to give us a starting point.

[2022-05-06 22:25] tropicadri commented on #2895
@snugug would you have any interest in leading this chapter for the web almanac?

[2022-05-07 15:41] malchata commented on #2880
cc: @siakaramalegos, @rviscomi

I now have a [draft outline available(https://docs.google.com/document/d/12Mqcp5ME04fn15ujO-J65eMZJlQ6ADEbXozttx0MJw8/edit?usp=sharing). Anyone reading this who doesn't have access, please request it. The outline is similar in structure to last year's, but with additional content. I left a flurry of comments in the draft outline, addressed openly to anyone who wants

[2022-05-07 16:49] clarkio commented on #2892
@SaptakS looks like there are two authors so I'm happy to join as a reviewer and/or editor if that is helpful to you all

[2022-05-07 17:07] bramstein commented on #2883
@konfirmed I don't have your email. Could you send me an email to b.l.stein@gmail.com ? Thanks!

[2022-05-08 10:06] konfirmed commented on #2883
@bramstein I sent you an email, hope you received it.

[2022-05-08 11:09] DataBytzAI commented on #2882
@cyberandy @DataBytzAI @jonoalderson @SeoRobt @JasmineDW @carducci
Can we plan a call tomorrow, Monday to catch-up and rocket-ship our end of things?

Actions we need to take:

@carducci kindly offered to host a mind-map session - this would be of great benefit to bring things together quickly

All present on our last call also agreed they can contribute a brain-dump on their particular area of in

[2022-05-08 11:17] DataBytzAI commented on #2882
@cyberandy @jonoalderson @SeoRobt @JasmineDW @carducci

Can you all please go to the outline document and add your contact details and role (as in the head of this thread!) to confirm participation?

Thanks :)
https://docs.google.com/document/d/1yHTdPPvpv380BLQWHo2aUWepOUBpTlfkx1O9zey8-5I/edit#

[2022-05-08 12:31] bramstein commented on #2883
@konfirmed Got it, thanks!

[2022-05-08 12:44] rrajiv commented on #2897
Hi @tunetheweb  - interest is always there but time isn't. ;) I have signed up to review the caching chapter this time so won't have time to be an analyst again for ecommerce. If things change I will let you know

[2022-05-08 13:55] webmaxru commented on #2895
I'm on it - will keep you posted asap, let's wait with the decision on dropping this chapter for a few more days please.

Meanwhile, I requested an access to the working doc - ready to be an interim Lead to create doc structure and start adding some ideas.

[2022-05-09 07:54] cyberandy commented on #2882
Sure works for me, I'll add my comments to the doc today.

[2022-05-09 08:36] jonoalderson commented on #2882
Done. Provisionally shifting myself into an _editor_ role, given that I have less availability than expected. Still here and engaged, but can't commit to quite as much active writing as anticipated.

[2022-05-09 08:46] tunetheweb commented on #2882
Sure you don't mean Reviewer (check technical accuracy and also help suggest and review content) rather than Editor (check for typos, formatting and consistency with rest of Web Almanac).

Reviewers will of course do some parts of editing as part of reviewing but Reviewers are technical experts in the subject mater, while Editors aren't necessarily.

[2022-05-09 08:48] jonoalderson commented on #2882
Yes. Evidently more coffee needed this morning.

[2022-05-09 08:50] tunetheweb commented on #2882
You're not the first (and don't be the last!) to confuse those roles! Need to think of a better way of making them clearer...

[2022-05-09 09:52] DataBytzAI commented on #2882
@jonoalderson would you be able to squeeze in a few minutes to do a brain-dump on things you would like to see in this years content?

[2022-05-09 09:53] jonoalderson commented on #2882
Yeah, definitely!

[2022-05-09 11:45] kevinfarrugia commented on #2887
I'm still happy to contribute as analyst but would probably need your input @rviscomi since you worked a lot on the CSS chapters.

[2022-05-09 12:30] JamieWhitMac commented on #2885
Hi all, after chatting with @ColinEberhardt I've agreed to take on the analyst role for this chapter.

Looking forward to working on this, finding out what's new with WASM usage, and how it's changing the web.

[2022-05-09 14:03] siakaramalegos commented on #2885
@ColinEberhardt go ahead and update the table and check off milestone 1 - congrats!!

[2022-05-09 14:15] foxdavidj commented on #2892
@AAgar would you be interested in being an analyst for the Security chapter this year?

[2022-05-09 14:27] GJFR commented on #2892
Hi guys, I would like to help out but I think the workload would be too high if I'm the only analist, because of other projects. However @VictorLeP en @vikvanderlinden, you mentioned that you're also interested in joining?

[2022-05-09 14:27] VictorLeP commented on #2892
Yes, I would like to join as an analyst as well :)

[2022-05-09 14:28] vikvanderlinden commented on #2892
Yes, me too!

[2022-05-09 15:59] aarongustafson commented on #2895
I’m happy to contribute however it would be helpful.

[2022-05-09 16:07] aarongustafson commented on #2895
@webmaxru If need be. If there are others who want to lead—particularly smart folks whose perspectives we don’t often hear—I’m open to working in a supporting capacity, but if there are still no takers and we’re down to the wire, I’m happy to step up.

[2022-05-09 16:45] nhoizey commented on #2884
@eeeps 7pm is sometimes manageable, even with kids! 😅

(Sorry for the late answer, I was on holiday until today.)

[2022-05-09 16:45] rviscomi commented on #2887
Thanks @kevinfarrugia! Happy to co-own the analysis with you.

[2022-05-09 17:37] Snugug commented on #2895
Thanks for offering! I unfortunately don't think I've got capacity to lead this right now. I also echo what @aarongustafson has said that it'd be great to get perspective from folks we don't often hear.

[2022-05-09 17:52] jrharalson commented on #2897
@tunetheweb I can help out with Analysis this yr if needed. Just let me know

[2022-05-09 17:53] tunetheweb commented on #2897
Excellent @jrharalson - was resigned to having to step in here if we couldn’t get anyone 😁

[2022-05-09 18:12] aarongustafson commented on #2895
Maybe @diekus or @beth-panx would be interested?

[2022-05-09 20:08] paulcalvano commented on #2901
Sorry - just saw this.   If no-one else is interested doing the analysis, then 'm happy take this one again.

[2022-05-09 20:30] aparna-garimella commented on #2882
Hello! I would love to contribute as a reviewer or as an editor if you are still looking for contributors!

[2022-05-09 23:20] paivaspol commented on #2903
Added a section on the metrics needed for the section.

@rmarx @tunetheweb I left some comments specifically on the metrics. Can you please take a look and leave your thoughts there? I'm relocating towards the end of this month, so I plan to start on the metrics earlier so that we can hit the June 1 deadline for the metrics. Thanks!

[2022-05-10 00:32] DataBytzAI commented on #2882
Awesome! .... lets get you connected up ..... please go to the outline document and add your name in the role you'd prefer!

https://docs.google.com/document/d/1yHTdPPvpv380BLQWHo2aUWepOUBpTlfkx1O9zey8-5I/edit#

You will have to request access first :)

Thanks @aparna-garimella !

[2022-05-10 02:47] aparna-garimella commented on #2882
Thank you!