[2019-11-07 14:39] mikegeyser commented on #317
The git commit has timezone information as a part of it.

[2019-11-07 16:17] mikegeyser commented on #317
Are we ok with the standard `toISOString()` timestamps? So `2019-11-04T18:46:53.000Z` instead of `2019-11-04T18:46:53+00:00:00`.

[2019-11-07 16:24] bazzadp commented on #317
I think so. https://developers.google.com/search/docs/data-types/article#non-amp-sd has this to say:

And the wikipedia link says both.

For the ultimate test, I also tested it in the [Structured Data Testing Tool](https://search.google.com/structured-data/testing-tool) (you can load a URL like my [http2 chapter](https://search.google.com/structured-data/testing-tool#url=https%3A%2F%2Falmanac.http

[2019-11-07 17:35] bazzadp commented on #361
BTW outstanding question with Chrome Dev team here: https://github.com/GoogleChrome/web.dev/issues/1850

[2019-11-07 21:30] obto commented on #239
David Fox is the lead usability researcher and founder of LookZook, a company obsessed with finding out everything there is to know about building web experiences that meet user expectations. He is a website psychologist who digs into sites to learn not just what users are struggling with, but why, and how to best improve their experience. He is also a Google Chromium contributor, speaker, and pro

[2019-11-07 22:27] rviscomi commented on #317
Reopening to add one feature request. I just ran `npm run generate` for https://github.com/HTTPArchive/almanac.httparchive.org/pull/364/files and was surprised to see unrelated chapters getting their `last modified` updated. Would it be possible to only update the timestamp on chapters that have been changed? A few reasons:

- it makes reviewing PRs more difficult because there are ~40 diffs
- the

[2019-11-07 22:28] #239 closed

[2019-11-07 22:29] bazzadp commented on #317
Was just looking at this. Suspect it's in part from other branches and other forks. As we update the .md files with each generation, they become part of the commit. Need a better way of doing this.

[2019-11-07 22:37] bazzadp commented on #317
I think we should revert this commit for now.

Or at the very least comment out this line for now:
https://github.com/HTTPArchive/almanac.httparchive.org/blob/a2f7576456e381045f336085286f61d89c234324/src/tools/generate/index.js#L1

[2019-11-07 23:09] #318 closed

[2019-11-07 23:11] rviscomi commented on #361
Related: #262

[2019-11-07 23:33] #353 closed

[2019-11-07 23:40] #352 closed

[2019-11-07 23:40] zachleat commented on #316
Still chugging away on this, unfortunately. Hoping to have a PR ready by tomorrow morning

[2019-11-07 23:43] #169 closed

[2019-11-07 23:49] rviscomi commented on #149
🛎 🛎 sorry to nag! We really need this markdown in today if possible!

[2019-11-08 03:12] mikegeyser commented on #317
I'm so sorry, I could have sworn it was working correctly. :(

[2019-11-08 03:22] mikegeyser commented on #317
Oh, I see where the flawed logic is now. :( Updating the file, even just to update the timestamp, will mean that becomes the latest commit - updating the timestamp. This approach could never work if we change source files, but could possibly work if we only use it to generate the timestamps in the html.

Again, I'm really sorry for the mistake.

[2019-11-08 03:52] zachleat commented on #316
Hey @rviscomi I pushed changes to the `fonts-316` branch.

There is still one outstanding TODO in there, specifically around the question posed here: https://github.com/HTTPArchive/almanac.httparchive.org/pull/192#discussion_r343967930

After I get that resolved I can put up a PR

[2019-11-08 06:06] rviscomi commented on #86
Hey @patrickhulce, I'm going through your chapter to create the data viz you requested, but some of the query results don't match up with the values you're writing about. For example:

Looking at [the results of 05_11](https://docs.google.com/spreadsheets/d/1iC4WkdadDdkqkrTY32g7hHKhXs9iHrr3Bva8CuPjVrQ/edit#gid=35192642), I'm not seeing analytics with 76%. The median `percentAnalyticsRequestsQuanti

[2019-11-08 07:26] bazzadp commented on #317
I really think the way to do this is with a Git Action (that I'm not familiar with).

On merge to master:

- fire up a node terminal
- git checkout
- git update timestamp
- npm run generate
- git commit
- auto deploy to website if no issues

The CI/CD dream perfect for automating future edits/corrections.

But not one for launch.

[2019-11-08 09:29] bazzadp commented on #221
Short term why don’t we make the figure captions links to the data sheets in the markdown?

[2019-11-08 09:30] bazzadp commented on #221
I’m happy to do that this weekend btw.

[2019-11-08 11:26] AymenLoukil opened #368 "Broken external links"
We have these broken external links

In Mobile web chapter :
https://almanac.httparchive.org/en/2019/%5D(https://gs.statcounter.com/)

In Ecommerce chapter :
https://almanac.httparchive.org/en/2019/amazon.com
https://almanac.httparchive.org/en/2019/ebay.com

in third parties and http ones :

https://almanac.httparchive.org/en/2019/security [it is ok since the chapters are not yet published... what

[2019-11-08 11:30] AymenLoukil commented on #286
I'm running a  new check to validate the new implementations :) @rviscomi @bazzadp

[2019-11-08 11:33] bazzadp opened #369 "Some visualisations are not viewable in iOS Safari"
The following don't display in the Markdown chapter (presumably a permission issue with sheets?).

- Figure 3
- Figure 5
- Figure 6
- Figure 7
- Figure 9
- Figure 10

This is on production: https://almanac.httparchive.org/en/2019/markup

[2019-11-08 12:06] bazzadp commented on #369
Same issue with other chapters (e.g. Performance, Accessibility).

[2019-11-08 13:32] zachleat commented on #316
Hmm, well I ended up deleting that section because something seemed really off about that data? The distributions seemed to suggest that pages were more likely to have a higher font request count than a @font-face block count. Given that _most_ font requests depend on a @font-face block and low CSS Font Loading API usage data this was kinda smelly to me.

Maybe I’m not thinking about it right?

An

[2019-11-08 14:09] patrickhulce commented on #86
It will be difficult a little more difficult to see the results I'm talking about with this change. I'm saying that "the most common third-party category with 76% of sites **including at least one analytics request**", not that analytics requests make up 76% of requests. If you look at the 25th percentile desktop you'll see analytics requests make up 0.93%, meaning they have at least 1, meaning 75

[2019-11-08 16:43] bazzadp commented on #172
FYI @paulcalvano I've started copyediting this. Will have something for you later today, or tomorrow am at the latest.

[2019-11-08 16:47] bazzadp commented on #369
Actually think it's just an iOS Safari issue (iOS 13.2 on an iPhone Xs). Seems fine on Desktop Safari though.

[2019-11-08 17:55] bazzadp commented on #369
And today I learned how to use Web Inspector for iOS using your Mac 😀

This is the error I get:

I tried a few different [URL options](https://stackoverflow.com/questions/23446449/google-sheet-embed-url-documentation) but none made it work.

I wonder do we need to revert back to screenshots - at least on mobile?

[2019-11-08 18:03] rviscomi commented on #368
Great catches. All external links must be prefixed with `http[s]://` otherwise the browser assumes they're internal. We should add this prefix to all external links.

Internal links to other chapters should be prefixed with `./` (current subdirectory) instead of `/` (root directory). This allows language/year preferences to be preserved without having to use template code to generate the URL (`url

[2019-11-08 18:07] bazzadp commented on #368
Should we raise a separate issue to stop responding with a 500 when a chapter doesn’t exist?

Thinking especially if all chapters don’t make launch and as translations become unavailable (or will we only launch each language when it’s available in full)?

[2019-11-08 18:07] rviscomi commented on #369
WEIRD! I am starting to think images are the best or at least only feasible option for mobile. The only problem is the work required to screenshot everything, get them uploaded, update the figures, and make them responsive. If anyone has the time, we should absolutely do it. I'm swamped :(

[2019-11-08 18:09] rviscomi commented on #368
I think we can catch this special case on the server when we try to render a chapter that is marked TODO and return a custom error message like "This chapter isn't available yet, come back tomorrow" or something.

[2019-11-08 18:10] bazzadp commented on #369
At least we can screenshot them from the chapters and the auto compressing on commit is cool! So might not take as long as we think. Will concentrate on editing for not and see if I get a chance to look later.

[2019-11-08 18:14] bazzadp commented on #368
Ok but you’ll also get a 500 for non-existent chapters and typos. E.g. /markupp. Should be 404 for those if possible.

[2019-11-08 18:14] rviscomi commented on #316
Totally fine to trim it. Thanks for keeping this moving, I'm happy to see it nearing the finish line!

[2019-11-08 18:15] rviscomi commented on #143
Fixed by #370

[2019-11-08 18:15] #143 closed

[2019-11-08 18:23] rviscomi commented on #368
Yes, we've had a long-outstanding TODO to validate the chapter. We can use this issue to track that:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/363c818ced353683f977e5efaaf9cc6a4f106699/src/main.py#L95-L99

[2019-11-08 18:25] rviscomi commented on #368
And on that note if there are any external links going to misspelled chapters (seen via analytics), let's permanently redirect those to the appropriate chapter rather than show an error page every time. If the link is internal we should fix it.

[2019-11-08 18:26] #358 closed

[2019-11-08 19:00] bazzadp opened #373 "Randomize Featured Chapter and Quote"
At the moment the "Featured Chapter" on the home page is hardcoded. While that's fine for now, it would be good to serve a random one each time the page is refreshed.

Thoughts on how it might work:

- Chapters mark quotes with a special `span` tag with a specific `class` name (`quote`?) or `id` (ids must be unique so `quote-1`, `quote-2` or such like?) in the markdown.
- The `npm run generate` sc

[2019-11-08 19:36] bazzadp opened #375 "CSS Issues with Feature Chapter on home Page"
**Issue 1**

See this:

![image](https://user-images.githubusercontent.com/10931297/68505218-9b113900-025e-11ea-9957-f5db0386a565.png)

Note the cut-off quote text at the end and missing third stat.

Seems to be fixed by adding this CSS:

[code]

![image](https://user-images.githubusercontent.com/10931297/68505387-f93e1c00-025e-11ea-869e-d7b56f02b6b5.png)

But not sure of other implications of tha

[2019-11-08 20:07] andydavies commented on #149
No need to apologise (herding cats is never fun)

I’ll turn it into markdown tomorrow

How do I reference the charts when I switch formats

On Thu, 7 Nov 2019 at 23:49, Rick Viscomi <notifications@github.com> wrote:

[2019-11-08 20:12] rviscomi commented on #149
If the charts are images they can be uploaded to `/static/images/2019/17_CDN/` and referenced using that relative path name in the markdown. If they're embedded Sheets charts, see https://github.com/HTTPArchive/almanac.httparchive.org/issues/237#issuecomment-547741549

[2019-11-08 20:15] rviscomi commented on #86
Sorry, what's special about 0.93% to indicate that there is at least 1 request? Is 1% == 1 request?

[2019-11-08 20:16] bazzadp commented on #149
Though also see https://github.com/HTTPArchive/almanac.httparchive.org/issues/369#issuecomment-551927884 so I think you should do images if possible.

[2019-11-08 20:19] rviscomi commented on #149
Yes, I'll update my data viz process to include images.

[2019-11-08 20:23] #158 closed

[2019-11-08 20:30] rviscomi opened #377 "Add keyboard shortcuts for previous/next chapter"
Not launch blocking.

It would be nice to be able to "page" through the chapters using keyboard shortcuts and not have to scroll to the bottom of the page for the prev/next links.

I was thinking of using either the "p" and "n" keys or "," and "." (< and >). We should also make these shortcuts discoverable somehow, ideally, for both accessibility and convenience.

[2019-11-08 20:38] ljme commented on #303
Updated the above with the contrast ratios to improve. Please let me know if there is anything else I can do right now. Thanks!

[2019-11-08 20:38] AymenLoukil commented on #368
It's linked in https://almanac.httparchive.org/en/2019/http2 @rviscomi

[2019-11-08 20:42] #316 closed

[2019-11-08 20:42] rviscomi commented on #303
Great, thank you @ljme!

[2019-11-08 20:43] rviscomi commented on #368
Ok thanks. Edited your comment to clarify.

[2019-11-08 20:55] rviscomi opened #378 "Sync contributors"
The [list of contributors](https://docs.google.com/spreadsheets/d/1LR29JpI2XJSjan_z6uP1YpRy4EYYivYZPqCIG-9sfFY/view#gid=770177464) that I maintain seems to be slightly out of sync with 2019.json. We should go through and make sure everyone is getting the credit they deserve.

Three new reviewers I've added (for contributions to the CDN and CSS chapters):
- Patrick Meenan
- Erik Nygren
- Eric A. Me

[2019-11-08 21:22] AymenLoukil opened #379 "Images missing alt text"
https://almanac.httparchive.org/static/images/character-markup.png
https://almanac.httparchive.org/static/images/methodology-characters.png
https://almanac.httparchive.org/static/images/character-star.png
https://almanac.httparchive.org/static/images/character-hat.png
https://almanac.httparchive.org/static/images/menu.png
https://almanac.httparchive.org/static/images/twitter.png
https://almanac.ht

[2019-11-08 21:23] AymenLoukil opened #380 "Heavy images"
These images are sized over 100 KB

https://almanac.httparchive.org/static/images/home-hero.png
https://almanac.httparchive.org/static/images/home-hero-2019.png
https://almanac.httparchive.org/static/images/methodology-banner.png
https://almanac.httparchive.org/static/images/2019/07_Performance/nav-timing.png
https://almanac.httparchive.org/static/images/2019/14_CMS/cms-logos.png
https://almanac.h

[2019-11-08 21:27] JMPerez commented on #38
@c-torres, @taytus are you guys using gitlocalize to translate the content, or will you be sending PRs directly for the content files?

[2019-11-08 21:49] bazzadp commented on #218
I've added some of the [steps I'm doing to the Editor's Wiki](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Editors'-Wiki#suggested-process).

In part to remind myself, in part for future, and in part in case someone comes a long and offers to help this weekend!

Free free to add to it!

[2019-11-08 22:17] c-torres commented on #38
I was thinking on going with gitlocalize but I believe the integration process has not been finished. If that's the case I can start doing manual PRs as it might be faster.

Do you have any preference @JMPerez?

[2019-11-08 22:51] patrickhulce commented on #86
Well it's not possible to make fractional requests, so anything non-zero indicates that sites at that percentile made at least one request. My goal with the analysis was to point out interesting tidbits that weren't just regurgitating what could be obviously seen from a graph on first glance, but it sounds like this reached a little too far from obvious insights and I should have been a little mor

[2019-11-08 23:03] rviscomi commented on #379
It'd be helpful to know on which pages these images are used. Also a few of these are for unedited chapters

[2019-11-08 23:04] rviscomi commented on #380
Good catch. Even if the Calibre tool minifies the file size, the images themselves may be too big.

[2019-11-08 23:13] AymenLoukil commented on #380
Yes. Should resize

[2019-11-08 23:52] rviscomi commented on #221
It wouldn't be clear what the caption is linking to. Similar to #382 I think we could get away with a button at the bottom of the chapter with a spreadsheet icon and link text "View the raw results" or something. Same for discovering queries. We can have a row of buttons.

[2019-11-09 00:16] rviscomi commented on #237
I've updated https://github.com/HTTPArchive/almanac.httparchive.org/issues/237#issue-512661694 with canonical steps for data viz.

[2019-11-09 00:21] obto commented on #237
I can handle some of this tomorrow morning

On Fri, Nov 8, 2019, 18:16 Rick Viscomi <notifications@github.com> wrote:

[2019-11-09 02:41] rviscomi commented on #38
I've been getting emails requesting authorization for gitlocalize to integrate with our repo and I've been accepting them. Not sure what the issue is if any.

[2019-11-09 02:41] rviscomi commented on #141
@hyperpress any update on this?

[2019-11-09 02:42] rviscomi commented on #224
@ymschaap are you looking into the remaining TODO items for this issue?

[2019-11-09 02:45] rviscomi commented on #369
I've started addressing this in #384 as a precedent of the new process outlined in #237. I think we can close this issue as it's being addressed in #237 now that I've updated the process to specify images on mobile.

[2019-11-09 02:45] #369 closed

[2019-11-09 03:02] bazzadp commented on #368
I've made a start on that here: https://github.com/HTTPArchive/almanac.httparchive.org/tree/chapter_url_handling

Adds the following:
- validates chapters and 404s when a non-valid chapter is entered, rather than a 500
- adds redirect array/list to allow us to remap URLs

To Do:
- Currently hardcoding the list of chapter. Should load from JSON and list by year and language. Couldn't get this worki

[2019-11-09 03:19] hyperpress commented on #380
I've got this one over on #141. Will be finishing that up tomorrow latest.

[2019-11-09 03:20] hyperpress commented on #141
Finishing this up no later than tomorrow. Swear ;-)

On Fri, Nov 8, 2019 at 8:42 PM Rick Viscomi <notifications@github.com>
wrote:

--

Best to you and yours,

John

*John Teague*
*Founder and CEO*

Phone: 1+612.284.3001 <1+6122843001>
241 109th Avenue Northwest
Minneapolis, MN  55448 USA

*GEMS*ervers
WordPress Delivery Perfected!

----

*CONFIDENTIALITY NOTICE:*
The information contained in this

[2019-11-09 08:06] bazzadp commented on #379
Chapter 16 were a lot of these and their fixed now and chapter is live. Could you rerun when you get a second @AymenLoukil and update your inital comment. Looks like a lot are hero images. Not sure what to do with them. Do they count as decorative so don't need it as, unlike the figures, they don't actually have meaning?

[2019-11-09 08:07] rviscomi commented on #379
+1 also curious whether heroes need alt text.

[2019-11-09 08:10] bazzadp commented on #379
Well I think they are great eye-candy 😀: https://www.w3.org/WAI/tutorials/images/decorative/#image-used-for-ambiance-eye-candy

[2019-11-09 08:21] bazzadp commented on #375
Not seeing this now. Did you fix this @rviscomi ? In which case can we close this?

[2019-11-09 08:22] bazzadp commented on #375
Though in mobile view the stats % text should be more centred as looks weird stepped:

![image](https://user-images.githubusercontent.com/10931297/68525492-0f34f680-02ca-11ea-9e50-f05455168047.png)

[2019-11-09 08:33] bazzadp opened #389 "CSS - Methodology section on home page broken on large mobiles"
On my iPhone XS (can be replicated in Chrome dev tools by selecting "iPhone X" ) I see this on home page:

![image](https://user-images.githubusercontent.com/10931297/68525564-f842d400-02ca-11ea-8731-e15ecb4660cf.png)

Possible fix: knock down the padding on in [index.css](https://almanac.httparchive.org/static/css/index.css) from 40px to 30px, so from this

[code]
to this:

[code]

[2019-11-09 08:48] rviscomi commented on #375
No I didn't work on this. Not sure if anyone did. But let's leave this issue open to fix the alignment issue you found.

[2019-11-09 08:49] rviscomi commented on #389
The padding is fine, but the `line-height` for these figures should be at least as large as the `font-size`.

[2019-11-09 08:58] bazzadp commented on #378
Think I've found them hiding in the Security chapter. Alessandro Ghedini (@ghedo) and André Naumann (@ndrnmnn) were in your Spreadsheet as Security chapter Reviewers but not in JSON.

Will add them to Brainstormers as part of Security chapter copyediting that I'm working on as not sure they'll get a chance to actually review now (though if you do have time this weekend guys then more than happy to

[2019-11-09 09:10] rviscomi commented on #378
Those LGTM.

While checking the ancient [brainstorm doc](https://docs.google.com/document/d/1sCIMeErYvaQb5x9Acdb6ImYdn0-buHRhYGvz2HoysmM/edit?usp=sharing) I also found a couple of uncredited brainstormers: Morten (@mor10) and Weston (@westonruter). Could you add them to the config as well?

Erik Nygren joined recently to help review the CDN chapter. @colinbendell could you help me identify which o

[2019-11-09 09:34] bazzadp commented on #378
Will do!

[2019-11-09 10:36] AymenLoukil commented on #379
My check was on the live version. You pushed to it the modfications ?

[2019-11-09 10:40] bazzadp commented on #378
Looks to me like its @enygren so have added these to the change I am working on:

[code]

Let me know if anything's wrong or anything you don't want published here! This is what it will look like: https://almanac.httparchive.org/en/2019/contributors

[2019-11-09 10:41] bazzadp commented on #379
@rviscomi published it to live this morning.

[2019-11-09 10:42] AymenLoukil commented on #379
Ok @bazzadp thank you. I run it now

[2019-11-09 11:05] ymschaap commented on #224
No sorry, I don't have time available this week to do more work on this.

[2019-11-09 11:28] andydavies commented on #220
Makes sense - Will do

[2019-11-09 11:53] bazzadp commented on #158
Closed with https://github.com/HTTPArchive/almanac.httparchive.org/pull/204

[2019-11-09 12:00] AymenLoukil commented on #379
Updated

[2019-11-09 12:05] bazzadp commented on #379
OK it looks worse 😞

However it's not as bad as it looks. We are now using this markup like the example below:

[code]

So in this case we do have the descriptive text - just not in an `alt` attribute. Instead it's in a special div: `<div id="fig21-caption" class="visually-hidden">`. Can't really expect the tool to know that, but it'll get worse as we convert more chapters to that format.

I say w

[2019-11-09 17:05] c-torres commented on #346
Can this be closed? Not sure what's the workflow.

[2019-11-09 17:09] bazzadp commented on #346
I think yes. Next time if you say. "Closes #346" or "Fixes #346" as the first line in your PR it will be closed automatically.

[2019-11-09 18:00] rviscomi commented on #224
No worries, thank you!

@HTTPArchive/developers does anyone have time to look into this?

[2019-11-09 18:04] rviscomi commented on #379
One concern is that `aria-labelledby` works fine for a11y but I'm not sure if search indexers follow it or simply rely on the `alt` attribute.

[2019-11-09 18:09] #346 closed

[2019-11-09 21:02] rviscomi opened #398 "Generate TOC using localized markdown"
As noted in https://github.com/HTTPArchive/almanac.httparchive.org/pull/387#issue-338953011 the Table of Contents is English-only due to the reliance on the global 2019.json config. We should rewire this to be dependent on the `content/<lang>/*` chapter markdown.

When we generate the markup at compile time, the JSON metadata for each chapter should also be merged into a single language-specific c

[2019-11-09 21:25] rviscomi opened #399 "Home page contributor count style bug"
The contributor count on the home page is not styled correctly and mispositioned on the page, overlapping with the featured chapter section:

![image](https://user-images.githubusercontent.com/1120896/68535246-3a344000-02f4-11ea-9219-3b61b787169a.png)

This might be a side-effect of the contributor count being dynamic and not designed for this particular width value.

cc @bazzadp I think this is s

[2019-11-09 21:50] rviscomi opened #400 "Validate chapters by year"
As a follow-up to #392, we shouldn't hardcode the list of chapters. It should support any given year and pull the chapter IDs from the config.

[2019-11-09 22:07] hyperpress commented on #141
Hey @rviscomi , Was dropdown.png (which is actually saved as a bitmap) supposed to be a small icon image like 16px x 16px or 24px x 24px in size. It's gigormick and I'm just making sure.

[2019-11-09 22:12] rviscomi commented on #141
Yes, it should be a small icon! I see what you mean. WTF?!

[2019-11-09 22:13] #368 closed

[2019-11-09 22:18] hyperpress commented on #141
Somebody was serious about their scale there ;-)

[2019-11-09 22:39] rviscomi commented on #303
I've updated #237 to outline a process for including accessible data visualization. To sum it up:

- every figure has a corresponding figcaption describing its contents at a high level
- every image either has alt text or a corresponding `aria-labelledby` element
- every iframe (interactive Sheets chart) has a corresponding `aria-labelledby` element
- on mobile we hide the iframe and show an ident

[2019-11-09 23:58] c-torres commented on #38
@rviscomi Performance and Markup chapters, and the Table of Contents template have been translated into Spanish. Please let us know which others sections should be ready for translation by now. Thanks!

[2019-11-09 23:59] hyperpress commented on #141
I'll have these done this evening. What I'm doing with the images in the root of /images is to optimize the ones that look close to the proper size. The ones that don't I'm creating additional sized versions with the height and/or width in the file name. I'm also creating webp versions of all those.

[2019-11-10 00:43] rviscomi commented on #38
Other chapters are changing slightly as we approach launch day on Monday. After that we should be in a more stable place to start translating other content.

One worry I have is that after launch with so many eyes on the chapters, people will point out typos we missed, so the content would actually be churning frequently, making it hard for translation to keep up. Generally, we do need a process f

[2019-11-10 03:20] rviscomi opened #407 "Broken image in Perf chapter"
The mobile image for Figure 9 is broken.

[2019-11-10 03:26] obto commented on #237
Hey everyone, I was able to finish adding data viz to the JavaScript chapter but sadly wont have time to help add the other chapters. Got to catch a flight in about 10 hours 💦

[2019-11-10 08:12] #407 closed

[2019-11-10 08:19] bazzadp commented on #399
Yes you are right. This is the cause of the initial reason for https://github.com/HTTPArchive/almanac.httparchive.org/issues/375 (though though added a second issue to that after). Thought it was an issue with featured chapter, but it's actually the contributor count which is causing the issue.

[2019-11-10 08:29] bazzadp opened #412 "Extra paragraph tags in figures"
(I know @mikegeyser said he would look today but raising so we don't forget).

As discussed in https://github.com/HTTPArchive/almanac.httparchive.org/pull/394#discussion_r344455485, generating the chapters using `npm run generate` leads to extra `<p></p>` lines in both `<img` and `<table` figures:

**table:**

[code]

**img:**

[code]

This is invalid HTML when you [validate it](https://validator.

[2019-11-10 08:32] rviscomi commented on #303
I think `alt=""` is the right way to go, but I'm open to suggestions. They add value to the visual aesthetic but not so much to the content.

[2019-11-10 08:36] rviscomi opened #413 "Audit the website for performance issues"
Related: #286 and #303. Make sure we're not doing anything silly to hurt performance.

I'm aware that embedding 25 Sheets iframes is probably not a great idea for performance. We can look into preconnecting to the origin and lazy loading the iframes.

The audit should ideally happen before launch just so we know if we're doing anything egregious. Any P0 performance issues should be fixed prior to

[2019-11-10 08:38] bazzadp commented on #413
Just noting that lazy loading images (and possibly iframes) is being discussed in https://github.com/HTTPArchive/almanac.httparchive.org/issues/351

[2019-11-10 08:40] rviscomi commented on #413
Yes I definitely think #351 would be helpful.

This issue can tell us how significant the perf impact of not lazy loading is.

[2019-11-10 08:40] mikegeyser commented on #412
As @bazzadp pointed out, I think it's the `wrap_tables` functionality. That uses `JSDOM` rather than regex, which relies on serializing the jsdom document to string. We had some uncontrollable behaviour in the `generate_figure_ids` chapter while using that approach, and eventually abandoned it in favour of regex. I think this is probably a similar situation, which is why the problem disappears whe

[2019-11-10 08:46] bazzadp commented on #413
Any ideas why Lato font loads so many times?:

![image](https://user-images.githubusercontent.com/10931297/68541381-89cb4800-0396-11ea-884a-fa9087173bc8.png)

[2019-11-10 08:46] mikegeyser commented on #412
Actually, I think we should put in the fix that @bazzadp recommended while I keep working on a proper solution for the next release.

[2019-11-10 08:48] rviscomi commented on #413
In base.html we load the fonts here: `<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i, 900|Poppins:300,400,700,900&display=swap" rel="stylesheet">`.

I think it's loading one font file for each weight/style combo.

[2019-11-10 08:52] rviscomi commented on #413
The home page background image is very large and provides contrast to the white text at the top of the page. Because it's so large, it takes a few seconds to load for the first time, so the text is invisible, except for the yellow buttons:

![image](https://user-images.githubusercontent.com/1120896/68541431-37693780-0354-11ea-8800-5dd4a7098bb0.png)

We should use a CSS-based background color as a

[2019-11-10 08:57] rviscomi commented on #413
Images used in the footer and mobile design are loading immediately. Below-fold images should be lazy loaded and mobile-specific images should never load for desktop.

![image](https://user-images.githubusercontent.com/1120896/68541474-e73ea500-0354-11ea-89f8-4a0f79879312.png)

[2019-11-10 09:01] rviscomi commented on #413
Extend the cache lifetime for static images
![image](https://user-images.githubusercontent.com/1120896/68541548-a1cea780-0355-11ea-9a10-cbc44ae9973d.png)

https://www.webpagetest.org/performance_optimization.php?test=191110_MK_600ab0b42469c8fb2a03fdbf34132dd6&run=1#cache_static_content

[2019-11-10 09:06] rviscomi commented on #413
Mobile-specific data viz is still loaded on desktop chapter pages. I would have thought the `display: none` style prevented this.

![image](https://user-images.githubusercontent.com/1120896/68541596-46e98000-0356-11ea-9738-face08b1924b.png)
https://www.webpagetest.org/result/191110_J7_f4bc44580c3abfae6451fa9b72659012/1/details/#waterfall_view_step1

[2019-11-10 09:10] rviscomi commented on #413
Embedded data viz iframes should be lazy loaded until in view (#351).

Author avatars should also be lazy loaded.

![image](https://user-images.githubusercontent.com/1120896/68541636-c11a0480-0356-11ea-9ca8-487507d17baf.png)

https://www.webpagetest.org/result/191110_J7_f4bc44580c3abfae6451fa9b72659012/1/details/#waterfall_view_step1

[2019-11-10 09:18] mikegeyser commented on #399
I'll take a look at this. I don't have access to the screen mockups, would it be possible to post a screenshot of what it should ideally look like?

[2019-11-10 09:19] rviscomi commented on #399
Mockup:

![image](https://user-images.githubusercontent.com/1120896/68541759-29b5b100-0358-11ea-911e-4affa56dbea6.png)

[2019-11-10 09:21] AymenLoukil commented on #413
Already detected in #286

[2019-11-10 09:23] AymenLoukil commented on #413
Also i would add that many resources paths are relative and not absolute. This could make additional time to check protocol / redirect etc.

[2019-11-10 09:26] bazzadp commented on #413
Nah, don't think that's the case! Relative paths are gooood.

[2019-11-10 09:27] bazzadp commented on #399
See also here where People was discussed: https://github.com/HTTPArchive/almanac.httparchive.org/issues/106#issuecomment-540659009

[2019-11-10 09:28] bazzadp commented on #399
Oh see you beat me to it with an edit @rviscomi !

[2019-11-10 09:30] AymenLoukil commented on #413
You serious ? ^^

[2019-11-10 09:32] rviscomi commented on #413
I'm not aware of any reason not to use relative paths. It doesn't incur any overhead AFAIK. Browsers can quickly canonicalize the URL on the fly.

Maybe you're thinking of navigating to a page, for example `example.com` which redirects to `https://example.com` which redirects to `https://example.com/`?

[2019-11-10 09:32] bazzadp commented on #413
Yes. What's the concern here?

You mean it says things like:

`<img src="/static/...`

As opposed to"

`<img src="https://almanac.httparchive.org/static/...`

??

[2019-11-10 09:40] #399 closed

[2019-11-10 09:40] mikegeyser commented on #389
This will be a similar fix to #399, can I take this on?

[2019-11-10 09:47] AymenLoukil commented on #413
This is ok but i'm talking about resources paths. I believe that since we should be on HTTPS, it would be better to precise the absolute path.
Webhint does check for it : https://webhint.io/docs/user-guide/hints/hint-no-protocol-relative-urls/
Google Lighthouse team are thinking to implement this audit too.
There is also a security concern but mainly for HTTP websites / apps. @bazzadp

In our case

[2019-11-10 09:52] bazzadp commented on #413
That means don't do this:

`<script src="//www.google-analytics.com/analytics.js" async></script>`

As that loads http://www.google-analytics.com/analytics.js when on HTTP version of your site and https://www.google-analytics.com/analytics.js when on HTTPS and better to load same over both as will be referenced in cache for both so saves a double download. Plus better for security (if an assets is

[2019-11-10 09:57] bazzadp commented on #413
Well technically I suppose it it could be same thing if we had mixed site (i.e. some pages on HTTP and some on HTTPS) as, for example, specifying our logo always being loaded over HTTPS even on HTTP would prevent a double download. But since we don't have a mixed site, this is a non-issue.

Relative paths allow for cleaner, less-verbose code and launching dev envs while loading assets locally.

[2019-11-10 09:58] rviscomi commented on #141
Only remaining task for this issue is to serve the smaller hero image to mobile viewports.

[2019-11-10 09:58] AymenLoukil commented on #413
Ok thank you @bazzadp :)

[2019-11-10 09:59] bazzadp commented on #413
Oh and btw the title of that page is "No Protocol-Relative URLs" not "No Relative URLs"

[2019-11-10 10:00] rviscomi commented on #221
Pushing the query/results discovery bits to the post-launch milestone.

[2019-11-10 10:18] rviscomi commented on #286
Hmm. Just got this email from Google Search Console:

I also submitted the sitemap.xml file and it returned a few errors similar to this:

[code]

[2019-11-10 10:23] rviscomi commented on #361
`<picture>` helps with swapping between desktop and mobile-optimized images.

For #413 I'd also like to find a solution for swapping between an iframe on desktop and an image on mobile.

[2019-11-10 10:25] rviscomi commented on #292
@bazzadp we're still missing CDN (landing any moment) but how are the JS and CSS chapters looking? Can we check them off?

[2019-11-10 10:26] AymenLoukil commented on #286
For the sitemap
![image](https://user-images.githubusercontent.com/5750656/68542445-e0438100-03ac-11ea-8054-dfee35ff172b.png)

[2019-11-10 10:26] rviscomi commented on #378
@bazzadp were these changes merged? Can we close this?

[2019-11-10 10:28] rviscomi commented on #412
#415 was an interim fix but I think we can close this since there's no other immediate action.

[2019-11-10 10:28] #412 closed

[2019-11-10 10:29] rviscomi commented on #286
Oh no! I'll regenerate the file and push it again.

[2019-11-10 10:29] bazzadp commented on #286
No still needs a fix. Working on it.

[2019-11-10 10:30] AymenLoukil commented on #286
Regarding the hreflang, since we don't yet have other languages, we could not have the bidirectional issue.
I think that the issue comes from the HTML lang attribute

 
As i previously sais, we should target english generic (en) without any region targeting. (en-US).

In my crawl check i see no other issues. If you want you can share me a SC access. @rviscomi

[2019-11-10 10:34] bazzadp commented on #378
No, they are part of https://github.com/HTTPArchive/almanac.httparchive.org/pull/393/. Which I think we should merge as per my comment just there 😀

[2019-11-10 10:36] AymenLoukil commented on #286
@rviscomi @bazzadp
I found where also comes the hreflang issue. URL of alternates must be fully qualified and not relative

https://support.google.com/webmasters/answer/189077?hl=en

[2019-11-10 10:41] bazzadp commented on #292
Will file a PR to add them. Was waiting for the CDN chapter to do them all at once. After that I will list them all here in a table so SEO experts can view and suggest any improvements, but I think they are pretty good:
- < 160 chars except one IIRC
- descriptive

[2019-11-10 10:41] rviscomi opened #418 "Chapter generation script broken"
There are some Spanish translation specific errors thrown when running `npm run generate`. This is preventing the sitemap from being generated.

[2019-11-10 10:41] bazzadp commented on #286
OK will fix that with my sitemap fix PR.

[2019-11-10 10:45] bazzadp commented on #378
Closed with https://github.com/HTTPArchive/almanac.httparchive.org/pull/393

[2019-11-10 10:45] #378 closed

[2019-11-10 13:17] bazzadp commented on #149
Any update on this @andydavies ?

Can you start the markdown file with the following please?

[code]

The description should be filled out with a description for https://github.com/HTTPArchive/almanac.httparchive.org/issues/292. I've been using the H2 headings (except Introduction and Conclusion). See [the other chapters](https://github.com/HTTPArchive/almanac.httparchive.org/tree/master/src/conte

[2019-11-10 13:52] bazzadp commented on #292
OK here are the English Meta Descriptions:

**Chapters**

|Page|Length|Description|
|---|---|---|
|accessibility|145|Accessibility chapter of the 2019 Web Almanac covering ease of reading, media, ease of navigation, and compatibility with assistive technologies.|
|caching|154|Caching chapter of the 2019 Web Almanac covering cache-control, expires, TTLs, validitaty, vary, set-cookies, AppCache, Ser

[2019-11-10 14:18] bazzadp commented on #317
BT if you change this line:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/774e963a321029f675d6d6a1bd314e4c956e9577/src/tools/generate/generate_last_updated.js#L27

From this:

    const command = `git log -1 --date=iso-strict-local ${path} | cat`;

To this:

    const command = `git log -1 --date=iso-strict-local master ${path} | cat`;

Then at least it gets the master commit time r

[2019-11-10 14:56] ljme commented on #303
SGTM go for it, alt="" away! Go ahead and run the lighthouse tool in Chrome
DevTools if you want to be sure you caught them all.

On Sun, Nov 10, 2019, 3:32 AM Rick Viscomi <notifications@github.com> wrote:

[2019-11-10 15:22] andydavies commented on #149
We should add Erik Nygren to the reviewers, do we have bio for him anywhere?

[2019-11-10 15:24] bazzadp commented on #149
Reference him as enygren as he's already in the config file:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/774e963a321029f675d6d6a1bd314e4c956e9577/src/config/2019.json#L1002-L1011

Reviewers don't get bios, only authors.

[2019-11-10 15:40] paulcalvano opened #423 "Cache TTL for static content is too low"
All of the static content is served with a low cache TTL:

`cache-control: public, max-age=600`

Should we increase this to something higher before this goes live?  It's kind of silly for the caching chapter to fail so badly on caching :)

<img width="962" alt="image" src="https://user-images.githubusercontent.com/7459458/68546633-7d4eeb80-03a6-11ea-9616-e4af1bae93ea.png">

<img width="671" alt="i

[2019-11-10 15:45] paulcalvano commented on #423
Nevermind - just realized it's already being tracked here https://github.com/HTTPArchive/almanac.httparchive.org/issues/413

[2019-11-10 15:45] #423 closed

[2019-11-10 15:46] paulcalvano commented on #413
Just opened an issue about the static content TTL and then realized it's already being tracked here - https://github.com/HTTPArchive/almanac.httparchive.org/issues/423.

[2019-11-10 17:12] hyperpress commented on #141
I'll take care of that today.

[2019-11-10 17:37] #292 closed

[2019-11-10 17:39] #418 closed

[2019-11-10 17:40] #389 closed

[2019-11-10 17:52] rviscomi opened #425 "Syntax error on chapter pages"
`jinja2.exceptions.TemplateSyntaxError: unexpected '}', expected ')'`

[code]

@bazzadp I think this is related to #422 that was just merged.

[2019-11-10 17:54] bazzadp commented on #425
Yeah, just fixed it. PR coming up!

[2019-11-10 18:00] #425 closed

[2019-11-10 18:03] bazzadp opened #427 "Sitemap generates in random order leading to needless changes"
As per https://github.com/HTTPArchive/almanac.httparchive.org/pull/384#discussion_r344421653 the sitemap sometimes generates in alphabetical order, sometimes in random order.

This leads to a lot of needless noise when submitting CRs.

[2019-11-10 18:13] bazzadp opened #428 "Fallback when Google Sheets is not available"
Some companies (including my employer!) block Google Sheets for various reasons. Not sure if some countries do this similarly.

As we have fall back graphics for mobile, it would be nice if we could run a bit of JavaScript on a page to check for that blocking, and then hide the iframes and unhide the images.

[2019-11-10 18:47] #427 closed

[2019-11-10 18:51] rviscomi commented on #428
Yeah if the iframes take too long to load for any reason (blocked, latency, outage) we should fall back to the static images.

[2019-11-10 19:26] #149 closed

[2019-11-10 19:34] rviscomi commented on #86
Reverted my query change. I'll close this out and open a new PR with any changes.

[2019-11-10 19:34] #86 closed

[2019-11-10 20:37] bazzadp commented on #237
FYI noticed the fallback images for Security chapter don’t exist yet. It’s not ticked as done in first comment so may already be on your to do list, but it is published so thought best to comment in case you thought done.

[2019-11-10 20:49] bazzadp opened #432 "Fallback Data Vis images don’t display on tablet"
On iPad we don’t see the Google Sheets images (presumably because of same reason as iPhone: https://github.com/HTTPArchive/almanac.httparchive.org/issues/369) but the fall back images do not show either whereas they do on iPhone.

CSS need a little tweaking to change the breakpoint?

[2019-11-10 21:46] rviscomi commented on #432
IIUC, this is working as intended. We need images to appear on small viewports because the 600px interactive charts would otherwise overflow. On a tablet with a wider screen, the wide interactive charts still fit. WDYT?

[2019-11-10 21:49] bazzadp commented on #432
Except that iPadOS at least doesn't render them. Not sure about Android.

[2019-11-10 21:53] rviscomi commented on #432
Because of this issue "Canvas area exceeds the maximum limit (width * height > 16777216)"?

Really surprised.

[2019-11-10 21:59] bazzadp commented on #432
Yup confirmed by hooking iPad up to Mac and using Web Inspector. Same error.

All charts. Even my simple Pie Chart in [HTTP/2](https://almanac.httparchive.org/en/2019/http2#http2-push) doesn't render. Your Performance chapter is looking pretty bare...

[2019-11-10 22:01] rviscomi opened #433 "pmeenan missing from Contributors"
@pmeenan's full name is not showing up on the CDN chapter for which he's a reviewer and he has no entry on the Contributors page.

![image](https://user-images.githubusercontent.com/1120896/68551517-8fd71e00-03c2-11ea-8c58-b99f1ed88d3b.png)

[2019-11-10 22:04] bazzadp commented on #433
I'll fix.

Another question. Data Visualisation - is that a team? Should I add the three of you to a new team? Or add @paulcalvano to Editors (you other two are already in there)? Or are they covered by being in Analysts?

[2019-11-10 22:05] rviscomi commented on #432
Ok in that case this is a launch blocker. Super strange. The canvas size limit is 75x larger than the area for most of these charts so I have no idea why they'd be blocked.

If we can't figure this out we can `display: none` all iframes and show the static images to everyone.

[2019-11-10 22:08] bazzadp commented on #432
That would be a shame as they are nicer. However maybe it's better to do that until we fix https://github.com/HTTPArchive/almanac.httparchive.org/issues/428 anyway?

[2019-11-10 22:10] rviscomi commented on #433
I consider data viz part of development. Not strictly opposed to a new team but everyone who'd be in it is already represented somewhere else so it may be superfluous.

If @paulcalvano edited any chapters (I don't recall, everything is a blur) then yeah he can be added to the team. If he revised his own chapters' drafts, that's just being an author IMO ;)

[2019-11-10 22:11] rviscomi commented on #432
Oof this is a really tough call. I'll think about it. Open to other suggestions.

[2019-11-10 22:12] bazzadp commented on #433
No it was more if we considered adding Data Viz as part fo the Editing process. Cause he's not currently an editor. He's not in Development team either but personally I think it's best being part of Analysts (which you all already are) if not a separate team.

[2019-11-10 22:16] rviscomi commented on #433
Hell, throw him on the developers team 😁

[2019-11-10 22:21] bazzadp commented on #433
This OK for pmeenan? Got all his teams?

[code]

[2019-11-10 22:23] rviscomi commented on #433
LGTM

[2019-11-10 22:24] bazzadp commented on #433
![image](https://user-images.githubusercontent.com/10931297/68551857-d8b1c580-0408-11ea-99c6-742bd63674c7.png)

[2019-11-10 22:33] #433 closed

[2019-11-10 23:12] patrickhulce commented on #86
Ok sounds good sorry for the trouble @rviscomi thanks very much for tackling those! Let me know if there's something specific I can knock out :) (will be flying starting at ~6pm PST today though, see ya soon!)

[2019-11-10 23:13] bazzadp opened #439 "HTML validation errors on Home Page"
Similar to https://github.com/HTTPArchive/almanac.httparchive.org/issues/309 index.html has the following:

- line 167 - `<h1><div class="alt-bg decorative-line"></div>`
- line 184 - `<h2><div class="decorative-line-center"></div>`
- line 221 - `<h2><div class="decorative-line"></div>`
- line 228 - `<h2><div class="decorative-line-center"></div>`

Divs are not allowed in heading tags. Tried a few

[2019-11-11 02:26] rviscomi commented on #86
@patrickhulce just want to make sure you didn't misinterpret your own data. Here's how one of the data points in 05_11 is queried:

[code]

Each percentile is **a percent of requests** (count / total), not the number of requests. That's why I was asking about 1% != 1 request.

[2019-11-11 03:33] hyperpress commented on #141
Hey @rviscomi - I need about another 45 minutes to complete the chapters and I really think I can commit the changers on the hero images for the intro pages, etc. the only thing I changed was the icon image names, and that needs to be only updated in templates base.html and base_chapter.html as far as I can see. Otherwise the image names didn't change for the original optimized images. I just crea

[2019-11-11 03:36] MSakamaki commented on #38
I'm sorry, I was proceeding with the integration of gitlocalize, but I understood that it can only be integrated by the repository owner.

Can @rviscomi  do gitlocalize integration?
If it seems difficult, I would like to work on translation of the pull request.

I also start pull request translation.

[2019-11-11 03:39] rviscomi commented on #141
Thanks @hyperpress. To confirm, the chapter illustrations are unrelated to any icons and the only change should be to this line, so it's not always hero_lg.jpg:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/templates/en/2019/chapter.html#L115

[2019-11-11 03:42] hyperpress commented on #141
Right. On this issue #141 I'm updating the hero images with picture element and a large and small for now.

[2019-11-11 03:43] rviscomi commented on #38
@MSakamaki Per https://github.com/HTTPArchive/almanac.httparchive.org/issues/38#issuecomment-552058045 I've accepted all of the requests to integrate, not sure what else I can do. Let's start with PR translations to get this moving.

[2019-11-11 03:44] rviscomi commented on #141
Ok great, thank you! Go go go! :)

[2019-11-11 03:46] rviscomi commented on #218
@rachellcostello have you had a chance to edit the Media chapter?

[2019-11-11 05:33] obto opened #446 "Some figures and markdown links not rendering on mobile"
Was checking out the mobile web chapter on my phone and noticed three things:

1. The linked youtube video in the mobile web chapter doesnt display
![image](https://user-images.githubusercontent.com/684747/68563084-51ad1f00-0401-11ea-8794-a23031768672.png)

2. Some markdown links are not rendering
![image](https://user-images.githubusercontent.com/684747/68563065-3f32e580-0401-11ea-9018-bf5453bcd1

[2019-11-11 05:49] rviscomi commented on #446
Are you on an iPhone? Related: https://github.com/HTTPArchive/almanac.httparchive.org/issues/369

[2019-11-11 05:50] obto commented on #446
Was on my pixel 3 when i noticed the issues, but took those screenshots in the mobile emulator in chrome

[2019-11-11 05:52] rviscomi commented on #446
Ok I can reproduce the issue. I'll work on a fix. Thanks for reporting it!

[2019-11-11 05:53] obto commented on #446
Np, sorry to be that guy haha

[2019-11-11 05:55] rviscomi commented on #446
Don't be sorry, it's a good catch!

[2019-11-11 06:26] rviscomi opened #448 "Update README to current project status"
Now that we're launched, I expect lots of first-time visitors to this repo. We should make sure that https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/README.md is up to date with the current project status and it's clear how someone could join the 2020 project.

- interest form for contributing to the 2020 edition
- #web-almanac channel on Slack
- good first issues to contribute

[2019-11-11 06:35] bazzadp commented on #286
Any ideas if these are resolved now? Guessing the Sitemap is, but does it list hreflang issues in GSC so can see if fixed there (may not be until it’s next crawled)?

[2019-11-11 06:51] rviscomi commented on #286
Not sure. I wasn't able to view the error anywhere other than the vague email. I'll keep an eye out for any more vague emails.

[2019-11-11 06:53] rviscomi opened #449 "Optimize Twitter share card"
The hero image and text get cut off. Might be good to optimize the metadata for this use case.

![image](https://user-images.githubusercontent.com/1120896/68567000-c5085e00-040c-11ea-9d7d-7f43a26f0a02.png)

The hero image could be the one without "2019" and resized to fit better in the Twitter card
The title could be simplified to "The 2019 Web Almanac"
The description could be made less redundant

[2019-11-11 07:03] obto commented on #446
The mobile chapter is working now, but others like the A11Y chapter are still missing their figures.

[2019-11-11 07:05] rviscomi commented on #446
Ah missed that one. Thanks for verifying. Fixing now.

[2019-11-11 07:07] bazzadp commented on #449
I knew this would be helpful later: https://github.com/HTTPArchive/almanac.httparchive.org/pull/371#issuecomment-551936027 😀

[2019-11-11 07:19] #446 closed

[2019-11-11 07:23] #449 closed

[2019-11-11 07:28] rviscomi opened #452 "Investigate 404 errors"
In the production server logs I'm seeing lots of ambiguous error messages like this:

[code]

At times the server is spiking at 200 404s per minute. (This is suspiciously high)

Sometimes this happens when a site doesn't have a favicon or something innocuous, but I can't imagine why we'd be having this many 404s unless there's a broken link somewhere.

Two things:

- [ ] Improve error logging so w

[2019-11-11 07:31] rviscomi commented on #452
This error may be related:

[code]

But it's similarly ambiguous.

[2019-11-11 07:34] bazzadp commented on #452
I added the favicon with https://github.com/HTTPArchive/almanac.httparchive.org/pull/438 btw.

Also see this with `<link rel="apple-touch-icon"` so could be that - and we probably should add anyway even if not that this time.

[2019-11-11 07:36] obto commented on #446
Yup looks good. Only remaining issue I see is some figures don't have data
annotations, so you can't see the actual values. Like figure 2 on
https://almanac.httparchive.org/en/2019/compression

On Sun, Nov 10, 2019, 23:19 Rick Viscomi <notifications@github.com> wrote:

[2019-11-11 07:36] catalinred commented on #439
@bazzadp An easy validation fix would be to transform `<div class="decorative-line-center">` into `<span class="alt-bg decorative-line"></span>` and then add `display: block` to the `selector`. This way we could avoid any potential new issue without rewriting the  `.decorative-line`.

Alternatively, we could rewrite the `.decorative-line` to use CSS pseudo-elements instead. Either way, I could hel

[2019-11-11 07:37] bazzadp commented on #452
PWA has a link to `./mobile` instead of `./mobile-web` but doubt that's the cause.

[2019-11-11 07:40] rviscomi commented on #446
That's a good point. Without interactivity it's difficult/impossible to grasp some of the values. Let's tackle this in a separate issue.

[2019-11-11 07:41] rviscomi commented on #439
The decorative line is a vestige of an earlier style implementation. I rewrote it on the chapter/methodology/TOC pages but didn't realize we're still using it on the home page. We should be able to do this style entirely in CSS without the need for additional markup.

[2019-11-11 07:48] rviscomi commented on #375
Fixed by https://github.com/HTTPArchive/almanac.httparchive.org/commit/6b94bafa32520537d401a937dddc78e91a5b3e5b

[2019-11-11 07:48] #375 closed

[2019-11-11 07:50] rviscomi commented on #224
The styles aren't "broken" any more so I'll close this and open a FR for the new improvements.

[2019-11-11 07:50] #224 closed

[2019-11-11 07:52] rviscomi opened #454 "Improve index sidebar styles"
Carrying over a few feature requests from #224. For pages with an index sidebar (chapter and methodology templates):

- [ ] make the index sticky on desktop so it's visible while scrolling (max-height 100% and overflow-y scroll)
- [ ] as the page is scrolled, update the "active" index item with a green highlight (using IntersectionObserver)

The "active" style is already implemented, we just have

[2019-11-11 08:53] AymenLoukil commented on #452
I run a crawl and here are the links generating errors :

https://almanac.httparchive.org/en/2019/%5D(https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) from https://almanac.httparchive.org/en/2019/resource-hints

https://almanac.httparchive.org/static/images/2019/05_Third_Parties/fig7.png from https://almanac.httparchive.org/en/2019/third-parties

https://almanac.httparchive.org/static/image

[2019-11-11 09:10] bazzadp commented on #452
Fixed all the ones I could as part of https://github.com/HTTPArchive/almanac.httparchive.org/pull/455

Remaining are:

- Third Party missing figure
- Security images (https://github.com/HTTPArchive/almanac.httparchive.org/issues/237#issuecomment-552231431).
- Markup links

[2019-11-11 09:15] rviscomi commented on #452
Images should be fixed now.

We'll need @bkardell's help to resolve the Glitch URLs.

[2019-11-11 09:43] rviscomi opened #459 "Security chapter too wide on mobile"
This text is not breaking or scrolling, so it's pushing the entire page beyond the viewport width, causing a weird appearance:

`<code>https://www.example.com/page/that/referred/you</code>`

![image](https://user-images.githubusercontent.com/1120896/68577138-5cc57680-0424-11ea-8c5c-5148841c4477.png)

Need to apply styles to inline code blocks so this wraps or scrolls.

[2019-11-11 09:45] bazzadp opened #460 "Typos, typos, typos"
This is a cool tool that crawls your site looking for typos (inc British spelling): https://www.internetmarketingninjas.com/online-spell-checker.php

Type in the base URL: https://almanac.httparchive.org/en/2019/
And crawl up to 100 links.

Below is a set of Words to Ignore (might want to commit this to git?).

These are the possible typos it's found and many look like they do need fixing:

![imag

[2019-11-11 10:04] catalinred commented on #413
This something I'd be interested to work on. Is there a separate issue for this?

[2019-11-11 10:07] catalinred commented on #439
If that's ok, you could assign me to merge the chapter/methodology/TOC  `.title` and index/homepage's `.decorative-line`.

I'll also add `alt=""` as @bazzadp suggested above for the decorative images/

[2019-11-11 10:13] rviscomi commented on #413
SVG sounds like a good idea. @mikegeyser was also looking into improving the performance of this image. Did you make any progress, Mike?

[2019-11-11 10:53] bazzadp commented on #449
FYI running the page through the [Twitter Card Validator](https://cards-dev.twitter.com/validator) has refreshed Twitter’s cache.

[2019-11-11 11:23] bazzadp commented on #452
How's it looking now @rviscomi ? Any reduction in errors? Any more detail as to what pages are missing?

[2019-11-11 11:48] hyperpress commented on #141
Did the commit with the picture elements and srcset not make it in time for the launch? I just noticed that the changes are not in production.

[2019-11-11 14:57] merlinox opened #461 "SEO and Graph Elements"
Hi, in this interesting page the <graph> elements don't work:
almanac.httparchive.org/en/2019/seo

Thanks

[2019-11-11 15:00] bazzadp commented on #461
Hi @merlinox , some of the chapters (including this one) are still being edited for typos and to add the graphics. This is why they have [UNEDITED] at the top of those few chapters that still need this done.

[2019-11-11 15:01] merlinox commented on #461
Thank you so much and sorry for my hit.
———————————————————————————————————
Riccardo Mares *aka *Merlinox

<https://mag.endu.net/author/riccardo-mares/> - Linkedin
<https://www.linkedin.com/in/merlinox> - Instagram
<https://www.instagram.com/merlinox/> - Twitter
<https://twitter.com/merlinox> - Facebook
<https://www.facebook.com/merlinox> <

On Mon, Nov 11, 2019 at 4:00 PM Barry Pollard <notificat

[2019-11-11 15:27] bazzadp commented on #460
Also "making migration to HTTP easier." in security chapter, should be "making migration to ~~HTTP~~ **HTTPS** easier".

[2019-11-11 15:34] bazzadp opened #462 "Fallback images missing for markup chapter"
For example:

[code]

[2019-11-11 15:34] bkardell commented on #432
Android, chrome, Moto g7, I can not see any of them, fallback even on the markup chapter. The only ones that show up are the static images, most are missing

[2019-11-11 15:36] bazzadp commented on #432
Raised https://github.com/HTTPArchive/almanac.httparchive.org/issues/462 for this, as even missing on mobile so should be there for that.

[2019-11-11 17:12] rviscomi commented on #461
Duplicate of #237

[2019-11-11 17:12] #461 closed

[2019-11-11 17:17] #462 closed

[2019-11-11 17:22] rviscomi commented on #460
Below http://127.0.0.1:8080/en/2019/javascript#fig-17 there is an incomplete sentence:

[2019-11-11 17:27] bazzadp commented on #218
Spoke to @rachellcostello and she's travelling so I said I'd take first pass at this, after I fix the typos in https://github.com/HTTPArchive/almanac.httparchive.org/issues/460.

[2019-11-11 17:46] obto opened #464 "Missing youtube video in Mobile Web chapter"
The youtube video shows up on mobile devices but not desktops:
![image](https://user-images.githubusercontent.com/684747/68608571-201b6e80-0468-11ea-9326-9d0892bc6c18.png)

[2019-11-11 17:54] rviscomi commented on #464
Fixed by https://github.com/HTTPArchive/almanac.httparchive.org/commit/7f5b00bf76fcf89f642308fab2e9d90667889dd3

[2019-11-11 17:55] #464 closed

[2019-11-11 18:13] rviscomi commented on #452
Still seeing the errors and it doesn't look like the logging changed helped debugging. The error is lower level than our messaging.

![image](https://user-images.githubusercontent.com/1120896/68610075-c6b53e80-046b-11ea-975b-16a5d268974f.png)

[2019-11-11 18:15] #339 closed

[2019-11-11 18:15] #460 closed

[2019-11-11 18:18] #459 closed

[2019-11-11 19:12] rviscomi commented on #286
One of the great things about staffing CDS is that there are real live humans who work on Search Console here! They helped identify the hreflang issue we were seeing and pointed me to this support doc: https://support.google.com/webmasters/answer/189077?hl=en

It's still kind of unclear what SC is complaining about, but maybe

[code]

should be

[code]

[2019-11-11 19:14] bazzadp commented on #286
Could it be you shouldn’t implement it unless you have more than one language?

[2019-11-11 20:11] AymenLoukil commented on #286
<link rel="alternate" href="https://almanac.httparchive.org/en/2019/" hreflang="en" />

<link rel="alternate" href="https://almanac.httparchive.org/en/2019/" hreflang="x-default" />

No @rviscomi.

We implemented it right. Just as i said earlier, modify en-US to en. and paths must be absolute. That's it.

Could you please resubmit the website in SC and ask for indexing. + submitting the Sitemap.xm

[2019-11-11 20:26] bazzadp commented on #452
OK I got it.

We don't have a working 404 page - except for the routes we have defined (i.e. `/static/XXX` or `/lang/year/XXX`).

This for example repeats the error: http://127.0.0.1:8080/en/ for example. As does https://127.0.0.1:8080/anythingrandom because we have no routes matching those patterns.

It shows an error page instead of the 404 page and returns a 500 to the browser, though it did st

[2019-11-11 20:30] mikegeyser commented on #452
Good find!

[2019-11-11 20:53] rviscomi opened #470 "Home page text contrast issue on mobile when zoomed"
Got this UX issue in a DM:

![image](https://user-images.githubusercontent.com/1120896/68620289-06872080-0482-11ea-9681-8bdf69f62c4a.png)

The user is on a mobile device with the page zoomed in.

cc #303

[2019-11-11 20:54] rviscomi commented on #286
Ok so this `<html lang="en-US">` should be this `<html lang="en">`?

[2019-11-11 20:55] bazzadp commented on #286
https://www.seroundtable.com/one-language-hreglang-google-23970.html

I really think we should add an if statement around this so it doesn't show until the second language is launched. It makes no sense to have it as of now.

[2019-11-11 20:57] bazzadp commented on #286
It's a two line change to base.html:

[code]

[2019-11-11 21:01] bazzadp commented on #286
Both versions are fine: https://support.google.com/webmasters/answer/189077?hl=en.

However agree we should just do the language and not the country since we are unlikely to have `en-GB` or similar so this will be the only `en` version.

[2019-11-11 21:04] rviscomi commented on #452
Here are some weird findings from the production server logs:

404: `/static/images/favicon.ico/static/images/favicon.ico` (Firefox)
404: `/static/123` (Safari)

[2019-11-11 21:05] bazzadp commented on #452
Sure this was Safari? Think I tested that one on production from Chrome 😀

[2019-11-11 21:11] bazzadp commented on #452
BTW as we had a route for `/static/` all 4 of those examples error in the same way with and without my fix.

Some people just ask for weird stuff!

[2019-11-11 21:21] rviscomi commented on #452
![image](https://user-images.githubusercontent.com/1120896/68622081-215b9400-0486-11ea-989d-d35b544ba5fa.png)

[2019-11-11 21:37] catalinred commented on #470
cc https://github.com/HTTPArchive/almanac.httparchive.org/issues/413#issuecomment-552175467 as well

Curious about how to reproduce the above zoomed in behavior.

[2019-11-11 21:41] rviscomi commented on #470
Yeah I wasn't able to reproduce this in Dev Tools.

[2019-11-11 21:49] catalinred commented on #454
I might be able to help out with this.

[2019-11-11 21:58] catalinred commented on #470
Me neither, I tried on my iPhone as well. At first sight, I thought it might be an iOS text size setting but no.

[2019-11-11 22:25] AymenLoukil commented on #286
Yes :)

[2019-11-11 22:26] AymenLoukil commented on #286
OK for that. When we implemented the hreflang tags, i thought that we will have at least another language at launch (es). So why not hide them until we publish new language.

[2019-11-11 23:16] hyperpress commented on #361
I have a

[2019-11-11 23:41] hyperpress commented on #361
I'd like to continue with working on `<picture>` method for serving up hero and others.

@rviscomi I'm out for dinner, but the last commit where I replaced hero img markup with picture elements and `srcset` for `webp` for those content chapter pages definitely fixes this

I can work in other optimizations and clean up some best practices, etc. I've got free time over the next few days. Does that w

[2019-11-12 06:11] ibrahimcesar commented on #29
Just saw the excelente work being done at Chrome Dev Summit and I would like to contribute translating to Portuguese

[2019-11-12 07:15] MSakamaki opened #475 "cannot found <pclass="ddc-font-size-large"> link of chapter 3 markup"
[Products (and libraries) and their custom markup](https://almanac.httparchive.org/en/2019/markup#products-and-libraries-and-their-custom-markup) in Chapter 3, cannot found `<pclass = "ddc-font-size-large">`  link destination.

I see `Cannot GET /permalink/3214f840b6ae3ef1074291f60fa1be4b9d9df401fe0190bfaff4bb078c8614a5.html`.

[2019-11-12 07:29] bazzadp commented on #475
Related: https://github.com/HTTPArchive/almanac.httparchive.org/issues/452#issuecomment-552357511

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: M.Sakamaki <notifications@github.com>
Sent: Tuesday, November 12, 2019 7:15:14 AM
To: HTTPArchive/almanac.httparchive.org <almanac.httparchive.org@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subje

[2019-11-12 10:10] bazzadp commented on #286
Agree, as per here: https://support.google.com/webmasters/answer/189077?hl=en:

We have no `en` page so in theory, only US people will currently be shown that page! As we have no other English pages, we should remove the `-US` completely.

Included a fix for that in https://github.com/HTTPArchive/almanac.httparchive.org/pull/474/commits/5e9bebab301f90f7446ccd65efc34ca5660b4cf8

I that, I say that

[2019-11-12 11:42] AymenLoukil commented on #29
@rviscomi assign me to work on Franch translations :)

[2019-11-12 16:05] bazzadp opened #478 "Two broken links"
**2019.json**
http://www.matthewphillips.info doesn't work

**security.md**
Bad Markup in Security chapter - extra `]`:
`[which has many security benefits]](https://scotthelme.co.uk/why-we-need-to-do-more-to-reduce-certificate-lifetimes/).`
Should be:
`[which has many security benefits](https://scotthelme.co.uk/why-we-need-to-do-more-to-reduce-certificate-lifetimes/).`

Will fix later unless anyon

[2019-11-12 16:56] rviscomi commented on #475
Thank you @MSakamaki! We're tracking this in #452 so I'll close this one as a duplicate.

[2019-11-12 16:56] #475 closed

[2019-11-12 17:27] rviscomi opened #480 "Fix Table of Contents margin"
The margin on the TOC page is not consistent with other pages. The main section of the page should always be as wide as the header.

![image](https://user-images.githubusercontent.com/1120896/68694779-a4382980-052e-11ea-9c26-5e65c8162658.png)

[2019-11-12 21:31] bazzadp commented on #348
100% right call guys - they look brilliant and wouldn’t have been half as good with the smaller ones I originally implemented!!

[2019-11-13 07:09] bazzadp commented on #478
Closed by https://github.com/HTTPArchive/almanac.httparchive.org/pull/483

[2019-11-13 07:09] #478 closed

[2019-11-13 11:53] catalinred commented on #413
In case @mikegeyser needs some help here, I'd recommend turning the `intro-background-fit.png` image into a .svg and then encode it to base64 to avoid the above webpagetest scenario when having white text on white background until the `intro-background-fit.png` request is fulfilled.

`intro-background-fit.png` is suitable to convert to a .svg file by not having lots of detail. We'd have a backgrou

[2019-11-13 15:11] realjoker commented on #29
Hi, do you still need any help with Italian translation?

[2019-11-13 20:17] rviscomi commented on #29
@realjoker yes, that would be great! Please coordinate with @performize to complete the translations.

[2019-11-13 20:33] rviscomi commented on #286
The hreflang issue appears to have been resolved.

![image](https://user-images.githubusercontent.com/1120896/68801860-b9d24f80-0611-11ea-9264-292f6dfc3c72.png)

@AymenLoukil do you feel comfortable closing this issue?

[2019-11-13 20:45] AymenLoukil commented on #286
@rviscomi good!
I'm on my way back from London. Could I have more time to make global sanity / qa  check?

[2019-11-13 20:46] rviscomi commented on #286
Of course! Thank you!

[2019-11-13 20:46] rviscomi commented on #286
Of course! Thank you!

[2019-11-13 20:56] #351 closed

[2019-11-13 21:11] mikegeyser commented on #413
I'll definitely take a look at doing that @catalinred. The alternative that I was playing around with on Sunday was using a solid background and [lazy loading the image and swapping it](https://css-tricks.com/the-complete-guide-to-lazy-loading-images/#article-header-id-4). It does mean including some javascript to do the switch, however, which I'm not sure about.

Seems like it's all tradeoffs...

[2019-11-13 22:10] mikegeyser commented on #413
@catalinred @rviscomi I pushed what I was working on as a part of #485. I'm really not tied to that way of doing it, and would like feedback.

We can embed the image as a data uri directly, and that's simpler, but it does seem as there is a [non-trivial tradeoff ](https://css-tricks.com/data-uris/#article-header-id-4) in making the CSS file larger with image data (although that link is super old).

[2019-11-13 22:48] bazzadp commented on #432
OK some more progress on this. If you look at any of the Google Sheet images in Google Chrome, they are like this:

`<canvas class="docs-charts-component-canvas" width="1200" height="742" style="width: 600px; height: 371px;"></canvas>`

So yes you are restricting to 600 by 371 however that's just a style - the main canvas is 1200 by 742.

In iOS, with a Retina Screen it's even worse as Google Shee

[2019-11-13 23:04] rviscomi commented on #432
Something like this should be possible in CSS with a media query. I think it's a reasonable approach.

[2019-11-13 23:08] rviscomi commented on #413
@bazzadp tackled the lazy loading issues in #484 (ticking those checkboxes as resolved)

[2019-11-13 23:11] bazzadp commented on #432
Actually discovered a problem - Chrome on my MacOS is reporting a pixelDensity of 2 as well, not 3 as I thought. So we'd turn it off for all Chrome users who can handle this :-(

Any ideas how to reliably detect iOS?

Or can we create a Canvas object of 6000 by 3710 on this page and if that fails then fall back if that fails? [Chrome seems to have a larger limit than Safari](https://stackoverflow.

[2019-11-13 23:13] rviscomi opened #486 "Add an accessibility statement"
https://www.w3.org/WAI/planning/statements/

[2019-11-13 23:13] bazzadp commented on #413
@bazzadp found the reasons, but not the answer. Could do with some help there.

Also late here in Ireland so going to be giving up for the night soon if anyone wants to take it over?

[2019-11-13 23:14] rviscomi commented on #413
No worries. The fix was just deployed live so it's worth rerunning another performance test to validate it.

[2019-11-13 23:17] rviscomi commented on #452
I'm still seeing vague 404 error messages in Stackdriver:

![image](https://user-images.githubusercontent.com/1120896/68812651-76371000-0628-11ea-918d-65034b3b5e32.png)

However, the actual App Engine server logs are no longer showing any meaningful errors on things like broken images or bad requests, so I'm comfortable closing this issue.

[2019-11-13 23:17] #452 closed

[2019-11-13 23:20] rviscomi commented on #470
It seems the OS-level magnification settings need to be configured to 160% to trigger this bug.

![image](https://user-images.githubusercontent.com/1120896/68812874-fbbac000-0628-11ea-847f-b1699f9dce36.png)

[2019-11-13 23:26] #439 closed

[2019-11-13 23:34] catalinred commented on #470
In case it helps, I did try text scaling on iOS and wasn't able to reproduce this behavior, the above screenshot looks like is taken on an Android phone.

Either way, IMO this issue is due to the fact that the main background image `intro-background-fit.png` is set on the body and not on the HTML element that wraps the above text and button, e.g. `<section class="intro-container">`.  Related to #4

[2019-11-13 23:36] bazzadp commented on #432
BTW it would be nice to couple this with https://github.com/HTTPArchive/almanac.httparchive.org/issues/428 and if either large canvas is not supported or Google Sheets is blocked, then fallback.

Or alternatively change the default to images, and fall forward if both large Canvas and Google Sheets connectivity is supported if that's easier to detect! Especially with lazy loading now, which should

[2019-11-13 23:38] rviscomi commented on #38
@HTTPArchive/translators I've been thinking about how we can effectively translate the content and keep it in sync with all of the other web dev and editing work that's happening simultaneously.

Most of the editing is done, per #218. There are still a few chapters that are in flux. My goal is to wrap that up this week.

There is still a lot of development work being done. My worry is that it will

[2019-11-13 23:41] rviscomi commented on #470
Yeah, I think one of the reasons for doing it this way is because it also needs to appear behind the `<header>`.

[2019-11-13 23:43] mikegeyser commented on #470
They are definitely related, but even if it was set on the `intro-container` it would still cut off the text, wouldn't it? Because the header image is set to a fixed `background-height`.

[2019-11-13 23:47] rviscomi commented on #432
Thanks @bazzadp. I agree that it'd be much better to disable the interactive chart only to users who can't support it. Detecting this reliably is the biggest blocker, but we should investigate our options.

To summarize the various data viz issues:

- the Sheets iframe may be blocked unexpectedly at the network level (#428)
- the canvas in the Sheets iframe may be blocked at the UA level if the ca

[2019-11-13 23:58] catalinred commented on #470
@rviscomi yes, technically the current header content and intro-container should be wrapped together in HTML to apply that background somehow, therefore to avoid zooming issues.

@mikegeyser those ‘background-size’ hardcoded px unit values are indeed part of the issue.

Will try to work on a solution tomorrow (I’m on EET timezone) and keep you updated.

[2019-11-14 07:54] rviscomi opened #488 "Maintenance plan (please read)"
Congratulations to everyone on a successful launch! Our [analytics](https://datastudio.google.com/s/osyqyOgNUOg) are looking great with over 40k page views in the three days since launch. I just wanted to take this time to discuss the maintenance plan for the Almanac now that we've reached this big milestone.

There are still a couple of P0 action items that must be resolved by the end of the week

[2019-11-14 08:43] realjoker commented on #29
Awesome! I'll contact him right away.

[2019-11-14 09:36] performize commented on #29
@realjoker drop me a line (in Italian): andrea at performize.it . thx

[2019-11-14 14:22] AymenLoukil commented on #488
@rviscomi the links on SEO, accessibility and performance are not ok :)

[2019-11-14 14:43] bazzadp commented on #488
Fixed!

[2019-11-14 15:12] AymenLoukil commented on #286
Ok i did checked again the SEO aspects of the website.

Figures images don't have decriptive file names and no alt values. It could be better to give them good ones. Here is the list :

https://almanac.httparchive.org/static/images/2019/05_Third_Parties/fig5.png
https://almanac.httparchive.org/static/images/2019/05_Third_Parties/fig7.png
https://almanac.httparchive.org/static/images/2019/02_CSS/fi

[2019-11-14 15:25] AymenLoukil commented on #413
I run Lighthouse, Lazy loading seems to work fine now.

This image is big (400 KB ! ) to resize + compress.
https://almanac.httparchive.org/static/images/methodology-banner.png

Why not self host contributors avatars  ? Erik Nygren's one > 160 KB.

Figures images could be lighter on size.

[2019-11-14 15:36] AymenLoukil commented on #379
SE use alt value ofc

[2019-11-14 15:54] bazzadp commented on #413
👌

I thought it did that automatically?

I'm not sure I agree. I think it's nice for people to be able to alter their avatars on GitHub rather than have to do a PR.

We load the 200px version. Now on author pages we only load a 60 x 60 pixel one so that's arguably a bit big. But only one image, that's now lazy-loaded, so not a big deal.

However on contributors page we load 100 x 100 and with reti

[2019-11-14 16:00] AymenLoukil commented on #413
Not always :) since it is shuffling on reload

[2019-11-14 16:01] AymenLoukil commented on #286
Also, contributors page is shuffling on reload which is not the best choice from SEO POV.

[2019-11-14 18:57] bazzadp commented on #413
Contributor is shuffling on reload - not chapters. See my second comment for contributors page 😀

[2019-11-14 19:15] bazzadp commented on #379
I'm not  sure this is the right way to go anyway. I think we should have `alt` tags and use `aria-describedby` rather than `aria-labelledby`. In text we say "as seen in figure 12", so I think the image should have an Alt tag of "Figure 12" (with a bit more text) so it can easily be found, and then the `aria-describedby` can give the full detail.

And that would then also solve this issue.

Thought

[2019-11-14 19:58] AymenLoukil commented on #413
Yeah i mean, when Erik Nygren's is displayed on the "Above the fold zone", it won't be lazy loaded.

[2019-11-14 19:59] AymenLoukil commented on #379
The alternative text should describe what the photo is about

[2019-11-14 21:03] bazzadp commented on #379
Looks at this example that I'm proposing:

[code]

[2019-11-14 21:06] AymenLoukil commented on #379
This one is great :100:

[2019-11-15 01:12] hyperpress commented on #361
@rviscomi just circling back. I know you've been crazy busy, but wanted see if you still want the optimized, sized, and webp images I created committed, and https://github.com/HTTPArchive/almanac.httparchive.org/commit/2cc7b8be44e0052ab28ce125129c847b57cc43f0 combined to use picture elements that serve optimized images based on screen size. I know this got rushed at the end, so let me know your th

[2019-11-15 02:28] MSakamaki commented on #38
I'll think we that there is something to gain from the others translation project I have seen.
This is not a method of using third-party tools, but is covered by github operation.

In my experience, a successful translation is a clone of the repository.

Angular
https://github.com/angular/angular-ja

Even if html is included, it seems to absorb changes.
However, this requires technique and is heav

[2019-11-15 11:02] ymschaap commented on #237
Who could pick up the SEO chapter?

[2019-11-15 11:03] ymschaap commented on #488
Enjoy your break!

[2019-11-15 11:18] bazzadp commented on #237
The format of these might be changing if https://github.com/HTTPArchive/almanac.httparchive.org/pull/491 is accepted. So might be better to wait for a decision on that? Could do with more eyes on that if anyone else wants to help code review too?

Then again it's backwards compatible and easy to convert from old format to new so could just work on visualisations and then convert later depending on

[2019-11-15 13:05] bazzadp commented on #432
BTW I think this should be in [SHIP-IT] milestone (https://github.com/HTTPArchive/almanac.httparchive.org/milestone/5) and not [Apres-Ski](https://github.com/HTTPArchive/almanac.httparchive.org/milestone/6). A non-trivial number of users will not be getting visuals. Hence why I've prioritised this.

[2019-11-15 13:05] bazzadp commented on #428
BTW I think this should be in [SHIP-IT] milestone (https://github.com/HTTPArchive/almanac.httparchive.org/milestone/5) and not [Apres-Ski](https://github.com/HTTPArchive/almanac.httparchive.org/milestone/6). A non-trivial number of users will not be getting visuals. Hence why I've prioritised this.

[2019-11-15 14:05] rviscomi opened #494 "Bad data for fonts per page in CSS chapter"
Desktop p90 is 0, which is smaller than p75. Doesn't make sense.

https://almanac.httparchive.org/en/2019/css#fig-15

![image](https://user-images.githubusercontent.com/1120896/68948858-d5ab3200-0786-11ea-9710-ef7116da57c9.png)

[2019-11-15 14:11] realjoker commented on #29
Done, thanks

[2019-11-15 22:50] rviscomi opened #497 "Header nav sometimes wraps"
This is a weird one. I'd be navigating pages when all of a sudden the header nav wraps

![image](https://user-images.githubusercontent.com/1120896/68981065-41fe5380-07d0-11ea-9a10-68b4c62c6dd8.png)

Reloading doesn't always fix it, but if I resize the window 1px in either direction, it corrects itself. I've seen this a few times today. Working from a new computer in a viewport 1313px wide, which m

[2019-11-15 22:53] rviscomi commented on #163
@ymschaap @rachellcostello @AVGP apologies for the delay, this was a hectic week! Your chapter is now edited and visualized at https://almanac.httparchive.org/en/2019/seo. It should now have responsive and accessible data visualizations. File a bug if you see anything wonky. I've removed the "unedited" tag.

[2019-11-16 03:46] taytus commented on #29
@c-torres @JMPerez have you guys already started? Let's coordinate, I don't know what is the current Spanish translation status.

[2019-11-16 09:56] JMPerez opened #498 "Translate content to Spanish"
- [ ] accessibility
- [ ] caching
- [ ] cdn
- [ ] cms
- [ ] compressino
- [ ] css
These are the chapters to be translated:

- [ ] ecommerce
- [ ] fonts
- [ ] http2
- [ ] javascript
- [X] markup
- [ ] media
- [ ] mobile-web
- [ ] page-weight
- [X] performance
- [ ] pwa
- [ ] resource-hints
- [ ] security
- [ ] seo
- [ ] third-parties

[2019-11-16 09:57] JMPerez commented on #29
@taytus we translated 2 chapters (see https://github.com/HTTPArchive/almanac.httparchive.org/tree/master/src/content/es/2019). I have created an issue to coordinate on the translation to Spanish. Feel free to write your name next to the chapters you start working on.

[2019-11-16 20:02] taytus commented on #29
Thank you José, I will select a couple of chapters and will start working
on them ASAP.

On Sat, Nov 16, 2019 at 3:58 AM José M. Pérez <notifications@github.com>
wrote:

[2019-11-16 20:44] realjoker commented on #29
@performize <https://github.com/performize>, have you got my message?

Il gio 14 nov 2019, 10:36 Performize s.r.l. <notifications@github.com> ha
scritto:

[2019-11-16 22:39] rviscomi commented on #164
@tomayac @jeffposnick sorry for the delay, but this chapter finally has its data viz. Check it out here: https://almanac.httparchive.org/en/2019/pwa

Thanks again for your contributions! 👍 👍

[2019-11-17 11:56] tomayac commented on #164
This looks beautiful, thank you very much for your hard work on this!

[2019-11-17 14:15] ibrahimcesar opened #505 "Translate 2019 content to Portuguese"
These are the core templates - without which we cannot release any translated chapters. They are in the [language specific templates directory](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/src/templates):
- [ ] base.html -
- [ ] base_chapter.html-
- [ ] contributors.html -
- [ ] contributors.html (2020) -
- [ ] error.html-
- [ ] index.html -
- [ ] index.html (2020) -
- [ ] tabl

[2019-11-17 20:25] #218 closed

[2019-11-17 20:56] bazzadp commented on #303
@ljme I'd be interested in hearing your opinion on a conversation how I'm proposing having the details images.

We will basically have this sort of markup:

[code]

So we have a figure, containing a linked image and with a figcaption which is displayed on screen. That figure will also, on occasion, have a Google Sheets iframe to a nicer graphic (in which case the image will be hidden), so this wil

[2019-11-17 21:05] bazzadp opened #507 "Add translator to translated chapters"
If a chapter is translated then the markdown should include the translator(s) like this:

[code]

And the translators should then be listed on that translated page to give them credit for the translation and also so they can be a point of contact for any translation issues.

I'm, thinking in a similar way as the reviewers, but open to other opinions here:

![image](https://user-images.githubuserco

[2019-11-17 21:16] rviscomi commented on #507
+1 I think that's the best way to do it.

[2019-11-17 22:09] bazzadp commented on #38
@HTTPArchive/translators can you have a read of https://github.com/HTTPArchive/almanac.httparchive.org/issues/507 and add your names to the meta data when translating chapters?

Translators go in the translated chapter markdown and not the base English chapter markdown.

Let me know if any questions!

Barry

[2019-11-17 22:25] #507 closed

[2019-11-18 18:55] bazzadp opened #512 "Home page broken on Safari"
Seeing this on my iPad and MacOS Safari:

![image](https://user-images.githubusercontent.com/10931297/69080686-5b9fd500-0a34-11ea-9ed9-8359dd4dc34c.png)

Note the blank background for the top of the header where the menu items are. Same (but even worse!) in Portrait:

![image](https://user-images.githubusercontent.com/10931297/69080823-93a71800-0a34-11ea-8a29-f7c4f7ff924c.png)

Same on Safari on M

[2019-11-18 19:18] bazzadp commented on #512
https://github.com/HTTPArchive/almanac.httparchive.org/blob/87970a7a63fe7fb28ec2beb7b9f4b0bf413441b8/src/static/css/index.css#L1-L8

Changing `background-size` to `cover` instead of `100% 100%` seems to fix it, but does move the image about a bit.

[2019-11-18 19:43] rviscomi opened #513 "No, Q is not the most popular physical CSS unit of length"
Regarding https://almanac.httparchive.org/en/2019/css#units @zcorpan on Twitter asked:

I started looking into this and I'm seeing many cases where Q was detected on stylesheets with base64-encoded data. I think these are false positives triggered by a weak regex I wrote for [02_07.sql](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/sql/2019/02_CSS/02_07.sql):

https://github.c

[2019-11-18 19:44] c-torres commented on #498
Should we include the specific pages? Like Table of Contents, Methodology, etc.

[2019-11-18 19:49] rviscomi commented on #512
@bazzadp let's make the `cover` fix even if temporary. If you've tested it and it improves the experience, let's go for it. Great catch, thanks for reporting it.

[2019-11-18 20:01] rviscomi commented on #498
@c-torres there are still some changes happening to those pages so let's leave those for last.

[2019-11-18 20:08] una commented on #513
Oh wow! Yes, good catch there @rviscomi

[2019-11-18 20:20] bazzadp commented on #512
BTW on Chrome it looks like this:

![image](https://user-images.githubusercontent.com/10931297/69090382-c6efa400-0a40-11ea-898a-092cb015342c.png)

With my change it looks like this on Safari:

![image](https://user-images.githubusercontent.com/10931297/69090503-d66eed00-0a40-11ea-975b-13b584fc3666.png)

So not quite the same, but better than whats in there now!

[2019-11-18 20:30] zcorpan commented on #513
Nice catch!

Does the CSS parser you use only give you a string for the whole value? More robust could be to use a CSS parser that gives you a list of component values, where you can iterate each component value and if it's a `<dimension-token>`, ask for its unit. Although that would probably also be slower to run.

It looks like the query only picks up the first length in a value when there are m

[2019-11-18 20:34] rviscomi commented on #513
Yeah it's only a string value. More granular tokenization would be super useful, but not supported by [this parser](https://almanac.httparchive.org/en/2019/methodology#rework-css).

Yes! A value tokenizer would be a big help for questions like this.

You're right. I don't think it would be significant.

[2019-11-18 20:42] zcorpan commented on #513
OK, thanks. https://github.com/tabatkins/parse-css could be used maybe as a wholesale drop-in replacement for next year, or just for tokenizing values specifically (with `parseAListOfComponentValues()` or maybe just  `tokenize()`). cc @tabatkins

[2019-11-18 21:19] #513 closed

[2019-11-18 21:35] rviscomi commented on #513
The fix is live in prod: https://almanac.httparchive.org/en/2019/css#units

[2019-11-18 21:43] rviscomi commented on #470
Related #512

[2019-11-18 21:43] #470 closed

[2019-11-18 23:03] tabatkins commented on #513
Just straight `tokenize()` should work great; `parseAListOfComponentValues` will slurp up the contents of functions and blocks (in particular, the stuff between {} in a style block) and require you to tree-walk to find all the dimension tokens anyway. You just want the straight list of tokens.

(And from what I've heard, tokenize() is pretty dang fast, faster than regex-based methods that people h

[2019-11-19 05:46] mikegeyser commented on #37
So, considering that the content is all static (more or less) and we already generate html for the jinja templates, we can generate a single 'print friendly' view that can be a single index.html page with minimal styling. While not trivial, it would be pretty simple to do.

Making the almanac an offline-eable PWA will just mean having a service worker with some aggressive content caching. We can e

[2019-11-19 07:47] catalinred commented on #512
@bazzadp Thanks for fixing it for now. I'll dig more to find out why Safari behaves like that given the `background-size` value and the current encoded SVG.

We did optimize the SVG and then encoded it so maybe Safari needs more info than SVGO stripped it out. Will make some tests later today and keep you up-to-date.

[2019-11-19 07:52] bazzadp commented on #512
Let’s reopen the issue while @catalinred investigates further.

[2019-11-19 08:38] rviscomi opened #518 "Show page view counts for each chapter"
I'm open to hearing dissenting opinions on this one. It's not entirely necessary. But I have a suspicion that every time we look up the number of comments on each chapter's discussion thread, it [increments the thread's view count](https://meta.discourse.org/t/does-hitting-a-topics-json-endpoint-count-towards-its-views/133763). I'm waiting to hear back from the Discourse people if this is really h

[2019-11-19 08:50] bazzadp commented on #518
I think it would be an interesting stat. Only concern would be if Discourse "fix" this issue? could always remove it then if they do I suppose.

On a similar note, I also think we should add a "Date Published" and "Last Updated" section. The year in the URL kind of gives it away, but no harm being more explicit about how up to date (or not!) the information in the page is - especially as we're tra

[2019-11-19 14:52] fklasen opened #519 "Typo JS chapter"
can unreadable -> can be unreadable

[2019-11-19 15:04] AymenLoukil commented on #37
#75

[2019-11-19 19:11] bazzadp commented on #518
Throwing out some ideas:

![91B797A3-C6B5-4723-8944-490D3BD1C829](https://user-images.githubusercontent.com/10931297/69177423-67a49900-0aff-11ea-8e5e-7273233b0fa6.png)

Probably a bit too busy - especially for chapters with multiple authors. And on mobile.

Could leave either one or both dates off:

![44CCC69A-45A3-46BF-B0C3-A9B29D7E1D35](https://user-images.githubusercontent.com/10931297/69177746

[2019-11-19 21:35] rviscomi opened #520 "Ability to force non-interactive data viz"
In some cases, like printing a paper copy or saving to PDF, it's better to have static images than interactive iframes. The images fit the screen better and don't require interactivity.

I'd like to add support for something like a `?print` querystring parameter on chapter pages that forces all figures to use images. For now it must also disable lazy loading due to a [bug in Chrome](https://bugs.c

[2019-11-19 21:51] bazzadp commented on #520
This should be fairly simple once https://github.com/HTTPArchive/almanac.httparchive.org/pull/511 is merged by either looking at the query string or [detecting whether in print mode](https://stackoverflow.com/questions/1234008/detecting-browser-print-event) and then _not_ upgrading to interactive visualisations in `upgradeInteractiveFigures`, and also removing the lazy-loading tags.

[2019-11-20 00:39] bazzadp opened #524 "Home page on mobile and bouncing"
On mobile the home page seems to be slightly wider than the viewport - you can bounce it from left to right a little, which makes scrolling up and down slightly more difficult.

This is not possible on the other pages (ToC, Contributors, Methodology or Chapters).

[2019-11-20 00:52] the6thm0nth commented on #29
may I join this team to translate into Korean?

[2019-11-20 06:10] catalinred commented on #524
This should be fixed by #523

[2019-11-20 06:50] bazzadp commented on #524
Thanks! - that was annoying me 😀

[2019-11-20 07:27] catalinred commented on #524
Thanks for the heads up! 😀

[2019-11-20 11:34] #512 closed

[2019-11-20 11:40] rviscomi commented on #29
Yes that would be great, thank you @the6thm0nth!

[2019-11-20 13:04] rviscomi opened #525 "Performance Fig 18 shows TTFB not FID"
https://almanac.httparchive.org/en/2019/performance#fid-by-geo

Should be FID by geo chart

[2019-11-20 13:08] fklasen opened #526 "SEO Chapter has incorrect diagrams"
Figure 6 (Meta descriptions) shows the previous diagram in SEO chapter

[2019-11-20 13:10] fklasen commented on #526
Linking has the same issue

[2019-11-20 13:24] bazzadp commented on #526
Updated descriptions as had trouble figuring out what you meant!

[2019-11-20 13:26] catalinred commented on #454
I'm on a  4k 3840x2160 px display at work and even at this size, it would be so hard to make that floating box both sticky and useful, in terms of UX.

Before making it sticky and deciding to add extra JS lines on IntersectionObserver, I'd suggest shrinking its height first, so the UX to be effective when applying the `active` class to its list elements.

### The current height for the floating si

[2019-11-20 13:31] catalinred commented on #497
Wasn't able to reproduce this 1313px behavior, neither on macOS nor on Windows, tried multiple browsers. Can you please give more info on OS and browser?

[2019-11-20 13:44] catalinred commented on #480
What is the desired result on the main menu pages, in terms of `width` and alignment?

Right now, the Methodology page has `article.main {max-width: 1324px}` and both Table of Contents & Contributors rely on using the following CSS rule `.content, section.main { max-width: 1024px}`

---

Also, in terms of overall UI, compared to the index page where we have the "Start Exploring" button on the righ

[2019-11-20 14:10] bazzadp commented on #237
@rviscomi any reason this is still open? Third Party chapter looks done, or are you planning on adding more to this?

[2019-11-20 14:27] bazzadp commented on #525
Looks like it's only the image and the Sheet ref is fine.

[2019-11-20 18:23] rviscomi commented on #237
@bazzadp many of the data viz placeholders for the 3P chapter are commented out, but still outstanding. I need to chat with @patrickhulce about the data first.

[2019-11-21 03:24] ljme commented on #303
Hi bazzadp@ I am slow to respond this week, I'll get you a response as soon as I can, thanks!

[2019-11-21 07:06] rviscomi opened #528 "Typos in CDN chapter"
Per the [CDN discussion thread](https://discuss.httparchive.org/t/chapter-17-cdn/1772/2?u=rviscomi), there are a couple of small typos:

and

[2019-11-21 07:08] #519 closed

[2019-11-21 07:08] #525 closed

[2019-11-21 07:08] #526 closed

[2019-11-21 07:09] #524 closed

[2019-11-21 07:12] rviscomi commented on #480
Yeah I think the header nav links should utilize the horizontal space better too.

The body should always be as wide as the header.

[2019-11-21 07:12] rviscomi commented on #497
I was using Chrome on MacOS. If we can resolve this in #480 I'll close this.

[2019-11-21 07:12] #497 closed

[2019-11-21 07:15] rviscomi commented on #454
IIUC you're suggesting reducing the padding of the list items in the index. If possible I'd like to find  a way to keep the index contents styled as they are, but affix the container so it doesn't move away when scrolling. For small viewports or large lists of contents, the index should be no more than 100% of the viewport height, so it too vertically scrolls.

When scrolling through the chapter,

[2019-11-21 07:23] rviscomi commented on #37
The MVP for this issue can be to build a single page containing all of the chapters without PWA functionality. In theory, saving this page to a PDF would effectively be downloading the entire ebook. Per #520 it should default to static images for the figures.

I'd also love too explore the possibilities with:

- a master table of contents at the top of the page
  - containing the part number, chap

[2019-11-21 08:07] mikegeyser commented on #37
I'd love to work on that next, if that's alright? It sounds fun. :)

[2019-11-21 09:15] realjoker commented on #29
Hi, @performize, have you got my email?

[2019-11-21 12:52] #528 closed

[2019-11-21 14:56] bazzadp opened #530 "Prevent dates flipping on commit"
The date stamps flip depending who commits and what time zone they are in. See https://github.com/HTTPArchive/almanac.httparchive.org/pull/529 for example.

We should change from using `toISOString` to `toUTCString` (see [this Stackoverflow answer](https://stackoverflow.com/questions/17545708/parse-date-without-timezone-javascript)) to prevent this.

[2019-11-22 08:20] rviscomi opened #531 "Logo tweak"
![Screenshot_20191122-092256](https://user-images.githubusercontent.com/1120896/69409722-c9d0ea00-0d09-11ea-83c3-c07521adfd72.png)

Extend the yellow line of the logo to extend fully to the right edge of the word "almanac". It occurred to me right now that it appears to underline the letters "man" which looks weird.

[2019-11-22 11:11] rviscomi opened #532 "Add Apache license info to page footer"
Change

to

cc @brucelawson

[2019-11-22 19:41] #530 closed

[2019-11-23 04:51] c-torres commented on #498
Working on the JavaScript chapter.

[2019-11-23 08:51] rviscomi opened #534 "Use larger images for social metadata"
For example, the appearance of this chapter image is a bit low-res:

![image](https://user-images.githubusercontent.com/1120896/69476162-a031c480-0dd6-11ea-9770-f4c3c3726def.png)

We should use `hero_lg.jpg` for these images as opposed to `hero_sm.jpg`

https://github.com/HTTPArchive/almanac.httparchive.org/blob/d52cb47873d3bcbd558a523d4697d71f269ed92b/src/templates/en/2019/chapter.html#L27-L32

[2019-11-23 09:19] bazzadp commented on #534
Worth giving it a go but not convinced it’ll solve it. Twitter is well-known for compressing images and sometimes losing a little in the process.

Maybe should convert to PNGs? And [add a transparent pixel to prevent conversion back](https://lifehacker.com/stop-twitter-from-turning-your-pngs-into-jpgs-1822461989)?

[2019-11-24 13:23] bazzadp opened #538 "Home page a bit broken on IE11"
Not sure if we care (it's only 1.12% of our traffic according to Google Analytics), but just noticed the home page image isn't in the right place on IE11 and so merges with the "Start Exploring" button. See below

![image](https://user-images.githubusercontent.com/10931297/69495261-e6f9ea00-0ebc-11ea-90ae-c045627e5285.png)

[2019-11-24 14:02] rviscomi commented on #538
I think this is due to lack of grid support. Working as intended IMO.

[2019-11-24 14:29] bazzadp commented on #538
Grand. Happy to close.

[2019-11-24 14:29] #538 closed

[2019-11-25 06:52] SilentJMA opened #539 "Translate 2019 content to French"
These are the core templates - without which we cannot release any translated chapters. They are in the [language specific templates directory](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/src/templates):
- [x] base.html + authors bio - @borisschapira
- [x] base_chapter.html - @borisschapira
- [x] contributors.html - @borisschapira
- [x] contributors.html 2020 - @borisschapira

[2019-11-25 06:54] SilentJMA opened #540 "Translate content to Arabic"
These are the chapters to be translated, and they exist in the [content directory](https://github.com/HTTPArchive/almanac.httparchive.org/tree/master/src/content):
- [ ] accessibility
- [ ] caching
- [ ] cdn
- [ ] cms
- [ ] compression
- [ ] css
- [ ] ecommerce
- [ ] fonts
- [ ] http2
- [ ] javascript
- [ ] markup
- [ ] media
- [ ] mobile-web
- [ ] page-weight
- [ ] performance
- [ ] pwa
- [ ] res

[2019-11-25 07:14] bazzadp commented on #539
Greats stuff @SilentJMA - I've updated your first comment showing what needs to be done. Feel free to stick your name against an item, clone the repo, and submit pull requests (PRs) with your translations.

Note a lot of the visualisation graphics are due to change in https://github.com/HTTPArchive/almanac.httparchive.org/pull/511 so might want to hold off for that for some of the chapters, but th

[2019-11-25 07:16] bazzadp commented on #540
Greats stuff @SilentJMA - I've updated your first comment showing what needs to be done. Feel free to stick your name against an item, clone the repo, and submit pull requests (PRs) with your translations.

Note a lot of the visualisation graphics are due to change in https://github.com/HTTPArchive/almanac.httparchive.org/pull/511 so might want to hold off for that for some of the chapters, but th

[2019-11-25 07:19] bazzadp commented on #38
All did we end up giving up on gitlocalize or are we still using it? Not familiar with it or what it does, but other translators coming on board now (see https://github.com/HTTPArchive/almanac.httparchive.org/issues/539 and https://github.com/HTTPArchive/almanac.httparchive.org/issues/540) so wondering what advice to give them to get them started.

[2019-11-25 07:27] bazzadp commented on #488
Hey @rviscomi could you give advice on how to tag issues correctly while you're out?

I think the Labels are fairly obvious and will try to tag "Good First Issue" as much as possible where appropriate (and also give newbies a chance to answer some of these!! 😀). Let us know any other tips or ways you are using them.

On projects I can't seem to tag Web Almanac-TODO or any other status. Need to per

[2019-11-25 08:26] arsenicraghav commented on #377
Hi.. wanted to work on this one but not sure how to run/load the project, have cloned the repo and went through README.md. Thanks

[2019-11-25 08:30] bazzadp commented on #377
Did you get all the way through the README? Can you run `python main.py` from the src directory and then see the website at http://127.0.0.1:8080 ?

[2019-11-25 09:37] SilentJMA commented on #38
Can you please advice me before i get started on #539 & #540  ?

[2019-11-25 09:51] SilentJMA commented on #539
@bazzadp i will use Gitlocalize

[2019-11-25 10:49] arsenicraghav commented on #377
Can you assign this one to me ?

[2019-11-25 11:09] bazzadp commented on #377
Done. Remember to add yourself as a developer to the `src/config/2019.json` as part of your first PR so you’ll appear as a contributor on the website!

[2019-11-25 16:21] arsenicraghav commented on #518
Can make the page view count manual using pageviewCustomEvent ?

[2019-11-25 16:38] c-torres commented on #498
Working on the CSS chapter.

[2019-11-25 16:41] c-torres commented on #38
For Spanish, we have been working with manual PR so far.

[2019-11-25 16:49] bazzadp commented on #539
As per #38 (in case you didn't see this, or for others coming here late) they've just been submitting manual PRs for this instead of using Gitlocalize. Sorry not familiar enough with it gitlocalise to advise any better so probably best you do that too then.

[2019-11-25 16:56] bazzadp commented on #498
Hey @c-torres just so you're aware, very shortly (I hope - nudge, nudge @rviscomi !!😉 ) we will be merging #511 which contains a change of format for the diagrams and more descriptive text for them.

We already did the JavaScript chapter and I checked and you got the latest version so that's cool. However unfortunately we will need you guys to revist the other chapters you've already done.

So bef

[2019-11-25 17:00] c-torres commented on #498
No worries, thanks for the heads up, really appreciated.

[2019-11-25 17:00] bazzadp commented on #518
Sorry not sure what you mean by this? You mean as a GTM custom event?

If so, I presume we'd still need it to call something to track the page views and seems we've luckily got something that does this already (even if unintentionally!) so why not just use that - as @rviscomi suggests?

Or are you suggesting this as a fix to my concern that Discourse may fix this? If so still not convined it's wor

[2019-11-25 19:22] #428 closed

[2019-11-25 19:22] #432 closed

[2019-11-25 19:34] bazzadp commented on #498
That's now merged to master @c-torres and will shortly be updated in prod. So you're good to grab the latest version. It was the same that was in the branch if you've already started on that. Will raise a separate issue for the other chapters already done to have another look over.

[2019-11-25 20:41] bazzadp opened #542 "Migrate translated chapters to new Data Visualisation Formats"
@HTTPArchive/translators , we have just pushed an update to all the English chapters that updates the format of the Figures markdown. This allows us to only load the interactive Sheets visuals when the client supports them and will use them (mobile devices won't use them, iPads don't support them...etc.). This also added much deeper descriptions of the visuals.

Unfortunately this means we need to

[2019-11-25 20:53] bazzadp commented on #532
This has just been deployed to production and was going to close this but looks like some issues:

Desktop is missing a space:
![image](https://user-images.githubusercontent.com/10931297/69576921-31ff2480-0fc5-11ea-9eea-8135cd97d16a.png)

Mobile has the licence over to the right:
![image](https://user-images.githubusercontent.com/10931297/69576961-46432180-0fc5-11ea-85ec-55f815e61d65.png)

Both se

[2019-11-25 20:57] SilentJMA commented on #539
i'm working on markup maybe i could finish it tonight so i can added it

[2019-11-25 21:00] bazzadp commented on #539
Could you also check you have the latest markdown down for the markup chapter (man that's confusing to type). We just pushed a big fix to all the chapter visuals as per #542.

Changes are here: https://github.com/HTTPArchive/almanac.httparchive.org/commit/8470bed51a02201781176954f56b6103ac392f6c#diff-2f5abb57ff92adb7644369369d209f1e

[2019-11-25 21:01] SilentJMA commented on #38
okay i will be using it manual

[2019-11-25 21:23] bazzadp commented on #379
@AymenLoukil can you rerun this? Just pushed a load of descriptions for the chapters.

[2019-11-25 21:25] AymenLoukil commented on #379
Ok @bazzadp

[2019-11-25 21:26] bazzadp commented on #286
Yeah I don't think it's a big deal, and it's nicer to our contributors so I say we accept this.

@AymenLoukil are we good to close this issues? Alt-tags is being tracked in #379 and rest have either been dealt with or can be accepted IMHO.

[2019-11-25 21:31] AymenLoukil commented on #286
What about the figures files names ?

You create a separate issue ?

[2019-11-25 21:36] bazzadp commented on #286
I think it's a minor thing. And having done the last big bulk update not too inclined to do another!

I care much more about the content being SEO-friendly than the mages anyway. Another item could be that we should watermark all the images with "© HTTP Web Almanac 2019" in case anyone uses them, but again I think that's one for next year unless anyone takes that on?

Nope. I'm saying we accept it

[2019-11-25 21:45] AymenLoukil commented on #286
Visual search is so important and one of the 3 pillars of Google search announced on its 20th birthday. Images are part of the content and text is not more or less important. Having a descriptive/SEO file name is one of the basics of images SEO.

I understand. We could imagine make use of the figure title to slugify it for the image filename.
example : Figure 2. Distribution of JavaScript per page

[2019-11-25 21:46] AymenLoukil commented on #379
It is much better now. We could close the issue.

[2019-11-25 21:47] #379 closed

[2019-11-25 21:56] bazzadp commented on #380
I think 100 KB is a bit strict.

The only ones I'm worried about are:

- https://almanac.httparchive.org/static/images/methodology-banner.png - 403Kb. I've got that down to 152 KB but it is a big image so I'm fine with that.
- https://almanac.httparchive.org/static/images/2019/18_Page_Weight/ch18_fig2_conversion_graph.png - 1.3 MB!!! And the irony that this is an image for the page-weight chapter

[2019-11-25 21:58] SilentJMA commented on #539
when i will finish the markup file i will go back and edited the change

[2019-11-25 22:08] #380 closed

[2019-11-25 22:09] bazzadp commented on #286
Personally I think the effort involved - particularly with the translations well underway now - far outweighs any benefit here.

to prove a point I just Googled which I think might be a typical search request that one of the title might help with:

![image](https://user-images.githubusercontent.com/10931297/69582163-e7cf7080-0fcf-11ea-8f02-7e859ceb944a.png)

As you can see we are **already** as th

[2019-11-26 01:44] MSakamaki commented on #542
OK, I currently translating the SEO chapter, I will start after it is complete. (It will weekend)

[2019-11-26 06:17] bazzadp commented on #141
Hey looks like this did indeed get lost! Looks to me like from [the conversation](https://github.com/HTTPArchive/almanac.httparchive.org/pull/406#issuecomment-552287234) it was agreed to resubmit as a separate PR but don't see that coming in. Not sure if there was confusion as to who would do it.

Can you resubmit as a new PR @hyperpress ? Would be nice to get this in since the back is broken on t

[2019-11-26 06:47] arsenicraghav commented on #400
Is this being worked on by someone ?

[2019-11-26 06:48] bazzadp commented on #400
Nope, not had a chance to look at it yet - go for it!

[2019-11-26 07:30] arsenicraghav commented on #400
Sure! I will give it a shot. can you assign it ?

[2019-11-26 07:45] bazzadp commented on #400
Are you not able to grab it yourself by clicking on the "assign yourself" link?

![image](https://user-images.githubusercontent.com/10931297/69609023-8aafdb00-1020-11ea-8cce-1ff7ff728681.png)

[2019-11-26 07:47] arsenicraghav commented on #400
No, I don't think so. I don't see an option.

[2019-11-26 07:48] rviscomi commented on #400
Need to add @arsenicraghav to the GitHub Almanac team for them to be assignable

[2019-11-26 07:54] bazzadp commented on #400
Well we should add him to there anyway. And to developers. Can you permission me to be able to do that?

However I am able to assign him. So not convinced he _needs_ to be in there. But then that could be cause of my permissions and I can assign anyone? So not sure if it's a permission thing or a UX thing - I think assigning issues in GitHub isn't the most obvious UX and is easily missed!

[2019-11-26 08:07] arsenicraghav commented on #400
@rviscomi  do you mean to say from an existing config file ?

[2019-11-26 09:10] rviscomi commented on #400
Yes, see 2019.json https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/config/2019.json

[2019-11-26 11:38] bazzadp commented on #400
He's already done that as part of #541 .

Think he's asking how he can get access to assign items himself. Just confirmed people in the team can't assign issues to themselves. Can we permission him to be able to do that without full permissions for the repo if we want to keep that locked down a bit for now?

[2019-11-26 15:51] #532 closed

[2019-11-26 15:59] rviscomi commented on #141
I spoke with @hyperpress on Slack and he's going to stage his changes in a new branch, test, and open a PR. I had started making a PR with his changes from #406 but noticed issues with chapter hero images being too small.

[2019-11-26 16:03] #377 closed

[2019-11-26 16:21] rviscomi commented on #400
I've just given @bazzadp @obto and @mikegeyser permission to add members to the [Almanac Contributors team](https://github.com/orgs/HTTPArchive/teams/almanac-contributors) and sent @arsenicraghav an invitation to join the Developers subteam.

[2019-11-26 16:24] rviscomi commented on #286
I think this issue is ok to close and we can open new issues for anything SEO related that comes up.

[2019-11-26 16:24] #286 closed

[2019-11-26 21:49] SilentJMA commented on #539
is it okay to add the file not finished to edit the change ?

[2019-11-26 21:53] bazzadp commented on #539
Sorry not sure what you mean? You want to submit the file partially translated? Or with the old chapter visuals? If so, then yes it's possible, but personally I would do all or nothing if possible. One less thing to track!

You can do several commits, and push to your local branch, if you're worried about losing local commits.

But let me know what you're thinking and can maybe advise better.

[2019-11-26 21:56] SilentJMA commented on #539
because i translated the file its still just the party that got changes but its okay i will go back to you in a few minutes

[2019-11-26 22:08] catalinred commented on #531
I'll extend that yellow line, convert this to an SVG and get rid of the obsolete 2x image approach.

[2019-11-26 22:12] bazzadp commented on #531
While we're on Logo tweaks the HTTPArchive logo rudely cutting off the 'a' has been bugging me for a while.

![image](https://user-images.githubusercontent.com/10931297/69676841-8542a700-1099-11ea-8d9d-ef401071d548.png)

Do we have a better version of this @rviscomi ? Or @catalinred could you create one?

[2019-11-26 22:26] catalinred commented on #531
I'll check this as well and let you know @bazzadp ;)

[2019-11-26 22:36] bazzadp opened #548 "Add Interest Form link to Contributors page"
I really think we’re missing a trick not having an interest form link for next year on the Contributors page.

Either directly or linking to the appropriate part of the Methodology page.

It’s the first place I went looking for it when I was reminded I hadn’t gotten round to signing up for next year yet.

Thoughts?

[2019-11-26 22:45] rviscomi commented on #531
We have an SVG version of the HTTP Archive logo here: https://github.com/HTTPArchive/legacy.httparchive.org/blob/master/images/http-archive-logo-color-nogradient.svg

Related #262

[2019-11-26 22:50] catalinred commented on #531
Awesome, because I didn't find it within the .psd file you sent me a while ago. Thank you!

[2019-11-27 09:39] SilentJMA commented on #539
markup file finished

[2019-11-27 09:40] bazzadp commented on #539
Cool open a pull request for that and then @AymenLoukil can review when he gets a chance.

[2019-11-27 09:44] AymenLoukil commented on #539
Yes. Please ping me when PR is open.
I also added my name in front of some chapters.

[2019-11-27 09:55] SilentJMA commented on #539
@AymenLoukil & @bazzadp  You can check please its really hard to translate to FR

[2019-11-27 10:06] SilentJMA commented on #540
in #540 we will need a change from Left to Right is it possible because it's different to FR/EN/ES.. which start from left to right

[2019-11-27 10:23] bazzadp commented on #540
Yes this is possible.

Everything inherits based off of the `src/templates/_LANG_/2019/base.html` template. This will need to be translated anyway.

This language-specific base.html inherits from the main, language-independent, `src/templates/base.html` file which has the following at the top of the file:

[code]

It is possible to override `{% %}` blocks, so when creating the `src/templates/ar/20

[2019-11-27 10:26] SilentJMA commented on #540
Maybe i can fix it if i try but i don't know i will test it later and see .........

[2019-11-27 10:52] bazzadp commented on #400
I can't seem to invite new people :-( Am I doing something stupid?

![image](https://user-images.githubusercontent.com/10931297/69717459-0171d480-1104-11ea-889b-f43d061ffaf2.png)

Also don't have permission to add people to sub-teams.

[2019-11-27 11:15] rviscomi commented on #400
That's weird, I don't know why you wouldn't be able to add new members.

![image](https://user-images.githubusercontent.com/1120896/69718788-2b63d080-10dd-11ea-88c6-f74848721157.png)

I've also given you maintainer role on the Developers subteam. Maybe that helps?

[2019-11-27 11:16] rviscomi commented on #548
I agree, I think the contributors page makes sense as a place to bring new people in. Not sure about the design aspect though, open to ideas.

[2019-11-27 11:24] bazzadp commented on #540
Submitted #551 to add this ability. will leave you to do the hard part (the translations!). 😀

[2019-11-27 11:30] bazzadp commented on #400
No still can only move people around that are already part of HTTPArchive org.

So I can add anoblet to Alamanac Contributors or Developers as he's part of HTTP Archive Developers, but I can't add people to Almanac who are completely new (like SilentJMA).

[2019-11-27 12:35] rviscomi commented on #400
Ok. There's also a way for people to request to join a team, I think we should try that instead.

[2019-11-27 12:52] rviscomi opened #556 "Code block on methodology page lost syntax highlighting"
On https://almanac.httparchive.org/en/2019/methodology#dataset

![image](https://user-images.githubusercontent.com/1120896/69724838-b8615680-10ea-11ea-9492-5c9b102353d4.png)

I've manually applied syntax highlighting spans and classes to the query but the style selectors are not matching anymore. I think a parent class was renamed or the stylesheet moved or something.

[2019-11-27 13:22] catalinred commented on #548
Usually, you'd want to add a form at the end of the contributors page, but considering the current page design and height, that wouldn't be easy to complete and submit from a UX perspective.

Maybe an idea would be to add a "Become a contributor" call to action near to the main `h1` and link to the current Google Forms? This would be a good start IMO.

Alternatively, we could design/add an avatar/

[2019-11-27 14:19] bazzadp commented on #548
Are we not over thinking this? Wouldn’t an introductory paragraph with a link suffice? I think the page is a bit bare without this anyway.

I’m thinking something like this:

“The Web Almanac was built by a large team of contributors from analysts, authors...etc.

We are still continuing to develop the Web Almanac website including translate the chapters into other languages. We would invite peopl

[2019-11-27 17:21] rviscomi commented on #548
No strong opinions. I kind of like the idea @catalinred was exploring with a silhouette, almost like an index-0 placeholder contributor in the list, which is styled similar to the other contributor items. It doesn't need much text, maybe just a "Join the team" button that links to the interest form or a special CONTRIBUTORS.md file here in the repo.

@bazzadp does that work for you? If you prefer

[2019-11-27 17:41] borisschapira commented on #539
Hi y'all. If I can help translating, I'm available. Feel free to give me a chapter and I'll PR a french translation / or I can help readproof/validate existing translations.

[2019-11-27 18:25] bazzadp commented on #539
Excellent!

At this rate the French translation might be the first to finish - even though it only started last. Is that a challenge!?!? 😜

#550 is waiting on a review from someone with much more French than me.

Also the non-chapter template files haven’t been assigned out so can start on those if you fancy while waiting for the other two to give up some of their greedily grabbed chapters 😉 Those

[2019-11-27 18:28] bazzadp commented on #539
Also see if you can request to join the Translator team: https://github.com/orgs/HTTPArchive/teams/translators/members

[2019-11-27 18:32] bazzadp commented on #548
I’m happy as long as it works! 😀

Will admit I’m struggling to visualise it and see how exactly it’ll be as obvious to people as a simple intro paragraph.

Wanna do a mock up @catalinred ?

[2019-11-27 18:47] bazzadp opened #558 "How to handle chapter visualisations in translations?"
CC: @HTTPArchive/translators

So @rviscomi and I had a brief chat on this last time we met up, but almost of the graphics have English text in them (titles, labels... etc.). Most of them are created by Google Sheets that we are entirely in control of. We currently embed the sheets as iFrames when the client supports it and fall back to locally hosted images when they don’t.

Options for translatio

[2019-11-27 18:51] bazzadp commented on #558
Or could copy the graphics from English sheet to a new French sheet, for example, and give French translator team edit access to that sheet? That way we de-risk breaking the other chapters but also allow the appropriate team to do the translation?

Could even link the data back to the original sheet I presume so if it is changed it should auto update?

[2019-11-27 19:02] tunetheweb opened #559 "Add Search Functionality"
I think we should have the ability to search this amazing collection of data.

We could use Google Custom Search or similar. I’ve used SiteSearch360 a bit since Google stopped offering to accept money for ad-free version of GCS. Though lot of contributors and some sponsorship coming from Google so that’s probably not a runner.

Or alternatively just use main Google with a `site:https://almanac.htt

[2019-11-27 20:18] borisschapira commented on #539
@bazzadp I can't access this page, so I guess I can't request to join.

[2019-11-27 20:20] bazzadp commented on #539
Ah man. Same with this one? https://github.com/orgs/HTTPArchive/teams/almanac-contributors/members

[2019-11-27 20:46] rviscomi opened #561 "Convert JSON config to Python"
2019.json is loaded at runtime, parsed, and stored in memory on the web server. We went down this road because JSON is a convenient format for maintainability, but it's complicating the server-side rendering. This'll get worse as we build a 2020.json and so on.

I propose we ditch JSON and maintain the config directly in Python manually. I think this will simplify a few things in flight, like #557

[2019-11-27 21:22] borisschapira commented on #539
@bazzadp Yes. I don't even see the "Teams" tab, not being in a team.

![Capture](https://user-images.githubusercontent.com/284742/69760264-53e2dd80-1164-11ea-8df6-e678eae0b31c.png)

[2019-11-27 22:11] bazzadp commented on #561
Don't have a strong opinion one way or another to be honest.

Would it still be a config per year (e.g. 2019.py, 2020.py)? Think that's a good thing so would suggest yes rather than directly in other code.

If we are doing a big reformat then should consider design and what else we can solve, as in #398 as you say, but also is there anything else in templates we should pull out to make translation

[2019-11-27 22:24] #531 closed

[2019-11-28 06:52] mikegeyser commented on #561
@rviscomi I have absolutely no problem putting the config in python. It seems expedient.

As an aside, I always rationalise this by asking myself _'if we change config, do we have to redeploy the whole site?'_ If the answer is yes, then I believe that putting it in a config file isn't really meaningful.

[2019-11-28 07:34] borisschapira commented on #539
@SilentJMA You can assign to me the pages of the language specific templates directory, I can help by translating what needs to be translated there.

[2019-11-28 07:39] bazzadp commented on #539
Assigned the first 3 to you there. Some of them are very small and may not even have anything to translate in them, but they are the ones necessary to run the chapter pages in French (once we have at least one of them).

Feel free to comment to grab the rest of those templates once those are done.

Presume you can’t edit the first comment even though you’re assigned to it? Hopefully @rviscomi can

[2019-11-28 07:48] borisschapira commented on #539
@SilentJMA @bazzadp @AymenLoukil In addition, I think we need common rules for translation. Some proposals:

* Web Almanach => keep it that way, even if it's in English. "The Web Almanac" => "Le Web Almanac".
* For other projects names,
* "Products", when talking about a development tools => "Solutions" (not "Produits", which is most often reserved in French for off-the-shelf products or licensed

[2019-11-28 08:17] borisschapira commented on #539
French translators, FYI: if you need/want to execute the project locally to visualize the changes you're contributing, [here's what you need to change](https://github.com/borisschapira/almanac.httparchive.org/commit/5d7fca29c9211c2a2ab561beed9abc17a5300d87) (then follow ./src/README.md python instructions).

[2019-11-28 08:22] bazzadp commented on #539
Yup. Feel free to submit that first one (to add French as a Language) as part of your PR when doing the templates.

The second one (to turn on French) we’ll hold off until we have it all done. Though we have talked about making it easier to release chapter by chapter at some point.

[2019-11-28 10:54] catalinred commented on #548
Pressure on :) but I'll give it a try, not so sure about the upcoming result as I'm not the original designer. I'll dig through the `avatars` images already designed and try to make a rough mockup.

Still, I too agree with you @bazzadp with the paragraph approach til we have a mockup or a better idea.

[2019-11-28 12:08] SilentJMA commented on #539
@borisschapira @AymenLoukil you can join me on a team on Gitlocalize so we can work on it

[2019-11-28 13:09] bazzadp commented on #539
@borisschapira I assigned the rest of the non-chapter pages to yourself since you stormed through the first set.

[2019-11-28 13:33] SilentJMA commented on #539
I add you also @borisschapira there in GitLocalize chose whatever you want and work

[2019-11-28 14:10] borisschapira commented on #539
Perfect! I'll focus on the remaining templates pages tonight, and then I'll contribute.

[2019-11-28 14:14] bazzadp opened #565 "Get a source of country flags"
What's the source of the country flag pngs? Or were they created from scratch?

For example: https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/static/images/es.png

Need a French one and am sure that won't be the last!

[2019-11-28 15:21] c-torres commented on #565
I got the Spanish flag from https://assets.adobe.com/public/44a4899f-53d1-4340-4f28-2eb282e2dc85 but seems like it won't be enough to add flags for all the languages.

[2019-11-28 20:21] borisschapira opened #567 "i18n - Reimplement Almanac logo using text and CSS instead of SVG"
The [PNG Logo](https://almanac.httparchive.org/static/images/logo.png) contains English wording. It looks like it's created from [the SVG logo](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/static/images/logo.svg) unfortunately, the SVG logo has been optimized for Performance and all original text has been replaced by paths.

Is there a way to get an editable version to lo

[2019-11-28 20:23] bazzadp commented on #567
CC @catalinred

[2019-11-28 20:23] borisschapira opened #568 "i18n - Add a way to localize teams' names."
Current team names (Analysts, Authors, Brainstormers, Designers…) are use on [the Contributors page](https://almanac.httparchive.org/en/2019/contributors) to filter people. We should think about a way to localize theses teams' names.

[2019-11-28 20:27] bazzadp commented on #568
Related: https://github.com/HTTPArchive/almanac.httparchive.org/issues/398 and https://github.com/HTTPArchive/almanac.httparchive.org/issues/561

@borisschapira short term, can’t we just have buttons with local wording on the buttons but using the English categories to filter? Though I’m guessing that currently the buttons are dynamically generated so this would mean hard coding the team names? No

[2019-11-28 20:39] borisschapira commented on #568
Short term, I've added "(noms anglais)", aka "(English names)" to the "Filter by teams:" translation, because the buttons are generated from `config.teams.items()` and I don't know the app well enough to know where I could put a key-value mapping dictionary with the translations.

[2019-11-28 20:44] bazzadp commented on #568
Yes but could just replace this:

[code]

with this:

[code]

Hardcoding as a say, but maybe sufficient - at least in short term

[2019-11-28 20:46] borisschapira commented on #568
This presents a risk if a new team is added but if it's okay with everyone, I can do it that way.

[2019-11-28 20:51] bazzadp commented on #568
Agreed but think that's relatively unlikely and think it's far friendlier to French visitors so I say go for it for now. Leave this issue open for longer term options.

Also doing this for now will also give us the translations to use for when (if?) we do implement a better option. Which might be a [lookup table](https://stackoverflow.com/questions/18670606/how-to-use-a-lookup-table-in-jinja) in t

[2019-11-28 21:06] catalinred commented on #548
I managed to make a rough mockup, borrowing some(the whole conclusion) text from the /methodology page, this way we'll have some text content on this page as @bazzadp well suggested.

- Used an expressive (IMO) avatar from the existing avatars folder. That graphic would contain the same link as the interest form link.
- Joined the current "Filter by team:" and "86 contributors" texts for a better

[2019-11-28 21:13] bazzadp commented on #548
Oh I like!!

Still think we should put a line in about GitHub for this year (on both this and the Methodology page).

So change this:

to something like this:

[2019-11-28 21:18] catalinred commented on #548
Glad you like it!

On the content, we should watch out for duplicate content (SEO) issues, so we should write a completely new copy for the contributors page not just partially, just in case we're not thinking about moving that all-the-way-below-the fold text from the methodology page. :)

[2019-11-28 21:38] bazzadp commented on #398
As per https://github.com/HTTPArchive/almanac.httparchive.org/issues/568#issuecomment-559600995 I wonder if we could use a [lookup table](https://stackoverflow.com/questions/18670606/how-to-use-a-lookup-table-in-jinja) in the language specific templates with fallback to English if a language-specific lookup doesn't exist? Might avoid the JSON config getting unwieldy...

[2019-11-28 21:39] catalinred commented on #567
Either you optimize an SVG logo for performance or not, you only want paths/shapes in a final logo SVG outcome. Because if you don't do that, and you rely on a font, you can expect different logos rendering in different OS's due to missing fonts or FOUT(Flash of Unstyled Text) maybe.

I understand your concern when it comes to i18n, but maybe a potential issue is that the logo has too much text it

[2019-11-28 21:45] catalinred commented on #565
When needed for the website, a solution would be maybe to rely on getting/downloading the flags from an open-source repo like https://restcountries.eu/ which also provides the flags in an SVG format? (e.g. https://restcountries.eu/data/col.svg).

[2019-11-28 21:51] catalinred commented on #559
I've used https://community.algolia.com/docsearch/ in the past: it's fast, modern and has a very good documentation.

Also, it's used in the wild with success by lots of open-source projects, e.g. https://reactjs.org/

[2019-11-28 22:05] bazzadp commented on #567
That makes total sense!

So options that I see now are:

1. Live with it and only have English Logo.
2. Create language specific versions of the Logo.
3. Make the Logo less language specific - for example by removing the "by" part:

![image](https://user-images.githubusercontent.com/10931297/69833301-ccac6d00-122a-11ea-8642-8d0a5b5f393c.png)

Or:

![image](https://user-images.githubusercontent.com

[2019-11-28 22:27] catalinred commented on #567
On this premise, considering we're not actually using the proper ["HTTP Archive" custom logo](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/static/images/ha-home.svg) we should translate the "Archive" word too, so I think this path leads nowhere.

I think we shouldn't change it, at least for now. For the 2020 release, maybe we could think about it and revamp a bit the Web

[2019-11-28 22:37] bazzadp commented on #567
Disagree on that. HTTP Archive is the brand name whether we are using the official logo or not and so am fine with that not being translated. Similarly with Web Almanac IMHO. Apple iPhone isn’t Pomme iTéléphone in France - it’s Apple iPhone.

[2019-11-29 06:53] mikegeyser commented on #568
I think it would make sense for the base template to read the team names from a variable, and then each specific translation can override the variables in the contributors page. Something similar to how we set metadata in the `chapter.html`? (I think it's probably close to what you mean by a lookup table @bazzadp)

[2019-11-29 07:54] bazzadp commented on #568
Yes that’s what I was thinking.

[2019-11-29 08:16] mikegeyser commented on #37
Just an update: I'm still planning on working on this, will have a bit more breathing room over the next week. Thanks for understanding! :)

[2019-11-29 08:30] bazzadp commented on #37
No probs. Btw might want to reuse some of https://github.com/HTTPArchive/almanac.httparchive.org/pull/566

[2019-11-29 11:19] bazzadp commented on #488
Hey @rviscomi , I presume you're off for Thanksgiving (Happy Thanksgiving btw!).

Not sure if you're started your break or will be back on this next week? If you see this message then let us know one way or another.

This seems to be fixed for me so thanks!

We still can't invite people to Translators team which I think would be helpful because there's a fair bit going on there and would be good t

[2019-11-29 11:37] bazzadp commented on #534
Did some tests and does look to make a difference. Will submit a PR.

[2019-11-29 12:39] #568 closed

[2019-11-29 14:11] #534 closed

[2019-11-29 14:27] rviscomi commented on #561
Yes and I would suggest that we be a bit more object oriented, where we have something like an AnnualConfig base class which we extend for 2019, 2020, etc. In the base class we can define functions for interacting with the config data.

[2019-11-29 14:40] rviscomi commented on #565
Let's try to find a new source for the flags. IIRC the one the designer used required attribution and the images are extremely unoptimized. Would be nice to find a service that is permissive and doesn't require optimizing.

[2019-11-29 14:50] rviscomi commented on #488
### Labels
Label liberally. "Good first issue" for anything trivially simple or something you're willing to mentor new contributors on.

### Project
Yes, everything in this repo should have the Almanac Project attached. Update the status between TODO/Needs Attention/In Progress/Done accordingly. GH should move things automatically in some cases like closing PRs.

### Milestone
You're correct. No n

[2019-11-29 14:54] rviscomi commented on #567
Yeah "Web Almanac" and "HTTP Archive" are brand names and shouldn't be translated. I see the point about translating "by".

TBH we might just want to consider reimplementing the logo using text and CSS, which will allow us to translate it as needed.

[2019-11-29 14:56] rviscomi commented on #559
This is a "nice to have" and not business critical so I do encourage us to look into it but not spend a lot of time designing or building an elaborate solution.

[2019-11-29 17:16] #520 closed

[2019-11-29 17:36] bazzadp commented on #488
All deployed. Let's call that a freeze unless we see a production issue.

[2019-11-30 00:15] catalinred commented on #556
I dug a bit into this because at first, I thought I messed this up with one of my old commits. 😱

Even though I modified `methodology.html` and `methodology.css` in the past, the latter I only modified it for [merging CSS duplicated rules](https://github.com/HTTPArchive/almanac.httparchive.org/commit/71e0e3e1afbd629f2153da9d098f5eb15047f9a3#diff-99747f4a7bab79e7de9502f180a97932). Then I remembered

[2019-11-30 13:06] bazzadp opened #574 "Optimize website for wide viewports"
As noted [in a recent PR](https://github.com/HTTPArchive/almanac.httparchive.org/pull/573#discussion_r352280309) there are a couple of inconsistencies with the home page, design, notably:

- [ ] - It's full width, but the other pages are constrained (to 1280px or 1324 - note bringing these inline with above PR)
- [x] - The Start Exploring button in the top right, means the other navigation items (

[2019-11-30 13:32] bazzadp commented on #574
I'm gonna suggest constraining the home page width to the same width as the other pages. Gimme a 👍if you agree or a 👎is you prefer it to remain full width.

[2019-11-30 13:33] bazzadp commented on #574
I'm gonna suggest we move the "Start Exploring" button down from the header into the body, so we have a consistent header. Gimme a 👍if you agree or a 👎is you prefer it to remain where it is.

[2019-12-02 14:16] borisschapira commented on #539
Ok I have PR'ed all the templates that have been affected to me. Feel free to "give" me some chapters and I'll translate them as well. @SilentJMA @AymenLoukil: do you want to unburden yourself of a few chapters?

[2019-12-02 14:31] nico3333fr commented on #539
I may help to proofread in french, just tell me which part I have to correct :)

[2019-12-02 14:33] AymenLoukil commented on #539
I unassigned myself to some chapters.

[2019-12-02 14:35] allemas commented on #539
Hi! Hi!
I can help you to translate too! let me know if I can help you and which part to translate :)

[2019-12-02 15:07] borisschapira commented on #539
@allemas @nico3333fr Welcome!

@nico3333fr: there are 2 PR waiting for a review, do you want readproof? In each case, you'll need to compare the FR template to its EN source if you want to check that the translation is accurate.

@allemas look at the very first post of this thread, is there one of the chapters that interests you more than the others and that you would like to translate? If so, fee

[2019-12-02 15:18] SilentJMA commented on #539
yes i did and i'm working now on Gitlocalize

[2019-12-02 15:25] bazzadp commented on #539
Yes, welcome @allemas and @nico3333fr ! Great to have your help!

I'm still struggling with Gitlocalize.

Is it best for everyone to work from @SilentJMA 's GitLocalize for French? In which case can you give everyone edit access @SilentJMA ?

Or should you all work on your own forks? And potentially have your own GitLocalize there if you want?

Sorry but not familair with it to know...

[2019-12-02 15:28] SilentJMA commented on #539
We can work on my RP so we can keep track on each other

[2019-12-02 15:43] allemas commented on #539
Thanks !
I forked the repo and I'd start with caching. Is it ok? :)

[2019-12-02 15:50] SilentJMA commented on #539
i will add you to gitlocalize and work on it there

[2019-12-02 16:20] nico3333fr commented on #539
Yes, will jump on it asap :)

[2019-12-02 17:59] bazzadp commented on #539
Hey @allemas / @nico3333fr I've just sent you an invite to the project so we can assign tasks to you. Let me know once accepted (or if you didn't get the invite!)

[2019-12-02 22:17] allemas commented on #539
Thanks, it's ok for me now :)

[2019-12-03 07:51] SilentJMA commented on #539
@allemas did you join gitlocalize so i can add you to the team ?

[2019-12-03 08:34] borisschapira commented on #539
Note: I added "Common notes for writing consistency:" to the top post of this thread.

[2019-12-03 08:37] borisschapira commented on #539
@SilentJMA I see that you've kept the "third-parties" chapter. Please note some I translated the introduction because it's featured on the index template. If you want to modify something (because it's more consistent with the way you write), please also modify [the featured extract](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/templates/fr/2019/index.html#L99).

[2019-12-03 08:38] allemas commented on #539
Yes i did, what is the next step ?

[2019-12-03 08:43] SilentJMA commented on #539
i will let you get it and i will get something else

[2019-12-03 08:43] SilentJMA commented on #539
done

[2019-12-03 09:57] nico3333fr commented on #539
Done, accepted :)

[2019-12-04 16:13] nico3333fr commented on #539
You may assign me the accessibility chapter @SilentJMA :)

[2019-12-04 16:29] bazzadp commented on #539
You should now have permission to edit the first comment to assign it yourself @nico3333fr

[2019-12-04 16:40] nico3333fr commented on #539
@bazzadp right, done, thanks :)

[2019-12-04 21:07] bazzadp commented on #574
@HTTPArchive/developers anyone got an opinion on this?

[2019-12-04 21:11] bazzadp commented on #558
@HTTPArchive/translators anyone any thoughts on this?

[2019-12-04 21:33] SilentJMA commented on #558
If we made separate sheet that belong to every language is good but the other question how we will deal if we switch the language to arabic for exampl?

[2019-12-04 21:40] catalinred commented on #574
The index shouldn't necessarily use a fixed page width as the other pages, as it can use a mix from both worlds .e.g. full width header, fixed-width featured chapter, then full-width contributors block design etc.

I do agree on the point that stuff should be implemented consistently, therefore the index page should use indeed the newly added `.container` used within #573 but that's another story

[2019-12-04 21:56] bazzadp commented on #558
Then we create a separate sheet for Arabic. Sorry I don’t understand why that would be an issue?

[2019-12-04 22:10] bazzadp commented on #574
To be clear, I have no problem with multiple links to the same page especially if some of those links are in the header and if we specially want to call them out in the body. And I actually quite like the “Start Exploring” call to action. I just think it’s current location is problematic as the menu items jump between pages so it’s not consistent so think it should be moved down out of the header.

[2019-12-05 09:00] #398 closed

[2019-12-05 11:49] SilentJMA commented on #558
The RTL because in arabic the text is from right to left

[2019-12-05 11:57] bazzadp commented on #558
Yeah but then in the Arabic version just change the labels to make them read RTL. That’s the whole benefit of having own sheet with own version of graphs and images - can make the labels say whatever you need in whatever way is most appropriate for that language.

[2019-12-05 14:55] realjoker commented on #29
since I still haven't got any information from @performize, could @rviscomi point me in the right direction on what I should do?

[2019-12-05 15:12] bazzadp opened #585 "Translate content to Italian"
These are the core templates - without which we cannot release any translated chapters. They are in the [language specific templates directory](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/src/templates):
- [ ] base.html -
- [ ] base_chapter.html -
- [ ] error.html -

**2020**
- [ ] base.html -
- [ ] contributors.html -
- [ ] index.html  -
- [ ] table_of_contents.html -

**2019

[2019-12-05 15:21] bazzadp commented on #29
Hi @realjoker

Thanks for agreeing to help with this!

I have opened #585 for this and sent you invites to the Contributor and Translator teams at which point you will be able to edit the issue to assign yourself to chapters so others know you are working on them. In meantime I’ve assigned the first chapter to you.

You need to fork the project in GitHub and then translate the documents and submit

[2019-12-05 17:06] catalinred commented on #574
To be clear as well, I was just trying to add to the conversation as you asked above for an opinion and as you know, I also raised the "jumping" header issue  [here](https://github.com/HTTPArchive/almanac.httparchive.org/pull/573#discussion_r352284312).

FWIW, I still believe multiple links to the same page within a menu is a UX issue.

[2019-12-05 17:17] bazzadp commented on #574
Oh within a menu I agree with you.

I just meant I like having the “Start Exploring” call to action itself, just not in the menu. It should be moved down the page IMHO. But actually, I forgot there is already another “Start Exploring” button there (in yellow)!

![EF51A841-60D6-4315-B2EC-D5E77E4AD80C](https://user-images.githubusercontent.com/10931297/70257793-514b3e00-178b-11ea-8c23-a4c909a3399f.j

[2019-12-06 08:14] bazzadp opened #586 "Translate content to Japanese"
These are the chapters to be translated, and they exist in the [content directory](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/src/content):

**2020**
- [ ] capabilities

**2019**
- [x] accessibility - @MSakamaki
- [x] caching - @ksakae1216
- [x] cdn - @ksakae1216
- [x] cms - @ksakae1216 (requires review)
- [x] compression - @ksakae1216 (requires review)
- [x] css - @ksakae121

[2019-12-06 08:16] bazzadp opened #587 "Translate 2019 content to Russian"
These are the core templates - without which we cannot release any translated chapters. They are in the [language specific templates directory](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/src/templates):
- [ ] base.html (2019) -
- [ ] base.html (2020) -
- [ ] base_chapter.html-
- [ ] contributors.html (2019) -
- [ ] contributors.html (2020) -
- [ ] error.html-
- [ ] index.html

[2019-12-06 08:18] bazzadp commented on #38
Closing this as being tracked in separate issues now: #586 , #498 and #587

[2019-12-06 08:18] #38 closed

[2019-12-09 07:27] #480 closed

[2019-12-09 08:46] catalinred commented on #556
Fixed by #573

[2019-12-09 08:46] #556 closed

[2019-12-10 00:57] c-torres commented on #498
Submitted a PR for CSS translation. Will continue working on Media Chapter.

[2019-12-10 02:22] ljme commented on #303
Hi bazzadp@

Please take a look at [the Accessibility page](https://almanac.httparchive.org/en/2019/accessibility) for an example of the graphs working as expected in terms of descriptions being provided for screen reader users. For example, if you take a look at the HTML for Figure 2, you'll see that this is the description I wrote that is referenced by aria-describedby:
Vertical measuring percen

[2019-12-10 05:56] ljme commented on #303
I also just wanted to add that I hope that answer was helpful, please let me know if you have more questions or concerns!

[2019-12-10 06:56] bazzadp commented on #303
Hi @ljme , thanks for responding But I’m not sure you answered the question I was asking.

You seem to have looked at the description in the example. I agree it’s a little light in this example and does convey the full detail that is shown on the graph so this particular example should probably be expanded upon. I look into that separately and try to review all the figures again.

However, I was l

[2019-12-13 00:54] ljme commented on #303
I need to pass on responding to this thread at this time due to other commitments.

@rviscomi Can you connect @bazzadp with another engineer who can answer the specific questions outlined in the comments above? Thanks so much!

[2019-12-16 19:04] kleinab commented on #303
Hi @bazzadp, it might be helpful to know that there is order of operations in ARIA. So for example, if you want to name an element, the name will be resolved in the following order:
aria-labelledby, aria-label, alt, <label> attribute, inner text, title, placeholder, <file name>
So aria-labelledby takes precedence over all of the other ways to name an element. In other words, if you had a different

[2019-12-16 19:50] bazzadp commented on #303
I think so thanks for confirming. So it’s fine to have the alt tag (for SEO) and duplicate the value in labelled-by (for accessibility so it doesn’t repeat the figcaption).

So I think we’re good except the color contrasts now.

[2019-12-19 12:34] ksakae1216 commented on #29
Hi, I want to help Japanese translation!!

[2019-12-19 13:06] bazzadp commented on #29
Excellent news! That's being tracked in #586 so head over there and hook up with @MSakamaki to divide up the work.

[2019-12-19 13:11] bazzadp commented on #586
@ksakae1216 has expressed an interest in helping out.

@ksakae1216, for a start it would be great if you could review @MSakamaki 's work so far in https://github.com/HTTPArchive/almanac.httparchive.org/tree/master/src/templates/ja/2019/chapters and see if you spot any issues with the translations?

After that I've sent you an invite to the team and when you accept that, you should be able edit the

[2019-12-19 13:20] Conceptualise commented on #51
Create table size(name ENUM('Small', 'Medium','Large'); this string is used for what purpose in a[ website designing](https://www.conceptualise.in/web-design-company-in-delhi)

[2019-12-19 21:26] rviscomi opened #593 "Finding authors for 2020"
I know, I'm supposed to be on vacation, but I had a thought about the 2020 edition that I wanted to write down before I forget. To encourage different perspectives, I think it's important to have new first-time authors. Who better to nominate the 2020 author of a chapter than its 2019 author?

My idea is to ask all 2019 authors to nominate a ranked list of 3 people who they would like to see take

[2019-12-21 04:38] ksakae1216 commented on #586
@bazzadp, Thank you.

I have a question.
What should I review first?
I looked at the link but didn't know what to review.

[2019-12-21 07:19] bazzadp commented on #586
@ksakae1216 , ideally we'd have a second person reviewing all translations before we merge them to master. It's amazing what a second pair of eyes can spot. So anything you translate, @MSakamaki will review, and similarly anything he translates you can review. And if we get a third (or fourth!) Japanese translator then we can spread the load.

However when @MSakamaki translated those first three c

[2019-12-21 10:19] bazzadp commented on #586
Oh just realised I gave the wrong link! That's proibably why you're confused. Try this one: https://github.com/HTTPArchive/almanac.httparchive.org/tree/master/src/content/ja/2019 (and edited above comment).

[2019-12-21 10:23] bazzadp commented on #593
SGTM. I'd also say the editors of each chapter would be natural fits as well - though perhaps not fitting with the "new voice" you're looking for?

And could also add a tagline to each chapter ("Interested in HTTP/2? We're looking for expert Authors for the 2020 edition to please apply through [our interest form](InterestFormURL)")

[2019-12-21 11:47] ksakae1216 commented on #586
@bazzadp , Thank you proposal.

I check three translated chapters.

Next, I will discuss to @MSakamaki whether rules should be created like the French team.

[2019-12-21 14:33] borisschapira opened #594 "Graphic ressouce: need a French flag"
As for the French translation, we are going to need a Français.png (maybe change the way the file is name to remove the diacritic), on the model of https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/static/images/English.png, used on the language selector when multiple languages are available.

[2019-12-21 14:35] bazzadp commented on #594
Going to close this @borisschapira as already being tracked in https://github.com/HTTPArchive/almanac.httparchive.org/issues/565.

[2019-12-21 14:35] #594 closed

[2019-12-21 17:59] bazzadp commented on #540
Interesting article I came across about handling rtl text: https://www.rtlstyling.com/posts/rtl-styling/

Reminded me of this issue so I thought I’d post here (in part to remind myself!) in case we need to do any more with the styling after translations are done.

[2019-12-21 18:48] bazzadp commented on #539
How are we getting on guys?

I just checked our GitLocalize and see three chapters in review for a couple of weeks. Are any of them ready to be submitted as pull requests yet or still working through them?

[2019-12-21 20:12] borisschapira commented on #565
Here's a whole set of flags downloaded from Wikipedia and checked to be in
Public Domain or otherwise exempt from Copyright: https://github.com/google/region-flags

Can it help?

[2019-12-21 20:17] bazzadp commented on #565
Nice find! I think they’ll do nicely.

Now just need to check how they integrate into the design (the current examples are circular I think so may need some CSS to fit in) and then check in the ones we need.

[2019-12-21 20:23] borisschapira commented on #539
I've been pretty busy for the last three weeks, but here I am again. I PR'ed a chapter and now I'll move on to the review of @SilentJMA's work.

[2019-12-22 10:12] ksakae1216 opened #596 "Reviewed the Japanese translation of markup and found a problem"
- Figure 4. Histogram of Hixie's 2005 analysis of element types per page. 日本語訳「2005年にHixieが分析したページ毎の要素タイプのヒストグラム。」に"図４"がない 

- 「フnoframes」 is typo

- Unnecessary underbar "0.01％でさえ_20万のサイト_" 

- The first part not translated 「Products (and libraries) and their custom markup」  

- 「Figure 10. Other popular elements in the context of product-specific and native elements with under 5% adoption.」 no l

[2019-12-22 11:14] bazzadp commented on #596
Thanks for reviewing @ksakae1216 but I think for these small tweaks you can go straight to submitting as a pull request. @MSakamaki can then either approve or comment on it and then we can accept it more easily.

[2019-12-22 23:24] JustinyAhin commented on #539
Hi ✋.

I found about this year Web Almanac a few days ago, and saw today on a tweet of @borisschapira that it is possible to contribute with translation.

I'll start translating the CMS chapter. So, how does it works? Does it needs to be assigned to me?

Also, I'm a native French speaker, so I'll be happy to review PR :)

[2019-12-22 23:57] bazzadp commented on #539
Hi @JustinyAhin , welcome onboard!

I've assigned you the CMS chapter by editing the [first comment](https://github.com/HTTPArchive/almanac.httparchive.org/issues/539#issue-527885745). I've also sent you invites to the team so you'll be able to edit this comment in future.

The way it works is you grab one of the unassigned chapters like above, clone the repo, and then submit a PR with the transla

[2019-12-23 01:58] MSakamaki commented on #586
Hello @ksakae1216 !

As for the translation rules for Japanese, I am currently working on the following rules:

Nayori of foreign words
https://www.jtca.org/standardization/katakana_guide_3_20171222.pdf
https://www.bunka.go.jp/kokugo_nihongo/sisaku/joho/joho/kijun/naikaku/gairai/index.html

Japanese proofreading (automation recommended, I useing Tool)
https://marketplace.visualstudio.com/items?ite

[2019-12-23 02:13] MSakamaki commented on #596
Thank @ksakae1216 !
I check soon! Please wait for a while.

[2019-12-23 07:02] ksakae1216 commented on #596
@bazzadp , Thanks for comment.
I see.

[2019-12-23 11:23] nico3333fr commented on #539
I was also very busy, but next week, I'll probably be available :)

[2019-12-23 11:29] bazzadp commented on #539
Not a problem all. Appreciate this can be a busy time of year and this is being done on a volunteer basis. Hope you all enjoy the holiday season and don't worry about getting this this when you should be taking time off - I was just checking we hadn't missed a PR that was ready to land!

[2019-12-23 17:35] ibnesayeed opened #599 "Top HTML elements plot is hiding y-axis labels"
In the [Markup chapter](https://almanac.httparchive.org/en/2019/markup) under the "Perspective on value and usage" section, the "Top HTML elements" plot hides important y-axis labels. These labels are not sequential that can be inferred from the values above and below. While the the plot on the page is interactive and one can hover over any bar to see the corresponding label, I still think it is i

[2019-12-23 22:46] ksakae1216 commented on #596
Thanks @MSakamaki
I will pull-request from next time

[2019-12-27 11:33] #596 closed

[2019-12-27 11:50] #262 closed

[2019-12-27 21:24] bazzadp commented on #361
@hyperpress think this got lost in the fun of the release, so I went ahead and submitted this in https://github.com/HTTPArchive/almanac.httparchive.org/pull/603. Would be good to have your input as I implemented it slightly differently than you had.

Still considering how to do the same for the home page...

[2019-12-28 15:00] AymenLoukil commented on #565
Hi!
Adding Countries flags is not coherent since we are not targeting specific regions. All the contents on Web Almanac are targeting language only and not language-country.

[2019-12-28 15:07] borisschapira commented on #565
@AymenLoukil Interesting take. Maybe we could only display the language code in a future iteration.

[2019-12-28 15:59] bazzadp commented on #565
An interesting thought though not sure I agree 100%. It’s definitely American English for example. So it’s right to show the American flag rather than the UK or English flag.

I imagine the other translations will be similar and will be slanted towards one county’s use of that language (probably set but the first translator for that language who will likely set the standard for the translations fo

[2019-12-29 22:22] bazzadp commented on #303
In regards to these:

I'm not an expert but I'm not sure we do need to do anything here. The WCAG standard states the following [according to MDN](https://developer.mozilla.org/en-US/docs/Web/Accessibility/Understanding_WCAG/Perceivable/Color_contrast):

Type of content | Minimum ratio (AA rating) | Enhanced ratio (AAA rating)
-- | -- | --
Body text | 4.5 : 1 | 7 : 1
Large-scale text (120-150% lar

[2019-12-29 22:28] bazzadp commented on #350
I'm going to close this. I think now we've launched and we're getting less interaction from the wider team this would be a huge effort to implement on most of the contributors and, like @rviscomi , I'm not convinced of the need. Maybe one for the 2020 edition.

Feel free to reopen if you strongly disagree.

[2019-12-29 22:28] #350 closed

[2019-12-30 00:30] ksakae1216 commented on #586
Hi @MSakamaki

Thanks advice.

I see.

[2019-12-30 04:55] MSakamaki commented on #586
@ksakae1216
After translating accessibility, I tried to change Japanese proofreading to [textlint](https://github.com/textlint/textlint).
Using this, I would like to match the expressions as much as possible.

Your settings can be made as shown in the following link.
https://gist.github.com/MSakamaki/a3b7cbf57231b6287a19be28534cb50d

Do you have any opinions?

[2019-12-31 02:43] ksakae1216 commented on #586
@MSakamaki

No problem.

I try add vscode plugin.

[2019-12-31 02:45] ksakae1216 commented on #586
@bazzadp

I have a question.

"Figure 4." of the following document has no png file. Is it OK?
https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/content/en/2019/seo.md

[2019-12-31 07:50] bazzadp commented on #586
This is not really a figure but more highlighting of a particular state (often called a [pull quote](https://en.wikipedia.org/wiki/Pull_quote)):

![image](https://user-images.githubusercontent.com/10931297/71613895-acacf800-2ba0-11ea-9ff4-d46a7003c5c3.png)

We have basically 4 types of "figures":

1. Tables of stats we have gathered, like [Figure 11 in the SEO chapter](https://almanac.httparchive.

[2019-12-31 15:02] #361 closed

[2020-01-03 07:25] #413 closed

[2020-01-03 08:18] #141 closed

[2020-01-03 09:04] ksakae1216 commented on #586
@bazzadp
Thanks, Explanation figures.

[2020-01-03 20:12] craigfrancis opened #617 "Add warning about the costs involved with Google BigQuery"
Just taking a simple query from this repository, and modifying it just a little bit, could easily result in a £126.73 bill... not joking, that's what I've just been charged.

There are no warnings this will happen, no quotas, no limits.

The only thing you will get is a "100% of budget reached" email several hours after the damage has been done.

So please add some warnings, anything, that the SQL

[2020-01-04 18:39] bazzadp commented on #617
I think we should add a warning to the Methodology section and also the updated README talked about in #448 ? Maybe with a link to Tim Kadlec’s post on this: https://timkadlec.com/remembers/2019-12-10-using-bigquery-without-breaking-the-bank/

What do you think @rviscomi ?

[2020-01-06 18:30] rviscomi commented on #488
I'm back!

[2020-01-06 18:30] #488 closed

[2020-01-06 18:49] rviscomi commented on #617
I wish the data could be free to analyze but here we are. I'm sorry @craigfrancis for the unpleasantly surprising bill :confounded:

+1 to all of @bazzadp's suggestions.

[2020-01-06 18:50] rviscomi commented on #400
@arsenicraghav any update on this?

[2020-01-06 18:51] rviscomi commented on #37
@mikegeyser  have you made any progress on this?

[2020-01-06 18:57] rviscomi commented on #558
Language-specific sheets SGTM and seems like the lowest friction option.

[2020-01-06 19:06] rviscomi commented on #574
+1 to fixed width

Not sure about the Start Exploring button consistency issue. 40% of visitors land on the home page and I think it's good to have as many prominent calls to action as the UI can afford. The header links jumping is a valid point but there are other home-specific aspects of the UI that change as well (eg the header background) so I'm not too concerned about it.

[2020-01-06 19:12] rviscomi commented on #587
I've created a blank [Translators' Guide](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Translators'-Guide) wiki page. @bazzadp it'd be great to consolidate any other translation advice there.

[2020-01-06 19:18] rviscomi commented on #539
Just wanted to pop in and say that I'm super impressed to see all of the support for getting the content translated to French. Thank you to everyone who's stepping up!

[2020-01-06 19:24] rviscomi commented on #599
Thanks @ibnesayeed that's a valid concern. I'm hesitant to change the UI of the chart because if it's tall enough to show each row's label, it will be extremely tall and require a lot of scrolling. The benefit of having it compact like this is that you can read any row and still see the x axis markers. As a compromise, maybe one option is to add a link in the figcaption to the full results in the

[2020-01-06 19:31] rviscomi commented on #565
Let's just remove the flags from the UI and rely on the translated name of the language per [Best practice for presenting languages](http://www.flagsarenotlanguages.com/blog/best-practice-for-presenting-languages/).

[2020-01-06 19:34] bazzadp commented on #488
Woo hoo! Welcome back and hope you got enough of a break.

[2020-01-06 19:36] bazzadp commented on #400
We asked @arsenicraghav to pause working on this in https://github.com/HTTPArchive/almanac.httparchive.org/pull/557#issuecomment-559807009 until we'd figured out #561 - which we haven't figured out yet! 😀

[2020-01-06 19:37] rviscomi commented on #303
Thanks @ljme @kleinab and @bazzadp for looking into these issues. I agree this issue has been appropriately addressed and can be closed. If there are any specific a11y problems that come up we can address them in new issues.

[2020-01-06 19:37] #303 closed

[2020-01-06 19:42] bazzadp commented on #565
Please leave open. Updating the branch to follow your suggestion. Will let you know when good to go (almost done).

[2020-01-06 19:44] rviscomi commented on #400
Thanks for the reminder :sweat_smile:

[2020-01-06 19:44] ibnesayeed commented on #599
The issues is, most of the time people are interested in the top of the list, but the Y-axis shows `html`, `meta`, `script`... hiding many of the important elements and suggesting `meta` to be the second most popular tag for someone who is casually looking at the plot. I understand the height issue, but is aesthetics more important than usability? I realized that for every visible Y-axis label the

[2020-01-06 19:57] rviscomi commented on #599
I think that's a great point. The need to show 150 items is the underlying issue. I wouldn't want to change that now as it's ingrained in the chapter prose but definitely something we need to keep in mind for future visualizations.

As for how to handle it now, I made the height adjustments to [this example graphic](https://docs.google.com/spreadsheets/d/e/2PACX-1vTbHgqcSepZye6DrCTpifFAUYxKT1hEO56

[2020-01-06 19:58] bazzadp commented on #599
My view is that is better and we should switch to it - despite being quite long.

[2020-01-06 19:59] rviscomi commented on #599
cc @bkardell

[2020-01-06 20:03] bkardell commented on #599
Yeah, I saw this and was considering how to reply... I actually kind of like the idea of linking to a full page like your example, but leaving the inline visualization as is.

[2020-01-06 20:04] #565 closed

[2020-01-06 20:06] rviscomi commented on #599
Oh interesting idea. So rather than linking the figcaption to the Sheet we link to the new graphic, with some verbiage like "full size" or "show all". I like it. Other ideas/thoughts?

[2020-01-06 20:17] bazzadp commented on #587
Done!

[2020-01-06 20:21] ibnesayeed commented on #599
This new one looks good to me. I tried replacing this image inline on the page which only increased the overall vertical page scroll height by less than 4% (this number will be different for different viewport sizes). To be honest, the new image is only slightly taller than the follow up figure (i.e., Figure 8. Element popularity categorized by standardization) on the same page.

It is possible to

[2020-01-06 21:00] bkardell commented on #599
I mean - a few things here... you are saying 1 graph alone does that, and this is already a long piece.  Long pieces are kind of hard to consume in general imo - if people see a lot of scroll is necessary they are less likely to read - so I'd rather not add to it if we can avoid it.  In terms of necessary scrolling just to consume that image, on my laptop this image is ~3x the height fully expande

[2020-01-06 22:52] bazzadp commented on #617
Added some suggested text in #618. @craigfrancis couldn't add you as a reviewer but feel free to comment on the PR.

[2020-01-06 22:53] bazzadp commented on #617
Note have left the README out of this as can do in #448

[2020-01-06 23:43] bazzadp commented on #574
BTW this gets worse when you add the Language switcher:

![image](https://user-images.githubusercontent.com/10931297/71856733-d6a07600-30dc-11ea-8f9b-3172a69e8786.png)

Without this extra CTA it's much neater IMHO with logo on left, nav in middle, and language on right:

![image](https://user-images.githubusercontent.com/10931297/71856758-ecae3680-30dc-11ea-8d73-e68772fda089.png)

So I still think

[2020-01-06 23:53] bazzadp commented on #574
And btw another design issue on the home page is the buttons:

- Top right "Start Exploring" CTA is filled yellow (empty on hover).
- Next "Start Exploring" CTA is empty (yellow on hover).
- Featured Chapter CTA is filled dark blue (empty on hover).
- "See all Contributors" CTA is empty (yellow on hover).
- "Learn about our Methodology" CTA is empty (dark on hover)

Shouldn't these be more consist

[2020-01-07 11:13] craigfrancis commented on #617
Thanks @bazzadp, I think that will help.

Just on a personal note, thinking about the pages I viewed before experimenting, I did check over the README first (so an update on that would be good), and I think the Getting Started page on the main HTTP Archive page would also be useful as well (I've just created a separate issue on that project).

[2020-01-07 11:18] mikegeyser commented on #37
Hey!

I've written and deleted a bunch of code, so I might be spinning my wheels a little bit. Getting all of the content generated in a single file is the easy part, but it's huge (like 1mb raw markup) and doesn't look great. It increasingly feels like book and SPA may be mutually exclusive?

Do you have an example of what you were hoping for? Perhaps something like [this](https://addyosmani.com/

[2020-01-07 21:28] bazzadp opened #619 "Ensure Google Cloud Components is back on latest version"
As noted in https://github.com/HTTPArchive/almanac.httparchive.org/pull/533#issuecomment-557672159 I had to downgrade Google Cloud Components to get it to deploy because of an issue with Google Cloud at the time.

As noted in the [stackoverflow issued linked from above](https://stackoverflow.com/questions/59000291/cant-deploy-to-app-engine-standard-with-gcloud-components-272-0-0) this is now resol

[2020-01-08 04:32] rviscomi commented on #37
Hey Mike!

Yeah don't worry about SPA functionality. Everything from the TOC, all 20 chapters, and the methodology should all be rendered to the same (extremely long) page so there's no need for any extra client/server-side rendering of secondary pages. 1 MB sounds like a lot so maybe we can optimize the loading of figures. In any case, do you have a branch I could play with to see how it looks?

[2020-01-08 09:06] mikegeyser commented on #37
The biggest problem I have (for page numbers and the TOC) is that the CSS Generated Content for Paged Media Module (css-gcpm) isn't supported in browsers yet. We *could* look at generating straight to PDF using Prince (as mentioned in Rachel's article) but I haven't committed us to anything yet.

If I'm on the right track, let me tidy some stuff up and I'll push a branch for you to look at.

[2020-01-08 11:57] mikegeyser commented on #37
I've pushed what I have so far to a [branch called ebook](https://github.com/HTTPArchive/almanac.httparchive.org/tree/ebook). It's still very rough, but please feel free to let me know what you think.

[2020-01-08 13:50] mikegeyser commented on #37
Okokok this is cool. :D

I've had *some* success with [weasyprint](https://weasyprint.readthedocs.io/en/latest/features.html#css-generated-content-module-level-3), and while huge (17mb!) you can see the results [here](https://github.com/HTTPArchive/almanac.httparchive.org/blob/ebook/src/templates/en/2019/ebook.pdf).

What do you think?

[2020-01-08 14:30] bazzadp commented on #37
This is VERY cool!!! Table of Contents is even hyperlinked to pages!

Presume this is server-side generated, and woudl be part of `npm run generate`?

Some nits I've spotted (and know this is just an early version and you've probably got some of these on your to do list, but thought I'd list them anyway cause I'm annoying that way):

- Title is set to "None | 2019 | The Web Almanac". This is what

[2020-01-08 14:32] mikegeyser commented on #37
Yes, you're right about it being a part of the generation process. Those points are **all** valid, and will work through them. :D

[2020-01-08 14:34] mikegeyser commented on #37
We could also generate an appendix for all of the urls, with a page reference?

[2020-01-08 15:28] bazzadp commented on #37
Possibly, would there be a link after each one? So something like this:

With 243 being the appendix reference to the URL? Might be easier just to list the URL to be honest...

And on that note, by happy coincidence just got this into my inbox: https://www.sitepoint.com/css-printer-friendly-pages/ and it suggests the following to add links:

[code]

Though should limit this to just the chapter tex

[2020-01-08 18:30] rviscomi commented on #37
This looks awesome @mikegeyser! 467 pages!!!

More to iterate on but this is a great start.

[2020-01-08 20:32] rviscomi commented on #574
I have no strong feelings about this so your idea SGTM.

I don't think this will give us much better visibility without also adding unique IDs to the buttons.

At the time our designer gave me a good reason for these but it's not obvious to me now. I agree that we can be more consistent.

[2020-01-08 21:10] bazzadp commented on #574
Oh good point! Yes either the link or a parent needs an I’d. Happy to turn these on if I submit a PR with this? Think it would also be good for future anyway in case a question like this arises.

[2020-01-09 07:43] mikegeyser commented on #37
I've updated the original issue to consolidate a list of what we feel needs to be done for us to consider this complete.

Would it be alright for me to open up a long-running PR for this, so that people can see the extent of the changes and chime in?

[2020-01-09 08:05] rviscomi commented on #37
Go for it!

[2020-01-09 12:08] bazzadp opened #622 "Generating chapters does not work on Windows"
Currently line 26 of generate_chapter.js to the following:

[code]
which only works on linux/mac based systems.

For windows this needs to be:

[code]

Ideally we should auto detect this and use the appropriate regex.

[2020-01-09 12:37] #622 closed

[2020-01-09 13:14] bazzadp commented on #37
Added some requirements.

I think we need to decide on the purpose and scope of this. Is the intention to have a viewable PDF? Or a printable PDF? Or Both?

As I alluded to earlier, think those have slightly different requirements (for example whether to display links, whether to change headings from left to right, whether to use real page numbers of start at page 1 for first chapter...etc.) and t

[2020-01-10 17:19] bazzadp opened #625 "Spanish JavaScript chapter: Update note on frameworks section"
@c-torres / @JMPerez , we've added an extra clarification to the JavaScript chapter in #624 . Any chance you could update to add the same to the Spanish version of this chapter?

CC: @housseindjirdeh

[2020-01-10 17:26] bazzadp opened #626 "Methodology French Translation - extra changes needed"
@borisschapira we added a this line to line [386](https://github.com/housseindjirdeh/almanac.httparchive.org/blob/b68deaa02581b8b59dc422d396de928878030c74/src/templates/en/2019/methodology.html#L386) of the Methodology section in #592:

        All detection tools, including Wappalyzer, have their limitations. The validity of their results will always depend on how accurate their detection mechans

[2020-01-10 21:21] #617 closed

[2020-01-10 21:46] rviscomi opened #629 "Omit dev dirs from gcloud deployments"
[src/.gcloudignore](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/.gcloudignore) can be used to omit deploying files/dirs from the App Engine deployment. There are a few directories used only in development that we can add to this file:

- `.pytest_cache/`
- `env/`
- `node_modules/`

In a test of these changes I reduced the deployment size from 113.4 MB to 2.8 MB. This als

[2020-01-10 21:47] #629 closed

[2020-01-10 22:16] bazzadp commented on #619
BTW did you see this @rviscomi if you are doing a deployment?

[2020-01-10 22:22] rviscomi commented on #619
Thanks for the heads up. I did see it, but my installation seems to be ok.

[2020-01-10 22:31] bazzadp commented on #619
Ah this my local env rather than something that's included in the deploy. OK will close. Sorry not too familiar with this Gcloud stuff!

[2020-01-10 22:31] #619 closed

[2020-01-11 08:52] bazzadp opened #632 "Production missing a style"
Production is missing a [bold style for the subtitle](https://github.com/HTTPArchive/almanac.httparchive.org/blob/ae574f0796756239a91f9670cb32ac39f34ff5d0/src/static/css/2019.css#L338) despite the recent merge from master.

Not sure how it got in there but it’s been there for a while as noticed before and been meaning to investigate for a bit.

@rviscomi should we rebase production from master or

[2020-01-13 18:37] rviscomi commented on #632
Yeah that's weird. `production` should be identical to `master` at this point.

[2020-01-13 19:14] #626 closed

[2020-01-13 23:04] bazzadp commented on #548
Bump! Any thoughts on that design after your recent Tweet @rviscomi ?

Do you fancy implementing your design @catalinred ?

[2020-01-13 23:09] rviscomi commented on #548
Here's a mockup of what I had in mind

![image](https://user-images.githubusercontent.com/1120896/72299747-ca15a380-362f-11ea-8e0f-d8e4eb90d17d.png)

[2020-01-13 23:16] bazzadp commented on #548
Wow that’s very subtle. I was just honestly about to write back asking if you uploaded the wrong image! Seriously. Maybe it should have a different background colour to make it stand out?

Of the two I prefer @catalinred ’s design to be honest and do think this page could benefit from an introductory paragraph anyway.

[2020-01-14 08:38] catalinred commented on #548
@bazzadp  Sure, if you guys both agree on my above mockup, I'm on it then!

---

But I do also like @rviscomi's mockup, we just need to make it stand out a bit more I think!

Also, comparing to my mockup this is easier to implement considering the media queries logic is already implemented for the contributor cards. For the text + icon design block, we'll need another extra CSS lines + MQ to stack

[2020-01-14 16:45] bazzadp commented on #548
I'd be against adding Bootstrap to the site to be honest - think it's overkill for the simplicity of the site and yet more KB to download and process as you say. Plus we need to start winding down 2019 and only closing little items like this one, before 2020 ramps up IMHO, rather than go for a full redesign.

I thought we used CSS Grid and Flexbox anyway? Might be showing my CSS ignorance here...

[2020-01-15 19:35] rviscomi opened #634 "Serve static HTML"
Our backend is currently hosted on Google App Engine running a Python server and rendering Jinja templates in Flask based on JSON config data.

For every URL, there is effectively one static HTML page. However, every time a user visits one of these pages, the Python server needs to render the templates using (in-memory) JSON config data. Because each type of page requires a different amount of ren

[2020-01-15 19:44] borisschapira commented on #634
As a strong JAMStack advocate, I'm in. I recommend using [11ty](https://www.11ty.dev/) which is a pretty straightforward node SSR. 11ty support nunjucks templates, and nunjucks is heavily inspired by jinja2 so I guess migrating the templates won't be long. And there's an easy way to deal with internationalization [through conventions and a content key](https://www.webstoemp.com/blog/multilingual-s

[2020-01-15 19:48] rviscomi commented on #634
Thanks @borisschapira. Question about 11ty: does that require us to change our development workflow as well? Or could we simply take the static resources from our current local setup and push that out to the 11ty server?

[2020-01-15 19:49] rviscomi commented on #634
This is effectively the same as shuffling in JS with the drawback of having to block rendering on the XHR. If we did shuffle in JS we could always bake the JSON contributors into the HTML document. :confused:

[2020-01-15 21:17] rviscomi opened #635 "Remove empty "Translated by" in chapters"

[2020-01-15 23:13] #548 closed

[2020-01-15 23:24] bazzadp commented on #542
Looks like this was only closed for Japanese but needs to be reopened for Spanish ones as they were not completed.

[2020-01-15 23:29] bazzadp commented on #634
I'm not convinced server side rendering is the problem.

The TOC chapter is the only one of the one you've tested which has no hero image. That's why it's faster IMHO. The delay is in downloading the images - and particularly the heor image which will be delivered as the large image when the screen support it.

Does the CrUX data show TTFB which would be a better indicator of whether the server si

[2020-01-16 00:28] #635 closed

[2020-01-16 09:50] DirtyF commented on #634
@ethomson might help on the GitHub Actions topic?

[2020-01-16 10:05] bazzadp commented on #634
Oh that would be good @DirtyF !

The other option (whether we do GitHub actions - which would have other benefits) is just to stick Cloudflare or similar in front of it, Benefit from it's caching of the HTML pages and get [HTTP/3](https://blog.cloudflare.com/http3-the-past-present-and-future/), improved HTTP/2 prioritisation implementation as [Google's CDN is sub-optimal in this respect](https://g

[2020-01-16 10:14] ethomson commented on #634
👋  What you’ve described is not impossible with GitHub Actions but I fear that it will be a bit challenging at present:  reason being that pull requests from forks have downgraded security rights.  So - doing something like spinning up a Linux server sounds like it would require some sort of secret or token that had permission to start a service.  (eg you might need an AWS token to start the VM.)

[2020-01-16 10:38] bazzadp commented on #634
Thanks for getting back so quickly @ethomson!

Is there such a thing as a post-commit hook or GitHub action to apply changes to master after a PR has been merged?

For development this is run as a [Flask development server](https://flask.palletsprojects.com/en/1.1.x/server/) started from the command line and running on port 8080 so don't need any particular service permissions. Though does require

[2020-01-16 10:52] bazzadp commented on #317
@ethomson as you've been helpful on that other issue, have you any thoughts on how best to tackle this one (it was mentioned in that other issue you responded on, but it has much bigger scope that this little one).

To summarise above, we basically want to automatically update a timestamp in a file when a pull request is accepted for that file. The timestamp should be set to the date that the pull

[2020-01-16 11:25] ethomson commented on #634
Yes!  You can use this trigger:

[code]

which will trigger on any push to master, or merge of a pull request into master.

Aha - thanks for the explanation.  If that's the case then this makes a lot more sense for a GitHub Actions workflow.

[code]

[2020-01-16 11:27] bazzadp commented on #634
Oh this looks promising (and interesting to learn about!!).

And that would allow us to checkout master, make changes, and then commit to master again?

[2020-01-16 12:58] ethomson commented on #634
Yeah, you'll need to set up a personal access token that has write access to the repository.  Then add two secrets to your repository, one with the username of the user that created that PAT, and another with the PAT itself.  For example, if you set username to PUSH_USERNAME and the PAT itself to PUSH_TOKEN, then you can do this:

[code]

[2020-01-16 13:18] bazzadp commented on #317
Ignore this @ethomson. Thanks for you help on the other thread! will have a play.

[2020-01-16 13:49] bazzadp commented on #37
@mikegeyser why did you choose weasyprint over puppeteer and did you look at puppeteer as an option?

We're trying to something similar to this at work and looks like Chrome doesn't support repeating headers on pages so will have a look at weasyprint but wondering if that was the reason for your choice as per your comment in https://github.com/HTTPArchive/almanac.httparchive.org/issues/37#issuecom

[2020-01-16 13:54] mikegeyser commented on #37
That's it @bazzadp. Chrome (and thus puppeteer) doesn't support css-gcpm, so the choices were weasyprint (free) or princexml (super expensive).

[2020-01-16 14:07] bazzadp opened #638 "Improve our first contentful paint time"
Pulling this out of #634 so we can leave that for discussion of the specific issue of static site generation and to have a more holistic look at improving FCP (first contentful paint).

@rviscomi ran some great analysis in https://github.com/HTTPArchive/almanac.httparchive.org/issues/634#issue-550387090 showing that our FCP has room for improvement

Now, personally I think the site is super fast,

[2020-01-16 14:57] catalinred commented on #638
That's a comprehensive and insightful write-up above, @bazzadp 👍

Here are some of my thoughts on this matter, hope you'll find it useful:

- We should minify the HTML and the CSS output. Also, when it comes to CSS, I'd love to be able to use SASS in the future to organize and nest all the rules, be able to comment out things and to know they will be stripped out at build, group stylings per compo

[2020-01-16 16:10] bazzadp commented on #638
Thansk @catalinred !

Never a fan of this to be honest. But that's cause I look at and support production code too much and am not a proper developer 😊 I also think the gains are questionable with gzip/brotli. (unless you have truely massive HTML and CSS, in which case you have bigger issues!).

If that makes it easier then we should look at it. Though again I like to be able to easily map prod si

[2020-01-16 21:20] bazzadp commented on #638
I remove all but the base Lato fonts and compare to prod and below is what we see

![image](https://user-images.githubusercontent.com/10931297/72555015-b36f8680-3893-11ea-828d-083831c9241d.png)

The heading (Blend Modes) is in bold and the synthesised bold is difficult to distinguish from the real bold IMHO. Maybe slightly lighter weight on Chrome when comparing side to side?

The italic at the be

[2020-01-16 21:43] bazzadp commented on #638
Next I did similar analysis to the fonts, but just on mobile this time. What would be the impact of using the _sm hero image instead of the _lg on my iPhone XS? That's got a high quality screen, although it's not a XS Max phablet.

![image](https://user-images.githubusercontent.com/10931297/72564366-76ad8a80-38a7-11ea-908c-79d449756b96.png)

For a start this image shows the font style issue from #

[2020-01-17 11:32] bazzadp commented on #634
@ethompson I've set this [up in my fork](https://github.com/bazzadp/almanac.httparchive.org/blob/master/.github/workflows/UpdateDateAndBuildChapters.yml), and it seems to be working well.

The one thing I'm stuck with is getting a list of files changed in that commit. [This post](https://github.community/t5/GitHub-Actions/Find-what-files-changed-in-a-pushed-commit/td-p/39567) seems to suggest usin

[2020-01-17 11:52] ethomson commented on #634
By default, the `checkout` action does a `depth=1` on master (and the PR branch being built, if there is one), which means that `diff-tree` can't compare against its first-parent.  In this case, it's running:

[code]

If I understand the depth and reachability, I think that you could get away with `fetch-depth: 1`.  You could change your checkout to:

[code]

(You only need to diff `github.sha` ag

[2020-01-17 11:52] ethomson commented on #634
But you can also set `fetch-depth: 0` to get the whole, not-at-all shallow, repository.

[2020-01-17 12:01] bazzadp commented on #634
Thanks. `fetch-depth: 1` didn't work for some reason, but  `fetch-depth: 0` did.

[2020-01-17 12:54] ethomson commented on #634
Thanks - I'm a _little_ surprised, but not _completely_ surprised.  I'll 👀 at this a bit to better understand it, but I'm glad that `fetch-depth: 0` did.

[2020-01-17 16:24] bazzadp commented on #634
OK so at the moment I have the following working on my fork, after a Pull Request is merged:

1. spin up a linux server
2. check out current master
3. auto update the appropriate timestamp in the changed file(s) - #317
4. run npm run generate
5. check in everything to master branch

This takes care of #317 (with the added bonus of `npm run generate` too).

I can't get it to start the flask server

[2020-01-17 16:40] bazzadp commented on #634
Actually @ethomson I've another problem.

That works when I commit to master directly. When I do it via a pull request, it again returns no files when I run `git diff-tree` in the Github Action 😞

[2020-01-18 13:17] bazzadp commented on #632
I've fixed this in a [separate commit](https://github.com/HTTPArchive/almanac.httparchive.org/commit/aa28265ebbf810345d72bfb91377273a83ac9d5f) for now and deployed to production branch.

I still think we should rebase to master branch even though technically the branches have the same code now, but am not a Git expert so will leave this open for other opinions.

@rviscomi I was going to release th

[2020-01-18 14:27] bazzadp commented on #632
Oh wait, not it seems to be on production but it wasn't earlier. Weird. Is https://webalmanac.appspot.com
 the same as https://almanac.httparchive.org? Or does it just take a while to deploy from one to the other?

[2020-01-18 14:56] bazzadp commented on #632
Actually I think this is due to our caching headers added in #608 . Now production changes may take a while to roll out as Google Cloud caches them. Looking at chapters I haven't looked at are fine and show new changes, but chapters I was already looking at are still returning old pages (even on a different browser). Will check again in 3 hours (default caching policy) but may want to consider low

[2020-01-18 15:36] bazzadp commented on #634
It would appear from the [last release](https://github.com/HTTPArchive/almanac.httparchive.org/issues/632#issuecomment-575905947) that since we added caching headers in #608 Google Cloud is caching our site for the 3 hours that we set. That means this line from @rviscomi 's opening comment is incorrect:

Only the first user from each cloud server (set by region I presume?) takes this hit.

This ca

[2020-01-30 09:55] bazzadp opened #654 "Chapter slugs and image directories based on title so don't work for Translations"
main.py has the following:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/7015c954088b525b95a2ee0179c94ea56d92e67c/src/main.py#L60-L68

This means we use the chapter title from the meta data to get the chapter slug (for the ToC) and the chapter image directory (for the chapter hero images and figures).

This does not work if we translate the title as @borisschapira has done for #652

[2020-01-30 10:51] borisschapira commented on #654
My 2 cents: extrapolating the slug from the filename, and using it to build the dirname are common practices in the SSG world, so this seems ok for me, rather that using the translated title.

[2020-01-30 15:32] borisschapira opened #656 "i18n - `lang` attribute usage in titles are incompatible with the chapter toc"
In some headings, I need to keep english words (because we usually don't translate them in French). For example, `Le <i lang="en">lazy loading</i> natif`.

If I do that in the markdown template, in a title:

[code]

The script that generates the chapter table of content doesn't keep it and generates a strange anchor:

[code]

To fix the content, we would need to amend this line, in order to get th

[2020-01-30 16:51] nico3333fr opened #657 "Attribute scope to add to some tables"
Related to https://github.com/HTTPArchive/almanac.httparchive.org/pull/652/files#r372970689 we should add `scope="col"` to table headings, this is better for accessibility:

Example:

[code]

Would give:

[code]

[2020-01-30 17:32] bazzadp commented on #657
[W3 table guidelines](https://www.w3.org/WAI/tutorials/tables/) seems to suggest we only need it on complex tables:

WebAIM table guidelines](https://webaim.org/techniques/tables/data) are a bit less cautious and advises to always add it:

[MDN table guidelines](https://developer.mozilla.org/en-US/docs/Learn/HTML/Tables/Advanced#The_scope_attribute) are less strict (emphasis my own):

I think ares

[2020-01-30 17:44] bazzadp commented on #657
Though while we're looking at this it does flag that we should use `<td></td>` instead of `<th></th>` for blank headers:

i.e. this:

[code]

should really be this:

[code]

Looks weird to me but apparently that's best for accessibility! So if fixing above, then we should fix that too at the same time.

[2020-01-30 17:46] rviscomi commented on #657
Looks weird to me too, but it can't hurt so let's go for it.

[2020-01-30 17:47] bazzadp commented on #656
Can't we just change it to a `<h2>` element? That's what we do when we want to use other complex HTML within markdown tags (e.g. images and tables are often entered in markdown as raw HMTL)?

[2020-01-30 17:53] bazzadp commented on #656
Ah ignore me. It's generating fine in the main article HTML, just not in the ToC.

[2020-01-30 17:56] bazzadp commented on #632
Going to close this as ws resolved in https://github.com/HTTPArchive/almanac.httparchive.org/commit/aa28265ebbf810345d72bfb91377273a83ac9d5f.

[2020-01-30 17:56] #632 closed

[2020-02-02 07:32] #657 closed

[2020-02-02 22:25] bazzadp opened #663 "Accessibility issues with the home page"
So I've been continuing my obsession with Accessibility and decided to tackle the home page.

The home page has the following accessibility issues:

**Issue 1: The background image is too light, causing slight color contrast issues with the text particularly in the top left but also in the larger middle section**

![Home page banner color contrast issues](https://user-images.githubusercontent.com/

[2020-02-04 07:59] bazzadp commented on #663
Found fixes for 2 and 3 so updated above comment.

[2020-02-04 13:55] bazzadp commented on #656
For the anchor tag, these are auto generated by [showdown](https://github.com/showdownjs/showdown/) and there doesn't seem to be a way to strip these our (there is a way to [pre-define the anchor tag but requires some customisation](https://github.com/showdownjs/showdown/issues/458) so not worth it IMHO).

What we can do, however is add this to [`remove_unnecessary_markup.js`](https://github.com/H

[2020-02-04 14:01] bazzadp commented on #567
I think we should do this.

[2020-02-04 14:11] bazzadp commented on #561
@rviscomi given that we have solved #398 and it seems to be working well do you still want to do this? Or should we close this issue?

We can then reopen #557 and accept that to fix #400 .

I take your point that it's complicating the server side rendering a little, and the JSON may grow for future years, but given the discussions in #634 and #638 it doesn't seem to be causing any issue at the mom

[2020-02-04 16:19] bazzadp commented on #656
Or we could add known exceptions as well (assuming this is very rare, so list will be small) with a catch all for those that are not entered explicitly:

[code]

[2020-02-05 21:24] bazzadp commented on #663
Found a fix for 5 so added that.

Only item 2 remains outstanding but, as stated, since it is inlined the risk of issues is low.

[2020-02-06 19:02] bazzadp commented on #663
Managed to fix item 2 now too after sleeping on it and coming up with another solution.

All done.

[2020-02-11 08:44] borisschapira commented on #656
@bazzadp Hi! I prefer to remove the attribute from the header. I think it's the best trade-off against the cost of the alternatives you exposed. We could think about it again if we ever change the build tools (I wonder if Eleventy has this issue) but in the meantime, this will do the trick.

[2020-02-11 09:28] bazzadp commented on #656
Yeah probably the simplest option. The others may be overkill.

[2020-02-11 11:30] #656 closed

[2020-02-13 02:49] ozcoder commented on #593
It would be great if we could hear from people _working in the trenches_ trying to improve **legacy** code bases where they still have to support **IE8** and have good progressive enhancement techniques. Note, I am not volunteering for this.

[2020-02-13 20:26] #663 closed

[2020-02-14 20:04] rviscomi opened #668 "Home page background color glitching"
I think this is related to #664. Playing with the `header.alt-bg` style rule's `background` style seems to toggle this glitch.

It's very fickle: it appears on page load, disappears when I open dev tools at the bottom of the screen, and reappears if I move dev tools to a separate window. If I had to guess there's something weird going on related to these styles:

[code]

![image](https://user-imag

[2020-02-14 20:08] rviscomi commented on #668
Here's my info for debugging

Chrome version 80.0.3987.87 (Official Build) (64-bit)
MacOS Mojave version 10.14.6
Viewport width: 1312, height: 1338

[2020-02-14 20:13] bazzadp commented on #668
Yeah got it. It's to do with #664 rather than this one. Will submit a separate PR to fix that. That's one tall screen you have there Mr!!

[2020-02-14 20:14] rviscomi commented on #668
5K iMac 😎

[2020-02-14 21:31] bazzadp commented on #668
Fixed in #666 in https://github.com/HTTPArchive/almanac.httparchive.org/pull/666/files#diff-dcfbc15530630ce0591f21b62fbb1237

[2020-02-18 07:29] IOIIOOIO commented on #638
@bazzadp

Hope you don't mind me chiming in here... I was reading the thread out of interest, but to answer you here with regards to SASS:

You can look into having Sourcemaps generated during the build process

[2020-02-18 07:44] bazzadp commented on #638
Chime away - the more the merrier!

Yeah they mostly work, and would do if we do go down this route, but nothing quite like mapping code directly to source! 😀

[2020-02-21 18:04] rviscomi opened #671 "Support the immediate release of translated chapters"
We've made amazing progress translating the contents of the Almanac into multiple languages. Unfortunately, none of this work is publicly available because the translations are being batched up to be released when the entire contents are ready.

What needs to happen for us to start releasing translated chapters as soon as they're completed?

cc @HTTPArchive/developers @HTTPArchive/translators

---

[2020-02-22 15:33] bazzadp opened #673 "Refactor templates to reduce duplication and assist with Translations"
It's been noted a few times (e.g. [here](https://github.com/HTTPArchive/almanac.httparchive.org/pull/664#pullrequestreview-356514443),  [here](https://github.com/HTTPArchive/almanac.httparchive.org/pull/666#discussion_r382729585) and [here](https://github.com/HTTPArchive/almanac.httparchive.org/pull/665#discussion_r379587777)) that there is a lot of duplication of code, especially with the transla

[2020-02-22 15:34] #668 closed

[2020-02-22 17:15] bazzadp commented on #542
Moved the Spanish ones to the new format, but only added the text in English so this will still need to be translated.

[2020-02-22 17:26] bazzadp commented on #671
Yeah we definitely should look to do this. It's a shame to hold back all the good work fo the translations rather than release them as we can (as Wikipedia and MDN do!). Will also hopefully encourage more translations too as it's been slow progress and I'd imagine not very encouraging when you won't see the fruits of your labour until the end.

Some things I think we'd need to do to allow this to

[2020-02-22 18:54] #486 closed

[2020-02-27 17:18] rviscomi commented on #671
Let's say only the JS chapter is translated to a particular language. A user lands on the translated JS chapter and tries to continue on to the CSS chapter. If the CSS chapter is only available in English, does the link take them to <lang>/2019/css or en/2019/css? It's not great but I think the first option works. So for a language to be supported, it doesn't necessarily need all content translate

[2020-02-27 19:28] bazzadp commented on #671
I'm less of a fan of including the english content under `<lang>`/2019/css with a "translation required" flag/notice to be honest. I can see why the advantages (encourages translation, keeps them in lang), but I've just never seen that done before in other sites to be honest so seems a little weird to me. And for some languages they could be up a long time.

Definitely would need a `noindex` to av

[2020-02-27 20:16] bazzadp commented on #671
Here’s a, perhaps crazy, idea: what about waiting until we have a minimum number of chapters translated (E.g. 5 of them) and then machine translating the rest of them (using Chrome/Google Translate) in the short term to allow launching that language?

Could then add a “Machine translated - please get in touch if you want to help translate this properly” message.

I think that would be better than