[2020-03-02 08:17] borisschapira commented on #671
Hi! There's two things, here: what's best and what's quicker and more convenient to set up.

I think that adding templates should be the first step for every translation project, and translation teams should be encouraged to do so. I would have added a template to localize a message saying

[code]

Then, we can add the chapter in English to every translation folder with a Front-Matter param contai

[2020-03-02 12:20] bazzadp commented on #671
I kind of agree. However translating the templates did require a fair bit of knowledge of the build system and which parts of the template to translate and not. We also didn't want to put people off translating chapters by demanding this knowldge.

Also it meant an awful lot of keeping the templates up to date. For example the Arabian chaper has a template (to [solve the right-to-left issue](https

[2020-03-15 08:22] #673 closed

[2020-03-17 09:05] bazzadp commented on #586
@ksakae1216 , @MSakamaki would either of you have some time to look at the templates in src/templates/en/2019 and translate to src/templates/jp/2019?

We're looking to launch the chapters that are already translated in #671 but to do that, and let others benefit from your hard work so far, we need the core templates translated.

I've made this a good bit easier in #673 so the templates should most

[2020-03-17 12:54] #654 closed

[2020-03-17 14:22] bazzadp commented on #671
Made some good progress on this in #684

One thing I haven't done that maybe should consider is checking if chapter exists and if not flagging in different way in ToC and in next/previous chapter widgets so people realise they will only get English version.

[2020-03-17 17:28] bazzadp opened #686 "Move Supported Languages to year config"
Currently Support Languages is defined in two places:
1. In [validate.py](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/validate.py) for the Python scripts.
2. In [generate_chapters.js](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/tools/generate/generate_chapters.js) for generating the sitemap.

This also means it’s set once at project level when

[2020-03-17 19:05] bazzadp commented on #671
Added this to #684 . Could probably do with some design tips but it works.

[2020-03-17 19:40] bazzadp commented on #498
Hey @c-torres @JMPerez @taytus !

We’re now in the position to launch chapters that have been translated without having to wait for all chapters to be translated.

To do that however we do need [base_chapter.html](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/templates/en/2019/base_chapter.html) translated and also probably a good idea to review [base.html](https://github.

[2020-03-17 19:43] bazzadp commented on #586
Btw it’s [base.html](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/templates/en/2019/base.html) and [base_chapter.html](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/templates/en/2019/base_chapter.html) that are most important to be able to release the chapters you’ve translated already. These are also quite short so should be easy to translate. Th

[2020-03-17 20:29] bazzadp commented on #373
@rviscomi I'm going to close this.

I know in https://github.com/HTTPArchive/almanac.httparchive.org/pull/614#issuecomment-586437525 we talked about making the quotes part of the chapters and then auto-generating the [feature-chapters.html file](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/templates/en/2019/featured_chapters.html) but I really don't think it's worth the c

[2020-03-17 20:29] #373 closed

[2020-03-17 20:32] bazzadp commented on #237
@rviscomi / @patrickhulce gentle nudge. Only see two comments about graphics for 5_11 and 5_12. We ever going to add those or shall we just say the chapter is as complete as it's going to get and close this issue?

[2020-03-17 20:34] taytus commented on #498
Hello @bazzadp , unfortunately, I'm totally swamped and won't be able to help at this moment.
I'm sorry 😔

[2020-03-17 20:35] #542 closed

[2020-03-17 20:42] bazzadp commented on #638
I'm going to close this. I think the site has been proven to be reasonably performant especially with the caching (though first visitor every 3 hours does take a little hit). Could also improve it further, perhaps with some of the suggestions from https://github.com/HTTPArchive/almanac.httparchive.org/issues/638#issue-550829573 but don't think any are really that urgent and we have better things t

[2020-03-17 20:42] #638 closed

[2020-03-17 21:48] bazzadp commented on #625
Closing and moving to item in #498 instead

[2020-03-17 21:48] #625 closed

[2020-03-18 07:29] rviscomi commented on #237
Sorry, this slipped me. I would still love to resolve the data viz for this chapter. @patrickhulce let me know if you have time to chat. Or if you're happy leaving it as-is we can close this out.

[2020-03-18 08:15] bazzadp commented on #671
OK I think we're in a good place to release French and Spanish. I'd love to get Japanese in there in the first tranch as they have a load of chapters ready but just [need two of the base templates translated for that to be possible](https://github.com/HTTPArchive/almanac.httparchive.org/issues/586#issuecomment-600262540).

Other than that you happy to release @rviscomi and any particular day or ti

[2020-03-18 19:02] rviscomi commented on #671
Thanks Barry! Launching as soon as the translations are ready SGTM, no particular day/time. Let's coordinate in Slack when things go live so I can help promote from @HTTPArchive on Twitter.

How much of a blocker are the base templates for the Japanese translations? Is it a deal-breaker to have part of the site temporarily untranslated? (That might be a nice motivator to draw in translation assist

[2020-03-18 19:59] bazzadp commented on #671
Well they need to exist before the chapters will render so can’t turn on Japanese without them.

We could just upload the English versions to the `ja` folder I suppose. They aren’t really templates anymore - just a list of content blocks that are slotted into the actual pages (see [base.html](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/templates/en/2019/base.html) and [b

[2020-03-18 20:12] rviscomi commented on #671
Yeah I'd default to English for anything untranslated just to get it out the door as quickly as possible. I'm sure the lack of translation will bother people just enough to do it themselves :)

That reminds me, another nice feature would be a "suggest an edit" UI that enables visitors to step directly into a GitHub edit flow.

[2020-03-18 21:05] bazzadp commented on #671
Submitted #690. Had a few of the important terms translated anyway so doesn't look too bad.

Kind of fits in with #518 for other info we were going to add to chapters. Though those less familiar with Git may prefer to raise Issues than go straight into Editing.

[2020-03-18 22:43] rviscomi opened #691 "UI nit: block quote icon on home page is cut off"
![image](https://user-images.githubusercontent.com/1120896/77014194-1dfe7a80-6948-11ea-9d6f-0fbebe75b3b7.png)

This is due to the `z-index: -1` style on the `blockquote::before` selector. The SVG background of the header sits behind the Featured Chapter section, causing the layering issue. Removing the style seems to fix the issue.

Expected appearance:

![image](https://user-images.githubusercont

[2020-03-18 23:08] ksakae1216 commented on #586
@bazzadp , Sorry delay response.

I looked base.html and base_chapter.html.
Maybe don't need translate?

Is my understanding correct?

[2020-03-18 23:09] bazzadp commented on #586
I cobbled together something and merged it. Would be good if you could review and translate anyone's I couldn't?

[2020-03-18 23:21] ksakae1216 commented on #586
I intended to ask if I needed to do any of the following:

But you don't have to work because it's done, right?
https://github.com/HTTPArchive/almanac.httparchive.org/pull/690

[2020-03-18 23:25] bazzadp commented on #586
Yes but I only partially did them in #690 .

If you look at the contents of those files they are mostly still English. But I did find a few Japanese translations from the other files so not 100% English but definitely not 100% Japanese either 😀So if you want to finish the translations of those files to also translate the phrases I didn't, then that would be good.

But think with #690 we have enoug

[2020-03-18 23:35] ksakae1216 commented on #586
I see.
I will translate the untranslated files little by little.

[2020-03-19 06:14] #691 closed

[2020-03-19 19:07] rviscomi opened #698 "Invalid links in sitemap"
Discovered in Search Console:

https://almanac.httparchive.org/en/2019/table_of_contents should be https://almanac.httparchive.org/en/2019/table-of-contents

https://almanac.httparchive.org/en/2019/accessibility_statement should be https://almanac.httparchive.org/en/accessibility-statement

[2020-03-19 20:02] #698 closed

[2020-03-20 19:59] rviscomi opened #704 "Number of per-team contributors not set correctly on page load"
For example, when visiting https://almanac.httparchive.org/en/2019/contributors?teams=editors it shows "92 contributors" even though this team only has 5 members.

If we start from https://almanac.httparchive.org/en/2019/contributors and select "Editors", it shows the correct number of contributors.

So there's a bug in the initial count of contributors on page load and we should take team selecti

[2020-03-20 21:46] bazzadp commented on #586
@ksakae1216 I added you to the [Contributors page](https://almanac.httparchive.org/ja/2019/contributors?teams=translators) in https://github.com/HTTPArchive/almanac.httparchive.org/commit/42c710325f4cf6568ad220b69dd4b0cc13d4bd3f. Hope that’s OK and feel free to submit a PR to correct or add any more details.

[2020-03-20 21:47] bazzadp commented on #539
@nico3333fr I added you to the [Contributors page](https://almanac.httparchive.org/fr/2019/contributors?teams=translators) in https://github.com/HTTPArchive/almanac.httparchive.org/commit/42c710325f4cf6568ad220b69dd4b0cc13d4bd3f. Hope that’s OK and feel free to submit a PR to correct or add any more details.

[2020-03-21 08:00] bazzadp commented on #671
Closing this as [we're live with French, Spanish and Japanese](https://twitter.com/HTTPArchive/status/1241093228562132993?s=20)!

[2020-03-21 08:00] #671 closed

[2020-03-23 10:42] nico3333fr commented on #539
@bazzadp yes, thanks a lot, sorry, with lock-down, I didn't have the time to answer earlier.

[2020-04-05 10:52] bazzadp commented on #518
BTW, since we use the same discussion threads for translations, this thread count will be the same for each translation. That's not necessarily a reason not to do this, but just something to be aware of if we do do it.

[2020-04-05 16:29] bazzadp commented on #561
Going to close this as think 1) it’s not causing a big problem, 2) we use some of the config in the chapter generation and 3) it makes it easier to port if we ever moved off python in future.

Feel free to reopen if you disagree!

[2020-04-05 16:29] #561 closed

[2020-04-05 17:21] bazzadp commented on #558
Closing this. The technical solution is there (copy data to language specific sheet) should a translation team wish to do this.

[2020-04-05 17:21] #558 closed

[2020-04-05 17:25] bazzadp commented on #574
Going to close this. We solved one of my concerns and the full width home page, while a little inconsistent, isn’t that unusual and is per the design.

[2020-04-05 22:39] bazzadp opened #713 "Support multiple year's JSON config"
I presume we're going to start on 2020 edition soon. On the most we're set up well for it with folder structures and therefore templating set up for years.

However we have a few things to update including hardcoding 2019 in [config.py](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/config.py)

[code]

[2020-04-06 18:31] bazzadp commented on #539
Hey all, I know there’s a lot going on in the world right now and some of you may not have the time to look at this right now, but we were making great progress on this previously, so thought no harm in reaching out with a friendly ping! Don’t worry of you can’t spare the time right now - totally understandable.

[2020-04-06 18:37] borisschapira commented on #539
Hey @bazzadp, hope you're well. As you guessed, everything's crazy right now, but I didn't forget my involvement. As soon as I have some time alone, I'll come back to it.

[2020-04-06 19:39] #400 closed

[2020-04-06 19:39] #713 closed

[2020-04-07 12:52] nico3333fr commented on #539
Hey :)
Same for me, lockdown was complicated (hard to do the teacher, the work, cook, etc.) at the same time, but I hope to send a PR for accessibility soon ^^

[2020-04-07 18:07] bazzadp opened #716 "Base redirect does not set Vary header so may redirect to wrong language"
When you enter the base url: https://almanac.httparchive.org/ then main.py looks at your `Accept-Language` header and redirects you to the appropriate language if we support it.

However, we are not setting the `Vary` header so this response is cached for every subsequent visitor for the next 3 hours!

[2020-04-07 18:28] bazzadp commented on #716
BTW this means if the first visitor to https://almanac.httparchive.org/ for a while is French, then every subsequent visitor to that URL in that App Engine region will get the French version for next 3 hours! 😔

However if they go direct to https://almanac.httparchive.org/en/2019/ (which most people will do to be fair) then it doesn't redirect. We still should fix ASAP though.

[2020-04-07 18:28] #716 closed

[2020-04-07 18:36] bazzadp commented on #716
Fix deployed to production

[2020-04-07 19:04] rviscomi commented on #518
I'm ok closing this out. The view count is not a high priority and I'd like to start shifting our focus from 2019 improvements to building the new 2020 edition.

[2020-04-07 19:04] #518 closed

[2020-04-07 19:08] #634 closed

[2020-04-08 16:29] AymenLoukil commented on #539
Hello,
Hope you are fine.

I'm working on a new chapter translation. I faced an issue on GitLocalize on a big section saying  : Something's wrong! Please check the translation that you added and try again.
when i hit the submit button.. any idea why it is behavving like this ?

Thanks

[2020-04-08 19:55] borisschapira commented on #539
@AymenLoukil tbh I tried GitLocalize when working on @SilentJMA's fork but I switched to pure git/github manipulations after many errors I could not explain. If you're working on a single chapter, could you remove yourself from the other ones on this thread first post, so that we keep track on who's working on what?

[2020-04-09 05:36] rviscomi opened #719 "Chapter validation error"
Getting these errors in the server logs:

[code]

It's saying `chapters_for_year` is None. This is a new variable added by #712. @bazzadp could you take a look at this?

[2020-04-09 06:49] bazzadp commented on #719
Looks like this happens because we try to validate the chapter before the year.

Only called for chapters so /en/2020/methodology correctly 404s as it has a higher precedence route, whereas /en/2020/http2 bombs out.

Fixed in #720

[2020-04-09 07:12] #719 closed

[2020-04-09 09:39] bazzadp opened #721 "404s and error improvements"
Currently 404s are very verbose in server logs:

[code]

404s are daily part of life so really don't think we need to be this verbose. The first line is more than sufficient and shows the 404 error code. We can keep this level of verbosity for other errors.

In fact even for successful pages we have the following:

[code]

Again I think the first line is sufficient. And again we can keep some erro

[2020-04-09 18:38] #721 closed

[2020-04-12 06:59] #599 closed

[2020-04-12 07:09] bazzadp commented on #686
This has been moved to JSON config now as part of #712 :

[code]

However we still need to update the [`generate_chapter.js`](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/src/tools/generate/generate_chapters.js) to use this instead of hardcoding this:

[code]

We also need to make it year specific so need to update [`generate_sitemap.js`](https://github.com/HTTPArchive/almana

[2020-04-12 11:09] bazzadp commented on #494
@rviscomi [rerunning the query](https://github.com/HTTPArchive/almanac.httparchive.org/blob/master/sql/2019/02_CSS/02_22.sql) gives this:
![Data from rerun of query](https://user-images.githubusercontent.com/10931297/79067243-e3250380-7cb5-11ea-9cf1-abb2864ebf4f.png)

Compared to the Google Sheets for that chapter which shows:
![Google Sheets data](https://user-images.githubusercontent.com/1093129

[2020-04-13 20:06] #221 closed

[2020-04-13 23:49] bazzadp commented on #454
I had a go at this in #732

Also deployed a test site if you want to have a play with it: https://20200414t004714-dot-webalmanac.uk.r.appspot.com

[2020-04-13 23:55] #494 closed

[2020-04-13 23:56] bazzadp commented on #454
Actually just realised you already had a style so used that instead. New test site: https://20200414t005510-dot-webalmanac.uk.r.appspot.com

[2020-04-14 07:17] bazzadp commented on #454
Third times a charm. Got a better way to do it after sleeping on it: https://20200414t081104-dot-webalmanac.uk.r.appspot.com

[2020-04-15 07:56] bazzadp opened #733 "Make headings and figures more easily referenced with anchor link UI"
We're intending the Web Almanac to be a a quotable resource. However we don't make it easy for people to link to specific parts of a chapter.

It's common to have links to chapter headings and we discussed this in #199 and resolved that by creating the links in #257, but didn't expose this to the user, as suggested in #199 .

GitHub uses this for markdown pages, with a link icon that appears befor

[2020-04-15 13:43] rviscomi commented on #733
We could also make the headings links to themselves with no visible link styling until focused.

[2020-04-15 14:32] bazzadp commented on #733
Hmmm... not as keen on that to be honest as not seen that used (neither example above does that). Would we do same for figures?

Personally I think the GitHub option is the way to go.

[2020-04-15 18:38] #454 closed

[2020-04-18 19:55] rviscomi opened #738 "Improve hover state of chapter results/queries button icons"
On hover or focus, the icons in the "View results" and "View queries" buttons turn yellow.

![image](https://user-images.githubusercontent.com/1120896/79669828-6e0d6e80-818c-11ea-9345-f8ede9aad4c5.png)

![image](https://user-images.githubusercontent.com/1120896/79669823-664dca00-818c-11ea-87a7-8a77ab76716a.png)

The hover states for these icons could be improved slightly:

- only highlight the lin

[2020-04-18 19:58] bazzadp commented on #738
I'd love these to be SVGs as they look a bit pixelated at present.

Been chatting to @catalinred and trying to persuade him back to the project for a bit to take this on 😀

[2020-04-18 20:00] bazzadp commented on #738
We should also move the dropdown arrow to an SVG at same time, for same reason. Ref: #729

[2020-04-19 07:43] bazzadp opened #740 "Move simple PNG icons to SVG"
As a follow on from #738, the below PNGs don't scale well on large screens, or when zoomed in. As they are all simple (or have Vector versions for GitHub/Twitter) we should move them to SVG format.

- [ ] discuss.png
- [ ] results.png
- [ ] queries.png
- [ ] dropdown-arrow.png
- [ ] close.png
- [ ] menu.png
- [ ] blog.png
- [ ] github.png - [Official link to Vector icons](https://github.com/logos)

[2020-04-19 07:44] bazzadp commented on #738
Closing this now this immediate problem highlighted by this work has been solved. Opened #740 for the remaining work.

[2020-04-19 07:44] #738 closed

[2020-04-20 17:46] catalinred commented on #740
I'll add this [comment ](https://github.com/HTTPArchive/almanac.httparchive.org/pull/549#issuecomment-559030227) as a reminder to myself and will get back when I'll have a plan on "svgify" the assets.

[2020-04-22 19:25] #733 closed

[2020-04-23 11:03] bazzadp commented on #586
@ksakae1216 do you fancy tackling these three next in the templates directory?

- base.html - partially done to allow us to launch Japanese chapters
- base_chapter.html - partially done to allow us to launch Japanese chapters
- index.html - partially done to allow us to launch Japanese chapters

Think it would look better for our Japanese readers if the home page and all the core text was translat

[2020-04-23 11:57] ksakae1216 commented on #586
@bazzadp, Yes, I will translate 3 html file.

[2020-04-24 06:43] bazzadp opened #752 "Remove lastmod from SiteMap"
As discussed on Slack with @rviscomi and @AymenLoukil , until we fix #317 the `lastmod` date in the Sitemap is basically unreliable. As it's optional we should just remove it for now.

BTW relevant: https://www.seroundtable.com/google-lastmod-xml-sitemap-20579.html

[2020-04-25 09:08] bazzadp commented on #586
Thanks @ksakae1216 , just pushed the updated index and fonts chapters to live:
https://almanac.httparchive.org/ja/2019/
https://almanac.httparchive.org/ja/2019/fonts

Looks much better now the Japanese home page is actually in Japanese! 😀

[2020-04-26 07:09] #752 closed

[2020-04-26 12:23] ksakae1216 commented on #586
@bazzadp, @MSakamaki.
 I translate resource-hints.

[2020-04-26 16:46] bazzadp commented on #586
@ksakae1216 please be aware I made a small tweak to the Resource Hints chapter in https://github.com/HTTPArchive/almanac.httparchive.org/pull/731 to move some long code snippets to their own lines. Just merged there now so make sure you do same in your translation.

Barry

[2020-04-27 21:37] nico3333fr commented on #539
Here you go dear FR proofreaders => https://github.com/HTTPArchive/almanac.httparchive.org/pull/759 ;)

[2020-04-28 12:47] nico3333fr commented on #539
May I be assigned to the translation of Security one ? :)

[2020-04-28 12:50] borisschapira commented on #539
@AymenLoukil Where are you on the Performance chapter? Can I help?

[2020-04-28 13:21] bazzadp commented on #539
Done.

@rviscomi any way to give the team edit access back to issues? Otherwise big dependency on you and me. And I might eventually get bored of this 😋

[2020-04-29 02:46] ksakae1216 commented on #586
@bazzadp, @MSakamaki.
I will translate media next.

[2020-04-29 15:08] rviscomi commented on #539
Sorry for the trouble. I've revered the change which should make issues self-assignable again. Instead, I've applied a branch-specific access rule so that only Barry or myself can merge PRs into `master`. Let me know if this becomes too restrictive.

[2020-04-29 15:13] bazzadp commented on #539
Thanks @rviscomi !

[2020-05-02 02:47] ksakae1216 opened #765 "media.md is type miss"
I found a typo.

file : almanac.httparchive.org/src/content/en/2019/media.md
line : 334

"010 percentile" -> "p10 percentile"

[2020-05-02 05:37] ksakae1216 commented on #586
@bazzadp, @MSakamaki .

I will translate contributors.html, featured_chapters.html, methodology.html.

[2020-05-02 06:42] bazzadp commented on #765
Good spot. Do you want to add the correction to your translation pull request?

[2020-05-02 07:41] ksakae1216 commented on #765
OK, I fix to media-japanese-translation branch.

[2020-05-02 07:56] #765 closed

[2020-05-02 08:05] bazzadp opened #767 "Generate GitHub action broken due to permission changes"
@rviscomi we now get this when generate GitHub action runs ([see here](https://github.com/HTTPArchive/almanac.httparchive.org/runs/638419637?check_suite_focus=true)):

[code]

This is even though this runs under my id.

This is because even those with write permissions to master (i.e. you and I) need to approve changes and that doesn't work with GitHub actions.

Can you and I be given permission t

[2020-05-02 16:15] #237 closed

[2020-05-02 16:43] bazzadp commented on #767
@rviscomi you had [two conditions on the master branch protection rule](https://github.com/HTTPArchive/almanac.httparchive.org/settings/branch_protection_rules/15668314):

1. Everyone (including us) needs to have at least one review.
2. Only a maintainer (currently you or I) can push to master.

I don't think we need both, so have turned the first off.

That fixes this, without needing to do a for

[2020-05-02 16:48] rviscomi commented on #767
SGTM! Pains of managing a large repo.

[2020-05-02 20:10] bazzadp commented on #237
Should we not at least add Figure 6 so the figure numbering is correct? Currently we jump straight from Figure 5 to Figure 7.

[2020-05-02 20:56] rviscomi commented on #237
I'd still like to get the data viz resolved but the results don't align with the analysis AFAICT, so we need to chat with Patrick to get that resolved before we're able to add new figures. I closed this since there was no activity and it's about 6 months overdue.

[2020-05-03 10:15] ksakae1216 commented on #586
@bazzadp.

if @MSakamaki finish to translate javascript, Do we finish?

[2020-05-03 10:18] bazzadp commented on #586
Looks like! Excellent work.

However @MSakamaki hasn't been contributing in a while so not sure if he's making any progress on the JavaScript chapter. Maybe you could have a go and can compare if @MSakamaki does come back to the project?

[2020-05-03 10:25] ksakae1216 commented on #586
@bazzadp, @MSakamaki

OK, I will translate javascript chapter tomorrow.

[2020-05-03 15:23] borisschapira commented on #539
I start to translate the Mobile Web chapter.

[2020-05-04 08:39] ksakae1216 commented on #586
@bazzadp , We finished translate.
Thank you so much for reviewing it.

[2020-05-04 08:42] bazzadp commented on #586
Thank YOU so much for all the hard work! Well done on being the first fully translated language!

The last chapter is now live: https://almanac.httparchive.org/ja/2019/javascript

Ideally we'll get @MSakamaki (or another Japanese speaker) to review your translations at some point but will close this ticket in the meantime. We can reopen if if we need to.

[2020-05-05 06:15] #317 closed

[2020-05-05 06:15] #767 closed

[2020-05-05 19:26] #740 closed

[2020-05-05 19:49] bazzadp opened #801 "Auto increment CSS version numbers"
As discussed in https://github.com/HTTPArchive/almanac.httparchive.org/pull/800

We currently implement a cache-busting query param to our CSS files to ensure the latest CSS is applied for breaking changes.

At present this must be manually incremented when you know you are making breaking changes. We should automate this (perhaps through a GitHub action?).

[2020-05-06 09:05] bazzadp opened #803 "Questions on workflows"
@rviscomi we currently have two project workflows for managing issues in GitHub:

1. [Web Almanac](https://github.com/orgs/HTTPArchive/projects) - an organization level workflow.
2. [2020](https://github.com/HTTPArchive/almanac.httparchive.org/projects) - a repo level workflow.

I've some questions on this:

- What is the reason for the two workflows?
- And when are we supposed to use each one?
-

[2020-05-06 09:19] bazzadp commented on #587
There's been no progress on this since the issue was opened so am going to close this. We can reopen if we get translators.

@Pavel-Evdokimov let us know if you plan on actioning this and want to re-open it?

[2020-05-06 09:20] bazzadp commented on #540
There's been no progress on this in last few months so am going to close this. We can reopen if we get translators.

@SilentJMA  let us know if you plan on actioning this and want to re-open it?

[2020-05-06 09:20] #540 closed

[2020-05-06 09:21] bazzadp commented on #505
There's been no progress on this since the issue was opened so am going to close this. We can reopen if we get translators.

@ibrahimcesar let us know if you plan on actioning this and want to re-open it?

[2020-05-06 10:06] bazzadp commented on #585
There's been no progress on this since the issue was opened so am going to close this. We can reopen if we get translators.

@performize let us know if you plan on actioning this and want to re-open it?

[2020-05-06 21:23] rviscomi commented on #803
I've renamed the org-level project to "Web Almanac 2019" to help disambiguate.

I'd like to maintain separate projects for each edition so it's clear whether the work is more urgent for the upcoming publication or lower priority maintenance. They can coexist so I thought the distinction was needed.

I created the 2020 project at repo-level because I think it's scoped almost entirely to this repo.

[2020-05-06 21:31] bazzadp commented on #803
OK but we can’t use org level workflows in GitHub Action pull requests. So choices are:

1. Don’t auto-set the workflow and manually set it, just before approving the auto-generated PR.
2. Using the 2020 workflow for these auto-generated PRs.
3. Setting up a new Workflow just for the automated PRs.
4. Try to guess the workflow to use based on whether editing a 2019 file or 2020 file.

Do you have

[2020-05-06 23:06] rviscomi commented on #803
It's ok to omit the project if there are incompatibilities. It's a convenience thing and not a must-have.

[2020-05-07 03:10] rviscomi opened #804 "Wrong axis labels for Compression charts"
Figures [5](https://almanac.httparchive.org/en/2019/compression#fig-5) and [6](https://almanac.httparchive.org/en/2019/compression#fig-6) of the Compression chapter have mislabeled axes.

![image](https://user-images.githubusercontent.com/1120896/81250018-fe054200-8fed-11ea-8b46-84a5bcb2e2f5.png)

Both should have "Content Type" as the y-axis label and "Number of requests" for the x-axis label.

!

[2020-05-07 07:03] #803 closed

[2020-05-07 17:42] #801 closed

[2020-05-07 20:36] rviscomi opened #809 "Translate language-specific Almanac tweets"
I'd like to tweet about the amazing work we've been doing to translate the Almanac into multiple languages. Rather than writing it in English, I think it would be much more impactful if we tweet in the languages we're promoting:

- [x] Spanish
- [x] French
- [x] Japanese

Each language will be featured in its own tweet with a link to that language's home page. The text to translate could be:

_(re

[2020-05-09 01:45] rviscomi opened #810 "Optimize appearance in Google Search"
![image](https://user-images.githubusercontent.com/1120896/81460488-a7297500-9173-11ea-821d-98ad004d19de.png)

We're in the top position for "web almanac" queries, which is perfect. The home page result contains a few secondary page results:

- Table of Contents
  - JavaScript - Performance - CSS - ...
- Chapter of a third-party
  - Third Parties chapter of the 2019 Web Almanac covering data of ..

[2020-05-09 20:10] rviscomi commented on #809
Assigned translators for each language. If you're able to translate the tweet text in the top comment, add it as a comment to this thread. If not, let me know and we'll find someone else. In any case, I really appreciate your help and I'm looking forward to celebrating your translation efforts!

[2020-05-09 20:48] rviscomi opened #815 "Create a 2020 landing page"
Goals:

- start serving a 2020 page to test out our infrastructure and make any fixes to ensure that it can support multiple years
  - avoid duplicating code used by both years, reuse in year-agnostic files (templates, static resources)
 - work out any kinks in SEO
 - work out any design kinks in the year switcher UI
- inform readers about our plans for 2020
  - ways to contribute and how to join

[2020-05-09 20:53] rviscomi commented on #815
@bazzadp any thoughts on the technical implementation, especially related to multi-year support on the backend? I think we've done a really good job of planning ahead and keeping things organized by year.

Also, any thoughts on translating the landing page? IMO translating it would be nice to have but somewhat of a lost cause since this page is temporary by design and will be overwritten when 2020

[2020-05-09 21:23] bazzadp commented on #815
Don't think it should be too difficult to be honest, if we're keeping the design reasonably the same. That was my big question for you - how different is it going to be? And that's wider than the langing page, and more about the 2020 edition.

There's a balance to be struck here between keeping it very similar or not:

**Positives to keeping it similar:**

- Emphasises the Web Almanac brand
- Make

[2020-05-09 21:45] bazzadp commented on #810
Google doesn't really let you change any of this. Setting the Meta Description is the best you can do, but it will use a quote from the page if it thinks it's more accurate/useful than that.

We do include breadcrumbs structured data from the year page to the section ([see example here](https://search.google.com/structured-data/testing-tool#url=https%3A%2F%2Falmanac.httparchive.org%2Fen%2F2019%2Fs

[2020-05-09 21:55] bazzadp commented on #810
@ymschaap , @rachellcostello , @AVGP and @AymenLoukil you got anything to add to this?

[2020-05-10 03:04] rviscomi commented on #37
This is too cool to sit around unused. I'm looking into merging `master` with the `ebook` branch to get all the latest updates, but unexpectedly running into a few merge conflicts and other procedural incompatibilities. I'll try to work through those and will update this issue with any progress on that or the feature wishlist. @bazzadp @mikegeyser LMK if you want to help!

[2020-05-10 04:22] ksakae1216 commented on #809
@rviscomi , OK, I translated japanese.

[2020-05-10 09:01] catalinred commented on #810
It's a well-known thing that Google often rewrites meta descriptions in the SERPs in response to **the searcher's query**, as it's pointed out in the [SEO Chapter](https://almanac.httparchive.org/en/2019/seo).
So, as @bazzadp also pointed out, this action of plucking content is due to this matter.

---

While content updates (title/description/headings) can definitely improve the search appearance

[2020-05-10 12:13] bazzadp commented on #37
I agree! Was going to get to this eventually but didn't want to step on @mikegeyser 's toes and found other things to amuse myself with.

I found it easier to go the other way, as @mikegeyser only had a few commits. So forked off a new [ebook2 branch](https://github.com/HTTPArchive/almanac.httparchive.org/tree/ebook2) from master and merged those into that.

I also moved this to the base templates

[2020-05-10 12:14] bazzadp commented on #37
@mikegeyser let us know if you plan on coming back to finish this, otherwise will work on it myself at some point.

[2020-05-10 19:11] borisschapira commented on #809
Hey, great idea, here's a French version. I've added "(en partie)" which means "partly", as we didn't finish (yet).

🌐 https://almanac.httparchive.org/fr/2019/

[2020-05-11 00:19] taytus commented on #809
Here is the Spanish version.

[2020-05-11 00:34] rviscomi commented on #809
Thanks everyone!

[2020-05-11 01:24] rviscomi commented on #809
I'll post these throughout the week. Starting with Japanese today:

Japanese: https://twitter.com/HTTPArchive/status/1259655133249576963

[2020-05-12 13:20] bazzadp commented on #804
@rviscomi I sent a request for edit access to this sheet and then can fix this. Just resent there now.

[2020-05-13 09:40] nico3333fr commented on #539
I'll take also the accessibility statement, might be less difficult to translate :)

[2020-05-13 09:45] bazzadp commented on #539
First time I wrote one of those, so let me know if you have suggestions for it!

[2020-05-13 10:11] bazzadp opened #819 "TTI in Mobile Web Japanese Translation text needs changing"
As discussed in https://github.com/HTTPArchive/almanac.httparchive.org/pull/782 we changed the text here. Can we get the Japanese translation updated to also reflect this?

[2020-05-13 11:42] #819 closed

[2020-05-14 19:12] #37 closed

[2020-05-14 19:21] bazzadp opened #823 "Translate ebook templates into Japanese"
As discussed in https://github.com/HTTPArchive/almanac.httparchive.org/pull/817#issuecomment-627338360 we need the following temples reviewed to allow us to launch the Japanese ebook completely in Japanese:

- `templates/ja/2019/base.html`
- `templates/ja/2019/base_ebook.html`

Just a few phrases that need translating into Japanese.

[2020-05-14 22:54] bazzadp opened #826 "Should we keep the Google Sheets embeds?"
Currently we use Google Sheets embeds for interactive visuals.

However I'm not sure they actually give us that much. They have a nice hover-over affect and give a bit more data on some of the charts (e.g. the detailed charts in the [Performance chapter](https://almanac.httparchive.org/en/2019/performance)).

**Downsides**

These are quite hefty in terms of JavaScript. See [these WPT for runs](htt

[2020-05-15 15:07] bazzadp commented on #804
Friendly ping @rviscomi - can you approve my write access? Or fix yourself :-)
Might as well get this simple in the first eBook launch I'm planning on doing this weekend!

[2020-05-15 15:17] rviscomi commented on #804
I think @paulcalvano actually owns this sheet. Paul if so could you give Barry access?

[2020-05-15 15:19] bazzadp commented on #804
Well that explains why you're uncharacteristically ignoring me then 😀

[2020-05-15 15:23] paulcalvano commented on #804
Oh sorry!   Just gave you access!

[2020-05-15 17:08] #804 closed

[2020-05-16 01:03] rviscomi commented on #826
As I wrote via DM, these are all valid points. I'm inclined to keep the charts the way they are. We've (mostly you have 😄) done a lot of work to optimize the embedded Sheets viz and I think the drop in 2019 readership has tapered off enough that further work is probably not worth the effort. Where we should be investing more effort is in 2020 data viz and my hope is that we can have something that

[2020-05-16 01:09] ksakae1216 commented on #823
OK, I will translate of base.html quickly.

[2020-05-16 01:14] rviscomi commented on #823
You're the best @ksakae1216, thank you for all of your contributions!

[2020-05-16 04:11] bazzadp commented on #826
Yup that's cool, Was in two minds myself, Closing for now.

[2020-05-16 04:11] #826 closed

[2020-05-19 18:28] #823 closed

[2020-05-19 18:30] bazzadp commented on #809
Presume we’re good to close this @rviscomi since they’ve all gone out now?

[2020-05-19 18:30] #809 closed

[2020-05-19 19:16] rviscomi commented on #809
Yes, thanks everyone!

[2020-05-19 20:42] borisschapira commented on #539
PR proposed! #838

@AymenLoukil Up on the Performance chapter? I'd really like to continue with this one, if you're not doing it.

[2020-05-20 00:16] AymenLoukil commented on #539
@borisschapira Yes it is in progress.

[2020-05-20 18:13] bazzadp commented on #539
FYI @nico3333fr I just added to that in #832 for the accessible PDF version of the almanac.

[2020-05-20 18:58] bazzadp opened #850 "A couple of small Japanese translations required"
Before I forget:

- [x] In #837 we added a a `fig2-description`. I auto translated it to Japanese but probably not that great.
- [x] In #833 we added to the Accessibility statement to explain how we made an accessible PDF.
- [x] Translate Japanese in #857

Can we update the Japanese versions with these changes?

[2020-05-21 10:12] juliemoynat opened #854 "Images with long description should have the long description accessible to everyone"
Hello,

In the website, there are some pages with images that requires long description.

- https://almanac.httparchive.org/fr/2019/accessibility
- https://almanac.httparchive.org/fr/2019/mobile-web
- etc.

Long description are hidden by default and can be read only by people using a screen reader.

Long description are useful for people who can't see images like blind people and for people who ca

[2020-05-21 10:33] juliemoynat opened #855 "Illustration image about contrasts are misleading users: recommended colours are not contrasted enough"
Hello,

In these two articles, there is an image to illustrate what is a text with insufficient colour contrasts and versus what is a text with sufficient colour contrasts:

- https://almanac.httparchive.org/fr/2019/accessibility
- https://almanac.httparchive.org/fr/2019/mobile-web

The image is here: https://almanac.httparchive.org/static/images/2019/accessibility/example-of-good-and-bad-color-co

[2020-05-21 10:37] bazzadp opened #856 "Accessibility Chapter questions over Figure 1"
Pulling this out from #854 raised by @juliemoynat

[Figure 1 in the Accessibility chapter](https://almanac.httparchive.org/en/2019/accessibility#fig-1) is the following:

![image](https://user-images.githubusercontent.com/10931297/82550805-049bc980-9b57-11ea-98c0-0f1dfb9aa504.png)

And has the following in the (hidden) description (emphasis added by myself to one sentence):

It is not clear from t

[2020-05-21 10:43] bazzadp commented on #854
Thanks for raising this @juliemoynat !

We hadn't considered the long descriptions to be useful for non-screen reader users, but now you've raised this I agree they would be - and there is no reason not to make them available to all.

Since you've knocked up the code pen already, would you be willing to submit a PR for this?

Questions over your current code pen:
- Not convinced it should be `hidd

[2020-05-21 10:51] juliemoynat commented on #854
Hi @bazzadp,

I would like to submit a PR but I'm not good at JavaScript development. The JavaScript code in my CodePen is not from me.

You're right with your first question about the `hidden` attribute. I added an HTML comment in my CodePen to tell the same thing "Note: it would be better to set up the `hidden` attribute with JavaScript". But, I don't know how to do it properly…

My CodePen is j

[2020-05-21 10:52] bazzadp commented on #855
@obto what are your thoughts? Update the image or the text?

I'm leaning with @juliemoynat and think an improved image is the way to go to avoid complicated text.

I've two concerns with the suggested image:
- Is there too much contrast between the "bad" orange, and the "good" orange because the good orange looks almost red or brown? IMHO, the current image shows that small tweaks can make text ac

[2020-05-21 10:57] bazzadp commented on #854
Well if you want to submit a PR, then we'd be more than willing to help guide you through that and review and suggest improvements to any of the code you submit.

Alternatively, if you'd prefer not to, that's fine too - raising issues so others can correct is also very helpful!

Let us know either way, so others can look at it if you don't want to do this.

[2020-05-21 11:09] bazzadp commented on #856
See also #855 where there is a suggestion to replace this image, and perhaps make this more clear with a heading above the greyscale images. Still think it warrants adding something to the text though in addition to that.

[2020-05-21 11:34] juliemoynat commented on #854
Thank you so much for your understanding. I am not ready to submit this kind of PR so I prefer to let others correct it. I could help for tests if you need to.

[2020-05-21 13:51] bazzadp commented on #854
Knocked up something here: https://20200521t143054-dot-webalmanac.uk.r.appspot.com/fr/2019/accessibility#fig-1

Let me know your thoughts.

Also let me know if Google's suggested French wording for Show Description/Hide Description is in the best wording for here!

That is interesting. Do these bugs also apply if the `alt` or `aria-labelledby` by is given in the `<img>` element? The example in tha

[2020-05-21 18:06] juliemoynat commented on #854
I will answer you in several points below because there are multiple complicated subjects here.

1. About the `aria-describedby` attribute not compatible with all screen readers when it is on an `<img>` tag, yes, the bug applies even if the image has an accessible name. I have updated [my own test on a CodePen this morning](https://codepen.io/juliemoynat/pen/xmXbgv) (in French - I'm about to write

[2020-05-21 19:53] bazzadp commented on #854
Thank you so much for your valuable input here!

**On `alt` and `aria-labelledby`**

The duplication of the `alt` and `aria-labelledby` is something we struggled with for a long time. There seems no clean way of handling single-figure images in a figure, with a visible figcaption - that duplicates the `alt` attribute. While I agree the `alt` and `<figcaption>` don't always match (particularly for

[2020-05-22 08:27] juliemoynat commented on #854
1. On `alt` and `aria-labelledby`: having both is simply useless here. You have a good `alt` attribute so you don't need to have `aria-labelledby`. There is no harm at the moment in the present case because you are duplicating both values. But everyone editing content in the website must be careful with this ;-)

2. The Accessible name calculation is not a method telling `aria-labelledby` should b

[2020-05-22 09:30] bazzadp commented on #854
Oh that's interesting. I presumed `aria-describedby` was additional information that wasn't read by default and was only read with a key combination (e.g. Alt + R on JAWS).

As per [the PowerMapping test](https://www.powermapper.com/tests/screen-readers/labelling/img-aria-describedby/):

That's why I liked creating links via `aria-describedby`, so the user can hear the description immediately usin

[2020-05-22 11:01] juliemoynat commented on #854
When it works, NVDA and VoiceOver are reading the `aria-describedby` content directly without a keyboard shortcut. But, you can stop the reading experience and then use a shortcut to read the description when you want (but you will need to know which shortcut it is).

A colleague told me that this is the way screen readers should work with this attribute according to official specifications but I

[2020-05-22 11:11] bazzadp commented on #854
Yup!

And, like with other browser funnies, the question is how much do you work around known issues? A careful judgement call between how badly it's broken for those that don't support it properly, how many people likely to be affected, how much there is to gain by doing it "the right way", how much effort there is involved in working around them, and how much we're allowing the status quo to con

[2020-05-22 15:13] obto commented on #855
LookZook is my web consulting company, so updating the graphic is no problem.

But I'm not completely sold that the graphic needs to be updated. The intention and goal behind the graphic was to demonstrate how this generally only requires a small change, and the end result makes it look way better too. But if we decide to use AAA conformance, while more "correct", it looks like a more difficult pr

[2020-05-22 15:18] juliemoynat commented on #855
The contrast rules I've recalled are AA level of conformance, not AAA.
And I think it's a real problem to tell users that a wrong example is a recommended one.

[2020-05-22 15:28] obto commented on #855
It is a correct example. It's enlarged text which perfectly meets AA levels of conformance. AAA levels for text this large would be 4.5:1. If the text was small, like you mentioned then yes you would need 4.5:1 by default for even AA.

This is just meant to be a singular example to get people interested in looking at their own sites. Not a specification.

Plus, the necessary color contrast you nee

[2020-05-22 15:38] bazzadp commented on #855
I agree with both of you! Let's not get into an argument over this - we're all trying to do right by the users.

And while I agree the Almanac should not attempt to be a specification, I do like the idea of us setting the best example we can set – without needing qualifying text.

I also like the idea of changing this to an SVG as crisper even on large screens, and I also like the addition of the

[2020-05-22 17:16] juliemoynat commented on #855
To be more precise in my opinion, this is an image in a responsive website so we can't be sure about what is the effective font size of text in the image (either in PNG or in SVG). Actually, it is not displayed at its full size by default in desktop (width of 600px instead of 650px) and of course, it is even smaller on a mobile ;-)

[2020-05-23 02:12] ksakae1216 commented on #850
@bazzadp , OK, I will translate.
Please wait.

[2020-05-23 06:13] bazzadp commented on #850
Got one more for you, if you don't mind.

Would this:
[code]
be an accurate translation of this?:
[code]

This is part of #857 and will show as button text below images, like this:

![image](https://user-images.githubusercontent.com/10931297/82723168-b573a700-9cc4-11ea-9856-8d5c8f36e353.png)

Here's the English version:

![image](https://user-images.githubusercontent.com/10931297/82723152-9bd25f80

[2020-05-23 06:35] ksakae1216 commented on #850
@bazzadp , This translate is no problem.

[2020-05-23 06:44] #850 closed

[2020-05-23 06:47] bazzadp commented on #850
Excellent - cheers for that!

[2020-05-24 08:49] bazzadp commented on #855
Had a crack at this. What do you think of below?:

![New version of image using BD5B0E](https://user-images.githubusercontent.com/10931297/82749815-b0d1f000-9da3-11ea-9442-d535823dee1a.png)

That acceptable to both of you as meets 4.5 contrast ratio but perhaps not as big a change in colour (though that's pretty subjective I guess)?

[2020-05-25 16:17] obto commented on #855
1. Good point on the image potentially being very small if the reader has an old iPhone. I hadn't thought about that
2. Looks pretty good to me, but have a couple suggestions. Made them in the PR

[2020-05-27 17:28] #855 closed

[2020-05-27 17:28] #856 closed

[2020-05-27 18:13] #854 closed

[2020-06-03 12:19] allemas commented on #539
Hi everyone ,
I start to translate the Compression chapter .

[2020-06-03 17:27] #686 closed

[2020-06-13 19:11] rviscomi opened #875 "Prepare Almanac 2020 custom metrics"
There were several metrics in 2019 that were analyzed by parsing HTML with regular expressions, which has its pitfalls. We could make this more reliable by querying the DOM at runtime with custom metrics.

- [ ] identify candidate queries from 2019 that used regular expressions to parse HTML
- [ ] implement them as custom metrics
- [ ] identify and fix any 2019 custom metrics that didn't work prop

[2020-06-13 19:14] #593 closed

[2020-06-15 22:46] rviscomi opened #876 "Nominate authors for the 2020 Web Almanac"
We're getting a late start this year, but it's time to start planning who will author the 2020 Web Almanac. Leave a comment to nominate someone for a particular chapter. If that person has already been nominated (do a quick Ctrl F), stamp that comment with your 👍. @obto and I will be reaching out to nominees to gauge their interest and select authors.

If you're more comfortable nominating in priv

[2020-06-16 00:04] RReverser commented on #876
Some of my concerns as a reviewer last year have been around lacking / incomplete stats for WebAssembly; do you think it's something we could explicitly include this year?

It's a fairly mature technology by now, and for many it would be interesting to see and track how Web uses it over time.

[2020-06-16 00:26] rviscomi opened #877 "WebAssembly 2020"
# Part [Num] Chapter [Num]: WebAssembly

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| TBD | TBD | TBD | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** TBD

Welcome chapter contributors! You'll be using this issue throughout the [chapter lifecycle](https://gi

[2020-06-16 00:27] rviscomi commented on #876
@RReverser, I forked this discussion into #877 to keep this thread focused on authors.

[2020-06-16 00:32] rviscomi commented on #877
@RReverser I'd love to drill down into this topic. Which chapter do you think WebAssembly best fits? I'm also curious what metrics/stats you think are important for measuring the state of wasm and how we can match those up with the capabilities of the HTTP Archive dataset.

One area I'm open to exploring this year is to include more topics that may not necessarily be easily quantifiable. Even if w

[2020-06-16 00:44] logicalphase commented on #876
Hey Rick - I'd like to author in the next round with areas of expertise in **performance**, **CMS**, and **PWA**.  Just let me know where you want me.

[2020-06-16 00:51] RReverser commented on #877
I commented with "Page Content" because that seems like most reasonable category. And I think it should be perfectly measurable, with pretty much same metrics as any other content, the closest one being JavaScript, since both are code shipped on the Web, just coming from different languages.

[2020-06-16 01:14] rviscomi commented on #877
Ok thanks for clarifying!

The JS chapter's metrics include things like popular frameworks/libraries, distribution of byte sizes, feature adoption, distribution of CPU timings, etc. I'm not too familiar with WebAssembly; how much of it is transparent enough for us to attribute these metrics to? For example:

- does a given website use wasm?
- what is the payload size of the wasm resource?
- what f

[2020-06-16 04:54] hemanth commented on #876
Please count me in for JavaScript and PWA.

[2020-06-16 05:50] bazzadp commented on #877
I think it warrants its own chapter as don’t think it really fits it any others. However only if there’s enough content (and particularly measurable stats) to make that worthwhile.

[2020-06-16 07:53] borisschapira commented on #876
I'd like to read from Nicole (@stubbornella), Mandy (@mandymichael), Jean-Pierre (@jpvincent), Anna (@afilina), Sara (@SaraSoueidan), Florens (@fvsch), Estelle (@estelle), Cassidy (@cassidoo), Benoit (@BitOne) but I don't know if they're interested and which part, so I'll let them respond if they want to.

[2020-06-16 08:44] noamr commented on #876
I'd be happy to contribute in the area of **performance** and **mobile web**. I'm an invited expert in the web performance working group. Would also be happy to participate in peer-reviews.

[2020-06-16 08:48] bazzadp commented on #876
@mikewest for Cookies if he's interested!

[2020-06-16 08:49] bazzadp commented on #876
@vitalyfriedman for Design if he's interested!

[2020-06-16 08:51] vitalyfriedman commented on #876
Wow, always interested :-) @bazzadp

[2020-06-16 10:00] ldevernay commented on #876
I'm thinking about contributing.
Really interested but I think a focus on sustainable design/web might be really great. You already have a lot of relevant indicators in the performance/accessibility/SEO sections (among others). It could be part of the User Experience section.
For those not familiar of this subject and reading french, I wrote some stuff about that on my website : https://ldevernay.

[2020-06-16 10:20] tpiros commented on #876
I'd love to take on parts of media, if possible!

[2020-06-16 11:02] ldevernay commented on #876
I just found an article I wrote last year about how to use your stats related to the environmental impact of websites : https://ldevernay.github.io/green/2019/11/13/web_almanac.html (sorry, it's written in french too).

[2020-06-16 12:44] nhoizey commented on #876
I would like @eeeps to write about images density on the Web, if data from httparchive can help discover how many websites send images more than 2dppx, and the impact on weight and performance.

[2020-06-16 20:38] patrickhulce commented on #876
I nominate @simonhearne for third-party chapter 🎉

[2020-06-17 06:34] rviscomi commented on #876
I'd like to nominate @thefoxis for the Performance chapter

[2020-06-17 07:08] ahmadawais commented on #876
Howdy, folks!

@rviscomi kindly put me down as the author of the `JavaScript` chapter. I've been prepping to write that one since the last time.

I'd also like to suggest a new chapter that I can write about JAMstack. Featuring the usage of Next.js, Nuxt, VuePress, and likes. Let me know what you think about that.

I'm also available as a reviewer for the `Markup`, `Media`, `PWA`, and `CMS` catego

[2020-06-17 07:32] MaedahBatool commented on #876
Hey, everyone!
@rviscomi please count me in as the author for the **Resource Hints** chapter. Also, I'll be able to collaborate as a reviewer for the **CMS** category.

[2020-06-17 08:30] contactwithsharad commented on #876
I would like to nominate [Kiran Gupta](https://github.com/kirangupta77) for SEO section, she has relevant experience in the same and can contribute.

[2020-06-17 14:48] obto commented on #876
@ahmadawais That sounds interesting. What kind of metrics do you think that chapter would entail?

[2020-06-17 16:07] rviscomi opened #878 "Jamstack 2020"
# Part III Chapter 17: Jamstack

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @AhmadAwais  |  @phacks  @maedahbatool| @denar90 @remotesynth | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @AhmadAwais

**Published at:** https://almanac.httparchive.org/en/202

[2020-06-17 16:08] rviscomi commented on #878
@tpiros was also interested in authoring a JAMstack chapter

[2020-06-17 16:09] rviscomi commented on #876
@ahmadawais @obto @tpiros I forked the JAMstack discussion into #878 to keep this focused on authors.

[2020-06-17 17:42] tpiros commented on #878
Thinking about this a bit further, especially when it comes to metrics, this could be a subtopic under Performance?

It'd be interesting to see how sites created with the Jamstack do in the performance space

[2020-06-17 18:07] rviscomi commented on #878
This is similar to chapters like CMS and Ecommerce that used performance as a lens through which to look at a smaller problem space. In those chapters there was also more to discuss that only performance, which made them good candidates for standalone chapters.

Depending on how much "meat on the bones" there is for the JAMstack topic, we could consider folding it into another chapter, having it b

[2020-06-17 18:08] bazzadp commented on #878
Yeah I was going to ask how you would define something as a JAMStack from the outside? Other than certain hosts hosting it (in which case CDN would be a better fit) I would have thought it would be difficult to measure from outside.

[2020-06-17 22:44] connorjclark commented on #876
I think @patrickhulce would be great for the 3p web portion.

[2020-06-18 00:04] mor10 commented on #876
Count me out this time around (no availability). On a macro level, I encourage you to put a strong focus on diversity and inclusion in the contributors to ensure a broad representation of voices and perspectives.

[2020-06-18 00:17] mor10 commented on #876
For accessibility you might want to reach out to @bamadesigner and @rianrietveld to see if there is interest or further recommendation down the accessibility tree.

[2020-06-18 04:56] #448 closed

[2020-06-18 06:50] AVGP commented on #876
I'd love to see @ashleyish, @rachellcostello and @dwsmart for SEO. I'll check with a few people where I don't have the Github usernames, too

[2020-06-18 07:23] ahmadawais commented on #878
JAMstack I believe cannot be similar to CMS or perf since those are the value propositions. I was hoping to check the trend of how many sites are using popular and known static site generators. I believe this could be a part of other chapters like CDN, JS, and Markup — provided we are able to track it..

[2020-06-18 07:37] borisschapira commented on #878
While I really enjoy JamStack, I think it fits into content management, only with a different infrastructure. What could possibly be of interest on the Front side is to distinguish SPAs (Gatsby type) from non-SPAs to evaluate the impact of JavaScript on a first load in a content-reading context.

[2020-06-18 10:29] bazzadp opened #880 "Use more inclusive language in this project"
Following on from recent movements in other projects, I'd like to use more inclusive language in this project.

Namely:
- [x] A few instances of "whitelist" in the Security chapter for CSP. These are perfectly valid (it's in the CSP spec after all), but can easily be reworded to avoid this whole debate. #883
- [x] Rename `master` branch to `main` in Git. #881
- [ ] Delete `master` branch after rel

[2020-06-18 11:37] aysunakarsu commented on #876
I would like to contribute as an author for the SEO part and can be a reviewer in the CMS or compression parts.

[2020-06-18 13:15] rviscomi commented on #880
I wholeheartedly endorse these changes.

When changing content, let's be sure to loop in the original authors.

[2020-06-18 14:26] nico3333fr commented on #876
I'd love to have a global "web quality" section, maybe by people like Élie Sloïm, Véronique Lapierre or other web quality masters.

For accessibility, I would also enjoy people like Carrie Fisher, Denis Boudreau, or Steeve Faulkner.

[2020-06-18 14:30] bazzadp commented on #880
Found some more references - including links to Licence and SQL on the website.

I still think it's worth doing though.

[2020-06-18 14:39] AVGP commented on #876
Jamie would be interested in the SEO chapter, too, right @fellowhuman1101?

[2020-06-18 15:32] obto commented on #878
I'm a big fan of adding more segments like this to metrics, because this tends to be where the most exciting findings occur. Couple questions:

1. Which metrics would be most interesting to segment/compare like this?
2. How reliably can we detect if a site is JAMstack?

[2020-06-18 15:42] rviscomi commented on #878
Relevant discussion: https://discuss.httparchive.org/t/define-jamstack-sites-performance/1713
cc @denar90

[2020-06-19 06:53] ldevernay commented on #876
Web quality is a very wide topic and would be great to have all these people contribute.
Would it make sense to maybe discuss on that and how to work on that based on the available indicators?

[2020-06-19 19:12] Zizzamia commented on #876
Happy to help on both **Resource Hints** and **Performance** ✨ 🌕 ✨

[2020-06-20 09:29] bazzadp commented on #880
The default branch has been moved from `master` to `main`. Please follow above steps to update any local copies or forks. We will delete the `master` branch in a week or so.

Note if you want to just reset your forked `main` branch to be the same as the main repo, then you can do the following in your fork - after completing above steps:

[code]

[2020-06-20 12:17] bazzadp commented on #810
@catalinred I've been thinking over your proposal, and can see the advantage of that in terms of boosting the signal of the current year.

However I would have big concerns about breaking any linking as soon as we archive the 2020 chapter into `https://almanac.httparchive.org/en/2020/`. The intention is to make this resource a quotable resources and [we've worked hard to make it it deep linkable](

[2020-06-20 12:36] bazzadp commented on #810
@rviscomi as discussed above we only have limited influence over how we appear in SERPs and when I search for an incognito window I get better results than you did previously:

![SERPs for term "Web Almanac"](https://user-images.githubusercontent.com/10931297/85201590-90d91200-b2f8-11ea-8093-dc6e4dd3cb10.png)

I dod think we should add the language and year to the breadcrumbs (see [example of how

[2020-06-20 12:37] bazzadp opened #884 "App Engine URL being indexed in preference to real URL"
As discussed in https://github.com/HTTPArchive/almanac.httparchive.org/issues/810#issuecomment-646989183 some chapters seem to be being indexed under the App Engine URL despite the canonical meta tag pointing to the real one:

![Google Search Results showing SEO French Chapter indexed under the wrong URL](https://user-images.githubusercontent.com/10931297/85201650-093fd300-b2f9-11ea-9f70-47f995112

[2020-06-20 12:44] bazzadp opened #885 "Add language and year to Structured Data Breadcrumbs"
As discussed in https://github.com/HTTPArchive/almanac.httparchive.org/issues/810#issuecomment-646989183 we could improve our [structured data breadcrumbs](https://search.google.com/structured-data/testing-tool/u/0/#url=https%3A%2F%2Falmanac.httparchive.org%2Fen%2F2019%2Fperformance) to include language and year to match the URLs which could be better for SEO - particularly when we have the 2020 e

[2020-06-20 17:22] rviscomi commented on #884
Can this be solved with canonical URLs?
https://support.google.com/webmasters/answer/139066?hl=en

[2020-06-20 17:25] bazzadp commented on #884
Look at the source of that link: https://20200110t162143-dot-webalmanac.appspot.com/fr/2019/seo

It has the Canonical URL correctly set (and always has):

`<link rel="canonical" href="https://almanac.httparchive.org/fr/2019/seo" />`

Also testing the link in Google Search Console shows it’s correctly being picked up. But for some reason Google just doesn’t want to index it 😔

[2020-06-20 18:13] bazzadp commented on #884
An alternative, which might be safer, and also allow us to continue to use test URLs on the odd time we need them, would be to just add a `<meta name="robots" content="noindex">` to the head if not the main domain rather than redirect.

[2020-06-20 18:57] bazzadp commented on #884
Asked for help: https://twitter.com/tunetheweb/status/1274414793915596800?s=21 😀

[2020-06-21 00:57] rviscomi opened #886 "Select 2020 authors"
As a follow up to #876 we should collect all of the nominations, organize by chapter, and reach out to nominees to gauge their interest and availability.

The deadline for this is **July 6** to unblock content teams.

In this selection process we should pick one author to be the content team lead, and they can choose other coauthors as needed in their respective [tracking issues](https://github.co

[2020-06-21 01:14] rviscomi opened #887 "Create tracking issues for chapter planning"
Similar to issues like #14, create one issue per chapter and prepopulate it with placeholders for metadata like section, chapter name, chapter number (sequence still TBD), authors (TBD), reviewers (TBD), and analysis (TBD). Each issue should have a due date and a checklist of four tasks: finalize authors, finalize reviewers, finalize analysts, finalize metrics. We can use the sections/chapters fro

[2020-06-21 01:22] rviscomi commented on #815
Not all years will be the same so a core "almanac.css" might not age well. I'll leave it up to you how to best resolve future compatibility with deduplicating 2020 and 2019 styles.

I see what you mean. If I'm reading a 2019 chapter and select 2020 from the year switcher, what happens if that chapter doesn't exist in the new edition. (Or going from 2020 to 2019). I think the only answer is that we

[2020-06-21 01:26] rviscomi commented on #887
A couple of issues have already been spun out of the author nominations thread like #878 and #877. For this issue's purpose, let's edit those issues to assume that they're first class chapters so we can go through the content planning exercise. If it turns out that the topics ought to be merged with other chapters or at worst dropped entirely, we can always do that. But best to get the planning ba

[2020-06-21 09:23] jadjoubran commented on #876
Please count me in for **JavaScript** and **PWA**, thanks!

[2020-06-21 13:46] softplus commented on #884
We picked this URL up from crawling the rest of the appspot site. In general, the rel-canonical is the right approach here, but it's not guaranteed or immediate, especially when we don't crawl much from that part of the site. Using a redirect would probably speed that up a bit, but apart from the URL, it won't change anything for search. There's no need to force this kind of thing.

[2020-06-21 13:52] RReverser commented on #877
I think these are available for any subresources, so should be included for Wasm as well.

These, however, are more complicated. I doubt anyone has data on the last one (there is a corresponding informational section in Wasm, but I'm fairly sure that most devs strip it before deployment), and the former is probably available only in Chrome counters or by manually fetching & analysing each Wasm sub

[2020-06-21 14:03] bazzadp commented on #884
Thanks @softplus so best to just leave as is? And `noindex` isn’t necessary and won’t help?

It’s just it’s been over two months since we launched some of these chapters:
![Google Search Console screenshot showing 0 error pages, 0 warning pages, 61 valid pages and 11 not indexed pages](https://user-images.githubusercontent.com/10931297/85201614-bebe5680-b2f8-11ea-8748-d1dab9fbbeac.png)

Google is

[2020-06-21 14:12] softplus commented on #884
We're not indexing the other version at the moment, and this version (the appspot one) isn't crawled that frequently, so a noindex wouldn't be useful. One way you could help to get the preferred version indexed is to make sure that all internal links also point at that version of the site. At the moment you're using relative links, so if a part of the appspot site is crawled, it's easy to just kee

[2020-06-21 14:32] bazzadp commented on #884
Yeah it’s the combination of not indexing, *and* then seeing other site indexing that was perplexing me.

And the irony of not being able to get the SEO chapter to correctly index is what’s especially galling! 😀 Though at least the originally English version is indexed.

Ok guess we’ll just have to wait and see. I’m not a fan of the full link as that would interfere with the development site. It w

[2020-06-21 17:01] rviscomi commented on #877
@RReverser what Wasm related Chrome counters do we have available? What other useful stats might be feasible?

[2020-06-21 19:11] #884 closed

[2020-06-21 19:22] bazzadp commented on #884
Added the `noindex` meta tag and confirmed it only shows when the real domain isn't used. We monitor and see if that makes any diffence.

[2020-06-21 20:09] #885 closed

[2020-06-21 20:10] #810 closed

[2020-06-21 23:41] rviscomi commented on #567
@HTTPArchive/developers any takers?

[2020-06-21 23:49] rviscomi opened #892 "Improve dropdown button focus state"
When the language switcher is focused, the border and text turn yellow, and there is also a blue/white outline:

![image](https://user-images.githubusercontent.com/1120896/85237809-85204500-b3f7-11ea-84a7-bfb337d189d4.png)

As long as the element changes appearance to yellow when focused, I don't think we need the outline.

One other minor style improvement might be to also change the dropdown arr

[2020-06-22 06:05] bazzadp commented on #892
Hmmm... this is a Chrome specific thing (I believe they changed it recently). If you look at Firefox and Safari, they don't do this (though neither has been good with focus states IMHO!). I weary to change focus states as presume Chrome knows better than us, and this recent change has gone down well in accessibility community.

It's also a bigger issue than just the select:

![Focus state on Metho

[2020-06-22 07:17] catalinred commented on #892
Indeed, the focus outline styles changed with the latest Chrome. Usually, as you already know, we can remove the default focus styles only when we provide an alternative.
AFAIK, right now we're not using a different `:focus` style, so I wouldn't remove the defaults yet.

---

The native `select` is wrapped within another elem `.language-switcher` in order to be able to use that pseudo-element as a

[2020-06-22 07:22] catalinred commented on #567
I will do it.

[2020-06-22 07:31] bazzadp commented on #892
Yeah I can't repeat it now either on production. But am sure I could earlier.... Odd. Either that or my eyes were playing tricks on me!

[2020-06-22 08:51] catalinred commented on #876
If they are interested, I'd love to read from:

A11Y @stevefaulkner @SaraSoueidan @ericwbailey @scottaohara @aardrian
Markup @AmeliaBR @iandevlin @matuzo @simevidas
SEO @aleyda @ipullrank @dsottimano @jroakes
CSS @SaraSoueidan @impressivewebs @hankchizljaw @leaverou @chriscoyier @rachelandrew

Also, I'd be happy to help on any of the above.

[2020-06-22 08:54] rachelandrew commented on #876
I'd be happy to work on CSS.

[2020-06-22 08:57] iandevlin commented on #876
Happy to

[2020-06-22 08:58] hankchizljaw commented on #876
Always happy to write about CSS :)

[2020-06-22 09:12] matuzo commented on #876
I'd love to write about HTML :)

[2020-06-22 13:34] bazzadp opened #894 "Reimplement home page Hero Image with year as text"
As mentioned in https://github.com/HTTPArchive/almanac.httparchive.org/pull/893#issuecomment-647521501

Currently the hero image on the home page comes in two flavours:
- On Desktop it's [an image with the year embedded in it](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/static/images/home-hero-2019.png).
- On Mobile it's an [image without the year](https://github.com/HTTPA

[2020-06-22 17:38] catalinred commented on #894
I'll take a shot :)

[2020-06-22 18:21] rviscomi opened #895 "Typo in JS featured snippet"
Small typo fix, good for a first-time contributor!

![image](https://user-images.githubusercontent.com/1120896/85321946-80a96a00-b493-11ea-847f-bf576e760c78.png)

should be

[2020-06-22 19:46] aleyda commented on #876
Thanks for the reco @catalinred :) Would love to contribute to the SEO one if there's still room @rviscomi! Cheers

[2020-06-22 19:47] ipullrank commented on #876
Happy to contribute for SEO as well!

[2020-06-22 19:55] dsottimano commented on #876
Happy to contribute to SEO, thanks for the recommendation!

On Mon, Jun 22, 2020 at 2:47 PM ipullrank <notifications@github.com> wrote:

--
*David Sottimano*
Independent Marketing Consultant
https://www.davidsottimano.com
dsottimano@gmail.com

[2020-06-22 19:59] ericwbailey commented on #876
Thank you very much for the recommendation, @catalinred. I'd also like to recommend @segunolalive and @oluoluoxenfree for accessibility, they've done some really great work in this space.

[2020-06-22 21:02] aardrian commented on #876
Thanks for the recommendation @catalinred! I would be happy to contribute on accessibility, but as an over-represented annoying white guy, I would prefer to hear from someone with a broader lived experience than I can muster.

[2020-06-22 21:23] oluoluoxenfree commented on #876
I'd love to contribute to Accessibility! Recommending @marcysutton too if she isn't already on your radar.

[2020-06-22 21:31] segunolalive commented on #876
Thank you, @ericwbailey, for the nomination. I’d be happy to contribute to Accessibility

[2020-06-22 22:01] bazzadp commented on #885
Note these have already started appearing in SERPs:

![SEPRs for Performance and CSS chapter showing new and old breadcrumbs](https://user-images.githubusercontent.com/10931297/85339425-04874480-b4dc-11ea-9254-7e6a424845d1.png)

Note Performance has the new style breadcrumbs, and CSS style has the old one.

Would expect these to roll out to rest of the chapters over next month or so as they are al

[2020-06-22 22:22] scottaohara commented on #876
also appreciate the mention here, but would like to echo adrian's sentiments and recommend that others be considered before myself.  thank you

[2020-06-22 23:28] LeaVerou commented on #876
Happy to!

[2020-06-23 00:49] huijing commented on #876
I have more of a suggestion but I'm not sure where this would fit, but I would love to see more content around internationalisation.

[2020-06-23 03:18] rviscomi opened #896 "[Discuss] Interactive data visualizations"
Last year @bkardell built a [Glitch app](https://rainy-periwinkle.glitch.me/) to help slice the Markup chapter data and it was really useful to deep link for specific subsets of the data. And from the data exploration side I thought it was a great way for users to find their own interesting insights. I'd like to take that idea a step further and discuss how we might be able to embed interactive ex

[2020-06-23 17:24] una commented on #876
Yess! +1 to @LeaVerou :D Excited to read your thoughts

[2020-06-27 00:05] rviscomi commented on #875
[This search](https://github.com/search?q=bodies+repo%3AHTTPArchive%2Falmanac.httparchive.org+path%3Asql%2F2019&type=Code) narrows down the sql files to those that query the `almanac.summary_response_bodies` table. We need to create custom metrics for each of these, if possible.

[2020-06-27 02:39] obto opened #897 "JavaScript 2020"
# Part I Chapter 2: JavaScript

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @tkadlec | @ibnesayeed @jadjoubran @ahmadawais @denar90  | @rviscomi @paulcalvano  | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @tkadlec

Welcome chapter contributors! You'll be

[2020-06-27 02:39] obto opened #898 "CSS 2020"
# Part I Chapter 1: CSS

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @LeaVerou @svgeesus @rachelandrew | @fantasai @mirisuzanne @j9t @catalinred @hankchizljaw | @dooman87 @rviscomi @leaverou | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @LeaVerou

Welcom

[2020-06-27 02:40] obto opened #899 "Markup 2020"
# Part I Chapter 3: Markup

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @j9t @catalinred @iandevlin | @zcorpan @matuzo @bkardell (@ibnesayeed?) | @Tiggerito | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @j9t

Welcome chapter contributors! You'll be using

[2020-06-27 02:41] obto opened #900 "Media 2020"
# Part I Chapter 5: Media

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @tpiros @bseymour | @nhoizey @colinbendell @dougsillars | @smatei | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @tpiros

Welcome chapter contributors! You'll be using this issue throu

[2020-06-27 02:41] obto opened #901 "Third Parties 2020"
# Part I Chapter 6: Third Parties

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
|@simonhearne | @tammyeverts @jzyang @exterkamp | @max-ostapenko | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @simonhearne

Welcome chapter contributors! You'll be using this i

[2020-06-27 02:41] obto opened #902 "Fonts 2020"
# Part I Chapter 4: Fonts

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @raphlinus  | @malchata @RoelN @notwaldorf @mandymichael @svgeesus @rsheeter @jpamental @davelab6 | @AbbyTsai | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @jpamental

Welcome chapter

[2020-06-27 02:41] obto opened #903 "Cookies 2020"
# Part [Num] Chapter [Num]: Cookies

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| TBD | @roryhewitt | @max-ostapenko | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** TBD

Welcome chapter contributors! You'll be using this issue throughout the [chapter lifecy

[2020-06-27 02:41] obto opened #904 "Old - WebAssembly"
# Part [Num] Chapter [Num]: WebAssembly

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| TBD | TBD | TBD | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** TBD

Welcome chapter contributors! You'll be using this issue throughout the [chapter lifecycle](https://gi

[2020-06-27 02:41] obto opened #905 "Performance 2020"
# Part II Chapter 9: Performance

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @thefoxis | @dimension85 @borisschapira @estelle @zeman @rviscomi @obto @noamr @ashrith-kulai @Zizzamia @exterkamp | @max-ostapenko @dooman87 | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content t

[2020-06-27 02:42] obto opened #906 "Security 2020"
# Part II Chapter 11: Security

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @nrllh @tomvangoethem  |  @cqueern @bazzadp @edmondwwchan | @AAgar @tomvangoethem | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @nrllh

Welcome chapter contributors! You'll be us

[2020-06-27 02:42] obto opened #907 "Accessibility 2020"
# Part II Chapter 8: Accessibility

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @oluoluoxenfree  @alextait1 |  @aardrian @ericwbailey @obto | @obto | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @oluoluoxenfree

Welcome chapter contributors! You'll be usi

[2020-06-27 02:42] obto opened #908 "SEO 2020"
# Part II Chapter 7: SEO

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @aleyda @ipullrank @fellowhuman1101 | @clarkeclark @natedame @catalinred @aysunakarsu @ashleyish @dsottimano @dwsmart @en3r0 @Gathea @rachellcostello @ibnesayeed  | @max-ostapenko @Tiggerito @antoineeripret  | [Doc][~draft-doc] |

[2020-06-27 02:42] obto opened #909 "PWA 2020"
# Part II Chapter 14: PWA

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @hemanth | @thepassle @jadjoubran @pearlbea @gokulkrishh @jaisanth @logicalphase | @bazzadp | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @hemanth

Welcome chapter contributors! You'l

[2020-06-27 02:42] obto opened #910 "Mobile Web 2020"
# Part II Chapter 12: Mobile Web

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @spanicker @mdiblasio | @malchata @obto @cheneytsai  | @obto | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @spanicker

Welcome chapter contributors! You'll be using this issue

[2020-06-27 02:42] obto opened #911 "Design 2020"
# Part [Num] Chapter [Num]: Design

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| TBD | TBD | TBD | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** TBD

Welcome chapter contributors! You'll be using this issue throughout the [chapter lifecycle](https://github.

[2020-06-27 02:42] obto opened #912 "Capabilities 2020"
# Part II Chapter 13: Capabilities

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @christianliebel | @tomayac | @tomayac | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @christianliebel

Welcome chapter contributors! You'll be using this issue throughout the

[2020-06-27 02:42] obto opened #913 "Privacy 2020"
# Part II Chapter 10: Privacy

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @ydimova | @ldevernay | @ydimova @max-ostapenko | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @ydimova

Welcome chapter contributors! You'll be using this issue throughout the [ch

[2020-06-27 02:42] obto opened #914 "Ecommerce 2020"
# Part III Chapter 16: Ecommerce

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @rockeynebhwani @jrharalson | @drewzboto @alankent  | @jrharalson | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @rockeynebhwani

Welcome chapter contributors! You'll be using t

[2020-06-27 02:42] obto opened #915 "CMS 2020"
# Part III Chapter 15: CMS

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @alexdenning | @sirjonathan @ernee @amedina   | @GregBrimble @rviscomi | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @alexdenning

Welcome chapter contributors! You'll be using this

[2020-06-27 02:42] obto opened #916 "Compression 2020"
# Part IV Chapter 19: Compression

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @mo271  | @jyrkialakuijala @sboukortt @veluca93 @paulcalvano  | @AbbyTsai | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @mo271

Welcome chapter contributors! You'll be using t

[2020-06-27 02:42] obto opened #917 "Caching 2020"
# Part IV Chapter 20: Caching

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @roryhewitt | @csswizardry @jzyang @jaisanth @Soham-S-Sarkar | @raghuramakrishnan71 | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @roryhewitt

Welcome chapter contributors! You'll

[2020-06-27 02:42] obto opened #918 "CDN 2020"
# Part [Num] Chapter [Num]: CDN

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| TBD | @andydavies @colinbendell @elithrar @triblondon | @AAgar | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** TBD

Welcome chapter contributors! You'll be using this issue throug

[2020-06-27 02:42] obto opened #919 "Page Weight 2020"
# Part IV Chapter 18: Page Weight

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @henrihelvetica | @tammyeverts @borisschapira @khempenius | @paulcalvano | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @henrihelvetica

Welcome chapter contributors! You'll be

[2020-06-27 02:42] obto opened #920 "Resource Hints 2020"
# Part IV Chapter 21: Resource Hints

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @Zizzamia  | @notwillk @giopunt @jessnicolet @pmeenan @mgechev  | @khempenius | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @Zizzamia

Welcome chapter contributors! You'll

[2020-06-27 02:43] obto opened #921 "HTTP/2 2020"
# Part IV Chapter 22: HTTP/2

## Content team
| Authors | Reviewers | Analysts | Draft | Queries | Results |
| ------- | --------- | -------- | ----- | ------- | ------- |
| @dotjs | @MikeBishop @LPardue @rmarx @ibnesayeed @pmeenan @Nooshu @gregorywolf @bazzadp | @gregorywolf | [Doc][~draft-doc] | [*.sql][~sql-dir] | [Sheet][~results-sheet] |

**Content team lead:** @dotjs

Welcome chapter contrib

[2020-06-27 03:16] #904 closed

[2020-06-27 03:22] obto commented on #876
Hey everyone, super exciting to see the level of enthusiasm here 😄

In order to keep things organized, we just created issues for each of the chapters ([see the first comment](https://github.com/HTTPArchive/almanac.httparchive.org/issues/876#issue-639230190)). So from now on, If you'd like to volunteer for a role or nominate someone, please make a comment in the relevant chapter issue and ping @ob

[2020-06-27 05:00] rviscomi opened #922 "Join the 2020 Editors team"
Editors are technical writers with a keen eye for content quality who help Almanac authors polish their final drafts. To learn more, check out the [Editors' Guide](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Editors'-Guide).

Are you interested in joining the fine folks in the @HTTPArchive/editors team? Simply comment on this thread and we'll send you an invite.

[2020-06-27 05:18] rviscomi opened #923 "Join the 2020 Translators team"
Translators are a group of fluent multilingual technical writers who make the insights of the Web Almanac accessible to new audiences worldwide by translating the contents of the 20+ chapters. To learn more, check out the [Translators' Guide](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Translators'-Guide).

Are you interested in joining the fine folks at in the @HTTPArchive/transla

[2020-06-27 05:27] rviscomi opened #924 "Join the 2020 Developers team"
Developers are responsible for the technical infrastructure of the website and solve complex problems about accessibility, performance, internationalization, SEO, and more. To learn more, check out the [Developers' Guide](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Developers'-Guide).

Last year the development team achieved some pretty interesting, cutting edge or innovative items

[2020-06-27 05:37] aleyda commented on #908
Sounds great :) Count me in!

[2020-06-27 07:12] bazzadp commented on #921
Question about what this chapter should be called given that HTTP/3 is now here (even if not quite officially signed off yet). Stick with HTTP/2? Change to HTTP? Should we rename the 2019 chapter (with redirect obviously) or leave as is? Probably best to wait until we've got an author/authors to let them help decide.

[2020-06-27 07:37] rviscomi commented on #921
That's a great question, I'm not sure what the best name is. Agreed, let's see where the content planning takes us and keep the option open to rename the chapter if needed.

[2020-06-27 07:55] dimension85 commented on #905
I am interested in the reviewers role for this topic  - Phil

[2020-06-27 08:11] SaptakS commented on #924
I would love to join the developer's team.

[2020-06-27 08:22] techhtml commented on #924
🙌🙌

[2020-06-27 08:37] max-ostapenko commented on #924
Yes, please

[2020-06-27 09:17] ahmadawais commented on #924
Count me in for smaller contributions here and there. 🙌

[2020-06-27 09:59] bazzadp commented on #924
Welcome one and all! I'm Barry and I've been leading the development of the Almanac for the last few months. I managed a software development team in Ireland so dabble in all parts of web development though my JavaScript and CSS knowledge is a bit hobbled together so could do with much improvement! Would love you all to give a little intro to yourselves and what development in particular you're st

[2020-06-27 10:28] techhtml commented on #923
Korean translation volunteer is here.

[2020-06-27 10:46] bazzadp commented on #923
Hi @techhtml , have you any interest in translating the 2019 edition to Korean? Would keep you busy between now and when the 2020 edition is ready in November-ish, and give you a head start for that of what is involved. If so then will raise an issue for that to give you guidance and track your progress. If not and can only commit later in the year then that's fine too.

[2020-06-27 11:30] borisschapira commented on #924
Hi, you know me from translating some chapters to French, and you can count on me for 2020 on the dev. part too.
I'm getting by with JS and used both hexo, Jekyll, hugo and Eleventy for other static generated websites so I can understand the technical workflow. I can help improve the performance, or the global architecture (have we thought about a headless CMS for contribution?), and I'm *really*

[2020-06-27 11:31] borisschapira commented on #923
I'm there for the 2020 French edition (still trying to finish 2019, though).

[2020-06-27 11:49] bazzadp commented on #924
Good to have you back for 2020 @borisschapira !

I’ve stuck some high level goals for 2020 here: https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Developers'-Guide#goals-for-2020-edition. That’s on top of the obvious one of getting 2020 launched!

Would love to hear your (or anyone else’s!) feedback on those or additional ones we should consider.

[2020-06-27 13:23] borisschapira commented on #905
I'm afraid I'm not fluent enough in English to create the content. I can help reviewing, though.

[2020-06-27 13:23] borisschapira commented on #899
I'm afraid I'm not fluent enough in English to create the content. I can help reviewing, though.

[2020-06-27 14:20] techhtml commented on #923
@bazzadp Sure :) I'll be starting to translate 2019 edition to Korean.

[2020-06-27 14:26] bazzadp opened #926 "Translate 2019 content into Korean"
These are the chapters to be translated, and they exist in the [content directory](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/src/content):
- [ ] accessibility -
- [ ] caching -
- [ ] cdn -
- [ ] cms -
- [ ] compression -
- [ ] css -
- [ ] ecommerce -
- [ ] fonts -
- [ ] http2 -
- [ ] javascript -
- [ ] markup -
- [ ] media -
- [ ] mobile-web -
- [ ] page-weight -
- [ ] perfo

[2020-06-27 14:27] techhtml opened #927 "Translate content to Korean, 2019 Edition"
I had to start to Korean translation of 2019 Edition.

There are lists that I need to translate:
- [ ] accessibility
- [ ] caching
- [ ] cdn
- [ ] cms
- [ ] compression
- [ ] css
- [ ] ecommerce
- [ ] fonts
- [ ] http2
- [ ] javascript
- [ ] markup
- [ ] media
- [ ] mobile-web
- [ ] page-weight
- [ ] performance
- [ ] pwa
- [ ] resource-hints
- [ ] security
- [ ] SEO
- [ ] third-parties - Partie T

[2020-06-27 14:27] bazzadp commented on #923
Excellent. Opened #926 for this.

[2020-06-27 14:29] bazzadp commented on #927
Oh we were both working on this! Shall we close this and use #926 ?

[2020-06-27 14:33] techhtml commented on #927
@bazzadp Sure. We moved to #926 haha.

[2020-06-27 14:33] #927 closed

[2020-06-27 14:36] bazzadp commented on #926
You really need these to be able to run the site in a new language so suggest you start with them first:

- base.html
- base_chapter.html
- index.html
- table_of_contents.html

They are also a lot easier to translate than the chapters themselves as a lot shorter!

then up to you whether you finish out all the templates or tackle a chapter.

[2020-06-27 14:56] bazzadp commented on #926
You'll also need to add Korean to here:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/bc835a83ec00489f36253d5751dea4a7267ca703/src/language.py#L28-L33

and the language code (ko?) to here (but let's not commit this second one until we have at least the main templates and a chapter or two done because committing it here means it would be put live on next release):

https://github.com

[2020-06-27 15:58] bazzadp commented on #876
@obto just making sure you didn't miss [this suggestion](https://github.com/HTTPArchive/almanac.httparchive.org/issues/876#issuecomment-647841409) from @huijing ? @rviscomi and I talked briefly about it before and think it would make interesting analysis - either as a stand along chapter (if there's enough content) or part of another one?

Also @nico3333fr mentioned [web quality earlier](https://g

[2020-06-27 16:00] bazzadp commented on #913
Great (and very relevant!) topic. Should it be merged with [Cookies](#903) though as often quite related? Or do we think there's enough for them both to be their own chapter?

[2020-06-27 16:05] rachelandrew commented on #898
I'd be happy to help here. Layout is my CSS specialism but I can write about most things. I'm also an experienced editor.

[2020-06-27 16:46] elithrar commented on #924
More than happy to help & contribute here—the Almanac is an important resource in making the web more accessible/understandable 👏🏼

(I lead CDN @ Google Cloud and maintain a number of large HTTP libraries, and hence am already pretty invested in this space!)

[2020-06-27 16:54] bazzadp commented on #924
Wow great to have such expertise @elithrar ! If you’re a CDN and HTTP expert then am sure you could contribute to those chapters too if you want: #918 and #921

[2020-06-27 16:59] elithrar commented on #921
My thoughts: frame it as HTTP, and break it down to an acceptable level - accepting that it gets very complex quickly if you look at HTTP/1.1 vs HTTP/2 (streams, prioritization, etc) vs HTTP/3 (QUIC transport, etc).

A lot of the HTTP semantics users & *web* developers interact with are consistent across versions, and we should start there, with sub-sections for what HTTP/2 and HTTP/3 bring (and w

[2020-06-27 17:01] elithrar commented on #918
Question: what changes - due to feedback or otherwise - needs to be made to 2019’s CDN content? https://almanac.httparchive.org/en/2019/cdn

(what are the biggest gaps, where can we help readers more, etc?)

[2020-06-27 17:09] elithrar commented on #924
@bazzadp More than happy to. Let me know what needs to be done to “formalize” it so I can dedicate the right amount of time.

(I am sure a couple of others in my broader group would also be willing to contribute / act as reviewers - we have a mix of backgrounds across the team!)

[2020-06-27 17:48] bazzadp commented on #924
Basically if willing to take on the author or reviewer role, then pipe up and volunteer yourself in one of those issues! Or volunteer others if you either think they might be interested or would like to hear from them.

Particularly for those two chapters I don't recall a lot of volunteers. Definitely weren't for the HTTP/2 one, which is how I became involved in this project! 😀

However, as you wo

[2020-06-27 18:02] bazzadp commented on #921
Agree with that.

Still considering what to do on last year's chapter. Do we rename it? Gut feel is no, as it was very HTTP/2 focused (with a quick dip into HTTP/3 at the end), even if that does lead to a slight inconsistency in the naming cross year.

I spent a good part of [last year's HTTP/2 chapter](https://almanac.httparchive.org/en/2019/http2) giving the basics as still think this is a fairl

[2020-06-27 18:12] bazzadp commented on #918
I think those are excellent questions! We did set up forums for each chapter and they are linked at the bottom of the chapters, [just below the conclusion](https://almanac.httparchive.org/en/2019/cdn#conclusion):

![Forum link for CDN chapter showing 3 comments](https://user-images.githubusercontent.com/10931297/85929027-3d8f3280-b8a9-11ea-836b-bd70d22eea2d.png)

Not everyone may be aware of these

[2020-06-27 18:37] rviscomi commented on #887
Here's the hotlist of tracking issues for each chapter: https://github.com/HTTPArchive/almanac.httparchive.org/issues?q=label%3A%222020+chapter%22

@obto are there any other logistics we need to handle for each of these issues?

Inspired by Barry's comment in the CDN issue https://github.com/HTTPArchive/almanac.httparchive.org/issues/918#issuecomment-650594508 it may be a good idea to also tag las

[2020-06-27 18:45] andydavies commented on #918
I'll re-read the chapter and the notes I had at the time.

Did create this retro with some thoughts just after we'd finished write it - https://github.com/HTTPArchive/almanac.httparchive.org/issues/220

[2020-06-27 20:25] catalinred commented on #924
Count me in!

[2020-06-28 04:49] dsadhanala commented on #924
Interested, please include me!

[2020-06-28 06:08] 25prathamesh commented on #924
Hi count me  in , my  developement skills  are javascript & python .  i also do web performance consulting so i can also review different topics related web performance  or code changes  related to performance

[2020-06-28 09:46] j9t commented on #898
I’m happy to contribute, too. With my current workload the least I can commit to is reviewing—I look forward to coordinating with whoever would be driving this section.

[2020-06-28 09:47] j9t commented on #899
I’m happy to contribute to this. With my current workload the least I can commit to is reviewing—I look forward to coordinating with whoever would be driving this section.

[2020-06-28 22:16] obto commented on #913
@bazzadp Good q. I think this is something that will be made clear as we brainstorm what metrics should belong in this chapter. If there ends up being a lot of overlap and not enough unique to this chapter alone... then we can talk about merging it with another chapter like Cookies

[2020-06-28 22:23] obto commented on #876
@bazzadp Big thanks for the heads up, had missed a couple of these. We'll make a call on these tomorrow 👍

[2020-06-28 23:28] obto commented on #908
I'd like to nominate [Nate Dame](https://www.linkedin.com/in/natedame/) as well.

Really looking forward to how this chapter turns out with how much enthusiasm there is for it 😄

[2020-06-28 23:39] obto commented on #907
Would love to hear from and nominate @WilcoFiers.

We make extensive use of axe in our data collection and I'd be excited to read from an author who is not just an expert in A11Y, but one who has an intense understanding of all the data we're collecting.

[2020-06-28 23:45] bazzadp opened #933 "[Discuss] How to improve testing"
As discussed in the [Goals section of the Developer's Guide](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Developers'-Guide#goals-for-2020-edition), I'd like to consider how we can increase our automatic testing.

The tech stack is starting to get complicated and with 2020 coming along, we should look at how we can ensure we don't break old functionality when adding new functionalit

[2020-06-29 08:37] #567 closed

[2020-06-29 10:09] rmarx commented on #921
Hello everyone. I'd like to again be a reviewer for this chapter this year. I could also contribute text on HTTP/3 and QUIC concepts if we go that route.

My 2 cents would be that the almanac should indeed focus more on the practical use of the tech seen over the past year, as measured by the HTTP archive runs. From that perspective, there won't be much to discuss on HTTP/3 yet, as few servers and

[2020-06-29 11:23] max-ostapenko commented on #903
My experience is related to advertising and analytics technology, so I'm watching the cookie policy changes adoption with help HTTP Archive benchmarks.
I'd like to participate as an analyst for this chapter.

[2020-06-29 11:28] max-ostapenko commented on #901
I'd like to participate as an analyst in this chapter.

[2020-06-29 11:31] max-ostapenko commented on #908
I'd like to participate as an analyst in this chapter.

[2020-06-29 12:21] colinbendell commented on #918
Two additional items:
1. CDN detection should be revised. Specifically, ASN should be evaluated in addition to the CNAME chain. Google is also problematic as it is both CDN and service hosting.
2. Non US testing would be nice

[2020-06-29 13:10] ibnesayeed commented on #933
Adding a `Dockerfile` with necessary development and testing environment will help contributors test their changes locally more easily before pushing.

[2020-06-29 14:48] bcinarli commented on #924
I can also help if any additional hands are needed. Can help coding related needs for accessibility, CSS or other you name it.

(I'm leading performance, frontend architectural related topics in Adidas)

[2020-06-29 14:55] bcinarli commented on #923
I can help for Turkish translations

[2020-06-29 16:08] bazzadp commented on #933
I've not used Docker much to be honest. What would that give us? Just conscious of adding extra tech and complexity so would want to know the benefits and how we maintain the docker file going forward.

At the moment you need node v12, and Python 3 installed (which are standard enough development tools that I would expect most developers to have installed IMHO). Then we do have some more requireme

[2020-06-29 16:29] ibnesayeed commented on #933
https://github.blog/2020-06-18-introducing-github-super-linter-one-linter-to-rule-them-all/

[2020-06-29 17:17] bazzadp commented on #933
I am loving this! Example output here: https://github.com/bazzadp/almanac.httparchive.org/runs/819255550?check_suite_focus=true

Need to do some cleanup before we enable it for some code types but looks great!

[2020-06-29 17:25] ibnesayeed commented on #933
I would suggest adding any exceptions only when necessary. Though, this means there will be a really big PR to eliminate all the linting issues.

[2020-06-29 17:28] bazzadp commented on #933
Is it possible to add exceptions without importing the whole TEMPLATE file and customising it? Or is that what you are supposed to do?

[2020-06-29 17:44] ibnesayeed commented on #933
It is nothing but a curated collection of popular linters in various languages, so the options of disabling certain rules inline or via config are supposed to happen they way those linters in different languages expect them to be. Read more about [Disabling linters and Rules](https://github.com/github/super-linter/blob/master/docs/disabling-linters.md) for various languages.

[2020-06-29 17:48] ibnesayeed commented on #924
I can help with Docker, GH Actions, and some other aspects of development. I am already part of the Reviewers team, but I can be added to the Developers team as well.

[2020-06-29 18:15] ibnesayeed commented on #933
* A ready to roll image that will have all the necessary dependencies pre-installed and fully configured to the need of the app
* Isolation from the host machine's environment, so nothing used for this app can affect other application or host and vice versa
* Reliable cleanup of the system when done working on this project so no dependencies or artifacts are littered in the host machine
* Detectin

[2020-06-29 19:04] housseindjirdeh commented on #897
I can definitely help review this chapter!

Some amazing people in community that I'd like to nominate (only if they're interested in writing for the 2020 Web Almanac of course):

* @tkadlec
* @benschwarz
* @thefoxis
* @denar90
* @ahmadawais
* @jadjoubran

[2020-06-29 19:12] ibnesayeed commented on #921
I should be able to review this chapter.

[2020-06-29 19:14] ibnesayeed commented on #899
I can review this chapter.

[2020-06-29 19:14] ibnesayeed commented on #897
I should be able to review this chapter.

[2020-06-29 19:37] ahmadawais commented on #897
@housseindjirdeh thanks for the mention. I've already asked to be the author of this JavaScript chapter for 2020 Almanac. I'd love more contributors. And your content from 2019 is going to be quite helpful as it laid the foundation. We might also include a heading on JAMstack this year. 😇🙌

[2020-06-29 21:59] zcorpan commented on #900
See https://discuss.httparchive.org/t/how-many-pages-use-picture-with-source-media/1975 - data on how common "art direction" use case is would be nice. A simple proxy is pages that use `<picture><source media>`.

[2020-06-29 22:11] clarkeclark commented on #908
I'm happy to be a reviewer again this year for the SEO chapter.

[2020-06-29 22:24] bazzadp commented on #933
OK lets gives it a go. You want to submit a PR with a Dockerfile @ibnesayeed ?

[2020-06-29 22:27] ibnesayeed commented on #933
I will give it a go over the weekend hopefully.

[2020-06-29 22:39] bazzadp opened #937 "Create Dockerfile to run dev env"
As discussed in https://github.com/HTTPArchive/almanac.httparchive.org/issues/933#issuecomment-651280322 let's set up a Dockerfile to allow easier launching of dev env

[2020-06-29 23:14] bazzadp opened #938 "Implement linters for Python, CSS, JS, JSON and YML files"
As discussed in https://github.com/HTTPArchive/almanac.httparchive.org/issues/933#issuecomment-651228508 GitHub has a [superlinter](https://github.blog/2020-06-18-introducing-github-super-linter-one-linter-to-rule-them-all/) which will help to find typos and ensure a consistent coding style.

This can run through a GitHub action when a pull request is submitted so the requester gets quick feedback

[2020-06-29 23:22] ibnesayeed commented on #938
I can review the code once a PR is up.

[2020-06-29 23:28] bazzadp commented on #938
Was hoping you would! 😀 Coming right up!

[2020-06-30 05:59] satyakresna commented on #895
Hi @rviscomi, I would like to fix this issue. I will send the PR later. Anyway, what is the meaning of P in **3P code** and **1P code**?

[2020-06-30 06:13] bazzadp commented on #895
**3P code** means "Third-party code" (i.e. things like Google Analytics, Ads marketing trackers...etc. that site developer may not have direct control over).
**1P code** means "First-party code" (i.e. code hosted by this site and so more likely written and under direct control of this site).

I agree the short names are not very obvious (they are *not* common acronyms for third-party and first-par

[2020-06-30 06:52] ldevernay commented on #913
I think I could contribute as a reviewer on this topic.

[2020-06-30 07:37] nhoizey commented on #900
Hi, I'm not sure I can work on the technical implementation of queries/reports, but I can work on content as author or reviewer.

I already [suggested @eeeps](https://github.com/HTTPArchive/almanac.httparchive.org/issues/876#issuecomment-644738783) for this topic, but I could work with him, at least.

[2020-06-30 09:27] bazzadp commented on #923
Excellent @bcinarli ! Same suggestion to you - do you want to make a start on adding Turkish for 2019? Just copy #926 to a new issue and have a read of the comments in there to get started.

[2020-06-30 13:31] #938 closed

[2020-06-30 14:41] satyakresna commented on #895
Thanks @bazzadp. I just send the PR. Please help to review. :)

[2020-06-30 14:47] satyakresna commented on #924
Hi, thank you for allowing me to join developer team. I'm Kresna and I [write about web development and random things in my personal blog](https://satyakresna.io) and [build an unofficial role playing game wiki](https://bfwiki.satyakresna.io) for my self and community. Usually, I develop web using HTML, CSS, JS and PHP. But, this is my first time involved in almanac project that using Python stack

[2020-06-30 15:43] natedame commented on #908
I'd love to join! Since this would be my first year I'd like to be a reviewer if possible.

[2020-06-30 16:24] #895 closed

[2020-06-30 19:23] catalinred commented on #908
I'd love to help in any way.

[2020-06-30 19:23] catalinred commented on #899
I'd love to help in any way.

[2020-06-30 19:23] catalinred commented on #898
I'd love to help in any way.

[2020-06-30 19:46] rviscomi commented on #567
Thanks for fixing this @catalinred! I've also finally updated this repo's social media image to be a screenshot of this new logo.
![image](https://user-images.githubusercontent.com/1120896/86170223-c9db6880-bae8-11ea-883f-1c51a4a7c968.png)

[2020-07-01 07:06] ldevernay commented on #876
@obto : I think I could write a section on sustainable design (given an analyst could give me a hand to gather stats). The basics are in one of my articles : https://ldevernay.github.io/green/2019/11/13/web_almanac.html
(and we could probably go further on the subject)
Unless it becomes a sub-section of another section (like Design).

[2020-07-01 14:04] obto commented on #876
Hery @ldevernay. After discussing the idea of a Sustainable Design chapter, we think it'd be best to incorporate it into the [Design chapter](https://github.com/HTTPArchive/almanac.httparchive.org/issues/911) for now. If it looks like there's enough unique content to separate it from the Design chapter once an outline and metrics have started coming together, we'll consider splitting it off into i

[2020-07-01 15:21] jrharalson commented on #876
I'd really like to help (co-authoring, reviewing, and/or extracting data) with the ECommerce chapter this year to highlight several critical platforms that were not "discovered" by the wappalyzer tool in 2019. IBM/HCL, SAP/Hybris, and SalesForce Commerce Cloud platforms are significant players in the Ecommerce platform space that I'd like to figure out to uncover via wapp + maybe Crux/HTTPArchive

[2020-07-01 16:45] rviscomi commented on #907
@oluoluoxenfree thank you for agreeing to be the lead author for the Accessibility chapter! As the lead, you'll be responsible for driving the content planning and writing phases in collaboration with your content team, which will consist of yourself as lead, any coauthors you choose as needed, peer reviewers, and data analysts.

The immediate next steps for this chapter are:

1. Establish the res

[2020-07-01 16:50] aardrian commented on #907
Happy to take a look if you need on the technical bits, but again, as an annoying white guy I will defer to people who would bring more lived experience outside my own.

[2020-07-01 16:57] ericwbailey commented on #907
Similar sentiments to @aardrian. Happy to pitch in on reviewing if needed, but I want to make sure people self-identified as Disabled are represented.

[2020-07-01 17:41] rviscomi commented on #878
@ahmadawais thank you for agreeing to be the lead author for the Jamstack chapter! As the lead, you'll be responsible for driving the content planning and writing phases in collaboration with your content team, which will consist of yourself as lead, any coauthors you choose as needed, peer reviewers, and data analysts.

The immediate next steps for this chapter are:

1. Establish the rest of your

[2020-07-01 17:44] rviscomi commented on #907
Thanks @aardrian @ericwbailey. I'll put you both down as reviewers for now and we can adjust as needed.

[2020-07-01 17:52] estelle commented on #898
I have a particular knack and interest in selectors and specificity, but can write about other topics as well.

[2020-07-01 17:54] rviscomi commented on #897
@tkadlec thank you for agreeing to be the lead author for the JavaScript chapter! As the lead, you'll be responsible for driving the content planning and writing phases in collaboration with your content team, which will consist of yourself as lead, any coauthors you choose as needed, peer reviewers, and data analysts.

The immediate next steps for this chapter are:

1. Establish the rest of your

[2020-07-01 17:55] rviscomi commented on #897
Thanks @ibnesayeed I'll put you down as a reviewer!

[2020-07-01 18:36] rviscomi commented on #900
@tpiros thank you for agreeing to be the lead author for the Media chapter! As the lead, you'll be responsible for driving the content planning and writing phases in collaboration with your content team, which will consist of yourself as lead, any coauthors you choose as needed, peer reviewers, and data analysts.

The immediate next steps for this chapter are:

1. Establish the rest of your conten

[2020-07-01 18:45] bazzadp commented on #880
Not heard any issues from this so plan to delete the master branch in next couple of days and the. close this issue. Shout if any reason not to!

[2020-07-01 18:52] rviscomi commented on #905
@thefoxis thank you for agreeing to be the lead author for the Performance chapter! As the lead, you'll be responsible for driving the content planning and writing phases in collaboration with your content team, which will consist of yourself as lead, any coauthors you choose as needed, peer reviewers, and data analysts.

The immediate next steps for this chapter are:

1. Establish the rest of you

[2020-07-01 18:54] rviscomi commented on #905
@dimension85 @borisschapira thank you! I've added you both as reviewers.

[2020-07-01 18:56] nhoizey commented on #900
I'm still interested 👍

[2020-07-01 18:58] rviscomi commented on #880
SGTM!

[2020-07-01 18:59] rviscomi commented on #900
Great, thanks @nhoizey! I've added you to the reviewers list.

[2020-07-01 19:03] rviscomi commented on #920
@Zizzamia thank you for agreeing to be the lead author for the Resource Hints chapter! As the lead, you'll be responsible for driving the content planning and writing phases in collaboration with your content team, which will consist of yourself as lead, any coauthors you choose as needed, peer reviewers, and data analysts.

The immediate next steps for this chapter are:

1. Establish the rest of

[2020-07-01 19:19] nhoizey commented on #900
Thanks Rick

[2020-07-01 19:19] rviscomi commented on #914
From @jrharalson:

[2020-07-01 19:31] rviscomi commented on #876
Hi everyone, **thank you** for all of your nominations! This project is entirely supported by community contributors and it's great to see so many amazing people stepping up.

As a next step, we're ready to start selecting the lead authors for each content team. We've created tracking issues for [each chapter](https://github.com/HTTPArchive/almanac.httparchive.org/issues?q=is%3Aopen+label%3A%22202

[2020-07-01 19:31] #876 closed

[2020-07-01 19:39] estelle commented on #905
I can also help out.

[2020-07-01 19:47] ashleyish commented on #908
I'd still like to help - but, there are quite a few participants.

I'd like to gently recommend that folks make room for anyone that is underrepresented or new to putting themselves out there.

Though it'd be good to find at *least* a balance in gender, I'm good to give my spot up to anyone that is new to the scene. Or act as mentor. <3

[2020-07-01 19:52] dwsmart commented on #908
Still happy to help as I was when @AVGP kindly nominated over on the other thread, but hyper conscious I think the team should be a diverse one, so happy to bow out to help that happen

[2020-07-01 19:53] rviscomi opened #943 "Automate the monitoring of chapter progress"
This is a stretch, but I'd love to hear if anyone is interested to work on a small project like this.

### Problem
GitHub has a few features that make project management easier, like [project boards](https://github.com/HTTPArchive/almanac.httparchive.org/projects/1) and support for checkboxes to track issue progress. One challenge I had last year managing the project, and will continue to be a cha

[2020-07-01 19:56] rviscomi commented on #905
Thanks Estelle! I've also added you as a reviewer.

[2020-07-01 20:03] rviscomi commented on #908
Thank you @ashleyish and @dwsmart! I love to see it.

@obto and I will be reaching out to our picks for the content team lead for each chapter, and once that person is confirmed for SEO they can choose their coauthor(s) as needed. SEO is an especially complex topic so I would expect this to have ~3 coauthors like last year. And for anyone else still interested in contributing, there is no limit on

[2020-07-01 20:23] dimension85 commented on #905
Excellent, thanks for adding me to the team - this is the first time I have been involved with this project and am looking forward to contributing.

[2020-07-01 20:27] zcorpan commented on #899
I can contribute with ideas for things to query, and review.

[2020-07-01 20:28] zcorpan commented on #900
I can contribute with ideas for things to query, and review.

[2020-07-01 20:38] zcorpan commented on #913
I nominate @johnwilander (see https://github.com/HTTPArchive/almanac.httparchive.org/issues/876 )

[2020-07-01 21:18] catalinred commented on #908
@rviscomi I don't have the right skills for analyst so I was thinking about contributing as a reviewer maybe.
But I happy to take a step back and looking forward to seeing the content team lead pick.

[2020-07-01 21:27] rviscomi commented on #908
Ok I've added you as a reviewer for now and you can reevaluate as needed.

[2020-07-01 21:28] rviscomi commented on #900
Thanks @zcorpan! To clarify are you open to contributing as a [reviewer](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Reviewers'-Guide), [data analyst](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Analysts'-Guide), or both?

[2020-07-01 21:43] rviscomi commented on #901
@simonhearne thank you for agreeing to be the lead author for the Third Parties chapter! As the lead, you'll be responsible for driving the content planning and writing phases in collaboration with your content team, which will consist of yourself as lead, any coauthors you choose as needed, peer reviewers, and data analysts.

The immediate next steps for this chapter are:

1. Establish the rest o

[2020-07-01 21:45] tammyeverts commented on #901
I'd love to be a reviewer for this chapter!

On Wed, Jul 1, 2020 at 2:43 PM Rick Viscomi <notifications@github.com>
wrote:

[2020-07-01 21:45] zcorpan commented on #900
Reviewer + content planning part of data analyst.

[2020-07-01 21:51] rviscomi commented on #901
Great thank you @tammyeverts, it's great to have you on board again! I'm also super excited because this is the first chapter to have all three author/reviewer/analyst roles filled 🥳

[2020-07-01 21:54] rviscomi commented on #900
Ok thanks! I'll leave the analyst role open in that case. I've put you down as a reviewer.

[2020-07-01 22:02] tpiros commented on #900
I will try to get @eeeps to be a co-author or a reviewer (he is my colleague). I know he was nominated to be an author for another chapter, I'm not sure if he can take on yet another task tho :)

[2020-07-01 22:15] rviscomi commented on #900
Thanks @tpiros, both sound like good options (coauthor or reviewer). You have the helm for this chapter so feel free to staff the team how you see fit.

@eeeps what other chapter were you nominated for/interested in? I only seem to have you down for this one.

[2020-07-01 23:09] thefoxis commented on #897
thank you for the shout @housseindjirdeh! I don't think I'm the best fit for JS, plus I will be contributing to the performance chapter so I'll pass on this one 😸

[2020-07-02 00:18] logicalphase commented on #905
Would love to co-author this section. Please let me know if I can help.

[2020-07-02 00:23] logicalphase commented on #909
I'm still really hoping to author or co-author this section. The last three years I've been actively involved in introducing PWAs to the wider web communities. So along with last year's references I've developed a lot of reference material on adoption.

[2020-07-02 02:13] zeman commented on #905
Happy to review again this year!

[2020-07-02 02:38] obto commented on #898
@LeaVerou thank you for agreeing to be the lead author for the CSS chapter! As the lead, you'll be responsible for driving the content planning and writing phases in collaboration with your content team, which will consist of yourself as lead, any coauthors you choose as needed, peer reviewers, and data analysts.

The immediate next steps for this chapter are:

1. Establish the rest of your conten

[2020-07-02 02:45] obto commented on #905
An all-star team again this year. Really excited for this 🎉

[2020-07-02 04:55] noamr commented on #905
On Wed, 1 Jul 2020 at 21:52 Rick Viscomi <notifications@github.com> wrote:

Great! Would love to review.

[2020-07-02 05:07] Zizzamia commented on #920
Awesome, I have a couple of people I am going to ask to be reviewers as well. Of course, @MaedahBatool if you are still interested I would love you to have your help as well as a reviewer. 🌲🚀🌕

[2020-07-02 05:10] ahmadawais commented on #897
Thank you, @rviscomi. Looking forward to contributing as an author and reviewer @tkadlec.

[2020-07-02 05:15] ashrith-kulai commented on #905
I would like to be a reviewer for this topic.

[2020-07-02 05:47] Zizzamia commented on #905
Happy to join as a reviewer, looking forward to collaborate with the all Content team. 🌲 🚀 🌕

[2020-07-02 05:47] ahmadawais commented on #878
Thank you, @rviscomi. Looking forward to more contributors. At least 2-3 people in each of the following categories are welcomed.

- Co-Authors
- Reviewers
- Analysts

_Tagging a couple of folks below, we'd love to have here as contributors:_

@rauchg
@timneutkens
@sdras
@Timer
@philhawksworth
@zachleat
@MaedahBatool
@tpiros
@asharirfan
@saqibameen
@msaaddev

Peace! ✌️

[2020-07-02 06:17] hankchizljaw commented on #898
Yeh just let me know when and if you need me 🙂

[2020-07-02 06:28] rviscomi commented on #898
Tentatively adding @rachelandrew and @estelle as coauthors and everyone who commented as a reviewer. @LeaVerou feel free to reassign at your discretion.

[2020-07-02 06:44] rviscomi opened #944 "Add Web Vitals to analytics"
The web-vitals.js library can [augment](https://github.com/GoogleChrome/web-vitals#send-the-results-to-google-analytics) Google Analytics with the largest contentful paint (LCP), first input delay (FID), and cumulative layout shift (CLS) metrics. It'd be great to include these in our existing monitoring tools.

[2020-07-02 06:53] iandevlin commented on #899
I would be happy to contribute and/or review.

[2020-07-02 07:07] thefoxis commented on #905
👋 hi everyone!

thanks again @rviscomi and @obto for selecting me to lead this effort. looks like we have a solid team of reviewers but we're short on analysts. should we be looking for people swapping areas of responsibility or look for new people to join?

I'm going to re-read last years chapter and reflect on what has happened in perf within the year. I think it'd be nice to speak to some new d

[2020-07-02 07:11] ldevernay commented on #911
I can write something about sustainable web design.

[2020-07-02 07:46] aysunakarsu commented on #908
I will be happy to contribute.

[2020-07-02 10:57] jadjoubran commented on #897
Thank you @rviscomi, I'm still interested in peer reviewing 👍

[2020-07-02 11:01] jadjoubran commented on #909
Also interested in peer reviewing this chapter 👍

[2020-07-02 11:59] max-ostapenko commented on #943
Is this something that provides you with an idea about chapter progress: https://github.com/HTTPArchive/almanac.httparchive.org/milestone/7

It's a list of issues per milestone, and each chapter issue has little visualisation of checklist progress.

If not, what is missing?

[2020-07-02 13:01] tkadlec commented on #897
Pretty excited about this (thanks for the mention @housseindjirdeh).

Looks like we've already got a solid crew of reviewers forming. Anyone keen to help with the analyst side of things?

I'm re-reading last year's chapter and will start dropping some ideas in the Google Doc for areas I think could be interesting to add this year.

[2020-07-02 13:02] tkadlec commented on #897
@thefoxis We'll probably need to coordinate with you to some extent. :) I think a section here on how JS decisions impact the core trio of accessibility, security and perf would be quite interesting and could be fleshed out quite a bit more this year. I see from a comment on your performance chapter you're also thinking along those lines (great minds and all that). So I'll just want to make sure w

[2020-07-02 14:34] tpiros commented on #900
I'd like to have @dougsillars as a co-author! I am looking for reviewers and will send updates.

[2020-07-02 15:16] ernee commented on #915
Some updates on the nomination front for the CMS chapter. @sirjonathan and myself are interested in contributing to the chapter again this year as reviewers. Potential nominees for authors are not available to contribute this year, so there is a need for an author or co-authors.

[2020-07-02 15:28] tpiros commented on #878
Thanks @ahmadawais would love to be a contributor and may I also suggest @debs-obrien (I can't tag her for whatever reason: Debbie O'Brien - https://twitter.com/debs_obrien)

[2020-07-02 16:56] obto commented on #899
@j9t thank you for agreeing to be the lead author for the Markup chapter! As the lead, you'll be responsible for driving the content planning and writing phases in collaboration with your content team, which will consist of yourself as lead, any coauthors you choose as needed, peer reviewers, and data analysts.

The immediate next steps for this chapter are:

1. Establish the rest of your content

[2020-07-02 16:57] obto commented on #899
@matuzo we'd still love to have you contribute as a peer reviewer or coauthor as needed. Let us know if you're still interested!

@iandevlin @catalinred @ibnesayeed @zcorpan @iandevlin I've put you down as reviewers for now, and will leave it to @j9t to reassign at his discretion

[2020-07-02 16:59] rviscomi commented on #943
Thanks @max-ostapenko, I'm looking for a way to see exactly which checkboxes were checked, not just how many. Other valuable metadata in the chapter issues include the markdown table of authors/reviewers/analysts. It'd be great to parse those out as well so we can stay on top of staffing changes.

[2020-07-02 17:07] rviscomi commented on #900
@tpiros Doug is a great choice for coauthor, but I'd like to try to steer you away from having the same person write a chapter multiple years in a row. One of the goals this year is to broaden the diversity of perspectives, so it'd be great to hear from someone new, especially someone from an underrepresented group in tech.

@dougsillars @colinbendell  we'd still love to have you both contribute a

[2020-07-02 17:11] rviscomi commented on #915
Thank you @ernee! I've added you both to the reviewers list. We'll continue to look for a lead author.

[2020-07-02 17:54] obto commented on #910
Would love to nominate @sergeychernyshev as lead author for this years Mobile web chapter

[2020-07-02 17:55] obto commented on #918
Would love to nominate @triblondon for this years CDN chapter :)

[2020-07-02 18:23] andydavies commented on #918
@obto One thing to watch out for with the CDN chapter is it's one of the few chapters that passes comment on commercial businesses - @colinbendell and I got some comments about that last year

[2020-07-02 21:18] Zizzamia commented on #905
@thefoxis yeah I agree 100%! Other points on top of my mind are:
- [Network Information API](https://wicg.github.io/netinfo/#networkinformation-interface): how we use `effectiveType` to detect 2/3g connections
- [Device Memory 1](https://w3c.github.io/device-memory/#sec-device-memory-js-api) & [Hardware Concurrency](https://html.spec.whatwg.org/multipage/workers.html#dom-navigator-hardwareconcurre

[2020-07-02 21:33] LeaVerou commented on #898
Howdy everyone! 👋

Warm thanks @rviscomi and @obto for selecting me to lead this effort. I'm psyched!

I think @rachelandrew would be an excellent co-author, especially for anything layout.
@estelle, would you like to take on a selectors & specificity section?
@svgeesus will be a co-author for Web Fonts & Colors

I have a lot of ideas for reviewers and co-authors, to which I will reach out private

[2020-07-02 22:40] sirjonathan commented on #915
I’m interested as a potential lead author. I’d need to evaluate it a bit
more closely to see if I can make the commitment.

When is the deadline?

Also, if you find a strong lead you’re happy with don’t hesitate to move
forward.

On Thu, Jul 2, 2020 at 10:11 AM Rick Viscomi <notifications@github.com>
wrote:

--
Jonathan Wold | Automattic | Mobile: +1 530-416-2216
Community Lead for WooCommerce

[2020-07-02 23:10] Tiggerito commented on #908
I'd be happy to help. I work in technical SEO and I've made a few BigQuery/archive queries to extract data from pages. Then ran out of money! [Example](https://twitter.com/TonyMcCreath/status/1260396904149446666).

![covid](https://user-images.githubusercontent.com/4947018/86416231-8bbc8f80-bd08-11ea-8972-38cf2a37f95b.jpg)

[2020-07-02 23:35] thefoxis commented on #897
@tkadlec good point! let's keep an 👀 on both chapters and coordinate to not overlap too much. I think echoing the same sentiments is important and totally fine (such as the prevalence of js + its impact on ux/security/a11y/perf) but we should probably avoid an in-depth analysis of the same data 👍

[2020-07-03 01:15] dsottimano commented on #908
Happy to contribute as per the nomination on the main post but equally happy to act as a mentor as @ashleyish suggested and find a few new faces.

[2020-07-03 03:11] LeaVerou opened #945 "SVG?"
I don't see an SVG chapter. Is SVG part of another chapter? I think it would deserve a chapter of its own!

[2020-07-03 03:21] rviscomi commented on #945
We don't currently have an SVG chapter. We can incubate it in the Media chapter (#900) and spin it off into its own chapter if there's enough interest/content. WDYT?

[2020-07-03 03:46] obto commented on #908
@aleyda thank you for agreeing to be the lead author for the SEO chapter! As the lead, you'll be responsible for driving the content planning and writing phases in collaboration with your content team, which will consist of yourself as lead, any coauthors you choose as needed, peer reviewers, and data analysts.

The immediate next steps for this chapter are:

1. Establish the rest of your content

[2020-07-03 03:49] obto commented on #908
@Tiggerito I've set you as an analyst for the chapter 😃

[2020-07-03 03:57] Tiggerito commented on #908
Happy to do that.

[2020-07-03 04:13] LeaVerou commented on #945
Sure, I'm not very familiar with the process, but if that's what it is, no objections from me :)

[2020-07-03 04:14] LeaVerou commented on #900
I would nominate @svgeesus @chriscoyier @AmeliaBR for SVG!

[2020-07-03 06:59] aysunakarsu commented on #908
I can contribute as an analyst too if there is still need at that part. Thanks.

[2020-07-03 07:08] antoineeripret commented on #908
I'd be happy to help as an analyst. If there is enough analysts for this chapter, happy to help with another one as well :)

[2020-07-03 07:25] bazzadp commented on #880
It is gone!

[2020-07-03 07:25] #880 closed

[2020-07-03 07:26] aleyda commented on #908
Thank you @obto ! Excited to be able to contribute as the lead author :) I'll catch up going through last year edition again and the methodology used.

I definitely think that due to the scope of the chapter it would be great to have a couple of more authors and a couple of more analysts, like this we can have 3 authors (as last year), 3-4 reviewers, 3-4 analysts.

@aysunakarsu @ashleyish @dsottim

[2020-07-03 08:21] j9t commented on #898
This is a world-class author team. I’m excited about the CSS chapter!

@obto, @LeaVerou, only to confirm, I’d absolutely be around for reviewing. And if the chapter is to dive deeper into the craft of writing CSS, I’d be happy and available to contribute more (it’s one of my focus areas).

[2020-07-03 08:44] catalinred commented on #898
Hi everyone,

Happy that @LeaVerou accepted to be the lead author for the CSS chapter. The authors team is amazing.

Here are some of my random thoughts on what numbers I'd like to see in this new chapter:

- Would like to see numbers on various ways of hiding DOM elements, by trying to guess on: `[aria-hidden]`, `.hidden`, `.hide`, `.sr-only`, `.visually-hidden`, `.visuallyhidden`, `.invisible` o

[2020-07-03 08:49] j9t commented on #899
Thanks @obto—I’m excited to work on this together with all of you who have also expressed interest! 🙏

👉 @iandevlin, @catalinred, @ibnesayeed, @zcorpan, @iandevlin, @matuzo, can you confirm that and how you’d like to be involved? Who would also like to write and co-author, who would like to cover analysis? I like the idea of forming a really strong team together. (Feel free to respond here but als

[2020-07-03 08:57] iandevlin commented on #899
Hi @j9t! I would also like to co-author, if possible. As for communication, happy to use whatever, although I do find Slack verfy useful (I use it all the time these days)

[2020-07-03 09:22] ipullrank commented on #908
@aleyda I'm in!

[2020-07-03 09:55] smatei commented on #916
Hello, I would like to contribute as an analyst. Here is my profile:

https://www.linkedin.com/in/stefan-matei-4738a255/

I contributed to a similar project:

https://www.advancedwebranking.com/html/

My contribution to that project was: scrape and parse approximately 8M web pages and store pages metadata to a database that can be queried for data.

[2020-07-03 10:05] catalinred commented on #899
Hi @j9t,

I made a [study](https://www.advancedwebranking.com/html/) on markup in the past and I'd like to help with research and writing if that's possible as well.

Slack is part of my workflow already but I'm open to any alternative.

[2020-07-03 10:05] tomvangoethem commented on #906
I'd like to volunteer as an analyst. I've used HTTPArchive in some of my (academic) research, so I have some familiarity with the datasets.

[2020-07-03 10:48] nrllh commented on #906
@rviscomi as spoken recently, I would also like to join in this chapter.

[2020-07-03 10:48] borisschapira commented on #900
Would love to hear from @SaraSoueidan in a chapter dedicated to SVG and SVG animation

[2020-07-03 10:58] bazzadp commented on #899
Hope you don't mind me jumping in here.

I'm one of the core contributors for the almanac, working on development and translations, but I also [wrote one of the chapters last year](https://almanac.httparchive.org/en/2019/http2), and also [copy edited a lot of the chapters last year](https://github.com/HTTPArchive/almanac.httparchive.org/issues/218).

First up I want to say that use whatever works

[2020-07-03 11:21] borisschapira commented on #878
I'd like to nominate @DirtyF, @Phacks, @nhoizey

[2020-07-03 11:24] borisschapira commented on #911
If there's a new Design chapter, I'd love to hear from @stephanie-walter, she’s an incredible achiever and would be a great asset to the Web Almanac.

[2020-07-03 11:35] zcorpan commented on #899
@j9t

I sign up as reviewer.

I can't commit to the analyst role or author role, but I can help discuss ideas for things to include.

[2020-07-03 11:47] phacks commented on #878
Thanks @borisschapira—would love to be part of the content team!

I’m co-hosting the [Jamstack Paris Meetup](https://jamstack.paris), and am very interested in the ecosystem, esp. with regard to performance. If I may suggest @YuLingCheng who’s part of the meetup team as well, she’s done some amazing talks on the CMS aspect of the Jamstack.

[2020-07-03 12:54] en3r0 commented on #908
@aleyda happy to contribute as a peer reviewer or coauthor as needed!

[2020-07-03 13:23] j9t commented on #899
Thanks @bazzadp—this is excellent feedback! Thanks for jumping in :) This is good context and good information to review.

For communication, I signed up for httparchive Slack, and maybe we can indeed just open a channel there to coordinate.

@iandevlin, @catalinred, @zcorpan, great to hear—I’ll update the intro accordingly. @catalinred, would “research” reflect the analyst role?

[2020-07-03 13:42] catalinred commented on #899
Actually, I was thinking about writing or reviewing. Can't help with the analyst role.
Let me know where you want me.

[2020-07-03 14:14] tpgreenwood commented on #911
I'm very excited to see sustainable web design included in this issue!

[2020-07-03 15:11] obto commented on #908
@ipullrank added you as an author

@en3r0 added you as a reviewer and will let @aleyda reassign as needed

[2020-07-03 15:15] obto commented on #906
@tomvangoethem added you as an analyst :)

[2020-07-03 15:16] obto commented on #916
@smatei happy to have you. I'll add you as an analyst :)

[2020-07-03 15:33] ibnesayeed commented on #899
@j9t please count me in as a reviewer. I would have offered to be a co-author, but my plate is too full this year.

[2020-07-03 16:18] LeaVerou commented on #898
I'd like to announce @fantasai as a reviewer.

@catalinred What fantastic ideas, thank you!

[2020-07-03 16:22] bazzadp commented on #898
What a fantastic line-up! Very excited to see what we come up with in this chapter.

[2020-07-03 16:37] rviscomi opened #946 "Finalize chapter sequence/organization"
Some chapters may need to be split/merged/dropped/added depending on changes in content brainstorming. For now, here is the list of candidate chapters for the 2020 edition:

### I. Page Content

1. CSS
2. JavaScript
3. Markup
4. Fonts
5. Media
6. Third Parties

### II. User Experience

7. SEO
8. Accessibility
9. Performance
10. Privacy
11. Security
12. Mobile Web
13. PWA

### III. Content Publishi

[2020-07-03 17:16] rviscomi commented on #920
@Zizzamia I've sent you an invite to join the HTTP Archive org on the Authors team. Could you go to https://github.com/HTTPArchive to accept? You need to be a member of the org in order to have issues assigned to you, so this will help with our issue tracking. Thanks!

[2020-07-03 17:18] bazzadp commented on #815
Any thoughts on wording for this @rviscomi ? As you know in #893 we implemented the framework so just needs padding out with a bit of wording.

And is it something you want to get out sooner to attract contributors? Or prefer to leave until nearer launch?

[2020-07-03 17:22] rviscomi commented on #815
Thanks for the reminder. I'll take a turn and send a PR.

[2020-07-03 17:29] rviscomi opened #947 "Make header/footer padding consistent"
On the 2020 landing page, the spacing inconsistency is more obvious because there is so little main body content:

![image](https://user-images.githubusercontent.com/1120896/86488988-dfdb6a00-bd30-11ea-84b1-07889a32955e.png)

The header, body, and footer should all have the same padding. Currently the footer has less padding.

Also ensure that the spacing is consistent on mobile.

[2020-07-03 17:39] bazzadp commented on #947
Good spot. While we're looking at this, I'm still not convinced the home page should go as wide as it does, as discussed in #574 - at least for the top part. Leaves a big old empty space in the middle on ultra-wide monitors:

![Home page on ultra-wide monitor with big grey section in the middle](https://user-images.githubusercontent.com/10931297/86489493-65c0da80-bd5c-11ea-8a29-74e62e1e1dea.png)

[2020-07-03 17:46] rviscomi opened #948 "Remove the year from the footer copyright"
@bazzadp what do you think is the best way to do this? The 2020 template extends 2019, which sets ©️ 2019 in each lang's localized base template.

I think it's ok if the copyright year was defined in one central place and all pages/langs/editions inherit the latest year. Bonus points if we don't need to manually increment it each year.

[2020-07-03 18:00] bazzadp commented on #948
I think remove the year. That's what we did at work. It's meaningless anyway. I'm not a lawyer, but my understanding is that common-law copyright is based on when publication happens - not that you included 4 random digits at the bottom.

Even if they did matter, then technically if you updated the year then you are no longer claiming copyright from 2019 so you're outta luck if someone had a site

[2020-07-03 18:05] rviscomi opened #949 "Refactor main.py"
The [main.py](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/main.py) server code has grown in size and complexity and it may make maintenance easier to refactor it into smaller, more discrete files.

Some things that can be grouped:

- Flask subclass
- template functions
- static helper functions
- chapter-specific routes
- error routes
- static file routes
- ebook functions

[2020-07-03 18:06] rviscomi commented on #948
Either option (remove or range) SGTM

[2020-07-03 18:10] bazzadp commented on #949
Yeah could probably do with a bit of clean up alright. Are you suggesting 7 files? Not sure I'd go that far.

One other thing I'd like to do is remove these out of the top level directory into a `src/python` directory or similar.

[2020-07-03 18:12] rviscomi commented on #949
+1 for a subdirectory to organize the code!

Not suggesting each grouping has its own file.

[2020-07-03 18:12] bazzadp commented on #924
Alright developers!

We have a few issues that would be good for relative newbies:

- #944 (JavaScript developer) - add the new Core Web Vitals to our Google Analytics call so we can track performance of our own site better. Plus it's the hot new thing, so would be interesting to see these 😀.
- #947 (CSS developer) - fix up some inconsistencies on the website.
- #948 (HTML developer - perhaps with

[2020-07-03 18:14] rviscomi commented on #943
@ibnesayeed you have experience with GH Actions, any chance you'd be interested to work on this?

[2020-07-03 18:26] ibnesayeed commented on #949
Are we only talking about reorganizing the code or something beyond that? I have been considering [Responder](https://responder.kennethreitz.org/en/latest/) to replace Flask in some of my projects going forward.

[2020-07-03 18:33] bazzadp commented on #949
Sky's the limit! So whatever we think is best.

Why's it better than flask? Not averse to moving, but always like a good reason for moving away something that's working fine.

Also, as per [some goals I suggested for this year](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Developers'-Guide#goals-for-2020-edition) if we are doing to take the disruption of moving then I'd prefer to co

[2020-07-03 18:36] ibnesayeed commented on #943
Once we figure out how exactly do we want to poll and track changes, then I can help with the GH Actions part. These days I am busy working on some priority deadlines, so it is a little difficult for me to take the full responsibility of the task.

[2020-07-03 18:53] ibnesayeed commented on #949
I am not too excited about unnecessarily switching stack, but I mentioned Responder here because it has an elegant API, has built-in testing support with the popular Requests Python HTTP library (the two projects are steered by the same person), RESTful resource classes, API documentation, and an over-all more modern feel to its design is what feels appealing (look at their [README](https://github

[2020-07-03 19:00] ibnesayeed commented on #949
I looked at the stated goals and to be honest I would prefer going to the static site route. A lot can be done using data files and Jekyll to cover some gaps. Writing Ruby plugin for Jekyll can help cover some missing parts. After the inception of GH Actions, we do not have to limit ourselves to the Jekyll plugins whitelisted by GitHub Pages.

[2020-07-03 20:40] rviscomi commented on #949
For the purposes of this issue, it's narrowly scoped to reorganizing the server code.

I think switching platforms is a more serious discussion that needs to be designed/debated during the off-months to ensure that it's not in the critical path of the launch. Let's not consider it blocking for 2020.

[2020-07-03 21:04] Zizzamia commented on #920
@rviscomi done, and thank you!

[2020-07-03 21:48] rviscomi commented on #920
Thanks! You also have edit access to the top comment now, so please keep that up to date as the chapter progresses.

[2020-07-03 23:24] AAgar commented on #918
I would love to help out with some analysis.

[2020-07-04 00:36] dsadhanala commented on #947
@bazzadp what you think about, treating home page hero section changes as separate issue?

Incase if we want to include that change also part of this issue, couple of questions.
* can you help me understand the expected behavior?
* do we want to scale font and layout spacings to adapt wide screen sizes?

[2020-07-04 00:56] dsadhanala commented on #947
@rviscomi QQ, I noticed, header and footer visual treatment for internal pages(other than home page) is different, example header content set to max size of 1280, where as footer resizes based on viewport no max set. Should we keep both header and footer content resize behavior consistent?

[2020-07-04 01:17] dsadhanala commented on #947
Footer content alignment looks little odd, especially logo aligned to left and leaving whitespace on the right, then navigation links aligned center. what you think about center aligned logo to be consistent with nav links alignment? below is the screenshot for your reference.

<img src="https://user-images.githubusercontent.com/5795823/86502498-ad456780-bd58-11ea-8f29-6ed55780406c.png" width="600

[2020-07-04 01:31] rviscomi commented on #947
Good catch, yes that sounds like a good idea.

Yeah that looks good. Could you also center the copyright and accessibility statement text?

[2020-07-04 02:42] dsadhanala commented on #944
@rviscomi do we have google analytics setup already in place? if not, should I go ahead and create an account and embed?

[2020-07-04 02:43] dsadhanala commented on #947
thanks, all above mentioned changes are pushed into this PR. https://github.com/HTTPArchive/almanac.httparchive.org/pull/951

[2020-07-04 03:57] rviscomi commented on #944
Yes, it's initialized in [templates/base.html](https://github.com/HTTPArchive/almanac.httparchive.org/blob/c2a220f351862faa83e458278aaa78bbd8f1e595/src/templates/base.html#L16-L23). Thanks for working on this! 🙌

[2020-07-04 06:36] bazzadp commented on #947
Good idea, will reopen #574

[2020-07-04 06:50] bazzadp opened #953 "Clean up unused code and dependencies"
I don't think we use these files (added in #114 ) any more since we changed the way we generate chapters in  #222
- generate_chapters.py
- generate_visualisations.py
- src/data

Also means we can get rid of the following from requirements file I think:
- matplotlib
- mistune
- pandas
- scour
- weasyprint (not part of above but removed by #833 )

We may want to add some of these back in depending w

[2020-07-04 07:03] bazzadp commented on #574
Reopening this after discussion in #947

I still think we should revisit the home page on ultra-wide monitors. Should we limit this the intor paragraph and icon to a max certain width to avoid the big blank space?:

![Home page on ultra-wide monitor with big grey section in the middle](https://user-images.githubusercontent.com/10931297/86489493-65c0da80-bd5c-11ea-8a29-74e62e1e1dea.png)

Happy for

[2020-07-04 09:48] j9t commented on #899
Excellent! Thanks for confirming and clarifying, Catalin, Sawood. As we heard from everyone but him I reached out to Manuel directly to check on his interests.

As mentioned before, I’ll be off for a few days now but will use that time to review last year’s chapter as well as the docs. Maybe this is a good time for us all to do that? I have a look particularly at the introductory references as wel

[2020-07-04 12:29] bazzadp commented on #899
I’ve seen @rviscomi reaching out to the HttpArchive community and others to try to get some more analysts. We had same issue last year and had to share them across chapters. If you know anyone with SQL skills willing to help out then give them a nudge 🙂

What you all can do to help in the meantime is to do the review as you suggested and come up with what metrics you would like to see. Then once w

[2020-07-04 13:02] max-ostapenko opened #955 "Fix Google Advertising CSP issue"
I get errors on public website:
`Refused to load the image 'https://www.google.pt/ads/ga-audiences?v=1&aip=1&t=sr&_r=4&tid=UA-22381566-3&cid=722833102.1592150741&jid=307643168&_v=j83&z=1389390864&slf_rd=1&random=3377659529' because it violates the following Content Security Policy directive: "img-src 'self' www.google-analytics.com www.googletagmanager.com stats.g.doubleclick.net *.githubuserconte

[2020-07-04 14:09] max-ostapenko commented on #955
@rviscomi if we want to switch it off, there are some settings also in GA Admin Console.
Property - Tracking Info - Data Collection

[2020-07-04 15:31] Gathea commented on #908
I would be happy to to be a reviewer if possible ! It’s the first year for me

[2020-07-04 19:29] ibnesayeed commented on #937
What are latest recommended versions of Python and Node to be used to work with this repo?

[2020-07-04 19:52] bazzadp commented on #937
Python v3 - should work with latest v3 version
Node v12 - should work with latest v12 version

[2020-07-04 20:10] ibnesayeed commented on #937
When I ran `pytest` in the container, I saw the following two warnings:

[code]

I can fix the first warning very easily by just making the RegEx a raw string, but the other warning will need update to Flask version. Any suggestions, what should we do about it?

[2020-07-04 20:16] bazzadp commented on #937
No seen that first error before to be honest. Wonder if it’s due to the version you are running? But if you can see the fix then go for it.

I have seen the second and ignore it as not related to our code and just a warning. Maybe raise a separate issue for that one so we can look at it separately?

[2020-07-04 22:38] ibnesayeed commented on #937
Implemented in #956 and is ready for reviews.

[2020-07-04 22:52] ibnesayeed opened #957 "Update Flask dependency to remove a deprecation warning"
As noted in https://github.com/HTTPArchive/almanac.httparchive.org/issues/937#issuecomment-653806450 the version of Flask we use (`1.0.2`) is causing a deprecation warning.

[code]

[2020-07-04 22:59] ibnesayeed commented on #957
Fixed in #958, ready for reviews.

[2020-07-04 23:02] ibnesayeed commented on #953
If `pytest-watch` is to be removed development README should be updated to exclude a relevant instruction.

[2020-07-05 03:09] cqueern commented on #906
Hello Team. I would like to participate as a Reviewer please. :grinning:

[2020-07-05 13:59] bazzadp commented on #953
Good spot - removed that from list of suggested libraries to remove.

[2020-07-05 14:04] #957 closed

[2020-07-05 15:43] ibnesayeed opened #962 "Refactor inline commands from Generate Chapters workflow file into a script"
Currently, there are many inline commands in the [generate_chapters.yml](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/.github/workflows/generate_chapters.yml) workflow file that look repetitive and make the workflow file difficult to read. We can extract them out in a Shell script and call that script in the workflow steps as needed with appropriate arguments. This will also ma

[2020-07-05 16:45] rviscomi commented on #944
Reassigning to @max-ostapenko, who has already created the PR.

[2020-07-05 17:30] bazzadp commented on #962
Yes possibly we should do this. For testing locally this would definitely help. Getting these right was a big pain as had to run the Action so many times. However, due to the slight differences in each *nix OS, they really need to be tested on ubuntu.

Note that each line is not actually repetitive and there are slight differences but possibly they could be refactored to avoid duplication.

Note a

[2020-07-05 19:35] ibnesayeed commented on #962
While looking at those commands, I noticed successive `sed` piping, which can be optimized with a less known secret of `sed` that we can perform multiple actions (not even limited to just substitutions) in a single pass. This means the `sed` command will not be invoked as many times. Not that it is going to improve the performance in any substantial manner in this case, but is a cool thing nonethe

[2020-07-05 19:42] ibnesayeed commented on #962
I would note here that some changes to the code base triggered by GH Actions do not propagate another action that would otherwise be invoked on that event. GitHub does this to avoid mutually reinforcing chains of workflows that will go out of hand and will run forever.

[2020-07-05 19:47] bazzadp commented on #962
Re: the `sed` pipping we could do that. However using lesser known commands often make code less understandable with no real gain. Then again this code is pretty difficult to understand. I wrote it an have already forgotten what `sed 's!.*/!!'` does!

Re: your next comment, I’m less worried about GithubAction recursions than peoples PRs not being able to be merged because they have to fix merge co

[2020-07-05 20:04] ibnesayeed commented on #962
But then it educates people to make them a little more known! ;-)

I think this command is removing "something followed by forward slash". We don't necessarily have to use `/` as the delimiter in `sed`, we can use symbols like `|` or `!` to avoid unnecessary escaping. This is a handy trick when the pattern contains forward slashes, such as paths.

I didn't mean to change this behavior in this part

[2020-07-05 20:39] bazzadp commented on #947
Closed with #951

[2020-07-05 20:39] #947 closed

[2020-07-05 23:04] Zizzamia commented on #920
Ciao all! 👋

Thanks again to @rviscomi and @obto for selecting me to lead this effort. We have three people helping as reviewers at the moment (@notwillk, @giopunt, and @jessnicolet), but we don't have any analysts yet. Looking forward to having more help on the Data Analysts side. 🧪

A few places to start reading about 2019 and reflecting on what has happened with Resources Hints in 2020:
- [Web

[2020-07-05 23:15] max-ostapenko commented on #905
Count me in as an analyst ;)

[2020-07-05 23:29] LeaVerou commented on #898
Announcing @mirisuzanne as reviewer!

[2020-07-06 07:34] ydimova commented on #913
I would like to volunteer as an analyst/author.

[2020-07-06 15:33] obto commented on #905
@max-ostapenko Added you as an analyst to the chapter :)

[2020-07-06 15:39] obto commented on #918
@AAgar Added you as an analyst for the chapter :)

[2020-07-06 15:55] triblondon commented on #918
I probably have some time I can contribute if this process is noob-tolerant!

[2020-07-06 16:47] rviscomi commented on #918
@triblondon we try to make the onboarding process as frictionless as possible! 😄 Let us know if you're ok with the [authoring commitment](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Authors'-Guide).

@andydavies @colinbendell @elithrar would any of you like to be reviewers?

[2020-07-06 17:00] andydavies commented on #918
Yeh, I'm happy to review

[2020-07-06 17:15] #944 closed

[2020-07-06 17:18] #937 closed

[2020-07-06 17:22] ibnesayeed commented on #933
With #956 merged, one more of the checkboxes can be checked.

[2020-07-06 17:23] #953 closed

[2020-07-06 18:01] elithrar commented on #918
Happy to review as well.

[2020-07-06 19:16] pmeenan commented on #921
I'm happy to help review this chapter.

[2020-07-06 19:17] pmeenan commented on #920
If you're still looking for reviewers, I'd be happy to help.

[2020-07-06 19:49] colinbendell commented on #918
Also happy to review.

On Mon, Jul 6, 2020 at 2:01 PM Matt Silverlock <notifications@github.com>
wrote:

[2020-07-06 20:17] rviscomi commented on #815
The 2019 header is a bit congested now that the year dropdown is included from #950. Let's use this issue to explore layout fixes. It may be as simple as adding a margin to the logo. We may also want to explore options to avoid the TOC text from wrapping. For example, adding a tablet-specific breakpoint to switch to the hamburger menu.

![image](https://user-images.githubusercontent.com/1120896/86

[2020-07-06 20:20] rviscomi opened #969 "Translate the temp 2020 landing page"
#815 introduces a new /en/2020/ landing page with a small amount of content specific to the ongoing 2020 project. Translate this content into the following supported languages:

- [x] Spanish
- [x] French
- [x] Japanese
- [x] Chinese

[2020-07-06 22:27] Nooshu commented on #921
Thanks @rmarx, I'd be happy to help.

[2020-07-06 23:02] rviscomi commented on #955
Thanks @max-ostapenko. I've disabled this in the GA Admin Console.
![image](https://user-images.githubusercontent.com/1120896/86662977-3fe54100-bfbb-11ea-80c4-f1b2ec932fbd.png)

Can you verify that the changes fix the CSP issue?

[2020-07-06 23:04] #945 closed

[2020-07-06 23:05] bazzadp commented on #955
Seems to be fixed for me anyway.

[2020-07-06 23:17] bazzadp commented on #921
Some more thoughts on this chapter:

Last year we concentrated on HTTP/2, with a bit of a mention of HTTP/3. Probably should talk a lot about HTTP/3 this year even if usage might be low.

However last year I almost completely ignored the whole topic of the underlying HTTP semantics. Should we add some more of that this year?

For example, how many HTTP Headers are sent? And what size are they? Wha

[2020-07-06 23:25] bazzadp commented on #955
Actually I tell a lie. It is still broken for me. It's not explicitly enabled in GTM is it?

![GTM screenshot](https://user-images.githubusercontent.com/10931297/86666282-55249480-bfe8-11ea-86a0-2722efd59c0b.png)

[2020-07-07 00:55] Zizzamia commented on #920
Just added you on the reviewer's list, and invited you on our Twitter DM group.

[2020-07-07 01:05] rviscomi commented on #920
@Zizzamia regarding the DM group, consider moving that discussion to a public forum (this issue or the draft doc) for all of the reasons @bazzadp excellently described here: https://github.com/HTTPArchive/almanac.httparchive.org/issues/899#issuecomment-653488485

[2020-07-07 01:09] Zizzamia commented on #920
Sounds good, we will keep all the discussion between this issue and the draft doc 😁

[2020-07-07 01:11] Zizzamia commented on #920
We are looking for one Data Analyst, @max-ostapenko do you have enough bandwidth to help with this chapter as well? ✨

[2020-07-07 01:31] rviscomi commented on #920
Also cc @khempenius (author and data analyst for this chapter last year)

[2020-07-07 07:39] #894 closed

[2020-07-07 09:16] rmarx commented on #921
I do agree it would be interesting to have a discussion on HTTP semantics and things like structured headers (and things that have been going wrong with their practical deployments, cc @yoavweiss).

However, like you say, several newer headers and their impact are discussed elsewhere and cutting-edge stuff like feature policy probably won't show up much this year. We then also should definitely re

[2020-07-07 09:59] bazzadp commented on #921
[Feature Policy was discussed in security chapter](https://almanac.httparchive.org/en/2019/security#feature-policy) though annoyingly it didn't discussed actually adoption (very small - looks to be about 1,000 sites at most looking at [the raw data](https://docs.google.com/spreadsheets/d/1Zq2tQhPE06YZUcbzryRrBE6rdZgHHlqEp2XcgS37cm8/edit#gid=8433744)) and just which options were used when it was de

[2020-07-07 12:56] j9t commented on #898
Hi @LeaVerou, CSS chapter team—if I’m not missing anything then ID and class _names_ hadn’t been covered in neither Markup nor CSS chapter last year. They may be more of a topic to cover in the Markup chapter but I wanted to raise this here in case you’ve flagged this on your side, too. Let’s coordinate on this if necessary—I’ll follow up as soon as I get a feeling for interest and feasibility on

[2020-07-07 13:52] rviscomi commented on #815
The graphic on the 2020 landing page is misaligned. I think this was a side effect of @catalinred's recent change
![Screenshot_20200707-094851](https://user-images.githubusercontent.com/1120896/86791251-54671f00-c037-11ea-9657-f4cd9f2aa6c2.png)

[2020-07-07 14:14] #815 closed

[2020-07-07 16:08] bazzadp commented on #921
Anyone on this thread interested in taking on the Author role? Or suggestions who could?

@elithrar not sure what role you were thinking of and if would be interested in Authoring?

@bagder @dotjs , as last year's other reviewers any interest here? Or suggestions of Authors?

And @Lpardue any further suggestions on this after our chat the other week given your role on QUIC-WG?

[2020-07-07 17:01] rviscomi commented on #915
@sirjonathan we're hoping to have the content team nailed down by the end of the week. Alternatively, feel free to @ anyone else in the CMS space that you think might be good candidates to author this chapter.

[2020-07-07 17:19] dotjs commented on #921
I'm happy to work on this chapter again. Sounds like a few people are interested in providing some content. I'm happy to pull it all together and convincing @LPardue to join in.

[2020-07-07 17:19] thepassle commented on #909
I'd also be interested in doing review work here 🙂

[2020-07-07 17:44] sirjonathan commented on #915
OK, perfect. I'm asking around, I have a few ideas.

And once you've got the authors lined up, what's the actual publishing
timeline?

On Tue, Jul 7, 2020 at 10:01 AM Rick Viscomi <notifications@github.com>
wrote:

[2020-07-07 17:53] rviscomi commented on #915
Thanks! The milestones in the [top comment](https://github.com/HTTPArchive/almanac.httparchive.org/issues/915#issue-646592542) and the [chapter lifecycle doc](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Chapter-Lifecycle) give a good overview of the timeline.

[2020-07-07 18:01] rviscomi commented on #911
@vitalyfriedman are you still interested in authoring this chapter?
@stephanie-walter are you also interested in authoring?

[2020-07-07 18:32] rviscomi commented on #912
@tomayac @ThomasTheDane is there anyone you'd like to nominate to author a chapter on web capabilities?

[2020-07-07 18:33] rviscomi commented on #914
@alankent @samdutton is there anyone you'd like to nominate who would be a good author for this year's chapter?

[2020-07-07 18:43] alankent commented on #914
Sorry for delay. I would like to nominate @philwinkle.

[2020-07-07 19:08] rviscomi commented on #914
Thanks @alankent!

@philwinkle, for context on the project, the role, and the timeline, see the resources in the top comment of this issue. Let us know if you'd be interested in contributing!

[2020-07-07 21:39] rviscomi commented on #916
@jyrkialakuijala is interested in authoring 🎉

[2020-07-07 22:57] rviscomi commented on #180
@paulcalvano when generating the tables for the 2020 queries, we should keep this issue in mind. [Here's the query](https://bigquery.cloud.google.com/savedquery/226352634162:7e7b42a438a04cc6b12cdd7d3df8265e) that produced the best results.

[2020-07-08 00:31] rviscomi commented on #898
@estelle I've sent you an invite to join the 2020 Authors team on GitHub. Can you visit https://github.com/HTTPArchive/ to accept the invite? This will ensure you get notifications about important chapter milestones.

[2020-07-08 00:32] rviscomi commented on #908
@aleyda I've sent you an invite to join the 2020 Authors team on GitHub. Can you visit https://github.com/HTTPArchive/ to accept the invite? This will ensure you get notifications about important chapter milestones.

[2020-07-08 06:47] aleyda commented on #908
@rviscomi thank you! I just accepted :)

[2020-07-08 13:42] zachleat commented on #902
If @RoelN has bandwidth he would be an excellent author here

[2020-07-08 16:06] svgeesus commented on #898
I certainly would!

I'm unsure of the apportioning between this CSS chapter and the [Fonts chapter](https://github.com/HTTPArchive/almanac.httparchive.org/issues/902) though.

Nice one, although `-webkit` now falls into two categories which should be distinguished;

1. Things that are actually WebKit specific
2. Things that the other browsers have (wth varying degrees of reluctance) had to impleme

[2020-07-08 16:18] svgeesus commented on #898
@catalinred some great suggestions there!

[2020-07-08 16:21] svgeesus commented on #898
I'm aware only Safari implements this now, but other browsers are showing interest so probing `color(display-p3 r g b)` would be timely this year. Interesting to see

- how much it is used (low, because Safari only)
- is it used with an sRGB fallback and if so, how
- what percentage of the colors declared in P3 are actually outside the sRGB gamut

[2020-07-08 16:57] bazzadp opened #984 "Remove unsafe-inline from CSP"
We allow inline-styles in case Authors want to use them. However few do and in #965 we cleaned them all up to use classes instead.

Should we remove `unsafe-inline` from [our CSP](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/csp.py) as per best practice?

Or do we think we want to keep the ability to have in-line styles directly in HTML elements?

We still have some `<style

[2020-07-08 17:29] obto commented on #916
@jyrkialakuijala thank you for agreeing to be the lead author for the Compression chapter! As the lead, you'll be responsible for driving the content planning and writing phases in collaboration with your content team, which will consist of yourself as lead, any coauthors you choose as needed, peer reviewers, and data analysts.

The immediate next steps for this chapter are:

1. Establish the rest

[2020-07-08 17:34] rviscomi commented on #916
@yoavweiss @paulcalvano would either of you be interested in reviewing?

[2020-07-08 17:37] svgeesus commented on #900
I would love to see data on how many images have embedded color profiles (broken down by image format, by size, and perhaps by image usage (images in HTML, background images in CSS, and so on). Firefox recently enabled, and then swiftly retracted, a change that enabled color management for untagged images (assumed to be sRGB) and it was reported that chrome handles explicitly-tagged sRGB images an

[2020-07-08 17:47] rviscomi commented on #900
We need to evaluate how much metadata we have on images. Since we don't have the capacity to store image binaries, that limits the types of metrics we're able to analyze. Worth investigating if there's anything we can do upstream in WebPageTest (with custom metrics or built-in logic).

[2020-07-08 17:47] obto commented on #910
Also want to nominate @malchata and [Christian Holst](https://www.linkedin.com/in/chholst/)

[2020-07-08 17:51] rviscomi commented on #877
@RReverser any recommendations for who could author this chapter? Alternatively, in which chapter do you think it might be a better fit as a subsection? As of now we don't have any staffing so need to explore backup options.

[2020-07-08 17:58] malchata commented on #910
Cheers, @obto!

I have a book proposal currently being evaluated, but I would love to pitch in at least a little on this if the team would have me.

[2020-07-08 18:04] obto commented on #910
That'd be great, I'll put you down as a reviewer :)

Do you have anyone you'd recommend yourself?

[2020-07-08 18:04] bazzadp commented on #877
@phamann any interest? After your [great talk on this at PerfNow](https://m.youtube.com/watch?v=Z6ZhIA8i_8g)?

[2020-07-08 18:04] rviscomi opened #985 "Table of Contents dropdown list"
I often find myself wanting to jump to a specific chapter. There are a few ways to do this currently:

- navigate via direct URL
- navigate to the TOC page and click the link
- move sequentially previous/next from chapter to chapter

I'd like to propose a new UI that works from any page to navigate directly to any given chapter. The "Table of Contents" link in the header could reveal a dropdown li

[2020-07-08 18:07] bazzadp commented on #969
@HTTPArchive/translators any takers?

[2020-07-08 18:10] rviscomi opened #986 "Style dropdown lists"
Related to #985, existing dropdown lists like the year and language pickers use `select` and `option` elements to represent list items. These are styled natively by the UA:

![image](https://user-images.githubusercontent.com/1120896/86954544-2ad7f180-c124-11ea-940a-bd8c63fb3fae.png)

I'd like to see these better fit with the Almanac style by customizing the appearance of the dropdown lists.

@HTTP

[2020-07-08 18:10] malchata commented on #910
Happy to be a reviewer, and would even entertain doing some writing if it fits my specialties. 😄

As for others, I could recommend:
[Aaron Turner](https://twitter.com/torch2424)
[Shubhie Panciker](https://twitter.com/shubhie) (web platform at Google)
[Stephanie Stimac](https://twitter.com/seaotta) (Microsoft)

Those are just off the top of my head for now.

[2020-07-08 18:15] obto commented on #909
@hemanth thank you for agreeing to be the lead author for the PWA chapter! As the lead, you'll be responsible for driving the content planning and writing phases in collaboration with your content team, which will consist of yourself as lead, any coauthors you choose as needed, peer reviewers, and data analysts.

The immediate next steps for this chapter are:

1. Establish the rest of your content

[2020-07-08 18:15] rviscomi commented on #906
@nrllh thank you for agreeing to be the lead author for the Security chapter! As the lead, you'll be responsible for driving the content planning and writing phases in collaboration with your content team, which will consist of yourself as lead, any coauthors you choose as needed, peer reviewers, and data analysts.

The immediate next steps for this chapter are:

1. Establish the rest of your cont

[2020-07-08 18:22] rviscomi commented on #911
@ldevernay I'm happy to put you down as a coauthor for the sustainable angle. We're still looking for someone to take the lead author role who can write about the state of design in general.

📟 paging @vitalyfriedman and @stephanie-walter one more time to gauge their interest

[2020-07-08 18:48] rviscomi commented on #913
Thanks @ydimova! I'll put you down as an analyst. Would you also mind sharing some of your qualifications/experience with web privacy? I'm not able to find much info from a cursory search, as your full name is not associated with your GitHub profile. Just want to check before assigning the chapter to you :)

@johnwilander are you interested in coauthoring this chapter?

[2020-07-08 18:53] rviscomi commented on #917
@paulcalvano any recommendations for authors?

[2020-07-08 18:55] rviscomi commented on #918
@triblondon just want to confirm that you've reviewed the [authoring commitment](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Authors'-Guide) and the process works for you. It'd be great to have you!

[2020-07-08 18:57] rviscomi commented on #919
@tammyeverts @khempenius any recommendations for someone to author this chapter this year? Also, would you be interested in being reviewers/analysts to help the transition?

[2020-07-08 19:29] colinbendell commented on #900
Media context analysis is one of the biggest gaps in this part of the
chapter. This includes:
* Image format
* physical image dimensions
* metadata analysis (icc, xmp, etc)
* density correctness
* dominant colours, colour volume used (incl. bit depth)
* video bytes loaded,
* dash/cmaf use, along with resolution, bitrate selection

Also, we should really look at a better update for the "estimates"

[2020-07-08 19:31] colinbendell commented on #900
I'd also love to nominate @eeeps and/or @jonsneyers as an author for this chapter

[2020-07-08 19:31] colinbendell commented on #900
(also happy to review if more hands are needed)

[2020-07-08 20:30] spanicker commented on #910
Ok I looked over the docs and would like to accept the author nomination. Thanks!

[2020-07-08 20:43] rviscomi commented on #910
@spanicker thank you for agreeing to be the lead author for the Mobile Web chapter! As the lead, you'll be responsible for driving the content planning and writing phases in collaboration with your content team, which will consist of yourself as lead, any coauthors you choose as needed, peer reviewers, and data analysts.

The immediate next steps for this chapter are:

1. Establish the rest of you

[2020-07-08 20:47] sergeychernyshev commented on #910
Folks, as I mentioned to David, I can not lead the section, but let me know if this one or performance section needs a reviewer, I’ll be happy to contribute.

[2020-07-08 20:49] obto commented on #910
Would also love to be a reviewer :)

[2020-07-08 20:52] rviscomi commented on #910
Thanks @sergeychernyshev! [Performance](https://github.com/HTTPArchive/almanac.httparchive.org/issues/905) already has 9 reviewers (!!) so I think it's well-staffed already. This chapter could definitely use your help. I've updated this issue to add both you and @obto as reviewers.

[2020-07-08 20:55] sergeychernyshev commented on #910
Sure, I’ll be happy to help here, glad to work with you, @spanicker, @malchata and back on the team with @obto!

[2020-07-08 21:01] paulcalvano commented on #916
I'd be happy to be a reviewer for this chapter.

@jyrkialakuijala looking forward to working with you on this.

[2020-07-08 21:08] paulcalvano commented on #919
@henrihelvetica - any interest in working on this?

[2020-07-08 21:19] paulcalvano commented on #917
@csswizardry - any interest in writing this chapter?

[2020-07-08 21:25] rviscomi commented on #902
Thanks @zachleat! Would you also be interested in being a peer reviewer this year?

@RoelN any interest in taking on this chapter or recommendations for other good candidates?

[2020-07-08 21:27] paulcalvano commented on #921
@MikeBishop  - any interest in co-authoring this chapter?

[2020-07-08 21:30] bazzadp commented on #921
@siyengar same question to you! 😀

[2020-07-08 21:57] bazzadp commented on #902
@mandymichael and @jpamental do great things in the variable fonts space and would to have either (or both) of them contribute if interested.

[2020-07-08 22:06] bazzadp commented on #911
@adactio any interest in helping out with the Web Almanac this year in either this chapter or any other (PWA, Page Weight or whatever takes your fancy)?

[2020-07-08 23:12] max-ostapenko commented on #955
I don't see advertising requests anymore. Looks fixed for me.
@bazzadp still not a clean console for you?

I haven't seen GTM being injected to the website, so it's controlled only by tag or Admin console settings.

[2020-07-08 23:46] rviscomi commented on #984
This seems like a good idea

[2020-07-08 23:51] sirjonathan commented on #915
I just connected with Alex Denning and he's interested! I'll send him to this thread to read up and follow-up accordingly.

[2020-07-09 00:04] hemanth commented on #909
Awesome @rviscomi!
Looking forward to work will all the co-authors and reviewers, PWA FTW!

[2020-07-09 01:21] malchata commented on #902
I'd be happy to work on this in a review or even author capacity, depending on the need. There's a lot of talent already teed up for this space, but let me know if I can help.

[2020-07-09 04:10] logicalphase commented on #909
@hemanth I'd be happy to co-author this. I've got the time and significant experience with PWAs. Just let me know. Cheers.

[2020-07-09 07:51] thefoxis commented on #905
I [added some notes to the doc](https://docs.google.com/document/d/1E8DRFI3AghYqzvIS4cfs2W5HXvZkyEk0YHsM3sCjRBs/edit?ts=5efe0ee7#) clarifying my earlier points about lighthouse scoring and core web vitals. it's a bit hard to determine specific queries without seeing the data (I'll do more digging) but I think these will yield interesting findings.

I see a lot of questions surrounding the perf sco

[2020-07-09 09:03] Vrijraj commented on #924
Count me in the Development team

[2020-07-09 09:11] bazzadp commented on #924
Good stuff.

There's a growing list of good-first issues if anyone wants to dive in: https://github.com/HTTPArchive/almanac.httparchive.org/issues?q=is%3Aissue+is%3Aopen+label%3Adevelopment+label%3A%22good+first+issue%22

Tag me in any of the issues if you have any questions.

[2020-07-09 09:32] bazzadp commented on #906
I'm happy to review this chapter again this year btw. Added myself to first comment.

[2020-07-09 09:34] bazzadp commented on #955
Actually looks good to me now. Closing!

[2020-07-09 09:34] #955 closed

[2020-07-09 11:11] alexdenning commented on #915
Hi! @sirjonathan pinged me about this, and I'm keen to be involved! I had a read through the docs and looks good. For a bit of context this is me: https://twitter.com/AlexDenning

[2020-07-09 12:07] bazzadp opened #988 "Implement feature-policy"
[Feature Policy](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Feature-Policy) is a relatively new feature were sites can send an HTTP header to tell the browser which powerful APIs are not used by this site and so you can say shouldn't be allowed. More info in this [Smashing Magazine article](https://www.smashingmagazine.com/2018/12/feature-policy/).

This offers good protection for u

[2020-07-09 13:05] paulcalvano commented on #905
@thefoxis  - this looks great.

I believe most of the 2019 Performance chapter used Chrome User Experience Report data, but I agree that including Lighthouse scoring and web vitals would be great to include in the chapter.

A while back I wrote a discussion forum post on analyzing lighthouse scores at a high level, which you can see here.  https://discuss.httparchive.org/t/analyzing-lighthouse-sco

[2020-07-09 13:54] RoelN commented on #902
Thanks very much for considering me! 💖 I'd love to, but I'd also be happy to give up (or share) my seat if this means a more diverse mix of authors. :-)

[2020-07-09 14:00] jpamental commented on #902
I'll say the same as @malchata & @RoelN - I'd love to contribute in any way, as long as it doesn't preclude more diverse voices from being heard!

[2020-07-09 15:58] roryhewitt commented on #917
@paulcalvano I'll be an author if you're looking...

[2020-07-09 15:59] roryhewitt commented on #903
More than happy to be an author or reviewer.

[2020-07-09 17:09] obto commented on #905
@thefoxis You may have already, but here's a link to the metric results for last years performance chapter if you want to get an idea of what's possible: https://docs.google.com/spreadsheets/d/1zWzFSQ_ygb-gGr1H1BsJCfB7Z89zSIf7GX0UayVEte4/edit?usp=sharing

But also want to second what Paul said above. It's super helpful to look at the raw data that's being collected (and what isn't but should be).

[2020-07-09 17:13] obto commented on #907
Happy to be a reviewer and analyst this year. Was the author and analyst for last year's chapter, so if you have any questions at all I'd be more than happy to help :)

[2020-07-09 17:16] obto commented on #910
Also happy to be an analyst for the chapter again this year. I was the author for last year's chapter and added a lot of custom metrics.

So if you have any questions at all just let me know :)

[2020-07-09 17:37] obto commented on #921
@dotjs just want to confirm that you've reviewed the [authoring commitment](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Authors'-Guide) and the process works for you. Would love to have you as the lead author :)

[2020-07-09 17:41] rviscomi commented on #902
@mandymichael @notwaldorf would either of you have any interest in authoring this chapter?

[2020-07-09 17:53] rviscomi commented on #902
@malchata @RoeIN @jpamental thanks for your consideration. I'll put you all down as reviewers for now and we can change it to authors as needed.

[2020-07-09 17:57] MikeBishop commented on #921
Yes, I'd be happy to help, as author or reviewer.

[2020-07-09 18:10] obto commented on #917
@roryhewitt just want to confirm that you've reviewed the [authoring commitment](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Authors'-Guide) and the process works for you. Would love to have you as the lead author :)

[2020-07-09 18:13] obto commented on #915
@alexdenning thank you for agreeing to be the lead author for the CMS chapter! As the lead, you'll be responsible for driving the content planning and writing phases in collaboration with your content team, which will consist of yourself as lead, any coauthors you choose as needed, peer reviewers, and data analysts.

The immediate next steps for this chapter are:

1. Establish the rest of your con

[2020-07-09 18:17] notwaldorf commented on #902
I haven't authored anything in a while, so I would love to do a co-authoring adventure (or, if someone tells me _specifically_ what to write about, i can try that too). I wouldn't want to take anything about variable fonts away from @mandymichael though :)

[2020-07-09 18:39] henrihelvetica commented on #919
In. ✅

[2020-07-09 18:42] rviscomi commented on #902
Great, thanks @notwaldorf! I've added you as an author for this chapter. Can I also put you down as the content team lead? You'd be the point person for keeping the chapter on schedule. You're also free to add people as coauthors as needed.

A few resources to get you started:
- the [draft doc](https://docs.google.com/document/d/15-rYqS-FqKWD0_32LdajEg0tD1Tm0KzgTYyLF2pQK8M/edit?usp=sharing) is whe

[2020-07-09 18:44] tammyeverts commented on #919
Sweet!!!

I'll be happy to be a reviewer for this chapter... not least so I can have
some virtual quality time with Henri. :)

On Thu, Jul 9, 2020 at 11:39 AM Henri <notifications@github.com> wrote:

[2020-07-09 18:52] obto commented on #919
@henrihelvetica thank you for agreeing to be the lead author for the Page Weight chapter! As the lead, you'll be responsible for driving the content planning and writing phases in collaboration with your content team, which will consist of yourself as lead, any coauthors you choose as needed, peer reviewers, and data analysts.

The immediate next steps for this chapter are:

1. Establish the rest

[2020-07-09 18:53] LPardue commented on #921
I am willing and able to participate on authoring.

[2020-07-09 19:13] bazzadp commented on #922
I'm in btw. Won't be able to hold myself back from reviewing anyway, so might as well get the credit for it 😀

[2020-07-09 19:46] roryhewitt commented on #917
Yeah, the commitment should be fine. Not sure if you REALLY want me as lead author :)

[2020-07-09 20:05] notwaldorf commented on #902
Ooooh that sounds like a lot of responsibility and self-organization that I'm not really sure I can be successful at (I proposed a co-authoring adventure with structure and unless I copy paste last year's, it feels like a solo-authoring adventure and chaos 😅 )

[2020-07-09 20:09] rviscomi commented on #902
No worries! It's great to have you on board in a coauthor capacity.

📟 @malchata @RoelN @jpamental @mandymichael would any of you like to step into the content lead role and coauthor with Monica?

[2020-07-09 22:02] ibnesayeed commented on #899
@rviscomi some milestone entries in this and other chapters do not have chackboxes, is this intentional?

[2020-07-09 22:21] rviscomi commented on #899
@ibnesayeed yes those are informational dates to explain why the other milestones are when they are. For example, there's nothing the content team needs to do to make sure the August crawl happens, but it explains why metrics must be prepared by July 27, and why querying metrics can't begin until September.

[2020-07-09 23:37] rviscomi commented on #988
Should be a no-op, right? Seems like a good idea to me.

[2020-07-10 01:45] khempenius commented on #919
Happy to be a reviewer

[2020-07-10 03:28] LeaVerou commented on #902
I'm the content lead for the CSS chapter and we were [wondering](https://github.com/HTTPArchive/almanac.httparchive.org/issues/898#issuecomment-655612499) if we can study variable fonts usage or it would be more suitable here.

I would also nominate @svgeesus as a co-author or reviewer, if nominations are not closed!

[2020-07-10 03:53] paulcalvano commented on #902
Hi @LeaVerou.  You should be able to study variable fonts.   There was a section on it in the 2019 Fonts chapter, so there should be some existing queries we can work with.   https://almanac.httparchive.org/en/2019/fonts#variable-fonts-are-the-future

Example queries:
* https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/sql/2019/06_Fonts/06_18.sql
* https://github.com/HTTPArchive/alm

[2020-07-10 04:21] ibnesayeed opened #989 "2020 Content Progress"
Chapters | <span title="📄 (Draft), 🔍 (SQL), 📊 (Results)">Links</span> | <span title="Authors+Reviewers+Analysts≥All">Team</span> | <span title="**Jul 6th**: Project owners have selected an author to be the content team lead">1<span> | <span title="**Jul 13th**: The content team has at least one author, reviewer, and analyst (minimally viable team formed)">2<span> | <span title="**Jul 20th:** The c

[2020-07-10 04:59] rviscomi commented on #989
Cool, I assume this is related to #943? We should sync up about how to display the progress of each chapter.

[2020-07-10 05:06] bazzadp commented on #988
It should have no-impact and not require any further thought after implementing if that’s what you mean?

So only impact is time to write this (very small - basically config for flask-talisman), extra code in our code-base (very small) and if some future feature needs one of these APIs then will have to tweak our feature policy to allow it.

[2020-07-10 05:18] sudheendrachari commented on #924
Would love to contribute, please count me in.

[2020-07-10 05:51] ibnesayeed commented on #943
I attempted to implement this proposal in #990. I hope it makes your life easier and reports the progress they way you would like.

Yes, #898 is an issue I created to display consolidated progress report. Perhaps it will be a good idea to discuss progress there and not how it is reported (that's why cross-quoted your comment here). Let's discuss technical aspects here in this thread or in the PR t

[2020-07-10 06:00] rviscomi commented on #943
Ahhh gotcha, that makes sense. What I would love to see is a table like this:

Chapter | Next Milestone | Draft Doc
-- | -- | --
JavaScript |   |  
CSS |   |  
Markup |   |  
Media |   |  
Third Parties |   |  
Fonts |   |  
Cookies |   |  
WebAssembly |   |  
JAMstack |   |  
Performance |   |  
Security |   |  
Accessibility |   |  
SEO |   |  
PWA |   |  
Mobile Web |   |  
Design |   |  
Capab

[2020-07-10 06:23] ibnesayeed commented on #943
I opted for a full grid instead of just reporting the next milestone to give a better overall comparative picture in an aligned manner, because otherwise we will end up parsing text which will be difficult to realize in a quick glance.

I used the `☐` character for tasks that are not done yet (for the sake of completeness as the two related Unicode characters represent ballot box and checked ballo

[2020-07-10 06:27] ibnesayeed commented on #943
And yes, I did link each chapter name with the corresponding issue (which was sensible and obvious thing to do). I also removed the repeated suffix of ` 2020` from each issue title which would otherwise making the table unnecessarily wider. Well, I replaced any trailing sequence of digits and space before that with nothing, so this can be used in the future as well without much changes.

[2020-07-10 06:35] rviscomi commented on #943
Yeah you're right, the grid of checkboxes is more compact than I thought and it looks better than text. Mapping milestone numbers is a good workaround. 👏

I'm ok doing without the `☐` character. It appears a totally different size than the checked box in GitHub's font, so I don't see a lot of value in keeping it: ☐ ☑ ☐ ☑

At the bottom of every issue we define the `[~draft-doc]` URL consistently,

[2020-07-10 06:48] rviscomi opened #991 "Lint SQL"
The BigQuery SQL files (eg [01_01a.sql](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/sql/2019/01_JavaScript/01_01a.sql)) for each metric are written by many analysts. It would be great to automatically enforce an SQL style guide with the linter, so that discrepancies can be caught by analysts in the PRs. Not sure how much control/customization we have at our disposal.

@paulcal

[2020-07-10 08:00] borisschapira commented on #919
I'd be happy to review too.

[2020-07-10 08:56] RoelN commented on #902
This is so exciting :-)

@LeaVerou I think there will be some overlap between CSS and Fonts if you look at the typography side of fonts (as opposed to tech/performance), but I think that'd eventually might feel better at home in the Fonts chapter. Because it'll be a mix of what the browser automatically does, based on the font, and what the CSS authors enable/disable on top of that.

For instance,

[2020-07-10 10:26] ahmadawais commented on #878
Welcome, @tpiros and @phacks to the team. I have added you both to the reviewers/analysts sections.

[2020-07-10 10:31] alexdenning commented on #915
@obto many thanks! I'm at capacity this week, so I'll dig into this properly next week and start making some progress then.

[2020-07-10 12:02] dotjs commented on #921
reviewed and looks fine to me

[2020-07-10 13:03] gregorywolf commented on #921
Hi. I would sign up for either chapter reviewer or analyst

[2020-07-10 15:17] notwaldorf commented on #902
Then, since it's looking like this might be of interest to the CSS folks, i'm 100% ok with bailing and/or just reviewing, and giving my spot to @svgeesus!

[2020-07-10 15:22] jpamental commented on #902
I'd love to be part of the team (content lead if that's needed), ideally co-authoring with you @notwaldorf and maybe @mandymichael ? I think with input from @LeaVerou and @svgeesus it would be a really well-rounded group including perspectives from fonts, design, development, and CSS. It would be wonderful to work with you and Mandy.

[2020-07-10 15:30] ibnesayeed commented on #943
The format of these issue bodies are not very suitable for a meaningful parsing, but I put together a rather brittle mechanism to parse these. While I could have added avatars of members, it will make the process more complicated that we might want, so I simply report number of members in the three teams separated by forward slashes (e.g., `2/3/1` means 2 authors, 3 reviewers, and 1 analyst). This

[2020-07-10 15:32] khempenius commented on #920
I can be the analyst for this chapter if no one else is interested.

[2020-07-10 17:31] rviscomi commented on #902
Ok thanks everyone, I've set @jpamental as the team lead and coauthor along with @notwaldorf, supported by @malchata and @RoelN as reviewers. This is totally flexible, so feel free to reassign as needed, but it's good to have something firmed up to get started on content planning.

@mandymichael @svgeesus @LeaVerou  let us know if you're interested in contributing, either as coauthors or reviewers

[2020-07-10 17:31] sudheendrachari commented on #986
I would like to give this a shot, let me come up with a prototype with styles similar to dropdown in HTTP Archive. We can take a call based on that

[2020-07-10 17:36] rviscomi commented on #986
Thanks @sudheendrachari great to have you working on this! A prototype sounds like a great first step.

[2020-07-10 18:41] Zizzamia commented on #920
Grazie Mille @khempenius!
Officially the Resource Hints content team is complete 🌲🚀🌕
I am going to give a refresh on the doc over the weekend, and if anyone in the team (@notwillk, @giopunt, @jessnicolet, @pmeenan,  @khempenius) has some early ideas feel free to share it here or in the doc.

[2020-07-10 19:11] obto commented on #919
@khempenius @borisschapira Added both of you as reviewers :)

[2020-07-10 19:23] obto commented on #921
@dotjs thank you for agreeing to be the lead author for the HTTP2 chapter! As the lead, you'll be responsible for driving the content planning and writing phases in collaboration with your content team, which will consist of yourself as lead, any coauthors you choose as needed, peer reviewers, and data analysts.

The immediate next steps for this chapter are:

1. Establish the rest of your content

[2020-07-10 19:31] obto commented on #917
@roryhewitt thank you for agreeing to be the lead author for the Caching chapter! As the lead, you'll be responsible for driving the content planning and writing phases in collaboration with your content team, which will consist of yourself as lead, any coauthors you choose as needed, peer reviewers, and data analysts.

The immediate next steps for this chapter are:

1. Establish the rest of your

[2020-07-10 19:42] obto commented on #900
@colinbendell Put you down as a reviewer :)

[2020-07-10 20:46] bazzadp commented on #991
It’s not in the Github Superlinter yet which would make this easier. Issue to follow: https://github.com/github/super-linter/issues/128

Still may be worth looking at the linters proposed and considering the rules we want.

[2020-07-10 20:56] rviscomi commented on #991
@fhoffa this is a hail mary, but does BigQuery have an open source linter/formatter?

[2020-07-10 21:07] bazzadp commented on #933
[GitHub Superlinter](https://github.com/github/super-linter) added [HTMLHint](https://github.com/htmlhint/HTMLHint) HTML linter. Will have a play this weekend and see if we can use it. We use Jinja2 templates rather than pure HTML so suspect it may not like it but will give it a go.

Unfortunately there does not seem to be many Jinja2 linters about. The few that are there seem
 old and poorly main

[2020-07-10 21:15] LeaVerou commented on #902
Thank you for the invitation @rviscomi! I don't think I have enough expertise on fonts to contribute, and I have my hands very full with the CSS chapter.

[2020-07-10 22:35] #943 closed

[2020-07-11 17:57] bazzadp opened #1002 "Compression Featured Quote is incorrect"
Just spotted during the French review that the Compression chapter featured quote on the home page is actually a repeat of the JavaScript quote!

- [x] English version - fixed in #1001
- [x] French version - @allemas could you fix this based on #1001 ?
- [x] Japanese - @ksakae1216 could you fix this based on #1001 ?

[2020-07-11 18:12] rviscomi commented on #896
According to the [Web Almanac analytics](https://datastudio.google.com/s/gUPCF0CEsCw), here are the latest page view counts for each 2019 chapter:

Chapter | Views
-- | --
JavaScript | 33,618
CSS | 11,436
SEO | 6,323
Performance | 5,334
Markup | 4,052
HTTP/2 | 3,996
Third Parties | 3,717
Fonts | 3,171
Accessibility | 3,108
PWA | 3,052
CMS | 3,032
Media | 2,445
Security | 2,419
Mobile Web | 2,250
C

[2020-07-11 18:21] #988 closed

[2020-07-11 18:31] rviscomi commented on #875
@paulcalvano do you think we should go this route and make sure all 2019 queries that use the response bodies have a custom metric equivalent or should we rely on analysts for each individual chapter to determine what metrics are relevant in 2020 and implement as custom metrics as needed?

[2020-07-11 19:30] bkardell commented on #896
Hey I'm sorry I'm just seeing this now, things have been pretty hectic and
I appear to have subscribed to the whole of GitHub at this point so
sometimes I don't notice... Just wanted to say I think this sounds awesome
and I'd love to see it happen.. In fact, I'd love to help make it happen..
I'm just not sure I have the bandwidth to commit to it too much.  How can I
help though?

Also, one quick q

[2020-07-11 19:57] ydimova commented on #913
@rviscomi Of course! I'm a computer scientist and PhD student in web privacy and security (no publications yet). I have been using the httparchive dataset for some of my research so I think I could contribute as an analyst and coauthor.

[2020-07-11 20:08] bazzadp commented on #896
I’m kind of torn on this to be honest.

On the one hand I think there could be some very cool stuff come out of this. And it could certainly potentially help to expose the data for more digging in to gather insights, and possibly for future authors to play with to help right future chapters. I also think a lot of news media have done some very cool things with data recently (the NY Times example y

[2020-07-11 20:48] rviscomi commented on #913
Thanks @ydimova, you sound like a great fit for this chapter! I've added you as an author. Can I also put you down as the content team lead? You'd be the point person for keeping the chapter on schedule. You're also free to add people as coauthors/reviewers as needed.

A few resources to get you started:
- the [draft doc](https://docs.google.com/document/d/1hIllsWd_IqfYuGT_qUFA2ruoQaIvcbuYpNHJLB4A

[2020-07-11 20:56] rviscomi commented on #903
Thanks @roryhewitt! I've added you as a reviewer seeing as how you're already authoring #917. Can you recommend anyone else who may be a good fit to author this chapter?

[2020-07-11 21:05] bazzadp commented on #903
@ericlaw1979 any interest in this (or any other) chapter?

[2020-07-11 21:15] ibnesayeed commented on #896
Being a web archive researcher, I would prefer if reports are self-contained. Interactive visualization are great, but they should be portable and not be powered by a third-party service, because when those services go out of business (or change their APIs, rate limits, and whatnot) the report gets affected. Here is my rule of thumb, if a page is archived in a web archive and can faithfully reply

[2020-07-11 21:34] ibnesayeed commented on #933
@bazzadp I know you are a big fan of keeping dependencies to their latest versions. As a result you may end up specifying dependencies without a version number. However, this is a brittle approach, especially when a repository is not maintained actively and breaking changes pile up. On the other hand, version pinning of dependencies makes a system use stale and often insecure versions, because act

[2020-07-11 21:50] bazzadp commented on #933
Agreed. That way we keep things up to date but can also control updates. I believe the main [HTTPArchive repo](https://github.com/HTTPArchive/httparchive.org) uses it already so had been meaning to look into this at some point. You want to take this?

Should we raise a separate issue for this if there are things to discuss or several PRs to identify? Or is it simple enough to cover in one PR so do