[2021-05-16 17:57] obto commented on #2148
Hey @siakaramalegos excited to work with you and the rest of the group this year on the Almanac. I'm your go to guy if you've got any questions or need help so don't hesitate to reach out to me on github, the [Slack](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA) (@obto) or email (david@davidjfox.com).

Few first steps:

1. All authors, reviewers and analyst

[2021-05-16 18:03] obto commented on #2150
Hey @SaptakS excited to work with you and the rest of the group this year on the Almanac. I'm your go to guy if you've got any questions or need help so don't hesitate to reach out to me on github, the [Slack](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA) (@obto) or email (david@davidjfox.com).

Few first steps:

1. @awareseven @ScottHelme should add themse

[2021-05-16 18:10] obto commented on #2151
Hey @ashleyish excited to work with you and the rest of the group this year on the Almanac. I'm your go to guy if you've got any questions or need help so don't hesitate to reach out to me on github, the [Slack](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA) (@obto) or email (david@davidjfox.com).

Few first steps:

1. All authors, reviewers and analysts sho

[2021-05-16 18:15] obto commented on #2152
Couple things:

1. I've added links within the doc to the previous years Google doc so we can scan it to see if there's any ideas we'd like to revisit.
2. What do you think about setting up a 30 minute Zoom call in the next couple weeks to kick-start the chapter planning and brainstorming process? I'll reach out again later this week to find a time that works.

[2021-05-16 18:18] obto commented on #2153
Hey @demianrenzulli excited to work with you and the rest of the group this year on the Almanac. I'm your go to guy if you've got any questions or need help so don't hesitate to reach out to me on github, the [Slack](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA) (@obto) or email (david@davidjfox.com).

Few first steps:

1. All authors, reviewers and analyst

[2021-05-16 19:46] NishuGoel commented on #2141
Welcome @pankajparkar. Could you request edit access to the chapter doc for now and we start writing down ideas for scope and outline of the chapter?

[2021-05-16 21:19] ianand commented on #2156
@rviscomi let me know if you need other contributors for this chapter but maybe looks like you've got this one filled out?

[2021-05-17 03:56] schachin commented on #2147
Am I still working on this? Or am I already on that sheet :) ?

________________________________
More Info & Publications
* LinkedIn
* SearchEngineJournal.com VIP Contributor
* Article Portfolio on Muckrack

Contact Info
* Cell 540.327.0328 
What Are Your Barriers To Success?
Specializing in Technical SEO, Site Audits, Site Recoveries, Social Media, CRO, and Accessibility.

Helping You Make It Bet

[2021-05-17 07:13] Dawntraoz commented on #2156
I would love to join the Jamstack team as a reviewer if it's possible 🎉

[2021-05-17 14:27] pankajparkar commented on #2141
@NishuGoel I got access to both of the docs.

[2021-05-17 15:49] ydimova commented on #2149
@rviscomi Looks like there are enough reviewers, I would like to help out as an author.

[2021-05-17 16:06] philbarker commented on #2174
@jono-alderson I'm here because @jvandriel asked, then I saw your tweet asking for involvement from people with expertise in Dublin Core / other metadata.  I might be able to help as reviewer, if you still need such help.

[2021-05-17 16:22] siakaramalegos commented on #2148
@Nithanaroy are you still interested in being an analyst? Just checking in since I haven't heard from you and we need to finalize the team. If you are, please add your name and email to the Google Doc and join us in Slack. See details in [this comment](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2148#issuecomment-838786943)

[2021-05-17 17:15] jono-alderson commented on #2174
Hi @philbarker, thanks for reaching out! That'd be amazing; I'll add you to the team list! I know I'm personally weak on knowledge around DC, so keen to have an expert involved!

Please feel free to jump into the Slack channel, and contribute any ideas/direction, etc!

[2021-05-17 17:20] rviscomi commented on #2156
I'll defer to @denar90 as content team lead to onboard any new contributors. (updating the [top comment](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2156#issue-868436175), inviting to the [doc](https://docs.google.com/document/d/1fret_E-GBkF6H1yV9aBQjWH9Fykee7jpxKrK2PYv5p8/edit?usp=sharing), etc)

[2021-05-17 17:37] alextait1 commented on #2147
@schachin yes please add yourself to the sheet in the format listed (you may need to request access)

[2021-05-17 17:54] schachin commented on #2147
Ok great thanks!

________________________________
More Info & Publications
* LinkedIn
* SearchEngineJournal.com VIP Contributor
* Article Portfolio on Muckrack

Contact Info
* Cell 540.327.0328 
What Are Your Barriers To Success?
Specializing in Technical SEO, Site Audits, Site Recoveries, Social Media, CRO, and Accessibility.

Helping You Make It Better by Making It Work.
Recommendations and Ref

[2021-05-17 18:22] obto commented on #2168
Can you add @jsoverson @carlopi to the corresponding roles in the top comment?

[2021-05-17 18:24] RReverser commented on #2168
Actually that's what I did when I left that comment, but I don't see them there now... so weird.

[2021-05-17 21:20] denar90 commented on #2156
@Dawntraoz @ianand added you as reviwers

[2021-05-17 21:52] rviscomi commented on #2149
@ydimova thanks for your interest in authoring this chapter! As the content team lead, you'll be responsible for the scope and direction of the chapter and keeping it on schedule. We automatically monitor the staffing and progress of each chapter based on the state of the [initial comment][~chapter-metadata] so please keep that updated as you add new contributors and meet each milestone.

We've cr

[2021-05-18 10:49] christianliebel commented on #2152
@obto Sure, we can follow up via email (in the doc) or Twitter group chat ([@tomayac](https://twitter.com/tomayac) and [@christianliebel](https://twitter.com/christianliebel), DMs are open) if you like.

[2021-05-18 13:53] ericwbailey commented on #2147
Added my email to the doc. A Zoom call sounds great.

[2021-05-18 13:58] alextait1 commented on #2147
@scottdavis99, @ericwbailey and @obto what timezone(s) are you in? I know @oluoluoxenfree is in the UK and I'm in EST. I'd like to book our intro chat before the end of the month ideally (30 min should suffice).  Other reviewers welcome too!

[2021-05-18 14:01] ericwbailey commented on #2147
I'm EDT, but also, uh, online a lot 😅

I'll also add my timezone to the doc, just to get it all in one place.

[2021-05-18 15:31] schachin commented on #2147
I am on PDT time.

________________________________
More Info & Publications
* LinkedIn
* SearchEngineJournal.com VIP Contributor
* Article Portfolio on Muckrack

Contact Info
* Cell 540.327.0328 
What Are Your Barriers To Success?
Specializing in Technical SEO, Site Audits, Site Recoveries, Social Media, CRO, and Accessibility.

Helping You Make It Better by Making It Work.
Recommendations and Re

[2021-05-18 17:44] demianrenzulli commented on #2153
This is great @obto! Nice to meet you too.

My apologies for the delayed response, but we had a couple of things for I/O week, and some articles I've been working on for Web.dev.

I'm planning to start working on this by tomorrow. I'll make sure to also touch base with the rest of the collaborators.

We had some internal conversations already, and would be great to hear thoughts from the rest of t

[2021-05-18 17:56] thepassle commented on #2153
Looks like I need some rights to be able to add myself there, I've requested them in the doc.

[2021-05-18 18:25] bkardell commented on #2147
Just dropping this in here for analysts - it strikes me that in neither the CSS nor Accessibility chapters in 2019/2020 is there any analysis on focus stying (including the disabling of) which is very relevant to a lot of conversations and would be great to have more facts on

[2021-05-18 18:46] alextait1 commented on #2147
Yes we can maybe query for this (maybe even adding custom focus styles)

[2021-05-18 18:48] rviscomi commented on #2158
I spoke with @kevinfarrugia offline and they volunteered to author this.

@kevinfarrugia thanks for your interest in authoring this chapter! As the content team lead, you'll be responsible for the scope and direction of the chapter and keeping it on schedule. We automatically monitor the staffing and progress of each chapter based on the state of the [initial comment][~chapter-metadata] so please

[2021-05-18 20:32] Yonet commented on #2167
@rabimba we are adding WebXR to Media. Check out [#2144 ](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2144).

[2021-05-18 21:52] gregorywolf commented on #2146
@obto - I think scheduling a 30 minute Zoom is a great idea!

[2021-05-18 22:27] rviscomi commented on #2149
I have @ydimova and @maudnals's emails and have given them edit access to the doc. @SaptakS @cqueern could you request edit access? Once everyone's in the doc you all could get started on sketching out the chapter outline.

[2021-05-19 01:10] cqueern commented on #2149
I've requested access

[2021-05-19 08:34] RoelN commented on #2143
I'm interested in helping out as well, as reviewer or general helper-outer.

[2021-05-19 09:02] kevinfarrugia commented on #2158
Hey everyone, thanks for volunteering to contribute to the Resource Hints chapter team! I created a channel in the [HTTP Archive Slack](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA) for this chapter - please join in for chat/discussions.

### TODO
@siakaramalegos @Zizzamia @samarpanda @Nithanaroy
- Join the Slack channel `#web-almanac-resource-hints`
- Requ

[2021-05-19 09:02] kevinfarrugia commented on #2158
@rviscomi are you able to send me a link of last year's Google Doc please?

[2021-05-19 09:08] bazzadp commented on #2158
Here's the chapter tracker from last year: https://github.com/HTTPArchive/almanac.httparchive.org/issues/989 with all the links.

[2021-05-19 12:46] rviscomi commented on #2143
👋  Great to have you back @RoelN! I'll defer to @jpamental to get you onboarded.

[2021-05-19 13:12] obto commented on #2147
@scottdavis99 @ericwbailey @oluoluoxenfree @alextait1 @schachin Moved scheduling this chat to an email I just sent. Faster to go back and forth with times there.

@alextait1 can you edit the top comment and put @schachin in the proper role?

@schachin Can you shoot an email to david@davidjfox.com? So i can add you to the email thread i just sent.

[2021-05-19 13:29] obto commented on #2150
How does Monday (May 24) at 12p ET / 9p PT / 5p BST ([timezones here](https://www.timeanddate.com/worldclock/meetingdetails.html?year=2021&month=5&day=24&hour=16&min=0&sec=0&p1=64&p2=179&p3=224&p4=136)) work for the 30m chat?

@SaptakS @tomvangoethem @nrllh @cqueern @edmondwwchan @awareseven @ScottHelme

[2021-05-19 13:33] obto commented on #2151
How does Monday (May 24) at 1p ET / 10a PT / 6p BST ([timezones here](https://www.timeanddate.com/worldclock/meetingdetails.html?year=2021&month=5&day=24&hour=17&min=0&sec=0&p1=64&p2=179&p3=224&p4=136)) work for the 30m chat?

@ashleyish @fellowhuman1101 @dwsmart @fili @logicalphase

[2021-05-19 13:36] patrickstox commented on #2146
I've got a recording for a virtual conference on Friday at that time but Monday works for me.

[2021-05-19 13:38] fili commented on #2146
Neither days work for me.

On Wed, May 19, 2021 at 3:37 PM patrickstox ***@***.***>
wrote:

--

Fili Wiese

***@***.***

Websites

●  fili.com

●  seo.consulting

●  online.marketing

------------------------------

Registered Office:  Friedrichstr. 123, 10117 Berlin, Germany

VAT:  DE290388554

This email may be confidential or privileged. If you have received this
communication in error, please

[2021-05-19 13:42] fili commented on #2151
Sorry, can't do Monday

On Wed, May 19, 2021 at 3:33 PM David Fox ***@***.***> wrote:

--

Fili Wiese

***@***.***

Websites

●  fili.com

●  seo.consulting

●  online.marketing

------------------------------

Registered Office:  Friedrichstr. 123, 10117 Berlin, Germany

VAT:  DE290388554

This email may be confidential or privileged. If you have received this
communication in error, please don't

[2021-05-19 13:43] obto commented on #2153
How does Tuesday (May 25) 11a ET / 8a PT / 4p BST work for that 30m chat? Timezones here: https://www.timeanddate.com/worldclock/meetingdetails.html?year=2021&month=5&day=25&hour=15&min=0&sec=0&p1=64&p2=179&p3=224&p4=136&p5=37&iv=1800

@demianrenzulli @webmaxru @Schweinepriester @thepassle @hemanth

[2021-05-19 13:44] logicalphase commented on #2151
I'm okay with that date and time.

[2021-05-19 13:52] paulcalvano commented on #2160
Awesome!   Would love to contribute on this chapter as well.  I'm happy to be an analyst and reviewer.    Looking forward to working with you @jyrkialakuijala !

[2021-05-19 13:53] dwsmart commented on #2151
I can't do Monday sadly

[2021-05-19 14:04] logicalphase commented on #2157
In looking at the 2020 Page Weight product, I think it touches on all the right data points. I may add some analysis to the previous work. If anyone on the team can take some time to review https://almanac.httparchive.org/en/2020/page-weight and offer any additional thoughts on shaping the next release I'd be grateful. My plan is to to complete milestone 1 over the weekend and move on to the next.

[2021-05-19 14:08] logicalphase commented on #2151
Would it be possible to move the meet to Tuesday 1:00 or later PST?

[2021-05-19 14:17] logicalphase commented on #2153
Good for me.

[2021-05-19 14:20] meyerweb commented on #2140
Author and reviewer volunteers added — welcome, all!  If I missed anyone, please let me know.

This is a good time to wish for things to analyze and talk about in CSS.  @bkardell had [a great suggestion in the accessibility issue](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2147#issuecomment-843422635):

What else?  Anything that hasn’t been done in the past that should be?  Anyt

[2021-05-19 14:28] edmondwwchan commented on #2150
@obto Appreciate for setting up the call. The meeting will be a bit late in my local time (May 25 12am GMT+8). Anyway, I will try my best to attend.

[2021-05-19 14:42] rviscomi commented on #2160
Thanks Paul! I've added you to the reviewer/analyst roles in the chapter metadata at the top. @jyrkialakuijala can you confirm if you're open to taking on the content team lead role for this chapter? You'd effectively be the lead author.

[2021-05-19 14:49] siakaramalegos commented on #2157
In the Performance Chapter, we were thinking of looking to see if there is a correlation between page weight and performance (Core Web Vitals) - this is our tracking issue for now: https://github.com/siakaramalegos/performance-almanac/issues/15

Let me know if you're interested in covering it instead, and then we could point to your chapter.

[2021-05-19 15:08] demianrenzulli commented on #2153
That time: next Tuesday 11ET, works for me! Thanks for organizing this @obto!

[2021-05-19 15:19] meyerweb commented on #2140
As a starting point for everyone, I’ve created a draft outline for the chapter on https://docs.google.com/document/d/18OV1ngkQxdJdENkYzHOdNRtzMLo1vVv9Tg6a9pGfSSE with some proposed additions and hanging questions.

[2021-05-19 17:51] bh-siteobjective commented on #2146
Friday is best for me.

All the best,

*Brian Harnish*

On Wed, May 19, 2021 at 6:21 AM David Fox ***@***.***> wrote:

[2021-05-19 17:54] wrttnwrd commented on #2146
I can do Monday (sorry Brian)...

Ian Lurie
Digital Marketing Consultant
Nerd

Tw: @ianlurie
Li: https://www.linkedin.com/in/ianlurie/
W: https://www.ianlurie.com

On May 19, 2021, 10:52 AM -0700, Brian Harnish ***@***.***>, wrote:

[2021-05-19 18:00] Tomek3c commented on #2146
I'm excited to work with such an awesome team!
Both days, Friday and Monday are fine with me.

[2021-05-19 19:05] SeoRobt commented on #2146
Excited to be a part of this! Both options work for me.

From: Tomek Rudzki ***@***.***>
Date: Wednesday, May 19, 2021 at 2:01 PM
To: HTTPArchive/almanac.httparchive.org ***@***.***>
Cc: Rob Teitelman ***@***.***>, Mention ***@***.***>
Subject: Re: [HTTPArchive/almanac.httparchive.org] SEO 2021 (#2146)

I'm excited to work with such an awesome team!
Both days, Friday and Monday are fine with me.

[2021-05-19 20:47] webmaxru commented on #2153
Works fine for me!

[2021-05-19 20:48] GaganSuneja commented on #2141
Hi @NishuGoel I would like to contribute to this.

[2021-05-20 03:03] gokulkrishh commented on #2141
If there is extra space for a reviewer. I would like to be one.

[2021-05-20 08:36] MeFoDy commented on #587
Started 2020 CSS translation: #2205
Will undraft it when it's ready.

[2021-05-20 13:24] obto commented on #2153
@demianrenzulli @logicalphase can you update the [Google doc](https://docs.google.com/document/d/1grNpHfQgBZow7fTw9UNZk8E4eWdQV97ZyenPmaye1JU/edit) with your email? I'll send the calendar invite to that email

[2021-05-20 13:38] obto commented on #2146
Sounds like we should start by locking down that Monday time and we can make changes afterwards.

@wrttnwrd @ashleyish @SeoRobt Can you and the rest of the team add your name and email to the [Google Doc](https://docs.google.com/document/d/14uW8-6F1-AWxf1grr8ExyJs4YBPyMFWs4iGJ2ESZqDI/edit)? I'll send the calendar invite to that email.

If anyone is concerned about privacy and doesn't want their em

[2021-05-20 13:44] obto commented on #2150
@edmondwwchan So sorry about that. We'll try to find a more reasonable time moving forward.

Just sent the invite. If you didn't get it, please send me an email to david@davidjfox.com and I'll add you.

[2021-05-20 14:01] SaptakS commented on #2150
Got it! Thanks!

[2021-05-20 14:27] demianrenzulli commented on #2153
@obto I just requested edit access with my Google account. At this point, since we don't have any other volunteer for analyst, I'll be signing up for that role as well, but if anyone is interested on taking on that role, that would be welcome.

[2021-05-20 14:28] demianrenzulli commented on #2153
Also, @andreban: would you like to sign up as reviewer by adding your details to the [Google doc](https://docs.google.com/document/d/1grNpHfQgBZow7fTw9UNZk8E4eWdQV97ZyenPmaye1JU/edit). We have a kick-off call on Tuesday, so, let us know if you want to participate.

[2021-05-20 14:46] obto commented on #2151
I can't do that time on Tuesday. How does Wednesday (May 26) at 12p ET / 5p BST ([timezones here](https://www.timeanddate.com/worldclock/meetingdetails.html?year=2021&month=5&day=26&hour=16&min=0&sec=0&p1=64&p2=179&p3=224&p4=136)) work?

[2021-05-20 14:48] obto commented on #2153
@demianrenzulli Added you to the analyst role, but we'll keep the `help wanted: analysts` tag and see if we cant find you one

[2021-05-20 14:49] dwsmart commented on #2151
That Wednesday time is great with me @obto

[2021-05-20 14:57] demianrenzulli commented on #2153
That's great! I'd be happy to collaborate with analyst if you know about any that might be interested. This is my first time contributing to Web Almanac, so playing both the author and analyst role might be a bit too ambitious.
In any case, from Ricks' comments it is totally doable, so I might be able to secure help from previous analysts to move it forward on my own 👍

[2021-05-20 15:21] Schweinepriester commented on #2153
That time works for me as well! Thanks for the link, as I'm in CEST! :)

[2021-05-21 00:43] shantsis commented on #2173
Is the original yellow color based on some contrast value?

[2021-05-21 01:03] rviscomi commented on #2173
Not aware of the reasoning behind it. The current design was commissioned by an agency.

[2021-05-21 03:37] logicalphase commented on #2151
Wed is good for me.

[2021-05-21 03:50] logicalphase commented on #2153
I thought I had access to the Google doc, but just put a request for
access. I'll update soon as I can.

[2021-05-21 06:14] awareseven commented on #2150
@obto this works fine with me. My mail is in the docs so you can add me to the invite. Thanks!

[2021-05-21 10:58] schachin commented on #2147
Sorry I missed this -- will do what you requested now :)

________________________________
More Info & Publications
* LinkedIn
* SearchEngineJournal.com VIP Contributor
* Article Portfolio on Muckrack

Contact Info
* Cell 540.327.0328 
What Are Your Barriers To Success?
Specializing in Technical SEO, Site Audits, Site Recoveries, Social Media, CRO, and Accessibility.

Helping You Make It Better by

[2021-05-21 14:12] obto commented on #2151
@ashleyish @fellowhuman1101 Does that time for a 30min kickstart/brainstorming session work for you?

[2021-05-21 14:15] obto commented on #2153
Can do. Just updated the calendar invite to include everyone who's requested access to the google doc so far

[2021-05-21 15:54] ashleyish commented on #2151
Count me in!

Also, I'm trying to keep up with all of the messages - but is there a slack
for us that's available?

On Fri, May 21, 2021 at 8:12 AM David Fox ***@***.***> wrote:

[2021-05-21 15:54] ashleyish commented on #2151
I'm in! That time works well.

Is there a Slack available? I'm trying to keep up with all of the messages.

[2021-05-21 19:29] schachin commented on #2147
Hi! Question. (not sure if you are the right one to send this to)
 Is there a way to also be a reviewer on the SEO Section -- there is so much bad info out there right now my fear is it will get repeated in the SEO section.

To note...
I have 16 years SEO exp
20 years web (design and dev)
Written over 125 articles on Search and GoogleSpoken at over 80 conferences in the US and Internationally incl

[2021-05-21 20:09] obto commented on #2151
We can have one made for the group. I'll get one made

[2021-05-21 20:14] obto commented on #2151
Just sent out the invite for the meeting. Shoot an email to david@davidjfox.com if you didnt get the invite and I'll add you.

The slack is here: https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA

Just browse the channels and join `#web-almanac-mobile-web`

[2021-05-22 02:52] logicalphase commented on #2157
Hi @siakaramalegos  - I'm fine with adding content that can be linked to by the performance product. Good to go.

[2021-05-22 07:00] NishuGoel commented on #2141
@denar90 @demianrenzulli @ashleyish @obto Would you be interested to join as analysts for this chapter?

[2021-05-22 22:53] demianrenzulli commented on #2153
I've just added @tropicadri to the doc and I see she has been already added to Tuesday's sync.

I'm not very sure of what would be the main topic of discussion for Tuesday, but, just in case, I found it useful to read the [2019](https://almanac.httparchive.org/en/2019/pwa) and [2020](https://almanac.httparchive.org/en/2020/pwa) editions of the Web Almanac to have an idea of what things were covere

[2021-05-23 18:19] obto commented on #2147
@schachin That'd be a question for the SEO team lead Patrick Stox. Here's their GitHub tracking issue where you can ask: https://github.com/HTTPArchive/almanac.httparchive.org/issues/2146

Looks like they may be full with reviewers (13 signed up already). But can always reach out and ask 😃

[2021-05-23 18:30] obto commented on #2153
@demianrenzulli Just sent out an agenda for the call on Tuesday. Looking forward to meeting you all 😄

[2021-05-24 04:45] thecraftysoul commented on #2140
Interested as analyst

[2021-05-24 08:19] schachin commented on #2147
Oh cool I know Patrick so will ask him directly at least I feel better knowing he is running that.

________________________________
More Info & Publications
* LinkedIn
* SearchEngineJournal.com VIP Contributor
* Article Portfolio on Muckrack

Contact Info
* Cell 540.327.0328 
What Are Your Barriers To Success?
Specializing in Technical SEO, Site Audits, Site Recoveries, Social Media, CRO, and Acc

[2021-05-24 08:58] schachin commented on #2146
Hi @patrickstox I am in the a11y group and asked about contributing to SEO as well and they told me to reach out to you over here --- would love to contribute as a reviewer here if you have room :)  Thanks! Kristine

[2021-05-24 11:14] jroakes commented on #2146
Hi @patrickstox happy to contribute as an analyst or author if there is still room or need.

[2021-05-24 12:27] gregorywolf commented on #2146
@obto Are we meeting Monday 24 at 11AM EDT?

[2021-05-24 13:45] obto commented on #2146
yes we are. sent a calendar invite to your email, did you not get it?

[2021-05-24 13:48] bh-siteobjective commented on #2146
Sorry about that, everyone. But I am unable to make 11:00 a.m. ET due to
prior commitments this morning.

All the best,

*Brian Harnish*

On Mon, May 24, 2021 at 5:27 AM Greg Wolf ***@***.***> wrote:

[2021-05-24 14:35] VictorLeP commented on #2149
If you can still use the help, I would like to contribute as an analyst and/or author :slightly_smiling_face:

[2021-05-24 14:37] GJFR commented on #2150
Hi! I'd like to join as an analyst!

[2021-05-24 15:33] obto commented on #2146
The SEO team will be handling most of their communication in the newly created Slack channel. Join and then search for the `#web-almanac-seo` channel: https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA

[2021-05-24 16:33] SaptakS commented on #2150
@GJFR awesome!!! Adding you to the analyst role. Can you add your email id to the [planning docs](https://docs.google.com/document/d/13KRPMOanH9hkV8jw1F7LC7t8omWdDLXOEbz2H4anWTI/edit)?

[2021-05-24 17:40] schachin commented on #2146
Thank you David :)

________________________________
More Info & Publications
* LinkedIn
* SearchEngineJournal.com VIP Contributor
* Article Portfolio on Muckrack

Contact Info
* Cell 540.327.0328 
What Are Your Barriers To Success?
Specializing in Technical SEO, Site Audits, Site Recoveries, Social Media, CRO, and Accessibility.

Helping You Make It Better by Making It Work.
Recommendations and R

[2021-05-24 20:37] rviscomi commented on #2140
Welcome @thecraftysoul! To get started:

- Request edit access to the [chapter planning doc](https://docs.google.com/document/d/18OV1ngkQxdJdENkYzHOdNRtzMLo1vVv9Tg6a9pGfSSE/edit?usp=sharing)
- Add your name and email to the "Analysts" line
- Join the [#web-almanac-analysts](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA) channel on Slack
- Familiarize yoursel

[2021-05-24 22:28] patrickstox commented on #2146
Added @schachin as a reviewer and @jroakes as an analyst. Thanks for volunteering!

[2021-05-24 22:40] schachin commented on #2146
Great thank you Patrick for including me. If you have any need for authors happy to help, but happy just to review as well :)
    On Monday, May 24, 2021, 3:28:24 PM PDT, patrickstox ***@***.***> wrote:

Added @schachin as a reviewer and @jroakes as an analyst. Thanks for volunteering!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubsc

[2021-05-25 12:37] pmeenan commented on #2158
@bazzadp It should be possible. We report the actual console log as well as the audits/interventions reports but if you happen to have an example page where it fires I can check and see where it ends up.

[2021-05-25 12:58] kevinfarrugia commented on #2158
I'll prepare a couple of sample pages with the errors.

[2021-05-25 13:13] pmeenan commented on #2158
Looks like the HAR files didn't used to report the console log output.  I just added it so it should be available with the June crawl.  I see regular log messages and intervention messages showing up but we should still test these specific cases just to be sure.

This is what it looks like:

[code]

[2021-05-25 13:17] pmeenan commented on #2158
For debugging purposes, if you click on the screenshot in the WebPageTest results, below the screenshot it displays the console log messages: https://dev.webpagetest.org/result/210525_ZiDcBA_c3fe4286cf3f4082d652b5fb211fb6d9/1/screen_shot/#step_1

[2021-05-25 13:25] bazzadp commented on #2158
Awesome - thanks @pmeenan !

[2021-05-25 14:06] kevinfarrugia commented on #2158
Perfect. Thank you @pmeenan .

Demo URLs:
- https://kevinfarrugia.github.io/resource-hints/preload-unused-resource
- https://kevinfarrugia.github.io/resource-hints/preload-incorrect-request-credentials

@bazzadp anything further needed to have the console output available for query, or is everything in the HAR already available?

[2021-05-25 14:09] kevinfarrugia commented on #2158
Looks like it's working well:

[code]

[2021-05-25 14:29] obto commented on #2153
@demianrenzulli Can you tick the first milestone checkbox above `0. Form the content team`? Keeping these milestones up to date helps to give me an overview on how the Almanac as a whole is coming together

[2021-05-25 14:30] obto commented on #2150
@SaptakS Can you tick the first milestone checkbox above `0. Form the content team`? Keeping these milestones up to date helps to give me an overview on how the Almanac as a whole is coming together

[2021-05-25 14:32] demianrenzulli commented on #2153
Just did. Thanks for the reminder @obto!

[2021-05-25 14:55] pmeenan commented on #2158
I believe so.  It'll be interesting to see how much bigger the pages table queries get with the console logs included now.

[2021-05-25 16:01] obto commented on #2153
@demianrenzulli Here's last years github issue, where you can find all the data they used https://github.com/HTTPArchive/almanac.httparchive.org/issues/909

[2021-05-25 16:28] meyerweb commented on #2140
Here are the custom metrics we’ve so far thought about adding to the metrics collected for 2020 (apologies if I missed any in 2020 and have thus duplicated them here):

* `:focus` customization, and prevalence of `outline: 0`
* `:focus-visible` use
* Collecting generated content strings (e.g., `content: "Item "`)
* Formats of images called in CSS (GIF/JPG/PNG/WEBM/SVG/gradients)
* Number of images

[2021-05-25 16:37] bazzadp commented on #2143
Having just published [an article on it](https://www.smashingmagazine.com/2021/05/reduce-font-loading-impact-css-descriptors/), I'd be interested in use of the new font-face descriptors (aka f-mods).

[2021-05-25 20:24] rviscomi opened #2209 "Chapter numbers missing from chapter footer navigation"
![image](https://user-images.githubusercontent.com/1120896/119563436-8a0f1680-bd75-11eb-9f96-2bb0c143220a.png)

https://almanac.httparchive.org/en/2020/cms#authors

Expected: "Chapter 16 / Ecommerce"
Actual: "Chapter / Ecommerce"

[2021-05-26 12:55] nrllh opened #2211 "Fetch well-known URLs"
I think we should discuss including well-known URLs (e.g., `robots.txt`, `ads.txt`, `security.txt`, etc.) because I see two problems there;

1. Even if one of these URLs is being fetched by our crawler, not all people know about that (I was noticed that last year `security.txt` was used by the SEO chapter, and we actually could also use it for our security chapter, we did not because we (or I 😊) d

[2021-05-26 13:01] nrllh commented on #2211
For the security chapter `security.txt`, `hackers.txt` and `robots.txt` would be interesting.

|  name  | path   |
|---|---|
| robots.xt  |  /robots.txt |
|  security.txt | .well-known/security.txt|
|  hackers.txt | /hackers.txt  |

cc @SaptakS @tomvangoethem

[2021-05-26 13:38] LucasBona05 commented on #2172
I'm interested! Specially in the issue #2209 which is a good first issue.

[2021-05-26 13:42] bazzadp commented on #2172
Excellent! Happy to walk you through this if you need help. Reach out to me on that issue or on [our slack channel](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA).

[2021-05-26 13:51] bazzadp commented on #2209
Assigned - got for it!

[2021-05-26 14:17] tomayac commented on #2153
Service workers can `importScripts()`, so strictly speaking you'd have to consider those.

[2021-05-26 14:47] bazzadp commented on #2192
I experimented a bit with Web Mentions in my own blog and have actually gone off the idea a bit. It makes the chapter seem a little messy to be honest.

And it seems from #1325 we're trying to position ourselves as a serious bit of research so not sure that's in keeping with the listing of "likes" and random comments on the same page below.

I think if we could surface the discussion CTA a bit mor

[2021-05-26 14:49] bazzadp commented on #1843
Confirmed as all fixed in May crawl. Same query above gives 0 results.

[2021-05-26 16:50] ashleyish commented on #2141
My JS skills leave something to be desired, but I'm happy to weigh in on the metrics/narrative in any way that I can!

[2021-05-26 18:32] jyrkialakuijala commented on #2160
Thank you! I will happily take the content team lead role.

[2021-05-26 19:27] rviscomi commented on #2160
@jyrkialakuijala thanks for your interest in authoring this chapter! As the content team lead, you'll be responsible for the scope and direction of the chapter and keeping it on schedule. We automatically monitor the staffing and progress of each chapter based on the state of the [initial comment][~chapter-metadata] so please keep that updated as you add new contributors and meet each milestone. F

[2021-05-26 19:53] rockeynebhwani commented on #2211
@nrllh  - Last year, I tried to do this for eCommerce chapter by looking at following well-known URLs

.well-known/assetlinks.json
.well-known/apple-app-site-association

My commit from last year is in custom_metrics/ecommerce.js (https://github.com/HTTPArchive/legacy.httparchive.org/blob/master/custom_metrics/ecommerce.js)

I was trying to find out how many eCommerce sites have Android/iOS app an

[2021-05-26 20:05] rviscomi commented on #2192
TBH I don't feel like pinning the comments CTA goes far enough in addressing this issue. I'd love to find a solution that allows us to integrate the comments (or mentions) directly in the chapter itself and I wouldn't feel like that'd detract from the seriousness of our research.

[2021-05-26 21:48] rviscomi commented on #2211
One issue with WPT is that fetching additional URLs in the custom metric does not necessarily make their requests/responses available in the network log that makes up the `requests` and `response_bodies` tables. So we would either have to dump the response bodies in the output of the custom metric or only output some summary statistics about the file. The latter is preferable because we don't know

[2021-05-26 21:54] bazzadp commented on #2211
I actually quite like the fact it doesn’t appear in requests/bodies. Means you’re not polluting the relay page load. Otherwise number of requests goes up by one for each requested additional load, and number of 404s could sky rocket as most sites won’t have a lot of these files.

Do agree we should ideally do the processing in the custom metric though and only save summary results back, rather tha

[2021-05-26 23:10] rviscomi commented on #2140
Reviewers (@j9t @svgeesus @argyleink @una @estelle @LeaVerou @rachelandrew @jabranr @tomhodgins) reminder to please request edit access to the doc and leave your feedback on the chapter outline. I'll try to add everyone whose email I already know.

[2021-05-27 07:34] j9t commented on #2140
(Had checked the doc last week—LGTM—, will keep monitoring this thread.)

[2021-05-27 07:54] bazzadp commented on #2192
Well let's see what the @HTTPArchive/designers can come up with!

Designers, Web Mentions are a form of comments (like Disqus) where you get notified if another service (e.g. Twitter) mentions the URL.

Here's an example of a blog post that uses them: https://nicolas-hoizey.com/articles/2017/07/27/so-long-disqus-hello-webmentions/

![image](https://user-images.githubusercontent.com/10931297/119786

[2021-05-27 16:01] bazzadp commented on #2162
Idea for a stat: how many useless HTTP requests are made for sites? e.g. 404s for a favicon? And how big are 404 pages e.g. requesting `/favicon.ico` (as browser's request by default) which should be a few bytes in size, but get served a large default 404 HTML page?

Reference: https://twitter.com/tunetheweb/status/1397938226548117506?s=20(with a link to a blog post showing this is a real problem!

[2021-05-27 16:10] demianrenzulli commented on #2153
Adding @jeffposnick, who might be able to validate my answers around service workers. Other folks in this issue, feel free to cime in as well:

I'm not aware of any other API to register service workers., so It seems like checking for that one would cover most scenarios. I see some cases where this might not work though (for example, when using [Workbox Window](https://developers.google.com/web/to

[2021-05-27 16:18] bazzadp commented on #2153
Yes, I think that's key! We did switch definitions last year:

- 2019 - Presence of Manifest **or** Service Worker
- 2020 - Presence of Manifest **and** Service Worker

What's your thoughts for this year?

[2021-05-27 16:47] demianrenzulli commented on #2153
Thanks for confirming that @bazzadp! It's great to see that this was actually a topic that came out in the past.
Coming up with a new definition of what a PWA is in 2021, is one of the main AIs that came up from our initial sync.

The problem I see with the 2020 definition:  "Presence of Manifest and Service Worker", is that we have seen websites that have both things and don't do much with them.

[2021-05-27 16:51] bazzadp commented on #2153
We also have access to all the [Lighthouse PWA audits](https://web.dev/lighthouse-pwa/) so could define the list based on some of those? Or the PWA score calculated by Lighthouse?

Only word of caution is that if we change the definition (again!) this year then we should make it clear in the chapter so people don't try to compare previous chapter. We called that out [in last year's chapter](https:

[2021-05-27 17:33] demianrenzulli commented on #2153
Taking Lighthouse into account would be a good idea, since it's the only tool I'm aware of that provides a badge to sites that considers a PWA according to a set of attributes. Now, since Lighthouse changes frequently, let me check internally how up-to-date [this list](https://web.dev/lighthouse-pwa/) might be. I believe that, if we update [this section](https://almanac.httparchive.org/en/2020/pwa

[2021-05-27 18:21] demianrenzulli commented on #2153
@jeffposnick just confirmed that the responses provided [before](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2153#issuecomment-849760433) are all correct. He added this:

I think that, for the purposes of the Web Almanac we shouldn't consider this technique. At the end of the day, if sites register service workers for 3rd party origins we can assume that those origins might have

[2021-05-27 18:32] rviscomi commented on #2141
Authors/Reviewers (@NishuGoel @pankajparkar	@wallet77 @mgechev @soulcorrosion @ahmadawais @ibnesayeed @jabranr @gokulkrishh) reminder that the next milestone (completing the chapter outline) is due on June 15. Please be sure to get edit access to the [JS chapter doc](https://docs.google.com/document/d/1cAJn58dMRLY-x2LNFQBwUajylzFrY0XldjZ34LKcgTE/edit?usp=sharing) and brainstorm what content you'd

[2021-05-27 18:41] bazzadp commented on #2142
And interest @matuzo ?

[2021-05-27 18:52] rviscomi commented on #2143
📟  Attn content team (@jpamental @rsheeter @davelab6 @svgeesus @jessthebp) reminder that the next milestone ([complete the chapter outline](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Chapter-Lifecycle#1-plan-content)) is due by **June 15**. Please be sure to request edit access to the [Fonts chapter doc](https://docs.google.com/document/d/18bIMkKA48CWGTIrQAhoFGFdbTf2iQgQRkhNwOJlEN

[2021-05-27 18:57] AlexLakatos commented on #2142
Just saw the tweet, I'd be happy to take on the author slot.

[2021-05-27 19:02] rviscomi commented on #2144
@eeeps @TrevorFSmith @Yonet @dougsillars the doc is looking good so far! I'd suggest you take some of the ideas and put them in the outline section to get a sense for how the content will be organized. I think that'll help you fill out the complete skeleton of the chapter and indicate which topics require additional metrics. The due date for completing the chapter outline ([Milestone 1](https://gi

[2021-05-27 19:06] rviscomi commented on #2145
@peerside @patrickhulce @max-ostapenko reminder that the next milestone ([complete the chapter outline](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Chapter-Lifecycle#1-plan-content)) is due on **June 15**. Please request edit access to the [Third Parties chapter doc](https://docs.google.com/document/d/164HhV76iVT2qVfFY2kzyr44eIcGAw3fWqNTbuoRfRvE/edit?usp=sharing) and begin brainsto

[2021-05-27 19:09] rviscomi commented on #2174
All, the outline in the [chapter doc](https://docs.google.com/document/d/19KDSv4olAXUHUV6hq4X4Cb-lNziqvVesgXXxVktrw4c/edit?usp=sharing) is looking great. Nice work! 🚀

@jono-alderson is the outline complete, or are you still adding to it?

[2021-05-27 19:15] rviscomi commented on #2168
📟 attn content team (@RReverser @jsoverson @carlopi) reminder that the next milestone ([complete the chapter outline](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Chapter-Lifecycle#1-plan-content)) is due on **June 15**. So please request edit access to the [WebAssembly chapter doc](https://docs.google.com/document/d/18UZpH-7CRbW5ehFbEIcWDA-3qrckmSpaqEORDmZ0KuM/edit?usp=sharing) if

[2021-05-27 19:47] rviscomi commented on #2162
Reminder for the content team (@dominiclovell @rmarx @ibnesayeed @bazzadp @MikeBishop) be sure to request edit access to the [HTTP chapter doc](https://docs.google.com/document/d/1EBHAK-oTK9w3uq97ANQ3c0F7VjTQzayoVIxm_PlsRAk/edit?usp=sharing) if you haven't already. The next milestone ([complete the chapter outline](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Chapter-Lifecycle#1-pla

[2021-05-27 19:51] rviscomi commented on #2161
Reminder for the content team (@Zizzamia @jessnicolet @WilhelmWillie @roryhewitt @boosef) please request edit access to the [Caching chapter doc](https://docs.google.com/document/d/1BSdljOv86CPAP5T0A9jcV6bU7NJp1f2mTFa4ZZ7xxe8/edit?usp=sharing) and begin outlining the chapter. The outline is due on **June 15** to ensure that we have enough time to make any necessary changes to the testing pipeline

[2021-05-27 19:57] rviscomi commented on #2159
@Navaneeth-akam @boosef @jzyang please be sure to request edit access to the [CDN chapter doc](https://docs.google.com/document/d/1OJBK345mSYsWxm0dhvMVgGY0pfUqC8jUjmvgwK8I3Fw/edit?usp=sharing) and begin outlining the chapter content. The due date to have the outline complete is **June 15** to ensure that we have enough time to update the testing pipeline with any additional metrics as needed befor

[2021-05-27 20:01] rviscomi commented on #2158
@kevinfarrugia the [outline](https://docs.google.com/document/d/1zIKdkS65X9u3rGZOn1kG0rk9YveFb0zhdORBFOoIgQQ/edit?usp=sharing) is coming along very nicely! Thanks for keeping on that. Just a reminder that it should be completed by June 15, but it looks like you're in good shape to meet that milestone.

Could you also please update the [top comment](https://github.com/HTTPArchive/almanac.httparchiv

[2021-05-27 20:05] rviscomi commented on #2157
@logicalphase the [outline](https://docs.google.com/document/d/1FP4KY_xwFUBiiYXPXzasIzbiDYymnp1MqFc1kdMmZ68/edit?usp=sharing) is looking good so far! I've left a couple of comments. @siakaramalegos @jessthebp @RMHolmlund be sure to also request edit access to the doc so you can leave your suggestions/feedback. As a reminder the chapter outline should be completed by **June 15** to leave enough tim

[2021-05-28 05:27] logicalphase commented on #2157
THank you, @rviscomi. Just to bring  @siakaramalegos @jessthebp @RMHolmlund further up to date, I  completed the draft of the [outline](https://docs.google.com/document/d/1FP4KY_xwFUBiiYXPXzasIzbiDYymnp1MqFc1kdMmZ68/edit?usp=sharing) for 2021. Now, I really need your help in the form of suggestions, proposed changes, and questions you may have. Your feedback is important. Ideally, I'd like to comp

[2021-05-28 08:24] rvth commented on #2151
If you're still looking for an analyst I'd be happy to help with this one too @ashleyish :)

[2021-05-28 08:29] bazzadp commented on #2153
Can you add him to the meta data at the top of this issue then? It's used to keep our [chapter tracker](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2179) up to date so if you can remember to make any changes there that would be much appreciated!

[2021-05-28 08:56] jono-alderson commented on #2174
Getting there!
Hoping for a bit more feedback from the crew, as I feel there's more we could do without being too over-ambitious. Any ideas, folks?

[2021-05-28 10:34] GregBrimble commented on #2174
One thing I might suggest would be a deeper integration with knowledge graphs like Wikidata. If I've got this structured data on a page:

[code]

and Wikidata has this:

[code]

- How much overlap is there? Does the structured data provide information not found in Wikidata, or vice-versa?
- Are there any inconsistent claims?
- Do the types of the entity match?
- etc.

This is getting dangerously c

[2021-05-28 10:49] jono-alderson commented on #2174
That'd be pretty awesome, but I think that comparing to external sources at scale is going to be waaayyy out of scope.
We should definitely put more attention on `sameAs` declarations, though; there's bound to be some interesting findings in directing common hostnames and patterns in there.

[2021-05-28 12:15] demianrenzulli commented on #2153
I just added the new analysts there. Thank you!

[2021-05-28 13:36] obto commented on #2146
@patrickstox @Tomek3c @ashleyish @wrttnwrd @bh-siteobjective @nicoseosem @jdevalk @ipullrank @fili @excellenseo @jfontanez @SeoRobt @en3r0 @fellowhuman1101 @dwsmart @ibnesayeed @bergtaylora @schachin @gregorywolf @rvth @jessthebp @jroakes

Hey everyone, wanted to check in and give you all a few reminder as we close in on our second deadline:

1. Please make sure you've requested edit access to the

[2021-05-28 13:41] obto commented on #2147
@alextait1 @scottdavis99 @oluoluoxenfree @ericwbailey @clottman @shantsis @digitala11ies

Hey everyone, looks like there's been a lot of progress on creating the chapter outline which is awesome!

We should be in great shape to complete it by **June 15** so we have enough time to update our crawler with any additional metrics you need this year.

Also a reminder that the team has a channel on slac

[2021-05-28 13:46] obto commented on #2148
@siakaramalegos @rviscomi @ziemek-bucko @jono-alderson @fili @edmondwwchan @jzyang @estelle @Zizzamia @kevinfarrugia @Nithanaroy

Hey everyone, looks like there's been a lot of progress on creating the chapter outline which is awesome!

We should be in great shape to complete it by **June 15** so we have enough time to update our crawler with any additional metrics you need this year.

Also a remi

[2021-05-28 13:49] obto commented on #2150
@SaptakS @tomvangoethem @nrllh @cqueern @edmondwwchan @awareseven @ScottHelme @GJFR

Hey everyone, wanted to give a quick reminder that we need to have the chapter outline complete by **June 15** so we have enough time to update our crawler with any additional metrics you need this year. Seeing some good ideas in the doc so far which is great.

Also the team has a channel on slack (`#web-almanac-s

[2021-05-28 13:51] obto commented on #2151
@ashleyish @fellowhuman1101 @dwsmart @fili

Hey everyone, wanted to check in and give you all a few reminder as we close in on our second deadline:

1. Please make sure you've requested edit access to the [Google Planning Doc](https://docs.google.com/document/d/1wQVzYjfbQUs6wmG6ldIE9Rcq4062hBCktrw9EnT9p2g/edit) and added your name to the first page as a reviewer, author or analyst.

2. Reminder th

[2021-05-28 13:59] obto commented on #2153
@demianrenzulli @webmaxru @Schweinepriester @thepassle @hemanth @tropicadri @andreban @jeffposnick @bazzadp

Hey everyone, wanted to check in and give you all a few reminder as we close in on our second deadline:

1. Looks like most of you already have, but for those who have not, please make sure you've requested edit access to the [Google Planning Doc](https://docs.google.com/document/d/1grNpHfQ

[2021-05-28 14:04] obto commented on #2149
@ydimova @SaptakS @cqueern @maudnals @max-ostapenko

Hey everyone, wanted to check in and give you all a few reminder as we close in on our second deadline:

1. Please make sure you've requested edit access to the [Google Planning Doc](https://docs.google.com/document/d/1rFjEKizOKNaHHUHroxfZR56zSmcKHDRAe0KTdJT528I/edit) and added your name to the first page as a reviewer, author or analyst.

2. Re

[2021-05-28 14:51] siakaramalegos commented on #2148
@obto Thanks for reminding me to post here too! In case you're not on Slack, the [first draft of the outline](https://docs.google.com/document/d/1kcUGQBu9RIJ4dfE19s-GBKFIV1_QaJ4jWtAJEKz1NbE/edit#) is done, so it's ready for reviewers to review. **All reviews should be done in a week (by June 4)** so that I have time to make final edits and work with our analyst to build queries or custom metrics.

[2021-05-28 17:46] rviscomi commented on #2142
@AlexLakatos thanks for your interest in authoring this chapter! As the content team lead, you'll be responsible for the scope and direction of the chapter and keeping it on schedule. We automatically monitor the staffing and progress of each chapter based on the state of the [initial comment][~chapter-metadata] so please keep that updated as you add new contributors and meet each milestone.

We'v

[2021-05-28 17:54] rviscomi commented on #2169
@excellenseo @shantsis there are still a few days left before the M0 deadline but unfortunately it doesn't look like this chapter will have critical mass to be viable this year. Closing it for now but if there is sudden interest we could reopen it and try to make it work.

I'd still encourage you to contribute to any other chapters that may have overlap with localization, [Markup](https://github.c

[2021-05-28 17:54] #2169 closed

[2021-05-28 17:59] shantsis commented on #2142
Any room for an editor in this chapter? 🙂

[2021-05-28 18:06] rviscomi commented on #2142
Absolutely, thanks for your interest @shantsis! I'll add your name to the Editor role.

FYI editing won't start until after Milestone 3 has been completed and the [chapter is drafted](https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Chapter-Lifecycle#4-draft-content). Do you have any interest in getting involved sooner during the content planning going on now? If so I can also add you a

[2021-05-28 18:08] shantsis commented on #2142
I’m good for editing thanks

[2021-05-28 18:17] demianrenzulli commented on #2153
Thanks for the note @obto!

I just wanted to share an update with this group from a conversation we had in the morning with @bazzadp, who kindly helped me get up-to-date with the challenges of this section for 2021:

- As Barry mentioned, we might not be able to reuse the `httparchive.almanac.service_workers` and `httparchive.almanac.manifests` tables that were used for the [2020 PWA queries](http

[2021-05-28 19:26] shantsis commented on #2192
Here's 2 quick ideas, open to feedback :)
I like the tab structure to keep it neat, especially if there's a lot in any section
![reactions](https://user-images.githubusercontent.com/22671477/120033048-12392a00-bfc9-11eb-9a20-69dfdd339649.jpg)
![replies](https://user-images.githubusercontent.com/22671477/120033059-15ccb100-bfc9-11eb-8991-a9a929a09dc7.jpg)

[2021-05-28 20:35] AlexLakatos commented on #2142
Thanks!

It looks like we've got quite a few reviewers, which is great! But this is an awfully short deadline, how / where do I find a willing analyst? Do I comment in #2193 and hope for the best?

[2021-05-28 21:18] JasmineDWillson commented on #2174
Might be interesting to touch on the use of sameAs:
1.  In terms of its limitations
- e.g. [When owl:sameAs isn’t the Same: An Analysis of Identity Links on the Semantic Web](https://www.w3.org/2009/12/rdf-ws/papers/ws21)
2. Or ways that others have tried to navigate mapping to terms that are not entirely equivalent
- e.g. the [CWRC ontology](https://sparql.cwrc.ca/testing/cwrc.html)'s "has functi

[2021-05-28 22:14] demianrenzulli commented on #2153
Hi again folks, one final update before the weekend:

We have been testing [Rick's script](https://github.com/HTTPArchive/legacy.httparchive.org/blob/master/custom_metrics/pwa.js) to see if it works well.

So far, it seems like it does. Here is [an example test](https://webpagetest.org/custom_metrics.php?test=210528_BiDc2K_98c93c30b801e6710109c0269c5a788b&run=1&cached=0) for a PWA that uses Workbo

[2021-05-29 11:03] LeaVerou commented on #2140
@meyerweb We should look into `@property` usage (% of pages using, median rules pp, stats about types, inherits, initial values), that's probably the hottest thing that happened to CSS in the past year.

[2021-05-29 11:42] svgeesus commented on #2143
I'm expecting usage to be small, but examining that usage early on will be helpful and might inform future development of CSS Fonts 5, too. So it is worth doing (if we can see _how_ people are using it, rather than just counting it)

[2021-05-29 17:28] meyerweb commented on #2140
Excellent suggestion; added.  Thank you!

[2021-05-29 17:33] meyerweb commented on #2140
Thank you to everyone who’s added ideas on the Google Doc.  I’ve responded to most and made changes accordingly, but did leave a questions or comments on a few (@una @svgeesus @rviscomi).  If you haven’t weighed in yet, there’s still a little time, so please do, either here or on the Google Doc.

[2021-05-30 13:33] NishuGoel commented on #2141
Hi reviewers (@wallet77 @mgechev @soulcorrosion @ahmadawais @ibnesayeed @jabranr @gokulkrishh), @pankajparkar and I have started putting down items into the [JS chapter doc](https://docs.google.com/document/d/1cAJn58dMRLY-x2LNFQBwUajylzFrY0XldjZ34LKcgTE/edit?usp=sharing), do add/edit your ideas for the chapter outline.

We will communicate in the slack channel "javascript-2021" in the Http archive

[2021-05-31 08:32] rmarx commented on #2162
To pick up some of @bazzadp's [comments from above](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2162#issuecomment-835773525):

I agree you wouldn't want to do "full" high-level performance comparisons (e.g., Web vitals) between H2 and H3 even if possible. I was mainly thinking about low-level behavior that can impact performance like: comparing handshake durations, 0-RTT/resumpti

[2021-05-31 09:43] nrllh commented on #2211
There is a lot to explore in these files. In robots.txt, it'll be interesting to analyze (for security chapter) potential exploitation (e.g., secret login links). In security.txt we can check which popular reporting methods are being used.

That's why I think providing the response body of these files would be better than providing some statistics. Otherwise, it could also be a limitation for futu

[2021-05-31 10:45] bazzadp commented on #2162
We do three "cold start" loads:
- Mobile
- Desktop
- Lighthouse

As they are cold runs I would be very surprised if any of them used HTTP/3 - except maybe for additional resources (e.g. two connections to Google domains for Analytics and Fonts), and so think we are limited in what we can know of the QUIC/H3 connections - particularly for the site.

Additionally, as [per our previous discussion on

[2021-05-31 14:07] #2209 closed

[2021-06-01 02:56] shantsis opened #2217 "Chart UI accessibility"
Some accessibility-related things I noticed with the colors + text applied
- There are some instances where white text is used on green bars - for example [fonts chapter has a graph](https://almanac.httparchive.org/en/2020/http2#fig-19) where the % is shown as white on the green bar (failing text color contrast) vs [accessibility where it's black](https://almanac.httparchive.org/en/2020/http2#fig-

[2021-06-01 03:36] patrickstox commented on #2146
Hey all. Please take a look at the Google doc and join the slack as @obto mentioned. I took a first shot at an outline and what I'd like to see but please add any additional data you think would be interesting and if you have suggestions on the outline itself please make notes.

[2021-06-01 07:22] matuzo commented on #2142
Unfortunately I wouldn't find enough time this year to do the job properly, but maybe next year. :)

[2021-06-01 08:18] bazzadp commented on #2217
I did raise this before in #1756 as spotted it while copy editing the Accessibility chapter. So for that chapter I specifically went with black on white (since we were talking about colour contrast, it seemed wrong not to!) but was a bit late to fix all the others. We also try to use the darker colour primarily and the lighter one is backup (though that's not always the case to be fair).

The red

[2021-06-01 14:07] demianrenzulli commented on #2153
Hi again folks,

We have been working on this with @bazzadp, and our conclusion is that we'll be able to get the same data as 2020 from [Rick's new PWA script](https://github.com/HTTPArchive/legacy.httparchive.org/blob/master/custom_metrics/pwa.js) 😀.

I submitted [a PR](https://github.com/HTTPArchive/legacy.httparchive.org/pull/204) to add some additional ones to detect calls to `importScripts()`

[2021-06-01 15:09] kevinfarrugia commented on #2142
Hi all. I can join the chapter as analyst. This is my first time contributing so I'll be learning along the way. I have gone through last year's queries for the Markup chapter and I expect we would be reusing most of these this year too. Are there any custom metrics which you would like to include?

[2021-06-01 15:16] rviscomi commented on #2142
Great news, thanks for stepping up @kevinfarrugia! Feel free to join the #web-almanac-analysts channel on Slack to chat with other analysts and get help as needed. @paulcalvano leads the Analysts team and can get you set up with dataset access and answer any other questions.

@AlexLakatos that takes care of Milestone 0, you can go ahead and check that off now.

[2021-06-01 22:56] Tiggerito commented on #2142
@kevinfarrugia I was last years analyst. I'm happy to answer any questions you have. It was also my first time last year.

[2021-06-02 01:20] rviscomi commented on #2217
Thanks for highlighting these issues @shantsis!

Updated the pie chart in the data viz template to use white borders between slices. Definitely open to using better colors throughout.

I'm so surprised about the white-on-red color contrast issue. I can tell from the contrast ratio that it definitely is quantitatively worse but to my eyes it just looks much clearer to read. Just me?

![image](https

[2021-06-02 03:06] shantsis commented on #2217
@bazzadp Thanks! Sorry for not checking the previous tickets before opening this one :)
I didn't mean to say the chart wasn't accessible, just that it can be improved.

@rviscomi it's not just you, I think it has to do with the saturation to make it appear more friendly.

I did a copy here with some proposed updates: https://docs.google.com/spreadsheets/d/1vaL8HhDBsO9ws0ZP3tEx4YrkiK1LXMicP1MGdTssF

[2021-06-02 03:14] rviscomi commented on #2217
For the CrUX-based charts that show fast/average/slow distributions, is it possible to keep the existing color scheme to match how it appears in tools like [CrUX Dashboard](https://datastudio.google.com/c/u/0/reporting/bbc5698d-57bb-4969-9e07-68810b9fa348/page/keDQB?params=%7B%22origin%22:%22https:%2F%2Falmanac.httparchive.org%22%7D)? I like copying the colors to match the CrUX "branding" and diff

[2021-06-02 03:16] shantsis commented on #2217
Oh I see I didn't notice that. Yeah I think if we add those white divider lines then we should be better off (and correct text colors).

[2021-06-02 09:54] AlexLakatos commented on #2142
Amazing! Thanks @kevinfarrugia for stepping in! @Tiggerito appreciate the help!

[2021-06-02 11:07] RReverser commented on #2168
@jsoverson @carlopi Can you please request access to the doc as outlined above? I've added a few ideas I had to the outline, but review & more ideas are welcome!

[2021-06-02 12:18] carlopi commented on #2168
@RReverser: I wrote down some possible ideas, it's very unclear to me what the mean for collecting the data is (do you have any reference?), would be helpful in shaping what questions are worth exploring.
I am not sure how do you want to coordinate with all this, one idea could be also brainstorm over a call at some point, I would look forward to it. (I am based in CET, we can figure out a time th

[2021-06-02 13:09] rockeynebhwani commented on #2147
Hi @alextait1 and team,

Just wanted to let you know what we had added detection for various accessibility overlay type solutions Wappalyzer last year (https://github.com/AliasIO/wappalyzer/issues/3228). If you know of any more and want reported, you should extend Wappalyzer detection logic.

Cheers,
Rockey

[2021-06-02 13:16] alextait1 commented on #2147
@rockeynebhwani thanks so much we do plan to talk about overlays so I'll check it out!

[2021-06-02 13:20] alextait1 commented on #2147
@alextait1 @scottdavis99 @oluoluoxenfree @ericwbailey @clottman @shantsis @digitala11ies the high level overview is up and ready for review and additions from authors. I'm hoping to start going a level deeper towards the metrics this coming week so take a peak if you can, and authors especially want to be sure you've weighed in 🙏🏼

[2021-06-02 13:37] rockeynebhwani commented on #2147
@alextait1 - FYI.. I briefly covered this in eCommerce chapter last year - https://almanac.httparchive.org/en/2020/ecommerce#accessibility-solutions

[2021-06-02 13:50] RReverser commented on #2168
@carlopi Generally we just have HTTPArchive + BigQuery data, this can be used for reference and instructions: https://github.com/HTTPArchive/httparchive.org/blob/main/docs/gettingstarted_bigquery.md. That is, we mostly have data about payloads - their compressed & uncompressed sizes, content types and so on. That's what we can extract info from most easily.

However, as mentioned on the doc, due t

[2021-06-02 13:51] RReverser commented on #2168
I was thinking we were going to just sync over the doc to account for different timezones more easily, but we can certainly do a call as well.

[2021-06-02 14:00] alextait1 commented on #2147
Yes we touched on it as well but in a more qualitative way, not with metrics. We're going to do a deeper dive this year for sure. Thank you for the support!

[2021-06-02 17:15] jsoverson commented on #2168
Requested!

[2021-06-02 19:41] bobbyshaw commented on #2155
I've got a first draft of a content plan in the Google Doc https://docs.google.com/document/d/1LQjpsaWx-5ZtHQGRnHlPnekkxuap50KzJZJTIaSX4B4/edit#. I don't think there's anything too surprising or novel that will require lots of new metrics at this point but I'll continue thinking about it and reviewing. I'm also going to take a look at Wappalyzer signatures to see if there's anything else I can con

[2021-06-03 00:35] rrajiv commented on #2155
@bobbyshaw - I'll check out last year's metrics first to get an idea what was done. I don't have too much experience as well as this is my first time being an analyst ;)

[2021-06-03 12:28] rockeynebhwani commented on #2155
@bobbyshaw - Based on last year's experience, I made some observations with respect to eCommerce platform detection and have raised couple of issues for Wappalyzer. You guys may want to get these sorted to get quality data -

https://github.com/AliasIO/wappalyzer/issues/3983
https://github.com/AliasIO/wappalyzer/issues/3984

[2021-06-04 04:36] rviscomi commented on #2162
🛎️ ping @dominiclovell: please see my earlier comment https://github.com/HTTPArchive/almanac.httparchive.org/issues/2162#issuecomment-849895004 about kicking off the chapter planning and some housekeeping requests. Thanks and let me know if you've got any questions/concerns about the process.

[2021-06-04 04:38] rviscomi commented on #2161
@Zizzamia as we continue looking for an analyst, do you have any interest in taking on the role in the interim? I'd be happy to walk you through the dataset and answer any questions as needed. There's also a supportive community of analysts in the #web-almanac-analysts Slack channel.

[2021-06-04 04:47] dominiclovell commented on #2162
Hey @rviscomi. Can you send through the invite again? It doesn't seem to appear. I've pinged Barry and Robin separately for feedback. I have access to the draft doc, so I can update this more over the next week or so, and have the draft completed before the 15th. Thanks.

[2021-06-04 05:12] rviscomi commented on #2162
Just resent it. Thanks for the quick reply!

[2021-06-04 05:21] rviscomi commented on #2145
Hi @peerside I didn't see any progress in the doc yet so I wanted to give you a nudge. The outline is due June 15. Please also take a minute to check off Milestone 0. Thanks and let me know if you've got any questions.

[2021-06-04 05:24] rviscomi commented on #2149
Hi @ydimova just a nudge to take a minute to edit https://github.com/HTTPArchive/almanac.httparchive.org/issues/2149#issue-868435900 and check off "Milestone 0" now that you have a complete content team. Keeping your contributors/milestones in sync is helpful for us to see how everyone is doing at a glance. Thanks!

[2021-06-04 11:21] RReverser commented on #2168
I guess let's do a meeting after all, it might be easier to talk through the main points. @jsoverson I think you're in different timezone than us, what timerange and dates work for you next week?

[2021-06-04 17:12] rockeynebhwani commented on #2155
Raised one more issue with respect to platform detection (this time for BigCommerce) - https://github.com/AliasIO/wappalyzer/issues/3986

[2021-06-04 23:57] jsoverson commented on #2168
@RReverser I'm on EST time (UTC -5) and can do Monday, Wednesday, or Thursday (earlier in the week is better)

[2021-06-05 07:08] carlopi commented on #2168
I can't on Wednesdays, but generally available between 15-18 CET = 14-17 UK = 9-12 EST. Any slot in that interval that works for everyone (either Monday or Thursday)?
Otherwise in the evening, like between 21-23 CET = 20-22 UK = 15-17 EST.

[2021-06-05 07:17] carlopi commented on #2168
Content wise another area that could be worth adding is a general explanation of what WebAssembly is / can do / is useful for, for example taking the list [here](https://webassembly.org/docs/use-cases/) and adding live examples for each use case.

Or simpler, taking a single use case (eg. web-based video call), going in depth about how some solutions (eg. the web clients of Google Meet / Zoom / Mi

[2021-06-06 08:31] NishuGoel commented on #2141
@rviscomi @bazzadp We are almost ready with the outline of the chapter. Will you be able to join us as an analyst if have some bandwidth?

[2021-06-06 17:29] rviscomi commented on #2141
I can help answer general questions about the dataset but unfortunately I can't commit to being an analyst. If any coauthors/reviewers are open to trying the analysis, it's possible to take on both roles.

@pankajparkar I've also resent the GitHub team invitation.

[2021-06-06 19:14] obto commented on #2146
@Tomek3c @ashleyish Please add yourself as an author to the [Google Doc](https://docs.google.com/document/d/14uW8-6F1-AWxf1grr8ExyJs4YBPyMFWs4iGJ2ESZqDI/edit?usp=sharing). There's only a bit over 1 week left to have the chapter outline completed so please take a look at what the team has done so far.

To all reviewers as well (@bh-siteobjective @nicoseosem @jdevalk @ipullrank @fili @excellenseo @j

[2021-06-06 19:15] obto commented on #2146
Reminder that any additional custom metrics you'd like this year must be decided upon one week before the crawl starts (i.e., EOD June 23th).

[2021-06-06 19:30] obto commented on #2149
@ydimova Reminder that we've got just over a week to complete the chapter outline (June 15th). Please also work with your analysts (@max-ostapenko @VictorLeP) to run through all the metrics you'd like to look at and their feasibility. You should aim to have any metrics requiring custom code decided by EOD June 23rd, so your analysts have time to write them.

@max-ostapenko @SaptakS @cqueern Please

[2021-06-06 19:33] obto commented on #2150
@SaptakS reminder that we've got just over 1 week (June 15th) until the chapter outline is due. Please work together with your analyst (@GJFR) to make sure all metrics are feasible as well.

If there are any new custom metrics you require this year, have them decided by EOD June 23rd so your analyst has time to add them to our crawler.

[2021-06-06 19:36] obto commented on #2151
@ashleyish Please add yourself in the [Google Doc](https://docs.google.com/document/d/1wQVzYjfbQUs6wmG6ldIE9Rcq4062hBCktrw9EnT9p2g/edit) metadata as an author.

The chapter outline is due by June 15th, which is just over a week from now and it doesn't look like anything has been written as of yet. How can we help?

[2021-06-06 19:38] obto commented on #2152
@christianliebel The chapter outline is due by June 15th, which is just over a week from now and it doesn't look like anything has been written as of yet. How can we help?

[2021-06-06 19:38] obto commented on #2153
@demianrenzulli The chapter outline is due by June 15th, which is just over a week from now and it doesn't look like anything has been written as of yet. How can we help?

[2021-06-07 03:55] rviscomi commented on #2154
@jdevalk as we continue looking for an analyst to join the chapter, would you have any interest in taking on the analyst role? I know you've been familiarizing yourself with the dataset so it could work out if you have the extra time.  I was last year's analyst for this chapter so I can help get you up to speed and answer any questions if needed.

[2021-06-07 09:17] Navaneeth-akam commented on #2159
@rviscomi Thanks for the details. I think I have received the edit access for Google Doc. Will be adding the list of topics for this chapter. I see that we are still missing an analyst for this chapter. While I'm trying to see if anyone who has been analyst before can help with it, it would be great if you have any suggestions here.

[2021-06-07 10:48] RReverser commented on #2168
EST isn't too bad, we should find a suitable time. I've sent out an invite for today, but I know it's a bit close so if you can't make it, let's reschedule for either later time or, if that doesn't work either, Thursday.

[2021-06-07 14:48] RReverser commented on #2168
As mentioned in the meeting, here are some queries I played with: https://gist.github.com/RReverser/b5e9cff5c4a7ac1eba2c64ab6d01c4d8

[2021-06-07 15:32] jzyang commented on #2159
I've already checked my access earlier and put my name down for Reviewer, I
believe.  :)

On Mon, Jun 7, 2021 at 2:17 AM Navaneeth ***@***.***> wrote:

[2021-06-07 17:10] demianrenzulli commented on #2153
HI @obto,

I put together [this deck](https://docs.google.com/presentation/d/1_Eah-BWhUMpVUAs3ZiCElJrlFcVIzrhN12TWSNRbR8E/edit#slide=id.gdebe9d77dd_0_3), which contains the whole plan for the PWA chapter of Web Almanac in 2021.

The chapter outline starts in slide 17.

The reason that I did it in a deck format is because it will be easier to present and brainstorm with other contributors. I'll mov

[2021-06-07 18:48] demianrenzulli commented on #2153
I moved the outline to [the doc](https://docs.google.com/document/d/1grNpHfQgBZow7fTw9UNZk8E4eWdQV97ZyenPmaye1JU/edit#) as well.

I'm working on a new set of metrics for [pwa.js](https://github.com/HTTPArchive/legacy.httparchive.org/blob/master/custom_metrics/pwa.js) and will update [the PR](https://github.com/HTTPArchive/legacy.httparchive.org/pull/204) soon.

@bazzadp: I'd like to finish the rou

[2021-06-07 18:53] tunetheweb commented on #2153
Hey @demianrenzulli , just an FYI I've changed my GitHub username to @tunetheweb to match my Twitter handle.

Let me know when your meetings are and can try and attend when I can. Otherwise you can represent the analysts and ping me separately.

[2021-06-07 18:56] tunetheweb commented on #2150
FYI Lighthouse v8 has a new Content-Security-Policy audit, which we will have access to. Worth considering for this year: https://github.com/GoogleChrome/lighthouse/releases/tag/v8.0.0

[2021-06-07 19:08] cqueern commented on #2150
This is great, thanks @tunetheweb .

@ScottHelme may have some tips on sound ways of analyzing the adoption of CSP capabilities at web-scale.

[2021-06-07 19:23] demianrenzulli commented on #2153
HI @tunetheweb! We have a meeting tomorrow with the rest of the team. I might have forgotten to include you, since I just copied the kick-off invite and you were not yet part of the PWA team at that point.

Please, let me know if that works for you. If not, I would prefer to reschedule to a time that works. I think your presence would be super important at this stage.

It might be hard to follow t

[2021-06-08 12:35] kevinfarrugia commented on #2142
@AlexLakatos do you need any input from my end ahead of the deadline for the custom metrics please?

[2021-06-08 12:57] colinbendell commented on #2159
I'm happy to be a reviewer as well.

On Mon, Jun 7, 2021 at 11:33 AM jzyang ***@***.***> wrote:

[2021-06-09 14:05] gregorywolf commented on #2146
@patrickstox @obto @bazzadp Due to work and personal obligations I have come to the conclusion that I will not be able to dedicate the required time to this years effort. I have removed myself from the Google Doc analysts list. Please remove me from any other internal distro lists associated with SEO. 2021. Thank you.

[2021-06-09 15:05] alonkochba commented on #2154
Hi, I would be happy to assist and participate in the CMS chapter as a reviewer.
I lead many of the performance efforts at Wix and the performance of CMSs across the web is very interesting for us.

[2021-06-09 17:46] rviscomi commented on #2142
@AlexLakatos	@j9t @ibnesayeed @meyerweb @brycehowitson	@kevinfarrugia to Kevin's point, the outline in the [chapter doc](https://docs.google.com/document/d/1x7iV0Tv3hxaruwlNHdhduPpzwZc9dnqMOZW1q9nGKjI/edit?usp=sharing) hasn't been started yet. It's up to the authors/reviewers to brainstorm topics to discuss in the chapter, which will give analysts (Kevin) guidance for what data needs to be prepare

[2021-06-10 07:23] j9t commented on #2142
If it’s helpful, last year I took [the previous year’s structure](https://almanac.httparchive.org/en/2019/markup) to build the chapter outline, to complement it by input by the group. That worked well to be fast but also make sure we didn’t miss anything major.

[2021-06-11 04:01] rviscomi commented on #2145
⚠️  @peerside let us know ASAP if you're unable to commit to authoring this chapter. No worries if that's the case, but we would need to make alternate plans immediately if so.

If you're still interested and available, please see my previous messages about completing the chapter outline in the doc. June 15 is the deadline to stay on schedule, so it'd be great to see some signs of progress on it b

[2021-06-11 04:21] rviscomi commented on #2168
@RReverser the outline is looking great so far and you seem to be on track for the June 15 milestone! 🎉

I left a few questions in the doc to get you thinking about implementing any necessary [custom metrics](https://github.com/HTTPArchive/legacy.httparchive.org/blob/master/custom_metrics/README.md) before the crawl starts. Those would need to be merged no later than June 30 to be included in the

[2021-06-11 04:30] rviscomi commented on #2144
@eeeps checking in. The doc is still looking good and I'm glad to see early progress on the custom metrics (Milestone 2). Are you feeling good about closing out Milestone 1 by June 15?

[2021-06-11 04:34] rviscomi commented on #2143
Hi @jpamental, the due date for the chapter outline is June 15 and it doesn't look like it's been started yet.

I'd suggest using the [2020 outline](https://docs.google.com/document/d/15-rYqS-FqKWD0_32LdajEg0tD1Tm0KzgTYyLF2pQK8M/edit?usp=sharing) and published [Table of Contents](https://almanac.httparchive.org/en/2020/fonts) as a starting point and adding/removing topics as you see fit. Let me kn

[2021-06-11 16:04] demianrenzulli commented on #2153
For folks in this thread interested on following more technical discussions around the measurement techniques we'll be using and the latest  metrics, this is mostly taking place in [the PR](https://github.com/HTTPArchive/legacy.httparchive.org/pull/204) I shared before.

Feel free to share any ideas either here or as a comment in that PR directly.

[2021-06-11 17:47] logicalphase commented on #2153
I really like the presentation. It's polished and professionally formatted.
Thank you for sharing it with us. 💯

[2021-06-11 21:40] rviscomi opened #2240 "Should we break words in code blocks?"
![image](https://user-images.githubusercontent.com/1120896/121751136-9916f800-cadb-11eb-86f0-136358f7a150.png)

Around https://almanac.httparchive.org/en/2020/pwa#fig-11 I noticed `<code>firebase</code>` wrapping lines, making it harder to read. It seems like this is an intentional style choice:

https://github.com/HTTPArchive/almanac.httparchive.org/blob/ba9ca908e4f2beb20cf3ff730eccf43f06c4931a/s

[2021-06-12 08:03] christianliebel commented on #2152
@obto The outline depends on what data we can get. If we have usage data for APIs that require user action, I would focus on those. The fallback plan is to compare how API usage has changed from last year. Since it looks like we can manage to get data for the new APIs, I would prepare the outline for that scenario. However, we may have to change the plan again later.

[2021-06-12 08:23] christianliebel commented on #2152
@demianrenzulli @tunetheweb @webmaxru @Schweinepriester @thepassle @hemanth @tropicadri @andreban @jeffposnick @logicalphase Dear PWA content team, we could need some more reviewers for the Capabilities chapter. As it's thematically related to PWA, I wanted to ask if one of you could step up as an additional reviewer for our chapter. I really appreciate any help you can provide.

[2021-06-12 08:26] christianliebel commented on #2153
Hi @demianrenzulli! I'm the content lead for the Capabilities chapter (#2152). Since our two chapters are definitely related, I wanted to ask if we could find appropriate points to reference each other. Here are the chapters from last year: [Capabilities (2020)](https://almanac.httparchive.org/en/2020/capabilities) [PWA (2020)](https://almanac.httparchive.org/en/2020/pwa)

[2021-06-12 08:32] hemanth commented on #2152
@christianliebel I am closing following fugu, would love to review the capabilities chapter.

[2021-06-12 08:33] christianliebel commented on #2152
Excellent, thank you so much!

[2021-06-12 13:34] ibnesayeed commented on #2142
I have been busy lately, but now catching up. I have requested access to the docs and will provide feedback about the outline as authors put things together.

[2021-06-12 13:41] ibnesayeed commented on #2146
I have been busy lately, but now catching up. I have requested access to the docs and will provide feedback about the outline as authors put things together.

[2021-06-12 13:44] ibnesayeed commented on #2162
I have been busy lately, but now catching up. I have requested access to the docs and will provide feedback about the outline as authors put things together.

[2021-06-12 13:46] ibnesayeed commented on #2141
I have been busy lately, but now catching up. I have requested access to the docs and will provide feedback about the outline as authors put things together.

[2021-06-12 14:57] tunetheweb commented on #2217
Just had another look at this. I'm not loving the label colour being a different shade of green to the chart itself:

![image](https://user-images.githubusercontent.com/10931297/121779836-882abd00-cb95-11eb-8a05-2a931e1b2d83.png)

To me either we should change the bar chart to be the same new green - though I think this makes it more difficult to read as can't easily differentiate between the two

[2021-06-12 15:22] demianrenzulli commented on #2153
HI @christianliebel! Thank you for reaching out.

I think both chapters are definitely complementary, and we might have some overlap with some metrics, but I think that's not a problem. I'd be more than happy to link to the capabilities section as part of the introduction to PWA, when we'll mention the "App-like" features a PWA can have.

Regarding specific APIs, taking a look at last year's chapt

[2021-06-12 17:44] #2240 closed

[2021-06-13 03:07] shantsis commented on #2217
I’m in favour of making the text black if anything. The other alternatives we have is great but this seems like an easy fix to do in addition to what we have.

[2021-06-13 10:27] tunetheweb commented on #2217
I’m happy with that to. Think it worked well for the Accessibility chapter. And I think most graphs like in my previous comment will drop the labels anyway - those graphs are borderline whether it can handle two labels.

@rviscomi any thoughts on this? Or should we update the template?

As to the red background, I’m not sure. I think I agree with Rick that white looks easier to read than black eve

[2021-06-13 12:18] shantsis commented on #2217
It’s true and I’ve seen that article before, but I think it’s safer to lean on the contrast value.
We could also adjust the red Color if we want to make it work with the white but it would be a bit darker

[2021-06-13 18:48] obto commented on #2152
Sounds good. Totally understand, and expect, the outline changing over time. Just want to make sure we have everything set up to collect your data before the crawler start July 1.

[2021-06-13 19:51] Zizzamia commented on #2161
@rviscomi oh interesting, I am not on that Slack yet. Would you mind share an invite, so I can make the request in the #web-almanac-analysts channel.

[2021-06-14 00:28] rviscomi commented on #2161
Join us! https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA

[2021-06-14 09:33] wallet77 commented on #2141
Same here, a lot of work recently but I will take a look.
Sorry for the delay ;)

[2021-06-14 15:08] tomayac commented on #2152
Collecting custom metrics for Project Fugu APIs is happening in https://github.com/HTTPArchive/legacy.httparchive.org/pull/208.

[2021-06-14 19:13] tunetheweb opened #2245 "Chapter illustrations for new 2021 chapters"
We have 2 new chapters this year:
- Structured Data
- WebAssembly

We have chapter banners images for each chapter created in 2019, and we managed to create three new ones for the new chapters added in 2020 (Capabilities, Jamstack, and Privacy).

So we would need similar ones created for Structured Data and WebAssembly. We have the PSD files to allow you to reuse some of the resources like the cha

[2021-06-14 19:23] tunetheweb opened #2246 "Reorganise contributor JSON file"
At the moment we have a contributors section in each year's JSON file ([2019.json](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/config/2019.json), [2020.json](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/config/2020.json), and [2021.json](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/config/2021.json)).

Should we merge these i

[2021-06-14 19:24] tunetheweb commented on #2246
This could help with #1195 and is probably a necessary first step towards that.

[2021-06-14 19:33] shantsis commented on #2245
I do not sorry, this is very much not my expertise 🙁

[2021-06-14 21:37] rviscomi commented on #2217
+1

We're still constrained to using the same background red as other CrUX charts so let's darken the foreground color as needed.

[2021-06-14 23:53] tunetheweb commented on #2142
Interesting discussion here you might want to consider as incorrect markup: https://twitter.com/therealnooshu/status/1404356341297303555?s=21

[2021-06-15 00:44] heymarkreeves commented on #2144
Hi, @eeeps! I'll look for you in Slack tomorrow to talk about the Analysts role.

[2021-06-15 03:12] rviscomi commented on #2140
@meyerweb the outline is looking great and [your list](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2140#issuecomment-848025065) is really helpful to see what has changed since last year. It doesn't look like we'll need to add anything to the test pipeline at runtime. AFAICT everything can be measured using existing post-processing analysis, so we should be good to go. If you're h

[2021-06-15 09:31] webmaxru commented on #2153
Hello folks! Status update: I'm in dialogue from MS Edge and PWA Builder teams. Hopefully, we'll get some interesting data about installability from their side.

[2021-06-15 16:21] tunetheweb commented on #1617
#2196 added a single fixed CTA and some more CTAs to the "Explore this chapter" section ("Suggest edit" and "Help translate"), however in that we also discussed if we wanted more CTAs with an expandable menu so leaving this issue open for now in case there is further work on this.

[2021-06-15 17:04] AlexLakatos commented on #2142
@j9t @ibnesayeed @meyerweb @brycehowitson @kevinfarrugia @shantsis @rviscomi: I've created a tentative outline in the working doc, I'd love to get your feedback on it. It's retained most of the sections from last year, with a few extras sprinkled in. I'm conscious of not stepping too much in other chapters territory, so some of those new sections might only get a shallow mention.

I'd also love if

[2021-06-16 01:50] eeeps commented on #2144
@heymarkreeves Fantastic! I've added you as an analyst in the OP. I was AFK all afternoon but I'll make some time to sync tomorrow.

@rviscomi Unfortunately, we're falling a bit behind. I know @dougsillars is working on the Video section of the outline, and I'm working on the Images section. I need to connect with @TrevorFSmith and @Yonet about WebXR, and make sure they're in good shape w/r/t cust

[2021-06-16 02:31] rviscomi commented on #2145
Today is the due date for Milestone 1 and given that no progress has been made nor have I been successful in my attempts to reach the team lead here or via Twitter DMs, I'm going to take that to mean that @peerside is no longer able to commit to the chapter. No hard feelings, I completely understand that higher priority things come up, and I hope all is well.

Unfortunately, my only option is to c

[2021-06-16 02:43] rviscomi commented on #2142
Looks good thanks @AlexLakatos. Please check off Milestone 1 [above](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2142#issue-868435668) when you're feeling comfortable with the outline.

@kevinfarrugia there may be new topics in the outline that depend on custom metrics, so please give it a close look to see if there's anything we need to add to the test pipeline. Refer to the 202

[2021-06-16 02:49] rviscomi commented on #2174
Hey @jono-alderson, could you give an update on the chapter outline? I see some new topics added today, but not sure if it's still being worked on. If it's finalized you could check off Milestone 1 [above](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2174#issue-869195089), otherwise let us know when you think it'll be ready. Thanks!

@GregBrimble please take a close look at the ou

[2021-06-16 02:53] rviscomi commented on #2143
Hey @jpamental, could you give us an update on the chapter outline? It's good to see some ideas in there, but I'm not sure if you're still working on it. If it's complete, you can check off Milestone 1 [above](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2143#issue-868435706), otherwise please let us know your ETA.

[2021-06-16 03:00] rviscomi commented on #2141
@NishuGoel and team, thank you for completing the chapter outline on time! 🎉

@ashleyish @NishuGoel could both of you review the outline and make sure that anything that would depend on querying the DOM or parsing JS files is implemented as a [custom metric](https://github.com/HTTPArchive/legacy.httparchive.org/blob/master/custom_metrics/README.md)? I elaborated on custom metrics in [this comment

[2021-06-16 03:02] rviscomi commented on #2144
Thanks for the update @eeeps. Please tick the Milestone 1 box [above](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2144#issue-868435743) ASAP when you feel that the outline is solid.

[2021-06-16 03:05] rviscomi commented on #2168
Hey @RReverser, could you give a brief update on the status of the outline? It's looking really good, just not sure if you're still working on it. If you're done, could you check off Milestone 1 [above](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2168#issue-868990017)? Thanks!

[2021-06-16 03:08] rviscomi commented on #2162
Hey @dominiclovell, the outline is looking great. Are you still working on it? Or if you're satisfied with it could you check off Milestone 1 [above](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2162#issue-868436470)?

And I don't have to tell @tunetheweb about the importance of getting any necessary custom metrics implemented on time 😛

[2021-06-16 03:13] rviscomi commented on #2161
Hey @Zizzamia, today is the deadline for the chapter outline to be completed but it doesn't look like anything is in the [doc](https://docs.google.com/document/d/1BSdljOv86CPAP5T0A9jcV6bU7NJp1f2mTFa4ZZ7xxe8/edit?disco=AAAAMsv77Qw) yet. Could you give us an update on when you'd be able to get that completed?

⚠️ Given that this chapter is behind on staffing (analysts) and planning, it's at risk of

[2021-06-16 03:18] rviscomi commented on #2160
Hey @jyrkialakuijala, I know we've been emailing but could you give a status update on the outline in the [doc](https://docs.google.com/document/d/1RHgHEb4wv2CmAJoJihy7MQPhNzBw6fvirxS4Fog0-yQ/edit?disco=AAAAInPQVpQ)?Do you expect you'll be able to get it done by the end of the week?

[2021-06-16 03:20] rviscomi commented on #2159
Hey @Navaneeth-akam, could you give us status update on the outline? It's looking like there are a few good topics as of now, but I'm not sure if you're still working on it. We were hoping to have it done by today. Could you check off Milestone 1 [above](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2159#issue-868436342) when you're satisfied with it? Thanks!

[2021-06-16 03:22] rviscomi commented on #2158
Hey @kevinfarrugia, how are you feeling about the outline? Looking like a lot of great content in there now, but just not sure if you're still working on it. Please check off Milestone 1 [above](https://github.com/HTTPArchive/almanac.httparchive.org/issues/2158#issue-868436290) when you're satisfied with it. Thanks!

[2021-06-16 03:25] rviscomi commented on #2157
Thanks for completing the chapter outline on time @logicalphase! 🏆

[2021-06-16 03:26] alextait1 commented on #2147
@scottdavis99 @oluoluoxenfree @ericwbailey @clottman @shantsis @digitala11ies @obto

Thanks for the comments on the doc, I've made some updates. Authors - I hope you've had a chance to take a look, didn't see any comments from you so hopefully no news is good news 😂

[2021-06-16 07:31] kevinfarrugia commented on #2158
Thank you @rviscomi . I will be going through the queries together with @Nithanaroy and if we're happy with them I will check off Milestone 1.

[2021-06-16 07:32] kevinfarrugia commented on #2142
I will be going through the outline and reviewing the custom metrics at the end of this week or the start of the next. Will let you know if I have any queries. Thanks

[2021-06-16 10:46] RReverser commented on #2168
I think we're good in terms of outline - my only concern, as mentioned in DMs, is whether it should be finalized (removing entries that we might end up excluding in metrics), but sounds like that shouldn't be an issue, so we're good to go.

[2021-06-16 13:18] tunetheweb commented on #2147
I was reminded again of the fact that sites which use ARIA often have more accessibility issues than sites that don't. I've never particularly liked that stat as to correlation does not apply causation. If you are a really complex site and use a Bootstrap component with one ARIA label (even if valid use of that), but lots of other errors due to the fact it's a complex site, then suddenly you're dr

[2021-06-16 15:03] max-ostapenko commented on #2141
@ashleyish @NishuGoel would you need any hands for analytics tasks? I can support with custom metrics and SQL.
If yes - have you forked the legacy repo to work on custom metrics?

[2021-06-16 15:57] NishuGoel commented on #2141
@max-ostapenko That'd be really helpful! Thanks
I have been looking into this repo [here](https://github.com/HTTPArchive/legacy.httparchive.org/blob/master/custom_metrics/README.md)

[2021-06-16 17:26] rviscomi commented on #1843
Reopening this to track a related issue.

I noticed that "GoDaddy Website Builder" no longer has any websites detected since February:

[code]

[code]

Interestingly, ismyhostfastyet.com is still able to detect GWB sites because it uses a [signal](https://github.com/rviscomi/ismyhostfastyet/blob/ef9d5ff1b9ed4a212a5b52af97e91b81dafcb064/ttfb.sql#L28) from the HTTP headers and it's detecting 7k desk

[2021-06-16 18:00] pmeenan commented on #1843
The Wappalyzer checks weren't including the meta tags.  Agent has been updated and will be rolling out over the next hour.

Tested it in dev [here](https://dev.webpagetest.org/result/210616_ZiDcSE_b0a6b2181742ed778bd6e3709a5208e2/) and it correctly caught Go Daddy.

[code]

[2021-06-16 18:19] rviscomi commented on #1843
Thanks @pmeenan! I also noticed that the Wappalyzer extension detected React on that page, but it's not included in the new test results. Could something else be missing?

[2021-06-16 18:53] pmeenan commented on #1843
Possibly the serialized DOM.  It serializes the HTML but not the DOM.  Taking a look now.

[2021-06-16 19:37] pmeenan commented on #1843
Reached out to the Wappalyzer team to see how best to handle DOM-based detections.  They are starting to migrate to it but the current engine doesn't directly support it and they have the extension doing the detections manually.  Hoping there is a better way but should have something figured out soon.

[2021-06-17 01:55] Zizzamia commented on #2161
@rviscomi thank you for the ping, the outline will be added by Friday Evening 😄

[2021-06-17 02:34] ericwbailey commented on #2147
While I am personally super curious about some of your ideas about how to peer into this data further, I'm unsure if clarification would do what we intend it to.  I would hate to inadvertently communicate that it's acceptable to use ARIA not as a last resort and without testing.

I oftentimes find that presenting this kind of info gives someone who has already made up their mind, or who has alread

[2021-06-17 09:52] tunetheweb commented on #2147
I'm not talking about using this to justify the use of ARIA (though I admit it was that quote that started off my thinking here), but more drilling into what types of pages/sites are more or less accessible. ARIA use is just one measure of that (and a bad one IMHO for the reasons I gave above).

Actually I see some of the ideas have been covered by WebAIM Million report: https://webaim.org/project

[2021-06-17 18:20] pmeenan commented on #1843
Whew.  That was somewhat more painful than I expected.  Had to rewrite the JS variable detection part which changed pretty significantly when the engine changed a few months back (also added the support for the DOM detections).

[Here](https://dev.webpagetest.org/result/210617_ZiDcQG_d5c8b25840000d20fefd3cbfdfab6dfb/) is an updated test.  Change is rolling out to prod (and HA) over the next hour.

[2021-06-17 19:10] rviscomi commented on #1843
That's great, thanks for fixing!

[2021-06-18 06:30] christianliebel commented on #2153
@demianrenzulli Our focus this year is on productivity apps on the desktop, so we will discuss different APIs this year. If you want, you can check out our [2021 outline](https://docs.google.com/document/d/1pRk8FvCUWZbnaHc4vCQHbEHguNL5A0O34euJRIeUXM8/edit#heading=h.vqdmpb884vdu).

I had a look at your 2021 outline and I think the chapters don't overlap at all, so we shouldn't run into any problems

[2021-06-18 16:50] tunetheweb commented on #2143
Just read this, which might be of interest to this chapter: https://dribbble.com/stories/2021/04/26/web-design-data-fonts

If any interest in continuing this research as part of this team then let us know @tianhuil !

[2021-06-18 17:45] demianrenzulli commented on #2153
Thanks @christianliebel.

The time you proposed works for me. For simplicity, I don't think we need to include the rest of the team. I just scheduled a call with them the next day, where I can also share the outcomes of this call.

Please, feel free to send the invite to the email that appears [in the doc](https://docs.google.com/document/d/1grNpHfQgBZow7fTw9UNZk8E4eWdQV97ZyenPmaye1JU/edit). I can

[2021-06-18 23:39] Zizzamia commented on #2161
Hey team (@jessnicolet @WilhelmWillie @roryhewitt @boosef @rviscomi),
feel free to review the initial outline in the [draft doc](https://docs.google.com/document/d/1BSdljOv86CPAP5T0A9jcV6bU7NJp1f2mTFa4ZZ7xxe8/edit#), few notes on it:
- so far taking inspiration from the 2020 chapter in terms of query and content will be best to continue evolve
- extend the caching conversation not only on Browser

[2021-06-19 13:45] tunetheweb opened #2251 "How to avoid ranking duplicates?"
CrUX introduced a `rank` grouping to each origin with the following buckets:
- 1,000 (i.e. the top 1,000 most popular sites)
- 10,000
- 100,000
- 1,000,000
- 10,000,000 (in reality topped at the 6-7 million websites in CrUX).

This is available in the `experimental.popularity.rank` column, in the `chrome-ux-report.all.202105` table for example (note we'll be using the 202107 table when it's availa

[2021-06-19 14:01] rviscomi commented on #2251
Rank data should be propagated in the rank field of the summary_pages dataset in HA.

[2021-06-19 14:07] tunetheweb commented on #2251
Ah perfect. Will close this then.

[2021-06-19 14:07] #2251 closed

[2021-06-19 14:11] tunetheweb commented on #2147
OK curiosity got the better of me so I ran some stats:

category | percentile | all_sites | uses_aria | accessibe | top1k | tok10k | top100k | tok1m
-- | -- | -- | -- | -- | -- | -- | -- | --
num_sites | &nbsp; | 7,150,239 | 5,134,088 | 417 | 863 | 7,768 | 79,014 | 782,451
num_sites_pct | &nbsp; | 100% | 72% | 0.006% | 0.012% | 0.109% | 1.105% | 10.943%
percentile | 10 | 0.61 | 0.7 | 0.7 | 0.6 | 0

[2021-06-19 15:22] digitala11ies commented on #2147
Thanks for taking the time to do all that,  Barry!

I'm definitely mega hesitant to associate ARIA usage being good vs bad.
While only an anecdotal experience, I've faced a lot of people using
properties like role="presentation", role="application" and
aria-hidden="true" in really damaging ways but which was only discovered in
manual testing, which makes me hesitant to comment on ARIA this way.

O

[2021-06-19 15:31] tunetheweb commented on #2147
Yeah as I say I’m not saying ARIA means it’s good and there’s definitely pitfalls to it and shouldn’t be used unless necessary. I just didn’t like that statement’s implication that it’s bad either, and thought worth digging into it more to see if we could replicate their findings and dig into why that was the case more.

[ARIA **is** necessary](https://www.smashingmagazine.com/2021/06/css-javascri

[2021-06-19 15:54] alextait1 commented on #2147
I'm going to think on this more but I tend to agree with @digitala11ies, I think it's risky business equating the presence ARIA with more or less over-all accessibility as it's so often misused and I wouldn't want anyone to take away "use more ARIA" from our report, especially since that's in conflict with the [first rule of ARIA](https://www.w3.org/TR/using-aria/#rule1). I do think it's interesti

[2021-06-19 15:58] digitala11ies commented on #2147
Yes - thanks for putting that more eloquently than I could manage,  Alex! I
think there's still value in talking about it --I just want to be careful
in the associations we make.

On Sat, Jun 19, 2021, 11:55 AM Alex Tait ***@***.***> wrote:

[2021-06-19 16:25] tunetheweb commented on #2147
Yup that's fair enough. Understand your concerns.

But what do you think about slicing and dicing the "accessibility score" in other ways? Or do you have similar concerns about generalising there? I thought the lack of correlation in site popularity was interesting for example.

And I reran the stats for `*.gov.uk/` URLS, `*.gov/` URLs and any URL with (`.gov.` or `.gov/`) in them and certainly lo

[2021-06-19 16:31] alextait1 commented on #2147
@tunetheweb ooo that's very interesting data about the government sites, I do want to think more on this! Thanks for surfacing these ideas 😎

[2021-06-20 00:33] ksakae1216 commented on #586
Hello @hi-toshi
How progress performance chapter?

Please tell me. 😄

[2021-06-20 00:36] Zizzamia commented on #2158
Hey @kevinfarrugia let me know if you need any help from connecting the data from last year to this year. Or you need any insights on the how we wrote the [doc from last year](https://docs.google.com/document/d/1qsJWq7eKdif2egt54G3jmZzK4PkyoIX8g4o4UzlJGEw/edit?usp=sharing).

[2021-06-20 16:55] demianrenzulli commented on #2153
Hi folks,

I just pushed [my first PR](https://github.com/HTTPArchive/almanac.httparchive.org/pull/2252) for a small content change to the 2020 Almanac. It helped me [setting up the environment](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/src), which I highly recommend to anyone that wants to contribute at some point.

While doing the change, I've realized that some chapters c

[2021-06-20 17:24] tunetheweb commented on #2153
Thanks for raising awareness of the translations @demianrenzulli ! We think they’re important to make the content as inclusive as possible.

Spanish and Portuguese are all set up so any chapter can be translated to those. German and Norwegian will be a bit more effort as the base templates are not translated yet but will we’re grateful for any translations if people want to contribute and happy to

[2021-06-20 19:51] demianrenzulli commented on #2153
Thanks @tunetheweb!

Regarding this:

I thought that contributors would just take a chapter and translate them "manually". From your previous comment, it seems like there's an automatic process for that instead? Please, correct me if I'm wrong, or If you have a link to share about the process, that might be of help.

[2021-06-20 19:58] tunetheweb commented on #2153
No you are correct. However, as well as the chapter's markdown text there's a bit of scaffolding to create the the headers and footer, the home page, the contributors page...etc. to allow us to run the whole site in that language. And these have to be done before we can accept a chapter translation.

As I say they have been done for Spanish and Portuguese (have a look at [src/temples/es](https://g

[2021-06-20 20:05] demianrenzulli commented on #2153
Got it! It seems like we can, at the very least, ship the chapter in English and Spanish. Portuguese could be also an option, as long as @andreban has the time to help translating the content to Portuguese and thinks it might be valuable.

Regarding the rest of the languages, I don't want to assume that folks here will have the bandwidth to work on that, since those seem to involve some additional

[2021-06-20 20:07] tunetheweb commented on #2153
Good stuff. More info here btw on the process: https://github.com/HTTPArchive/almanac.httparchive.org/wiki/Translators'-Guide

And similar wiki pages in there on Authoring and Analysing and the other roles if you've not seen them yet.

[2021-06-21 08:30] schachin commented on #2147
I was part of the lead team for the GSA back in 2011-2013 -- goal was to add WCAG to all GSA controlled government sites but they had a lot of work to do on just getting them all up to spec first. USA.gov though was the lead site and it was WCAG back then, BEFORE they required it at the Federal level. So the government sites have paid a lot more attention at a Federal level at least.

____________

[2021-06-21 09:47] bobbyshaw commented on #2155
@rrajiv How's your investigation into metrics going? Looking at the schedule we should have a pretty good idea of what we need by the end of this month.

[2021-06-21 10:18] rockeynebhwani commented on #2155
@bobbyshaw @rrajiv - If you notice in last year's chapter, we had used 'Google Analytics Enhanced Ecommece' as a signal to identify eCommerce sites (which helped in cases where Wappalyzer didn't have platform detection OR site was built using headless architecture).

This year, you can further increase the eCommerce coverage by looking for another category in Wappalyzer which was not present last

[2021-06-22 02:30] rrajiv commented on #2155
@bobbyshaw - I reviewed the 2020 ecommerce chapter & the associated queries. I can't think of any additional metrics as of now. There is still a few days till EOM so I will look to see if there is anything else to capture.

[2021-06-22 02:33] rrajiv commented on #2155
@rockeynebhwani  - yes I remember this from the 2020 chapter and I went through the Wappalyzer queries. As Iam not familiar with Wappalzer, I went through this post: https://discuss.httparchive.org/t/using-wappalyzer-to-analyze-cpu-times-across-js-frameworks/1336/ and got a sense of how Wappalyzer can help in this case.

So in the case where no Ecommerce is detected but a payment processor is dete

[2021-06-22 03:56] rviscomi commented on #2161
Thanks @Zizzamia! I've reviewed the outline and left comments on anything unclear related to the analysis. I've also drafted #2254 to organize which queries need to be written and their implementation.

The only metric that may need to be implemented as a runtime metric (hard deadline at the end of the month) is "how big is the biggest CacheStorage value". I left a comment in the doc for clarifica

[2021-06-22 15:33] alankent commented on #2155
I can write this without any worry about how hard to go off and do (!), but is it worth manually inspecting a few sites that fall into the bucket of "has payments, not detected as ecomm site" to see if really an ecommerce site? I have no idea how many ecommerce sites would have payment processing hints on the home page (which is what HTTP Archive samples) vs the payments page, so no idea how many

[2021-06-22 21:58] rviscomi commented on #2154
⚠️ @jdevalk just checking in. This chapter seems to be pretty far behind in terms of the milestones. How can we help?

The [outline](https://docs.google.com/document/d/1107H58WlpqPOrIsRZMCK7q8h-f8rmNfLPr3BU6qGUqc/edit?usp=sharing) hasn't been started, and that puts this chapter at risk of not being able to get new metrics implemented before the July crawl starts, which is what all chapters will re

[2021-06-22 22:03] rviscomi commented on #2143
⚠️ @jpamental is there anything we can do to help get this chapter back on track and complete the outline? The outline determines what metrics are needed, and any new custom runtime metrics would need to be implemented now to be in before the July crawl starts.

[2021-06-22 22:06] rviscomi commented on #2144
@eeeps how's the outline looking? Which parts are still being worked on? Getting close to the hard deadline for custom metrics, so it'd be great to get the outline locked down ASAP.

[2021-06-22 22:34] rviscomi commented on #2155
Hi @bobbyshaw, how can we help get the [outline](https://docs.google.com/document/d/1LQjpsaWx-5ZtHQGRnHlPnekkxuap50KzJZJTIaSX4B4/edit#heading=h.8z91yaf1dmft) into a final state?

[2021-06-22 22:41] rviscomi commented on #2156
⚠️ @denar90 it looks like this chapter has fallen behind on the content planning. We were aiming to have the outline completed last week but the [doc](https://docs.google.com/document/d/1fret_E-GBkF6H1yV9aBQjWH9Fykee7jpxKrK2PYv5p8/edit) appears to be empty.

To help get the chapter back on track, I'd suggest coordinating with the rest of your content team (@thomkrupa @mor10 @satpras @ahmadawais @D

[2021-06-22 22:42] rviscomi commented on #2159
@Navaneeth-akam just following up on the state of the outline. How's it going, and is there anything we can do to help?

[2021-06-22 22:43] rviscomi commented on #2160
⚠️ @jyrkialakuijala any updates on the chapter [outline](https://docs.google.com/document/d/1RHgHEb4wv2CmAJoJihy7MQPhNzBw6fvirxS4Fog0-yQ/edit)?

[2021-06-22 22:44] rviscomi commented on #2162
@dominiclovell just following up on my last comment. Is there anything we can do to help get the outline finalized?

[2021-06-23 07:02] jdevalk commented on #2154
Yeah sorry about this people. I do think I can run most of the analyses needed, but would love some help from @hidde on the outline and maybe everyone else here who has ideas on what to cover. I saw @mor10 had input / ideas on topics and would love to discuss those either here or in the Google doc.

I'll get started on an outline myself right now using the input above.

[2021-06-23 07:49] Dawntraoz commented on #2156
Count me in for that meeting, and if @denar90 is very busy these days, but then comes back, we can try to help him organize the chapter while he's rejoining.
What do you think folks @thomkrupa @mor10 @satpras @ahmadawais @ianand?

(If that have sense, of course @rviscomi)

[2021-06-23 15:54] rviscomi commented on #2154
Thanks @jdevalk. Glad to hear you're able to take on the analysis work. Let me know (or ping #web-almanac-analysts) if you have any questions or need any help. I've put your name down as the team analyst in the chapter metadata and checked off Milestone 0 for you.

I've left a couple of comments in the outline. Thanks for kicking that off!

[2021-06-23 16:03] rviscomi commented on #2156
@denar90 is that channel part of the [HTTP Archive Slack](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA)? If not, feel free to create it there, we've got other chapter-specific channels going too.

[2021-06-23 16:25] rviscomi commented on #2159
@HTTPArchive/analysts this is the only chapter still without any analysts. Is anyone able to take this one on? 🙏

[2021-06-23 17:08] mor10 commented on #2156
I made a #web-almanac-jamstack channel on HTTP Archive Slack to get it started. Makes sense to keep the conversation under a joint Slack so history is preserved and other HTTP Archive contributors can jump in.

[2021-06-23 19:37] denar90 commented on #2156
Cool, folks! That's even better. Thank you 🙏

[2021-06-26 08:42] kevinfarrugia commented on #2142
@AlexLakatos I have tagged you on the Google Doc (sorry for the spam) as there are a number of pending queries from my end please.

[2021-06-26 09:03] tunetheweb commented on #586
Just one chapter to go!!! amazing work @ksakae1216 !!

Also dunno if you spotted it but there is also this one:

- [ ] 2020 / base.html - foreword added later

[2021-06-27 08:59] ksakae1216 commented on #586
@tunetheweb OK.
I will translate 2020 / base.html.

[2021-06-28 03:36] dominiclovell commented on #2162
Hey @rviscomi I've marked the milestone complete above. After getting feedback from everyone I think the outline is in good shape for us to start gathering the metrics. I've also marked a few comments complete between @rmarx and @tunetheweb, after some back and forth. There are 2 still open, that I'll leave for ongoing discussion for now.

@tunetheweb let me know if you're OK with everything draft

[2021-06-28 17:44] GJFR commented on #2211
To be completely sure: currently the consensus is for analysts to use custom metrics to collect information on the content of .well-known URLs, right? Or is this information going to be included in the crawl dataset, such that it will be available by query?

Just want to avoid redundant data/work :)

[2021-06-28 23:30] GJFR commented on #2211
I've extended and renamed `ecommerce.js` to `well_known.js` in https://github.com/HTTPArchive/legacy.httparchive.org/pull/219/commits/2a441a09ad49f8fcb9ddbf98cf6ebb7116d2c584.

It should be easily extendible for other well-known URLs and external sources by just adding `parseResponse` calls while passing the desired URL, and -- if required -- a parser function.

[2021-06-29 11:41] AlexLakatos commented on #2142
I think I got to all of them now, let me know if you need more info!

[2021-06-30 02:38] rviscomi opened #2263 "Improve the custom metric development experience"
The custom metric scripts at https://github.com/HTTPArchive/legacy.httparchive.org/tree/master/custom_metrics are growing in number and complexity. For example [almanac.js](https://github.com/HTTPArchive/legacy.httparchive.org/blob/master/custom_metrics/almanac.js) was written in 2019 and shared common functions across all chapters' metrics. Now, we have many chapter-specific metrics and it's gett

[2021-06-30 06:31] tunetheweb commented on #2263
On a related point it’s actually but that cheap to query the custom metrics since they are buried in the page JSON so now costs about 800 GB to query - obviously a lot better than Response Bodies but still a lot. Should we have a `summary_pages` table with the custom metrics section on the JSON in its own column?

[2021-07-01 02:13] rviscomi commented on #1843
Something to keep an eye on to verify that the fix is working. Here's a query to measure the change in origins from January to May for all technologies, using the table for the CWV Technology Report dashboard:

[code]

Top 20 results:

app | pct_change | num_change | jan_origins | may_origins
-- | -- | -- | -- | --
Incapsula | -100% | -19,360 | 19,364 | 4
Google Code Prettify | -100% | -13,713 | 1

[2021-07-05 12:59] svgeesus commented on #2143
@rviscomi in the absence of any update I suggest running the same metrics as last year which will at minimum allow commenting on any changes.

[2021-07-05 15:03] kevinfarrugia commented on #2158
@pmeenan I can confirm that the _consoleLog is available in the `payload` column in the `pages` table (and also `sample_data` since this was updated to the June crawl). 🎊

[2021-07-05 19:54] denar90 commented on #2156
Reviewers, if you have no access to the [article](https://docs.google.com/document/d/1fret_E-GBkF6H1yV9aBQjWH9Fykee7jpxKrK2PYv5p8/edit#), please, request it and add your names/emails so we can fill blank spots and get your feedback

cc @mor10 @satpras @ahmadawais @Dawntraoz @ianand

thanks 🙏

[2021-07-06 00:55] tunetheweb commented on #2153
@rviscomi / @demianrenzulli I've been working on converting all the 2020 queries to custom metric versions and making good progress on that. However I'm a little concerned on the number of service workers we're missing and can't explain why, as some of them should have be caught by our custom metric.

For example running the below custom metric on https://www.mediamarkt.at/ returns no service work

[2021-07-06 08:33] tunetheweb commented on #2153
OK I've figured it out. The custom metric has the following:

[code]

That is it takes the service worker URL, and prepends the origin of the registering script if it's a relative path.

The problem is for scripts served from asset domains.

So https://www.mediamarkt.at/
calls https://asset.mediamarkt.at/webmobile-pwa-public-assets-dev/b4d5e5d/6479d5f494219c2cef13_main.js
which then calls:
[code]

[2021-07-06 08:42] tunetheweb commented on #2153
Or alternatively we change the custom metric to log the `serviceWorker` usage always - even if it doesn't match an exact URL in the har, but just don't get the service worker response body in the custom metric in that case?

[2021-07-06 11:18] tunetheweb commented on #2153
I did some more analysis on this as shown in the table below:

serviceworkers | 70,260
-- | --
manifests | 534,332
serviceWorkerHeuristic | 62,344
serviceWorkerHeuristicFalse | 2,023,514
serviceWorkerHeuristicNull | 5,347,730
workboxInfo | 56,605
swEventListenersInfo | 59,214
swMethodsInfo | 38,417
lh_uses_sw | 107,754
lh_true_heuristic_false | 429
lh_false_heuristic_true | 32,822
lh_false_wb_true

[2021-07-06 14:26] demianrenzulli commented on #2153
Hi folks,

Thanks again for all the great work @tunetheweb! We are starting to understand the limitations of our new approach better since you shared all analysis.

We have been talking offline about this, and here is our decision so far:

- The fact that the `serviceWorkers` has so many false positive is not an issue for the **Service Worker** section itself: we'll use the `blink_usage` table to

[2021-07-06 15:20] tunetheweb commented on #2153
Looking at the previous [pwa_candidates table](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/sql/util/pwa_candidates.sql) it uses the `page` URL as the base, and not the service worker js origin, so they wouldn't have covered relative iframes either. So think we are good to change this for future years.

Raised https://github.com/HTTPArchive/legacy.httparchive.org/pull/223 and c

[2021-07-13 19:14] lvandeve commented on #2160
Hi, I'm one of Jyrki's reports and would like to contribute.

The outline is the same as last year (with new text but comparable data), with the addition of information about compression levels, and I added in the [doc](https://docs.google.com/document/d/1RHgHEb4wv2CmAJoJihy7MQPhNzBw6fvirxS4Fog0-yQ/edit#) under TOC under outline

For the metrics: it would be interesting to gather data about compre

[2021-07-13 23:18] rviscomi commented on #1843
Seeing detections for the 20 most affected technologies in the previous comment starting to recover in the June dataset. For example, here's a screenshot from the [CWV Technology Report](https://datastudio.google.com/s/jwo_vpOs4Gw):

![image](https://user-images.githubusercontent.com/1120896/125537061-7c03ddf4-0421-4f2b-a35a-3f52eb8bdb0e.png)
(Twemoji omitted because it's very popular and throws o

[2021-07-14 01:36] rviscomi commented on #2160
Welcome @lvandeve! I'll defer to @paulcalvano on the feasibility of the metrics, but I look forward to seeing the new data.

[2021-07-14 16:19] addyosmani commented on #2144
**Impact of modern image formats anyone? :)**

Perhaps it would be interesting this year to look at whether there are correlations between the usage of deployed modern image formats (WebP, AVIF) and Largest Contentful Paint?. One could potentially look at pages where the LCP element is an image, served in one of the above {.webp, .avif} (...or where content negotiation has served one of them) and

[2021-07-14 16:38] tunetheweb commented on #2144
Surely it's not just image quality and there's a million other factors at play here so making such a statement would be very hard unless we had a like for like comparison between the sites with old format and without?

Plus do sites that use newer formats care more about performance anyway?

Reminds me a lot of [this discussion](https://discuss.httparchive.org/t/what-effect-does-http-2-have-on-the

[2021-07-16 21:05] keane234 commented on #2159
Hi, I can helo for the review too.

[2021-07-18 13:13] jyrkialakuijala commented on #2144
Could we have a decomposition of image quality in the media analysis? This would give us guidance for developing and optimizing new image formats and make recommendations on their use. Currently there is a lot of confusion on what image qualities would actually matter on the web, and different teams are optimizing different ends of the quality spectrum.

Tracing what is the quality (or just bpp if

[2021-07-19 23:27] logicalphase commented on #2157
Hey @jessthebp - based on the criteria set forth in item #1 - the outline document. Can you take a quick look to make sure you're good to go on custom metrics, etc. for analysis. If so I'd like to mark item #3 complete. Thanks again for your help.

[2021-07-19 23:34] logicalphase commented on #2154
Hey @jdevalk - Can you confirm that you're good to go on gathering metrics for analysis? If so, I'd we'd like to mark item #2 as complete. Thank you again for your assistance.

[2021-07-20 11:09] jdevalk commented on #2154
I'm good to go on that!

[2021-07-21 02:10] logicalphase commented on #2154
Thanks so much. I'll mark that ask as done.

[2021-07-22 08:53] bobbyshaw commented on #2155
I didn't get notified about the comments on the google doc. Let me review those over the weekend and then we can consider the outline completed.

[2021-07-23 12:31] lvandeve commented on #2160
I'm going to drive the authoring side of the Compression 2021 chapter. I propose the following division for analysis:

@paulcalvano to run the same analysis as last year

@lvandeve with the help of other authors to run the new analysis on compression levels

[2021-07-23 23:03] eeeps commented on #2144
@jyrkialakuijala I was able to get a BPP custom metric in place (just) in time this year, so we'll be able to, for the first time, talk about the BPP of all images surveyed in this year's crawl!

Lacking a time machine, we do not have this information for previous years' crawls.

I've brainstormed the idea of taking a statistically significant random sample of crawled image URLs, re-downloading th

[2021-07-23 23:35] eeeps commented on #2144
@addyosmani:

After talking with @siakaramalegos (who's heading up the Performance chapter), we decided a good rule of thumb for how to divide up subjects which deal with both images and performance was: if the topic is about how images are affecting whole page performance (e.g., as measured by CWV), Performance gets first dibs; if it's about how images themselves are performing, Media gets first

[2021-07-25 08:42] bobbyshaw commented on #2155
Draft outline comments reviewed, I'm happy to officially mark the outline as complete. The actual content will depend on what metrics can be achieved and what we find in the results

@rrajiv As I understand it, the next step is to document all of the metrics/queries that will be used. I believe we should be looking to add the queries to this repo https://github.com/HTTPArchive/almanac.httparchive.

[2021-07-26 20:32] rrajiv commented on #2155
Hi @bobbyshaw - yes, this is on my list and i'll start by going through the 2020 queries this week. As Iam a new contributor to this repository, I also will figure out how to commit to the 2021 page.

[2021-08-01 21:59] rrajiv commented on #2155
Hi @bobbyshaw - I went through the 2020 queries. They can be certainly updated to 2021 and I'll start working on those.

Should I just update all of them to 2021, and then we figure out what we can use and what needs to be written new?.

[2021-08-03 05:31] rviscomi opened #2289 "Investigate quality of July 2021 Lighthouse results"
Lighthouse tests in the July crawl may have been affected by https://github.com/GoogleChrome/lighthouse/issues/12835. We should analyze the July table to see how many LH reports are unusable. If it's really bad we may need to use the June dataset for Web Almanac research, or wait for the August crawl if LH v8 is important.

[2021-08-03 08:45] #559 closed

[2021-08-03 13:53] tunetheweb commented on #2289
I've actually run some tests for PWA chapter on the results and didn't notice anything odd.

Looking at the dashboard the size of the data, and the number of rows has gone down ever so slightly:

![Lighthouse table sizes](https://user-images.githubusercontent.com/10931297/128024498-64f2462e-45a4-4c83-adee-6dfa3fc50471.png)

The size may be explained by [no longer tracking LCP images](https://twitt

[2021-08-03 14:08] bobbyshaw commented on #2155
@rrajiv Yep, that sounds like a good place to start. If you can pull them all in and add a reference to the google doc, we can then do a mapping between topic and metric to see where we might need some other queries written.

[2021-08-03 14:14] pmeenan commented on #2289
We'd get no json but it was a 100% failure so retries wouldn't have helped.  Looks like most of the crawl completed before 92 rolled out so we should be good (mobile may have been impacted a bit more since it runs longer).

[2021-08-03 14:16] tunetheweb commented on #2289
But we don't run Lighthouse on desktop and only the combo of Chrome and Lighthouse that affects it so only mobile is impacted anyway?

[2021-08-03 15:10] pmeenan commented on #2289
Doh, sorry. You're right. Ignore me.

On Tue, Aug 3, 2021 at 10:16 AM Barry Pollard ***@***.***>
wrote:

[2021-08-04 00:00] rockeynebhwani opened #2292 "Wappalyzer - Cookie Compliance results observations"
While browsing some sites using Wappalzyer chrome extension, I was seeing multiple Cookie Consent Solutions being reported for a site. So, I ran this query on July 2021 mobile table

[code]

15,109 sites found where more than one Cookie consent solutions are being reported. Maximum being 4 such solutions on a single site. Output of the query is attached below -

[More than 1 Cookie consent solutio

[2021-08-04 02:29] bryantnovas commented on #2141
He Almanac team,

I'm interested in contributing as an analyst, I'm a recent data science bootcamp grad and have previous experience with html css and javascript

[2021-08-04 03:24] pankajparkar commented on #2141
@bryantnovas that's fantastic!
@NishuGoel can you please help him to get access to Almanac Javascript resources?

[2021-08-04 12:13] GregBrimble commented on #2174
And we've got the run's results! July's data is up so we can now play around in BigQuery.

I've started the queries in #2293, and have requested edit access to the [results sheet](https://docs.google.com/spreadsheets/d/1uEA217YjpX1xdRVBnIz9ekjpjIrpGIh5GwUxvnzJNig/edit) so I can start putting stuff down there. Checked the error log as a first priority, and so far, it looks pretty good. We have our

[2021-08-04 22:53] max-ostapenko commented on #2292
@rockeynebhwani Thanks for raising it.

Indeed I see the following issues:
1. _Quantcast Choice_:  `__tcfapi` is not related to this technology
2. and [_Hubspot Consent Banner_](https://developers.hubspot.com/docs/api/events/cookie-banner): `_hsp` and script don't define that consent banner is activated, it is rather always loaded with Hubspot tracking library. Would you maybe try something like `

[2021-08-05 20:01] rockeynebhwani commented on #2292
Thanks @max-ostapenko

1 - I agree and I have raised a fix to issue this - https://github.com/AliasIO/wappalyzer/issues/4301
2 - Thanks for insights on hubspot but I am in two minds here. Clearly the JS being loaded is for cookie consent management and it's not ideal for HubSpot to load this script even though it's not in use... This insight actually helps us identify issues like this and may be h

[2021-08-05 20:16] rockeynebhwani commented on #2292
@max-ostapenko

When I query for 'HubSpot Analytics', I get 72,813 results -

[code]

But querying for 'HubSpot Cookie', I get 15,246 results -

[code]

This makes me think that HubSpot by default doesn't include the 'consent' script. I am not familiar with HubSpot but is it a possibility that site owners are leaving some setting in HubSpot ON by mistake which results in inclusion of cookie consen

[2021-08-08 22:28] rrajiv commented on #2155
@bobbyshaw - I got the ball rolling. Based on me going through the 2020 queries and updating them to 2021, I put a list out of what we have so far, after replacing 2020 with 2021. I hope to have some time early this week to go through the outline to find the gaps in our 2021 list

Link to PR: https://github.com/HTTPArchive/almanac.httparchive.org/pull/2300

[2021-08-09 11:24] max-ostapenko commented on #2292
@rockeynebhwani I still see the library is included by default and provides some core consent management API.
If we look into the websites that don't list 'HubSpot Cookie' technology we will still have the `_hsp` variable and banner script loaded:
- https://en.mackerel.io/
- https://www.mobilize.io/

For the needs of the privacy chapter, I would be interested in what consent management is actually

[2021-08-09 11:43] rockeynebhwani commented on #2292
@max-ostapenko - I am seeing 'HubSpot Cookie banner' being identified by Wappalyzer for following sites -

https://blog.ardesia.it/
https://holitrees.lt/
https://www.infoguard.ch/

Sometimes it just take time for chrome extension to pick this up depending upon how script is loaded. I typically wait for some time before clicking on chrome extension.

[2021-08-09 16:00] mor10 commented on #2156
What's the status on this project now?

[2021-08-09 17:35] max-ostapenko commented on #2292
I didn't know there is a Wappalyzer extension, thanks.

So hopefully the state of technology just was changed on all those websites since July, which is the cause of the difference between extension and dataset.

P.S. Did you saw the case when the Wappalyzer extension shows the Hubspot Analytics but doesn't show Hubspot Cookie?

[2021-08-09 19:36] rockeynebhwani commented on #2155
@alankent  - Lately, I have noticed 3 things -

-  Now a days, some payment implementations required a META tag which is included on homepage also.
-  Also SPA sites, tend to include any payment related scripts site-wide.
-  Wappalyzer looks at the ARIA label on payment SVGs in footer which are common on Ecommerce sites. It's not very consistent currently as it does for VISA and some other payment

[2021-08-09 22:21] #991 closed

[2021-08-12 04:18] Navaneeth-akam commented on #2159
@rviscomi : I had a chat with @paulcalvano few weeks back and he will help us with analysis on this. I have also updated few milestones based on current progress

[2021-08-12 04:19] Navaneeth-akam commented on #2159
Thanks @keane234 !!! Will update you in the list of reviewers

[2021-08-13 00:24] rviscomi commented on #2156
@mor10 just posted a project update to the GitHub team page: https://github.com/orgs/HTTPArchive/teams/2021-web-almanac/discussions/8

[2021-08-13 23:58] eeeps commented on #2144
August 13 update:

- @dougsillars and I have (finally!) completed the Images and Video sections of the outline.
- I haven't been able to get in touch with our analyst, @heymarkreeves, after a couple of weeks of trying. @dougsillars and I will start the analysis work ourselves, and keep an ear to the ground for any help we could get.
- @TrevorFSmith let me know that he won't be able to contribute a

[2021-08-16 02:52] rrajiv commented on #2155
It took me a while to come up with a query that I think works.. I tested it on the sample table first as Iam still waiting for access to the GCP project. Seems ok to me but i'll let everyone weigh in.

[code]

Few examples based on the sample data set:

https://estudiafeliz.com/
https://academy.kiwanis.eu/
https://chinawok-schwetzingen.de/
https://freebirds.com/

[2021-08-16 02:58] rviscomi commented on #2155
@rrajiv are you on the [Slack](https://join.slack.com/t/httparchive/shared_invite/zt-45sgwmnb-eDEatOhqssqNAKxxOSLAaA) channel? Please DM me so I can get you added to the GCP project.

[2021-08-16 12:16] tunetheweb opened #2312 "Blink Feature Rows are triplicated"
Run this:

[code]

Notice we get back three rows for each date. And it's the same for all the features. Not sure why but looks like it's been going on for a while...

Seems to be same issue in `httparchive.blink_features.features` (which ultimately drives the usage table so not surprising).

The query in the scheduler looks fine to me so a bit confused why this is. Or how to clean it up....

Any i

[2021-08-16 12:20] rockeynebhwani opened #2313 "Wappalyzer technolgies table not showing expected results for Ecommerce"
Take an example of this site - https://www.maxtondesign.co.uk/. This site uses 'OpenCart' Ecommerce platform as per Wappalyzer chrome extension and also as per BuiltWith (https://builtwith.com/detailed/maxtondesign.co.uk). BuiltWith shows OpenCart from Aug-2018.

When we query technologies table for this site, we don't see Ecommerce category at all. This impacts the stats for Ecommerce chapter.

[

[2021-08-16 14:43] tomayac commented on #2152
@christianliebel  @hemanth: We can query data now 😃! Here's an example (SQL courtesy of @rviscomi):

[code]

In the query, `fuguAPI` can be any of…

[code]

[2021-08-16 14:48] tomayac commented on #2152
[Example spreadsheet](https://docs.google.com/spreadsheets/d/1uiFaA63arcOvZiqqFz_7zAeUmh_wX8rP7pcQdQ8kv4M/edit?usp=sharing) (shared with @hemanth and @christianliebel and the Google Chrome organization.)

[2021-08-16 16:36] rviscomi commented on #2312
Do you have a query that shows the duplication in the `features.features` table? I've recently deduplicated that table so I wouldn't expect it to still have issues. I haven't yet deduped the `features.usage` table so any existing redundancy is expected.

[2021-08-16 16:45] tunetheweb commented on #2312
Actually can't see any for `features.features`. Must have been mistaken about that.

[2021-08-16 19:25] rviscomi commented on #2143
⛔ Milestones 1 and 2 are still unchecked so I'm very worried that this chapter has fallen too far behind to be able to launch on time. All other chapters are currently on Milestone 3 (analyzing the data) but this chapter has been blocked on the outline.

@svgeesus's suggestion to rerun 2020 queries is better than having no data, but we need to be sure that @jpamental still has the interest/availab

[2021-08-17 08:42] #1293 closed

[2021-08-17 08:43] #2289 closed

[2021-08-18 12:56] jpamental commented on #2143
Hi there - I'm so sorry. I thought I had finalized the outline a while ago, but just went back to make a couple of tweaks and have checked it off above. I am definitely willing and able to continue as author.

@jessthebp if you have any questions about the outline please let me know and I'll get back to you right away.

Here's a link to the doc: https://docs.google.com/document/d/18bIMkKA48CWGTIrQ

[2021-08-19 11:58] RReverser commented on #2168
@carlopi @jsoverson I've started on a Rust tool to collect Wasm content stats here. Feel free to contribute if you'd like to write some Rust or have further ideas: https://github.com/RReverser/wasm-stats

This is what the debug output looks like for Google Earth Wasm for now:

[code]

In principle this is looking good, but I'm getting worried because this is already quite a lot of info that needs

[2021-08-19 14:52] tunetheweb commented on #2217
OK I've updated [the master template](https://docs.google.com/spreadsheets/d/1OtE2wqjGOMy7pRi3uorK7ITVDJXAVoP-r69k8eeKzeU/edit#gid=0) with he changes as people are going to start needing this soon.

I'm still not 100% convinced on the black labels, but I guess we'll discourage its use to show the primary data (grey) as much as possible. It's a pity Google Sheets doesn't allow you to use an outline

[2021-08-19 14:56] tunetheweb commented on #2217
Another option is to use the grey colour, which maybe is better as not quite as stark as pure black:

![Using grey colour for label for both series, instead of black](https://user-images.githubusercontent.com/10931297/130091040-2fbc7483-c07f-45ea-92d4-7781c486405c.png)

Always risk of getting the numbers confused, but if there is not enough space, such that that becomes a risk, then the secondary

[2021-08-19 15:03] tunetheweb commented on #2217
Though using the grey doesn't work if the label flips to the inside :-(

![WCAG tester for Almanac grey on Almanac green](https://user-images.githubusercontent.com/10931297/130092585-00a851b4-ad8b-47f1-b6e6-6bd28c1e8aaf.png)

[2021-08-19 15:21] shantsis commented on #2217
Who said we're all Americans eh? 🇨🇦

Having the secondary numbers removed looks odd. Maybe the numbers decrease in size, or we remove both and rely on clicking/focusing on the bars? Or we can pick a different color for inside the bars - such as white text for the gray

[2021-08-19 15:26] tunetheweb commented on #2217
Should have said "North Americans" 😁

Those are bad examples of removing numbers as there's clearly enough space for both in those examples.

However, when there's not enough space it can be helpful to remove one set of number labels:

![Chart only showing labels for one series](https://user-images.githubusercontent.com/10931297/130096251-549ea9c3-9aae-4351-add4-f87f4e97cef6.png)

And when there's

[2021-08-19 15:49] shantsis commented on #2217
Canadians actually spell it as "colour" 😉

this technically makes sense but at a glance (or if I was tired) I still think I'd misinterpret it. looks good for the last case though

[2021-08-19 18:55] tunetheweb commented on #2217
Personally I like it. I think it's clearer to read that chart with one set of labels, rather than the one without, to get a sense of the value of those bars without continually having to scan the eyes but to the axis. So if we can use one set of labels I'd prefer it over none. But sometimes even one set of labels is too much (like the last chart).

But others may differ - and maybe I'm weird and o

[2021-08-19 20:31] shantsis commented on #2217
I suppose, but do we get much feedback in general? It’s not something I’d complain about even if I was confused 😅

[2021-08-20 14:25] tunetheweb commented on #2217
Not as much as I'd like! But we do get lots of feedback from various sources (on GitHub, on Twitter, on the chapter comments, with various surveys we send out to contributors...etc).

A big one is authors and reviewers when they are seeing their chapter ready for publication so are very involved in ensuring they are happy with what is being published with their name on it so most go over it with a

[2021-08-20 15:00] shantsis commented on #2217
Okay, we can leave it be then until we hear otherwise

[2021-08-22 20:09] obto commented on #2147
@alextait1

Data for all but 4 queries (the ones looking into the CSS) are completed and have their data input in our sheet: https://docs.google.com/spreadsheets/d/1WjAM5ZnHjMQt-rKyHvj2eVhU_WdzzFTjpoYWMr_I0Cw/edit#gid=150155313

Visualizations will be added next week along with comments for how to read the data.

The explanations for 90% of the queries are the same as last years, so please refer t

[2021-08-23 01:15] rrajiv commented on #2155
Hi all - I have been a little busy so I will start running the queries from this week onwards. As a start, I plan on starting with what we used in `2020` and run the same queries for `2021`.

@rockeynebhwani - the above is a sample just to get a bunch of sites as examples which match payment but not ecomm. Is there anything you want to explore here?

@bobbyshaw - anything else you are looking for

[2021-08-23 01:24] obto commented on #2151
@ashleyish

Data for all but one query (client hint directives) are completed and have their data input in [our sheet](https://docs.google.com/spreadsheets/d/1mdma245ja_THTBApaJTeS4vmLY_Fn8VC6Kd8qx7wp-o/edit#gid=2105386116):

Visualizations will be added next week along with comments for how to read the data.

The explanations for 90% of the queries are the same as last years, so please refer to [

[2021-08-23 03:24] logicalphase commented on #2155
@rrajiv Thank you for the update. Much appreciated 😊

[2021-08-23 06:29] konfirmed commented on #2154
Hi, I'll like to help here if needed

[2021-08-23 06:29] konfirmed commented on #2143
Hi, I'll like to help here if needed

[2021-08-23 09:27] rockeynebhwani commented on #2155
@rrajiv - I ran  your query on main tables and I found some issues with our crawl. Issue raised here - https://github.com/HTTPArchive/httparchive.org/issues/414. Basically, cookie based detection in Wappalyzer was not working. This was the case for all technologies and not only for Ecommerce platforms. For example, OpenCart as a platform was never detected as we have only cookie based detection fo

[2021-08-23 12:26] tunetheweb commented on #2155
But this is no different than last year is it @rockeynebhwani ? Or is this a new problem only affecting this years stats?

[2021-08-23 16:11] rviscomi commented on #2155
Couldn't we analyze the cookie data in the `requests` table to reproduce the missing detection in July?

[2021-08-23 19:42] logicalphase commented on #2154
@konfirmed Thank you for your interest in working on the project. Since we're many months into the process for 2021, it would be helpful to specifically what your interests are and what role you would be most interested in. The descriptions can be found under the content team table above. Cheers!

[2021-08-23 22:27] rockeynebhwani commented on #2155
@tunetheweb  - Yes .. after going through Pat's fix, I can say that this problem affected last year's stats also (Not only for Ecommerce but for CMS chapter also possibly).

@rviscomi  - It will be very cumbersome to do this using requests table.. too many Ecommerce platforms and many have cookie based detection in addition to other types.. I think we should analyse based on July-2021 and may be r

[2021-08-23 22:33] tunetheweb commented on #2155
SGTM.

Looking at [Wappalyzer's ecommerce stats](https://www.wappalyzer.com/technologies/ecommerce/) it's likely OpenCart is in the top 10 so may want to consider if we should still show the [top 10 list like we did last year](https://almanac.httparchive.org/en/2020/ecommerce#fig-2) without this (e.g. maybe show a top 5 instead?), or continue with top 10 and explain it's absence (which might cause

[2021-08-24 04:20] konfirmed commented on #2154
@logicalphase Depending on where help is wanted, I would like to be a reviewer.

[2021-08-24 05:03] RReverser commented on #2168
@carlopi @jsoverson Ping. What do you think about those metrics / changes?

[2021-08-24 06:00] carlopi commented on #2168
I am generally on board with keeping the scope manageable (= cutting stuff), later I will check wasm-stat and see whether I can be of use

[2021-08-29 17:06] obto commented on #2147
@alextait1 The spreadsheet has been updated with comments. Let me know if you have any questions!

[2021-08-29 17:06] obto commented on #2151
@ashleyish The data sheet has been updated with comments and should be ready to go. Let me know if you have any questions

[2021-08-29 17:10] obto commented on #2146
@patrickstox @rvth @jessthebp @jroakes

Hey everyone, wanted to give you a heads-up and reminder that the July website crawl has completed and chapters now need to:

1. Analysts: Please write, test and publish the results of all the queries in the draft PR you should have created last month. We've got 3 chapters (PWA, Mobile Web, Accessibility) filled with every type of query you can imagine that

[2021-08-29 17:10] obto commented on #2148
@siakaramalegos @Nithanaroy

Hey everyone, wanted to give you a heads-up and reminder that the July website crawl has completed and chapters now need to:

1. Analysts: Please write, test and publish the results of all the queries in the draft PR you should have created last month. We've got 3 chapters (PWA, Mobile Web, Accessibility) filled with every type of query you can imagine that you can ref

[2021-08-29 17:10] obto commented on #2149
@ydimova @max-ostapenko @VictorLeP

Hey everyone, wanted to give you a heads-up and reminder that the July website crawl has completed and chapters now need to:

1. Analysts: Please write, test and publish the results of all the queries in the draft PR you should have created last month. We've got 3 chapters (PWA, Mobile Web, Accessibility) filled with every type of query you can imagine that you

[2021-08-29 17:11] obto commented on #2150
@SaptakS @GJFR

Hey everyone, wanted to give you a heads-up and reminder that the July website crawl has completed and chapters now need to:

1. Analysts: Please write, test and publish the results of all the queries in the draft PR you should have created last month. We've got 3 chapters (PWA, Mobile Web, Accessibility) filled with every type of query you can imagine that you can refer to if you'

[2021-08-29 17:14] obto commented on #2152
@christianliebel @tomayac Looks like you're making steady progress on analyzing the data.

Just wanted to let you know we've got 3 chapters that have their analysis complete (PWA, Mobile Web, Accessibility) that you can refer to if you've ever got a question for how to grab the data you need.

Looking forward to seeing the chapter start to take form and if you've ever got any questions just ping m

[2021-08-30 00:08] rrajiv commented on #2155
Hi all,

I have completed an initial run of the queries for 2021.

spreadsheet: https://docs.google.com/spreadsheets/d/1HCfrXJ52lV46UvxOvDVjJj70fOeFVrTTD8DUm0tPVXE/edit#gid=1519192867

I'll start filling in the comments into the cell this week onwards.

Iam using the 2020 Ecommerce diagram titles as a reference to 2021 so that we can connect whatever that has been done in 2020 to the new data in 2

[2021-08-30 07:27] tomayac commented on #2152
I have just added the queries as part of https://github.com/HTTPArchive/almanac.httparchive.org/pull/2322.

[2021-08-30 09:15] GJFR commented on #2150
Hi @obto. There have been some issues regarding the `well-known` custom metric. I have fixed the issue in [this PR](https://github.com/HTTPArchive/legacy.httparchive.org/pull/230), but still, the current crawl data will represent an undercount due to JS errors.

Would it be possible to push the fix for the September crawl such that we could still use this metric for the chapter?

[2021-08-30 15:16] alextait1 commented on #2147
@obto thanks so much, I'll be taking a look on Friday this week!

[2021-08-30 17:41] rockeynebhwani commented on #2155
@rviscomi  - While looking at results put together by @rrajiv, I noticed that number of origins for eCommerce platforms like WooCommerce, Shopify etc. don't match with Core Web Vitals Technology report.

These are results from @rrajiv's spreadsheet (queries were for July-2021 table)

![image](https://user-images.githubusercontent.com/1718757/131381270-37ba2469-a2f3-4fe6-907c-2932fe5f78bb.png)

Num

[2021-08-30 17:52] rviscomi commented on #2155
I don't have access to @rrajiv's queries so I'll defer to him. The CWV Tech Report query is available [here](https://discuss.httparchive.org/t/new-dashboard-the-core-web-vitals-technology-report/2178#querying-the-raw-data-6).

[2021-08-30 17:55] rockeynebhwani commented on #2155
@rviscomi - This is @rrajiv's query.. He is just using 2020 queries for now... I just changed table to 2021 July and ran and I get results what @rrajiv has in his spredasheet

[code]

[2021-08-30 18:22] obto commented on #2150
How major is that metric to the chapter? We'd really prefer having the entire almanac using the July data.

If it's a more minor metric it'd be best to shelve it and save it for next year

[2021-08-30 18:44] rrajiv commented on #2155
All the queries for 2021 are currently on this branch: https://github.com/HTTPArchive/almanac.httparchive.org/tree/ecommerce-sql-2021/sql/2021/ecommerce

[2021-08-31 03:32] rviscomi commented on #2155
I think the source of the discrepancy is that the July 2021 CrUX dataset was released a couple of weeks ago and we won't run the technology detections on it until the September 2021 HTTP Archive crawl. So the 100k difference may be attributed to websites that fell out of the CrUX dataset between May and July. In other words, the detections HTTP Archive ran in the July crawl were based on websites

[2021-09-01 08:23] GJFR commented on #2150
I'd say it's not that major, but I think @SaptakS has a better idea about that.

Because the presence of a page's `/robots.txt` endpoint was already being captured by another metric, I could check the amount of positives that were missed in the July crawl due to the errors:

| Hosts with /robots.txt: | Actual |  Measured |  Error |
|------------|-----------------------------|------------|-------|

[2021-09-01 17:02] SaptakS commented on #2150
I don't think it's necessarily a major metric. I think we were just trying to get some new metrics this time from security.txt and robots.txt, but not critical for the chapter. @tomvangoethem @nrllh what do you think?

I am also curious about this. Do we keep this if the error is not much? @obto thoughts?

[2021-09-03 06:08] j9t commented on #2142
@AlexLakatos, not to give you a feeling you’ve been abandoned—anything our group of reviewers can do or help with at the moment?

[2021-09-03 06:22] kevinfarrugia commented on #2142
An update from my end too that I'm going through the queries and will have some updates in the next few days.

[2021-09-04 17:29] tunetheweb commented on #2162
FYI, the slug (used in the chapter URLs and the like) has been changed from `http2` to `http` to reflect the new chapter names.

The 2019 and 2020 HTTP chapters are still called "HTTP/2" since they concentrated on them, ven if the URL is just `/http` now.

This years chapter will be called "HTTP".

[2021-09-04 17:30] tunetheweb commented on #2162
@dominiclovell / @rmarx , Will try my best to finish out the queries tomorrow and get them run. Had a few other things on my plate but not forgotten about you! Will let you know when done.

[2021-09-06 15:19] RReverser commented on #2168
Hmm I'm guessing I'll just have to go ahead with my best judgment...

[2021-09-07 07:59] tomvangoethem commented on #2150
I think it's best to keep it for next year; we already have plenty of content & having to explain that there is an (additional) error rate in these measurements might complicate things for the reader.

[2021-09-08 15:15] jsoverson commented on #2168
I must not have submitted my comment before traveling, sorry.

I don't think the operand details are going to be valuable enough and the stats around security settings are probably niche enough to ignore. I had some work done on the rust project but didn't get to a useful stopping point before I left.

[2021-09-08 16:06] RReverser commented on #2168
Thanks for the response. Meanwhile I wrote a small script and downloaded most of the Wasm files - looks like out of ~2.7K in dataset only ~2.2K are unique URLs + reachable so that's what I'll be next analyzing using the Rust repo above.

[2021-09-09 11:06] RReverser commented on #2168
After some retries got to almost ~2.3K unique URLs, which, interestingly, results in only 713 unique Wasm files (many are copies under different URLs).

That's fewer than I hoped but in itself it's also an interesting stat related to reusability of Wasm.

[2021-09-09 15:55] RReverser commented on #2168
One interesting question that arises from this level of reusability is: do we want to aggregate stats by pages, by websites (domains), or by unique Wasm modules?

E.g. is "5% of unique Wasm modules rely on SIMD" more or less valuable than "5% of all pages using Wasm rely on SIMD" or "5% of websites using Wasm relies on SIMD"?

It's tempting to do all of it, but multiplied by number of stats it's j

[2021-09-09 16:30] rviscomi commented on #2168
I think stats relative to # or % of pages are most easily understood by readers.

[2021-09-09 16:40] RReverser commented on #2168
Maybe, but then if the same library is included on lots of pages, it can "drown" stats from Wasm used on a single popular website. The balance seems tricky...

[2021-09-09 22:00] rviscomi commented on #2161
@Zizzamia @jessnicolet @WilhelmWillie @roryhewitt @boosef queries have been written and results saved to the [results sheet](https://docs.google.com/spreadsheets/d/1-v3yR0LZIC3t4zWtqTgR3jJsKjjRMP-HATU2caP8e2c/edit?usp=sharing). Could you all please review the results and leave comments if anything looks fishy? (you'll need to request access in order to comment)

[2021-09-09 23:30] rrajiv commented on #2155
Hi all - let me know if there are any more queries to write/research/run. Thanks

[2021-09-10 12:49] bobbyshaw commented on #2155
Thanks @rrajiv. I'll try and get back to you in the next week on this.

[2021-09-10 23:08] kevinfarrugia commented on #2142
I have started putting some of the data in a [Google Sheet](https://docs.google.com/spreadsheets/d/1cg621HiQVwgNSsNpSM7w3s4ekbp31WWbn9TULSkToSA/edit?usp=sharing) and will be updating the PR once I clean up some unused queries. Early feedback is welcome.

[2021-09-12 17:29] obto commented on #2150
@SaptakS We'd be ok with you including the metric if your team does the following

1. Mention the possible error when presenting the data from this metric
2. Re-run that one metric with the September data to see if there is a large difference in the results
3. If there is a large difference, we'll have to exclude it from the chapter and wait till next year

How does that sound?

[2021-09-12 18:10] SaptakS commented on #2150
I think rerunning on September data to check how large of a difference it is makes sense to me, if it's not too much of an effort @GJFR . I agree it makes sense otherwise to exclude it from the chapter this year.

[2021-09-13 15:11] rviscomi commented on #2141
👋 Hi @NishuGoel @pankajparkar @ashleyish @max-ostapenko, just checking in on the chapter progress. How is the analysis coming along?

[2021-09-13 15:12] rviscomi commented on #2142
Thanks for the update @kevinfarrugia! @AlexLakatos have you had a chance to start reviewing the results?

[2021-09-13 15:12] rviscomi commented on #2174
👋 Hi @jono-alderson @cyberandy @GregBrimble, just checking in on the chapter progress. How is the analysis coming along?

[2021-09-13 15:13] rviscomi commented on #2143
👋 Hi @jpamental @jessthebp, just checking in on the chapter progress. How is the analysis coming along?

[2021-09-13 15:14] rviscomi commented on #2144
👋 Hi @eeeps @Yonet @dougsillars @IsaacSichangi @heymarkreeves, just checking in on the chapter progress. How is the analysis coming along?

[2021-09-13 15:17] rviscomi commented on #2168
👋 Hey @RReverser, just checking in on each chapter's progress. It looks like you're all set but let me know if you run into any issues.

[2021-09-13 15:17] jpamental commented on #2143
I've been waiting to hear from @jessthebp on the analysis, but if I missed stuff becoming available I'll dive in!

@konfirmed let me know what you'd be interested in doing! I think at this point we're waiting on data analysis before I can jump in and start writing. Help in any area would be welcome!

[2021-09-13 15:18] rviscomi commented on #2157
👋 Hi @logicalphase @jessthebp, just checking in on the chapter progress. How is the analysis coming along?

[2021-09-13 15:18] rviscomi commented on #2158
👋 Hi @kevinfarrugia @Nithanaroy, just checking in on the chapter progress. How is the analysis coming along?

[2021-09-13 15:19] rviscomi commented on #2159
👋 Hi @Navaneeth-akam @paulcalvano, just checking in on the chapter progress. How is the analysis coming along?

[2021-09-13 15:20] rviscomi commented on #2160
👋 Hi @lvandeve @jyrkialakuijala @paulcalvano, just checking in on the chapter progress. How is the analysis coming along?

[2021-09-13 15:21] rviscomi commented on #2162
👋 Hi @dominiclovell @rmarx @tunetheweb, just checking in on the chapter progress. How is the analysis coming along?

[2021-09-13 15:24] kevinfarrugia commented on #2158
We are communicating on Slack and will be splitting up the effort. Hopefully we will have some good progress soon.

[2021-09-13 15:25] logicalphase commented on #2157
Hi Rick,

Admittedly, I've gotten behind this past couple of weeks implementing org changes with acquisition of company and today is another stuffed day of meetings. I'm hoping @jessthebp can help pull me along on the data issues outstanding, so I can step back in on Wednesday when done here and forge ahead.

[2021-09-13 15:30] RReverser commented on #2168
Yeah no new issues right now. Chatted a bit more, we're going with breakdown by pages then.

[2021-09-13 17:21] GregBrimble commented on #2174
Hey, made decent progress the weekend before last, but it's a busy week at work, this week, so haven't had a chance to get back to it. I'll get this completed next weekend ☺️

[2021-09-13 18:09] rviscomi commented on #2159
Unchecking Milestone 2 until the draft PR is created

[2021-09-14 09:53] konfirmed commented on #2143
@jpamental I am interested in reviewing but can help with data analysis if that's the current hold up.

[2021-09-14 12:18] GJFR commented on #2150
@SaptakS Sure, no problem!

[2021-09-14 18:22] NishuGoel commented on #2141
Hi @rviscomi, @pankajparkar and myself are in the middle of writing queries for the metrics here in this [Draft PR](https://github.com/HTTPArchive/almanac.httparchive.org/pull/2323).
Would love some help from anyone who has done this before, especially the part of creating visuals in excel.

[2021-09-16 02:37] dominiclovell commented on #2162
Hey @rviscomi, I've reviewed some of Barry's updates. I'll need to sync with Robin, but no concerns at this stage.

[2021-09-16 12:52] RReverser commented on #2168
FWIW I've analyzed the downloaded Wasms using the current state of wasm-stats repo above, saved results to JSON and imported to BigQuery, so now it's possible to join them with the `summary_requests` and the list of Wasm URLs to do any kinds of aggregations.

I'm happy to share access if anyone wants it (and if I figure out how to do that in BigQuery...)

![image](https://user-images.githubusercon

[2021-09-17 18:02] tunetheweb commented on #2162
@dominiclovell @rmarx @ibnesayeed I've run all the queries and placed the results here:
https://docs.google.com/spreadsheets/d/1pCdpndXTXexSIZLmVc-aUbp5PcHhZ83hbEEfmDyfD0U/edit#gid=2077755325

I've added a few visualisations for some of the stats, but can add more as needs be.

Can you start reviewing the data while we wait for the pull request #2309 to be reviewed by other analysts?

I've also cr

[2021-09-19 12:07] bobbyshaw commented on #2155
Hey @rrajiv. Thanks for all your work on the metrics. I've been through the google doc and annotated where each one will be used. This is helpful to see where there might be some gaps.

If it's not too much bother, I'd be interested in getting stats on a few more technology categories:

- Top "JavaScript frameworks" category
- Top "JavaScript libraries" category
- Top CMS technology category
- Top

[2021-09-20 03:11] rviscomi commented on #2168
@RReverser let's coordinate to get this data imported into the public `httparchive.almanac` dataset, so the results can be backed by publicly runnable queries.

[2021-09-20 13:13] rrajiv commented on #2155
@bobbyshaw - for the following, I assume you just mean sites that are "Ecommerce" && one of the following?. I.e What you are looking for is "Top <something> for Ecommerce sites"?

Top "JavaScript libraries" category
Top CMS technology category
Top "Page Builders” technology category
Top “A/B testing” technology category.
Top “Personalisation” technology category
Top “Loyalty & Rewards” technology

[2021-09-20 14:16] bobbyshaw commented on #2155
@rrajiv

Yes, please.

I think this would be enough to be a point in the article. Basically [this query](median_lighthouse_score_ecommsites.sql) without the category filter would tell us whether ecommerce sites are on average over or under performing the rest of the web.

Thank you!

[2021-09-20 14:35] AlexLakatos commented on #2142
Not yet, but I think I'll get to them this week.

[2021-09-20 18:33] obto commented on #2156
@denar90 Can you create a PR to track the progress of what queries need to be written? Similar to this one for the [PWA chapter](https://github.com/HTTPArchive/almanac.httparchive.org/pull/2272)

Then we can also tick off that "Gather data" checkbox

[2021-09-20 20:15] jessthebp commented on #2143
Hi, @jpamental + @konfirmed -- I'm working on the analysis this week. I'll keep you updated, let me know what else I can do.

[2021-09-20 20:15] jessthebp commented on #2157
Hi, @logicalphase - I'm working on the analysis this week and will keep you updated.

[2021-09-20 20:24] logicalphase commented on #2157
Thanks. Much appreciated!

[2021-09-21 00:18] rrajiv commented on #2155
@bobbyshaw - thanks!. I’ll work on these over the next few days and get back to you.

[2021-09-22 02:39] rrajiv commented on #2155
@bobbyshaw - I got all of them except for these 3. Can you let me know where you saw them?. I did a dump of all the categories and I don't see them

Top “Translation” technology category
Top “Buy now / pay later” technology category

For `hreflang`, Iam able to identify sites that use it using the query below (sample set only). What are you looking to collect from here?

[code]

Same with the CSP,

[2021-09-22 08:27] bobbyshaw commented on #2155
@rrajiv Hey, no problem. I was looking here:

- [Reviews](https://github.com/AliasIO/wappalyzer/blob/75c57f63dafbd0b0ccd56dce5477ebc276c3ea78/src/categories.json#L346)
- [Buy now pay later](https://github.com/AliasIO/wappalyzer/blob/75c57f63dafbd0b0ccd56dce5477ebc276c3ea78/src/categories.json#L350)
- [Translations](https://github.com/AliasIO/wappalyzer/blob/75c57f63dafbd0b0ccd56dce5477ebc276c3ea78

[2021-09-22 13:32] rrajiv commented on #2155
@bobbyshaw - I see `Reviews` and `Translations` appear in `httparchive.technologies.2021_08_01_*`. I don't see `Buy now pay later` perhaps because that category hasn't been seen in the wild yet?. `httparchive.technologies.2021_07_01_*` does not have these 3 new categories.

I'll work on the other 2 queries sometime this week.

[2021-09-22 16:57] rockeynebhwani commented on #2155
@rrajiv / @bobbyshaw  - I recenly added 'Reviews' / 'Translation' / 'Buy now pay later' / 'Loyalty & Rewards' category very recently in Wappalyzer. Even if you see some data, it will be very limited. I think we should look at these next year.

[2021-09-22 17:48] rockeynebhwani commented on #2155
@rrajiv  - Topic of hreflange was covered last year in SEO chapter - https://almanac.httparchive.org/en/2020/seo#hreflang. You should be able to find relevant queries from last year and filter just for Ecommerce.

[2021-09-23 19:30] tunetheweb commented on #2162
Hey @dominiclovell just checking you've seen the message above and are aware the stats are there ready for your review?

[2021-09-24 18:59] rviscomi commented on #2161
The queries have all been written, reviewed, and merged in #2254, so I've checked off Milestone 3 in the top comment above.

@Zizzamia @jessnicolet @WilhelmWillie @roryhewitt @boosef please review the [results in the sheet](https://docs.google.com/spreadsheets/d/1-v3yR0LZIC3t4zWtqTgR3jJsKjjRMP-HATU2caP8e2c/edit?usp=sharing) and leave comments if anything doesn't look right. Otherwise, the chapter

[2021-09-25 04:06] rviscomi commented on #2168
Note: I unchecked "Milestone 2" in the top comment as I'm not seeing the draft PR in the [list of open PRs](https://github.com/HTTPArchive/almanac.httparchive.org/pulls). @RReverser I know you're working on it so feel free to update it whenever available. Let me know if you run into any blockers.

[2021-09-25 04:14] rviscomi commented on #2154
⚠️ @jdevalk it doesn't look like there's been much progress on this chapter in a while. We're coming up on the due date for Milestone 3 (running all of the queries) but it doesn't look like you've completed Milestone 2 yet, so I just want to make sure this chapter is able to launch on time.

Let us know ASAP you need help running the queries, I'd be happy to jump in if that unblocks your progress.

[2021-09-25 04:48] rviscomi commented on #2156
⚠️ @denar90 can you create the draft PR to list all of the queries you'll need? That milestone was due June 30 so this chapter is at risk of slipping. The upcoming milestone to run all of the queries will be wrapping up at the end of the month and I just want to make sure we'll be able to launch on time. Let us know if you run into any blockers and we'll do our best to help!

[2021-09-25 04:51] rviscomi commented on #2157
Hi @logicalphase @jessthebp any updates? A good first step would be to draft the analysis PR. I noticed the Milestone 2 checkbox was checked, but I don't see the draft PR open so I went ahead and unchecked it.

[2021-09-25 04:54] rviscomi commented on #2159
@Navaneeth-akam @paulcalvano adding the ASAP label back since Milestone 2 is long overdue (creating the draft PR was due on June 30). Any update on the analysis?

Also, @Navaneeth-akam do you still need additional contributors? If not you can remove the "help wanted" labels from the issue.

[2021-09-25 04:58] rviscomi commented on #2160
@lvandeve @paulcalvano I see that the results sheet has a lot of data already and Milestone 2 is checked off, but I don't see any queries added to this chapter's [sql dir](https://github.com/HTTPArchive/almanac.httparchive.org/tree/main/sql/2021/compression). Could you make sure that any queries used to generate results in the sheet are backed up to the repo?

Besides that, any other blockers or i

[2021-09-25 21:39] TosinArasi commented on #2154
@jdevalk @rviscomi Hi guys, I would love to help out here as an analyst. I see help is needed and I have already started writing scripts on my own for this chapter.

[2021-09-26 04:57] logicalphase commented on #2154
All help is deeply appreciated. Thank you for volunteering to step up and
help us move the progress forward!

[2021-09-26 16:43] RReverser commented on #2168
Oh, I misunderstood that milestone upon first read, I thought it was for adding custom metrics to the crawler.

[2021-09-26 20:13] obto commented on #2146
@patrickstox @rvth @jessthebp @jroakes Last years queries have been debugged, cleaned, and updated to use this years data: https://github.com/HTTPArchive/almanac.httparchive.org/pull/2345

All the data has also been added to the spreadsheet. Charts and additional comments have not yet been added, so please refer to [last year's queries](https://docs.google.com/spreadsheets/d/1ram47FshAjzvbQVJbAQPg

[2021-09-27 00:58] rrajiv commented on #2155
@rockeynebhwani  and @bobbyshaw  - thank you for the pointers.

I have added the following to the excel sheet

* `hreflang` through link attribute for `Ecommerce`
* `hreflang` through headers for `Ecommerce`
* `Content-Security-Policy` and `Content-Security-Policy-Report-Only` on `Ecommerce` sites

[2021-09-27 08:40] bobbyshaw commented on #2155
Great, thanks @rrajiv. I'll review the results spreadsheet and get started!

[2021-09-27 18:55] logicalphase commented on #2154
@jdevalk I need your help. We've not gotten an update from you since June, and I totally understand that life can throw curves at us. In consultation with the leads for the project today, the CMS chapter is at real peril of being closed for this year unless we can confirm participation. @TosinArasi has offered to help with the analyst tasks, which is awesome, but we need to know if you can still h

[2021-09-27 23:21] domakamai commented on #2162
Thanks @tunetheweb. Let me work with @rmarx on the next steps.

[2021-09-28 07:33] webmaxru commented on #2153
Hello! This is the data for our report I received from the PWA Builder team:

On the 200K last URLs reviewed (3 months’ timeslot) by PWA Builder:

- 75% had a manifest detected
- 11.5% had a service worker detected
- 9.6% are installable PWAs from the browser (manifest+SW+https)

@demianrenzulli could we add this section to the overall report?

[2021-09-28 08:02] alonkochba commented on #2154
I don't want to be biased, but IMHO this is a very important year to include the CMS chapter with the large shift in platforms performance partially due to CWV and the investment in performance, and also with the changing landscape post Covid.. Let me know if we can assist in any way. I was hoping to go deeper into performance and geographies this year, but at the very least let's use last year as

[2021-09-28 15:33] demianrenzulli commented on #2153
Thanks for sharing these stats @webmaxru!

**Everyone:** We have working with @tunetheweb on the queries and analyzing the data and I have started to write the chapter in the [shared doc](https://docs.google.com/document/d/1grNpHfQgBZow7fTw9UNZk8E4eWdQV97ZyenPmaye1JU/edit#). I was thinking asking reviewers to help by the end of week, when it will be almost finished.

@webmaxru: I have added a plac

[2021-09-28 15:38] tunetheweb commented on #2153
Do we have a source for these stats @webmaxru ? Or at least a link? We try to be as transparent as possible where our data comes from (e.g. we publish SQL queries for the HTTP Archive data) so should try our best to be similarly transparent (where possible) for external stats too.

[2021-09-28 15:40] rviscomi commented on #2153
I was literally typing out a message right now to say the same thing 😄

+1 to having a public source for the stats, like an official blog post with a methodology if possible.

[2021-09-28 15:59] rviscomi commented on #2140
All of the ~120 metrics from 2020 have been rerun and the results are available for review in the [chapter sheet](https://docs.google.com/spreadsheets/d/12vQIA0xsC5Jr3J9Sh03AcAvgFjMAmP1xSS6Tjai9LF0/edit?usp=sharing). I'm still working on analyzing the 2021-specific metrics but needless to say there's already a ton of data ready to review.

Could you all take a look and leave a comment (request edi

[2021-09-28 18:43] webmaxru commented on #2153
Will reach out to David Rousset from PWA Builder team (who shared the data with me) with your requests, folks.

[2021-09-28 18:51] rviscomi commented on #2154
@alonkochba if needed could you help with authoring? We'll give @jdevalk time to reply before any restructuring, but it'd be good to know if we have any backup options to keep the chapter on track. @saterchris are you still available to help review?

[2021-09-28 20:17] denar90 commented on #2156
I've send draft PR.

[2021-09-28 20:24] davrous commented on #2153
Hi! [PWA Builder](https://www.pwabuilder.com) is an open-source project that can help web developers to build Progressive Web Apps (PWAs) and package them for app stores (Microsoft Store & Google PlayStore). It starts by reviewing a provided URL to check for an available manifest, service worker and SSL.

We have a private reporting API simply collecting the URLs submitted on our home page and att

[2021-09-28 20:37] rviscomi commented on #2156
Thank you! Great to see the progress.

[2021-09-28 20:46] rviscomi commented on #2153
Thanks @davrous and @webmaxru! Would it be possible for you to publish a lightweight blog post at blog.pwabuilder.com with this info/data? That would give us a nice authoritative/linkable source to reference in the Web Almanac chapter.

[2021-09-28 21:43] saterchris commented on #2154
Yep, still happy to help review! Probably can't commit to much authoring,
but would also be happy to brainstorm on topics and structure (a bit of
pre-reviewing) if helpful, given the tight turnaround.

On Tue, Sep 28, 2021 at 11:51 AM Rick Viscomi ***@***.***>
wrote:

[2021-09-29 06:41] alonkochba commented on #2154
A bit tight with the current schedule, but I think I'll should be able to author it.. will probably need analysis help, but https://github.com/HTTPArchive/almanac.httparchive.org/pull/2343 is a good start.. let's give @jdevalk another day or two and decide what to do by Monday?

[2021-09-30 07:07] jono-alderson commented on #2174
Any updates from your side, @GregBrimble ?

[2021-09-30 14:50] webmaxru commented on #2153
Hello! Just a day ago I found another source of PWA stats:
https://mobsted.com/world_state_of_pwa_2021
"It took us about 9 months to deep parse about 300 million top-level domains and billions of connected web pages to learn the current state of Progressive Apps in the World Wide Web."

I know Alex Burlitsky from Russia who is behind this research. Do we want to also include this data in the repor

[2021-09-30 15:11] meyerweb commented on #2140
I reviewed and left some comments.  I still owe you some feedback on your questions about the new metrics, and  hope to have those answers to you by the end of the week.

[2021-09-30 15:44] alexburleh commented on #2153
Hi all. It would be great if our research helps more people to move to our favourite tech. My team invested lots of resources to make it happen. We started with a db of 300 million websites with a self made bots network. First looked for signs of PWA going 5 links down from every website, then returned for deeper look to study manifests or workers are valid. We set values depending on the state of

[2021-09-30 19:42] meyerweb commented on #2140
How to look for CSS Ruby usage:

* Properties `ruby-position`, `ruby-align`, ruby-merge`, and `ruby-overhang`
* `display` values `ruby`, `ruby-base`, `ruby-text`, `ruby-base-container`, and `ruby-text-container

[2021-09-30 20:41] meyerweb commented on #2140
**How to identify use of a library**

* animate.css
	* HTML: `href=".*?animate[\.min]?.css"` in a `link` element
	* CSS: `\* animate.css` in a comment
* Bootstrap
	* HTML: `href=".*?bootstrap[\.min]?.css"` in a `link` element
	* CSS: `--bs-*` custom properties, `The Bootstrap Authors` in a comment
* Foundation
	* HTML: `foundation-icons.css` in a `link` element’s `href` attribute
	* CSS: `.fi-*` c

[2021-10-01 05:43] #2167 closed

[2021-10-01 05:46] #2193 closed

[2021-10-01 05:50] rviscomi commented on #2217
Thanks for your help on this @shantsis. Is there any remaining work for this issue or can we close it?

[2021-10-01 05:52] rviscomi commented on #2292
Thanks for raising this issue @rockeynebhwani. Is there any remaining work on our end or is it ok to close it?

[2021-10-01 05:54] #2211 closed

[2021-10-01 05:57] rviscomi commented on #1195
Revisiting this old feature request. @GeekBoySupreme do you have any time this month to get this page over the finish line? I'd love to be able to launch the 2021 edition with contributor profile pages and we're so close!

[2021-10-01 05:58] rviscomi commented on #1237
@GeekBoySupreme are you still interested to work on this feature?

[2021-10-01 06:05] #1617 closed

[2021-10-01 06:06] #1637 closed

[2021-10-01 06:08] GeekBoySupreme commented on #1195
Definitely yes.
Would have some bandwidth this week and would polish this page up

[2021-10-01 09:31] rockeynebhwani commented on #2292
@rviscomi  - I think @max-ostapenko should query the Sep-21 tables and check if he is still seeing anything odd. If not, we can close this.

[2021-10-01 12:04] demianrenzulli commented on #2153
Thanks for sharing this analysis @webmaxru and congratulations to @alexburleh and his team. The research looks really interesting.

Taking a look at it, I think there's an opportunity to reference the **"Use cases by industry. Where PWAs are applied best?"** part of the analysis in one section of our chapter.
Last year's chapter included  ["Top Manifest Categories"](https://almanac.httparchive.org

[2021-10-01 16:08] rviscomi commented on #2140
Thanks @meyerweb this is really helpful.

For Ruby usage, are you only interested a stat like "X% of pages use Ruby" or are you looking for a breakdown of usage for each property and display value, like "X% of Ruby pages use `ruby-position`, Y% use `ruby-align`, etc"?

For library detection, it looks like all of them are supported by Wappalyzer in the [UI Frameworks category](https://www.wappalyze

[2021-10-01 16:30] dwsmart commented on #2151
Hey @obto,

@ashleyish is pretty tied up on stuff so me and @fellowhuman1101 will be getting a start on this ASAP, @fellowhuman1101 has popped you a message on slack to see if we can arrange a meet or hangout.

[2021-10-01 17:46] shantsis commented on #2217
We can close it

[2021-10-01 18:18] webmaxru commented on #2153
@demianrenzulli, I'm also in dialogue with Microsoft Edge team about PWA installation/usage data they can share. For now, public-ready statements are:
- Millions of monthly installs
- Billions of monthly usage minutes

I'll check if we can concretize/extend these statements.

[2021-10-01 18:20] rviscomi commented on #2160
@lvandeve @paulcalvano ping on my previous comment, any update on getting the PR started to check in the SQL?

[2021-10-01 18:54] rviscomi commented on #2159
⛔ @Navaneeth-akam @paulcalvano this chapter is at serious risk of missing the launch. The analysis work for Milestone 3 was due yesterday but I'm not seeing any signs that it was ever started. I don't see a plausible way for this chapter to meet Milestone 4 (writing, reviewing, and editing the chapter) by the October 31 deadline unless the analysis is _completely done_ by the end of next week. Are

[2021-10-01 19:21] rviscomi opened #2353 "Progress tracker not updating"
There seems to be a runtime error in the GH action that updates the progress tracker (#2179)

See https://github.com/HTTPArchive/almanac.httparchive.org/runs/3771126303?check_suite_focus=true

[2021-10-01 21:02] logicalphase commented on #2156
Thanks very much @denar90 !

[2021-10-01 21:12] meyerweb commented on #2140
Yep, glad to use their data!

[2021-10-01 21:16] meyerweb commented on #2140
Are they analyzing the same data corpus we are?  If so, I’m happy to use their data.  If not, I feel like it’s worth running our own analysis, to see how well our numbers correspond to theirs.

[2021-10-01 21:18] meyerweb commented on #2140
Oh, and on Ruby, I’m mostly interested in “X% of pages use CSS Ruby”.  If that returns a surprisingly high number, by which I mean anything above single-digit percentages, I’d be interested in the followup of which properties are used how much.

[2021-10-01 21:29] rviscomi commented on #2140
We integrate Wappalyzer's detections into our testing, so it's the same corpus.

Thanks for clarifying these things. I should have the data in the next few days and I'll ping here and/or Slack when it's ready.

[2021-10-02 08:28] alexburleh commented on #2153
Hi @demianrenzulli , sure. Do you want it here for understanding, or do you need like a "ready made" text explaining how we got there?

If for understanding  here it is. For those 570+ thousand confirmed progressives, we took texts at random from different pages of each and ran it through Google's cloud recognition API to determine the industry. Then we counted only ones with over 75% confidence r

[2021-10-02 12:31] demianrenzulli commented on #2153
Thanks @webmaxru! It would be great to count with those numbers. I'm also trying to pull some stats from Chrome regarding .apk installations.

@alexburleh: This is great! I'll use your explanation in that section (categories), and link to your analysis so readers can continue reading the rest of the research there 👍

[2021-10-02 13:45] alexburleh commented on #2153
Sure, @demianrenzulli and thanks! Don't hesitate to shoot any other questions.

[2021-10-02 20:29] paulcalvano commented on #2159
Hey @rviscomi , @Navaneeth-akam .   I'll be working on the analysis for this today/tomorrow, so should have some progress to share shortly.   Sorry for the delay!

[2021-10-02 20:31] paulcalvano commented on #2160
Hey @rviscomi .   The analysis is complete, and I'll submit a PR with the queries shortly.  Apologies for the delay.

[2021-10-02 22:27] jzyang commented on #2159
@rviscomi  Well, I reached out to @Navaneeth-akam in June about this over Slack, after seeing no movement.  He said he'd have something mid-June but I never heard back from him again with any other updates.  I've checked back on the doc pages in August but I haven't seen any movements.  I'm still available to help review this and other chapters, but nothing I've signed up for seemed to have texts

[2021-10-03 01:03] paulcalvano commented on #2159
@jzyang  - I synced up with @Navaneeth-akam last week and we reviewed the queries that I'd be rerunning from 2019, and some new ones I needed to write.  I've been the blocker on getting the analysis done - so apologies for that.   Navaneeth is still planning on writing the chapter.  I'm happy to help out wherever needed too.

[2021-10-03 06:46] jzyang commented on #2159
@paulcalvano good to hear from you!  Yeah, let me know when you need my services.  I'm on-call next week, starting Monday, so I will be busy but I should be available again the Monday after next.

[2021-10-03 22:40] #2353 closed

[2021-10-03 22:47] tunetheweb commented on #2145
I'd like to bring this chapter back and am prepared to do most of the work to do that! Third-parties are a massive part of the web and think it would be a real shame not to at least update the stats from last year. Also have a couple of ideas on new stats.

I've [filled out the chapter outline](https://docs.google.com/document/d/164HhV76iVT2qVfFY2kzyr44eIcGAw3fWqNTbuoRfRvE/edit) (mostly the same a

[2021-10-04 03:29] rviscomi commented on #2154
⚠️ @jdevalk @saterchris @alonkochba @logicalphase @TosinArasi

Hi everyone, given that we haven't heard from @jdevalk in a while, we're going to have to move forward without him. I sincerely wish @jdevalk the best.

After speaking with @alonkochba and @logicalphase here and via Slack, I think the best course of action is to assign @alonkochba the role of content team lead. He and @logicalphase wil

[2021-10-04 03:55] logicalphase commented on #2154
Thanks @rviscomi! @alonkochba please let me know when we can get together on a slack chat, etc. I'm here to help take help with the remaining authoring tasks. Cheers!

[2021-10-04 14:22] alonkochba commented on #2154
Thanks, will start looking at the content this week.
I think I will start with last year's article as a template, with updated data, and if we will have time we can add more interesting breakdowns. A lot of this data is already available in the Tech Report, so just need to write about it.

I also want to use some of the newer metrics you included @rviscomi  (JS size, image size etc.)

@logicalphas

[2021-10-04 14:44] logicalphase commented on #2154
Done. Left message there. 👍

[2021-10-04 18:45] rviscomi commented on #2161
@Zizzamia  have you had time to review the results? FYI the draft is due in 4 weeks. Let me know if there's anything I can do to help.

[2021-10-05 03:36] rviscomi commented on #2159
Thank you both for the updates, and I'm glad to see the PR open now to track the queries. I'm optimistic that we can get this chapter back on track in time for launch.

[2021-10-05 09:01] alexburleh commented on #2153
@demianrenzulli

0) very interesting data :)))

1) As an idea - I think it would be easier for users to see the chart on Industries. Mine are of different designs and colors. So if you agree I can either send you aggregate raw data to add the chart in your designs, or I can pick your colors from the page and send you a ready-made.

2) on page 17 there is a Section - called "popular import scripts"

[2021-10-05 10:01] rockeynebhwani commented on #2292
@max-ostapenko - I ran my original query against Sep-21 tables and now I see 5,374 origins with more than one cookie compliance solution compared to 15,109 origins against Jul-21 tables

[2021-10-05 11:59] demianrenzulli commented on #2153
Thanks so much to all the reviewers for sharing your thoughts in the doc so promptly! I'm giving some additional time, so all the participants that are interested can share theirs, and then will start working on the comments.

Also, @alexburleh: thanks for sharing your suggestions!

Regarding data/measurement: it might differ with yours  in the way we are measuring things and also in the number of

[2021-10-05 14:54] max-ostapenko commented on #2292
@rockeynebhwani I've checked the apps in the Cookie Compliance category:

- Hubspot Cookie (now HubSpot Cookie Policy Banner) usage. There was ~3K websites decline in usage since July. The definition is still up-to-date.
- Quantcast Choice declined due to the fix we discussed above (88K to 25K)
- AdRoll CMP System grew from 6K to 27K
- Usercentrics: increased 2K to 14K
- [Borlabs Cookie](https://g

[2021-10-05 15:27] alexburleh commented on #2153
@demianrenzulli attached, only the chart, I could not get the header font right 🤷‍♂️

Suggest a header "Share of PWAs by Industry"
3 different colors are just leaders for design purpose, no more.
<img width="657" alt="chart_pwa_by_industry_2021" src="https://user-images.githubusercontent.com/91685593/136053828-a2f5019d-9af1-4075-8618-23e8d975b125.png">

[2021-10-05 15:28] demianrenzulli commented on #2153
That's awesome! Thanks so much @alexburleh. I'll add that chart to the article doc, along with the reference to your analysis👍

[2021-10-05 15:53] rviscomi commented on #2153
@alexburleh any chance you could share the chart data in CSV format so we could run it through our data viz process for visual consistency with other charts?

@demianrenzulli @tunetheweb we should be sure to annotate the chart with `Source: Mobsted PWA 2021 report` in the subtitle.

[2021-10-05 15:53] tunetheweb commented on #2153
Any chance we could get the raw data instead of the chart @alexburleh ? That way we can use our own chart style (appreciate you got it very close, but still slightly different and those stylist highlights might look odd).

And also means we can make it interactive on desktop like the other charts (not that interactive to be fair - just hover effects, but still!)

Also FYI, in your report you have

[2021-10-05 16:44] alexburleh commented on #2153
@rviscomi  @tunetheweb  Gentlemen, 1) attached is the CSV for the above diagram 2) Barry, thanks for the typo, will fix that :)
[PWA agregbyindustry.csv](https://github.com/HTTPArchive/almanac.httparchive.org/files/7287629/PWA.agregbyindustry.csv)

[2021-10-05 16:50] tunetheweb commented on #2153
Thanks @alexburleh - what's the total number to convert to %?

[2021-10-05 16:54] alexburleh commented on #2153
Those is csv are the % already, which all add up to 100. The total
researched number was ~570K if I remember correctly.

On Tue, Oct 5, 2021, 21:50 Barry Pollard ***@***.***> wrote:

[2021-10-05 16:55] tunetheweb commented on #2153
Ah comma delimited - you crazy Continental Europeans 😁

[2021-10-05 16:58] alexburleh commented on #2153
Don't blame me :) I just know how to download the csv out of Google sheets
file :)

On Tue, Oct 5, 2021, 21:56 Barry Pollard ***@***.***> wrote:

[2021-10-05 17:26] tunetheweb commented on #2153
Added to sheet: https://docs.google.com/spreadsheets/d/16AkIdDBBkCR5Kgb7kyfYvnNLQBu23Vsh7MUSFHW9RtA/edit#gid=1817367668

What do you all think of this as a visualisation?:

![Bar chart of PWA Categories](https://user-images.githubusercontent.com/10931297/136072717-67937490-a86c-46e7-8dbf-3cb9512b1b4e.png)

[2021-10-05 17:28] demianrenzulli commented on #2153
This looks very aligned to the way the rest of the charts look like. Thanks a lot for working on this @tunetheweb!

[2021-10-05 17:35] alexburleh commented on #2153
For some reason the chart deviates from raw data. For example Biz and
Industrial should be 14%, not 1.4 and Computers and Electronics should be
2.1, not 0. Sensitive subjects should be 0.9, not 9.3. Online communities
should be less then 1%, not 7.6

I may have missed something too.

On Tue, Oct 5, 2021, 22:26 Barry Pollard ***@***.***> wrote:

[2021-10-05 17:40] tunetheweb commented on #2153
Oops, conversion error. Take 2:

![image](https://user-images.githubusercontent.com/10931297/136074790-675fe84b-01b5-4fb3-9963-a7ed2e6de1ab.png)

[2021-10-05 17:48] alexburleh commented on #2153
Good. My only suggestion would be to color top 3 or 5 categories with one color and the rest with other. Could be easier to view.

[2021-10-05 17:49] rviscomi commented on #2292
Doesn't seem like a BigQuery issue. For example `https://www.apk-ag.de/` has this app in August but not in September. Loading the page manually with the extension shows the app as expected. The rest of its detections seem to be working fine.

Seems like an upstream detection bug with WebPageTest. In [this test](https://webpagetest.org/result/211005_AiDcV8_0327899724752bb40523deaee568dda3/?f=json)

[2021-10-05 17:52] tunetheweb commented on #2217
I'm really not loving the pure black label for the green colors. Think we should move to the same label color for primary and secondary access as suggested in: https://github.com/HTTPArchive/almanac.httparchive.org/issues/2217#issuecomment-901985155

Any concerns? If not will update the template before any more people create graphs.

[2021-10-05 18:28] tunetheweb commented on #2153
Sorry that's not really the style we use so would prefer to be consistent here rather than introduce new themes. @demianrenzulli can could out particular stats in the writing if he wants.

[2021-10-05 18:41] alexburleh commented on #2153
Sure:) Your decision. It was just the suggestion. BTW just to make sure - I
meant not top 3 or 5 from top to bottom, but top 3 or 5 percentage wise :),
so Biz and Industries, Arts and Ent, Home & Garden etc.

Anyways guys, do as you need to :) I have no further Qs :)

On Tue, Oct 5, 2021, 23:29 Barry Pollard ***@***.***> wrote:

[2021-10-06 17:42] RReverser commented on #2168
@carlopi @jsoverson FWIW I've added a bunch of metrics to the spreadsheet already, if you want to take a look before they're turned into graphs and into a post.

[2021-10-11 19:30] max-ostapenko commented on #2149
@ydimova @VictorLeP all the visualisations are in [the sheets](https://docs.google.com/spreadsheets/d/148SxZICZ24O44roIuEkRgbpIobWXpqLxegCDhIiX8XA/edit#gid=380107930)

Please mention me in comments if anything needs to be adjusted (described)

[2021-10-13 10:50] alexburleh commented on #2153
Hi :)

It is probably a misprint in my little block -

Mobsted recently published THEY World State of PWA....  may be "their"?

On Wed, Oct 13, 2021, 00:13 Demian Renzulli ***@***.***>
wrote:

[2021-10-14 00:52] rviscomi commented on #2140
@svgeesus if there were any 2020 results that had both with and without the limit, this year's results correspond to the version without the limit.

[2021-10-15 11:49] tunetheweb opened #2377 "Big figures difficult to link to"
![image](https://user-images.githubusercontent.com/10931297/137368951-24f47947-2898-4845-9c39-398c3dfa999a.png)

Notice how the Figure link is mostly covered so difficult to click.

[2021-10-17 19:04] tunetheweb commented on #2145
All queries run and available in the sheet: https://docs.google.com/spreadsheets/d/1tf4RMF8SYr6he9tbqt61yuFJ_QK-F-i7XPxaPkpKSDI/

[2021-10-19 10:10] noah-vdv commented on #1750
Hey, wow time has flown! Didn't realise how long ago I had last worked on this. Anyways, yeah of course! However, I don't have as much spare time as before but I'll try my best to get it done, hopefully, by November.

Awesome!! Looking forward to finishing it off! 👍

[2021-10-19 17:33] tunetheweb commented on #2192
OK webmentions.io account is set up.

@rviscomi we need [brid.gy](https://brid.gy/) linked to the HTTPArchive twitter account if we want it to pick up Tweets with Almanac URLs in them since Twitter doesn't support WebMentions natively. Can you set up an account and link it? I only have "post as" permissions and not full account access.

After that, we should see posts start to come in in next 24 h

[2021-10-19 18:32] tunetheweb commented on #2192
Woo hoo, can see all the links from the recent Russian publication:

https://webmention.io/api/mentions?perPage=500&jsonp=parseWebmentions&target=https://almanac.httparchive.org/ru/2020/css

Will give it 24 hours and should hopefully see similar for all our other URLs.

[2021-10-19 18:33] tunetheweb commented on #2192
And also should auto update going forward now.

So now ust need the UI built to use this data...

[2021-10-20 11:09] ksakae1216 commented on #586
@bazzadp OK, I will translate next week.

[2021-10-21 00:30] rviscomi opened #2396 "Focus on the search input field after expanding the search widget"
After clicking on the "Search" heading, the search widget expands to reveal the input field and submit button. When the field is revealed, I would expect it to receive focus so that I can immediately start typing. On one hand it seems like an accessibility improvement to reduce the number of steps to complete an action, but on the other it may be disorienting to click a button then have the focus

[2021-10-21 12:23] tunetheweb commented on #2396
Go for it!

[2021-10-21 15:25] rviscomi commented on #2152
@christianliebel great to see the completed draft! What's the best way to give review feedback? A couple of ideas:

- create a PR to merge the markdown into [2021/capabilities.md](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/content/en/2021/capabilities.md) and the team can iterate on feedback in the PR comments
- copy the draft into the [team doc](https://docs.google.com/d

[2021-10-21 22:58] hemanth commented on #2152
@christianliebel Nice! I have dropped few comments on the [PR](https://github.com/christianliebel/web-almanac-2021-capabilities/commit/8740fa6e5d4214a8fb3443a80ed869f233e7e767).

[2021-10-26 16:01] rviscomi opened #2409 "Update 2021 contributors config"
Update [2021.json](https://github.com/HTTPArchive/almanac.httparchive.org/blob/main/src/config/2021.json) with the info and team assignments for all 2021 contributors.

[2021-10-28 18:25] rviscomi opened #2410 "Custom meta-images for social sharing of chapters"
Sharing a chapter on social media will create a rich media card based on the hero image for the chapter. Here's how it'd look on Twitter:

![image](https://user-images.githubusercontent.com/1120896/139313280-f7eb6365-da4a-45d0-9de3-b1a8a66e17fb.png)

I wonder if we could increase engagement by manually creating images specifically for social media that include more details about the chapter. I'm n

[2021-10-29 19:46] rviscomi commented on #2143
⚠️ Hey @jpamental the work for Milestone 3 is coming up on the deadline for Milestone 4, which puts this chapter at high risk of being unable to publish on time. Are you able to coordinate with your team to get the chapter back on track ASAP?

[2021-10-29 21:44] NishuGoel commented on #2141
Hi, I plan to finish writing the first draft of the chapter in the next two days, this means the chapter should be ready for editing and reviewing starting October 31.
If we target to work on editing/reviewing starting 31st and continue for a week, I am optimistic to finish the writing, editing, reviewing of the chapter by November first week end.

@wallet77 @mgechev @soulcorrosion @ahmadawais @ib

[2021-10-29 22:21] soulcorrosion commented on #2141
Thank you @NishuGoel. I can start reading whenever you give the go.

[2021-10-30 11:15] webmaxru commented on #2153
@rviscomi @demianrenzulli @davrous : here is a tweet from PWA Builder to confirm stats from their side: https://twitter.com/pwabuilder/status/1454250060326318082?s=21

[2021-10-30 15:30] tunetheweb opened #2414 "Create HTTP Archive Discuss topic."
Even though we might be adding additional ways to comment on chapters in #2192 we should still have https://discuss.httparchive.org topics for each chapter as well I think.

Rick do you want to do the honours and create these as we're going to need these soon as people start converting to markdown.

[2021-10-30 18:30] tunetheweb commented on #2409
Note there's a check in our CI that won't allow people to be added to the config, until the chapter includes them in the meta data (and vice versa).

But can add non-chapter people: developers (have been doing this throughout), designers...etc.

[2021-10-30 18:41] Zizzamia commented on #2161
Morning, sorry for the extreme delay. I had several personal matter that put on-hold all my Open Source contributions in the last 4 months.

I will start working on the draft this week, so hopefully we have something to review soon.

And if anyone wants to help, is more than welcome 🙏

[2021-10-30 18:45] siakaramalegos commented on #2148
Hi Reviewers, in case you're not active in our Slack channel, the draft is ready for your review! I apologize for the delay - I had a whole hurricane, evacuation, and unplanned move in case you didn't know yet. I'm confident we can get back on track though!

Please review at your earliest convenience! The draft is in the same doc as before - use the outline aside to jump directly to “Draft” https:

[2021-11-01 04:10] jzyang commented on #2159
Oh sorry, I just saw this.  I already started making comments and some
changes to the doc.  I'm planning to finish my first round by end of day.
I'm available for a call but I'm on PST time.  I guess I can do Tues
8:30-9:30AM PST and 10:30AM-12PM PST (I believe that 9-10PM and
11PM-12:30AM IST) and I'm free on Wed from 9-10AM PST and 11AM-12PM PST.
Tuesday I must end exactly at 9:30AM for a team m

[2021-11-01 04:12] jzyang commented on #2159
Oh, and I guess I'm also available after 8PM PST Tuesday (since I'm at the
office that day and that's usually when I get home) and I'm available after
6PM on Wednesday.

On Sun, Oct 31, 2021 at 9:10 PM Julia Yang ***@***.***> wrote:

[2021-11-01 04:54] Navaneeth-akam commented on #2159
Thanks @jzyang ! I have to write one more section in the google doc. I'll be doing during evening hours in India. In the meanwhile, you can review and edit rest of the sections.
@boosef @keane234 : you guys can also review and add your comments in the google doc. If you have issues accessing the doc, let me know.

[2021-11-01 08:34] rrajiv commented on #2155
@bobbyshaw - Iam still on the road but if you want to let me know the questions, I can answer when possible.

If you need charts let me know the tabs and I can try it from the iPad.

[2021-11-01 11:58] rockeynebhwani commented on #2155
@bobbyshaw - I will also be on the move for next 4 weeks but I can try to help with the charts. @rviscomi - I don't have edit access on results sheet. Can you please grant me 'edit access'?

[2021-11-01 16:28] Navaneeth-akam commented on #2159
@jzyang : I have reviewed your comments and edits. The draft has been updated with the same. Would be helpful if you can verify the edits.
Also, i have added the 2 sections to the draft (HTTP/2 and HTTP/3 Adoption and Conclusion). Please review the same.

[2021-11-01 16:53] rviscomi commented on #2155
@rockeynebhwani can you hit "Request edit access"?

[2021-11-01 17:22] rviscomi commented on #2414
I was thinking that we would use web mentions instead of comments, rather than in addition to them. Engagement hasn't been high enough to justify keeping the comments IMO.

[2021-11-01 17:28] boosef commented on #2159
@Navaneeth-akam I don't have edit access to the doc yet, so I'll leave some of my feedback here - I have a few minor suggestions that I can make in-line once the doc permissions have been modified. :)

- I think it would be nice to have a section on how CDNs are still relevant even though most cloud platforms now have global pops, autoscale functionality etc. - perhaps pointing to the stats we hav

[2021-11-01 19:11] #2414 closed

[2021-11-01 19:12] boosef commented on #2159
Ok, yay. I now have access! (thanks @rviscomi 😁)

@Navaneeth-akam - I've gone through about half the document for now, will do the rest tomorrow. I've made all my edits in "Suggesting" mode, so I'm sorry if the number of comments seem a little overwhelming! Most of them are very minor edits, but I figured I'd start with the proofreading while going through the content. :)

Something I noticed was

[2021-11-01 19:22] rockeynebhwani commented on #2155
@rviscomi - I already did couple of days ago but have done again now.. let me know if you don't receive my request

[2021-11-01 20:08] maudnals opened #2423 "Suggestion for the 2022 edition: no systematic distinction of desktop vs. mobile?"
(Initially raised in the Privacy chapter review)

The mobile/desktop distinction may be very relevant for some metrics, say performance, and typically less relevant for others.
Some examples: "% websites that have a privacy policy", "% websites that have a Referrer-Policy header", etc.

I definitely understand the argument for consistency across the Almanac.
But for next year, I'm wondering whethe

[2021-11-01 20:15] tunetheweb commented on #2423
Some of the chapters (e.g. [CSS 2020](https://almanac.httparchive.org/en/2020/css#:~:text=We%20crawl%20our%20pages%20in%20both%20desktop%20and%20mobile%20mode%20but%20for%20a%20lot%20of%20the%20data%20they%20give%20similar%20results%20so%2C%20unless%20otherwise%20noted%2C%20stats%20presented%20in%20this%20chapter%20refer%20to%20the%20set%20of%20mobile%20pages.)) make the following note:

So, where